@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model FastReport.Web.WebReport
@{ Layout = ViewBag.Layout; }
<div class="p-2">
    <a class="btn btn-primary" asp-controller="Cms" asp-action="FastReportPdf" asp-area="Core" asp-route-rptName="@ViewBag.rptName" asp-route-rptUrl="@ViewBag.rptUrl" asp-route-rptUrl2="@ViewBag.rptUrl2" asp-route-rptUrl3="@ViewBag.rptUrl3" asp-route-lo="@ViewBag.lo" asp-route-ru="@ViewBag.ru" asp-route-cbm="@ViewBag.cbm" asp-route-portalId="@ViewBag.portalId">Download PDF</a>
    @if (ViewBag.EnableESign)
    {
        <a class="btn btn-success" asp-controller="Cms" asp-action="FastReportBase64" asp-area="Core" asp-route-rptName="@ViewBag.rptName" asp-route-rptUrl="@ViewBag.rptUrl" asp-route-rptUrl2="@ViewBag.rptUrl2" asp-route-rptUrl3="@ViewBag.rptUrl3" asp-route-lo="@ViewBag.lo" asp-route-ru="@ViewBag.ru" asp-route-cbm="@ViewBag.cbm" asp-route-portalId="@ViewBag.portalId">Add E-Signature</a>
    }
</div>
<div class="p-2">
    @await Model.Render()
</div>
<script>
    function Download(chartId, param) {
        $.ajax({
            type: "GET",
            url: "/Cms/BusinessAnalytics/GetChartDataByItemNameWithParams?itemName=" + chartId + "&param=" + param,
            success: function (response) {
                if (response != "" && response != null) {
                    eval(response);
                }
            },
            error: function (response) {
                alert("error");
            },
        });
    }
</script>