@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext


@model ServiceTemplateViewModel
@if (_userContext.PortalTheme != "Looper" && _userContext.PortalTheme != "LooperWebsite")
{
    <style>
        .richText-editor {
            height: 100px !important;
        }

        .form-control:disabled, .form-control[readonly], input:disabled, .form-control[disabled*="disabled"] {
            background-color: #e9ecef !important;
            opacity: 1 !important;
        }

        .icon-btn-div {
            float: right;
        }

        .icon-btn {
            padding: 8px;
            padding-top: 10px;
            text-align: center;
            align-content: center;
            align-items: center;
            max-width: 40px;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 12px;
        }

            .icon-btn:hover {
                background-color: #F0F0F0;
            }

        .icon-btn-icon {
            font-size: 1.3em !important;
            color: #42526E;
        }

        .formio-component-button {
            display: inline-block;
        }

        .formio-form {
            min-height: 0px !important;
        }

        .btn-block {
            display: block;
            width: 80%;
        }

        .post-btn {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .div-readonly {
            font-size: 13px;
            padding-bottom: 5px;
            color: #42526E;
        }

        .header-readonly {
            text-align: center;
            font-size: 16px;
            color: gray;
        }

        .icon_comment {
            font-size: 20px !important;
            color: #097ee2fa;
            padding-top: 6px;
        }

        .comment-text {
            font-size: 16px !important;
            color: #097ee2fa;
        }

        .drp-btn {
            width: 100%;
        }

            .drp-btn .k-dropdown-wrap {
                background-color: #007bff !important;
                border: 1px solid #007bff !important;
                color: #fff !important;
            }

                .drp-btn .k-dropdown-wrap:hover {
                    color: #fff !important;
                }

        .alert-default {
            color: #363e49;
            background-color: #e4e7eb;
            border-color: #d3d8de;
            font-size: 16px;
        }

        .action-section {
            border: 1px solid #d3d8de;
            border-radius: 5px;
            padding: 10px;
        }

        .k-maskedtextbox.form-control .k-textbox, .k-textbox.form-control, .k-widget.form-control {
        }

        .k-listview-content {
            height: 100% !important;
            overflow-y: auto !important;
        }

        .top-header {
            height: 40px;
        }

        .img {
            object-fit: cover;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .border-color {
            border-color: #8f8f8f !important;
        }

        .k-editable-area {
            height: 107px;
            background-color: #fff;
        }

        .task-title {
            padding: 10px;
            background-color: #fafafa;
            text-align: left;
            color: #0b0b0b;
            margin-left: 11px;
            margin-right: 50px;
            border-style: solid;
            border-width: 2px;
            border-color: #dbdbdb;
            font-size: 15px;
            border-radius: 6px;
        }

        .sub-div {
            height: 100%;
        }

        table.k-editor {
            width: 100% !important;
            display: table !important;
            vertical-align: top !important;
            table-layout: fixed !important;
            border-collapse: separate !important;
            border-spacing: 0 !important;
            height: 100px !important;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #eff4f8;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            margin: 10px;
            font-size: 13px;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        .k-listview {
            border: none;
        }

        .detail-box {
            width: 100%;
            margin: 5px;
            font-size: 13px
        }

        .msg-box {
            border-radius: 5px 5px 0px 0px;
            margin-left: 15px;
            margin-right: 15px;
            background-color: #219db9;
            width: 100%;
            height: 40px;
            color: white;
            padding: 10px;
        }

        .border-color {
            border-color: #dddddd !important;
        }

        .no-data {
            text-align: center;
            margin-top: 5%;
            font-size: 16px;
            font-weight: 500;
            display: none;
        }

        .no-data-icon {
            color: #c8aa4d;
            font-size: 40px;
        }

        .treeview {
            margin: 0;
            padding: 0px 0 0 0x;
            font-size: .8125rem;
            list-style: none inside;
            display: block;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .b-title {
            font-weight: bold;
        }

        .page {
            border: 1px solid #a5acb5;
            margin: 20px;
            padding: 15px;
            -webkit-box-shadow: #000000 0px 0px 10px;
            -moz-box-shadow: #000000 0px 0px 10px;
            box-shadow: #000000 0px 0px 10px;
            background: #FFF;
        }


        .text-status {
            background-color: red;
            border-radius: 8px;
        }

        .text-title {
            font-size: 16px;
            padding: 5px;
            color: #1c88e3;
        }

        .text-cancel {
            font-size: 16px;
            padding: 5px;
            color: #f4501d;
        }

        .text-label {
        }

        .back-icon {
            font-size: 24px !important;
            color: #1c88e3;
        }

        .reply-icon {
            font-size: 24px !important;
            color: #1c88e3;
        }

        .attachment-icon {
            font-size: 20px !important;
            color: #a11247;
            padding-top: 6px;
        }

        .attachment-text {
            font-size: 16px !important;
            color: #a11247;
        }

        .notification-icon {
            font-size: 20px !important;
            color: #800080;
            padding-top: 6px;
        }

        .notification-text {
            font-size: 16px !important;
            color: #800080;
        }

        .share-icon {
            font-size: 20px !important;
            color: #f4501d;
            padding-top: 6px;
        }

        .share-text {
            font-size: 16px !important;
            color: #f4501d;
        }



        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }

        .form-horizontal .form-group {
            border-bottom: 0px solid #eff2f7;
            padding-bottom: 0px;
            margin-bottom: 15px;
        }

        .error-summary ul {
            padding-left: 5px !important;
        }

        canvas {
            box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
            border-radius: 4px;
        }

        h4 {
            font-size: larger;
            color: black;
            font-weight: bold;
            text-align: center;
        }

        .form-check-label {
            color: black;
        }

        .SERVICE_STATUS_INPROGRESS, .TASK_STATUS_INPROGRESS {
            color: white !important;
            background-color: #007bff !important;
        }

        .SERVICE_STATUS_OVERDUE, .TASK_STATUS_OVERDUE {
            color: white !important;
            background-color: #ffc107 !important;
        }

        .SERVICE_STATUS_COMPLETE, .TASK_STATUS_COMPLETE {
            color: white !important;
            background-color: #28a745 !important;
        }

        .SERVICE_STATUS_CANCEL, .TASK_STATUS_CANCEL, .TASK_STATUS_REJECT, .TASK_STATUS_CLOSE {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .nts-d-none {
            display: none;
        }

        .nts-border-light {
            border: 1px solid #f5f5f5;
            border-radius: 4px;
        }

        div.bhoechie-tab-container {
            z-index: 10;
            background-color: #ffffff;
            padding: 0 !important;
            border-radius: 4px;
            -moz-border-radius: 4px;
            border: 1px solid #ddd;
            margin-top: 20px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            background-clip: padding-box;
            opacity: 0.97;
            filter: alpha(opacity=97);
        }

        div.bhoechie-tab-menu {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group {
                margin-bottom: 0;
            }

                div.bhoechie-tab-menu div.list-group > a {
                    margin-bottom: 0;
                }

                    div.bhoechie-tab-menu div.list-group > a .glyphicon,
                    div.bhoechie-tab-menu div.list-group > a .fa {
                        color: #e9ecef;
                    }

                    div.bhoechie-tab-menu div.list-group > a:first-child {
                        border-top-right-radius: 0;
                        -moz-border-top-right-radius: 0;
                    }

                    div.bhoechie-tab-menu div.list-group > a:last-child {
                        border-bottom-right-radius: 0;
                        -moz-border-bottom-right-radius: 0;
                    }

                    div.bhoechie-tab-menu div.list-group > a.active,
                    div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
                    div.bhoechie-tab-menu div.list-group > a.active .fa {
                        /*   background-color: #5A55A3;
                    background-image: #5A55A3;*/
                        background-color: #e9ecef;
                        color: black;
                    }

                        div.bhoechie-tab-menu div.list-group > a.active:after {
                            content: '';
                            position: absolute;
                            left: 100%;
                            top: 50%;
                            margin-top: -13px;
                            border-left: 0;
                            border-bottom: 13px solid transparent;
                            border-top: 13px solid transparent;
                            border-left: 10px solid #e9ecef;
                        }

        div.bhoechie-tab-content {
            background-color: #ffffff;
            /* border: 1px solid #eeeeee; */
            padding-left: 20px;
            /* padding-top: 10px;*/
        }

        .task-group-item {
            padding: 0px !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            height: 100px;
        }

            .task-group-item.active {
                border: 1px solid #e9ecef;
            }

        .tab-item {
            color: #00264d;
            font-weight: 500;
            padding-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            /* margin-left: 10px;*/
        }

        .tab-user-img {
            width: 3.5rem;
            height: 3.5rem;
            margin-top: 6px;
            border-radius: 50%;
            border: 1px solid #c0c0c0;
        }
    </style>
}
<style>
    .nts-display-item:hover {
        background-color: #cccccc !important;
        color: var(--dark) !important;
    }

    .list-group-item.active {
        box-shadow: none !important;
    }

    .steps .step-primary .step-indicator, .steps .step-primary a {
        color: rgb(255, 255, 255);
    }

    .steps .step-primary + li::before, .steps .step-primary a {
        background-color: var(--primary);
    }

    .steps .step-success .step-indicator, .steps .step-success a {
        color: rgb(255, 255, 255);
    }

    .steps .step-success + li::before, .steps .step-success a {
        background-color: var(--success);
    }

    .steps .step-info .step-indicator, .steps .step-info a {
        color: rgb(255, 255, 255);
    }

    .steps .step-info + li::before, .steps .step-info a {
        background-color: var(--info);
    }

    .steps .step-danger .step-indicator, .steps .step-danger a {
        color: rgb(255, 255, 255);
    }

    .steps .step-danger + li::before, .steps .step-danger a {
        background-color: var(--danger);
    }

    .steps .step-warning .step-indicator, .steps .step-warning a {
        color: #363642;
    }

    .steps .step-warning + li::before, .steps .step-warning a {
        background-color: var(--warning);
    }

    .steps li:hover + li:before, .steps li:hover a {
        background-color: #b3b3b3;
    }
    .jstree-icon{
        color:black !important;
    }
</style>
<script>
    var json = null;
    var initialId = '@Model.InitialItemId';
    var initialType = '@Model.InitialItemType';
    $(document).ready(function () {
        $('.step-popover').webuiPopover('destroy').webuiPopover(stepPopoverSettings);
        var parms = window.location.search;
        if (initialType=='Service') {
            json =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            LoadService(json, initialId);
        }
        else if (initialType == 'StepTask') {
            json =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TaskTemplate));
            LoadStepTask(json, initialId);
        }
        $("li.nts-step>a").click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            var type = $(this).data("type");
            var code = $(this).data("template-code");
            var statusCode = $(this).data("status-code");
            if (statusCode === "SERVICE_STATUS_DRAFT") {
                return false;
            }
            if (type === 'Service') {
                ReloadService(id, code);
            }
            else if (type === 'StepTask') {
                ReloadTask(id, code)
            }
        });
    });
    function OnStepClick(item) {
        //$(item).parent().siblings('li.active').removeClass("active");
        //$(item).parent().addClass("active");
        var id = $(item).data("id");
        var type = $(item).data("type");
        var code = $(item).data("template-code");
        if (type === 'Service') {
            ReloadService(id, code);
        }
        else if (type === 'StepTask') {
            ReloadTask(id, code)
        }
    }
    function ReloadService(id,code) {
        ShowLoader($('#main-content'));
            $(".action-section").hide();
            var portalId = "";
            if (window.parent == "" || window.parent == undefined) {
                portalId = $("#GlobalPortalId").val();
            }
            else {
                portalId = window.parent.$("#GlobalPortalId").val();
            }
        var url = '/Cms/Page?lo=Popup&pageType=Service&source=View&dataAction=View&templateCodes=' + code+'&recordId='+id+'&portalId=' + portalId;
            location.href = url;
    }
    function ReloadTask(id, code) {
        ShowLoader($('#main-content'));
            $(".action-section").hide();
            var portalId = "";
            if (window.parent == "" || window.parent == undefined) {
                portalId = $("#GlobalPortalId").val();
            }
            else {
                portalId = window.parent.$("#GlobalPortalId").val();
            }
            var url = '/Cms/Page?lo=Popup&pageType=Task&source=View&dataAction=View&templateCodes='+code+'&recordId='+id+'&portalId=' + portalId;
            location.href = url;
    }
    function LoadService(model,id) {
        var container = $('#lv-tab-content');
        ShowLoader($('#main-content'));
        var url = '/Core/Cms/GetServiceContent';
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(model),
            cache: false,
            contentType: "application/json;charset=utf-8",
            dataType: 'json',
            success: function (data) {
                container.html("");
                container.html(data.view);
                HideLoader($('#main-content'));
            },
            error: function (errData) {
                container.html(errData);
                HideLoader($('#main-content'));
            }
        });
        return false;
    }
    function LoadStepTask(model, id) {
        var container = $('#lv-tab-content');
        ShowLoader($('#main-content'));
        var url = '/Core/Cms/GetStepTaskContent';
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(model),
            cache: false,
            contentType: "application/json;charset=utf-8",
            dataType: 'json',
            success: function (data) {
                container.html("");
                container.html(data.view);
                HideLoader($('#main-content'));

            },
            error: function (errData) {
                container.html(errData);
                HideLoader($('#main-content'));
            }
        });
        return false;
    }
</script>
<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="row no-gutters pl-3">
            <div class="steps steps-" role="tablist">
                <ul>
                    @{
                        if (Model.ComponentResultList.IsNotNull())
                        {
                            var total = Model.ComponentResultList.Count();
                            for (int i = 0; i < total; i++)
                            {
                                var item = Model.ComponentResultList[i];
                                var activeClass = item.ItemStepStatus;
                                if (item.TaskId == Model.InitialItemId)
                                {
                                    activeClass = "";
                                }
                                <li class="nts-step step @activeClass step-popover" data-photo-id="@item.AssigneeId" data-assignee="@item.Assignee" data-status="@item.ComponentStatusName" data-number="@item.TaskNo" data-date-start="@item.StartDate.ToDefaultDateTimeFormat()" data-date-end="@item.EndDate.ToDefaultDateTimeFormat()">
                                    <a href="#" class="step-trigger" tabindex="-1" data-id="@item.TaskId" data-status-code="@item.ComponentStatusCode" data-type="@item.ComponentType" data-template-code="@item.TemplateMasterCode">
                                        <span class="user-avatar user-avatar-sm">
                                            <img src="@Url.Action("GetUserPhotoByUserId", "document", new { @area = "Cms", userId = item.AssigneeId })" alt="" onerror="OnPhotoError(this);">
                                        </span>
                                        <span class="d-none d-sm-inline text-truncate">@item.TaskSubject</span>
                                    </a>


                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="lv-tab-content">

                </div>
            </div><!-- /grid column -->
        </div><!-- /grid row -->
    </div>
</div>



@Html.HiddenFor(x => x.TemplateCode)
@Html.HiddenFor(x => x.PopupCallbackMethod)
@Html.HiddenFor(x => x.DataAction)
@Html.HiddenFor(x => x.PortalId)
@Html.HiddenFor(x => x.ServiceId)
@Html.HiddenFor(x => x.RequestSource)
@Html.HiddenFor(x => x.OwnerUserId)
@Html.HiddenFor(x => x.RequestedByUserId)











