@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@using Kendo.Mvc.Extensions;
@model AssignmentViewModel
@{
    ViewData["Title"] = "EmployeeDashboard";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = null;

}
<style>
    #Project {
        height: 400px;
    }

    .ui-item {
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }

    .card {
        height: 470px;
    }

    .cardT {
        height: 100px;
        border-radius: 6px;
        margin: 10px;
    }

    .cardL {
        height: 60px;
        border-radius: 6px;
        margin: 10px;
    }

    card-h {
        height: 500px;
    }

    .card3 {
        height: 100px;
        width: 100px;
        background-color: lightgrey;
        border-color:white;
        text-align:center;
        padding:2px;
        font-size:18px;
        
         left: 389px;
            top: :334px;
       /* padding: 10px;
        margin: 10px;
        border-radius: 6px;*/
    }

    h5, .h5 {
        font-size: 14px;
        font-weight: bold;
    }

    body {
        background-color: #efefef87;
    }

    .nav-side-menu li:hover {
        border-left: 3px solid #d19b3d;
        background-color: #ff7a5961;
    }

    .nav-side-menu li a {
        text-decoration: none;
        color: #2c3131e3;
        font-size: 12px;
    }

    .nav-side-menu li {
        padding-left: 0px;
        border-left: 0px;
        border-bottom: 0px;
    }

    .nav-side-menu {
        position: fixed;
        overflow: auto;
        font-family: verdana;
        font-size: 10px;
        font-weight: 200;
        background-color: #ffffff;
        top: 0px;
        height: 100%;
        color: #394848;
        margin-bottom: 10px;
        margin-top: 50px;
        padding-top: 15px;
        width: 225px;
        /* border-right: 1px solid; */
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.22), 0 7px 10px -5px #fff;
        border: 1px solid #eee;
    }

    .Card-header {
        background: #2d9fca;
        color: #5191bd;
        font-weight: bold;
        font-size: 14px;
    }

    .label {
        border-radius: 1.25em;
    }

    .label-info {
        background-color: #34bfa3;
    }

    .Pills {
        /*background-color: #428bca;*/
        background-color: #22b9ff !important;
        border: none;
        color: #fff;
        padding: 6px 20px !important;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0px 6px !important;
        cursor: pointer;
        border-radius: 22px !important;
        font-size: 12px !important;
    }

        .Pills:hover {
            background-color: #428bca;
        }

    .board {
        height: 300px;
        overflow-y: scroll;
        background: #F0F1F1;
    }

        .board k-widget k-listview {
            background: #F0F1F1;
            color: black;
        }

    .k-listview {
        border: none;
    }

    .amont {
        color: #22b9ff !important;
    }

    .contract {
        font-size: 1.0em;
    }

    .cursor {
        cursor: pointer;
    }

    .Card-header .k-dropdown-wrap {
        border-radius: 25px !important;
        font-size: 15px;
    }

    #rect {
        /*        position: absolute;
        */ width: 1026px;
        height: 120px;
        left: 389px;
        top: 106px;
        background: #CBD0CE;
        border-radius: 6px;
    }

    #rect-txt {
        /* position: absolute;*/
        /* padding: 16px 844px 80px 20px;*/
        width: auto;
        height: 24px;
        left: 409px;
        top: 122px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        color: #4E4D4D;
    }

    #card-txt {
        /*        width: 52px;
            height: 24px;
            left: 468px;
            top: 224px;*/
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        text-align: center;
        color: #292929;
    }

    .card1 {
        width: 150px;
        height: 120px;
        left: 419px;
        top: 165px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px 2px #A1BEED;
        border-radius: 6px;
    }

    .card2 {
        width: 480px;
        height: 357px;
        left: 389px;
        top: 334px;
        background: #F0F1F1;
        border-radius: 6px;
    }

    #card2-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        // color: #353535;
        padding-top: 10px;
    }

    #icons-size {
        left: 47.08%;
        right: 50.75%;
        top: 17.68%;
        bottom: 78.81%;
    }

    #list-icons-size {
        left: 28.47%;
        right: 70.06%;
        top: 38.96%;
        bottom: 58.69%;
    }

    #ProjectTask1, #ProjectTask {
        padding: 0px 5px;
        margin-bottom: -1px;
        min-height: 400px;
    }

    .avatar-myProfile {
        border-radius: 5%;
        height: 180px;
        width: 180px;
        margin-top: 10px;
    }

    .blue-panel {
        border: 1px solid #d7d3d3;
        width: 100%;
        font-weight: 600;
        background-color: #2d9fca;
        /* padding: 10px 0px 10px 30px;*/
        border-radius: 6px;
        text-align: left;
        font-size: 24px;
        color: #fff;
        margin: 0;
        height: 50px;
    }

    #introdisplay {
        color: blue;
    }

    .intro-panel-body {
        border-radius: 7px;
        border: 1px solid #beb1b1;
        background-color: #2d9fca;
        padding-top: 10px;
    }

    .intro-label {
        color: white;
    }

    .intro-display {
        color: white;
    }

    .intro-section {
        padding-bottom: 10px;
    }

    #tabstrip .content {
        padding: 1rem;
    }

    .intro.panel-body.bg-primary .form-group {
        padding: 0px;
    }

        .intro.panel-body.bg-primary .form-group .control-label {
            font-weight: bold;
        }

    .drp-user-photo {
        height: 60px;
        width: 60px;
        border-radius: 30px;
    }
    .Vertical-text {
        writing-mode:vertical-rl;
        text-orientation:sideways;
        color:black;
        text-align:center;
        font-size:18px;
    }
</style>

@*<div class="row hr-pad-top-10" style="background: #CBD0CE;height: 250px;border-radius: 6px;">
    <div class="row">
        <p id="rect-txt">
            @Model.PersonFullName
        </p>
    </div>
    </div>

        <hr />*@
<script id="template_badge" type="text/kendo-ui-template">

    <div class="row" style="margin-Left:15px">
                    <div class="col-md-2">
                        @if (Model.BadgeImage != null)
                        {
                            <img class="" style="background-color:gray;width:75px;height:75px;border-radius:6px" src="/cms/Document/GetImageMongo?id=@Model.BadgeImage" onerror='OnPhotoError(this);' />
                        }
                        else
                        {
                            <img class="" style="background-color:gray;width:75px;height:75px;border-radius:6px" src="/images/200.png" />
                        }</div>
                        @*<img class="" style="background-color:gray;width:75px;height:75px;border-radius:6px" src="/images/200.png" /><br />*@
    <div class="col-md-10">
                        <p style="font-Size:14px">#:BadgeName#</p><p style="font-Size:12px">#:BadgeDescription#</p>

                        <p style="font-Size:12px">#:BadgeAwardDate#</p></div>
                    </div><hr />
    </div>
</script>
<script id="template_certification" type="text/kendo-ui-template">
<div class="row" style="margin-Left:15px">
    <div class="col-md-2"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
    <div class="col-md-10">
        <p style="font-Size:14px">#:CertificationName#</p><p style="font-Size:12px">#:CertificateReferenceNo#</p>

        <p style="font-Size:12px">#:ExpiryLicenseDate#</p>
    </div>
    <br />
    @*<div class="row" style="margin-Left:15px"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
        <br />*@

</div>
<hr />
</script>
<div id="intro" class="row intro-panel-body no-gutters p-2 mb-2">
    <div class="col-2">
        <img class="avatar-myProfile" src="/cms/Document/GetImageMongo?id=@Model.PhotoId" onerror='OnPhotoError(this);' />
    </div>
    <div class="col-10 row">
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Person Full Name
            </div>
            <div class="col-9 intro-display">
                @Model.PersonFullName
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Department Name
            </div>
            <div class="col-9 intro-display">
                @Model.DepartmentName
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Job Name
            </div>
            <div class="col-9 intro-display">
                @Model.JobName
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Position Name
            </div>
            <div class="col-9 intro-display">
                @Model.PositionName
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Location Name
            </div>
            <div class="col-9 intro-display">
                @Model.LocationName
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Date of Join
            </div>
            <div class="col-9 intro-display">
                @Model.DateOfJoin
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Assignment Status
            </div>
            <div class="col-9 intro-display">
                @Model.AssignmentStatusName
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Person Status
            </div>
            <div class="col-9 intro-display">
                @Model.PersonStatus
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                User Status
            </div>
            <div class="col-9 intro-display">
                @Model.UserStatus
            </div>
        </div>
        <div class="col-6 row intro-section">
            <div class="col-3 intro-label">
                Grade Name
            </div>
            <div class="col-9 intro-display">
                @Model.GradeName
            </div>
        </div>
    </div>
</div>
<br />







<div class="row" style="color:black">
    <div class="col-md-4 card-h">
        <div class="card" style="background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12 blue-panel" @*style="border-bottom: 3px solid black;*@>
                    <h5 id="card2-text">@*<i class="fad fa-file-chart-line fa-1x"></i>*@Skills</h5>
                </div>
                <div class="row hr-pad-top-bot-5" style="padding: 10px 15px;padding-top: 7px !important;padding-bottom: 7px !important;">
                   @(Html.Kendo().Chart<AssignmentViewModel>()
        .Name("chart")
        .Title("This Chart shows Score for the Skills in Competency ")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )
        .DataSource(ds => ds
                        .Read(read => read.Action("ReadSkillData", "TalentAssessment", new { @area = "TAS" }))
                        )
        .ChartArea(chartArea => chartArea
            .Background("transparent").Height(300).Width(500)
        )
        .SeriesColors(new string[] { "#ff9800", "#fad84a", "#4caf50", "#03a9f4" })
        .Series(series =>
        {
            series.Column(model => model.ResultScore, model => model.CompetencyName);
          

        })
        .CategoryAxis(axis => axis
            .Name("series-axis")
            .Categories("Competency Name")
            .Line(line => line.Visible(false))
        )
        .CategoryAxis(axis => axis
            .Name("label-axis")
         .Categories("Competency Name")
        )
        .ValueAxis(axis => axis
            .Numeric()
                .Labels(labels => labels.Format("{0}"))

                // Move the label-axis all the way down the value axis
                .AxisCrossingValue(0, int.MinValue)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}")
            .Template("#= series.name #: #= value #")
        )
)
                   @*@(Html.Kendo().Chart<AssignmentViewModel>()
            .Name("chart")
            .Title("This Chart shows Score for the Skills in Competency")
            .Legend(legend => legend.Position(ChartLegendPosition.Bottom))
             .DataSource(ds => ds.Read(read => read.Action("ReadSkillData", "TalentAssessment", new { area = "TAS" })/*.Data("FilterSalary")*/))
            .Series(series =>
            {
                series.Column(model=>model.ResultScore).Name("Skill");
                // series.Column(new double[] { 15.7, 11, 20, 25, 36.6 }).Name("World");
            })
            .CategoryAxis(axis => axis
                .Categories(x=>x.CompetencyName)
            )
            .ValueAxis(axis => axis
                .Numeric().Labels(labels => labels.Format("{0}"))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Format("{0}")
            )
    )*@
                </div>

            </div>
            <hr />

        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12 blue-panel" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="fad fa-file-chart-line fa-1x"></i>*@ Badgets</h5>
                </div>
                @*<img class="style-myiconimage" style="background-color:gray;" src="/images/200.png" />*@
                <br />




                @*<div class="col-md-4">
                                <img class="" style="background-color:gray;width:75px;height:75px;border-radius:6px" src="/images/200.png" /><br />

                                <p style="font-Size:14px">Sales Proficiancy Exam</p><p style="font-Size:12px">SkillNet, Score 48/100</p>

                                <p style="font-Size:12px">October 2014</p>
                            </div>


                            <div class="col-md-4">
                                <img class="" style="background-color:gray;width:75px;height:75px;border-radius:6px" src="/images/200.png" /><br />

                                <p style="font-Size:14px">Sales Proficiancy Exam</p><p style="font-Size:12px">SkillNet, Score 48/100</p>

                                <p style="font-Size:12px">October 2014</p>
                            </div>




                    </div>*@

                @(Html.Kendo().ListView<AssignmentViewModel>()
                                .Name("badgelistView")
                                .TagName("div")
                                .ClientTemplateId("template_badge")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("ReadBadgeData", "TalentAssessment", new { @area = "TAS" }))//.Data("filter"))
                                .PageSize(21)
                                )
                       .HtmlAttributes(new { style="background:#F0F1F1;" })
                      //.Events(events => events.DataBound("OnDataBoundDoc"))

                      )



            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12 blue-panel" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="far fa-clock fa-1x"></i>*@ IDP</h5>
                </div>
                <br />


                @(Html.Kendo().ListView<TeamWorkloadViewModel>()
                                .Name("listView2")
                                .TagName("div")
                                .ClientTemplateId("template_devDoc2")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("ReadDevelopmentServiceData", "TalentAssessment", new { @area = "TAS"}))//.Data("filter"))
                                .PageSize(21)
                                )
                                .HtmlAttributes(new { @Class = "board", @id = "developmentboard" })
                                //.Events(events => events.DataBound("OnDataBoundDoc"))

                      )

            <script id="template_devDoc2" type="text/kendo-ui-template">
                      <div class="row" style="margin-Left:15px">
                    <div class="col-md-2">
                        #if(PhotoId != null)
                                             {#
                                                 <img class="drp-user-photo" width="80" height="80" src="/cms/Document/GetImageMongo?id=#=PhotoId#" onerror="OnPhotoError(this)" style='text-align: center;'>
                                              #}
                                             else {#
                                             <img class="drp-user-photo" width="80" height="80" src='/images/profile.jpg' style='text-align: center;'>
                                                 #}#
                           </div>
                        @*<img class="" style="background-color:gray;width:75px;height:75px;border-radius:6px" src="/images/200.png" /><br />*@
    <div class="col-md-10">
                        <p style="font-Size:14px">#:StageName#</p><p style="font-Size:12px">#:ServiceDescription#</p>

                        <p style="font-Size:12px">#:NtsStatus#</p></div>
                    </div><hr />
    </div>


     @*<div style="margin-left:10px;float:left;padding:5px;">
                 <div class="cardL text-center" style="min-height:30px!important;width:270px;background-color:silver; display:inline-flex;cursor:pointer;">
       <div class="row">
            <div class="col-md-12">
                <span style="font-size: 20px;font-weight: 600;color:black;top:10px">#=StageName#</span>
    </div>
         <div class="col-md-12">
                <span style="font-size:15px;font-weight: 400;color:white;top:10px">#=ProjectOwnerName#</span>
    </div>
            </div>
    </div>
</div>*@
    @*<div>
                    @(Html.Kendo().ListView<TeamWorkloadViewModel>()
                            .Name("listView_#=id#")
                            .TagName("div")
                            .ClientTemplateId("template_devDoc3")
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Read(read => read.Action("ReadPerformanceTaskView", "TalentAssessment", new { Id = "#=id#", @area= "TAS" }))//.Data("filter"))
                            .PageSize(21)
                            )
                            .HtmlAttributes(new { @Class = "listViewDoc" })
                            .ToClientTemplate()

                    )

                </div>*@
            @*#if('@ViewBag.UserId' == ProjectOwnerId || '@ViewBag.UserId' == RequestedByUserId){#
              <div class="row" style="margin-top:0px">
                    <div class="col-md-12">
                        <div class="panel-footer" style="width:270px;background-color:black;  top:10px;">
                            <span style="font-weight:500;color:white;cursor:pointer" onclick="OnDevelopmentTask('#=id#')"><i class="fas fa-plus"></i> @Html.Raw(SharedResource["AddTask"])</span>
                        </div>
                    </div>
                </div>
            #}#*@



            </script>
                <script id="template_devDoc3" type="text/kendo-ui-template">
                     <div class="cardT card_task" style="min-height:100px!important;width:270px;margin-left:0px;margin-top:10px;">
                         <div class="row" style="padding:10px 50px 10px 10px;cursor:pointer;" onclick="EditDevelopmentTask('#=TaskId#','#=TaskStatusCode#')">

                             <div class="col-xs-10 col-md-10">
                                 <span style="font-size:16px;float:left;">#=TaskName# &nbsp &nbsp</span></br>
                    #if(UserName==null){#
                      <span style="font-size:14px;color:gray;float:left;"> No Assignee</span></br>
                     #}
                     else{#
                      <span style="font-size:14px;color:gray;float:left;"> #=UserName#</span></br>
                     #}#
                      <span style="font-size:14px;color:gray;float:left;"> #:kendo.toString(kendo.parseDate(StartDate), 'yyyy.MM.dd')# - #:kendo.toString(kendo.parseDate(DueDate), 'yyyy.MM.dd')# </span></br>

                     <span class="#=TaskStatus#" style="font-size:14px;float:left;padding: 2px 6px 4px 6px;border-radius: 8px;" >#=TaskStatus#</span>

                     </div>

                      <div class="col-xs-2 col-md-2">
                               #if(PhotoId != null)
                                             {#
                                                 <img class="drp-user-photo" width="80" height="80" src="/cms/Document/GetImageMongo?id=#=PhotoId#" onerror="OnPhotoError(this)" style='text-align: center;'>
                                              #}
                                             else {#
                                             <img class="drp-user-photo" width="80" height="80" src='/images/profile.jpg' style='text-align: center;'>
                                                 #}#
                             </div>

                         </div>
                                     <div>
                                     <hr />





                </script>

            </div>
        </div>


    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card" style="background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12 blue-panel" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="fad fa-file-chart-line fa-1x"></i>*@Assessmemnts</h5>
                </div>
                <br />

                <!--<div class="row" style="margin-Left:15px">
                <div class="col-md-2"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
                <div class="col-md-10">
                    <p style="font-Size:14px">Sales Proficiancy Exam</p><p style="font-Size:12px">SkillNet, Score 48/100</p>

                    <p style="font-Size:12px">October 2014</p>
                </div>
                <br />-->
                @*<div class="row" style="margin-Left:15px"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
                    <br />*@

                <!--</div>
                <hr />
                <div class="row" style="margin-Left:15px">
                    <div class="col-md-2"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
                    <div class="col-md-10">
                        <p style="font-Size:14px">Sales Proficiancy Exam</p><p style="font-Size:12px">SkillNet, Score 48/100</p>

                        <p style="font-Size:12px">October 2014</p>
                    </div>
                    <br />-->
                @*<div class="row" style="margin-Left:15px"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
                    <br />*@

                <!--</div><hr />-->
                @(Html.Kendo().ListView<AssignmentViewModel>()
                                .Name("assessmentlistView")
                                .TagName("div")
                                .ClientTemplateId("template_assessment")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("ReadAssessmentsData", "TalentAssessment", new { @area = "TAS" }))//.Data("filter"))
                                .PageSize(21)
                                )
                                .HtmlAttributes(new { style = "background:#F0F1F1;" })
                      // .HtmlAttributes(new { @Class = "board", @id = "developmentboard"})
                      //.Events(events => events.DataBound("OnDataBoundDoc"))

                      )

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12 blue-panel" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="fad fa-file-chart-line fa-1x"></i>*@ Certifications</h5>
                </div>
                <br />
                @(Html.Kendo().ListView<AssignmentViewModel>()
                                .Name("certificationlistView")
                                .TagName("div")
                                .ClientTemplateId("template_certification")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("ReadcertificationData", "TalentAssessment", new { @area = "TAS" }))//.Data("filter"))
                                .PageSize(21)
                                )
                       .HtmlAttributes(new { style="background:#F0F1F1;" })
                      //.Events(events => events.DataBound("OnDataBoundDoc"))

                      )

                <!--<div class="row" style="margin-Left:15px">
                    <div class="col-md-2"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
                    <div class="col-md-10">
                        <p style="font-Size:14px">Sales Proficiancy Exam</p><p style="font-Size:12px">SkillNet, Score 48/100</p>

                        <p style="font-Size:12px">October 2014</p>
                    </div>
                    <br />-->
                    @*<div class="row" style="margin-Left:15px"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
            <br />*@

                <!--</div><hr />
                <div class="row" style="margin-Left:15px">
                    <div class="col-md-2"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
                    <div class="col-md-10">
                        <p style="font-Size:14px">Sales Proficiancy Exam</p><p style="font-Size:12px">SkillNet, Score 48/100</p>

                        <p style="font-Size:12px">October 2014</p>
                    </div>
                    <br />-->
                    @*<div class="row" style="margin-Left:15px"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
            <br />*@

                <!--</div><hr />
                <div class="row" style="margin-Left:15px">
                    <div class="col-md-2"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
                    <div class="col-md-10">
                        <p style="font-Size:14px">Sales Proficiancy Exam</p><p style="font-Size:12px">SkillNet, Score 48/100</p>

                        <p style="font-Size:12px">October 2014</p>
                    </div>
                    <br />-->
                    @*<div class="row" style="margin-Left:15px"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
            <br />*@

                <!--</div>-->
                <hr />
            </div>


        </div>
    </div>


    <div class="col-md-4">
        <div class="card" style="background:#F0F1F1;font-size:12px">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12 blue-panel" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="far fa-clock fa-1x"></i>*@ Profile</h5>
                    <br/>
                    <div class="row">
                        <span class="col-md-1 Vertical-text">Potential Assessment</span>
                        <div class="col-md-11">
                            <div class="row">
                             
                                <span class="Vertical-text">High</span>
                                <div class="card3" Id="high-low" style="background-color:Orange; text-align:center;font-size:16px"> <span style="margin-top:15px">Rough diamond</span></div>
                                <div class="card3" Id="high-medium" style="background-color:mediumaquamarine;font-size:16px"> Future Star</div>
                                 <div class="card3" Id="high-high" style="background-color:mediumseagreen;font-size:16px">Consistent Star</div>
                                
                            </div>

                            <div class="row">
                                <span class="Vertical-text">Medium</span>
                                <div class="card3" Id="medium-low" style="background-color:lightpink;font-size:16px"> Inconsistent Player</div>
                                <div class="card3" Id="medium-medium" style="background-color:Orange;font-size:16px"> Key Player</div>
                                <div class="card3" Id="medium-high" style="background-color:mediumaquamarine;font-size:16px">Current Star</div>
                            </div>

                            <div class="row">
                                <span class="Vertical-text">Low</span>
                                <div class="card3" Id="low-low" style="background-color:red;font-size:16px"> Talent Risk</div>
                                <div class="card3" Id="low-medium" style="background-color:lightpink;font-size:16px"> Solid Professional</div>
                                <div class="card3" Id="low-high" style="background-color:Orange;font-size:16px">High Professional</div>
                            </div>
                            <div class="row" style="text-align:center">
                                <div class="col-md-1"></div>
                                <div class="col-md-2" style="color:black;font-size:16px;text-align:left";>Low</div>
                                <div class="col-md-2" style="color:black;font-size:16px">Medium</div>
                                <div class="col-md-2" style="color:black;font-size:16px">High</div>

                            </div>
                        </div>
                    </div>

                    <span style="color:black;padding-left:150px;font-size:16px">Performance Assessment</span>
                </div>
               
                <hr />

            </div>
    </div>
</div>
<br />
<br />
        </div>
<script id="template_assessment" type="text/kendo-ui-template">
<div class="row" style="margin-Left:15px">
    <div class="col-md-2"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
    <div class="col-md-10">
        <p style="font-Size:14px">#:AssessmentName#</p><p style="font-Size:12px">Score:#:AssessmentScore#</p>

        <p style="font-Size:12px">#:AssessmentStartTime#</p>
    </div>
    <br />
    @*<div class="row" style="margin-Left:15px"><i class="far fa-address-card" style="color:black;font-size:60px"></i></div>
        <br />*@

</div>
<hr />
</script>