@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@using Kendo.Mvc.Extensions;
@model SurveyTopicViewModel
@{
    ViewData["Title"] = "Questions";
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = Model.LayoutMode == LayoutModeEnum.Main ? "/Views/Shared/_PopupLayout.cshtml" : "/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .que-sec {
    }

    .que-sec2 {
        margin-left: 20px;
        margin-right: 20px;
        background-color: whitesmoke;
        height: 100%;
    }

    .seq {
        /*border-style: solid;*/
        height: 34px;
        margin-top: 10px;
        background-color: #006699;
        color: #ffffff;
        padding-left: 10px;
        border-radius: 4px;
        text-align: center;
        font-size: 19px;
    }

    .que {
        margin-top: 15px;
        background-color: white;
        /* padding-left: 10px; */
        font-size: 17px;
        /* padding-right: 10px; */
        /* padding-top: 10px; */
        padding: 20px;
    }

    .comment-div {
        padding: 10px !important;
    }

    .comment1 {
        background-color: white;
        /* padding-left: 10px; */
        border: solid 1px silver;
        font-size: 16px;
        /* padding-right: 10px; */
        /* padding-top: 10px; */
        /*padding: 10px;*/
        width: 100%;
        height: 46px;
    }

    .opt {
        /*  padding-top: 15px;*/

        font-size: 15px;
        /* padding-right: 10px; */
        /* padding-top: 10px; */
        /* margin: 15px;*/
        overflow-wrap: break-word;
        border-bottom: 1px solid silver;
    }

    .option1, .option3, .option5 {
        background-color: #e6f7ff;
        padding: 10px !important;
    }

    .option2, .option4 {
        background-color: #fff;
        padding: 10px !important;
    }

    .question {
        padding: 10px !important;
        background-color: #fff;
    }

    .lbl-text {
        margin-left: 3px;
        font-size: 16px;
        color: #848484;
    }

    .pagination1 li {
        color: black;
        /*float: left;*/
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        border-radius: 25px;
        background-color: #006699;
        cursor: pointer;
    }

        .pagination1 li:hover {
            background-color: #ddd;
        }

    .pagination1 {
        display: inline-flex !important;
    }

    .btn_li {
        color: #fff;
    }

    .modal-title {
        color: #069 !important;
    }

    .survey-head {
        background-color: #fff;
        padding: 10px;
        margin: 20px;
        border-radius: 4px;
    }

    .head-instruction {
        color: #006699;
        font-size: 18px;
    }
</style>
<div id="main-que" class="row survey-head">
    <div class="col-8">
        @if (Model.PreferredLanguageCode == "ARABIC")
        {
            <span class="head-instruction" style="float:right;">الرجاء اختيار أحد الخيارات لكل عبارة. لا تتردد في تقديم المزيد من التفاصيل في مربع التعليقات</span>
        }
        else if (Model.PreferredLanguageCode == "ENGLISH")
        {
            <span class="head-instruction">Please choose one of the options for each statement. Feel free to provide more details in the comment box.</span>
        }

    </div>
    <div class="que-sec col-4">
        <span class="" style="font-size: 20px;font-weight: bold;">
            @if (Model.PreferredLanguageCode == "ARABIC" && Model.LayoutMode != LayoutModeEnum.Popup)
            {
                <a style="float:right;font-size:16px;" href="javascript:void(0);" onclick="LoadEnglish();">عرض الترجمة الإنجليزية لهذا السؤال</a>
            }

            @if (Model.PreferredLanguageCode == "ENGLISH" && Model.LayoutMode != LayoutModeEnum.Popup)
            {
                <a style="float:right;font-size:16px;" href="javascript:void(0);" onclick="LoadArabic();">
                    View the Arabic translation for this question
                </a>
            }
        </span>
    </div>
</div>

<div id="testTimer" style="text-align:right;font-weight:bold;padding-right:50px;display:@(Model.LayoutMode != LayoutModeEnum.Popup?"":"none")"> </div>
<div class="que-sec2" id="divTestquestion">
    <div class="">
        <div class="row-12">
            <div class="" style="padding-top:5px;">

                <div class="seq">

                    @*@if (Model.PreferredLanguageCode == "ARABIC")
                        {
                            <span>اسم الموضوع -</span>
                        }
                        else
                        {
                            <span>Topic Name -</span>
                        }*@
                    <span id="topicName"></span>

                </div>
                <div id="optionList"></div>
                @Html.HiddenFor(x => x.QuestionAnswerList)
            </div>
            <div class="col-12" style="padding-top:15px;display:@(Model.LayoutMode != LayoutModeEnum.Popup?"":"none")">
                <div class="row-12" style="text-align:center">
                    <ul class="pagination1" style="font-size: 20px;">
                        <li id="firstId" style="display:none" onclick="firstClicked(this)" value="">
                            <a href="#" class="btn_li">
                                @if (Model.PreferredLanguageCode == "ARABIC")
                                {
                                    <span>أول</span>
                                }
                                else
                                {
                                    <span>First</span>
                                }



                            </a>
                        </li>
                        <li id="previousId" style="display:none" onclick="previousClicked(this)" value="">
                            <a href="#" class="btn_li">
                                @if (Model.PreferredLanguageCode == "ARABIC")
                                {
                                    <span>السابق</span>
                                }
                                else
                                {
                                    <span>Previous</span>
                                }
                            </a>
                        </li>
                        <li id="lastId" style="display:none" onclick="lastClicked(this)">
                            <a href="#" class="btn_li">
                                @if (Model.PreferredLanguageCode == "ARABIC")
                                {
                                    <span>الاخير</span>
                                }
                                else
                                {
                                    <span>Last</span>
                                }
                            </a>
                        </li>
                        <li id="savelast" @*style="display:none"*@ onclick="saveLastQueClicked(this)">
                            <a href="#" class="btn_li">
                                @if (Model.PreferredLanguageCode == "ARABIC")
                                {
                                    <span>حفظ</span>
                                }
                                else
                                {
                                    <span>Save</span>
                                }
                            </a>
                        </li>

                        <li id="nextId" style="display:none" onclick="nextClicked(this)">
                            <a href="#" class="btn_li">
                                @if (Model.PreferredLanguageCode == "ARABIC")
                                {
                                    <span>احفظ وانتقل إلى التالي</span>
                                }
                                else
                                {
                                    <span>Save & Next</span>
                                }
                            </a>
                        </li>
                        <li id="submit" style="display:none" onclick="submitClicked(this)">
                            <a href="#" class="btn_li">
                                @if (Model.PreferredLanguageCode == "ARABIC")
                                {
                                    <span>إرسال واستكمال</span>
                                }
                                else
                                {
                                    <span>Submit & Complete</span>
                                }
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content e-card">
            <div class="modal-header" style="background-color:#268ef9;color:white">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h3 class="modal-title">
                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>أنت على وشك إنهاء هذا الاستبيان</span>
                    }
                    else
                    {
                        <span>YOU ARE ABOUT TO END THIS SURVEY</span>
                    }

                </h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;">
                    <ul>
                        <li>
                            @if (Model.PreferredLanguageCode == "ARABIC")
                            {
                                <span>بمجرد انتهاء الاستطلاع ، لا يمكن إعادة تشغيله</span>
                            }
                            else
                            {
                                <span>
                                    Once the survey is ended, it cannot be restarted
                                </span>
                            }
                        </li>
                        <li>
                            @if (Model.PreferredLanguageCode == "ARABIC")
                            {
                                <span>سيتم إرسال إجابتك إلى اللوحة عند النقر فوق الزر "موافق"</span>
                            }
                            else
                            {
                                <span>
                                    Your answer will be sent to the panel on click of 'OK' button
                                </span>
                            }

                        </li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn button btn-default " data-dismiss="modal" style="padding:10px 25px;background-color:#bbc1c7">
                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>إلغاء</span>
                    }
                    else
                    {
                        <span>
                            Cancel
                        </span>
                    }
                </button>
                <button type="button" class="btn button" onclick="endAssessment()" style="padding:10px 25px">
                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>حسنا</span>
                    }
                    else
                    {
                        <span>
                            OK
                        </span>
                    }
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="nextSubmit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>تؤكد</span>
                    }
                    else
                    {
                        <span>
                            Confirm
                        </span>
                    }
                </h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                @if (Model.PreferredLanguageCode == "ARABIC")
                {
                    <span>هل أنت متأكد أنك تريد الحفظ والانتقال إلى السؤال التالي؟</span>
                }
                else
                {
                    <span>
                        Are you sure you want to save and move to next question?
                    </span>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">

                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>أغلق</span> }
                    else
                    {
                        <span>
                            Close
                        </span>
                    }
                </button>
                <button type="button" class="btn btn-primary" style="background-color:dodgerblue" onabort="" onclick="SaveChanges()">

                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>حفظ التغييرات</span>
                    }
                    else
                    {
                        <span>
                            Save Changes
                        </span>
                    }

                </button>
            </div>
        </div>
    </div>
</div>



<!-- skip model Modal -->
<div class="modal fade" id="skipNext" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>تؤكد</span>
                    }
                    else
                    {
                        <span>
                            Confirm
                        </span>
                    }
                </h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">

                @if (Model.PreferredLanguageCode == "ARABIC")
                {
                    <span>هل ترغب في تخطي هذا السؤال والانتقال إلى السؤال التالي؟</span>
                }
                else
                {
                    <span>
                        Would you like to skip this question and go to next question?
                    </span>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>قريب</span> }
                    else
                    {
                        <span>
                            Close
                        </span>
                    }
                </button>
                <button type="button" class="btn btn-primary" style="background-color:dodgerblue" onabort="" onclick="skipNext()">
                    @if (Model.PreferredLanguageCode == "ARABIC")
                    {
                        <span>السؤال التالي</span>

                    }
                    else
                    {
                        <span>
                            Next Question
                        </span>
                    }
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Final submit model Modal -->
<div class="modal fade" id="finalSubmit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @if (Model.PreferredLanguageCode == "ARABIC")
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">التقييم الكامل</h5>
                </div>
                <div class="modal-body" style="font-size:16px;background:#fff;">
                    هل ترغب في إرسال واستكمال هذا التقييم؟ بمجرد التقديم ، لن تتمكن من العودة إلى التقييم.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">لا</button>
                    <button type="button" class="btn btn-primary" style="background-color:dodgerblue" onabort="" onclick="complete()">نعم</button>
                </div>
            </div>

        }
        else
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Complete Survey</h5>
                </div>
                <div class="modal-body" style="font-size:16px">
                    Would you like to submit and complete this survey? Once Submitted you will not be able to come back to the survey.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" style="background-color:dodgerblue" onabort="" onclick="complete()">Yes</button>
                </div>
            </div>
        }

    </div>
</div>


<!-- Assessment Stop  Modal -->
<div class="modal fade" id="assessmentStop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @if (Model.PreferredLanguageCode == "ARABIC")
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">إنذار</h5>
                </div>
                <div class="modal-body" style="font-size:16px">
                    تم إيقاف تقييمك ، يرجى الاتصال بالمسؤول
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">قريب</button>
                    <button type="button" class="btn btn-primary" style="background-color:dodgerblue" onabort="" onclick="retry()">أعد المحاولة</button>
                </div>
            </div>

        }
        else
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                </div>
                <div class="modal-body" style="font-size:16px">
                    Your survey has been stopped, Please contact administrator.
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-primary" style="background-color:dodgerblue" onabort="" onclick="retry()">Retry</button>
                </div>
            </div>
        }

    </div>
</div>



</div>


@(Html.Kendo().Notification()
              .Name("notification")
              .Position(p => p.Pinned(true).Top(90))
              .Stacking(NotificationStackingSettings.Default)
              .AutoHideAfter(5000)
              .Templates(t =>
              {
                  t.Add().Type("info").ClientTemplateID("infoTemplate");
              }
          )
)


<script id="infoTemplate" type="text/x-kendo-template">
    <div style="width:300px;height:20px;padding:10px;">
        @if (Model.PreferredLanguageCode == "ARABIC")
        {
            <p style="direction:rtl">#= message #</p>
        }
        else
        {
            <p>#= message #</p>
        }

    </div>
</script>


<script>
    var layout = '@Model.LayoutMode';
    function onSubmit() {
        $("#myModal").show();
    }

    function endAssessment() {

    }

    //window.addEventListener("unload", e => {
    //    if (current_minutes > 0 && current_seconds > 0) {
    //        updateAssessment(currentServiceId, currentQueId);
    //    }
    //});

    //function update() {
    //    // do whatever you like here
    //    updateSurvey(currentServiceId, currentQueId);
    //    setTimeout(update, 5000);
    //}

    //update();
    $(document).ready(function () {
        //window.history.pushState(null, "", window.location.href);
        //window.onpopstate = function () {
        //    window.history.pushState(null, "", window.location.href);
        //};

        @*if ('@Model.ServiceStatusCode' == 'SERVICE_STATUS_COMPLETE') {

             if ('@Model.PreferredLanguageCode' == 'ARABIC') {
                 ShowNotification("اكتمل التقييم بالفعل", "success");
                } else {
                     ShowNotification("Assessment already Completed", "success");
                }

            var url = "/TAS/TalentAssessment/AssessmentDashboard";
            LoadPartailView(url, $('#cms-content'));
        } else {*@
            createView('@Model.ServiceId', '@Model.TopicId', '@Model.PreferredLanguageCode');
       // }

        if ('@Model.PreferredLanguageCode' == 'ARABIC') {
            document.getElementById('main-que').style.direction = "rtl";
        }

    });

    function renderQuestionList(element, index, arr) {
        if (element.QuestionId != "" && element.QuestionId != null) {

            var maindiv = document.getElementById("optionList");
            var div = document.createElement('div');
            div.className = "row no-gutters opt";
            div.id = element.QuestionId;
            var div1 = document.createElement('div');
            div1.className = "col-3 question";
            div1.innerHTML = element.QuestionName;
         
            if (element.AnswerItemId !== null && element.AnswerItemId !== '' && element.AnswerItemId != undefined) {
                div.setAttribute("answerItemId", element.AnswerItemId);
            }
            else {
                div.setAttribute("answerItemId", "");
            }
            if (element.AnswerId != null) {
                div.setAttribute("currentAnswer", element.AnswerId);
            }
            else {
                div.setAttribute("currentAnswer", "");
            }

            div.appendChild(div1);
            maindiv.appendChild(div);
            for (let i = 0; i < element.OptionList.length; i++) {
                renderOptionList(element.OptionList[i], index, arr, element.QuestionId,i);
            }
            var div2 = document.createElement('div');
            div2.className = "col-3 comment-div";
            var input = document.createElement('textarea');
            input.rows = "3";
            input.id = "com_"+ element.QuestionId;
            input.name = "com_" + element.QuestionId;
            input.value = element.AnswerComment;
            input.placeholder = "Comment";
            input.className = "form-control";

            if (layout == "Popup") {
                input.disabled = "disabled";
            }
            if ('@Model.PreferredLanguageCode' == "ARABIC") {
                input.style.direction = "rtl";
            }

            div2.appendChild(input);
            div.appendChild(div2);

        }

    }

    function renderOptionList(element, index, arr,questionId,i) {

        if (element.Option != "" && element.Option != null) {

            var maindiv = document.getElementById(questionId);
            var div = document.createElement('div');
            div.className = "col-xs-2 option"+(eval(i+1));
            var input = document.createElement('input');
            input.type = "radio";
            //input.id = element.MultipleFieldValueId;
            input.id = element.Id;
            input.name = questionId;
            input.style = "padding:2px";
            if (element.AnswerId != null && element.AnswerId == element.Id) {
                input.checked = true;
            }

            //input.value = element.MultipleFieldValueId;
            input.value = element.Id;
            if (layout == "Popup") {
                input.disabled = "disabled";
            }

            div.appendChild(input);
            var span = document.createElement('span');
            span.innerHTML = element.Option;
            span.className = "lbl-text";
            div.appendChild(span);
            maindiv.appendChild(div);

        }

    }

    function setQuestionList() {
        var ques = [];
        var quelist = document.getElementsByClassName("opt");
        for (let i = 0; i < quelist.length; i++) {
            var queId = quelist[i].id;
            const val = $('input[name=' + queId + ']:checked').val();
            if (val == "" || val == null) {
                return false;
            }
            var answerComment = $("#com_" + queId).val();
            var currentAns = document.getElementById(queId).getAttribute("currentAnswer");
            var answerItemId = document.getElementById(queId).getAttribute("answerItemId");

            ques.push({
                'QuestionId': queId,
                'AnswerId': val,
                'AnswerComment': answerComment,
                'CurrentAnswerId': currentAns,
                'AnswerItemId': answerItemId
            })
        }
        var quesjson = JSON.stringify(ques);
        $("#QuestionAnswerList").val(quesjson);
        return true;
    }

    function firstClicked(e) {
        ShowLoader($('#main-que'));
        var x = $("#firstId").attr("value");
        createView(currentServiceId, x, '@Model.PreferredLanguageCode');
    }

    function previousClicked(e) {
        ShowLoader($('#main-que'));
        var x = $("#previousId").attr("value");
        createView(currentServiceId, x, '@Model.PreferredLanguageCode');
    }

    function nextClicked(e) {
       // var id = $('input[name="opt"]:checked').val();
       // var comment = document.getElementById("optional-comment").value;


       // if (id) {
            ShowLoader($('#main-que'));
            SaveChanges();
       // } else {
     //       createView(currentServiceId, currentNextId, '@Model.PreferredLanguageCode')
       // }
    }
    function saveLastQueClicked(e) {
        @*var id = $('input[name="opt"]:checked').val();
        var comment = document.getElementById("optional-comment").value;

            if (id == null || id == undefined || id == '' || id == "") {
                if ('@Model.PreferredLanguageCode' == 'ARABIC') {
                    kendo.alert('الرجاء تحديد إجابتك');
                }
                else {
                    kendo.alert('Please select your answer');
                }
                return false;
            } else {
           if (id) {*@
                    SaveChanges(true);
            //    }
            //}




    }

    function savelast() {
        SaveChanges();
    }


    function SaveChanges(disableLoad) {
        var flag = setQuestionList();
        if (flag) {
            var nextQueId = $("#nextId").attr("value");
            //   var multipleFieldValueId = $('input[name="opt"]:checked').val();
            var serviceId = currentServiceId;
            var isSubmit = false;
            var currentTopicId = currentQueId;
            //    var comment = document.getElementById("optional-comment").value;
            //   if (multipleFieldValueId == null || multipleFieldValueId == '' || multipleFieldValueId == undefined) {
            //       multipleFieldValueId = null;
            //   }
            var model = { 'ServiceId': serviceId, SurveyId: '@Model.SurveyId', QuestionAnswerList: $("#QuestionAnswerList").val() }

            ShowLoader($('#main-que'));
            //var url = "/assessment/assessment/SubmitAssessmentAnswer?serviceId=" + serviceId + "&isSubmit=" + isSubmit + "&currentQuestionId=" + currentQuestionId + "&multipleFieldValueId=" + multipleFieldValueId + "&comment=" + comment + "&timeElapsed=" + timeElapsed + "&nextQuestionId=" + nextQueId + "&currentAnswerId=" + currentAnswerId;
            var url = "/TAS/TalentAssessment/SubmitSurveyAnswer";
            $.ajax({
                url: url,
                type: "POST",
                data: { 'model': model, 'isSubmit': isSubmit, 'currentTopicId': currentNextId },
                success: function (data) {
                    HideLoader($('#main-que'));
                    if ('@Model.PreferredLanguageCode' == 'ARABIC') {
                        ShowNotification("حفظ بنجاح");
                    } else {
                        ShowNotification("Saved Successfully", "success");
                    }
                    if (disableLoad == null || disableLoad == false) {
                        createView(serviceId, nextQueId, '@Model.PreferredLanguageCode');
                    }
                    else {
                        var x = $("#lastId").attr("value");
                        createView(currentServiceId, x, '@Model.PreferredLanguageCode');

                    }
                }

            });
        }
        else {
            HideLoader($('#main-que'));
            if ('@Model.PreferredLanguageCode' == "ENGLISH") {
                kendo.alert("Please Answer All The Questions");
            }
            else {
                kendo.alert("الرجاء الإجابة على جميع الأسئلة");
            }
            $("#finalSubmit").modal('hide');
        }

    }

    function lastClicked(e) {
        ShowLoader($('#main-que'));
        var x = $("#lastId").attr("value");
        createView(currentServiceId, x, '@Model.PreferredLanguageCode');
    }

    function skipNext() {
        ShowLoader($('#main-que'));
        var nextQueId = $("#nextId").attr("value");
        createView(currentServiceId, nextQueId, '@Model.PreferredLanguageCode');
        $("#skipNext").modal('hide');
    }

    function submitClicked() {
       // var id = $('input[name="opt"]:checked').val();
       // var comment = document.getElementById("optional-comment").value;


         //   if (id == null || id == undefined || id == '' || id == "") {
          //      if ('@Model.PreferredLanguageCode' == 'ARABIC') {
                //    kendo.alert('الرجاء تحديد إجابتك');
                //}
          //      else {
          //          kendo.alert('Please select your answer');
          //      }
          //      return false;
          //  } else {
                $("#finalSubmit").modal('show');
          //  }


    }

    function complete() {
        var flag = setQuestionList();
        if (flag) {
            $("#finalSubmit").modal('hide');
            // $("#timeOver").modal('hide');
            var nextQueId = $("#nextId").attr("value");

            // var multipleFieldValueId = $('input[name="opt"]:checked').val();
            //  var comment = document.getElementById("optional-comment").value;
            var serviceId = currentServiceId;
            var isSubmit = true;
            ShowLoader($('#main-que'));
            var currentTopicId = currentQueId;
            var model = { 'ServiceId': serviceId, SurveyId: '@Model.SurveyId', QuestionAnswerList: $("#QuestionAnswerList").val() }
            var url = "/TAS/TalentAssessment/SubmitSurveyAnswer";
            $.ajax({
                url: url,
                type: "POST",
                data: { 'model': model, 'isSubmit': isSubmit, 'currentTopicId': currentNextId },
                success: function (data) {
                    HideLoader($('#main-que'));
                    if ('@Model.PreferredLanguageCode' == 'ARABIC') {
                        ShowNotification("حفظ بنجاح", "success");
                    } else {
                        ShowNotification("Survey Completed Successfully", "success");
                    }
                    var url = "/TAS/TalentAssessment/SurveyClosingInstruction?Id=@Model.SurveyId"+"&surveyScheduleUserId=@Model.SurveyScheduleUserId";
                    var win1 = GetMainWindow();
                    win1.iframeOpenUrl = url;
                    win1.OpenWindow({ Title: 'Complete Survey', Reload:true, Width: 1400, Height: 700 });
                }
            });
        }

        else {
            HideLoader($('#main-que'));
            $("#finalSubmit").modal('hide');
            if ('@Model.PreferredLanguageCode' == "ENGLISH") {
                kendo.alert("Please Answer All The Questions");
            }
            else {
                kendo.alert("الرجاء الإجابة على جميع الأسئلة");
            }
        }
    }


    var currentQueId = 0;
    var currentServiceId = 0;
    var currentNextId = 0;
    var timeElapsed = 0;
    var assessmentDuration = 0;
    @*var assessmentType = '@Model.AssessmentType';*@
    var currentAnswerId = null;
    var lang = '@Model.PreferredLanguageCode';

    function LoadEnglish() {
        var win = GetMainWindow();
        win.iframeOpenUrl = "/Tas/TalentAssessment/Survey?LanguageCode=ENGLISH&layout=Popup&Id=" + currentServiceId + "&currentTopicId=" + currentQueId+"&surveyScheduleUserId=@Model.SurveyScheduleUserId";
        win.OpenWindow({ Title: 'Question', Width: 1400, Height: 700 });
        return false;

    }

    function LoadArabic() {
        var win = GetMainWindow();
        win.iframeOpenUrl = "/Tas/TalentAssessment/Survey?LanguageCode=ARABIC&layout=Popup&Id=" + currentServiceId + "&currentTopicId=" + currentQueId +"&surveyScheduleUserId=@Model.SurveyScheduleUserId";
        win.OpenWindow({ Title: 'Question', Width: 1400, Height: 700 });
        return false;

    }

    function createView(serviceId, currTopicId, lang) {
        currentAnswerId = null;
        var url = "/TAS/TalentAssessment/GetSurveyQuestions?serviceId=" + serviceId + "&currentTopicId=" + currTopicId + "&lang=" + lang;
        $.ajax({
            url: url,
            dataType: 'json',
            success: function (data) {

                HideLoader($('#main-que'));

                if (data != null && data.QuestionList != null && data.QuestionList.length > 0) {

               //   if (data.IsAssessmentStopped == true) {
                           //   clearTimeout(t);

                           // $("#assessmentStop").modal('show');
                       // } else {
                        //document.getElementById("span_user").innerHTML = data.LoggedInUserName;
                        currentQueId = data.TopicId;
                        currentServiceId = '@Model.ServiceId';
                        currentNextId = data.NextId;


                    document.getElementById("topicName").innerHTML = data.TopicName;
                        document.getElementById("optionList").innerHTML = "";
                    $("#QuestionList").val(data.QuestionList);
                        if ('@Model.PreferredLanguageCode' == "ARABIC") {
                         // document.getElementById("description").style.textAlign = "right";
                            document.getElementById("topicName").style.textAlign = "right";
                            document.getElementById("optionList").style.textAlign = "right";

                        }

                    data.QuestionList.forEach(renderQuestionList);

                    if (data.FirstId != null && data.FirstId != "" ) {
                            document.getElementById("firstId").style.display = "";
                          //document.getElementById("firstId").value = data.FirstId;
                          $("#firstId").attr("value", data.FirstId);
                        } else {

                        }
                    if (data.FirstId == data.TopicId) {
                        document.getElementById("firstId").style.display = "none";
                    }
                    if (data.LastId == data.TopicId) {
                        document.getElementById("lastId").style.display = "none";
                    }
                      if (data.PreviousId != null && data.PreviousId != "") {
                            document.getElementById("previousId").style.display = "";
                          //document.getElementById("previousId").value = data.PreviousId;
                          $("#previousId").attr("value", data.PreviousId);
                        } else {
                            document.getElementById("previousId").style.display = "none";
                        }


                      if (data.NextId != null && data.NextId != "") {
                            document.getElementById("nextId").style.display = "block";
                            $("#nextId").attr("value", data.NextId);
                            document.getElementById("submit").style.display = "none";
                        } else {
                            document.getElementById("nextId").style.display = "none";
                          document.getElementById("submit").style.display = "";
                         // document.getElementById("savelast").style.display = "";
                        }

                    if (data.LastId != null && data.LastId != "" ) {
                        document.getElementById("lastId").style.display = "none";
                            $("#lastId").attr("value", data.LastId);
                        } else {
                            document.getElementById("lastId").style.display = "none";
                    }
                    debugger;
                    if (data.TopicId == data.LastId) {
                            document.getElementById("lastId").style.display = "none";
                        document.getElementById("savelast").style.display = "block";
                        } else {
                           document.getElementById("savelast").style.display = "none";
                            document.getElementById("lastId").style.display = "none";
                        }


                        //HideLoader();
                   // }
                }

            },
            error: function (errData) {
                //OnError(errData);
                HideLoader($('#main-que'));
            }
        });
    }
    var isCounter = false;
    var current_minutes = 0;
    var current_seconds = 0;
    var t;


    function updateSurvey(serviceId, currentTopicId) {
        var url = "/TAS/TalentAssessment/UpdateSurvey?serviceId=" + serviceId  + "&currentTopicId=" + currentTopicId;
            $.ajax({
                url: url,
                 type: "POST",
                success: function (data) {
                    if (data.IsAssessmentStopped == true) {
                           clearTimeout(t);
                         $("#assessmentStop").modal('show');
                    }
                }
            });
    }
    function retry() {
        $("#assessmentStop").modal('hide');
        window.location.reload();
    }

</script>

