@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@inject IUserContext _userContext
@{
    ViewData["Title"] = "Dms Book Browse";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model BookDetailViewModel

<style>

    .rating {
        width: 130px;
    }

    .rating-0 {
        background-color: #c0c0c0 !important;
        border-color: #999999 !important;
    }

        .rating-0:hover {
            background-color: #a6a6a6 !important;
            border-color: #808080 !important;
        }

    .rating-1 {
        background-color: #dc3545 !important;
        border-color: #c32232 !important;
        color: #fff;
    }

        .rating-1:hover {
            background-color: #ad1f2d !important;
            border-color: #821722 !important;
            color: #fff;
        }

    .rating-2 {
        background-color: #ff8c00 !important;
        border-color: #e67e00 !important;
    }

        .rating-2:hover {
            background-color: #e67e00 !important;
            border-color: #cc7000 !important;
        }

    .rating-3 {
        background-color: #FFBF00 !important;
        border-color: #cc9900 !important;
    }

        .rating-3:hover {
            background-color: #cc9900 !important;
            border-color: #997300 !important;
        }

    .rating-4 {
        background-color: #32CD32 !important;
        border-color: #28a428 !important;
    }

        .rating-4:hover {
            background-color: #28a428 !important;
            border-color: #1e7b1e !important;
        }

    .rating-5 {
        background-color: #388e3c !important;
        border-color: #2c6d2f !important;
        color: #fff;
    }

        .rating-5:hover {
            background-color: #2c6d2f !important;
            border-color: #1d491f !important;
            color: #fff;
        }

    .rating-star {
        color: #c0c0c0;
        font-size: 16px;
        cursor: pointer;
    }

    .rating-star-value {
        color: #808080;
        font-size: 14px;
        margin-top: -2px;
    }

    .rating-rated-1 {
        color: #dc3545;
    }

    .rating-rated-2 {
        color: #ff8c00;
    }

    .rating-rated-3 {
        color: #FFBF00;
    }

    .rating-rated-4 {
        color: #32CD32;
    }

    .rating-rated-5 {
        color: #388e3c;
    }

    #LeftPanel {
        height: 90vh;
        overflow: auto;
        overflow-x: hidden;
    }

    .search-header-slide-wrapper {
        background-color: #fff;
        padding-top: 4rem;
    }

    input.form-control {
        font-family: FontAwesome, "Lato", Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }

    .ais-search-box--submit {
        position: absolute;
        top: 0;
        right: 0.5rem;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .btn {
        border-radius: 5px;
    }

    .ais-search-box--input {
        background: #fff;
        padding: 1rem 10rem 1rem 1rem !important;
        font-size: 1.5rem;
        line-height: 1.3;
    }

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
    }

    textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
        padding: 0;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
        -webkit-box-shadow: inset 0 -1px 0 #007bff;
        box-shadow: inset 0 -1px 0 #007bff;
        font-size: 16px;
    }

        textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
            /* -webkit-box-shadow: inset 0 -2px 0 #ec6611; */
            box-shadow: inset 0 -2px 0 #007bff;
        }

    .mb20 {
        margin-bottom: 20px !important;
    }

    .k-listview {
        border: none;
        /* color: #212529;*/
        background: #e5eaee !important
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Montserrat-subs', Helvetica, sans-serif;
        font-weight: 600;
        line-height: 1.2;
        color: #3c3c3b;
    }

    .card-text {
        /*  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
        font-size: 0.9rem;
        line-height: 1;
        color: #3c3c3b;
    }

    .book-img {
        border: 1px solid silver;
        border-radius: 4px;
        height: 120px;
        width: 100px;
    }

    #kgrdCards {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
        /* Avoid cutout if font or line is bigger */
        font: inherit;
    }

    .k-listview-content {
        overflow: hidden;
    }

    .product {
        float: left;
        position: relative;
        width: 350px;
        margin: 0 5px;
        padding: 0;
    }

    .card {
        border-radius: 10px;
    }

    ul.fancytree-container {
        /*background-color: transparent;*/
    }

        ul.fancytree-container li {
            /*padding-bottom: 15px;*/
        }

    .product {
        float: left;
        position: relative;
        width: 350px;
        /*height: 500px;*/
        margin: 0 5px;
        padding: 0;
    }

    .card {
        border-radius: 10px;
        border: none;
    }

    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    html, body {
        height: 100%;
    }

    body {
        background-color: white;
    }

    .side-menu {
        background-color: white;
        width: 368px;
        height: 100%;
        // padding: 50px 0;
        box-sizing: border-box;
        /*background-image: linear-gradient(0deg,#3381b0,#87cefa);*/
        display: flex;
        flex-flow: column nowrap;
        box-shadow: 5px 0px 10px rgba(17, 26, 41, 0.6);
        position: absolute;
        transition: .5s;
        /* transform: translateX(0); */
    }

        .side-menu form {
            display: flex;
            margin: 0 10px 50px;
            border-radius: 100px;
            border: 1px solid #fff;
        }

            .side-menu form input,
            .side-menu form button {
                background-color: transparent;
                color: #fff;
                border: none;
                padding: 5px 10px;
            }

            .side-menu form input {
                width: 230px;
            }

        .side-menu label {
            cursor: pointer;
            position: absolute;
            width: 38px;
            height: 75px;
            background-color: #d0d0d0;
            color: #767575;
            right: -40px;
            top: 0;
            bottom: 0;
            margin: auto;
            line-height: 80px;
            text-align: center;
            font-size: 30px;
            border-radius: 0 10px 10px 0;
        }

    #side-menu-switch {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

        #side-menu-switch:checked + .side-menu {
            transform: translateX(-100%);
        }

            #side-menu-switch:checked + .side-menu label .fas {
                transform: scaleX(-1);
            }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
    }

    .side-menu form button {
        width: 50px;
    }

    .side-menu form input:focus::placeholder {
        color: #ccc;
    }

    .side-menu form input:focus,
    .side-menu form button:focus {
        outline: none;
    }

    nav {
        /*border-style: ridge;*/
    }

        nav a {
            display: block;
            padding: 10px;
            color: #4b4848;
            text-decoration: none;
            position: relative;
            font-family: 'Noto Sans TC',sans-serif;
        }

            nav a + a::before {
                content: '';
                position: absolute;
                border-top: 1px solid #fff;
                left: 10px;
                right: 10px;
                top: 0;
            }
            /* Method 1 */
            nav a .fas {
                margin-right: -1.1em;
                transform: scale(0);
                transition: .5s;
            }

            nav a:hover .fas {
                margin-right: 0.3em;
                transform: scale(1);
            }

    .header-title {
        text-align: center;
        color: #454a55;
        /*font-size: 32px;*/
        line-height: 38px;
        /*margin-bottom: 2rem;*/
        font-weight: 500;
    }

    body {
        background-color: white;
    }

    .rhs .rhs-menu, .rhs .rhs-menu > button {
        border-radius: 10px 0 0 10px;
        width: 44px;
    }

    .rhs .rhs-menu {
        background-color: #fff;
        box-shadow: 0 6px 30px 0 rgb(63 79 110 / 15%);
        flex-basis: auto;
        flex-grow: 0;
        left: -44px;
        position: absolute;
        top: 135px;
    }

        .rhs .rhs-menu > button {
            background-color: transparent;
            border: none;
            box-shadow: none;
            color: #fff;
            display: block;
            height: 46px;
            outline: none;
            position: relative;
        }

        .rhs .rhs-menu, .rhs .rhs-menu > button {
            border-radius: 10px 0 0 10px;
            width: 44px;
        }

    .rhs {
        background-color: #fff;
        bottom: 0;
        position: fixed;
        right: -430px;
        top: 0;
        transition: all .5s ease;
        width: 430px;
    }

    .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .ic {
        color: darkgray;
        font-size: 20px;
    }

    .comment-count {
        color: #f8f8f8;
        font-weight: 900;
        background-color: red;
        border-radius: 50%;
        font-size: 14px;
        position: fixed;
        width: 19px;
        top: 19%;
        right: 0%;
    }

    ul.fancytree-container {
        /*font-family: tahoma, arial, helvetica;
        font-size: 12pt;
        white-space: nowrap;
        padding: 1%;
        margin: 2%;
        background-color: white;*/
        /* border: 1px dotted gray; */
        /*min-height: 0%;
        position: relative;*/
    }

    ul.fancytree-container {
        /*border: none;*/
    }

    .fancytree-plain span.fancytree-title {
        /*color: #007bff;
        font-size: 13px;
        text-decoration: underline;
        cursor: pointer;*/
    }

    .jstree-default .jstree-anchor {
        line-height: 24px;
        height: 24px;
        color: #007bff;
        text-decoration: underline;
    }


    .card-label {
        font-size: 13px;
        line-height: 20px;
        color: #808080;
        padding-right: 3px;
    }

    .card-text {
        font-size: 13px;
        line-height: 20px;
        color: #808080;
        font-weight: 600;
    }

    .card-desc {
        font-size: 13px;
        line-height: 20px;
        color: #808080;
        text-align: justify;
    }

    .book-img {
        border: 1px solid silver;
        border-radius: 4px;
        height: 150px;
        width: 130px;
    }


    #slide-wrapper {
        padding-left: 380px;
        transition: all 0.4s ease 0s;
    }

    #sidebar-slide-wrapper {
        margin-left: -380px;
        left: 380px;
        width: 380px;
        background: silver;
        position: fixed;
        top: 0;
        height: 100%;
        overflow-y: auto;
        z-index: 1000;
        transition: all 0.4s ease 0s;
    }

    ul.fancytree-container {
        background-color: transparent;
        border: none;
    }

    #slide-wrapper.active {
        padding-left: 0;
    }

        #slide-wrapper.active #sidebar-slide-wrapper {
            left: 0;
        }

    #page-content-slide-wrapper {
        width: 100%;
        transition: all 0.4s ease 0s;
    }

    .page-content {
        padding-left: 50px;
        padding-right: 50px;
    }

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .sidebar-nav li {
            line-height: 40px;
            text-indent: 20px;
        }

            .sidebar-nav li a {
                color: #999999;
                display: block;
                text-decoration: none;
                padding-left: 60px;
            }

                .sidebar-nav li a span:before {
                    position: absolute;
                    left: 0;
                    color: #41484c;
                    text-align: center;
                    width: 20px;
                    line-height: 18px;
                }

                .sidebar-nav li a:hover,
                .sidebar-nav li.active {
                    color: #fff;
                    background: rgba(255,255,255,0.2);
                    text-decoration: none;
                }

                .sidebar-nav li a:active,
                .sidebar-nav li a:focus {
                    text-decoration: none;
                }

        .sidebar-nav > .sidebar-brand {
            height: 65px;
            line-height: 60px;
            font-size: 18px;
        }

            .sidebar-nav > .sidebar-brand a {
                color: #999999;
            }

                .sidebar-nav > .sidebar-brand a:hover {
                    color: #fff;
                    background: none;
                }

    #menu-toggle {
        text-decoration: none;
        float: left;
        color: #fff;
    }

    .toggle-btn {
        position: relative;
        left: 0;
        top: 250px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: silver;
        padding-left: 8px;
        padding-right: 9px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    #toggle-icon {
        font-size: 24px;
        font-weight: 600;
    }

    .book-tag-new {
        position: absolute;
        top: 45px;
        z-index: 100;
        left: 0;
        width: 73px;
        color: #fff;
    }

    .book-tag-text-new {
        background-color: green;
        height: 18px;
        padding-left: 5px !important;
        padding-top: 1px !important;
        font-size: 11px;
        font-weight: 600;
    }

    .book-tag-tail-new {
        width: 0px;
        height: 0px;
        border-right: 9px solid transparent;
        border-top: 9px solid green;
        border-left: 9px solid green;
        border-bottom: 9px solid green;
    }

    .book-tag-updated {
        position: absolute;
        top: 45px;
        z-index: 100;
        left: 0;
        width: 73px;
        color: #000;
    }

    .book-tag-text-updated {
        background-color: orange;
        height: 18px;
        padding-left: 3px !important;
        padding-top: 2px !important;
        font-size: 11px;
        font-weight: 600;
    }

    .book-tag-tail-updated {
        width: 0px;
        height: 0px;
        border-right: 9px solid transparent;
        border-top: 9px solid orange;
        border-left: 9px solid orange;
        border-bottom: 9px solid orange;
    }

    .toggle-btn i {
        color: #404040;
    }


    @@media (max-width:767px) {

        #slide-wrapper {
            padding-left: 0;
        }

        #sidebar-slide-wrapper {
            left: 0;
        }

        #slide-wrapper.active {
            position: relative;
            left: 250px;
        }

            #slide-wrapper.active #sidebar-slide-wrapper {
                left: 250px;
                width: 250px;
                transition: all 0.4s ease 0s;
            }

        #menu-toggle {
            display: inline-block;
        }
    }
</style>

<input type="hidden" id="SelectedPageId" />
<div id="slide-wrapper">
    <!-- Sidebar -->`
    <div id="sidebar-slide-wrapper">
        <div class="product col-12 pt-3">
            <div class="card">
                <div class="card-header text-center row">
                    <div class="col-10">
                        @Model.BookDetails.BookName
                    </div>
                    <div class="col-2">
                        <div class='btn-group grid-menu' id='tree-Assignee'><i class='fas fa-ellipsis-v'></i></div>
                    </div>
                </div>
                <div class="card-body">
                    @*<div class="book-tag row no-gutters d-none">
                            <div class="book-tag-text col-8">NEW</div>
                            <div class="book-tag-tail col-4"></div>
                        </div>
                        @if (Model.BookDetails.IsNew)
                        {
                            <div class="book-tag-new row no-gutters">
                                <div class="book-tag-text-new">NEW</div>
                                <div class="book-tag-tail-new"></div>
                            </div>
                        }
                        @if (Model.BookDetails.IsUpdated)
                        {
                            <div class="book-tag-updated row no-gutters">
                                <div class="book-tag-text-updated">UPDATED</div>
                                <div class="book-tag-tail-updated"></div>
                            </div>
                        }*@
                    <div class="row">
                        <div class="col-5" style="min-height:130px;text-align:center;">
                            <img class="book-img" src="/cms/Document/GetImageMongo?id=@Model.BookDetails.BookImage" onerror="OnBookError(this);">
                            @*<button type="button" class="star-popup-card btn btn-primary btn-xs mt-2 rating-@Model.BookDetails.RatingRounded" data-rating-rounded="@Model.BookDetails.RatingRounded" data-rating-count="@Model.BookDetails.RatingCount" data-service-id="@Model.BookDetails.ServiceId" data-my-rating="@Model.BookDetails.MyRating" data-rating="@Model.BookDetails.MyRating" data-rating-id="@Model.BookDetails.MyRatingId">@Model.BookDetails.Rating<i class="fas fa-star pl-1" aria-hidden="true"></i></button>*@
                        </div>
                        <div class="col-7">
                            <div class="pb-1"><span class="card-label">Book No:</span><span class="card-text">@Model.BookDetails.ServiceNo</span></div>
                            <div class="pb-1"><span class="card-label">Pages:</span><span class="card-text">1</span></div>
                            <div class="pb-1"><span class="card-label">Created By:</span><span class="card-text">@Model.BookDetails.CreatedBy</span></div>
                            <div class="pb-1"><span class="card-label">Last Updated:</span><span class="card-text">@Model.BookDetails.LastUpdatedDateDisplay</span></div>

                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-12">
                            <p class="card-desc">  @Html.Raw(Model.BookDetails.BookDescription)</p>
                          
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="product col-12 pt-3">
            <div class="card">
                <div class="card-header text-center">
                    File
                </div>
                <div class="card-body">

                    @if (Model.BookDetails.BookImage != null || Model.BookDetails.BookImage != "null")
                    {
                        @Model.BookDetails.BookName
                    }
                    else
                    {
                        <div id="no-data" style="display:none;margin:2%;text-align:center">No Document</div>
                    }

                    @*<div id="contentTreeView" class="category-tree" style="overflow-x:auto;"></div>
                        <div id="no-data" style="display:none;margin:2%;text-align:center">No Page</div>*@
                </div>
            </div>
        </div>
        @*<div class="rhs show-buttons">
                <div class="rhs-menu">
                    <button id="nb1" class="active">
                        <div class="d-inline-block" onclick="onBookPageCommentClick()" title="Comments">
                            <i class="fas fa-comments ic"></i>
                            <div class="comment-count">
                                <span id="commentCount"></span>
                            </div>
                        </div>
                    </button>

                    <button id="d4" class="active" title="Download page">
                        <div class="d-inline-block" onclick="onBookDownload('page')">
                            <i class="fas fa-download ic"></i>
                        </div>
                    </button>

                </div>

            </div>*@



    </div>
    <!-- Page content -->
    <div id="page-content-slide-wrapper">
        <button id="menu-toggle" style="" class="btn toggle-btn"><i id="toggle-icon" class="fa fa-angle-left"></i></button>
        <div id="main-div" class="page-content">
            <br />

            @if (Model.BookDetails.BookImage != null || Model.BookDetails.BookImage != "null")
            {
                <div id="pageIframeContent">
                    <iframe id="iframeContent" height="600" width="100%" style="border:none;"></iframe>
                </div>
            }
            else
            {
                <div id="no-data" style="display:none;margin:2%;text-align:center">No Document</div>
            }





        </div>
    </div>
</div>


@*<script type="text/x-kendo-template" id="template">
        <div class="row">
            <div class="col">#:CategoryName#</div>
            <div class="col"><a class="anc" style="color: dodgerBlue;text-decoration: underline;font-size: 14px;">#:BookName#</a></div>
        </div>
    </script>

    <script type="text/x-kendo-template" id="templateRelatedPage">
        <div class="row">
            <div class="col">#:CategoryName#</div>
            <div class="col"><a class="anc" style="color: dodgerBlue;text-decoration: underline;font-size: 14px;">#:BookName#</a></div>
            <div class="col"><a class="anc" style="color: dodgerBlue;text-decoration: underline;font-size: 14px;">Page</a></div>
        </div>
    </script>*@

<style>
    .card-desc {
        font-size: 13px;
        line-height: 20px;
        color: #808080;
        text-align: justify;
    }

    .anc {
        color: #007bff;
        text-decoration: underline
    }

    .k-listview {
        border: none;
        /* color: #212529; */
        background-color: transparent !important;
    }

    .categ-menu {
        border-radius: 50%;
        margin-left: 15px;
        font-size: 16px !important;
        padding-left: 9px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

        .categ-menu:hover {
            background-color: gray;
        }

    .fancytree-title {
        margin-top: -5px !important;
    }

    span.fancytree-node {
        min-height: 35px !important;
    }

    .categ-menu {
        border-radius: 50%;
        margin-left: 15px;
        font-size: 16px !important;
        padding-left: 9px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

        .categ-menu:hover {
            background-color: gray;
        }
</style>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#slide-wrapper").toggleClass("active");
        $("#toggle-icon").toggleClass("fa-angle-right");

    });

    var url = '@Url.Content($"~/cms/PreviewAttachment?ntsType=2")&Id=' + '@Model.BookDetails.BookImage';
    document.getElementById('iframeContent').src = url;


</script>