@using Synergy.App.ViewModel;
@using Kendo.Mvc.UI;
@using Synergy.App.Common;
@model ProgramDashboardViewModel

@{
    Layout = null;
}



<script src="~/lib/joint.js/lodash.js"></script>
<script src="~/lib/joint.js/backbone.js"></script>
<script src="~/lib/joint.js/joint.js"></script>
<script src="~/lib/joint.js/config/selection.js"></script>
<script src="~/lib/joint.js/dagre.js"></script>
<script src="~/lib/joint.js/graphlib.core.js"></script>
<script src="~/lib/joint.js/config/halo.js"></script>
@*<script src="~/js/CMS/processDiagram.js"></script>*@

@Html.Hidden("ProjectId", (string)ViewBag.ProjectId)

<script>
    $(document).ready(function () {
        console.log("ready!");
        $(".toggle-nav").trigger("click");
        loadDataonClickOfTree('@ViewBag.MenuGroupId');
    });
</script>




























<!--<div class="row" id="mainContent">
    <div class="col-xs-4" style=" margin-left: 18px;">-->
@*<div style="text-align: center; margin: 10px;"><button class="btn btn-primary" onclick="isNew()">New</button></div>
    <div style="text-align: center; margin: 10px;"><button class="btn btn-primary" onclick="isExisting()">Existing</button></div>*@

<!--<div style="text-align: center; margin: 10px;">-->
@*<br />*@
<!--<button style="margin-top:10px;" title="Zoom In" class="btn btn-primary" onclick="onZoomIn()"><span class="fas fa-search-plus"></span></button>
<button style="margin-top:10px;" title="Zoom Out" class="btn btn-primary" onclick="onZoomOut()"><span class="fas fa-search-minus"></span></button>
<button style="margin-top:10px;" title="Properties" class="btn btn-primary" onclick="openForm()"><span class="fas fa-bars"></span></button>-->
@*<div id="saveDiagram" style="text-align: center; margin: 10px;"><button class="btn btn-primary" onclick="SaveDiagram()">Save</button></div>*@
<!--<br />

</div>
<div class="row">-->
@*<div class="col-xs-3" style="margin-left:10px">

                @(Html.Kendo().TreeView()
        .Name("documentTypeTreeView").HtmlAttributes( new {@class="treeview"})
        .Events(e=>e.Select("OnSelect"))
        .DataTextField("Name")
        .TemplateId("ct-tv-template")
        .DataSource(dataSource => dataSource
            .Read(read => read
               .Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "TemplateTypeEnum" })
            )
        )
    )


                <script id="ct-tv-template" type="text/kendo-ui-template">
                    <span style="width:100%">   #: item.Name #</span>

                </script>



            </div>*@
<!--<div class="col-xs-6">
            <div style="text-align:center;font-weight:600;font-size:20px;">Add Items</div>
            <div id="stencil" style="text-align:center;margin-left:20px; overflow-x: scroll; overflow-y: scroll;"></div>
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div id="paper-container" style=" height: 800px; width: 950px; overflow-x:scroll; overflow-y:scroll;"><div id="paper" style="width:3000px"></div></div>
</div>
<!--<div class="col-xs-2">

    <br />
    <br />
    <div id="property" style="height:100%;background-color:#2D9FCA;width: 330px;padding:10px;">
        <div style="font-size:15px;color:white;text-align:center">PROPERTIES</div>
        <span style="color:white">Title</span>
        <br />
       @* @Html.Kendo().TextBox().Name("Title").HtmlAttributes(new { @style = "width:100%;", @maxlength = "30" })*@
    <input type="text" name="Title" class="form-control" style="width:100%" />

        <br />
        <br />
        <span style="color:white">Assigne To User</span>
        <br />
        @(Html.Kendo().DropDownList().Name("AssigneeUserId")
        .HtmlAttributes(new { @style = "width:100%;" })
        .OptionLabel("Select")
        //.Events(e => e.Change("OnTeamChange"))
        .DataTextField("Name")
        .DataValueField("Id")
        .DataSource(source =>
        {
        source.Read(read =>
        {
        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
        });
        })
        .AutoBind(true)
        .Filter(FilterType.Contains)
        )

        <br />
        <br />
        <span style="color:white">Owner User</span>
        <br />
        @(Html.Kendo().DropDownList().Name("OwnerUserId")
        .HtmlAttributes(new { @style = "width:100%;" })
        .OptionLabel("Select")
        //.Events(e => e.Change("OnTeamChange"))
        .DataTextField("Name")
        .DataValueField("Id")
        .DataSource(source =>
        {
        source.Read(read =>
        {
        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
        });
        })
        .AutoBind(true)
        .Filter(FilterType.Contains)
        )

        <br />
        <br />
        <span style="color:white">Start Date</span>
        <br />
        @Html.Kendo().DateTimePicker().Name("Start").Format(ApplicationConstant.DateAndTime.DefaultDateTimeFormat).HtmlAttributes(new { @style = "width:100%;" })

        <br /><br />
        <span style="color:white">End Date</span>
        <br />
        @Html.Kendo().DateTimePicker().Name("End").Format(ApplicationConstant.DateAndTime.DefaultDateTimeFormat).HtmlAttributes(new { @style = "width:100%;" })-->
-->
<!--@*<br /><br />
    <span style="color:white;display:none" >Link</span>
    <br />
    <div id="link" style="width: 100%;display:none"></div>*@-->
<!--<br /><br />
        <span style="color:white">Predecessor</span>
        <br />
        <div id="pred" style="width: 100%;"></div>

        <br /><br />
        <span style="color:white">Successor</span>
        <br />
        <div id="succ" style="width: 100%;"></div>

        <br /> <br />
        <button class="btn btn-primary" style="color:black;background-color:white;" onclick="saveProperties()">Update</button>

    </div>
</div>-->
<!--</div>


<div class="form-popup" id="myForm">
    <div id="property" style="height:480px;overflow-y:scroll; background-color:#2D9FCA;width: 330px;padding:10px;">
        <h4 style="color:white;font-weight:bold">Properties</h4>
        <span style="color:white">Title</span>
        <br />
        @*@Html.Kendo().TextBox().Name("Title").HtmlAttributes(new { @style = "width:100%;", @maxlength = "30" })*@
     <input type="text" name="Title" class="form-control" style="width:100%" />
        <br />
        <span style="color:white">Assigne To User</span>
        <br />
        @(Html.Kendo().DropDownList().Name("AssigneeUserId")
            .HtmlAttributes(new { @style = "width:100%;" })
            .OptionLabel("Select")
            //.Events(e => e.Change("OnTeamChange"))
            .DataTextField("Name")
            .DataValueField("Id")
            .DataSource(source =>
            {
            source.Read(read =>
            {
            read.Action("GetUserIdNameList", "User", new { area = "CMS" });
            });
            })
            .AutoBind(true)
            .Filter(FilterType.Contains)
            )

        <br />
        <span style="color:white">Owner User</span>
        <br />
        @(Html.Kendo().DropDownList().Name("OwnerUserId")
            .HtmlAttributes(new { @style = "width:100%;" })
            .OptionLabel("Select")
            //.Events(e => e.Change("OnTeamChange"))
            .DataTextField("Name")
            .DataValueField("Id")
            .DataSource(source =>
            {
            source.Read(read =>
            {
            read.Action("GetUserIdNameList", "User", new { area = "CMS" });
            });
            })
            .AutoBind(true)
            .Filter(FilterType.Contains)
            )

        <br />
        <span style="color:white">Start Date</span>
        <br />
        @Html.Kendo().DateTimePicker().Name("Start").Format(ApplicationConstant.DateAndTime.DefaultDateTimeFormat).HtmlAttributes(new { @style = "width:100%;" })

        <br />
        <span style="color:white">End Date</span>
        <br />
        @Html.Kendo().DateTimePicker().Name("End").Format(ApplicationConstant.DateAndTime.DefaultDateTimeFormat).HtmlAttributes(new { @style = "width:100%;" })

        <br />
        <span style="color:white">Predecessor</span>
        <br />
        <div id="pred" style="width: 100%;"></div>

        <br />
        <span style="color:white">Successor</span>
        <br />
        <div id="succ" style="width: 100%;"></div>

        <br /> <br />
        <button class="btn btn-primary" style="color:black;background-color:white;" onclick="saveProperties()">Update</button>
        <button class="btn cancel" style=" background-color: red; color: white;" onclick="closeForm()">Close</button>
    </div>
</div>

<style>

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        bottom: 50px;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }

    #paper {
        background: #ffffff;
    }

    #stencil {
        background: #ece2e3;
    }

    .html-element {
        position: absolute;
        background: #3498DB;
        /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
        pointer-events: none;
        -webkit-user-select: none;
        border-radius: 4px;
        border: 2px solid #2980B9;
        box-shadow: inset 0 0 5px black, 2px 2px 1px gray;
        padding: 5px;
        box-sizing: border-box;
        z-index: 2;
    }

        .html-element select,
        .html-element input,
        .html-element button {
            /* Enable interacting with inputs only. */
            pointer-events: auto;
        }

            .html-element button.delete {
                color: white;
                border: none;
                background-color: #C0392B;
                border-radius: 20px;
                width: 15px;
                height: 15px;
                line-height: 15px;
                text-align: middle;
                position: absolute;
                top: -15px;
                left: -15px;
                padding: 0;
                margin: 0;
                font-weight: bold;
                cursor: pointer;
            }

                .html-element button.delete:hover {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }

        .html-element select {
            position: absolute;
            right: 2px;
            bottom: 28px;
        }

        .html-element input {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border: none;
            color: #333;
            padding: 5px;
            height: 16px;
        }

        .html-element label {
            color: #333;
            text-shadow: 1px 0 0 lightgray;
            font-weight: bold;
        }

        .html-element span {
            position: absolute;
            top: 2px;
            right: 9px;
            color: white;
            font-size: 10px;
        }

    .circleE {
        width: 50px;
        height: 50px;
        border-radius: 250px;
        font-size: 12px;
        color: #fff;
        line-height: 50px;
        text-align: center;
        background: #000
    }
</style>-->
