@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.LandingPageController> Resource
@using Kendo.Mvc.UI
@using Synergy.App.Common
@using Synergy.App.ViewModel
@using System.Text
@model NoteViewModel
@{
    //ViewBag.Title = HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeeOrganizationName] + " ";
    //Layout = "~/Views/Shared/_LayoutModern.cshtml";
    //ViewBag.Title = "Dashboard";
    Layout = null /*"/Areas/Cms/Views/Shared/_LayoutCms.cshtml"*/;
}
@inject Synergy.App.Common.IUserContext _userContext
@*@section Header {
        @( Html.Partial(
                                                                    "_HeaderNew",
                                                                    new Tuple<string, StringBuilder>
                                                                    (HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeeOrganizationName] + "", new StringBuilder(

                                                                    )
                                                                    )))
    }*@
<head>
    <style>
        #MainPost {
            padding: 5px 5px;
            margin-bottom: -1px;
            width: 100%;
            height: 110vh;
            overflow: auto;
            overflow-x: hidden;
        }

        .group .input {
            margin-bottom: 25px;
            width: 100%;
            color: black;
            display: block;
            border: 1px;
            padding: 15px 20px;
            border-radius: 50px;
            background: rgba(142, 139, 139, 0.1);
        }

        .round {
            border-radius: 50%;
        }

        .gallery-cell {
            width: 100%;
            height: 200px;
            margin-right: 10px;
            align-content: center;
            padding-bottom: 10px;
            cursor: pointer;
            background: Transparent;
            counter-increment: gallery-cell;
            border-radius: 10px;
        }



        img {
            max-width: 100%;
            max-height: 100%;
        }

        .breadcrumb {
            display: none;
        }
    </style>
    <style>

        .fontstyle {
            font-size: 27px;
            color: #333333;
            display: block;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 8px;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
        }

        #AnnouncementPost {
            width: 100%;
            height: 75vh;
            overflow: auto;
            overflow-x: hidden;
        }

        #DocumentPost {
            width: 100%;
            height: 45vh;
            overflow: auto;
            overflow-x: hidden;
        }

        .sectionbox {
            margin-bottom: 30px;
            border-radius: 5px;
            color: #333333;
            background: #fff;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            min-height: 100px;
        }


        .iconwothtext {
            display: flex;
            cursor: pointer;
            align-items: center;
        }

            .iconwothtext.img {
                margin: 10px;
                padding: 10px;
                transition: margin 200ms;
            }


        .iconwothtextsub {
            display: flex;
            cursor: pointer;
            align-items: center;
        }

            .iconwothtextsub.img {
                margin: 10px;
                padding: 10px;
                transition: margin 200ms;
            }

        .profilemenustyle {
            font-size: 20px;
            color: #4b4f56;
            display: block;
            margin-top: 8px;
            border-bottom: 1px medium rgba(255, 255, 255, .5);
        }

        .leftmenustyle {
            font-size: 18px;
            color: #4b4f56;
            margin-bottom: 10px;
            font-weight: normal;
            margin-top: 10px;
            padding-left: 5px;
            border-bottom: 1px medium rgba(255, 255, 255, .5);
        }

        .leftsubmenustyle {
            font-size: 16px;
            color: #4b4f56;
            margin-bottom: 5px;
            font-weight: normal;
            margin-top: 5px;
            padding-left: 5px;
            border-bottom: 1px medium rgba(255, 255, 255, .5);
        }

        .submenustyle {
            font-size: 15px;
            color: darkgoldenrod;
            display: block;
            margin-bottom: 20px;
            border-bottom: 1px medium rgba(255, 255, 255, .5);
        }

        @@media (min-width: 800px) {
            body {
                background: #ebe9e7;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 96%;
                background-repeat: no-repeat;
                padding-top: 10px;
                overflow: hidden;
            }
        }



        @@media(max-width: 800px) {
            body {
                background: #ebe9e7;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 96%;
                background-repeat: no-repeat;
                padding-top: 10px;
                overflow: auto;
            }
        }

        .content {
            padding-top: 10px;
        }

        .card {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .content-popup {
            padding: 0px;
            padding-top: 0px;
        }

        .login-form {
            margin-top: 60px;
            min-height: 300px;
            perspective: 1000px;
            transform-style: preserve-3d;
            border-color: #dfdddb;
        }

        .login-wrap {
            background-color: transparent;
            border-radius: 10px;
        }

        .k-primary {
            border-color: lightgray;
        }

        .round {
            border-radius: 50%;
        }

        [data-letters]:before {
            content: attr(data-letters);
            display: inline-block;
            font-size: 1em;
            width: 1.8em;
            height: 1.8em;
            line-height: 1.8em;
            text-align: center;
            border-radius: 30%;
            background: DarkOrange;
            //background: String.Format("#{0:X6}", new Random((int)DateTime.Now.Ticks).Next(0x1000000));
            vertical-align: middle;
            margin-right: 1em;
            color: white;
        }

        #LeftPanel {
            height: 110vh;
            overflow: auto;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        ::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #F90;
            background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        }

        p {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            /*  width: 40em;
        animation: type 3s steps(60, end);*/
        }

        /*  p:nth-child(2) {
            animation: type2 3s steps(60, end);
        }

        p:nth-child(3) {
            animation: type3 6s steps(60, end);
        }*/

        @@keyframes type {
            from {
                width: 0;
            }
        }

        @@keyframes type2 {
            0% {
                width: 0;
            }

            50% {
                width: 0;
            }

            100% {
                width: 100;
            }
        }

        @@keyframes type3 {
            0% {
                width: 0;
            }

            50% {
                width: 0;
            }

            100% {
                width: 100;
            }
        }

        .content {
            margin-top: 29px !important;
        }
    </style>
</head>

<script>
    $(document).ready(function () {
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        //     var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
        if (isChrome) {
            $(".body-content").css('zoom', '0.8');
        }
    });
</script>
<div class="container-fluid body-content">
    <div class="row ">
        <div class="col-md-1 dahboard-height">
        </div>
        <div class="col-md-2 dahboard-height" id="LeftPanel">

            <div class="fontstyle">
                <div style="font-size: 19px">
                    <div>@*<a href="/hrs/positionchart?posId=@((HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeePositionId]) )">@((HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeeFullName]) )</a>*@ @(_userContext.Name)</div>
                </div>
            </div>
            @if (Model.base64Img == "")
            {
                <img width="120" height="120" src="~/Images/profile.jpg" class="image" style="width:120px; height:120px; border-radius:60px; text-align:right"> @*@Url.Content(String.Format("~/Images/{0}.png", Model.OwnerFirstLetter))">*@

            }
            else
            {
                <img src='@Model.base64Img' class="image" style="width:120px; height:120px; border-radius:60px; text-align:right" onerror='OnPhotoError(this);'>

            }

            <div class="submenustyle">
                <div>
                    @(_userContext.JobTitle ?? "NoJobTitle")
                    @*@((HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeeJobName]) ?? ERP.Translation.Message.NoJobTitle)*@
                </div>
            </div>

            <ul style="padding-left:0px;">
                <div class="fontstyle" style="font-size: 20px; color: dimgray; font-weight: bold; cursor:pointer" onclick="gotoHome()">
                    <div>@Resource["MyHome"]</div>
                </div>

                <div class="fontstyle" style="font-size: 20px; color: dimgray; font-weight: bold; cursor:pointer" onclick="gotoCompany()">
                    <div>@Resource["CompanyHome"]</div>
                </div>


            </ul>



        </div>
        <div class="col-md-5">
            <div class="sectionbox render" style="background-color:transparent;">
                <div id="MainPost">
                    <div class="main-gallery">
                        <div class="gallery-cell" style="background-color:forestgreen; opacity:0.7; width: 100%; display: flex; align-items: center; justify-content:center; font-size:70px; color:white"> <p class="css-typing">@Model.DepartmentName</p></div>
                    </div>
                    <div style="padding:15px;"></div>
                    <div class="no-gutter">
                        <div class="col-md-12">

                            <div class="sectionbox" style="height: 130px" id="CreatePost">
                                <div class="row" style="margin:10px;">
                                    <div class="col-2">
                                        <img class="img-profile rounded-circle" width="40" height="40" src="@Url.Action("getimagemongo","document",new { @area="Cms",id=_userContext.PhotoId})" onerror='OnPhotoError(this);'> @*@Url.Content(String.Format("~/Images/{0}.png", Model.OwnerFirstLetter))">*@
                                    </div>
                                    <div class="col-xs-10 col-md-10">
                                        <div style="margin-top:10px;padding-left:10px;color:dimgray">@Resource["Createapost"].....</div>
                                    </div>
                                </div><br />@*<hr />*@
                                <div class="row">
                                    <div class="col-xs-4 col-md-4">
                                    </div>
                                    <div class="col-xs-1 col-md-1">
                                    </div>
                                </div><br />
                            </div>
                        </div>
                        @{
                            await Html.RenderPartialAsync("/Areas/Cms/Views/LandingPage/_EndlessScrollList.cshtml", new EndlessScrollListViewModel { Name = "manageNoteList", UrlActionName = "ReadOrgManagePost", UrlControlName = "LandingPage", UrlAreaName = "Cms", PageSize = 10, OrgId = Model.DepartmentId });
                        }

                    </div>
                    @Html.HiddenFor(x => x.DataAction)
                </div>
            </div>
        </div>
        <div class="col-md-4" style="background:transparent">
            <div class="sectionbox" style="background:white; opacity:0.9; height:78vh">
                <div>
                    <div class="col-md-12">
                        <div tyle="margin-top:10px;" class="row">
                            <div class="fontstyle col-8" style="font-size: 20px; color: dimgray; font-weight: bold; text-align: left">
                                <div>@Resource["Announcements"]</div>
                            </div>
                            @*@if (2229.HasPermission())*@
                            @*@if (false)
                                {*@
                            <div class="fontstyle col-4" style="font-size: 18px; color: darkslateblue; font-weight: normal; text-align: right; cursor: pointer">
                                <div class="k-icon k-i-plus-circle" style="font-size:28px;color:darkgray" onclick="createGreetingAnnouncement()" title="@Resource["ImgTitleAddAnnouncement"]"></div>
                            </div>
                            @*}*@


                        </div>
                        <div class="profilemenustyle col-md-12 " style="padding: 4px;" id="AnnouncementPost">
                            @{
                                await Html.RenderPartialAsync("~/Areas/Cms/Views/LandingPage/_Announcements.cshtml", new NoteSearchViewModel { Operation = DataOperation.Read, ReturnUrl = "/nts/Note/OrgHome" });

                            }

                        </div>
                    </div>


                </div>


            </div>
            @*<div class="sectionbox" style="background:white; opacity:0.9; height:55vh">
                    <div>
                        <div class="col-md-12">
                            <div style="margin-top:10px; height:100%">
                                <div class="fontstyle col-xs-12" style="font-size: 20px; color: dimgray; font-weight: bold; text-align: left">
                                    <div>Documents</div>
                                </div>

                            </div>
                            <div class="profilemenustyle col-md-12 " style="padding: 4px;" id="DocumentPost">
                                @(Html.Kendo().ListView<NoteViewModel>()
                                                                .Name("listView-orgdoc")
                                                                .TagName("div")
                                                                .AutoBind(true)
                                                                .ClientTemplateId("templatedoc")
                                //.DataSource(dataSource =>
                                //{
                                //    dataSource.Read(read => read.Action("GetOrgDocument", "Note", new { orgId = Model.DepartmentId }));
                                //})

                                )
                            </div>
                        </div>


                    </div>


                    <div class="col-md-1 dahboard-height">

                    </div>
                </div>*@

        </div>
    </div>
    <script type="text/x-kendo-tmpl" id="templatedoc">
        <div class="iconwithtextnoanim" style="padding-left:10px; margin-bottom: 10px;background-color:lightcyan;cursor:pointer" onclick="DownloadOrgDoc(#=Id#)">
            <div id="#:Id#"></div>

            <div>
                <div class="iconwithtextnoanim" style="padding-left: 10px;">
                    <span class="k-icon k-i-document-manager" style="font-size:24px; padding-top:17px"></span>
                    <div style="font-size: 10px; padding-left: 10px;"></div>
                    <div style="font-size: 17px">#=Description#</div>
                </div>
                <div class="iconwithtextnoanim" style="margin-bottom:10px; padding-left: 30px;">
                    <div style="font-size: 16px; color: midnightblue"></div>
                    <div style="font-size: 16px; color: dimgrey">#=NoteNo#</div>
                </div>
            </div>

        </div>
    </script>
    <script>
    $(document).ready(function () {
        $("#textboxproject").hide();
        $("#buttonproject").hide();
        $("#bid").hide();
        $("#bsid").hide();
        $("#bnid").hide();
        $('#shareid').hide();

    });

    $('#CreateGroup').click(function (e) {
        CreateGroup(e);
    });
    $('#tId').click(function (e) {
        $("#bid").toggle(700);
        $("#tclose").toggle(700);
    });
    $('#sId').click(function (e) {
        $("#bsid").toggle(700);
        $("#sclose").toggle(700);
    });
    $('#nId').click(function (e) {
        $("#bnid").toggle(700);
        $("#nclose").toggle(700);
    });
    $('#Group').click(function (e) {
        window.location.href = "/nts/note/grouplist";
    });

    function gotoTask(mode) {
        window.location.href = "/nts/task?mode=ASSIGN_TO&taskStatus=" + mode;
        }

        function DownloadOrgDoc(id) {
            var ru = encodeURIComponent("/nts/Note/OrgHome");
            var url = "/nts/Note/Manage?ru=" + ru +"&NoteId=" + id;
            window.location.href = url;
           // iframeOpenUrl = "/nts/Note/DocumentDownload?noteId=" + id;
           // var wnd = $("#kiframepopupwindow").data("kendoWindow");
           // wnd.setOptions({
           //     width: 800,
           //     height: 450,
           //     title: "Document"
           // });
           // wnd.center().open();
        }

    function gotoService(mode) {
        window.location.href = "/nts/service?mode=REQ_BY&serviceStatus=" + mode;
    }

    function gotoNote(mode) {
        window.location.href = "/nts/note?mode=CREATED_BY&noteStatus=" + mode;
    }

    function CreateGroup() {

        iframeOpenUrl = "/admin/team/CreateGroup";
        var wnd = $("#kiframepopupnotitlewindow").data("kendoWindow");
        wnd.setOptions({
            width: 600,
            height: 110,
            title: "@Html.Raw(Resource["DescribeGroup"])"

        });
        wnd.wrapper.find('.k-window-titlebar').css({
            'background-color': 'transparent',
            'border-bottom-style': 'none'
        });
        wnd.center().open();

    }

    function Close(redirect) {
        var wnd = $("#kiframepopupnotitlewindow").data("kendoWindow");
        wnd.close();
    }

    function AddProjectOnClick() {
        $("#textboxproject").show();
        $("#buttonproject").show();
        $("#addproject").hide();
    }


    function CancelProjectOnClick() {
        $("#textboxproject").hide();
        $("#buttonproject").hide();
        $("#addproject").show();
    }


    function OnProjectsDataBound(e) {
        alert("zxczxcx");
    }


    function createAnnouncements(e) {
        var ru = "/cms/LandingPage/OrgHome";
        window.location.href = "/cms/LandingPage/GotoAnnouncements?ru="+ru;
    }

    function createGreetingAnnouncement(e) {
        var ru = "/cms/LandingPage/OrgHome";
        url = "/cms/LandingPage/GreetingAnnouncement?ru="+ru;
     var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({
            Title: '@Html.Raw(Resource["Announcement"])', Width: 550,Height: 500
        });
    }
    function gotoHome(e) {
        var url = "/cms/LandingPage/ManagePost";
        LoadPartailView(url, $('#cms-content'));
    }

    function gotoCompany(e) {
        var url = "/cms/LandingPage/Companyhome";
        LoadPartailView(url, $('#cms-content'));
    }

     $('#CreatePost').click(function (e) {
         SearchBack();
    });
    function OnTeamSearch(e) {
        iframeOpenUrl = "/admin/team/searchteam";
        var wnd = $("#kiframepopupwindow").data("kendoWindow");
        wnd.setOptions({
            width: 620,
            height: 300,
            title: "@Html.Raw(Resource["SearchGroup"])"
        });
        wnd.wrapper.find('.k-window-titlebar').css({
            'background-color': 'transparent',
            'border-bottom-style': 'none'
        });
        wnd.center().open();
    }
    function SearchBack() {

        @*iframeOpenUrl = "/nts/note/CreatePost?templateMasterCode=GROUP_MESSAGE&ownerType=Organization&orgId=@Model.DepartmentId&sourcePost=ORG";*@

        var win = GetMainWindow();
        win.iframeOpenUrl = "/cms/LandingPage/CreatePost?templateMasterCode=GROUP_MESSAGE&ownerType=Organization&orgId=@Model.DepartmentId&sourcePost=ORG";
        win.OpenWindow({
            Title: '@Html.Raw(Resource["PostingTo"])', Width: 600, Height: 430
        });

        }
        function CallBack() {
            manageNoteList_Refresh($('#manageNoteList'));
            $("#kgrdNote").data("kendoListView").dataSource.read();
            return false;
        }
        function RefreshPageBack()
        {
            //window.location.href = window.location.href;
            manageNoteList_Refresh($('#manageNoteList'));
            $("#kgrdNote").data("kendoListView").dataSource.read();
            return false;
        }
    function ClosePost(redirect) {
        var wnd1 = $("#kiframepopupnotitlewindow").data("kendoWindow");
        wnd1.close();
        manageNoteList_Refresh($('#manageNoteList'));
        return false;
        //window.location.reload();
        //var wnd1 = $("#kiframepopupwindow").data("kendoWindow");
        //wnd1.close();
        //var wnd = $("#kiframepopupnotitlewindow").data("kendoWindow");
        //wnd.close();


        //manageNoteList_LoadData($('#manageNoteList'));
    }
    function OnServiceCreate(e) {
        iframeOpenUrl = "/nts/service/Create";
        var wnd = $("#kiframepopupwindow").data("kendoWindow");
        wnd.setOptions({
            width: 800,
            height: 400,
            title: "@Html.Raw(SharedResource["CreateService"])"
        });
        wnd.center().open();
    }
    function CloseService(redirect, tempId) {
        var wnd = $("#kiframepopupwindow").data("kendoWindow");
        wnd.close();
        if (redirect) {
            window.location.href = "/nts/service/Manage?templateId=" + tempId;
        }
    }
    function onDataBound(e) {
        // kendoConsole.log("Data bound");
    }
    $(function () {
        $(document).bind("kendo:skinChange", updateTheme);
    });
    function updateTheme() {
        $("#chart").getKendoChart().setOptions({ theme: kendoTheme });
    }

    function gotoManpower() {
        window.location.href = "/hrs/positionchart?posid=@Model.PositionId";
    }

    function gotoWorklist() {
        window.location.href = "/Nts/ntsHome";
    }

    function gotoSps() {
        window.location.href = "/sps/spshome/index";
    }

    function gotoPms() {
        window.location.href = "/pms/pmshome/index";
    }
    function OnTeamChange(e) {
        var usr = $("#TeamMemberId").data("kendoDropDownList");
        if (usr.value() != '') {
            $("#chartSummary").data("kendoChart").dataSource.read({ teamMemberId: usr.value() });
        }
        else {
            $("#chartSummary").data("kendoChart").dataSource.read();
        }
        $("#chartSummary").data("kendoChart").refresh();
    }

        function loadOrgHome() {
            window.location.href = window.location.href;
        }
        function PhotoError(obj) {
            obj.onerror = null;
            obj.src = '/images/profile.jpg';

        };
    </script>
