@using CMS.Data.Model
@using CMS.UI.ViewModel
@using CMS.Common;
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Requirement Dashboard";
   // Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}
@model RecruitmentCandidateElementInfoViewModel


<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

    <form asp-controller="RecruitmentDashboard" asp-action="ManagePayElement" method="post" class="form-horizontal">
        <div id="validation-summary-managepage" class="text-danger" asp-validation-summary="All"></div>
        <div class="row no-gutters pad-10">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="ElementId">Elements</label>
                    </div>
                    @(Html.Kendo().DropDownListFor(x=>x.ElementId)
                                .DataTextField("ElementName")
                                        .DataValueField("Id")
                                         .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                source.Read(read =>
                                {
                                    read.Action("GetElementIdNameList", "RecruitmentDashboard");
                                });
                                })
                               // .Value(Model.Status.ToString())
                                .HtmlAttributes(new { @class="form-control", style = "width: 80%" })
                    )

                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">

                    <input asp-for="Value" type="number" class="form-control" placeholder="Enter Value" autocomplete="off" style="width:80%" />
                    <label for="Value">Enter Value</label>
                </div>
            </div>


            @*<div class="col-3">
            @(Html.Kendo().DropDownListFor(model => model.ElementId)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetElementIdNameList", "RecruitmentDashboard");
                                        });
                                    })
                                    //.OptionLabel("Select")
                                    .DataTextField("ElementName")
                                    .DataValueField("Id")
                                    .Filter(FilterType.Contains)
                                    .HtmlAttributes(new { @class = "form-control-plaintext txt-desc"/*, @style = "border-color: #d7d6d6;border-radius: 4px;width: 100%;"*/ })
                                    )
        </div>
        <div class="col-3">
            <div class="form-label-group">
                <input asp-for="Value" type="text" style="margin-right:5px;" />
                <label>Value</label>
            </div>

        </div>*@
            @*<div class="col-3">

                <input asp-for="Transportation" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Transportation</label>


        </div>
        <div class="col-3">

                <input asp-for="AnnualLeave" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Annual Leave</label>

        </div>
        <div class="col-3">

                <input asp-for="Gratuity" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Gratuity</label>


        </div>

        <div class="col-3">

                <input asp-for="Accommodation" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Accommodation</label>


        </div>
        <div class="col-3">

                <input asp-for="ProfessionalAllowance" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Professional Allowance</label>


        </div>
        <div class="col-3">

                <input asp-for="Food" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Food</label>


        </div>
        <div class="col-3">

                <input asp-for="UtilityAllowance" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Utility Allowance</label>


        </div>
        <div class="col-3">

                <input asp-for="Laundry" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Laundry</label>

        </div>

        <div class="col-3">

                <input asp-for="Basic" type="checkbox" class="k-checkbox" style="margin-right:5px;" />
                <label>Basic</label>

        </div>*@


        </div>

        @Html.HiddenFor(x => x.ApplicationId)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.Id)
       
        <div class="cms-footer">
            <div class="col-sm-12" style="text-align:right;">
                <button type="button" class="btn btn-light" onclick="closeNav();">Close</button>
                <button type="submit" class="btn btn-success" @*onclick="OnSave()"*@>Save</button>

            </div>
         
        </div>
    </form>
</div>

<script type="text/javascript">
      $(document).ready(function () {
      
        if ('@ViewBag.Success' == "True") {
            closeNav();
            window.parent.$("#grid").data("kendoGrid").dataSource.read();
        }

    });

    function closeNav() {
        //window.parent.CloseIframePopup1();
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>



