@using CMS.Data.Model
@using CMS.UI.ViewModel
@using CMS.Common;
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Requirement Dashboard";
    // Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}
@model ApplicationViewModel

<script type="text/javascript">
      $(document).ready(function () {

        if ('@ViewBag.Success' == "True") {
            ShowNotification("Saved Successfully", "success");
            closeNav();
          //  window.parent.$("#grid").data("kendoGrid").dataSource.read();
        }

    });

    function closeNav() {
        //window.parent.CloseIframePopup2();
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }






</script>

<style>
    .radio-input {
        width: 14px;
        height: 14px;
        float: left;
    }

    .radio-text {
        padding: 0 0 0 12px;
    }

    .tab-scroll {
        overflow-x: scroll;
    }

    .txt-attribute {
        font-size: 14px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #ffffff;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        -webkit-overflow-scrolling: touch;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        background: #f0f0f0;
    }

    tr:nth-child(even) {
        background-color: #dcdada;
    }

    .table-header-row {
        background-color: #1D4993;
        color: #ffffff;
    }

    button, input {
    }

    button, input, optgroup, select, textarea {
        font-family: Roboto;
        font-size: 14px;
    }

    label {
        display: inline-block;
        /*margin-bottom: .5rem;*/
        /*width: 100%;*/
        /*margin: 0;*/
        font-size: 14px;
    }


</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;height:1250px">

    <form asp-controller="RecruitmentDashboard" asp-action="ManageCompetenceMatrix" method="post" class="form-horizontal">
        <div id="validation-summary-managepage" class="text-danger" asp-validation-summary="All"></div>
        <div @*class="row no-gutters pad-10"*@>



            @if (Model.Source == "Hr")
            {

                <div class="row no-gutters pad-10">
                    <div class="col-6 pad-10">
                        <div class="form-label-group" style="padding-right:25px">
                            <div>
                                <label for="RequirementQualification">Requirement Qualification</label>
                            </div>
                            @Html.Kendo().TextBoxFor(x => x.RequirementQualification)
                        </div>
                    </div>

                    <div class="col-6 pad-10" style="padding-right:25px">
                        <div class="form-label-group">
                            <div>
                                <label for="RequirementTechnical">Requirement Technical</label>
                            </div>

                            @Html.Kendo().TextBoxFor(x => x.RequirementTechnical)
                        </div>
                    </div>





                </div>

                <div class="row no-gutters pad-10">
                    <div class="col-6 pad-10">
                        <div class="form-label-group" style="padding-right:25px">
                            <div>
                                <label for="RequirementSpecialization">Requirement Specialization</label>
                            </div>
                            @Html.Kendo().TextBoxFor(x => x.RequirementSpecialization)
                        </div>
                    </div>
                    <div class="col-6 pad-10">

                        <div class="form-label-group" style="padding-right:25px">
                            <div>
                                <label for="RequirementITSkills">Requirement IT Skills</label>
                            </div>

                            @Html.Kendo().TextBoxFor(x => x.RequirementITSkills)
                        </div>
                    </div>

                </div>
                <div class="row no-gutters pad-10">
                    <div class="col-6 pad-10">
                        <div class="form-label-group" style="padding-right:25px">
                            <div>
                                <label for="RequirementExperience">Requirement Experience</label>
                            </div>

                            @Html.Kendo().TextBoxFor(x => x.RequirementExperience)
                        </div>

                    </div>
                </div>


            }

            else
            {
                @*<div class="row">
                    <div class="col"><label class="col-form-label font-weight-bold">Credentials on Joining<br></label></div>
                </div>*@
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><label class="col-form-label"><strong>Credentials on Joining&nbsp;</strong><br></label></div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="table-responsive tab-scroll">
                            <table class="table">
                                <thead>
                                    <tr class="table-header-row">
                                        <th class="text-center">Qualification &amp; Experience</th>
                                        <th class="text-center" colspan="0">Requirement</th>
                                        <th>Actual </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt-attribute">Educational Qualification</td>
                                        <td>  @Html.DisplayFor(x => x.RequirementQualification)</td>
                                        <td> @Html.Kendo().TextBoxFor(x => x.ActualQualification)</td>
                                    </tr>
                                    <tr>
                                        <td class="txt-attribute">Technical Qualification</td>
                                        <td> @Html.DisplayFor(x => x.RequirementTechnical)</td>
                                        <td colspan="2"> @Html.Kendo().TextBoxFor(x => x.ActualTechnical)</td>
                                    </tr>
                                    <tr>
                                        <td class="txt-attribute">No. of Year Experience</td>
                                        <td>  @Html.DisplayFor(x => x.RequirementExperience)</td>
                                        <td colspan="2"> @Html.Kendo().TextBoxFor(x => x.ActualExperience)</td>
                                    </tr>
                                    <tr>
                                        <td class="txt-attribute">Specialisation/Expertise<br></td>
                                        <td> @Html.DisplayFor(x => x.RequirementSpecialization)</td>
                                        <td colspan="2"> @Html.Kendo().TextBoxFor(x => x.ActualSpecialization)</td>
                                    </tr>
                                    <tr>
                                        <td class="txt-attribute">IT Skills<br></td>
                                        <td>@Html.DisplayFor(x => x.RequirementITSkills)</td>
                                        <td colspan="2">  @Html.Kendo().TextBoxFor(x => x.ActualITSkills)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div>
                    <div class="col"><label class="col-form-label font-weight-bold">Other Information<br></label></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive tab-scroll">
                            <table class="table">
                                <thead>
                                    <tr class="table-header-row"></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt-attribute">Nature of work handled<br></td>
                                        <td class="txt-attribute"> @Html.Kendo().TextBoxFor(x => x.NatureOfWork)</td>
                                        <td class="txt-attribute">Field of exposure<br></td>
                                        <td class="txt-attribute"> @Html.Kendo().TextBoxFor(x => x.FieldOfExposure)</td>
                                    </tr>
                                    <tr>
                                        <td class="txt-attribute">Trainings undergone</td>
                                        <td class="txt-attribute"> @Html.Kendo().TextBoxFor(x => x.TrainingsUndergone)</td>
                                        <td class="txt-attribute">Positions worked</td>
                                        <td class="txt-attribute"> @Html.Kendo().TextBoxFor(x => x.PositionsWorked)</td>
                                    </tr>
                                    <tr>
                                        <td class="txt-attribute">Certificate course/Membership(if any)</td>
                                        <td class="txt-attribute">@Html.Kendo().TextBoxFor(x => x.CertificateCourse) </td>
                                        <td class="txt-attribute">Driving License</td>
                                        <td class="txt-attribute"> @Html.Kendo().TextBoxFor(x => x.DrivingLicense)</td>
                                    </tr>
                                    <tr>
                                        <td class="txt-attribute">Countries worked</td>
                                        <td class="txt-attribute"> @Html.Kendo().TextBoxFor(x => x.CountriesWorked)</td>
                                        <td class="txt-attribute">Extra curricular activity</td>
                                        <td colspan="2"> @Html.Kendo().TextBoxFor(x => x.ExtraCurricular)</td>
                                    </tr>
                                    <tr>
                                        <td class="txt-attribute">Major organisation worked<br></td>
                                        <td class="txt-attribute"> @Html.Kendo().TextBoxFor(x => x.OrganizationWorked)</td>
                                        <td class="txt-attribute">Any Other(Language etc.)</td>
                                        <td class="txt-attribute"> @Html.Kendo().TextBoxFor(x => x.AnyOtherLanguage)</td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

            @*//else
            //{*@

            <!--<div class="row no-gutters pad-10">

        <div class="col-6 pad-10">
            <div class="form-label-group" style="padding-right:135px;width:500px">
                <div>
                    <label for="RequirementQualification">Requirement Qualification</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.DisplayFor(x => x.RequirementQualification)
            </div>

        </div>

        <div class="col-6 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="ActualQualification">Actual Qualification</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.ActualQualification)
                </div>

            </div>

        </div>

        <div class="row no-gutters pad-10">

            <div class="col-6 pad-10">
                <div class="form-label-group" style="padding-right:135px;width:500px">
                    <div>
                        <label for="RequirementTechnical">Requirement Technical</label>
                    </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.DisplayFor(x => x.RequirementTechnical)
            </div>

        </div>

        <div class="col-6 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="ActualTechnical">Actual Technical</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.ActualTechnical)
                </div>

            </div>

        </div>

        <div class="row no-gutters pad-10">

            <div class="col-6 pad-10">
                <div class="form-label-group" style="padding-right:135px;width:500px">
                    <div>
                        <label for="RequirementExperience">Requirement Experience</label>
                    </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.DisplayFor(x => x.RequirementExperience)
            </div>

        </div>

        <div class="col-6 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="ActualExperience">Actual Experience</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.ActualExperience)
                </div>

            </div>

        </div>

        <div class="row no-gutters pad-10">

            <div class="col-6 pad-10">
                <div class="form-label-group" style="padding-right:135px;width:500px">
                    <div>
                        <label for="RequirementSpecialization">Requirement Specialization</label>
                    </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.DisplayFor(x => x.RequirementSpecialization)
            </div>

        </div>

        <div class="col-6 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="ActualSpecialization">Actual Specialization</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.ActualSpecialization)
                </div>

            </div>

        </div>

        <div class="row no-gutters pad-10">

            <div class="col-6 pad-10">
                <div class="form-label-group" style="padding-right:135px;width:500px">
                    <div>
                        <label for="RequirementITSkills">Requirement IT Skills</label>
                    </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.DisplayFor(x => x.RequirementITSkills)
            </div>

        </div>

        <div class="col-6 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="ActualITSkills">Actual IT Skills</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.ActualITSkills)
                </div>

            </div>

        </div>-->
            <!--<div class="row no-gutters pad-10">

        <div class="col-4 pad-10">-->
            @*<input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="off" width="300" />*@
            <!--<div class="form-label-group" style="padding-right:25px">
                <div>
                    <div><label for="TrainingsUndergone">Trainings Undergone</label></div>
                </div>
                @Html.Kendo().TextBoxFor(x => x.TrainingsUndergone)
            </div>
        </div>
        <div class="col-4 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="CountriesWorked">Countries Worked</label>
                </div>-->
            @*<input asp-for="OfferDesigination" type="text" class="form-control" required="required" autocomplete="off" style="margin-right:60px;" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.CountriesWorked)
            </div>
        </div>

        <div class="col-4 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="OrganizationWorked">Organization Worked</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.OrganizationWorked)
                </div>

            </div>


        </div>


        <div class="row no-gutters pad-10">


            <div class="col-4 pad-10">-->
            @*<input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="off" width="300" />*@
            <!--<div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="FieldOfExposure">Field Of Exposure</label>
                </div>
                @Html.Kendo().TextBoxFor(x => x.FieldOfExposure)
            </div>
        </div>

        <div class="col-4 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="PositionsWorked">Positions Worked</label>
                </div>-->
            @*<input asp-for="OfferDesigination" type="text" class="form-control" required="required" autocomplete="off" style="margin-right:60px;" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.PositionsWorked)
            </div>
        </div>

        <div class="col-4 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="DrivingLicense">Driving License</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.DrivingLicense)
                </div>

            </div>


        </div>

        <div class="row no-gutters pad-10">

            <div class="col-4 pad-10">
                <div class="form-label-group" style="padding-right:25px">
                    <div>
                        <label for="NatureOfWork">Nature Of Work</label>
                    </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.NatureOfWork)
            </div>

        </div>



        <div class="col-4 pad-10">
            <div class="form-label-group" style="padding-right:25px">
                <div>
                    <label for="AnyOtherLanguage">Any Other Language</label>
                </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.AnyOtherLanguage)
            </div>

        </div>


        <div class="col-4 pad-10">-->
            @*<input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="off" width="300" />*@
            <!--<div class="form-label-group">
                    <div>
                        <label for="ExtraCurricular">Extra Curricular</label>
                    </div>
                    @Html.Kendo().TextBoxFor(x => x.ExtraCurricular)
                </div>
            </div>


        </div>-->
            @*}*@
        </div>


        @*@Html.HiddenFor(x => x.ApplicationId)*@
        @Html.HiddenFor(x => x.Source)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TaskStatus)

        @if (Model.TaskStatus == "INPROGRESS" || Model.TaskStatus == "OVERDUE")
        {
            <div class="cms-footer">
                <div class="col-sm-12" style="text-align:right;">
                    @*<button type="button" class="btn btn-light" onclick="closeNav();">Close</button>*@
                    <button type="submit" class="btn btn-success" @*onclick="OnSave()"*@>Save</button>

                </div>

            </div>
        }

    </form>
</div>




<!--<div class="row no-gutters pad-10">

    <div class="col-4 pad-10">
        <div class="form-label-group" style="padding-right:25px">
            <div>
                <label for="ActualQualification">Actual Qualification</label>
            </div>-->
            @*<input asp-for="GaecNo" type="text" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.ActualQualification)
        </div>

    </div>

    <div class="col-4 pad-10">
        <div class="form-label-group" style="padding-right:25px">
            <div>
                <label for="ActualTechnical">Actual Technical</label>
            </div>-->
            @*<input asp-for="OfferDesigination" type="text" class="form-control" required="required" autocomplete="off" style="margin-right:60px;" />*@
            <!--@Html.Kendo().TextBoxFor(x => x.ActualTechnical)
        </div>
    </div>

    <div class="col-4 pad-10">
        <div class="form-label-group" style="padding-right:25px">
            <div>
                <label for="ActualExperience">Actual Experience</label>
            </div>

            @Html.Kendo().TextBoxFor(x => x.ActualExperience)
        </div>
    </div>



</div>-->



