@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@*@using Kendo.Mvc.UI*@
@model PayPropertyTaxViewModel;

<style>
    .lblsr {
        font-size: 16px;
        font-weight: 600;
        color: #404040;
    }

    .lbls1 {
        font-size: 16px;
        padding-left: 15px;
        color: #404040;
    }

    .heading {
        color: blue;
    }
</style>

<script>

    function CallBegin() {

        if ($("#Mobile").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Mobile is required");

            return false;
        }

        if ($("#Email").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Email is required");

            return false;
        }




    }

    var onAjaxSuccess = function (res) {

        if (res.success) {

            ShowNotification("Saved Successfully", "success");
            $("#Pay_content").empty();
        }

        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
        }
    };
</script>
@if (Model != null)
{
    <div style="padding-left:15px;padding-bottom:15px;">
        <form asp-controller="PayPropertyTax" asp-action="SavePropertyTax" class="form-horizontal" id="myForm" data-ajax-begin="CallBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>

            <div class="row" style="padding-bottom:10px">
                <div class="d-flex justify-content-start col-12">
                    <div class="col-4">
                        <input type="button" class="btn btn-primary" value="Print Demand and Payment Report" id="btnprintDemand" />
                    </div>
                    <div class="col-4">
                        <input type="button" class="btn btn-primary" value="Print Detailed Demand and Payment Report" id="btnprintDetailDemand" />
                    </div>
                    <div class="col-4">
                        <input type="button" class="btn btn-primary" value="Print Demand Note" id="btnprintDemandNote" />
                    </div>

                </div>
            </div>


            <h2 class="heading">Property Details</h2>
            <div class="col-12">
                <label><span class="lblsr">Owner Name</span> :<span class="lbls1">@( Model.OwnerName != null ? Model.OwnerName : null)</span> </label>
            </div>
            <div class="col-12">
                <label><span class="lblsr">zone</span>:<span class="lbls1">@( Model.Zone != null ? Model.Zone : null)</span> </label>
            </div>
            <div class="col-12">

                <label><span class="lblsr">Locality</span>:<span class="lbls1">@( Model.Locality != null ? Model.Locality : null)</span> </label>
            </div>
            <div class="col-12">
                <label><span class="lblsr">Colony</span>:<span class="lbls1">@( Model.Colony != null ? Model.Colony : null)</span> </label>
            </div>

            <div class="d-flex justify-content-start col-12" style="padding-bottom:15px;">
                <label><span class="lblsr">Mobile</span>:</label> <input asp-for="Mobile" type="text" class="form-control" required="required" autocomplete="off" style="width: 30%; margin-left: 14px;" />
            </div>

            <div class="d-flex justify-content-start col-12" style="padding-bottom:15px;">
                <label><span class="lblsr">Email</span>:</label> <input asp-for="Email" type="email" class="form-control" required="required" autocomplete="off" style="width: 30%; margin-left: 24px;" />
            </div>
            <h2 class="heading"> Tax Details</h2>
            <div class="col-12">
                <label><span class="lblsr">Old Arrear</span>:<span class="lbls1">@( Model.OldArrear != null ? Model.OldArrear : null)</span></label>
            </div>
            <div class="col-12">
                <label><span class="lblsr"> Curret Year Tax</span>: <span class="lbls1">@( Model.CurrentYearTax != null ? Model.CurrentYearTax : null)</span></label>
            </div>
            <div class="col-12">
                <label><span class="lblsr">Total Rebate Given</span>:<span class="lbls1"> @( Model.TotalRebateGiven != null ? Model.TotalRebateGiven : null)</span> </label>
            </div>

            <div class="col-12">
                <label><span class="lblsr">Total:</span> <span class="lbls1"> @( Model.Total) </span> </label>
            </div>



            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Pay Online" id="submitBtn" />

            </div>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.PropertyId)
        </form>

    </div>
}
else
{ <div class="d-flex justify-content-center col-12" style="padding-top:60px;">

    <label><span class="lblsr">Data Not Found</span></label>

    </div>
    }








