@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;
@{
    Layout = null;
}
@model EGovDashboardViewModel
@inject IUserContext _userContext;
@*<link href="~/css/EGOV/MyRequest.css" rel="stylesheet" asp-append-version="true" />*@
@*<link href="~/css/EGOV/DashBoardStyles.css" rel="stylesheet" asp-append-version="true" />*@
@*<link href="~/css/EGOV/Dashboard-Navigation-with-Button.css" rel="stylesheet" asp-append-version="true" />*@
<style>

    .title-bg1 {
        background-color: #070f74;
        padding: 6px 0 2px 20px;
        margin: 0;
        font-size: 20px;
        color: #fff;
        border-radius: 12px 12px 0 0;
        height: auto;
        font-weight: 500;
    }

    .indiv-block-bg1 {
        /* background-color: #F5EBBC; */
        height: 100px;
        width: 230px;
        border-radius: 20px;
        margin-left: 20px;
        overflow: hidden !important;
        /* border: 1px solid #e66c80; */
        background-color: #cdcdcd;
    }

    .label1 {
        font-size: 20px;
    }

    .cancel-button {
        background: #eb7c63;
        order: 2;
    }

    .k-listview-content {
        height: unset !important;
        overflow-y: hidden !important;
    }

    .k-listview {
        border-style: none !important;
        height: unset !important;
    }

    #listView, #listViewPO, #listViewPU {
        /*padding: 10px 5px;*/
        margin-bottom: -1px;
        display: flex;
    }

    .card {
        float: left;
        position: relative;
        width: 290px;
        height: 236px;
        margin: 0 10px;
        padding: 0;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .footer-item {
        cursor: pointer;
        border: 1px solid;
        border-radius: 30px;
        padding: 4px;
        padding-left: 13px;
        margin-left: 10px;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .leftmenustyle {
        font-size: 14px;
        color: #4b4f56;
        margin-bottom: 6px;
        font-weight: normal;
        margin-top: 6px;
        padding-left: 10px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .col-1 {
        flex: none !important;
    }
    /* The hero image */
    .head-image {
        object-fit: fill;
    }

    /* Place text in the middle of the image */
    .head-text {
        text-align: left;
        position: absolute;
        top: 28%;
        color: white;
    }

    .head-img {
        max-width: 100%;
        max-height: 149px;
        width: 100%;
        object-fit: none;
    }

    .main {
        margin-top: 1%;
        text-align: right;
    }

    /* Bootstrap 4 text input with search icon */

    .has-search .form-control {
        padding-left: 2.375rem;
        /*width: 100%;*/
    }

    .form-group {
        width: 40%;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .task-card {
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: 1%;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 98%;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eee;
        min-height: 160px;
    }

    .sub-div {
        overflow-y: scroll;
        overflow-x: scroll !important;
        height: 500px;
        overflow-x: hidden;
        border: 1px solid #e3e1e1;
    }

    .card-heading {
        margin-left: 1%;
        font-weight: bold;
        margin-top: 12px;
    }

    .item-hover:hover {
        background-color: #d3d3d340;
        cursor: pointer !important;
    }

    .no-data {
        text-align: center;
        margin-top: 5%;
        font-size: 16px;
        font-weight: 500;
        display: none;
    }

    .no-data-icon {
        color: #c8aa4d;
        font-size: 40px;
    }

    .k-dropdown:hover {
        transform: none !important;
    }

    .k-select:hover {
        transform: none !important;
    }

    .k-input:hover {
        transform: none !important;
    }

    .k-state-hover :hover {
        transform: none !important;
    }

    span:hover {
        transform: none !important;
    }

    .k-link:hover {
        transform: none !important;
    }

    h6:hover {
        transform: none !important;
    }

    .form-control:hover {
        transform: none !important;
    }

    input:hover {
        transform: none !important;
    }

    .task-title {
        padding: 10px;
        background-color: #1c4893;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin-left: 0px;
        margin-right: 10px;
    }

    .banner-container {
        position: relative;
        color: white;
    }

    .banner-text {
        position: absolute;
        top: 14px;
        left: 60px;
        font-size: 35px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .table{
        margin-bottom:unset;
    }
   /* .container {
        margin-left: auto !important;
        margin-right: auto !important;
    }*/
    .item-hover:nth-child(even) {
        background-color: #cfe7ff;
    }
    .item-hover:nth-child(even):hover {
        background-color: #bdd7f0;
    }
  
</style>
<script>

    $(document).ready(function () {

        //Proposed By Me
        var dataSourcePM = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/EGovernment/CititzenProjectsHomeList?type=PROPOSEDBYME&userId=@ViewBag.UserId&fromDate=@ViewBag.FromDate&toDate=@ViewBag.ToDate",
                    // data: FilterDDl,
                    dataType: "json",
                }
            },
        });

        $("#listView").kendoListView({
            dataSource: dataSourcePM,
            height: 350,
        /*scrollable: "endless",*/
            pageable: true,
            template: kendo.template($("#templateMy").html())
        });

        //Proposed By Other
        var dataSourcePO = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/EGovernment/CititzenProjectsHomeList?type=PROPOSEDBYOTHER&userId=@ViewBag.UserId&fromDate=@ViewBag.FromDate&toDate=@ViewBag.ToDate",
                    // data: FilterDDl,
                    dataType: "json",
                }
            },
        });

        $("#listViewPO").kendoListView({
            dataSource: dataSourcePO,
            height: 350,
            /*scrollable: "endless",*/
            pageable: true,
            template: kendo.template($("#template").html())
        });

        //Proposed By All
        var dataSourceAll = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/EGovernment/AllProjectsHomeList?fromDate=@ViewBag.FromDate&toDate=@ViewBag.ToDate",
                    dataType: "json",
                }
            }
        })

        $("#listViewAll").kendoListView({
            dataSource: dataSourceAll,
            height: 350,
            /*scrollable: "endless",*/
            pageable: true,
            template: kendo.template($("#templateAll").html())
        });

        //Projects UnderTaken
        var dataSourcePU = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/EGovernment/CititzenProjectsHomeList?type=PROJECTSUNDERTAKENCITIZEN&userId=@ViewBag.UserId&fromDate=@ViewBag.FromDate&toDate=@ViewBag.ToDate",
                    // data: FilterDDl,
                    dataType: "json",
                }
            },
        });

        $("#listViewPU").kendoListView({
            dataSource: dataSourcePU,
            height: 350,
        /*scrollable: "endless",*/
            pageable: true,
            template: kendo.template($("#template1").html())
        });
    });

    function onService(level) {
        debugger;
        var portalId = window.parent.$('#GlobalPortalId').val();
        var isproposed = true;
        var wardId='@ViewBag.WardId';
        $.ajax({
            type: 'GET',
            url: '/cms/lov/GetLOVDetailsByCode?code=EGOV_PRO_STATUS_PROPOSED',
            success: function (res) {
                debugger;
                var udfs = "";
                var roudfs = "";
                if (level == 'W') {
                    udfs = encodeURIComponent('IsProposedByCitizen=' + isproposed + '&ProjectStatus=' + res.Id + '&ProjectWard=' + wardId + '&Level=W');
                    roudfs = encodeURIComponent('ProjectWard=true');
                }
                else if (level == 'C') {
                    udfs = encodeURIComponent('IsProposedByCitizen=' + isproposed + '&ProjectStatus=' + res.Id + '&Level=C');
                }
                var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=EGOV_PROJECT_PROPOSAL&portalId=' + portalId + '&udfs=' + udfs;/*+ '&roudfs=' + roudfs;*/
                var win = GetMainWindow();
                win.iframeOpenUrl = url;
                win.OpenWindow({ Title: 'Create Project Proposal', Width: 1200, Height: 600 });
            }
        });

    }

    function OnAfterServiceCreate() {
        $("#listView").data("kendoListView").dataSource.read();
    }

    function OnClick(id, type) {
        debugger;

        type = (type == "Like") ? '@ProjectPropsalResponseEnum.Like' : '@ProjectPropsalResponseEnum.Dislike';

        var url = "/EGOV/EGovernment/UpdateProjectProposalLikes?proposalId="+id+"&type="+type+"&userId=@_userContext.UserId";
        $.ajax({
            type: 'POST',
            url: url,
            success: function (res) {
                if (res.success) {
                    
                    $("#listView").data("kendoListView").dataSource.read();
                    $("#listViewPO").data("kendoListView").dataSource.read();
                    $("#listViewPU").data("kendoListView").dataSource.read();
                }
                else {

                }
            }
        });
    }

    function OpenService(serId,tcode) {
         var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&popup=true&cbm=OnAfterServiceCreate&pageType=Service&source=View&dataAction=View&templateCodes='+tcode+'&portalId=' + portalId + '&recordId=' + serId;
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'View Project', Width: 1000, Height: 600, Position: 'Right1' });
            return false;
    }

    function onCommentClick(serId)
    {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ServiceComments", "Cms", new { @area= "" })?serviceId=' + serId + '&IsAddCommentEnabled=true&IsAddAttachmentEnabled=false&IsAdminDeleteCommentEnabled=@ViewBag.IsAdminDeleteComment';
        win.OpenWindow({ Title: 'Project Comments', Width: 1000, Height: 600 });
        return false;
    }
     function OnView(serId)
    {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ViewProjectsUnderTaken", "EGovernment", new { @area= "EGOV" })?serviceId=' + serId;
        win.OpenWindow({ Title: 'Project Description', Width: 1000, Height: 650 });
        return false;
    }
    $("#mysearch").keyup(function () {
        var val = $('#mysearch').val();

        var listView = $("#listView").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "ServiceNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ProjectName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ProjectCategoryName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "RequestedDate",
                    operator: "contains",
                    value: val
                }

            ]
        });

        var listView1 = $("#listViewPO").data("kendoListView");
        listView1.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "ServiceNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ProjectName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ProjectCategoryName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "RequestedDate",
                    operator: "contains",
                    value: val
                }

            ]
        });


        var listView2 = $("#listViewPU").data("kendoListView");
        listView2.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "ServiceNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ProjectName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ProjectCategoryName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "RequestedDate",
                    operator: "contains",
                    value: val
                }

            ]
        });

        var listView3 = $("#listViewAll").data("kendoListView");
        listView3.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "ServiceNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ProjectName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ProjectCategoryName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "RequestedDate",
                    operator: "contains",
                    value: val
                }
                //{
                //    field: "WardName",
                //    operator: "contains",
                //    value: val
                //}

            ]
        });

    });

    function OnProposal(type) {
       
        if (type == "MyProposal") {
            $("#landingContent").hide();
            $("#proposals").show();
            $("#myWardName").show();
            $("#myProposals").show();
        }
        else if (type == "OtherProposal") {
            $("#landingContent").hide();
            $("#proposals").show();
            $("#otherProposals").show();
            $("#myWardName").show();
        }
        else if (type == "Department") {
            $("#landingContent").hide();
            $("#proposals").show();
            $("#myWardName").show();
            $("#projectsUndertaken").show();
        }
        else if (type == "All") {
            $("#landingContent").hide();
            $("#proposals").show();
            $("#allProposals").show();
            $("#myWardName").hide();
        }
    }
       

    function OnHome() {
        $("#landingContent").show();
        $("#proposals").hide();
        $("#myProposals").hide();
        $("#otherProposals").hide();
        $("#projectsUndertaken").hide();
        $("#allProposals").hide();
    }

    function onSSC() {
        window.location.href = "@ViewBag.SmartCityUrl";
    }

    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    //history.pushState(null, document.title, location.href);
    //window.addEventListener('popstate', function (event)
    //    {
    //    history.pushState(null, document.title, location.href);
    //});

</script>

<!--<script id="template" type="text/kendo-ui-template">

    <div class="card #:BorderCSS# mb-3">
        <div class="card-header"><a href="javascript:OpenService('#:ServiceId#','#:TemplateCodes#');" style="text-decoration:underline;color:dodgerblue">#:ProjectName#</a></div>
        <div class="card-body text-secondary">
              <p class="card-text">#:ProjectDescriptionText#</p>
          </div>
        <div class="card-footer text-muted" style="margin:0px;padding: 8px 0px;">
        <div class="row col-12" style="margin-left: 0px;">
            <div class="col-3 footer-item" #if(ResponseType == '1'){# style="color:green;" #}else{# style="color:grey;" #}#  onclick="OnClick('#:Id#','Like')">#:LikesCount# <i class="fa-solid fa-thumbs-up" title="Like" style="margin-left:5px;cursor:pointer;padding-top:3px;"></i></div>
            <div class="col-3 footer-item" #if(ResponseType == '2'){# style="color:red;" #}else{# style="color:grey;" #}# onclick="OnClick('#:Id#','Dislike')">#:DislikesCount# <i class="fa-solid fa-thumbs-down" title="Dislike" style="margin-left:5px;cursor:pointer;padding-top:3px;"></i></div>
            <div class="col-3 footer-item" style="color:dodgerblue;" onclick="onCommentClick('#:ServiceId#');">#:CommentsCount# <i class="fa-solid fa-message-lines" title="Comments" style="margin-left:5px;cursor:pointer;padding-top:3px;"></i></div>
        </div>-->
@*<i class="fa-solid fa-thumbs-up" title="Like" style="margin-left:10px;cursor:pointer;border:1px solid;border-radius:30px;padding:5px;color:green;"></i>*@
@*<i class="fa-solid fa-thumbs-down" title="Dislike" style="margin-left:10px;cursor:pointer;border:1px solid;border-radius:30px;padding:5px;color:red;"></i>
    <i class="fa-solid fa-message-lines" title="Comments" style="margin-left:10px;cursor:pointer;border:1px solid;border-radius:30px;padding:5px;color:dodgerblue;"></i>*@
<!--</div>
    </div>

</script>-->
<script type="text/kendo-ui-template" id="template">
    <div class="item-hover">
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">

           <div class="col-2" style="margin: 10px 0px 10px 0px;" onclick="OpenService('#:ServiceId#','#:TemplateCodes#');">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project No">#:ServiceNo#</span>
            </div>
            @*<div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Name"><a href="javascript:OpenService('#:ServiceId#','#:TemplateCodes#');" style="text-decoration:underline;color:dodgerblue">#:ProjectName#</a></span>
            </div>*@
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;">
              <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Description">#:ProjectDescriptionText#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Category">#:ProjectCategoryName#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Status">#:WorkflowStatus#</span>
            </div>
             <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;">
                 <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Requested Date">#:DisplayRequestedDate#</span>
            </div>
            @*<div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%">
            <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Status">#:ProjectStatus#</span>
            </div>*@
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
    <div class="row">
             <div class="col-3" #if(ResponseType == '1'){# style="color:green;" #}else{# style="color:grey;" #}# #if(UserId != '@_userContext.UserId') {# onclick="OnClick('#:Id#','Like')" #}# ><i class="fa-solid fa-thumbs-up" title="Like" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:LikesCount# </div>
            <div class="col-3" #if(ResponseType == '2'){# style="color:red;" #}else{# style="color:grey;" #}# #if(UserId != '@_userContext.UserId') {# onclick="OnClick('#:Id#','Dislike')" #}# ><i class="fa-solid fa-thumbs-down" title="Dislike" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:DislikesCount# </div>
            <div class="col-3" onclick="onCommentClick('#:ServiceId#');"><i class="fa-solid fa-message-lines" title="Comments" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:CommentsCount# </div>
            </div></div>
        </div>

        <hr style="margin-bottom: 1px !important;">

    </div>
</script>

<script type="text/kendo-ui-template" id="templateMy">
    <div class="item-hover">
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">

           <div class="col-2" style="margin: 10px 0px 10px 0px;" onclick="OpenService('#:ServiceId#','#:TemplateCodes#');">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project No">#:ServiceNo#</span>
            </div>
            @*<div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Name"><a href="javascript:OpenService('#:ServiceId#','#:TemplateCodes#');" style="text-decoration:underline;color:dodgerblue">#:ProjectName#</a></span>
            </div>*@
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;">
              <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Description">#:ProjectDescriptionText#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Category">#:ProjectCategoryName#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Status">#:WorkflowStatus#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Category">#:Message#</span>
            </div>
             <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;">
                 <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Requested Date">#:DisplayRequestedDate#</span>
            </div>
            @*<div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%">
            <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Status">#:ProjectStatus#</span>
            </div>*@
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
    <div class="row">
             <div class="col-3" #if(ResponseType == '1'){# style="color:green;" #}else{# style="color:grey;" #}# #if(UserId != '@_userContext.UserId') {# onclick="OnClick('#:Id#','Like')" #}# ><i class="fa-solid fa-thumbs-up" title="Like" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:LikesCount# </div>
            <div class="col-3" #if(ResponseType == '2'){# style="color:red;" #}else{# style="color:grey;" #}# #if(UserId != '@_userContext.UserId') {# onclick="OnClick('#:Id#','Dislike')" #}# ><i class="fa-solid fa-thumbs-down" title="Dislike" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:DislikesCount# </div>
            <div class="col-3" onclick="onCommentClick('#:ServiceId#');"><i class="fa-solid fa-message-lines" title="Comments" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:CommentsCount# </div>
            </div></div>
        </div>

        <hr style="margin-bottom: 1px !important;">

    </div>
</script>
<script type="text/kendo-ui-template" id="templateAll">
    <div class="item-hover">
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">

           <div class="col-2" style="margin: 10px 0px 10px 0px;" onclick="OpenService('#:ServiceId#','#:TemplateCodes#');">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project No">#:ServiceNo#</span>
            </div>
            @*<div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Name"><a href="javascript:OpenService('#:ServiceId#','#:TemplateCodes#');" style="text-decoration:underline;color:dodgerblue">#:ProjectName#</a></span>
            </div>*@
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;">
              <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Description">#:ProjectDescriptionText#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Category">#:ProjectCategoryName#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Status">#:WorkflowStatus#</span>
            </div>
            @*<div class="col-1" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Status">#:WardName#</span>
            </div>*@
             <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;">
                 <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Requested Date">#:DisplayRequestedDate#</span>
            </div>
            @*<div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%">
            <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Status">#:ProjectStatus#</span>
            </div>*@
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
    <div class="row">
             <div class="col-3" #if(ResponseType == '1'){# style="color:green;" #}else{# style="color:grey;" #}# #if(UserId != '@_userContext.UserId') {# onclick="OnClick('#:Id#','Like')" #}# ><i class="fa-solid fa-thumbs-up" title="Like" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:LikesCount# </div>
            <div class="col-3" #if(ResponseType == '2'){# style="color:red;" #}else{# style="color:grey;" #}# #if(UserId != '@_userContext.UserId') {# onclick="OnClick('#:Id#','Dislike')" #}# ><i class="fa-solid fa-thumbs-down" title="Dislike" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:DislikesCount# </div>
            <div class="col-3" onclick="onCommentClick('#:ServiceId#');"><i class="fa-solid fa-message-lines" title="Comments" style="@*margin-left:5px;*@cursor:pointer;padding-top:3px;"></i>#:CommentsCount# </div>
            </div></div>
        </div>

        <hr style="margin-bottom: 1px !important;">

    </div>
</script>
<script type="text/kendo-ui-template" id="template1">
    <div class="item-hover">
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">

           <div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project No">#:ServiceNo#</span>
            </div>
            @*<div class="col-2" style="margin: 10px 0px 10px 0px;">

                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Name"><a href="javascript:OpenService('#:ServiceId#','#:TemplateCodes#');" style="text-decoration:underline;color:dodgerblue">#:ProjectName#</a></span>
            </div>*@
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;">
              <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Description">#:ProjectDescriptionText#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Category">#:ProjectCategoryName#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Status">#:WorkflowStatus#</span>
            </div>
             <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;">
                 <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Category">#:DisplayRequestedDate#</span>
            </div>
            @*<div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%">
            <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Project Status">#:ProjectStatus#</span>
            </div>*@
            <div class="col-2" style="margin: 10px 0px 10px 0px;">
    <div class="row">
             @*<div class="col-3" #if(ResponseType == '1'){# style="color:green;" #}else{# style="color:grey;" #}#  onclick="OnClick('#:Id#','Like')"><i class="fa-solid fa-thumbs-up" title="Like" style="cursor:pointer;padding-top:3px;"></i>#:LikesCount# </div>
            <div class="col-3" #if(ResponseType == '2'){# style="color:red;" #}else{# style="color:grey;" #}# onclick="OnClick('#:Id#','Dislike')"><i class="fa-solid fa-thumbs-down" title="Dislike" style=".cursor:pointer;padding-top:3px;"></i>#:DislikesCount# </div>
            <div class="col-3" onclick="onCommentClick('#:ServiceId#');"><i class="fa-solid fa-message-lines" title="Comments" style="cursor:pointer;padding-top:3px;"></i>#:CommentsCount# </div>*@
            <div class="col-4"></div>
            <div class="col-4" onclick="OpenService('#:ServiceId#','#:TemplateCodes#')"><i class="fa-solid fa-eye" style="cursor:pointer;padding-top:3px;"></i></div>
      <div class="col-4"></div>
            </div></div>
        </div>

        <hr style="margin-bottom: 1px !important;">

    </div>
</script>

<div id="appWrapper" class="wrapper">
    <div class="page text-center mt-0 w-100">
        <div class="page-inner p-0">

            @*Landing content*@
            <div id="landingContent">
                <div class="text-center mt-0 w-100">
                    <div class="pt-1 pb-4">
                        <div class="row mb-3">
                            <div class="col-md-9">
                                <h1 class="font-roboto font-22 text-left">@*Needs and Wants*@ My City My Ideas</h1>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary pl-4 pr-4" type="button" onclick="onSSC()" style="background: linear-gradient(#292929, #003366);float:right;">Go To Srinagar Smart City</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-left font-roboto line-height-32" style="background-color:lightyellow;font-size:18px">The platform for citizens to suggest ideas for improving their city.</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-4" style="cursor:pointer;">
                                <div class="bg-gradient-red-yellow p-5 border-radius-6" style="padding:2.2rem !important;" onclick="OnProposal('Department');">
                                    <img class="img-fluid" src="~/images/EGOV/departmental-projects.png">
                                    <h4 class="text-center text-white font-roboto font-20 medium pt-4">Projects Undertaken By <br /> Department</h4>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-4" style="cursor:pointer;">
                                <div class="bg-gradient-aqua border-radius-6 mb-4" onclick="OnProposal('MyProposal');">
                                    <div class="d-flex justify-content-sm-start pr-4 pl-2">
                                        <div class="pt-3 pb-3 pr-3"><img class="img-fluid ml-2" style="width:1.5rem" src="~/images/EGOV/my-proposal.png"></div>
                                        <div class="pt-3 pb-3 mr-3 vertical-center">
                                            <p class="text-left mb-0 font-20 font-roboto medium text-white">My Proposals</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-gradient-green border-radius-6 mb-4" style="cursor:pointer;">
                                    <div class="d-flex justify-content-sm-start pr-4 pl-2 py-1" onclick="OnProposal('OtherProposal');">
                                        <div class="pt-3 pb-3 pr-3"><img class="img-fluid ml-2" style="width:1.5rem" src="~/images/EGOV/citizen-proposal.png"></div>
                                        <div class="pt-3 pb-3 mr-3 vertical-center">
                                            <p class="text-left mb-0 font-20 font-roboto medium text-white">@*Proposals by other Citizens*@Citizen proposals in your ward </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-gradient-aqua border-radius-6" style="cursor:pointer;">
                                    <div class="d-flex justify-content-sm-start pr-4 pl-2" onclick="OnProposal('All');">
                                        <div class="pt-3 pb-3 pr-3"><img class="img-fluid ml-2" style="width:1.5rem" src="~/images/EGOV/citizen-proposal.png"></div>
                                        <div class="pt-3 pb-3 mr-3 vertical-center">
                                            <p class="text-left mb-0 font-20 font-roboto medium text-white">Citizen proposals in your city </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 mb-4" style="cursor:pointer;" onclick="onService('W');">
                                <div class="bg-gradient-purple p-5 border-radius-6">
                                    <img class="img-fluid" src="~/images/EGOV/create-new-proposal.png" style="width:3.5rem;">
                                    <h4 class="text-center text-white font-roboto font-20 medium pt-4" style="font-size:1rem;">Create new proposal in ward</h4>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 mb-4" style="cursor:pointer;" onclick="onService('C');">
                                <div class="bg-gradient-purple p-5 border-radius-6">
                                    <img class="img-fluid" src="~/images/EGOV/create-new-proposal.png" style="width:3.5rem">
                                    <h4 class="text-center text-white font-roboto font-20 medium pt-4" style="font-size:1rem">Create new proposal for city</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-0 w-100">
                    <div class="container pb-5">
                        <div class="row mb-3">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"><img class="img-fluid" src="~/images/EGOV/smart-city-model.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>


            @*Grids*@

            <div class="text-center mt-0 w-100 timeline-content js--fadeInLeft" id="proposals" style="display:none;">
                <div class="container pt-0 pb-4">
                    <div class="row mb-3">
                        <!--<div class="col-md-9">
                    <h1 class="font-poppins font-22 text-left">-->
                        @*Need and Wants*@
                        <!--My City My Ideas</h1>
                </div>-->
                        <div class="col-md-3">
                            <button class="btn btn-primary" onclick="OnHome();" style="float:left;background: linear-gradient(#292929, #003366);font-weight:bolder;font-size:1rem;">Back</button>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4 d-flex justify-content-between">*@
                        <div class="col-md-9">
                            <h1 class="font-poppins font-22 text-left">@*Need and Wants*@ My City My Ideas</h1>
                        </div>
                        <div class="col-md-3" id="myWardName">
                            @*<button class="btn btn-primary pr-4 pl-4 border-radius-6 link-buttons" type="button">@ViewBag.Message</button>*@
                            <div class="pr-4 pl-4 border-radius-6 link-buttons" style="float:right;padding:5px;margin-bottom:15px;width:auto;">Ward Name : @ViewBag.WardName</div>
                        </div>
                        @*</div>*@
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                            <div class="border-radius-6 bg-table-header">
                                <div class="d-lg-flex d-xl-flex justify-content-between pr-2 pl-2">
                                    <div class="pt-3 pb-3 pr-xl-3 pl-xl-3 pr-lg-3 pl-lg-3 d-flex"><span class="text-white font-16 font-roboto pr-lg-4 pr-xl-4">Search</span><span class="text-white font-16 font-roboto"><input type="search" id="mysearch" class="border-radius-6 h-100"></span><span class="text-white font-16 font-roboto pr-4">@*<button class="btn btn-primary mt-0" type="button"><i class="fas fa-search p-0"></i></button>*@</span></div>
                                    @if (ViewBag.Exist == true)
                                    {
                                        <div class="pt-3 pb-3 pr-3"><button class="btn btn-primary pr-4 pl-4 create-button" type="button" onclick="onService('W')">Create new proposal in ward</button></div>
                                        <div class="pt-3 pb-3 pr-3"><button class="btn btn-primary pr-4 pl-4 create-button" type="button" onclick="onService('C')">Create new proposal for city</button></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*My Proposals*@
            <div class="text-center mt-0 w-100" id="myProposals" style="display:none;">
                <div class="container pb-5">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h1 class="font-poppins font-22 text-left">My Proposals</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                            <div class="w-100">
                                <div class="table-responsive border-radius-6 pb-0">
                                    <table class="table">
                                        <thead class="text-white bg-table-header rounded-top font-16 medium">
                                            <tr>
                                                <th class="col-2">Project Number</th>
                                                @*<th class="col-2">Project Title</th>*@
                                                <th class="col-2">Description</th>
                                                <th class="col-1">Category</th>
                                                <th class="col-2">Status</th>
                                                <th class="col-1">Level</th>
                                                <th class="col-2">Request Date</th>
                                                <th class="col-2" style="text-align:left;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="sub-div">
                                    <div id="listView" style="min-width: 590px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Proposals By Other Citizens*@
            <div class="text-center mt-0 w-100" id="otherProposals" style="display:none;">
                <div class="container pb-5">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h1 class="font-poppins font-22 text-left">@*Proposals By Other Citizens*@ Citizen proposals in your ward  </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                            <div class="w-100">
                                <div class="table-responsive border-radius-6 pb-0">
                                    <table class="table">
                                        <thead class="text-white bg-table-header rounded-top font-16 medium">
                                            <tr>
                                                <th class="col-2">Project Number</th>
                                                @*<th class="col-2">Project Title</th>*@
                                                <th class="col-2">Description</th>
                                                <th class="col-2">Category</th>
                                                <th class="col-2">Status</th>
                                                <th class="col-2">Request Date</th>
                                                <th class="col-2" style="text-align:left;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="sub-div">
                                    <div id="listViewPO" style="min-width: 590px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Proposals By All Citizens*@
            <div class="text-center mt-0 w-100" id="allProposals" style="display:none;">
                <div class="container pb-5">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h1 class="font-poppins font-22 text-left">@*Proposals By Other Citizens*@ Citizen proposals in city </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                            <div class="w-100">
                                <div class="table-responsive border-radius-6 pb-0">
                                    <table class="table">
                                        <thead class="text-white bg-table-header rounded-top font-16 medium">
                                            <tr>
                                                <th class="col-2">Project Number</th>
                                                <th class="col-2">Description</th>
                                                <th class="col-2">Category</th>
                                                <th class="col-2">Status</th>
                                                @*<th class="col-1">Ward Name</th>*@
                                                <th class="col-2">Request Date</th>
                                                <th class="col-2" style="text-align:left;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="sub-div">
                                    <div id="listViewAll" style="min-width: 590px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Projects Undertaken*@
            <div class="text-center mt-0 w-100" id="projectsUndertaken" style="display:none;">
                <div class="container pb-5">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h1 class="font-poppins font-22 text-left">Projects Undertaken By Department</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                            <div class="w-100">
                                <div class="table-responsive border-radius-6 pb-0">
                                    <table class="table">
                                        <thead class="text-white bg-table-header rounded-top font-16 medium">
                                            <tr>
                                                <th class="col-2">Project Number</th>
                                                @*<th class="col-2">Project Title</th>*@
                                                <th class="col-2">Description</th>
                                                <th class="col-2">Category</th>
                                                <th class="col-2">Status</th>
                                                <th class="col-2">Request Date</th>
                                                <th class="col-2" style="text-align:left;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="sub-div">
                                    <div id="listViewPU" style="min-width: 590px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*old content*@
            <!--<div class="row">

    <div class="col-md-6">-->
            @*@if (ViewBag.Exist != null)
        {
            <div class="Card" style="background-color:antiquewhite;height:50px;border-radius:6px">

                <div style="padding-left:10px;padding-top:10px"><h5> @ViewBag.Message</h5></div>
            </div>
        }*@
            <!--</div>
        <div class="col-md-6">
            <div class="Card" style="background-color:antiquewhite;height:40px;width:250px;float:right;border-radius:6px">

                <div style="padding-left:10px;padding-top:10px"><b>Ward Name:</b> @ViewBag.WardName</div>
            </div>
        </div>
    </div>-->
            @*<br />*@
            <!--<div class="task-card">
    <div class="row text-left" style="padding-top: 10px;background-color: #1c4893;color:#ffffff;border-radius:3px">
        <div class="col-sm-6 form-group has-search pull-right">
            <div class="row">
                <div class="col-sm-3" style="padding-top:10px;font-weight: bold;">Search Project</div> <div class="col-sm-8"><input id="mysearch" type="text" class="form-control" placeholder="Enter Application Number"></div>
            </div>
        </div>
        <div class="col-sm-6 form-group" style="text-align:left;">
            @if (ViewBag.Exist == true)
            {
                <button class="btn btn-warning" style="border-color:#ffc107;float:right" onclick="onService()">Create New Proposal</button>
            }
        </div>
    </div>
    <br />
    <div>
        <div class="row" style="float: left; margin-left: 30px;">
            <div class="col-xs-2" id="overdue">
                <h5 class="card-heading" style="color:darkblue;margin-left:10px;">Project Proposed by Me &nbsp; <span class="label label-danger" id="overdue-task"></span></h5>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: red">
    <div class="row task-title text-left" style="border-radius:6px">
        <div class="col-2" style="max-width:13%">Project No</div>
        <div class="col-3" style="max-width:21%">Project Title</div>
        <div class="col-3" style="max-width:23%">Description</div>
        <div class="col-1" style="max-width:14%">Category</div>
        <div class="col-2" style="max-width:14%">Requested Date</div>-->
            @*<div class="col-1" style="max-width:12%">Status</div>*@
            <!--<div class="col-1" style="max-width:14%">Action</div>
    </div>
    <div class="sub-div">

        <div id="listView"></div>-->
            @*<div id="no-data-overdue" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>"No Task"</span></div>*@

            <!--</div>
    </div>-->
            <!--<div class="task-card">
    <div>
        <div class="row" style="float: left; margin-left: 30px;">

            <div class="col-xs-2" id="overdue">
                <h5 class="card-heading" style="color:darkblue;margin-left:10px;">Projects Proposed By Other Citizens &nbsp; <span class="label label-danger" id="overdue-task"></span></h5>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: red">
    <div class="row task-title text-left" style="border-radius:6px">
        <div class="col-2" style="max-width:13%">Project No</div>
        <div class="col-3" style="max-width:21%">Project Title</div>
        <div class="col-3" style="max-width:23%">Description</div>
        <div class="col-1" style="max-width:14%">Category</div>
        <div class="col-2" style="max-width:14%">Requested Date</div>-->
            @*<div class="col-1" style="max-width:12%">Status</div>*@
            <!--<div class="col-1" style="max-width:14%">Action</div>
    </div>
    <div class="sub-div">

        <div id="listViewPO"></div>-->
            @*<div id="no-data-overdue" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>"No Task"</span></div>*@

            <!--</div>
    </div>-->
            <!--<div class="task-card">
    <div>
        <div class="row" style="float: left; margin-left: 30px;">

            <div class="col-xs-2" id="overdue">
                <h5 class="card-heading" style="color:darkblue;margin-left:10px;">Projects Undertaken by Department &nbsp; <span class="label label-danger" id="overdue-task"></span></h5>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: red">
    <div class="row task-title text-left" style="border-radius:6px">
        <div class="col-2" style="max-width:13%">Project No</div>
        <div class="col-3" style="max-width:21%">Project Title</div>
        <div class="col-3" style="max-width:23%">Description</div>
        <div class="col-1" style="max-width:14%">Category</div>
        <div class="col-2" style="max-width:14%">Requested Date</div>-->
            @*<div class="col-1" style="max-width:12%">Status</div>*@
            <!--<div class="col-1" style="max-width:14%">Action</div>
        </div>
        <div class="sub-div">
            <div id="listViewPU"></div>
        </div>
    </div>-->

        </div>
    </div>
</div>


   
    
