@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;
@{
//Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model CustomIndexPageTemplateViewModel
<script>

    $(document).ready(function () {
        debugger;
        GetData_kgrid_DraftServices();
        $.contextMenu({
            selector: '#tree-mrnu',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');
                var tcode = $trigger.data('tempcode');
                var scode = $trigger.data('sscode');
                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        OnEdit(id, tcode);
                                        break;
                                    case 'view':
                                        OnView(id, tcode, scode);
                                        break;
                                    case 'delete':
                                        OnDelete(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "view": { name: "View", icon: "fas fa-eye" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },
                            }
                        };
                }
            }
        });

    });

                        var columnDefs = [
                            {
                                headerName: "Actions",
                                field: "ServiceId",
                                cellRenderer: params => {
                                    return "<div class='btn-group grid-menu' id='tree-mrnu' data-idvalue='" + params.value + "' data-tempcode='" + params.data.TemplateCode + "' data-sscode='" + params.data.ServiceStatusCode + "'><i class='fas fa-ellipsis-v'></i></div>"
                                }
                            },
                            {
                                headerName: "Service No",
                                field: "ServiceNo",
                            },
                            {
                                headerName: "Service Type",
                                field: "TemplateDisplayName",
                            },
                            {
                                headerName: "Service Date",
                                field: "CreatedDate",
                                cellRenderer: params => {
                                    var date = new Date(params.value);
                                    var d = new Date(date),
                                        month = '' + (d.getMonth() + 1),
                                        day = '' + d.getDate(),
                                        year = d.getFullYear();

                                    if (month.length < 2)
                                        month = '0' + month;
                                    if (day.length < 2)
                                        day = '0' + day;

                                    return [day, month, year].join('.');
                                }
                            },
                            {
                             headerName: "Service Status",
                                field: "ServiceStatusName",
                            },

                        ];
                        //$(function () {

                        //});

    function GetData_kgrid_DraftServices(url) {
        debugger;
                            document.getElementById("kgrid_DraftServices").innerHTML = "";
                            var Url = "";
                            if (url != null && url != "") {
                                Url = url;
                            } else {
                                Url = "/EGov/EGovernment/ReadDraftedServiceList?statusCodes=@ViewBag.StatusCodes&templateCode=@Model.TemplateCodes&categoryCode=@Model.CategoryCodes";
                            }

                            gridConfig(
                                "kgrid_DraftServices",
                                Url,
                                columnDefs,
                                false,
                                true,
                                true,
                                true,
                                1,
                                true,
                                10);
                        }


    function OpenService(serId, tempCode) {

        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&popup=true&cbm=OnAfterService&source=View&dataAction=View&templateCodes=' + tempCode +/*'&portalId=' + portalId +*/ '&recordId=' + serId;

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'View Service', Width: 1200, Height: 700 });
        return false;
    }

    function OnView(serId, tempCode, stcode) {
        debugger;

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var source = '@RequestSourceEnum.View.ToString()';
        var action = '@DataActionEnum.View.ToString()';
        if (stcode === 'SERVICE_STATUS_DRAFT') {
        source = "Edit";
        action = "Edit";
        }
        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=ReloadIndexPage&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + serId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  'Manage Service', Width: 1200, Height: 600 });
        return false;
    }
    function OnEdit(serId, tempCode) {
       // var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var source = '@RequestSourceEnum.Edit.ToString()';
        var action = '@DataActionEnum.Edit.ToString()';
        var portalId =$('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=ReloadIndexPage&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + serId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  'Manage Service', Width: 1200, Height: 600 });
        return false;
    }
    function OnDelete(serId) {
        @*if ('@Model.EnableDeleteConfirmation'==='True')
        {
            deleteEvent = ServiceId;
            $('#confirmDelete').data("kendoDialog").open();
        }
        else
        {
            DeleteItem(ServiceId);
        }*@
        var flag = confirm('Do you really want to delete the service?');

        if (flag) {
            $.ajax({
                url: '@Url.Action("DeleteService", "NtsService", new { @area="Cms"})?serviceId=' + serId,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {

                    if (result.success) {
                        GetData_kgrid_AllServices();
                        ShowNotification("Service Deleted Successfully", "success");
                    }
                },
                error: function (ert) {
                    ShowNotification(ert, "error");
                }
            });
            return false;
        }
    }

</script>
<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Drafted Service List</h4>
    </div>
    <br/>
    
    <div class="container col-12">
      
                
        <div id="kgrid_DraftServices" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                
    </div>
</div>

