@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model List<EGOVBannerViewModel>

<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }

    td {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
        .img-140 {
        width: 85px;
        height: 85px;
    }

    .border-radius-6 {
        border-radius: 6px;
    }
</style>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Corporators</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                @*<img src="~/images/EGOV/srinagarcity.jpg" alt="Corporators" style="width:100%;height:350px;">*@
            </div>
        </div>
        @*<div class="row" style="overflow:auto;">
            <div class="col-12">
                <h5 style="text-align:left;"><u></u></h5>
                <table>
                    <tr>
                        <td colspan="6" style="text-align:center;"><h5>SRINAGAR MUNICIPAL CORPORATION <br />
                                    LIST OF CORPORATORS

                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td><b>S. No.</b></td>
                        <td><b>Photograph</b></td>
                        <td><b>Ward No. & Name</b></td>
                        <td><b>Name of Councillor</b></td>
                        <td><b>Address</b></td>
                        <td><b>Phone No.</b></td>
                    </tr>
                    @if(Model.Count>0){
                        foreach(var item in Model){
                            <tr>
                                <td style="text-align:center;"><p>@item.SequenceNo</p></td>
                                <td style="text-align:center;"><img class="img-fluid img-140 border-radius-6" src="/cms/Document/GetImageMongo?id=@item.FileId" onerror="OnPhotoError(this);"></td>
                                <td><p>
                                    @if(item.Designation.IsNotNull())
                                    {
                                        @item.Designation;<br />
                                    }
                                    @item.WardName
                                    </p>
                                    </td>
                                <td><p>@item.Name <br /> @item.FHName</p></td>
                                <td><p>@item.Address</p></td>
                                <td><p>@item.PhoneNo</p></td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>*@

        <div class="row">
            <div class="col-12 border border-dark p-2 bg-info text-white" style="text-align:center">
                <h5 class="mb-2">
                    SRINAGAR MUNICIPAL CORPORATION <br />
                    LIST OF CORPORATORS
                </h5>
            </div>
            <div class="col-12">
                <div class="row border-dark border-right border-left border-bottom p-2 bg-light">
                    <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 border-right" style="text-align:center;">
                        <b>S. No.</b>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 border-right" style="text-align:center;">
                        <b>Photograph</b>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 border-right" style="text-align:center;">
                        <b>Ward No. & Name</b>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 border-right" style="text-align:center;">
                        <b>Name of Councillor</b>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 border-right" style="text-align:center;">
                        <b>Address</b>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" style="text-align:center;">
                        <b>Phone No.</b>
                    </div>
                </div>
            </div>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-12">
                        <div class="row border-dark border-right border-left border-bottom p-2">
                            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 border-right" style="text-align:center;">
                                <p>@item.SequenceNo</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 border-right" style="text-align:center;">
                                <img class="img-fluid img-140 border-radius-6" src="/cms/Document/GetImageMongo?id=@item.FileId" onerror="OnPhotoError(this);">
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 border-right" style="text-align:center;">
                                <p>
                                    @if (item.Designation.IsNotNull())
                                    {
                                        @item.Designation;<br />
                                    }
                                    @item.WardName
                                </p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 border-right" style="text-align:center;">
                                <p>@item.Name <br /> @item.FHName</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 border-right" style="text-align:center;">
                                <p>@item.Address</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" style="text-align:center;">
                                <p>@item.PhoneNo</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="row">
            <div class="col-12">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>