
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@using Kendo.Mvc.Extensions;
@model AssessmentDetailViewModel
@{
    ViewData["Title"] = "Map Questions";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}
<style>
    body {
        background-color: #268ef9 !important;
    }

    .e-card {
        min-height: 95%;
        top: 30px;
    }

    .button {
        display: inline-block;
        padding: 12px 25px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        /*background-color: #4CAF50;*/
        background-color: #268ef9;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            /*background-color: #3e8e41*/
            background-color: black;
            color: white
        }

        .button:active {
            /*background-color: #3e8e41;*/
            background-color: black;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    .arabic {
        direction: rtl !important;
    }
    .modal-sm{
        max-width:700px !important;
    }
</style>

<input type="hidden" id="hdnType" value="@ViewBag.Type" />
@if (Model.PreferredLanguageCode == "ENGLISH")
{
    <div style="padding:10px;" class="e-card">
        <h1 style="text-align:center;">Points to Remember</h1>
        <div>
            <h2>DO'S</h2>
            <ul style="padding-left: 20px;">
                <li>
                    Keep your computer/laptop camera switched on throughout the both the assessments
                </li>
                <li>
                    Show your employee Id card to the online cordinator
                </li>
                <li>
                    Be seated in a quite location with the good internet connection
                </li>
                <li>
                    Talk to your online coordinator if you face any issue
                </li>
            </ul>
        </div>
        <div>
            <h2>DONT'S</h2>
            <ul style="padding-left: 20px;">
                <li>
                    Do not take notes or record or pictures during assessment
                </li>
                <li>
                    Do not discuss the question or answer to anyone
                </li>
                <li>
                    Do not read the question or answer loudly
                </li>
            </ul>
        </div>
        <div style="text-align:right">
            <button class="button" onclick="PracticeTest()" style="display:none;">Practice Test</button>
            <button class="button" type="button" data-toggle="modal" data-target="#myModal">Accept and Start Assessment</button>
        </div>
    </div>
}
else
{
    <div style="padding:10px;direction:rtl;text-align:right;" class="e-card">
        <h1 style="text-align:center;">بعض النقاط الواجب تذكرها</h1>
        <div>
            <h2>الامور المطلوبة</h2>
            <ul style="padding-left: 20px;">
                <li>
                    حافظ على تشغيل كاميرا الكمبيوتر / الكمبيوتر المحمول الخاص بك طوال فترات التقييم
                </li>
                <li>
                    أظهر بطاقة هوية الموظف الخاصة من خلال الكاميرا كي يراها الشخص المنسق من خلال المنصة الالكترونية
                </li>
                <li>
                    اختر الجلوس في مكان هادئ مع اتصال ممتاز بالإنترنت
                </li>
                <li>
                    تحدث إلى المنسق إذا واجهت أي مشكلة
                </li>
            </ul>
        </div>
        <div>
            <h2>الامور الواجب تجنبها</h2>
            <ul style="padding-left: 20px;">
                <li>
                    لا تدون ملاحظات أو تسجل أو تأخذ صور أثناء التقييم
                </li>
                <li>
                    لا تناقش الاسئلة أو الإجابات مع أي شخص
                </li>
                <li>
                    لا تقرأ أي سؤال أو تجيب عليه بصوت عالٍ
                </li>
            </ul>
        </div>
        <div style="text-align:right">
            <button class="button" onclick="PracticeTest()" style="display:none;">اختبار الممارسة</button>
            <button class="button" type="button" data-toggle="modal" data-target="#myModal">قبول وبدء عملية التقييم</button>
        </div>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content e-card">
            @if (Model.PreferredLanguageCode == "ENGLISH")
            {
                <div class="modal-header" style="background-color:#268ef9;color:white;display:block;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">YOU ARE ABOUT TO START THE ASSESSMENT</h4>
                </div>
                <div class="modal-body">
                    <div style="padding:10px;">
                        <ul>
                            <li>
                                Once the assessment is started, it cannot be paused
                            </li>
                            <li>
                                The technical assessment shoud be completed within one hour- the timer is available on the right top corner of the screen
                            </li>
                            <li>
                                The submit button is available on the last page bottom right
                            </li>
                            <li>
                                Once you submit the assessment, you cannot revisit the question or answer
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button btn-default " data-dismiss="modal" style="padding:10px 25px;background-color:#bbc1c7">Cancel</button>
                    <button type="button" class="btn button" onclick="StartAssessment()" style="padding:10px 25px">Ok</button>
                </div>
            }
            else
            {
                <div class="modal-header arabic" style="background-color:#268ef9;color:white">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">أنت على وشك بدء عمليات التقييم</h4>
                </div>
                <div class="modal-body arabic" style="text-align:right;">
                    <div style="padding:10px;">
                        <ul>
                            <li>
                                بمجرد بدء التقييم ، لا يمكن إيقافه
                            </li>
                            <li>
                                يجب إكمال التقييم الفني في غضون ساعة واحدة - يتوفر إشارة المؤقت في الزاوية العلوية اليمنى من الشاشة
                            </li>
                            <li>
                                زر الإرسال موجود في الصفحة الأخيرة في الجزء الأسفل من يمين الصفحة
                            </li>
                            <li>
                                بمجرد إرسال التقييم ، لا يمكنك الاطلاع مرة أخرى على السؤال أو الإجابة
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer arabic">
                    <button type="button" class="btn button btn-default " data-dismiss="modal" style="padding:10px 25px;background-color:#bbc1c7">إلغاء</button>
                    <button type="button" class="btn button" onclick="StartAssessment()" style="padding:10px 25px">حسناً</button>
                </div>
            }

        </div>
    </div>
</div>
@Html.HiddenFor(m => m.AssessmentId)
@Html.HiddenFor(m => m.PreferredLanguageCode)

<script>
    function PracticeTest() {

    }
    function StartAssessment()
    {
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: 'close', Prms: { serviceId: '@Model.ServiceId', asstype: '@Model.AssessmentType', langcode: '@Model.PreferredLanguageCode', assessmentStatus:'@Model.AssessmentStatus' } });

    }
    function hideLoader() {
        document.getElementById('speach-load').style.display = "none";
    }

    function showLoader() {
        document.getElementById('speach-load').style.display = "unset";
        document.getElementById('speech-srch').innerText = "Loading...";
        $(".main-menu").css("z-index", '2');
        $(".skitt-ui").css("z-index", '2');
    }
</script>