@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    //ViewData["Title"] = "Portal";
    Layout = null;
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@inject Synergy.App.Common.IUserContext _userContext
@model TemplateViewModel

<style>
    .cms-footer {
        bottom:0px;
    }
    .cms-manageportal-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 75%;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-pickerleft {
        width: 50%;
        float: left;
        padding-bottom: 15px;
    }

    .pad-5 {
        padding-top: 10px;
    }
</style>
<script>
    function OnManage(ruleId) {
      
         var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("Index", "BusinessRule", new { @area="Bre"})?breId=' + ruleId+'&templateId=@Model.Id';
        win.OpenWindow({ Title: 'BusinessRule', Width: 1000, Height: 950, Position:'Right' });
        return false;
        
    }
    function OnAddEdit(actionId)
    {
       
         var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("CreateBusinessRule", "BusinessRule", new { @area="Bre"})?actionId=' + actionId+'&templateId=@Model.Id';
        win.OpenWindow({ Title: 'BusinessRule', Width: 550, Height: 950, Position:'Right' });
        return false;
    }
</script>
<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a data-toggle="tab" href="#preaction" class="nav-link active" aria-controls="preaction" aria-selected="true" onclick=" LoadPartailView('@Url.Action("ManagePreBusinessRule", "Template", new { @area="Cms",@templateId=Model.Id,@type=BusinessLogicExecutionTypeEnum.PreSubmit})', $('#preaction'));">Pre Submisson Action</a></li>
        <li class="nav-item"><a data-toggle="tab" href="#postaction" class="nav-link" aria-controls="postaction" aria-selected="false" onclick=" LoadPartailView('@Url.Action("ManagePostBusinessRule", "Template", new { @area="Cms",@templateId=Model.Id,@type=BusinessLogicExecutionTypeEnum.PostSubmit})', $('#postaction'));">Post Submisson Action</a></li>
        <li class="nav-item"><a data-toggle="tab" href="#customaction" class="nav-link" aria-controls="customaction" aria-selected="false" onclick=" LoadPartailView('@Url.Action("ManageCustomBusinessRule", "Template", new { @area="Cms",@templateId=Model.Id,@type=BusinessLogicExecutionTypeEnum.Custom})', $('#customaction'));">Custom Action</a></li>
    </ul>


        <div class="row">
            <div class="tab-content col-12">
                <div id="preaction" class="tab-pane  in active" role="tabpanel" aria-labelledby="preaction-tab">

                </div>
                <div id="postaction" class="tab-pane " role="tabpanel" aria-labelledby="postaction-tab">

                </div>
                <div id="customaction" class="tab-pane " role="tabpanel" aria-labelledby="customaction-tab">

                </div>
            </div>
        </div>
        <div class="cms-footer">
            <div class="row" style="float:right">
                <button type="submit" class="btn btn-success" onclick="SaveData()">Save</button>
            </div>
        </div>
        @Html.HiddenFor(x => x.Id)


</div>

<script type="text/javascript">

    $(document).ready(function () {
        LoadPartailView('@Url.Action("ManagePreBusinessRule", "Template", new { @area = "cms" })?templateId=@Model.Id&type=@BusinessLogicExecutionTypeEnum.PreSubmit', $('#preaction'));

    });

    function SaveData() {
        $("#JsonCopy").val(JSON.stringify(builder.instance.schema, null, 4));
        return true;
    }
    
    var showError = function (error) {

        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }

</script>