@inject IStringLocalizer<CMS.UI.Utility.Resources.Areas.DMS.Controllers.WorkspaceController> Resource
@using Synergy.App.Common;
@using Kendo.Mvc.UI;
@using Synergy.App.DataModel;
@using Synergy.App.ViewModel;

@model DataUploadViewModel
@{
    ViewData["Title"] = "Data Upload";
    Layout = null;
}

<script>
    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(HrDataExecutionStatus)))';
    var statusObj = JSON.parse(status);

    function OnCreateUploadData() {


             var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("CreateUploadData", "HRCore", new { @area= "CHR" })';
        win.OpenWindow({ Title: '@Html.Raw(Resource["Manage Data Upload"])', Width: 450, Height: 550});
        return false;

    }


    function ShowError(id) {
         var win = GetMainWindow();
         console.log(id);
         var url = "/CHR/HRCore/Error?Id=" + id;
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Error', Width: 600, Height: 600  });
         return false;
    }





    var columnDefs = [


        {
            headerName: "Upload Type", field: "UploadType",
        },
         {
             field: "ExecutionStartTime",  headerName: "Execution Start Date",
             cellRenderer: params => {

                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },
        {
            field: "ExecutionEndTime", headerName: "Execution End Date",
            cellRenderer: params => {

                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },

        {
            headerName: "Execution Status", field: "ExecutionStatus",
            cellRenderer: params => {
                return statusObj[params.value];
            }

        },
        {
            headerName: "Error Count", field: "ErrorCount",
            cellRenderer: params => {
                //console.log(params);
                //var data = params.data["Error"];
                //console.log(data);
                if (params.value != null) {
                    console.log(params);
                    /*return params.value;*/
                    return "<a  onclick='ShowError(\"" + params.data["DataUploadId"] + "\")'>" + params.value + "</a>";
                }
                else {
                    return "";
                }
            }

        },

    ];

     $(document).ready(function () {

             $("#UploadTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
           // optionLabel:"--Select--",
            value: '@Model.UploadTypeId',
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?Type=HR_DATA_UPLOAD_TYPE",
                    }
                }
            }
        });



        getData();





    });



   function getData() {
       document.getElementById("myGrid").innerHTML = "";
       gridConfig(
           "myGrid",
           "/chr/HrCore/ReadUploadData",
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }
    function onTemplateDownload() {
        
        var data = $("#UploadTypeId").data("kendoDropDownList");
        var tempCode = data.dataItem(data.selectedIndex).Code;
        /*var tempCode = $("#UploadTypeId").val();*/
        /*alert(tempCode); */
        url = '/cms/Document/GetApplicationDocument?documentCode=' + tempCode;
        window.open(url, '_blank');


    }
</script>


<div>
    <h3>@ViewBag.Title</h3>

    <hr />


    <div class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-8">
                    <button type='button' class='btn btn-primary' onclick='OnCreateUploadData();'>@*<i class='fa fas fa-plus'></i>&nbsp;*@@Resource["New Data Upload"]</button>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-5">
                            <label for="DownloadTemplate" style="padding:8px;">Download Template</label>
                        </div>

                        <div class="col-7">
                            <input asp-for="UploadTypeId" id="UploadTypeId" class="form-control" style="width:100%" />
                        </div>

                    </div>

                </div>
                <div class="col-1">
                    <button type='button' class='btn btn-secondary' onclick="onTemplateDownload();"><i class='fa fas fa-download'></i></button>
                </div>
            </div>
            <br /><br />
            <div id="myGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>

    </div>

</div>

