@inject IStringLocalizer<CMS.UI.Web.Areas.PJM.Controllers.ProjectTaskController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;


@{
    ViewBag.Title = "";
    // Layout = "/Views/Shared/_PopupLayout.cshtml";
    // Layout = "~/Areas/CMS/Views/Shared/_LayoutCMS.cshtml";
    Layout = null;
}
<style>
    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        background-clip: padding-box;
    }

    .project-dropdown ul {
        list-style-type: none;
        margin-bottom: 0px;
    }
    /* #dropdown {
        height: 42px;
        left: 221px;
        bottom: 35px;
        font-size: 18px;

        width: 99%;
        background: rgba(255, 255, 255, 0.15);
        border: 1px solid #E8E5E5;
        box-sizing: border-box;
        border-radius: 3px;
        color: #FFFFFF;
    }*/
    #banner {
        width: 100%;
        height: 140px;
        /* height: 160px;*/
        left: 389px;
        top: 157px;
        background: #2D9FCA;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 6px;
        font-family: roboto;
    }

    .banner-item-project {
        background-color: #d6aa24;
    }

    .banner-item {
        color: #fff;
        height: 60px;
        text-align: left;
    }

        .banner-item:hover {
            color: #fff;
        }

    .banner-item-project {
        background-color: #42ca88;
    }

    .banner-item-date {
        background-color: #f0ad4e;
    }

    .k-dropdown-project .k-input {
        display: none !important;
    }

    .hr-x-large {
        max-width: none !important;
    }

    .hr-xx-large {
        max-width: none !important;
    }

    .date {
        width: 100%;
    }
</style>
<script>

    $(document).ready(function () {

         $("#ProjectFiltersIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: true,
            autoClose: false,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetProjectsList", "ProjectTask", new { @area = "PJM" })",
                    }
                }
            }
         });

         $("#Receiver").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: true,
            autoClose: false,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetUsersIdNameList", "User", new { area = "CMS" })",
                    }
                }
            }
         });

         $("#Sender").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: true,
            autoClose: false,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetUsersIdNameList", "User", new { area = "CMS" })",
                    }
                }
            }
         });

         $("#Status").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: true,
            autoClose: false,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetLOVIdNameList", "LOV", new { area = "CMS", lovType = "LOV_TASK_STATUS" })",
                    }
                }
            }
         });

        $("#FromDate").kendoDatePicker();
        $("#ToDate").kendoDatePicker();

        $("#Stage").kendoDropDownList({
            //optionLabel: "Select a response",
            dataTextField: "Text",
            dataValueField: "Value",
            value: "0",
            dataSource: [
                { Text: "Show all", Value: "Show" },
                { Text:"Hide", Value : "Hide" },
            ],

        });

        $("#DateType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@SharedResource["Select"]",
            select: OnDateTypeChange,
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=DateTypeEnum",
                    }
                }
            }
        });

        $("#Column").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@SharedResource["Select"]",
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=FilterColumnEnum",
                    }
                }
            }
        });
        HideLoader($("#global-overlay"));
    });
    @*function OnServiceChange(e) {
        var dataItem = e.sender.dataItem();
        //debugger
        LoadPartailView1("/pjm/ProjectTask/ProjectDetailsBanner?pageName=@Model.PageName&ProjectId=" + dataItem.Id, 'ProjectBanner');
        if ("@Model.PageName" == "ProjectTaskByUser")
        {
            window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByName?ProjectId=" + dataItem.Id, 'Project-content');
        }
         if ("@Model.PageName" == "ProjectTaskByDate")
        {
             window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByDate?ProjectId=" + dataItem.Id, 'Project-content');
        }
       if ("@Model.PageName" == "ProjectTaskView")
        {
             window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskView?ProjectId=" + dataItem.Id, 'Project-content');
        }
        if ("@Model.PageName" == "ProjectDashboard")
        {
             window.parent.LoadPartailView1("/pjm/Project/ProjectDashboard?projectId=" + dataItem.Id, 'Project-content');
        }
    }*@
    //function onSearch() {

    //    var project = $("#Project").data("kendoMultiSelect").value();
    //    var reciever = $("#Reciever").data("kendoMultiSelect").value();
    //    var sender = $("#Sender").data("kendoMultiSelect").value();
    //    var status = $("#Status").data("kendoMultiSelect").value();
    //    var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy/MM/dd');
    //    var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy/MM/dd');

    //}
    //function onReset() {
    //    window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectDetailsFilter", 'ProjectFilter');
    //}
    function onAdvanceSerach() {
        $("#AdvanceFilter").show();
        $("#hideAdvanceFilterbtn").show();
        $("#AdvanceFilterbtn").hide();
    }
    function onHideAdvanceSerach() {
        $("#Column").data("kendoDropDownList").value("");
        $("#DateType").data("kendoDropDownList").value("");
        $("#FromDate").data("kendoDatePicker").value("");
        $("#ToDate").data("kendoDatePicker").value("");
        $("#AdvanceFilter").hide();
        $("#AdvanceFilterbtn").show();
        $("#hideAdvanceFilterbtn").hide();
    }
    function OnDateTypeChange(e) {
        debugger;
        var item = e.dataItem.Name;
        if (item == "Between") {
            $(".daterange").show();
        }
        else{
            $(".daterange").hide();
        }
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" href="#search" style="background-color: #2D9FCA;color:#FFFFFF">
        @SharedResource["Filter"] <span id="filtertext"></span>
    </div>
    <div class="panel-collapse collapse show" id="search">
        <div id="filter" role="group" style="width:100%;color:#FFFFFF;background: #17a2b8;padding: 5px;">
            <div class="row" style="padding-top:10px;">
                @if (!ViewBag.HideProject)
                {
                <div class="col-sm-3 col-md-3">

                    @SharedResource["Project"]<br />
                    @*@(Html.Kendo().MultiSelect().Name("ProjectFiltersIds")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Action("GetProjectsList", "ProjectTask", new { @area = "PJM" });
                                 });
                             })
                             .AutoClose(false)
                             .Placeholder(@SharedResource["Project"])
                             .DataTextField("Name")
                             .DataValueField("Id")
                             .HtmlAttributes(new { @class = "hr-x-large search-control" })
            )*@
                    <select id="ProjectFiltersIds" data-placeholder="@SharedResource["Project"]" class="hr-x-large search-control"></select>

                </div>
                }

            <div class="col-sm-3 col-md-3">

                @Resource["Assignee/Receiver"]<br />
                @*@(Html.Kendo().MultiSelect().Name("Receiver")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Action("GetUsersIdNameList", "User", new { area = "CMS" });
                                 });
                             })
                             .AutoClose(false)
                             .Placeholder(@SharedResource["User"])
                             .DataTextField("Name")
                             .DataValueField("Id")
                             .HtmlAttributes(new { @class = "hr-x-large search-control" })
            )*@
                <select id="Receiver" data-placeholder="@SharedResource["User"]" class="hr-x-large search-control"></select>

            </div>
            <div class="col-sm-3 col-md-3">

                @Resource["Owner/Sender"]<br />
                @*@(Html.Kendo().MultiSelect().Name("Sender")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Action("GetUsersIdNameList", "User", new { area = "CMS" });
                                 });
                             })
                             .AutoClose(false)
                             .Placeholder(@SharedResource["User"])
                             .DataTextField("Name")
                             .DataValueField("Id")
                             .HtmlAttributes(new { @class = "hr-x-large search-control" })
            )*@
                <select id="Sender" data-placeholder="@SharedResource["User"]" class="hr-x-large search-control"></select>

            </div>
            <div class="col-sm-3 col-md-3">

                @SharedResource["Status"]<br />
                @*@(Html.Kendo().MultiSelect().Name("Status")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Action("GetLOVIdNameList", "LOV", new { area = "CMS", lovType = "LOV_TASK_STATUS" });
                                 });
                             })
                             .AutoClose(false)
                             .Placeholder(@SharedResource["Status"])
                             .DataTextField("Name")
                             .DataValueField("Id")
                             .HtmlAttributes(new { @class = "hr-x-large search-control" })
            )*@
                <select id="Status" data-placeholder="@SharedResource["Status"]" class="hr-x-large search-control"></select>

            </div>
            </div>
            <div class="row" style="padding-top: 10px;padding-bottom: 10px;display:none" id="AdvanceFilter">
                <div class="col-sm-3 col-md-3">
                    @Resource["ColumnToFilter"]<br />
                    @*@(Html.Kendo().DropDownList().Name("Column")
        .DataTextField("Name")
        .DataValueField("Id")
        //.Filter(FilterType.Contains)
        .OptionLabel(@SharedResource["Select"])
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "FilterColumnEnum" });
            });
        })
        //.Events(x => x.Change("OnServiceChange"))
        .HtmlAttributes(new { @class = "hr-xx-large search-control" })
        )*@

                    <input id="Column" class="hr-xx-large search-control" />
                </div>
                <div class="col-sm-3 col-md-3">
                    @Resource["DateRange"]<br />
                    @*@(Html.Kendo().DropDownList().Name("DateType")
                    .DataTextField("Name")
                    .DataValueField("Id")
                    //.Filter(FilterType.Contains)
                    .OptionLabel(@SharedResource["Select"])
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "DateTypeEnum" });
                        });
                    })
                    .Events(x => x.Select("OnDateTypeChange"))
                    .HtmlAttributes(new { @class = "hr-xx-large search-control" })
                    )*@
                <input id="DateType" class="hr-xx-large search-control" />
                </div>

                <div class="col-sm-3 col-md-3 daterange" style="display:none">
                    @Resource["FromDate"]<br />
                    @*@(Html.Kendo().DatePicker()
             .Name("FromDate").HtmlAttributes(new {@class="date" })
        )*@
                    <input id="FromDate" class = "date" />
                </div>
                <div class=" col-md-3 daterange" style="display:none">
                    @Resource["ToDate"] <br />
                    @*@(Html.Kendo().DatePicker()
             .Name("ToDate").HtmlAttributes(new { @class = "date" })
        )*@
                    <input id="ToDate" class = "date" />
                </div>
                @if (ViewBag.Stage)
                {
            <div class=" col-md-3">
                @Resource["Stage"]<br />
                @*@Html.Kendo().DropDownList().Name("Stage").BindTo(new List<SelectListItem>() {
            new SelectListItem() {
                Text = "Show all",
                Value = "Show"
            },
            new SelectListItem() {
                Text = "Hide",
                Value = "Hide"
            }
        })*@
                <input id="Stage" />
            </div>
                }
            </div>
            <div class="row">
                <div class=" col-md-12">
                    <br />
                    <button class="btn btn-warning" onclick="onSearch()">@SharedResource["Search"]</button>
                    <button class="btn btn-danger" onclick="onReset()">@SharedResource["Reset"]</button>
                    <button class="btn btn-success" onclick="onAdvanceSerach()" id="AdvanceFilterbtn">@Resource["ViewAdvanceFilter"]</button>
                    <button class="btn btn-danger" onclick="onHideAdvanceSerach()" style="display:none" id="hideAdvanceFilterbtn">@Resource["HideAdvanceFilter"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
