@inject IStringLocalizer<CMS.UI.Web.Areas.PJM.Controllers.ProjectTaskController> Resource
@using Synergy.App.DataModel
@using Synergy.App.WebUtility
@*@using Kendo.Mvc.UI*@
@using Synergy.App.Common
@inject Synergy.App.Common.IUserContext _userContext

@model TeamWorkloadViewModel
@{
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}

<style>
    #listView {
        text-align: left;
    }

    .task-header-item {
        padding: 0px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        height: 100px;
    }

    .list-group-item.active {
        border: 1px solid #d9d9d9;
    }

    .tab-item {
        color: #00264d;
        font-weight: 500;
        padding-left: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 13px;
    }

    .tab-user-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 1px solid #c0c0c0;
    }

    .task-content {
        overflow-x: scroll;
        min-height: 400px;
        text-align: left;
    }

    .task-items {
        display: inline-flex;
    }

    .task-item {
        width: 260px;
        margin-right: 15px;
        display: inline-table;
    }


    .listViewDoc {
        border: none;
        border-radius: 6px;
        overflow-x: hidden;
    }

    input.largerCheckbox {
        width: 15px;
        height: 20px;
        background-color: #2196F3;
    }

    .board {
        border: none;
        overflow-x: scroll;
        display: flex;
    }

    .card_task {
        border-color: #209EB8;
    }

    .newtask {
        background-color: black;
        color: #fff;
    }

    

    .tasklist {
        background-color: #209EB8;
        color: #fff;
        border-radius: 0px 0px 3px 3px;
    }

    .taskname {
        /*color: #1D6EF4;*/
        color: black;
    }

    .drp-user-photo {
        height: 30px;
        width: 30px;
        border-radius: 30px;
    }

    .drp-user-photo1 {
        height: 50px;
        width: 50px;
        border-radius: 30px;
    }

    #board > .k-listview-content {
        display: flex;
    }

    .k-listview-content {
        overflow: unset;
    }

    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
    }

    .scrollbtn {
        background-color: #4E4D4D;
        color: white;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 2px;
    }

    .k-treeview-lines {
        overflow-x: scroll;
        width: 100%;
    }

    .product {
        /* float: left;*/
        position: relative;
        /*  width: 50px;*/
        margin: 0 5px 5px;
        padding-left: 5px;
        padding-top: 10px;
        /* cursor:pointer;*/
    }


    .TASK_STATUS_DRAFT {
        background-color: #17a2b8;
        color: #fff;
    }

    .TASK_STATUS_PLANNED {
        background-color: #9FC5E8;
        color: #fff;
    }

    .TASK_STATUS_INPROGRESS {
        background-color: #007bff;
        color: #fff;
    }

    .TASK_STATUS_PLANNED_OVERDUE {
        background-color: #FFE083;
        color: #fff;
    }

    .TASK_STATUS_OVERDUE {
        background-color: #ffc107;
        color: #fff;
    }

    .TASK_STATUS_COMPLETE {
        background-color: #28a745;
        color: #fff;
    }

    .TASK_STATUS_REJECT {
        background-color: #dc3545;
        color: #fff;
    }

    .TASK_STATUS_CANCEL {
        background-color: #343a40;
        color: #fff;
    }

    .k-link {
        color: black;
    }

        .k-link:hover {
            color: black;
            font-weight: bold;
        }
</style>

<script>


    //$(function () {
    //    //
    //    $.contextMenu({
    //        selector: '.tree-menu1',
    //        trigger: 'left',
    //        build: function ($trigger, e) {
    //            // var parentId = $trigger.data('id');
    //            var parentType = $trigger.data('type');
    //            //var selectParentId = $trigger.data('parentId');

    //            switch (parentType) {
    //                case 'Root':
    //                    return {
    //                        callback: function (key, options) {
    //                            switch (key) {
    //                                case 'add':
    //                                    break;
    //                                case 'edit':
    //                                    break;
    //                                case 'delete':
    //                                    break;
    //                                default:
    //                            }
    //                        },
    //                        items: {
    //                            "add": { name: "Create Sub Task", icon: "fas fa-pencil" },
    //                            "edit": { name: "Edit Sub Task", icon: "fas fa-pencil" },
    //                            "delete": { name: "Delete Sub Task", icon: "fas fa-trash" },
    //                        }
    //                    };
    //            }


    //        }
    //    });
    //});

    function OnSelect(e) {
        //
        e.preventDefault();

    }
    var splitter = $('.splitter-container').height(200).split({
        orientation: 'vertical',
        limit: 10,
        position: '20%', // if there is no percentage it interpret it as pixels
        onDrag: function (event) {
        }
    });

    function OnPhotoError(obj) {
        // alert("test");
        obj.onerror = null;

        obj.src = '/images/profile.jpg';


    }

</script>

<script>
    var selecteduid;
    var selectedstatus;
    var selectedoid;
    var selectedcolumn;
    var selecteddateRange;
    var selectedfromDate;
    var selectedtoDate;
    $(document).ready(function () {
        selecteduid = [];
        selectedstatus = [];
        selectedoid = [];
        selectedfromDate = null;
        selectedtoDate = null;
        selectedcolumn = null;
        selecteddateRange = null;
        //window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectDetailsFilter?hideProject=true&stage=true", 'ProjectFilter');
        window.LoadPartailView1("/pjm/ProjectTask/ProjectDetailsFilter?hideProject=true&stage=true", 'ProjectFilter');
        HideLoader($("#global-overlay"));

        //Assignee
        var dataSourceAssignee = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PJM/ProjectTask/ReadProjectTaskAssignedData?projectId=@Model.Id",
                    dataType: "json",
                }
            },

        });
        $("#sharelistView1").kendoListView({
            dataSource: dataSourceAssignee,
            height: 400,
            scrollable: "endless",
            template: kendo.template($("#template").html())
        });

        //Owner
        var dataSourceOwner = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PJM/ProjectTask/ReadProjectTaskOwnerData?projectId=@Model.Id",
                    dataType: "json",
                }
            },

        });
        $("#sharelistView").kendoListView({
            dataSource: dataSourceOwner,
            //height: 400,
            scrollable: "endless",
            template: kendo.template($("#template_owner").html())
        });

        //listView
        @*var dataSourcelistView = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PJM/ProjectTask/ReadProjectTaskData?projectId=@Model.Id",
                    data: filter,
                    dataType: "json",
                }
            },

        });
        $("#istView").kendoListView({
            dataSource: dataSourcelistView,
            //height: 400,
            scrollable: true,
            template: kendo.template($("#template_Doc").html())
        });*@
        //LoadTaskList();
        LoadProjectList();
        //$("#listView input").each(function () {
        //    var listView = $("#listView").data("kendoListView");
        //    var listViewItem = listView.dataItem($(this).closest("div"));
        //    console.log(listViewItem);
        //});
    });
    function LoadProjectList() {
        $("#listView").kendoListView({
            dataSource: {
                transport: {
                    read: {
                        url: "/PJM/ProjectTask/ReadProjectTaskData?projectId=@Model.Id",
                        data: filter,
                        dataType: "json",
                    }
                },
               pageSize: 21
            },
            template: kendo.template($("#stage_template").html()),
            scrollable: true,
            dataBound: function (e) {
                $.each($(e.items), function (key, value) {
                   LoadTaskList(value.id)
                });

            }
        });

    }
    function LoadTaskList(id) {
        $.ajax({
            type: "GET",
            url: "/PJM/ProjectTask/ReadProjectTaskView?Id="+id,
            success: function (data) {
                var template = kendo.template($("#task_template").html());
                var result = template(data); //Pass the data to the compiled template
                $("#child-tasks-" + id).html(result); //display the result

                $(".child-tasks").on("show.bs.collapse", function (e) {
                    LoadSubTasks(e.target.id);
                });

            },
            error: function (response) {
                $("#child-tasks-" + id).html("Error while loading tasks");
            },
        });

    }
    function LoadSubTasks(id) {
        $.ajax({
            type: "GET",
            url: "/PJM/ProjectTask/ReadSubTaskViewData?taskId=" + id,
            success: function (data) {
                var template = kendo.template($("#sub_task_template").html());
                var result = template(data); //Pass the data to the compiled template
                $("#sub-tasks-" + id).html(result); //display the result



            },
            error: function (response) {
                $("#sub-tasks-" + id).html("Error while loading sub tasks");
            },
        });

    }

    function onViewAll() {

        selecteduid=[];
        var search = filter();
        var listView = $("#board").data("kendoListView");
        listView.dataSource.read(search);
    }

    function OnViewS(status) {
        var search = filter(null,status);
        var listView = $("#board").data("kendoListView");
        listView.dataSource.read(search);
    }

    function filter() {

        return {
            filteruser: selecteduid,
            filterstatus: selectedstatus,
            ownerIds: selectedoid,
            stage: $("#Stage").val(),
            column: selectedcolumn,
            dateRange: selecteddateRange,
            fromDate: selectedfromDate,
            toDate: selectedtoDate,
        };
    }
    function OnStage(Id) {
        var portalId = $('#GlobalPortalId').val();

        $.ajax({
            url: '/pjm/projecttask/GetServiceSequenceOrder',
                type: 'GET',
            data: { parentId: Id },
                success: function (res) {
                    var prms = encodeURIComponent('parentServiceId=' + Id +'&servicePlusId=@Model.Id&sequenceOrder='+res.count);

        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageName=ProjectStage&portalId=' + portalId + '&prms=' + prms;
        LoadCmsPartialView(url, 'Service', true, 1000, 600, '@Html.Raw(SharedResource["CreateStage"])');
                }
            });

        return false;
    }

      function OnTask(Id) {
        //
          var portalId = $('#GlobalPortalId').val();

           $.ajax({
               url: '/pjm/projecttask/GetTaskSequenceOrder',
                type: 'GET',
            data: { parentId: Id },
                success: function (res) {
                    var prms = encodeURIComponent('parentServiceId=' + Id +'&servicePlusId=@Model.Id&sequenceOrder='+res.count);

                    var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;
          var win = GetMainWindow();
          win.iframeOpenUrl = url;
          win.OpenWindow({ Title: '@Html.Raw(SharedResource["CreateTask"])', Width: 1200, Height: 600 });
                }
            });
        //var prms = encodeURIComponent('parentServiceId=' + Id +'&servicePlusId=@Model.Id');

           // LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Create Task');
            return false;
    }

    function OnService(Id) {
        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Edit&dataAction=Edit&pageName=Project&portalId=' + portalId + '&recordId=' + Id ;

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["Project"])', Width: 1200, Height: 600 });
        return false;

    }


    function OnAfterTaskCreate(service) {
        //var search = filter();
        //var listView = $("#board").data("kendoListView");
        //listView.dataSource.read(search);
        //HideLoader($("#global-overlay"));
         OnProjectChange('@Model.Id');
    }
    function OnAfterServiceCreate(service) {
      //  var search = filter();
      //  var listView = $("#board").data("kendoListView");
      //  listView.dataSource.read(search);
        //   HideLoader($("#global-overlay"));
        OnProjectChange('@Model.Id');
    }


     function SubTask(parentTaskId,projectid) {

         var portalId = $('#GlobalPortalId').val();
           $.ajax({
               url: '/pjm/projecttask/GetSubTaskSequenceOrder',
                type: 'GET',
               data: { parentId: parentTaskId },
                success: function (res) {
                      var prms = encodeURIComponent('parentServiceId=' + projectid + '&parentTaskId=' + parentTaskId +'&servicePlusId=@Model.Id&sequenceOrder='+res.count);
        // var prms = encodeURIComponent('parentServiceId=@Model.Id&parentTaskId=' + parentTaskId);
         var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;

                    LoadCmsPartialView(url, 'Task', true, 1200, 650, '@Html.Raw(SharedResource["CreateSubTask"])');
                }
            });

            return false;
    }
    function EditTask(Id, userId) {
        if ('@ViewBag.UserId' == userId) {
        var portalId = $('#GlobalPortalId').val();
        // var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&popup=true&cbm=OnAfterTaskCreate&source=View&dataAction=View&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + Id;

        //LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Edit Task');
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["ViewTask"])', Width: 1200, Height: 600 });
        return false;
    }
    }
    function OnProjectChange(id) {
       // window.location.href = "/pmt/project/ProjectTeamWorkload?projectId=" + id;
        //HideLoader($("#global-overlay"));
        if (window.parent != window.top) { LoadPartailView1("/pjm/ProjectTask/ProjectTaskView?ProjectId=" + id, 'Project-content'); } else {
            window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskView?ProjectId=" + id, 'Project-content');
        }
    }


    var colors = ['#F56564', '#90D142', '#28BAF5', '#7551F5', '#5BA79F', '#7A8F9D', '#4F67B6'];
    function OnDataBoundDoc(arg) {
        var childDiv = document.getElementById('board').children;

        for (var i = 0; i < childDiv.length; i++) {
            childDiv[i].children[0].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
        }
    }

    $('#left').click(function () {
        event.preventDefault();
        $('#board').animate({
            scrollLeft: "-=1075px"
        }, "slow");
    });

    $('#right').click(function () {
        event.preventDefault();
        $('#board').animate({
            scrollLeft: "+=1075px"
        }, "slow");
    });

    //function onChange(e) {
    //    var data = this.dataSource.view();
    //    var selected = $.map(this.select(), function (item) {
    //        return data[$(item).index()].UserId;
    //    });
    //    //alert(selected);
    //    selecteduid = selected;
    //    var search = filter();
    //    var listView = $("#board").data("kendoListView");
    //    listView.dataSource.read(search);
    //    console.log("Selected: " + selected.length + " item(s), [" + selected.join(", ") + "]");
    //}

    //$("#sharelistView").on("mousedown", function (e) {
    //
    //    // get item if the user clicked on an item template
    //    var clickedItem = $(e.target).closest("div.product");

    //    // prevent click event for item elements
    //    clickedItem.on("click", function (e) {
    //        e.stopPropagation();
    //    });

    //    if (clickedItem.length > 0) {
    //        var listView = $("#sharelistView").getKendoListView();

    //        var selectedItems = listView.select();

    //        if (clickedItem.hasClass("k-state-selected")) {
    //            // if item is already selected - remove it from collection
    //            selectedItems.splice($.inArray(clickedItem[0], selectedItems), 1);
    //        } else {
    //            selectedItems.push(clickedItem);
    //        }

    //        // unbind "change" event to prevent multiple calls
    //        listView.unbind("change");
    //        listView.clearSelection();
    //        listView.bind("change", onChange);

    //        listView.select(selectedItems);
    //       // alert(selectedItems.item);
    //    }
    //});

    function onSearch() {

        selecteduid = [];
        selectedstatus = [];
        selecteduid = $("#Receiver").data("kendoMultiSelect").value();
        selectedstatus = $("#Status").data("kendoMultiSelect").value();
        selectedoid = $("#Sender").data("kendoMultiSelect").value();
        selectedfromDate = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy/MM/dd');
        selectedtoDate = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy/MM/dd');
        selectedcolumn = $("#Column").data("kendoDropDownList").value();
        selecteddateRange = $("#DateType").data("kendoDropDownList").value();
        if (selecteduid.length > 0 || selectedstatus.length > 0 || selectedoid.length>0 || selectedfromDate != null || selectedtoDate != null || selecteddateRange != "") {
            document.getElementById('filtertext').innerHTML = " Applied";
        }
        var search = {
            //projectIds: $("#Project").data("kendoMultiSelect").value(),
            filteruser: $("#Receiver").data("kendoMultiSelect").value(),
            ownerIds: $("#Sender").data("kendoMultiSelect").value(),
            filterstatus: $("#Status").data("kendoMultiSelect").value(),
            //filterSdate: kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
            stage: $("#Stage").val(),
            column: $("#Column").data("kendoDropDownList").value(),
            dateRange: $("#DateType").data("kendoDropDownList").value(),
            fromDate: kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
            toDate: kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
            //toDate: kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
        };
        //alert(selectedstatus);
       search = filter();
        $("#board").data("kendoListView").dataSource.read(search);
        HideLoader($("#global-overlay"));
    }
    function onReset() {
        selecteduid = [];
        selectedstatus = [];
        selectedoid = [];
        selectedfromDate = null;
        selectedtoDate = null;
        selectedcolumn = null;
        selecteddateRange = null;
        document.getElementById('filtertext').innerHTML = " Not Applied";
        window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectDetailsFilter?hideProject=true&stage=true", 'ProjectFilter');
        $("#board").data("kendoListView").dataSource.read();
        HideLoader($("#global-overlay"));
    }

    //$(document).ready(function () {
    //    $("#menu, #divmenu").mouseleave(function () {
    //        $("#menu").hide();
    //    });
    //    HideLoader($("#global-overlay"));
    //});

    function OnSubTaskClick(taskId, parentId,taskStatus) {

         var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Versioning&dataAction=Edit&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + taskId;
        LoadCmsPartialView(url, 'Task', true, 1200, 650, '@Html.Raw(SharedResource["EditTask"])');
        return;
    }

    function OnMenuClick(e) {

        var command = $(e.item).attr('id');

        if (command == "Open") {
            var portalId = $('#GlobalPortalId').val();
            //var url = '/Cms/Page?source=Versioning&dataAction=Edit&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + taskid;
            var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Versioning&dataAction=Edit&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + taskid;
            LoadCmsPartialView(url, 'Task', true, 1200, 650, '@Html.Raw(SharedResource["EditTask"])');
        }
        else if (command == "SubTask") {
            var portalId = $('#GlobalPortalId').val();
            var prms = encodeURIComponent('parentServiceId=' + parentid + '&parentTaskId=' + taskid);
            //var url = '/Cms/Page?source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;

            var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;
            LoadCmsPartialView(url, 'Task', true, 1200, 650, '@Html.Raw(SharedResource["CreateSubTask"])');
        }
        $("#menu").hide();
    }

    function filterSub() {

        return {
            filteruser: selecteduid,
            filterstatus: selectedstatus,
            ownerIds: selectedoid,
        };
    }
</script>





<div class="row hr-pad-top-10">
    @*<div class="col-md-6">
            <h4>
                Project Task By Status
            </h4>
        </div>*@
</div>

<div id="ProjectFilter">

</div>

<div class="row" style="text-align:center;margin-left:15px;margin-top:20px;">
    <div class="col-md-3" style="margin-top:25px">
        <div class="row" style="">
            <div class="col-md-4">
                <h3> @Model.TaskCount</h3>
                @*<h3>@Html.DisplayFor(x => x.TaskLeftCount)</h3>*@
            </div>
            <div class="col-md-4">
                <h3> @Model.CompletedCount</h3>
                @*<h3>@Html.DisplayFor(x => x.TaskCompletedCount)</h3>*@
            </div>
            <div class="col-md-4">
                <h3> @Model.DayLeft</h3>
                @*<h3>@Html.DisplayFor(x => x.DaysLeftCount)</h3>*@
            </div>
        </div>
        <div class="row" style="">
            <div class="col-md-4">
                @Resource["TasksLeft"]
            </div>
            <div class="col-md-4" onclick="OnViewS('Completed')">
                @SharedResource["Complete"]
            </div>
            <div class="col-md-4">
                @Resource["DaysLeft"]
            </div>
            @*<div class="col-md-4" onclick="OnViewS('InProgress')">
                    InProgress
                </div>
                <div class="col-md-4" onclick="OnViewS('Draft')">
                    Draft
                </div>
                <div class="col-md-4" onclick="OnViewS('Overdue')">
                    OverDue
                </div>*@
        </div>
        <div>
            @*@(Html.Kendo().ProgressBar()
                                .Name("fastAndFurious")
                                .Type(ProgressBarType.Percent)
                                .Animation(a => a.Duration(800))
                               // .Value(Model.TaskCompletedPercentage)
                )*@
        </div>
        <br /><br />

        <div class="card" sstyle="border-radius:6px;border-color:grey">
            <div class="row product">@SharedResource["Assignee"]</div>

            <div id="sharelistView1"></div>

            @*@(Html.Kendo().ListView<TeamWorkloadViewModel>()
                            .Name("sharelistView1")//.Events(x=>x.Change("onChange"))
                            .TagName("div")//.Selectable(ListViewSelectionMode.Multiple)
                            .ClientTemplateId("template").Scrollable(ListViewScrollableMode.Endless)
                                                         //.DataSource(dataSource =>
                                                         //{
                                                         //    dataSource.Read(read => read.Action("ReadProjectTaskAssignedData", "Project", new { projectId = Model.Id }));
                                                         //    dataSource.ServerOperation(false);
                                                         //})
                  .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("ReadProjectTaskAssignedData", "ProjectTask", new { @area = "PJM", projectId = Model.Id }))
                ).HtmlAttributes(new { style = "height:350px;" })
                  )*@
        </div>
        <script type="text/x-kendo-tmpl" id="template">


            <div class="row product">


            <div class="col-2">
             #if(PhotoId != null)
                           {#
                           <img class="drp-user-photo1" title="#:data.UserName#" width="60" height="50" src="/cms/Document/GetImageMongo?id=#=PhotoId#" onerror="OnPhotoError(this)" style='text-align: center;'>
                           #}
                           else {#
             <img class="drp-user-photo1" title="#:data.UserName#" width="60" height="50"  src='/images/profile.jpg' style='text-align: center;'>
              #}#</div>
            <div class="col-6">

            <div class="row"> <span style="margin-left:30px;font-size:14px;color:gray;"> #:UserName#  </span></div>
            <div class="row">
                          <span style="margin-left:30px"> #:UserTaskCount# @Html.Raw(SharedResource["Task"]) </span></div>
            </div>
                       </div>
        </script>

        <br /><br />

        <div class="card" sstyle="border-radius:6px;border-color:grey">
            <div class="row product">@SharedResource["Owner"]</div>

            <div id="sharelistView"></div>

            @*@(Html.Kendo().ListView<TeamWorkloadViewModel>()
                            .Name("sharelistView")//.Events(x=>x.Change("onChange"))
                            //.Scrollable(ListViewScrollableMode.Endless)
                            .TagName("div")//.Selectable(ListViewSelectionMode.Multiple)
                            .ClientTemplateId("template_owner")

                  //.DataSource(dataSource =>
                  //{
                  //    dataSource.Read(read => read.Action("ReadProjectTaskAssignedData", "Project", new { projectId = Model.Id }));
                  //    dataSource.ServerOperation(false);
                  //})
                  .DataSource(dataSource => dataSource
                        .Ajax().PageSize(5)
                        .Read(read => read.Action("ReadProjectTaskOwnerData", "ProjectTask", new { @area = "PJM", projectId = Model.Id }))
                )
                  )*@
        </div>
        <script type="text/x-kendo-tmpl" id="template_owner">


            <div class="row product">


            <div class="col-2">
             #if(PhotoId != null)
                           {#
                           <img class="drp-user-photo1" title="#:data.UserName#" width="60" height="50" onerror="OnPhotoError(this)" src="/cms/Document/GetImageMongo?id=#=PhotoId#" style='text-align: center;'>
                           #}
                           else {#
             <img class="drp-user-photo1" title="#:data.UserName#" width="60" height="50"  src='/images/profile.jpg' style='text-align: center;'>
              #}#</div>
            <div class="col-6">

            <div class="row"> <span style="margin-left:30px;font-size:14px;color:gray;"> #:UserName#  </span></div>
            <div class="row">
                          <span style="margin-left:30px"> #:UserTaskCount# @Html.Raw(SharedResource["Task"]) </span></div>
            </div>
                       </div>
        </script>
    </div>


    <div class="col-md-9">
        <div class="row-12" style="">
            <button style="float:left" id="left" class="scrollbtn"><i class="fas fa-chevron-left"></i></button>
            <button style="float:right" id="right" class="scrollbtn"><i class="fas fa-chevron-right"></i></button>
        </div>
        <br />
        <div class="task-content pt-3" style="display:none;">
            <div class="task-items">
                <div class="task-item pt-5">
                    <div class="card">
                        <div class="card-header p-2">
                            <a href="\\#" class="task-header-item1">
                                <div class="row no-gutters">
                                    <div class="col-12 row no-gutters">
                                        <div class="col-2">
                                            <img title="item.Assignee" class="tab-user-img" src="@Url.Action("GetUserPhotoByUserId", "document", new { @area = "Cms", userId = "AssigneeId" })" onerror='OnPhotoError(this);' />
                                        </div>
                                        <div class="col-10 row no-gutters">
                                            <div class="col-12 tab-item" style="font-size:12px;">item.Assignee</div>
                                            <div class="col-12 tab-item" style="font-size:13px;">@Html.Raw("item.StatusAndNo")</div>

                                        </div>
                                    </div>


                                </div>
                            </a>
                        </div>
                        <div class="card-body p-2">
                            <div class="child-tasks">
                                <div class="panel-group">
                                    <div class="panel panel-default mb-2">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                            </h5>
                                        </div>
                                        <div class="panel-footer"><a data-toggle="collapse" href="#collapse1">Collapsible panel</a></div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body">Panel Body</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                            </h5>
                                        </div>
                                        <div class="panel-footer"><a data-toggle="collapse" href="#collapse1">Collapsible panel</a></div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body">Panel Body</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                            </h5>
                                        </div>
                                        <div class="panel-footer"><a data-toggle="collapse" href="#collapse1">Collapsible panel</a></div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body">Panel Body</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                            </h5>
                                        </div>
                                        <div class="panel-footer"><a data-toggle="collapse" href="#collapse1">Collapsible panel</a></div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body">Panel Body</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                            </h5>
                                        </div>
                                        <div class="panel-footer"><a data-toggle="collapse" href="#collapse1">Collapsible panel</a></div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body">Panel Body</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script id="stage_template" type="text/kendo-ui-template">
            <div class="task-item" style="margin-top:0px;">
                      <div class="card" >
                          <div class="card-header p-2">
                               <a href="javascript:OnService('#=id#');" class="task-header">
                                   <div class="row no-gutters">
                                       <div class="col-12 row no-gutters">
                                           <div class="col-2">
                                               <img title="item.Assignee" class="tab-user-img" src="/cms/document/GetUserPhotoByUserId?userId=#=ProjectOwnerId #" onerror='OnPhotoError(this);' />
                                           </div>
                                           <div class="col-10 row no-gutters">
                                               <div class="col-12 tab-item" style="font-size:13px;"> #= StageName #</div>
                                               <div class="col-12 tab-item" style="font-size:11px;"> #=ProjectOwnerName #</div>
                                           </div>
                                       </div>
                                   </div>
                               </a>
                          </div>
                          <div class="card-body p-2">
                              <div id="child-tasks-#=id#" class="child-tasks"">
                               Loading...
                              </div>
                          </div>
                            #if('@ViewBag.UserId' == ProjectOwnerId || '@ViewBag.UserId'== RequestedByUserId){#
                             <div class="card-footer row no-gutters p-2" style="background-color:black;">
                                <div class="col-6" style="font-size:12px;cursor:pointer;color:white;font-weight:500;" onclick="OnTask('#=id#')">Add New Task</div>
                                <div class="col-6" style="font-size:12px;cursor:pointer;color:white;font-weight:500;" onclick="OnStage('#=id#')"> Add New Stage</div>
                            </div>
                        #}#
                      </div>
                  </div>

        </script>
        <script id="task_template" type="text/kendo-ui-template">
               # for (var i = 0; i < data.length; i++) { var item=data[i];#
            <div class="panel-group task-list">
                                   <div class="card mb-2">
                                       <div class="card-header p-2">
                                          <a href="javascript:EditTask('#=item.TaskId#','#=item.UserId#');" class="task-header">
                                   <div class="row no-gutters">
                                       <div class="col-12 row no-gutters">
                                           <div class="col-2">
                                               <img title=" #=item.UserName==null?'':item.UserName#" class="tab-user-img" src="/cms/document/GetUserPhotoByUserId?userId=#= item.UserId #" onerror='OnPhotoError(this);' />
                                           </div>
                                           <div class="col-10 row no-gutters">
                                               <div class="col-12 tab-item" style="font-size:13px;">#=item.TaskName==null?'Draft':item.TaskName#</div>
                                               <div class="col-12 tab-item" style="font-size:11px;"> #=item.UserName==null?'':item.UserName# - <span>#=item.TaskStatus#</span></div>
                                           </div>
                                       </div>
                                   </div>
                               </a>
                                       </div>
                                       <div class="row no-gutters panel-footer p-1 #=item.TaskStatusCode#"" style="text-align:center;">
              # if (item.SubTaskCount>0) { #
                                               <div class="col-6" style="font-size:12px;"><a style="color:white;" data-toggle="collapse" href="\\##=item.TaskId#">Show #=item.SubTaskCount# Sub Task(s)</a></div>
                                               <div class="col-6" style="font-size:12px;cursor:pointer;" onclick="SubTask('#=item.TaskId#','#=item.ProjectId#')"> Add New Sub Task</div>
                                      # } else { #
              <div class="col-12" style="font-size:12px;cursor:pointer;" onclick="SubTask('#=item.TaskId#','#=item.ProjectId#')"> Add New Sub Task</div>
            # } #
            </div>
                                       <div id="#=item.TaskId#" uid="#=item.TaskId#" class="panel-collapse collapse">
                                           <div id="sub-tasks-#=item.TaskId#" class="panel-body p-1">Loading Sub Tasks...</div>
                                       </div>

                                   </div>
                               </div>
                # } #
        </script>
        <script id="sub_task_template" type="text/kendo-ui-template">
            # for (var i = 0; i < data.length; i++) { var item=data[i];#
               <div class="m-1 p-2 row no-gutters #: item.TaskStatusCode #" style="border-radius:6px;font-size:12px;pointer:cursor;" onclick="OnSubTaskClick('#:item.id#','#:item.parentId#','#:item.TaskStatus#')">
                <div class="col-12">
                    #:item.TaskName==null?'Draft':item.TaskName# - #: item.UserName==null?'':item.UserName # - #: item.TaskStatus==null?'':item.TaskStatus #
                </div>
              </div>
            # } #
        </script>
        <div id="listView"></div>



    </div>
</div>

<div id="divmenu">
</div>




