@using Synergy.App.DataModel
@using Synergy.App.WebUtility
@*@using Kendo.Mvc.UI*@
@using Synergy.App.Common

@model TeamWorkloadViewModel
@{
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}

<style>
    .Draft {
        background-color: #17a2b8;
        color: #fff;
    }

    .InProgress {
        background-color: #007bff;
        color: #fff;
    }

    .Overdue {
        background-color: #ffc107;
        color: #fff;
    }

    .Completed {
        background-color: #28a745;
        color: #fff;
    }

    .Rejected {
        background-color: #dc3545;
        color: #fff;
    }

    .Canceled {
        background-color: #343a40;
        color: #fff;
    }
    .listViewDoc {
        border: none;
        border-radius: 6px;
        overflow-x: hidden;
    }

    input.largerCheckbox {
        width: 15px;
        height: 20px;
        background-color: #2196F3;
    }

    .board {
        border: none;
        overflow-x: scroll;
        display: flex;
    }

    .card_task {
        border-color: #209EB8;
    }

    .newtask {
        background-color: black;
        color: #fff;
    }

    .tasklist {
        background-color: #209EB8;
        color: #fff;
        border-radius: 0px 0px 3px 3px;
    }

    .taskname {
        /*color: #1D6EF4;*/
        color: black;
    }

    .drp-user-photo {
        height: 50px;
        width: 50px;
        border-radius: 30px;
    }

    #board > .k-listview-content {
        display: flex;
    }

    .k-listview-content {
        overflow: unset;
    }

    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
    }

    .scrollbtn {
        background-color: #4E4D4D;
        color: white;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 2px;
    }

    .k-treeview-lines {
        overflow-x: scroll;
        width: 100%;
    }
</style>

<script>

    function OnPhotoError(obj) {
        // alert("test");
        obj.onerror = null;

        obj.src = '/images/profile.jpg';


    }

    $(document).ready(function () {
        window.LoadPartailView1("/pjm/ProjectTask/ProjectDetailsFilter?hideProject=true", 'ProjectFilter');
        HideLoader($("#global-overlay"));
        $("#scheduler").html('');
         var dataSource = new kendo.data.SchedulerDataSource({
                transport: {
                    read: {
                        url: "/Pjm/ProjectTask/ReadProjectTaskCalendarData?projectId=@Model.Id",
                        dataType: "json"
                    },

                },

                batch: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            id: { type: "text" },
                            title: { from: "Title" },
                            start: { type: "date", from: "Start" },
                            end: { type: "date", from: "End" },
                            userName: { from: "UserName" },
                            statusName: { from: "StatusName" },
                            serviceId: { from: "ServiceId" },
                            templateCode: { from: "TemplateCode" },
                            ownerUserId: { from: "OwnerUserId" },
                            assigneeUserId: { from: "AssigneeUserId" },
                            isAllDay: { type: "boolean", from: "IsAllDay" },

                        }
                    }
                }
            });
            $("#scheduler").kendoScheduler({
                date: new Date("@DateTime.Now.Date"),
                startTime: new Date("@DateTime.Now.Date"),
               // endTime: new Date("2020/10/4 20:00"),
                height: 600,
                views: [
                    { type: "day", template: kendo.template($("#fullTemplate").html()),editable:true },

                    { type: "week", selected: true, template: kendo.template($("#WeekTemplate").html()), editable: true },
                    {
                        type: "month", template: kendo.template($("#titleTemplate").html()), editable: true
                    },
                    {
                        type: "agenda", template: kendo.template($("#ajendaTemplate").html()), editable: false
                    },
                ],
                timezone: "Etc/UTC",
                //eventTemplate: $("#event-template").html(),
                edit: "OnTask",
                dataSource: dataSource,
                resources: [
                    {
                        field: "NtsId",
                        title: "Nts",
                        dataSource: [
                            { text: "Task", value: "T", color: "#e6f2ff" },
                            { text: "Service", value: "S", color: "#c6ecd9" },
                            { text: "Note", value: "N", color: "#ffd9b3" },
                        ]
                    }
                ]

            });
    });
    function OnTask(userId) {
        //
        var portalId = $('#GlobalPortalId').val();
        var prms = encodeURIComponent('parentServiceId=@Model.Id&assignedToUserId=' + userId);
            var url = '/Cms/Page?source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;

            LoadCmsPartialView(url, '@Html.Raw(SharedResource["Task"])', true, 1200, 650, 'Create Task');
            return false;
    }

    function OnSubTask(parentTaskId) {
        //
        var portalId = $('#GlobalPortalId').val();
        var prms = encodeURIComponent('parentServiceId=@Model.Id&parentTaskId=' + parentTaskId);
            var url = '/Cms/Page?source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;

            LoadCmsPartialView(url, '@Html.Raw(SharedResource["Task"])', true, 1200, 650, 'Create Sub Task');
            return false;
    }
    function EditTask(taskId) {

        var portalId = $('#GlobalPortalId').val();
        var prms = encodeURIComponent('parentServiceId=@Model.Id');
        var url = '/Cms/Page?lo=Popup&popup=true&cbm=OnAfterTaskCreate&source=Versioning&dataAction=Edit&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + taskId + '&prms=' + prms;
       // var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Edit&dataAction=Edit&pageName=ProjectTask&portalId=' + '&recordId=' + taskId + '&prms=' + prms;

           // LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Edit Task');
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["Task"])', Width: 1200, Height: 600 });
            return false;
    }
    function onSearch() {
        var selecteduid = $("#Receiver").data("kendoMultiSelect").value();
        var selectedstatus = $("#Status").data("kendoMultiSelect").value();
        var selectedoid = $("#Sender").data("kendoMultiSelect").value();
        var selectedfromDate = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy/MM/dd');
        var selectedtoDate = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy/MM/dd');
        var selectedcolumn = $("#Column").data("kendoDropDownList").value();
        var selecteddateRange = $("#DateType").data("kendoDropDownList").value();
        if (selecteduid.length > 0 || selectedstatus.length > 0 || selectedoid.length > 0 || selectedfromDate != null || selectedtoDate != null || selecteddateRange != "") {
            document.getElementById('filtertext').innerHTML = " Applied";
        }
        var search = {
            //projectIds: $("#ProjectFiltersIds").data("kendoMultiSelect").value(),
            filteruser: $("#Receiver").data("kendoMultiSelect").value(),
            ownerIds: $("#Sender").data("kendoMultiSelect").value(),
            filterstatus: $("#Status").data("kendoMultiSelect").value(),
            column: $("#Column").data("kendoDropDownList").value(),
            dateRange: $("#DateType").data("kendoDropDownList").value(),
            fromDate: kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
            toDate: kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
        };
        $("#scheduler").data("kendoScheduler").dataSource.read(search);
    }
    function onReset() {

        window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectDetailsFilter?hideProject=true", 'ProjectFilter');
        document.getElementById('filtertext').innerHTML = " Not Applied";
        $("#scheduler").data("kendoScheduler").dataSource.read();
    }

</script>


<!--<div class="row hr-pad-top-10">-->
    @*<div class="col-md-6">
        <h4>
            Project Task By User Calendar View
        </h4>
    </div>*@
<!--</div>-->
<div id="ProjectFilter">

</div>
<div class="row" style="text-align:center;margin-left:15px;margin-top:20px;">
    <div class="col-md-3" style="background-color:#fff;height:180px;">

        <div class="row" style="padding:15px">
            <div class="col-md-12" style="text-align:center;">
                @if (Model.PhotoId.IsNotNullAndNotEmpty())
                {
                    <img width="80" height="80" src="/cms/Document/GetFileMongo?fileId=@Model.PhotoId" onerror="OnPhotoError(this)" style="border-radius: 60px;">
                }
                else
                {
                    <img width="80" height="80" src="/images/profile.jpg" style="text-align: center;border-radius:60px;">
                }
                <h4 style="color:black">@Model.UserName</h4>
                <h6 style="color:black">@Model.EmailId</h6>
            </div>
        </div>
        @*<hr />*@
        <!--<div class="col-md-12" style="padding:15px;text-align:center;">
            <h6 style="color:black">Recently Completed:</h6>

            <div class="row">-->
                @*@(Html.Kendo().ListView<TeamWorkloadViewModel>()
                               .Name("listView")
                               .TagName("div")
                               .ClientTemplateId("CompletedTaskTemplate")
                               .HtmlAttributes(new { @style = "border:none;border-radius:0px;" })
                               .DataSource(dataSource => dataSource
                               .Ajax()
                               .Read(read => read.Action("ReadProjectTeamDataByUser", "ProjectTask", new { projectId = Model.Id, @area = "PJM" }))
                               .PageSize(21)
                               )
                               .Pageable(x => x.Enabled(false))
                    )*@

            <!--</div>


        </div>
        <div class="col-md-12" style="padding:20px;text-align:center;">
            <h6 style="color:black">View all completed tasks:</h6>

            <div class="row">-->
                @*@(Html.Kendo().ListView<TeamWorkloadViewModel>()
                               .Name("AllCompletedlistView")
                               .TagName("div")
                               .ClientTemplateId("CompletedTaskTemplate")
                               .HtmlAttributes(new { @style = "border:none;border-radius:0px;" })
                               .DataSource(dataSource => dataSource
                               .Ajax()
                               .Read(read => read.Action("ReadProjectTeamDataByUser", "ProjectTask", new { projectId = Model.Id, @area = "PJM" }))
                               .PageSize(21)
                               )
                               .Pageable(x => x.Enabled(false))
                    )*@

            <!--</div>

        </div>-->
    </div>
    <div class="col-md-9">
        <div id="scheduler">

        </div>
        @*@(Html.Kendo().Scheduler<DashboardCalendarViewModel>()
                                        .Name("scheduler")
                                        //.Events(e => e.DataBound("OnSchedulerDataBound"))
                                        .Date(DateTime.Now.Date)
                                        .StartTime(DateTime.Now.Date)
                                        .Height(600)
                                        .Views(views =>
                                        {
                                            views.DayView(x => x.AllDaySlot(true).Title(SharedResource["Day"]).Editable(false).MajorTick(1440).AllDayEventTemplateId("fullTemplate")
                                                            );
                                            views.WeekView(x => x.AllDaySlot(true).Title(SharedResource["Week"]).Editable(false).MajorTick(1440).AllDayEventTemplateId("WeekTemplate")
                                            );
                                            views.MonthView(x => x.Selected(true).Title(SharedResource["Month"]).Editable(false).EventTemplateId("titleTemplate")
                                            );
                                            views.AgendaView(x => x.Editable(false).Title(SharedResource["Agenda"]).EventTemplateId("ajendaTemplate")
                                            );
                                        })
                                                //.Selectable(true)
                                                .Events(e => e.Edit("OnTask"))
                                                .Resources(resource =>
                                                {
                                                    resource.Add(m => m.NtsId)
                                                    .Title("Nts")
                                                    .Name("Nts")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .DataColorField("Color")
                                                    .BindTo(new[] {
                                                            new { Text = "Task", Value = "T", Color = "#e6f2ff" } ,
                                                            new { Text = "Service", Value = "S", Color = "#c6ecd9" } ,
                                                            new { Text = "Note", Value = "N", Color = "#ffd9b3" }
                                                    });

                                                })
                                        .DataSource(d => d
                                        .Read("ReadProjectTaskCalendarData", "ProjectTask", new { projectId = Model.Id })
                                        )
         )*@
    </div>
</div>


<script type="text/x-kendo-tmpl" id="fullTemplate">
    <div class="row k-event-template #=StatusName#" @*style="color:rgba(98, 105, 117, 1);"*@ title="#:data.title#( #= kendo.toString(start, 'dd MMM yyyy') # - #= kendo.toString(end, 'dd MMM yyyy') #, #= StatusName #)">
        <div class="col-xs-12 col-sm-4 col-md-5">
            <a onclick="return EditTask('#: data.Id #');" class="template-link">#: title #</a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 temp">
            Start Date : #= kendo.toString(start, 'dd MMM yyyy') #
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
            Due Date : #= kendo.toString(end, 'dd MMM yyyy') #
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1">
            #: StatusName #
        </div>
    </div>
</script>
<script type="text/x-kendo-tmpl" id="WeekTemplate">
    <div class="row ">
        <div class="row" style="margin-left:15px;">
            <a onclick="return OnEventClick('#: data.NtsId #', '#: data.Id #');" class="template-link">#: title #</a>
        </div>
        @*<div class="row" style="margin-top:-13px;text-align:right;">
            <div class="#=StatusCode#" style="width:10px;height:10px;border-radius:5px;"></div>&nbsp;
        </div>*@
    </div>
</script>
<script type="text/x-kendo-tmpl" id="titleTemplate">
    <div class="row @*k-event-template*@ #=StatusName#" >
        <div class="row" style="margin-left:15px;">
            <a onclick="return EditTask('#: data.Id #');" class="template-link"> #: title# - #: UserName#</a>
        </div>
        @*<div class="row" style="margin-top:-13px;text-align:right;">
            <div class="#=StatusName#" style="width:10px;height:10px;border-radius:5px;"></div>&nbsp;
        </div>*@
    </div>
</script>
<script type="text/x-kendo-tmpl" id="ajendaTemplate">
    <a onclick="return OnEventClick('#: data.NtsId #', '#: data.Id #');" class="template-link" style="color:rgba(98, 105, 117, 1);" title="#:data.title#( #= kendo.toString(start, 'dd MMM yyyy') # - #= kendo.toString(DueDate, 'dd MMM yyyy') #, #= StatusName #)">#: title #</a>
</script>

