

@using Synergy.App.ViewModel;
@using Synergy.App.Common;


@model TASUserReportViewModel
@{
    ViewBag.Title = "Permission";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    // Layout = null;
}

<style>
    .hr-xxl-large {
        width: 1000px;
    }

    .hr-x-large {
        width: 500px;
    }

    .k-primary {
        margin: 5px;
    }

    .l1 {
        color: red;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 220px;
        left: 530px;
    }

    .l2 {
        color: black;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 270px;
        left: 450px;
    }

    .name {
        color: white;
        font-size: 10px;
        position: absolute;
        top: 340px;
        left: 380px;
    }

    .name1 {
        color: white;
        font-size: 10px;
        position: absolute;
        top: 380px;
        left: 380px;
    }

    .name2 {
        color: white;
        font-size: 10px;
        position: absolute;
        top: 380px;
        left: 450px;
    }


    .job {
        color: white;
        font-size: 10px;
        position: absolute;
        top: 360px;
        left: 380px;
    }

    .td {
        border: solid 1px;
    }

    .gray {
        background-color: #d4d4d4 !important;
        color: black !important;
        width: 100px;
    }

    .gray1 {
        background-color: #d4d4d4 !important;
        color: black !important;
        width: 50px;
    }

    .final {
        height: 80px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .small {
        height: 50px;
        width: 50px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: black;
    }
</style>

    <form asp-controller="TalentAssessment" asp-action="UpdateUserReport" method="post" class="form-horizontal" id="myForm">
        <div class="row" style="position:fixed;text-align:right">
            <div class="col-lg-12" style="text-align:right">
                @*@Html.Kendo().Button().Name("btnSubmit").Content("Save/Download").Icon("check-outline").HtmlAttributes(new { @class = "k-primary" })*@
                <button type="submit" id="btnSubmit" class="btn btn-primary">Save/Download</button>
            </div>
            @Html.HiddenFor(x => x.UserId)
        </div>
        <div style="padding:50px;background-color:#d4d4d4">
            <div class="row" style="background-color:white">
                <div class="col-lg-12">
                    <br /> <br /> <br /> <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/bg1.png" height="550" width="1000" />
                            @Html.Display("ســــــــــــــــــــــــــــري", new { @class = "hr-xx-large l1" })
                            @Html.Display("نتائج تقييم المواهب الحكومية", new { @class = "hr-xx-large l2" })
                            @*@Html.Kendo().TextBoxFor(m => m.UserFullName).HtmlAttributes(new { @class = "hr-xx-large name" })*@
                            <input asp-for="UserFullName" type="text" class="form-control" style="width:100%" />

                            @*@Html.Kendo().TextBoxFor(m => m.UserJobTitle).HtmlAttributes(new { @class = "hr-xx-large job" })*@
                            <input asp-for="UserJobTitle" type="text" class="form-control" style="width:100%" />

                            @*@Html.Kendo().TextBoxFor(m => m.MonthYear).HtmlAttributes(new { @class = "hr-xx-large name1" })*@
                            <input asp-for="MonthYear" type="text" class="form-control" style="width:100%" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div class="row">
                        <div class="col-lg-12" style="text-align:right;color:#c1972a;font-size:24px;font-weight:bold;padding-right:40px;">
                            تفاصيل بيانات الموظف
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-6">
                            <table style="border: solid 1px;width: 500px;">
                                <tr>
                                    <td class="col-md-12" style="padding: 0px;text-align:center;border: solid 1px;">
                                        @Html.Display("نتائج البيانات الأساسية للموظف", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-12" style="padding: 0px;text-align:center;border: solid 1px;background-color:#d4d4d4">
                                        @Html.Display("يتبع للموظف (1)  إدارة ", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-12" style="padding: 0px;text-align:center;border: solid 1px;background-color:#d4d4d4">
                                        @Html.Display("يتبع للموظف (2) قسم", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <!--<tr>
            <td class="col-md-12" style="padding: 0px;text-align:center;border: solid 1px;">-->
                @*@Html.Kendo().TextBoxFor(m => m.SubordinateCount).HtmlAttributes(new { @class = "hr-xx-large" })*@
         <!--<input asp-for="SubordinateCount" type="text" class="form-control" style="width:100%" />
            </td>
        </tr>-->
                            </table>
                            <br /><br /><br /><br /><br /><br /><br />
                            <table style="border: solid 1px;width: 500px;background-color:#c1972a;">
                                <tr>
                                    <td class="col-md-6" style="padding: 0px;text-align:center;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.DepartmentEmployeeCount).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="DepartmentEmployeeCount" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-6" style="padding: 0px;text-align:right;color:white;border: solid 1px;">
                                        @Html.Display("اجمالي عدد الموظفين في الادارة", new { @class = "hr-xx-large" })
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table style="border: solid 1px;background-color:#c1972a;width: 500px;">
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @Html.Display("", new { @class = "hr-xx-large" })
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;font-size:14px;font-weight:bold">
                                        @Html.Display("نتائج البيانات الأساسية للموظف", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @Html.Display("", new { @class = "hr-xx-large" })
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.Entity).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="Entity" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("الجهة", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.NewSide).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="NewSide" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("الجهة الجديدة", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.Nationality).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="Nationality" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("الجنسية", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.Age).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="Age" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("العمر", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.NationalityCategory).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="NationalityCategory" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("التصنيف", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.UserFullName).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="UserFullName" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("الاسم الكامل", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.DateOfHiring).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="DateOfHiring" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("تاريخ التعيين", new { @class = "hr-xx-large" })
                                    </td>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.Class).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="Class" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("الدرجة", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.OrganizationalUnit).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="OrganizationalUnit" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("الوحدة التنظيمية", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.UserJobTitle).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="UserJobTitle" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("المسمى الوظيفي", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.TypeOfContract).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="TypeOfContract" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("نوع العقد", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.Qualification).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="Qualification" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("المستوى التعليمي", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.NumberOfYearsOfService).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="NumberOfYearsOfService" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("اجمالي عدد سنوات الخبرة", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7" style="padding-left: 0px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.TotalNoOfExperienceInSameJob).HtmlAttributes(new { @class = "hr-xx-large" })*@
                                        <input asp-for="TotalNoOfExperienceInSameJob" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-md-5" style="text-align: right;color:white;">
                                        @Html.Display("عدد سنوات الخبرة في ذات الوظيفة", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br /><br /><br />
                    <div class="row">
                        <div class="col-lg-12" style="text-align:right;color:#c1972a;font-size:24px;font-weight:bold;padding-right:40px;">
                            ملخص حول تقييم الموظف
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row" style="text-align: right;">
                                نتيجة التقييم النهائية للموظف
                            </div><br />
                            <div class="row" style="text-align: right;">
                                (بناء على مخرجات نتائج التقييم  الفني / التخصصي القائم على المهارات والمعرفة والتقييم النفسي القائم على الكفاءات القيادية و المستقبلية) هي:
                            </div>
                            <br />
                            <div class="row" style="text-align: left;color:red;">
                                في انتظار اكتمال المقارنة مع
                                الأقران في نفس المسمى الوظيفي
                            </div>
                            <br />
                            <div class="row" style="padding-left:80px;text-align: center;">
                                <table style="border:solid 20px #c1972a;" width="80" height="80">
                                    <tr>
                                        <td>
                                            @*@Html.Kendo().TextBoxFor(m => m.FinalResult).HtmlAttributes(new { @class = "final" })*@
                                            <input asp-for="FinalResult" type="text" class="form-control" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </div><br />
                            <div class="row" style="text-align: left;color:red">
                                بانتظار اكتمال نتيجة
                                تقييم الجهة المعنية
                            </div><br />
                            <div class="row" style="text-align: center;">
                                نتيجة التقييم بالمقارنة مع الاقران في نفس المستوى
                            </div><br />
                            <div class="row">
                                <table style="border:solid 1px #c1972a;" width="150">
                                    <tr>
                                        <td class="col-xs-8" style="padding-left: 0px;">
                                            @Html.Display("Name", new { @class = "hr-xx-large" })
                                        </td>
                                        <td class="col-xs-4" style="padding-left: 0px;">
                                            @Html.Display("Result", new { @class = "hr-xx-large" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-8" style="padding-left: 0px;">
                                            @*@Html.Kendo().TextBoxFor(m => m.ResultComparedEmp1)*@
                                            <input asp-for="ResultComparedEmp1" type="text"  />
                                        </td>
                                        <td class="col-xs-4" style="padding-left: 0px;">
                                            @*@Html.Kendo().TextBoxFor(m => m.ResultComparedEmpValue1)*@
                                            <input asp-for="ResultComparedEmpValue1" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-8" style="padding-left: 0px;">
                                            @*@Html.Kendo().TextBoxFor(m => m.ResultComparedEmp2)*@
                                            <input asp-for="ResultComparedEmp2" type="text"  />
                                        </td>
                                        <td class="col-xs-4" style="padding-left: 0px;">
                                            @*@Html.Kendo().TextBoxFor(m => m.ResultComparedEmpValue2)*@
                                            <input asp-for="ResultComparedEmpValue2" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-8" style="padding-left: 0px;">
                                            @*@Html.Kendo().TextBoxFor(m => m.ResultComparedEmp3)*@
                                            <input asp-for="ResultComparedEmp3" type="text"  />
                                        </td>
                                        <td class="col-xs-4" style="padding-left: 0px;">
                                            @*@Html.Kendo().TextBoxFor(m => m.ResultComparedEmpValue3)*@
                                            <input asp-for="ResultComparedEmpValue3" type="text"  />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-8" style="padding-left: 0px;">
                                            @*@Html.Kendo().TextBoxFor(m => m.ResultComparedEmp4)*@
                                            <input asp-for="ResultComparedEmp4" type="text" />
                                        </td>
                                        <td class="col-xs-4" style="padding-left: 0px;">
                                            @*@Html.Kendo().TextBoxFor(m => m.ResultComparedEmpValue4)*@
                                            <input asp-for="ResultComparedEmpValue4" type="text"  />
                                        </td>
                                    </tr>
                                </table>
                            </div><br />


                        </div>
                        <div class="col-md-8">
                            <table style="border: solid 1px;width: 670px;background-color:#d4d4d4">
                                <tr>
                                    <td style="width:50px;padding-left: 0px;text-align: right;color:white;background-color:#c1972a;border: solid 1px black;">
                                        @Html.Display("النتيجة النهائية", new { @class = "hr-xx-large" })
                                    </td>
                                    <td style="width:50px;text-align: right;color:white;font-size:14px;font-weight:bold;background-color:#c1972a;border: solid 1px black;">
                                        @Html.Display("مخرجات الوضع الحالي", new { @class = "hr-xx-large" })
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;color:white;font-size:14px;font-weight:bold;background-color:#c1972a;border: solid 1px black;">
                                        @Html.Display("(نتائج التقييم  الفني / التخصصي القائم على المهارات والمعرفة(35 ", new { @class = "hr-xx-large" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;padding-left: 0px;border: solid 1px;width:50px">
                                        @*@Html.Kendo().TextBoxFor(m => m.AverageJobPerformanceForThreeYears).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="AverageJobPerformanceForThreeYears" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td style="width:50px;text-align: right;border: solid 1px;width:50px">
                                        @*@Html.Kendo().TextBoxFor(m => m.FunctionalPerformanceResult).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="FunctionalPerformanceResult" type="text" class="form-control" style="width:100%" />

                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold;border: solid 1px;">
                                        <div class="row">
                                            <div class="col-xs-1">
                                                2019
                                                @*@Html.Kendo().TextBoxFor(m => m.JobPerformance2019).HtmlAttributes(new { @class = "gray" })*@
                                                <input asp-for="JobPerformance2019" type="text" class="form-control" style="width:100%" />
                                            </div>
                                            <div class="col-xs-1">
                                                2018
                                                @*@Html.Kendo().TextBoxFor(m => m.JobPerformance2018).HtmlAttributes(new { @class = "gray" })*@
                                                <input asp-for="JobPerformance2018" type="text" class="form-control" style="width:100%" />
                                            </div>
                                            <div class="col-xs-1">
                                                2017
                                                @*@Html.Kendo().TextBoxFor(m => m.JobPerformance2017).HtmlAttributes(new { @class = "gray" })*@
                                                <input asp-for="JobPerformance2017" type="text" class="form-control" style="width:100%" />
                                            </div>
                                            <div class="col-xs-9">
                                                نتائج تقييم الأداء الوظيفي للموظف
                                                (10%)و الإنجازات المهنية على مدى ثلاثة أعوام
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;padding-left: 0px;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.ResultOfEducationalQualification).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="ResultOfEducationalQualification" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td style="width:50px;text-align: right;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.Qualification).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="Qualification" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td style="text-align: right;font-size:14px;font-weight:bold;border: solid 1px;">
                                        (10%)الشهادات العلمية مجال الوظيفة
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;padding-left: 0px;border: solid 1px;">
                                        %0
                                    </td>
                                    <td style="width:50px;text-align: right;border: solid 1px;">
                                        لا تتوفر البيانات

                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold">
                                        (5%)الشهادات العلمية و التخصصية في مجال الوظيفة
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;padding-left: 0px;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.ResultOfTheNumberOfYearsOfService).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="ResultOfTheNumberOfYearsOfService" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td style="width:50px;text-align: right;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.TotalNoOfExperience).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="TotalNoOfExperience" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold;border: solid 1px;">
                                        (5%)سنوات الخبرة في ذات المجال الوظيفي
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;padding-left: 0px;">
                                    </td>
                                    <td style="width:50px;text-align: right;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.InterviewScore).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="InterviewScore" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold">
                                        (10%)تقييم المهارات التخصصية/التقنية في ذات  مجال الوظيفة من خلال مراكز تقييم   (المقابلات الفنية
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;padding-left: 0px;border: solid 1px;">
                                    </td>
                                    <td style="width:50px;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.TotalTechnicalAssessmentResult).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="TotalTechnicalAssessmentResult" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold;border: solid 1px;">
                                        (40%)النتيجة النهائية
                                    </td>
                                </tr>


                            </table>
                            <br />
                            <table style="border: solid 1px;width: 670px;background-color:#d4d4d4">
                                <tr>
                                    <td class="col-xs-4" style="padding-left: 0px;text-align: right;color:white;background-color:#c1972a;border: solid 1px black;">
                                        النتيجة النهائية
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;color:white;font-size:14px;font-weight:bold;background-color:#c1972a;border: solid 1px black;">
                                        (35%)نتائج التقييم النفسي القائم على الكفاءات القيادية و المستقبلية
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4" style="padding-left: 0px;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.MentalAbilityScore).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="MentalAbilityScore" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold;border: solid 1px;">
                                        (10%)مقياس القدرة الذهنية (MTQ48-Assessment of Mental Toughness)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4" style="padding-left: 0px;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.LeadershipScore).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="LeadershipScore" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold;border: solid 1px;">
                                        (10%)مقياس السلوك القيادي (ILM72 – Integrated Leadership Measure)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4" style="padding-left: 0px;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.CaseStudyScore).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="CaseStudyScore" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold">
                                        (5%)حالات دراسية مصممة لموظفي الحكومة الاتحادية (case studies)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4" style="padding-left: 0px;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.TechnicalScore).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="TechnicalScore" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold;border: solid 1px;">
                                        (10%) اختبارات تقييم الكتروني للكفاءات التخصصية باستخدام  (Technical Assessment )
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4" style="padding-left: 0px;border: solid 1px;">
                                        @*@Html.Kendo().TextBoxFor(m => m.TotalPshycologicalAssessmentResult).HtmlAttributes(new { @class = "gray" })*@
                                        <input asp-for="TotalPshycologicalAssessmentResult" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td class="col-xs-8" style="text-align: right;font-size:14px;font-weight:bold;border: solid 1px;">
                                        (35%)النتيجة النهائية
                                    </td>
                                </tr>

                            </table>
                            <br />
                            <table style="border: solid 1px;width: 670px;">
                                <tr>
                                    <td class="col-xs-4" style="padding-left: 0px;text-align: right;color:white;background-color:#c1972a;border: solid 1px black;">
                                        النتيجة النهائية(35%)نتائج التقييم النفسي القائم على الكفاءات القيادية و المستقبل
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-8" style="text-align: center;font-size:14px;font-weight:bold;border: solid 1px;background-color:yellow;">
                                        سيتم ادراج النتيجة من قبل الجهة الاتحادية المعنية
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div><br /><br />
                    <div class="row">
                        <div class="col-lg-12" style="text-align:right;color:#c1972a;font-size:24px;font-weight:bold;padding-right:40px;">
                            نتائج مؤشرات الأداء للمرؤوسين:
                        </div>
                    </div><br />

                    <div class="row" style="padding-left:50px;">
                        <div class="col-md-3" style="border:solid 1px gray;height:150px;width:230px;margin:5px;text-align:center">
                            <p style="font-weight:bold;font-size:16px;">
                                المخالفات والتظلمات
                            </p>
                            @*<p style="color:#c1972a;font-size:16px;font-weight:bold;">2019</p>
                                <p style="color:#c1972a;font-size:16px;font-weight:bold;">2018</p>
                                <p style="color:#c1972a;font-size:16px;font-weight:bold;">2017</p>*@
                            <table>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.Grievances2018).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="Grievances2018" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>2018</td>
                                </tr>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.Grievances2019).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="Grievances2019" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>2019</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3" style="border:solid 1px gray;height:150px;width:230px;margin:5px;text-align:center">
                            <p style="font-weight:bold;font-size:16px;">
                                التدريب لعام 2019
                            </p><br /><br />
                                      <p>
                                          @*@Html.Kendo().TextBoxFor(m => m.NumberOfTrainingHours2019).HtmlAttributes(new { @class = "gray" })*@
                                          <input asp-for="NumberOfTrainingHours2019" type="text" class="form-control" style="width:100%" />
                                      </p>
                        </div>
                        <div class="col-md-3" style="border:solid 1px gray;height:150px;width:230px;margin:5px;text-align:center">
                            <p style="font-weight:bold;font-size:16px;">
                                المكافآت والحوافز لعامي 2018-2019
                            </p><br />
                            <table>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.RewardsAndIncentives2018).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="RewardsAndIncentives2018" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>2018</td>
                                </tr>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.RewardsAndIncentives2019).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="RewardsAndIncentives2019" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>2019</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3" style="border:solid 1px gray;height:150px;width:230px;margin:5px;text-align:center">
                            <p style="font-weight:bold;font-size:16px;">
                                الترقيات
                            </p><br /><br />
                            <table>
                                <tr><td> @Html.Display("2017", new { @class = "gray1" })</td><td>  @Html.Display("2018", new { @class = "gray1" })</td><td>  @Html.Display("2019", new { @class = "gray1" })</td></tr>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.Promotions2017).HtmlAttributes(new { @class = "gray1" })*@
                                        <input asp-for="Promotions2017" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.Promotions2018).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="Promotions2018" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.Promotions2019).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="Promotions2019" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                </tr>

                            </table>

                        </div>
                    </div>
                    <br /><br />
                    <br />
                    <div class="row">
                        <div class="col-lg-12" style="text-align:right;color:#c1972a;font-size:24px;font-weight:bold;padding-right:40px;">
                            نتائج مؤشرات األداء للموظف:
                        </div>
                    </div><br />
                    <div class="row" style="padding-left:50px;">
                        <div class="col-md-3" style="border:solid 1px gray;height:150px;width:230px;margin:5px;text-align:center">
                            <p style="font-weight:bold;font-size:16px;">  المخالفات والتظلمات</p>
                            @*<p style="color:#c1972a;font-size:16px;font-weight:bold;">2019</p>
                                <p style="color:#c1972a;font-size:16px;font-weight:bold;">2018</p>
                                <p style="color:#c1972a;font-size:16px;font-weight:bold;">2017</p>*@
                            <table>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.SubordinateGrievances2018).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="SubordinateGrievances2018" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>2018</td>
                                </tr>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.SubordinateGrievances2019).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="SubordinateGrievances2019" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>2019</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3" style="border:solid 1px gray;height:150px;width:230px;margin:5px;text-align:center">
                            <p style="font-weight:bold;font-size:16px;">
                                التدريب لعام 2019
                            </p><br /><br />
                                      <p>
                                          @*@Html.Kendo().TextBoxFor(m => m.PerformanceSubordinatesTrainingHoursIn2019).HtmlAttributes(new { @class = "gray" })*@
                                          <input asp-for="PerformanceSubordinatesTrainingHoursIn2019" type="text" class="form-control" style="width:100%" />
                                      </p>
                        </div>
                        <div class="col-md-3" style="border:solid 1px gray;height:150px;width:230px;margin:5px;text-align:center">
                            <p style="font-weight:bold;font-size:16px;">
                                المكافآت والحوافز لعامي 2018-2019
                            </p><br />
                            <table>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.SubordinateRewardsAndIncentives2018).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="SubordinateRewardsAndIncentives2018" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>2018</td>
                                </tr>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.SubordinateRewardsAndIncentives2019).HtmlAttributes(new { @class = "gray1" })*@
                                                                        <input asp-for="SubordinateRewardsAndIncentives2019" type="text" class="form-control" style="width:100%" />
                                                                    </td>
                                    <td>2019</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3" style="border:solid 1px gray;height:150px;width:230px;margin:5px;text-align:center">
                            <p style="font-weight:bold;font-size:16px;">
                                الترقيات
                            </p><br /><br />
                            <table>
                                <tr><td> @Html.Display("2017", new { @class = "gray1" })</td><td>  @Html.Display("2018", new { @class = "gray1" })</td><td>  @Html.Display("2019", new { @class = "gray1" })</td></tr>
                                <tr>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.SubordinatePromotions2017).HtmlAttributes(new { @class = "gray1" })*@
                                        <input asp-for="SubordinatePromotions2017" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.SubordinatePromotions2018).HtmlAttributes(new { @class = "gray1" })*@
                                        <input asp-for="SubordinatePromotions2018" type="text" class="form-control" style="width:100%" />
                                    </td>
                                    <td>
                                        @*@Html.Kendo().TextBoxFor(m => m.SubordinatePromotions2019).HtmlAttributes(new { @class = "gray1" })*@
                                        <input asp-for="SubordinatePromotions2019" type="text" class="form-control" style="width:100%" />
                                    </td>
                                </tr>

                            </table>


                        </div>
                    </div><br /><br />


                    <div class="row">
                        <div class="col-lg-12" style="text-align:right;color:#c1972a;font-size:24px;font-weight:bold;padding-right:40px;">
                            النتائج التفصيلية للتقييم
                            (35%) أولا: التقييم  الفني / التخصصي القائم على المهارات والمعرفة

                        </div>
                    </div><br /><br /><br />
                    <div class="row" style="padding-left:50px;">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12" style="border:solid 1px gray;text-align:center;margin:5px;">
                                    <div class="row">
                                        <div class="col-xs-2" style="padding:10px;">
                                            <div style="color:#c1972a;font-size:16px;font-weight:bold;border:solid 5px gray;">
                                                @*@Html.Kendo().TextBoxFor(m => m.FunctionalPerformanceResult).HtmlAttributes(new { @class = "small" })*@
                                                <input asp-for="FunctionalPerformanceResult" type="text" class="form-control" style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <p style="font-weight:bold;font-size:16px;text-align:right">نتائج تقييم األداءالوظيفي للموظف واإلنجازاتاملهنية علىمدى ثالثةأعوام</p>
                                            <p style="color:#c1972a;font-size:16px;font-weight:bold;text-align:right">
                                                (النتيجة من 10%)
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12" style="border:solid 1px gray;text-align:center;margin:5px;">
                                    <div class="row">
                                        <div class="col-xs-2" style="padding:10px;">
                                            <div style="color:#c1972a;font-size:16px;font-weight:bold;border:solid 5px gray;">
                                                @*@Html.Kendo().TextBoxFor(m => m.ResultOfEducationalQualification).HtmlAttributes(new { @class = "small" })*@
                                                <input asp-for="ResultOfEducationalQualification" type="text" class="form-control" style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <p style="font-weight:bold;font-size:16px;text-align:right">
                                                الشهادات العلمية و التخصصية في مجال الوظيفة

                                            </p>
                                            <p style="color:#c1972a;font-size:16px;font-weight:bold;text-align:right">
                                                (النتيجة من 5%)
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                @*<div class="col-md-12" style="border:solid 1px gray;text-align:center;margin:5px;">
                                        <div class="row">
                                            <div class="col-xs-2" style="padding:10px;">
                                                <div style="color:#c1972a;font-size:16px;font-weight:bold;border:solid 5px gray;">
                                                    %0
                                            </div>
                                            <div class="col-xs-10">
                                                <p style="font-weight:bold;font-size:16px;text-align:right">
                                                    الشهادات التخصيصية والمهنية في مجال الوظيفة
                                                </p>
                                                <p style="color:#c1972a;font-size:16px;font-weight:bold;text-align:right">
                                                    (النتيجة من 5%)
                                                </p>
                                            </div>

                                        </div>
                                    </div>*@
                                <div class="col-md-12" style="border:solid 1px gray;text-align:center;margin:5px;">
                                    <div class="row">
                                        <div class="col-xs-2" style="padding:10px;">
                                            <div style="color:#c1972a;font-size:16px;font-weight:bold;border:solid 5px gray;">
                                                @*@Html.Kendo().TextBoxFor(m => m.ResultOfTheNumberOfYearsOfService).HtmlAttributes(new { @class = "small" })*@
                                                <input asp-for="ResultOfTheNumberOfYearsOfService" type="text" class="form-control" style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <p style="font-weight:bold;font-size:16px;text-align:right">سنوات الخبرة في ذات املجال الوظيفي</p>
                                            <p style="color:#c1972a;font-size:16px;font-weight:bold;text-align:right">
                                                (النتيجة من 5%)
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12" style="border:solid 1px gray;text-align:center;text-align:center;margin:5px;">
                                    <div class="row">
                                        <div class="col-xs-2" style="padding:10px;">
                                            <div style="color:#c1972a;font-size:16px;font-weight:bold;border:solid 5px gray;">
                                                @*@Html.Kendo().TextBoxFor(m => m.InterviewScore).HtmlAttributes(new { @class = "small" })*@
                                                <input asp-for="InterviewScore" type="text" class="form-control" style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <p style="font-weight:bold;font-size:16px;text-align:right">
                                                تقييم المهارات التخصصية/التقنية في ذات  مجال الوظيفة من خلال مراكز التقييم

                                            </p>
                                            <p style="color:#c1972a;font-size:16px;font-weight:bold;text-align:right">
                                                (1النتيجة من 5%)
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <br /><br /><br />
                            <div class="row" style="text-align: center;font-size:14px;">
                                عائشة علي احمد بن غليطة المهيري
                            </div>  <br />
                            <div class="row" style="text-align: center;color:#c1972a;font-size:14px;">
                                مدير إدارة الشؤون الإدارية
                            </div>
                            <br />
                            <div class="row" style="padding-left:80px;text-align: center;">
                                <table style="border-radius:10px;border:solid 10px #d4d4d4;" width="80" height="80">
                                    <tr>
                                        <td>
                                            @*@Html.Kendo().TextBoxFor(m => m.TotalTechnicalAssessmentResult).HtmlAttributes(new { @class = "final" })*@
                                            <input asp-for="TotalTechnicalAssessmentResult" type="text" class="form-control" style="width:100%" />@*@(1==1?"readonly=readonly":"")*@
                                        </td>
                                    </tr>
                                </table>
                            </div><br />


                        </div>
                    </div>
                    <br /><br /><br />
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/bg7.png" height="550" width="1000" />
                        </div>
                    </div> <br /> <br /> <br /> <br />
                    <div class="row">
                        <div class="col-lg-12">

                            <img src="~/Images/bg8.png" height="550" width="1000" />
                        </div>
                    </div> <br /> <br /> <br /> <br />
                    <div class="row">
                        <div class="col-lg-12">

                            <img src="~/Images/bg9.png" height="550" width="1000" />
                        </div>
                    </div> <br /> <br /> <br /> <br />
                    <div class="row">
                        <div class="col-lg-12">

                            <img src="~/Images/bga.png" height="550" width="1000" />
                        </div>
                    </div> <br /> <br /> <br /> <br />
                </div>

            </div>
        </div>
  </form>
        <script>
    function OnSuccess(response) {
        if (response.success) {
            window.location.href = "/assessment/assessment/DownloadUserAssessmentReport?userId=@Model.UserId";

        }
        else {
            ShowErrors(response.errors);
        }
    }
        </script>

