@inject Synergy.App.Common.IUserContext _userContext
@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@*@using Kendo.Mvc.Extensions;*@
@model SurveyScheduleViewModel
@{
    ViewData["Title"] = "Survey Register";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
    .container {
        background: #fff;
        /*min-height: 300px;*/
        height: auto !important;
        border-radius: 3px;
    }

    .e-card {
        min-height: 95%;
        top: 30px;
    }

    .close {
        color: #fff;
        opacity: unset;
    }

    .e-card > * {
        justify-content: right;
    }

    .modal-header {
        border-top: none;
    }

    .div-center {
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 560px;
        height: 275px !important;
        margin: auto;
        border: 2px solid silver;
        border-radius: 10px;
        background-color: #fff;
    }

    body {
        background-color: #fff !important;
    }
</style>


<div class="div-center">
    <form asp-area="TAS" asp-controller="TalentAssessment" asp-action="SurveyRegister" class="form-horizontal"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete" style="width:100%;"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess" id="registerForm"
          data-ajax="true" data-ajax-method="POST">
        <div class="row no-gutters">
            <div class="col-6" style="background-color:#fff;border-top-left-radius:10px;padding-top:50px;">
                <img alt="" title="" style="padding:10px;" src="@Url.Action("getimagemongo","document",new { @area="Cms",id=Model.PortalLogoId})" onerror='LogoError(this);' />
            </div>
            <div class="col-6" style="padding-top: 40px;">
                <div id="divVal">
                    @if (Model.SurveyCode.IsNullOrEmpty())
                    {
                        <div class="p-2">
                            Please Enter Your Survey Code<span class="required">*</span>
                        </div>
                        <div class="p-2">
                            @*@Html.Kendo().TextBoxFor(x => x.SurveyCode).HtmlAttributes(new { @style = "width:100% !important;" })*@
                        </div>
                        <div class="p-2">
                            <input type="submit" id="btnSubmit" class="btn btn-primary btn-block" value="PROCEED TO SURVEY" onclick="return OnSubmit()" />
                        </div>
                    }
                    else
                    {
                        <div class="p-2">
                        </div>
                        <div class="p-2">
                            <div class="text-primary" style="margin-top:50px;">VALIDATING THE SURVEY...PLEASE WAIT...</div>
                        </div>
                        <div class="p-2">
                        </div>
                        @Html.HiddenFor(x => x.SurveyCode)
                    }

                </div>
                <div class="p-2">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="text-success" style="display:none">SUCCESS!!! LOADING THE SURVEY...PLEASE WAIT...</div>
                </div>
            </div>
        </div>
        <div style="display:flex;justify-content:flex-end;">
            <p style="padding:10px;">powered by <a href="https://www.synergysolutions.ae/" target="_blank">Synergy Solutions</a></p>
            <img src="~/images/SynergyLogo.png" style="width:150px;" />

        </div>
        
        

        @Html.HiddenFor(x => x.PortalId)

    </form>

</div>
<script>
    $(document).ready(function () {
        if ('@Model.SurveyCode' !== null && '@Model.SurveyCode' !== 'null' && '@Model.SurveyCode' !== '' && '@Model.SurveyCode' !== undefined)
        {
            $("#SurveyCode").val('@Model.SurveyCode')
             $("#registerForm").submit();
            }
        });
    function OnSubmit(e) {
        $(".text-danger").html('');
        var language = $("#SurveyCode").val();
        if (language == null || language == '' || language == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Please Enter Your Survey Code.");
            e.preventDefault();
            return false;
        }
        $(".text-danger").addClass("validation-summary-valid");
        $(".text-danger").removeClass("validation-summary-errors");

        return true;
    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            $("#divVal").hide();
            $(".text-success").show();
            window.location.href = res.link;
        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
        }
    };
</script>


