
@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@*@using Kendo.Mvc.Extensions;*@
@inject Synergy.App.Common.IUserContext _userContext;
@model SurveyScheduleViewModel
@{
    ViewData["Title"] = "Survey Home Page";
    //Layout =   "~/Areas/Core/Views/Shared/Themes/HR/_LayoutSurvey.cshtml";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
    .container {
        background: #fff;
        /*min-height: 300px;*/
        height: auto !important;
        border-radius: 3px;
    }

    .e-card {
        min-height: 95%;
        top: 30px;
    }

    .close {
        color: #fff;
        opacity: unset;
    }

    .e-card > * {
        justify-content: right;
    }

    .modal-header {
        border-top: none;
    }

    .surveytitle {
        font-weight: 500 !important;
        color: #006699 !important;
    }

    .headertitle {
        font-weight: 500;
        color: #FFF;
        margin-bottom: 0px;
    }

    .card-footer {
        background-color: #fff !important;
        border-top: none !important;
    }

    .card-header {
        background-color: #069 !important;
        border-bottom: none !important;
    }

    .div-center {
        padding-top: 30px;
        width: 80%;
        min-height: 400px;
        margin: auto;
        margin-bottom: 40px;
    }

    .card-body {
        min-height: 200px;
    }
</style>

<script>
    function StartSurvey() {
       // $("#PreferredLanguage").data("kendoDropDownList").readonly();
        var pl = $('#PreferredLanguage').val();

        if (pl == "" || pl == null) {
            ShowNotification("Select preferred language", "error");
        }
        else {
            $("#myModal").modal('hide');
            ShowLoader($('#surveyDiv'));

            var url = "/TAS/TalentAssessment/StartSurvey";
            $.ajax({
                url: url,
                type: "POST",
                data: { 'surveyId': '@Model.SurveyId', 'surveyScheduleId': '@Model.SurveyScheduleId', 'surveyScheduleUserId': '@Model.SurveyScheduleUserId','surveyUserId':'@Model.SurveyUserId', 'preferredLanguageId': pl},
                success: function (data) {
                    if (data.success) {
                        HideLoader($('#surveyDiv'));
                         @*var url = '/Cms/Page?pageName=SurveyHome' + portalId;
                        LoadCmsPartialView(url, 'Note', false, 1000, 600, '@Html.Raw(Resource["CreatePerson"])');
                        LoadCmsPartialView*@
                        //$("#myModal").modal('hide');
                        // window.location.reload();

                        var win = GetMainWindow();
                        win.iframeOpenUrl = "/Tas/TalentAssessment/Survey?Id=" + data.serviceId + "&LanguageCode=" + data.langCode +"&surveyScheduleUserId=@Model.SurveyScheduleUserId";
                        win.OpenWindow({ Title: data.surveyName, Width: 1400, Height: 700 });
                        var customUrl = encodeURIComponent("surveyScheduleUserId=@Model.SurveyScheduleUserId");
                        var portalId = $('#GlobalPortalId').val();
                        var url = '/Cms/Page?pageName=SurveyHome&portalId=' + portalId+'&customUrl=' + customUrl;
                        LoadCmsPartialView(url, 'Custom');
                        //return false;
                    }
                    else {
                        HideLoader($('#surveyDiv'));
                        ShowNotification(data.Message, "error");
                    }
                }
            });
        }
    }
    function ContinueSurvey(serId, curTopId, langCode) {
        var url = "";
        if (serId != "" && serId != undefined) {
            curTopId = curTopId == null && curTopId == undefined  ? "" : curTopId;
            url = "/TAS/TalentAssessment/Survey?Id=" + serId + "&currentTopicId=" + curTopId + "&LanguageCode=" + langCode + "&surveyScheduleUserId=@Model.SurveyScheduleUserId";
        } else {
            url = "/TAS/TalentAssessment/Survey?Id=" + '@Model.ServiceId' +"&currentTopicId="+'@Model.CurrentTopicId' + "&LanguageCode=" + '@Model.LanguageCode'+"&surveyScheduleUserId=@Model.SurveyScheduleUserId";
        }
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Model.SurveyName', Width: 1400, Height: 700 });
        return false;
    }

    function OnStart() {

        ShowLoader($('#surveyDiv'));
        $.ajax({
            url: "/TAS/TalentAssessment/GetSurveyDetails",
                type: "GET",
                data: { 'surveyId': '@Model.SurveyId', 'surveyScheduleUserId': '@Model.SurveyScheduleUserId','surveyUserId':'@Model.SurveyUserId'},
            success: function (data) {

                    if (data.success) {
                        HideLoader($('#surveyDiv'));
                        ContinueSurvey(data.serviceId, data.topicId, data.langCode);
                    }
                    else {
                        HideLoader($('#surveyDiv'));
                        $('#myModal').modal('show');
                    }
                }
            });
    }

    function OnPhotoError(obj) {
        obj.onerror = null;
        obj.src = '/images/profile.jpg';
    }
</script>
<div class="row" style="border-bottom: 1px solid #d3cfcf;">
    <div class="col-6"></div>
    <div class="col-6">
        <div class="row">
            <div class="col-7"></div>
            <div class="col-5" style="padding-right: 35px;">
                <p class="user-menu-item" style="height:2.75rem;background:#005580;margin-top: 15px;"> <img class="user-img rounded-circle float-right " style="padding-top:2px;margin-right:-10px;margin-top:-7px;" id="profileImg" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = _userContext.PhotoId })" onerror='OnPhotoError(this);' /></p>                               
            </div>
        
        </div>        
    </div>
</div>

<div class="div-center" id="surveyDiv">
    
    
    <div class="card" style="background-color:#fff;">
        <div class="card-header" style="text-align:center;">
            <h4 class="headertitle">@Model.SurveyName</h4>
        </div>
        @if (Model.IsNotNull())
        {
            @*<div style="margin-top:10px;">
                <h4 class="surveytitle">@Model.SurveyScheduleName</h4>
            </div>*@
            @if (Model.Message.IsNotNullAndNotEmpty())
            {
                if (Model.LanguageCode == "ARABIC")
                {
                    <div class="card-body" style="text-align: right;"><h4>@Html.DisplayFor(x => x.Message)</h4></div>
                }
                else
                {
                    <div class="card-body"><h4>@Html.DisplayFor(x => x.Message)</h4></div>
                }
            }
            else
            {
                <div class="card-body">
                    @Html.Raw(@Model.StartingInstruction)
                </div>
                <div class="card-footer">
                    @if (Model.SurveyResultId.IsNotNullAndNotEmpty() && Model.SurveyStartDate.HasValue)
                    {
                        if (Model.LanguageCode == "ARABIC")
                        {
                            <button class="btn btn-primary" style="float:right;" onclick="ContinueSurvey();">تابع الاستبيان</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" style="float:right;" onclick="ContinueSurvey();">CONTINUE SURVEY</button>
                        }

                    }
                    else
                    {
                        if (Model.LanguageCode == "ARABIC")
                        {
                <button class="btn btn-primary" style="float:right;" @*data-toggle="modal" data-target="#myModal"*@ onclick="OnStart();">بدء المسح</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" style="float:right;" @*data-toggle="modal" data-target="#myModal"*@ onclick="OnStart();">START SURVEY</button>
                        }

                    }
                </div>
            }

        }
        else
        {
            <div class="card-body"><h4>There is no survey mapped for you</h4></div>
        }
    </div>
</div>




<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content e-card">

            <div class="modal-header" style="background-color:#268ef9;color:white;display:block;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Preferred Language</h4>
            </div>
            <div class="modal-body">
                <div style="padding:10px;">
                    <div>
                        @*@(Html.Kendo().DropDownListFor(x => x.PreferredLanguage)
            .HtmlAttributes(new { style = "width:70%" ,@readonly="readonly"})
            .OptionLabel("Select Preferrred Language...")
            .DataTextField("Name")
            .DataValueField("Id")
            .DataSource(source =>
            {
            source.Read(read =>
            {
                read.Action("GetLOVIdNameList", "LOV", new { area = "CMS", lovType = "PREFERED_LANGUAGE" });
            });
            })
            .Filter(FilterType.Contains)
        )*@
                        <input asp-for="PreferredLanguage" id="PreferredLanguage" class="form-control" style="width: 400px;" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn button btn-default" data-dismiss="modal" style="background-color:#bbc1c7">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="StartSurvey()">Submit</button>
            </div>

        </div>
    </div>
</div>
<script>
     $("#PreferredLanguage").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.PreferredLanguage",
            height: 300,
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=PREFERED_LANGUAGE",
                    }
                }
            }
        });
</script>

