@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations

@using CMS.UI.ViewModel
@using CMS.Business
@{
    ViewData["Title"] = "Language";
    Layout = ViewBag.Layout??null;
}

@model CMS.UI.ViewModel.ResourceLanguageViewModel



<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
    .team-logo {
        //border-radius: 50%;
        height: 80px;
        width: 80px;
    }
</style>

<div class="row" style="margin-left:15px;">
    <form asp-controller="ResourceLanguage" asp-action="Manage" method="post" cclass="form-horizontal"
                  data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                  data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                  data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" id="validation-summary1"></div>
        <div class="row" style="padding:10px;">
            <div class="row col-12 pad-10">
                
                    <div class="col-3">
                        <label for="Code">Resource Key</label>

                    </div>
                    <div class="col-9">
                        @Model.Code
                    </div>
                
            </div>
            <div class="row col-12" style="background: #b78b27;color: black;font-weight: bold;padding:5px;">
               
                    <div class="col-3">

                        Language
                    </div>
                    <div class="col-9" style="text-align:center;">
                        Value
                    </div>
               
            </div>
            <div class="row col-12 pad-10">
                
                    <div class="col-3">
                        <label for="English">English <span class="required">*</span></label>

                    </div>
                    <div class="col-9">
                     
                            <input asp-for="English" type="text" class="form-control" required="required" autocomplete="off" style="width:90%" />
                        
                    </div>
              
            </div>
            <div class="row col-12 pad-10">
               
                    <div class="col-3">
                        <label for="Arabic">Arabic <span class="required">*</span></label>

                    </div>
                    <div class="col-9">
                      
                            <input asp-for="Arabic" type="text" class="form-control" required="required" autocomplete="off" style="width:90%" />
                       
                    </div>
               
            </div>
                
                <div class="cms-slidebar-footer">
                    <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" id="submitBtn" onclick="OnSave(event);" />
                </div>

            </div>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.DataAction)
            @Html.HiddenFor(x => x.TemplateType)
            @Html.HiddenFor(x => x.TemplateId)
            @Html.HiddenFor(x => x.CallBackMethod)
            @Html.HiddenFor(x => x.Code)
</form>
</div>



<script type="text/javascript">
   
     var onAjaxSuccess = function (res) {
        if (res.success) {
          
            var win = GetMainWindow();           
            win.CloseWindow({ MethodName: "@Model.CallBackMethod", Prms: { item: res.result } });
        }
        else {
            debugger
            showError1(res.error);
          }
          HideLoader($('#page-content'));
    };
    var showError1 = function (error) {

       debugger
        $("#validation-summary1").html(error);
        $("#validation-summary1").css("display", "block")
    }
    $(document).ready(function () {
        
    });
    function OnChange(e)
    {
        var search = FilterDDl();
        $("#UserlistView").data("kendoListView").dataSource.read(search)
    }

    function FilterDDl() {
        ($("#UsersIds").val());
        var multiselect = $("#UserIds").data("kendoMultiSelect");
        var multiselectvalue = multiselect.value();
        return {
            selectedValues: multiselectvalue.join()
        };
    }
    $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            if (window.parent.$("#Teamgrid").data("kendoGrid").dataSource.read()) { }
        }
        var search = FilterDDl();
        $("#UserlistView").data("kendoListView").dataSource.read(search)

    });

    function closeNavMemberGroup() {
      
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function OnSave(evt) {

     if ($('#UserIds').val()== "Select Users...") {

            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Select Users");
            evt.preventDefault();
            return false;

        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
        }
     var radio = $('input[name="IsTeamOwner"]:checked').val();
        $('#TeamOwnerId').val(radio);

   if($('#TeamOwnerId').val()=="")
    {$(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Select TeamOwner");
            evt.preventDefault();
            return false;

        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
        }
    }

    function onFileUploadSuccess(e) {
        if (e.response.success) {
            // alert(e.response.fileId);
            $(".team-logo").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#LogoId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onLogoDel() {
        if ($("#LogoId").val() != '') {
            //
            kendo.confirm("Are you sure that you want to proceed?").then(function () {
                $(".team-logo").attr("src", "/images/icon-team64.png");
                $("#LogoId").val('');
                var logoupload = $("#files").data("kendoUpload");
                //console.log(logoupload);
                logoupload.clearFile(function (file) { return true; });
            }, function () {

            });
        }
    }

</script>
