@inject Synergy.App.Common.IUserContext _userContext
@*@using Kendo.Mvc.UI*@
 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

     
    <link rel="stylesheet" href="~/Themes/HR/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="~/css/floating-labels.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-splitter.css"  asp-append-version="true"/>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Rec/recruitment.css" asp-append-version="true" />
   
    <link href="~/Themes/HR/css/elegant-icons-style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Themes/HR/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Themes/HR/css/style-responsive.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Themes/HR/css/line-icons.css" rel="stylesheet"  asp-append-version="true"/>

    <link href="https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>

    <script src="~/Themes/HR/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery-ajax-unobtrusive.js" asp-append-version="true"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/formio/js/formio.full.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="~/js/jquery-splitter.js" asp-append-version="true"></script>
    <script src="~/js/Encrypt/aes-min.js" asp-append-version="true"></script>


    <style>
        #main-content {
            margin-left: 0px !important;
            /*    display: inline-block;*/
            width: calc(100%-257px);
        }

        #content-wrapper {
            background-color: #fff !important;
        }

        .slidenav-flow {
            overflow-x: hidden;
            overflow-y: auto !important;
            height: 85%;
        }

        #notification-div {
            transition: margin-left .5s;
            padding: 20px;
        }

        #overlay {
            position: fixed;
            background: rgba(0,0,0,.5);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            width: 100%;
            height: 100%;
            z-index: 99;
            right: 100%;
            top: 0;
            transition: right .5s ease;
        }

        .overlay {
            right: 0 !important;
        }
    </style>

    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend: function (xhr, options) {
                if (options.type.toUpperCase() == "POST") {
                    xhr.setRequestHeader("RequestVerificationToken", $('input:hidden[name="__RequestVerificationToken"]').val());
                }

            }
        });
        var onAjaxBegin = function () {
            // alert("onBegin");
        };

        var onAjaxComplete = function () {

        };
        var onAjaxFailed = function (context, res) {
        };
        var iframeOpenUrl = "";
        var frm;
        function OnLogout() {
            document.getElementById("logout").submit();
        }
        function OpenChangePassowrd() {
            OpenIframeModal('/account/changepassword', 'Change Password', 350, 700);
        }
        function OpenBreResultViewDetails() {
            OpenIframeModal('/bre/BreResultViewDetails', 'View Details', 450, 700);
        }
    function OpenMyProfile() {
            var myId = '@_userContext.UserId';
            console.log(myId);
            var url = 'user/myprofile?id=' + myId;
            OpenIframeModal(url, 'My Profile', 450, 800);
        }
        function OpenIframeModal(url, title, width, height) {

            ShowLoader($('.modal-body'));
            var iframe = document.createElement('iframe');
            iframe.setAttribute('url', '');
            iframe.setAttribute('frameborder', '0');
            iframe.setAttribute('scrolling', 'no');
            //iframe.setAttribute('width', width);
            //iframe.setAttribute('height', height);
            iframe.onload = function () {
                var h = iframe.contentWindow.document.body.scrollHeight;
                var w = iframe.contentWindow.document.body.scrollWidth;
                iframe.style.height = h + 'px';
                iframe.style.width = w + 'px';
                var mw = eval(w + 30);
                if (width > mw) {
                    mw = width;
                }
                if (height > h) {
                    h = height;
                }
                $('.modal-dialog').css({
                    width: mw + 'px', //probably not needed
                    height: h + 'px', //probably not needed
                    'max-height': '90%'
                });
                HideLoader($('.modal-body'));
            };
            iframe.src = url;
            document.getElementById('iframeDiv').innerHTML = '';
            document.getElementById('iframeDiv').appendChild(iframe);
            //$('#modalIframe').attr('src', '');
            $('#iframeModal').modal({ show: true });
            $('#iframeModal').on('shown.bs.modal', function () {

                $('#modalIframe').attr('src', url);

            })
        };

        function CloseIframeModal(reloadParent) {
            $('#iframeModal').modal('hide');
            if (reloadParent) {
                //window.location.href = window.location.href;
            }
        }
        function ShowLoader(target) {
            target.loadingOverlay();
        }
        function HideLoader(target) {
            target.loadingOverlay('remove');
        }

        function ToggleLoader(target) {
            if (target.hasClass('loading')) {
                target.loadingOverlay('remove');
                //target.loadingOverlay('remove', {
                //    iconClass: 'fa fa-spinner fa-spin'
                //});
            } else {
                target.loadingOverlay();
                //target.loadingOverlay({
                //    iconClass: 'fa fa-spinner fa-spin'
                //});

            };
        }



        function OpenIframePopup(w, h, t) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.setOptions({
                width: GetW(w),
                height: GetH(h),
                title: t
            });

            wnd.center().open();
            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                'border-bottom-style': 'none',
                'color': 'rgb(193, 151, 42)'
            });
        }
        function CloseIframePopup() {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            return false;
        }
        function GetW(w) {
            return $(window).width() > w ? w : $(window).width() - 80;
        }
        function GetH(h) {
            return $(window).height() > h ? h : $(window).height() - 80;
        }
        function OnIframeActivate(e) {
            e.preventDefault();
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            ActiveWindow = this;
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
        }
        function OnIframeOpen(e) {
            kendo.ui.progress(e.sender.element, true);
        }

        function OnIframeClose(e) {
            try {
                var pop1 = window.parent.GetIframePopup();
                pop1.PopupClose();
                var url = window.location.href;
                if (url.includes('&documentId')) {
                    window.location.href = url.split('&documentId')[0];
                }
            } catch (x) {

            }
        }
        function OnIframeRefresh(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnIframeDeactivate(e) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.content("");
        }

        function OnIframeClose2(e) {
            try {
                var pop2 = window.parent.GetIframePopup();
                pop2.PopupClose2();
            } catch (x) {

            }
        }
        function OpenIframePopup2(w, h, t) {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            wnd.setOptions({
                width: GetW(w),
                height: GetH(h),
                title: t
            });
            wnd.center().open();
            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                'border-bottom-style': 'none',
                'color': 'rgb(193, 151, 42)'
            });

        }
        function CloseIframePopup2() {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            return false;
        }
        function OnIframeActivate2(e) {
            e.preventDefault();
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            ActiveWindow = this;
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
        }
        function OnIframeOpen2(e) {
            kendo.ui.progress(e.sender.element, true);
        }
        function OnIframeRefresh2(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnIframeDeactivate2(e) {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            wnd.content("");
        }
        function GetIframePopup2() {
            var windowElement = $("#kiframepopupwindow2");
            var iframeDomElement = windowElement.children("iframe")[0];
            var iframeWindowObject = iframeDomElement.contentWindow;
            return iframeWindowObject;
        }
        function PhotoError(obj) {
            obj.onerror = null;
            obj.src = '/images/profile.jpg';

        };
        function LogoError(obj) {
             
            obj.onerror = null;
            $(obj).hide();


        };

    </script>
</head>





<body>
    <section id="main-content">
        @RenderBody()
    </section>


    <div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="iframeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="iframeModalLabel">Title</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="loading-overlay">
                        <p class="loading-spinner">
                            <span class="loading-icon fa fa-spinner fa-spin fa-2x"></span>
                            <span class="loading-text"></span>
                        </p>
                    </div>
                    <div id="iframeDiv"></div>
                </div>

            </div>
        </div>
    </div>

    <!-- Iframe Window-->
    @*@(Html.Kendo().Window().Name("kiframepopupwindow")
        .Title("Window_TitlePopupWindow")
        .Visible(false)

        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")
.Actions(actions => actions.Maximize().Close())

.Width(200)
.Height(350)
.Events(e => e.Activate("OnIframeActivate").Open("OnIframeOpen").Close("OnIframeClose").Refresh("OnIframeRefresh").Deactivate("OnIframeDeactivate"))
    )
    @(Html.Kendo().Window().Name("kiframepopupwindow2")
        .Title("Window_TitlePopupWindow")
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")

        .Width(200)
.Height(350)
.Actions(actions => actions.Maximize().Close())
.Events(e => e.Activate("OnIframeActivate2").Open("OnIframeOpen2").Close("OnIframeClose2").Refresh("OnIframeRefresh2").Deactivate("OnIframeDeactivate2"))
    )*@
    <span id="popupNotification"></span>
    <environment names="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
        <script src="~/js/popper.js"></script>
    </environment>
    @*<link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>*@


    <script src="~/lib/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/loading-overlay/loading-overlay.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-context-menu/dist/jquery.ui.position.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.css" asp-append-version="true" />


    <script src="~/Themes/HR/js/jquery.nicescroll.js" type="text/javascript" asp-append-version="true"></script>
  
    <script src="~/Themes/HR/js/scripts.js" asp-append-version="true"></script>

    


    @RenderSection("scripts", required: false)
<script>
    function RefreshNotification() {
        var interval = 30 * 1000;
        var refresh = function () {
            $("#ImageButton1").removeClass('wiggle1');
            $.ajax({
                url: "/Recruitment/notification/UnReadNotificationCount",
                contentType: "application/json",
                cache: false,
                success: function (result) {
                    if (result.UnReadCount != $('#notcount').html()) {
                        $('#ImageButton1').addClass('wiggle1');
                    }
                    if (result.UnReadCount >= 0) {
                        $('#notcount').html(result.UnReadCount);
                    }
                    //ShowSessionPopup(result);
                    //setTimeout(function () {
                    //    refresh();
                    //}, interval);
                },
                error: function (xhr, textStatus, errorThrown) {
                    // alert(errorThrown);
                }
            });
        };
        refresh();

    };
        function openWinNavigateUrl() {
            //$('#content_popup').addClass('slide_scroll');

            //$('#dynList').html('');
            //$.ajax({
            //    url: "/Recruitment/Notification/TopNotificationsViewFromBell",
            //    type: "GET",
            //    cache: false,
            //    success: function (data) {
            //        $('#dynList').html(data);
            //        $('#slide').popup('show');
            //    },
            //    error: function (xhr) {
            //        alert(xhr.responseText);
            //    }
            //});

              iframeOpenUrl = '@Url.Action("TopNotificationsViewFromBell", "Notification", new { @area= "Recruitment" })';
            OpenIframePopup(500, 1300, 'Notifications');
             var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("TopNotificationsViewFromBell", "Notification", new { @area= "Recruitment" })';
            win.OpenWindow({ Title: 'Notifications', Width: 500, Height: 1300 });
        return false;


        }

        function ShowLoader(target) {
            kendo.ui.progress(target, true);
        }
        function HideLoader(target) {
            kendo.ui.progress(target, false);
        }
        function LoadPageFormIo(data, formio) {
            var ui = JSON.parse(data.uiJson);
            Formio.createForm(formio, ui).then(function (form) {
                form.submission = {
                    data: data.dataJson
                };
            });
        }

        function LoadFormFormIo(data, formio) {
            var ui = JSON.parse(data.uiJson);
            var dataJ = JSON.parse(data.dataJson);
            Formio.createForm(formio, ui).then(function (form) {
                frm = form;
                form.submission = {
                    data: dataJ
                };
            });

        }
        function LoadTaskFormIo(data, formio) {
            var ui = JSON.parse(data.uiJson);
            var dataJ = JSON.parse(data.dataJson);
            Formio.createForm(formio, ui).then(function (form) {
                frm = form;
                form.submission = {
                    data: dataJ
                };
            });

        }
        function LoadCustomFormIo(data, container) {
            console.log(data);
            var url = "";
            if (data.dataJson.AreaName!==null) {
                url += "/" + data.dataJson.AreaName;
            }
            if (data.dataJson.ControllerName !== null) {
                url += "/" + data.dataJson.ControllerName;
            }
            if (data.dataJson.ActionName !== null) {
                url += "/" + data.dataJson.ActionName;
            }
            if (data.customUrl !== null) {
                console.log(data.customUrl);
                url += "?" + data.customUrl + "&pageId=" + data.dataJson.PageId;
                if (data.page !== null && data.page != 'undefined' && data.page != undefined) {
                    url += '&permissions=' + data.page.PermissionsText + '&pageName=' + data.page.Name;
                }
                if (data.dataJson.Parameter !== null) {
                    url += "&" + data.dataJson.Parameter;
                }
            }
            else {
                url += "?pageId=" + data.dataJson.PageId;
                if (data.page !== null && data.page != 'undefined' && data.page != undefined) {
                    url += '&permissions=' + data.page.PermissionsText + '&pageName=' + data.page.Name;
                }
                if (data.dataJson.Parameter !== null) {
                    url += "&" + data.dataJson.Parameter;
                }
            }
            //console.log(url);
           // ('#cms-content-iframe').attr('src', '/Recruitment/CandidateProfile/index');
            container.load(url, function () {
               // $.getScript("~/js/Rec/CandidateProfile/index.js");
            });
           

        }
        function OpenLogout() {
            $('#logoutModal').show();
        }
        function LoadCmsPartialView(url, pageType) {

            var container = $('#cms-content');
            container.html("");
            ShowLoader(container);
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {
                    if (data.login !== null && data.login !== undefined && data.login !== '') {
                        window.location.href = login;
                    }
                    else if (data.viewContent !== null && data.viewContent !== undefined && data.viewContent !== '') {
                        container.html(data.viewContent);
                    }
                    else if (pageType === 'Custom') {
                        LoadCustomFormIo(data, container);
                    }
                    else {
                        container.html(data.view);
                        var formio = document.getElementById('formio-container');
                        if (formio !== null) {
                            if (pageType === 'Page') {
                                LoadPageFormIo(data, formio);
                            }
                            else if (pageType === 'Form') {
                                LoadFormFormIo(data, formio);
                            }
                            else if (pageType === 'Note') {
                                LoadFormFormIo(data, formio);
                            }
                            else if (pageType === 'Task') {
                                LoadTaskFormIo(data, formio);
                            }
                            else if (pageType === 'Service') {
                                LoadFormFormIo(data, formio);
                            }
                        }
                    }

                    HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
        }

        function LoadPageById(id, pageType, source, dataAction, recordId) {
          
        }
        function LoadPartailView(url, container, type) {
            if (type === null || type === undefined || type==='') {
                type = 'GET';
            }
            ShowLoader(container);
            $.ajax({
                url: url,
                type: type,
                cache: false,
                success: function (data) {
                    container.html("");
                    container.html(data);
                    HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
        }
    function OpenChangePassowrd() {
          
         var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("changepassword", "Account", new { @area = "" })';
        win.OpenWindow({ Title: 'Change Password', Width: 450, Height: 400 });
        return false;
    }
    function OpenMyProfile() {
            var myId = '@_userContext.UserId';
            console.log(myId);
           
          var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("MyProfile", "User", new { @area = "" })?id=' + myId;
        win.OpenWindow({ Title: 'My Profile', Width: 450, Height: 400 });
        return false;
        }


           $(function () {
        $.contextMenu({
            selector: '.user-context-menu',
            trigger: 'left',
            build: function ($trigger, e) {
               return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'myProfile':
                                        OpenMyProfile();
                                        break;
                                    case 'changePassword':
                                        OpenChangePassowrd();
                                        break;
                                    case 'logOut':
                                        $('#logoutModal').modal('show');
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "myProfile": { name: "My Profile", icon: "fas fa-user" },
                                "changePassword": { name: "Change Password", icon: "fas fa-key"},
                                "logOut": { name: "Logout", icon: "fas fa-sign-out-alt" },


                            }
                        };


            }
        });
           });
        function ShowNotification(msg, type) {
            var popupNotification = $("#popupNotification").kendoNotification({
                position: {
                    pinned: true,
                    top: 100,
                    right: 30
                }
            }).data("kendoNotification");
            popupNotification.show(msg, type);
        }
</script>
    <ejs-scripts></ejs-scripts>
</body>


</html>