@{
    ViewData["Title"] = "CCTV Dashboard";
    Layout = null;
}





<style>


    
    .footage {
        float: left;
        position: relative;
        /*  width: 710px;
        height: 360px;*/
        margin: 0 5px;
        padding: 0;
    }

    #listview_cctv {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
        /* Avoid cutout if font or line is bigger */
        font: inherit;
        border: none;
    }

    .k-listview-content {
        overflow: hidden;
    }

    #listview_cctv .card {
        width: 470px;
        height: 290px;
        margin-bottom: 10px;
    }
</style>
<script>
  

</script>
<div id="cctv" class="tab-pane pad-10 active">
    <div class="row">  
        <div class="col-12" @*style="padding:0 30px"*@>
            <div id="listview_cctv">
                @{

                   var i = 0;
                }
                @foreach (var api in ViewBag.CameraList)
                {                   
                    <div class="footage">
                        <div class="card">
                            <div class="card-header">
                                @api.City - @api.Location - @api.NoteSubject
                            </div>

                            <div class="card-block">
                                @if(i==0){
                                    <iframe id="@api.Id" src="/Cms/BusinessAnalytics/Streaming?rtspLink=@api.RtspLink.Replace("&", "^")&id=@api.Id" style="width:100%;height:220px;"></iframe>
                                }
                                else{
                                    <iframe id="@api.Id" src="/Cms/BusinessAnalytics/Streaming?rtspLink=@api.RtspLink.Replace("&", "^")&id=@api.Id&serverId=@i" style="width:100%;height:220px;"></iframe>

                                }
                            </div>
                        </div>
                    </div>
                    @if(i<4){
                        i++;
                    }
                    else{
                        i = 0;
                    }
                }
   @* <div class="footage">
     <div class="card">
        <div class="card-header">
    Stream1
        </div>

        <div class="card-block">
            <iframe id="if1" src="/Cms/BusinessAnalytics/Streaming?rtspLink=rtsp://admin:Admin@123@10.0.228.57:554/cam/realmonitor?channel=1^subtype=0^unicast=true^proto=Onvif&id=cfb3273a-e255-4985-9349-76fc2f43e5c9" style="width:100%;height:220px;" ></iframe>
        </div>
    </div>
    </div>
     <div class="footage">
     <div class="card">
        <div class="card-header">
    Stream2
        </div>

        <div class="card-block">
            <iframe id="if2" src="/Cms/BusinessAnalytics/Streaming?rtspLink=rtsp://admin:Admin@123@10.0.228.58:554/cam/realmonitor?channel=1^subtype=0^unicast=true^proto=Onvif&id=872244d4-1dd4-4b12-a608-53fe41136f1e" style="width:100%;height:220px;" ></iframe>
        </div>
    </div>
    </div>
     <div class="footage">
     <div class="card">
        <div class="card-header">
    Stream3
        </div>

        <div class="card-block">
            <iframe id="if3" src="/Cms/BusinessAnalytics/Streaming?rtspLink=rtsp://admin:Admin@123@10.0.228.147:554/cam/realmonitor?channel=1^subtype=0^unicast=true^proto=Onvif&id=e457d7b0-dc52-4c95-99c0-24978c769376" style="width:100%;height:220px;" ></iframe>
        </div>
    </div>
    </div>
     <div class="footage">
     <div class="card">
        <div class="card-header">
    Stream4
        </div>

        <div class="card-block">
            <iframe id="if4" src="/Cms/BusinessAnalytics/Streaming?rtspLink=rtsp://admin:Admin@1234@10.0.228.56:554/cam/realmonitor?channel=1^subtype=0^unicast=true^proto=Onvif&id=ffba7128-3f3c-42dc-97ac-0dc4f54685fc" style="width:100%;height:220px;" ></iframe>
        </div>
    </div>
    </div>
      <div class="footage">
     <div class="card">
        <div class="card-header">
    Stream4
        </div>

        <div class="card-block">
            <iframe id="if5" src="/Cms/BusinessAnalytics/Streaming?rtspLink=rtsp://admin:Admin@123@10.0.228.113:554/cam/realmonitor?channel=1^subtype=0^unicast=true^proto=Onvif&id=ac91a908-c2b0-464a-bcf4-c7ed17fa383c" style="width:100%;height:220px;" ></iframe>
        </div>
    </div>
    </div>*@

            </div>
        </div>      
    </div>
 </div>





