
@using CMS.Data.Model
@using CMS.UI.ViewModel
@using CMS.Common;
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Manage";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model CMS.UI.ViewModel.JobAdvertisementViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>

<div class="row" style="margin-left:15px;">

    <form asp-area="Recruitment" asp-controller="JobAdvertisement" asp-action="Manage"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST"
          class="form-horizontal" id="myForm">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row" style="padding:10px;">
            
            <div class="col-md-6">
                <div class="form-group col-xs-12 col-sm-12">
                    <label for="ShortlistedByHr">Shortlisted By HR Manual</label>
                    <input asp-for="ShortlistedByHr" type="number" class="form-control" placeholder="Shortlisted By Hr" autocomplete="off" style="width:50%" />
                </div>
            </div>
            @if (Model.DataAction != DataActionEnum.Create)
            {
                <div class="col-md-6">
                    <div class="form-group col-xs-12 col-sm-12">
                        <label for="ShortlistedByHrCalculated">Shortlisted By HR Calculated</label>
                        <input asp-for="ShortlistedByHrCalculated" type="number" class="form-control" readonly="readonly" placeholder="Shortlisted By Hr" autocomplete="off" style="width:50%" />
                    </div>
                </div>
            }
            <div class="col-md-6">
                <div class="form-group col-xs-12 col-sm-12">
                    <label for="ShortlistedForInterview">Shortlisted By HM Manual</label>
                    <input asp-for="ShortlistedForInterview" type="number" class="form-control" placeholder="Shortlisted By HM" autocomplete="off" style="width:50%" />
                </div>
            </div>
            @if (Model.DataAction != DataActionEnum.Create)
            {
                <div class="col-md-6">
                    <div class="form-group col-xs-12 col-sm-12">
                        <label for="ShortlistedForInterviewCalculated">Shortlisted By HM Calculated</label>
                        <input asp-for="ShortlistedForInterviewCalculated" type="number" class="form-control" readonly="readonly" placeholder="Shortlisted By HM" autocomplete="off" style="width:50%" />
                    </div>
                </div>
            }
            <div class="col-md-6">
                <div class="form-group col-xs-12 col-sm-12">
                    <label for="InterviewCompleted">Interviewed Manual</label>
                    <input asp-for="InterviewCompleted" type="number" class="form-control" placeholder="Interviewed" autocomplete="off" style="width:50%" />
                </div>
            </div>
            @if (Model.DataAction != DataActionEnum.Create)
            {
                <div class="col-md-6">
                    <div class="form-group col-xs-12 col-sm-12">
                        <label for="InterviewCompletedCalculated">Interviewed Calculated</label>
                        <input asp-for="InterviewCompletedCalculated" type="number" class="form-control" readonly="readonly" placeholder="Interviewed" autocomplete="off" style="width:50%" />
                    </div>
                </div>
            }
            <div class="col-md-6">
                <div class="form-group col-xs-12 col-sm-12">
                    <label for="FinalOfferAccepted">Selected Manual</label>
                    <input asp-for="FinalOfferAccepted" type="number" class="form-control" placeholder="Selected" autocomplete="off" style="width:50%" />
                </div>
            </div>
            @if (Model.DataAction != DataActionEnum.Create)
            {
                <div class="col-md-6">
                    <div class="form-group col-xs-12 col-sm-12">
                        <label for="FinalOfferAcceptedCalculated">Selected Calculated</label>
                        <input asp-for="FinalOfferAcceptedCalculated" type="number" class="form-control" readonly="readonly" placeholder="Selected" autocomplete="off" style="width:50%" />
                    </div>
                </div>
            }
            <div class="col-md-6">
                <div class="form-group col-xs-12 col-sm-12">
                    <label for="CandidateJoined">Joined Manual</label>
                    <input asp-for="CandidateJoined" type="number" class="form-control" placeholder="Joined" autocomplete="off" style="width:50%" />
                </div>
            </div>
            @if (Model.DataAction != DataActionEnum.Create)
            {
                <div class="col-md-6">
                    <div class="form-group col-xs-12 col-sm-12">
                        <label for="CandidateJoinedCalculated">Joined Calculated</label>
                        <input asp-for="CandidateJoinedCalculated" type="number" class="form-control" readonly="readonly" placeholder="Joined" autocomplete="off" style="width:50%" />
                    </div>
                </div>
            }
            </div>
        <div class="cms-slidebar-footer">
            <button type="button" class="btn btn-dark" onclick="closeNavMemberGroup();">Close</button>
            @Html.Kendo().Button().Name("btnSubmit").Content("Save").HtmlAttributes(new { @class = "btn btn-primary" })
            @*<input type="submit" class="btn btn-primary" value="Save" onclick="OnSave(event);" />*@
        </div>

        


        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.VersionNo)
               
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
           
            closeNavMemberGroup();
            window.parent.$("#kgrdManpowerRequirementSummary").data("kendoGrid").dataSource.read();
        }

    });
    var onAjaxSuccess = function (res) {
        if (res.success) {
            ShowNotification("Saved Successfully", "success");
            @*var TemplateId = res.templateId;
            LoadPartailView('@Url.Action("ManageForm", "FormTemplate", new { @area = "Cms" })?templateId='+ TemplateId, $('#detailPage'));*@
            closeNavMemberGroup();
            window.parent.$("#kgrdManpowerRequirementSummary").data("kendoGrid").dataSource.read();
        }
        else {
            showError(res.error);
        }
    };
    var showError = function (error) {
        $("#validation-summary-manageform").html(error);
        $("#validation-summary-manageform").css("display", "block")
    }
    function closeNavMemberGroup() {
        //window.parent.CloseIframePopup();
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    //function OnSave(e) {
    //    var byhr = +$("#ShortlistedByHr").val();
    //    var byhm = +$("#ShortlistedForInterview").val();
    //    var intcmpltd = +$("#InterviewCompleted").val();
    //    var finaloffer = +$("#FinalOfferAccepted").val();
    //    var candjoin = +$("#CandidateJoined").val();

    //    var errmsg = "";
    //    var msgcount = 0;
        
    //    if (+byhm > +byhr) {
    //        errmsg = errmsg + "<li>Shortlisted By HM should not greater than Shortlisted By HR.</li>"
    //        msgcount = msgcount + 1;
    //    }
    //    if (+intcmpltd > +byhm) {
    //        errmsg = errmsg + "<li>Interviewed should not greater than Shortlisted By HM.</li>"
    //        msgcount = msgcount + 1;
    //    }
    //    if (+finaloffer > +intcmpltd) {
    //        errmsg = errmsg + "<li>Selected should not greater than Interviewed.</li>"
    //        msgcount = msgcount + 1;
    //    }
    //    if (+candjoin > +finaloffer) {
    //        errmsg = errmsg + "<li>Joined should not greater than Selected.</li>"
    //        msgcount = msgcount + 1;
    //    }

    //    if (msgcount > 0) {
    //        $(".text-danger").removeClass("validation-summary-valid");
    //        $(".text-danger").addClass("validation-summary-errors");
    //        $(".text-danger").html(errmsg);
    //        //$("#validation-summary").css("display", "block");
    //        e.preventDefault();
    //        return false;
    //    }

    //}


</script>
