@inject CMS.Common.IUserContext _userContext
@using CMS.Data.Model
@using CMS.UI.ViewModel
@using Kendo.Mvc.UI
@using Kendo.Mvc.Extensions
@using CMS.Common
@using System.Web;

@model JobAdvertisementViewModel
@{
    ViewBag.Title = "Job Advertisement";
    // Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = null;// "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
}
<style>
    .txt_side_1 {
        font-weight: bold;
        font-size: 16px;
        color: black;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" style="float:right" onclick="back()"><i class="far fa-chevron-left"></i>&nbsp;&nbsp;Back</button>
        </div>        
    </div>
    <div class="row" style="padding-top:10px;">
        <div id="jobdetails" class="col-md-8 ">
            <div class="row">
                <div class="col-md-4 col-xl-3 d-flex justify-content-xl-center align-items-xl-center" style="padding-top: 15px;"><img style="height:58px" src="@Url.Action("getimagemongo","document",new { @area="Cms",id=ViewBag.Page.Portal.LogoId})"></div>
                <div class="col-md-8 col-xl-9 mb-2 row">
                    <div class="col-12">
                        <h6 class="ja_job_title"> @Html.DisplayFor(x => x.JobName, new { @class = "form-control" })</h6>
                    </div>
                    <div class="col-12">
                        <p class="body_heading_sub">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>

                            @Html.DisplayFor(x => x.LocationName, new { @class = "form-control" })
                        </p>
                    </div>

                    <div class="col-lg-6 col-xl-6">
                        <p class="body_heading_sub">
                            <i class="fa fa-suitcase"></i>
                            @Html.DisplayFor(x => x.JobCategoryName, new { @class = "form-control" })

                        </p>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <hr class="hr_custom">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 class="body_sub_heading">Job Description</h4>
                </div>
                <div class="col-12" style="color:black;">
                    @*&nbsp;&nbsp;  @Html.DisplayFor(x => x.Description, new { @class = "form-control", style = "width: 80%;" })*@
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <h4 class="body_sub_heading">Responsiblities</h4>
                </div>
                <div class="col-12" style="color:black;">
                    @*&nbsp;&nbsp;    @Html.DisplayFor(x => x.Responsibilities, new { @class = "form-control", style = "width: 80%;" })*@
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Responsibilities))
                </div>
            </div>
        </div>
        <div id="overview" class="col-md-4 col_side" style="border-radius: 6px; height:400px;">
            <div class="row">
                <div class="col">
                    <h3 class="text-justify txt_side_0">
                        Job Overview
                        @if (_userContext.IsGuestUser != true || _userContext.UserId != "")
                        {
                            <span id="bookmark"><i class="fal fa-star" style="float:right;cursor:pointer" onclick="Bookmark()" title="Bookmark this job"></i></span>
                        }
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="hr_custom">
                </div>
                <div class="col-12">
                    <b class="txt_side_1">
                        Location&nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>
                    </b>
                </div>
                <div class="col-12">

                    &nbsp;  &nbsp;  @Html.DisplayFor(x => x.LocationName, new { @class = "form-control", style = "width: 100%;" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="hr_custom">
                </div>
                <div class="col-12">
                    <b class="txt_side_1"> Job Type&nbsp;<i class="fa fa-suitcase"></i></b>
                </div>
                <div class="col-12">

                    &nbsp;  &nbsp;  @Html.DisplayFor(x => x.JobCategoryName, new { @class = "form-control", style = "width: 100%;" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="hr_custom">
                </div>
                <div class="col-12">
                    <b class="txt_side_1">Qualification&nbsp;<i class="fas fa-scroll"></i></b>
                </div>
                <div class="col-12">

                    &nbsp; &nbsp; @Html.DisplayFor(x => x.QualificationName, new { @class = "form-control", style = "width: 100%;" })

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="hr_custom">
                </div>
                <div class="col-12">
                    <b class="txt_side_1">Experience&nbsp;<i class="fas fa-clipboard-check"></i></b>
                </div>
                <div class="col-12">
                    &nbsp;&nbsp; @Html.DisplayFor(x => x.Experience, new { @class = "form-control", style = "width: 100%;" })
                </div>
            </div>
            <div class="row">
                <div id="applynow" class="col p-4">
                    @if (_userContext.IsGuestUser == true || _userContext.UserId == "")
                    {
                    <button class="btn btn-primary btn-block" data-bs-hover-animate="pulse" type="button" onclick="ApplyJob(false)">
                        LOGIN OR REGISTER TO APPLY &nbsp;  &nbsp;<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                    </button>
                    } else if (_userContext.UserRoleCodes.Contains("AGENCY") == true && Model.ManpowerType != "Staff")
                    {
                    <button class="btn btn-primary btn-block" data-bs-hover-animate="pulse" type="button" onclick="ApplyJob(false)">
                        APPLY NOW&nbsp;  &nbsp;<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                    </button>
                    } else if (_userContext.UserRoleCodes.Contains("AGENCY") == true && Model.ManpowerType == "Staff")
                    {
                    <button class="btn btn-primary btn-block" data-bs-hover-animate="pulse" type="button" onclick="ApplyJob(false)">
                        APPLY NOW&nbsp;  &nbsp;<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                    </button>
                    } else if (Model.CandidateId == "" || Model.IsCandidateDetailsFilled == false)
                    {
                    <button class="btn btn-primary btn-block" data-bs-hover-animate="pulse" type="button" onclick="ApplyJob(false)">
                        COMPLETE PROFILE TO APPLY &nbsp;  &nbsp;<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                    </button>
                    } else {
                    <button class="btn btn-primary btn-block" data-bs-hover-animate="pulse" type="button" onclick="ApplyJob(false)">
                        APPLY NOW&nbsp;  &nbsp;<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                    </button>

                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:#666;" id="exampleModalLabel">Login or Register</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Please login or register before applying for this job</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" onclick="return ApplyJob(false);">Login</button>
                @*<button class="btn btn-info" type="button"  data-dismiss="modal" onclick="LoadPageById('', 'Custom', '', '', '', '_Layout', '@ViewBag.Page.Portal.Id', 'Register');">Register</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:#666;" id="exampleModalLabel">Complete your Profile</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Your profile information is not completed. Please fill all mandatory information before applying for this job.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" onclick="ApplyJob(false);">Complete Profile</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#readonly").click(function () {
        dropdownlist.readonly();

    });
    function Bookmark() {
        //
            $.ajax({
                url:'@Url.Action("ManageBookmark", "JobAdvertisement", new { @area = "Recruitment" })?jobAdvId=' + '@Model.Id',
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    //
                    const icon = $("#bookmark");
                    if (result.success) {
                        ShowNotification("Added Successfully", "success");
                        icon.html('<i class="fad fa-star" style="float:right;cursor:pointer;color:dodgerblue;" onclick="Bookmark()" title="Remove Bookmark"></i>');
                    }
                    else {
                        ShowNotification("Removed Successfully", "success");
                        icon.html('<i class="fal fa-star" style="float:right;cursor:pointer" onclick="Bookmark()" title="Bookmark this job"></i>');
                    }
                },
                error: function (ert) {
                    kendo.alert("Can't add this record");
                }
            });
    }

    function back() {
        window.location.href = "/Portal/CareerPortal";
    }
    function ApplyJob(showPopup) {
        // alert("test");
        
        if ('@_userContext.IsGuestUser' === 'True' || '@_userContext.UserId' === '') {
          //  alert("test1");
            if (showPopup) {
                $('#loginModal').modal('show');
                return false;
            }
            $('#loginModal').modal('hide');
            var customUrl = 'returnurl=@System.Web.HttpUtility.UrlEncode(string.Concat("/Portal/",ViewBag.Page.Portal.Name,"?portalId=",ViewBag.Page.Portal.Id,"=&pageId=",ViewBag.Page.Id,"&customUrl=", System.Web.HttpUtility.UrlEncode(string.Concat("isDirectLogin=true&jobAdvId=", Model.Id))))';
            LoadPageById('', 'Custom', '', '', '', '_Layout', '@ViewBag.Page.Portal.Id', 'Login', customUrl);
            return false;
        }
        else if ('@_userContext.UserRoleCodes.Contains("AGENCY")' === 'True' && '@Model.ManpowerType' != 'Staff') {
            var customUrl = "jobAdvId=@Model.Id";
            LoadPageById('', 'Custom', '', '', '', '_Layout', '@ViewBag.Page.Portal.Id', 'WorkerDataByAgency', customUrl);
        }
        else if ('@_userContext.UserRoleCodes.Contains("AGENCY")'==='True' && '@Model.ManpowerType' == 'Staff') {
            var customUrl = "jobAdvId=@Model.Id";
            LoadPageById('', 'Custom', '', '', '', '_Layout', '@ViewBag.Page.Portal.Id', 'StaffDataByAgency', customUrl);
        }

        else if ('@Model.CandidateId' === '' || '@Model.IsCandidateDetailsFilled' === 'False') {
          //  alert("test4");
            if (showPopup) {
                $('#profileModal').modal('show');
                return false;
            }
            $('#profileModal').modal('hide');
            LoadPageById('', 'Custom','','','', '_Layout', '@ViewBag.Page.Portal.Id','MyProfile',null);
        }
        else {
            $.ajax({
                url:'@Url.Action("GetCandidateApplicationsCount", "CandidateProfile", new { @area = "Recruitment" })?candidateProfileId=' + '@Model.CandidateId',
                type: 'GET',
                data: {},
                dataType: 'json',
                success: function (result) {

                    if (result.success) {                        
                        kendo.alert("You have already applied for two positions so you cannot apply more than two positions");
                    }
                    else {
                        var customUrl = '@Html.Raw(string.Concat("jobAdvId=",Model.Id,"&candidateProfileId=",Model.CandidateId))';
                        LoadPageById('', 'Custom', '', '', '', '_Layout', '@ViewBag.Page.Portal.Id', 'ApplyJob', customUrl);
                    }
                },
                error: function (ert) {
                    
                }
            });

        }
    }

    $(document).ready(function () {
        //
        const icon = $("#bookmark");
        if ('@Model.IsBookmarked' === 'True') {
            icon.html('<i class="fad fa-star" style="float:right;cursor:pointer;color:dodgerblue;" onclick="Bookmark()" title="Remove Bookmark"></i>');
        }
        else {
            icon.html('<i class="fal fa-star" style="float:right;cursor:pointer" onclick="Bookmark()" title="Bookmark this job"></i>');
        }
    })
</script>

