@using CMS.Data.Model
@using CMS.UI.ViewModel
@using CMS.Common;
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Requirement Dashboard";
   // Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}
@model RecruitmentDashboardViewModel
<style>
    .fas {
        cursor:pointer;
    }
    .text-body {
        cursor: default;
    }
    body {
        color: #353535;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }

.h6, h6 {
  font-size: 1.125rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: ">";
}


.sub-header-size {
  font-size: 16px;
}

@*@media (max-width: 575px) {
  .mobile-view-cards {
    height: 175px;
  }
}

@media (max-width: 575px) {
  .mobile-view-cards-padding {
    padding-top: 30px;
  }
}

@media (min-width: 1200px) {
  .mobile-view-cards-padding-xl {
    padding-top: 16px;
  }
}

@media (min-width: 1200px) {
  .mobile-view-cards-xl {
    height: 175px;
  }
}*@

    .orange-box-img {
        width: 40px;
        height: 40px;
        background: url("/images/shape-orange.png");
        border-radius: 6px;
        margin: auto;
    }

    .blue-box-img {
        width: 40px;
        height: 40px;
        background: url("/images/shape-blue.png");
        border-radius: 6px;
        margin: auto;
    }

    .green-box-img {
        width: 40px;
        height: 40px;
        background: url("/images/shape-green.png");
        border-radius: 6px;
        margin: auto;
    }

    .peach-box-img {
        width: 40px;
        height: 40px;
        background: url("/images/shape-peach.png");
        border-radius: 6px;
        margin: auto;
    }

.status-text-color {
  color: #0292c8;
  margin: auto;
}



.grey-bar {
  background: #e5e5e5;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.blue-static-box {
  background: #1d4993;
  border-radius: 6px;
}

.notification-bar {
  background: #606060;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.notification-column {
  padding-left: 0px;
  padding-right: 0px;
  background: #e5e5e5;
  border-radius: 6px;
}

.card-box-column {
  padding-right: 5px;
  width: 100%;
  height: 100%;
  min-width: 100px;
  padding-left: 0px;
}
span{
    padding :0px !important;
}
    .btn-next-row {
        margin-top: -40px;
        margin-right: -32px;
    }

    .accordion {
        background-color: #17a2b8;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 17px;
        transition: 0.4s;
        font-weight: bold;
    }

        .active, .accordion:hover {
            background-color: #17a2b8;
        }

        .accordion:after {
            content: '\02EF';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
            font-size: 74px;
            margin-top: -78px;
        }

    .active:after {
        content: "\02F0";
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        font-size: 74px;
        margin-top: -78px;
    }

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



</style>

<script>
    //example data received from remote source via jQuery ajax merthod
    //var data = [{
    //    "Name": "John",
    //    "Role": "Developer",
    //    "Dept": "Dev",
    //    "Date": "\/Date(836438400000)\/",
    //    "Balance": 23,
    //    "Bal": 56
    //}, {
    //    "Name": "Jane",
    //    "Role": "Developer",
    //    "Dept": "Dev",
    //    "Date": "\/Date(836438400000)\/",
    //        "Balance": 23,
    //        "Bal": 56
    //}, {
    //    "Name": "James",
    //    "Role": "QA",
    //    "Dept": "Dev",
    //    "Date": "\/Date(836438400000)\/",
    //        "Balance": 23,
    //        "Bal": 56
    //}, {
    //    "Name": "Jimmy",
    //    "Role": "Designer",
    //    "Dept": "Dev",
    //    "Date": "\/Date(836438400000)\/",
    //        "Balance": 23,
    //        "Bal": 56
    //    }];





    var dateFields = [];
    var pinalready = false;

    function generateGrid() {
        var grid = $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/recruitment/RecruitmentDashboard/GetUserPendingTaskByRole?orgId=" + $("#OrgForPendingTask").data("kendoDropDownList").value()
                },
              //  pageSize: 5,
            },
            height: 450,
            filterable: true,
            //pageable: true,
            //pageable: {
            //    alwaysVisible: true,
            //    pageSizes: [5, 10, 20, 100]
            //},
            resizable: true,
            scrollable: true,
            editable: false,
            sortable: true,
            dataBound: function (e) {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
                var items = e.sender.items();
                e.sender.element.height(e.sender.options.height); 
                items.each(function () {
                    
                    var row = $(this);
                    var dataItem = e.sender.dataItem(row);
                    if (dataItem.Position == "Count" && !pinalready) {
                        var item = row.clone();
                        item.addClass("customHeaderRowStyles");
                        var thead = e.sender.element.find(".k-grid-header table thead");
                        thead.append(item);
                        e.sender.element.height(e.sender.element.height() + row.height());
                        row.hide();
                        pinalready = true;
                    } else if (dataItem.Position == "Count") {
                        row.hide();
                    }
                })

                //var unique;
                //$.each(items, function (i, el) {
                //    if ($.inArray(el, unique) === -1) unique.push(el);
                //});
                //
            }
        });
    }

    var orgPin = false;

    function OnDataboundOrgGrid(e) {
        for (var i = 0; i < this.columns.length; i++) {
            this.autoFitColumn(i);
        }
        var items = e.sender.items();
        e.sender.element.height(e.sender.options.height);
        items.each(function () {
            var row = $(this);
            var dataItem = e.sender.dataItem(row);
            if (dataItem.Position == "Total" && !orgPin) {
                var item = row.clone();
                item.addClass("customHeaderRowStyles");
                var thead = e.sender.element.find(".k-grid-header table thead");
                thead.append(item);
                e.sender.element.height(e.sender.element.height() + row.height());
                row.hide();
                orgPin = true;
            }
        })
    }

    function generateModel(gridData) {
        
        var model = {};
        model.id = "ID";
        var fields = {};
        for (var property in gridData) {
            var propType = typeof gridData[property];

            if (propType == "number") {
                fields[property] = {
                    aggregates: ["count"],
                    type: "number",
                    validation: {
                        required: true
                    }
                };
            } else if (propType == "boolean") {
                fields[property] = {
                    aggregates: ["count"],
                    groupFooterTemplate: "age total: #: count #",
                    type: "boolean",
                    validation: {
                        required: true
                    }
                };
            } else if (propType == "string") {
                var parsedDate = kendo.parseDate(gridData[property]);
                if (parsedDate) {

                    fields[property] = {
                        aggregates: ["count"],
                        groupFooterTemplate: "age total: #: count #",
                        type: "date",
                        validation: {
                            required: true
                        }
                    };
                    dateFields.push(property);
                } else {
                    fields[property] = {
                        aggregates: ["count"],
                        groupFooterTemplate: "age total: #: count #",
                        validation: {
                            required: true
                        }
                    };
                }
            } else {
                fields[property] = {
                    aggregates: ["count"],
                    groupFooterTemplate: "age total: #: count #",
                    validation: {
                        required: true
                    }
                };
            }

        }
        model.fields = fields;

        return model;
    }
</script>

<script type="text/javascript">
    //   var count = 0;
    $(document).ready(function () {
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + 50 + "px";
                }
            });
        }

        generateGrid();

        $(function dashboardCount() {

            $.ajax({
                url: "/Recruitment/RecruitmentDashboard/GetRecruitmentDashboardCount",
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8', //define a contentType of your request
                cache: false,
                success: function (data) {
                    if (data != null) {

                        $('#TotalJobAdvertisement').html(data.Active + data.InActive);
                        $('#AcitveJobAdvertisement').html(data.Active);
                        $('#InActiveJobAdvertisement').html(data.InActive);
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        //introJs().setOptions({
        //    steps: [{
        //        title: 'Welcome',
        //        intro: 'Hello World! 👋'
        //    },
        //    {
        //        title: 'View Pending Task',
        //        element: "#panelbar",
        //        intro: 'This is a manpower summary grid'
        //    },
        //    {
        //        title: 'Job Search',
        //        element: "#jobSerach",
        //        intro: 'This is a manpower summary grid'
        //    },
        //    {
        //        title: 'Applications Total Count',
        //        element: "#totalCount",
        //        intro: 'This is a manpower summary grid'
        //    }, {
        //        title: 'Active Count',
        //        element: "#activeCount",
        //        intro: 'This is a manpower summary grid'
        //    }, {
        //        title: 'Inactive Count',
        //        element: "#inactiveCount",
        //        intro: 'This is a manpower summary grid'
        //    }, {
        //        title: 'Search Job',
        //        element: "#searchJob",
        //        intro: 'This is a manpower summary grid'
        //    },
        //    ]
        //}).onbeforeexit(function () {
        //    kendo.confirm("Do you want to see this tour again, whenever you come to this page?").then(function () {
        //        //alert("yes");
        //        $.ajax({
        //            type: "POST",
        //            url: "/cms/userpagepreference/AddPageTourPreferences?pageName=Dashboard&disablePageTour=true",
        //            dataType: "json",
        //            success: function (result) {
        //                kendo.alert("Preference Saved Successfully");
        //            },
        //            error: function (xhr, httpStatusMessage, customErrorMessage) {
        //                alert(customErrorMessage);
        //            }
        //        });
        //    }, function () {
        //        //alert("no");
        //    });
        //}).start();



    });


    function OnChangeOrg(e) {
        var dataItem = e.sender.dataItem();
        //alert(dataItem.Id);
        //alert(dataItem.Name);
        //$.ajax({
        //    url: "/Recruitment/RecruitmentDashboard/GetRecruitmentDashboardCount?orgId=" + dataItem.Id,
        //    dataType: "json",
        //    type: "GET",
        //    contentType: 'application/json; charset=utf-8', //define a contentType of your request
        //    cache: false,
        //    success: function (data) {
        //        if (data != null) {
        //
        //            $('#TotalJobAdvertisement').html(data.Active + data.InActive);
        //            $('#AcitveJobAdvertisement').html(data.Active);
        //            $('#InActiveJobAdvertisement').html(data.InActive);
        //        } else {
        //            $('#TotalJobAdvertisement').html(0);
        //            $('#AcitveJobAdvertisement').html(0);
        //            $('#InActiveJobAdvertisement').html(0);
        //        }
        //    },
        //    error: function (xhr) {
        //        alert('error');
        //    }
        //});
        //var search = FilterAdv();
        //$("#JobAdvId").data("kendoDropDownList").dataSource.read(search);
        var jobddl = $("#JobAdvId").data("kendoDropDownList");
        var orgddl = $("#OrganizationId").data("kendoDropDownList");
        jobid = jobddl.value();
        orgid = orgddl.value();
        if (jobid != '' && orgid != '') {
            $("#btnViewApplicants").show();
        } else {
            $("#btnViewApplicants").hide();
        }
    }
    function OnDataBoundOrg(e) {
        var dataItem = e.sender.dataItem();
        //alert(dataItem.Id);
        //alert(dataItem.Name);
        //$.ajax({
        //    url: "/Recruitment/RecruitmentDashboard/GetRecruitmentDashboardCount?orgId=" + dataItem.Id,
        //    dataType: "json",
        //    type: "GET",
        //    contentType: 'application/json; charset=utf-8', //define a contentType of your request
       //    cacheMViewBagiewBagdel false,
        //    success: function (data) {
        //        if (data != null) {
        //
        //            $('#TotalJobAdvertisement').html(data.Active + data.InActive);
        //            $('#AcitveJobAdvertisement').html(data.Active);
        //            $('#InActiveJobAdvertisement').html(data.InActive);
        //        } else {
        //            $('#TotalJobAdvertisement').html(0);
        //            $('#AcitveJobAdvertisement').html(0);
        //            $('#InActiveJobAdvertisement').html(0);
        //        }
        //    },
        //    error: function (xhr) {
        //        alert('error');
        //    }
        //});
        //var search = FilterAdv();
        //$("#JobAdvId").data("kendoDropDownList").dataSource.read(search);
    }
    function FilterAdv() {
        var dropdownlist = $("#OrganizationId").data("kendoDropDownList");
        return {
            orgId: dropdownlist.value(),
        };
    }
    function OnChangeJob(e) {
        var dataItem = e.sender.dataItem();
        var search2 = FilterOrg();
        $("#OrganizationId").data("kendoDropDownList").dataSource.read(search2);
        console.log(dataItem);
        $("#manpowerType").val(dataItem.ManpowerTypeCode);
        //if (dataItem.ManpowerTypeCode == "Worker" || dataItem.ManpowerTypeCode == "DriverOperator") {
        //    $("#divShortlistedforInterview").hide();
        //    $("#divInterviewsCompleted").hide();
        //    $("#divIntenttoOfferSent").hide();
        //}
        //else {
        //    $("#divShortlistedforInterview").show();
        //    $("#divInterviewsCompleted").show();
        //    $("#divIntenttoOfferSent").show();
        //}
        //OnResetJobfilter();
        var jobddl = $("#JobAdvId").data("kendoDropDownList");
        var orgddl = $("#OrganizationId").data("kendoDropDownList");
        jobid = jobddl.value();
        orgid = orgddl.value();
        if (jobid != '' && orgid != '') {
            $("#btnViewApplicants").show();
        } else {
            $("#btnViewApplicants").hide();
        }
    }

    function OnDataBoundJob(e) {
        var dataItem = e.sender.dataItem();
                console.log(dataItem);
        //$("#manpowerType").val(dataItem.ManpowerTypeCode);
        //if (dataItem.ManpowerTypeCode == "Worker" || dataItem.ManpowerTypeCode == "DriverOperator") {
        //    $("#divShortlistedforInterview").hide();
        //    $("#divInterviewsCompleted").hide();
        //    $("#divIntenttoOfferSent").hide();
        //}
        //else {
        //    $("#divShortlistedforInterview").show();
        //    $("#divInterviewsCompleted").show();
        //    $("#divIntenttoOfferSent").show();
        //}
        OnApplyJobfilter();
    }

    function OnApplyJobfilter(e) {
        var orgId = $("#OrganizationId").val();
        var jobAdvId = $("#JobAdvId").val();
        //if (orgId=='') {
        //    alert("Please select organization.");
        //    //e.preventDefault();
        //    return false;
        //}
        //if (jobAdvId=='') {
        //    alert("Please select job advertisement.");
        //    //e.preventDefault();
        //    return false;
        //}
        //alert("orgId : " + orgId + " jobAdvId : " + jobAdvId);
        $.ajax({
            url: "/Recruitment/RecruitmentDashboard/GetRecruitmentDashboardByOrgJob?orgId=" + orgId + "&jobAdvId=" + jobAdvId + "&permission=" + '@ViewBag.Permissions',
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false,
            success: function (data) {
                if (data != null) {

                    $('#RequiredHCCount').html(data.Requirement);
                    $('#SeperationCount').html(data.Seperation);
                    $('#AvailableCount').html(data.Available);
                    $('#SubcontractCount').html(data.Planning);
                    $('#TransferCount').html(data.Transfer);
                    $('#TobeRecruitedCount').html(data.Balance);

                    $('#NumberofApplicationsCount').html(data.NoOfApplication);
                    $('#ShortlistedByHRCount').html(data.ShortlistedByHr);
                    $('#ShortlistedforInterviewCount').html(data.ShortlistedForInterview);
                    $('#WorkerPoolCount').html(data.WorkerPool);
                    $('#IntenttoOfferSentCount').html(data.IntentToOfferSent);
                    $('#IntenttoOfferAcceptedCount').html(data.IntentToOfferAccepted);

                    $('#VisaTransferCount').html(data.VisaTransfer);
                    $('#DirectHiringCount').html(data.DirectHiring);
                    //$('#MedicalCompletedCount').html(data.MedicalCompleted);
                    //$('#VisaAppointmentsTakenCount').html(data.VisaAppointmentTaken);
                    //$('#BiometricCompletedCount').html(data.BiometricCompleted);
                   // $('#VisaApprovedCount').html(data.VisaApproved);
                    $('#VisasenttoCandidatesCount').html(data.VisaSentToCandidates);
                    //$('#FlightTicketsBookedCount').html(data.FightTicketsBooked);
                    //$('#CandidateArrivedCount').html(data.CandidateArrived);
                    $('#StaffJoinedCount').html(data.CandidateJoined);
                    $('#WorkerJoinedCount').html(data.WorkerJoined);
                    $('#BusinessVisaCount').html(data.BusinessVisa);
                    $('#WorkVisaCount').html(data.WorkVisa);
                    $('#WorkPermitCount').html(data.WorkPermit);
                    $('#JoinedCount').html(data.Joined);
                    $('#PostWorkerJoinedCount').html(data.PostWorkerJoined);
                    $('#PostStaffJoinedCount').html(data.PostStaffJoined);
                } else {
                    //alert('No Data Found');
                }
            },
            error: function (xhr) {
                //alert('error');
            }
        });

        //if ($("#manpowerType").val() == "Worker" || $("#manpowerType").val() == "DriverOperator") {
        //    $("#divShortlistedforInterview").hide();
        //    $("#divInterviewsCompleted").hide();
        //    $("#divIntenttoOfferSent").hide();
        //}
        //else {
        //    $("#divShortlistedforInterview").show();
        //    $("#divInterviewsCompleted").show();
        //    $("#divIntenttoOfferSent").show();
        //}
    }

    function OnResetJobfilter() {
        //alert("Reset");
        $("#OrganizationId").data("kendoDropDownList").value('');
        $("#JobAdvId").data("kendoDropDownList").value('');
        $('#RequiredHCCount').html(0);
        $('#AvailableCount').html(0);
        $('#SubcontractCount').html(0);
        $('#TransferCount').html(0);
        $('#TobeRecruitedCount').html(0);

        $('#NumberofApplicationsCount').html(0);
        $('#ShortlistedByHRCount').html(0);
        $('#ShortlistedforInterviewCount').html(0);
        $('#WorkerPoolCount').html(0);
        $('#IntenttoOfferSentCount').html(0);
        $('#IntenttoOfferAcceptedCount').html(0);
        $('#VisaTransferCount').html(0);
        $('#BusinessVisaCount').html(0);
        $('#VisaAppointmentsTakenCount').html(0);
        $('#WorkVisaCount').html(0);
        $('#VisaApprovedCount').html(0);
        $('#VisasenttoCandidatesCount').html(0);
        $('#FlightTicketsBookedCount').html(0);
        $('#CandidateArrivedCount').html(0);
        $('#StaffJoinedCount').html(0);
        $('#WorkerJoinedCount').html(0);
        $('#WorkPermitCount').html(0);
        $('#JoinedCount').html(0);
        $('#PostStaffJoinedCount').html(0);
        $('#PostWorkerJoinedCount').html(0);
    }

    function onJobApplicationState(state, count,right,status) {
         //alert(state);

        var orgId = $("#OrganizationId").val();
        var jobAdvId = $("#JobAdvId").val();
        var jobstate = state;
        var jobstatus = status;

        if (state == "") {
            var a = document.getElementById("NumberofApplicationsCount");
            count = a.innerText;
        }

        else if (state == "ShortListByHr") {

            var a = document.getElementById("ShortlistedByHRCount");
            count = a.innerText;

        }
        else if (state == "ShortListByHm") {

            var a = document.getElementById("ShortlistedforInterviewCount");
            count = a.innerText;

        }
        else if (state == "WorkerPool") {
            var a = document.getElementById("WorkerPoolCount");
            count = a.innerText;
        }
        else if (state == "WorkPermit") {
            var a = document.getElementById("WorkPermitCount");
            count = a.innerText;
        }
        else if (state == "IntentToOffer") {
            var a = document.getElementById("IntenttoOfferSentCount");
            count = a.innerText;
        }
        else if (state == "FinalOffer") {
            var a = document.getElementById("IntenttoOfferAcceptedCount");
            count = a.innerText;
        }
        else if (state == "VisaTransfer") {
            var a = document.getElementById("VisaTransferCount");
            count = a.innerText;
        }
        else if (state == "BusinessVisa") {
            var a = document.getElementById("BusinessVisaCount");
            count = a.innerText;
        }
        else if (state == "VisaAppointmentsTaken") {
            var a = document.getElementById("VisaAppointmentsTakenCount");
            count = a.innerText;
        }
        else if (state == "WorkVisa") {
            var a = document.getElementById("WorkVisaCount");
            count = a.innerText;
        }
        else if (state == "VisaApproved") {
            var a = document.getElementById("VisaApprovedCount");
            count = a.innerText;
        }

        else if (state == "VisasenttoCandidates") {
            var a = document.getElementById("VisasenttoCandidatesCount");
            count = a.innerText;
        }
        else if (state == "FlightTicketsBooked") {
            var a = document.getElementById("FlightTicketsBookedCount");
            count = a.innerText;
        }
        else if (state == "CandidateArrived") {
            var a = document.getElementById("CandidateArrivedCount");
            count = a.innerText;
        }
        else if (state == "StaffJoined") {
            var a = document.getElementById("StaffJoinedCount");
            count = a.innerText;
        }
        else if (state == "WorkerJoined") {
            var a = document.getElementById("WorkerJoinedCount");
            count = a.innerText;
        } else if (state =="Joined") {
            var a = document.getElementById("JoinedCount");
            count = a.innerText;
        }
        else if (state == "PostStaffJoined") {
            var a = document.getElementById("PostStaffJoinedCount");
            count = a.innerText;
        }
        else if (state == "PostWorkerJoined") {
            var a = document.getElementById("PostWorkerJoinedCount");
            count = a.innerText;
        }

        else if (state == "DirectHiring") {
            var a = document.getElementById("DirectHiringCount");
            count = a.innerText;
        }
        //count = statecount("ShortListByHr")
        //alert(count);
        // alert("orgId : " + orgId + "   jobAdvId : " + jobAdvId + " State : " + jobstate);
        //window.location.href = "/Recruitment/RecruitmentDashboard/JobAdvertisementStatistic?jobAdvId=" + jobAdvId + '&state=' + jobstate + '&orgId=' + orgId + '&count=' + count;

        //else {

        //    LoadPartailView("/Recruitment/RecruitmentDashboard/JobAdvertisementStatistic?jobAdvId=" + jobAdvId + '&state=' + jobstate + '&orgId=' + orgId + '&count=' + count, $('#cms-content'));
        //}

        if (right == "right")
        {
            if (state != "DirectHiring" && (count == "0" || count == "")) {
                alert("No Record Available for Selected State.");
            }
            //else if (state != "DirectHiring" && (jobAdvId == "" || jobAdvId == null))
            //{
            //    alert("Please Select the Position for further drill down");
            //}
            else
            {
                LoadPartailView("/Recruitment/RecruitmentDashboard/JobAdvertisementStatistic?jobAdvId=" + jobAdvId + '&state=' + jobstate + '&orgId=' + orgId + '&count=' + count + '&status=' + jobstatus + '&permissions=@ViewBag.Permissions' , $('#cms-content'));
            }

        }
        else
            {
                 if ('@ViewBag.Role.Contains("HR")' == 'True' && state == "ShortListByHr") {
                     LoadPartailView("/Recruitment/CandidateShortList/CandidateShortlistByHR?jobAdvId=" + jobAdvId, $('#cms-content'));
                     AddBreadCrumb({ Text: 'Candidate Shortlist By HR', Name: 'CandidateShortlistByHR', Url: '/Recruitment/CandidateShortList/CandidateShortlistByHR?jobAdvId=' + jobAdvId, PageType: 'Custom', LoadType: 'PartialView', IsNotClickable: false, IsClickDisabled: true }, true, 'Dashboard');
                }
                else if ('@ViewBag.Role.Contains("HM")' == 'True' && state == "ShortListByHm") {
                     LoadPartailView("/Recruitment/CandidateShortList/Index?jobAdvId=" + jobAdvId + "&orgId=" + orgId, $('#cms-content'));
                     AddBreadCrumb({ Text: 'Candidate Shortlist By Hiring Manager', Name: 'CandidateShortlistByHiringManager', Url: '/Recruitment/CandidateShortList/Index?jobAdvId=' + jobAdvId + '&orgId=' + orgId, PageType: 'Custom', LoadType: 'PartialView', IsNotClickable: false, IsClickDisabled: true }, true, 'Dashboard');
                }
                else if ('@ViewBag.Role.Contains("HR")' == 'True' && state == "WorkerPool") {
                     LoadPartailView("/Recruitment/CandidateShortList/WorkerPool?jobAdvId=" + jobAdvId + "&orgId=" + orgId + "&isDashboard=true", $('#cms-content'));
                     AddBreadCrumb({ Text: 'Worker Pool', Name: 'WorkerPool', Url: '/Recruitment/CandidateShortList/WorkerPool?jobAdvId=' + jobAdvId + '&orgId=' + orgId + '&isDashboard=true', PageType: 'Custom', LoadType: 'PartialView', IsNotClickable: false, IsClickDisabled: true }, true, 'Dashboard');
                }
                else {
                    LoadPartailView("/Recruitment/RecruitmentDashboard/JobAdvertisementStatistic?jobAdvId=" + jobAdvId + '&state=' + jobstate + '&orgId=' + orgId + '&count=' + count, $('#cms-content'));
                }
            }





    }

    function statecount(elementid) {
      //  alert('"' + elementid + '"');
        var a = document.getElementById(elementid);
        // var a = document.getElementById('"' + elementid + '"');

        var count = a.innerText;
        return count;
    }
    function onNumberofApplications() {
        var orgId = $("#OrganizationId").val();
        var jobAdvId = $("#JobAdvId").val();
        var state = "All";
        //var count =
      //  alert("orgId : " + orgId + "   jobAdvId : " + jobAdvId + " State : " + state);
        window.location.href = "/Recruitment/RecruitmentDashboard/JobAdvertisementStatistic?jobAdvId=" + jobAdvId + '&state=' + state + '&orgId=' + orgId;
    }
    function FilterOrg() {
        var dropdownlist = $("#JobAdvId").data("kendoDropDownList");
        return {
            JobAddId: dropdownlist.value(),
        };
    }

    function FilterOrgForPendingTask() {

        var dropdownlist = $("#OrgForPendingTask").data("kendoDropDownList");
        return {
            "orgId": dropdownlist.value(),
        };
    }
    function OnChangeUserRole() {
        var dropdownlist = $("#UserRoleId").data("kendoDropDownList");
        var search = FilterGrid();

        $("#kgrid_Org").data("kendoGrid").dataSource.read(search);
    }

    function OnChangeOrgForPendingTask() {
        var dropdownlist = $("#OrgForPendingTask").data("kendoDropDownList");
        var search = FilterOrgForPendingTask();

        //$("#grid").data("kendoGrid").dataSource.read(search);
        $("#grid").html('');
        generateGrid();

    }
    function FilterGrid() {
        var dropdownlist = $("#UserRoleId").data("kendoDropDownList");
        return {
            userRoleId: dropdownlist.value(),
        };
    }
    function OnViewApplicants(jobid, orgid) {
        var jobddl = $("#JobAdvId").data("kendoDropDownList");
        var orgddl = $("#OrganizationId").data("kendoDropDownList");
        jobid = jobddl.value();
        orgid = orgddl.value();
        if (jobid != '' && orgid!='') {
            @*iframeOpenUrl = '@Url.Action("ViewApplicationDetails", "CandidateShortlist", new { @area="Recruitment"})?jobId='+jobid+'&orgId='+orgid ;
            OpenIframePopup(1500, 1200, 'View Applicants');*@
             var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("ViewApplicationDetails", "CandidateShortlist", new { @area = "Recruitment" })?jobId='+jobid+'&orgId='+orgid ;
            win.OpenWindow({ Title: 'View Applicants', Width: 1500, Height: 1000 });
        return false;

        } else{
            alert("Please Select Position and Organization.");
        }
    }
    function OnViewApplicants1() {
            @*iframeOpenUrl = '@Url.Action("ViewApplicationPendingTask", "CandidateShortlist", new { @area="Recruitment"})';
        OpenIframePopup(1500, 1200, 'View All Application With Pending Task ');*@
         var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("ViewApplicationPendingTask", "CandidateShortlist", new { @area = "Recruitment" })';
        win.OpenWindow({ Title: 'View All Application With Pending Task', Width: 1500, Height: 1000 });
        return false;

    }
</script>

<div class="row">

    @Html.Hidden("manpowerType")
    <div class="col-1 col-md-1"></div>
    <div class="col-10 col-md-10">
        <div class="container mt-2 pb-5">
            <h6 class="font-weight-bold">Recruitment Statistics</h6>
            <div class="row" style="margin: 0;">
                <div class="col-12 mt-2" style="padding-left: 0px;">

                    @*<div class="row header-bar" style="margin: 0;">
                            <div class="col-12 col-sm-4 col-md-4 d-flex align-items-center pt-1 pb-1"><span class="text-white font-weight-bold sub-header-size">Pending Task</span></div>
                        </div>*@
                    @*<div class="row grey-bar m-0">*@
                    <button id="panelbar" class="accordion  header-bar">Pending Task (@ViewBag.PendingTaskCount) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Click here to view details)</button>
                    <div class="panel">
                        <br />

                        <div class="row">
                            <div class="col-md-3"><b>Task By User Role</b></div>
                            <div class="col-md-9" style="text-align:right">
                                Filter By Organization &nbsp;&nbsp;&nbsp;&nbsp;

                                @(Html.Kendo().DropDownList().Name("OrgForPendingTask")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetIdNameList", "Master", new { type = "Organization" });
                                            });
                                        })
                                        .OptionLabel(ApplicationConstant.PlaceHolder_AllOption)
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Events(x => x.Change("OnChangeOrgForPendingTask")
                                        )
                                        .Filter(FilterType.Contains)
                                        .HtmlAttributes(new { @class = "hr-xx-large shadow-sm m-1", @style = "border-color: #d7d6d6;border-radius: 4px;width:60%" }))
                            </div>
                        </div>
                        <br />
                        <div id="grid">

                        </div>
                        <br />
                        <div>
                            <div class="row">
                                @if (ViewBag.Role.Contains("HR") || ViewBag.Role.Contains("ED"))
                                {
                                    <div class="col-md-3"><b>Task By Organization Unit</b></div>
                                    <div class="col-md-9" style="text-align:right">
                                        Filter By User Role &nbsp;&nbsp;&nbsp;&nbsp;
                                        @(Html.Kendo().DropDownListFor(x=>x.UserRoleId)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetUserRoleIdNameList", "UserRole",new {area="Cms"});
                                            });
                                        })
                                        .OptionLabel(ApplicationConstant.PlaceHolder_AllOption)
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Events(x => x.Change("OnChangeUserRole"))
                                        .Filter(FilterType.Contains)
                                        .HtmlAttributes(new { @class = "hr-xx-large", @style = "border-color: #d7d6d6;border-radius: 4px;width:60%", @readonly = "readonly" }))
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3"><b>Task By Organization Unit</b></div>
                                    <div class="col-md-9" style="text-align:right">
                                        Filter By User Role
                                        @(Html.Kendo().DropDownListFor(x=>x.UserRoleId)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetUserRoleIdNameList", "UserRole",new {area="Cms"});
                                            });
                                        })
                                        .OptionLabel(ApplicationConstant.PlaceHolder_AllOption)
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Filter(FilterType.Contains)
                                        .HtmlAttributes(new { @class = "hr-xx-large", @style = "border-color: #d7d6d6;border-radius: 4px;width:60%",@readonly="readonly" }))
                                    </div>
                                }
                            </div>
                            <br />
                            @(Html.Kendo().Grid<dynamic>
                            ()
                            .Name("kgrid_Org")
                            .Columns(columns =>
                            {
                                foreach (System.Data.DataColumn column in Model.GridTable.Columns)
                                {
                                    columns.Bound(column.ColumnName).Width(150);
                                }

                            })

                            .Scrollable(x => x.Enabled(true))
                            .Sortable(srt => srt.Enabled(true))
                            .Selectable(select => select.Enabled(false))
                            .Filterable(f => f.Extra(false))
                            .Resizable(resize => resize.Columns(true))
                            //.Events(x=>x.DataBound("OnDataboundOrgGrid"))
                            //.Pageable(pageable => pageable
                            //.Refresh(true)
                            //.PageSizes(true)
                            //.ButtonCount(5))
                            .DataSource(
                            dataSource => dataSource
                            .Ajax()

                            //.PageSize(20)
                            .Read(read => read.Action("GetTaskByOrgUnit", "RecruitmentDashboard").Data("FilterGrid"))
                            )

                            )


                        </div>

                    </div>

                    @*</div>*@
                    
                    <div class="row" style="margin: 0;">
                        <button class="btn btn-primary btn-sm" type="button" onclick="OnViewApplicants1();">View All Application With Pending Task</button>
                    </div>
                    <div id="jobSerach" class="row header-bar" style="margin: 0;">
                        <div class="col-12 col-sm-4 col-md-4 d-flex align-items-center pt-1 pb-1"><span class="text-white font-weight-bold sub-header-size">Job Advertisements</span></div>
                        <div class="col-12 col-sm-8 col-md-8 col-xl-8 pt-1 pb-1">
                            <div class="row" style="display:none">
                                <div class="col-sm-7 col-md-8 col-lg-7 col-xl-8 d-flex justify-content-start align-items-center justify-content-sm-end justify-content-xl-end"><span class="text-white d-flex d-sm-inline-flex justify-content-start justify-content-sm-start font-weight-bold sub-header-size">Select Organization</span></div>
                                <div class="col-sm-5 col-md-4 col-lg-5 col-xl-4 d-flex justify-content-start align-items-center justify-content-sm-end">
                                    <div class="dropdown float-right">
                                        @*<button class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="height: 32px;">CO2 Project</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row grey-bar m-0">
                        <div id="totalCount" class="col-6 col-md-3 p-3">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center orange-box-img"><span id="TotalJobAdvertisement" class="text-white font-weight-bold" style="font-size: 28px;">0</span></div>
                            <div class="text-center d-flex mt-1" style="margin: auto;"><span class="text-center d-flex status-text-color">Total</span></div>
                        </div>
                        @*<div class="col-6 col-md-3 p-3">
                                <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center blue-box-img"><span class="text-white font-weight-bold" style="font-size: 28px;">2</span></div>
                                <div class="text-center d-flex mt-1" style="margin: auto;"><span class="text-center d-flex status-text-color">In-Progress</span></div>
                            </div>*@
                        <div id="activeCount" class="col-6 col-md-3 p-3">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center green-box-img"><span id="AcitveJobAdvertisement" class="text-white font-weight-bold" style="font-size: 28px;">0</span></div>
                            <div class="text-center d-flex mt-1" style="margin: auto;"><span class="text-center d-flex status-text-color">Active</span></div>
                        </div>
                        <div id="inactiveCount" class="col-6 col-md-3 p-3">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center peach-box-img"><span id="InActiveJobAdvertisement" class="text-white font-weight-bold" style="font-size: 28px;">0</span></div>
                            <div class="text-center d-flex mt-1" style="margin: auto;"><span class="text-center d-flex status-text-color">In-Active</span></div>
                        </div>
                    </div>
                    <div id="searchJob" class="mt-4 pt-1 pb-1 pl-3 font-weight-bold header-bar"><span class="text-white sub-header-size">Select a Job Advertisement to View Recruitment Status</span></div>
                    <div class="row grey-bar m-0">
                        <div class="col-5 col-lg-3 col-xl-3 d-flex d-xl-flex align-items-center align-items-xl-center"><span>Select Position<br></span></div>
                        <div class="col-7 col-lg-5 col-xl-5 pt-2 pb-2" style="padding-left: 0px;">
                            @*<select class="shadow-sm m-1" style="height: 32px;border-color: #d7d6d6;border-radius: 4px;width: 100%;">
                                    <optgroup label="This is a group">
                                        <option value="12" selected="">Rigger</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>*@
                            @(Html.Kendo().DropDownListFor(model => model.JobAdvId)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetJobAdvertismentDashboard", "CandidateShortlist", new { @area = "Recruitment"});
                                            });
                                        })
                                        .OptionLabel(ApplicationConstant.PlaceHolder_AllOption)
                                        .DataTextField("JobName")
                                        .DataValueField("Id")
                                        .Events(x => x.Change("OnChangeJob")
                                        .DataBound("OnDataBoundJob")
                                        )
                                        //.Value(Model.JobAdvId)
                                        .Filter(FilterType.Contains)
                                        .HtmlAttributes(new { @class = "hr-xx-large shadow-sm m-1", @style = "border-color: #d7d6d6;border-radius: 4px;width: 100%;" }))
                        </div>
                        <div class="col-12 col-lg-3 col-xl-3 d-flex d-xl-flex justify-content-center justify-content-lg-end justify-content-xl-end pt-2 pb-2" style="padding-right: 10px;padding-left: 10px;">
                            @*<button class="btn btn-primary btn-sm" type="button" onclick="OnApplyJobfilter();">Apply</button>
                                <button class="btn btn-dark btn-sm" type="button" onclick="OnResetJobfilter();">Reset</button>*@
                        </div>
                    </div>
                    <div class="row grey-bar m-0">
                        <div class="col-5 col-lg-3 col-xl-3 d-flex d-xl-flex align-items-center align-items-xl-center"><span>Select Organization<br></span></div>
                        <div class="col-7 col-lg-5 col-xl-5 pt-2 pb-2" style="padding-left: 0px;">
                            @*<select class="shadow-sm m-1" style="height: 32px;border-color: #d7d6d6;border-radius: 4px;width: 100%;">
                                    <optgroup label="This is a group">
                                        <option value="12" selected="">Rigger</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>*@
                            @(Html.Kendo().DropDownListFor(model => model.OrganizationId)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetOrganizationIdNameByRecruitmentList", "Master").Data("FilterOrg");
                                            });
                                        })
                                        .OptionLabel(ApplicationConstant.PlaceHolder_AllOption)
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Events(x => x.Change("OnChangeOrg")
                                        .DataBound("OnDataBoundOrg")
                                        )
                                        .Filter(FilterType.Contains)
                                        .HtmlAttributes(new { @class = "hr-xx-large shadow-sm m-1", @style = "border-color: #d7d6d6;border-radius: 4px;width: 100%;" }))
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4 d-flex d-xl-flex justify-content-center justify-content-lg-end justify-content-xl-end pt-2 pb-2" style="padding-right: 10px;padding-left: 10px;">
                            <button id="btnViewApplicants" class="btn btn-primary btn-sm" type="button" onclick="OnViewApplicants('','');" style="display:none;">View Applicants</button>
                            <button class="btn btn-primary btn-sm" type="button" onclick="OnApplyJobfilter();">Apply</button>
                            <button class="btn btn-dark btn-sm" type="button" onclick="OnResetJobfilter();">Reset</button>
                        </div>
                    </div>
                    <div id="countTotal" class="row no-gutters mt-4" style="margin: 0;">
                        <div class="col-6 col-sm-4 col-xl-2 mt-2" style="padding-left: 0px;">
                            <div class="text-center text-white shadow p-2 font-weight-bold mx-1 blue-static-box"><span class="d-block">Required HC</span><span id="RequiredHCCount" class="d-block">0</span></div>
                        </div>
                        <div class="col-6 col-sm-4 col-xl-2 mt-2" style="padding-left: 0px;">
                            <div class="text-center text-white shadow p-2 font-weight-bold mx-1 blue-static-box"><span class="d-block">Separation</span><span id="SeperationCount" class="d-block">0</span></div>
                        </div>
                        <div class="col-6 col-sm-4 col-xl-2 mt-2" style="padding-left: 0px;">
                            <div class="text-center text-white shadow p-2 font-weight-bold mx-1 blue-static-box"><span class="d-block">Available</span><span id="AvailableCount" class="d-block">0</span></div>
                        </div>
                        <div class="col-6 col-sm-4 col-xl-2 mt-2" style="padding-left: 0px;">
                            <div class="text-center text-white shadow p-2 font-weight-bold mx-1 blue-static-box"><span class="d-block">Sub Contract</span><span id="SubcontractCount" class="d-block">0</span></div>
                        </div>
                        <div class="col-6 col-sm-4 col-xl-2 mt-2" style="padding-left: 0px;">
                            <div class="text-center text-white shadow p-2 font-weight-bold mx-1 blue-static-box"><span class="d-block">Transfer</span><span id="TransferCount" class="d-block">0</span></div>
                        </div>
                        <div class="col-6 col-sm-4 col-xl-2 mt-2" style="padding-left: 0px;">
                            <div class="text-center text-white shadow p-2 font-weight-bold mx-1 blue-static-box"><span class="d-block">To be Recruited</span><span id="TobeRecruitedCount" class="d-block">0</span></div>
                        </div>
                    </div>
                    <div class="row mt-4" style="margin: 0;">
                        <div id="ApplicantCount" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2" style="padding-right: 5px;width: 100%;height: 100%;min-width: 100px;padding-left: 0px;">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-21.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('',$('#NumberofApplicationsCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">

                                        <span id="NumberofApplicationsCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row">
                                            @*<div class="col-11" style="text-align:left">*@
                                            <div class="col-1"></div>
                                            <div class="col-9 row">
                                                <span class="d-block" style="font-size: 14px;">1. Number of Applicants</span>
                                            </div>
                                            <div class="col-2">

                                            </div>

                                            @*</div>
                            <div class="col-8">
                                <span class="d-block" style="font-size: 14px;"></span>*@
                                            @*</div>*@

                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                        <div id="shortlistedHRCount" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2" style="padding-right: 5px;width: 100%;height: 100%;min-width: 100px;padding-left: 0px;">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-22.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('ShortListByHr',$('#ShortlistedByHRCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="ShortlistedByHRCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 10px;margin-right:-9px;">

                                            @*@if (ViewBag.Role.Contains("HR"))
                            {

                                <i class="fas fa-arrow-circle-left" style="font-size: 26px;" title="View Transactions" onclick="onJobApplicationState('ShortListByHr',$('#ShortlistedByHRCount').val());"></i>

                            }*@
                                            <div class="col-9" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">2. Shortlisted by HR</span>

                                            </div>
                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('ShortListByHr',$('#ShortlistedByHRCount').val(),'right');"></i>*@

                                        </div>@*<span class="d-block" style="font-size: 14px;"></span>*@
                                    </div>
                                </div>
                            
                        </div>
                        <div id="divShortlistedforInterview" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2" style="padding-right: 5px;width: 100%;height: 100%;min-width: 100px;padding-left: 0px;">
                              <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-23.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('ShortListByHm',$('#ShortlistedforInterviewCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="ShortlistedforInterviewCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 10px;margin-right:-9px;">
                                            @*@if (ViewBag.Role.Contains("HM"))
                            {
                                <i class="fas fa-arrow-circle-left" style="font-size: 26px;" title="View Transactions" onclick="onJobApplicationState('ShortListByHm',$('#ShortlistedforInterviewCount').val());"></i>
                            }*@
                                            <div class="col-11" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">3. Shortlist By Hiring Manager</span>
                                            </div>

                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('ShortListByHm',$('#ShortlistedforInterviewCount').val(),'right');"></i>*@
                                        </div>@*<span class="d-block justify-content-end justify-content-lg-end pl-2" style="font-size: 14px;">Shortlisted for Interview</span>*@
                                    </div>
                                </div>
                          
                        </div>
                        @*<div id="divInterviewsCompleted" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2" style="padding-right: 5px;width: 100%;height: 100%;min-width: 100px;padding-left: 0px;">
            <a class="text-body" href="#" style="text-decoration: none;" onclick="onJobApplicationState('InterviewsCompleted',$('#InterviewsCompletedCount').val());">
                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-24.png&quot;) center / cover no-repeat;border-radius: 6px;">
                    <div class="mobile-view-cards-padding mt-3"><span id="InterviewsCompletedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span><span class="d-block" style="font-size: 14px;">Interviews Completed</span></div>
                </div>
            </a>
        </div>*@
                        <div id="divDirectHiring" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2" style="padding-right: 5px;width: 100%;height: 100%;min-width: 100px;padding-left: 0px;">
                              <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/Shape-DH.jpeg&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (ViewBag.Role.Contains("HR"))
                            {
                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;color: darkgrey;" title="Click to view more" onclick="onJobApplicationState('DirectHiring',$('#DirectHiringCount').val(),'right');"></i>
                            }
                        </div>
                    </div>
                    <div class="mobile-view-cards-padding mt-3">
                        <span id="DirectHiringCount" class="d-block font-weight-bold" style="font-size: 20px;">@Model.DirectHiring</span>
                        <div class="row" style="margin-left: 10px;margin-right:-9px;">

                            <div class="col-11" style="text-align:left">
                                <span class="d-block" style="font-size: 14px;">4 Direct Hiring</span>
                            </div>

                        </div>
                    </div>
                </div>
            
        </div>

        <div id="divIntenttoOfferSent" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
            
                                            <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-25.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                                <div class="row btn-next-row">
                                                    <div class="col-1"></div>
                                                    <div class="col-9 row">
                                                    </div>
                                                    <div class="col-2">
                                                        @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                                        {
                                                            <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('IntentToOffer',$('#IntenttoOfferSentCount').val(),'right');"></i>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="mobile-view-cards-padding mt-3">
                                                    <span id="IntenttoOfferSentCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                                    <div class="row" style="margin-left: 10px;margin-right:-9px;">
                                                        <div class="col-10" style="text-align:left">
                                                            <span class="d-block" style="font-size: 14px;">5. Intent to Offer</span>
                                                        </div>
                                                        @*<div class="col-9">
                        <span class="d-block" style="font-size: 14px;"></span>
                    </div>*@
                                                        @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('IntentToOffer',$('#IntenttoOfferSentCount').val(),'right');"></i>*@
                                                    </div>@*<span class="d-block" style="font-size: 14px;">Intent to Offer</span>*@
                                                </div>
                                            </div>

                        </div>
                        <div id="divInterviewsCompleted" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2" style="padding-right: 5px;width: 100%;height: 100%;min-width: 100px;padding-left: 0px;">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-24.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('WorkerPool',$('#WorkerPoolCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="WorkerPoolCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 10px;margin-right:-9px;">
                                            @*@if (ViewBag.Role.Contains("HR") && !ViewBag.Role.Contains("TICKETING"))
                            {
                                <i class="fas fa-arrow-circle-left" style="        font-size: 26px;" title="View Transactions" onclick="onJobApplicationState('WorkerPool',$('#WorkerPoolCount').val());"></i>
                            }*@

                                            <div class="col-10" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">6. Worker Appointment</span>
                                            </div>
                                            @*<div class="col-8">
                                <span class="d-block" style="font-size: 14px;"></span>
                            </div>*@
                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('WorkerPool',$('#WorkerPoolCount').val(),'right');"></i>*@
                                        </div>@*<span class="d-block" style="font-size: 14px;">Worker Pool</span>*@
                                    </div>
                                </div>
                            
                        </div>
                        <div id="intenttoOffer" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-26.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('FinalOffer',$('#IntenttoOfferAcceptedCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="IntenttoOfferAcceptedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 10px;margin-right:-9px;">
                                            <div class="col-10" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">7. Final Offer</span>
                                            </div>
                                            @*<div class="col-8">
                                <span class="d-block" style="font-size: 14px;"></span>
                            </div>*@
                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('FinalOffer',$('#IntenttoOfferAcceptedCount').val(),'right');"></i>*@
                                        </div>@*<span class="d-block" style="font-size: 14px;">Final Offer</span>*@
                                    </div>
                                </div>
                           
                        </div>
                        @*<div class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
            <a class="text-body" href="#" style="text-decoration: none;" onclick="onJobApplicationState('FinalOfferAccepted',$('#FinalOfferAcceptedCount').val());">
                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-27.png&quot;) center / cover no-repeat;border-radius: 6px;">
                    <div class="mobile-view-cards-padding mt-3"><span id="FinalOfferAcceptedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span><span class="d-block" style="font-size: 14px;">Final Offer Accepted</span></div>
                </div>
            </a>
        </div>*@

                        <div id="overseas" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-28.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">

                                            <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('BusinessVisa',$('#BusinessVisaCount').val(),'right');"></i>

                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="BusinessVisaCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 4px; margin-right: -9px;">
                                            <div class="col-12" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">8.1 Overseas Business [Single/ Multiple] Visa</span>
                                            </div>
                                            @*<div class="col-8">
                                <span class="d-block" style="font-size: 14px;"></span>
                            </div>*@
                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('BusinessVisa',$('#BusinessVisaCount').val(),'right');"></i>*@

                                        </div>@*<span class="d-block" style="font-size: 14px;">Medical Completed For Business Visa(Overseas)</span>*@
                                    </div>
                                </div>
                           
                        </div>

                        @*<div class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
            <a class="text-body" href="#" style="text-decoration: none;" onclick="onJobApplicationState('VisaAppointmentTaken',$('#VisaAppointmentsTakenCount').val());">
                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-29.png&quot;) center / cover no-repeat;border-radius: 6px;">
                    <div class="mobile-view-cards-padding mt-3"><span id="VisaAppointmentsTakenCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span><span class="d-block" style="font-size: 14px;">Visa Appointments Taken(Overseas)</span></div>
                </div>
            </a>
        </div>*@

                        @*<div class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
            <a class="text-body" href="#" style="text-decoration: none;" onclick="onJobApplicationState('VisaApproved',$('#VisaApprovedCount').val());">
                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-211.png&quot;) center / cover no-repeat;border-radius: 6px;">
                    <div class="mobile-view-cards-padding mt-3"><span id="VisaApprovedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span><span class="d-block" style="font-size: 14px;">Visa Approved(Overseas)</span></div>
                </div>
            </a>
        </div>*@
                        <div id="workvisa" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                            
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/overseasworkvisa.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('WorkVisa',$('#WorkVisaCount').val(),'right');"></i>
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="WorkVisaCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 10px; margin-right: -9px;">
                                            <div class="col-10" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">8.2 Overseas Work Visa</span>
                                            </div>
                                            @*<div class="col-8">
                                <span class="d-block" style="font-size: 14px;"></span>
                            </div>*@
                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('WorkVisa',$('#WorkVisaCount').val(),'right');"></i>*@
                                        </div>@*<span class="d-block" style="font-size: 14px;">Medical Completed For Work Visa(Overseas)</span>*@
                                    </div>
                                </div>
                           
                        </div>
                        <div id="localVisa" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-211.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('VisaTransfer',$('#VisaTransferCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="VisaTransferCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 10px; margin-right: -9px;">
                                            <div class="col-10" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">8.3 Local Visa Transfer</span>
                                            </div>
                                            @*<div class="col-8">
                                <span class="d-block" style="font-size: 14px;"></span>
                            </div>*@
                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('VisaTransfer',$('#VisaTransferCount').val(),'right');"></i>*@

                                        </div>@*<span class="d-block" style="font-size: 14px;">Visa Transfer(Local)</span>*@
                                    </div>
                                </div>
                           
                        </div>
                        <div id="workpermit" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-212.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('WorkPermit',$('#WorkPermitCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="WorkPermitCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 10px; margin-right: -9px;">
                                            <div class="col-10" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">8.4 Local Work Permit</span>
                                            </div>
                                            @*<div class="col-8">
                                <span class="d-block" style="font-size: 14px;"></span>
                            </div>*@
                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('WorkPermit',$('#WorkPermitCount').val(),'right');"></i>*@

                                        </div>@*<span class="d-block" style="font-size: 14px;">Visa Transfer(Local)</span>*@
                                    </div>
                                </div>
                           
                        </div>
                        @*<div class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
            <a class="text-body" href="#" style="text-decoration: none;" onclick="onJobApplicationState('VisaSentToCandidates',$('#VisasenttoCandidatesCount').val());">
                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-212.png&quot;) center / cover no-repeat;border-radius: 6px;">
                    <div class="mobile-view-cards-padding mt-3"><span id="VisasenttoCandidatesCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span><span class="d-block" style="font-size: 14px;">Visa sent to Candidates(Overseas)</span></div>
                </div>
            </a>
        </div>*@
                        @*<div class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
            <a class="text-body" href="#" style="text-decoration: none;" onclick="onJobApplicationState('FlightTicketsBooked',$('#FlightTicketsBookedCount').val());">
                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-213.png&quot;) center / cover no-repeat;border-radius: 6px;">
                    <div class="mobile-view-cards-padding mt-3"><span id="FlightTicketsBookedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span><span class="d-block" style="font-size: 14px;">Flight Tickets Booked(Overseas)</span></div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
            <a class="text-body" href="#" style="text-decoration: none;" onclick="onJobApplicationState('CandidateArrived',$('#CandidateArrivedCount').val());">
                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-214.png&quot;) center / cover no-repeat;border-radius: 6px;">
                    <div class="mobile-view-cards-padding mt-3"><span id="CandidateArrivedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span><span class="d-block" style="font-size: 14px;">Candidate Arrived(Overseas)</span></div>
                </div>
            </a>
        </div>*@
                        <div id="staffJoining" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-214.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;color: darkgrey;" title="Click to view more" onclick="onJobApplicationState('StaffJoined',$('#CandidateJoinedCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="StaffJoinedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 4px; margin-right: -9px;">
                                            <div class="col-10" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">9. Staff Joining</span>
                                            </div>
                                            @*<div class="col-8">
                                <span class="d-block" style="font-size: 14px;">Staff Candidate Joining</span>
                            </div>*@
                                            @*<i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('StaffJoined',$('#CandidateJoinedCount').val(),'right');"></i>*@

                                        </div>@*<span class="d-block" style="font-size: 14px;">Staff Candidate Joined</span>*@
                                    </div>
                                </div>
                           
                        </div>
                        <div id="workerJoining" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/shape-215.png&quot;) center / cover no-repeat;border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;color: darkgrey;" title="Click to view more" onclick="onJobApplicationState('WorkerJoined',$('#WorkerJoinedCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="WorkerJoinedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 4px; margin-right: -9px;">
                                            <div class="col-11" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">10. Worker Joining</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                        <div id="joined" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                           
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="        background: url(&quot;/images/shape-21.png&quot;) center / cover no-repeat;
        border-radius: 6px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;" title="Click to view more" onclick="onJobApplicationState('Joined',$('#JoinedCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="JoinedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 4px; margin-right: -9px;">
                                            <div class="col-11" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">11. Joined</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            
                        </div>

                        <div id="postStaffJoined" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                          
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/220.png&quot;) center / cover no-repeat;border-radius: 6px;margin-left:5px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;color: darkgrey;" title="Click to view more" onclick="onJobApplicationState('PostStaffJoined',$('#PostStaffJoinedCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="PostStaffJoinedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 4px; margin-right: -9px;">
                                            <div class="col-11" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">12. Post Staff Joined</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                        </div>

                        <div id="postWorkerJoined" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-right mt-2 card-box-column">
                            
                                <div class="pt-5 pb-3 pr-2 mobile-view-cards" style="background: url(&quot;/images/221.png&quot;) center / cover no-repeat;border-radius: 6px;margin-left:5px;">
                                    <div class="row btn-next-row">
                                        <div class="col-1"></div>
                                        <div class="col-9 row">
                                        </div>
                                        <div class="col-2">
                                            @if (!ViewBag.Role.Contains("PRO") && !ViewBag.Role.Contains("TICKETING"))
                                            {
                                                <i class="fas fa-arrow-circle-right" style="font-size: 26px;color: darkgrey;" title="Click to view more" onclick="onJobApplicationState('PostWorkerJoined',$('#PostWorkerJoinedCount').val(),'right');"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="mobile-view-cards-padding mt-3">
                                        <span id="PostWorkerJoinedCount" class="d-block font-weight-bold" style="font-size: 20px;">0</span>
                                        <div class="row" style="margin-left: 4px; margin-right: -9px;">
                                            <div class="col-11" style="text-align:left">
                                                <span class="d-block" style="font-size: 14px;">13. Post Worker Joined</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

