@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@{
    ViewData["Title"] = "Manage Performance Document Stage";
    Layout = "/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model UserHierarchyChartViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>
<style>
    #users-list .k-item {
        width: 100%;
        background-color: #fff;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 1px solid #f2f2f2;
        border-collapse: collapse;
    }

        #users-list .k-item:hover {
            background-color: rgb(182,189,202);
        }

    #users-list .k-state-selected, #SwitchToUserId-list .k-state-selected:hover {
        background-color: #1984c8;
        border-color: #1984c8;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        $("#Id").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/portalAdmin/ObjectHierarchyChart/GetNonExistingUserlist?hierarchy=" + '@Model.HierarchyId' +"&parentId="+'@Model.ParentId',
                    }
                }
            }
        });
    });

    function Close() {

        var win = GetMainWindow();
        win.CloseWindow({ MethodName:"OnAfterCreate"});
        return false;
    }

    function onAdd() {

        var value = $("#Id").data("kendoDropDownList").value();
       // alert(value);
        if (value == "" || value == null) {
            @*kendo.alert("@Resource["SelectUser"]");*@
            kendo.alert("Please Select User")
            return false;
        }
        else {
            ShowLoader($('.viewdata'));
             $.ajax({
                 type: 'POST',
                 url: "/portalAdmin/ObjectHierarchyChart/AddExistingUserPost?parentUserId=" + '@Model.ParentId' + "&userId=" + value + "&hierarchyId=@Model.HierarchyId",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
                 success: function (res) {
                    // alert(res.success);
                HideLoader($('.viewdata'));
                if (res.success) {
                    @*window.parent.ShowNotification("@Resource["UserMappedSuccessfully"]", "success");*@
                    Close();
                }
                else {
                    window.parent.ShowNotification(res.message, "error");
                }

                 }

             });
        }
    }

</script>

<div class="row viewdata" style="margin-left:15px;">
    <div class="col-12 pad-5" style="font-size:20px;padding:10px;">
        <span>Parent User : </span>  @Html.DisplayFor(x => x.UserName, new { @style = "font-size:20px;color:black;" })
    </div>
    <br />
    <br />
    <div class="row col-12" style="padding:10px;">
        <div class="col-10">
            <span style="font-size:20px;">Existing User</span>

            <input asp-for="Id" id="Id" class="drp-user" style="width: 80%;" />
        </div>
        <div class="col-2">
            <button class="k-button k-button-icontext k-grid-btnAdd k-primary" onclick="onAdd()" @*style="float:right;"*@><i class="fas fa-plus"></i>Add User</button>
        </div>

    </div>

    @Html.HiddenFor(c => c.ParentId)

</div>

