@{
    ViewData["Title"] = "Dashboard";
    //Layout = ViewBag.Layout;
    Layout = "/Views/Shared/_Reference.cshtml";
}
@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.BusinessAnalyticsController> Resource

@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model IIPNotificationViewModel
<style>

    .content {
        height: auto;
        margin: 0 auto;
        padding: 10px;
    }

    .nav-pills {
        width: 550px;
    }

    .nav-item {
        width: 30%;
    }

    .nav-pills .nav-link {
        font-weight: 400;
        padding-top: 12px;
        text-align: center;
        background: #343436;
        color: #fff;
        border-radius: 15px;
        height: 70px;
        font-size: 17px;
        border: 1px solid lightblue;
    }

        .nav-pills .nav-link.active {
            background: #fff;
            color: #000;
        }

    .tab-content {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 650px;
        margin-top: -25px;
        background: #fff;
        color: #000;
        border-radius: 15px;
        z-index: 1000;
        padding: 10px;
        border: 1px solid lightblue;
    }

    body {
        background-color: #dee2e6;
    }

    #cctv .tab-content {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 600px;
        margin-top: -40px;
        background: #fff;
        color: #000;
        border-radius: 15px;
        z-index: 1000;
        padding: 10px;
        border: 1px solid lightblue;
    }

    #cctv .nav-pills .nav-link {
        font-weight: 400;
        padding-top: 3px;
        text-align: center;
        background: #343436;
        color: #fff;
        border-radius: 15px;
        height: 70px;
        font-size: 15px;
        border: 1px solid lightblue;
    }

        #cctv .nav-pills .nav-link.active {
            background: #fff;
            color: #000;
        }

    .footage {
        float: left;
        position: relative;
        /*  width: 710px;
        height: 360px;*/
        margin: 0 5px;
        padding: 0;
    }

    #listview_cctv {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
        /* Avoid cutout if font or line is bigger */
        font: inherit;
        border: none;
    }

    .k-listview-content {
        overflow: hidden;
    }

    #listview_cctv .card {
        width: 470px;
        height: 290px;
        margin-bottom: 10px;
    }

    #cctv_count {
        background: #007bff;
        color: white;
        border-radius: 50%;
        padding: 5px 10px;
        margin-left: 10px;
        margin-right: 5px;
    }
</style>
<script>
    $(document).ready(function () {
        //getdial100Data();
        getcctvData();
        $("#Radius").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: "500",
            change: onRadiusChange,
            dataSource: [
                { Name: "500 M", Id: "500" },
                { Name: "1 KM", Id: "1000" },
                { Name: "1.5 KM", Id: "1500" },
                { Name: "2 KM", Id: "2000" },
                { Name: "2.5 KM", Id: "2500" },
                { Name: "3 KM", Id: "3000" },
                { Name: "3.5 KM", Id: "3500" },
                { Name: "4 KM", Id: "4000" },
                { Name: "4.5 KM", Id: "4500" },
                { Name: "5 KM", Id: "5000" },
            ],
        });
        $("#ViewType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: "GridView",
            change: onViewChange,
            dataSource: [
                { Name: "Grid View", Id: "GridView" },
                { Name: "Card View", Id: "CardView" },
                { Name: "Map View", Id: "MapView" },
            ],
        });

    });


</script>
<div class="content">
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a data-toggle="pill" href="#dail100" class="nav-link" aria-selected="false">Dial 100</a></li>
        <li class="nav-item"><a data-toggle="pill" href="#cctv" class="nav-link active" aria-selected="true">CCTV@*<span id="cctv_count">5</span>*@</a></li>
        <li class="nav-item"><a data-toggle="pill" href="#cctns" class="nav-link" aria-selected="false">CCTNS</a></li>
    </ul>

    <div class="tab-content">
        <div id="dail100" class="tab-pane fade">
            @*<div style="overflow-x: scroll; width: 100%;">
                    <div id="kgrddial100" style="width: 100%;height:600px" class="ag-theme-alpine"></div>
                </div>*@
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="250px">Incident</th>
                                <td>@Model.Incident</td>
                            </tr>
                            <tr>
                                <th width="250px">Incident Sub Type</th>
                                <td>@Model.IncidentSubType</td>
                            </tr>
                            <tr>
                                <th width="250px">Incident Number</th>
                                <td>@Model.IncidentNumber</td>
                            </tr>
                            <tr>
                                <th width="250px">Incident Time</th>
                                <td>@Model.IncidentTime</td>
                            </tr>
                            <tr>
                                <th width="250px">Latitude</th>
                                <td>@Model.Latitude</td>
                            </tr>
                            <tr>
                                <th width="250px">Longitude</th>
                                <td>@Model.Longitude</td>
                            </tr>
                            <tr>
                                <th width="250px">Police Station</th>
                                <td>@Model.PoliceStation</td>
                            </tr>
                            <tr>
                                <th width="250px">Remark</th>
                                <td>@Model.Remark</td>
                            </tr>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="cctv" class="tab-pane pad-10 active">
            <div class="row">
                <div class="col-2" style="margin-right: -125px;">
                    <label style=" margin-top: 6px; font-weight: 400;">Search By Radius</label>
                </div>
                <div class="col-3">
                    <input id="Radius" style="width: 100%" />
                </div>

                <div class="col-5"></div>
                <div class="col-2" style="margin-left: 125px;">
                    <input id="ViewType" style="width: 100%" />
                </div>
            </div>
            <hr />
            <div id="grid-view" class="tab-pane" style="padding-top: 10px">
                <div id="gridview_cctv" style="width: 100%;height:600px" class="ag-theme-alpine"></div>
            </div>
            <div id="card-view" class="tab-pane" style="display:none">

                <div id="listview_cctv">

                </div>
                <div id="pager" class="k-pager-wrap"></div>


            </div>
            <div id="map-view" class="tab-pane" style="display:none;padding-top:10px">
                <div class="card" style="padding:5px">
                    <div id="map" style="height:550px"></div>
                </div>
            </div>           
        </div>
        <div id="cctns" class="tab-pane fade">
            @foreach (var api in ViewBag.ApiList)
            {
                <div class="col-12" id="DivQueryList_@api.Id" style="padding-top:10px">

                </div>
                <script>
                    $("#DivQueryList_@api.Id").load("/cms/BusinessAnalytics/DynamicGridviewIIP?gridName=KgrdDial_@api.Id&latitude=@Model.Latitude&longitude=@Model.Longitude",
                        function () { });
                </script>

            }

        </div>
    </div>
</div>

<script>
var columnDefs1 = [
                {
                    field: "View",
                    headerName: "View",
                    cellRenderer: params => {
                        return "<span class='fas fa-eye' onclick='onMonitorView()'></span>";
                    }
                },

                {
                    field: "unityp",
                    headerName: "@Resource["unityp"]",
                    cellRenderer: params => {
                        return "<div class='text-justify' >"+params.data.unityp+" </div>";
                    }
                },
                {
                    field: "unit_status",
                    headerName: "Crime Description",
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.unit_status+" </div>";
                    }

                },
                {
                    field: "unique_id",
                    headerName: '@Resource["unique_id"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.unique_id+" </div>";
                    }
                },
                {
                    field: "track_personnel",
                      headerName: '@Resource["track_personnel"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.track_personnel+" </div>";
                    }
                },

                 {
                     field: "tycod",
                      headerName: '@Resource["tycod"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.tycod+" </div>";
                    }
                },

                  {
                      field: "sub_tycod",
                      headerName: '@Resource["sub_tycod"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.sub_tycod+" </div>";
                    }
                },

             {
                 field: "station",
                      headerName: '@Resource["station"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.station+" </div>";
                    }
                },

              {
                  field: "latitude",
                      headerName: '@Resource["latitude"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.latitude+" </div>";
                    }
                },

               {
                   field: "longitude",
                      headerName: '@Resource["longitude"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.longitude+" </div>";
                    }
                },

                  {
                      field: "eid",
                      headerName: '@Resource["eid"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.eid+" </div>";
                    }
                },

             {
                 field: "dgroup",
                      headerName: '@Resource["dgroup"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.dgroup+" </div>";
                    }
                },

              {
                  field: "ag_id",
                      headerName: '@Resource["ag_id"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.ag_id+" </div>";
                    }
                },

            ];
function getdial100Data() {
                document.getElementById("kgrddial100").innerHTML = "";
                gridConfig(
                    "kgrddial100",
                    "/Cms/BusinessAnalytics/ReadDial100Data",
                    columnDefs1,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);
    }
    var columnDefsCctv = [
        {
            field: "View",
            headerName: "View",
            cellRenderer: params => {
                return "<span class='fas fa-eye' onclick='onMonitorView()'></span>";
            }
        },
                {
                    field: "NoteSubject",
                    headerName: "Camera Name",
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.NoteSubject+" </div>";
                    }
                },
                {
                    field: "Location",
                    headerName: "Location",
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.Location+" </div>";
                    }

        },
        {
            field: "PoliceStation",
            headerName: "Police Station",
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.PoliceStation + " </div>";
            }

        },
        {
            field: "Longitude",
            headerName: "Longitude",
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.Longitude + " </div>";
            }

        },
        {
            field: "Latitude",
            headerName: "Latitude",
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.Latitude + " </div>";
            }

        },
        {
            field: "IpAddress",
            headerName: "IP Address",
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.IpAddress + " </div>";
            }

        },


            ];
    function getcctvData() {
        var radius = $("#Radius").val() == "" ? 500 : $("#Radius").val();
        var lat = @Model.Latitude;
        var long = @Model.Longitude;
        document.getElementById("gridview_cctv").innerHTML = "";
        gridConfig(
            "gridview_cctv",
            "/Cms/BusinessAnalytics/ReadIIPCameraData?radius=" + radius + "&latitude=" + lat +"&longitude="+long,
            columnDefsCctv,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
    function onViewChange() {

    var view = $("#ViewType").data("kendoDropDownList").value();
    if (view == "GridView") {
        getcctvData();
        $("#grid-view").show();
        $("#card-view").hide();
        $("#map-view").hide();

    }
    else if (view == "CardView") {
        loadCctvFootage();
        $("#grid-view").hide();
        $("#card-view").show();
        $("#map-view").hide();
    }
    else {
        loadMap();
        window.dispatchEvent(new Event('resize'));
        $("#grid-view").hide();
        $("#card-view").hide();
        $("#map-view").show();
    }
    }
    function onRadiusChange(e) {
        onViewChange();
    }
    function onMonitorView() {
        alert("Not Implemented yet")
        }
    function loadMap() {       
        var radius = $("#Radius").val() == "" ? 500 : $("#Radius").val();
        var lat = @Model.Latitude;
        var long = @Model.Longitude;
        var container = L.DomUtil.get('map');
        if (container['_leaflet_id'] != null) {
            container['_leaflet_id'] = null;
            document.getElementById("map").innerHTML = "";
        }
        $.ajax({
            type: "GET",
            url: "/Cms/BusinessAnalytics/ReadIIPCameraData?radius=" + radius + "&latitude=" + lat + "&longitude=" + long,
            success: function (response) {
                if (response != "" && response != null) {
                    //
                    var locations = response;
                    var markers = L.markerClusterGroup({ showCoverageOnHover: false });
                    for (var i = 0; i < locations.length; i++) {
                        if (locations[i]["Latitude"] != null && locations[i]["Latitude"] != "" && locations[i]["Longitude"] != null && locations[i]["Longitude"] != "") {
                            marker = new L.marker([locations[i]["Latitude"], locations[i]["Longitude"]])
                                .bindPopup(locations[i]["PoliceStation"]);
                            //marker.on('mouseover', function (e) {
                            //    this.closePopup();
                            //});
                            markers.addLayer(marker);
                        }
                    }
                    var map = L.map("map", {
                        center: [locations[0]["Latitude"], locations[0]["Longitude"]],
                        zoom: 1,
                        maxZoom: 20,
                        layers: [markers]
                    });
                    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                        attribution: "© OpenStreetMap contributors"
                    }).addTo(map);
                    markers.getBounds().isValid();
                    map.fitBounds(markers.getBounds());
                }
            },
            error: function (response) {

            },
        });


    }
    function loadCctvFootage() {        
        document.getElementById("listview_cctv").innerHTML = "";
        document.getElementById("pager").innerHTML = "";
        var radius = $("#Radius").val() == "" ? 500 : $("#Radius").val();
        var lat = @Model.Latitude;
        var long = @Model.Longitude;
        var dataSourcey = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/BusinessAnalytics/ReadIIPCameraData?radius=" + radius + "&latitude=" + lat + "&longitude=" + long,
                    //data: Filter,
                    dataType: "json",
                }
            },
            pageSize: 5,

        });
        $("#pager").kendoPager({
            dataSource: dataSourcey
        });
        $("#listview_cctv").kendoListView({
            dataSource: dataSourcey,
            //dataBound: OnDataBoundYoutube,
            template: kendo.template($("#template_cctv").html()),
            pageable: true,

        });
    }
</script>
<script type="text/x-kendo-tmpl" id="template_cctv">
    <div class="footage">
     <div class="card">
        <div class="card-header">
    CCTV
        </div>

        <div class="card-block">
            <video controls height=230 width=400 style='margin: 5px;margin-left: 35px;' ><source src='#=RtspLink#' type='video/mp4' /></video>
        </div>
    </div>
    </div>
</script>




