
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

 @model System.Data.DataTable

<div class="row">
    <div class="col-12">
        <div id="@ViewBag.GridName" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
       
    </div>
</div>

<script>
    var columnDefs = [

        {
            field: "View",
            headerName: "View",
            cellRenderer: params => {
                return "<span class='fas fa-eye' onclick='onMonitorView()'></span>";
            }
        },
        @foreach (System.Data.DataColumn column in Model.Columns)
        {
            @:{ field: '@column.ColumnName', headerName: '@column.ColumnName', minWidth: 150, maxWidth: 300, cellRenderer: params => { return "<div class='text-justify' >" + params.data.@column.ColumnName + " </div>";} },
        }
    ];
    $(function () {
        
        document.getElementById("@ViewBag.GridName").innerHTML = "";
        var url = "/cms/BusinessAnalytics/ReadDial100DataListWithSearch?searchStr=@ViewBag.SearchStr&isAdvance=@ViewBag.IsAdvance&plainSearch=@ViewBag.PlainSearch&dateFilterType=@ViewBag.DateFilterType&startDate=@ViewBag.StartDate&endDate=@ViewBag.EndDate";
        console.log(url);
        gridConfig(
            "@ViewBag.GridName",
            url,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);

    });


</script>