
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

 @model System.Data.DataTable

<div class="row">
    <div class="col-12">
        <div id="@ViewBag.GridName" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
       
    </div>
</div>

<script>
    var columnDefs = [

        @foreach (System.Data.DataColumn column in Model.Columns)
        {
            @:{ field: '@column.ColumnName', headerName: '@column.ColumnName',minWidth: 150, maxWidth: 300 },
        }
    ];
    $(function () {
        document.getElementById("@ViewBag.GridName").innerHTML = "";
        var geocodeService = L.esri.Geocoding.geocodeService();
        var coord = { lat: @ViewBag.Latitude, lng: @ViewBag.Longitude }
        geocodeService.reverse().latlng(coord).run(function (error, result) {
            var str = result.address.Match_addr;
            gridConfig(
                "@ViewBag.GridName",
                "/cms/BusinessAnalytics/ReadDial100DataList?searchStr=" + str,
                columnDefs,
                false,
                true,
                true,
                true,
                1,
                true,
                10);

        })
    });

   
</script>