@inject CMS.Common.IUserContext _userContext
@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_Reference.cshtml";
}

<div id="overlay" class=""></div>
<!-- Page Wrapper -->
<div id="wrapper">
    <span id="popupNotification"></span>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-dark topbar mb-4 static-top hide-in-popup" style="background-color:#23282D;margin-bottom:0px !important;">

                <!--0073AA Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" data-target="#navbarResponsive2">
                    <i class="fa fa-bars"></i>
                </button>


                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav text-uppercase top-nav">
                        <li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/content") ? "nav-active" : "")" href="~/cms/content/index">Portal</a></li>
                        <li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/template") ? "nav-active" : "")" href="~/cms/template/index">Template</a></li>
                        @*<li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/member") ? "nav-active" : "")" href="~/cms/member/index">Member</a></li>*@
                        <li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/admin") ? "nav-active" : "")" href="~/cms/admin/index">Admin</a></li>
                        <li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/BusinessDiagram") ? "nav-active" : "")" href="~/cms/BusinessDiagram/BusinessDiagram">Business Diagram</a></li>
                        <li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/GenericDiagram") ? "nav-active" : "")" href="~/cms/GenericDiagram/Index">Generic Diagram</a></li>
                        <li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/PortalDiagram") ? "nav-active" : "")" href="~/cms/content/portalDiagram">Portal Diagram</a></li>
                        <li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/PortalDiagram") ? "nav-active" : "")" href="~/cms/aqb/index">Query Builder</a></li>
                        @*<li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/businessAnalytics") ? "nav-active" : "")" href="~/cms/businessAnalytics/index">Business Analytics</a></li>*@
                        @*<li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/user") ? "nav-active" : "")" href="#portfolio">User</a></li>

                            <li class="nav-item d-none d-md-inline-block"><a class="nav-link @(Context.Request.Path.Value.ToLower().Contains("/configuration") ? "nav-active" : "")" href="~/cms/configuration/index">Configuration</a></li>*@
                    </ul>

                    <ul class="navbar-nav ml-auto">




                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 cms-user-name">@_userContext.Name</span>
                                <img class="img-profile rounded-circle" id="profileImg" @*src="/user/profilephoto?id=@_userContext.PhotoId"*@ src="@Url.Action("getimagemongo","document",new { @area="Cms",id=_userContext.PhotoId})" onerror='OnPhotoError(this);' />
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" onclick="OpenMyProfile()">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    My Profile
                                </a>
                                <a class="dropdown-item" href="#" onclick="OpenChangePassowrd()">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                @*<a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log

                                    </a>*@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>

            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Content Row -->
                @RenderBody()
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white hide-in-popup">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SYNERGY BRE @DateTime.Today.Year</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>