@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.DocumentController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model TreeViewViewModel
@{
    ViewData["Title"] = "File Manager";
    Layout = null;
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms1.cshtml";
}

<style>

    .context-menu-icon.context-menu-icon--fa5 i, .context-menu-icon.context-menu-icon--fa5 svg {
        top: 0.7em !important;
    }
    /*.k-treeview .k-in.k-state-selected {
        border-color: none !important;
        color: none !important;
        background-color: none !important;
    }*/
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .has-search .form-control {
        padding-left: 2.375rem;
        /*width: 100%;*/
    }

    .form-group {
        width: 40%;
    }

    .task-title {
        padding: 10px;
        background-color: #1c4893;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin-left: 0px;
        margin-right: 10px;
    }

    .sub-div {
        overflow-y: scroll;
        height: 480px;
        overflow-x: hidden;
    }
</style>

<script>


    function viewDocument(templatecode, recordid) {

        var portalId = $('#GlobalPortalId').val();
        //var url = '/Cms/Page?lo=Popup&pageType=Note&source=Edit&dataAction=Edit&pageName=GENERAL_NOTE&recordId=' + parentId + '&portalId=' + portalId;
        var url = '/Cms/Page?lo=Popup&pageType=Note&source=View&dataAction=View&templateCodes=' + templatecode + '&recordId=' + recordid + '&portalId=' + portalId;
        //var url = '/Cms/Page?lo=Popup&pageType=Note&cbm=OnAfterTaskCreate&source=' + source + '&dataAction=' + action + '&templateCodes=' + code + '&portalId=' + portalId + '&recordId=' + id;

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(Resource["Details"])', Width: 1200, Height: 650 });
        return false;
    }

    $(function () {
        $.contextMenu({
            selector: '.tree-menu1',
            trigger: 'left',
            build: function ($trigger, e) {
                var parentId = $trigger.data('id');
                var parentType = $trigger.data('type');

                var Templatecode = $trigger.data('templatecode');

                switch (parentType) {


                    case 'Type':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'view':
                                        viewDocument(Templatecode, parentId);

                                        break;
                                    case 'documentfolder':
                                        gotoFileManager(parentId);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "view": { name: "@Html.Raw(Resource["ViewDocument"])", icon: "fas fa-eye" },
                                "documentfolder": { name: "@Html.Raw(Resource["OpenDocumentLocation"])", icon: "fas fa-folder" }
                            }
                        };
                    default:
                        return {
                            callback: function (key, options) {
                                alert(parentId);
                                alert(parentType);
                            },
                            items: {

                            }
                        };
                }


            }
        });
    });
    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/DMS/Document/GetAllFolderAndDocument",
                    dataType: "json"
                }
            },
            pageSize: 20
        });

        $("#pager").kendoPager({
            dataSource: dataSource,
            buttonCount: 5,            
        });

        $("#listView").kendoListView({
            dataSource: dataSource,            
            template: kendo.template($("#template").html()),
            
        });

    });

    //function OnSearch() {
    //    var value = document.getElementById("searchdoc").value;
    //    var search = { searchtext: value };
    //    var tree = $("#doctreeview").data("kendoTreeView");
    //    tree.dataSource.read(search);
    //}

    //function OnClear() {
    //
    //    document.getElementById("searchdoc").value = "";
    //    var tree = $("#doctreeview").data("kendoTreeView");
    //    tree.dataSource.read();
    //}

    //function AddData() {
    //    var value = document.getElementById("searchdoc").value;
    //    return { searchtext: value };

    //}
    $("#mysearch").keyup(function () {
        var val = $('#mysearch').val();
        var listView = $("#listView").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Name",
                    operator: "contains",
                    value: val
                },
                //{
                //    field: "NoteNo",
                //    operator: "contains",
                //    value: val
                //},
                {
                    field: "ParentName",
                    operator: "contains",
                    value: val
                },

            ]
        });
    });
    function gotoFileManager(id) {
        var portalId = $('#GlobalPortalId').val();
        var customurl = encodeURIComponent('id=' + id);
        //var url = '/Cms/Page?pageName=Document&portalId=' + portalId + '&customUrl=' + customurl;
        var url = '/Cms/Page?pageName=FileExplorer&portalId=' + portalId + '&customUrl=' + customurl;
        LoadCmsPartialView(url, 'Custom');
    }
</script>

<div class="control-section">
    <div class="sample-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-6 form-group has-search pull-right">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input id="mysearch" type="text" class="form-control" placeholder="@SharedResource["Search"]">
                </div>
            </div>

        </div>
        @*<div class="row">
                <div class="col-3">
                    <div>
                        <input type="text" id="searchdoc" class="form-control" placeholder="Search document" autocomplete="off" style="width:100%" />

                    </div>
                </div>

                <div class="col-3">
                    <input type="button" class="btn btn-primary" value="Search" onclick="OnSearch();" />
                    <input type="button" class="btn btn-light" value="Clear" onclick="OnClear();" />
                </div>
            </div>*@

        @*@(Html.Kendo().TreeView()
                .Name("doctreeview")
                .TemplateId("templateDoc")
                .AutoBind(true)
                .ExpandAll(true)
                //.Events(e=>e.Select("OnSelect"))
                .DataTextField("Name")
                .DataSource(dataSource => dataSource
                .Read(read => read
                .Action("GetDocumentList", "Document", new { @area = "DMS" }).Data("AddData"))
                )
                .HtmlAttributes(new { @Class = "listViewDoc" })
            )*@
        <div class="row">
            <div class="col-md-12">

                <div class="row task-title text-left">
                    <div class="col-6" style="max-width:40%">@SharedResource["Name"]</div>
                    <div class="col-3" style="max-width:30%">@Resource["ParentName"]</div>
                    <div class="col-2" style="max-width:15%">@SharedResource["UpdatedBy"]</div>
                    <div class="col-2" style="max-width:35%">@SharedResource["UpdatedDate"]</div>
                </div>
                <div class="sub-div">
                    @*@(Html.Kendo().ListView<Synergy.App.ViewModel.FolderAndDocumentViewModel>()
                        .Name("listView")
                        .TagName("div")
                        .ClientTemplateId("template")
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("GetAllFolderAndDocument", "Document"))
                        .PageSize(20)
                        )
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .ButtonCount(5)
                        .PageSizes(new[] { 5, 15, 20 })
                        )
                    )*@

                    <div id="listView"></div>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script id="template" type="text/kendo-ui-template">
    @*<div class="row" style="display:flex;border-radius: 0px 0px 6px 6px;width:268px;padding:5px;">
        <div class="col-md-10" style="text-align:left;">

        <span style="color:black;font-size:16px;"><i class="fas fa-folder" style="color:DeepSkyBlue;margin-right:10px;"></i>#:Name#</span>

        <span style="color:black;font-size:16px;"><i class="fas fa-folder" style="color:Gold;margin-right:10px;"></i>#:ParentName#</span>



        </div>

    </div>*@
     <div>
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">
            <div class="col-6" style="margin: 10px 0px 10px 0px; max-width:40%">
                <span data-id="#:data.Id#" data-type="Type" data-templatecode="#:data.TemplateMasterCode#"  class="tree-menu1" style="margin-right:10px;cursor:pointer;"><i class="fa fa-ellipsis-v"></i></span>
                #if(FolderCode == "GENERAL_FOLDER") {#
                <span class="fromcolor" style="font-size: 1em; display: inline-block;" title="Name"><i class="fas fa-folder" style="color:Gold;margin-right:10px;"></i>#=Name# - #=DocumentType#</span>
                #}
                else if(FolderCode == "WORKSPACE_GENERAL"){#
                <span class="fromcolor" style="font-size: 1em; display: inline-block;" title="Name"><i class="fas fa-folder" style="color:DeepSkyBlue;margin-right:10px;"></i>#=Name# - #=DocumentType#</span>
                #}
                else {#
                <span class="fromcolor" style="font-size: 1em; display: inline-block;" title="Name"><i class="fas fa-file-alt" style="color:grey;margin-right:10px;"></i>#=Name# - #=DocumentType#</span>
                #}#

            </div>
            <div class="col-3" style="margin: 10px 0px 10px 0px;max-width:35%">
    #if(ParentName!='' && ParentName!=null){#
                #if(FileName == "GENERAL_FOLDER") {#
                <span class="fromcolor" style="font-size: 1em; display: inline-block;" title="Parent Name"><i class="fas fa-folder" style="color:Gold;margin-right:10px;"></i>#=ParentName# - #=DocumentName#</span>
                #}
                else if(FileName == "WORKSPACE_GENERAL"){#
                <span class="fromcolor" style="font-size: 1em;  display: inline-block;" title="Parent Name"><i class="fas fa-folder" style="color:DeepSkyBlue;margin-right:10px;"></i>#=ParentName# - #=DocumentName#</span>
                #}
                else {#
                <span class="fromcolor" style="font-size: 1em; display: inline-block;" title="Parent Name"><i class="fas fa-file-alt" style="color:grey;margin-right:10px;"></i>#=ParentName# - #=DocumentName#</span>
                #}#
    #}#
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;max-width:15%">
                <span class="fromcolor" style="font-size: 1em; display: inline-block;" title="Last Updated By">Administrator</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;max-width:35%">
                <span class="fromcolor" style="font-size: 1em; display: inline-block;" title="Last Modified Date"> #= kendo.toString(LastUpdatedDate, 'dd MMM yyyy') #</span>
            </div>
            @*<div class="col-2" id="openTask" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%" onclick="OpenTask('#:Id#');" title="click to open Task">
                <span style="font-size:1em; color:Highlight">#if(Subject != null) {# #:Subject# #} else{# 'NA' #}#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(CandidateName != null) {# #:CandidateName# #} else{# NA #}#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(JobName != null) {# #:JobName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:10%">
                <span style="font-size:1em; color:green">#if(OrgUnitName != null) {# #:OrgUnitName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:green">#if(GaecNo != null) {# #:GaecNo# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:orange; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <div style="font-size: 1em; color:chocolate">#=DisplayDueDate#</div>
            </div>*@
        </div>
        @*<div id="step-edit-div-#=Id#"></div>*@
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>
@*<script id="templateDoc" type="text/kendo-ui-template">
        <div class="row" style="display:flex;border-radius: 0px 0px 6px 6px;width:268px;padding:5px;">
            <div class="col-md-10" style="text-align:left;">
            #if(item.TemplateCode=="WORKSPACE_GENERAL"){#
                <span style="color:black;font-size:16px;"><i class="fas fa-folder" style="color:DeepSkyBlue;margin-right:10px;"></i>#:item.DisplayName#</span>
            #}else if(item.TemplateCode=="GENERAL_FOLDER" && item.Type=="Folder"){#
                <span style="color:black;font-size:16px;"><i class="fas fa-folder" style="color:Gold;margin-right:10px;"></i>#:item.DisplayName#</span>
            #}
        else
        {#
        <span style="color:black;font-size:16px;"><i class="fas fa-file-alt" style="color:DeepSkyBlue;margin-right:10px;"></i>#:item.DisplayName#</span>
        #}#

            </div>

        </div>
    </script>*@














