@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.DocumentController> Resource
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model NoteViewModel
@{

    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
    .k-upload .k-upload-action {
        display: none;
    }

    .group .input {
        margin-bottom: 25px;
        width: 100%;
        color: black;
        display: block;
        border: 1px;
        padding: 15px 20px;
        border-radius: 50px;
        background: rgba(142, 139, 139, 0.1);
    }
</style>




<div class="row" style="margin-left:15px;">

    <form asp-controller="Document" asp-action="ManageNewFolder" method="post" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" style="width:300px;" asp-validation-summary="All" id="validation-summary"></div>

        <div class="row" style="padding:10px;margin-right:15px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="NoteSubject" type="text" class="form-control" placeholder="Enter Folder Name" required="required" autocomplete="off" />
                    <label for="NoteSubject">Enter Folder Name<span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Code" type="text" class="form-control" placeholder="Enter Code" autocomplete="off" />
                    <label for="Code">Code@*<span class="required">*</span>*@</label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">

                    <input asp-for="SequenceOrder" type="text" class="form-control" placeholder="SequenceOrder" autocomplete="off" />
                    <label for="SequenceOrder">@Resource["SequenceOrder"]</label>
                </div>
            </div>

            <div class="cms-slidebar-footer">
                <input type="submit" class="btn btn-primary" value=@SharedResource["Save"] id="submitBtn" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ParentNoteId)


    </form>
</div>



<script type="text/javascript">

     var onAjaxSuccess = function (res) {

        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                window.parent.ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                window.parent.ShowNotification("Updated Successfully", "success");
            }
            HideLoader($('#myForm'));
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: 'RefreshFileManager' });

        }
        else {
            HideLoader($('#myForm'));
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
            //evt.preventDefault();
            return false;
        }
    };
    var showError = function (error) {
        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }

    function OnSave(evt) {
        
           if ($("#NoteSubject").val() == "") {
            //
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Folder Name is required");
            evt.preventDefault();
            return false;

        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            ShowLoader($('#myForm'));
        }
    }

</script>