@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@{
    ViewData["Title"] = "Manage Tag";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model DMSTagViewModel

<style>
    .k-colorpicker {
        /*width: 300px !important;*/
    }
    .k-colorpicker .k-selected-color {
        width: 150px !important;
    }
</style>
<script>
    $(document).ready(function () {

        $("#TagBackgroundColor").kendoColorPicker({
            input: false,
            preview: false,
            value: "@Model.TagBackgroundColor",
            buttons: false,
            views: ["gradient"]
        });

        $("#TagForegroundColor").kendoColorPicker({
            input: false,
            preview: false,
            value: "@Model.TagForegroundColor",
            buttons: false,
            views: ["gradient"]
        });

        $("#TagParentId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.TagParentId',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Dms/Document/GetDMSTagIdNameList",
                    }
                }
            }
        });

    });

    var onAjaxSuccess = function (res) {
        HideLoader($('.form-horizontal'));
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                window.parent.ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                window.parent.ShowNotification("Updated Successfully", "success");
            }
            Close();
            window.parent.getDmsTagData();
        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
        }
    };

    function Close() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function OnSave(evt) {

    }

</script>

<div class="row" style="margin-left:15px;">

    <form asp-controller="Document" asp-action="ManageDMSTag" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row" style="padding:10px;">

            <div class="col-4 pad-10">
                <label for="TagName">Tag Name <span class="required"></span></label><br />
                <input asp-for="TagName" type="text" class="form-control" placeholder="Enter Tag Name" style="width:80%" />
            </div>

            <div class="col-4 pad-10">
                <label for="TagBackgroundColor">Background Color<span class="required"></span></label><br />
                <input asp-for="TagBackgroundColor" class="form-control" style="width:80%" />
            </div>

            <div class="col-4 pad-10">
                <label for="TagForegroundColor">Foreground Color<span class="required"></span></label><br />
                <input asp-for="TagForegroundColor" class="form-control" style="width:80%" />
            </div>

            <div class="col-12 pad-10">
                <label for="TagPinned" style="color:black;">Pinned <span class="required"></span></label>
                <input asp-for="TagPinned" type="checkbox" />
                <div class="form-label-group">
                </div>
                <span>Pinned Tag will be displayed under Document menu. It serves as shortcut to quickly filter folders/documents associated with this tag. </span>
            </div>

            <div class="col-12 pad-15">
                <label for="TagDescription">Description<span class="required"></span></label><br />
                <textarea asp-for="TagDescription" class="form-control" style="width: 80%"></textarea>
            </div>

            <div class="col-12 pad-15">
                <label for="TagParentId">Parent Tag<span class="required"></span></label><br />
                <input asp-for="TagParentId" style="width: 80%" />
            </div>

            <div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
                <button type="button" class="btn btn-light" onclick="Close();">Close</button>
                <input type="submit" class="btn btn-primary" value="Save" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.NoteId)
    </form>
</div>