@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Portal";
    //Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@inject Synergy.App.Common.IUserContext _userContext
@model ServiceTemplateViewModel

<style>

    .style-myiconimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybgimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .jdp-input {
        width: 100% !important;
    }

    .k-textbox {
        border: none !important;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 0px;
    }

    .cms-manageportal-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 75%;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-pickerleft {
        width: 50%;
        float: left;
        padding-bottom: 15px;
    }
    /*    k-colorpicker {
        width: 100px;
    }

    .k-colorpicker .k-selected-color {
            width: 100px;
    }*/
    .richText .richText-editor {
        height: 150px;
    }
</style>

<script>

    function formTypeChange() {
        var data = $("#FormType").data("kendoDropDownList").value();
        
        jsonObj = JSON.parse(JSON.stringify(builder.instance.schema, null, 4));
        console.log(data);
        if (data == "Form") {
            //form
            jsonObj.display = "form";
        } else if (data == "Wizard") {
            //Wizard
            jsonObj.display = "wizard";
        }

        builder = new Formio.FormBuilder(document.getElementById("builder"), jsonObj, {
            builder: {
                custom: {
                    title: 'Chart',
                    weight: 10,
                    components: {
                        chartjs: {
                            title: 'Chart',
                            key: 'chartJS',
                            icon: 'terminal',
                            schema: {
                                label: 'Chart JS',
                                type: 'htmlelement',
                                key: 'chartJs',
                                input: true
                            }
                        },
                    }
                },

            }
        });
    }

</script>


<script>
    function onFileUploadSuccessBanner(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-mybannerimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#BannerFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onFileUploadSuccessIcon(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-myiconimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#IconFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onFileUploadSuccessBackground(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-mybgimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#BackgroundFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onBackgroundDel() {
        //
        //        alert("Banner Delete");
        $(".style-mybgimage").attr("src", "/images/200.png");
        $("#BackgroundFileId").val('');
        //var bgupload = $("#files3").data("kendoUpload");
        ////console.log(logoupload);
        //bgupload.clearFile(function (file) { return true; });
        $("#bgiconFile").dmUploader("reset");

    }
    function onBannerDel() {
        //
        //        alert("Banner Delete");
        $(".style-mybannerimage").attr("src", "/images/200.png");
        $("#BannerFileId").val('');
        //var bannerupload = $("#files2").data("kendoUpload");
        ////console.log(bannerupload);
        //bannerupload.clearFile(function (file) { return true; });
        $("#bannericonFile").dmUploader("reset");

    }

    function onIconDel() {
        //
        //        alert("Banner Delete");
        $(".style-myiconimage").attr("src", "/images/200.png");
        $("#IconFileId").val('');
        //var iconupload = $("#files1").data("kendoUpload");
        ////console.log(bannerupload);
        //iconupload.clearFile(function (file) { return true; });
        $("#iconFile1").dmUploader("reset");

    }

    function onchangetype() {
        //
        var ownerType = $("#DefaultServiceOwnerTypeId").data("kendoDropDownList").text();
        SetOwner(ownerType);

    }

    function dataBound() {
        var ownerType = $("#DefaultServiceOwnerTypeId").data("kendoDropDownList").text();
        SetOwner(ownerType);

    }
    function SetOwner(ownerType) {
        if (ownerType == "User") {
            $("#users").show();
            $("#teams").hide();
        }
        else if (ownerType == "Team") {
            $("#users").hide();
            $("#teams").show();

        }

        else {
            $("#users").hide();
            $("#teams").hide();
        }
    }

    function onchangeReqtype() {
        //
        var reqType = $("#DefaultServiceRequesterTypeId").data("kendoDropDownList").text();
        SetReq(reqType);

    }

    function dataBoundReq() {
        var reqType = $("#DefaultServiceRequesterTypeId").data("kendoDropDownList").text();
        SetReq(reqType);

    }
    function SetReq(reqType) {
        if (reqType == "User") {
            $("#usersR").show();
            $("#teamsR").hide();
        }
        else if (reqType == "Team") {
            $("#usersR").hide();
            $("#teamsR").show();

        }

        else {
            $("#usersR").hide();
            $("#teamsR").hide();
        }
    }

    function OnClickRunTimeWorkflow() {

        var checked = $('#EnableRuntimeWorkflow').is(":checked");
        if (checked) {
            $("#runtimeAssigneeUserList").show();
            $("#runtimeAssigneeTeamList").show();
        } else {
            $('#RuntimeAssigneeUserListUrl').val('');
            $('#RuntimeAssigneeTeamListUrl').val('');
            $("#runtimeAssigneeUserList").hide();
            $("#runtimeAssigneeTeamList").hide();
        }
    }

    
</script>
<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <form asp-controller="Template" asp-action="ManageService" method="post" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div id="validation-summary-managepageservice" class="text-danger" asp-validation-summary="All"></div>
        <div class="row pad-10">
            <div class="col-4">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableIndexPage).Label("Enable Index Page"))*@
                <input type="checkbox" asp-for="EnableIndexPage" id="EnableIndexPage" />
                <label>Enable Index Page</label>
            </div>
            <div class="col-4">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableServiceNumberManual).Label("Enable Service Number Manual"))*@
                <input type="checkbox" asp-for="EnableServiceNumberManual" id="EnableServiceNumberManual" />
                <label>Enable Service Number Manual</label>
            </div>
            <div class="col-4">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableAttachment).Label("Enable Attachment"))*@
                <input type="checkbox" asp-for="EnableAttachment" id="EnableAttachment" />
                <label>Enable Attachment</label>
            </div>
        </div>
        <div class="row pad-10">

            <div class="col-4">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableComment).Label("Enable Comment"))*@
                <input type="checkbox" asp-for="EnableComment" id="EnableComment" />
                <label>Enable Comment</label>
            </div>
            <div class="col-4">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableDynamicStepTaskSelection).Label("Enable Dynamic Step Task Selection"))*@
                <input type="checkbox" asp-for="EnableDynamicStepTaskSelection" id="EnableDynamicStepTaskSelection" />
                <label>Enable Dynamic StepTask Selection</label>
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="EnableSaveAsDraft" type="checkbox" style="margin-right:5px;" />
                <label>Enable Save As Draft</label>
            </div>
            <div class="col-3" style="margin-right:5px;">
                <div class="form-label-group">
                    <input asp-for="SaveAsDraftText" type="text" placeholder="Save As Draft Label" class="form-control" />
                    <label for="SaveAsDraftText">Save As Draft Label</label>
                </div>

            </div>
            @*<div class="col-3">
                <div class="form-label-group">
                    <input asp-for="SaveAsDraftCss" type="text" placeholder="Save As Draft Css" class="form-control" />
                    <label for="SaveAsDraftCss">Save As Draft Css</label>
                </div>

            </div>*@
            @*<span id="target"><i class="far fa-info-circle"></i></span>*@
            @*<div class="col-3" style="margin-right:5px;">
                <input asp-for="SaveAsDraftText" type="text" placeholder="Save As Draft Text" class="form-control" />
            </div>*@
            @*<div class="col-3">
                <input asp-for="SaveAsDraftCss" type="text" placeholder="Save As Draft Css" class="form-control" />
            </div>*@
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="EnableBackButton" type="checkbox" style="margin-right:5px;" />
                <label>Enable Back Button</label>
            </div>
            <div class="col-3" style="margin-right:5px;">
                <div class="form-label-group">
                    <input asp-for="BackButtonText" type="text" placeholder="Back Button Label" class="form-control" />
                    <label for="BackButtonText">Back Button Label</label>
                </div>

            </div>
            @*<div class="col-3">
                <div class="form-label-group">
                    <input asp-for="BackButtonCss" type="text" placeholder="Back Button Css" class="form-control" />
                    <label for="BackButtonCss">Back Button Css</label>
                </div>

            </div>*@
            @*<div class="col-3" style="margin-right:5px;">
                <input asp-for="BackButtonText" type="text" placeholder="Back Button Text" class="form-control" />
            </div>
            <div class="col-3">

                <input asp-for="BackButtonCss" type="text" placeholder="Back Button Css" class="form-control" />
            </div>*@

        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="EnableCancelButton" type="checkbox" style="margin-right:5px;" />
                <label>Enable Cancel Button</label>
            </div>
            <div class="col-3" style="margin-right:5px;">
                <div class="form-label-group">
                    <input asp-for="CancelButtonText" type="text" placeholder="Cancel Button Label" class="form-control" />
                    <label for="CancelButtonText">Cancel Button Label</label>
                </div>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsCancelReasonRequired).Label("Is Cancel Reason Required"))*@
                <input type="checkbox" asp-for="IsCancelReasonRequired" id="IsCancelReasonRequired" />
                <label>Is Cancel Reason Required</label>
            </div>
            @*<div class="col-3">
            <div class="form-label-group">
                <input asp-for="CancelButtonCss" type="text" placeholder="Cancel Button Css" class="form-control" />
                <label for="CancelButtonCss">Cancel Button Css</label>
            </div>

        </div>*@

        </div>

        @*<div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="EnableIndexPage" type="checkbox"  style="margin-right:5px;" />
                <label>Enable Index Page</label>
            </div>

            <div class="col-4">
                <input asp-for="EnableServiceNumberManual" type="checkbox"  style="margin-right:5px;" />
                <label>Enable Service Number Manual</label>
            </div>



        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="EnableAttachment" type="checkbox"  style="margin-right:5px;" />
                <label>Enable Attachment</label>
            </div>

            <div class="col-3">
                <input asp-for="EnableComment" type="checkbox"  style="margin-right:5px;" />
                <label>Enable Comment</label>
            </div>

        </div>*@

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="DisableSubmitButton" type="checkbox" style="margin-right:5px;" />
                <label>Disable Submit Button</label>
            </div>
            <div class="col-3" style="margin-right:5px;">
                <div class="form-label-group">
                    <input asp-for="SubmitButtonText" type="text" placeholder="Submit Button Label" class="form-control" />
                    <label for="SubmitButtonText">Submit Button Label</label>
                </div>

            </div>
            @*<div class="col-3">
                <div class="form-label-group">
                    <input asp-for="SubmitButtonCss" type="text" placeholder="Submit Button Css" class="form-control" />
                    <label for="SubmitButtonCss">Submit Button Css</label>
                </div>

            </div>*@
            @*<div class="col-3" style="margin-right:20px;">
                <input asp-for="SubmitButtonText" type="text" placeholder="Submit Button Text" class="form-control" />
            </div>
            <div class="col-3">
                <input asp-for="SubmitButtonCss" type="text" placeholder="Submit Button Css" class="form-control" />
            </div>*@
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3"></div>
            <div class="col-3" style="margin-right:5px;">
                <div class="form-label-group">
                    <input asp-for="CompleteButtonText" type="text" placeholder="Complete Button Label" class="form-control" />
                    <label for="CompleteButtonText">Complete Button Label</label>
                </div>

            </div>
            @*<div class="col-3">
                <div class="form-label-group">
                    <input asp-for="CompleteButtonCss" type="text" placeholder="Complete Button Css" class="form-control" />
                    <label for="CompleteButtonCss">Complete Button Css</label>
                </div>

            </div>*@
            @*<div class="col-3" style="margin-right:20px;">
                <input asp-for="CompleteButtonText" type="text" placeholder="Complete Button Text" class="form-control" />
            </div>
            <div class="col-3">
                <input asp-for="CompleteButtonCss" type="text" placeholder="Complete Button Css" class="form-control" />
            </div>*@
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="IsSubjectMandatory" type="checkbox" style="margin-right:5px;" />
                <label>Is Subject Mandatory</label>
            </div>
            <div class="col-3" style="margin-right:5px;">
                <div class="form-label-group">
                    <input asp-for="SubjectText" type="text" placeholder="Subject Label" class="form-control" />
                    <label for="SubjectText">Subject Label</label>
                </div>
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="IsSubjectUnique" type="checkbox" style="margin-right:5px;" />
                <label>Is Subject Unique</label>
            </div>
            <div class="col-3">
                @*<div class="form-label-group">
                    <input asp-for="DescriptionText" type="text" placeholder="Description Label" class="form-control" />
                    <label for="DescriptionText">Description Label</label>
                </div>*@
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="IsDescriptionMandatory" type="checkbox" style="margin-right:5px;" />
                <label>Is Description Mandatory</label>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="DescriptionText" type="text" placeholder="Description Label" class="form-control" />
                    <label for="DescriptionText">Description Label</label>
                </div>
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
            </div>
            <div class="col-3" style="margin-right:5px;">
                <div class="form-label-group">
                    <input asp-for="OwnerUserText" type="text" placeholder="Owner User Label" class="form-control" />
                    <label for="OwnerUserText">Owner User Label</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="RequestedByUserText" type="text" placeholder="Requested By User Label" class="form-control" />
                    <label for="RequestedByUserText">Requested By User Label</label>
                </div>
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
            </div>
            <div class="col-3" style="margin-right:5px;">
                <div class="form-label-group">
                    <input asp-for="ServiceNoText" type="text" placeholder="Service No Label" class="form-control" />
                    <label for="ServiceNoText">Service No Label</label>
                </div>
            </div>
        </div>

        <div class="row pad-5">
            <div class="col-3">
                <input asp-for="EnablePrintButton" type="checkbox" style="margin-right:5px;" />
                <label>Enable Print Button</label>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="PrintButtonText" type="text" placeholder="Print Button Label" class="form-control" />
                    <label for="PrintButtonText">Print Button Label</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="FormClientScript" type="text" placeholder="Form Client Script" class="form-control" />
                    <label for="FormClientScript">Form Client Script</label>
                </div>
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideHeader).Label("Hide Header").HtmlAttributes(new { onchange= "hideServiceHeader();" }))*@
                <input type="checkbox" asp-for="HideHeader" id="HideHeader" onchange="hideServiceHeader();" />
                <label>Hide Header</label>
            </div>
            <div class="col-3" id="hideSubject">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideSubject).Label("Hide Subject"))*@
                <input type="checkbox" asp-for="HideSubject" id="HideSubject" />
                <label>Hide Subject</label>
            </div>
            <div class="col-3" id="hideDescription">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideDescription).Label("Hide Description"))*@
                <input type="checkbox" asp-for="HideDescription" id="HideDescription" />
                <label>HideDescription</label>
            </div>
            <div class="col-3" id="hideStartDate">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideStartDate).Label("Hide Start Date"))*@
                <input type="checkbox" asp-for="HideStartDate" id="HideStartDate" />
                <label>Hide StartDate</label>
            </div>

        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3" id="hideExpiryDate">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideExpiryDate).Label("Hide Expiry Date"))*@
                <input type="checkbox" asp-for="HideExpiryDate" id="HideExpiryDate" />
                <label>Hide ExpiryDate</label>
            </div>
            <div class="col-3" id="hidePriority">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HidePriority).Label("Hide Priority"))*@
                <input type="checkbox" asp-for="HidePriority" id="HidePriority" />
                <label>Hide Priority</label>
            </div>
            <div class="col-3" id="hideToolbar">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideToolbar).Label("Hide Toolbar"))*@
                <input type="checkbox" asp-for="HideToolbar" id="HideToolbar" />
                <label>Hide Toolbar</label>
            </div>
            <div class="col-3" id="hideBanner">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideBanner).Label("Hide Banner"))*@
                <input type="checkbox" asp-for="HideBanner" id="HideBanner" />
                <label>Hide Banner</label>
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowPastStartDate).Label("Allow Past StartDate"))*@
                <input type="checkbox" asp-for="AllowPastStartDate" id="AllowPastStartDate" />
                <label>Allow Past StartDate</label>
            </div>

            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowSLAChange).Label("Enable SLA"))*@
                <input type="checkbox" asp-for="AllowSLAChange" id="AllowSLAChange" />
                <label>Enable SLA</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsNumberNotMandatory).Label("Is Number Not Mandatory "))*@
                <input type="checkbox" asp-for="IsNumberNotMandatory" id="IsNumberNotMandatory" />
                <label>Is Number Not Mandatory</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="EnableLegalEntityFilter" id="EnableLegalEntityFilter" />
                <label>Enable LegalEntity Filter</label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @*@Html.Kendo().TextBoxFor(x => x.SLA).Placeholder("SLA")*@
                <input type="text" asp-for="SLA" class="form-control" placeholder="SLA" />
            </div>
            <div class="col-6">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowPastStartDate).Label("Allow Past StartDate"))*@
                <input type="checkbox" asp-for="DisableAutoCompleteIfNoStepTask" id="DisableAutoCompleteIfNoStepTask" />
                <label>Disable Auto Complete If No StepTask</label>
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowSLAChange).Label("Enable SLA"))*@
                <input type="checkbox" asp-for="HideServiceNumberInHeader" id="HideServiceNumberInHeader" />
                <label>Hide Service Number In Header</label>
            </div>

            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsNumberNotMandatory).Label("Is Number Not Mandatory "))*@
                <input type="checkbox" asp-for="HideStatusInHeader" id="HideStatusInHeader" />
                <label>Hide Status In Header</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="HideVersionInHeader" id="HideVersionInHeader" />
                <label>Hide Version In Header</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="HidePriorityInHeader" id="HidePriorityInHeader" />
                <label>Hide Priority In Header</label>
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowSLAChange).Label("Enable SLA"))*@
                <input type="checkbox" asp-for="HideDueDateInHeader" id="HideDueDateInHeader" />
                <label>Hide DueDate In Header</label>
            </div>

            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsNumberNotMandatory).Label("Is Number Not Mandatory "))*@
                <input type="checkbox" asp-for="HideNotificationInHeader" id="HideNotificationInHeader" />
                <label>Hide Notification In Header</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="HideProcessDiagramInHeader" id="HideProcessDiagramInHeader" />
                <label>Hide ProcessDiagram In Header</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="HideCommentInHeader" id="HideCommentInHeader" />
                <label>Hide Comment In Header</label>
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowSLAChange).Label("Enable SLA"))*@
                <input type="checkbox" asp-for="HideShareInHeader" id="HideShareInHeader" />
                <label>Hide Share In Header</label>
            </div>

            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsNumberNotMandatory).Label("Is Number Not Mandatory "))*@
                <input type="checkbox" asp-for="HideAdhocTaskInHeader" id="HideAdhocTaskInHeader" />
                <label>Hide Adhoc Task In Header</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="HideAttachmentInHeader" id="HideAttachmentInHeader" />
                <label>Hide Attachment In Header</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="HideTahsInHeader" id="HideTahsInHeader" />
                <label>Hide Tahs In Header</label>
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowSLAChange).Label("Enable SLA"))*@
                <input type="checkbox" asp-for="HideEmailInHeader" id="HideEmailInHeader" />
                <label>Hide Email In Header</label>
            </div>

            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsNumberNotMandatory).Label("Is Number Not Mandatory "))*@
                <input type="checkbox" asp-for="HideWorkflowInHeader" id="HideWorkflowInHeader" />
                <label>Hide Work flow In Header</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="HideLogInHeader" id="HideLogInHeader" />
                <label>Hide Log In Header</label>
            </div>
            <div class="col-3" id="HideOwner">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideOwner).Label("Hide Owner"))*@
                <input type="checkbox" asp-for="HideOwner" />
                <label>Hide Owner</label>
            </div>
        </div>
        <div class="row no-gutters pad-10">


            <div class="col-4">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowSLAChange).Label("Enable SLA"))*@
                <input type="checkbox" asp-for="EnableCustomMessageOnCreation" id="EnableCustomMessageOnCreation" />
                <label>Enable Custom Message On Creation</label>
            </div>

            <div class="col-8">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsNumberNotMandatory).Label("Is Number Not Mandatory "))*@
                @*<textarea asp-for="CustomMessageOnEdit" type="text" rows="2" class="form-control" placeholder="Custom Message On Edit"></textarea>*@

                <div class="page-wrapper box-content">
                    <textarea class="content" asp-for="CustomMessageOnCreation" id="CustomMessageOnCreation"></textarea>
                </div>
            </div>

        </div>
        <div class="row no-gutters pad-10">


            <div class="col-4">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowSLAChange).Label("Enable SLA"))*@
                <input type="checkbox" asp-for="EnableCustomMessageOnEdit" id="EnableCustomMessageOnEdit" />
                <label>Enable Custom Message On Edit</label>
            </div>
            <div class="col-8">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsNumberNotMandatory).Label("Is Number Not Mandatory "))*@
                @*<textarea asp-for="CustomMessageOnEdit" type="text" rows="2" class="form-control" placeholder="Custom Message On Edit"></textarea>*@

                <div class="page-wrapper box-content">
                    <textarea class="content1" asp-for="CustomMessageOnEdit" id="CustomMessageOnEdit"></textarea>
                </div>
            </div>

        </div>


        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="ServiceTemplateType ">Service Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.ServiceTemplateType)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "ServiceTypeEnum" });
                                        });
                                    })
                                     .DataTextField("Name")
                                     .DataValueField("Id")
                                     .Value(Model.ServiceTemplateType.ToString())
                                     .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="ServiceTemplateType" id="ServiceTemplateType" class="hr-x-large" />
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="Priority">Priority</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.PriorityId)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetLOVIdNameList", "LOV", new { @area = "Cms", LOVType = "SERVICE_PRIORITY" });
                                        });
                                    })
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Value(Model.EditReturnType.ToString())
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="PriorityId" id="PriorityId" class="hr-x-large" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="EditReturnType">Edit Return Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.EditReturnType)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "EditReturnTypeEnum" });
                                        });
                                    })
                                   .DataTextField("Name")
                                   .DataValueField("Id")
                                   .Value(Model.EditReturnType.ToString())
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="EditReturnType" id="EditReturnType" class="hr-x-large" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CreateReturnType">Create Return Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.CreateReturnType)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "CreateReturnTypeEnum" });
                                        });
                                    })
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Value(Model.CreateReturnType.ToString())
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="CreateReturnType" id="CreateReturnType" class="hr-x-large" />
            </div>
        </div>

        <div class="row no-gutters pad-10">

            <div class="col-3">
                <label for="NumberGenerationType">Number Generation Type</label>
            </div>

            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.NumberGenerationType)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "NumberGenerationTypeEnum" });
                                        });
                                    })
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Value(Model.NumberGenerationType.ToString())
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="NumberGenerationType" id="NumberGenerationType" class="hr-x-large" />

            </div>
        </div>
        <div class="row no-gutters pad-10">

            <div class="col-3">
                <label for="ActionButtonPosition">Action Button Position</label>
            </div>

            <div class="col-9">


                <input asp-for="ActionButtonPosition" id="ActionButtonPosition" class="hr-x-large" />
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="Priority">Default Service Owner Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.DefaultServiceOwnerTypeId)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetLOVIdNameList", "LOV", new { @area = "Cms", LOVType = "SERVICE_OWNER_TYPE" });
                                        });
                                    }).Events(e => e.Change("onchangetype").DataBound("dataBound"))
                         .DataTextField("Name")
                         .DataValueField("Id")
                        .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="DefaultServiceOwnerTypeId" id="DefaultServiceOwnerTypeId" class="hr-x-large" />
            </div>
        </div>



        <div class="row no-gutters pad-10" id="users" style="display:none">
            <div class="col-3">
                <label for="Priority">Default Service Owner User</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.DefaultOwnerUserId)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("ReadUserData", "User", new { @area = "Cms" });
                                        });
                                    })
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Filter(FilterType.Contains)
                         .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="DefaultOwnerUserId" id="DefaultOwnerUserId" class="hr-x-large" />
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="Priority">Default Service Requester Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.DefaultServiceRequesterTypeId)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetLOVIdNameList", "LOV", new { @area = "Cms", LOVType = "SERVICE_REQUESTER_TYPE" });
                                        });
                                    }).Events(e => e.Change("onchangeReqtype").DataBound("dataBoundReq"))
                         .DataTextField("Name")
                         .DataValueField("Id")
                        .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="DefaultServiceRequesterTypeId" id="DefaultServiceRequesterTypeId" class="hr-x-large" />
            </div>
        </div>


        <div class="row no-gutters pad-10" id="teamsR" style="display:none">
            <div class="col-3">
                <label for="Priority">Default Service Requester Team</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.DefaultRequesterTeamId)
                                                   .DataSource(source =>
                                                   {
                                                       source.Read(read =>
                                                       {
                                                           read.Action("ReadTeamData", "ProcessDesign", new { @area = "Cms" });
                                                       });
                                                   })
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Filter(FilterType.Contains)
                .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                                                  .HtmlAttributes(new { @class = "hr-x-large" })
                               )*@

                <input asp-for="DefaultRequesterTeamId" id="DefaultRequesterTeamId" class="hr-x-large" />
            </div>
        </div>

        <div class="row no-gutters pad-10" id="usersR" style="display:none">
            <div class="col-3">
                <label for="Priority">Default Service Requester User</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.DefaultRequesterUserId)
                                                   .DataSource(source =>
                                                   {
                                                       source.Read(read =>
                                                       {
                                                           read.Action("ReadUserData", "User", new { @area = "Cms" });
                                                       });
                                                   })
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                     .Filter(FilterType.Contains)
                .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                                                  .HtmlAttributes(new { @class = "hr-x-large" })
                               )*@

                <input asp-for="DefaultRequesterUserId" id="DefaultRequesterUserId" class="hr-x-large" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="Priority">Work flow Visibility</label>
            </div>
            <div class="col-9">


                <input asp-for="WorkflowVisibility" id="WorkflowVisibility" class="hr-x-large" />
            </div>
        </div>


        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CreateReturnType">Adhoc Task Template</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().MultiSelectFor(model=>model.AdhocTaskTemplateIds)
                .DataTextField("Name")
                .DataValueField("Id")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadAdhocTaskList", "Template", new { @area = "Cms" });
                    });
                })
                //.OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                .HtmlAttributes(new {  @class = "hr-x-large" })
                )*@
                <select asp-for="AdhocTaskTemplateIds" id="AdhocTaskTemplateIds" data-placeholder="Select" style="width:80%"></select>


            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CreateReturnType">Adhoc Service Template</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().MultiSelectFor(model=>model.AdhocServiceTemplateIds)
                .DataTextField("Name")
                .DataValueField("Id")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadAdhocServiceList", "ServiceTemplate", new { @area = "Cms" });
                    });
                })
                //.OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                .HtmlAttributes(new {  @class = "hr-x-large" })
                )*@
                <select asp-for="AdhocServiceTemplateIds" id="AdhocServiceTemplateIds" data-placeholder="Select" style="width:80%"></select>

            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CreateReturnType">Adhoc Note Template</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().MultiSelectFor(model=>model.AdhocNoteTemplateIds)
                .DataTextField("Name")
                .DataValueField("Id")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadAdhocNoteList", "NoteTemplate", new { @area = "Cms" });
                    });
                })
                //.OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                .HtmlAttributes(new {  @class = "hr-x-large" })
                )*@
                <select asp-for="AdhocNoteTemplateIds" id="AdhocNoteTemplateIds" data-placeholder="Select" style="width:80%"></select>

            </div>
        </div>



        <div class="row no-gutters pad-10">

            <div class="col-3">
                <label for="EmailCopyTemplateCode">Email Copy Template Code</label>
            </div>

            <div class="col-9">
                @*@(Html.Kendo().TextBoxFor(x=>x.EmailCopyTemplateCode).HtmlAttributes(new { @class = "", @style= "width:37%;border-color:#ced4da !important;border: solid 1px;" }))*@
                <input asp-for="EmailCopyTemplateCode" class="form-control" type="text" placeholder="Email Copy Template Code" style="width:80%;border-color:#ced4da !important;border: solid 1px;" />
                @*<div class="form-label-group">
                    <input asp-for="EmailCopyTemplateCode" type="text" placeholder="Email Copy Template Code" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="EmailCopyTemplateCode">Email Copy Template Code</label>
                </div>*@

            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="SubjectMappingUdfId">Subject Mapping Udf</label>
            </div>
            <div class="col-9">
                <input asp-for="SubjectUdfMappingColumn" class="form-control" type="text" placeholder="Subject Mapping Udf" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="DescriptionMappingUdfId">Description Mapping Udf</label>
            </div>
            <div class="col-9">
                <input asp-for="DescriptionUdfMappingColumn" class="form-control" type="text" placeholder="Description Mapping Udf" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-6">

                <input type="checkbox" asp-for="EnableIntroPage" />
                <label>Enable Intro Page</label>
            </div>

            <div class="col-6">

                <input type="checkbox" asp-for="EnablePreviewPage" />
                <label>Enable Preview Page</label>
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="IntroPageArea">Intro Page Area</label>
            </div>
            <div class="col-9">
                <input asp-for="IntroPageArea" class="form-control" type="text" placeholder="Intro Page Area" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="IntroPageController">Intro Page Controller</label>
            </div>
            <div class="col-9">
                <input asp-for="IntroPageController" class="form-control" type="text" placeholder="Intro Page Controller" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="IntroPageAction">Intro Page Action</label>
            </div>
            <div class="col-9">
                <input asp-for="IntroPageAction" class="form-control" type="text" placeholder="Intro Page Action" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="IntroPageParams">Intro Page Params</label>
            </div>
            <div class="col-9">
                <input asp-for="IntroPageParams" class="form-control" type="text" placeholder="Intro Page Params" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-6">
                <input type="checkbox" asp-for="EnablePostSubmitPage" />
                <label>Enable Post Submit Page</label>
            </div>
            <div class="col-6">
                &nbsp;
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="PostSubmitPageArea">Post Submit Page Area</label>
            </div>
            <div class="col-9">
                <input asp-for="PostSubmitPageArea" class="form-control" type="text" placeholder="Post Submit Page Area" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="PostSubmitPageController">Post Submit Page Controller</label>
            </div>
            <div class="col-9">
                <input asp-for="PostSubmitPageController" class="form-control" type="text" placeholder="Post Submit Page Controller" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="PostSubmitPageAction">Post Submit Page Action</label>
            </div>
            <div class="col-9">
                <input asp-for="PostSubmitPageAction" class="form-control" type="text" placeholder="Post Submit Page Action" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="PostSubmitPageParams">Post Submit Page Params</label>
            </div>
            <div class="col-9">
                <input asp-for="PostSubmitPageParams" class="form-control" type="text" placeholder="Post Submit Page Params" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-6">
                <input type="checkbox" asp-for="EnablePreviewAcknowledgement" />
                <label>Enable Preview Acknowledgement</label>
            </div>
            <div class="col-6">
                &nbsp;
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="PreviewAcknowledgementText">Preview Acknowledgement Text</label>
            </div>
            <div class="col-9">
                <input asp-for="PreviewAcknowledgementText" class="form-control" type="text" placeholder="Preview Acknowledgement Text" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="DisplayColumnId">Display Column</label>
            </div>
            <div class="col-9">
                <input asp-for="DisplayColumnId" id="DisplayColumnId" class="hr-x-large" />
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="DraftWorkflowStatus">Draft Workflow Status</label>
            </div>
            <div class="col-9">
                <input asp-for="DraftWorkflowStatus" class="form-control" type="text" placeholder="Draft Workflow Status" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="InprogressWorkflowStatus">Inprogress Workflow Status</label>
            </div>
            <div class="col-9">
                <input asp-for="InprogressWorkflowStatus" class="form-control" type="text" placeholder="Inprogress Workflow Status" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="OverdueWorkflowStatus">Overdue Workflow Status</label>
            </div>
            <div class="col-9">
                <input asp-for="OverdueWorkflowStatus" class="form-control" type="text" placeholder="Overdue Workflow Status" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CanceledWorkflowStatus">Canceled Workflow Status</label>
            </div>
            <div class="col-9">
                <input asp-for="CanceledWorkflowStatus" class="form-control" type="text" placeholder="Canceled Workflow Status" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="RejectedWorkflowStatus">Rejected Workflow Status</label>
            </div>
            <div class="col-9">
                <input asp-for="RejectedWorkflowStatus" class="form-control" type="text" placeholder="Rejected Workflow Status" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="ClosedWorkflowStatus">Closed Workflow Status</label>
            </div>
            <div class="col-9">
                <input asp-for="ClosedWorkflowStatus" class="form-control" type="text" placeholder="Closed Workflow Status" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CompletedWorkflowStatus">Completed Workflow Status</label>
            </div>
            <div class="col-9">
                <input asp-for="CompletedWorkflowStatus" class="form-control" type="text" placeholder="Completed Workflow Status" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-6">
                <input type="checkbox" asp-for="EnableRuntimeWorkflow" onclick="OnClickRunTimeWorkflow();" />
                <label>Enable Runtime Workflow</label>
            </div>
            <div class="col-6">
                &nbsp;
            </div>
        </div>
        <div class="row no-gutters pad-10" id="runtimeAssigneeUserList" style="display:none;">
            <div class="col-3">
                <label for="RuntimeAssigneeUserListUrl">Runtime Assignee User List Url</label>
            </div>
            <div class="col-9">
                <input asp-for="RuntimeAssigneeUserListUrl" class="form-control" type="text" placeholder="Runtime Assignee User List Url" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10" id="runtimeAssigneeTeamList" style="display:none;">
            <div class="col-3">
                <label for="RuntimeAssigneeTeamListUrl">Runtime Assignee Team List Url</label>
            </div>
            <div class="col-9">
                <input asp-for="RuntimeAssigneeTeamListUrl" class="form-control" type="text" placeholder="Runtime Assignee Team List Url" style="width: 80%; border-color: #ced4da !important; border: solid 1px;" />
            </div>
        </div>

        @*<button class="btn btn-primary" onclick="OnRunTime();">Runtime Workflow</button>*@


        <div class="col-12">Icon</div>
        <div class="col-12 pad-15" style="min-height:130px;">
            @*<div class="style-image">
                @if (Model.IconFileId != null)
                {
                    <img class="style-myiconimage" src="/cms/Document/GetImageMongo?id=@Model.IconFileId" onerror='OnPhotoError(this);' />
                }
                else
                {
                    <img class="style-myiconimage" style="background-color:gray;" src="~/images/200.png" />
                }

            </div>*@
            <div @*class="style-upload"*@>
                @*@(Html.Kendo().Upload().Multiple(false)
                    .Name("files")
                    .Async(a => a
                    .Save("SaveFile", "Document", new { @Area="Cms"})
                    .AutoUpload(true)
                    )
                    .Events(e => e.Success("onFileUploadSuccessIcon")
                    )
                        .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                        //.MaxFileSize(2097152)
                        )
                        .HtmlAttributes(new { @class = "hr-large", @id = "files1" })
                )*@
                @*<div class="row">
                <div class="col">
                    <div id="iconFile" class="dm-uploader">
                        <h6 class=" text-muted">Drag &amp; drop files here</h6>

                        <div class="btn btn-primary btn-block ">
                            <span>Open the file Browser</span>
                            <input type="file" title='Click to add Files' />
                        </div>
                    </div>

                </div>*@
                @*if multiple use this*@

                @*<div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            File List
                        </div>
                        <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                            <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                        </ul>
                    </div>
                </div>*@
                @*if multiple use this*@
                @*</div>
                <button type="button" class="btn btn-light" title="Delete" onclick="onIconDel();"><i class='fa fas fa-trash'></i></button>*@

                @{
                    await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.IconFileId), Value = Model.IconFileId });
                }
            </div>

        </div>
        <div class="col-12">Banner</div>
        <div class="col-12 pad-15" style="min-height:130px;">
            @*<div class="style-image">
                @if (Model.BannerFileId != null)
                {
                    <img class="style-mybannerimage" src="/cms/Document/GetImageMongo?id=@Model.BannerFileId" onerror='OnPhotoError(this);' />
                }
                else
                {
                    <img class="style-mybannerimage" style="background-color:gray;" src="~/images/200.png" />
                }

            </div>*@
            <div @*class="style-upload"*@>
                @*@(Html.Kendo().Upload().Multiple(false)
                    .Name("files")
                    .Async(a => a
                    .Save("SaveFile", "Document", new { @Area="Cms"})
                    .AutoUpload(true)
                    )
                    .Events(e => e.Success("onFileUploadSuccessBanner")
                    )
                        .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                        //.MaxFileSize(2097152)
                        )
                        .HtmlAttributes(new { @class = "hr-large", @id = "files2" })
                )*@


                @*<div class="row">
                <div class="col">
                    <div id="bannericonFile" class="dm-uploader">
                        <h6 class=" text-muted">Drag &amp; drop files here</h6>

                        <div class="btn btn-primary btn-block ">
                            <span>Open the file Browser</span>
                            <input type="file" title='Click to add Files' />
                        </div>
                    </div>

                </div>*@
                @*if multiple use this*@

                @*<div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            File List
                        </div>
                        <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                            <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                        </ul>
                    </div>
                </div>*@
                @*if multiple use this*@
                @*</div>
                <button type="button" class="btn btn-light" title="Delete" onclick="onBannerDel();"><i class='fa fas fa-trash'></i></button>*@

                @{
                    await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.BannerFileId), Value = Model.BannerFileId });
                }
            </div>

        </div>
        <div class="col-12">Background</div>
        <div class="col-12 pad-15" style="min-height:130px;">
            @*<div class="style-image">
                @if (Model.BackgroundFileId != null)
                {
                    <img class="style-mybgimage" src="/cms/Document/GetImageMongo?id=@Model.BackgroundFileId" onerror='OnPhotoError(this);' />
                }
                else
                {
                    <img class="style-mybgimage" style="background-color:gray;" src="~/images/200.png" />
                }

            </div>*@
            <div @*class="style-upload"*@>
                @*@(Html.Kendo().Upload().Multiple(false)
                    .Name("files")
                    .Async(a => a
                    .Save("SaveFile", "Document", new { @Area="Cms"})
                    .AutoUpload(true)
                    )
                    .Events(e => e.Success("onFileUploadSuccessBackground")
                    )
                        .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                        //.MaxFileSize(2097152)
                        )
                        .HtmlAttributes(new { @class = "hr-large", @id = "files3" })
                )*@

                @*<div class="row">
                <div class="col">
                    <div id="bgiconFile" class="dm-uploader">
                        <h6 class=" text-muted">Drag &amp; drop files here</h6>

                        <div class="btn btn-primary btn-block ">
                            <span>Open the file Browser</span>
                            <input type="file" title='Click to add Files' />
                        </div>
                    </div>

                </div>*@
                @*if multiple use this*@

                @*<div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            File List
                        </div>
                        <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                            <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                        </ul>
                    </div>
                </div>*@
                @*if multiple use this*@
                @*</div>
                <button type="button" class="btn btn-light" title="Delete" onclick="onBackgroundDel();"><i class='fa fas fa-trash'></i></button>*@

                @{
                    await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.BackgroundFileId), Value = Model.BackgroundFileId });
                }
            </div>

        </div>

        <div class="row pad-10">
            <div class="pad-15 no-gutters" style="width: 100%;">
                <div class="pad-b-15 card col-12 page" data-mode="@Model.DataAction" id="@Model.Id" data-page-content-type="Page"
                     data-sequence="@Model.SequenceOrder">
                    <div class="card-header page-header bg-info">

                        <span class="cms-settings-box" onclick="OpenPageSettings(this)">
                            <i class="cursor-p fa fa-cog" title="Settings"></i>
                        </span>

                    </div>
                    <div class="card-body" id="component-container">
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.DataAction)
                        @Html.HiddenFor(m => m.Json)
                        @Html.HiddenFor(m => m.TemplateId)
                        @Html.HiddenFor(m => m.UdfTemplateId)
                        @Html.HiddenFor(m => m.UdfTableMetadataId)
                        @Html.HiddenFor(m => m.IconFileId)
                        @Html.HiddenFor(m => m.BannerFileId)
                        @Html.HiddenFor(m => m.BackgroundFileId)
                        @Html.HiddenFor(x => x.ServiceIndexPageTemplateId)

                        @*@(Html.Kendo().DropDownListFor(x=>x.FormType)
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Events(e => e.Change("formTypeChange"))
                        .DataSource(source =>
                        {
                        source.Read(read =>
                        {
                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "FormTypeEnum" });
                        });
                        })
                        .Value(Model.FormType.ToString())
                        .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
                        )*@

                        <input asp-for="FormType" id="FormType" class="form-control" style="width:80%" />
                        <br />
                        <br />
                        <div id="builder"></div>
                    </div>
                </div>


            </div>
        </div>
        <div class="cms-footer">
            <div class="col-sm-12" style="text-align:right;">
                <button type="submit" class="btn btn-success" onclick="OnSave()">Save</button>
                @if (ViewBag.LayoutMode == LayoutModeEnum.Popup.ToString())
                {
                    <input type="button" class="btn btn-light" value="Close" onclick="return OnClose('@Model.TemplateId');" />
                }
            </div>
        </div>
    </form>

    @*<input id='SynergyTableMapId' value="cms.Job" type='hidden' />*@

</div>

<script type="text/javascript">

    $(document).ready(function () {

        OnClickRunTimeWorkflow();
        $('.content').richText();
        $('.content1').richText();

        $("#ServiceTemplateType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            value: '@Model.ServiceTemplateType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=ServiceTypeEnum",
                    }
                }
            }
        });

        $("#PriorityId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            value: '@Model.EditReturnType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?LOVType=SERVICE_PRIORITY",
                    }
                }
            }
        });

        $("#EditReturnType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            @*optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",*@
            value: '@Model.EditReturnType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=EditReturnTypeEnum",
                    }
                }
            }
        });

        $("#CreateReturnType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            @*optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",*@
            value: '@Model.CreateReturnType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=CreateReturnTypeEnum",
                    }
                }
            }
        });

        $("#ActionButtonPosition").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.ActionButtonPosition.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=ActionButtonPositionEnum",
                    }
                }
            }
         });
          $("#NumberGenerationType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.NumberGenerationType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=NumberGenerationTypeEnum",
                    }
                }
            }
        });

        $("#DefaultServiceOwnerTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: onchangetype,
            dataBound: dataBound,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?LOVType=SERVICE_OWNER_TYPE",
                    }
                }
            }
        });

        $("#DefaultOwnerTeamId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/ProcessDesign/ReadTeamData",
                    }
                }
            }
        });

        $("#DefaultOwnerUserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/User/ReadUserData",
                    }
                }
            }
        });

        $("#DefaultServiceRequesterTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: onchangeReqtype,
            dataBound: dataBoundReq,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?LOVType=SERVICE_REQUESTER_TYPE",
                    }
                }
            }
        });

        $("#DefaultRequesterTeamId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/ProcessDesign/ReadTeamData",
                    }
                }
            }
        });

        $("#DefaultRequesterUserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/User/ReadUserData",
                    }
                }
            }
        });

        $("#FormType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.FormType.ToString()',
            change: formTypeChange,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=FormTypeEnum",
                    }
                }
            }
        });
        $("#WorkflowVisibility").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.WorkflowVisibility.ToString()',
            change: formTypeChange,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=WorkflowVisibilityEnum",
                    }
                }
            }
        });
        $("#DisplayColumnId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.DisplayColumnId',
             dataSource: {
                 serverFiltering: true,
                transport: {
                    read: {
                        url: "/cms/TableMetadata/ReadColumnMetadata?tableMetadataId=" + '@Model.UdfTableMetadataId',
                    }
                }
            }
        });


        hideServiceHeader();
        $('#SLASeconds').durationPicker();

        //$("#target").kendoTooltip({
        //    content: "Tooltip content!"
        //});
        if ('@ViewBag.Success' == "True") {
            //alert("1");
            closeNavPortal();
            var tree = window.parent.$("#contentTreeView").data("kendoTreeView");
            tree.dataSource.read();
            //alert("2");
        }

        $("#AdhocTaskTemplateIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/cms/template/ReadAdhocTaskList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.AdhocTaskTemplateIds)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });


        $("#AdhocServiceTemplateIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/cms/ServiceTemplate/ReadAdhocServiceList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.AdhocServiceTemplateIds)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });


        $("#AdhocNoteTemplateIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/cms/NoteTemplate/ReadAdhocNoteList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.AdhocNoteTemplateIds)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });

         $.ajax({
             type: "GET",
             url: "/Cms/Template/GetTemplateJson?templateId=@Model.TemplateId",
            success: function (response) {
                if (response != "" && response != null) {
                    var obj = JSON.parse(response);
                    builder = new Formio.FormBuilder(document.getElementById("builder"), obj, {
                        builder: {
                            custom: {
                                title: 'Chart',
                                weight: 10,
                                components: {
                                    chartjs: {
                                        title: 'Chart',
                                        key: 'chartJS',
                                        icon: 'terminal',
                                        schema: {
                                            label: 'Chart JS',
                                            type: 'htmlelement',
                                            key: 'chartJs',
                                            input: true
                                        }
                                    },
                                }
                            },

                        }
                        , noDefaultSubmitButton: true
                    } );
                }
                else {
                    var obj = {
                        "synergyTableMapId": '@ViewBag.SynergyTableMapId'
                    }
                    builder = new Formio.FormBuilder(document.getElementById("builder"), obj, {
                        builder: {
                            custom: {
                                title: 'Chart',
                                weight: 10,
                                components: {
                                    chartjs: {
                                        title: 'Chart',
                                        key: 'chartJS',
                                        icon: 'terminal',
                                        schema: {
                                            label: 'Chart JS',
                                            type: 'htmlelement',
                                            key: 'chartJs',
                                            input: true
                                        }
                                    },
                                }
                            },

                        }
                        , noDefaultSubmitButton: true
                    }
                    );
                }

            },
            error: function (response) {
                alert("error");
            },
         });

        if ($('#EnableIndexPage').is(':checked')) {
            $('#liserviceindex').show();
        } else {
            $('#liserviceindex').hide();
        }

        $('#EnableIndexPage').on('change', function () {
            if (this.checked) {
                //alert("checked : Enable Index Page");
                $('#liserviceindex').show();
            } else {
                //alert("not checked : hide Index Page");
                $('#liserviceindex').hide();
            }
        });
        //uploadFile();
        //banneruploadFile();
        //bguploadFile();
    });

    function uploadFile() {

        $("#iconFile1").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-myiconimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#IconFileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

    function banneruploadFile() {

        $("#bannericonFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-mybannerimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#BannerFileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

    function bguploadFile() {
        $("#bgiconFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-mybgimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#BackgroundFileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

    function OnSave() {
        $("#Json").val(JSON.stringify(builder.instance.schema, null, 4));
        return true;
    }

     var onAjaxSuccess = function (res) {

        if (res.success) {

            ShowNotification("Saved Successfully", "success");
            var TemplateId = res.templateId;
            LoadPartailView('@Url.Action("ManageService", "Template", new { @area = "Cms" })?templateId='+ TemplateId+'&lo=@(ViewBag.LayoutMode??"")&cbm=@(ViewBag.CallbackMethod??"")', $('#detailPage'));
        }
        else {
            showError(res.error);
        }
    };
    var showError = function (error) {

        //#validation-summary-manageform
        $("#validation-summary-managepageservice").html(error);
        $("#validation-summary-managepageservice").css("display", "block")
    }

    function hideServiceHeader() {
        if ($('#HideHeader').is(':checked')) {
            $('#HideSubject').prop("checked", false);
            $('#hideSubject').hide();
            $('#HideDescription').prop("checked", false);
            $('#hideDescription').hide();
            $('#HideStartDate').prop("checked", false);
            $('#hideStartDate').hide();
            $('#HideOwner').prop("checked", false);
            $('#HideOwner').hide();
            $('#HideExpiryDate').prop("checked", false);
            $('#hideExpiryDate').hide();
            $('#HidePriority').prop("checked", false);
            $('#hidePriority').hide();
            $('#HideToolbar').prop("checked", false);
            $('#hideToolbar').hide();
            $('#HideBanner').prop("checked", false);
            $('#hideBanner').hide();
        } else {
            $('#hideSubject').show();
            $('#hideDescription').show();
            $('#hideStartDate').show();
            $('#hideExpiryDate').show();
            $('#hidePriority').show();
            $('#hideToolbar').show();
            $('#hideBanner').show();
            $('#HideOwner').show();
        }
    }


</script>
