
@inject Synergy.App.Common.IUserContext _userContext
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using Kendo.Mvc.UI
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/editorHtml/css/editor.css" rel="stylesheet">
    <!-- jquery-->
    <script src="~/editorHtml/js/jquery.min.js"></script>

    <!-- bootstrap-->
    <script src="~/editorHtml/js/popper.min.js"></script>
    <script src="~/editorHtml/js/bootstrap.min.js"></script>
    <script src="~/editorHtml/demo/offcanvas/offcanvas.js"></script>
    @*<script src="~/editorHtml/libs/autocomplete/jquery.autocomplete.js"></script>*@
    <!-- Custom styles for this template -->
    <link href="~/editorHtml/demo/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet" />
    <link href="~/editorHtml/demo/blog/blog.css" rel="stylesheet" />
    <link href="~/editorHtml/demo/carousel/carousel.css" rel="stylesheet" />
    <link href="~/editorHtml/demo/offcanvas/offcanvas.css" rel="stylesheet" />
    <link href="~/editorHtml/demo/pricing/pricing.css" rel="stylesheet" />
    <link href="~/editorHtml/demo/product/product.css" rel="stylesheet" />
    <style id="vvvebjs-styles">
        @Html.Raw(ViewBag.Page.Style)
    </style>
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        @RenderBody()
        <div id="global-overlay" class="global-overlay">
            <div class="global-overlay-loader">

            </div>
        </div>
    </div>
    @Html.Hidden("NoteId");
</body>

</html>
<script>
    $(document).ready(function () {        
        var nid = '@ViewBag.Id';
        $("#NoteId").val(nid);        
        $("#HtmlContent").load("/Cms/Editor/GetSynergyWebsite",
            { id: nid }, function () {
            });
       
    });
</script>