
@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@using Kendo.Mvc.UI
@using Synergy.App.Common
@inject Synergy.App.Common.IUserContext _userContext

@{
    Layout = null;
}


<div id="inboxGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

<script>
    function OpenTask(taskId, tempCode) {
        
        var id = taskId;
            var source = '@RequestSourceEnum.View.ToString()';
            var action = '@DataActionEnum.View.ToString()';
        var pagename = "NtsTaskPage";
        var portalId = "@_userContext.PortalId";

           var url = '/Cms/Page?lo=Popup&pageType=Task&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + id;
        var win = GetMainWindow();
           win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  '@Html.Raw(SharedResource["Task"])', Width: 1200, Height: 600 });
        return false;
    }

     var columnDefs = [
         {
             field: "TaskNo", headerName: "Task No",
             cellRenderer: params => {
                 
                 if (params.data.Id != null) {
                     return "<a href='javascript:OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\");' class='taskNo'>" + params.data.TaskNo + "</a>";
                 }
             }
         },
         {
            field: "TaskSubject",
            headerName: "@SharedResource["Subject"]",
         },
         @*{
               field: "OwnerName",
               headerName: "@SharedResource["From"]"
           },

        {
            field: "UserName",
            headerName: "@SharedResource["To"]",

         },*@
        {
            field: "StartDate",
            cellRenderer: params => {
                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },
         {
             field: "DueDate",
             headerName: "@SharedResource["DueDate"]",
             cellRenderer: params => {

                 var date = new Date(params.value);
                 return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
             }
        },
         @*{
             field: "Priority",
            headerName: "@SharedResource["Priority"]"
        },
         {
             field: "NtsStatus",
            headerName: "@SharedResource["Status"]"
        },*@
    ];


      function getData() {
        document.getElementById("inboxGrid").innerHTML = "";
        gridConfig(
            "inboxGrid",
            "/cms/admin/ReadInboxData?templateCode=@ViewBag.TemplateCode&id=@ViewBag.Id&type=@ViewBag.Type",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    $(function () {
        getData();
        $('#inboxGrid').jstree(options)
            .on('loaded.jstree', function () {
                $treeview.jstree('open_all');
            });
    });
</script>