@using CMS.UI.ViewModel;
@using CMS.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage User Group";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model UserGroupViewModel

<style>

    .required {
        color: red;
    }
</style>

<div class="row" style="margin-left:15px;">

    <form asp-controller="UserGroup" asp-action="ManageUserGroup" method="post" class="form-horizontal" id="myForm">
        <div class="text-danger" style="width:300px;" asp-validation-summary="All"></div>

        <div class="row" style="padding:10px;margin-right:15px;">

            <div class="col-12 pad-15">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" required="required" autocomplete="off" />
                    <label for="Name">Name <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-15">
                <div class="form-label-group">
                    <input asp-for="Code" type="text" class="form-control" placeholder="Enter Code" required="required" autocomplete="off" />
                    <label for="Code">Code<span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-15">
                <div class="form-label-group">

                    <input asp-for="Description" type="text" class="form-control" placeholder="Description" autocomplete="off" />
                    <label for="SequenceOrder">Description</label>
                </div>
            </div>

            @*<div class="col-12 pad-10">Status</div>
                <div class="col-12 pad-10">
                    @(Html.Kendo().DropDownListFor(x=>x.Status)
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .DataSource(source =>
                            {
                            source.Read(read =>
                            {
                                read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "StatusEnum" });
                            });
                            })
                            .Value(Model.Status.ToString())
                            .HtmlAttributes(new { @class = "form-control" })
                            )
                </div>*@
            <div class="col-12 pad-15">
                <label for="Users">Users </label>
                <br />
                @*@(Html.Kendo().MultiSelectFor(x => x.UserIds)
                                                                   .AutoClose(false)
                                                                   .Placeholder("Select Users...")
                                                                   .DataSource(source =>
                                                                   {
                                                                       source.Read(read =>
                                                                       {
                                                                           read.Action("GetUserIdNameList", "User",new { @area="Cms"});
                                                                       });

                                                                   })
                                                                   .Events(x=>x.Change("OnChange"))
                                                                   .DataTextField("Name")
                                                                   .DataValueField("Id")
                                                                   .AutoBind(true)
                                                                   .HtmlAttributes(new { @class = "hr-xx-large" })
                                                                    .ValuePrimitive(true)
                                                                   .Height(300)
                    )*@

                <select asp-for="UserIds" id="UserIds" style="width:80%"></select>
            </div>
            <div class="col-12 pad-15">
               <label>Selected Users </label>
                <div id="UserlistView"></div>
                @*@(Html.Kendo().ListView<UserViewModel>()
    .Name("UserlistView")
    .TagName("div")
    .ClientTemplateId("template")
    .AutoBind(false)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetUsersListView", "User",new { area="Cms"}).Data("FilterDDl"))
        .PageSize(21)
    )
    .Pageable()
    )*@
            </div>

            @*<div class="col-12 pad-10">
                    <label for="Users">Portal </label>
                    <br />
                    @(Html.Kendo().MultiSelectFor(x => x.Portal)
                                                                                   .AutoClose(false)
                                                                                   .Placeholder("Select Portal...")
                                                                                   .DataSource(source =>
                                                                                   {
                                                                                       source.Read(read =>
                                                                                       {
                                                                                           read.Action("GetPortalForUser", "User", new { @area = "cms" });
                                                                                       });

                                                                                   })
                                                                                   .DataTextField("Name")
                                                                                   .DataValueField("Id")
                                                                                   .AutoBind(true)
                                                                                    .ValuePrimitive(true)
                                                                                   .Height(300)

                                                                                   .HtmlAttributes(new { @class = "hr-x-large", @style="width:80%" })
                                    )
                </div>*@


            <div class="cms-slidebar-footer">
                <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
                <input type="submit" class="btn btn-primary" value="Save" id="submitBtn" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
    </form>
</div>
<script type="text/x-kendo-tmpl" id="template">
    <div class="row col-12" style="margin:5px;">
    @*<div class="col-3">
    <span>#:Id#</span>
    </div>*@
    <div class="col-9">
      <span>#:Name#</span>
    </div>
    </div>
</script>

<script type="text/javascript">
    function OnChange(e)
    {
        var search = FilterDDl();
        $("#UserlistView").data("kendoListView").dataSource.read(search)
    }

    function FilterDDl() {
        //alert($("#Users").val());
        var multiselect = $("#UserIds").data("kendoMultiSelect");
        var multiselectvalue = multiselect.value();
        return {
            selectedValues: multiselectvalue.join()
        };
    }
    $(document).ready(function () {

        $("#UserIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/cms/User/GetUserIdNameList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select User...",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.UserIds)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
            change: OnChange
        });
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/User/GetUsersListView",
                    data: FilterDDl,
                    dataType: "json",
                }
            },
            pageSize: 21
        });

        $("#UserlistView").kendoListView({
            dataSource: dataSource,
            //change: OnChange,
            template: kendo.template($("#template").html())
        });

        var search = FilterDDl();
        $("#UserlistView").data("kendoListView").dataSource.read(search)
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            //if (window.parent.$("#UserRolegrid").data("kendoGrid").dataSource.read()) { }
            window.parent.getDataUserGroup();
        }
       
       
    });

    function closeNavMemberGroup() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

</script>