@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Manage User Role";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model UserRoleStageChildViewModel     

<style>
    
    .required {
        color: red;
    }
</style>

<div class="row" style="margin-left:15px;">

    <form asp-controller="UserRoleStage" asp-action="ManageUserRoleChildParent" method="post" class="form-horizontal" id="myForm">                    
        <div class="text-danger" style="width:300px;" asp-validation-summary="All"></div>            
          
        <div class="row" style="padding:10px;margin-right:15px;">

            <div class="col-12 pad-15">
                <div class="form-label-group">
                    <input asp-for="StatusLabel" type="text" class="form-control" placeholder="Status Label" required="required" autocomplete="off" />
                    <label for="StatusLabel">Status Label <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <label for="StatusCode">Status </label>
                @*@(Html.Kendo().TextAreaFor(x => x.TextStatusCode).HtmlAttributes(new { @class = "hr-xx-large"  })
                                                                             
                                )*@
                @Html.TextAreaFor(x => x.TextStatusCode,new { @style="width:400px"})
            </div>


    


            <div class="cms-slidebar-footer">
                <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
                <input type="submit" class="btn btn-primary" value="Save" id="submitBtn" />
            </div>

        </div>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.DataAction)
            @Html.HiddenFor(x => x.InboxStageId)
</form>
</div>


<script type="text/javascript">

    function FilterDDl() {
        //alert($("#Users").val());
       
        return {
            inboxStageId: '@Model.InboxStageId'
        };
    }
  
    $(document).ready(function () {
        var search = FilterDDl();
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            window.parent.getUserRoleStageChildData();
            //window.parent.$("#UserRolegrid").data("kendoGrid").dataSource.read(search);
        }

    });

    function closeNavMemberGroup() {
      
        var win = GetMainWindow();
        win.CloseWindow({MethodName:'refresh'});
        return false;
    }

</script>