@model Synergy.App.ViewModel.ForgotViewModel
@{
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@*<link rel="stylesheet" href="~/Themes/Looper/dist/assets/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css" asp-append-version="true">
*@<link rel="stylesheet" href="~/Themes/Looper/dist/assets/stylesheets/theme.min.css" data-skin="default" asp-append-version="true">
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/stylesheets/theme-dark.min.css" data-skin="dark" asp-append-version="true">
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/vendor/flatpickr/flatpickr.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/stylesheets/custom.css" asp-append-version="true">
<script>
    var skin = localStorage.getItem('skin') || 'default';
    var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
    var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
    disabledSkinStylesheet.setAttribute('rel', '');
    disabledSkinStylesheet.setAttribute('disabled', true);
    if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
</script>

<main class="auth">
    @if (Model.Mode != null && ("success".Equals(Model.Mode)))
    {
        using (Html.BeginForm("ForgotPasswordOTP", "Account", FormMethod.Post, new { @class = "auth-form auth-form-reflow", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.Mode)
            @Html.HiddenFor(x => x.PortalId)
            <div class="text-center mb-4">
                <div class="mb-4">
                    @{
                        var logoUrl = "/images/extra-synergy.jpg";
                        if (ViewBag.Portal != null && ViewBag.Portal.Name != "CMS")
                        {
                            logoUrl = "/cms/document/getimagemongo?id=" + ViewBag.Portal.Id;
                        }
                    }
                    <img alt="" title="" src="@logoUrl" />
                </div>
                <h1 class="h3">Reset Password</h1>
            </div>
            <p class="mb-4">Please enter below the reset password OTP that has been sent to the email: @Model.Email</p>

            <div class="form-group mb-4">
                <label class="d-block text-left" for="inputUser">OTP</label>
                <input type="text" asp-for="ForgotPasswordOTP" class="form-control form-control-lg" autofocus="" placeholder="Enter OTP">
                <p class="text-muted">
                </p>
            </div>
            <div class="text-center">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="text-center">
                <div class="d-block d-md-inline-block mb-2">
                    <button class="btn btn-block btn-primary" type="submit">Verify OTP</button>
                </div>
                <div class="d-block d-md-inline-block">
                    <a href="/account/login?portalId=@ViewBag.Portal?.Id" class="btn btn-block btn-link">Return to Login</a>
                </div>
            </div>
        }
    }
    else if (Model.Mode != null && ("successotp".Equals(Model.Mode)))
    {
        using (Html.BeginForm("ForgotPasswordChange", "Account", FormMethod.Post, new { @class = "auth-form auth-form-reflow", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.ForgotPasswordOTP)
            @Html.HiddenFor(x => x.PortalId)
            @Html.HiddenFor(x => x.Mode)
            <div class="text-center mb-4">
                <div class="mb-4">
                    @{
                        var logoUrl = "/images/extra-synergy.jpg";
                        if (ViewBag.Portal != null && ViewBag.Portal.Name != "CMS")
                        {
                            logoUrl = "/cms/document/getimagemongo?id=" + ViewBag.Portal.Id;
                        }
                    }
                    <img alt="" title="" src="@logoUrl" />
                </div>
                <h1 class="h3">Set New Password</h1>
            </div>
            <p class="mb-4">Please set your new password below for email: @Model.Email</p>

            <div class="form-group mb-4">
                <label class="d-block text-left" for="Password">New Password</label>
                <input type="password" asp-for="Password" class="form-control form-control-lg" autofocus="" placeholder="Enter New Password">
            </div>
            <div class="form-group mb-4">
                <label class="d-block text-left" for="ConfirmPassword">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" autofocus="" placeholder="Confirm New Password">
            </div>
            <div class="text-center">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="text-center">
                <div class="d-block d-md-inline-block mb-2">
                    <button class="btn btn-block btn-primary" type="submit">Change Password</button>
                </div>
                <div class="d-block d-md-inline-block">
                    <a href="/account/login?portalId=@ViewBag.Portal?.Id" class="btn btn-block btn-link">Return to Login</a>
                </div>
            </div>
        }
    }
    else if (Model.Mode != null && ("successchange".Equals(Model.Mode)))
    {
<div class="text-center mb-4 auth-form auth-form-reflow">
    <div class="mb-4">
        @{
            var logoUrl = "/images/extra-synergy.jpg";
            if (ViewBag.Portal != null && ViewBag.Portal.Name != "CMS")
            {
                logoUrl = "/cms/document/getimagemongo?id=" + ViewBag.Portal.Id;
            }
        }
        <img alt="" title="" src="@logoUrl" />
    </div>
    <h1 class="h3 text-success">Password Changed successfully</h1>
    <p class="mb-4">Your password has been changed successfully. Please<a href="@Model.LoginUrl" class="btn btn-link">click here</a>to login.</p>
</div>
        
        
    }
    else
    {

        using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "auth-form auth-form-reflow", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.PortalId)
            <div class="text-center mb-4">
                <div class="mb-4">
                    @{
                        var logoUrl = "/images/extra-synergy.jpg";
                        if (ViewBag.Portal != null && ViewBag.Portal.Name != "CMS")
                        {
                            logoUrl = "/cms/document/getimagemongo?id=" + ViewBag.Portal.Id;
                        }
                    }
                    <img alt="" title="" src="@logoUrl" />
                </div>
                <h1 class="h3">Reset Password</h1>
            </div>
            <p class="mb-4">Please enter your email to receive OTP to reset password</p>

            <div class="form-group mb-4">
                <label class="d-block text-left" for="Email">Email</label>
                <input type="text" asp-for="Email" class="form-control form-control-lg" required="" autofocus="" placeholder="Email">
                <p class="text-muted">
                    <small>We'll send password reset OTP to your email.</small>
                </p>
            </div>
            <div class="text-center">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="text-center">
                <div class="d-block d-md-inline-block mb-2">
                    <button class="btn btn-block btn-primary" type="submit">Send OTP</button>
                </div>
                <div class="d-block d-md-inline-block">
                    <a href="/account/login?portalId=@ViewBag.Portal?.Id" class="btn btn-block btn-link">Return to Login</a>
                </div>
            </div>
        }
    }
</main>
<script src="~/Themes/Looper/dist/assets/vendor/pace-progress/pace.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/stacked-menu/js/stacked-menu.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js" asp-append-version="true"></script>

<script src="~/Themes/Looper/dist/assets/javascript/theme.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/flatpickr/flatpickr.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/flatpickr/plugins/monthSelect/index.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/particles.js/particles.js"></script>
<script>

    $(document).on('theme:init', () => {
        particlesJS.load('auth-header', '/themes/looper/dist/assets/javascript/pages/particles.json');
    })
</script>
<script src="~/Themes/Looper/dist/assets/javascript/theme.js"></script>