@*@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceTaskController> Resource*@
@inject IStringLocalizer<CMS.UI.Web.Controllers.CmsController> Resource
@inject Synergy.App.Common.IUserContext _userContext;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@{
    Layout = null;
    // Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model TemplateViewModel


<style>
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }

        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }
    .card-body {
        padding: 10px 5px;
    }

    .card-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border:solid 1px #f2f2f2;
    }

    .card-size {
    }

    .card-img-div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .border-1 {
        border: 3px solid var(--blue) !important;
    }

        .border-1 .text-content {
            background-color: var(--blue) !important;
        }

    .border-2 {
        border: 3px solid var(--indigo) !important;
    }

        .border-2 .text-content {
            background-color: var(--indigo) !important;
        }

    .border-3 {
        border: 3px solid var(--red) !important;
    }

        .border-3 .text-content {
            background-color: var(--red) !important;
        }

    .border-4 {
        border: 3px solid var(--pink) !important;
    }

        .border-4 .text-content {
            background-color: var(--pink) !important;
        }

    .border-7 {
        border: 3px solid var(--purple) !important;
    }

        .border-7 .text-content {
            background-color: var(--purple) !important;
        }
    .border-6 {
        border: 3px solid var(--orange) !important;
    }

        .border-6 .text-content {
            background-color: var(--orange) !important;
        }
    .border-5 {
        border: 3px solid var(--teal) !important;
    }

        .border-5 .text-content {
            background-color: var(--teal) !important;
        }
    .border-8 {
        border: 3px solid var(--green) !important;
    }

        .border-8 .text-content {
            background-color: var(--green) !important;
        }

    a.card:hover {
        text-decoration: none !important;
    }
</style>

<script>
    var goTop = document.getElementById("myBtn");
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            goTop.style.display = "block";
        } else {
            goTop.style.display = "none";
        }
    }
    function topFunction() {
        
        $('html, body').animate({
            scrollTop: 0
        }, 1000);
    }
    function SelectTemplate(id, tempCode, temtype, area, cont, action, param,tempname) {


        var guestUser = '@_userContext';

        if ('@_userContext.IsGuestUser' == 'True') {
            var rturl = '@System.Web.HttpUtility.UrlEncode(string.Concat("/Portal/", @_userContext.PortalName,"?portalId=", @_userContext.PortalId))';
            var url = "/Egov/EGovernment/Login?returnUrl=" + rturl;
            window.location.href = url;
        }
        else {


        var url = "";
        var portalId = "";
        var portalName = "";
        var prms = "";
        var callbackMethod = "";
        if (window.parent == "" || window.parent == undefined) {
            portalId = $("#GlobalPortalId").val();
        }
        else {
            portalId = window.parent.$("#GlobalPortalId").val();
        }
        if ('@Model.UserId' != null && '@Model.UserId' != '') {

            if ('@Model.Prms' != null && '@Model.Prms' != '') {
                prms = encodeURIComponent('ownerUserId=@Model.UserId&@Html.Raw(Model.Prms)');
            }
            else {
                prms = encodeURIComponent('ownerUserId=@Model.UserId');
            }

            var udfs = encodeURIComponent('SelectedUserId=@Model.UserId');
        }
        else {
            prms = encodeURIComponent('@Html.Raw(Model.Prms)');
        }
        if ('@Model.CallBackMethodName' != null && '@Model.CallBackMethodName' != '') {
            callbackMethod = '@Model.CallBackMethodName';
        } else {
            callbackMethod = "OnAfterServiceCreate";
        }

        if (temtype == @((int)TemplateTypeEnum.Custom)) {

            url = '/' + area + '/' + cont + '/' + action + '?' + param;
        }
        else {
            url = '/Cms/Page?lo=Popup&pageType=Service&cbm=' + callbackMethod + '&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&prms=' + prms + '&udfs=' + udfs;
            }

            if (tempCode == "EGOV_BOOK_COMMUNITY_HALL") {
                window.location.href = "/portal/EGovCustomer/CommunityHallBooking";
                LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Community Hall Booking");
               return false;


            }
            else if (tempCode == "ELECTRIC_BILL_PAYMENT" ) {
                window.top.open('https://billsahuliyat.jkpdd.net/', '_blank').focus();

                //var url = '/EGov/EGovernment/PaymentCustom';
                //var win = GetMainWindow();
                //win.iframeOpenUrl = url;
                //win.OpenWindow({ Title: 'Pay Your Bill', Width: 600, Height: 700 });
                return false;



            }
            else if (tempCode == "WATER_BILL_PAYMENT") {

                window.top.open('https://www.jkphedwaterbilling.com/Modules/ConsumerOnlinePayment.aspx', '_blank').focus();

                //var url = '/EGov/EGovernment/PaymentCustom';
                //var win = GetMainWindow();
                //win.iframeOpenUrl = url;
                //win.OpenWindow({ Title: 'Pay Your Bill', Width: 600, Height: 700 });
                return false;



            }
            else {

        @*var url = '@Url.Action("NtsServicePage", "NtsService", new { @area = "Cms" })?templateid=' + tempid + '&templateCodes=' + tempCode+'&lo=Popup&cbm=OnAfterServiceCreate';*@

                var win = GetMainWindow();
                win.iframeOpenUrl = url;
                var title = tempname;
                if (tempCode == "EGOV_PUBLIC_GRIEVANCE_REGISTRATION") {
                    title = "Public Grievance Registration Form";
                }
                win.OpenWindow({ Title: title, Width: 1000, Height: 700 });
                return false;
                var win = GetMainWindow();
                win.CloseWindow();
                return false;
            }
        //var win = GetMainWindow();
        ////var parent = win.GetParentWindow();
        ////parent.backtoNtsTaskIndex(id);
        //win.CloseWindow({ MethodName: 'backtoNtsServiceIndex' });
        //return false;
        }
    }
    function OnTask(Id) {

        var portalId = $('#GlobalPortalId').val();
        var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;

        LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Create Task');
        return false;
    }

    function EditTask(Id) {
        var portalId = $('#GlobalPortalId').val();
        // var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&source=Edit&dataAction=Edit&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + Id;

        LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Edit Task');
        return false;
    }

    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    @*url: "/Cms/NtsService/ReadServiceTemplateCategory?templateCode=" + '@Model.Code' + "&categoryCode=" + '@Model.CategoryCode' + "&moduleCodes=" + '@Model.ModuleCodes' + "&categoryIds=" + '@Model.CategoryIds' + "&templateIds=" + '@Model.TemplateIds' + "&categoryType=" + '@Model.TemplateCategoryType' + "&portalNames=@ViewBag.PortalNames",*@
                    url: "/Cms/NtsService/ReadServiceTemplateCategory?templateCode=" + '@Model.Code' + "&categoryCode=" + '@Model.CategoryCode' + "&moduleCodes=" + '@Model.ModuleCodes' + "&categoryIds=" + '@Model.CategoryIds' + "&templateIds=" + '@Model.TemplateIds' + "&categoryType="+'@Model.TemplateCategoryType',
                    dataType: "json"
                }
            },
        });

        $("#catDiv").kendoListView({
            dataSource: dataSource,
            layout: "grid",

            template: kendo.template($("#templateTM").html()),
            dataBound: function () {
                $("#catDiv").removeClass();
                /*$("#catDiv").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");*/
                $("#catDiv").children('.k-listview-content').removeClass("k-listview-content  k-d-grid").addClass('row');
                /*$("#catDiv").children('.k-listview-content').removeClass("k-listview-content");*/
            }
        });

        function FilterTemplate() {
            return data = {
                templateCode: '@Model.Code',
            categoryCode: '@Model.CategoryCode',
            moduleCodes: '@Model.ModuleCodes',
            categoryIds: '@Model.CategoryIds',
            templateIds: '@Model.TemplateIds',
                categoryType: '@Model.TemplateCategoryType',
                @*portalNames: '@ViewBag.PortalNames'*@
            }
        }

        var dataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/NtsService/ReadServiceTemplate",
                    data: FilterTemplate,
                    dataType: "json"
                }
            },
        });

        $("#listViewSL").kendoListView({
            dataSource: dataSource1,
            layout: "grid",

            template: kendo.template($("#tasktemplate1").html()),
            dataBound: function () {
                $("#listViewSL").removeClass();
                /*$("#NotificationlistView").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");*/
                $("#listViewSL").children('.k-listview-content').removeClass("k-listview-content k-d-grid").addClass("row");
            }

        });

        //$("#mysearch2").keyup(function () {
        //    var val = $('#mysearch2').val();
        //    var listView = $("#listViewSL").data("kendoListView");
        //    // var listView = $("#kgrdService").data("kendoListView");
        //    listView.dataSource.filter({
        //        logic: "or",
        //        filters: [
        //            {
        //                field: "DisplayName",
        //                operator: "contains",
        //                value: val
        //            },
        //            {
        //                field: "Description",
        //                operator: "contains",
        //                value: val
        //            },

        //        ]
        //    });

        //});
    });

    var colors = ['#F56564', '#1B4D3E','#555D50' ,'#90D142', '#28BAF5', '#7551F5', '#5BA79F', '#7A8F9D', '#4F67B6'];
    function OnDataBoundDoc(arg) {


        var childDiv = document.getElementById('listViewSL').children;
        ////var childDiv = document.getElementById('count').children;

        for (var i = 0; i < childDiv[0].children.length; i++) {
            var uc = childDiv[0].children[i].getElementsByClassName("template-flip-card-front");
            var colr = colors[Math.floor(Math.random() * colors.length)];
            uc[0].style.backgroundColor = colr;
        }
    }

    function OnChange(id,templateName) {

    
        $("#listViewSL").data('kendoListView').dataSource.read({ categoryCode: id });
        $("#templatesDiv").show();
        $('html, body').animate({
            scrollTop: $("#templatesDiv").offset().top-280
        }, 1000);
    }


    function highlight(element) {

        let elements = document.getElementsByClassName('announcement');

        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.background = "#f7e6be";
        }
        element.style.background = "#63BBDC";

    }

    function OnViewTemplate(id, code) {
          var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ServiceDiagram", "NtsService", new { @area = "cms" })?id=' + id +"&isTemplate=true";
        //win.iframeOpenUrl =  '@Url.Action("Swimlane", "NtsService", new { @area = "cms" })';
        win.OpenWindow({ Title: 'Service Workflow', Width: 1200, Height: 600 });
        return false;
    }

    function IconError(obj) {
        obj.onerror = null;
        obj.src = '/images/document.png';

        };

    function onBack()
    {
        window.location.href = "@ViewBag.SmartCityUrl";
    }
        $('#left').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "-=1075px"
            }, "slow");

        });

        $('#right').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "+=1075px"
            }, "slow");

        });

        $('#left1').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "-=1075px"
            }, "slow");

        });

        $('#right1').click(function (event) {

            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "+=1075px"
            }, "slow");

        });


    $('#leftT').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#rightT').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    $('#left1T').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#right1T').click(function (event) {

        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    function OnClick(ccode, cname, type) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("Info", "NtsService", new { @area = "cms" })?code=' + ccode + "&type=" + type;
        win.OpenWindow({ Title: 'Info', Width: 400, Height: 400 });
        return false;
    }
</script>
<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner" style="background-image: url('/images/page-bg-2.png');background-repeat:repeat;">
            <button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-primary btn-lg"><i class="fa fa-up"></i></button>
            <div class="row justify-content-md-center pt-4">
                @if (ViewBag.SmartCityUrl != null)
                {
                    <div class="col-10">
                        <input type="button" value="Srinagar Smart City" onclick="onBack()" class="btn btn-link" />
                    </div>
                }
                <div class="col-10">
                    <div class="card card-inverse bg-primary" style="width:100%;">
                        <div class="card-header text-center">Categories Of Services</div>
                        <div class="card-body bg-white" style="min-height:400px;">
                            <div id="catDiv">
                            </div>
                        </div>
                    </div>
                    <script type="text/x-kendo-tmpl" id="templateTM">
                          <div class="col-2 is-hoverable">
                              <a href="javascript:OnChange('#:Code#','#:Name#')" class="card text-dark bg-white m-3 #:ClassName# ishoverable">
                                  <div class="card-body text-center">
                                      <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);"/>

                                  </div>
                            <div class="text-center p-1 text-light text-truncate text-content" title="#:Name#">
                            #:Name#
                          </div>
                              </a>
                          </div>
                    </script>

                </div>

                <div class="col-10">
                    <div class="card card-inverse bg-teal" style="width:100%;">
                        <div class="card-header text-center">Service List</div>
                        <div class="card-body bg-white" style="min-height: 400px;">
                            <div id="templatesDiv" style="  display: none;">
                                <div id="listViewSL">

                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/x-kendo-tmpl" id="tasktemplate1">
                         <div class="col-2 is-hoverable">
                            <a title='#:DisplayName#' class="card text-dark bg-white m-3 #:ClassName# ishoverable"  href="javascript:SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');" >
                                <div class="card-body text-center">
                                    #if(TemplateType == '7')
                                    {#
                                        <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">
                                    #}
                                    else
                                    {#
                                        <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                    #}#

                                </div>
                        <div class="text-center p-1 text-light text-truncate text-content" title="#:DisplayName#">
                        #:DisplayName#
                          </div>
                            </a>
                        </div>


                    </script>

                </div>

            </div>
        </div>
    </div>
</div>