@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "Workboard Invite";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@inject Synergy.App.Common.IUserContext _userContext
@model NtsNoteCommentViewModel

<style>
    .titlebar {
        color: #6d6e70;
        font-weight: 700;
        font-size: 14pt;
        line-height: 30px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 15px;
    }
    /*.name-section {
            margin-left: 40px;
            margin-right: 40px;
        }
        p{
            font-family: proxima-nova,"Tikal Sans",Helvetica,Arial,sans-serif;
            color: #6d6e70;
        }
        .button-set{
            margin-left: 40px;
            margin-right: 40px;
        }*/
    p {
        font-family: proxima-nova,"Tikal Sans",Helvetica,Arial,sans-serif;
        color: #6d6e70;
    }

    .footer {
        /*position: absolute;
        bottom: 0;*/
        margin-bottom: 20px;
        /*width: 95%;*/
    }

    .icon {
        fill: black;
        height: 16px;
        width: 16px;
    }

    .imgStyle {
        border-radius: 100%;
        border: 1px solid dodgerblue;
        margin-top: 10px;
    }
</style>

<div class="row-12" style="margin-left:15px;">

    <div class="titlebar">
        <span>Comments</span>
    </div>

  

    <div class="main-content">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="name-section" id="listView" style="height:100%">
            <p>Comments list</p>
        </div>
    </div>
    @* Provide styling in the template *@
<script type="text/x-kendo-tmpl" id="template">
    <div style="margin-top: 18px;width:100%">
                            <div class="">
                                <div style="padding-left: 10px;">
                                    <div class="iconwithtextan">
                                        <div class="row" style="width:100%;margin-bottom: 10px;margin:0px">
                                            <div class="col-1">

                                            #if(data.PhotoId!=null){#
                                    <img width="60" height="60" class="imgStyle" src="/cms/document/GetImageMongo?id=#:data.PhotoId#" /> #}
                                    else{#
                                    <img width="60" height="60" class="imgStyle" style="background-color:gray;" src="~/images/profile.jpg" />#}#</div>
                                             <div class="row col-10" style="padding-left:75px;">
                        <div class="col-12" style="padding-left:0px;"><span style="font-size: 12px; padding:5px;">From : #:data.CommentedByUserName#</span> </div>
        <div class="col-12" style="padding-left:0px;"> <span  style="padding:5px;font-size:12px;">To : #if(data.CommentedToUserName!=null){# #:data.CommentedToUserName# #}# </span> </div>
                        <div class="col" style="padding-left:0px;"> <span  style="padding:5px;font-size:12px;">Commented Date</span> </div>
                        <div class="col" style="padding-left:100px;"> <span  style="padding:5px;font-size:12px;">#:CommentDateDisplay#</div>
                        



                        <div class="col-12" style="padding:5px;font-size:16px;"><p>
            @*#:Comment#*@
              #= htmlDecode(data.Comment) #
            </p></div>
            #if(data.AttachmentId!=null){#
            <div class="col-12" style="padding:5px;font-size:12px;"><p>#:data.FileName#   <span onclick='ViewAttachment("#:data.AttachmentId#")' class="attach-icon" title="View">
                                         <i class="fas fa-eye fa-lg"></i></span>
                                         <span onclick='onDownload("#:data.AttachmentId #")' class="attach-icon" title="Download">
                                         <i class="fas fa-download fa-lg"></i></span></p>
            </div>

            #}#





                                                    </div>
                           <div class="col-1" style="margin-top: 4px;">
         #if('@_userContext.UserId'!=data.CommentedByUserId){#<a id='reply' class='reply-icon fa fa-reply pull-right' style="font-size:20px" title="Click to Reply" href='javascript:onReplyClick("#:data.id#");'></a><br/>#}#
             #if('@_userContext.UserId'==data.CommentedByUserId){# <a id='delete' class='k-icon k-i-delete pull-right' style="font-size:20px" title="Click to delete" href='javascript:onDeleteClick("#:data.id#");'></a>#}#

                                            </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>




</script>

    <div class="footer">
       
        <div class="input-group">
            <input id="Comment" type="text" class="form-control" />

            <button class="send-icon" id="sendIcon" style="float:right" onclick="OnPost()">
                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.69 12.91L4.13 20.37c-.66.29-1.41-.19-1.41-.92v-4.57c0-.5.37-.92.87-.99L17.72 12 3.59 10.12c-.5-.07-.87-.49-.87-.99V4.55c0-.73.75-1.21 1.41-.92l16.56 7.46c.79.35.79 1.47 0 1.82z"></path></svg>
            </button>

        </div>
    </div>

</div>

<script>

     function OnPost()
    {
        if ($("#Comment").val()!="")
        {
            ShowLoader($('#notecmnt'));

            $.ajax({
                type: "POST",
                url: "/cms/Workboard/PostNoteComment",
                data: {
                    NtsNoteId: "@Model.NtsNoteId",
                    Comment: $("#Comment").val(),
                    CommentToUserIds: '@_userContext.UserId'
                    /*CommentToUserIds: "45bba746-3309-49b7-9c03-b5793369d73c"*/
                },

                success: function (data) {
                    $("#Comment").val('');
                    if (data.success) {

                        if ('@ViewBag.Mode' == "Reply") {

                            var win = GetMainWindow();
                            win.CloseWindow({ MethodName: 'refresh' });

                        }
                        else {

                            HideLoader($('#notecmnt'));
                            readCommentData();
                            Delete();
                            FillCommentCount();

                        }
                    }
                    else {
                        ShowErrors(data.errors);
                    }
                },

                error: function (err) {
                    $(".hr-v-summary").removeClass("validation-summary-valid");
                    $(".hr-v-summary").addClass("validation-summary-errors");

                    $(".hr-v-summary ul").html(msg);
                }

            });
        }
        else {
            kendo.alert("Please enter comment");
        }
     }



    function FillCommentCount() {
        //var win = GetMainWindow().GetParentWindow();
        var win = window.GetMainWindow();
        win.FillCommentCount();
    }

     function Delete() {
        $("#AttachmentId").val('');
        $("#iconFile").dmUploader("reset");
     }

     $(document).ready(function () {

        readCommentData();
     });

        var dataSource;
    function readCommentData() {

        document.getElementById("listView").innerHTML = "";

           dataSource = new kendo.data.DataSource({
                transport: {
                      read: {
                          url: "/cms/Workboard/ReadNoteCommentDataList?noteId=@Model.NtsNoteId",
                        dataType: "json"
                      }
                },
           });

        $("#listView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html()),
            selectable: '@ListViewSelectionMode.Single',
        });

    }

      function searchChild(nameKey, myArray) {
        var newArray  = [];
        for (var i = 0; i < myArray.length; i++) {
            if (myArray[i].ParentCommentId === nameKey) {
                newArray.push( myArray[i]);
            }
        }
        return newArray;
      }


     function refresh() {
         readCommentData();
         FillCommentCount();
     }

      function htmlDecode(value) {
         return value.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }

    function onDeleteClick(fileId) {
        if (confirm('Are you sure you want to delete the selected comment?')) {
            $.ajax({
                type: "POST",
                url: '/cms/DeleteNoteComment',
                data: { id: fileId },
                success: function (data) {
                    //$("#kgrdComment").data("kendoTreeView").dataSource.read();
                    readCommentData()
                    FillCommentCount();
                },
                dataType: "json",
            });
        }

        return false;
    }
</script>
