@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.LandingPageController> Resource
@using Kendo.Mvc.UI
@using CMS.UI.ViewModel
@model NoteSearchViewModel
@{
    ViewBag.Title = "Announcements";
    //  Layout = "~/Views/Shared/_LayoutPopup.cshtml";

}
<script>

    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/cms/LandingPage/ReadAnnouncementBusinessData?orgId=" + '@Model.OrganizationId' + "&type="+ '@Model.Type',
                    dataType: "json"
                }
            },
        });

        $("#kgrdNote").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#templateanmt").html())
        });
    });

    function FilterGrid() {
    }
    function OnAnnouncementEdit(Id) {
       @*@if (!2229.HasPermission())
       {
           @:return false;
       }*@

        @if ( Model.Type == "Self") //Model.Type == "Company"
        {
              @:return false;
        }


        var ru = encodeURIComponent("@Model.ReturnUrl");
        var url = "/cms/LandingPage/EditGreetingAnnouncement?&noteId=" + Id + "&ru=" + ru;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({
            Title: '@Html.Raw(Resource["Announcement"])', Width: 550, Height: 500
        });
    }
</script>
<style>
    .announcement {
        background-color: #edf2fa;
        border: 2px solid white;
        color: #373e4c;
        padding: 10px 10px 15px 15px;
    }

    .iconwithtextan {
        display: flex;
        align-items: center;
    }

        .iconwithtextan.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }
</style>
<div>
    @*@(Html.Kendo().ListView<NoteViewModel>().Name("kgrdNote")
        .TagName("div")
        .ClientTemplateId("templateanmt")
        .Selectable(select => select.Enabled(false))
        .AutoBind(true)
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("ReadAnnouncementBusinessData", "LandingPage", new {area = "cms", type = Model.Type, orgId = Model.OrganizationId }))
            .Model(model => model.Id(p => p.Id))
            )
    )*@

    <div id="kgrdNote"></div>

    @Html.HiddenFor(x => x.Type)
    @Html.HiddenFor(x => x.ReturnUrl)

</div>
<script type="text/x-kendo-tmpl" id="templateanmt">
    <div class="announcement" onclick="OnAnnouncementEdit('#:Id#')" @*style='@(2229.HasPermission()?"cursor:pointer;":"")'*@>
        <div class="iconwithtextan" style="padding-left: 5px;">
            <img width="25" height="25" src="@Url.Content("~/Images/announcementicon.png")" style="min-width:25px; min-height:25; align-content:initial">
            <div style="font-size: 10px; padding-left: 5px;"></div>
            <div style="font-size: 12px">#if (NoteSubject == null) {# #=' '# #} else {# #=NoteSubject# #}#</div>
        </div>
        <div class="iconwithtextan" style="margin-top:5px; padding-left: 30px;">
            <div style="font-size: 11px">#if (NoteDescription == null) {# #=' '# #} else {# #=NoteDescription# #}#</div>
        </div>
        <div class="iconwithtextan" style="margin-top:5px; padding-left: 30px;">
            <div style="font-size: 10px; color: darkgoldenrod">#=FormattedStartDate#</div>
        </div>
        <div class="iconwithtextan" style="margin-top:5px;">
            @*#if (MediaNewType == "VIDEO")
            {#
            <video id="videoFeeds+#:Id#" style="width: 100%; height: 350px; background-color:black" controls>
                <source src="#:StreamVideoPath#?fileId=#:FileId#" type="video/mp4">
            </video>
            #}
            if (MediaNewType == "PHOTO")
            {#
            <div>
                <img id="imageFeeds+#:Id#" alt="" src="/General/File/GetFile?fileId=#:FileId#" style="width:100%" onclick="loadImage(this)" />
            </div>
            #}
            if (MediaNewType == "PDF")
            {#
            <div style="width:100%">*@
                @*<object class="childDiv+#:Id#" data="@(Constant.AppSettings.FileWebApiBaseUrl)api/streamdocs?fileId=#:FileId#" type="application/pdf" height="300" style="width:100%" alt="pdf"></object>*@
            @*</div>
            #}#*@
        </div>
    </div>
</script>

