@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.LandingPageController> Resource
@using Kendo.Mvc.UI
@using CMS.Common
@using CMS.UI.ViewModel
@model NoteViewModel
@{
    //ViewBag.Title = "Dashboard";
    Layout = null /*"/Areas/Cms/Views/Shared/_LayoutCms.cshtml"*/;
}
@inject CMS.Common.IUserContext _userContext

<style>
    ::-webkit-scrollbar {
        display: none;
    }

    #MainPost {
        padding: 5px 5px;
        margin-bottom: -1px;
        width: 100%;
        height: 78vh;
        overflow: auto;
        overflow-x: hidden;
    }

    .group .input {
        margin-bottom: 25px;
        width: 100%;
        color: black;
        display: block;
        border: 1px;
        padding: 15px 20px;
        border-radius: 50px;
        background: rgba(142, 139, 139, 0.1);
    }

    .sectionbox2 {
        margin-bottom: -20px;
        margin-top: 10px;
        border-radius: 0.8rem;
        color: #333333;
        background: #fff;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        min-height: 65px;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.24), 0px 0px 4px 0px rgba(0,0,0,0.19);
    }

    pre {
        margin: 20px 0;
        padding: 20px;
        background: #fafafa;
    }

    .round {
        border-radius: 50%;
    }

    .gallery-cell {
        width: 100%;
        min-height: 230px;
        margin-right: 10px;
        cursor: pointer;
        background: Transparent;
        counter-increment: gallery-cell;
        border-radius: 10px;
    }

        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

    

    /*img {
        max-width: 100%;
        max-height: 100%;
    }*/

    #banimg {        
        min-height: 280px;
    }

    .breadcrumb {
        display: none;
    }

    .top-header {
        box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.24), 0px 17px 50px 0px rgba(0,0,0,0.19);
    }

    .fontstyle {
        font-size: 14px;
        color: #4b4f56;
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    .profilemenustyle {
        font-size: 20px;
        color: #4b4f56;
        display: block;
        margin-top: 8px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .leftmenustyle {
        font-size: 12px;
        color: #4b4f56;
        margin-bottom: 5px;
        font-weight: normal;
        margin-top: 5px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .leftsubmenustyle {
        font-size: 12px;
        color: #4b4f56;
        margin-bottom: 5px;
        font-weight: normal;
        margin-top: 5px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .submenustyle {
        font-size: 11px;
        color: darkgoldenrod;
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

        .iconwothtext.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .iconwothtextsub {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

        .iconwothtextsub.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .sectionbox {
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius: 5px;
        color: #333333;
        background: #fff;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        min-height: 100px;
    }

    #AnnouncementPost {
        width: 100%;
        height: 75vh;
        overflow: auto;
        overflow-x: hidden;
    }

    #DocumentPost {
        width: 100%;
        height: 45vh;
        overflow: auto;
        overflow-x: hidden;
    }

    #LeftPanel {
        height: 78vh;
        overflow: auto;
        overflow-x: hidden;
        margin-top: 5px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #F90;
        background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    }

    @@media (min-width: 800px) {
        body {
            background: #ebe9e7;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 96%;
            background-repeat: no-repeat;
            padding-top: 10px;
            overflow: hidden;
        }
    }

    @@media(max-width: 800px) {
        body {
            background: #ebe9e7;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 96%;
            background-repeat: no-repeat;
            padding-top: 10px;
            overflow: auto;
        }
    }

    .main-block-module {
        padding: 0;
        text-align: center;
        border: 1px solid lightgray;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        background: white;
        margin-bottom: 8px !important;
        overflow: hidden !important;
    }

    .main-block {
        border-bottom: 1px solid rgba(0,0,0,.15);
        padding: 12px 12px 16px;
    }

    .break-words {
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        word-break: break-word !important;
    }

    .child-block-bg-image {
        background-position: center;
        background-size: cover;
        display: block;
        height: 56.25px;
        margin: -12px -12px 0;
    }

    .child-block-bg {
        background-image: url(/images/entity-background-person.jpg);
        /*background-color: lightgray;*/
        background-position: center;
        background-size: 462px;
        border: 1px solid lightgray;
    }

    .member-photo {
        margin: -38px auto 12px;
        border: 2px solid #fff;
        background-color: #fff;
    }

    .Photo-circle {
        width: 72px;
        height: 72px;
        box-sizing: border-box;
        background-clip: content-box;
        /*border: 1px solid transparent;*/
        border-radius: 49.9%;
    }

    .t-black {
        color: rgba(0,0,0,0.9 );
    }

    .t-bold {
        font-weight: 600;
    }

    .t-10 {
        font-size: 1.0rem;
        line-height: 1.5;
    }

    .mt1, .mv1 {
        margin-top: 4px !important;
    }

    .t-black--light {
        color: rgba(0,0,0,0.6);
    }

    .t-8 {
        font-size: 0.8rem;
        line-height: 1.33333;
    }

    .t-normal {
        font-weight: 400;
    }

    .mv3 {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
    }

    .display-flex {
        display: flex !important;
    }

    align-items-center {
        align-items: center !important;
    }

    .mr4 {
        margin-right: 16px !important;
    }

    .ml4 {
        margin-left: 16px !important;
    }

    .mt2, .mv2 {
        margin-top: 8px !important;
    }

    .feed-shared-avatar-image {
        overflow: hidden;
        flex-shrink: 0;
        line-height: 0;
    }

    .b0 {
        border: 0 !important;
    }

    .mr2 {
        margin-right: 8px !important;
    }

    .start-share-button {
        background: none !important;
        color: rgba(0,0,0,0.6);
    }

        .start-share-button:hover {
            background: lightgray !important;
            color: rgba(0,0,0,0.6);
        }

        .start-share-button:visited {
            background: lightgray !important;
            color: rgba(0,0,0,0.6);
        }

    .start-share-button {
        margin: 4px 0;
        font-size: 1.0rem;
        flex-grow: 1;
        max-width: none;
        justify-content: left;
        line-height: 1.5;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 35px !important;
        padding-left: 16px !important;
        align-items: center;
        padding: 8px 0px;
    }

    .Photo-circle-3 {
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        background-clip: content-box;
        border: 2px solid transparent;
        border-radius: 49.9%;
    }


    [class^="number-slide"],
    [class*=" number-slide"] {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        color: #fff;
        font-weight: 500;
        height: 200px;
        max-height: 80vh;
        border-radius: 0.8rem;
    }
    .keen-slider {
        border-radius: 0.8rem;
    }
    

   

</style>
<script type="text/javascript">
    function PhotoError(obj) {
        obj.onerror = null;
        obj.src = '/images/profile.jpg';

    };
    function CallBack() {
        //alert("CallBack");
        manageNoteList_Refresh($('#manageNoteList'));
        $("#kgrdNote").data("kendoListView").dataSource.read();
        return false;
    }
    function RefreshPageBack() {
        //window.location.href = window.location.href;
        manageNoteList_Refresh($('#manageNoteList'));
        $("#kgrdNote").data("kendoListView").dataSource.read();
        return false;
    }
    $(document).ready(function () {
        //$('.main-gallery').flickity({
        //    // options
        //    cellAlign: 'left',
        //    contain: true,
        //    autoPlay: 3000,
        //    pauseAutoPlayOnHover: false,
        //    wrapAround: true

        //});
        
    });

</script>

<script type="text/javascript">

    $('#CreatePost').click(function (e) {
        newPostMyWall();
    });
    function OnTeamSearch(e) {
        iframeOpenUrl = "/admin/team/searchteam";
        var wnd = $("#kiframepopupwindow").data("kendoWindow");
        wnd.setOptions({
            width: 620,
            height: 300,
            title: "@*@ERP.Translation.Control.Window_TitleOnTeamSearch*@"//"Search For The Group"
        });
        wnd.wrapper.find('.k-window-titlebar').css({
            'background-color': 'transparent',
            'border-bottom-style': 'none'
        });
        wnd.center().open();
    }
    function SearchBack(team) {

        iframeOpenUrl = "/nts/note/CreatePost?templateMasterCode=GROUP_MESSAGE&ownerType=Team&teamId=" + team;
        var wnd = $("#kiframepopupnotitlewindow").data("kendoWindow");
        wnd.setOptions({
            width: 600,
            height: 430,
            title: "@*@ERP.Translation.Control.Window_TitleSearchBack*@"//"Posting To"

        });
        wnd.wrapper.find('.k-window-titlebar').css({
            'background-color': 'transparent',
            'border-bottom-style': 'none'
        });
        wnd.center().open();
        var wnd1 = $("#kiframepopupwindow").data("kendoWindow");
        wnd1.close();

    }

    function newPostMyWall() {
var win = GetMainWindow();
        win.iframeOpenUrl = "/cms/LandingPage/CreatePost?templateMasterCode=GROUP_MESSAGE&ownerType=Team&sourcePost=SELF";
        win.OpenWindow({
            Title: '@Html.Raw(Resource["PostingTo"])', Width: 600, Height: 430 });
    }
    function ClosePost(redirect) {
        //var wnd1 = $("#kiframepopupnotitlewindow2").data("kendoWindow");
        //wnd1.close();
        var win = GetMainWindow();
        win.CloseWindow();
        return false;

        manageNoteList_Refresh($('#manageNoteList'));
        return false;
        //window.location.reload();
        //var wnd1 = $("#kiframepopupwindow").data("kendoWindow");
        //wnd1.close();
        //var wnd = $("#kiframepopupnotitlewindow").data("kendoWindow");
        //wnd.close();


        //manageNoteList_LoadData($('#manageNoteList'));
    }

    function OnUserChange(e) {
        var followerId = $("#OtherWalls").val();
        $.ajax({
            type: "POST",
            url: "/nts/note/IsUserFollowing",
            data: { 'followerId': followerId },
            success: function (data) {
                if (data.IsUserFollowing) {
                    $("#unfollowbutton").show();
                    $("#followbutton").hide();
                } else {
                    $("#followbutton").show();
                    $("#unfollowbutton").hide();
                }
            },
            dataType: "json",
        });
        var userId = $("#OtherWalls").val();
        $("#mywall").css("font-weight", "normal");
        $("#HomeType").val("Wall");
        $("#scroliingSection").load('/Note/LoadManagePostPartialView?homeType=Self&userId=' + userId);
        $("#CreatePost").hide();
        //  $("#btnFollow").show();
        $("#main-gallery").hide();
        //   $("#manageotherwalls").load(location.href + " #manageotherwalls");
    }

    function OnServiceCreate(e) {
        iframeOpenUrl = "/nts/service/Create";
        var wnd = $("#kiframepopupwindow").data("kendoWindow");
        wnd.setOptions({
            width: 800,
            height: 400,
            title: "@*@ERP.Translation.Control.Window_TitleOnServiceCreate*@"
        });
        wnd.center().open();
    }
    function CloseService(redirect, tempId) {
        var wnd = $("#kiframepopupwindow").data("kendoWindow");
        wnd.close();
        if (redirect) {
            window.location.href = "/nts/service/Manage?templateId=" + tempId;
        }
    }
    function onDataBound(e) {
        // kendoConsole.log("Data bound");
    }
    $(function () {
        $(document).bind("kendo:skinChange", updateTheme);
    });
    function updateTheme() {
        $("#chart").getKendoChart().setOptions({ theme: kendoTheme });
    }

    function gotoManpower() {
        window.location.href = "/hrs/positionchart?posid=@Model.PositionId";
    }

    function gotoWorklist() {
        window.location.href = "/Nts/ntsHome";
    }

    function gotoSps() {
        window.location.href = "/sps/spshome/index";
    }

    function gotoCompanyHome() {
        //window.location.href = "/Nts/Note/CompanyHome";
        var url = "/cms/LandingPage/CompanyHome";
        //window.location.href = url;
        LoadPartailView(url, $('#cms-content'));
    }
    function gotoOrgHome() {
        var url = "/cms/LandingPage/OrgHome";
        //window.location.href = url;
        LoadPartailView(url, $('#cms-content'));
    }
    function gotoPms() {
        window.location.href = "/pms/pmshome/index";
    }
    function OnTeamChange(e) {
        var usr = $("#TeamMemberId").data("kendoDropDownList");
        if (usr.value() != '') {
            $("#chartSummary").data("kendoChart").dataSource.read({ teamMemberId: usr.value() });
        }
        else {
            $("#chartSummary").data("kendoChart").dataSource.read();
        }
        $("#chartSummary").data("kendoChart").refresh();
    }

    function FollowPost() {
        $("#followbutton").hide();
        $("#unfollowbutton").show();
        var followerId = $("#OtherWalls").val();
        $.ajax({
            type: "POST",
            url: "/nts/note/FollowUnFollowPost",
            data: { 'followState': 'FOLLOW', 'followerId': followerId },
            success: function (data) {

            },
            dataType: "json",
        });

    }

    function UnFollowPost() {
        $("#unfollowbutton").hide();
        $("#followbutton").show();
        var followerId = $("#OtherWalls").val();
        $.ajax({
            type: "POST",
            url: "/nts/note/FollowUnFollowPost",
            data: { 'followState': 'UNFOLLOW', 'followerId': followerId },
            success: function (data) {

            },
            dataType: "json",
        });

    }
    function FilterByAssignToType() {
        return {
            assignToType: "User"
        }
    }
</script>

<div class="row">
    <div class="col-1 dahboard-height">
    </div>
    <div class="col-2 dahboard-height" id="LeftPanel">



        <!--<div class="fontstyle">
            <div style="text-align:center">
                @(_userContext.CompanyName ?? " ")-->
        @*@((HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeeOrganizationName]) ?? ERP.Translation.Message.NoOrganization)*@
        <!--</div>
        </div>-->
        <div class="main-block-module">
            <div class="main-block break-words">
                <div class="child-block-bg child-block-bg-image"></div>
                <div>
                    @if (Model.base64Img == "")
                    {
                        <img width="64" height="64" src="~/images/profile.jpg" class="image member-photo Photo-circle">@*@Url.Content(String.Format("~/Images/S.png", Model.OwnerFirstLetter))*@

                    }
                    else
                    {
                        <img width="64" height="64" src='@Model.base64Img' class="image member-photo Photo-circle" onerror='OnPhotoError(this);'>

                    }
                </div>
                <div class="t-10 t-black t-bold">
                    @(_userContext.Name)
                </div>
                <p class="t-8 t-black--light t-normal mt1">
                    @(_userContext.JobTitle ?? "")
                </p>
            </div>



            <!--<div class="profilemenustyle" style="font-size: 13px">
                <div style="padding-left:30px;">
                    @(_userContext.Name)-->
            @*<a href="/hrs/positionchart?posId=@((HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeePositionId]) )">@((HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeeFullName]) )</a>*@
            <!--</div>
            </div>
            <div class="submenustyle">
                <div style="padding-left:30px;">
                    @(_userContext.JobTitle ?? "")-->
            @*@((HttpContext.Current.Session[ERP.Utility.Constant.SessionVariable.EmployeeJobName]) ?? ERP.Translation.Message.NoJobTitle)*@
            <!--</div>
            </div>-->
            <div class="mv3">
                <ul style="padding-left:26px;">
                    <div class="iconwothtext" onclick="gotoHome()">
                        <div></div> <div class="leftmenustyle" id="myhome" style="cursor: pointer;">
                            @Resource["MyHome"]
                            <span class="k-icon k-i-arrow-chevron-right" style="font-size: 13px; padding-left: 30px; color: lightgrey"></span>
                        </div>
                    </div>
                    @*<div class="iconwothtext" onclick="gotoCompanyHome()" style="cursor: pointer;">
                            <div></div> <div class="leftmenustyle">
                                @Resource["CompanyHome"]
                                <span class="k-icon k-i-arrow-chevron-right" style="font-size: 13px; padding-left: 30px; color: lightgrey"></span>
                            </div>
                        </div>
                        <div class="iconwothtext" onclick="gotoOrgHome()" style="cursor: pointer;">
                            <div></div> <div class="leftmenustyle">
                                @Resource["DepartmentHome"]
                                <span class="k-icon k-i-arrow-chevron-right" style="font-size: 13px; padding-left: 30px; color: lightgrey"></span>
                            </div>
                        </div>*@
                    @*<div class="iconwothtext" onclick="onMyWallSelection()">
                            <div></div> <div class="leftmenustyle" id="mywall">
                                My Wall
                                <span class="k-icon k-i-arrow-chevron-right" style="font-size: 13px; padding-left: 30px; color: lightgrey"></span>
                            </div>
                        </div>*@


                    @*@if (4.HasPermission())*@
                    @if (false)
                    {
                        <div class="iconwothtext">
                            <div></div> <div class="leftmenustyle" id="worklist">
                                @Resource["Worklist"]
                                <span id="worlistclose" class="k-icon k-i-arrow-chevron-right" style="font-size: 13px; padding-left: 30px; color: lightgrey"></span>
                            </div>
                        </div>
                        <div id="mId">
                            <li id="tId" class="iconwothtext" style="padding-left:10px">
                                <div class="k-icon k-i-track-changes" style="font-size:14px; color: gray"></div> <div class="leftmenustyle">
                                    @SharedResource["Task"]
                                </div><span id="tclose" class="k-icon k-i-arrow-chevron-right" style="font-size: 13px; padding-left: 30px; color: lightgrey"></span>
                            </li>
                            <li id="bid" class="iconwothtextsub" style="padding-left: 13px" onclick="gotoTask('IN_PROGRESS')">
                                <span class="k-icon  k-i-circle" style="color:gray"></span> <div class="leftsubmenustyle">
                                    @Resource["Pending"]
                                </div><div class="leftmenustyle" title="@Resource["PendingTask"]"><p data-letters="@Model.T_AssignPending"></p></div>
                            </li>

                            <li id="sId" class="iconwothtext" style="padding-left:10px">
                                <div class="k-icon k-i-paste-plain-text" style="font-size:14px; color: gray"></div> <div class="leftmenustyle">
                                    @SharedResource["Service"]
                                </div><span id="sclose" class="k-icon k-i-arrow-chevron-right" style="font-size: 13px; padding-left: 30px; color: lightgrey"></span>
                            </li>
                            <li id="bsid" class="iconwothtextsub" style="padding-left: 14px" onclick="gotoService('IN_PROGRESS')">
                                <span class="k-icon  k-i-circle" style="color:gray"></span> <div class="leftsubmenustyle">
                                    @Resource["PendingService"]
                                </div><div id="qqqq" class="leftmenustyle" title=@Resource["PendingService"]><p data-letters="@Model.S_RequestPending"></div>
                            </li>

                            <li id="nId" class="iconwothtext" style="padding-left:10px">
                                <div class="k-icon k-i-change-manually" style="font-size:14px; color: gray"></div> <div class="leftmenustyle">
                                    @SharedResource["Notes"]
                                </div><span id="nclose" class="k-icon k-i-arrow-chevron-right" style="font-size: 18px; padding-left: 30px; color: lightgrey"></span>
                            </li>
                            <li id="bnid" class="iconwothtextsub" style="padding-left: 20px; " onclick="gotoNote('ACTIVE')">
                                <span class="k-icon  k-i-circle" style="color:gray"></span> <div class="leftsubmenustyle">
                                    @Resource["Active"]
                                </div><div class="leftmenustyle" title="@Resource["ActiveNotes"]"><p data-letters="@Model.N_Active"></div>
                            </li>
                        </div>
                    }
                    <div class="iconwothtext">
                        @*<div></div> <div class="leftmenustyle" id="groupid">
                                Group
                                <span id="groupidclose" class="k-icon k-i-arrow-chevron-right" style="font-size: 13px; padding-left: 30px; color: lightgrey"></span>
                                <span class="k-icon k-i-plus-outline" style="font-size:20px; font-weight:lighter; color:gray;padding-left: 10px; cursor:pointer" id="CreateGroup"></span>
                            </div>*@

                    </div>
                    <div id="groupsid">
                        @*@(Html.Kendo().ListView<TeamViewModel>()
                                                                    .Name("listView12")
                                                                    .TagName("div")
                                                                    .ClientTemplateId("templateGroup")
                            //.DataSource(dataSource =>
                            //{
                            //    dataSource.Read(read => read.Action("ReadTeamDataByUser", "Team", new { Area = "Admin" }));
                            //    dataSource.PageSize(100);
                            //})
                            //.Pageable(false)
                            )*@
                    </div>
                    <div class="iconwothtext">
                        @*<div></div> <div class="leftmenustyle" id="moduleid" onclick="onModuleSelection('Admin')">
                                User Guides For Employees
                                <span id="addUserGuide" class="k-icon k-i-plus-outline" style="font-size: 18px; padding-left: 10px; color: gray; cursor:pointer" onclick="AddUserGuide('Admin')"></span>
                            </div>*@
                    </div>

                    <div class="iconwothtext">
                        @*<div></div> <div class="leftmenustyle" id="moduleMobileid" onclick="onModuleMobileSelection('Pms')">
                                User Guides For Mobile App
                                <span id="addMobileUserGuide" class="k-icon k-i-plus-outline" style="font-size: 18px; padding-left: 10px; color: gray; cursor:pointer" onclick="AddUserGuide('Pms')"></span>
                            </div>*@
                    </div>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-5" id="contenrt">
        <div class="sectionbox render" style="background-color:transparent; ">

            <div id="MainPost">
                @*@if (ViewBag.SilderBanner != null)
        {
            <div class="main-gallery" id="main-gallery">
                @foreach (var sb in ViewBag.SilderBanner)
                {
                    <div class="gallery-cell">
                        @if (sb.BannerContent != null)
                        {
                            <p>@sb.BannerContent</p>
                        }
                        <img src="/cms/Document/GetImageMongo?id=@sb.BannerImageId" />

                    </div>
                }
            </div>
        }*@
                @*@if (ViewBag.SilderBanner != null)
        {
        <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-pointer-events">
            <div class="swiper-wrapper" id="swiper-wrapper" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(-1549px, 0px, 0px);">
                @foreach (var sb in ViewBag.SilderBanner)
                {
                    <div class="swiper-slide swiper-slide-prev" role="group" style="width: 1519px; margin-right: 30px;">

                        <img src="/cms/Document/GetImageMongo?id=@sb.BannerImageId" />

                    </div>
                }
            </div>
            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-946382e5fc3e9bb3" aria-disabled="false"></div>
            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-946382e5fc3e9bb3" aria-disabled="false"></div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                @foreach (var sb in ViewBag.SilderBanner)
                {
                    <span class="swiper-pagination-bullet" tabindex="0" role="button"></span>
                }
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
            }*@
                @if (ViewBag.SilderBanner != null) { 
                    <div id="my-keen-slider" class="keen-slider">
                        @foreach (var sb in ViewBag.SilderBanner)
                        {
                            <div class="keen-slider__slide number-slide0">
                                <img src="/cms/Document/GetImageMongo?id=@sb.BannerImageId" />
                            </div>
                        }
                    </div>
                }
                <div class="no-gutter">
                    <div>
                        <div class="sectionbox2" style="height: 20px">
                            <div class="display-flex align-items-center mt2 mr4 ml4">
                                <div class="feed-shared-avatar-image b0 member mr2">
                                    @if (Model.base64Img == "")
                                    {
                                        <img width="64" height="64" src="~/images/profile.jpg" class="image Photo-circle-3">

                                    }
                                    else
                                    {
                                        <img width="64" height="64" src='@Model.base64Img' class="image Photo-circle-3" onerror='OnPhotoError(this);'>

                                    }
                                </div>
                                <button class="start-share-button" id="CreatePost">
                                    <span>
                                        @Resource["Createapost"]
                                    </span>
                                </button>
                            </div>
                            <span></span>
                        </div>
                    </div>
                    <div class="row" style="margin-left:0px;margin-right:5px;">
                        <div class="row" id="otherwallsid">
                            <div class="col-md-6" style="padding:5px">
                                <button type="button" class="k-button k-primary dropdown-toggle" id="followbutton" onclick="FollowPost()" style="display:none">
                                    @Resource["Follow"]

                                </button>

                                <button type="button" class="k-button k-primary dropdown-toggle" id="unfollowbutton" onclick="UnFollowPost()" style="display:none">
                                    @Resource["UnFollow"]

                                </button>

                            </div>
                            <div class="col-md-6" style="padding:10px">
                                <div id="cistomDrp">
                                    <style>
                                        #OtherWalls-list .k-item {
                                            width: 100%;
                                            background-color: #fff;
                                            padding-top: 3px;
                                            padding-bottom: 3px;
                                            border-bottom: 1px solid #f2f2f2;
                                            border-collapse: collapse;
                                        }

                                            #OtherWalls-list .k-item:hover {
                                                background-color: rgb(182,189,202);
                                            }

                                        #OtherWalls-list .k-state-selected, #SwitchToUserId-list .k-state-selected:hover {
                                            background-color: #1984c8;
                                            border-color: #1984c8;
                                        }

                                        .drp-bg {
                                            background-color: transparent;
                                            border: none;
                                            font-size: medium;
                                            color: gray;
                                        }

                                        .k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
                                            border-radius: 10px;
                                            background-color: transparent;
                                        }

                                        #OtherWalls {
                                            background-color: transparent;
                                            border: none;
                                            font-size: large;
                                        }
                                    </style>
                                    <script>
function AssignToValueMapper(options) {
$.ajax({
url: "@Url.Action("GetAssignToValueMapper", "Task")",
data: {
value: $("#OtherWalls").val() || 0,
assignToType: "User",
teamId: 0,
},
success: function (data) {
options.success(data);
}
});
}
                                    </script>

                                    @*@(Html.Kendo().DropDownListFor(x => x.OtherWalls)
                                                                                                                                                                                            .OptionLabel("Access Other Walls")
                                                                                                                                                                                            .Filter(FilterType.Contains)
                                                                                                                                                                                            .DataTextField("Name")
                                                                                                                                                                                            .Events(e => e.Change("OnUserChange"))
                                                                                                                                                                                            .DataValueField("Id")
                                                                                                                                                                                            .TemplateId("drp-user-custom-template")
                                                                                                                                                                                            .ValueTemplateId("drp-user-value-template")
                                                                                                                                                                                            .Height(300)
                                                                                                                                                                                            .HtmlAttributes(new { @class = " drp-bg" })
                                                                                                                                                                                            // .HtmlAttributes(Model.TaskVersionId == 0 ? (object)new { @readonly = "readonly", @class = "hr-xxl-large input-disabled drp-user" } : new { @class = "hr-xxl-large drp-user" })
                                                                                                                                                                                            .DataSource(source =>
                                                                                                                                                                                            {
                                                                                                                                                                                                source.Custom()
                                                                                                                                                                                                                                                                                        .ServerFiltering(true)
                                                                                                                                                                                                                                                                                        .ServerPaging(true)
                                                                                                                                                                                                                                                                                        .PageSize(100)
                                                                                                                                                                                                                                                                                        .Type("aspnetmvc-ajax")
                                                                                                                                                                                                                                                                                        .Transport(transport => transport.Read(r => r.Action("GetAssignToListVirtualData", "Task").Data("FilterByAssignToType")))
                                                                                                                                                                                                                                                                                        .Schema(schema =>
                                                                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                                                                            schema.Data("Data")
                                                                                                                                                                    .Total("Total");
                                                                                                                                                                                                                                                                                        });
                                                                                                                                                                                            })
                                                                                                                                                                                            .Virtual(v => v.ItemHeight(100).ValueMapper("AssignToValueMapper"))
                            )*@
                                </div>
                            </div>

                        </div>



                        @*<div class="sectionbox2" style="height: 20px" id="CreatePost">
                    <div class="row" style="margin-top:10px;margin-left:10px; ">
                        <div class="col-xs-2 col-md-2">
                            <img width="35" height="35" src="/cms/Document/getimagemongo?id=@_userContext.PhotoId" class="img-profile rounded-circle" onerror='OnPhotoError(this);'>
                        </div>
                        <div class="col-xs-10 col-md-10">
                            <div style="margin-top:5px;padding-left:10px;color:dimgray">@Resource["Createapost"]... </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                        </div>
                        <div class="col-xs-1 col-md-1">
                        </div>
                    </div><br />
                </div>*@
                    </div>
                    <hr />
                    <div id="scroliingSection" style="margin-top: -10px">
                        @{
                            await Html.RenderPartialAsync("/Areas/Cms/Views/LandingPage/_EndlessScrollList.cshtml", new EndlessScrollListViewModel { Name = "manageNoteList", UrlActionName = "ReadManagePost", UrlControlName = "LandingPage", UrlAreaName = "Cms", PageSize = 10, OrgId = Model.DepartmentId, HomeType = Model.HomeType });
                            //await Html.PartialAsync("/Areas/Cms/Views/LandingPage/OrgHome.cshtml");
                            //await Html.RenderPartialAsync("/Areas/Cms/Views/LandingPage/OrgHome.cshtml");
                        }
                    </div>
                </div>
                @Html.HiddenFor(x => x.DataAction)
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="sectionbox" style="height: 78vh;border: 1px solid rgba(0,0,0,0.3);">
            <div>
                <div class="col-md-12">
                    <div tyle="margin-top:10px;">
                        <div class="fontstyle col-xs-8" style="font-size: 12px; color: dimgray; font-weight: bold; text-align: left">
                            <div>@Resource["Announcements"]</div>
                        </div>
                        @*@if (2229.HasPermission())
                            {*@
                        <div class="fontstyle col-xs-4" style="font-size: 18px; color: darkslateblue; font-weight: normal; text-align: right; cursor: pointer">

                        </div>
                        @*}*@
                    </div>
                    <div class="profilemenustyle col-md-12 " style="padding: 4px;" id="AnnouncementPost">
                        @{
                            await Html.RenderPartialAsync("~/Areas/Cms/Views/LandingPage/_Announcements.cshtml", new NoteSearchViewModel { Operation = DataOperation.Read, Type = "Self", ReturnUrl = "/Cms/LandingPage/ManagePost" });

                        }

                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-1 dahboard-height">

        </div>
    </div>
</div>


<script>
    debugger;    var animation = { duration: 10000, easing: (t) => t }

    var slider = new KeenSlider("#my-keen-slider", {
        loop: true,
        renderMode: "free-snap",
        drag: false,
        slides: {
            spacing: 15,
        },
        created(s) {
            s.moveToIdx(5, true, animation)
        },
        updated(s) {
            s.moveToIdx(s.track.details.abs + 5, true, animation)
        },
        animationEnded(s) {
            s.moveToIdx(s.track.details.abs + 5, true, animation)
        },
    })
    document.addEventListener("DOMContentLoaded", function () {           });

   
</script>