@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Service Agreement";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model ApplicationViewModel
<style>
    @@media print {
        #printPageButton {
            display: none;
        }
        #downloadPageButton {
            display: none;
        }
        a[href]:after {
            content: none !important;
        }
        @@page {
            
            margin: 0;
            size: A4;
            /*margin: 1cm;*/
        }
        .container{
            margin:1cm;
            padding-right:1cm;
        }

    }
    body {
        background-color: #ffffff;
    }
    .avatar-mysign {
        height: 80px;
        width: 150px;
    }
    .avatar-approvsign {
        height: 40px;
        width: 100px;
    }
    .p_2paragraph_1{
        font-size:16px;
    }
    .p_foot{
        margin-top:0px;
    }
    .detail-label{
        font-weight:bold
    }
    .col-form-label{
        font-size:16px;
    }
}
</style>
<script>
    //function getPDF(selector) {
    //    
    //    kendo.drawing.drawDOM($(selector)).then(function (group) {
    //        kendo.drawing.pdf.saveAs(group, "FinalOffer.pdf");
    //    });
    //}

    function getPDF(selector) {
        
        kendo.drawing.drawDOM($(selector)).then(function (group) {
            return kendo.drawing.exportPDF(group, {
                margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
            });
        }).then(function (data) {
            kendo.saveAs({ dataURI: data, fileName: "FinalOffer.pdf" });
        });
    }

</script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>driver</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Rec/recruitment.css">
</head>

<body>
    <input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
    <button id="downloadPageButton" class="export-pdf k-button" onclick="getPDF('.container')">Download</button>
    <form asp-controller="RecruitmentProcess" asp-action="ServiceAgreement" method="post" class="form-horizontal">
        <nav class="navbar navbar-light navbar-expand-md">
            <div @*class="container"*@><a class="navbar-brand" href="#"></a></div>
        </nav>
        <div class="div_main">
            <div class="container container_main">
                <img class="p-2" src="~/images/OfferHeader.png" style="width:100%;">
                <div class="m-md-3">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-uppercase body_header">SERVICE AGREEMENT</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="p_2paragraph_2">(In respect of Expatriate Employees only)<br></p>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-12">
                            <label class="col-form-label" style="font-size:16px; text-align:center">Name of the Employer: Galfar Al Misnad Engineering &amp; Contracting W.L.L<br></label>
                        </div>
                    </div>*@
                    <div class="row" style="text-align:left">
                        <div class="col-12">

                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label detail-label">Name of the Employer&nbsp;</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8"><label class="col-form-label">: Galfar Al Misnad Engineering &amp; Contracting W.L.L</label></div>
                                                                
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label detail-label">Name of Employee&nbsp;</label></div>
                                <div class="col-sm-3 col-md-4 col-lg-4 col-xl-4"><label class="col-form-label">: @Html.DisplayFor(x => x.TitleName) @Html.DisplayFor(x => x.FullName)</label></div>

                                <div class="col-sm-2 col-md-2 col-lg-2"><label class="col-form-label detail-label">GAEC</label></div>
                                <div class="col-sm-3 col-md-3 col-lg-3"><label class="col-form-label">: @Html.DisplayFor(x => x.GaecNo)</label></div>
                            </div>
                            <div class="row"> 
                                <div class="col-sm-3 col-md-3 col-lg-3"><label class="col-form-label detail-label">Nationality</label></div>
                                <div class="col-sm-3 col-md-4 col-lg-4"><label class="col-form-label">: @Html.DisplayFor(x => x.NationalityName)</label></div>

                                <div class="col-sm-2 col-md-2 col-lg-2"><label class="col-form-label detail-label">Passport No</label></div>
                                <div class="col-sm-3 col-md-3 col-lg-3"><label class="col-form-label">: @Html.DisplayFor(x => x.PassportNumber)</label></div>

                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3"><label class="col-form-label detail-label">Designation</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9"><label class="col-form-label">: @Html.DisplayFor(x => x.OfferDesigination)</label></div>

                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">This agreement made on @*03.01.2021*@   @Html.DisplayFor(x => x.ContractDate) is valid for a period of 18 Months from the date of joining and shall be considered automatically null and void unless renewed by mutual consent.&nbsp;This Agreement is governed by the Labour Laws of State of Qatar with the following exceptions accepted by both the parties for convenience.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">The basic salary of the employee shall be <strong>QRs.@Html.DisplayFor(x => x.Basic)&nbsp;+&nbsp;@Html.DisplayFor(x => x.SafetyAllowance)/- (Safety Allowance)</strong>&nbsp;per month plus Overtime if applicable.&nbsp;Employer shall provide Employee with the free Food, Accommodation, Medical &amp; Safety Gears. Other terms and conditions will be governed by the rules in vogue from time to time.<br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">You will be on probation for a period of 6 months from the date of joining to establish your suitability.&nbsp;During probation if you are found unsuitable, you will be repatriated at your own expense without serving any prior written notice or notice pay.&nbsp;<br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">The employee is liable to be posted anywhere in the State of Qatar (or) in any country / place where the company has its office or operations.&nbsp;The employee is also liable to obtain Qatar Operator / Driving License upon his joining duty.<br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">The company will bear the cost of travel for the employee to join service subject to the condition that airfare will be limited to fare from the nearest touch-down point in the country of domicile to State of Qatar. <br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">The employee should work with the company for a minimum of 18 months, in case the employee leaves the company or goes on leave, before the completion of the said period then the expenses incurred towards his visa, immigration formalities will be withheld by the company till his return.<br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">Leave salary will be accrued at the rate of 21 days salary for every 12 months continuous service and the same can be availed only after every 18 months. <br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">On completion of every 18 months continuous service, the employee shall be eligible for to &amp; fro air passage in economy class to the nearest touch-down point of the country of his domicile.<br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">This Agreement is subject to your submission of Medical Certificate from a reputed medical centre (complete blood investigation including HIV-I &amp; II, Blood Group, Chest X-ray, etc.), Xerox copies of all pages of Passport and subsequent receipt of visa from the State of Qatar. This Agreement is also subject to the condition that only after the employee has been declared medically fit by the Qatar Medical Commission, he can continue the service. If found medically unfit shall be repatriated at his own cost. <br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">Besides these conditions, the employee will be governed by conditions stipulated in the Service Agreement and rules and regulations of the Company from time to time.<br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p_2paragraph_1">The service contract can be terminated with applicable notice period as stipulated in Qatar Labour Law Article (49).</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6" style="padding-top:80px">
                                    @if (Model.SignatureId != null)
                                    {
                                        <img class="avatar-mysign" src="/user/SignaturePhoto?id=@Model.SignatureId" onerror='OnPhotoError(this);' />
                                    }
                                </div>
                                <div class="row" style="padding-left:100px">
                                    <div class="col-12 col-sm-6">
                                        @if (Model.SignatureId3 != null)
                                        {
                                            <img class="avatar-mysign" src="/cms/Document/GetFileMongo?fileId=@Model.SignatureId3" onerror='OnPhotoError(this);' />
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <p class="text-uppercase p_foot" style="margin-top:0px">EMPLOYEE</p>
                                </div>
                                <div class="row" style="padding-left:100px">
                                    <div class="col-12 col-sm-6">
                                        <p class="text-uppercase p_foot" style="margin-top:0px">EMPLOYER</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    
                                </div>
                                <div class="row" style="padding-left:100px">
                                    <div class="col-12 col-sm-6" style="display:flex;">
                                        @if (Model.SignatureId1 != null)
                                        {
                                            <img class="avatar-approvsign" src="/cms/Document/GetFileMongo?fileId=@Model.SignatureId1" onerror='OnPhotoError(this);' />
                                        }
                                        @if (Model.SignatureId2 != null)
                                        {
                                            <img class="avatar-approvsign" src="/cms/Document/GetFileMongo?fileId=@Model.SignatureId2" onerror='OnPhotoError(this);' />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer><img class="img-fluid" src="~/images/clipboard-image-1.png"></footer>
                    </div>
                </div>
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </div></div>
                </form>
</body>

</html>