@using CMS.Data.Model
@using CMS.UI.ViewModel
@using CMS.Common;
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Requirement Dashboard";
    // Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}
@model ApplicationViewModel
<style>
    .div_main {
        margin: 30px;
    }

    .table {
        width: 100%;
        /*margin-bottom: 1rem;*/
        color: #212529;
        background: #f0f0f0;
        border-radius: 6px;
    }

    .header-row {
        background-color: #1D4993;
        color: #ffffff;
        text-align: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        text-decoration: underline;
        font-size: 18px;
        height: 40px;
    }

    .header-row-2 {
        background-color: #1D4993;
        color: #ffffff;
        text-align: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        text-decoration: underline;
        font-size: 16px;
        height: 32px;
        vertical-align: middle;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header-row-1 {
        background-color: #1D4993;
        color: #ffffff;
        text-align: center;
        text-decoration: underline;
        font-size: 16px;
        height: 32px;
        margin-bottom: 0px;
    }

    .tab-scroll {
        overflow-x: scroll;
        border-radius: 6px;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        -webkit-overflow-scrolling: touch;
    }

    .header_gaec {
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        padding-bottom: 6px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #ffffff;
    }

    tr:nth-child(even) {
        background-color: #dcdada;
    }

    .label_header {
        margin-left: 2px;
        padding-left: 6px;
    }

    .col_all {
        padding: 0px;
        margin: 0px;
        /*height: 40px;*/
    }

    .label_bold {
        font-weight: 700;
    }

    .hr_line {
        border-style: solid;
        border-color: #353535;
        margin-bottom: 6px;
        border-width: 1px;
        margin-top: 130px;
    }

    .hr_line_1 {
        border-style: solid;
        border-color: #353535;
        margin-bottom: 6px;
        border-width: 1px;
        margin-top: 50px;
    }

    .hr_line_1 {
        border-style: solid;
        border-color: #353535;
        /*margin-bottom: 6px;*/
        border-width: 1px;
        /*margin-top: 130px;*/
        margin-left: 16px;
        margin-right: 16px;
    }

    .col_sign {
        padding-left: 90px;
        text-align: center;
        padding-right: 90px;
        padding-top: 90px;
    }

    .tab-scroll {
        overflow-x: scroll;
    }

    .txt-attribute {
        font-size: 14px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #ffffff;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        -webkit-overflow-scrolling: touch;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        background: #f0f0f0;
    }

    tr:nth-child(even) {
        background-color: #dcdada;
    }

    .table-header-row {
        background-color: #1D4993;
        color: #ffffff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .row_box {
        border-style: solid;
        /*border-color: #1d4993;*/
        border-width: 0.5px;
        border-radius: 6px;
        margin: 6px;
        margin-top: 20px;
    }

    .row_all {
        padding-bottom: 9px;
    }

    /*    body {
        font-size: 14px;
    }*/

    .text-left {
        font-weight: 600;
        color: black;
    }
    @@media print {
        #printPageButton {
            display: none;
        }
        #downloadPageButton {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }
        @@page {
            size: auto;
            margin: 0;
        }
    }  
</style>
<script>
    function getPDF(selector) {
        
        kendo.drawing.drawDOM($(selector)).then(function (group) {
            kendo.drawing.pdf.saveAs(group, "PersonalDate.pdf");
        });
    }
</script>
<input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
<button class="export-pdf k-button" onclick="getPDF('.container')" id="downloadPageButton">Download</button>
<div class="div_main">
    <div class="container">
        <div class="row row_box">
            <div class="col-xl-12 col_all">
                <h3 class="text-uppercase d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-center header-row-2">personal data</h3>
            </div>
            <div class="col-12 mt-1">
                <div class="row row_all">
                    <div class="col-lg-6 col-xl-5"><label class="col-form-label text-left">Employee's Name</label></div>
                    <div class="col-lg-6 col-xl-7">
                        @Html.DisplayFor(x => x.TitleName) @Html.DisplayFor(x => x.FirstName)
                          </div >

                           </div >

                       </div >

                       <div class="col-12">
                      <div class="row row_all">
                          <div class="col-lg-6 col-xl-5"><label class="col-form-label text-left">GAEC No</label></div>
                          <div class="col-lg-6 col-xl-7">
                    @*<label class="col-form-label text-uppercase">32808</label>*@
@Html.DisplayFor(x => x.GaecNo)
</div>
</div>
</div>
<div class="col-12">
<div class="row row_all">
<div class="col-lg-6 col-xl-5"><label class="col-form-label text-left">Next of Kin</label></div>
<div class="col-lg-6 col-xl-7">
                    @*<label class="col-form-label text-uppercase">#N/A</label>*@
@Html.DisplayFor(x => x.NextOfKin)
</div>
</div>
</div>
<div class="col-12">
<div class="row row_all">
<div class="col-lg-6 col-xl-5"><label class="col-form-label text-left">Relationship</label></div>
<div class="col-lg-6 col-xl-7">
                    @*<label class="col-form-label text-uppercase">#N/A</label>*@
@Html.DisplayFor(x => x.NextOfKinRelationship)
</div>
</div>
</div>
<div class="col-12">
<div class="row row_all">
<div class="col-lg-6 col-xl-5"><label class="col-form-label text-left">Mailing Address of Next of Kin</label></div>
<div class="col-lg-6 col-xl-7">
                    @*<label class="col-form-label text-uppercase">#N/A</label>*@
@Html.DisplayFor(x => x.NextOfKinEmail)
</div>
</div>
</div>
<div class="col-12">
<div class="row row_all">
<div class="col-lg-6 col-xl-5"></div>
<div class="col-1 col-lg-1 col-xl-1"><label class="col-form-label">Tel&nbsp;</label></div>
<div class="col-lg-5 col-xl-6">
                    @*<label class="col-form-label text-uppercase">#N/A</label>*@
@Html.DisplayFor(x => x.NextOfKinPhoneNo)
</div>
</div>
</div>
<div class="col-12">
<div class="row row_all">
<div class="col-lg-6 col-xl-5"><label class="col-form-label text-uppercase text-left">signature</label></div>
<div class="col-lg-6 col-xl-7">
<label>x</label>
<hr class="hr_line_1">
</div>
</div>
</div>
<div class="col-12 pt-2 pb-2">
<div class="row">
<div class="col-lg-6 col-xl-5"><label class="col-form-label text-left">In case of any eventuality, whom to be contacted other than Next of Kin&nbsp; (Name, Address and Tel.No)<br></label></div>
                    @*<div class="col-lg-6 col-xl-7 pt-1">
        <p class="justify-content-xl-start align-items-xl-center text-left">
            Name- @Html.DisplayFor(x => x.OtherNextOfKin)
            <br>
            Address- @Html.DisplayFor(x => x.OtherNextOfKinEmail)
        </p>
    </div>*@
</div>
                    @*<div class="row row_all">
        <div class="col-lg-6 col-xl-5"></div>
        <div class="col-1"><label class="col-form-label text-left">PIN&nbsp;</label></div>
        <div class="col-lg-5 col-xl-6"><label class="col-form-label text-uppercase">#N/A</label></div>
    </div>*@
</div>
<div class="col-12">
<div class="row row_all">
<div class="col-lg-6 col-xl-5"></div>
<div class="col-1"><label class="col-form-label text-left">Name&nbsp;</label></div>
<div class="col-lg-5 col-xl-6">
                    @*<label class="col-form-label">#N/A</label>*@
@Html.DisplayFor(x => x.OtherNextOfKin)
</div>
<div class="col-lg-6 col-xl-5"></div>
<div class="col-1"><label class="col-form-label text-left">Address&nbsp;</label></div>
<div class="col-lg-5 col-xl-6">
                    @*<label class="col-form-label">#N/A</label>*@
@Html.DisplayFor(x => x.OtherNextOfKinEmail)
</div>
<div class="col-lg-6 col-xl-5"></div>
<div class="col-1"><label class="col-form-label text-left">Tel&nbsp;</label></div>
<div class="col-lg-5 col-xl-6">
                    @*<label class="col-form-label">#N/A</label>*@
@Html.DisplayFor(x => x.OtherNextOfKinPhoneNo)
</div>
</div>
</div>
<div class="col-12">
<div class="row">
<div class="col-md-6 col_sign">
<hr class="hr_line"><label class="label_bold">Signature of Employee</label>
</div>
<div class="col-5 col-md-1 float-right align-self-end"><label class="col-form-label float-right mb-md-5 text-left">Date&nbsp;</label></div>
<div class="col-6 col-md-5 align-self-end mb-md-5"><label class="col-form-label float-left">@DateTime.Now</label></div>
</div>
</div>
</div>
</div>
</div>
                    @*@Html.HiddenFor(x => x.ApplicationId)*@




