@using CMS.Data.Model
@using CMS.UI.ViewModel
@using CMS.Common;
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Requirement Dashboard";
    // Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}
@model ApplicationViewModel
<style>
    .div_main {
        margin: 30px;
    }

    .table {
        width: 100%;
        /*margin-bottom: 1rem;*/
        color: #212529;
        background: #f0f0f0;
        border-radius: 6px;
    }

    .header-row {
        /*background-color: #1D4993;*/
        color: black;
        text-align: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        text-decoration: underline;
        font-size: 18px;
        height: 40px;
    }

    .header-row-2 {
        /*background-color: #1D4993;*/
        color: black;
        text-align: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        text-decoration: underline;
        font-size: 16px;
        height: 32px;
        vertical-align: middle;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header-row-1 {
        background-color: #1D4993;
        color: #ffffff;
        text-align: center;
        text-decoration: underline;
        font-size: 16px;
        height: 32px;
        margin-bottom: 0px;
    }

    .tab-scroll {
        overflow-x: scroll;
        border-radius: 6px;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        -webkit-overflow-scrolling: touch;
    }

    .header_gaec {
        overflow: auto;
        /*box-shadow: 2px 2px 4px #ccc;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;*/
        padding-bottom: 6px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #ffffff;
    }

    tr:nth-child(even) {
        background-color: #dcdada;
    }

    .label_header {
        margin-left: 2px;
        padding-left: 6px;
    }

    .col_all {
        padding: 0px;
        margin: 0px;
        /*height: 40px;*/
    }

    .label_bold {
        font-weight: 700;
    }

    .hr_line {
        border-style: solid;
        border-color: #353535;
        margin-bottom: 6px;
        border-width: 1px;
        margin-top: 130px;
    }

    .hr_line_1 {
        border-style: solid;
        border-color: #353535;
        margin-bottom: 6px;
        border-width: 1px;
        margin-top: 50px;
    }

    .hr_line_1 {
        border-style: solid;
        border-color: #353535;
        /*margin-bottom: 6px;*/
        border-width: 1px;
        /*margin-top: 130px;*/
        margin-left: 16px;
        margin-right: 16px;
    }

    .col_sign {        
        padding-right: 90px;
        padding-top: 90px;
    }

    .tab-scroll {
        overflow-x: scroll;
    }

    .txt-attribute {
        font-size: 14px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #ffffff;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        -webkit-overflow-scrolling: touch;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        background: #f0f0f0;
    }

    tr:nth-child(even) {
        background-color: #dcdada;
    }

    .table-header-row {
        background-color: #1D4993;
        color: #ffffff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .row_box {
        border-style: solid;
        /*border-color: #1d4993;*/
        border-width: 0.5px;
        border-radius: 6px;
        margin: 6px;
        margin-top: 20px;
    }

    .row_all {
        padding-bottom: 9px;
    }

    /*    body {
        font-size: 14px;
    }*/

    .text-left {
        font-weight: 600;
        color: black;
    }

    @@media print {
        #printPageButton {
            display: none;
        }
        #downloadPageButton {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }

        @@page {
            size: auto;
            margin: 0;
        }
    }
</style>
<script>
    function getPDF(selector) {
        
        kendo.drawing.drawDOM($(selector)).then(function (group) {
            kendo.drawing.pdf.saveAs(group, "JoiningReport.pdf");
        });
    }
</script>
<input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
<button class="export-pdf k-button" onclick="getPDF('.container')" id="downloadPageButton">Download</button>
<div class="div_main">
    <div class="container header_gaec">
        <img src="~/images/galfar-25yrs.jpg" style="width:20%;"/>
        <div class="row row_all">
            <div class="col-12 col_all">
                <h5 class="text-uppercase d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center header-row">Joining Report</h5>
            </div>
        </div>
        <div class="row row_box row_all">
            <div class="col-xl-12 col_all">
                <h2 class="text-uppercase d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-sm-center align-items-lg-center header-row-2">Staff</h2>
            </div>          


            <div class="col-12" style="padding-top:30px;">
                <div class="row row_all">
                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">To</div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        Date : &nbsp;
                        @Html.DisplayFor(x => x.CandJoiningDate)
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row_all">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top:40px;"><p>The Executive Director<br />Galfar Al Misnad Engg & Contg W.L.L<br /><strong style="text-decoration:underline">Doha – State of Qatar</strong></p></div>

                </div>
            </div>
            <div class="blnk-space"></div>
            <div class="col-12">
                <div class="row row_all">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5" style="padding-top:40px;"><p>Dear Sir,</p></div>
                    <div class="col-lg-6 col-xl-7">
                    </div>
                </div>
            </div>
            <br />
            <div class="col-12">
                <div class="row row_all">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top:20px;"><p>I hereby join duty on<strong> @Html.DisplayFor(x => x.CandJoiningDate)</strong> at <strong>@Html.DisplayFor(x => x.JoiningTime) hrs</strong> on my new appointment. This is for information and record please.</p></div>

                </div>
            </div>
            <div class="col-12">
                <div class="row row_all">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top:20px;"><p>Thanking You,</p></div>

                </div>
            </div>
            <div class="col-12">
                <div class="row row_all" style="padding-top:30px;">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5" ><label class="col-form-label text-uppercase text-left">Signature</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-7 col-form-label" >: </div>
                </div>
            </div>
            <div class="col-12 pt-1">
                <div class="row row_all mt-1">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5"><label class="col-form-label text-uppercase text-left">Name</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-7 col-form-label" style="font-size:14px;">
                        @*<label class="col-form-label text-uppercase">#N/A</label>*@
                        : @Html.DisplayFor(x => x.TitleName) @Html.DisplayFor(x => x.FullName)
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row_all">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5"><label class="col-form-label text-uppercase text-left">GAEC NO</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-7 col-form-label" style="font-size:14px;">
                        @*<label class="col-form-label text-uppercase">#N/A</label>*@
                        : @Html.DisplayFor(x => x.GaecNo)
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row row_all">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5"><label class="col-form-label text-uppercase text-left">Designation</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-7 col-form-label" style="font-size:14px;">
                        @*<label class="col-form-label text-uppercase">#N/A</label>*@
                        : @Html.DisplayFor(x => x.OfferDesigination)
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row_all">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5"><label class="col-form-label text-uppercase text-left">Job No</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-7 col-form-label" style="font-size:14px;">
                        @*<label class="col-form-label text-uppercase">#N/A</label>*@
                        : @Html.DisplayFor(x => x.JobNo)
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row row_all">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-5"><label class="col-form-label text-uppercase text-left">NATIONALITY</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-7 col-form-label" style="font-size:14px;">
                        @*<label class="col-form-label text-uppercase">#N/A</label>*@
                        : @Html.DisplayFor(x => x.NationalityName)
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-12">
                <div class="row row_all" style="text-align: center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><label style="text-decoration:underline;font-size:18px;">Comments by Personnel Department</label></div>

                </div>
                <hr style="border-top: 1px dashed grey;" />
                <hr style="        border-top: 1px dashed grey;" />
                <hr style="        border-top: 1px dashed grey;" />
                <hr style="        border-top: 1px dashed grey;" />
            </div>

            <div class="col">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col_sign">
                        <label class="label_bold"style="text-decoration:underline;font-size:18px;">Signature of the Authorised Officer</label>
                    </div>
                    
                </div>
            </div>

         </div>
    </div>
</div>
@Html.HiddenFor(x => x.ApplicationId)




