@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Service Agreement";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";

}

@model ApplicationViewModel
<style>
    @@media print {
        #printPageButton {
            display: none;
        }

        #downloadPageButton {
            display: none;
        }
        /*a[href]:after {
            content: none !important;
        }*/
        @@page {
            size: A4;
            /*margin: 1cm;*/
            margin: 0;
        }

        .container {
            margin: 1cm;
            padding-right: 1cm;
        }
    }

    body {
        background-color: #ffffff;
    }

    .avatar-mysign {
        height: 80px;
        width: 150px;
    }

    .avatar-approvsign {
        height: 40px;
        width: 100px;
    }

    .header-box {
        padding: 0px 12px 0px 12px;
    }

    p {
        text-align: justify;
        font-size: 16px;
    }

    .para {
        padding-top: 18px;
    }
</style>

<script>
    //function getPDF(selector) {
    //
    //    kendo.drawing.drawDOM($(selector)).then(function (group) {
    //        kendo.drawing.pdf.saveAs(group, "FinalOffer.pdf");
    //    });
    //}

    function getPDF(selector) {

        kendo.drawing.drawDOM($(selector)).then(function (group) {
            return kendo.drawing.exportPDF(group, {
                margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
            });
        }).then(function (data) {
            kendo.saveAs({ dataURI: data, fileName: "FinalOffer.pdf" });
        });
    }
</script>

<!DOCTYPE html>
<html>

@*<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>driver</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/Rec/recruitment.css">
    </head>*@

<body>
    <input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
    <button id="downloadPageButton" class="export-pdf k-button" onclick="getPDF('.container')">Download</button>
    <div class="container">

        <!--<div class="row">
        <div class="col header-box">
            <div class="wsa-title-bg">
                <div class="row">-->
        @*<div class="col-sm-4 col-xl-3 white-col"><img class="logo-galfar" src="~/images/Galfar-logo.png"></div>*@
        <!--<div class="col-sm-4 col-xl-3 white-col"><img class="logo-galfar" src="~/images/OfferHeader.png"></div>
        <div class="col-sm-8 col-xl-9 white-col">-->
        @*<h4 class="galfar-caption">Galfar Al Misnad<br>Engineering &amp; Contracting WLL</h4>*@
        <!--</div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col content-box">
                <header><img class="p-2" src="~/images/OfferHeader.png" style="width:100%;"></header>
                <div class="row">
                    <div class="col">
                        <h4 class="text-center">SERVICE AGREEMENT<br></h4>
                        <h6 class="text-center">(In respect of Expatriate Employees only)<br></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label">Name of the Employer@*&nbsp;*@<br></label></div>
                            <div class="col"><label>&nbsp;: Galfar Al Misnad Engineering &amp; Contracting W.L.L<br></label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label">Name of Employee<br></label></div>
                            <div class="col-sm-4 col-md-4 col-lg-3 col-xl-3" style="font-size:14px;"><label class="col-form-label">: @Html.DisplayFor(x => x.TitleName) @Html.DisplayFor(x => x.FullName)</label></div>

                            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-2"><label class="col-form-label">GAEC<br></label></div>
                            <div class="col-3 col-md-3 col-lg-3" style="font-size:14px;"><label class="col-form-label">: @Html.DisplayFor(x => x.GaecNo)</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label">Passport No<br></label></div>
                            <div class="col-sm-4 col-md-4 col-lg-3 col-xl-3" style="font-size:14px;"><label class="col-form-label">: @Html.DisplayFor(x => x.PassportNumber)</label></div>
                            <div class="col-sm-2 col-md-2 col-lg-3 col-xl-2"><label class="col-form-label">Nationality<br></label></div>
                            <div class="col-sm-3 col-md-3 col-lg-3" style="font-size:14px;"><label class="col-form-label">: @Html.DisplayFor(x => x.NationalityName)</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2"><label class="col-form-label">Designation</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8" style="font-size:14px;"><label class="col-form-label">: @Html.DisplayFor(x => x.OfferDesigination)</label></div>
                        </div>

                        <div class="row">
                            <div class="col para">
                                <p>This agreement made on&nbsp;@*<input type="text" class="date-sm">.12.2020*@ @Html.DisplayFor(x => x.ContractDate) is valid for a period of 24 Months from the date of joining and shall be considered automatically null and void unless renewed by mutual consent. This Agreement is governed by the Labour Laws of State of Qatar with the following exceptions accepted by both the parties for convenience.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>The basic salary of the employee shall be <strong>QRs.@Html.DisplayFor(x => x.Basic)/- (Qatari Riyals&nbsp;@Html.DisplayFor(x => x.BasicInWords) Only)</strong> per month plus Over Time, if applicable. Once the employee Qualify the Welding Qualification Test conducted at Qatar his basic salary will be revised to <strong>QRs.@Html.DisplayFor(x => x.Basic)/- (Qatari Riyals &nbsp;@Html.DisplayFor(x => x.BasicInWords) Only)</strong> w.e.f date of welder Qualification. Employer shall provide Employee with the free Food, Accommodation, Medical &amp; Safety Gears. Other terms and conditions will be governed by the rules in vogue from time to time.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>You will be on probation for a period of 6 months from the date of joining to establish your suitability. During probation if you are found unsuitable, you will be repatriated at your own expense without serving any prior written notice or notice pay.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>The employee is liable to be posted anywhere in the State of Qatar (or) in any country / place where the company has its office or operations.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>The company will bear the cost of travel for the employee to join service subject to the condition that airfare will be limited to fare from the nearest touch-down point in the country of domicile to State of Qatar.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>The employee should work with the company for a minimum of 24 months, in case the employee leaves the company or goes on leave, before the completion of the said period then the expenses incurred towards his visa, immigration formalities will be withheld by the company till his return.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>Leave salary will be accrued at the rate of 21 days salary for every 12 months continuous service and the same can be availed only after every 24 months of service.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>On completion of every 24 months continuous service, the employee shall also be eligible for to &amp; fro air passage in economy class to the nearest touch-down point of the country of his domicile.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>This Agreement is subject to your submission of Medical Certificate from a reputed medical centre (complete blood investigation including HIV-I &amp; II, Blood Group, Chest X-ray, etc.), Xerox copies of all pages of Passport and subsequent receipt of visa from the State of Qatar. This Agreement is also subject to the condition that only after the employee has been declared medically fit by the Qatar Medical Commission, he can continue the service. If found medically unfit shall be repatriated at his own cost.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>Besides these conditions, the employee will be governed by conditions stipulated in the service agreement and rules and regulations of the Company from time to time.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col para">
                                <p>The service contract can be terminated with applicable notice period as stipulated in Qatar Labour Law Article (49).&nbsp;</p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                @*<hr>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6" style="padding-top:80px">
                                @if (Model.SignatureId != null)
                                {
                                    <img class="avatar-mysign" src="/user/SignaturePhoto?id=@Model.SignatureId" onerror='OnPhotoError(this);' />
                                }
                            </div>
                            <div class="row" style="padding-left:100px">
                                <div class="col-12 col-sm-6">
                                    @if (Model.SignatureId3 != null)
                                    {
                                        <img class="avatar-mysign" src="/cms/Document/GetFileMongo?fileId=@Model.SignatureId3" onerror='OnPhotoError(this);' />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <p class="text-uppercase p_foot" style="margin-top:0px">EMPLOYEE</p>
                            </div>
                            <div class="row" style="padding-left:100px">
                                <div class="col-12 col-sm-6">
                                    <p class="text-uppercase p_foot" style="margin-top:0px">EMPLOYER</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">

                            </div>
                            <div class="row" style="padding-left:100px">
                                <div class="col-12 col-sm-6" style="display:flex;">
                                    @if (Model.SignatureId1 != null)
                                    {
                                        <img class="avatar-approvsign" src="/cms/Document/GetFileMongo?fileId=@Model.SignatureId1" onerror='OnPhotoError(this);' />
                                    }
                                    @if (Model.SignatureId2 != null)
                                    {
                                        <img class="avatar-approvsign" src="/cms/Document/GetFileMongo?fileId=@Model.SignatureId2" onerror='OnPhotoError(this);' />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col header-box row-bot-margin">
                <div class="footer-bg">
                    <div class="row">
                        <footer><img class="img-fluid" style="width:1000px;height:75px;" src="~/images/clipboard-image-1.png"></footer>
                        @*<div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 white-col" style="margin-left:5px;margin-top: 15px;"><img class="foot-logo-galfar" src="~/images/galfar-25yrs.jpg"></div>*@
                        @*<div class="col-sm-8 col-md-9 col-lg-6 col-xl-9 white-col">
                                <h3 class="foot-content">P.O. Box : 22170, Doh - Qatar - Tel: +97444332500, <br />Fax: +97444332501, C.R. No.:17875<br><br>Capital - 30 Million (with limited liability) <br /> Email:galfar@qatar.net.qa - www.galfarqatar.com.qa</h3>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>