@inject IStringLocalizer<CMS.UI.Web.Areas.PJM.Controllers.ProjectDashboardController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@model ProgramDashboardViewModel

@{
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = null;
}




<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
</head>

<style>
    #Project {
        height: 400px;
    }

    .resourceChart {
        overflow: auto;
    }


    .k-listview-content {
        padding-left: 25px;
        width: 100%;
    }

    .ui-item {
        padding: 29px;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }

    .card {
        min-height: 100px;
    }

    h5, .h5 {
        font-size: 14px;
        font-weight: bold;
    }

    body {
        background-color: #efefef87;
    }

    .nav-side-menu li:hover {
        border-left: 3px solid #d19b3d;
        background-color: #ff7a5961;
    }

    .nav-side-menu li a {
        text-decoration: none;
        color: #2c3131e3;
        font-size: 12px;
    }

    .nav-side-menu li {
        padding-left: 0px;
        border-left: 0px;
        border-bottom: 0px;
    }

    .nav-side-menu {
        position: fixed;
        overflow: auto;
        font-family: verdana;
        font-size: 10px;
        font-weight: 200;
        background-color: #ffffff;
        top: 0px;
        height: 100%;
        color: #394848;
        margin-bottom: 10px;
        margin-top: 50px;
        padding-top: 15px;
        width: 225px;
        /* border-right: 1px solid; */
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.22), 0 7px 10px -5px #fff;
        border: 1px solid #eee;
    }

    .Card-header {
        padding: 10px 15px;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        background: #F8F9FB;
        color: #5191bd;
        font-weight: bold;
        font-size: 14px;
    }

    .label {
        border-radius: 1.25em;
    }

    .label-info {
        background-color: #34bfa3;
    }

    .Pills {
        /*background-color: #428bca;*/
        background-color: #22b9ff !important;
        border: none;
        color: #fff;
        padding: 6px 20px !important;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0px 6px !important;
        cursor: pointer;
        border-radius: 22px !important;
        font-size: 12px !important;
    }

        .Pills:hover {
            background-color: #428bca;
        }

    .board {
        height: 300px;
        overflow-y: scroll;
        background: #F0F1F1;
    }

        .board k-widget k-listview {
            background: #F0F1F1;
            color: black;
        }

    .k-listview {
        border: none;
    }

    .amont {
        color: #22b9ff !important;
    }

    .contract {
        font-size: 1.0em;
    }

    .cursor {
        cursor: pointer;
    }

    .Card-header .k-dropdown-wrap {
        border-radius: 25px !important;
        font-size: 15px;
    }

    #rect {
        /*        position: absolute;
    */ width: 1026px;
        height: 120px;
        left: 389px;
        top: 106px;
        background: #CBD0CE;
        border-radius: 6px;
    }

    #rect-txt {
        /* position: absolute;*/
        /* padding: 16px 844px 80px 20px;*/
        width: auto;
        height: 24px;
        left: 409px;
        top: 122px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        color: #4E4D4D;
    }

    #card-txt {
        /*        width: 52px;
        height: 24px;
        left: 468px;
        top: 224px;*/
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        text-align: center;
        color: #292929;
    }

    .card1 {
        width: 200px;
        height: 120px;
        left: 419px;
        top: 165px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px 2px #A1BEED;
        border-radius: 6px;
    }

    .card2 {
        width: 480px;
        height: 357px;
        left: 389px;
        top: 334px;
        background: #F0F1F1;
        border-radius: 6px;
    }

    #card2-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        color: #353535;
    }

    #icons-size {
        left: 47.08%;
        right: 50.75%;
        top: 17.68%;
        bottom: 78.81%;
    }

    #list-icons-size {
        left: 28.47%;
        right: 70.06%;
        top: 38.96%;
        bottom: 58.69%;
    }

    #ProjectTask1, #ProjectTask {
        padding: 0px 5px;
        margin-bottom: -1px;
        min-height: 400px;
    }

    .col-md-2 {
        max-width: none !important;
    }

    .k-listview-content {
        overflow: hidden;
    }
</style>

<script>
    $("#Resourcechart").kendoChart({
        chartArea: {
            width: 1500
        },
    });
    $(document).ready(function () {
    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/PJM/ProjectDashboard/GettopfiveProject",
                //data: FilterDDl,
                dataType: "json",
            }
        },
        /*pageSize: 21*/
    });
   

        $("#Project").kendoListView({
            dataSource: dataSource,
            //change: OnChange,
            height: 400,
            scrollable: true,
            template: kendo.template($("#listTemplate").html())
        });
    
    var dataSource1 = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/PJM/ProjectDashboard/GetTaskDetails",
                //data: FilterDDl,
                dataType: "json",
            }
        },
        /*pageSize: 21*/
    });


        $("#ProjectTask").kendoListView({
            dataSource: dataSource1,
            //change: OnChange,
            height: 420,
            scrollable: true,
            template: kendo.template($("#listTemplateUpComing1").html())
        });
    });

    function OnViewProject(id) {
        var url = "/pjm/project/projectdashboard?projectId=" + id;
        LoadPartailView(url, $('#cms-content'));
    }
</script>

<div class="row hr-pad-top-10" style="background: #CBD0CE;height: 120px;border-radius: 6px;">
    <div class="row">
        <div class="col-md-6">
            <div>
                <p id="rect-txt">

                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="margin-left:70px !important">
                <div class="col-md-2">
                    <div class="card1" style="cursor:pointer;background-color:#ec8669f2;">
                        <div class="ui-item">
                            <div class="row">
                                <h4 style="color:black">
                                    @*<i class="fad fa-file-chart-line fa-1x"></i>*@
                                    <img src="~/images/pmt/Project_icon.png" id="icons-size" style="padding-right:10px;" />
                                    @Html.DisplayFor(x => x.ProjectCount)
                                </h4>
                            </div>
                            <div class="row">
                                <p id="card-txt">@Resource["Projects"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card1" style="cursor:pointer;background-color:#d6bfc2;">
                        <div class="ui-item">
                            <div class="row">
                                <h4 style="color:black">
                                    @*<i class="far fa-tasks-alt fa-1x"></i>*@
                                    <img src="~/images/pmt/Task_icon.png" id="icons-size" style="padding-right:10px;" />
                                    @Html.DisplayFor(x => x.ClosedTaskCount)/@Html.DisplayFor(x => x.AllTaskCount)
                                </h4>
                            </div>
                            <div class="row">
                                <p id="card-txt">@Resource["ClosedTasks/TotalTasks"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card1" style="cursor:pointer;background-color:#26c6da;">
                        <div class="ui-item">
                            <div class="row">
                                <h4 style="color:black">
                                    @*<i class="fad fa-user-plus fa-1x"></i>*@
                                    <img src="~/images/pmt/User_icon.png" id="icons-size" style="padding-right:10px;" />
                                    @Html.DisplayFor(x => x.UserCount)
                                </h4>
                            </div>
                            <div class="row">
                                <p id="card-txt">@Resource["ActiveUser"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card1" style="cursor:pointer;background-color:#66bb6a;">
                        <div class="ui-item">
                            <div class="row">
                                <h4 style="color:black">
                                    @*<i class="far fa-clock fa-1x"></i>*@
                                    <img src="~/images/pmt/TimeSpent_icon.png" id="icons-size" style="padding-right:10px;" />
                                    @Html.DisplayFor(x => x.AllTime)
                                </h4>
                            </div>
                            <div class="row">
                                <p id="card-txt">@Resource["SpendAllTime"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-2">
                    <div class="card1" style="cursor:pointer;background-color:#dab8f3;">
                        <div class="ui-item">
                            <div class="row">
                                <h4 style="color:black">-->
                @*<i class="far fa-file fa-1x"></i>*@
                <!--<img src="~/images/pmt/Storage_icon.png" id="icons-size" style="padding-right:10px;" />
                                    @Html.DisplayFor(x => x.FileCount)
                                </h4>
                            </div>
                            <div class="row">
                                <p id="card-txt">File Storage</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                @*<div class="col-md-2">
                        <div class="card" style="cursor:pointer;background-color:#8ecbef;" >
                            <div class="ui-item">
                                <div class="row">
                                    <h4><i class="far fa-file fa-1x"></i> 3</h4>
                                </div>
                                <div class="row">
                                    <p>Closed Tasks/Total Tasks</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin-top: 50px; padding-left: 8px; padding-right: 8px;">
    <div class="col-md-6">
        <div class="card" style="background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="fad fa-file-chart-line fa-1x"></i>*@@Resource["TopProjects"]</h5>
                </div>

            </div>
            <hr />
           
            <div class="panel-body" style="background:#F0F1F1;margin-left:20px;">
                <div id="Project"></div>
                @*@(Html.Kendo().ListView<ProjectDashboardChartViewModel>()
            .Name("Project")
            .TagName("div")
            .AutoBind(true)
            .ClientTemplateId("listTemplate")

              // .Events(e => e.DataBound("UpcomingPaymentBound"))

              .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("GettopfiveProject", "ProjectDashboard", new { @area = "PJM" }))
            ).HtmlAttributes(new { @Class = "board" })
        )*@
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="card" style="background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="fad fa-file-chart-line fa-1x"></i>*@ @Resource["Active/CompletedProject"]</h5>
                </div>
            </div>
            <hr />
            <div class="panel-body" style="background:#F0F1F1;">
                @(Html.Kendo().Chart<ProjectDashboardChartViewModel>().HtmlAttributes(new { Styles= "background:#F0F1F1;" })
                    .Name("chart").ChartArea(x=>x.Background("#F0F1F1"))
                    .Title(x=>x.Text("Projects").Font("16px Roboto").Color("black"))
                    .Legend(legend => legend
                        .Position(ChartLegendPosition.Bottom)
                    )
                    .DataSource(ds => ds
                        .Read(read => read.Action("GetprojectbyStatus", "ProjectDashboard"))
                        )
                        .SeriesColors(new string[] { "#ff9800", "#fad84a", "#4caf50", "#03a9f4" })
                    .Series(series =>
                    {
                        series.Pie(model => model.Value, model => model.Type)
                        .Labels(labels => labels
                            .Visible(true)
                            .Position(ChartPieLabelsPosition.Center)
                            //.Template("#= category # - #= kendo.format('{0:P}', percentage)#")
                           // .Template("#=Type# - #= kendo.format(' {0:n0}', value) # ")
                            .Background("transparent").Font("16px Roboto").Color("black")
                        //.VisibleHandler("isVisible")
                        );
                    })
                    .Tooltip(tooltip => tooltip
                        .Visible(true)
                       // .Template("#=Type# - #= kendo.format('{0:P}', percentage) #")
                    )
                )
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 50px; padding-left: 8px; padding-right: 8px;">
    <div class="col-md-6">
        <div class="card" style="min-height:500px;background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="far fa-clock fa-1x"></i>*@ @Resource["TimeLog"]</h5>
                </div>

            </div>
            <hr />
            <div class="panel-body" style="background:#F0F1F1;">
                @(Html.Kendo().Chart<ProjectDashboardChartViewModel>
    ().HtmlAttributes(new { Styles= "background:#F0F1F1;" })
    .Name("timechart").ChartArea(x=>x.Background("#F0F1F1"))

    .Legend(legend => legend
    .Position(ChartLegendPosition.Bottom)
    )
    .ChartArea(chartArea => chartArea
    .Background("transparent")
    )
    .SeriesDefaults(seriesDefaults =>
    seriesDefaults.Line().Style(ChartLineStyle.Smooth)
    )

    .DataSource(ds => ds
    .Read(read => read.Action("GetTimeLog", "ProjectDashboard"))
    )
    .SeriesColors(new string[] { "#ff9800", "#fad84a", "#4caf50", "#03a9f4" })
    .Series(series =>
    {
        series.Column(new double[] { ViewBag.Billable }).Name("Billable");
        series.Column(new double[] { ViewBag.NonBillable }).Name("Non Billable");
    })
    .CategoryAxis(axis => axis
    .Categories(model => model.Count1)
    .MajorGridLines(lines => lines.Visible(true))
    )
    .ValueAxis(axis => axis
                   .Numeric()
                .Labels(labels => labels.Format("{0}"))
                .Line(line => line.Visible(true))
                .AxisCrossingValue(-10)
                )
    .Tooltip(tooltip => tooltip
    .Visible(true)
    .Template("#=series.name # : #= value #")
    // .Template("#=Type# - #= kendo.format('{0:P}', percentage) #")
    )
    )
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="min-height:500px;background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="fad fa-user-plus fa-1x"></i>*@ @Resource["ProjectwiseResourceUtilisation"]</h5>
                </div>
            </div>
            <hr />
            <div class="panel-body resourceChart" style="background:#F0F1F1;">
                @*@(Html.Kendo().Chart<ProgramDashboardViewModel>().HtmlAttributes(new { Styles= "background:#F0F1F1;" })
                        .Name("Resourcechart").ChartArea(x=>x.Background("#F0F1F1"))
                        .Legend(legend => legend.Position(ChartLegendPosition.Bottom)
                        )
                        .DataSource(ds => ds.Read(read => read.Action("GetProjectwiseUsers", "ProjectDashboard")))
                            .SeriesColors(new string[] { "#ff9800", "#fad84a", "#4caf50", "#03a9f4" })
                            .Series(series =>
                            {
                            series.Bar(model => model.UserCount, model => model.ProjectName)
                            .Labels(labels => labels
                                .Visible(true)
                                .Position(ChartPieLabelsPosition.Center)
                                .Background("transparent").Font("16px Roboto").Color("black")
                            );
                            })
                            .Tooltip(tooltip => tooltip
                            .Visible(true)
                            // .Template("#=Type# - #= kendo.format('{0:P}', percentage) #")
                            )
                    )*@
                @*Example*@

                @(Html.Kendo().Chart<ProgramDashboardViewModel>()
                    .Name("Resourcechart")
                    .Legend(legend => legend
                    .Position(ChartLegendPosition.Bottom)
                    )
                    .ChartArea(chartArea => chartArea
                    .Background("transparent")
                    )
                    .DataSource(ds => ds.Read(read => read.Action("GetProjectwiseUsers", "ProjectDashboard")))
                    .SeriesColors(new string[] { "#ff9800", "#fad84a", "#4caf50", "#03a9f4" })
                    .Series(series => {
                        series.Column(model => model.UserCount).Spacing(20.0);
                    })
                    .CategoryAxis(axis => axis
                        .Name("label-axis")
                        .Categories(model => model.ProjectName).Visible(true)
                        .Labels(labels => labels.Rotation("auto"))
                    )

                    .Pannable(pannable => pannable
                    .Lock(ChartAxisLock.Y)
                    )
                    .Zoomable(zoomable => zoomable
                    .Mousewheel(mousewheel => mousewheel.Lock(ChartAxisLock.Y))
                    .Selection(selection => selection.Lock(ChartAxisLock.Y))
                    )
                    .ValueAxis(axis => axis
                    .Numeric()
                    .AxisCrossingValue(0, int.MinValue)
                    )
                    .Tooltip(tooltip => tooltip
                    .Visible(true)
                    .Template("#= category #: #= value #")
                    )
                )
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin-top: 50px; padding-left: 8px; padding-right: 8px; padding-bottom:30px;">
    <div class="col-md-6">
        <div class="card" style="min-height:500px;background:#F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="far fa-tasks-alt fa-1x"></i>*@ @Resource["TaskList"] </h5>
                </div>
            </div>
            @*<hr />*@
            <div class="panel-body" style="background:#F0F1F1;">
                @*@(Html.Kendo().ListView<ProjectDashboardChartViewModel>()
                    .Name("ProjectTask")
                    .TagName("div")
                    .AutoBind(true)
                    .ClientTemplateId("listTemplateUpComing1")
                   // .Events(e => e.DataBound("UpcomingPaymentBound"))
                   .DataSource(dataSource => dataSource
                            .Ajax()
                            .Read(read => read.Action("GetTaskDetails", "ProjectDashboard", new { @area = "PJM" }))
                    ).HtmlAttributes(new { @Class = "board" })
                )*@
                <div id="ProjectTask"></div>

            </div>
        </div>
    </div>

    <div class="col-md-6" @*style="background:#F0F1F1;"*@>
        <div class="card" style="min-height: 500px;background: #F0F1F1;">
            <div class="Card-header" style="background:#F0F1F1;">
                <div class="col-md-12" style="border-bottom: 3px solid black;">
                    <h5 id="card2-text">@*<i class="far fa-tasks-alt fa-1x"></i>*@ @Resource["TaskStatus"] </h5>
                </div>
            </div>
            <hr />
            <div class="panel-body" style="background:#F0F1F1;">
                @(Html.Kendo().Chart<ProjectDashboardChartViewModel>().HtmlAttributes(new { Styles= "background:#F0F1F1;" })
                    .Name("TaskStatus").ChartArea(x=>x.Background("#F0F1F1"))

                    .Legend(legend => legend
                        .Position(ChartLegendPosition.Bottom)
                    )
                    .DataSource(ds => ds
                        .Read(read => read.Action("GetProjecTaskStatus", "ProjectDashboard"))
                        )
                        .SeriesColors(new string[] { "#ff9800", "#fad84a", "#4caf50", "#03a9f4", "#9FE2BF", "#40E0D0", "#DE3163", "#33BBFF", "#FF7F50" })
                    .Series(series =>
                    {
                        series.Pie(model => model.Value, model => model.Type)
                        .Labels(labels => labels
                            .Visible(true)
                            .Position(ChartPieLabelsPosition.Center)
                            //.Template("#= category # - #= kendo.format('{0:P}', percentage)#")
                            // .Template("#=Type# - #= kendo.format(' {0:n0}', value) # ")
                            //.Template("#=Value#: \n #=Type#")
                            .Background("transparent").Font("16px Roboto").Color("black")
                        //.VisibleHandler("isVisible")
                        );
                    })
                    .Tooltip(tooltip => tooltip
                        .Visible(true)
                    // .Template("#=Type# - #= kendo.format('{0:P}', percentage) #")
                    )
                )
            </div>
        </div>
    </div>






</div>


<script id="listTemplateUpComing1" type="text/x-kendo-template">
    <div class="card" style="margin-left:5px;margin-bottom:10px;margin-top:10px;padding-left:5px;min-height:50px!important;margin-right: 10px;">
        <div class="row">
            <span style="float:left;margin-top:10px;margin-right:10px;margin-left:20px;"><i style="" class="fas fa-circle"></i></span>  <h5 style="color: black;margin-top: 15px;">#:ServiceSubject#</h5>
        </div>
        <div class="row" style="margin-left:20px;">
            <h6><span style="color:deepskyblue">#:TaskNo#</span> - #:ProjectName# -  <span style="color:blueviolet">#:OwnerUserId#</span> - #: kendo.toString(kendo.parseDate(DueDate), "dd-MMM-yyyy") #</h6>
        </div>
    </div>


</script>
<script type="text/x-kendo-tmpl" id="listTemplate">

    <div>
        <div class="announcement">
            <div style="padding-left: 10px;margin-top:5px;">
                <div class="iconwithtextan">
                    <div class="row" onclick=OnViewProject('#:Id#') style="cursor: pointer;">
                        <div class="col-xs-1" style="padding-right:20px;width:0px"><img src="/images/pmt/list_icon.png" id="list-icons-size" /></div>
                        <div class="col-md-3" style="font-size: 16px;color: rgba(53, 53, 53, 0.8);font-weight:normal;font-family:Roboto;padding-right:10px">
                             #:ProjectName#
                        </div>
                        <div class="col-md-2" style="font-size:16px;height:fit-content;border-radius:5px;background-color:orange;color:black;text-align:center;font-weight:normal;font-family:Roboto;"> @Html.Raw(Resource["Medium"])</div>
                        <div class="col-md-2">#:OwnerUserName#</div>
                        <div class="col-md-2">#:StatusName#</div>
                        <div class="col-md-2">#:kendo.toString(kendo.parseDate(ProjectStartDate), 'dd.MM.yyyy')#</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>