@inject IStringLocalizer<CMS.UI.Web.Areas.Pay.Controllers.CalendarController> Resource
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model CalendarViewModel
@{
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = ViewBag.Layout;
}


<script type="text/javascript">
    var id = '@Model.NoteId';
    var Noteid='@Model.NoteId'
  //  alert(id);
    $(document).ready(function () {

        GetCalHolData();
    });

    var columnDefs = [
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menuCalhol' data-idvalue='" + params.value + "' data-noteidval='" + params.data.NoteId + "' data-parnoteidval='" + params.data.ParentNoteId + "' data-calidval='" + params.data.CalendarId + "'><i class='fas fa-ellipsis-v'></i></div>"
            }
        },
        {
           field: "HolidayName",
           headerName:"@Resource["HolidayName"]"
        },
        {
           field: "FromDate",
           headerName: "@SharedResource["From"]",
            cellRenderer: params => {
                var date = new Date(params.value);
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [day, month, year].join('.');
                return newdate;
            }
        },
        {
           field: "ToDate",
            headerName: "@SharedResource["To"]",
            cellRenderer: params => {
                var date = new Date(params.value);
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [day, month, year].join('.');
                return newdate;
            }
        },
    ];

    function GetCalHolData() {
        document.getElementById("kgrdCalendarHoliday").innerHTML = "";
        gridConfig(
            "kgrdCalendarHoliday",
            "/Pay/Calendar/ReadCalendarHolidayData?CalendarId="+'@Model.Id',
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    $(function () {        
        $.contextMenu({
            selector: '#tree-menuCalhol',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');
                var noteid = $trigger.data('noteidval');
                var pnoteid = $trigger.data('parnoteidval');
                var calid = $trigger.data('calidval');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        onEditCalendarHoliday(calid, pnoteid, id);
                                        break;
                                    case 'delete':
                                        OnDeleteCalHol(noteid);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },

                            }
                        };
                }
            }
        });
    });

    //function Delete(id) {
    //    kendo.confirm("Are you sure that you want to delete the selected item?").then(function () {
    //         $.ajax({
    //            type: "POST",
    //             url: "/pay/SalaryElementInfo/Delete?id=" + id ,
    //            success: function (data) {
    //                kendo.alert("Salary Element deleted successfully");
    //                var win = GetMainWindow();
    //                win.parent.$("#kgrdCalendar").data("kendoGrid").dataSource.read();
    //           },
    //            dataType: "json",
    //        });
    //    }, function () {

    //    });
    //}

    function Close() {
        win = GetMainWindow();
        win.CloseWindow();
    }

      //{ MethodName: "CallBack" }
    var onAjaxSuccess = function (res) {
        window.parent.GetCalData();
        
         if (res.success) {
             ShowNotification("@SharedResource["SavedSuccessfully"]", "success");
             id = res.note.Item.UdfNoteTableId;
             var win = GetMainWindow();
             win.iframeOpenUrl = "/pay/Calendar/ManageCalendar?CalendarId=" + id;
             win.OpenWindow({ Title: '@Html.Raw(Resource["ManageCalendar"])', Width: 1000, Height: 700, Reload: true });
             GetCalHolData();
            
            
             //win.parent.$("#kgrdCalendar").data("kendoGrid").dataSource.read();
             HideLoader($('#calendar'));
             return false;

         }
        else {
             $(".text-danger").removeClass("validation-summary-valid");
             $(".text-danger").addClass("validation-summary-errors");
             $(".text-danger").html(res.error);
             HideLoader($('#calendar'));
        }

    };

    function OnDeleteCalHol(id) {

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        kendo.confirm("Are you sure that you want to delete the selected item?").then(function () {
            $.ajax({
                type: "POST",
                url: "/pay/Calendar/DeleteCalendarHoliday?Id=" + id,

                success: function (data) {

                    kendo.alert("@Resource["Calendardeleted"]");
                    GetCalHolData();
                    @*$("#kgrdCalendarHoliday").data("kendoGrid").dataSource.read({ CalendarId: '@Model.Id'});*@
                },
                dataType: "json",
            });
        }, function () {

        });
    }

    function OnCreateCalendarHoliday() {
        var win = GetMainWindow();
        win.iframeOpenUrl = "/pay/Calendar/ManageCalendarHoliday?calendarId="+'@Model.Id'+"&noteId=" + '@Model.NoteId';
        win.OpenWindow({ Title: '@Html.Raw(Resource["ManageCalendarHoliday"])', Width: 450, Height: 650 });
        return false;
    }

    function onEditCalendarHoliday(cid,pnid,id) {
        // var prms=enco
        //e.preventDefault();
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //alert(dataItem.NoteId);
        var win = GetMainWindow();
        var portalId = $('#GlobalPortalId').val();

        win.iframeOpenUrl = "/pay/Calendar/ManageCalendarHoliday?calendarId=" + cid + "&noteId=" + pnid + "&calendarHolidayId=" + id;
        win.OpenWindow({ Title: '@Html.Raw(Resource["ManageCalendarHoliday"])', Width: 450, Height: 650 });
    }

    function CallBack() {
        GetCalHolData();
        @*$("#kgrdCalendarHoliday").data("kendoGrid").dataSource.read({ CalendarId: '@Model.Id' });*@
    }
    //function OnSave(evt) {
    //    ShowLoader($('#calendar'));
    //}

</script>

<div id="calendar">
    <div class="row" style="margin-left:15px;">

        <form asp-area="Pay" asp-controller="Calendar" asp-action="ManageCalendar" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
            <div class="row" style="padding:10px;">

                <div class="col-12">
                    <div class="row">
                        <div class="col-6 pad-10">
                            <div class="form-label-group">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" required="required" autocomplete="off" style="width:80%" />
                                <label for="Name">@SharedResource["Name"] <span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-6 pad-10">
                            <div class="form-label-group">
                                <input asp-for="Code" type="text" class="form-control" placeholder="Enter Code" required="required" autocomplete="off" style="width:80%" />
                                <label for="Code">@SharedResource["Code"] <span class="required">*</span></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row" style="padding-left:15px;">@Resource["WeekendDays"]</div>
                    <div class="row">
                        <div class="col-12">
                            @*@(Html.Kendo().CheckBoxFor(x=>x.IsSundayWeekEnd).Label(Resource["Sunday"]))
                            @(Html.Kendo().CheckBoxFor(x=>x.IsMondayWeekEnd).Label(Resource["Monday"]))
                            @(Html.Kendo().CheckBoxFor(x=>x.IsTuesdayWeekEnd).Label(Resource["Tuesday"]))
                            @(Html.Kendo().CheckBoxFor(x=>x.IsWednesdayWeekEnd).Label(Resource["Wednesday"]))
                            @(Html.Kendo().CheckBoxFor(x=>x.IsThursdayWeekEnd).Label(Resource["Thursday"]))
                            @(Html.Kendo().CheckBoxFor(x=>x.IsFridayWeekEnd).Label(Resource["Friday"]))
                            @(Html.Kendo().CheckBoxFor(x=>x.IsSaturdayWeekEnd).Label(Resource["Saturday"]))*@

                            <input type="checkbox" asp-for="IsSundayWeekEnd" id="IsSundayWeekEnd"  />
                            <label>@Resource["Sunday"]</label>
                            <input type="checkbox" asp-for="IsMondayWeekEnd" id="IsMondayWeekEnd"  />
                            <label>@Resource["Monday"]</label>
                            <input type="checkbox" asp-for="IsTuesdayWeekEnd" id="IsTuesdayWeekEnd"  />
                            <label>@Resource["Tuesday"]</label>
                            <input type="checkbox" asp-for="IsWednesdayWeekEnd" id="IsWednesdayWeekEnd"  />
                            <label>@Resource["Wednesday"]</label>
                            <input type="checkbox" asp-for="IsThursdayWeekEnd" id="IsThursdayWeekEnd"  />
                            <label>@Resource["Thursday"]</label>
                            <input type="checkbox" asp-for="IsFridayWeekEnd" id="IsFridayWeekEnd"  />
                            <label>@Resource["Friday"]</label>
                            <input type="checkbox" asp-for="IsSaturdayWeekEnd" id="IsSaturdayWeekEnd"  />
                            <label>@Resource["Saturday"]</label>
                        </div>
                    </div>
                </div>



                <div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
                    <button type="button" class="btn btn-light" onclick="Close();">@SharedResource["Close"]</button>
                    <input type="submit" class="btn btn-primary" value="@SharedResource["Save"]" id="submitBtn" @*onclick="OnSave(event);"*@ />
                </div>

            </div>
            @Html.HiddenFor(x => x.DataAction)
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.NoteId)
            @Html.HiddenFor(x => x.Json)
            @Html.HiddenFor(x => x.DataJson)
            @Html.HiddenFor(x => x.CompanyId)
            @Html.HiddenFor(x => x.CreatedBy)
            @Html.HiddenFor(x => x.CreatedDate)
            @Html.HiddenFor(x => x.LastUpdatedBy)
            @Html.HiddenFor(x => x.LastUpdatedDate)
        </form>
    </div>

    <hr />
    @if (Model.DataAction == DataActionEnum.Edit)
    {
        <div class="row-12" id="calendarHoliday">
            <div class="col-md-12">@Resource["CalendarHoliday"]</div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" onclick="return OnCreateCalendarHoliday();"><i class="fa fa-plus pr-1"></i>@SharedResource["Create"]</button>
                <div id="kgrdCalendarHoliday" style="width:100%;height:550px" class="ag-theme-alpine"></div>

                @*@(Html.Kendo().Grid<CalendarHolidayViewModel>().Name("kgrdCalendarHoliday")
                    .HtmlAttributes(new { @class = "kgrdCalendarHoliday" })
                    .Columns(col =>
                    {
                    col.Command(command =>
                        {
                            command.Custom("Edit").Text("<i class='fa fas fa-pencil'></i>").Click("onEditCalendarHoliday").HtmlAttributes(new { @class = "action-icon", @title = @SharedResource["Edit"] });
                            command.Custom("Delete").Text("<i class='fa fas fa-trash'></i>").Click("OnDeleteCalHol").HtmlAttributes(new { @class = "action-icon action-delete", title = @SharedResource["Delete"] });
                        }).Title(@SharedResource["Action"]).Width(150);
                    col.Bound(c => c.HolidayName).Title(@Resource["HolidayName"]).Width(150);
                    col.Bound(c => c.FromDate).Title(@SharedResource["From"]).ClientTemplate("#= kendo.toString(kendo.parseDate(FromDate, 'yyyy-MM-dd'), 'dd MMM yyyy') #").Width(150);
                    col.Bound(c => c.ToDate).Title(@SharedResource["To"]).ClientTemplate("#= kendo.toString(kendo.parseDate(ToDate, 'yyyy-MM-dd'), 'dd MMM yyyy') #").Width(150);

                    })
                    .ToolBar(toolbar =>
                    {
                     toolbar.Custom().Text(@SharedResource["Create"]).Name("btnAdd").IconClass("fa fas fa-plus").HtmlAttributes(new { @class = "k-primary", href = "javascript:OnCreateCalendarHoliday();" });
                    })
                    .Scrollable(x => x.Enabled(true))
                    .Sortable(srt => srt.Enabled(true))
                    .Selectable(select => select.Enabled(false))
                    .Filterable(f => f.Extra(false)
                    .Operators(o => o.ForString(s => s.Clear()
                    .Contains("Contains")
                    .IsEqualTo("Is equal to")
                    )))
                    .Resizable(resize => resize.Columns(true))
                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(true)
                    .ButtonCount(5))
                    .AutoBind(true)
                    .DataSource(
                        dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Read(read => read.Action("ReadCalendarHolidayData", "Calendar", new { Area="Pay", CalendarId=Model.Id }))
                        .Model(model => model.Id(p => p.Id)))
                    )*@
            </div>
        </div>
    }

</div>