@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceDocumentController> Resource
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Manage Performance Document";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model PerformanceDocumentViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>

<script type="text/javascript">
    function ChangeStatusAndCalculatePerformanceRating(noteid, status) {
        ShowLoader($('.viewdata'));
        var stageId = "";
          if ("@ViewBag.Status" == "cal")
            {
              stageId = $("#CalculatedRatingStageId").data("kendoDropDownList").value();
              if (stageId == "" || stageId == undefined)
              {
                  kendo.alert("Please select calculate rating stage");
                  HideLoader($(".viewdata"));
                  return false;
              }
            }
        $.ajax({
            url: '/pms/PerformanceDocument/ChangeStatusAndCalculatePerformanceRating?noteId=' + noteid + '&status=' + status + '&stageId=' + stageId,
            type: "Get",

            dataType: "json",
            success: function (result) {
                if (result.success) {
                    Close();
                    HideLoader($('.viewdata'));
                }
                else
                {
                    HideLoader($('.viewdata'));
                }
            },
            error: function (result) {
                HideLoader($('.viewdata'));
            }
        });
    }
    $(document).ready(function () {
        HideLoader($("#global-overlay"));

         $("#StartDate").kendoDatePicker({ value: "@Model.StartDate", format:"dd MMM yyyy" });
        $("#EndDate").kendoDatePicker({ value: "@Model.EndDate", format: "dd MMM yyyy" });

         $("#DocumentStatus").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value:'@Model.DocumentStatus.ToString()',
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=PerformanceDocumentStatusEnum",
                    }
                }
            }
         });
         if ("@ViewBag.Status" == "cal")
         {
             $("#CalculatedRatingStageId").kendoDropDownList({
                 dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.DocumentStatus.ToString()',
            dataSource:
                 {
                     transport:
                     {
                         read:
                         {
                             url: "/pms/PerformanceDocument/GetPerformanceDocumentStageDataByDocumentMasterNoteId?masterNoteId=@Model.NoteId",
                    }
                     }
                 }
             });
         }

    });

    function Close() {



        var win = GetMainWindow();
        win.CloseWindow({ MethodName: "reloadGrid" });
        return false;
    }

    //function onClose() {
    //    $("#showDialogBtn").fadeIn();
    //}

    //function onOpen() {
    //    $("#showDialogBtn").fadeOut();
    //}

    function showDialog() {
        $('#dialog').data("kendoDialog").open();
    }

    var onAjaxSuccess = function (res) {
        if (res.success) {

            Close();
            HideLoader($('.viewdata'));
            ShowNotification("@Resource["PublishedSuccessfully"]", "success");
          //  window.parent.$("#kgrdPDM").data("kendoGrid").dataSource.read();
        }

        else {
            HideLoader($('.viewdata'));
        $(".text-danger").removeClass("validation-summary-valid");
        $(".text-danger").addClass("validation-summary-errors");
        $(".text-danger").html(res.message);
    }
    };

    function Save(e) {

        showDialog();
        e.preventDefault();
        return false;
    }

    function Oncancel(e) {

    }
    function Onproceed(e) {

        ShowLoader($('.viewdata'));
        $("#myForm").trigger("submit");
    }

</script>

<div class="row" style="margin-left:15px;">

    <form asp-controller="PerformanceDocument" asp-action="PublishPerformanceDocument" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row viewdata" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" disabled placeholder="Enter Name" required="required" autocomplete="off" style="width:80%" />
                    <label for="Name">@SharedResource["Name"]</label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <textarea asp-for="Description" class="form-control" disabled placeholder="Enter Description" autocomplete="off" style="width:80%"></textarea>
                    <label for="Description">@SharedResource["Description"]</label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Year" type="number" class="form-control" disabled placeholder="Enter Year" required="required" autocomplete="off" style="width:80%" />
                    <label for="Year">@SharedResource["Year"] </label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="StartDate">@SharedResource["StartDate"] </label>
                    </div>
                    @*@(Html.Kendo().DatePickerFor(x=>x.StartDate).Format("dd MMM yyyy").HtmlAttributes(new { @class = "form-control", style = "width: 80%", disabled="disabled" }))*@
                    <input asp-for="StartDate" id="StartDate" class="form-control" style="width:80%!important" disabled="disabled" />
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="EndDate">@SharedResource["EndDate"] </label>
                    </div>
                    @*@(Html.Kendo().DatePickerFor(x=>x.EndDate).Format("dd MMM yyyy").HtmlAttributes(new { @class = "form-control", style = "width: 80%", disabled = "disabled" }))*@
                    <input asp-for="EndDate" id="EndDate" class="form-control" style="width:80%!important" disabled="disabled" />
                </div>
            </div>

            <div class="col-12">@Resource["DocumentStatus"]</div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(x=>x.DocumentStatus)
            .DataTextField("Name")
            .DataValueField("Id")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "PerformanceDocumentStatusEnum" });
                });
            })
            .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
            .Value(Model.DocumentStatus.ToString())
            .HtmlAttributes(new { @class = "form-control", @style = "width:80%" , disabled = "disabled" })
            )*@

                <input asp-for="DocumentStatus" id="DocumentStatus" class="form-control" style="width:80%" disabled="disabled" />
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="GoalWeightage" type="number" class="form-control" placeholder="@SharedResource["GoalWeightage"]" disabled="disabled" autocomplete="off" style="width:80%" />
                    <label for="Year">@SharedResource["GoalWeightage"]</label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="CompetencyWeightage" type="number" class="form-control" placeholder="@SharedResource["CompetencyWeightage"]" disabled="disabled" autocomplete="off" style="width:80%" />
                    <label for="Year">@SharedResource["CompetencyWeightage"]</label>
                </div>
            </div>
            @if (ViewBag.Status == "cal")
            {
                <div class="col-12">Calculate Rating Stage</div>
                <div class="col-12 pad-15">
                   

                    <input asp-for="CalculatedRatingStageId" id="CalculatedRatingStageId" class="form-control" style="width:80%"  />
                </div>
                
            }

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.Name)
        @Html.HiddenFor(x => x.Description)
        @Html.HiddenFor(x => x.StartDate)
        @Html.HiddenFor(x => x.EndDate)
        @Html.HiddenFor(x => x.Year)
        @Html.HiddenFor(x => x.DocumentStatus)
        @Html.HiddenFor(x => x.GoalWeightage)
        @Html.HiddenFor(x => x.CompetencyWeightage)
    </form>

    <div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
        <button type="button" class="btn btn-light" onclick="Close();">@SharedResource["Close"]</button>
        @if (Model.DocumentStatus == PerformanceDocumentStatusEnum.Draft)
        {
            <input type="submit" class="btn btn-primary" onclick="Save(event);" value="@Resource["Publish"]" id="submitBtn" />
        }

        else
        {
            @if (ViewBag.Status == "Freezed")
            {
                <input type="button" class="btn btn-primary" onclick="ChangeStatusAndCalculatePerformanceRating('@Model.NoteId', '@ViewBag.Status');" value="@Resource["Freez"]" id="submitBtn" />
            }
            else if (ViewBag.Status == "Released")
            {
                <input type="button" class="btn btn-primary" onclick="ChangeStatusAndCalculatePerformanceRating('@Model.NoteId', '@ViewBag.Status');" value="@Resource["Release"]" id="submitBtn" />
            }
            else if (ViewBag.Status == "cal")
            {
                <input type="button" class="btn btn-primary"onclick="ChangeStatusAndCalculatePerformanceRating('@Model.NoteId', '@ViewBag.Status');" value="@Resource["CalculateRating"]" id="submitBtn" />
            }
            else
            {
                <input type="submit" class="btn btn-primary" onclick="Save(event);" value="@Resource["RePublish"]" id="submitBtn" />
            }


        }
    </div>
</div>


<div>
    @(Html.Kendo().Dialog()
        .Name("dialog").Visible(false)
        .Title(""+Resource["ConfirmPublishing"] +"")
        .Content("<p>"+Resource["ConfirmPublish"] +"<br>" + Resource["PleaseConfirm"] + "<p>")
        .Width(400)
        .Modal(false)
        .Actions(actions =>
        {

            actions.Add().Text(""+SharedResource["Cancel"] +"").Action("Oncancel");
            actions.Add().Text(""+SharedResource["YesProceed"] +"").Action("Onproceed");
        })
    //.Events(ev => ev.Close("onClose").Open("onOpen"))
    )

</div>