@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceDocumentController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@{
    ViewData["Title"] = "Manage Competency Master";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model CompetencyViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        HideLoader($("#global-overlay"));
        $("#CompetencyType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: '@ApplicationConstant.PlaceHolder_SelectOption',
            value: '@Model.CompetencyTypeId',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=PMS_TYPE",
                    }
                }
            }
        });
    });

    function Close() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function OnSave(event) {
        if ($("#CompetencyName").val() != "" && $("#CompetencyCode").val() != "") {
            ShowLoader($('#Competency'));
        }
    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                window.parent.ShowNotification("@SharedResource["CreatedSuccessfully"]", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                window.parent.ShowNotification("@SharedResource["EditedSuccessfully"]", "success");
            }
            HideLoader($('#Competency'));
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: 'OnAfterCompCreate' });
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
            HideLoader($('#Competency'));
        }
    };

</script>

<div class="row" style="margin-left:15px;" id="Competency">

    <form asp-controller="PerformanceDocument" asp-action="ManageCompetencyMaster" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="CompetencyName" type="text" class="form-control" placeholder="@SharedResource["Name"]" required="required" autocomplete="off" style="width:80%" />
                    <label for="CompetencyName">@SharedResource["Name"] <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="CompetencyCode" type="text" class="form-control" placeholder="@SharedResource["Code"]" required="required" autocomplete="off" style="width:80%" />
                    <label for="CompetencyCode">@SharedResource["Code"] <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <textarea asp-for="CompetencyDescription" class="form-control" placeholder="@SharedResource["Description"]" autocomplete="off" style="width:80%"></textarea>
                    <label for="CompetencyDescription">@SharedResource["Description"]</label>
                </div>
            </div>
            <div class="col-12 pad-10">
              
                    @SharedResource["CompetencyType"]<br />
                    @*@(Html.Kendo().DropDownListFor(x=>x.CompetencyType)
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Action("GetLOVIdNameList", "LOV", new { area = "CMS", lovType = "PMS_TYPE" });
                                 });
                             })
                             .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)                            
                             .DataTextField("Name")
                             .DataValueField("Id")                            
                             .HtmlAttributes(new { @class = "hr-xx-large " ,@style="width:80%!important"})
            )*@
              
            <input asp-for="CompetencyType" id="CompetencyType" class="hr-xx-large" style="width:80%!important" />
            </div>
            <div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
                <button type="button" class="btn btn-light" onclick="Close();">@SharedResource["Close"]</button>
                <input type="submit" class="btn btn-primary" value="@SharedResource["Save"]" id="submitBtn" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ParentNoteId)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.Json)
        @Html.HiddenFor(x => x.DataJson)
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.LastUpdatedBy)
        @Html.HiddenFor(x => x.LastUpdatedDate)
    </form>
</div>


