@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject IUserContext _userContext;
@model ServiceTemplateViewModel;

@*@{
    ViewData["Title"] = "Performance Book";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}*@


<style>
    #gotoTop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 0px;
        z-index: 9999;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 12px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .item-row {
        padding-bottom: 15px;
    }

    .lblsr {
        font-size: 14px;
        font-weight: 600;
        color: #404040;
    }

    .lbls1 {
        font-size: 14px;
        padding-left: 15px;
        color: #404040;
    }

    .book-accordion-heading {
        padding: 8px;
        cursor: pointer;
        color: #fff;
    }

    .book-accordion-body {
        border: 1px solid var(--pbc);
    }

    .grid-a {
        color: blue !important;
    }
</style>
<link href="~/css/EGOV/DashBoardStyles.css" rel="stylesheet" />
<link href="~/css/EGOV/Dashboard-Navigation-with-Button.css" rel="stylesheet" />
<style>
    .indiv-block-bg {
        width: 542px;
        height: 175px !important;
    }
</style>
<script type="text/x-kendo-template" id="menu-template-html">
    #if(ItemType!==2 && ItemType!==16 && Id!=='0'){#
     <div class='btn-group grid-menu' id='book-tree-menu' data-max-child-so='#:MaxChildSequence#' data-level='#:Level#' data-parent-type='#:ParentNtsType#' data-sequence-order='#:SequenceOrder#' data-parent-id='#:parentId#' data-has-child='#:HasChild#' data-id='#:Id#' data-type='#:NtsType#'  data-template-code='#:TemplateCode#' data-item-type='#:ItemType#'><i class='fas fa-ellipsis-v'></i></div>
     <a class='grid-a' href='javascript:FocusAccordianHtml("#= Id #")'>#= ItemNo # </a>
    #}else{#
    &nbsp;&nbsp;<a class='grid-a' href='javascript:FocusAccordianHtml("#= Id #")'>#= ItemNo # </a>
    #}#
</script>

<script type="text/x-kendo-template" id="referenceno-template-html">
    #if(NtsNo!==null && NtsNo!=='null'){ #
        <a class='grid-a' href='javascript:OnEditItem("#= Id #","#= TemplateCode#","#= NtsType#")'>#= NtsNo # </a>
    #}else if(NtsNo!==null && NtsNo!=='null'){#
        <a class='grid-a' href='javascript:OnEditItem("#= Id #","#= TemplateCode#","#= NtsType#")'>#= NtsNo # </a>
    #}#
</script>

<script>
    var portalId = '@Model.PortalId';

    $(document).ready(function () {
        var data2 = @Html.Raw(Json.Serialize(Model.BookItems));
        var dataSource = new kendo.data.TreeListDataSource({
            data: data2,
            schema: {
                model: {
                    id: "Id",
                    expanded: true,
                    fields: {                        
                        DueDate: { type: "date" },                        
                    }

                }
            }
        });
        $("#treelistHtml").kendoTreeList({
            dataSource: dataSource,
            columns: [
                { field: "ItemNo", expandable: true, title: "Level", template: $("#menu-template-html").html()},
                { field: "NtsNo", title: "Reference No", template: $("#referenceno-template-html").html()},
                { field: "TemplateName", title: "Category" },
                { field: "Section", title: "Section" },
                { field: "AssigneeOrOwner", title: "Assignee/Owner" },
                { field: "StatusName", title: "Status" },
                { field: "DueDate", title: "Due Date", format: "@ApplicationConstant.DateAndTime.DefaultDateFormat" }
            ]
        });

            $.ajax({
                url: "/Pms/PerformanceDocument/WorkBookCount?bookId=@Model.ServiceId",
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8', //define a contentType of your request
                cache: false,
                success: function (data) {

                    if (data != null) {

                        $('#taskAssPln').html(data.T_AssignPlanned);
                        $('#taskAssPlnOdue').html(data.T_AssignPlannedOverdue);
                        $('#taskAssPen').html(data.T_AssignPending);
                        $('#taskAssCom').html(data.T_AssignCompleted);
                        $('#taskAssODue').html(data.T_AssignOverdue);
                        $('#taskAssReject').html(data.T_AssignReject);
                        $('#notRead').html(data.ReadCount);
                        $('#notUnRead').html(data.UnReadCount);
                        $('#notArchived').html(data.ArchivedCount);
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
    });

    function FocusAccordianHtml(id, type) {
        var node = $('#html_' + id);
        if (node != null && node.offset() != null) {
            var top = (node.offset().top - 150) + 'px';
            var bot = (node.offset().left - ($(window).width() / 2) + 80) + 'px';
            $('html,body').animate({
                scrollTop: top,
                scrollLeft: bot
            },
                1500);
        }
        return false;
    }

    function OnView(Id, Code, Type) {
        debugger;

        var url = '/Cms/Page?lo=Popup&popup=true&cbm=OnAfterServiceCreate&source=View&dataAction=View&pageType=' + Type + '&templateCodes=' + Code + '&portalId=' + portalId + '&recordId=' + Id;

        var win = GetMainWindow();
        win.iframeOpenUrl = url
        win.OpenWindow({ Title: 'View Details', Width: 1200, Height: 750 });
        return false;
    }

    function OnDelete(id, booktype) {
        kendo.confirm("Are you sure that you want to proceed?").then(function () {
            confirmDelete(id, booktype);
            var url = "";
            if (booktype == "Service") {
                url= '/cms/NtsService/DeleteServiceBook?serviceId=' + id;
            }
            else if (booktype == "Task") {
                url = '/cms/NtsTask/DeleteTaskBook?noteId=' + id;
            }

            $.ajax({

                url: url,
                type: "POST",
                contentType: "application/json",
                dataType: "JSON",
                success: function (response) {

                    ShowNotification("Deleted Successfully", "success");
                    OnAfterServiceCreate();
                }
            });
        }, function () {

        });
    }

    function OnEditItem(Id, templateCode, type, itemType) {
        debugger;
        var typeName="";
        if (type === 1) {
            typeName = "Task";
        }
        else if (type === 2) {
            typeName = "Service";
        }
        var dataAction = 'source=View&dataAction=View';
        if (itemType==='16') {
            dataAction = 'source=View&dataAction=View';
        }
        var portalId = '@_userContext.PortalId';
        var url = '/Cms/Page?lo=Popup&' + dataAction + '&templateCodes=' + templateCode + '&portalId=' + portalId + '&recordId=' + Id;
        LoadCmsPartialView(url, typeName, true, 1200, 700, "Manage " + typeName);
        return false;
    }

    function AddService(id, tcode) {

        var prms = encodeURIComponent('servicePlusId=' + id + '&parentServiceId=' + id);

        var url = '/Cms/Page?lo=Popup&popup=true&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageType=Service&templateCodes=' + tcode + '&portalId=' + portalId + '&prms='+prms;

        var win = GetMainWindow();
        win.iframeOpenUrl = url
        win.OpenWindow({ Title: 'Create Service', Width: 1200, Height: 750 });
        return false;
    }

    function AddTask(id, tcode) {

        var prms = encodeURIComponent('servicePlusId=' + id + '&parentServiceId=' + id);

        var tempCode = tcode == "PMS_GOAL" ? "PMS_GOAL_ADHOC_TASK" : "PMS_COMPENTENCY_ADHOC_TASK";

        var url = '/Cms/Page?lo=Popup&popup=true&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageType=Task&templateCodes=' + tempCode + '&portalId=' + portalId + '&prms=' + prms;

        var win = GetMainWindow();
        win.iframeOpenUrl = url
        win.OpenWindow({ Title: 'Create Task', Width: 1200, Height: 750 });
        return false;
    }

    $(function () {
        $.contextMenu({
            selector: '#book-tree-menu',
            trigger: 'left',
            build: function ($trigger, e) {
                debugger;
                var id = $trigger.data('id');
                var type = $trigger.data('type');
                    var itemType = $trigger.data('item-type');
                    var tempCode = $trigger.data('template-code');
                    var hasChild = $trigger.data('has-child');
                    var so = $trigger.data('sequence-order');
                    var pi = $trigger.data('parent-id');
                    var pt = $trigger.data('parent-type');
                    var lvl = $trigger.data('level');
                var childso = $trigger.data('max-child-so');

                    var Items;
                debugger;
                if ('@ViewBag.Admin' == 'True') {
                        Items = {
                            "view": { name: "@Html.Raw(SharedResource["View"])", icon: "fas fa-eye",},
                            "del": { name: "@Html.Raw(SharedResource["Delete"])", icon: "fas fa-trash", },
                            "child": {
                                name: "Add Child", icon: "fas fa-plus", items: {
                                    "goal": { name: "Goal", icon: "fas fa-scroll", visible: itemType === 1 },
                                    "comp": { name: "Competency", icon: "fas fa-tasks", visible: itemType === 1 },

                                }, visible: itemType === 1
                            },
                            "childTask": { name: "Add Task", icon: "fas fa-tasks", visible: itemType === 12 },
                        };
                    }
                    else {
                        Items = {
                            "view": { name: "@Html.Raw(SharedResource["View"])", icon: "fas fa-eye", },
                            "child": {
                                name: "Add Child", icon: "fas fa-plus", items: {
                                    "goal": { name: "Goal", icon: "fas fa-scroll", visible: itemType === 1 },
                                    "comp": { name: "Competency", icon: "fas fa-tasks", visible: itemType === 1 },

                                }, visible: itemType === 1
                            },
                            "childTask": { name: "Add Task", icon: "fas fa-tasks", visible: itemType === 12 },
                        };
                    }

                    return {
                    callback: function (key, options) {
                            switch (key) {
                                //case 'edit':
                                //    OnEditItem(id, tempCode, type);
                                //    break;
                                //case 'del':
                                //    OnDeleteUser(id,pi,pt);
                                //    break;
                                //case 'childService':
                                //    AddItem(id, childso, type, 'Service');
                                //    break;
                                //case 'belowService':
                                //    AddItem(pi, so, pt, 'Service');
                                //    break;
                                //case 'childTask':
                                //    AddItem(id, childso, type, 'Task');
                                //    break;
                                //case 'belowTask':
                                //    AddItem(pi, so, pt, 'Task');
                                //    break;
                                //case 'childNote':
                                //    AddItem(id, childso, type, 'Note');
                                //    break;
                                //case 'childBook':
                                //    AddItem(id, childso, '-2', 'Book');
                                //    break;
                                //case 'belowNote':
                                //    AddItem(pi, so, pt, 'Note');
                                //    break;
                                case 'childTask':
                                    AddTask(id, tempCode);
                                    break;
                                case 'goal':
                                    AddService(id,'PMS_GOAL');
                                    break;
                                case 'comp':
                                    AddService(id, 'PMS_COMPENTENCY');
                                    break;
                                case 'view':
                                    OnView(id, tempCode, type);
                                    break;
                                case 'delete':
                                    OnDelete(id, type);
                                    break;
                                default:
                            }
                        },
                            @*items: {
                                "below": {
                                    name: "Add Below", icon: "fas fa-plus", visible: lvl !== 0 && itemType!==17, items: {
                                    "belowNote": { name: "Note", icon: "fas fa-scroll"},
                                    "belowTask": { name: "Task", icon: "fas fa-tasks" },
                                    "belowService": { name: "Service", icon: "fas fa-tasks-alt" },
                                    "belowEmail": { name: "Email Content", icon: "fas fa-envelope" },

                                    }
                            },
                                "child": {
                            name: "Add Child", icon: "fas fa-plus" , items: {
                                        "childNote": { name: "Note", icon: "fas fa-scroll", visible: itemType !== 17 },
                                        "childTask": { name: "Task", icon: "fas fa-tasks", visible: itemType !== 17 },
                                        "childService": { name: "Service", icon: "fas fa-tasks-alt", visible: itemType !== 17 },
                                        "childEmail": { name: "Email Content", icon: "fas fa-envelope", visible: itemType !== 17 },
                                        "childBook": { name: "Book", icon: "fas fa-book", visible: itemType === 17 },

                                    }
                            },
                                "edit": { name: "@Html.Raw(SharedResource["Edit"])", icon: "fas fa-pencil", visible:  itemType !== 17 },
                                "move": { name: "Move", icon: "fas fa-expand-arrows-alt", visible: lvl !== 0 && itemType !== 17},
                                "del": { name: "@Html.Raw(SharedResource["Delete"])", icon: "fas fa-trash", visible:  itemType !== 17},
                        }*@

                            items: Items
                    };
                }
            });

    });


</script>

<div id="book-html-content">
    @if (Model.BannerFileId != null || Model.IconFileId != null)
    {
        <div class="row">
            <div class="col-md-12" style="padding:0px;">
                @if (Model.IconFileId != null)
                {
                    <img style="height:100px;border-radius:1px;width:100%" src="/cms/Document/GetImageMongo?id=@Model.BannerFileId" />
                }
                <div class="@(Model.BannerFileId.IsNullOrEmpty()?"nts-banner-text-dark":"nts-banner-text-white")">@Model.TemplateDisplayName</div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12" style="height:60px;border-radius:1px;width:100%">
            <div class="nts-banner-text-small">@Model.TemplateDisplayName</div>
        </div>
    }
    <div>
        <div class="accordion menu-accordion" id="book-accordion">
            <div class="accordion-group" id="content">

                <div class="accordion-heading" data-toggle="collapse" data-target="#body_content1" data-parent="#book-accordion">
                    <div class="accordion-toggle" datatostringle="collapse" data-parent="#book-accordion" data-target="#body_content1">
                        <span class="accordion-text">Summary</span>
                    </div>
                </div>

                <div id="body_content1" class="book-accordion-body show">
                    <div class="col-md-12">
                        <div class="row" style="padding: 5px 0px 5px 0px;">
                            <div class="d-flex flex-row flex-nowrap overflow-hidden">
                                <div class="box" style=" overflow: unset; display: flex;">
                                    <div class="box indiv-block-bg">
                                        <div class="row">
                                            <div class="col">
                                                <div class="title-bg"><label>My Tasks</label></div>
                                            </div>
                                        </div>
                                        <!--<div class="row">
                                        <div class="col">
                                            <div>
                                                <div class="L-block">-->
                                        @*<img class="service-img" src="assets/img/ico-property-tax.png">*@
                                        <!--</div>
                                                    <div class="R-block"><label class="amount"></label></div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="row">
                                            <div class="col">
                                                <div class="dates-block">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="bill-date"><label class="sub-lable">Planned</label><div class="field-value" id="taskAssPln">0</div></div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="bill-date"><label class="sub-lable">Planned Overdue</label><div class="field-value" id="taskAssPlnOdue">0</div></div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="bill-date"><label class="sub-lable">Pending</label><div class="field-value" id="taskAssPen">0</div></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="due-date"><label class="sub-lable">Complete</label><div class="field-value" id="taskAssCom">0<br></div></div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="status"><label class="sub-lable">OverDue</label><div class="field-value" id="taskAssODue">0<br></div></div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="status"><label class="sub-lable">Rejected</label><div class="field-value" id="taskAssReject">0<br></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row flex-nowrap overflow-hidden" id="paymentdues">
                                <div class="box" style=" overflow: unset; display: flex;">
                                    <div class="box indiv-block-bg">
                                        <div class="row">
                                            <div class="col">
                                                <div class="title-bg"><label>Notifications</label></div>
                                            </div>
                                        </div>
                                        <!--<div class="row">
                                        <div class="col">
                                            <div>
                                                <div class="L-block">-->
                                        @*<img class="service-img" src="assets/img/ico-property-tax.png">*@
                                        <!--</div>
                                                    <div class="R-block"><label class="amount"></label></div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="row">
                                            <div class="col">
                                                <div class="dates-block">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="bill-date"><label class="sub-lable">Read</label><div class="field-value" id="notRead">0</div></div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="due-date"><label class="sub-lable">UnRead</label><div class="field-value" id="notUnRead">0<br></div></div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="due-date"><label class="sub-lable">Archived</label><div class="field-value" id="notArchived">0<br></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion-heading" data-toggle="collapse" data-target="#body_content" data-parent="#book-accordion">
                    <div class="accordion-toggle" datatostringle="collapse" data-parent="#book-accordion" data-target="#body_content">
                        <span class="accordion-text">Table Of Content</span>
                    </div>
                </div>
                <div id="body_content" class="book-accordion-body ">
                    <div id="treelistHtml"></div>
                </div>
            </div>
        </div>
        @{
            void LoadItems(Synergy.App.ViewModel.MenuParam prm, NtsViewModel item, List<NtsViewModel> items, int pl)
            {
                var padding = $"padding-left:{pl * 15}px;";
                if (!item.HideDescription)
                {
                    @: <div style="@padding">
                        if (item.ItemType == ItemTypeEnum.BookSection)
                        {
                            @:<h4 class="heading" id="html_@item.Id">@item.ItemNo&nbsp;@item.Subject</h4>
                        }
                        else if (item.ItemType == ItemTypeEnum.Book)
                        {
                            @:<a id="html_@item.Id" href="javascript:OnEditItem('@item.Id','@item.TemplateCode','@item.NtsType','16');"><h4 class="heading" id="@item.Id">@item.ItemNo&nbsp;@item.Subject</h4></a>
                        }
                        else
                        {
                            @:<a id="html_@item.Id" href="javascript:OnEditItem('@item.Id','@item.TemplateCode','@item.NtsType');"><h4 class="heading" id="@item.Id">@item.ItemNo&nbsp;@item.Subject</h4></a>
                        }

                        @: <div class="row" style="padding-left: 50px;">
                            if (!item.HideSubject)
                            {
                                @:   <div class="col-12 item-row">
                                    @:            <span class="lblsr">Subject</span><span class="lbls1">@item.Subject</span>
                                @:    </div>
                            }
                            if (!item.HideDescription)
                            {
                                @:    <div class="col-12 item-row">
                                    @:  <span class="lblsr">Description</span><span class="lbls1">@Html.Raw(item.Description.HtmlDecode()) </span>
                                @:    </div>
                            }

                            @:    <div class="col-12 item-row">
                                @:     <span class="lblsr"> Reference No.</span><span class="lbls1"> @item.NtsNo</span>
                            @:    </div>
                            @:
                            @:    <div class="col-12 item-row">
                                @: <span class="lblsr">Status.</span> <span class="lbls1">: @item.StatusName</span>
                            @:    </div>
                            if (item.UdfCount > 0)
                            {
                                @:<div class="col-12  item-row">
                                    @:   <div id="formio-container-@item.Id">Loading Udf...</div>
                                    @*@:   <iframe id="iframe_@item.Id" src="" frameborder="0" style="border:none;width:100%;height:500px;"></iframe>*@
                                    @:  @Html.Raw($@"<script>$(document).ready(function (){{LoadFormIoData('{item.NtsType.ToString()}','{item.TemplateId}','{item.Id}');}});</script>")
                                @:</div>
                            }
                        @:</div>
                    @:</div>
                }
                pl++;
                var childs = items.Where(x => x.parentId == item.Id).OrderBy(x => x.SequenceOrder).ThenBy(x => x.Sequence).ToList();

                foreach (var child in childs)
                {
                    LoadItems(prm, child, items, pl);
                }

            }
            var prm = new Synergy.App.ViewModel.MenuParam { Html = "" };
            var root = Model.BookItems.FirstOrDefault(x => x.Level == 0);
            if (root != null)
            {
                LoadItems(prm, root, Model.BookItems, 0);
            }

            @Html.Raw(prm.Html);
        }


    </div>
    <button id="gotoTop" onclick="GoToTop();" class="fa fa-chevron-up" title="Go Top"></button>
    <script>
        function LoadFormIoData(type, templateId, recordId) {
            var formio = document.getElementById('formio-container-' + recordId);
            var url = "/cms/getformiodata?ntstype=" + type + '&templateId=' + templateId + '&recordId=' + recordId;
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {
                    if (data !== null && data.uiJson !== undefined) {
                        var ui = JSON.parse(data.uiJson);
                        var dataJ = JSON.parse(data.dataJson);
                        Formio.createForm(formio, ui).then(function (form) {
                            form.submission = { data: dataJ };
                        });
                    }
                    else {
                        formio.innerHTML = '';
                    }
                },
                error: function (errData) {
                    formio.innerHTML = '<span style="color:red;">An error occured while loading Udf</span>';
                }
            });
        }
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                $('#gotoTop').show();
            } else {
                $('#gotoTop').hide();
            }
        }
        function GoToTop() {
            $('html,body').animate({
                scrollTop: '0px',
                scrollLeft: '0px'
            },
                1000);
            return false;
        }
    </script>
</div>







