@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@model LegalEntityViewModel

@{
    ViewData["Title"] = "PortalAdmin - Legal Entity";
    Layout = null;
}

<script>

     var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);
      @*var HierarchyType1 = '@Html.Raw(EnumExtension.EnumToJson(typeof(HierarchyTypeEnum)))';
    var HierarchyTypeObj1 = JSON.parse(HierarchyType1);*@
    var columnDefs = [
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menu1' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\" ><i class='fas fa-ellipsis-v'></i></div>"
            }
        },

           {
            field: "Name",
           },
           {
               field: "Code",

           },
           {
               field: "Address",
           },
        {
            field: "Phone",
        },
        {
            field: "Fax",

        },
        {
            field: "Email",
        },
        {
            field: "PrimaryContactPerson",
        },
        {
            field: "PrimaryContactEmail",
        }
      
    ];

    $(function () {

        getLegalEntityData();
        $.contextMenu({
            selector: '#tree-menu1',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');

                //var portalName = $trigger.data('portal-name');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        OnEditLegalEntity(id);
                                        break;

                                    case 'delete':
                                        OnDeleteLegalEntity(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },


                            }
                        };


                }
            }
        });


    });

    function getLegalEntityData() {
        document.getElementById("LegalEntitygrid").innerHTML = "";
        gridConfig(
            "LegalEntitygrid",
            "/PortalAdmin/LegalEntity/ReadData",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>
<script>
      
</script>

.
<div>
    <h4>@ViewBag.Title</h4>

    <hr />

    <div class="row">
        <div class="col-12">
            <button type='button' class='btn btn-primary' onclick='OnCreateLegalEntity();'><i class='fa fas fa-plus'></i>&nbsp;Create Legal Entity</button>
            <br /><br />
            <div id="LegalEntitygrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            </div>
        </div></div>

<script>

    function OnCreateLegalEntity()
    {
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("Create", "LegalEntity", new { @area= "PortalAdmin" })';
        win.OpenWindow({ Title: 'Manage LegalEntity', Width: 450, Height: 800 });
        return false;
    }
    function OnEditLegalEntity(id)
    {
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("Edit", "LegalEntity", new { @area= "PortalAdmin" })?Id=' + id;
        win.OpenWindow({ Title: 'Manage LegalEntity', Width: 450, Height: 800 });
        return false;
    }
      function OnDeleteLegalEntity(id) {
        var flag = confirm('Do you really want to delete the Legal Entity?');
        //alert("..Delete");
      //  e.preventDefault();
       // var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (flag) {
            $.ajax({
                url: '@Url.Action("Delete", "LegalEntity", new { @area = "Cms" })?Id=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    //
                    if (result.success) {
                        getLegalEntityData();
                       // $("#LegalEntitygrid").data("kendoGrid").dataSource.read();
                        kendo.alert("Legal Entity Deleted Successfully.");
                    } else {
                        getLegalEntityData();
                        //$("#LegalEntitygrid").data("kendoGrid").dataSource.read();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    getLegalEntityData();
                   // $("#LegalEntitygrid").data("kendoGrid").dataSource.read();
                }
            });
            return false;
        }
    }




</script>
