@inject IStringLocalizer<Synergy.App.WebUtility.Resources.Areas.BLS.BLSApplicationController> Resource
@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext

@model BLSVisaAppointmentViewModel

@{
    ViewData["Title"] = "Visa Appointment Form";
    Layout = null;
}

<style>
    .error {
        color: #b76ba3 !important;
    }

    .required {
        color: red;
    }

    .pwd-tgap {
        margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
    }

    .emailSetting {
        text-align: center;
        padding: 15px;
        background-color: #d9edf7;
        color: #31708f;
        border: solid 1px #bce8f1;
        border-radius: 1rem;
    }

    .notes {
        padding: 20px;
        background-color: #F8F8F8;
        border-radius: 1rem;
        margin-top: 25px;
    }

    .mainlist li {
        list-style: lower-alpha !important;
    }

    .sublist li {
        list-style: disc !important;
    }

    #AppointmentDate_dateview .k-calendar .k-content .k-link {
        background-color: #87db87;
    }

    #AppointmentDate_dateview .k-calendar .k-content .k-state-disabled .k-link {
        background-color: #fb5454;
    }
</style>

<script>

    $(document).ready(function () {
        debugger;
        if ('@Model.PaymentReferenceNo' != null && '@Model.PaymentReferenceNo' != '') {
            $("#test-l-1").removeClass("active dstepper-block");
            $("#test-l-1").addClass("dstepper-none");
            $("#test-l-5").removeClass("dstepper-none");
            $("#test-l-5").addClass("dstepper-block active");

            var el1 = document.querySelector('[data-target="#test-l-1"]');
            el1.classList.remove("active");
            el1.classList.add("success");
            var el2 = document.querySelector('[data-target="#test-l-2"]');
            el2.classList.remove("active");
            el2.classList.add("success");
            var el3 = document.querySelector('[data-target="#test-l-3"]');
            el3.classList.remove("active");
            el3.classList.add("success");
            var el4 = document.querySelector('[data-target="#test-l-4"]');
            el4.classList.remove("active");
            el4.classList.add("success");

            var el5 = document.querySelector('[data-target="#test-l-5"]');
            el5.classList.remove("abb");
            el5.classList.add("active");

            $("#test-l-5").load('/BLS/BLSApplication/PaymentConfirmation?serviceId=@Model.ServiceId');

        }

        $('input[type="radio"]').click(function () {
            if ($(this).attr('id') == 'family') {
                $("#members").css("display", "block");
                $("#ApplicantsNo").data("kendoDropDownList").value("");
            }

            else {
                $("#members").css("display", "none");
                $("#ApplicantsNo").data("kendoDropDownList").value("");
                onDateChange();
            }

        });

        $("#IsVisaIssuedEarlier").kendoDropDownList({
            //optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=BLS_VISA_ISSUED_PREVIOUSLY",
                    }
                }
            }
        });

        $("#VisaTypeId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/BLS/BLSApplication/GetVisaTypeList",
                    }
                }
            }
        });

        $("#AppointmentCategoryId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            change: OnCategory,
            dataSource: {
                transport: {
                    read: {
                        url: "/BLS/BLSApplication/GetAppointmentCategoryList",
                    }
                }
            }
        });

        $("#ApplicantsNo").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Name",
            filter: "contains",
            change: OnMember,
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=BLS_FAMILY_MEMBERS_COUNT",
                    }
                }
            }
        });

        $("#LegalLocationId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            change: onLocationSelect,
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/BLS/BLSApplication/GetLocationList"
                    }
                }
            }
        });

    });


    var presentDate = new Date();
    $("#TravelDate").kendoDatePicker({
        format: "yyyy/MM/dd",
        value: "YYYY-MM-DD",
        min: presentDate,
        month: {
            empty: '<div class="k-state-disabled">#= data.value #</div>'
        }
    });

    var onAjaxSuccess = function (res) {

        if (res.success) {
            HideLoader($('#cms-content'));

           // $('#dntCaptchaRefreshButton')[0].click();

            document.getElementById("myForm").reset();
            $("#test-l-3").load('/BLS/BLSApplication/VisaAppointmentForm?id=' + res.model.Id + '&serviceId=' + res.model.ServiceId + '&appointmentId=' + res.model.AppointmentId);

            $("#TravelDate").val("YYYY-MM-DD");
            ShowNotification('Service Created', 'success');
            $('#screen1').modal('show');
        }
        else {
            //$('#dntCaptchaRefreshButton')[0].click();
            HideLoader($('#cms-content'));
            showError(res.error);
        }
    };

    $('#screen1').on('hidden.bs.modal', function () {
        $("#test-l-1").addClass("dstepper-none");
        $("#test-l-1").removeClass("active dstepper-block");
        $("#test-l-2").removeClass("dstepper-none");
        $("#test-l-2").addClass("dstepper-block active");

        var el1 = document.querySelector('[data-target="#test-l-1"]');
        el1.classList.remove("active");
        el1.classList.add("success");
        var el2 = document.querySelector('[data-target="#test-l-2"]');
        el2.classList.add("active");
        el2.classList.remove("abb");
    });

    function onFormVerify(e, obj) {
        var valid = ValidateAppointment(e);
        if (valid == false) {
            return false;
        }
        var code = $("#VerificationCode").val();
        if (code === '' || code === null || code === undefined) {
            $(".validation-summary").html("Please enter email verification code.");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        var img = $("#ApplicantPhotoId").val();
        if (img === '' || img === null || img === undefined) {
            $(".validation-summary").html("Please upload applicant photo.");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        var win = GetMainWindow();
        win.iframeOpenUrl = '/Core/Security/GenerateCaptcha?@ViewBag.CaptchaParam';
        win.OpenWindow({ Title: 'Verify Appointment', Width: 400, Height: 600 });
        return false;
    }
    var ApplicantsData = [];
    function onFormSave1(e) {

        var valid = ValidateAppointment(e);
        if (valid == false) {
            return false;
        }
        var code = $("#VerificationCode").val();
        if (code === '' || code === null || code === undefined) {
            $(".validation-summary").html("Please enter email verification code.");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        var img = $("#ApplicantPhotoId").val();
        if (img === '' || img === null || img === undefined) {
            $(".validation-summary").html("Please upload applicant photo.");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        img = $("#ImageId").val();
        if (img === '' || img === null || img === undefined) {
            $(".validation-summary").html("Applicant not verified");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }

        var detailsString = JSON.stringify(ApplicantsData);
        $("#ApplicantsDetailsList").val(detailsString);
        ShowLoader($('#cms-content'));
    }
    function ValidateAppointment(e) {
        $(".validation-summary").html("");
        $(".validation-summary").css("display", "none");

        var mobile = $("#CurrentContactNumber").val();
        var email = $("#ApplicantEmail").val();
        var loc = $("#LegalLocationId").val();
        if (loc == '') {
            $(".validation-summary").html("Please Choose Location");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        if ($("#AppointmentCategoryId").val() == '') {
            $(".validation-summary").html("Please Choose Appointment Category");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        if ($("#AppointmentDate").val() == '') {
            $(".validation-summary").html("Please Choose Appointment Date");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        if (mobile == '') {
            $(".validation-summary").html("Please Enter Phone Number");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        if (email == '') {
            $(".validation-summary").html("Please Enter Email");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }


        var flag = $("#myForm").valid();
        if (flag == false) {
            e.preventDefault();
            return false;
        }

        var applicantsCount = $("#ApplicantsNo").val();
        if (applicantsCount == '' || applicantsCount == null) {
            $("#ApplicantsNo").val(1);
            applicantsCount = 1;
        }
        else {
            applicantsCount = applicantsCount.split(" ")[0];
            $("#ApplicantsNo").val(applicantsCount);
        }

        ApplicantsData = [];
        for (var k = 0; k < applicantsCount; k++) {

            if ($("#AppointmentSlot" + k).val() == '') {
                $(".validation-summary").html("Please choose AppointmentSlot");
                $(".validation-summary").css("display", "block");
                e.preventDefault();
                return false;
            }

            ApplicantsData[k] = {};
            ApplicantsData[k]["AppointmentSlot"] = $("#AppointmentSlot" + k).val();
            ApplicantsData[k]["Id"] = "";

        }
        return true;
    }
    var showError = function (error) {
        $(".validation-summary").html(error);
        $(".validation-summary").css("display", "block")
    }

    function RequestCode(e,source) {
        var valid = ValidateAppointment(e);
        if (valid == false) {
            return false;
        }
        var email = $("#ApplicantEmail").val();
        $(source).attr("disabled", true);
        $.ajax({
            type: "GET",
            url: "/BLS/BLSApplication/BLSRequestVerificationCode?email=" + email + "&appointmentId=" + $('#AppointmentId').val(),
            //url: "/BLS/BLSApplication/BLSRequestVerificationCode?email=" + email ,
            dataType: "json",
            success: function (data) {
                $(source).removeAttr("disabled");
                if (data.success) {
                    alert("Verfication code has been sent to the given email id. Please enter the received code below");
                    $("#div-email-btn").hide();
                    $("#div-email-code").show();
                }
                else {
                    alert(data.error);
                }
            }
        });
    }

    function onAgree() {

        $("#test-l-2").addClass("dstepper-none");
        $("#test-l-2").removeClass("active dstepper-block");
        $("#test-l-3").removeClass("dstepper-none");
        $("#test-l-3").addClass("dstepper-block active");

        var el1 = document.querySelector('[data-target="#test-l-2"]');
        el1.classList.remove("active");
        el1.classList.add("success");
        var el2 = document.querySelector('[data-target="#test-l-3"]');
        el2.classList.add("active");
        el2.classList.remove("abb");
    }

    function onLocationSelect() {
        $('#screen3').modal('show');
        var locVal = $("#LegalLocationId").val();
        $.ajax({
            type: "GET",
            url: "/BLS/BLSApplication/AppointmentDateByLocation?loc=" + locVal,
            dataType: "json",
            success: function (data) {
                $("#MaximumAllowedDays").val(data.MaximumAllowedDays);
                $("#WeekDays").val(data.WeekDays);
                $("#Holidays").val(data.Holidays);
                $("#AppointmentDate").data("kendoDatePicker").value("");
            }
        });
    }

    function onDisagree() {

        LoadPartailView('@Url.Action("BLSCustomerHome", "BLSApplication", new { @area = "BLS" })', $('#cms-content'));
    }
    function UpdateVerification(res) {
        if (res.exceeded) {
            window.location.href = window.location.href.split("?")[0];
            return false;
        }
        else if (res.success){
           // $("#CaptchaText").val(res.captcha);
            $("#btnVerified").show();
            $("#btnSubmit").show();
            $("#btnVerify").hide();
        }
    }
    function OnPhotoSubmit(photoId) {
        $("#ImageId").val(photoId);
        $("#btnVerifyApplicant").hide();
        $("#btnVerifiedApplicant").show();
        $("#btnVerify").show();

    }
    function OnChangeSlot() {
        var applicantsCount = $("#ApplicantsNo").val();
        var appCount = 1;
        if (applicantsCount == '' || applicantsCount == null) {
            appCount = 1;
        }
        else {
            applicantsCount = applicantsCount.split(" ")[0];
            appCount = applicantsCount;
        }

        var dateVal2 = kendo.toString($("#AppointmentDate").data("kendoDatePicker").value(), 'yyyy/MM/dd');

        var locVal = $("#LegalLocationId").val();

        var category = $("#AppointmentCategoryId").val();
        var slotids = "";
        for (var j = 0; j < appCount; j++) {

            var slots = $("#AppointmentSlot" + j).val();
            if (slots != '' && slots != null)
            {
                slotids += slots + ",";
            }
        }

        var slotDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/BLS/BLSApplication/GetSlotsList?date=" + dateVal2 + "&loc=" + locVal + "&category=" + category + "&slotids=" + slotids,
                    dataType: "json"
                }
            },
        });

        for (var j = 0; j < appCount; j++) {

            var slots = $("#AppointmentSlot" + j).val();

            var dropdownlist = $("#AppointmentSlot" + j).data("kendoDropDownList");
            dropdownlist.value(slots);
            dropdownlist.setDataSource(slotDataSource);
        }
    }


</script>

<script>

    $(".dropdown-menu a").click(function () {
        selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText);
    });

    var onAjaxSuccess2 = function (res) {

        if (res.success) {
            HideLoader($('#cms-content'));
            $("#test-l-4").load(`/BLS/BLSApplication/VisaAppointmentPaymentForm?id=` + res.model.Id + `&serviceId=` + res.model.ServiceId);

            document.getElementById("visaForm").reset();
            $("#AppointmentDate").val("");
            ShowNotification('Applicant Details Saved Successfully', 'success');
            $("#test-l-3").addClass("dstepper-none");
            $("#test-l-3").removeClass("active dstepper-block");
            $("#test-l-4").removeClass("dstepper-none");
            $("#test-l-4").addClass("dstepper-block active");

            var el1 = document.querySelector('[data-target="#test-l-3"]');
            el1.classList.remove("active");
            el1.classList.add("success");
            var el2 = document.querySelector('[data-target="#test-l-4"]');
            el2.classList.add("active");
        }
        else {
            console.log(res.error);
            HideLoader($('#cms-content'));
            showError(res.error);
        }
    };

    function onFileUploadSuccess(e) {

        if (e.success) {
            $("#ImageId").val(e.fileId);

        }
        else {

        }
        return true;
    }
    //function Capture() {
    //    var win = GetMainWindow();
    //    win.iframeOpenUrl = '/bls/blsapplication/livenessdetection?cbm=setPhotoId&type=0';
    //    win.OpenWindow({ Title: 'Capture Photo', Width: 500, Height: 650 });
    //    return false;
    //}


</script>

<div class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div style="max-width:900px;margin:auto;">

                <div id="stepper" class="bs-stepper">
                    <div class="card">


                        <div class="card-header">
                            <h5 class="text-center">@Resource["VisaAppointmentForm"]</h5>
                            <div class="steps steps-" role="tablist">
                                <ul id="mySteps">
                                    <li class="step active" data-target="#test-l-1">
                                        <a href="#" class="step-trigger" tabindex="-1" aria-selected="false">
                                            <span class="step-indicator step-indicator-icon"><i class="fa-solid fa-circle-arrow-right"></i></span>
                                            <span class="d-none d-sm-inline">@Resource["ApplicantDetails"]</span>
                                        </a>
                                    </li>

                                    <li class="step abb" data-target="#test-l-2">
                                        <a href="#" class="step-trigger" tabindex="-1" aria-selected="false">
                                            <span class="step-indicator step-indicator-icon"><i class="fa-solid fa-circle-arrow-right"></i></span>
                                            <span class="d-none d-sm-inline">@Resource["TermsofService"]</span>
                                        </a>
                                    </li>

                                    <li class="step abb" data-target="#test-l-3">
                                        <a href="#" class="step-trigger" tabindex="-1" aria-selected="false">
                                            <span class="step-indicator step-indicator-icon"><i class="fa-solid fa-circle-arrow-right"></i></span>
                                            <span class="d-none d-sm-inline">@Resource["AppointmentDetails"]</span>
                                        </a>
                                    </li>

                                    <li class="step abb" data-target="#test-l-4">
                                        <a href="#" class="step-trigger" tabindex="-1" aria-selected="false">
                                            <span class="step-indicator step-indicator-icon"><i class="fa-solid fa-circle-arrow-right"></i></span>
                                            <span class="d-none d-sm-inline">@Resource["Payment"]</span>
                                        </a>
                                    </li>

                                    <li class="step abb" data-target="#test-l-5">
                                        <a href="#" class="step-trigger" tabindex="-1" aria-selected="false">
                                            <span class="step-indicator step-indicator-icon"><i class="fa-solid fa-circle-arrow-right"></i></span>
                                            <span class="d-none d-sm-inline">@Resource["Confirmation"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        @*card body*@
                        <div class="card-body">

                            @*1st Step*@
                            <div id="test-l-1" class="content fade active dstepper-block">
                                <form asp-controller="BLSApplication" asp-action="ManageBLSVisaAppointment" class="form-horizontal"
                                      id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                                      data-ajax="true" data-ajax-method="POST">

                                    <div id="validation-summary" class="validation-summary text-danger" asp-validation-summary="All"></div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group my-4" style="display:flex">
                                                <label class="d-block pr-4 form-label ">@Resource["Appointmentbookfor"]</label>

                                                <div class="custom-control custom-control-inline custom-radio">
                                                    <input type="radio" asp-for="AppointmentFor" class="custom-control-input" value="Individual" id="self" checked required />
                                                    <label class="custom-control-label" for="self">@Resource["Individual"]</label>
                                                </div>
                                                <div class="custom-control custom-control-inline custom-radio">
                                                    <input type="radio" asp-for="AppointmentFor" class="custom-control-input" value="Family" id="family" />
                                                    <label class="custom-control-label" for="family">@Resource["Family"]</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div id="members" style="display:none;" class="form-group pt-3">
                                                <label class="form-label pr-3">@Resource["Number Of Members"]</label>
                                                <input asp-for="ApplicantsNo" type="text" style="max-width:200px;" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                            <div>
                                                <label for="LegalLocationId" class="form-label ">
                                                    <span class="required">*</span> @Resource["Selectyourcenter"]
                                                </label>
                                                <input asp-for="LegalLocationId" style="width:100%" required />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-lg-4">

                                            <div>
                                                <label for="AppointmentCategoryId" class="form-label">
                                                    <span class="required">*</span> @Resource["AppointmentCategory"]
                                                </label>
                                                <input asp-for="AppointmentCategoryId" style="width:100%" required />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                            <div>
                                                <label for="AppointmentDate" class="form-label">
                                                    <span class="required">*</span>@Resource["AppointmentDate"]
                                                </label>

                                                <input asp-for="AppointmentDate" style="width:100%" required placeholder="YYYY-MM-DD" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="appSlot" class="pt-3">
                                        <div id="appSlotInner" class="row pt-3">

                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div>
                                                <label for="CurrentContactNumber" class="form-label ">
                                                    <span class="required">*</span> @Resource["PhoneNumber"]
                                                </label>
                                                <input asp-for="CurrentContactNumber" class="form-control" style="width:100%" required />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div>
                                                <label for="ApplicantEmail" class="form-label">
                                                    <span class="required">*</span> @Resource["ApplicantEmail"]
                                                </label>
                                                <input asp-for="ApplicantEmail" class="form-control" required />
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div id="div-email-btn">
                                                <label class="form-label col-12">
                                                    &nbsp;
                                                </label>
                                                <button type="button" class="btn btn-primary"  onclick="RequestCode(event,this)"> @Resource["Get Email Verification Code"]</button>
                                            </div>
                                            <div style="display:none;" id="div-email-code">
                                                <label for="VerificationCode" class="form-label ">
                                                    <span class="required">*</span> @Resource["Enter Verification Code"]
                                                </label>
                                                <div class="row">
                                                    <div class="col-9">
                                                        <input asp-for="VerificationCode" class="form-control" required />
                                                    </div>
                                                    <div class="col-3">
                                                        <button type="button" class="btn btn-primary" title="@Resource["ResendVerificationCode"]" onclick="RequestCode(event,this)"><i class="fa fa-refresh"></i></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 pt-5">
                                            <div>
                                                <label class="form-label">
                                                    Upload Applicant Photo
                                                </label>
                                                @{
                                                    await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUploadBLS.cshtml", new FileUploadViewModel
                                                    {
                                                        Property = nameof(Model.ApplicantPhotoId),
                                                        Value = Model.ApplicantPhotoId,
                                                        ImageHeight = "120px",
                                                        ImageWidth = "120px",
                                                        ReferenceId = Model.AppointmentId
                                                    });
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-5">
                                        <div class="validation-summary text-danger" asp-validation-summary="All"></div>
                                        <div class="col-12 text-center">
                                            <button type="button" id="btnVerifyApplicant" class="btn btn-primary" onclick="Capture()">@Resource["VerifyApplicant"]</button>
                                            <button type="button" id="btnVerifiedApplicant" formnovalidate="formnovalidate" style="display:none;" class="btn btn-success text-center" disabled><i class="fa fa-badge-check pr-2"></i>@Resource["Applicant Verified"]</button>
                                            <button type="button" id="btnVerify" style="display:none;" formnovalidate="formnovalidate" class="btn btn-primary text-center" onclick="onFormVerify(event,this)">@Resource["Verify Appointment"]</button>
                                            <button type="button" id="btnVerified" formnovalidate="formnovalidate" style="display:none;" class="btn btn-success text-center" disabled><i class="fa fa-badge-check pr-2"></i>@Resource["Appointment Verified"]</button>
                                            <button type="submit" id="btnSubmit" class="btn btn-primary text-center" style="display:none;" onclick="onFormSave1(event)">@Resource["Submit Appointment"]</button>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.HiddenFor(x => x.ServiceId)
                                    @Html.HiddenFor(x => x.AppointmentId)
                                    @Html.HiddenFor(x => x.ImageId)
                                    @Html.HiddenFor(x => x.DataAction)
                                    @Html.HiddenFor(x => x.nextSectionId)
                                    @Html.HiddenFor(x => x.ApplicantPhotoId)
                                    @Html.HiddenFor(x => x.ApplicantsDetailsList)
                                    @Html.HiddenFor(x => x.FullSlot)
                                    @Html.HiddenFor(x => x.Holidays)
                                    @Html.HiddenFor(x => x.WeekDays)
                                    @Html.HiddenFor(x => x.MaximumAllowedDays)
                                </form>



                            </div>

                            @*2nd Step*@
                            <div id="test-l-2" class="content dstepper-none fade">
                                <div style="overflow-y:scroll; height:580px;">
                                    <p>Dear Visa Applicant,</p>
                                    <p>Through this privacy and data protection policy, we inform you and you expressly consent that the personal data that you provide us in this visa application, are treated and are incorporated, respecting the relevant security measures required for this purpose Spanish and European legislation on data protection, the file Visa Information System (VIS-National) responsibility of the Undersecretary of the Ministry of Foreign Affairs and Cooperation (MAEC) whose purpose is to provide support in the management (processing and resolution) of short-term visa applications of foreign citizens subject to the requirement of this requirement to enter Spain and / or other Schengen States.</p>
                                    <p>In addition, you consent and authorize the MAEC, use your personal data for any type of management concerning your visa application, keep them for the time necessary to carry out the proper management of your Visa.</p>
                                    <p>You are also informed about the assignments provided in the current legislation for data relating to short-term visas: to the central database of the VIS in Strasbourg, to the common computer application provided for in Additional Provision Five of the Organic Law 4 / 2000, to the National Police Force, the Civil Guard, and the National Intelligence Center, which will have access to data related to short-term visas in the case of countries that are subject to consultation between central authorities in accordance with Community regulations. applicable and in the case of sensitive countries agreed with the National Authority of the VIS. It also allows the transmission or making available to a third country or an international organization, the data treated in the VIS if deemed necessary and for specific cases, in order to prove the identity of third-country nationals, also for the purposes of refund, always in the terms stipulated by Regulation 727/2008 of the European Parliament and the Council of 9 July.</p>
                                    <p>In any case, you need to  exercise the rights of access, rectification or deletion, cancellation, opposition, limitation of treatment and portability in the terms specified in the legislation on data protection, you can do so by contacting the consular office for the data  You are also informed that you have the right to file a claim with the supervisory authority</p>

                                    <p><strong>PRIVACY POLICY FOR THE APPOINTMENT MANAGEMENT OF VISA APPLICATIONS</strong></p>
                                    <p>The Ministry of Foreign Affairs, European Union and Cooperation, in compliance with the data protection policy and thus in application of the 2016/679 Regulation (EU) by the European Parliament and the Council from the 27th of April 2016 concerning the protection of natural persons relative to personal data treatment and the free movement of such data and for which the 95/46/CE Directive (onwards, the General Regulation of data protection or “GRDP”), together with the development legislation which could result hereof, informs about the current privacy policy for the APPOINTMENT MANAGEMENT OF VISA APPLICATIONS.</p>

                                    <p>
                                        <strong>Who is responsible for the treatment of your personal data?</strong><br><br />
                                        The responsible for this treatment is the Consular Office where it´s demarcation is found and with registered office on the direction available on the website of said office (onwards, the OFFICE) where BLS INTERNATIONAL acts as Responsible of Treatment under signed contract between both parties.<br>
                                        <br>
                                        The Ministry of Foreign Affairs, the European Union and Cooperation (MAUC), has formally named a Deputy of Personal Data Protection, and is available to contact through the following mean of communication: <a href="mailto:dpd@maec.es" class="blue floatNone" target="_blank">dpd@maec.es</a>
                                    </p>

                                    <p><strong>How do we obtain your personal data?</strong></p>
                                    <div>
                                        To answer this question, it´s important to distinguish between sources which proceed from your personal data and the typology of personal data treated by the OFFICE.<br>
                                        <ul class="mainlist">
                                            <li>
                                                Sources in which personal data is gathered.
                                                <ul class="sublist">
                                                    <li>Provided by you on the relations established with the OFFICE through the registration on the Appointment Management System.</li>
                                                    <li>Provided by your legal representative (father, mother or legal tutor, in case of applicants under 14 years old) through the registration on the Appointment Management System.</li>
                                                </ul>
                                            </li>
                                            <li>
                                                Personal data typologies.
                                                <ul class="sublist">
                                                    <li>Identifying data: Name, Surname, Nationality, ID or Passport, Type of Passport, ID/Passport Expedition Date, Expiration Date, Place of Expedition, E-mail, Mobile phone.</li>
                                                    <li>Data of personal characteristics: Date of birth.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        In case of multiple appointments, identifying and contact data from the rest of applicants, confirming that you count with the consent of the rest of applicants included on the appointment for the treatment of personal data for those who are appointment holders.
                                    </div>

                                    <div class="mt-4" style="display:flex;justify-content:center;align-items:center">
                                        <button class="btn btn-success mr-4 p-2" onclick="onAgree()">@Resource["Iagreetoprovidemyconsent"]</button>
                                        <button class="btn btn-danger p-2" onclick="onDisagree()">@Resource["Idisagreeanddon'tgivemyconsent"]</button>
                                    </div>
                                </div>
                            </div>


                            @*3rd Step*@
                            <div id="test-l-3" class="content dstepper-none fade">

                            </div>

                            @*4th Step*@
                            <div id="test-l-4" class="content dstepper-none fade">

                            </div>

                            @*5th Step*@
                            <div id="test-l-5" class="content dstepper-none fade">

                            </div>

                        </div>


                    </div>
                </div>

                <div class="row-12 emailSetting">@ViewBag.EmailSettings</div>
                <div class="row-12 notes">
                    <b>Note :</b>
                    <br />
                    <ul>
                        @foreach (var x in ViewBag.SettingsList)
                        {
                            <li>@x</li>
                        }
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal fade in" id="screen1" tabindex="-1" role="dialog" aria-labelledby="disclaimer" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center">
                <h6 class="modal-title" id="disclaimer">@Resource["Disclaimer"]</h6>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa-solid fa-rectangle-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>
                        Dear Applicant,<br>
                        You are required to enter the same details as you have entered on application form for Spain visa application. Incorrect application may lead to cancellation of submission.
                    </strong>
                </p>

                <p><strong>Children below the age of 6 are no longer needed to make an appointment</strong></p>

                <p><strong>Travel insurance is compulsory for traveling to Spain. Applicants can purchase travel insurance from licensed insurance companies or <a href="https://bls.schengen.europ-assistance.com/fr?ipc=blsmorocco&amp;utm_source=blsmorocco&amp;utm_medium=affiliates" target="_blank" class="blue floatNone">click here</a> to access your travel insurance.</strong></p>

                <p>For new rules regarding Rabat Visa Centre <a href="feb-2020.php" class="blue floatNone" target="_blank"><strong>click here</strong></a></p>
                <p><strong> Applicants are also required to verify consular demarcations before booking the appointment.</strong></p>
                <p>
                    <strong>New Update</strong><br>
                    For Information regarding Nador Appointments Please <a href="new-update.php" target="_blank" class="blue floatNone">Click Here</a>
                </p>

                <p><strong>BLS Employee must provide receipt for all the services availed and paid at BLS Spain Visa Application Centre. Please write to <a href="mailto:feedback.na@blsitnernational.net" class="blue floatNone">feedback.na@blsitnernational.net</a> if you have not received receipt for any payments made in the Spain Visa Application Centre.</strong></p>

                <p><strong>Appointment, checklist and application form are available free of cost at Spain Visa Application Centre. You can also download the forms from <a href="https://blsspainmorocco.com" class="blue floatNone">https://blsspainmorocco.com</a></strong></p>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="screen2" tabindex="-1" role="dialog" aria-labelledby="premiumLounge" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="margin-bottom:250px;">
            <div class="modal-header" style="text-align:center">
                <h6 class="modal-title" id="premiumLounge">@Resource["PremiumLounge"]</h6>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa-solid fa-rectangle-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align:center;">
                    @Resource["Optionalservice"]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="screen3" tabindex="-1" role="dialog" aria-labelledby="onloc" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="margin-bottom:250px;">
            <div class="modal-header" style="text-align:center">
                <h6 class="modal-title" id="onloc">@Resource["Note"]</h6>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa-solid fa-rectangle-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align:center;">
                    @*@Resource["Pleasecheck"]*@
                    Please check the requirement of the visa you are applying for before scheduling your appointments.
                </p>
            </div>
        </div>
    </div>
</div>
<script id="Slottemplate" type="text/x-kendo-template">
    #if(data.Code=="Exist"){#
    <div style='background: indianred;border-radius: 14px;padding: 4px 18px 4px 18px;'>
     <span style='color:white' class='k-disabled'>
      #: data.Name #
    </span>
    </div>
    #}else{#
    <div style='background: green;border-radius: 14px;padding: 4px 18px 4px 18px;'>
     <span style='color:white'>
      #: data.Name #
    </span>
    </div>
    #}#

</script>
<script>
    function Capture() {
        var code = $("#VerificationCode").val();
        if (code === '' || code === null || code === undefined) {
            $(".validation-summary").html("Please enter email verification code");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        var img = $("#ApplicantPhotoId").val();
        if (img === '' || img === null || img === undefined) {
            $(".validation-summary").html("Please upload applicant photo.");
            $(".validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        var appointmentId = $("#AppointmentId").val();
        var win = GetMainWindow();
        win.iframeOpenUrl = '/bls/blsapplication/livenessdetection?appointmentId=' + appointmentId;
        win.OpenWindow({ Title: 'Verify Applicant', Width: 500, Height: 650 });
        return false;
    }
    function setPhotoId(fileId) {
        $("#ImageId").val(fileId);
    }
    var presentDate = new Date();
    $("#AppointmentDate").kendoDatePicker({
        format: "yyyy/MM/dd",
        placeholder: "YYYY-MM-DD",
        disableDates: disableDates,
        change: onDateChange,
        //min: presentDate,
        //month: {
        //    empty: '<div class="k-state-disabled">#= data.value #</div>'
        //}
    });
    function OnCategory() {
        $("#AppointmentDate").data("kendoDatePicker").enable(false);
        //$("#AppointmentDate").data("kendoDatePicker").value("YYYY_MM_DD");
        var locVal = $("#LegalLocationId").val();
        var category = $("#AppointmentCategoryId").val();
        $.ajax({
            type: "GET",
            url: "/BLS/BLSApplication/GetAppointmentDate?loc=" + locVal + "&category=" + category,
            dataType: "json",
            success: function (data) {
                $("#FullSlot").val(data);
                $("#AppointmentDate").data("kendoDatePicker").value("YYYY_MM_DD");
                $("#AppointmentDate").data("kendoDatePicker").enable(true);

            }
        });

    }
    function OnMember() {
        onDateChange();

    }
    function onDateChange() {

        var applicantsCount = $("#ApplicantsNo").val();
        var appCount = 1;
        if (applicantsCount == '' || applicantsCount == null) {
            appCount = 1;
        }
        else {
            applicantsCount = applicantsCount.split(" ")[0];
            appCount = applicantsCount;
        }

        var dateVal2 = kendo.toString($("#AppointmentDate").data("kendoDatePicker").value(), 'yyyy/MM/dd');

        var locVal = $("#LegalLocationId").val();

        var category = $("#AppointmentCategoryId").val();

        var slotDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/BLS/BLSApplication/GetSlotsList?date=" + dateVal2 + "&loc=" + locVal + "&category=" + category,
                    dataType: "json"
                }
            },
        });

        var maindiv = document.getElementById("appSlot");
        const element = document.getElementById("appSlotInner");
        element.remove();
        var div = document.createElement('div');
        div.className = "row pt-3";
        div.id = "appSlotInner";
        maindiv.appendChild(div);

        for (var j = 0; j < appCount; j++) {
            renderSlot(j);
            $("#AppointmentSlot" + j).val("");

            $("#AppointmentSlot" + j).kendoDropDownList({
                optionLabel: "--Select--",
                dataTextField: "Name",
                dataValueField: "Name",
                filter: "contains",
                autoBind: true,
                enable: false,
                change: OnChangeSlot,
                select: function (e) {
                    if (e.dataItem.Code == "Exist") {
                        e.preventDefault();
                    }
                },
                template: kendo.template($("#Slottemplate").html())
            });

            var dropdownlist = $("#AppointmentSlot" + j).data("kendoDropDownList");
            dropdownlist.value("");
            dropdownlist.enable(true);
            dropdownlist.setDataSource(slotDataSource);
        }


    }
    function renderSlot(index) {

        var maindiv = document.getElementById("appSlotInner");
        var div = document.createElement('div');
        div.className = "col-sm-4 col-md-3 col-lg-3";
        var div1 = document.createElement('div');

        div1.className = "form-group";

        div.appendChild(div1);
        maindiv.appendChild(div);

        var label = document.createElement('label');
        label.className = "form-label";
        label.innerHTML = "Applicant Slot " + (index + 1);

        div1.appendChild(label);

        var div2 = document.createElement('div');

        div1.appendChild(div2);

        var input = document.createElement('input');

        input.id = "AppointmentSlot" + index;

        div2.appendChild(input);
    }

    function disableDates(date) {

        if (date != "" && date != "YYYY-MM-DD" && date != null) {
            var today = new Date();
            var fullslot = $("#FullSlot").val();
            var max = $("#MaximumAllowedDays").val();
            var week = $("#WeekDays").val();
            var holiday = $("#Holidays").val();
            var day = "" + date.getDay();
            var dateVal2 = kendo.toString(date, 'yyyy-MM-dd');

            today.setDate(today.getDate() - 1);

            var diff = date - today;

            var daydiff = diff / (1000 * 60 * 60 * 24);
            if (date < today) {
                return true;
            }
            else if (holiday.indexOf(dateVal2) !== -1) {
                return true;
            }
            else if (fullslot != null && fullslot.indexOf(dateVal2) !== -1) {
                return true;
            }
            else if (daydiff < max && week.indexOf(day) !== -1) {
                return false;
            }


            //else if (date.getYear() == today.getYear() && date.getMonth() == today.getMonth() && date.getDate() == today.getDate())
            //{
            //    return false;
            //}
            else {
                return true;
            }
        }
        return true;
    }

</script>