@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using System.Web;
@model OnlinePaymentViewModel
@{
    ViewBag.Title = "Payment Response";
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@inject IUserContext usercontext;

<script>
    function RedirectToAnotherPage(url) {
        debugger;
        //window.top.location.href = url + "?serviceId=Model.NtsId";
        //window.location.href = "/Portal/BLSCustomer/AppointmentReceipt?prms=serviceId=Model.NtsId";
        //var prms = encodeURIComponent('serviceId=Model.NtsId&paymentReferenceNo=Model.PaymentReferenceNo');
        var serId = '@Model.NtsId';
        var refNo = '@Model.PaymentReferenceNo';
        var msg = serId.concat("|", refNo);
        
        window.location.href = "/Portal/BLSCustomer/VisaAppointment?prms=msg="+msg;
        return false;
    }
</script>
<div class="row" style="background-color:#fff;text-align:center;padding-top:100px;height:100vh;">
    @if (Model.PaymentStatusCode == "SUCCESS")
    {
        <div class="col-12">
            <h5 class="text-success" style="font-weight:600;">@Model.UserMessage</h5>
            @if (Model.ReturnUrl.IsNotNullAndNotEmpty())
            {
            <div class="pt-3">
                <button class="btn btn-primary" onclick="return RedirectToAnotherPage('@Model.ReturnUrl');">Go To Appointment</button>
            </div>
            }
        </div>
    }
    else
    {
        <div class="col-12">
            <h5 class="text-danger" style="font-weight:600;">@Model.UserMessage</h5>
            <div class="pt-3">
                <button class="btn btn-danger" onclick="return RedirectToAnotherPage('@Model.RequestUrl');">Try Again</button>
                @if (Model.ReturnUrl.IsNotNullAndNotEmpty())
                {
            <button class="btn btn-primary" onclick="return RedirectToAnotherPage('@Model.ReturnUrl');">Go To Appointment</button>
                }
                </div>
        </div>
    }

</div>
