@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@model ServiceViewModel;

@{

    //Layout = "~/Views/Shared/Themes/Recruitment/_Layout.cshtml";
    //Layout= "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    // Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = null;
}
<style>
    /* .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        background-clip: padding-box;
    }*/

    /* .project-dropdown ul {
        list-style-type: none;
        margin-bottom: 0px;
    }*/



    /*#banner {
        width: 100%;*/
    /*  height: 140px;*/
    /*height: 160px;
        left: 389px;
        top: 157px;
        background: #2D9FCA;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 6px;
        font-family: roboto;
    }

    .banner-item-project {
        background-color: #d6aa24;
    }

    .banner-item {
        color: #fff;
        height: 60px;
        text-align: left;
    }

        .banner-item:hover {
            color: #fff;
        }

    .banner-item-project {
        background-color: #42ca88;
    }

    .banner-item-date {
        background-color: #f0ad4e;
    }

    .k-dropdown-project .k-input {
        display: none !important;
    }*/
    .banner-container {
        position: relative;
        color: white;
    }

    .banner-text {
        position: absolute;
        top: 14px;
        left: 60px;
        font-size: 35px;
    }
</style>
<script>

    $(document).ready(function () {
        debugger;

        var name = "@Model.PageName";


        if ("@Model.PageName" == "ProjectTaskByDate")
        {
            if (window.parent == "" || window.parent == undefined) {
                LoadPartailView1("/pjm/ProjectTask/ProjectTaskByDate?ProjectId=@Model.Id", 'Project-content');
            } else {
                window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByDate?ProjectId=@Model.Id", 'Project-content');
            }
        }
         if ("@Model.PageName" == "TimeEntries")
        {
            @*if (window.parent == "" || window.parent == undefined) {
                LoadPartailView1("/pjm/ProjectTask/TimeEntries?ProjectId=@Model.Id", 'Project-content');
            } else {
                window.parent.LoadPartailView1("/pjm/ProjectTask/TimeEntries?ProjectId=@Model.Id", 'Project-content');
            }*@
        }
        if ("@Model.PageName" == "ProjectTaskByUser")
        {
            if (window.parent == "" || window.parent == undefined) {
               LoadPartailView1("/pjm/ProjectTask/ProjectTaskByName?ProjectId=@Model.Id", 'Project-content');
            } else {
               window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByName?ProjectId=@Model.Id", 'Project-content');
            }
        }
        if ("@Model.PageName" == "ProjectTaskView")
        {
             if (window.parent == "" || window.parent == undefined) {
            LoadPartailView1("/pjm/ProjectTask/ProjectTaskView?ProjectId=@Model.Id", 'Project-content');
            } else {
            window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskView?ProjectId=@Model.Id", 'Project-content');
            }
        }
        if ("@Model.PageName" == "ProjectDashboard")
        {
            // ProjectDashboard already loading in ProjectBanner, so bellow LoadPartailView is commented.
            @*if (window.parent == "" || window.parent == undefined) {
            LoadPartailView1("/pjm/Project/ProjectDashboard?projectId=@Model.Id", 'Project-content');
            } else {
            window.parent.LoadPartailView1("/pjm/Project/ProjectDashboard?projectId=@Model.Id", 'Project-content');
            }*@
        }
        if ("@Model.PageName" == "ProjectTaskCalendarView")
        {
             if (window.parent == "" || window.parent == undefined) {
                LoadPartailView1("/pjm/ProjectTask/ProjectTaskCalendarView?ProjectId=@Model.Id", 'Project-content');
            } else {
            window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskCalendarView?ProjectId=@Model.Id", 'Project-content');
            }
        }
        if ("@Model.PageName" == "ProjectPlanningView")
        {
             if (window.parent == "" || window.parent == undefined) {
                 LoadPartailView1("/pjm/Project/ProjectPlanningView?ProjectId=@Model.Id", 'Project-content');
            } else {
                 window.parent.LoadPartailView1("/pjm/Project/ProjectPlanningView?ProjectId=@Model.Id", 'Project-content');
            }
        }
        if ("@Model.PageName" == "WorkBreakDownStructure")
        {
             if (window.parent == "" || window.parent == undefined) {
            LoadPartailView1("/pjm/Project/ProjectWorkBreakDownStructure?projectId=@Model.Id", 'Project-content');
            } else {
            window.parent.LoadPartailView1("/pjm/Project/ProjectWorkBreakDownStructure?projectId=@Model.Id", 'Project-content');
            }
        }

        if (window.parent == "" || window.parent == undefined) {
       LoadPartailView1("/pjm/ProjectTask/ProjectDetailsBanner?ProjectId=@Model.Id&pageName=@Model.PageName", 'ProjectBanner');
            } else {
        window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectDetailsBanner?ProjectId=@Model.Id&pageName=@Model.PageName", 'ProjectBanner');
            }
    });

</script>
@if (Model.PageName == "ProjectTaskByUser")
{
    @*<div style=""><img style="width:100%; height:100px" src="~/images/Project Task by Date.png" /></div>*@
    <div class="banner-container">
        <img style="width:100%; height:100px" src="~/images/pmt/Project User Workload.jpg" />
        <div class="banner-text">Subordinate Task Workload</div>
    </div>


}
@if (Model.PageName == "ProjectTaskView")
{
    @*<div style=""><img style="width:100%; height:100px" src="~/images/pmt/Project Task View.jpg" /></div>*@
    <div class="banner-container">
        <img style="width:100%; height:100px" src="~/images/pmt/Project Task View.jpg" />
        <div class="banner-text">Project Task View</div>
    </div>


}
@if (Model.PageName == "ProjectDashboard")
{
    @*<div style=""><img style="width:100%; height:100px" src="~/images/pmt/Project Task.jpg" /></div>*@
    <div class="banner-container">
        <img style="width:100%; height:100px" src="~/images/pmt/Project Task.jpg" />
        <div class="banner-text">Project Dashboard</div>
    </div>


}
@if (Model.PageName == "ProjectTaskCalendarView")
{
    @*<div style=""><img style="width:100%; height:100px" src="~/images/pmt/Project Planning View.jpg" /></div>*@
    <div class="banner-container">
        <img style="width:100%; height:100px" src="~/images/pmt/Project Task View.jpg" />
        <div class="banner-text">Project Task Calendar View</div>
    </div>


}
@if (Model.PageName == "ProjectPlanningView")
{
    @*<div style=""><img style="width:100%; height:100px" src="~/images/pmt/Project Planning View.jpg" /></div>*@
    <div class="banner-container">
        <img style="width:100%; height:100px" src="~/images/pmt/Project Planning View.jpg" />
        <div class="banner-text">Project Planning View</div>
    </div>


}
@if (Model.PageName == "TimeEntries")
{
    @*<div style=""><img style="width:100%; height:100px" src="~/images/pmt/Project Planning View.jpg" /></div>*@
    <div class="banner-container">
        <img style="width:100%; height:100px" src="~/images/pmt/Time Entries.jpg" />
        <div class="banner-text">Time Entries</div>
    </div>


}
@if (Model.PageName == "WorkBreakDownStructure")
{
    @*<div style=""><img style="width:100%; height:100px" src="~/images/pmt/Project Planning View.jpg" /></div>*@
    <div class="banner-container">
        <img style="width:100%; height:100px" src="~/images/pmt/Work BreakDown Structure.jpg" />
        <div class="banner-text">Work BreakDown Structure</div>
    </div>


}

<div id="ProjectBanner">

</div>
<div id="Project-content" style="padding: 10px;">

</div>






