@*@using Syncfusion.EJ2.Navigations
@using Synergy.App.ViewModel;*@

@using Synergy.App.Common
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model Synergy.App.ViewModel.UserViewModel
@{
   // var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = "https://ej2.syncfusion.com/services/api/uploadbox/Save", RemoveUrl = "https://ej2.syncfusion.com/services/api/uploadbox/Remove" };
    //var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = @Url.Content("~/Uploader/Save"), RemoveUrl = @Url.Content("~/Uploader/Remove") };
}
<style>
    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }
</style>
<form asp-controller="User" asp-action="Edit" method="post" class="form-horizontal">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row" style="padding:10px;">
        <div class="col-sm-12">
            <div class="row" style="margin-bottom:10px !important;">
                @*<div style="width: 80px !important;margin-left: 10px !important;">
                        @if (Model.PhotoId != null)
                        {
                            <img class="avatar-myProfile" src="/user/profilephoto?id=@Model.PhotoId" onerror='OnPhotoError(this);' />
                        }
                        else
                        {
                            <img class="avatar-myProfile" style="background-color:gray;" src="~/images/profile.jpg" />
                        }

                    </div>*@
                <div style="width: 200px !important; margin-left: 15px !important;">
                    @*@(Html.Kendo().Upload().Multiple(false)
                            .Name("files")
                            .Async(a => a
                            .Save("Save", "Document")
                            .AutoUpload(true)
                            )
                            .Events(e => e.Success("onFileUploadSuccess")
                            )
                                .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" }).MaxFileSize(2097152))
                                .HtmlAttributes(new { @class = "hr-xx-large" })
                        )*@

                    @*<div class="row">
                        <div class="col">
                            <div id="iconFile" class="dm-uploader">
                                <h6 class=" text-muted">Drag &amp; drop files here</h6>

                                <div class="btn btn-primary btn-block ">
                                    <span>Open the file Browser</span>
                                    <input type="file" title='Click to add Files' />
                                </div>
                            </div>

                        </div>*@
                    @*if multiple use this*@

                    @*<div class="col">
                            <div class="card h-100">
                                <div class="card-header">
                                    File List
                                </div>
                                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                                    <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                                </ul>
                            </div>
                        </div>*@
                    @*if multiple use this*@

                    @{
                        await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.PhotoId), Value = Model.PhotoId, CallbackMethod= "onFileUploadSuccess" });
                    }
                </div>
            </div>
        </div>
        <div class="form-label-group">
            <input type="text" asp-for="Name" class="form-control" placeholder="Name" autocomplete="off" required="required" />
            <label for="name">Name</label>
        </div>
        <div class="form-label-group">
            <input type="email" asp-for="Email" class="form-control" placeholder="Email" required="required" autocomplete="off">
            <label for="email">Email</label>
        </div>
        @*<div class="form-label-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="required" autocomplete="off">
                <label for="password">Password</label>
            </div>*@
        <div class="form-label-group">
            <input type="text" asp-for="JobTitle" class="form-control" placeholder="Job Title" required="" autocomplete="off">
            <label for="jobtitle">Job Title</label>
        </div>
        <div class="form-label-group">
            <select asp-for="Status" class="form-control" placeholder="Status" required="required" autofocus="" style="padding-top: 15px !important; height: 60px !important;">
                @foreach (Enum status in System.Enum.GetValues(typeof(StatusEnum)))
                    {
                <option value="@status">@status.ToString()</option>
                    }
            </select>
            <label for="Status" style="margin-top: -20px !important;">Status</label>
        </div>

    </div>
    @*<input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Password" />*@

    @*<input type="hidden" asp-for="CompanyId" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="CreatedDate" />*@
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-light" onclick="CloseIframeModal(true);">Close</button>
    </div>
    </div>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Password)
    @Html.HiddenFor(x => x.PhotoId)
</form>

<script type="text/javascript">
    function onFileUploadSuccess(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            // set file id to hdden fileid proprty
            var id = $("#Id").val();
            $.ajax({
                url: "/user/ChangeUserProfilePhoto?photoId=" + e.fileId + '&userId=' + id,
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
                success: function (response) {
                    $(".avatar-myProfile").attr("src", "/user/profilephoto?id=" + e.fileId);
                    $("#PhotoId").val(e.fileId);
                }
            });

        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    // uploadFile();

    function uploadFile() {
        $("#iconFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                //upload Callback
                var id = $("#Id").val();
                $.ajax({
                    url: "/user/ChangeUserProfilePhoto?photoId=" + data.fileId + '&userId=' + id,
                    type: "GET",
                    contentType: "application/json",
                    dataType: "JSON",
                    success: function (response) {
                        $(".avatar-myProfile").attr("src", "/user/profilephoto?id=" + data.fileId);
                        $("#PhotoId").val(data.fileId);
                    }
                });


                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }
</script>