@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.DMSReportController> Resource
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;
@model PayrollRunResultViewModel
@{
    ViewData["Title"] = @Resource["DocumentStatusReport"];
    Layout = null;
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<script>


    //function OnEditDependant(e) {
    //    
    //    //e.preventDefault();
    //    //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

    //    //var portalId = $('#GlobalPortalId').val();

    //    //var url = '/Cms/Page?lo=Popup&cbm=AfterCreateDependent&source=Versioning&dataAction=Edit&pageName=Dependent&portalId=' + portalId + '&recordId=' + dataItem.id;

    //    //var win = GetMainWindow();
    //    //win.iframeOpenUrl = url;
    //    //win.OpenWindow({ Title: 'Manage Dependent', Width: 1200, Height: 600 });
    //    //return false;
    //}

    //function OnCreatePayrollBatch() {
    //    var url = '/Pay/PayrollBatch/ManagePayrollBatch';
    //    var win = GetMainWindow();
    //    win.iframeOpenUrl = url;
    //    win.OpenWindow({ Title: 'Create Payroll Batch', Width: 450, Height: 750, Position: 'Right' });
    //    //var url = "/pay/payrollrun/GetPayrollClosedCount";
    //    //$.ajax({
    //    //    url: url,
    //    //    type: 'GET',
    //    //    cache: false,
    //    //    async: false,
    //    //    success: function (data) {
    //    //        
    //    //        if (data.success) {
    //    //            //alert(data);
    //    //            var url = '/Pay/PayrollBatch/ManagePayrollBatch';
    //    //            var win = GetMainWindow();
    //    //            win.iframeOpenUrl = url;
    //    //            win.OpenWindow({ Title: 'Create Payroll', Width: 450, Height: 750, Position: 'Right' });
    //    //        } else {
    //    //            kendo.alert("Please close all existing payroll before creating new payroll.");
    //    //        }
    //    //    }
    //    //});
    //    return false;

    //}


    //function AfterCreatePayrollBatch() {
    //    $("#kgrdPayrollBatch").data("kendoGrid").dataSource.read();
    //}

    function onTabSelect(e) {
        SetTabControls($(e.item).index(), false);
    }
    function SetTabControls(index, select) {
        var tabStrip = $("#tabstripTemplate").data("kendoTabStrip");
        if (select) {
            tabStrip.select(index);
        }
    }

</script>

<style>
    .fa-plus {
        margin-top: 5px;
    }
</style>

<div style="padding:15px;">
    <div class="row-12">
        @(Html.Kendo().TabStrip()
                 .Name("tabstripTemplate")
                 .Events(e => e.Select("onTabSelect"))
                 .Items(tabstrip =>
                 {

                     tabstrip.Add().Text(@Resource["PendingDocuments"]).Selected(true)
                     .LoadContentFrom(Url.Content(string.Concat("/DMS/DMSReport/DocumentPendingStatusReport")));

                     tabstrip.Add().Text(@Resource["SubmittedDocuments"])
                     .LoadContentFrom(Url.Content(string.Concat("/DMS/DMSReport/DocumentSubmittedStatusReport")));


                     tabstrip.Add().Text(@Resource["ReceivedDocuments"])
                     .LoadContentFrom(Url.Content(string.Concat("/DMS/DMSReport/DocumentReceivedStatusReport")));

                     tabstrip.Add().Text(Resource["ReceivedCommentsFromQP"])
                          .LoadContentFrom(Url.Content(string.Concat("/DMS/DMSReport/DocumentReceivedCommentsReport")));

                 }

        ))

    </div>
</div>

