@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    var bannerHeight = 65;
    var returnUrl = "";
    string viewBagPortalId = Convert.ToString(ViewBag.PortalId);
    string footerText = Convert.ToString(ViewBag.Footer);
    if (ViewBag.Portal != null)
    {
        bannerHeight = ViewBag.Portal.BannerHeight;
        if (ViewBag.HideHeader != null && ViewBag.HideHeader == true)
        {
            bannerHeight = 10;
        }
        returnUrl = string.Concat("/portal/", Convert.ToString(ViewBag.Portal.Name));

    }
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@*<link rel="stylesheet" href="~/Themes/Looper/dist/assets/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css" asp-append-version="true">*@
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/stylesheets/theme.min.css" data-skin="default" asp-append-version="true">
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/stylesheets/theme-dark.min.css" data-skin="dark" asp-append-version="true">
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/vendor/flatpickr/flatpickr.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/stylesheets/custom.css" asp-append-version="true">

<style>
    .text-sm {
        font-size: .75rem !important;
    }

    .dropdown-scroll {
        height: 360px !important;
    }

    .banner-text {
        position: absolute;
        top: 15px;
        left: 30px;
        /*color: #fff;*/
    }

    .nts-d-none {
        display: none;
    }

    .dropdown-menu {
        z-index: 999 !important;
    }

    #cms-content {
        min-height: calc(100vh - 125px) !important;
    }

    .app {
        background-color: #fff;
    }

    .col-form-label {
        color: #888c9b !important;
    }

    .lang-text {
        font-size: .8rem;
        font-weight: 400;
        opacity: .8;
    }

    .lang-menu-text {
        font-size: .85rem;
        opacity: .8;
    }

    .lang-flag {
        width: 1.2rem;
        height: .8rem;
        border-radius: 0px !important;
    }

    .formio-error-wrapper {
        background-color: transparent !important;
    }

    .formio-error-wrapper, .formio-warning-wrapper {
        padding: 0px !important;
    }



    .app-aside-light {
        /*background-color: #ff7f50 !important;*/
        background-color: #f6f7f9 !important;
    }

    .menu-link {
        font-weight: 500;
        /*color: #f2f2f2 !important;*/
        color: #222230 !important;
    }

    .menu-icon {
        /*color: #f2f2f2 !important;*/
        color: #888c9b !important;
        font-size: 1rem !important;
        margin-right: 0.1em !important;
    }
    .sub-1 {
        padding-left: 1.5rem !important;
    }
    .sub-2 {
        padding-left: 2rem !important;
    }
    .menu-link:hover {
        font-weight: 500;
        /*color: #000 !important;*/
        color: #ff7f50 !important;
    }

    .menu-link:after {
        color: #f2f2f2 !important;
    }

    .top-bar {
        background-color: #ff7f50;
    }

    .top-bar-list {
        -webkit-box-shadow: 0 10px 10px -10px #cccccc;
        -moz-box-shadow: 0 10px 10px -10px #cccccc;
        box-shadow: 0 10px 10px -10px #cccccc;
        background-color: transparent !important;
    }

    .top-bar-brand {
        background-color: transparent !important;
    }

    .app-title {
        font-size: 22px;
        padding-top: 3px;
        color: #fff !important;
    }

    .text-blue-new {
        color: #fff !important;
    }

    .hamburger-box {
        background-color: transparent !important;
    }

    .page-title {
        font-size: 26px;
        font-weight: 600;
    }

    .btn-primary-grd {
        background-image: linear-gradient(to bottom, #003366, #216EBB);
    }

    .k-picker-wrap {
        border-radius: 6px;
        border: 1px solid #a9a9a9;
        border-bottom: 2px solid #003366 !important;
    }

    .bg-primary-grd {
        background-image: linear-gradient(to bottom, #05BAF3, #025570);
    }

    .bg-success-grd {
        background-image: linear-gradient(to bottom, #02F4E6, #02B5AA, #02867E);
    }

    .bg-danger-grd {
        background-image: linear-gradient(to bottom, #f40202, #b50245, #86023c);
    }

    .text-dark {
        color: #666666 !important;
    }
    /*.menu-item a:hover {
        background-color: #ff7f50 !important;
    }*/
    .stacked-menu .has-child > .menu {
        /*background-color: #ff7f50 !important;*/
        background-color: #f6f7f9 !important;
    }

    .menu-item:hover, .menu-item a:hover {
        /*background-color: #ff7f50 !important;*/
        background-color: #f6f7f9 !important;
    }

    .card {
        box-shadow: none !important;
    }
</style>
<script>
    var skin = localStorage.getItem('skin') || 'default';
    var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
    var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
    // Disable unused skin immediately
    disabledSkinStylesheet.setAttribute('rel', '');
    disabledSkinStylesheet.setAttribute('disabled', true);
    // add flag class to html immediately
    if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
    function IsPopupWindow() {
        return (window.frameElement !== null && window.frameElement !== undefined && window.frameElement !== '');
    }
    if (IsPopupWindow()) {
        $("<style>")
            .prop("type", "text/css")
            .html("\
                .clear-padding {\
                    margin-left: 0px !important;\
                    padding-top: 0px!important;\
                    padding-bottom: 0px!important;\
                }\
                .hide-in-popup {\
                    display: none;\
                }\
                .app-main-popup {\
                    padding-left: 0px !important;\
                    padding-top: 0px !important;\
                }")
            .appendTo("head");
    }

    function MarkAllNotifications() {
        debugger;
        $.ajax({
            url: '@Url.Action("MarkAllNotificationAsRead", "NotificationTemplate", new { @area= "PortalAdmin" })?userId=@_userContext.UserId&portalId=@_userContext.PortalId',
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    //
                    if (result.success) {
                        ShowNotification("Successfully marked as read", 'success');
                    } else {
                        ShowNotification("Update Failed", 'error');
                    }
                },
                error: function (ert) {
                    //
                    ShowNotification("Update Failed", 'error');
                }
        });
    }

</script><!-- END THEME STYLES -->
<!-- .app -->
<div class="app">
    <header class="hide-in-popup app-header app-header-dark">
        <!-- .top-bar -->
        <div class="top-bar">
            <!-- .top-bar-brand -->
            <div class="top-bar-brand hide-side-menu">
                <!-- toggle aside menu -->
                <button class="hamburger hamburger-squeeze mr-2 text-blue-new" type="button" data-toggle="aside-menu" aria-label="toggle aside menu"><span class="hamburger-box "><span class="hamburger-inner text-blue-new"></span></span></button> <!-- /toggle aside menu -->
                <a href="@ViewBag.Portal?.LandingPage">
                    <img alt="" title="" style="max-height:50px;" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = ViewBag.Portal?.LogoId })" onerror='LogoError(this);' />
                </a>
            </div><!-- /.top-bar-brand -->
            <!-- .top-bar-list -->
            <div class="top-bar-list">
                <!-- .top-bar-item -->
                <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
                    <!-- toggle menu -->
                    <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
                </div><!-- /.top-bar-item -->
                <!-- .top-bar-item -->
                <div class="top-bar-item top-bar-item-full">
                    <h4 class="app-title">@ViewBag.Portal?.DisplayName</h4>

                </div><!-- /.top-bar-item -->
                <!-- .top-bar-item -->
                <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
                    <!-- .nav -->
                    <ul class="header-nav nav">


                        @if (ViewBag.AllowedLanguages != null && ((List<Synergy.App.ViewModel.LOVViewModel>)ViewBag.AllowedLanguages).Any())
                        {
                            var allowedLangs = (List<Synergy.App.ViewModel.LOVViewModel>)ViewBag.AllowedLanguages;

                            <li class="dropdown d-none d-md-flex">
                                <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Notifications">
                                    <span class="pr-1 lang-text">@ViewBag.LanguageName</span>
                                    <span class="user-avatar lang-flag"><img class="lang-flag" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = @ViewBag.LanguageImageId })" alt="" /></span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                                    <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                                    @foreach (var item in allowedLangs)
                                    {
                                        //@: <a class="dropdown-item" href="javascript:$('#logoutModal').modal('show');"><span class="user-avatar"><img src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = item.ImageId })" alt="" /></span>@Html.Raw(SharedResource["Log Out"])</a>
                                        @: <a class="dropdown-item" href="javascript:ChangeLanguage('@item.Code');"><span class="user-avatar lang-flag"><img class="lang-flag" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = item.ImageId })" alt="" /></span><span class="pl-2 lang-menu-text">@item.Name</span></a>
                                    }
                                </div><!-- /.dropdown-menu -->
                            </li>
                        }


                        <li class="nav-item dropdown header-nav-dropdown has-notified">
                            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Notifications"><span class="fa fa-envelope-open text-blue-new"></span></a> <!-- .dropdown-menu -->
                            <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
                                <div class="dropdown-arrow"></div>
                                <h6 class="dropdown-header stop-propagation">
                                    <span>Messages</span> <a href="javascript:MarkAllNotifications()">Mark all as read</a>
                                </h6>
                                <!-- .dropdown-scroll -->
                                <div class="dropdown-scroll perfect-scrollbar">
                                    @if (ViewBag.TopMessages != null && ((List<Synergy.App.ViewModel.NotificationViewModel>)ViewBag.TopMessages).Any())
                                    {
                                        var messages = (List<Synergy.App.ViewModel.NotificationViewModel>)ViewBag.TopMessages;
                                        foreach (var msg in messages)
                                        {
                                            @:  <a href="#" class="dropdown-item unread">
                                                @:     <div class="user-avatar"><img src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = msg.PhotoId })" alt="" onerror='OnPhotoError(this);'></div>
                                                @:     <div class="dropdown-item-body"><p class="subject">@Html.Raw(msg.From)</p><p class="text text-truncate"> @Html.Raw(msg.Subject) </p><span class="date">@msg.CreatedDate.Humanize()</span></div>
                                            @:</a>
                                        }
                                    }
                                </div>
                                <!-- /.dropdown-scroll -->
                                <a href="javascript:LoadPartailView('/PortalAdmin/notificationTemplate/NewNotificationIndex',$('#cms-content'))" class="dropdown-footer">All messages <i class="fas fa-fw fa-long-arrow-alt-right"></i></a>
                            </div><!-- /.dropdown-menu -->
                        </li><!-- /.nav-item -->
                        <!-- .nav-item -->
                        <li class="nav-item dropdown header-nav-dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Applications"><span class="fa fa-th text-blue-new"></span></a> <!-- .dropdown-menu -->
                            <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
                                <div class="dropdown-arrow"></div><!-- .dropdown-sheets -->
                                @*<div class="dropdown-sheets">*@
                                <div class="dropdown-sheets dropdown-scroll perfect-scrollbar">
                                    @if (ViewBag.AllowedPortals != null && ((List<Synergy.App.ViewModel.PortalViewModel>)ViewBag.AllowedPortals).Any())
                                    {
                                        var allowedPortals = (List<Synergy.App.ViewModel.PortalViewModel>)ViewBag.AllowedPortals;
                                        foreach (var portal in allowedPortals)
                                        {
                                            @:  <div class="dropdown-sheet-item">
                                                @:     <a href="javascript:OnMenuPortalChange('@portal.Id')" class="tile-wrapper"><span class="tile tile-lg bg-@portal.IconBgColorText"><i class="@portal.IconCssText"></i></span> <span class="text-sm tile-peek">@portal.DisplayName</span></a>
                                            @:  </div>
                                        }
                                    }

                                </div><!-- .dropdown-sheets -->
                            </div><!-- .dropdown-menu -->
                        </li><!-- /.nav-item -->
                    </ul><!-- /.nav -->
                    <!-- .btn-account -->
                    <div class="dropdown d-none d-md-flex">
                        <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="user-avatar user-avatar-md">
                                <img src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = _userContext.PhotoId })" alt="" onerror='OnPhotoError(this);'>
                            </span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name text-blue-new">@_userContext.Name</span> <span class="account-description text-blue-new">@_userContext.JobTitle</span></span>
                        </button> <!-- .dropdown-menu -->
                        <div class="dropdown-menu">
                            <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                            <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                            <h6 class="dropdown-header d-none d-md-block d-lg-none">@_userContext.Name</h6>
                            <a class="dropdown-item" href="javascript:LoadPartailView('/user/userprofile?userId=@_userContext.UserId&portalId=@_userContext.PortalId',$('#cms-content'))"><span class="dropdown-icon fa fa-user"></span>@Html.Raw(SharedResource["MyProfile"])</a>
                            <a class="dropdown-item" href="javascript:OpenChangePassowrd()"><span class="dropdown-icon fa fa-key"></span>@Html.Raw(SharedResource["ChangePassword"])</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:OpenGrantAccess()"><span class="dropdown-icon fa fa-check-double"></span>@Html.Raw(SharedResource["GrantAccess"])</a>
                            <a class="dropdown-item" href="javascript:SwitchProfile()"><span class="dropdown-icon fa fa-random"></span>@Html.Raw(SharedResource["SwitchProfile"])</a>
                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="@Url.Action("Index", "helpCenter", new { @area = "Cms"})"><span class="dropdown-icon fa fa-question"></span>Help Center</a>*@
                            @*<a class="dropdown-item" href="javascript:LoadPartailView('/cms/helpcenter/index',$('#cms-content'))"><span class="dropdown-icon fa fa-user"></span>@Html.Raw(SharedResource["Help Center"])</a>*@
                            <a class="dropdown-item" href="javascript:LoadPartailView('/cms/help/HelpPost',$('#cms-content'))"><span class="dropdown-icon fa fa-user"></span>@Html.Raw(SharedResource["Help Center"])</a>
                            <a class="dropdown-item" href="javascript:$('#logoutModal').modal('show');"><span class="dropdown-icon fa fa-sign-out"></span>@Html.Raw(SharedResource["Log Out"])</a>
                        </div><!-- /.dropdown-menu -->
                    </div><!-- /.btn-account -->
                </div><!-- /.top-bar-item -->
            </div><!-- /.top-bar-list -->
        </div><!-- /.top-bar -->
    </header><!-- /.app-header -->
    <!-- .app-aside -->
    <aside class="hide-in-popup app-aside app-aside-expand-md app-aside-light hide-side-menu">
        <!-- .aside-content -->
        <div class="aside-content">
            <!-- .aside-header -->
            <header class="aside-header d-block d-md-none">
                <!-- .btn-account -->
                <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
                    <span class="user-avatar user-avatar-lg">
                        <img src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = _userContext.PhotoId })" alt="" onerror='OnPhotoError(this);'>
                    </span>
                    <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name text-blue-new">@_userContext.Name</span> <span class="account-description text-blue-new">@_userContext.JobTitle</span></span>
                </button> <!-- /.btn-account -->
                <!-- .dropdown-aside -->
                <div id="dropdown-aside" class="dropdown-aside collapse">
                    <!-- dropdown-items -->
                    <div class="pb-3">
                        <a class="dropdown-item" href="javascript:OpenMyProfile()"><span class="dropdown-icon fa fa-user"></span>@Html.Raw(SharedResource["MyProfile"])</a>
                        <a class="dropdown-item" href="javascript:OpenChangePassowrd()"><span class="dropdown-icon fa fa-key"></span>@Html.Raw(SharedResource["ChangePassword"])</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:OpenGrantAccess()"><span class="dropdown-icon fa fa-check-double"></span>@Html.Raw(SharedResource["GrantAccess"])</a>
                        <a class="dropdown-item" href="javascript:SwitchProfile()"><span class="dropdown-icon fa fa-random"></span>@Html.Raw(SharedResource["SwitchProfile"])</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="auth-signin-v1.html"><span class="dropdown-icon fa fa-question"></span>Help Center</a>
                        <a class="dropdown-item" href="javascript:$('#logoutModal').modal('show');"><span class="dropdown-icon fa fa-sign-out"></span>@Html.Raw(SharedResource["Logout"])</a>
                    </div><!-- /dropdown-items -->
                </div><!-- /.dropdown-aside -->
            </header><!-- /.aside-header -->
            <!-- .aside-menu -->
            <div class="aside-menu overflow-hidden">
                <!-- .stacked-menu -->
                <nav id="stacked-menu" class="stacked-menu">
                    <!-- .menu -->
                    <ul class="menu">
                        @{
                            var menus = (List<Synergy.App.ViewModel.MenuViewModel>)ViewBag.Menus;
                            var menuGroups = menus.Where(x => (x.ParentId == x.PortalId && x.PageType == TemplateTypeEnum.MenuGroup && menus.Any(y => y.ParentId == x.Id))
                            || (x.PageType != TemplateTypeEnum.MenuGroup && x.ShowOutsideMenuGroup))
                            .OrderBy(x => x.MenuGroupSequenceOrder).ThenBy(x => x.SequenceOrder).ToList();

                            foreach (var item in menuGroups)
                            {
                                if (item.PageType == TemplateTypeEnum.MenuGroup)
                                {
                                    var childs = menus.Where(x => x.ParentId == item.Id && x.ShowOutsideMenuGroup == false && x.HideInMenu == false)
                                        .OrderBy(x => x.SequenceOrder).ToList();
                                    if (childs.Any())
                                    {
                                        @:<li class="menu-item has-child">
                                            @: <a href="#" class="menu-link" title="@item.DisplayName"><span class="menu-icon @item.IconCss"></span> <span class="menu-text">@item.DisplayName</span></a>
                                            @: <ul class="menu">
                                                foreach (var child in childs)
                                                {
                                                    if (child.PageType == TemplateTypeEnum.MenuGroup)
                                                    {
                                                        var submenuChilds = menus.Where(x => x.ParentId == child.Id && x.ShowOutsideMenuGroup == false && x.HideInMenu == false)
                                                                        .OrderBy(x => x.SequenceOrder).ToList();
                                                        if (submenuChilds.Any())
                                                        {
                                                            @:<li class="menu-item has-child">
                                                                @: <a href="#" class="menu-link sub-1" title="@child.DisplayName"><span class="menu-icon @child.IconCss"></span> <span class="menu-text">@child.DisplayName</span></a>
                                                                @: <ul class="menu">
                                                                    @foreach (var submenuChild in submenuChilds)
                                                                    {
                                                                        @: <li class="menu-item">
                                                                            @:   <a title="@submenuChild.DisplayName" href="javascript:LoadPageById('@submenuChild.Id','@submenuChild.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')" class="menu-link  sub-2"><span class="menu-icon @submenuChild.IconCss"></span>@submenuChild.DisplayName</a>
                                                                        @: </li>
                                                                    }
                                                                @: </ul>
                                                            @:</li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @: <li class="menu-item">
                                                            @:   <a title="@child.DisplayName" href="javascript:LoadPageById('@child.Id','@child.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')" class="menu-link sub-1"><span class="menu-icon @child.IconCss"></span>@child.DisplayName</a>
                                                        @: </li>
                                                    }

                                                }
                                            @: </ul>
                                        @:</li>
                                    }
                                }
                                else
                                {
                                    @: <li class="menu-item">
                                        @:   <a href="javascript:LoadPageById('@item.Id','@item.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')" class="menu-link"><span class="menu-icon @item.IconCss"></span><span class="menu-text">@item.DisplayName</span></a>
                                    @:</li>
                                }
                            }
                        }

                        @*@{
            var menus = (List<Synergy.App.ViewModel.MenuViewModel>)ViewBag.Menus;
            if (menus != null)
            {

                foreach (var menu in menus.Where(x => x.ParentId == x.PortalId && x.PageType == TemplateTypeEnum.MenuGroup && menus.Any(y => y.ParentId == x.Id)).OrderBy(x => x.MenuGroupSequenceOrder))
                {
                    if (menu.PageType == TemplateTypeEnum.MenuGroup)
                    {
                        @: <li class="menu-item has-child">
                            @:  <a href="#" class="menu-link"><span class="menu-icon @menu.IconCss"></span> <span class="menu-text">@menu.DisplayName</span></a>
                            var childs = menus.Where(x => x.ParentId == menu.Id && x.PageType != TemplateTypeEnum.MenuGroup);
                            if (childs != null && childs.Any())
                            {
                                @: <ul class="menu">
                                    foreach (var item in childs.OrderBy(x => x.SequenceOrder))
                                    {
                                        @: <li class="menu-item">
                                            @:   <a href="javascript:LoadPageById('@item.Id','@item.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')" class="menu-link"><span class="menu-icon @item.IconCss"></span>@item.DisplayName</a>
                                        @: </li>
                                    }
                                @: </ul>
                            }
                            var subMenuGroups = menus.Where(x => x.ParentId == menu.Id && x.PageType == TemplateTypeEnum.MenuGroup);
                            if (subMenuGroups != null && subMenuGroups.Any())
                            {
                                @: <ul class="menu">
                                    foreach (var subMenu in subMenuGroups.OrderBy(x => x.SequenceOrder))
                                    {
                                        @: <li class="menu-item has-child">
                                            @:   <a href="#" class="menu-link"><span class="menu-icon @subMenu.IconCss"></span> <span class="menu-text">@subMenu.DisplayName</span></a>
                                            var subMenuChilds = menus.Where(x => x.ParentId == subMenu.Id && x.PageType != TemplateTypeEnum.MenuGroup);
                                            if (subMenuChilds != null && subMenuChilds.Any())
                                            {
                                                @: <ul class="menu">
                                                    foreach (var subMenuChild in subMenuChilds.OrderBy(x => x.SequenceOrder))
                                                    {
                                                        @: <li class="menu-item">
                                                            @:   <a href="javascript:LoadPageById('@subMenuChild.Id','@subMenuChild.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')" class="menu-link"><span class="menu-icon @subMenuChild.IconCss"></span>@subMenuChild.DisplayName</a>
                                                        @: </li>
                                                    }
                                                @: </ul>
                                            }
                                        @: </li>
                                    }
                                @: </ul>
                            }
                        @:</li>
                    }
                }
            }
        }*@
                    </ul><!-- /.menu -->
                </nav><!-- /.stacked-menu -->
            </div><!-- /.aside-menu -->
            <!-- Skin changer -->
            @*<footer class="aside-footer border-top p-2">
                    <button class="btn btn-light btn-block text-primary" data-toggle="skin"><span class="d-compact-menu-none">Night mode</span> <i class="fas fa-moon ml-1"></i></button>
                </footer>*@
            <!-- /Skin changer -->
        </div><!-- /.aside-content -->
    </aside><!-- /.app-aside -->
    <!-- .app-main -->
    <main id="main-content" class="app-main app-main-popup remove-pad-left">
        @RenderBody()
        @if (footerText.IsNotNullAndNotEmpty())
        {
            <footer class="app-footer hide-in-popup">
                <div class="copyright"> @Html.Raw(footerText)</div>
            </footer>
        }
    </main><!-- /.app-main -->
</div><!-- /.app -->

<script src="~/Themes/Looper/dist/assets/vendor/pace-progress/pace.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/stacked-menu/js/stacked-menu.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js" asp-append-version="true"></script> <!-- END PLUGINS JS -->
<!-- BEGIN THEME JS -->
<script src="~/Themes/Looper/dist/assets/javascript/theme.min.js" asp-append-version="true"></script> <!-- END THEME JS -->
<script src="~/Themes/Looper/dist/assets/vendor/flatpickr/flatpickr.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/flatpickr/plugins/monthSelect/index.js" asp-append-version="true"></script>

