@inject IStringLocalizer<CMS.UI.Web.Areas.CHR.Controllers.HRDirectController> Resource
@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@using Kendo.Mvc.UI
@using Synergy.App.Common

@model AssignmentViewModel

@{
    ViewBag.Title = @Resource["Contract"];
    Layout = ViewBag.Layout ?? null;
}
<style>
    .pad {
        padding-left: 30px;
    }

    .label-div {
        font-weight: 600;
        color: black;
    }

    .grey-panel {
        border: 1px solid #919191;
        font-weight: 600;
        background-color: #919191;
        padding: 0px 0px 0px 30px;
        border-radius: 6px;
        /*text-align: left;*/
        font-size: 18px;
        color: #fff;
    }

    .blue-panel {
        border: 1px solid #d7d3d3;
        width: 100%;
        font-weight: 600;
        background-color: #1D4993;
        padding: 10px 0px 10px 30px;
        border-radius: 6px;
        text-align: left;
        font-size: 24px;
        color: #fff;
        margin: 0;
        height: 60px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 30px;
        padding: 10px 0px 10px 0px;
    }
    /* accordian styling */

    .card-header .title {
        font-size: 17px;
        color: #000;
    }

    .card-header .accicon {
        float: right;
        font-size: 20px;
        width: 1.2em;
    }

    .card-header {
        cursor: pointer;
        border-bottom: none;
    }

    .card {
        border: 1px solid #ddd;
    }

    .card-body {
        border-top: 1px solid #ddd;
    }

    .card-header:not(.collapsed) .rotate-icon {
        transform: rotate(180deg);
    }
</style>


<body>
    <section class="about">
        <br />
        <div class="k-edit-form-container right" style="width: 100%;" hidden>
            <div class="blue-panel">
                &nbsp; &nbsp; <b>@Resource["Employeeprofile"]</b>
            </div>
        </div>

        <div class="accordion" id="accordionExample">                      
           
            @* Personal *@
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#" aria-expanded="false">
                    <span class="title">Contract </span> 
                     @if (Model.IsNotNull() && Model.UserRoleCodes.IsNotNull() && Model.UserRoleCodes.Contains("HR"))
                     {
                        <span><button class="btn btn-primary" style="float:right" onclick="EditContact('@Model.NoteId');">Edit</button></span>
                      }
                    
                </div>
                <div id="collapseThree" class="collapse show" data-parent="">
                    <div class="card-body">
                        <div style="background-color:white;">
                            
                            <div class="grey-panel" hidden>
                                @Resource["PersonalDetails"]
                            </div>
                           
                            <div class="row pad">
                                <div class="col-sm-2 label-div">
                                    @SharedResource["ContractType"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.ContractType)
                                </div>
                                <div class="col-sm-2 label-div">
                                    @Resource["Sponsor"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.SponsorName)
                                </div>
                            </div>
                            <br />
                            <div class="row pad">
                                <div class="col-sm-2 label-div">
                                    @SharedResource["AnnualLeaveEntitlement"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.AnnualLeaveEntitlement)
                                </div>
                                <div class="col-sm-2 label-div">
                                    @Resource["ContractRenewable"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.ContractRenewable)
                                </div>
                            </div>                         
                                                        
                        </div>
                    </div>
                </div>
            </div>                      

        </div>       

    </section>
</body>

