@inject IStringLocalizer<CMS.UI.Web.Areas.CHR.Controllers.HRDirectController> Resource
@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@using Kendo.Mvc.UI
@using Synergy.App.Common

@model PersonProfileViewModel

@{

    ViewBag.Title = @Resource["EmployeeProfile"];
    Layout = ViewBag.Layout ?? null;
}
<style>
    .pad {
        padding-left: 30px;
    }

    .label-div {
        font-weight: 600;
        color: black;
    }

    .grey-panel {
        border: 1px solid #919191;
        font-weight: 600;
        background-color: #919191;
        padding: 0px 0px 0px 30px;
        border-radius: 6px;
        /*text-align: left;*/
        font-size: 18px;
        color: #fff;
    }

    .blue-panel {
        border: 1px solid #d7d3d3;
        width: 100%;
        font-weight: 600;
        background-color: #1D4993;
        padding: 10px 0px 10px 30px;
        border-radius: 6px;
        text-align: left;
        font-size: 24px;
        color: #fff;
        margin: 0;
        height: 60px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 30px;
        padding: 10px 0px 10px 0px;
    }
    /* accordian styling */

    .card-header .title {
        font-size: 17px;
        color: #000;
    }

    .card-header .accicon {
        float: right;
        font-size: 20px;
        width: 1.2em;
    }

    .card-header {
        cursor: pointer;
        border-bottom: none;
    }

    .card {
        border: 1px solid #ddd;
    }

    .card-body {
        border-top: 1px solid #ddd;
    }

    .card-header:not(.collapsed) .rotate-icon {
        transform: rotate(180deg);
    }

    .card-header.collapsed .rotate-icon {
        transform: rotate(0deg);
    }
</style>

<script>
    

    function editPersonalInfo() {
        /**/
        var portalId = $('#GlobalPortalId').val();



        var url = '/Cms/Page?lo=Popup&pageType=Note&source=Edit&cbm=reload&dataAction=Edit&templateCodes=HRPerson&portalId=' + portalId + '&recordId=@Model.PersonNoteId';

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(Resource["Edit Personal Details"])', Width: 1200, Height: 600 });
        return false;
    }

</script>


<body>
    <section class="about">
        <br />
        <div class="k-edit-form-container right" style="width: 100%;" hidden>

            <div class="blue-panel">
                &nbsp; &nbsp; <b>@Resource["Employeeprofile"]</b>
            </div>
        </div>

        <div class="accordion" id="accordionExample">

            @* Basic *@
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                    <span class="title">Basic Info </span>
                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-9">
                                <div class="row pad">

                                    <div class="col-sm-2 label-div">
                                        @Resource["Person No"] :
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DisplayFor(x => x.PersonNo)
                                    </div>
                                    <div class="col-sm-2 label-div">
                                        @Resource["Person Full Name"] :
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DisplayFor(x => x.PersonFullName)
                                    </div>


                                </div><br />

                                <div class="row pad">

                                    <div class="col-sm-2 label-div">
                                        @Resource["Personal Email"] :
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DisplayFor(x => x.PersonalEmail)
                                    </div>


                                </div><br />
                            </div>

                            <div class="col-3">
                                <div class="row image-col">
                                    @*@if (Model.PhotoName != null)
                                        {
                                            <img class="profile-img" src="/cms/Document/GetImageMongo?id=@Model.PhotoName" style="text-align: center;" />
                                        }
                                        else
                                        {
                                            <img class="profile-img" src="/images/profile.jpg" style="text-align: center;">*@


                                    @if (Model.PhotoName != null)
                                    {
                                        <img class="avatar-myProfile" src="/cms/Document/GetImageMongo?id=@Model.PhotoName" onerror='OnPhotoError(this);' />
                                    }
                                    else
                                    {
                                        <img class="avatar-myProfile" style="background-color:gray;" src="/images/profile.jpg" />
                                    }
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            @* Work *@
            <div class="card" hidden>
                <div class="card-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                    <span class="title">Work Info </span>
                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                </div>
                <div id="collapseTwo" class="collapse show" data-parent="">
                    <div class="card-body">
                        <div class="grey-panel" hidden>




                            @Resource["JobDetails"]

                        </div>@*<br />*@

                        <div class="row pad">

                            <div class="col-sm-2 label-div">
                                @Resource["PersonNo"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PersonNo)
                            </div>


                            @*<div class="form-group col-xs-12 col-sm-6">
                                    <div class="col-sm-4 label-div">
                                        @Html.LabelFor(x => x.PersonTypeName, new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(x => x.PersonTypeName)
                                    </div>
                                </div>*@


                            <div class="col-sm-2 label-div">
                                @Resource["GradeName"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(model => model.GradeName)
                            </div>


                        </div><br />

                        <div class="row pad">

                            @*<div class="col-sm-4 label-div">
                                    @Html.LabelFor(x => x.OrganizationName, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-8">
                                    @Html.DisplayFor(x => x.OrganizationName)
                                </div>*@
                            <div class="col-sm-2 label-div">@Resource["OrganizationName"]</div>
                            <div class="col-sm-4">@Html.DisplayFor(x => x.OrganizationName)</div>

                            <div class="col-sm-2 label-div">
                                @Resource["JobName"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.JobName)
                            </div>
                        </div><br />
                        <div class="row pad">

                            <div class="col-sm-2 label-div">
                                @Resource["PositionName"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PositionName)
                            </div>




                            <div class="col-sm-2 label-div">
                                @Resource["AssignmentTypeName"]:
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.AssignmentTypeName)
                            </div>
                        </div><br />

                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["DateofJoin"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.DateOfJoin)
                            </div>




                            <div class="col-sm-2 label-div">
                                @Resource["LocationName"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.LocationName)
                            </div>
                        </div><br />
                        <span class="personal">&nbsp;</span>
                    </div>
                </div>
            </div>

            @* Personal *@
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                    <span class="title">Personal Details </span>
                    @if (Model.UserRoleCodes.IsNotNull() && Model.UserRoleCodes.Contains("HR"))
                    {
                        <span><a class="btn btn-primary" style="margin-left:10px; color:#fff;" onclick="editPersonalInfo();">Edit</a></span>
                    }

                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                </div>
                <div id="collapseThree" class="collapse show" data-parent="">
                    <div class="card-body">
                        @* Personal Details *@
                        <div style="background-color:white;">
                            @*<div class="row pad" style="color:black;font-size:22px">*@
                            <div class="grey-panel" hidden>


                                @Resource["Personal Details"]


                            </div>
                            @*<br />*@
                            <div class="row pad">

                                <div class="col-sm-2 label-div">
                                    @SharedResource["Title"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.Title)
                                </div>



                                <div class="col-sm-2 label-div">
                                    @Resource["Person Full Name"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.PersonFullName)
                                </div>
                            </div><br />

                            <div class="row pad">

                                <div class="col-sm-2 label-div">
                                    @SharedResource["Gender"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.Gender)
                                </div>



                                <div class="col-sm-2 label-div">
                                    @Resource["Nationality Name"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.NationalityName)
                                </div>
                            </div><br />


                            <div class="row pad">

                                <div class="col-sm-2 label-div">
                                    @Resource["Marital Status"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.MaritalStatus)
                                </div>




                                <div class="col-sm-2 label-div">
                                    @Resource["Religion"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.Religion)
                                </div>

                            </div><br />
                            @*<div class="form-group col-xs-12 col-sm-6">
                                    <div class="col-sm-4 label-div">
                                        @Html.LabelFor(x => x.BirthTown, new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(x => x.BirthTown)
                                    </div>
                                </div>*@

                            @*<div class="form-group col-xs-12 col-sm-6">
                                    <div class="col-sm-4 label-div">
                                        @Html.LabelFor(x => x.BirthCountryName, new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(x => x.BirthCountryName)
                                    </div>
                                </div>*@
                            <div class="row pad">

                                <div class="col-sm-2 label-div">
                                    @Resource["Date of Birth"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.DateOfBirth)
                                </div>



                                <div class="col-sm-2 label-div">
                                    @Resource["Personal Email"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.PersonalEmail)
                                </div>
                            </div><br />
                            <div class="row pad">

                                <div class="col-sm-2 label-div">
                                    @Resource["Contact Country Name"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.ContactCountryName)
                                </div>




                                <div class="col-sm-2 label-div">
                                    @Resource["Mobile"] :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DisplayFor(x => x.ContactCountryDialCode)
                                    @Html.DisplayFor(x => x.Mobile)
                                </div>
                            </div>
                            <br />
                        </div>
                        @* Contact Details *@
                    <div>
                        <div class="">




                            <h4>@Resource["Present Country Address"]</h4>

                        </div>
                        <hr />

                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["Unit Number"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PresentUnitNumber)
                            </div>



                            <div class="col-sm-2 label-div">
                                @Resource["Building Number"] :

                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PresentBuildingNumber)
                            </div>
                        </div><br />

                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["Street Name"] :

                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PresentStreetName)
                            </div>



                            <div class="col-sm-2 label-div">
                                @Resource["City"] :

                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PresentCity)
                            </div>
                        </div><br />

                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["Postal Code"] :

                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PresentPostalCode)
                            </div>



                            <div class="col-sm-2 label-div">
                                @Resource["Additional Number"] :

                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PresentAdditionalNumber)
                            </div>
                        </div><br />

                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["Country Name"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.PresentCountryName)
                            </div>
                        </div><br />



                        <div class="">
                            <h4>@Resource["Home Country Address"] </h4>

                        </div>
                        <hr />

                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["Unit Number"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.HomeUnitNumber)
                            </div>



                            <div class="col-sm-2 label-div">
                                @Resource["Building Number"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.HomeBuildingNumber)
                            </div>
                        </div><br />

                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["Street Name"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.HomeStreetName)
                            </div>



                            <div class="col-sm-2 label-div">
                                @Resource["City"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.HomeCity)
                            </div>
                        </div>
                        <br />
                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["Postal Code"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.HomePostalCode)
                            </div>



                            <div class="col-sm-2 label-div">
                                @Resource["Additional Number"] :
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.HomeAdditionalNumber)
                            </div>
                        </div><br />

                        <div class="row pad">
                            <div class="col-sm-2 label-div">
                                @Resource["Country Name"] :

                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(x => x.HomeCountryName)
                            </div>
                        </div><br />


                        <div>
                            <h4> @Resource["Emergency Contact Info1"]</h4>

                        </div>
                        <hr />
                        <div class="row pad">
                            <div class="col-sm-3 label-div">
                                @Resource["Emergency Contact Name1"] :
                            </div>
                            <div class="col-sm-3">
                                @Html.DisplayFor(x => x.EmergencyContactName1)
                            </div>



                            <div class="col-sm-3 label-div">
                                @Resource["Emergency Contact Country Name1"] :

                            </div>
                            <div class="col-sm-3">
                                @Html.DisplayFor(x => x.EmergencyContactCountryName1)
                            </div>
                        </div><br />
                        <div class="row pad">
                            <div class="col-sm-3 label-div">
                                @Resource["Emergency Contact No1"] :
                            </div>
                            <div class="col-sm-3">
                                @Html.DisplayFor(x => x.EmergencyContactCountryDialCode1)
                                @Html.DisplayFor(x => x.EmergencyContactNo1)
                            </div>



                            <div class="col-sm-3 label-div">
                                @Resource["Relationship1"] :

                            </div>
                            <div class="col-sm-3">
                                @Html.DisplayFor(x => x.Relationship1)
                            </div>
                        </div><br />







                        @*   <@if (Model.Relationship1.ToString() == "Other")
        {
            <div class="form-group col-xs-12 col-sm-6">
                <div class="col-sm-4 label-div">
                    @Html.LabelFor(x => x.OtherRelation1, new { @class = "control-label" })
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.OtherRelation1)
                </div>
            </div>
        }-->

        <!--</div>-->
        <!--</div>-->*@

                        <div>
                            <h4>@Resource["Emergency Contact Info2"]</h4>

                        </div>
                        <hr />
                        <div class="row pad">
                            <div class="col-sm-3 label-div">
                                @Resource["Emergency Contact Name2"] :
                            </div>
                            <div class="col-sm-3">
                                @Html.DisplayFor(x => x.EmergencyContactName2)
                            </div>



                            <div class="col-sm-3 label-div">
                                @Resource["Emergency Contact Country Name2"] :
                            </div>
                            <div class="col-sm-3">
                                @Html.DisplayFor(x => x.EmergencyContactCountryName2)
                            </div>
                        </div>

                        <br />
                        <div class="row pad">
                            <div class="col-sm-3 label-div">
                                @Resource["Emergency Contact No2"]  :
                            </div>
                            <div class="col-sm-3">
                                @Html.DisplayFor(x => x.EmergencyContactCountryDialCode2)
                                @Html.DisplayFor(x => x.EmergencyContactNo2)
                            </div>



                            <div class="col-sm-3 label-div">
                                @Resource["Relationship2"] :
                            </div>
                            <div class="col-sm-3">
                                @Html.DisplayFor(x => x.Relationship2)
                            </div>
                        </div><br /><br /><br /><br />
                    </div>
                    </div>
                </div>
            </div>

            


        </div>




       


    </section>
</body>

