@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceDashboardController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@model ServiceViewModel;
@inject IUserContext _userContext;
@{
    ViewBag.Title = "";
    // Layout = "/Views/Shared/_PopupLayout.cshtml";
    // Layout = "~/Areas/CMS/Views/Shared/_LayoutCMS.cshtml";
    Layout = null;
}
<style>
    .stage {
        background: #a5ccd2;
        border-radius: 7px;
        
    }
    
    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        background-clip: padding-box;
    }

    .project-dropdown ul {
        list-style-type: none;
        margin-bottom: 0px;
    }
    /* #dropdown {
        height: 42px;
        left: 221px;
        bottom: 35px;
        font-size: 18px;

        width: 99%;
        background: rgba(255, 255, 255, 0.15);
        border: 1px solid #E8E5E5;
        box-sizing: border-box;
        border-radius: 3px;
        color: #FFFFFF;
    }*/
    #banner {
        width: 100%;
        /*height: 140px;*/
      height:auto;
        left: 389px;
        top: 157px;
        background: #2D9FCA;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 6px;
        font-family: roboto;
    }

    .banner-item-project {
        background-color: #d6aa24;
    }

    .banner-item {
        color: #fff;
        height: 60px;
        text-align: left;
    }

        .banner-item:hover {
            color: #fff;
        }

    .banner-item-project {
        background-color: #42ca88;
    }

    .banner-item-date {
        background-color: #f0ad4e;
    }

    .k-dropdown-project .k-input {
        display: none !important;
    }
</style>
<script>

    $(document).ready(function () {
        HideLoader($("#global-overlay"));

        $("#PerformanceUser").kendoDropDownList({
            @*optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",*@
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            /*change: OnServiceChange,*/
            value:'@Model.PerformanceUser',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PMS/PerformanceTask/GetPerformanceUserList",
                    }
                }
            }
        });
        $("#PerformanceUserYear").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            /*change: OnServiceChange,*/
             value: '@Model.PerformanceUserYear',
            cascadeFrom: "PerformanceUser",
            dataSource:{
            serverFiltering: true,
            transport:{
                read:
                {
                    dataType: "json",
                    url: "/PMS/PerformanceTask/GetPerformanceUserYearList",
                    data: UserFilter
                    }
            }
        }
        });

        $("#PerformanceYear").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            value: '@Model.PerformanceUserYear',
            change: OnChangePYear,
            dataSource:{
            serverFiltering: true,
            transport:{
                read:
                {
                    dataType: "json",
                    url: "/PMS/PerformanceTask/GetPerformanceUserYearList?userId=" + '@_userContext.UserId',
                }
            }
        }
        });


         $("#Id").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
          //  change: OnServiceChange,
            value: '@Model.Id',
            cascadeFrom: "PerformanceUserYear",
            dataSource:
            {
                serverFiltering: true,
                transport:
                {
                    read:
                    {
                        dataType: "json",
                        url: "/PMS/PerformanceTask/GetPerformanceList",
                        data: YearFilter
                    }
                }
            }
        });






        $("#PerformanceStage").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "StageName",
            dataValueField: "StageId",
            filter: "contains",
            value: '@Model.PerformanceStage',
            cascadeFrom: "Id",
            dataSource:
            {
                serverFiltering: true,
                transport:
                {
                    read:
                    {
                        dataType: "json",
                        url: "/PMS/PerformanceDashboard/GetPerformanceStages",
                        data: DocFilter
                    }
                }
            }
        });



        $("#PerDocId").kendoDropDownList({
            @*optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",*@
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            change: OnServiceChange,
            value: '@Model.Id',
            //cascadeFrom: "PerformanceYear",
            dataSource:
            {
                //serverFiltering: true,
                transport:
                {
                    read:
                    {
                        dataType: "json",
                        url: "/PMS/PerformanceTask/GetPDMList",
                        data: PerYearFilter
                    }
                }
            },
            filtering: function (ev) {
                var filterValue = ev.filter != undefined ? ev.filter.value : "";
                ev.preventDefault();

                this.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "Name",
                            operator: "contains",
                            value: filterValue
                        },
                    ]
                });
            }
        });

        $("#mdlTaskStagesType1").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: '@Model.ServiceType',
          //  change: onChangeType,
          //  dataBound: onChangeType,
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=PerformanceStageEnum&exculdeItem1=PMS_PEER_REVIEW",
                    }
                }
            }
        });

        $("#DepartmentId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            change: OnDepartmentChange,
            value: '@Model.DepartmentId',
            dataSource:
            {
                //serverFiltering: true,
                transport:
                {
                    read:
                    {
                        dataType: "json",
                        url: "/CHR/HRCore/GetAllOrganisation",
                    }
                }
            },
            filtering: function (ev) {
                var filterValue = ev.filter != undefined ? ev.filter.value : "";
                ev.preventDefault();

                this.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "Name",
                            operator: "contains",
                            value: filterValue
                        },
                    ]
                });
            }
        });

        if ("@Model.PageName" == "ManagePerformance") {

            $("#typearea").show();

        }
        else
        {
            $("#typearea").hide();


        }
        var type = $("#mdlTaskStagesType1").data("kendoDropDownList").value();
            var project = document.getElementById("Id").value;
        var performanceStage = document.getElementById("PerformanceStage").value;
        var performanceUser = $("#PerformanceUser").data("kendoDropDownList").value();
        
        var performanceYear = "";
        var dept = "";
         if ('@Model.PageName' != "PerformanceResult") {
            var performanceUser = $("#PerformanceUser").data("kendoDropDownList").value();
            performanceYear = $("#PerformanceUserYear").data("kendoDropDownList").value();
        }

        if ('@Model.PageName' == "PerformanceResult") {
            performanceYear = $("#PerformanceYear").data("kendoDropDownList").value();
            dept = $("#DepartmentId").data("kendoDropDownList").value();
        }
        LoadPages(project, performanceStage, type, performanceUser, performanceYear, dept);

    });

    function OnDepartmentChange() {
        var doc = $("#PerDocId").data("kendoDropDownList").value();
        var performanceYear = $("#PerformanceYear").data("kendoDropDownList").value();
        var dept = $("#DepartmentId").data("kendoDropDownList").value();

        LoadPartailView1("/pms/PerformanceDashboard/PerformanceDetailsBanner?pageName=@Model.PageName&ProjectId=" + doc + '&PerformanceUserYear=' + performanceYear + '&departmentId=' + dept, 'ProjectBanner');

        window.parent.LoadPartailView1("/pms/PerformanceDashboard/PerformanceResult?ProjectId=" + doc + '&departmentId=' + dept, 'Project-content');

    }

    function UserFilter() {
        return {
            userId: $("#PerformanceUser").data("kendoDropDownList").value(),
        }
    }
    function YearFilter() {
        return {
            ownerId: $("#PerformanceUser").data("kendoDropDownList").value(),
            year: $("#PerformanceUserYear").data("kendoDropDownList").value(),
        }
    }

    function DocFilter() {
        return {
            performanceId: $("#Id").data("kendoDropDownList").value(),
            ownerUserId: $("#PerformanceUser").data("kendoDropDownList").value(),
        }
    }

    function PerYearFilter() {
        return {
            ownerId: '@_userContext.UserId',
            year: $("#PerformanceYear").data("kendoDropDownList").value(),
        }
    }
    function OnChangePYear() {
        var search = PerYearFilter();
        $("#PerDocId").data("kendoDropDownList").dataSource.read(search);
    }
    function onChangeType(e) {
        if ("@Model.PageName" == "ManagePerformance")
        {
            debugger;
            var type = this.text();
            var project = document.getElementById("Id").value;
            var performanceStage = document.getElementById("PerformanceStage").value;
            var performanceUser = $("#PerformanceUser").data("kendoDropDownList").value();
            var performanceYear = $("#PerformanceUserYear").data("kendoDropDownList").value();
            //alert(project);
            if (type == "Competency") {
                window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + project + '&PerformanceStage=' + performanceStage + "&type=" + type + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');

            }
            else if (type == "Development") {
                window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + project + '&PerformanceStage=' + performanceStage + "&type=" + type + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');
            }
            else if (type == "All") {
                window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + project + '&PerformanceStage=' + performanceStage + "&type=" + type + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');

            }
            else {
                window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + project + '&PerformanceStage=' + performanceStage + "&type=" + type + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');

            }

        }
    }

    function onFilterBanner() {
          debugger;
        var type = $("#mdlTaskStagesType1").data("kendoDropDownList").value();
        var typeValue = $("#mdlTaskStagesType1").data("kendoDropDownList").value();
            var project = document.getElementById("Id").value;
            var performanceStage = document.getElementById("PerformanceStage").value;
        var performanceYear = "";
        var dept = "";
         if ('@Model.PageName' != "PerformanceResult") {
            var performanceUser = $("#PerformanceUser").data("kendoDropDownList").value();
            performanceYear = $("#PerformanceUserYear").data("kendoDropDownList").value();
        }

        if ('@Model.PageName' == "PerformanceResult") {
            performanceYear = $("#PerformanceYear").data("kendoDropDownList").value();
            dept = $("#DepartmentId").data("kendoDropDownList").value();
        }
        LoadPartailView1("/pms/PerformanceDashboard/PerformanceDetailsBanner?pageName=@Model.PageName&ProjectId=" + project + '&PerformanceStage=' + performanceStage + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear + '&type=' + typeValue , 'ProjectBanner');
        LoadPages(project, performanceStage, type, performanceUser, performanceYear, dept);

    }

    function LoadPages(project, performanceStage, type, performanceUser, performanceYear, dept) {
         if ("@Model.PageName" == "ManagePerformance")
        {
                       //alert(project);
             if (type == "PMS_COMPENTENCY") {
                window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + project + '&PerformanceStage=' + performanceStage + "&type=" + "Competency" + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');

            }
             else if (type == "PMS_DEVELOPMENT") {
                window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + project + '&PerformanceStage=' + performanceStage + "&type=" + "Development" + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');
            }
             else if (type == "All") {
                window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + project + '&PerformanceStage=' + performanceStage + "&type=" + "All" + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');

            }
            else {
                window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + project + '&PerformanceStage=' + performanceStage + "&type=" + "Goal" + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');

            }

        }

         if ("@Model.PageName" == "ProjectTaskByUser")
        {
             window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByName?ProjectId=" + project, 'Project-content');
        }
         if ("@Model.PageName" == "ProjectTaskByDate")
        {
             window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByDate?ProjectId=" + project, 'Project-content');
        }

        if ("@Model.PageName" == "MyPerformance")
        {
            window.parent.LoadPartailView1("/pms/PerformanceDashboard/PerformanceDashboard?PerformanceId=" + project + "&stageId=" + performanceStage + "&performanceUserId=" + performanceUser, 'Project-content');
        }
        if ("@Model.PageName" == "PerformanceResult")
        {
            window.parent.LoadPartailView1("/pms/PerformanceDashboard/PerformanceResult?ProjectId=" + project + '&departmentId=' + dept, 'Project-content');
        }
        if ("@Model.PageName" == "PerformanceSchedule")
        {
            window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceCalendarView?ProjectId=" + project + "&stageId=" + performanceStage, 'Project-content');
        }
        if ("@Model.PageName" == "WorkBreakDownStructure")
        {
            window.parent.LoadPartailView1("/pjm/Project/ProjectWorkBreakDownStructure?projectId=" + project, 'Project-content');
        }
    }

    function OnServiceChange(e) {
        debugger;
         if ("@Model.PageName" == "ManagePerformance")
        {
          // return false;

            //   window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=" + dataItem.Id + '&PerformanceStage=' + performanceStage + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear, 'Project-content');
        }
        var performanceYear = "";
        var dept = "";
        var dataItem = e.sender.dataItem();
        if ('@Model.PageName' != "PerformanceResult") {
            var performanceUser = $("#PerformanceUser").data("kendoDropDownList").value();
            performanceYear = $("#PerformanceUserYear").data("kendoDropDownList").value();
        }

        if ('@Model.PageName' == "PerformanceResult") {
            performanceYear = $("#PerformanceYear").data("kendoDropDownList").value();
            dept = $("#DepartmentId").data("kendoDropDownList").value();
        }
        var performanceStage = $("#PerformanceStage").data("kendoDropDownList").value();
        var project = document.getElementById("Id").value;
        //debugger
        LoadPartailView1("/pms/PerformanceDashboard/PerformanceDetailsBanner?pageName=@Model.PageName&ProjectId=" + dataItem.Id + '&PerformanceUser=' + performanceUser + '&PerformanceUserYear=' + performanceYear + '&departmentId=' + dept, 'ProjectBanner');
        if ("@Model.PageName" == "ProjectTaskByUser")
        {
            window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByName?ProjectId=" + dataItem.Id, 'Project-content');
        }
         if ("@Model.PageName" == "ProjectTaskByDate")
        {
             window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByDate?ProjectId=" + dataItem.Id, 'Project-content');
        }

        if ("@Model.PageName" == "MyPerformance")
        {
            window.parent.LoadPartailView1("/pms/PerformanceDashboard/PerformanceDashboard?PerformanceId=" + dataItem.Id, 'Project-content');
        }
        if ("@Model.PageName" == "PerformanceResult")
        {
            window.parent.LoadPartailView1("/pms/PerformanceDashboard/PerformanceResult?ProjectId=" + dataItem.Id + '&departmentId=' + dept + "&stageId=" + dataItem.performanceStage, 'Project-content');
        }
        if ("@Model.PageName" == "PerformanceSchedule")
        {
            window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceCalendarView?ProjectId=" + dataItem.Id + "&stageId=" + dataItem.performanceStage, 'Project-content');
        }
        if ("@Model.PageName" == "WorkBreakDownStructure")
        {
            window.parent.LoadPartailView1("/pjm/Project/ProjectWorkBreakDownStructure?projectId=" + dataItem.Id, 'Project-content');
        }
    }
</script>

<div id="banner" role="group" style="width:100%;color:#FFFFFF;background: #17a2b8;padding-left: 5px;">
    <div class="row" style="padding-top:10px;">
        @if (Model.PageName != "PerformanceResult")
        {
            <div class="col-md-3">
                @*<div style="font-size:.8em;">
                    @Resource["DocumentNo"]
                    <div title=" @Resource["DocumentNo"]" style="padding-top:5px;font-size:18px">
                        @Model.ServiceNo

                    </div>
                </div>*@
                <div style="font-size:.8em;padding-top:0px;">
                    @Resource["PerformanceUser"]

                    <div class="project-dropdown" id="dropdown" title="@Resource["PerformanceUser"]">
                        <input id="PerformanceUser" class="form-control" style="width:80%" />

                    </div>
                </div>
            </div>
            <div class=" col-md-2">
                <div style="font-size:.8em;padding-top:0px;">
                    @Resource["PerformanceYear"]

                    <div class="project-dropdown" id="dropdown" title="@Resource["PerformanceYear"]">
                        <input id="PerformanceUserYear" class="form-control" style="width:80%" />

                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div style="font-size:.8em;padding-top:0px;">
                    @Resource["PerformanceDocument"]
                    <div class="project-dropdown" id="dropdown" title="@Resource["PerformanceDocument"]">

                        @*@(Html.Kendo().DropDownListFor(x =>x.Id)
                           .DataSource(source =>
                           {
                               source.Read(read =>
                               {
                                   read.Action("GetProjectsList", "ProjectTask", new { @area = "PJM" });
                               });
                           })
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .Events(x => x.Change("OnServiceChange"))
                            .HtmlAttributes(new { @class = "text-box-property" })
                        )*@

                        @*@(Html.Kendo().DropDownListFor(model=>model.Id)
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetPerformanceList", "PerformanceTask", new { @area = "Pms" });
                            });
                        })
                        .Events(x => x.Change("OnServiceChange"))
                        .HtmlAttributes(new { @class = "form-control" , @style="width:80%" })
                        )*@

                        <input id="Id" class="form-control" style="width:80%" />

                    </div>
                </div>
            </div>
        }
        @if (Model.PageName == "PerformanceResult")
        {
            <div class=" col-md-4">
                <div style="font-size:.8em;padding-top:0px;">
                    @Resource["PerformanceYear"]
                    <div class="project-dropdown" id="dropdown" title="@Resource["PerformanceYear"]">
                        <input id="PerformanceYear" class="form-control" style="width:80%" />
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div style="font-size:.8em;padding-top:0px;">
                    @Resource["PerformanceDocument"]
                    <div class="project-dropdown" id="dropdown" title="@Resource["PerformanceDocument"]">
                        <input id="PerDocId" class="form-control" style="width:80%" />
                    </div>
                </div>
            </div>
        }

       
            <div class="col-3">
                <div style="font-size:.8em;padding-top:0px;padding-right:16px">
                    Performance Stage
                    <div class="project-dropdown" id="PerformanceStageddl" title="Performance Stage">
                        <input id="PerformanceStage" class="hr-x-large search-control" />
                    </div>
                </div>
            </div>

            <div class="col-md-3" id="typearea">
                <div style="font-size:.8em;padding-top:0px;padding-right:16px">
                    @Resource["Type"]
                    <div class="objecttype" id="objecttype" title="@Resource["Type"]">
                        <input id="mdlTaskStagesType1" class="form-control" style="width:80%"/>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div style="font-size:.8em;padding-top:14px;padding-right:16px">
                    <button class="btn btn-warning" onclick="onFilterBanner()">Search</button>
                </div>
               
            </div>
        
     

        @if (Model.PageName == "PerformanceResult")
        {
            <div class="col-md-4">
                <div style="font-size:.8em;padding-top:0px;">
                    Department
                    <div class="project-dropdown" id="dropdown" title="Department">
                        <input id="DepartmentId" class="form-control" style="width:80%" />

                    </div>
                </div>
            </div>
        }
    </div>
   
    <div class="row" style="padding-top:20px">
        @if (Model.PageName != "PerformanceResult")
        {
            <div class=" col-md-3">
                <div title="@Resource["DocumentNo"]" style="font-size:.8em;">
                    @Resource["DocumentNo"]
                    <div style="padding-top:5px;font-size:18px"> @Model.ServiceNo</div>
                </div>
            </div>
            <div class=" col-md-2">
                <div title="@Resource["DocumentStatus"]" style="font-size:.8em;">
                    @Resource["DocumentStatus"]
                    <div style="padding-top:5px;font-size:18px"> @Model.ServiceStatusName</div>
                </div>
            </div>
            @* <div style="display:inline-flex;padding-left:140px">*@
            <div class=" col-md-2">
                <div title="@Resource["DocumentPriority"]" style="font-size:.8em">
                    @Resource["DocumentPriority"]
                    <div style="padding-top:5px;font-size:18px">@Model.Priority</div>
                </div>
            </div>
        }

        @if (Model.PageName == "PerformanceResult")
        {
            <div class=" col-md-2">
                <div title="@Resource["DocumentStatus"]" style="font-size:.8em;">
                    @Resource["DocumentStatus"]
                    <div style="padding-top:5px;font-size:18px"> @Model.PerformanceDocumentStatus</div>
                </div>
            </div>
        }

        @* <div style="display:inline-flex;padding-left:140px">*@
        <div class=" col-md-2">
            <div style="font-size:.8em;">
                @SharedResource["StartDate"]
                <div title="@SharedResource["StartDate"]" style="padding-top:5px;font-size:18px">
                    @Model.StartDate.ToDefaultDateFormat()
                </div>
            </div>
        </div>
        @* <div style="display:inline-flex;padding-left:140px">*@
        <div class=" col-md-3">
            <div style="font-size:.8em;">
                @SharedResource["DueDate"]
                <div title=" @SharedResource["DueDate"]" style="padding-top:5px;font-size:18px">
                    @Model.DueDate.ToDefaultDateFormat()
                </div>
            </div>
        </div>
    </div>
    <div class="row " style=" margin-left: 0px; font-size: 16px;margin-right:0px;">
        @*@if (Model.SubStages != null && Model.SubStages.Count() > 0)
        {
            foreach (var stage in Model.SubStages)
            {
                <div class="col-4 p-2 ">
                    <div class=" stage p-2">
                        <div style="font-size:.8em;">
                            <span>*@
                                @*@SharedResource["StageName"]:*@
                            @*</span>
                            <span>*@
                                @*@stage.ServiceSubject*@
                            @*</span>*@
                            @*@SharedResource["StageName"]: @stage.ServiceSubject*@

                        @*</div>
                        <div style="font-size:.8em;">
                            <span style="float:left;">*@
                                @*@SharedResource["StartDate"]:*@
                            @*</span>
                            <span>*@
                                @*@stage.StartDate.ToDefaultDateFormat()*@
                            <!--</span>


                        </div>
                        <div style="font-size:.8em;">
                            <span style="float:left;">-->
                                @*@SharedResource["DueDate"]:*@
                            <!--</span>
                            <span>-->
                                @*@stage.DueDate.ToDefaultDateFormat()*@
                            @*</span>


                        </div>*@

                        @*@if (stage.PerformanceDocumentStatus.HasValue)
                        {
                            <div style="font-size:.8em;">
                                <span>*@
                                    @*@SharedResource["Status"]:*@
                                @*</span>
                                <span>*@
                                    @*@stage.PerformanceDocumentStatus.ToString()*@
                                @*</span>

                            </div>
                        }
                        else
                        {
                            <div style="font-size:.8em;">
                                <span>*@
                                    @*@SharedResource["Status"]:*@
                                @*</span>
                                <span>

                                </span>

                            </div>
                        }*@



                    @*</div>

                </div>
            }
        }*@
    </div>
    @* <div class="btn banner-item banner-item-date col-sm-2">&nbsp;</div>*@
</div>