@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Move Item To Other Parent";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>
<style>
    #users-list .k-item {
        width: 100%;
        background-color: #fff;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 1px solid #f2f2f2;
        border-collapse: collapse;
    }

        #users-list .k-item:hover {
            background-color: rgb(182,189,202);
        }

    #users-list .k-state-selected, #SwitchToUserId-list .k-state-selected:hover {
        background-color: #1984c8;
        border-color: #1984c8;
    }
</style>
<script type="text/javascript">


    $(document).ready(function () {
        @*$("#ParentType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CHR/BusinessHierarchy/GetParentType?type="+'@ViewBag.RefType',
                    }
                }
            }
        });*@

        $("#ParentType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataBound: onDataBound,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=BusinessHierarchyItemTypeEnum",
                    }
                }
            }
        });

        $("#ParentId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            cascadeFrom: "ParentType",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CHR/BusinessHierarchy/GetBusinessHierarchyOnReferenceType",
                        data: Filter
                    }
                }
            }
        });
    });

    function Close() {

        var win = GetMainWindow();
        win.CloseWindow({ MethodName: "OnAfterCreate" });
        return false;
    }

    function Filter() {
        return {
            type: $("#ParentType").val()
        }
    }

    function onDataBound() {
        
        var dropdown = $("#ParentType").data("kendoDropDownList");
        const types = ["ROOT","LEVEL1", "LEVEL2", "LEVEL3", "LEVEL4", "BRAND", "MARKET", "PROVINCE", "DEPARTMENT", "CAREER_LEVEL", "JOB", "POSITION", "EMPLOYEE"];
        var len = types.length;
        var list = dropdown.dataSource.data();
        var index = types.indexOf("@ViewBag.RefType");

        for (let i = index; i < len ; i++) {         
            
                dropdown.dataSource.remove(list[i]);            
        }
    }


    function onMove() {
        
        var pType = $("#ParentType").data("kendoDropDownList").value();
        var newParent = $("#ParentId").data("kendoDropDownList").value();

        if (pType == "" || pType == null) {
            kendo.alert("Please Select Type")
            return false;
        }
        else if (newParent == "" || newParent == null) {
            kendo.alert("Please Select New Parent")
            return false;
        }
        else {
            ShowLoader($('.viewdata'));
             $.ajax({
                 type: 'POST',
                 url: "/chr/BusinessHierarchy/MoveToOtherParent?curNodeId=" + '@ViewBag.HierarchyId' + "&newParentId=" + newParent,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (res) {
                    HideLoader($('.viewdata'));
                    if (res.success) {
                        Close();
                }
                else {
                    window.parent.ShowNotification(res.message, "error");
                }

                }

             });
        }

    }

</script>

<br />
<br />
<div class="row-12 viewdata" style="padding:10px;">

    <div class="row">
        <div class="col-3">
            <label for="ParentType" style="font-size:16px;">Parent Type</label>
        </div>
        <div class="col-9">
            <input id="ParentType" class="drp-user" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <label for="Parent" style="font-size:16px;">Parent</label>
        </div>
        <div class="col-9">
            <input id="ParentId" class="drp-user" />
        </div>
    </div>    

    <br />
    <br />
    <br />
    <br />
    <div class="col-12" style="text-align:center">
        <button class="k-button k-button-icontext k-grid-btnAdd k-primary" onclick="onMove()" @*style="float:right;"*@>Move</button>
    </div>
</div>

