@using CMS.UI.ViewModel;
@using CMS.Common;
@model ApiConnectionViewModel
@{
    ViewData["Title"] = "API Connection";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}



<style>
    .cms-footer {
        position: unset !important;
        background-color: unset !important;
    }
</style>
<script>

    var win = GetMainWindow();

    $(document).ready(function () {



    });

    var onAjaxSuccess = function (res) {       
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("Saved Successfully", "success");
                $("#Id").val(res.id);
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("Updated Successfully", "success");
            }
            closeNavMember();
            win.refreshGridview();
        }
        else {
            ShowErrors(res.error);
        }
        HideLoader($('#template-content'));
    };
    var showError = function (error) {
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
    function ShowErrors(err) {
        $("#validation-summary").removeClass("validation-summary-valid");
        $("#validation-summary").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $("#validation-summary ul").html(msg);
    }
    function closeNavMember() {
        //var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function ExtractError(err, exludeLi) {
        var msg = "";
        $.each(err, function (key, value) {

            $.each(value, function (key1, value1) {
                $.each(value1, function (key2, value2) {
                    if (exludeLi) {
                        msg += value2 + "\n";
                    }
                    else {
                        msg += "<li>" + value2 + "</li>";
                    }

                });

            });
        });
        return msg;
    }
    function OnTestConnection() {
       
        kendo.alert("Connection Establish Successfully.");
                   
    }
   
    
</script>


<div class="row  pad-10 no-gutters">
    <div @*class="container card-header"*@ style="padding:10px;">
        
                <form asp-controller="BusinessAnalytics" asp-action="ManageApiConnection" class="form-horizontal"
                      data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                      data-ajax="true" data-ajax-method="POST">
                    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>



                    <div class="row" style="padding:10px;">
                        <div class="row col-12 pad-10">
                            <div class="col-3">
                                <label for="NoteSubject">Name<span class="required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-9">
                                @if (Model.DataAction == DataActionEnum.Create)
                                {
                                    <input asp-for="NoteSubject" type="text" class="form-control" placeholder="Name" autocomplete="off" />

                                }
                                else
                                {
                                    <input asp-for="NoteSubject" type="text" class="form-control" placeholder="Name" autocomplete="off" readonly />

                                }

                            </div>
                        </div>
                        <div class="row col-12 pad-10">
                            <div class="col-3">
                                <label for="restApiUrl">Rest Api Url<span class="required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="restApiUrl" type="text" class="form-control" placeholder="Rest Api Url" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row col-12 pad-10">
                            <div class="col-3">
                                <label for="parameters">Parameters<span class="required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="parameters" type="text" class="form-control" placeholder="Parameters" autocomplete="off" />
                            </div>
                        </div>                        
                        <div class="row col-12 pad-10">
                            <div class="col-3">
                                <label for="userName">Username</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="userName" type="text" class="form-control" placeholder="Username" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row col-12 pad-10">
                            <div class="col-3">
                                <label for="password">Password</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="password" type="password" class="form-control" placeholder="Password" value="@Model.password" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row col-12 pad-10">
                            <div class="col-3">
                                <label for="apiKey">Api Key</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="apiKey" type="text" class="form-control" placeholder="Api Key" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row col-12 pad-10">
                            <div class="col-3">
                                <label for="pollingTime">Polling Interval (In Minutes)<span class="required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="pollingTime" type="number" class="form-control" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="cms-footer">
                        @if (Model.DataAction == DataActionEnum.Edit)
                        {
                            <input type="button" class="btn btn-primary" value="Test Connection" onclick="OnTestConnection()" />

                        }
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>

                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.ParentNoteId)
                    @Html.HiddenFor(x => x.DataAction)
                    @Html.HiddenFor(x => x.NoteId)
                    @Html.HiddenFor(x => x.Json)
                    @Html.HiddenFor(x => x.DataJson)
                    @Html.HiddenFor(x => x.CompanyId)
                    @Html.HiddenFor(x => x.CreatedBy)
                    @Html.HiddenFor(x => x.CreatedDate)
                    @Html.HiddenFor(x => x.LastUpdatedBy)
                    @Html.HiddenFor(x => x.LastUpdatedDate)

                </form>
           


    </div>
</div>




