@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.BusinessAnalyticsController> Resource

@{
    ViewData["Title"] = "Watchlist Dashboard";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}
@using CMS.UI.ViewModel;

<style>

    em {
        background-color: yellow;
    }

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .treeview .k-in {
        width: 100% !important;
    }
    /*Portal Start*/
    .sidenav {
        height: 100vh; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        border-left: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 92% !important;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }

    .k-listview {
        background: transparent;
    }
    /*Portal End*/
    .watchlist-menu {
        background: #f8f8f7;
        border-bottom: 1px solid #9e9e9e;
        width: 100%;
        padding: 6px;
    }

    #watchlist li:hover {
        background: #808080;
        cursor: pointer;
    }

    .active {
        background: #808080;
    }
</style>


<script>


    //function refreshTreeview() {
    //    $("#documentTypeTreeView").data("kendoTreeView").dataSource.read();
    //}

    var splitter = $('.splitter-container').height(200).split({
        orientation: 'vertical',
        limit: 10,
        position: '20%', // if there is no percentage it interpret it as pixels
        onDrag: function (event) {
            console.log(splitter.position());
        }
    });

    function loadChart(id, text, e) {

        ShowLoader($('.splitter-container'));
        searchString = text;
        document.getElementById("socialMediaDiv").style.display = "";
        document.getElementById("emptyDiv").style.display = "none";
        $("#listview_Twitter").data("kendoListView").dataSource.read();
        $("#listview_Facebook").data("kendoListView").dataSource.read();
        $("#listview_Instagram").data("kendoListView").dataSource.read();
        $("#listview_Youtube").data("kendoListView").dataSource.read();
        $("#listview_WhatsApp").data("kendoListView").dataSource.read();
       // $("#kgrddial100").data("kendoGrid").dataSource.read();
       // $("#kgrdCCTV1").data("kendoGrid").dataSource.read();
       // $("#kgrdCCTV2").data("kendoGrid").dataSource.read();
       getdial100Data();
       getCCTV1Data();
       getCCTV2Data();
       // $(".watchlist-menu").removeClass("active");
       // $(e).closest("li").addClass("active");
       // var keyword = text;
       // keyword = keyword.replace(" ", "%22")
       // var url = "http://178.238.236.213:5601/app/dashboards#/view/ce87fdf0-cff8-11eb-bfef-c510268222c8?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!t,syncColors:!t,useMargins:!t),panels:!((embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:filter-index-pattern-0,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa:(columnOrder:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28,e843185d-3a4b-48d7-b250-80adeb56d407),columns:(b9665c79-6323-4eb2-bddf-d190e81d2bd3:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20post_message.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:post_message.keyword),e144f165-c2d9-4772-a737-8082f5f45a28:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:pagename.keyword),e843185d-3a4b-48d7-b250-80adeb56d407:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,indexRefName:filter-index-pattern-0,key:post_message,negate:!f,params:(query:'*" + keyword + "'),type:phrase),query:(match_phrase:(post_message:'*" + keyword + "')))),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28),layerId:ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,legendDisplay:default,metric:e843185d-3a4b-48d7-b250-80adeb56d407,nestedLegend:!f,numberDisplay:percent)),shape:treemap)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:11,i:'3267ca1c-143b-49a8-99cc-3c1c22602a43',w:18,x:0,y:0),panelIndex:'3267ca1c-143b-49a8-99cc-3c1c22602a43',title:Facebook,type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-layer-c940f6fc-1d27-4e49-84a6-584081734b4a,type:index-pattern),(id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:filter-index-pattern-0,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(c940f6fc-1d27-4e49-84a6-584081734b4a:(columnOrder:!(d666592e-5e26-46b9-82be-35e9124bf629,e5eec7ab-246d-4ff1-9d24-f4a391d04e23,'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9'),columns:('803781bf-7a5d-4cf7-974a-eb0e3fc5fba9':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),d666592e-5e26-46b9-82be-35e9124bf629:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20text.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:text.keyword),e5eec7ab-246d-4ff1-9d24-f4a391d04e23:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20hashtags.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:hashtags.keyword)),incompleteColumns:())))),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,indexRefName:filter-index-pattern-0,key:text,negate:!f,params:(query:'*" + keyword + "'),type:phrase),query:(match_phrase:(text:'*" + keyword + "')))),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(d666592e-5e26-46b9-82be-35e9124bf629,e5eec7ab-246d-4ff1-9d24-f4a391d04e23),layerId:c940f6fc-1d27-4e49-84a6-584081734b4a,legendDisplay:default,metric:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',nestedLegend:!f,numberDisplay:percent)),shape:pie)),title:'',type:lens,visualizationType:lnsPie),hidePanelTitles:!f),gridData:(h:11,i:c0be719b-7fe9-4a04-a9c7-5b9aa53bac3a,w:14,x:18,y:0),panelIndex:c0be719b-7fe9-4a04-a9c7-5b9aa53bac3a,title:Twitter,type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:" + keyword + "Keyword,viewMode:view)&show-time-filter=true&hide-filter-bar=true";
       // $("#iframeChart").attr('src', url);
        HideLoader($('.splitter-container'));
       // return false;
    }

    var searchString = "";
    function Filter() {
        var search = {
            searchStr: searchString,
            isAdvance: true,
        };
        return search;
    }

    function OnDataBoundTwitter(args) {

        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#twitter_count").html(count);

    }
    function OnDataBoundFacebook(args) {
        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#facebook_count").html(count);

    }
    function OnDataBoundInstagram(args) {
        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#instagram_count").html(count);

    }
    function OnDataBoundYoutube(args) {
        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#youtube_count").html(count);

    }
    function OnDataBoundWhatsapp(args) {
        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#whatsapp_count").html(count);

    }
    function OnDataBoundTwitter_Adv(args) {

        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#twitter_count_Adv").html(count);

    }
    function OnDataBoundFacebook_Adv(args) {
        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#facebook_count_Adv").html(count);

    }
    function OnDataBoundInstagram_Adv(args) {
        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#instagram_count_Adv").html(count);

    }
    function OnDataBoundYoutube_Adv(args) {
        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#youtube_count_Adv").html(count);

    }
    function OnDataBoundWhatsapp_Adv(args) {
        var count = "0";
        if (args.items.length > 0) {
            count = args.items[0].count;
        }
        $("#whatsapp_count_Adv").html(count);

    }





    @*$(function () {
        $.contextMenu({
            selector: '.tree-menu1',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('id');
                var keyword = $trigger.data('text');
                keyword = keyword.replace(" ", "%22")


                return {
                    callback: function (key, options) {
                        switch (key) {
                            case 'view':

                                //LoadPartailView('@Url.Action("Dashboard", "BusinessAnalytics", new { @area = "Cms" })?dataAction=Create', $('#template-content'));
                                //var url = "http://178.238.236.213:5601/app/dashboards#/view/ce87fdf0-cff8-11eb-bfef-c510268222c8?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:b0a4e380-cff7-11eb-bfef-c510268222c8,key:query,negate:!f,type:custom,value:'%7B%22bool%22:%7B%22must%22:%7B%22multi_match%22:%7B%22fields%22:%5B%22post_message%22,%22url%22%5D,%22fuzziness%22:%22AUTO%22,%22query%22:%22"+keyword+"%22%7D%7D%7D%7D'),query:(bool:(must:(multi_match:(fields:!(post_message,url),fuzziness:AUTO,query:"+keyword+")))))),fullScreenMode:!f,options:(hidePanelTitles:!t,syncColors:!t,useMargins:!t),panels:!((embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa:(columnOrder:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28,e843185d-3a4b-48d7-b250-80adeb56d407),columns:(b9665c79-6323-4eb2-bddf-d190e81d2bd3:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20post_message.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:post_message.keyword),e144f165-c2d9-4772-a737-8082f5f45a28:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:pagename.keyword),e843185d-3a4b-48d7-b250-80adeb56d407:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28),layerId:ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,legendDisplay:default,metric:e843185d-3a4b-48d7-b250-80adeb56d407,nestedLegend:!f,numberDisplay:percent)),shape:treemap)),title:'',type:lens,visualizationType:lnsPie),enhancements:()),gridData:(h:15,i:'3267ca1c-143b-49a8-99cc-3c1c22602a43',w:24,x:0,y:0),panelIndex:'3267ca1c-143b-49a8-99cc-3c1c22602a43',type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:BhopalKeyword,viewMode:edit)&show-time-filter=true&hide-filter-bar=true";
                                var url = "http://178.238.236.213:5601/app/dashboards#/view/ce87fdf0-cff8-11eb-bfef-c510268222c8?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!t,syncColors:!t,useMargins:!t),panels:!((embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:filter-index-pattern-0,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa:(columnOrder:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28,e843185d-3a4b-48d7-b250-80adeb56d407),columns:(b9665c79-6323-4eb2-bddf-d190e81d2bd3:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20post_message.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:post_message.keyword),e144f165-c2d9-4772-a737-8082f5f45a28:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:pagename.keyword),e843185d-3a4b-48d7-b250-80adeb56d407:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,indexRefName:filter-index-pattern-0,key:post_message,negate:!f,params:(query:'*" + keyword + "'),type:phrase),query:(match_phrase:(post_message:'*" + keyword +"')))),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28),layerId:ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,legendDisplay:default,metric:e843185d-3a4b-48d7-b250-80adeb56d407,nestedLegend:!f,numberDisplay:percent)),shape:treemap)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:11,i:'3267ca1c-143b-49a8-99cc-3c1c22602a43',w:18,x:0,y:0),panelIndex:'3267ca1c-143b-49a8-99cc-3c1c22602a43',title:Facebook,type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-layer-c940f6fc-1d27-4e49-84a6-584081734b4a,type:index-pattern),(id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:filter-index-pattern-0,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(c940f6fc-1d27-4e49-84a6-584081734b4a:(columnOrder:!(d666592e-5e26-46b9-82be-35e9124bf629,e5eec7ab-246d-4ff1-9d24-f4a391d04e23,'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9'),columns:('803781bf-7a5d-4cf7-974a-eb0e3fc5fba9':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),d666592e-5e26-46b9-82be-35e9124bf629:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20text.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:text.keyword),e5eec7ab-246d-4ff1-9d24-f4a391d04e23:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20hashtags.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:hashtags.keyword)),incompleteColumns:())))),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,indexRefName:filter-index-pattern-0,key:text,negate:!f,params:(query:'*"+keyword+"'),type:phrase),query:(match_phrase:(text:'*"+keyword+"')))),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(d666592e-5e26-46b9-82be-35e9124bf629,e5eec7ab-246d-4ff1-9d24-f4a391d04e23),layerId:c940f6fc-1d27-4e49-84a6-584081734b4a,legendDisplay:default,metric:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',nestedLegend:!f,numberDisplay:percent)),shape:pie)),title:'',type:lens,visualizationType:lnsPie),hidePanelTitles:!f),gridData:(h:11,i:c0be719b-7fe9-4a04-a9c7-5b9aa53bac3a,w:14,x:18,y:0),panelIndex:c0be719b-7fe9-4a04-a9c7-5b9aa53bac3a,title:Twitter,type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:"+keyword+"Keyword,viewMode:view)&show-time-filter=true&hide-filter-bar=true";
                                //var url = "http://178.238.236.213:5601/app/dashboards#/view/ce87fdf0-cff8-11eb-bfef-c510268222c8?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:b0a4e380-cff7-11eb-bfef-c510268222c8,key:query,negate:!f,type:custom,value:'%7B%22bool%22:%7B%22must%22:%7B%22multi_match%22:%7B%22fields%22:%5B%22post_message%22,%22url%22%5D,%22fuzziness%22:%22AUTO%22,%22query%22:%22Xtranet%22Technologies%22%7D%7D%7D%7D'),query:(bool:(must:(multi_match:(fields:!(post_message,url),fuzziness:AUTO,query:Xtranet%22Technologies)))))),fullScreenMode:!f,options:(hidePanelTitles:!t,syncColors:!t,useMargins:!t),panels:!((embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa:(columnOrder:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28,e843185d-3a4b-48d7-b250-80adeb56d407),columns:(b9665c79-6323-4eb2-bddf-d190e81d2bd3:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20post_message.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:post_message.keyword),e144f165-c2d9-4772-a737-8082f5f45a28:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:pagename.keyword),e843185d-3a4b-48d7-b250-80adeb56d407:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28),layerId:ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,legendDisplay:default,metric:e843185d-3a4b-48d7-b250-80adeb56d407,nestedLegend:!f,numberDisplay:percent)),shape:treemap)),title:'',type:lens,visualizationType:lnsPie),enhancements:()),gridData:(h:15,i:'3267ca1c-143b-49a8-99cc-3c1c22602a43',w:24,x:0,y:0),panelIndex:'3267ca1c-143b-49a8-99cc-3c1c22602a43',type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:BhopalKeyword,viewMode:edit)&show-time-filter=true&hide-filter-bar=true";
                                $("#iframeChart").attr('src', url);

                                break;
                            default:
                        }
                    },
                    items: {
                        "view": { name: "View Dashboard", icon: "fas fa-chart-area" },
                    }
                };

            }


        });

    });*@


    var dataSourceKeyword = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/BusinessAnalytics/ReadSocialMediaWatchlistData",
            }
        },
    });

    $("#listview_keyword").kendoListView({
        dataSource: dataSourceKeyword,
        template: kendo.template($("#ct-tv-template").html())
    });

    var dataSourceTwitter = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/BusinessAnalytics/ReadTwitterData",
                data: Filter,
                dataType: "json",
            }
        },
    });

    $("#listview_Twitter").kendoListView({
        dataSource: dataSourceTwitter,
        dataBound: OnDataBoundTwitter,
        template: kendo.template($("#templateTwitter").html())
    });


    var dataSourceFacebook = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/BusinessAnalytics/ReadFacebookData",
                data: Filter,
                dataType: "json",
            }
        },
    });

    $("#listview_Facebook").kendoListView({
        dataSource: dataSourceFacebook,
        dataBound: OnDataBoundFacebook,
        template: kendo.template($("#templateFacebook").html())
    });

    var dataSourceInstagram = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/BusinessAnalytics/ReadInstagramData",
                data: Filter,
                dataType: "json",
            }
        },
    });

    $("#listview_Instagram").kendoListView({
        dataSource: dataSourceInstagram,
        dataBound: OnDataBoundInstagram,
        template: kendo.template($("#templateInstagram").html())
    });

    var dataSourceYoutube = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/BusinessAnalytics/ReadYoutubeData",
                data: Filter,
                dataType: "json",
            }
        },
    });

    $("#listview_Youtube").kendoListView({
        dataSource: dataSourceYoutube,
        dataBound: OnDataBoundYoutube,
        template: kendo.template($("#templateYoutube").html())
    });

    var dataSourceWhatsApp = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/BusinessAnalytics/ReadWhatsAppData",
                data: Filter,
                dataType: "json",
            }
        },
    });

    $("#listview_WhatsApp").kendoListView({
        dataSource: dataSourceWhatsApp,
        dataBound: OnDataBoundWhatsapp,
        template: kendo.template($("#templateWhatsApp").html())
    });

</script>

<div class="splitter-container">
    <div class="left">

        <ul id="watchlist" style="margin:0px;padding:0px">

            @*@(Html.Kendo().ListView<NoteViewModel>()
                    .Name("listview_keyword")
                    .TagName("div")
                    .ClientTemplateId("ct-tv-template")
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("ReadSocialMediaWatchlistData", "BusinessAnalytics", new { Area = "cms" }))
                        )
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "treeview" })
                )*@
            <div id="listview_keyword" class="treeview"></div>

        </ul>

        <script id="ct-tv-template" type="text/kendo-ui-template">
            @*<span data-id="#:Id#" data-text="#:NoteSubject#"  class="tree-menu1" style="margin-right:10px;margin-left:10px"><i class="fa fa-ellipsis-v"></i></span>*@
            <li class="watchlist-menu" onClick="loadChart('#=Id#','#=NoteSubject#',this)">
            <span style="width:100%">   #:NoteSubject #</span>
            </li>


        </script>



    </div>
    <div class="right" id="template-content">
        @*<iframe id="iframeChart" src="" height="100%" width="100%"></iframe>*@
        <div id="socialMediaDiv" style="display:none">
            <div class="row">
                @(Html.Kendo().ExpansionPanel()
            .Name("dial100")
             .HtmlAttributes(new { @style = "width: 100%; ", })
            .Title("Dial 100")
            .SubTitle("")
            .Expanded(true)
            .Content(@<div style="overflow-x: scroll; width: 100%;">
                 <div id="kgrddial100" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                 @*@(Html.Kendo().Grid<dynamic>()
            .Name("kgrddial100")

             .HtmlAttributes(new { @style = "width: 100%;", })
            .Columns(columns =>
            {
            columns.Bound("unityp").ClientTemplate("<div class='text-justify' >#=unityp# </div>").Title(@Resource["unityp"]).Width(100);
            columns.Bound("unit_status").ClientTemplate("<div class='text-justify' >#=unit_status# </div>").Title(@Resource["unit_status"]).Width(100);
            columns.Bound("unique_id").ClientTemplate("<div class='text-justify' >#=unique_id# </div>").Title(@Resource["unique_id"]).Width(100);
                columns.Bound("track_personnel").ClientTemplate("<div class='text-justify' >#=track_personnel# </div>").Title(@Resource["track_personnel"]).Width(100);
            columns.Bound("tycod").ClientTemplate("<div class='text-justify' >#=tycod# </div>").Title(@Resource["tycod"]).Width(100);
            columns.Bound("sub_tycod").ClientTemplate("<div class='text-justify' >#=sub_tycod# </div>").Title(@Resource["sub_tycod"]).Width(100);
            columns.Bound("station").ClientTemplate("<div class='text-justify' >#=station# </div>").Title(@Resource["station"]).Width(100);
            columns.Bound("latitude").ClientTemplate("<div class='text-justify' >#=latitude# </div>").Title(@Resource["latitude"]).Width(100);
            columns.Bound("location").ClientTemplate("<div class='text-justify' >#=location# </div>").Title(@Resource["location"]).Width(100);
            columns.Bound("longitude").ClientTemplate("<div class='text-justify' >#=longitude# </div>").Title(@Resource["longitude"]).Width(100);
            columns.Bound("eid").ClientTemplate("<div class='text-justify' >#=eid# </div>").Title(@Resource["eid"]).Width(100);
            columns.Bound("dgroup").ClientTemplate("<div class='text-justify' >#=dgroup# </div>").Title(@Resource["dgroup"]).Width(100);
            columns.Bound("ag_id").ClientTemplate("<div class='text-justify' >#=ag_id# </div>").Title(@Resource["ag_id"]).Width(100);

        })
            //.HtmlAttributes(new { style = "height: 750px;" })
            .Sortable()
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("ReadDial100Data", "BusinessAnalytics", new { area = "cms" }).Data("Filter"))
                .PageSize(10)
            )
        )*@
                </div>))
            </div>
            <div class="row">
                @(Html.Kendo().ExpansionPanel()
            .Name("socialMedia")
            .Title("Social Media")
            .SubTitle("")
            .Expanded(true)
             .HtmlAttributes(new { @style = "width: 100%;", })
            .Content(@<div>  <div class="row form-group" style=" padding-left: 35px;">
                <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:center">
                            <span class="k-icon k-i-twitter-box k-color-primary k-icon-md"></span><br />
                            <span>Twitter</span><br />
                            <span id="twitter_count" class="count_class"></span>
                        </div>
                        <div class="panel-body">
                            @*@(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("listview_Twitter")
            .TagName("div")
            .ClientTemplateId("templateTwitter")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadTwitterData", "BusinessAnalytics", new { Area = "cms" }).Data("Filter"))
                )
            .AutoBind(true)
                  .Events(events => events
               .DataBound("OnDataBoundTwitter"))
               .HtmlAttributes(new { @style = "overflow-y:scroll;height: 500px;", })
        )*@
                            <div id="listview_Twitter" style = "overflow-y:scroll;height: 500px;"></div>

                        </div>
                    </div>


                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:center">
                            <span class="k-icon k-i-facebook-box k-color-primary k-icon-md"></span><br />
                            <span>Facebook</span><br />
                            <span id="facebook_count" class="count_class"></span>
                        </div>
                        <div class="panel-body">
                            @*@(Html.Kendo().ListView<FacebookViewModel>()
            .Name("listview_Facebook")
            .TagName("div")
            .ClientTemplateId("templateFacebook")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadFacebookData", "BusinessAnalytics", new { Area = "cms" }).Data("Filter"))
                )
            .AutoBind(true)
                  .Events(events => events
               .DataBound("OnDataBoundFacebook"))
               .HtmlAttributes(new { @style = "overflow-y:scroll;height: 500px;", })
        )*@
                            <div id="listview_Facebook" style = "overflow-y:scroll;height: 500px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:center">
                            <span class="k-icon fab fa-instagram k-color-danger k-icon-md"></span><br />
                            Instagram<br />
                            <span id="instagram_count" class="count_class"></span>
                        </div>
                        <div class="panel-body">
                            @*@(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("listview_Instagram")
            .TagName("div")
            .ClientTemplateId("templateInstagram")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadInstagramData", "BusinessAnalytics", new { Area = "cms" }).Data("Filter"))
                )
            .AutoBind(true)
                  .Events(events => events
               .DataBound("OnDataBoundInstagram"))
               .HtmlAttributes(new { @style = "overflow-y:scroll;height: 500px;", })
        )*@
                            <div id="listview_Instagram" style = "overflow-y:scroll;height: 500px;"></div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:center">
                            <span class="k-icon k-i-youtube-box k-color-danger k-icon-md"></span><br />
                            Youtube<br />
                            <span id="youtube_count" class="count_class"></span>
                        </div>
                        <div class="panel-body">
                            @*@(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("listview_Youtube")
            .TagName("div")
            .ClientTemplateId("templateYoutube")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadYoutubeData", "BusinessAnalytics", new { Area = "cms" }).Data("Filter"))
                )
            .AutoBind(true)
                  .Events(events => events
               .DataBound("OnDataBoundYoutube"))
               .HtmlAttributes(new { @style = "overflow-y:scroll;height: 500px;", })
        )*@
                            <div id="listview_Youtube" style = "overflow-y:scroll;height: 500px;"></div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:center">
                            <span class="k-icon fab fa-whatsapp k-color-success k-icon-md"></span><br />
                            WhatsApp<br />
                            <span id="whatsapp_count" class="count_class"></span>
                        </div>
                        <div class="panel-body">
                            @*@(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("listview_WhatsApp")
            .TagName("div")
            .ClientTemplateId("templateWhatsApp")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadWhatsAppData", "BusinessAnalytics", new { Area = "cms" }).Data("Filter"))
                )
            .AutoBind(true)
                  .Events(events => events
               .DataBound("OnDataBoundWhatsapp"))
               .HtmlAttributes(new { @style = "overflow-y:scroll;height: 500px;", })
        )*@
                            <div id="listview_WhatsApp" style = "overflow-y:scroll;height: 500px;"></div>

                        </div>
                    </div>
                </div>

            </div></div>)
            )
            </div>


            <div class="row">
                @(Html.Kendo().ExpansionPanel()
            .Name("CCTV")
             .HtmlAttributes(new { @style = "width: 100%; ", })
            .Title("CCTV")
            .SubTitle("")
            .Expanded(true)
            .Content(@<div style="overflow-x: scroll; width: 100%;">
      <div style="margin-left:50%;margin-bottom:5px"><b> DEWAS</b></div>
          <br />
                  <div id="kgrdCCTV1" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                 @*@(Html.Kendo().Grid<dynamic>()
            .Name("kgrdCCTV1")

              .HtmlAttributes(new { @style = "width: 100%;", })
            .Columns(columns =>
            {
            columns.Bound("SrNo").ClientTemplate("<div class='text-justify' >#=SrNo# </div>").Title(@Resource["SrNo"]).Width(100);
            columns.Bound("CameraName").ClientTemplate("<div class='text-justify' >#=CameraName# </div>").Title(@Resource["CameraName"]).Width(100);
            columns.Bound("LocationName").ClientTemplate("<div class='text-justify' >#=LocationName# </div>").Title(@Resource["LocationName"]).Width(100);
                columns.Bound("PoliceStation").ClientTemplate("<div class='text-justify' >#=PoliceStation# </div>").Title(@Resource["PoliceStation"]).Width(100);
            columns.Bound("Longitude").ClientTemplate("<div class='text-justify' >#=Longitude# </div>").Title(@Resource["Longitude"]).Width(100);
            columns.Bound("Latitude").ClientTemplate("<div class='text-justify' >#=Latitude# </div>").Title(@Resource["Latitude"]).Width(100);
            columns.Bound("IpAddress").ClientTemplate("<div class='text-justify' >#=IpAddress# </div>").Title(@Resource["IpAddress"]).Width(100);
            columns.Bound("RtspLink").ClientTemplate("<div class='text-justify' >#=RtspLink# </div>").Title(@Resource["RtspLink"]).Width(100);
            columns.Bound("TypeOfCamera").ClientTemplate("<div class='text-justify' >#=TypeOfCamera# </div>").Title(@Resource["TypeOfCamera"]).Width(100);
            columns.Bound("Make").ClientTemplate("<div class='text-justify' >#=Make# </div>").Title(@Resource["Make"]).Width(100);
        })
            //.HtmlAttributes(new { style = "height: 750px;" })
            .Sortable()
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("ReadCCTVCamera1", "BusinessAnalytics", new { area = "cms" }).Data("Filter"))
                .PageSize(10)
            )
        )*@
        <br />
       <div style="margin-left:50%;margin-bottom:5px"> <b>CHINDHWARA</b></div>
          <br />
                  <div id="kgrdCCTV2" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        @*@(Html.Kendo().Grid<dynamic>()
            .Name("kgrdCCTV2")

              .HtmlAttributes(new { @style = "width: 100%;", })
            .Columns(columns =>
            {
            columns.Bound("SrNo").ClientTemplate("<div class='text-justify' >#=SrNo# </div>").Title(@Resource["SrNo"]).Width(100);
            columns.Bound("CameraName").ClientTemplate("<div class='text-justify' >#=CameraName# </div>").Title(@Resource["CameraName"]).Width(100);
            columns.Bound("LocationName").ClientTemplate("<div class='text-justify' >#=LocationName# </div>").Title(@Resource["LocationName"]).Width(100);
                columns.Bound("PoliceStation").ClientTemplate("<div class='text-justify' >#=PoliceStation# </div>").Title(@Resource["PoliceStation"]).Width(100);
            columns.Bound("Longitude").ClientTemplate("<div class='text-justify' >#=Longitude# </div>").Title(@Resource["Longitude"]).Width(100);
            columns.Bound("Latitude").ClientTemplate("<div class='text-justify' >#=Latitude# </div>").Title(@Resource["Latitude"]).Width(100);
            columns.Bound("IpAddress").ClientTemplate("<div class='text-justify' >#=IpAddress# </div>").Title(@Resource["IpAddress"]).Width(100);
            columns.Bound("RtspLink").ClientTemplate("<div class='text-justify' >#=RtspLink# </div>").Title(@Resource["RtspLink"]).Width(100);
            columns.Bound("TypeOfCamera").ClientTemplate("<div class='text-justify' >#=TypeOfCamera# </div>").Title(@Resource["TypeOfCamera"]).Width(100);
            columns.Bound("Make").ClientTemplate("<div class='text-justify' >#=Make# </div>").Title(@Resource["Make"]).Width(100);
        })
            //.HtmlAttributes(new { style = "height: 750px;" })
            .Sortable()
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("ReadCCTVCamera2", "BusinessAnalytics", new { area = "cms" }).Data("Filter"))
                .PageSize(10)
            )
        )*@
                </div>))
            </div>
        </div>
        <div id="emptyDiv">
            @(Html.Kendo().ExpansionPanel()
            .Name("dial100E")
             .HtmlAttributes(new { @style = "width: 100%; ", })
            .Title("Dial 100")
            .SubTitle("")
            .Expanded(false))
            @(Html.Kendo().ExpansionPanel()
            .Name("socialMediaE")
            .Title("Social Media")
            .SubTitle("")
            .Expanded(false)
             .HtmlAttributes(new { @style = "width: 100%;", }))
            @(Html.Kendo().ExpansionPanel()
            .Name("cctvE")
            .Title("CCTV")
            .SubTitle("")
            .Expanded(false)
             .HtmlAttributes(new { @style = "width: 100%;", }))

        </div>
    </div>
</div>


<script type="text/x-kendo-tmpl" id="templateTwitter">
    <div style="padding:2px">
        @*<img class='e-avatar' src='/images/galfar.jpg' />*@
        <span class='e-list-item-header text-wrap' ><b>#if(hashtags != null && hashtags != ""){# #=hashtags# #} else{# No Tag #}# </b></span>
        <div class="text-justify" >#=text# </div>
        @*<div id='list-logo'>
            <b>#=created_at#</b>
        </div>*@
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateFacebook">
    <div style="padding:2px">
        <span class='e-list-item-header text-wrap'><b>#=pagename# </b></span>
        <div class="text-wrap" >#=post_message# </div>
        <div id='list-logo'>
            <a href="#=page_url#" target="_blank"><i class="fa fa-file" title="Go to page"></i></a>&nbsp;&nbsp
            <a><i class="fa fa-clipboard" title="Go to post"></i></a>
        </div>
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateFacebook2">
    <div style="padding:2px">
        @*<img class='e-avatar' src='/images/galfar.jpg' />*@
        <div class='e-list-item-header text-wrap'>#=subject#</div>
        <div class="text-wrap" >#=description# </div>
        <div class="text-wrap" >#=metadata# </div>
        @*<div id='list-logo'>
            <b>#=noteno#</b>
        </div>*@
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateInstagram">
    <div style="padding:2px">
       <iframe src='#=image_links#' id="myframe_#=id#"></iframe>
    </div>

</script>
<script type="text/x-kendo-tmpl" id="templateYoutube">
    <div style="padding:2px">
        @*<img class='e-avatar' src='/images/galfar.jpg' />*@
        <span class='e-list-item-header text-wrap'><b>#=title# </b></span>
        <div class="text-wrap" >#=description# </div>
        @*<div id='list-logo'>
            <b>#=publishedat#</b>
        </div>*@
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateWhatsApp">
    <div style="padding:2px">
        @*<img class='e-avatar' src='/images/galfar.jpg' />*@
            <span class='e-list-item-header text-wrap'><b>#=user# </b></span>
            <div class="text-wrap">#=messages# </div>
        </div>
            <hr />
</script>

<script type="text/x-kendo-tmpl" id="templateTwitter_Adv">
    <div style="padding:2px">

        <div class="text-justify" >#=text# </div>

    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateFacebook_Adv">
    <div style="padding:2px">

        <div class="text-wrap" >#=post_message# </div>

    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateInstagram_Adv">
    <div style="padding:2px">
       <iframe src='#=image_links#' id="myframe_#=id#"></iframe>
    </div>

</script>
<script type="text/x-kendo-tmpl" id="templateYoutube_Adv">
    <div style="padding:2px">
        <div class="text-wrap" >#=description# </div>
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateWhatsApp_Adv">
    <div style="padding:2px">
        <div class="text-wrap" >#=messages# </div>
    </div>
    <hr/>
</script>

<script>

            $(document).ready(function () {

                getdial100Data();

                getCCTV1Data();
                getCCTV2Data();

            });


            var columnDefs1 = [
                {
                    field: "View",
                    headerName: "View",
                    cellRenderer: params => {
                        return "<span class='fas fa-eye' onclick='onView()'></span>";
                    }
                },

                {
                    field: "unityp",
                    headerName: "@Resource["unityp"]",
                    cellRenderer: params => {
                        return "<div class='text-justify' >"+params.data.unityp+" </div>";
                    }
                },
                {
                    field: "unit_status",
                    headerName: "Crime Description",
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.unit_status+" </div>";
                    }

                },
                {
                    field: "unique_id",
                    headerName: '@Resource["unique_id"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.unique_id+" </div>";
                    }
                },
                {
                    field: "track_personnel",
                      headerName: '@Resource["track_personnel"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.track_personnel+" </div>";
                    }
                },

                 {
                     field: "tycod",
                      headerName: '@Resource["tycod"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.tycod+" </div>";
                    }
                },

                  {
                      field: "sub_tycod",
                      headerName: '@Resource["sub_tycod"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.sub_tycod+" </div>";
                    }
                },

             {
                 field: "station",
                      headerName: '@Resource["station"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.station+" </div>";
                    }
                },

              {
                  field: "latitude",
                      headerName: '@Resource["latitude"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.latitude+" </div>";
                    }
                },

               {
                   field: "longitude",
                      headerName: '@Resource["longitude"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.longitude+" </div>";
                    }
                },

                  {
                      field: "eid",
                      headerName: '@Resource["eid"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.eid+" </div>";
                    }
                },

             {
                 field: "dgroup",
                      headerName: '@Resource["dgroup"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.dgroup+" </div>";
                    }
                },

              {
                  field: "ag_id",
                      headerName: '@Resource["ag_id"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.ag_id+" </div>";
                    }
                },

            ];



            function getdial100Data() {
                document.getElementById("kgrddial100").innerHTML = "";
                var params = Filter();
                gridConfig(
                    "kgrddial100",
                    "/Cms/BusinessAnalytics/ReadDial100Data?searchStr=" + params.searchStr + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate,
                    columnDefs1,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);
            }



             var columnDefs3 = [



                {
                     field: "SrNo",
                    headerName: '@Resource["SrNo"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.name+" </div>";
                    }
                },
                {
                    field: "CameraName",
                    headerName: '@Resource["CameraName"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.CameraName+" </div>";
                    }

                },
                {
                    field: "LocationName",
                    headerName: '@Resource["LocationName"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.LocationName+" </div>";
                    }
                },
                {
                    field: "PoliceStation",
                      headerName: '@Resource["PoliceStation"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.PoliceStation+" </div>";
                    }
                },

                 {
                     field: "Longitude",
                      headerName: '@Resource["Longitude"]',
                     cellRenderer: params => {
                         if (params.data.author != null) {
                             return "<div class='text-justify' >" + params.data.Longitude + " </div>";
                         }
                         else {
                             return "";
                         }
                    }
                },

                  {
                      field: "Latitude",
                      headerName: '@Resource["Latitude"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.Latitude+" </div>";
                    }
                },

             {
                 field: "IpAddress",
                      headerName: '@Resource["IpAddress"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.IpAddress+" </div>";
                    }
                },

               {
                   field: "RtspLink",
                      headerName: '@Resource["RtspLink"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.RtspLink+" </div>";
                    }
                 },
                 {
                     field: "TypeOfCamera",
                      headerName: '@Resource["TypeOfCamera"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.TypeOfCamera+" </div>";
                    }
                },
               {
                   field: "Make",
                      headerName: '@Resource["Make"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.Make+" </div>";
                    }
                },
            ];



            function getCCTV1Data() {
                document.getElementById("kgrdCCTV1").innerHTML = "";
                var params = Filter();
                gridConfig(
                    "kgrdCCTV1",
                    "/Cms/BusinessAnalytics/ReadCCTVCamera1?searchStr=" + params.searchStr + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate,
                    columnDefs3,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);
             }

              var columnDefs4 = [


                {
                     field: "SrNo",
                    headerName: '@Resource["SrNo"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.name+" </div>";
                    }
                  },

                 {
                    field: "CameraName",
                    headerName: '@Resource["CameraName"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.CameraName+" </div>";
                    }

                },
                {
                    field: "LocationName",
                    headerName: '@Resource["LocationName"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.LocationName+" </div>";
                    }
                },

                {
                    field: "PoliceStation",
                      headerName: '@Resource["PoliceStation"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.PoliceStation+" </div>";
                    }
                },

                 {
                     field: "Longitude",
                      headerName: '@Resource["Longitude"]',
                     cellRenderer: params => {
                         if (params.data.author != null) {
                             return "<div class='text-justify' >" + params.data.Longitude + " </div>";
                         }
                         else {
                             return "";
                         }
                    }
                },

                  {
                      field: "Latitude",
                      headerName: '@Resource["Latitude"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.Latitude+" </div>";
                    }
                },

             {
                 field: "IpAddress",
                      headerName: '@Resource["IpAddress"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.IpAddress+" </div>";
                    }
                },

               {
                   field: "RtspLink",
                      headerName: '@Resource["RtspLink"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.RtspLink+" </div>";
                    }
                  },

                {
                     field: "TypeOfCamera",
                      headerName: '@Resource["TypeOfCamera"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.TypeOfCamera+" </div>";
                    }
                },
               {
                   field: "Make",
                      headerName: '@Resource["Make"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.Make+" </div>";
                    }
                },

            ];



            function getCCTV2Data() {
                document.getElementById("kgrdCCTV2").innerHTML = "";
                var params = Filter();
                gridConfig(
                    "kgrdCCTV2",
                    "/Cms/BusinessAnalytics/ReadCCTVCamera2?searchStr=" + params.searchStr + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate,
                    columnDefs4,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);
            }
</script>
