@inject IStringLocalizer<CMS.UI.Web.Areas.Pay.Controllers.CalendarController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@using Kendo.Mvc.Extensions;
@{
    ViewData["Title"] = "Manage InterView";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = null;

}
@model AssessmentInterviewViewModel


<style>

    div.k-spreadsheet-cell {
       font-size:12px !important;
    }
</style>
<script type="text/javascript">

 

    
 
    $(document).ready(function () {
        

        $.ajax({
            type: "POST",
            url: "/TAS/TalentAssessment/Load?serviceId=@Model.ServiceId&UserID=@Model.OwnerUserId",
            success: function (data) {
                var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");
                spreadsheet.fromJSON(data);





               var range = $("#spreadsheet").data("kendoSpreadsheet").activeSheet().range("A1:A200");
                range.enable(false);
                
            },
            dataType: "json",
        });

    });
    function OnBound() {

    }

    function OnBack() {
        var url = "/TAS/TalentAssessment/ManageInterview";
        //window.location.href = url;
        LoadPartailView(url, $('#cms-content'));
    }
    function OnSuccess(response) {
        if (response.success) {
            //window.parent.Close(true, "Create");
        }
        else {
            ShowErrors(response.errors);
        }
    }

    function OnCancel(e) {
        window.parent.Close(false);
    }

    function OnSave() {
        //showLoader();
        var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");

        var data = JSON.stringify(spreadsheet.toJSON());
        ShowLoader($('#assInterview'));

        //$("#Data").val(JSON.stringify(spreadsheet.toJSON()));
        //$("#Extension").val(".xlsx");
        var url = "/TAS/TalentAssessment/SaveInterviewAssessment";
        $.ajax({
            url: url,
            type: "POST",
            data: { 'data': data, 'ServiceId': '@Model.ServiceId', 'OwnerUserId': '@Model.OwnerUserId' },
            success: function (data) {
                
                if (data.success) {
                    $(".hr-v-summary").removeClass("validation-summary-errors");
                    $(".hr-v-summary").addClass("validation-summary-valid");
                    $(".hr-v-summary ul").html("");
                    var msg = "Assessment Updated Successfully";
                    //alert(msg);
                    ShowNotification(msg, "success");
                    HideLoader($('#assInterview'));
                }
                else {
                    debugger;
                    var msg = "";
                    for (var i = 0; i < data.errors.length; i++) {
                        msg += data.errors[i] + "<br/>";
                    }
                    HideLoader($('#assInterview'));
                    ShowError(msg);
                }
            }
        });

    }

    
    function ShowError(err) {
        
        $(".hr-v-summary").removeClass("validation-summary-valid");
        $(".hr-v-summary").addClass("validation-summary-errors");
        $(".hr-v-summary ul").html(err);
    }


    function OnRequestEnd(e) {
        //if (e.type === "update") {
        //    var grid = $('#kgrdImportTemplateMaster').data('kendoGrid');
        //    grid.dataSource.read();
        //}
    }

    function OnRequestError(e, status) {

        if (e.errors) {
            var message = "The following errors have occurred:\n";
            alert(e.errors)
            // var message = "Please correct the records that you enter"
            $.each(e.errors, function (key, value) {

                if (value.errors) {
                    message += value.errors.join("\n");
                }
            });

            alert(message);
        }
    }
 

 
</script>

@*<h3>@ViewBag.Title</h3>*@



<div id="assInterview">
    <div class="row hr-pad-top-10">
        <div class="col-md-6">
            <h4>
                @ViewBag.Title
            </h4>
        </div>
        <div class="col-md-6" style="text-align:right">
            @*@Html.Kendo().Button().Name("back").Content("Back").Icon("check-outline").Events(x => x.Click("OnBack")).HtmlAttributes(new { @class = "k-primary" })*@
            <button type="button" id="back" class="btn btn-primary" onclick="OnBack()">Back</button>
        </div>
    </div>
    <hr />

    <div class="col-sm-12">
        @*@Html.Kendo().Button().Name("btnSubmit").Content("Save").Icon("check-outline").Events(x => x.Click("OnSave")).HtmlAttributes(new { @class = "k-primary" })*@
        <button type="button" id="btnSubmit" class="btn btn-primary" onclick="OnSave()">Save</button>
    </div>
    <br />
    @(Html.Kendo().Spreadsheet()
                    .Name("spreadsheet")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .Toolbar(false)

    )

</div>