@using CMS.UI.ViewModel;
@using CMS.Common;
@model ApplicationErrorViewModel

@{
    ViewData["Title"] = "Application Error";
    Layout = null;
}
<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <div class="row">
        <div class="col-12">
          
            <div id="kgrdApplicationError" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>

<script>

     @*var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);*@
      @*var HierarchyType1 = '@Html.Raw(EnumExtension.EnumToJson(typeof(HierarchyTypeEnum)))';
    var HierarchyTypeObj1 = JSON.parse(HierarchyType1);*@
    var columnDefs = [

     
        
           {
            field: "UserName",
           },
           {
               field: "Email",

           },
            {
               field: "Url",

           },
           ,
            {
               field: "LastUpdatedDate",

           },
           ,
            {
                headerName: "Exception",
               field: "Exception",
                cellRenderer: params => {
                debugger;
                return "<input type='button' class='btn btn-link' onclick='OpenTask(\"" + params.data.Id + "\")' value=\"" + params.value + "\" />";
            }

           },
           
       
    ];
     $(function () {

        getApplicationErrorData();
     });

   function OpenTask(id) {
       debugger;
        //var source = '@RequestSourceEnum.Edit.ToString()';
        //var action = '@DataActionEnum.Edit.ToString()';

        var portalId = $('#GlobalPortalId').val();

         var url ="/cms/ApplicationError/ExceptionPopUp?Id=" + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  "Exception", Width: 1200, Height: 600 });
        return false;
    }

   
    function getApplicationErrorData() {
        document.getElementById("kgrdApplicationError").innerHTML = "";
        gridConfig(
            "kgrdApplicationError",
            "/cms/ApplicationError/ReadApplicationDocumentData",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>



