@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Candidate Evaluation Scale Review";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
}
@model ApplicationViewModel
<style>
    .logo-galfar {
        width: auto;
        height: 100px;
    }

    .foot-logo-galfar {
        width: auto;
        height: 80px;
    }

    .galfar-caption {
        vertical-align: middle;
        text-align: left;
        margin: 20px auto;
    }

    .title-bg {
        background-color: #f0f0f0;
        border-radius: 6px;
        /*padding: 8px;*/
        margin: 6px;
    }

    .white-col {
        background-color: #fff;
    }

    .row-pad {
        padding: 0 12px;
    }

    .rupees {
        border: 1px solid #D7D6D6;
        border-radius: 4px;
        width: 100px;
        padding: 4px;
        margin: 2px;
    }

    .date-sm {
        border: 1px solid #D7D6D6;
        border-radius: 4px;
        width: 40px;
        padding: 4px;
        margin: 2px;
    }

    .rupees-words {
        border: 1px solid #D7D6D6;
        border-radius: 4px;
        width: 50%;
        padding: 4px;
        margin: 2px;
    }

    .input-box {
        border: 1px solid #D7D6D6;
        border-radius: 4px;
        width: 100%;
        padding: 4px;
    }

    .header-box {
        border: 1px solid #bababa;
        padding: 12px;
        border-radius: 6px;
        margin: 10px 0 0 0;
    }

    .content-box {
        border: 1px solid #bababa;
        padding: 12px;
        border-radius: 6px;
        margin: 2px 0 0;
    }

    hr {
        color: #716e6e;
        height: 2px;
    }

    .foot-content {
        font-size: 14px;
        text-align: justify;
        padding: 12px;
    }

    .row-bot-margin {
        margin: 0 0 12px 0;
    }

    .emp-employr {
        width: 100%;
        border: 1px solid #bababa;
    }

    .text-box {
        width: 100%;
        border: 1px solid #bababa;
        border-radius: 6px;
        height: 32px;
    }

    .norm-input {
        /*width: 100%;*/
        width: 90%;
        border: 1px solid #bababa;
        border-radius: 6px;
        height: 32px;
    }

    .remarks {
        width: 100%;
        border: 1px solid #bababa;
        border-radius: 6px;
        height: 60px;
    }

    .radio-input {
        width: 14px;
        height: 14px;
        float: left;
    }

    .radio-text {
        padding: 0 0 0 12px;
    }
    .radio-textdiv {
        margin-top: 0px;
        margin-left: 14px;
    }
    .tab-scroll {
        overflow-x: scroll;
    }

    .txt-attribute {
        font-size: 14px;
    }

    .bot-space {
        margin-bottom: 12px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #ffffff;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        -webkit-overflow-scrolling: touch;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        background: #DAEDFF;
    }

    tr:nth-child(even) {
        background-color: #8cc2ec;
    }

    .table-header-row {
        background-color: #2D9FCA;
        color: #ffffff;
    }

    button, input {
    }

    button, input, optgroup, select, textarea {
        font-family: Roboto;
        font-size: 14px;
    }

    label {
        display: inline-block;
        /*margin-bottom: .5rem;*/
        /*width: 100%;*/
        /*margin: 0;*/
        font-size: 14px;
    }

    .cms-managecandeval-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }
</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <form asp-controller="CandidateShortlist" asp-action="ManageCandidateEvaluationScaleReview" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="container">
            @*<div class="row">
                <div class="col-8">

                </div>
                <div class="col-4">
                    @(Html.Kendo().DropDownListFor(x=>x.VersionNo)
                    .DataTextField("Name")
                    .DataValueField("Id")
                    //.Events(e => e.Change("OnGenderchange"))
                    .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                     .Events(e => e.Change("change"))
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "1",
                  Value ="1"
              },
             
          })
                    //.Value(Model.Gender.ToString())
                    //.HtmlAttributes(new { @class= "dropdown-menu", style = "width: 80%" })
                    )
                </div>
            </div>*@
            <div class="row">
                <div class="col content-box">
                    <div class="row" style="margin:5px 30px;">
                        <div class="col">
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Name of the Candidate<br></label></div>
                                <div class="col">
                                    <label class="col-form-label">@Model.FullName</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Position<br></label></div>
                                <div class="col">
                                    <label class="col-form-label">@Model.PositionName</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Division<br></label></div>
                                <div class="col">
                                    <label class="col-form-label">@Model.DivisionName</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Grade<br></label></div>
                                <div class="col">
                                    <label class="col-form-label">@Model.GradeName</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
                            </div>
                            <div class="row" id="divEvalTable" style="display:none;">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="table-responsive tab-scroll">
                                        <table class="table">
                                            <thead>
                                                <tr class="table-header-row">
                                                    <th class="text-center">Attribute</th>
                                                    <th class="text-center" colspan="6">Evaluation Scale</th>
                                                    <th>Marks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.EvaluationData != null)
                                                {
                                                    @for (int i = 0; i < Model.EvaluationData.Count; i++)
                                                    {
                                                        <tr>
                                                            <td class="txt-attribute">@Model.EvaluationData[i].EvaluationName<br></td>
                                                            <td colspan="2">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="radio-input">
                                                                            @(Html.Kendo().RadioButtonFor(e=>e.EvaluationData[i].IsEvaluationScale1).Checked(Model.EvaluationData[i].IsEvaluationScale1).Enable(false).HtmlAttributes(new { @name = "rdo"+ i }).Label(""))
                                                                        </div>
                                                                        <div class="radio-textdiv"><label class="radio-text">@Model.EvaluationData[i].EvaluationScale1</label></div>
                                                                    </div>
                                                                </div><br>
                                                            </td>
                                                            <td colspan="2">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="radio-input">
                                                                            @(Html.Kendo().RadioButtonFor(e => e.EvaluationData[i].IsEvaluationScale2).Checked(Model.EvaluationData[i].IsEvaluationScale2).Enable(false).HtmlAttributes(new { @name = "rdo"+ i }).Label(""))
                                                                        </div>
                                                                        <div class="radio-textdiv"><label class="radio-text">@Model.EvaluationData[i].EvaluationScale2</label></div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td colspan="2">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="radio-input">
                                                                            @(Html.Kendo().RadioButtonFor(e => e.EvaluationData[i].IsEvaluationScale3).Checked(Model.EvaluationData[i].IsEvaluationScale3).Enable(false).HtmlAttributes(new { @name = "rdo"+ i }).Label(""))
                                                                        </div>
                                                                        <div class="radio-textdiv"><label class="radio-text">@Model.EvaluationData[i].EvaluationScale3</label></div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td><span id="Marks_@i" style="display:contents;">@Model.EvaluationData[i].Marks</span>/20</td>
                                                        </tr>
                                                    }
                                                }
                                                <tr>
                                                    <td class="txt-attribute" colspan="7"><br></td>
                                                    <td><strong><span id="TotalMarks" style="display:contents;">@Model.Score</span>/140</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="table-responsive bot-space">
                                        <table class="table">
                                            <thead>
                                                <tr class="table-header-row">
                                                    <th colspan="6">Any other general remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td>
                                                        <div class="col">
                                                            <div class="radio-input">
                                                                @*<input type="radio">*@
                                                                @(Html.Kendo().RadioButton().Name("Selected").Checked(Model.InterviewSelectionFeedback==InterviewFeedbackEnum.Selected).Enable(false).HtmlAttributes(new { @name = "feedback" }).Label(""))
                                                            </div>
                                                            <div><label class="radio-text">SELECTED, Best suited for the job<br></label></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col">
                                                            <div class="radio-input">
                                                                @*<input type="radio">*@
                                                                @(Html.Kendo().RadioButton().Name("CanBeSelected").Checked(Model.InterviewSelectionFeedback == InterviewFeedbackEnum.CanBeSelected).Enable(false).HtmlAttributes(new { @name = "feedback" }).Label(""))
                                                            </div>
                                                            <div><label class="radio-text">Can be selected, will do the job<br></label></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col">
                                                            <div class="radio-input">
                                                                @*<input type="radio">*@
                                                                @(Html.Kendo().RadioButton().Name("Rejected").Checked(Model.InterviewSelectionFeedback == InterviewFeedbackEnum.Rejected).Enable(false).HtmlAttributes(new { @name = "feedback" }).Label(""))
                                                            </div>
                                                            <div><label class="radio-text">REJECTED<br></label></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Salary on Appointment<br></label></div>
                                <div class="col"><span style="display:contents; font-size:14px;"> QAR </span><label class="col-form-label" style="width:85%;">@Model.SalaryOnAppointment<br></label></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Accommodation<br></label></div>
                                <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.AccommodationName<br></label></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Hiring Manager Remarks<br></label></div>
                                <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.HiringManagerRemarks<br></label></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Attachment<br></label></div>
                                @if (Model.EvaluationAttachmentId != null)
                                {
                                    <div class="col">
                                        <span style="display:contents"></span><label class="col-form-label" style="width:90%;">

                                            <a href="/cms/Document/GetFileMongo?fileId=@Model.EvaluationAttachmentId" target="_blank"><i class="fas fa-download" title="Download"></i></a>
                                            <br>
                                        </label>
                                    </div>
                                }
                                </div>
                            <div id="divAppointment" style="display:none;">
                                <div class="row">
                                    <div class="col">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span style="display:contents;font-weight: bold;"> APPOINTMENT FORM FOR NEW EMPLOYEE </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Selected through<br></label></div>
                                    <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.SelectedThroughName<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Interview conducted by<br></label></div>
                                    <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.InterviewByUserName<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Interview venue<br></label></div>
                                    <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.InterviewVenue<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">If a new post created, justification<br></label></div>
                                    <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.NewPostJustification<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Briefly describe how he suits to the post based on the job description</label></div>
                                    <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.DescribeHowHeSuits<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Leave Cycle</label></div>
                                    <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.LeaveCycle<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Other benefit, If any</label></div>
                                    <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.OtherBenefits<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Appointment Remarks</label></div>
                                    <div class="col"><span style="display:contents"></span><label class="col-form-label" style="width:90%;">@Model.AppointmentRemarks<br></label></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4">
                                    <label class="col-form-label">Interview Date :&nbsp;&nbsp;@Model.InterviewDate.Value.ToString("dd MMM yyyy")</label>
                                    <label class="col-form-label"><br></label>
                                </div>
                                <div class="col">
                                    <label class="col-form-label" style="display:contents">Interview By :&nbsp;&nbsp;@Model.InterviewByUserName</label>
                                    <label class="col-form-label"><br></label>
                                </div>
                            </div>
                            @*<div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Accomodation<br></label></div>
            <div class="col"><label class="col-form-label">Bachelor</label></div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4">
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 col-xl-5"><label class="col-form-label">Approved<br></label></div>
                    <div class="col">
                        <div class="row">
                            <div class="col-md-4 col-lg-3 col-xl-6">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-1">Yes</label></div>
                            </div>
                            <div class="col-md-4 col-lg-3 col-xl-6">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-4"><label class="form-check-label" for="formCheck-2">No</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-md-7 col-xl-5"><label class="col-form-label">Interviewer's Signature</label></div>
            <div class="col-sm-5 col-md-5 col-lg-auto col-xl-auto"><label class="col-form-label text-right">Date</label></div>
            <div class="col-sm-auto col-md-7 col-lg-auto"><input type="text" class="norm-input"></div>
        </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pad-15">
            &nbsp;
        </div>

        <!--<div class="cms-managecandeval-footer">
            <input type="button" class="btn btn-light" value="Close" onclick="closeNav()" />-->
            @*<input type="submit" class="btn btn-primary" value="Save" />*@
        <!--</div>-->
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.MarksSelections)
        @Html.HiddenFor(x => x.EvaluationDataString)
        @Html.HiddenFor(x => x.InterviewSelectionFeedback)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.Score)
        @Html.HiddenFor(x => x.EvaluationData)
        @Html.HiddenFor(x => x.JobId)
        @Html.HiddenFor(x => x.ManpowerTypeCode)


    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.ManpowerTypeCode' == "Staff") {
            $("#divEvalTable").show();
        } else {
            $("#divEvalTable").hide();
        }
        if ('@ViewBag.Success' == "True") {
            closeNav();
            var kgrdCandInterview = window.parent.$("#kgrdCandInterview").data("kendoGrid");
            if (kgrdCandInterview != null && kgrdCandInterview != undefined) {
                kgrdCandInterview.dataSource.read();
            }
            var kgrdCandJobOffer = window.parent.$("#kgrdCandJobOffer").data("kendoGrid");
            if (kgrdCandJobOffer != null && kgrdCandJobOffer != undefined) {
                kgrdCandJobOffer.dataSource.read();
            }
        }

        var rrdo = $("input[type=radio]");
        rrdo.click(function () {
            // Do something interesting here
            //alert("Radio");
            var mark = "";
            for (var i = 0; i <@Model.EvaluationData.Count; i++) {
                        var rGrpEval = $("input[name=rdo" + i + "]");

                rGrpEval.click(function () {

                });

                        var checkedRadio = rGrpEval.filter(":checked");
                        if (checkedRadio.prevObject[0].checked) {
                            $('#Marks_' + i).html(20);
                            mark = mark + "," + i + "=" + 0;
                        }
                        if (checkedRadio.prevObject[1].checked) {
                            $('#Marks_' + i).html(10);
                            mark = mark + "," + i + "=" + 1;
                        }
                        if (checkedRadio.prevObject[2].checked) {
                            $('#Marks_' + i).html(0);
                            mark = mark + "," + i + "=" + 2;
                        }
                        CalEvalMarks();
            }
            $("#MarksSelections").val(mark);
            onFeedback();
        });
        onFeedback();
    });
    function onFeedback() {
        var rGrpEval = $("input[name=feedback]");
        var checkedRadio = rGrpEval.filter(":checked");
        if (checkedRadio.prevObject[0].checked) {
            $('#InterviewSelectionFeedback').val('@InterviewFeedbackEnum.Selected');
            if ('@Model.ManpowerTypeCode' == "Staff") {
                $('#divAppointment').show();
            } else {
                $('#divAppointment').hide();
            }
        }
        if (checkedRadio.prevObject[1].checked) {
            $('#InterviewSelectionFeedback').val('@InterviewFeedbackEnum.CanBeSelected');
            //$('#divAppointment').hide();
                        if ('@Model.ManpowerTypeCode' == "Staff") {
                $('#divAppointment').show();
            } else {
                $('#divAppointment').hide();
            }
        }
        if (checkedRadio.prevObject[2].checked) {
            $('#InterviewSelectionFeedback').val('@InterviewFeedbackEnum.Rejected');
            $('#divAppointment').hide();
        }

    }
    function onSelect(i) {
        alert(i);
    }

    function CalEvalMarks() {
        var total = 0;
        for (var i = 0; i <@Model.EvaluationData.Count; i++) {
            //$('#Marks_' + i).html(0);
            var mark = parseInt(document.getElementById("Marks_" + i).innerHTML);
            total = total + mark;
        }
        $('#TotalMarks').html(total);
        $('#Score').val(total);
    }

    function closeNav() {
        //window.parent.CloseIframePopup();
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>