@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.WorkspaceController> Resource
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = @Resource["ManageWorkspace"];
    Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = ViewBag.Layout;
}

@model WorkspaceViewModel

<style>

    .required {
        color: red;
    }
</style>

<div class="row" style="margin-left:15px;">

    <form asp-controller="Workspace" asp-action="Manage" method="post" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" style="width:300px;" asp-validation-summary="All" id="validation-summary"></div>

        <div class="row" style="padding:10px;margin-right:15px;">

            <div class="col-12">@Resource["LegalEntity"] <span class="required">*</span></div>
            <div class="col-12 pad-10">
                @*@(Html.Kendo().DropDownListFor(x=>x.LegalEntityId)
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetNameList", "LegalEntity", new { @area = "cms"});
                        });
                    })
                    .Value(Model.LegalEntityId)
                    .HtmlAttributes(new { @class = "form-control"})
                    )*@

                <input asp-for="LegalEntityId" id="LegalEntityId" style="width: 100%" />


            </div>
            <div class="col-12">@Resource["ParentWorkspace"]</div>
            <div class="col-12 pad-10">
                @*@(Html.Kendo().DropDownTreeFor(x=>x.ParentNoteId)
                    .DataTextField("Name")
                    .DataValueField("id")
                    .Filter(FilterType.Contains)
                    .Placeholder(ApplicationConstant.PlaceHolder_SelectOption)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ReadParentWorkspaceIdNameList", "Workspace", new { @area = "Dms"});
                        });
                    })
                    // .Value(Model.ParentNoteId)
                    .HtmlAttributes(new { @class = "form-control"})
                    )*@

                <input asp-for="ParentNoteId" id="ParentNoteId" style="width: 100%" />

            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="WorkspaceName" type="text" class="form-control" placeholder="Enter Code" required="required" autocomplete="off" />
                    <label for="Code">@Resource["WorkspaceName"]<span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Code" type="text" class="form-control" placeholder="Enter Code" autocomplete="off" />
                    <label for="Code">Code<span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <label for="Users">@Resource["DocumentType"] </label>

                @*@(Html.Kendo().MultiSelectFor(x=>x.DocumentTypeId)
                    .AutoClose(false)
                    .Placeholder("Select Document Type...")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetDocumentTemplateIdNameListByUser", "Workspace",new { @area="Dms"});
                        });
                    })
                    .DataTextField("DisplayName")
                    .DataValueField("Id")
                    .AutoBind(true)
                    .HtmlAttributes(new { @style = "width:100%" })
                    .ValuePrimitive(true)
                    .Height(300)
                    )*@
                <select asp-for="DocumentTypeId" id="DocumentTypeId" style="width:80%"></select>
                @*<input asp-for="DocumentTypeId" id="DocumentTypeId" style="width: 100%" />*@

            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">

                    <input asp-for="SequenceOrder" type="text" class="form-control" placeholder="SequenceOrder" autocomplete="off" />
                    <label for="SequenceOrder">@Resource["SequenceOrder"]</label>
                </div>
            </div>

            <div class="cms-slidebar-footer">
                <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">@SharedResource["Close"]</button>
                <input type="submit" class="btn btn-primary" value=@SharedResource["Save"] id="submitBtn" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @*@Html.HiddenFor(x => x.LegalEntityId)*@
        @Html.HiddenFor(x => x.PortalId)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.Json)
        @Html.HiddenFor(x => x.DataJson)
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.LastUpdatedBy)
        @Html.HiddenFor(x => x.LastUpdatedDate)
        @Html.HiddenFor(x => x.WorkspaceId)
        @*@Html.HiddenFor(x => x.ParentNoteId)*@
        @Html.HiddenFor(x => x.PortalId)
        @Html.HiddenFor(x => x.PreviousParentId)
    </form>
</div>
<script type="text/x-kendo-tmpl" id="template">
    <div class="row col-12" style="margin:5px;">
    @*<div class="col-3">
    <span>#:Id#</span>
    </div>*@
    <div class="col-9">
      <span>#:Name#</span>
    </div>
    </div>
</script>

<script type="text/javascript">
     @*$(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            window.parent.$("#Workspacegrid").data("kendoGrid").dataSource.read();
        }

    });

    function closeNavMemberGroup() {
     
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }*@

    var onAjaxSuccess = function (res) {

        // HideLoader($('.form-horizontal'));
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                window.parent.ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                window.parent.ShowNotification("Updated Successfully", "success");
            }
            HideLoader($('#myForm'));
            //var TemplateId = res.templateId;
            closeNavMemberGroup();
            if ('@ViewBag.Master' == "true") {
               // window.parent.$("#Workspacegrid").data("kendoGrid").dataSource.read();
                window.parent.getData();
            }
            else {
                var win = GetMainWindow();
                win.CloseWindow({ MethodName: 'RefreshWholeFileManager' });
            }

        }
        else {
            HideLoader($('#myForm'));
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
            //evt.preventDefault();
            return false;
        }
    };
    var showError = function (error) {
        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
    function OnSave(evt) {
       // debugger;
        if ($("#LegalEntityId").val() == "") {
            //
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(@Resource["LegalEntityisrequired"]);
            evt.preventDefault();
            return false;

        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            ShowLoader($('#myForm'));
        }
    }
    function closeNavMemberGroup() {
       
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }



    $(document).ready(function () {
        $("#LegalEntityId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: "@Model.LegalEntityId",
            dataSource: {
                transport: {
                    read: {
                        url: "/cms/LegalEntity/GetNameList",
                    }
                }
            }
        });

        var serviceRoot = "/dms/workspace/ReadParentWorkspaceIdNameList";
        homogeneous = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: serviceRoot,
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "id",
                    hasChildren: "hasChildren"
                }
            }
        });

        $("#ParentNoteId").kendoDropDownTree({
            placeholder: "Select ...",
            dataSource: homogeneous,
            height: "150px",
            dataTextField: "Name",
            dataValueField: "id",
            value: "@Model.ParentNoteId"
        });

        $("#DocumentTypeId").kendoMultiSelect({
            dataTextField: "DisplayName",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/dms/Workspace/GetDocumentTemplateIdNameListByUser",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select Document Type...",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.DocumentTypeId)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });


        @*$("#DocumentTypeId").kendoMultiSelect({
            placeholder: "Select Document Type...",
            dataTextField: "DisplayName",
            dataValueField: "Id",
            autoClose: false,
            autoBind: true,
            valuePrimitive: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/dms/workspace/GetDocumentTemplateIdNameListByUser",
                        dataType: "json"
                    }
                },
            },
            value: "@Model.DocumentTypeId"
        });*@

        @*$("#DocumentTypeId").kendoMultiSelect({
            placeholder: "Select Document Type...",
            dataTextField: "DisplayName",
            dataValueField: "Id",
            dataSource: {
                type: "json",
                transport: {
                    read: "/dms/workspace/GetDocumentTemplateIdNameListByUser"
                },
            },
            value: "@Model.DocumentTypeId"
        });*@
    });

    //function OnChange(e)
    //{
    //    var search = FilterDDl();
    //    $("#UserlistView").data("kendoListView").dataSource.read(search)
    //}

    //function FilterDDl() {
    //    //alert($("#Users").val());
    //    var multiselect = $("#UserIds").data("kendoMultiSelect");
    //    var multiselectvalue = multiselect.value();
    //    return {
    //        selectedValues: multiselectvalue.join()
    //    };
    //}
    //$(document).ready(function () {
    //    var search = FilterDDl();-->
        @*$("#UserlistView").data("kendoListView").dataSource.read(search)
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            if (window.parent.$("#UserRolegrid").data("kendoGrid").dataSource.read()) { }
        }

    <!--});

   *@

</script>

