@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Portal";
    Layout = null;
}
@inject CMS.Common.IUserContext _userContext
@model DecisionScriptComponentViewModel

<style>
    .form-label-group {
        position: relative;
        margin-bottom: 0px;
    }

    .cms-manageportal-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 75%;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-pickerleft {
        width: 50%;
        float: left;
        padding-bottom: 15px;
    }
    /*    k-colorpicker {
        width: 100px;
    }

    .k-colorpicker .k-selected-color {
            width: 100px;
    }*/

</style>
<script type="text/javascript">
 function OnSave(e)
 {
     debugger
        var userId = $("#AssignedToUserId").data("kendoDropDownList").value();
        if (userId == null || userId == "" || userId == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("User is required");
            e.preventDefault();
            return false;
        }
    }
    var dataitem = $.fn.serializeObject = function () {
        //   
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $(function () {
        $('#decisionscriptform').submit(function (e) {
            e.preventDefault();
            
            var bid = document.getElementById("blockid").value;
            var blockpropid = "DecisionScript_block_" + bid;
            $("#prop_@Model.ComponentId").val(JSON.stringify($('#decisionscriptform').serializeObject()));
            // $('#result').text(JSON.stringify($('form').serializeObject()));
            
            closeNavCategory();
            return false;
        });
    });




    function OnCancel(args) {

    }
    $(document).ready(function () {

         var data = '@Model.blockprop';
        console.log(data);
    //    //alert($('#EnableDeletebtn').val());
    //    $('#EnableDeletebtn').change(function () {
    //        debugger
    //        if (this.checked) {

    //            $('#confirmationdel').show();
    //        }
    //        else {
    //            $('#confirmationdel').hide();
    //        }

    //    });
    //    if ($('#EnableDeletebtn').val() == 'true')
    //    {
    //        $('#confirmationdel').show();
    //    }
    });

    function closeNavPortal() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }



    var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("Updated Successfully", "success");
            }
           // window.parent.parent.$("#documentTypeTreeView").data("kendoTreeView").dataSource.read();
            var Id = res.Id;
            closeNavIcon1();
        }
        else {
           // alert(res)
            showError(res.error);
        }
    };
    //function onSubmit(form) {
    //    
    //    var data = JSON.stringify($(form).serializeArray());

    //    // console.log(data);
    //    var bid = document.getElementById("blockid").value;
    //    var blockpropid = "DecisionScript_block_" + bid;
    //    $("#" + blockpropid).val(data);
    //    
    //    closeNavIcon1();
    //    return false; //don't submit
    //}


</script>
<form id="decisionscriptform" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete" style="width:100%;height:100%;"
      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
      data-ajax="true" data-ajax-method="POST">
    <div class="pad-15">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row no-gutters">
            <div class="col-12">
                <span style="color:#0E00FF">public&nbsp;bool</span>&nbsp;<span style="color:#74531F;">DecisionScript</span>&nbsp;(<span style="color:#2B91AF">TaskTemplateViewModel</span>&nbsp;<span style="color:#1F377F">taskViewModel</span>,&nbsp;<span style="color:#2B91AF">ServiceTemplateViewModel</span> <span style="color:#1F377F">serviceViewModel</span>, <span style="color:#2B91AF">NoteTemplateViewModel</span> <span style="color:#1F377F">noteViewModel</span>, <span style="color:#2B91AF">Dictionary<span style="color:#0E00FF">&lt;string, object&gt;</span></span> <span>udf</span> )
                {
                <div class="form-label-group">
                    <textarea asp-for="Script" class="form-control" placeholder="Script" autocomplete="off" style="width:100%; height:400px;"></textarea>
                </div>
                }
            </div>

        </div>

        <div class="cms-slidebar-footer">
            <input type="button" class="btn btn-light" value="Close" @*onclick="CloseSideNav()"*@ onclick="closeNavCategory()" />
            <input type="submit" class="btn btn-primary" value="Save" @*onclick="OnSave(event)"*@ />
        </div>




        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.blockid)
        @Html.HiddenFor(x => x.blockprop)
        @Html.HiddenFor(x => x.ComponentId)
    </div>
</form>


