@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@model PayrollRunViewModel
@{
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<script>
    function onAjaxSuccess(response) {
        
        if (response.success) {
            if (response.operation=="@DataActionEnum.Create") {
                kendo.alert("New Accrual created Successfully");
            }
            @*else if (response.operation=="@DataActionEnum.Update") {
                kendo.alert("Accrual updated Successfully");
            }*@
            else if (response.operation=="@DataActionEnum.Edit") {
                kendo.alert("Accrual updated Successfully");
            }
            else if (response.operation=="@DataActionEnum.Delete") {
                kendo.alert("Accrual deleted Successfully");
            }
            win = GetMainWindow();
            win.CloseWindow({ MethodName: "OnClose" });
        }
        else {
            ShowErrors(response.errors);
        }
    }
    function OnCancel(e) {
        win = GetMainWindow();
        win.CloseWindow({ MethodName: "OnClose" });
    }
</script>


@*@using (Ajax.BeginForm("Manage", "Accrual",
new AjaxOptions
{
   OnBegin = "OnBegin",
   OnComplete = "OnComplete",
   OnSuccess = "OnSuccess",
   OnFailure = "OnError"
}))
{*@
    @*@Html.ValidationSummary(false, "", new { @class = "k-block k-error-colored mp-pad-5 hr-v-summary" })
    @Html.AntiForgeryToken()*@
<form asp-controller="PayrollRun" asp-action="ManageAccural" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
      data-ajax="true" data-ajax-method="POST">
    <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
    @*<div id="appWrapper">
        <hr />*@
        <div class="row pad-15">

            <div @*class="form-group col-xs-12 col-sm-12"*@ class="row col-12 form-group pad-10">
                <div class="col-6">
                    <span class="required">*</span>
                    @Html.LabelFor(m => m.YearMonthText, "Accrual Date", new { @class = "control-label" })                    
                </div>
                <div class="col-6">
                    @Html.DisplayFor(m => m.YearMonthText, new { @class = "control-label" })                    
                </div>
            </div>
            <div class="row col-12 form-group pad-10">
                <div class="col-6">
                    @Html.LabelFor(m => m.EOSAccrual, new { @class = "control-label" })                    
                </div>
                <div class="col-6">
                    @*@Html.Kendo().CheckBoxFor(m => m.IsEOSAccrual).HtmlAttributes(new { @class = "form-control" }).Label("")*@
                    <input type="checkbox" asp-for="IsEOSAccrual" id="IsEOSAccrual"  />                    
                </div>
            </div>
            <div class="row col-12 form-group pad-10">
                <div class="col-6">
                    @Html.LabelFor(m => m.FlightTicketAccrual, new { @class = "control-label" })
                </div>
                <div class="col-6">
                    @*@Html.Kendo().CheckBoxFor(m => m.IsFlightTicketAccrual).HtmlAttributes(new { @class = "form-control" }).Label("")*@
                    <input type="checkbox" asp-for="IsFlightTicketAccrual" id="IsFlightTicketAccrual"  />                    
                </div>
            </div>
            <div class="row col-12 form-group pad-10">
                <div class="col-6">
                    @Html.LabelFor(m => m.VacationAccrual, new { @class = "control-label" })
                </div>
                <div class="col-6">
                    @*@Html.Kendo().CheckBoxFor(m => m.IsVacationAccrual).HtmlAttributes(new { @class = "form-control" }).Label("")*@
                    <input type="checkbox" asp-for="IsVacationAccrual" id="IsVacationAccrual"  />
                </div>
            </div>
            <div class="row col-12 form-group pad-10">
                <div class="col-6">
                    @Html.LabelFor(m => m.SickLeaveAccrual, new { @class = "control-label" })
                </div>
                <div class="col-6">
                    @*@Html.Kendo().CheckBoxFor(m => m.IsSickLeaveAccrual).HtmlAttributes(new { @class = "form-control" }).Label("")*@
                    <input type="checkbox" asp-for="IsSickLeaveAccrual" id="IsSickLeaveAccrual"  />
                </div>
            </div>
            <div class="row col-12 form-group pad-10">
                <div class="col-6">
                    @Html.LabelFor(m => m.LoanAccrual, new { @class = "control-label" })
                </div>
                <div class="col-6">
                    @*@Html.Kendo().CheckBoxFor(m => m.IsLoanAccrual).HtmlAttributes(new { @class = "form-control" }).Label("")*@
                    <input type="checkbox" asp-for="IsLoanAccrual" id="IsLoanAccrual"  />
                </div>
            </div>



        </div>
        <hr />
        <div class="row no-gutter">
            <div class="form-group col-xs-12 col-sm-6">
                <div class="col-lg-3 label-div">
                    * Required fields
                </div>
                <div class="col-lg-9">
                    &nbsp;
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <div class="col-lg-3 label-div">
                    &nbsp;
                </div>
                <div class="col-lg-9">
                    @*@Html.Kendo().Button().Name("btnCancel").Content("Cancel").Icon("cancel").Events(x => x.Click("OnCancel")).HtmlAttributes(new { @type = "button" })*@
                    <button type="button" class="btn btn-light" id="btnCancel" onclick="OnCancel()">Cancel</button>
                    @*@Html.Kendo().Button().Name("btnSubmit").Content("Submit").Icon("check-outline").HtmlAttributes(new { @class = "k-primary" })*@
                <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
                </div>
            </div>

        </div>
        @Html.HiddenFor(x => x.PayrollBatchId)
        @Html.HiddenFor(x => x.PayrollGroupId)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.YearMonth)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.LastUpdatedBy)
        @Html.HiddenFor(x => x.LastUpdatedDate)
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.Json)
        @Html.HiddenFor(x => x.DataJson)
        @Html.HiddenFor(x => x.YearMonth)
        @Html.HiddenFor(x => x.Name)
        @Html.HiddenFor(x => x.LegalEntityId)
    @*</div>*@
    @*}*@
</form>
    <script type="text/javascript">
       
    function OnChange(e) {
        $("#st").hide();
        $("#ed").hide();
        $("#year").hide();
        $("#month").hide();
        var type = $("#RunType").data("kendoDropDownList");
        if (type.value() != '' && type.value() == "@PayrollRunTypeEnum.Salary") {
            $("#year").show();
            $("#month").show();
        }
        @*else if (type.value() != '' && type.value() == "@PayrollRunTypeEnum.Adhoc") {
            $("#st").show();
            $("#ed").show();
        }*@
    }
    function BindPayrollName() {
        var payrollGroup = $("#PayrollGroupId").data("kendoDropDownList").text();
        var runType = $("#RunType").data("kendoDropDownList").text();
        var year = $("#Year").val();
        var month = $("#Month").data("kendoDropDownList").text();
        if (payrollGroup != null && payrollGroup != '--Select--' && runType != null && year != null && month != null && month != '--Select--') {
            $("#Name").val(payrollGroup + ' - ' + month + ' ' + year);
        }
        else {
            $("#Name").val('');
        }
    }
    function ShowErrors(err) {
        $(".hr-v-summary").removeClass("validation-summary-valid");
        $(".hr-v-summary").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $(".hr-v-summary ul").html(msg);
    }
    </script>

