@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model CMS.UI.ViewModel.DashboardMasterViewModel
@using CMS.UI.ViewModel;
@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Maps
@using CMS.Common;
@{
    ViewData["Title"] = "Home";
    Layout = null;

}
<!--<style>
    #map1 {
        display: block
    }
    .k-listview{
        border:none;
    }
    .modal-content {
        top:250px;
    }
</style>

<script>
    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/BusinessAnalytics/ReadNotificationData",
            }
        },
    });

    $("#listview_Notification").kendoListView({
        dataSource: dataSource,
        tagName: "div",
        template: kendo.template($("#templateYoutube").html())
    });
</script>
<div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="border-radius: 28px; padding: 15px; height: 100px;">
                        <div class="row">
                            <div class="col-md-12">
                                <span style="font-weight:900">Incidents</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="top: 12px; left:5px;">
                                <span style="color:darkorange;font-weight:900;cursor:pointer" onclick="taskHomePage()">@ViewBag.InProgressCount</span><br />
                                <span>Open</span>
                            </div>
                            <div class="col-md-6" style="top: 12px">
                                <span style="color:darkorange;font-weight:900;cursor:pointer" onclick="taskHomePage()">@ViewBag.InCompletedCount</span><br />
                                <span>Close</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="border-radius: 28px; padding: 15px; height: 100px;">
                        <div class="row">
                            <div class="col-md-12">
                                <span style="font-weight:900">Calls Received</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="top: 12px; left: 25px;">
                                <span style="color:darkorange;font-weight:900">50</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pad-t-15">
                <div class="col-md-12">
                    <div class="control-section">
                        <div class="control_wrapper">-->
@*@Html.EJS().Maps("map1").Height("600").Load("mapsLoad").CenterPosition(new MapsCenterPosition { Latitude = 22.57410, Longitude = 76.31400 }).ZoomSettings(new Syncfusion.EJ2.Maps.MapsZoomSettings
    {
        MaxZoom = 20,
        ZoomFactor = 16,
        Enable = true,
        ShouldZoomInitially = true,
        MouseWheelZoom = false
    }).LegendSettings(new MapsLegendSettings { Visible = true, Type = LegendType.Markers, Height = "50", ValuePath = "name" }).Layers(new List<Syncfusion.EJ2.Maps.MapsLayer> {
     new Syncfusion.EJ2.Maps.MapsLayer
     {
         LayerType = Syncfusion.EJ2.Maps.ShapeLayerType.OSM,
         MarkerSettings = new List<Syncfusion.EJ2.Maps.MapsMarker>
         {
             new Syncfusion.EJ2.Maps.MapsMarker
             {
                 Visible = true,
                 DataSource = new [] { new { name = "Bus Stand", latitude = 22.96390, longitude = 76.05450 } },
                 Template = "<i class='fad fa-map-marker-alt'></i>",
                 TooltipSettings = new MapsTooltipSettings{ Visible=true, ValuePath="name" },
             }
         }
         }
    }).Render()*@

<!--@Html.EJS().Maps("map1").Height("600").Load("mapsLoad").TitleSettings(title => title.Text(ViewBag.DistrictName)).ZoomSettings(new Syncfusion.EJ2.Maps.MapsZoomSettings
                         {
                            MaxZoom = 20,
                            ZoomFactor = 16,
                             Enable = true,
                             ShouldZoomInitially = true,
                             MouseWheelZoom = false
                         }).LegendSettings(new MapsLegendSettings { Visible = true, Type = LegendType.Markers, Height = "50", ValuePath = "name" }).Layers(new List<Syncfusion.EJ2.Maps.MapsLayer> {
                                      new Syncfusion.EJ2.Maps.MapsLayer
                                      {
                                          LayerType = Syncfusion.EJ2.Maps.ShapeLayerType.OSM,
                                          MarkerClusterSettings =   new MapsMarkerClusterSettings { AllowClustering= true,AllowClusterExpand=true, Height=40, Width=40, Shape =MarkerType.Circle },
                                            MarkerSettings  = new List<Syncfusion.EJ2.Maps.MapsMarker>
                                              {
                                                  new Syncfusion.EJ2.Maps.MapsMarker
                                                  {
                                                      Visible = true,
                                                      Template = "#template",
                                                      DataSource = ViewBag.District,
                                                      Opacity=1,
                                                      Shape=MarkerType.Circle,
                                                      LegendText = "name",
                                                      TooltipSettings = new MapsTooltipSettings {
                                                          Template = "#template",
                                                          Visible = true,
                                                          ValuePath= "name",
                                                      },
                                                      Height= 20,
                                                      Width= 20,
                                                      AnimationDuration= 0,
                                                  }
                                      }
                              } }).Render()
                    <div id="template" style="display: none;">
                        <div>
                            <div style="margin-left:8px;height:45px;width:120px;margin-top:-23px;">
                                <span style="color:red;font-size:32px" class="fad fa-map-marker-alt"> </span>
                                <label style="color:white;margin-left:15px;font-weight:normal; font-size:10px;background-color:black">\{\{\:name\}\} &nbsp;(\{\{\:count\}\})</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="border-radius: 28px; padding: 15px;min-height:700px">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Recents Happenings</h6>
                        <hr />-->
@*@(Html.Kendo().ListView<NotificationViewModel>()
        .Name("listview_Notification")
        .TagName("div")
        .ClientTemplateId("templateYoutube")
        .DataSource(dataSource => dataSource
                .Ajax()
        .Read(read => read.Action("ReadNotificationData", "BusinessAnalytics", new { Area = "cms" }))
            )
        .AutoBind(true)
           //   .Events(events => events
           //.DataBound("OnDataBoundYoutube"))
           .HtmlAttributes(new { @style = "overflow-y:scroll;height: 645px;", })
    )*@
<!--<div id="listview_Notification" style="overflow-y: scroll; height: 645px;"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="templateYoutube">
    <div style="padding:2px">
        <span class='e-list-item-header text-wrap'><b>#=Subject# </b></span>
        <div class="text-wrap" >#=Body# </div>
        </div>
    </div>
    <br/>
</script>
<script>
    var maps; function mapsLoad(args) {
        var theme = 'Material';
        args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
        maps = args.maps;
    }
    function tooltipRender(args) {
        if (!args.options.data) {
            args.cancel = true;
        }
    }-->
@*var keywords = "";
    function ShowAlert() {

        $.ajax({
                url:'@Url.Action("ShowAlert", "BusinessAnalytics", new { @area="Cms"})',
                type: 'GET',
                success: function (result) {
     //kendo.alert(result[0].Keyword);
                    var track = "";
                    var keyword = "";
                    var count = 0;
                    keywords = "";
                    for (var i = 0; i < result.length; i++) {

                        if (i == result.length-1) {
                            track += result[i].Name;
                            keyword += result[i].Keyword;
                            count += parseInt(result[i].Count);
                            keywords += result[i].Keyword;
                        }
                        else {
                            track += result[i].Name + ",";
                            keyword += result[i].Keyword + ",";
                            count += parseInt(result[i].Count);
                            keywords += result[i].Keyword + " ";
                        }

                    }
                    $("#TrackName").html(track);
                    $("#KeywordName").html(keyword);
                    $("#Count").html(count);
                    if (count > 0) {
                        $('#myModal').modal({ backdrop: 'static', keyboard: false })
                        $('#myModal').modal('toggle');
                        $('#myModal').modal('show');
                    }

                   // if (result.success) {

                   // }
                },
                error: function (ert) {


                }
            });
    }

    var chatInterval = setInterval(function () {
        ShowAlert();
    }, 30000);*@

<!--//$(document).ready(function () {

//});-->
@*function MarkAlerted() {
        clearInterval(chatInterval);
        $.ajax({
                url:'@Url.Action("UpdateIsAlertedInElasticDb", "BusinessAnalytics", new { @area="Cms"})',
                type: 'GET',
                success: function (result) {

                },
                error: function (ert) {


                }
            });
    }
    function viewDetails() {
        $('#myModal').modal('hide');
        clearInterval(chatInterval);
        $.ajax({
                url:'@Url.Action("UpdateIsAlertedInElasticDb", "BusinessAnalytics", new { @area="Cms"})',
                type: 'GET',
                success: function (result) {
                    keywords = keywords.replaceAll(" ", "%20");
                    var portalId = $('#GlobalPortalId').val();
                    var customurl = encodeURIComponent('keyword=' + keywords + '&ruturnPageName=Home');
                    var url = '/Cms/Page?pageName=SocialMediaDashboard&portalId=' + portalId + '&customUrl=' + customurl;
                    LoadCmsPartialView(url, 'Custom');
                },
                error: function (ert) {


                }
        });

    }*@
<!--function taskHomePage() {
        var portalId = $('#GlobalPortalId').val();
        //var customurl = encodeURIComponent('keyword=' + keywords + '&ruturnPageName=Home&showIncident=true');
        var url = '/Cms/Page?pageName=TaskHome&portalId=' + portalId;
        LoadCmsPartialView(url, 'Custom');
    }
</script>
@Html.EJS().ScriptManager()-->


<h4>Home</h4>
<script>
     @{
        string webApiUrl = ApplicationConstant.AppSettings.WebApiUrl(Configuration);
        string url = webApiUrl + "signalr";
     }
        var connection = new signalR.HubConnectionBuilder()
            .withUrl('http://localhost:52922/signalr')
            .configureLogging(signalR.LogLevel.Information)
            .build();
        connection.on("progress",
            (json) => {
                debugger;
                var win = GetMainWindow();
                //win.CloseWindow();
                var obj = JSON.parse(json);                
                win.iframeOpenUrl =  '@Url.Action("HomeAlert", "BusinessAnalytics", new { @area="Cms"})?msg='+obj.NoteSubject;
                win.OpenWindow({ Title: 'Alert', Width: 400, Height: 400 });

            });
        connection.start()
            .then(_ => connection.invoke("PrintJob", "123"))
        .catch(err => console.log(err.toString()));


</script>


