@using CMS.UI.ViewModel;
@using CMS.Common;
@model MapLayerItemViewModel
@{
    ViewData["Title"] = "Map Layer Item";
    Layout = null;
}



<style>
    .cms-footer {
        position: unset !important;
        background-color: unset !important;
    }
   
</style>
<script>


    $(document).ready(function () {

       

    });
    
    var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("Updated Successfully", "success");
            }
            refreshTreeview();
            @*if ('@Model.Layout'== '' || '@Model.Layout'==null) {
                refreshTreeview();
            }
            else {
                closeNavMember();
            }*@


        }
        else {
            showError(res.error);
        }
        HideLoader($('#template-content'));
    };


    function OnError(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    var showError = function (error) {

        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
    function closeNavMember() {
        var win = GetMainWindow();
        win.CloseWindow();
        win.location.reload();
        return false;
    }
    
</script>


<div class="row  pad-10 no-gutters">
    <div class="container card-header" style="padding:10px;">
        <div class="tab-content">
            <div id="general" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">

                <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

                    <form asp-controller="BusinessAnalytics" asp-action="ManageMapLayerItem" class="form-horizontal"
                          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                          data-ajax="true" data-ajax-method="POST">
                        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
                        <div class="row" style="padding:10px;">

                            <div class="row col-12 pad-10">
                                <div class="col-12">
                                    <h4>Map Layer Item</h4>
                                    <hr />
                                </div>

                            </div>

                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="Name">Name<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="NoteSubject" type="text" class="form-control" placeholder="Name" autocomplete="off" />

                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="MapUrl">Map Url<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="MapUrl" type="text" class="form-control" placeholder="URL" autocomplete="off" />

                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="MapLayer">Map Layer</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="MapLayer" type="text" class="form-control" placeholder="Layer" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="MapTransparency">Map Transparency</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="MapTransparency" type="text" class="form-control" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="MapFormat">Map Format</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="MapFormat" type="text" class="form-control" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="MapOpacity">Map Opacity</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="MapOpacity" type="text" class="form-control" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="IsBaseMap">Is Base Map</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="IsBaseMap" type="checkbox" />
                                </div>
                            </div>


                        </div>

                        <div class="cms-footer">
                            <input type="submit" class="btn btn-primary" value="Save"/>
                        </div>

                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.ParentNoteId)
                        @Html.HiddenFor(x => x.DataAction)
                        @Html.HiddenFor(x => x.NoteId) 
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>







