@using CMS.UI.ViewModel;
@using CMS.Common;
@{
    ViewBag.Title = "Synergy Schema";
    Layout = null;
}

@model SynergySchemaViewModel

<script type="text/javascript">
    $("#SchemaName").on('input', function () {

        var txt = $("#SchemaName").val();
        txt = txt.replace(/[^_A-Z0-9]/ig, "");
        $("#SchemaName").val(txt);
    });
    $(document).ready(function () {
        document.getElementById("global-overlay").style.display = "none";
    });

    function OnValidate() {  
        debugger;
        $(".text-danger").removeClass("validation-summary-errors");
        $(".text-danger").addClass("validation-summary-valid");
        $(".text-danger").html('');
        ShowLoader($('#divSynergySchema'));
        var qry = $("#Query").val();
        var elDb = $("#ElsasticDB").is(':checked');
        var url = "@Url.Action("SynergySchemaValidate", "BusinessAnalytics", new { @area = "Cms" })";
        var model = { Query: qry, ElsasticDB: elDb};
        $.post(url, model, function(res){
            if (res.success) {
                    HideLoader($('#divSynergySchema'));
                    ShowNotification("Execute Successfully", "success");
                    $("#DivQueryList").load("/cms/BusinessAnalytics/SynergyQueryList",
                        model, function () { });
                } else {
                    HideLoader($('#divSynergySchema'));
                    $(".text-danger").removeClass("validation-summary-valid");
                    $(".text-danger").addClass("validation-summary-errors");
                    $(".text-danger").html(res.error);
                    $("#DivQueryList").empty();
                }
        });        
        return false;
    }

    function OnGenerate() {        
        $(".text-danger").removeClass("validation-summary-errors");
        $(".text-danger").addClass("validation-summary-valid");
        $(".text-danger").html('');
        ShowLoader($('#divSynergySchema'));
        var qry = $("#Query").val();
        var elDb = $("#ElsasticDB").is(':checked');
        var name = $("#SchemaName").val();
        var url = "@Url.Action("SynergySchemaGenerate", "BusinessAnalytics", new { @area = "Cms" })";
        var model = { Query: qry, ElsasticDB: elDb, SchemaName:name,Id:'@Model.Id'};
        $.post(url, model, function(res){
            if (res.success) {
                    HideLoader($('#divSynergySchema'));
                    ShowNotification("Generate Schema Successfully", "success");
                    window.location.reload();                   
                } else {
                    HideLoader($('#divSynergySchema'));                
                    $(".text-danger").removeClass("validation-summary-valid");
                    $(".text-danger").addClass("validation-summary-errors");
                    $(".text-danger").html(res.error);
                }
        });      
       
        return false;
    }
    function ShowLoader(target) {
        kendo.ui.progress(target, true);
    }
    function HideLoader(target) {
        kendo.ui.progress(target, false);
    }
    function ShowErrors(err) {
        $(".text-danger").removeClass("validation-summary-valid");
        $(".text-danger").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $(".text-danger ul").html(msg);
    }
    function OnBack() {
        window.location.reload();
    }
    function Onmetadata(id) {
        var url = '/Cms/BusinessAnalytics/SynergySchemaMetadata?id=' +id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Edit Metadata', Width: 900, Height: 550, Position: 'Center' });
        return false;
    }
</script>

<div>
    @Html.HiddenFor(x=>x.Id)
    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
    <div id="divSynergySchema">
        <div class="container">
            <div class="row">
                <div class="col-12">                    
                    <span class="required">Note: Do not Add comment in query and do not use system reserved keyword in the query </span>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="col-form-label"><b>Schema Name</b><span class="required">*</span><br></label>
                </div>
                <div class="col-6">
                    @*@(Html.Kendo().TextBoxFor(x=>x.SchemaName).HtmlAttributes(new { @style = "width:50%;border-color:#ced4da",@Class="required"}))*@
                    <input asp-for="SchemaName" type="text" class="form-control" style="width:90%" required="required" />                    
                </div>
                <div class="col-4">
                    <input asp-for="ElsasticDB" type="checkbox" value="false" /> Elsastic DB
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="col-form-label"><b>Query</b><span class="required">*</span><br></label>
                </div>
                <div class="col-12">
                    @*@(Html.Kendo().TextAreaFor(x=>x.Query).Rows(12).HtmlAttributes(new { @style = "width:100%;border-color:#ced4da" }))*@
                    <textarea asp-for="Query" placeholder="Query" rows="12" class="form-control" style="width:100%" required="required"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                @*<div class="col-6">
                    @if (Model.DataAction == DataActionEnum.Edit)
                    {
                        <a class="primary" href="#" onclick="Onmetadata('@Model.Id')">Click here to edit Metadata</a>
                    }
                </div>*@
                <div class="col-6" style="text-align:right">
                    <input type="button" class="btn btn-light" value="Back" onclick="OnBack()" />&nbsp;&nbsp;
                    <input type="button" class="btn btn-light" value="Execute" onclick="OnValidate()" />&nbsp;&nbsp;
                    <input type="button" class="btn btn-light" value="Generate Schema" onclick="OnGenerate()" />
                </div>
            </div>

        </div>
        <div class="col-12" id="DivQueryList" style="padding-top:10px">

        </div>
    </div>
</div>