@using CMS.UI.ViewModel;
@using CMS.Common;
@model WidgetItemViewModel
@{
    ViewData["Title"] = "Widget Item";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}



<style>
    .cms-footer {
        position: unset !important;
        background-color: unset !important;
    }
</style>
<script>


    $(document).ready(function () {

        $("#MediaType").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: true,
            autoClose: false,
            value: '@Model.socialMediaTypeArray',
            change: onChangeMediaType,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "SocialMediaTypeEnum" })",
                    }
                }
            }
        });

        $("#from").kendoDatePicker({ change: OnDateChange, format: "yyyy-MM-dd",value:'@Model.from' });
        $("#to").kendoDatePicker({ change: OnDateChange, format: "yyyy-MM-dd" ,value:'@Model.to'});

        $("#chartTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/BusinessAnalytics/GetChartTemplateList",
                    }
                }
            }
        });

        if ($("#chartMetadata").val() == "") {
            //var metadata = "measures: [],dimensions: [],segment: [],filters: []";
            var metadata = "measures: [],timeDimensions: [],dimensions: [],filters: []";
            $("#chartMetadata").val(metadata);
        }

    });
    var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("Updated Successfully", "success");
            }

            closeNavMember();



        }
        else {
            showError(res.error);
        }
        HideLoader($('#template-content'));
    };
    var showError = function (error) {

        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }

    function closeNavMember() {
        var win = GetMainWindow();
        win.CloseWindow();
        win.location.reload();
        return false;
    }
    function SaveData() {
        var types = $("#MediaType").data("kendoMultiSelect").value();
        $("#socialMediaType").val(types);
    }
    function onChangeMediaType() {
        //var str = "";
        //var items = $("#MediaType").data("kendoMultiSelect").dataItems();
        //for (var i = 0; i < items.length; i++) {
        //    var item = "\"" + items[i].name + "\"";
        //    if (i == items.length - 1) {
        //        str = str + item;
        //    }
        //    else {
        //        str = str + item + ",";
        //    }

        //}
        //var chartMetadata = $("#chartMetadata").val();
        //var result = chartMetadata.split('],');
        ////var finalResult = result[0] + "]," + "dimensions: [" + str + "]," + result[2] + "]," + result[3];
        //var finalResult = result[0] + "]," + "dimensions: [" + str + "]," + result[2];
        //$("#chartMetadata").val(finalResult);
        var types = $("#MediaType").data("kendoMultiSelect").value();
        if (types == "Facebook") {
            var metadata = "measures: [\"SmFacebookKeywordPost.count\"],timeDimensions: [],dimensions: [\"SmFacebookKeywordPost.pagename\"],filters: []";
            $("#chartMetadata").val(metadata);
        }
        else if (types == "Youtube") {
            var metadata = "measures: [\"SmYoutube.count\"],timeDimensions: [],dimensions: [\"SmYoutube.title\"],filters: []";
            $("#chartMetadata").val(metadata);
        }
        else if (types == "Twitter") {
            var metadata = "measures: [\"SmNewTweetTable.count\"],timeDimensions: [],dimensions: [\"SmYoutube.title\"],filters: []";
            $("#chartMetadata").val(metadata);
        }
        else if (types == "LinkedIn") {
            var metadata = "measures: [\"SmYoutube.count\"],timeDimensions: [],dimensions: [\"SmYoutube.title\"],filters: []";
            $("#chartMetadata").val(metadata);
        }
        else if (types == "WhatsApp") {
            var metadata = "measures: [\"SmYoutube.count\"],timeDimensions: [],dimensions: [\"SmYoutube.title\"],filters: []";
            $("#chartMetadata").val(metadata);
        }
        else if (types == "Instagram") {
            var metadata = "measures: [\"SmYoutube.count\"],timeDimensions: [],dimensions: [\"SmYoutube.title\"],filters: []";
            $("#chartMetadata").val(metadata);
        }
    }
    function OnkeywordKeyUp() {
        var filters = "filters: [";
        var keywords = $("#keyword").val();
        var datasource = keywords.split(' ');
        var types = $("#MediaType").data("kendoMultiSelect").value();
        if (types == "Facebook") {
            for (var i = 0; i < datasource.length; i++) {
                var item = datasource[i];
                var filter = "{\"member\": \"SmFacebookKeywordPost.pagename\",\"operator\": \"contains\",\"values\": [\"" + item + "\"]},";
                filters += filter;
            }
        }
        else if (types == "Youtube") {
            for (var i = 0; i < datasource.length; i++) {
                var item = datasource[i];
                var filter = "{\"member\": \"SmYoutube.title\",\"operator\": \"contains\",\"values\": [\"" + item + "\"]},";
                filters += filter;
            }
        }
        else if (types == "Twitter") {
            for (var i = 0; i < datasource.length; i++) {
                var item = datasource[i];
                var filter = "{\"member\": \"SmNewTweetTable.text\",\"operator\": \"contains\",\"values\": [\"" + item + "\"]},";
                filters += filter;
            }
        }
        else if (types == "LinkedIn") {
            for (var i = 0; i < datasource.length; i++) {
                var item = datasource[i];
                var filter = "{\"member\": \"SmYoutube.title\",\"operator\": \"contains\",\"values\": [\"" + item + "\"]},";
                filters += filter;
            }
        }
        else if (types == "WhatsApp") {
            for (var i = 0; i < datasource.length; i++) {
                var item = datasource[i];
                var filter = "{\"member\": \"SmYoutube.title\",\"operator\": \"contains\",\"values\": [\"" + item + "\"]},";
                filters += filter;
            }
        }
        else if (types == "Instagram") {
            for (var i = 0; i < datasource.length; i++) {
                var item = datasource[i];
                var filter = "{\"member\": \"SmYoutube.title\",\"operator\": \"contains\",\"values\": [\"" + item + "\"]},";
                filters += filter;
            }
        }

        filters += "]";
        var chartMetadata = $("#chartMetadata").val();
        var result = chartMetadata.split('],');
        //var finalResult = result[0] + "]," + result[1] + "]," + result[2] + "]," + filters;
        var finalResult = result[0] + "]," + result[1] + "]," + result[2] + "]," + filters;
        $("#chartMetadata").val(finalResult);


    }
    function OnDateChange(e) {
        var from = $("#from").val();
        var to = $("#to").val();
        var types = $("#MediaType").data("kendoMultiSelect").value();
        if (types == "Facebook") {
            var metadata = "timeDimensions: [{\"dimension\":\"SmFacebookKeywordPost.dateTime\",\"granularity\": \"day\",\"dateRange\":[\"" + from + "\",\"" + to +"\"]}]";
            var chartMetadata = $("#chartMetadata").val();
            var result = chartMetadata.split('],');
            var finalResult = result[0] + "]," + metadata + "," + result[2] + "]," + result[3];
            $("#chartMetadata").val(finalResult);
        }
        else if (types == "Youtube") {
            var metadata = "timeDimensions: [{\"dimension\":\"SmYoutube.publishedAt\",\"granularity\": \"day\",\"dateRange\":[\"" + from + "\",\"" + to + "\"]}]";
            var chartMetadata = $("#chartMetadata").val();
            var result = chartMetadata.split('],');
            var finalResult = result[0] + "]," + metadata + "," + result[2] + "]," + result[3];
            $("#chartMetadata").val(finalResult);
        }
        else if (types == "Twitter") {
            var metadata = "timeDimensions: [{\"dimension\":\"SmNewTweetTable.createdAt\",\"granularity\": \"day\",\"dateRange\":[\"" + from + "\",\"" + to + "\"]}]";
            var chartMetadata = $("#chartMetadata").val();
            var result = chartMetadata.split('],');
            var finalResult = result[0] + "]," + metadata + "," + result[2] + "]," + result[3];
            $("#chartMetadata").val(finalResult);
        }
        else if (types == "LinkedIn") {
            var metadata = "timeDimensions: [{\"dimension\":\"SmYoutube.publishedat\",\"granularity\": \"day\",\"dateRange\":[\"" + from + "\",\"" + to + "\"]}]";
            var chartMetadata = $("#chartMetadata").val();
            var result = chartMetadata.split('],');
            var finalResult = result[0] + "]," + metadata + "," + result[2] + "]," + result[3];
            $("#chartMetadata").val(finalResult);
        }
        else if (types == "WhatsApp") {
            var metadata = "timeDimensions: [{\"dimension\":\"SmYoutube.publishedat\",\"granularity\": \"day\",\"dateRange\":[\"" + from + "\",\"" + to + "\"]}]";
            var chartMetadata = $("#chartMetadata").val();
            var result = chartMetadata.split('],');
            var finalResult = result[0] + "]," + metadata + "," + result[2] + "]," + result[3];
            $("#chartMetadata").val(finalResult);
        }
        else if (types == "Instagram") {
            var metadata = "timeDimensions: [{\"dimension\":\"SmYoutube.publishedat\",\"granularity\": \"day\",\"dateRange\":[\"" + from + "\",\"" + to + "\"]}]";
            var chartMetadata = $("#chartMetadata").val();
            var result = chartMetadata.split('],');
            var finalResult = result[0] + "]," + metadata + "," + result[2] + "]," + result[3];
            $("#chartMetadata").val(finalResult);
        }
    }
</script>


<div class="row  pad-10 no-gutters">
    <div class="container card-header" style="padding:10px;">
        <div class="tab-content">
            <div id="general" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">

                <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

                    <form asp-controller="BusinessAnalytics" asp-action="ManagWidgetItemNote" class="form-horizontal"
                          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                          data-ajax="true" data-ajax-method="POST">
                        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>



                        <div class="row" style="padding:10px;">

                            <div class="row col-12 pad-10">
                                <div class="col-12">
                                    <h4>Widget Item</h4>
                                    <hr />
                                </div>

                            </div>

                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="Name">Name<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    @*@if (Model.DataAction == DataActionEnum.Create)
                                    {
                                        <input asp-for="NoteSubject" type="text" class="form-control" placeholder="Name" autocomplete="off" />

                                    }
                                    else
                                    {*@
                                        <input asp-for="NoteSubject" type="text" class="form-control" placeholder="Name" autocomplete="off"  />

                                    

                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label>Social Media Type<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    @*@(Html.Kendo().MultiSelect()
                                       .Name("MediaType")
                                       .Placeholder("Select Media Type")
                                       .DataTextField("Name")
                                       .DataValueField("Id")
                                       .Events(e => e.Change("onChangeMediaType"))
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "SocialMediaTypeEnum" });
                                            });
                                        })
                                       .Value(Model.socialMediaTypeArray)
                                     .HtmlAttributes(new { @class = "", @style = "width:100%"})
                                    )*@
                                    <select id="MediaType" data-placeholder="Select Media Type" style="width:100%"></select>

                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="keyword">Keywords<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="keyword" type="text" class="form-control" placeholder="Keywords" onkeyup="OnkeywordKeyUp()" autocomplete="off" />
                                </div>
                            </div>


                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="height">Height</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="height" type="text" class="form-control" placeholder="Height" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="width">Width</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="width" type="text" class="form-control" placeholder="Width" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="from">From</label>
                                </div>
                                <div class="col-9">
                                    @* @(Html.Kendo().DatePickerFor(x=>x.from).Format("yyyy-MM-dd").Events(e =>e.Change("OnDateChange")).HtmlAttributes(new { @class = "form-control", style = "width: 50%", onkeydown = "javascript:return false;", @required="required" }))*@
                                    <input asp-for="from" id="from" class = "form-control" style="width:50%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="to">To</label>
                                </div>
                                <div class="col-9">
                                    @* @(Html.Kendo().DatePickerFor(x=>x.to).Format("yyyy-MM-dd").Events(e => e.Change("OnDateChange")).HtmlAttributes(new { @class = "form-control", style = "width: 50%", onkeydown = "javascript:return false;", @required="required" }))*@
                                    <input asp-for="to" class="form-control" id="to" style="width:50%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="chartTypeId">Chart Template<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">

                                    @*@(Html.Kendo().DropDownListFor(x=>x.chartTypeId)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                        read.Action("GetChartTemplateList", "BusinessAnalytics");
                                    });
                                        })
                                    .OptionLabel("Select")
                                    .HtmlAttributes(new { @class = "", @style = "width:100%"})
                                )*@


                                    <input asp-for="chartTypeId" id="chartTypeId" style="width:100%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="chartMetadata">Chart Metadata@*<span class="required" style="color:red;">*</span>*@</label>
                                </div>
                                <div class="col-9">
                                    @if (Model.DataAction == DataActionEnum.Create)
                                    {
                                        <textarea asp-for="chartMetadata" type="text" rows="15" class="form-control"></textarea>

                                    }
                                    else
                                    {
                                        <textarea asp-for="chartMetadata" type="text" rows="15" class="form-control"></textarea>

                                    }
                                </div>
                            </div>
                        </div>

                        <div class="cms-footer">
                            <input type="submit" class="btn btn-primary" value="Save" onclick="SaveData()" />
                        </div>

                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.ParentNoteId)
                        @Html.HiddenFor(x => x.DataAction)
                        @Html.HiddenFor(x => x.NoteId)                       
                        @Html.HiddenFor(x => x.width)
                        @Html.HiddenFor(x => x.height)
                        @Html.HiddenFor(x => x.socialMediaType)
                        @Html.HiddenFor(x => x.Json)
                        @Html.HiddenFor(x => x.DataJson)
                        @Html.HiddenFor(x => x.CompanyId)
                        @Html.HiddenFor(x => x.CreatedBy)
                        @Html.HiddenFor(x => x.CreatedDate)
                        @Html.HiddenFor(x => x.LastUpdatedBy)
                        @Html.HiddenFor(x => x.LastUpdatedDate)

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>









