@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model List<EGOVBannerViewModel>

<script>
    function onOpenMap(id) {
        url = '/cms/Document/GetFileMongo?fileId=' + id;
        window.open(url, '_blank');
        return false;
    }
</script>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Maps</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                @*<img src="~/images/EGOV/srinagarcity.jpg" alt="Ward Maps" style="width:100%;height:350px;">*@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @if (ViewBag.MetropolitianMap!=null && ViewBag.MetropolitianMap!="")
                {
                    <a href="#" onclick="onOpenMap('@ViewBag.MetropolitianMap');" style="text-decoration:none;color:inherit;"><p style="text-align:left;"><b><u>Srinagar Metropolitian Map</u></b></p></a>
                }else{
                    <p style="text-align:left;"><b><u>Srinagar Metropolitian Map</u></b></p>
                }
                @if (ViewBag.CityMap!=null && ViewBag.CityMap!="")
                {
                    <a href="#" onclick="onOpenMap('@ViewBag.CityMap');" style="text-decoration:none;color:inherit;"><p style="text-align:left;"><b><u>SMC City Map</u></b></p></a>
                }else{
                    <p style="text-align:left;"><b><u>SMC City Map</u></b></p>
                }
                @if (ViewBag.SanitationMap!=null && ViewBag.SanitationMap!="")
                {
                    <a href="#" onclick="onOpenMap('@ViewBag.SanitationMap');" style="text-decoration:none;color:inherit;"><p style="text-align:left;"><b><u>Zonal Sanitation Map</u></b></p></a>
                }
                else
                {
                    <p style="text-align:left;"><b><u>Zonal Sanitation Map</u></b></p>
                }
                @if (ViewBag.ZoneNorth!=null && ViewBag.ZoneNorth!="")
                {
                    <a href="#" onclick="onOpenMap('@ViewBag.ZoneNorth');" style="text-decoration:none;color:inherit;"><p style="text-align:left;"><b><u>Sanitation Map (Zone North)</u></b></p></a>
                }
                else
                {
                    <p style="text-align:left;"><b><u>Sanitation Map (Zone North)</u></b></p>
                }
                @if (ViewBag.ZoneSouth!= null && ViewBag.ZoneSouth!="")
                {
                    <a href="#" onclick="onOpenMap('@ViewBag.ZoneSouth');" style="text-decoration:none;color:inherit;"><p style="text-align:left;"><b><u>Sanitation Map (Zone South) </u></b></p></a>
                }
                else
                {
                    <p style="text-align:left;"><b><u>Sanitation Map (Zone South) </u></b></p>
                }
                @if (ViewBag.ZoneEast!=null && ViewBag.ZoneEast!="")
                {
                    <a href="#" onclick="onOpenMap('@ViewBag.ZoneEast');" style="text-decoration:none;color:inherit;"><p style="text-align:left;"><b><u>Sanitation Map (Zone East) </u></b></p></a>
                }
                else
                {
                    <p style="text-align:left;"><b><u>Sanitation Map (Zone East) </u></b></p>
                }
                @if (ViewBag.ZoneWest!=null && ViewBag.ZoneWest!="")
                {
                    <a href="#" onclick="onOpenMap('@ViewBag.ZoneWest');" style="text-decoration:none;color:inherit;"><p style="text-align:left;"><b><u>Sanitation Map (Zone West) </u></b></p></a>
                }
                else
                {
                    <p style="text-align:left;"><b><u>Sanitation Map (Zone West) </u></b></p>
                }
                <p style="text-align:left;">&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p style="text-align:left;"><b><u>Ward Maps </u></b></p>
                @if(Model.Count>0){
                    
                    foreach (var item in Model)
                    {
                        if(item.FileId.IsNotNullAndNotEmpty()){
                            <a href="#" onclick="onOpenMap('@item.FileId');" style="text-decoration:none;color:inherit;"><p style="text-align:left;">Ward @item.SequenceNo Map</p></a>
                        }else{
                            <p style="text-align:left;">Ward @item.SequenceNo Map</p>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>