@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using System.Web;
@model TaskViewModel
@{
    ViewBag.Title = "All Task";
    Layout = null;
}
@inject IUserContext usercontext;

    <style>
        .dropdown-toggle::after {
            content: none;
        }

        .iconwothtext {
            display: flex;
            cursor: pointer;
            align-items: center;
        }

        .leftmenustyle {
            font-size: 14px;
            color: #4b4f56;
            margin-bottom: 6px;
            font-weight: normal;
            margin-top: 6px;
            padding-left: 5px;
            border-bottom: 1px medium rgba(255, 255, 255, .5);
        }

        .col-1 {
            flex: none !important;
        }
        /* The hero image */
        .head-image {
            object-fit: fill;
        }

        /* Place text in the middle of the image */
        .head-text {
            text-align: left;
            position: absolute;
            top: 28%;
            color: white;
        }

        .head-img {
            max-width: 100%;
            max-height: 149px;
            width: 100%;
            object-fit: none;
        }

        .main {
            margin-top: 1%;
            text-align: right;
        }

        /* Bootstrap 4 text input with search icon */

        .has-search .form-control {
            padding-left: 2.375rem;
            /*width: 100%;*/
        }

        .form-group {
            width: 40%;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }

        .task-card {
            margin-left: 15px;
            margin-bottom: 30px;
            margin-top: 1%;
            border-radius: 6px;
            color: #333;
            background: #fff;
            width: 98%;
            box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px #fff;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #eee;
            min-height: 160px;
            padding: 10px;
        }

        .sub-div {
            overflow-y: scroll;
            height: 260px;
            overflow-x: hidden;
        }

        .card-heading {
            margin-left: 1%;
            font-weight: bold;
            margin-top: 12px;
        }

        .item-hover:hover {
            background-color: #d3d3d340;
            cursor: pointer !important;
        }

        .no-data {
            text-align: center;
            margin-top: 5%;
            font-size: 16px;
            font-weight: 500;
            display: none;
        }

        .no-data-icon {
            color: #c8aa4d;
            font-size: 40px;
        }

        .k-dropdown:hover {
            transform: none !important;
        }

        .k-select:hover {
            transform: none !important;
        }

        .k-input:hover {
            transform: none !important;
        }

        .k-state-hover :hover {
            transform: none !important;
        }

        span:hover {
            transform: none !important;
        }

        .k-link:hover {
            transform: none !important;
        }

        h6:hover {
            transform: none !important;
        }

        .form-control:hover {
            transform: none !important;
        }

        input:hover {
            transform: none !important;
        }

        .task-title {
            padding: 10px;
            background-color: #1c4893;
            font-weight: bold;
            text-align: left;
            color: #ffffff;
            margin-left: 0px;
            margin-right: 10px;
        }

        .card-header {
            border-bottom: none;
        }
        .nav-link1 {
            color: #babfcd !important;
            background-color: transparent;
            border-color: #346cb0;
        }
        .nav-link1.active {
            color: #222230 !important;
            background-color: transparent;
            border-color: #346cb0;
        }
    </style>

<script type="text/javascript">
     function onBack()
    {
        window.location.href = "@ViewBag.ReturnUrl";
    }
    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/EGovernment/ReadTaskDataInProgress?portalNames=" +'@ViewBag.PortalNames',
                    dataType: "json"
                }
            },
        });

        $("#kgrdTask").kendoListView({
            dataSource: dataSource,
            dataBound: OnDataBoundPending,
            template: kendo.template($("#templateTask").html())
        });

        //Overdue
        var dataSourceOverdue = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/EGovernment/ReadTaskDataOverdue?portalNames=" +'@ViewBag.PortalNames',
                    dataType: "json"
                }
            },
        });

        $("#kgrdTaskOverDue").kendoListView({
            dataSource: dataSourceOverdue,
            dataBound: OnDataBoundOverdue,
            template: kendo.template($("#templateTaskOverdue").html())
        });

        //Completed
        var dataSourceCom = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/EGovernment/ReadTaskDataCompleted?portalNames=" +'@ViewBag.PortalNames',
                    dataType: "json"
                }
            },
        });

        $("#kgrdTaskCompleted").kendoListView({
            dataSource: dataSourceCom,
            dataBound: OnDataBoundCompleted,
            template: kendo.template($("#templateTaskCompleted").html())
        });

    });

    function FilterGridPending() {
        var search = {
            TaskStatus: "IN_PROGRESS",//IN_PROGRESS
            Mode: $("#Mode").val(),
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }

    function FilterGridOverDue() {
        var search = {
            TaskStatus: "OVER_DUE",
            Mode: $("#Mode").val(),
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }

    function FilterGridShared() {
        var search = {
            TaskStatus: "",
            Mode: 'SHARE_TO',
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }


    function OnDataBoundPending(arg) {

        document.getElementById('kgrdTask').style.border = 'none';
        var data = $("#kgrdTask").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-pending').show();
        } else {
            $('#no-data-pending').hide();
        }

    }

    function OnDataBoundOverdue(arg) {
        document.getElementById('kgrdTaskOverDue').style.border = 'none';
        var data = $("#kgrdTaskOverDue").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-overdue').show();
        } else {
            $('#no-data-overdue').hide();
        }
    }
    function OnDataBoundCompleted(arg) {
        document.getElementById('kgrdTaskCompleted').style.border = 'none';
        var data = $("#kgrdTaskCompleted").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-complete').show();
        } else {
            $('#no-data-complete').hide();
        }
    }
    var isFiltered = false;
    function OpenNote(id) {

          var win = GetMainWindow();
        win.iframeOpenUrl = '/nts/note/NoteCard?NoteId=' + id;
        win.OpenWindow({ Title: "Document", Width: 1200, Height: 650 });
        return false;
    }
    function OpenTask(taskId, tempCode) {

        var id = taskId;
        var source = '@RequestSourceEnum.View.ToString()';
        var action = '@DataActionEnum.View.ToString()';

        var portalId = $('#GlobalPortalId').val();

        var url = '/Cms/Page?lo=Popup&pageType=Task&cbm=IframePostbackScript&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  "Task", Width: 1200, Height: 600 });
        return false;
    }
    function IframePostbackScript() {
        $("#kgrdTask").data("kendoListView").dataSource.read();
        $("#kgrdTaskOverDue").data("kendoListView").dataSource.read();
        $("#kgrdTaskCompleted").data("kendoListView").dataSource.read();
    }

    $("#mysearch").keyup(function () {
        var val = $('#mysearch').val();

        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "TaskSubject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "OwnerUserName",
                    operator: "contains",
                    value: val
                },
                //{
                //    field: "AssigneeDisplayName",
                //    operator: "contains",
                //    value: val
                //}

            ]
        });

        var listView1 = $("#kgrdTaskOverDue").data("kendoListView");
        listView1.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "TaskSubject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "OwnerUserName",
                    operator: "contains",
                    value: val
                },
                //{
                //    field: "AssigneeDisplayName",
                //    operator: "contains",
                //    value: val
                //}

            ]
        });


        var listView2 = $("#kgrdTaskCompleted").data("kendoListView");
        listView2.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "TaskSubject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "OwnerUserName",
                    operator: "contains",
                    value: val
                },
                //{
                //    field: "AssigneeDisplayName",
                //    operator: "contains",
                //    value: val
                //}
            ]
        });

    });
    function CloseShare() {
         var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function sortbydate() {
        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.sort({ field: "DisplayDueDate", dir: "asc" });
    }
    function sortbyname() {
        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.sort({ field: "TaskSubject", dir: "asc" });
    }

    function sortbyowner() {
        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.sort({ field: "OwnerUserName", dir: "asc" });
    }

    //function sortbyassignee() {
    //    var listView = $("#kgrdTask").data("kendoListView");
    //    listView.dataSource.sort({ field: "AssigneeDisplayName", dir: "asc" });
    //}
    function filterreset() {
        //resetParam();
        var listView = $("#kgrdTask").data("kendoListView");
        //$("#todoheading").html("Task");
        listView.dataSource.filter({});
        listView.dataSource.sort({ field: "CreatedDate", dir: "desc" });
    }
    @*function OnCreateTicket() {
        //alert("Hello Tickert");
       var portalId = $('#GlobalPortalId').val();
       var modulecodes = $("#ModuleCode").val();-->
       var url = '@Url.Action("SelectTaskTemplate", "NtsTask",new {area="Cms" })?templateCode=' + $("#TemplateMasterCode").val() + '&categoryCode=' + $("#TemplateCategoryCode").val() +'&moduleCodes=' + modulecodes;//'/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageName=Project&portalId=' + portalId /*+ '&prms=' + prms*/;
        <!--var url = '@Url.Action("SelectTaskTemplate", "NtsTask",new {area="Cms" })?templateCode=@Model.TemplateCode&categoryCode=@Model.TemplateCategoryCode';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'DMS Support Ticket', Width: 1000, Height: 600 });
        return false;
    }*@
    function OnAfterTaskCreate(task) {

        //alert("TaskLIst");
        $("#kgrdTask").data("kendoListView").dataSource.read();
        $("#kgrdTaskOverDue").data("kendoListView").dataSource.read();
        $("#kgrdTaskCompleted").data("kendoListView").dataSource.read();
    }

    function OnPayment(id, tableId, amount,assigneeUserId) {

        ShowLoader($('#container'));
        var returnUrl = "/Portal/EGovCustomer/MyTasks/";
        $.ajax({
            type: "POST",
            url: "/EGov/EGovernment/OnlinePayment",
            data: { 'ntsId': id, 'noteTableId': tableId, 'amount': amount, 'ntsType': '@NtsTypeEnum.Task', 'assigneeUserId': assigneeUserId, 'returnUrl': returnUrl },
            success: function (res) {

                if (res.success) {
                    if (res.requestURL === null || res.requestURL === '' || res.requestURL === undefined) {
                        HideLoader($('#container'));
                        alert('Payment gateway not found');
                        return false;
                    }
                    else {
                        window.top.location.href = res.requestURL;
                    }

                } else {
                    ShowNotification(res.error, "error");
                    HideLoader($('#container'));
                }



            },
            dataType: "json",
        });

    }
    var gId, gTableId, gAmount, gAssigneeUserId;
    function OnPaymentClick(id, tableId, amount, assigneeUserId) {
        gId = id;
        gTableId = tableId;
        gAmount = amount;
        gAssigneeUserId = assigneeUserId;
        $('#payConfirmModal').modal('show');
    }

    function OnPaymentConfirm() {
        $('.payment-body').html('Please wait while we are redirecting to payment gateway...');
         OnPayment(gId, gTableId, gAmount, gAssigneeUserId);
         return false;
    }
</script>

<script type="text/x-kendo-tmpl" id="templateTask">
    <div @*class="item-hover"*@>
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">
            @*<div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
    margin-left: 40px;">
               <h1>#=TaskOwnerFirstLetter#</h1>
            </div>*@
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
            </div>
            @*<!--<div class="col-2" style="margin: 10px 0px 10px 0px;max-width:17%">-->
                <span class="fromcolor" style="font-size: 1em; color:gray; display: inline-block;">To</span>
                <!--<span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeDisplayName#</span>
            </div>-->*@
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <div style="font-size: 1em;color:Highlight">#if(NoteNo != null) {# #=NoteNo# #}#</div>
            </div>

            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:15%" onclick="OpenTask('#:Id#','#:TemplateCode#');" title="click to open Task">
                <span style="font-size: 1em;text-decoration:underline; color:Highlight">#if(TaskSubject != null) {# #:TaskSubject# #} else{# 'NA' #}#</span>
            </div>

            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <span class="bg-primary" style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>

             <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:Highlight">#if(TaskStatusName != null) {# #:TaskStatusName# #} else{# NA #}#</span>
            </div>

            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:Highlight">#if(DisplayStartDate != null) {# #:DisplayStartDate# #} else{# NA #}#</span>
            </div>

            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:8%">
                <div style="font-size: 1em;color:chocolate">#=DisplayDueDate#</div>
            </div>

            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:8%">
                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="Service Cost">#=ServiceCost#</span>
            </div>

            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:9%">
                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="ReferenceNumber">#if(ReferenceNumber != null) {# #=ReferenceNumber# #}#</span>
            </div>

            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:7%">
                <span class="fromcolor" style="font-size: 1em; #if(PaymentStatusCode == 'SUCCESS'){# color:green; #}else if(PaymentStatusCode == 'ERROR_'){# color:red; #}else {# color:Highlight; #}# display: inline-block;" title="Payment Status">#if(PaymentStatus != null) {# #=PaymentStatus# #}#</span>
            </div>

            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:6%">
                    <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Pay">#if(PaymentStatusCode == 'NOT_PAID' || PaymentStatusCode == 'ERROR_' || PaymentStatusCode == null ) {#<button class='btn btn-primary' onclick="OnPaymentClick('#:Id#','#:UdfNoteTableId#','#:ServiceCost#','#:AssignedToUserId#');">Pay</button>#}#</span>

            </div>
        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>


<script type="text/x-kendo-tmpl" id="templateTaskOverdue">
    <div class="item-hover">
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">
            @*<div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
    margin-left: 40px;">
                   <h1>#=TaskOwnerFirstLetter#</h1>

            </div>*@
           <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
            </div>
            @*<div class="col-2" style="margin: 10px 0px 10px 0px;max-width:17%">

                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeDisplayName#</span>
            </div>*@
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <div style="font-size: 1em;color:Highlight">#=NoteNo#</div>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:10%" onclick="OpenTask('#:Id#','#:TemplateCode#');" title="click to open Task">
                <span style="font-size: 1em; color:Highlight">#if(TaskSubject != null) {# #:TaskSubject# #} else{# 'NA' #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:5%">
                <span class="bg-warning" style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>
             <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:5%">
                <span style="font-size:1em; color:Highlight">#if(TaskStatusName != null) {# #:TaskStatusName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:10%">
                <span style="font-size:1em; color:Highlight">#if(DisplayStartDate != null) {# #:DisplayStartDate# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <div style="font-size: 1em;color:chocolate">#=DisplayDueDate#</div>
            </div>
   <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">

                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="Service Cost">#=ServiceCost#</span>
            </div>
    <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">

                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="ReferenceNumber">#=ReferenceNumber#</span>
            </div>
     <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">

                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Payment Status">#=PaymentStatus#</span>
            </div>
    <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">

                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Pay"><button class='btn btn-primary'>Pay</button></span>
            </div>
        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>
<script type="text/x-kendo-tmpl" id="templateTaskCompleted">
    <div class="item-hover">
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">
            @*<div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
                margin-left: 40px;">
                   <h1>#=TaskOwnerFirstLetter#</h1>
            </div>*@
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
            </div>
            @*<div class="col-2" style="margin: 10px 0px 10px 0px;max-width:17%">
                <span class="fromcolor" style="font-size: 1em; color:gray; display: inline-block;">To</span>
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeDisplayName#</span>
            </div>*@
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <div style="font-size: 1em;color:Highlight">#if(NoteNo != null) {# #=NoteNo# #}#</div>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:15%" onclick="OpenTask('#:Id#','#:TemplateCode#');" title="click to open Task">
                <span style="font-size: 1em;text-decoration:underline; color:Highlight">#if(TaskSubject != null) {# #:TaskSubject# #} else{# 'NA' #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">
                <span class="bg-success" style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>
             <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:Highlight">#if(TaskStatusName != null) {# #:TaskStatusName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:Highlight">#if(DisplayStartDate != null) {# #:DisplayStartDate# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:8%">
                <div style="font-size: 1em;color:chocolate">#=DisplayDueDate#</div>
            </div>
   <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:8%">

                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="Service Cost">#=ServiceCost#</span>
    </div>
   <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:10%">

                <span class="fromcolor" style="font-size: 1em; color:Highlight; display: inline-block;" title="ReferenceNumber">#if(ReferenceNumber != null) {# #=ReferenceNumber# #}#</span>
            </div>
     <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:8%">

                <span class="fromcolor" style="font-size: 1em; #if(PaymentStatusCode == 'SUCCESS'){# color:green; #}else if(PaymentStatusCode == 'ERROR_'){# color:red; #}else {# color:Highlight; #}# display: inline-block;" title="Payment Status">#if(PaymentStatus != null) {# #=PaymentStatus# #}#</span>
            </div>

        </div>
        <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:6%" id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>

@*<style>
    .dropdown-toggle::after {
        content: none;
    }

    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .leftmenustyle {
        font-size: 14px;
        color: #4b4f56;
        margin-bottom: 6px;
        font-weight: normal;
        margin-top: 6px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .col-1 {
        flex: none !important;
    }
    /* The hero image */
    .head-image {
        object-fit: fill;
    }

    /* Place text in the middle of the image */
    .head-text {
        text-align: left;
        position: absolute;
        top: 28%;
        color: white;
    }

    .head-img {
        max-width: 100%;
        max-height: 149px;
        width: 100%;
        object-fit: none;
    }

    .main {
        margin-top: 1%;
        text-align: right;
    }

    /* Bootstrap 4 text input with search icon */

    .has-search .form-control {
        padding-left: 2.375rem;
        /*width: 100%;*/
    }

    .form-group {
        width: 40%;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .task-card {
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: 1%;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 98%;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eee;
        min-height: 160px;
    }

    .sub-div {
        overflow-y: scroll;
        height: 260px;
        overflow-x: hidden;
    }

    .card-heading {
        margin-left: 1%;
        font-weight: bold;
        margin-top: 12px;
    }

    .item-hover:hover {
        background-color: #d3d3d340;
        cursor: pointer !important;
    }

    .no-data {
        text-align: center;
        margin-top: 5%;
        font-size: 16px;
        font-weight: 500;
        display: none;
    }

    .no-data-icon {
        color: #c8aa4d;
        font-size: 40px;
    }

    .k-dropdown:hover {
        transform: none !important;
    }

    .k-select:hover {
        transform: none !important;
    }

    .k-input:hover {
        transform: none !important;
    }

    .k-state-hover :hover {
        transform: none !important;
    }

    span:hover {
        transform: none !important;
    }

    .k-link:hover {
        transform: none !important;
    }

    h6:hover {
        transform: none !important;
    }

    .form-control:hover {
        transform: none !important;
    }

    input:hover {
        transform: none !important;
    }

    .task-title {
        padding: 10px;
        background-color: #1c4893;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin-left: 0px;
        margin-right: 10px;
    }
</style>*@


<div class="row main" style="display:none;">
    <div class="col-sm-6 form-group" style="text-align:left;">
        <input type="button" value="Return To Home Page" onclick="onBack()" class="btn btn-link" />
    </div>
    <!-- Actual search box -->
    <div class="col-sm-6 form-group has-search pull-right">
        <span class="fa fa-search form-control-feedback"></span>
        <input id="mysearch" type="text" class="form-control" placeholder="Search by task subject or number">
    </div>

</div>



<div class="task-card" style="display:none;"></div>
<div style="background-color:#efefef!important;display:none;">
    <div class="row" style="height: 50px;">
        <div class="col-md-11">
            <div class="row" style="float: left; margin-left: 15px; margin-top: 8px;">
                <div class="col-xs-2">
                    <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>
                </div>
                <div class="col-xs-2" id="inprogress">
                    <h5 class="card-heading" style="color:black;margin-top: 9px;margin-left:10px;">Pending Tasks&nbsp;<span class="label label-warning" id="inprogress-task"></span></h5>
                </div>
            </div>

        </div>
        <div class="col-md-1 pull-right">
            <div class="btn-group" id="filter" style="margin-top:15px">
                @*<a class="k-icon k-i-more-horizontal dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px; color: gray">
                    </a>*@
                <ul class="row dropdown-menu" style="position:absolute;top:20px;right:0px;left:auto; min-width:180px; color:gray">
                    <div class="col-12 iconwothtext" style="padding-left:10px" onclick="sortbydate()">
                        <span class="k-icon k-i-calendar-date" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                            Sort by Date
                        </div>
                    </div>
                    <div class="col-12 iconwothtext" style="padding-left:10px" onclick="sortbyname()">
                        <span class="k-icon k-i-convert-lowercase" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                            Sort by Subject
                        </div>
                    </div>
                    <div class="col-12 iconwothtext" style="padding-left:10px" onclick="sortbyowner()">
                        <span class="k-icon k-i-user" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                            Sort by Owner
                        </div>
                    </div>
                    <div class="col-12 iconwothtext" style="padding-left:10px" onclick="sortbyassignee()">
                        <span class="k-icon k-i-user" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                            Sort by Assignee
                        </div>
                    </div>
                    <div class="col-12 iconwothtext" style="padding-left:10px" onclick="filterreset()">
                        <span class="k-icon k-i-reset" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                            Reset
                        </div>
                    </div>

                </ul>
            </div>
        </div>


    </div>
</div>
@*<hr style="margin-bottom: 1px !important;border-width: 0px;border-color: orange;">
        <div class="row task-title text-left">
            <div class="col-1" style="max-width:10%">Owner Name</div>
            <div class="col-1" style="max-width:10%">Consumer No</div>
            <div class="col-2" style="max-width:16%">Subject</div>
            <div class="col-1" style="max-width:9%">Task No</div>
            <div class="col-1" style="max-width:8%">Status</div>
            <div class="col-1" style="max-width:8%">Start Date</div>
            <div class="col-1" style="max-width:8%">Due Date</div>
            <div class="col-1" style="max-width:8%">Service Cost</div>
            <div class="col-1" style="max-width:9%">Reference No</div>
            <div class="col-1" style="max-width:7%">Payment Status</div>
            <div class="col-1" style="max-width:6%"></div>
        </div>
        <div class="sub-div">
            .
            <div id="kgrdTask" style="min-width:1000px;overflow-x:scroll"></div>

            @Html.HiddenFor(x => x.Id)
            <div id="no-data-pending" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

        </div>
    </div>*@
<div class="col-12" style="display: none;">
    @*<button type='button' class='btn btn-primary' onclick='OnService();'><i class='fa fas fa-plus'></i>&nbsp;Add Misconduct</button>*@
    @*<br /><br />*@
    <div id="myGridService_007" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
</div>

<div class="task-card" style="display:none;">
    <div style="background-color:#efefef!important">
        <div class="row" style="height: 50px;">
            <div class="row" style="float: left; margin-left: 30px; margin-top: 8px;">
                <div class="col-xs-2">
                    <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>
                </div>
                <div class="col-xs-2" id="overdue">
                    <h5 class="card-heading" style="color:black;margin-top: 9px;margin-left:10px;">Overdue Tasks &nbsp; <span class="label label-danger" id="overdue-task"></span></h5>
                </div>
            </div>
            @*<div id="overdue", style="margin-left:30px;">
                    <h5 class="card-heading"  style="color:black;">Overdue Tasks &nbsp; <span class="label label-danger" id="overdue-task"></span></h5>

                </div>*@


        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: red;">
    <div class="row task-title text-left">
        <div class="col-1" style="max-width:10%">Owner Name</div>
        @*<div class="col-2" style="max-width:17%">Assigned To</div>*@
        <div class="col-1" style="max-width:10%">Consumer No</div>
        <div class="col-2" style="max-width:10%">Subject</div>
        <div class="col-1" style="max-width:8%">Task No</div>
        <div class="col-1" style="max-width:8%">Status</div>
        <div class="col-1" style="max-width:8%">Start Date</div>
        <div class="col-1" style="max-width:8%">Due Date</div>
        <div class="col-1" style="max-width:10%">Service Cost</div>
        <div class="col-1" style="max-width:10%">Payment Status</div>
        <div class="col-1" style="max-width:10%">Reference No</div>
        <div class="col-1" style="max-width:6%"></div>
    </div>
    <div class="sub-div">


        <div id="kgrdTaskOverDue_007"></div>

        @Html.HiddenFor(x => x.Id)
        <div id="no-data-overdue" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

    </div>
</div>
<div class="task-card" style="display: none;">
    <div style="background-color:#efefef!important">
        <div class="row" style="height: 50px;">
            <div class="row" style="float: left; margin-left: 30px; margin-top: 8px;">
                <div class="col-xs-2">
                    <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>
                </div>
                <div class="col-xs-2" id="completedtask">
                    <h5 class="card-heading" style="color:black;margin-top: 9px;margin-left:10px;">Completed Tasks &nbsp; <span class="label label-danger" id="complete-task"></span></h5>
                </div>
            </div>
            @*<div id="completedtask", style="margin-left:30px;">
                    <h5 class="card-heading"  style="color:black;">Completed Tasks &nbsp; <span class="label label-danger" id="complete-task"></span></h5>

                </div>*@


        </div>
    </div>
    <!--<hr style="margin-bottom: 1px !important;border-width: 0px;border-color: red;">
    <div class="row task-title text-left">
        <div class="col-1" style="max-width:10%">Owner Name</div>-->
    @*<div class="col-2" style="max-width:17%">Assigned To</div>*@
    <!--<div class="col-1" style="max-width:10%">Consumer No</div>
        <div class="col-2" style="max-width:15%">Subject</div>
        <div class="col-1" style="max-width:10%">Task No</div>
        <div class="col-1" style="max-width:8%">Status</div>
        <div class="col-1" style="max-width:8%">Start Date</div>
        <div class="col-1" style="max-width:8%">Due Date</div>
        <div class="col-1" style="max-width:8%">Service Cost</div>
        <div class="col-1" style="max-width:10%">Reference No</div>
        <div class="col-1" style="max-width:8%">Payment Status</div>
        <div class="col-1" style="max-width:6%"></div>
    </div>
    <div class="sub-div">
        <div id="kgrdTaskCompleted"></div>
        @Html.HiddenFor(x => x.Id)
        <div id="no-data-complete" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

    </div>-->
    <div class="col-12">
        .
        <div id="myGridService1_007" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
    </div>
</div>

<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="page-section">
                <div class="container card-header" style="padding:10px;max-width:100%">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a data-toggle="tab" href="#pending" class="nav-link nav-link1 active" role="tab" aria-controls="pending" aria-selected="true"><i class="fa-regular fa-calendar-circle-exclamation"></i>&nbsp;PENDING PAYMENTS</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#completed" class="nav-link nav-link1" aria-controls="completed" aria-selected="false"><i class="fa-regular fa-calendar-check"></i>&nbsp;PAYMENTS HISTORY</a></li>

                    </ul>
                    <div class="tab-content" style="border: 1px solid silver;">
                        <div id="pending" class="tab-pane in active" role="tabpanel" aria-labelledby="design-tab">
                            <div class="task-card">

                                <div class="col-12">
                                    <div id="myGridService" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                                </div>

                            </div>
                        </div>

                        <div id="completed" class="tab-pane" role="tabpanel" aria-labelledby="design-tab">
                            <div class="task-card">
                                <div class="col-12">
                                    <div id="myGridService1" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="payConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="exampleModalLabel">Ready To Pay?</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body payment-body">Are you sure you want to proceed to payment gateway to pay the amount?</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary" onclick="return OnPaymentConfirm();">Proceed To Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
         var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
        var statusObj = JSON.parse(status);


        var columnDefs = [
            {
                field: "Id", headerName: "", minWidth: 100,
                cellRenderer: params => {
                    if (params.data.PaymentStatusCode == "ERROR_" || params.data.PaymentStatusCode == "NOT_PAID" || params.data.PaymentStatusCode == null) {
                    //return "<a style='cursor:pointer;color:blue;' href='javascript:OpenService(\"" + params.data.Id + "\",\"" + params.data.TemplateMasterCode + "\");'>Pay</a>";
                    return "<button class='btn btn-primary' onclick='OnPaymentClick(\"" + params.data.Id + "\",\"" + params.data.UdfNoteTableId + "\",\"" + params.data.ServiceCost + "\",\"" + params.data.AssignedToUserId + "\");'>Pay </button>";
                    }
                    return "";
                    //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"
                }
                },
        {
            field: "TaskSubject", headerName: "Payment Subject",minWidth:220,
            cellRenderer: params => {

                return "<a style='cursor:pointer;color:blue;' href='javascript:OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\");'>" + params.value + " </a>";
                //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"

            }
        },
        { field: "OwnerUserName", minWidth: 150,headerName: "Owner Name" },
        { field: "ServiceNo", headerName: "Service No", minWidth: 150 },
        //{ field: "NoteNo", headerName: "Consumer No", minWidth: 150 },
        //{ field: "TaskNo", headerName: "Task No", minWidth: 150 },
        //{ field: "TaskStatusName", headerName: "Task Status", minWidth: 150},


        //{
        //    field: "StartDate", headerName: "Start Date", minWidth: 150,
        //    cellRenderer: params => {

        //        var date = new Date(params.value);
        //        return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
        //    }
        //},



        {
            field: "DueDate", headerName: "Due Date", minWidth: 150,
            cellRenderer: params => {

                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },
        { field: "ServiceCost", headerName: "Bill Amount", minWidth: 150},

            //{ field: "ReferenceNumber", headerName: "Reference No", minWidth: 150 },

            //{ field: "PaymentStatus", headerName: "Payment Status", minWidth: 150 },
            { field: "ReferenceNumber", headerName: "Reference No", minWidth: 150 },
            //{ field: "PaymentStatus", headerName: "Payment Status", minWidth: 150 },
            {
                field: "PaymentStatus", headerName: "Payment Status", minWidth: 100,
                cellRenderer: params => {

                    if (params.data.PaymentStatusCode == "SUCCESS") {
                        //return "<a style='cursor:pointer;color:blue;' href='javascript:OpenService(\"" + params.data.Id + "\",\"" + params.data.TemplateMasterCode + "\");'>Pay</a>";
                        return "<span style='color:green'>" + params.value + " </span>";
                    }
                    else if (params.data.PaymentStatusCode == "ERROR_") {
                        return "<span style='color:red'>" + params.value + " </span>";

                    }
                    else if (params.value == null) {
                        return "<span style='color:highlight'> Not Paid </span>";
                    }
                    else {
                        return "<span style='color:highlight'>" + params.value + " </span>";

                    }
                    //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"
                }
            },






            ];


            $(function () {

                getService();
                getService1();


            });

    function getService() {
        document.getElementById("myGridService").innerHTML = "";
        @*var url = "/EGov/EGovernment/ReadTaskDataInProgress?portalNames=" + '@ViewBag.PortalNames';*@

        gridConfig(
            "myGridService",
        "/EGov/EGovernment/ReadTaskDataInProgress?portalNames=" + '@ViewBag.PortalNames' ,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
        }
         var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

        var columnDefs1 = [
            //{
            //    field: "Id", headerName: "", minWidth: 100,
            //    cellRenderer: params => {
            //
            //        //return "<a style='cursor:pointer;color:blue;' href='javascript:OpenService(\"" + params.data.Id + "\",\"" + params.data.TemplateMasterCode + "\");'>Pay</a>";
            //        return "<button class='btn btn-primary' onclick='OnPaymentClick(\"" + params.data.Id + "\",\"" + params.data.UdfNoteTableId + "\",\"" + params.data.ServiceCost + "\",\"" + params.data.AssignedToUserId + "\");'>Pay </button>";
            //        //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"
            //    }
            //    },
        {
                field: "TaskSubject", headerName: "Payment Subject",minWidth:220,
            cellRenderer: params => {

                return "<a style='cursor:pointer;color:blue;' href='javascript:OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\");'>" + params.value + " </a>";
                //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"

            }
        },
        { field: "OwnerUserName", minWidth: 150,headerName: "Owner Name" },
        { field: "ServiceNo", headerName: "Service No", minWidth: 150 },
        //{ field: "NoteNo", headerName: "Consumer No", minWidth: 150 },
        //{ field: "TaskNo", headerName: "Task No", minWidth: 150 },
        //{ field: "TaskStatusName", headerName: "Task Status", minWidth: 150},


        //{
        //    field: "StartDate", headerName: "Start Date", minWidth: 150,
        //    cellRenderer: params => {

        //        var date = new Date(params.value);
        //        return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
        //    }
        //},



        {
            field: "DueDate", headerName: "Due Date", minWidth: 150,
            cellRenderer: params => {

                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },
        { field: "ServiceCost", headerName: "Bill Amount", minWidth: 150},

        { field: "ReferenceNumber", headerName: "Reference No", minWidth: 150},
            //{ field: "PaymentStatus", headerName: "Payment Status", minWidth: 150 },
            {
                field: "PaymentStatus", headerName: "Payment Status", minWidth: 100,
                cellRenderer: params => {

                    if (params.data.PaymentStatusCode == "SUCCESS") {
                        //return "<a style='cursor:pointer;color:blue;' href='javascript:OpenService(\"" + params.data.Id + "\",\"" + params.data.TemplateMasterCode + "\");'>Pay</a>";
                        return "<span style='color:green'>" + params.value + " </span>";
                    }
                    else if (params.data.PaymentStatusCode == "ERROR_") {
                        return "<span style='color:red'>" + params.value + " </span>";

                    }
                    else {
                        return "<span style='color:highlight'>" + params.value + " </span>";

                    }
                    //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"
                }
            },






            ];




    function getService1() {
        document.getElementById("myGridService1").innerHTML = "";
        @*var url = "/EGov/EGovernment/ReadTaskDataInProgress?portalNames=" + '@ViewBag.PortalNames';*@

        gridConfig(
            "myGridService1",
        "/EGov/EGovernment/ReadTaskDataCompleted?portalNames=" + '@ViewBag.PortalNames' ,
            columnDefs1,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
            }
</script>
