@*@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceTaskController> Resource*@
@*@inject IStringLocalizer<CMS.UI.Web.Controllers.CmsController> Resource*@
@inject Synergy.App.Common.IUserContext _userContext;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@{
    Layout = null;
    // Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model TemplateViewModel

<head>
    @*other head stuff...*@
    @*    <link href="~/css/flickity.css" rel="stylesheet" />
        <script src="~/js/flickity.pkgd.min.js"></script>*@
    @*<link rel="stylesheet" href="~/Content/flickity.css" media="screen">*@
    @*<script src="~/Scripts/flickity.pkgd.min.js"></script>*@


    <meta charset="utf-8">
    @*    <meta name="viewport" content="width=device-width, initial-scale=1">*@
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>
    .img-140 {
        width: 140px;
        height: 140px;
    }

    .img-150 {
        width: 150px;
        height: 150px;
    }

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }

        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }

    .card-body {
        padding: 10px 5px;
    }

    .card-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid 1px #f2f2f2;
    }

    .card-size {
    }

    .card-img-div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .border-1 {
        border: 3px solid var(--blue) !important;
    }

        .border-1 .text-content {
            background-color: var(--blue) !important;
        }

    .border-2 {
        border: 3px solid var(--indigo) !important;
    }

        .border-2 .text-content {
            background-color: var(--indigo) !important;
        }

    .border-3 {
        border: 3px solid var(--red) !important;
    }

        .border-3 .text-content {
            background-color: var(--red) !important;
        }

    .border-4 {
        border: 3px solid var(--pink) !important;
    }

        .border-4 .text-content {
            background-color: var(--pink) !important;
        }

    .border-7 {
        border: 3px solid var(--purple) !important;
    }

        .border-7 .text-content {
            background-color: var(--purple) !important;
        }

    .border-6 {
        border: 3px solid var(--orange) !important;
    }

        .border-6 .text-content {
            background-color: var(--orange) !important;
        }

    .border-5 {
        border: 3px solid var(--teal) !important;
    }

        .border-5 .text-content {
            background-color: var(--teal) !important;
        }

    .border-8 {
        border: 3px solid var(--green) !important;
    }

        .border-8 .text-content {
            background-color: var(--green) !important;
        }

    a.card:hover {
        text-decoration: none !important;
    }


    /*new ui css*/

    .theme-color-green {
        background-color: #1FC7C3;
    }

    .font-16 {
        font-size: 16px;
    }

    .medium {
        font-weight: 500;
    }

    .bg-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../../../images/EGOV/srinagar-background.jpg') !important;
    }

    .main-heading {
        font-size: 28px;
        font-weight: 500;
    }

    .font-poppins {
        font-family: POPPINS;
    }

    .font-roboto {
        font-family: roboto;
    }

    .max-width-100 {
        max-width: 100%;
    }

    .border-theme-green {
        border: 1px solid #1FC7C3;
    }

    .border-radius-6 {
        border-radius: 6px;
    }

    .card-height-220 {
        min-height: 200px;
        max-height: 200px;
        min-width: 145px;
        max-width: 145px;
    }

    .horizontal-divider {
        border: 1px solid white;
    }

    .line-height-32 {
        line-height: 32px;
        font-size: 16px;
    }

    #catDiv {
        min-height: 450px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .is-hoverable {
        cursor: pointer !important;
    }

    .text-white {
        color: #fff !important;
    }

    .lightBorder {
        margin: 20px;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        border-color: #d3d3d34f;
    }

    .hero-banner {
        /*background-image: url("../../assets/img/hero-banner.png");*/
        width: auto;
        height: auto;
        background-repeat: no-repeat;
        /*clear: both;*/
        margin: 0 0 26px 0;
    }

    #MainPost {
        padding: 5px 5px;
        margin-bottom: -1px;
        width: 100%;
        /*height: 78vh;*/
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }

    .gallery-cell {
        width: 100%;
        /*min-height: 230px;*/
        height: 250px;
        margin-right: 10px;
        cursor: pointer;
        background: Transparent;
        counter-increment: gallery-cell;
        border-radius: 10px;
    }

        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

    .flickity-prev-next-button {
        width: 50px;
        height: 50px;
        background: transparent;
    }
        /* arrow color */
        .flickity-prev-next-button .arrow {
            fill: gray;
        }

        .flickity-prev-next-button.no-svg {
            color: white;
        }

        .flickity-prev-next-button:hover {
            background: transparent;
        }
        /* hide disabled button */
        .flickity-prev-next-button:disabled {
            display: none;
        }

    /* position dots in gallery */
    .flickity-page-dots {
        bottom: 10px;
    }
        /* white circles */
        .flickity-page-dots .dot {
            width: 12px;
            height: 12px;
            opacity: 1;
            background: transparent;
            border: 2px solid white;
        }

            .flickity-page-dots .dot.is-selected {
                background: white;
            }

    .gallery-cell img {
        /*        max-width: 100%;
                max-height: 100%;*/
        /*width: 94%;*/
        height: 200px;
    }

    .gallery-cell p {
        /*        max-width: 100%;
                max-height: 100%;*/
        text-align: center;
        vertical-align: middle;
        /* text-align: justify; */
        font-weight: 600;
        color: #ffff;
        width: 94%;
        height: 50px;
        /*background-color: #a9a9a9c2;*/
        /* margin: 0; */
        /* padding-left: 20px; */
        /* margin-left: 15px; */
        margin: 283px 45px 0px 45px;
        position: absolute;
    }

    .officer-title {
        background: linear-gradient(#292929, #003366);
        color: #fff;
        font-size: 16px !important;
        padding: 10px;
        margin: 0 0 0 0 !important;
        border-radius: 5px;
    }
</style>

<style>
    .carousel {
        position: relative;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 1.25rem;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }

    .carousel-control-prev {
        /*left: 0;*/
    }

    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }
</style>

<script>
    var goTop = document.getElementById("myBtn");
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            goTop.style.display = "block";
        } else {
            goTop.style.display = "none";
        }
    }
    function topFunction() {

        $('html, body').animate({
            scrollTop: 0
        }, 1000);
    }
    function SelectTemplate(id, tempCode, temtype, area, cont, action, param, tempname) {

        var guestUser = '@_userContext';

        if ('@_userContext.IsGuestUser' == 'True') {
            var rturl = '@System.Web.HttpUtility.UrlEncode(string.Concat("/Portal/", @_userContext.PortalName,"?portalId=", @_userContext.PortalId))';
            var url = "/Egov/EGovernment/Login?returnUrl=" + rturl;
            window.location.href = url;
        }
        else {
            var url = "";
            var portalId = "";
            var portalName = "";
            var prms = "";
            var callbackMethod = "";
            if (window.parent == "" || window.parent == undefined) {
                portalId = $("#GlobalPortalId").val();
            }
            else {
                portalId = window.parent.$("#GlobalPortalId").val();
            }
            if ('@Model.UserId' != null && '@Model.UserId' != '') {

                if ('@Model.Prms' != null && '@Model.Prms' != '') {
                    prms = encodeURIComponent('ownerUserId=@Model.UserId&@Html.Raw(Model.Prms)');
                }
                else {
                    prms = encodeURIComponent('ownerUserId=@Model.UserId');
                }

                var udfs = encodeURIComponent('SelectedUserId=@Model.UserId');
            }
            else {
                prms = encodeURIComponent('@Html.Raw(Model.Prms)');
            }
            if ('@Model.CallBackMethodName' != null && '@Model.CallBackMethodName' != '') {
                callbackMethod = '@Model.CallBackMethodName';
            } else {
                callbackMethod = "OnAfterServiceCreate";
            }

            if (temtype == @((int)TemplateTypeEnum.Custom)) {

                url = '/' + area + '/' + cont + '/' + action + '?' + param;
            }
            else {
                url = '/Cms/Page?lo=Popup&pageType=Service&cbm=' + callbackMethod + '&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&prms=' + prms + '&udfs=' + udfs;
            }
            if (tempCode == "EGOV_NCAP") {
                window.location.href = "https://app.cpcbccr.com/AQI_India/";
                return false;
            }
            else if (tempCode == "EGOV_BOOK_COMMUNITY_HALL") {
                window.location.href = "/portal/EGovCustomer/CommunityHallBooking";
                LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Community Hall Booking");
                return false;


            }
            else if (tempCode == "ELECTRIC_BILL_PAYMENT") {
                window.top.open('https://billsahuliyat.jkpdd.net/', '_blank').focus();

                //var url = '/EGov/EGovernment/PaymentCustom';
                //var win = GetMainWindow();
                //win.iframeOpenUrl = url;
                //win.OpenWindow({ Title: 'Pay Your Bill', Width: 600, Height: 700 });
                return false;
            }
            else if (tempCode == "WATER_BILL_PAYMENT") {

                window.top.open('https://www.jkphedwaterbilling.com/Modules/ConsumerOnlinePayment.aspx', '_blank').focus();

                //var url = '/EGov/EGovernment/PaymentCustom';
                //var win = GetMainWindow();
                //win.iframeOpenUrl = url;
                //win.OpenWindow({ Title: 'Pay Your Bill', Width: 600, Height: 700 });
                return false;
            }
            else {

    @*var url = '@Url.Action("NtsServicePage", "NtsService", new { @area = "Cms" })?templateid=' + tempid + '&templateCodes=' + tempCode+'&lo=Popup&cbm=OnAfterServiceCreate';*@

                    var win = GetMainWindow();
                win.iframeOpenUrl = url;
                var title = tempname;
                if (tempCode == "EGOV_PUBLIC_GRIEVANCE_REGISTRATION") {
                    title = "Public Grievance Registration Form";
                }
                win.OpenWindow({ Title: title, Width: 1000, Height: 700 });
                return false;
                var win = GetMainWindow();
                win.CloseWindow();
                return false;
            }
            //var win = GetMainWindow();
            ////var parent = win.GetParentWindow();
            ////parent.backtoNtsTaskIndex(id);
            //win.CloseWindow({ MethodName: 'backtoNtsServiceIndex' });
            //return false;
        }
    }

    function OnTask(Id) {

        var portalId = $('#GlobalPortalId').val();
        var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;

        LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Create Task');
        return false;
    }

    function EditTask(Id) {
        var portalId = $('#GlobalPortalId').val();
        // var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&source=Edit&dataAction=Edit&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + Id;

        LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Edit Task');
        return false;
    }

    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
    @*url: "/Cms/NtsService/ReadServiceTemplateCategory?templateCode=" + '@Model.Code' + "&categoryCode=" + '@Model.CategoryCode' + "&moduleCodes=" + '@Model.ModuleCodes' + "&categoryIds=" + '@Model.CategoryIds' + "&templateIds=" + '@Model.TemplateIds' + "&categoryType=" + '@Model.TemplateCategoryType' + "&portalNames=@ViewBag.PortalNames",*@
            url: "/Cms/NtsService/ReadServiceTemplateCategory?templateCode=" + '@Model.Code' + "&categoryCode=" + '@Model.CategoryCode' + "&moduleCodes=" + '@Model.ModuleCodes' + "&categoryIds=" + '@Model.CategoryIds' + "&templateIds=" + '@Model.TemplateIds' + "&categoryType=" + '@Model.TemplateCategoryType',
            dataType: "json"
                    }
                },
            });

    $("#catDiv").kendoListView({
        dataSource: dataSource,
        layout: "grid",

        template: kendo.template($("#templateTM").html()),
        dataBound: function () {
            $("#catDiv").removeClass();
            /*$("#catDiv").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");*/
            $("#catDiv").children('.k-listview-content').removeClass("k-listview-content  k-d-grid").addClass('row');
            /*$("#catDiv").children('.k-listview-content').removeClass("k-listview-content");*/
        }
    });

    function FilterTemplate() {
        return data = {
            templateCode: '@Model.Code',
            categoryCode: '@Model.CategoryCode',
            moduleCodes: '@Model.ModuleCodes',
            categoryIds: '@Model.CategoryIds',
            templateIds: '@Model.TemplateIds',
            categoryType: '@Model.TemplateCategoryType',
    @*portalNames: '@ViewBag.PortalNames'*@
                }
            }

    var dataSource1 = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/NtsService/ReadServiceTemplate",
                data: FilterTemplate,
                dataType: "json"
            }
        },
    });

    $("#listViewSL").kendoListView({
        dataSource: dataSource1,
        layout: "grid",

        template: kendo.template($("#tasktemplate1").html()),
        dataBound: function () {
            $("#listViewSL").removeClass();
            /*$("#NotificationlistView").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");*/
            $("#listViewSL").children('.k-listview-content').removeClass("k-listview-content k-d-grid").addClass("row");
        }

    });

    //$("#mysearch2").keyup(function () {
    //    var val = $('#mysearch2').val();
    //    var listView = $("#listViewSL").data("kendoListView");
    //    // var listView = $("#kgrdService").data("kendoListView");
    //    listView.dataSource.filter({
    //        logic: "or",
    //        filters: [
    //            {
    //                field: "DisplayName",
    //                operator: "contains",
    //                value: val
    //            },
    //            {
    //                field: "Description",
    //                operator: "contains",
    //                value: val
    //            },

    //        ]
    //    });

    //});

    //$('.main-gallery').flickity({
    //    // options
    //    cellAlign: 'left',
    //    contain: true,
    //    autoPlay: 3000,
    //    pauseAutoPlayOnHover: false,
    //    wrapAround: true
    //});

        });

    var colors = ['#F56564', '#1B4D3E', '#555D50', '#90D142', '#28BAF5', '#7551F5', '#5BA79F', '#7A8F9D', '#4F67B6'];
    function OnDataBoundDoc(arg) {

        var childDiv = document.getElementById('listViewSL').children;
        ////var childDiv = document.getElementById('count').children;

        for (var i = 0; i < childDiv[0].children.length; i++) {
            var uc = childDiv[0].children[i].getElementsByClassName("template-flip-card-front");
            var colr = colors[Math.floor(Math.random() * colors.length)];
            uc[0].style.backgroundColor = colr;
        }
    }

    function OnChange(catCode, templateName) {
        debugger;
        if (catCode == "EGOV_SSC_BIRTH_DEATH") {
            window.location.href = "http://jansugam.jk.gov.in/";
            return false;
        }
        else if (catCode == "EGOV_SSC_BUILDING_PERMISSION") {
            window.location.href = "https://jkhuddobps.in/";
            return false;
        }
        else if (catCode == "EGOV_SSC_NCAP") {
            window.location.href = "https://app.cpcbccr.com/AQI_India/";
            return false;
        }
        else if (catCode == "EGOV_SSC_DAIRY_REG") {
            window.location.href = "http://jansugam.jk.gov.in/getServiceDesc.html?serviceId=17580007&state=1&tempId=6620&templStatus=243&backButtonUrl=&grievDefined=0";
            return false;
        }
        else if (catCode == "EGOV_SSC_VENDING_LICENCE") {
            window.location.href = "http://jansugam.jk.gov.in/getServiceDesc.html?serviceId=18130005";
            return false;
        }
        else if (catCode == "EGOV_SSC_PET_REG") {
            window.location.href = "http://jansugam.jk.gov.in/getServiceDesc.html?serviceId=17600005";
            return false;
        }
        else if (catCode == "EGOV_SSC_SEWERAGE") {
            window.location.href = "http://jansugam.jk.gov.in/getServiceDesc.html?serviceId=18160005";
            return false;
        }
        else if (catCode == "EGOV_SSC_CITY_WATER_WORKS") {
            window.location.href = "https://jkphedwaterbilling.com/";
            return false;
        }
        else if (catCode == "EGOV_SSC_STREET_LIGHTS") {
            return false;
        }
        else if (catCode == "EGOV_SSC_SMC_LIMIT_CER") {
            window.location.href = "http://jansugam.jk.gov.in/getServiceDesc.html?serviceId=18400003";
            return false;
        }
        else if (catCode == "EGOV_SSC_PROGRESS_MONITORING") {
            window.location.href = "https://esmc.co.in/PerformanceAndMonitoring/index";
            return false;
        }
        else if (catCode == "EGOV_SSC_TRACKFILE") {
            window.location.href = "https://esmc.co.in/Citizen/Files/CheckStatus";
            return false;
        }
        else if (catCode == "EGOV_NEED_WANT") {
            window.location.href = "/portal/EGovCustomer/CitizenProjectsHome";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Needs And Wants");
            return false;
        }
        else {
            document.getElementById('categoryName').innerHTML = templateName;
            $("#listViewSL").data('kendoListView').dataSource.read({ categoryCode: catCode });
            $("#templatesDiv").show();
            $("#categoryDiv").hide();
            $('html, body').animate({
                scrollTop: $("#templatesDiv").offset().top - 280
            }, 1000);
        }
    }

    function BackToCategory() {
        $("#categoryDiv").show();
        $("#templatesDiv").hide();
    }

    function highlight(element) {

        let elements = document.getElementsByClassName('announcement');

        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.background = "#f7e6be";
        }
        element.style.background = "#63BBDC";
    }

    function OnViewTemplate(id, code) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ServiceDiagram", "NtsService", new { @area = "cms" })?id=' + id + "&isTemplate=true";
        //win.iframeOpenUrl =  '@Url.Action("Swimlane", "NtsService", new { @area = "cms" })';
        win.OpenWindow({ Title: 'Service Workflow', Width: 1200, Height: 600 });
        return false;
    }

    function IconError(obj) {
        obj.onerror = null;
        obj.src = '/images/document.png';

    };

    function onBack() {
        //window.location.href = "@ViewBag.SmartCityUrl";
        window.location.href = "/portal/EGovCustomer/AboutUs";
        LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "AboutUs");
        return false;
    }

    $('#left').click(function (event) {
        event.preventDefault();
        $('#catDiv').animate({
            scrollLeft: "-=1075px"
        }, "slow");
    });

    $('#right').click(function (event) {
        event.preventDefault();
        $('#catDiv').animate({
            scrollLeft: "+=1075px"
        }, "slow");
    });

    $('#left1').click(function (event) {
        event.preventDefault();
        $('#catDiv').animate({
            scrollLeft: "-=1075px"
        }, "slow");
    });

    $('#right1').click(function (event) {
        event.preventDefault();
        $('#catDiv').animate({
            scrollLeft: "+=1075px"
        }, "slow");
    });

    $('#leftT').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#rightT').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    $('#left1T').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "-=1075px"
        }, "slow");
    });

    $('#right1T').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "+=1075px"
        }, "slow");
    });

    function OnClick(ccode, cname, type) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("Info", "NtsService", new { @area = "cms" })?code=' + ccode + "&type=" + type;
        win.OpenWindow({ Title: 'Info', Width: 400, Height: 400 });
        return false;
    }
    function onClickNotifications(){
        //alert("Notifications");
        window.location.href = "/portal/EGovCustomer/Notifications";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Notifications");
            return false;
    }
    function onClickTenders(){
        //alert("Tenders");
        window.location.href = "/portal/EGovCustomer/Tenders";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Tenders");
            return false;
    }
    function onClickOrderCirculars(bannertype){
        //alert(bannertype);
        if(bannertype == "SSC_ORDERS"){
            window.location.href = "/portal/EGovCustomer/Orders";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Orders");
        }
        else if(bannertype == "SSC_CIRCULARS"){
            window.location.href = "/portal/EGovCustomer/Circulars";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Circulars");
        }
        return false;
    }
</script>

<div id="appWrapper" class="wrapper">
    <div class="page text-center mt-0  w-100">
        <div class="page-inner" @*style="background-image: url('/images/page-bg-2.png');background-repeat:repeat;"*@>
            <button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-primary btn-lg"><i class="fa fa-up"></i></button>
            @*<div class="row justify-content-md-center pt-4">
                @if (ViewBag.SmartCityUrl != null)
                {
                <div class="col-10">
                <input type="button" value="Srinagar Smart City" onclick="onBack()" class="btn btn-link" />
                </div>
                }
                <div class="col-10">
                <div class="card card-inverse bg-primary" style="width:100%;">
                <div class="card-header text-center">Categories Of Services</div>
                <div class="card-body bg-white" style="min-height:400px;">
                <div id="catDiv">
                </div>
                </div>
                </div>
                <script type="text/x-kendo-tmpl" id="templateTM">
                <div class="col-2 is-hoverable">
                <a href="javascript:OnChange('#:Code#','#:Name#')" class="card text-dark bg-white m-3 #:ClassName# ishoverable">
                <div class="card-body text-center">
                <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);"/>

                </div>
                <div class="text-center p-1 text-light text-truncate text-content" title="#:Name#">
                #:Name#
                </div>
                </a>
                </div>
                </script>

                </div>

                <div class="col-10">
                <div class="card card-inverse bg-teal" style="width:100%;">
                <div class="card-header text-center">Service List</div>
                <div class="card-body bg-white" style="min-height: 400px;">
                <div id="templatesDiv" style="  display: none;">
                <div id="listViewSL">

                </div>
                </div>
                </div>
                </div>
                <script type="text/x-kendo-tmpl" id="tasktemplate1">
                <div class="col-2 is-hoverable">
                <a title='#:DisplayName#' class="card text-dark bg-white m-3 #:ClassName# ishoverable"  href="javascript:SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');" >
                <div class="card-body text-center">
                #if(TemplateType == '7')
                {#
                <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">
                #}
                else
                {#
                <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                #}#

                </div>
                <div class="text-center p-1 text-light text-truncate text-content" title="#:DisplayName#">
                #:DisplayName#
                </div>
                </a>
                </div>
                </script>

                </div>

                </div>*@


            <div class="container" id="categoryDiv">
                @*<div class="row">
                        <h1 class="text-left main-heading pb-1 pt-3 font-poppins">Home</h1>
                        <div class="lightBorder">
                            <div class="hero-banner" style="text-align:center;">
                                <div class="row">
                                    <div id="MainPost">
                                        <div class="main-gallery" id="main-gallery">
                                            <div class="gallery-cell">
                                                <p></p>
                                                <img src="~/images/EGOV/aboutcity01.png" />
                                            </div>
                                            <div class="gallery-cell">
                                                <p></p>
                                                <img src="~/images/EGOV/aboutcity01.png" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="row">
                    <!-- Carousel -->
                    <div id="demo" class="carousel slide" data-bs-ride="carousel" style="width:100%;">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators" style="display:none;">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/images/EGOV/smchome0101.jpg" asp-append-version="true" alt="Srinagar" class="d-block" style="width:100%;height:350px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/EGOV/smchome0201.jpg" asp-append-version="true" alt="Srinagar" class="d-block" style="width: 100%;height:350px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/EGOV/smchome0301.jpg" asp-append-version="true" alt="Srinagar" class="d-block" style="width:100%;height:350px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/EGOV/smchome0401.jpg" asp-append-version="true" alt="Srinagar" class="d-block" style="width:100%;height:350px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/EGOV/smchome0501.jpg" asp-append-version="true" alt="Srinagar" class="d-block" style="width:100%;height:350px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/EGOV/smchome0601.jpg" asp-append-version="true" alt="Srinagar" class="d-block" style="width:100%;height:350px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/EGOV/smchome0701.jpg" asp-append-version="true" alt="Srinagar" class="d-block" style="width:100%;height:350px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/EGOV/smchome0801.jpg" asp-append-version="true" alt="Srinagar" class="d-block" style="width:100%;height:350px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <i class="fa fa-angles-left" style="color:grey;font-size:40px;"></i>
                            @*<span class="carousel-control-prev-icon"></span>*@
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <i class="fa fa-angles-right" style="color:grey;font-size:40px;"></i>
                            @*<span class="carousel-control-next-icon"></span>*@
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
                        @*<h1 class="text-left main-heading pb-1 pt-3 font-poppins">Srinagar Smart City</h1>*@
                        @*<p class="text-left font-roboto line-height-32">Srinagar Smart City was incorporated on 26th September, 2016 with Authorised Capital of Rs.20.00 crores and paid up capital of Rs.16.33 crores. Srinagar Smart City is a wholly owned Undertaking of Government of Jammu &amp; Kasmir.<br><br></p>*@
                        <p class="text-left font-roboto line-height-32"></p>
                        @*                        @if (ViewBag.SmartCityUrl != null)
                            {
                                <button class="btn btn-primary pl-4 pr-4" type="button" onclick="onBack()" style="background: linear-gradient(#292929, #003366);">More About Us</button>
                            }*@
                    </div>
                </div>
                <div class="row">
                    @*                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 text-left">
                            <h1 class="text-left main-heading pb-1 pt-3 font-poppins">Srinagar Smart City</h1>
                            <p class="text-left font-roboto line-height-32">Srinagar Smart City was incorporated on 26th September, 2016 with Authorised Capital of Rs.20.00 crores and paid up capital of Rs.16.33 crores. Srinagar Smart City is a wholly owned Undertaking of Government of Jammu &amp; Kasmir.<br><br></p>
                            @if (ViewBag.SmartCityUrl != null)
                            {
                                <button class="btn btn-primary pl-4 pr-4" type="button" onclick="onBack()" style="background: linear-gradient(#292929, #003366);">More About Us</button>
                            }
                        </div>*@
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-3 pb-5">
                        <div class="theme-color-green w-100 p-4">
                            <h2 class="font-16 font-roboto medium text-left text-white">Categories of Services</h2>
                            <hr class="w-100 horizontal-divider mt-0">
                            <div class="max-height-500 pr-3">
                                <div class="theme-color-green max-width-100 mb-4">
                                    <div class="row">
                                        <div id="catDiv"></div>

                                        <script type="text/x-kendo-tmpl" id="templateTM">
                                            @*<div class="col-2 is-hoverable">
                                                <a href="javascript:OnChange('#:Code#','#:Name#')" class="card text-dark bg-white m-3 #:ClassName# ishoverable">
                                                <div class="card-body text-center">
                                                <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);"/>
                                            </div>
                                            <div class="text-center p-1 text-light text-truncate text-content" title="#:Name#">#:Name#</div>
                                            </a>
                                            </div>*@

                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2 is-hoverable" onclick="OnChange('#:Code#','#:Name#')">
                                                <div class="text-center bg-white p-2 ml-2 border-theme-green border-radius-6 card-height-220">
                                                    <img class="img-fluid img-140 border-radius-6" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                                    <p class="pt-2 text-i">#:Name#</p>
                                                </div>
                                            </div>

                                        </script>

                                        @*<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                                            <div class="text-center bg-white h-100 p-2 border-theme-green border-radius-6">
                                            <img class="img-fluid w-100 border-radius-6" src="assets/img/sanitation.jpg">
                                            <p class="pt-2 text-i">Sanitation Services</p>
                                            </div>
                                            </div>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="officer-title font-roboto">Mayor</h3>
                            </div>
                            <div class="col-12 col-sm-12" style="padding-bottom:20px;padding-top:10px;">
                                <img src="~/images/EGOV/mayor.jpg" asp-append-version="true" alt="Srinagar Municipal Corporation." style="width:95%;border-radius:10px;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="officer-title font-roboto">Deputy Mayor</h3>
                            </div>
                            <div class="col-12 col-sm-12" style="padding-bottom:20px;padding-top:10px;">
                                <img src="~/images/EGOV/dptymayor.jpg" asp-append-version="true" alt="Srinagar Municipal Corporation." style="width: 95%; border-radius: 10px;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="officer-title font-roboto">Commissioner</h3>
                            </div>
                            <div class="col-12 col-sm-12" style="padding-bottom:20px;padding-top:10px;">
                                <img src="~/images/EGOV/commissioner.jpg" asp-append-version="true" alt="Srinagar Municipal Corporation." style="width: 95%; border-radius: 10px;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-4">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="officer-title font-roboto">Notifications</h3>
                            </div>
                            <div class="col-12" style="padding-bottom:10px;">
                                <marquee direction="up" onmouseover="stop()" onmouseout="start()" height="450px" width="80%">
                                    @if (Model.Notifications.Count > 0)
                                    {
                                        foreach (var item in Model.Notifications)
                                        {
                                            <p class="pt-2 text-i"> - <a href="#" style="text-decoration:none;color:#000000;" onclick="onClickNotifications();">@item.BannerContent</a> </p>
                                            <br />
                                        }
                                    }
                                </marquee>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <h3 class="officer-title font-roboto">Quick Links</h3>
                            </div>
                            <div class="col-12" style="padding-bottom:10px;">
                                <ul style="text-align:left;">
                                    <li class="pt-2 text-i">
                                        <a href="http://jkgad.nic.in/" target="_blank" class="pt-2 text-i" style="color:black;text-decoration:none;">GAD,J&amp;K</a>
                                    <li>
                                        <a href="http://jkhudd.nic.in/" target="_blank" class="pt-2 text-i" style="color:black;text-decoration:none;">
                                            Housing &amp; Urban Dev Deptt
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://srinagarsmartcity.in/" target="_blank" class="pt-2 text-i" style="color:black;text-decoration:none;">
                                            Srinagar Smart City
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://srinagar.nic.in/" target="_blank" class="pt-2 text-i" style="color:black;text-decoration:none;">
                                            District Srinagar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://billsahuliyat.jkpdd.net/" target="_blank" class="pt-2 text-i" style="color:black;text-decoration:none;">
                                            J&amp;K PDD
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://phekashmir.com/" target="_blank" class="pt-2 text-i" style="color:black;text-decoration:none;">
                                            J&amp;K PHE (Water Works)
                                        </a>
                                    </li>
                                    <li><a href="http://jklda.org/" target="_blank" class="pt-2 text-i" style="color:black;text-decoration:none;">LAWDA</a></li>
                                    <li>
                                        <a href="http://www.sdasrinagar.com/" target="_blank" class="pt-2 text-i" style="color:black;text-decoration:none;">
                                            Srinagar Developmet Department
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <iframe src="https://www.youtube.com/embed/0eoJSlgURTg" frameborder="0" style="width: 100%; height: 310px;"></iframe>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="officer-title font-roboto">Order/Circulars</h3>
                            </div>
                            <div class="col-12" style="padding-bottom:10px;">
                                <marquee direction="up" onmouseover="stop()" onmouseout="start()" height="300px" width="80%">
                                    @if (Model.OrderCirculars.Count > 0)
                                    {
                                        foreach (var item in Model.OrderCirculars)
                                        {
                                            <p class="pt-2 text-i"> - <a href="#" style="text-decoration:none;color:#000000;" onclick="onClickOrderCirculars('@item.BannerType');">@item.BannerContent</a> </p>
                                            <br />
                                        }
                                    }
                                </marquee>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="officer-title font-roboto">Tenders</h3>
                            </div>
                            <div class="col-12" style="padding-bottom:10px;">
                                <marquee direction="up" onmouseover="stop()" onmouseout="start()" scrollamount="4" height="300px" width="80%">
                                    @if (Model.Tenders.Count > 0)
                                    {
                                        foreach (var item in Model.Tenders)
                                        {
                                            <p class="pt-2 text-i"> - <a href="#" style="text-decoration:none;color:#000000;" onclick="onClickTenders();">@item.BannerContent</a> </p>
                                            <br />
                                        }
                                    }
                                </marquee>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*Service List*@
            <div class="container" id="templatesDiv" style="display:none;">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pb-5">
                        <div class="theme-color-green w-100 p-4">
                            <div class="d-lg-flex d-xl-flex justify-content-between">
                                <h2 class="font-16 font-roboto medium text-left text-white" id="categoryName"></h2>
                                <h2 class="font-16 font-roboto medium text-left text-white" onclick="BackToCategory();" style="cursor:pointer;"><i class="far fa-arrow-alt-circle-left pr-2"></i>Categories of Services</h2>
                            </div>
                            <hr class="w-100 horizontal-divider mt-0">
                            <div class="theme-color-green max-width-100 mb-4">
                                <div class="row">
                                    <div id="listViewSL"></div>

                                    <script type="text/x-kendo-tmpl" id="tasktemplate1">

                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-4 is-hoverable" onclick="SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');">
                                            <div class="text-center bg-white m-4 p-3 border-theme-green border-radius-6">
                                                #if(TemplateType == '7'){#
                                                        <img class="img-fluid border-radius-6" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">
                                                    #}
                                                    else
                                                    {#
                                                <img class="img-fluid img-150 border-radius-6" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                                 #}#
                                                <p class="pt-2 text-i">#:DisplayName#</p>
                                            </div>
                                        </div>

                                        @*<div class="col-2 is-hoverable">
                                            <a title='#:DisplayName#' class="card text-dark bg-white m-3 #:ClassName# ishoverable"  href="javascript:SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');" >
                                                <div class="card-body text-center">
                                                    #if(TemplateType == '7')
                                                    {#
                                                        <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">
                                                    #}
                                                    else
                                                    {#
                                                        <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                                    #}#

                                                </div>
                                                <div class="text-center p-1 text-light text-truncate text-content" title="#:DisplayName#">#:DisplayName#</div>
                                            </a>
                                        </div>*@
                                    </script>

                                    @*<div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="text-center bg-white h-100 p-2 border-theme-green border-radius-6">
                                        <img class="img-fluid w-100 border-radius-6" src="assets/img/construction.jpg">
                                        <p class="pt-2 text-i">Construction &amp; Debris Waste Clearance Form</p>
                                        </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>