@using Synergy.App.Common;
@using Synergy.App.ViewModel
@using Synergy.App.Business
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "View Projects UnderTaken";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model EGovDashboardViewModel



<style>
    .form-control {
        width: unset;
    }
    .btn-light {
       background-color: #1c4893;
      color: #ffffff;
       }

  
</style>

<div class="row" style="margin-left:15px;">
    <br/>
    <div class="row col-12 pad-10">
        <div class="col-3">
            <label for="ProjectNo" style="font-weight:800">Project No :</label>
        </div>
        <div class="col-9 ">

            <textbox class="form-control" readonly="readonly" style="width:80%">
            @Html.DisplayFor(x => x.ServiceNo)</textbox>

        </div>
    </div>
    <div class="row col-12 pad-10">
        <div class="col-3">
            <label for="ProjectName" style="font-weight:800">Project Name :</label>
        </div>
        <div class="col-9 ">
            <textbox class="form-control" readonly="readonly" style="width:80%">
                @Html.DisplayFor(x => x.ProjectName)
            </textbox>

         
        </div>
    </div>
    <div class="row col-12 pad-10">
        <div class="col-3">
            <label for="ProjectDescriptionText" style="font-weight:800">Description :</label>
        </div>
        <div class="col-9 ">

       
            <textarea  rows="3" class="form-control" readonly="readonly" style="width:80%">@Html.DisplayFor(x => x.ProjectDescriptionText)</textarea>
        </div>
    </div>
    <div class="row col-12 pad-10">
        <div class="col-3">
            <label for="ProjectCategoryName" style="font-weight:800">Category :</label>
        </div>
        <div class="col-9 ">

            <textbox class="form-control" readonly="readonly" style="width:80%">
                @Html.DisplayFor(x => x.ProjectCategoryName)
            </textbox>
           
        </div>
    </div>
    <div class="row col-12 pad-10">
        <div class="col-3">
            <label for="RequestedDate" style="font-weight:800">Requested Date :</label>
        </div>
        <div class="col-9 ">
         
            <textbox class="form-control" readonly="readonly" style="width:80%">
                @Html.DisplayFor(x => x.RequestedDate)
            </textbox>
        </div>
    </div>
    <div class="row col-12 pad-10">
        <div class="col-3">
            <label for="Status" style="font-weight:800">Status :</label>
        </div>
        <div class="col-9 ">
          
            <textbox class="form-control" readonly="readonly" style="width:80%">
                @Html.DisplayFor(x => x.ProjectStatus)
            </textbox>
        </div>
    </div>
    <div class="row col-12 pad-10">
        <div class="col-3">
            <label for="Comment" style="font-weight:800">Comment :</label>
        </div>
        <div class="col-9 ">
         
            <textarea class="form-control" readonly="readonly" style="width:80%">
                @Html.DisplayFor(x => x.Comment)
            </textarea>
        </div>
    </div>


    <div class="cms-slidebar-footer">
        <center>   <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button> </center>
            @*<input type="submit" class="btn btn-primary" value="Save" id="submitBtn" onclick="OnSave(event);" />*@
        </div>

</div>
<script>
    function closeNavMemberGroup() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>
      

