@using CMS.UI.ViewModel;
@using CMS.Common;

@model List<WorkBoardTemplateViewModel>


<style>
    .alertTemplate {
        margin: 10px;
        border: 1px solid #b9c1cb;
        border-radius: 5px;
        background: #fbfbfb;
        height: 10%;
        padding: 5px 15px;
    }
</style>

@if (Model.Count() == 0)
{

    <div class="alertTemplate">No results found... Please expand your search criteria and try again.</div>

}
else
{

    @foreach (var item in Model)
    {
        <div id="test" class="tmpl-wrap">
            <div class="row" id="@item.TemplateDisplayName">
                <div class="tmpl-thumb abs col-6">
                    <div class="img">
                        @*<img src="https://s3.amazonaws.com/templates.stormboard.com/thumb/487babbf05afb1e9715d42e9c1eb487e0ac52d01.png" style="width: 100%">*@
                        <img class="caticon card-title" style="width: 100%" src="/cms/Document/GetImageMongo?id=@item.ContentImage" onerror="OnDocumentError(this);">
                    </div>
                </div>
                <div class="tmpl-body col-6">
                    <h4><span>@item.TemplateTypeName</span> </h4>
                    <p>@item.TemplateDescription</p>
                    <div class="tmpl-footer">
                        <div class="tmpl-footer-left">
                            <div class="tmpl-labels">@*<span class="tmpl-label" data-type="has-guide"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2zm-8 8.6a.25.25 0 01-.36.22l-1.53-.76a.22.22 0 00-.22 0l-1.53.76A.25.25 0 016 10.6V4.25A.25.25 0 016.25 4h3.5a.25.25 0 01.25.25z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg> Has Guide</span>*@</div>
                            <div class="checkbox-group"><input type="checkbox" id="sample-cbx-144"><label for="sample-cbx-144">Include Sample Content </label></div>
                        </div>
                        <div class="tmpl-actions"><button type="button" class="btn btn-primary choose" id="@item.TemplateId" data-content="@item.TemplateTypeName"><svg class="icon" style="fill: #fff;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.79 15.88l-3.47-3.47a.996.996 0 10-1.41 1.41L8.09 18c.39.39 1.02.39 1.41 0L20.09 7.42a.996.996 0 10-1.41-1.41z"></path></svg> <span>Choose Template</span></button></div>
                    </div>
                </div>
            </div>
        </div>
    }

}