@inject Synergy.App.Common.IUserContext _userContext
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@*@using Kendo.Mvc.UI*@
@{
    var bannerHeight = 65;
    var returnUrl = "";
    if (ViewBag.Portal != null)
    {
        bannerHeight = ViewBag.Portal.BannerHeight;
        returnUrl = string.Concat("/portal/", Convert.ToString(ViewBag.Portal.Name));
    }
}
<!DOCTYPE html>
<html class="wide wow-animation smoothscroll scrollTo desktop landscape rd-navbar-static-linked" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @*<link rel="icon" type="image/x-icon" href="~/images/galfaricon.jpeg" />*@
    @if (ViewBag.FavIconId != null)
    {
        <link rel="icon" type="image/x-icon" href="/Cms/document/getimagemongo?id=@ViewBag.FavIconId" />
    }
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/css/layout.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/common.css" />
    <link rel="stylesheet" href="~/css/floating-labels.css" />
    <link rel="stylesheet" href="~/lib/flowy/css/flowy.min.css" />
    <link rel="stylesheet" href="~/css/Rec/recruitment.css" />

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.css">
    <link href="https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/jquery-splitter.css" />
    <link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    @*<link rel="stylesheet" type="text/css" href="~/Themes/CareerPortal/css/css">*@
    <link rel="stylesheet" href="~/Themes/CareerPortal/css/layout-style.css">
    <link rel="stylesheet" href="~/Themes/CareerPortal/css/extra.css">
    <link href="~/Themes/CareerPortal/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Themes/CareerPortal/css/style.css" rel="stylesheet">
    <link href="~/Themes/CareerPortal/css/style-responsive.css" rel="stylesheet" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery-ajax-unobtrusive.js"></script>

    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/jquery.min.js"></script>


    @*<script src="~/lib/intro.js/intro.min.js"></script>
        <script src="~/lib/intro.js/intro.js"></script>
        <link href="~/lib/intro.js/introjs-rtl.css" rel="stylesheet" />
        <link href="~/lib/intro.js/introjs-rtl.min.css" rel="stylesheet" />
        <link href="~/lib/intro.js/introjs.css" rel="stylesheet" />
        <link href="~/lib/intro.js/introjs.min.css" rel="stylesheet" />*@

    <script src="~/js/jquery-splitter.js"></script>



    <script src="~/lib/formio/js/formio.full.js"></script>
    <script src="~/lib/flowy/js/flowy.min.js"></script>
    <script src="~/lib/flowy/js/main.js"></script>
    <script src="~/js/Rec/recruitment.js"></script>
    <script src="~/js/common.js"></script>




    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.aspnetmvc.min.js"></script>

    <link href="~/js/jquery_editor/richtext.min.css" rel="stylesheet" />
    <script src="~/js/jquery_editor/jquery.richtext.js"></script>


    <link href="~/js/dm-uploader/jquery.dm-uploader.css" rel="stylesheet" />
    <script src="~/js/dm-uploader/jquery.dm-uploader.js"></script>
    <script src="~/js/dm-uploader/upload-config.js"></script>
    <script src="~/js/dm-uploader/upload-ui.js"></script>

    <script>
        @{
            string CubeJSKey = Configuration.GetSection("CubeJSSettings")["CubeJSKey"];
            string CubeJSBaseUrl = Configuration.GetSection("CubeJSSettings")["CubeJSBaseUrl"];
        }
        //Chart.defaults.plugins.legend.position = "bottom";
        const COLORS_SERIES = ['#FF6492', '#141446', '#7A77FF'];
        const commonOptions = {
            maintainAspectRatio: false,
        };
        const cubejsApi = cubejs(
            '@CubeJSKey',
            { apiUrl: '@CubeJSBaseUrl'.concat('cubejs-api/v1') } // !!!!! convert to https !!!!!!
        );
        function toTitleCase(str) {
            var arr = str.split('_');
            if (arr.length > 1) {
                str = arr[1].replaceAll('_', ' ');
            }
            else {
                str = str.replaceAll('_', ' ');
            }
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }
    </script>
    <style>
        .k-popup-right {
            right: 0 !important;
            left: unset !important;
        }

        .cp-navbar {
            margin-top: 0px !important;
            margin-left: 0px !important;
            padding-left: 0px !important;
            margin-right: 0px !important;
            padding-right: 0px !important;
            width: 100% !important;
            background-color: #fff !important;
            position: fixed !important;
            left: 0 !important;
            top: 0 !important;
        }

        #content-wrapper {
            background-color: #fff !important;
        }

        a {
            color: #64aae1;
        }

        .list li, .list li a, .list li span {
            color: #64aae1 !important;
        }
    </style>

    <script type="text/javascript">
        var globalPopups = GetStack();
        var globalCallBack = null;
        var globalWindowSender = null;
        function IsPopupWindow() {
            return (window.frameElement !== null && window.frameElement !== undefined && window.frameElement !== '');
        }
        if (IsPopupWindow()) {
            $("<style>")
                .prop("type", "text/css")
                .html("\
                .clear-padding {\
                    margin-left: 0px !important;\
                    padding-top: 0px!important;\
                    padding-bottom: 0px!important;\
                }\
                .hide-in-popup {\
                    display: none;\
                }")
                .appendTo("head");
        }
        function OpenWindow(winProp) {
            var obj = eval(globalPopups.peek());
            if (winProp.Reload == true) {
            }
            else {
                if (obj === null) {
                    winProp.Id = 1;
                    obj = winProp;
                    globalPopups.push(winProp);
                }
                else {
                    winProp.Id = eval(obj.Id) + 1;
                    obj = winProp;
                    globalPopups.push(winProp);
                }
            }

            var name = "popup_" + obj.Id;
            var wnd = $("#" + name).data("kendoWindow");
            if (wnd) {
                wnd.setOptions({
                    width: winProp.Width,
                    height: winProp.Height,
                    title: winProp.Title
                });

                wnd.refresh({ url: iframeOpenUrl });
                if (globalWindowSender != null) {
                    kendo.ui.progress(globalWindowSender.sender.element, true);
                }

            } else {
                wnd = $("<div id='" + name + "'></div>").kendoWindow({
                    title: winProp.Title,
                    width: winProp.Width,
                    iframe: true,
                    resizable: false,
                    height: winProp.Height,
                    modal: true,
                    open: OnWindowOpen,
                    activate: OnWindowActivate,
                    close: OnWindowClose,
                    deactivate: OnWindowDeactivate,
                    refresh: OnWindowRefresh,

                    visible: true
                }).data("kendoWindow");
                if (winProp.Position === 'Right') {
                    wnd.wrapper.addClass('k-popup-right');
                }
                else {
                    wnd.center();
                }
                //  RemoveMultipleOverlays();

            }
        }
        function RemoveMultipleOverlays() {
            $('div.k-overlay').remove();
        }
        function CloseWindow(cb) {
            globalCallBack = cb;
            var obj = globalPopups.peek();
            if (obj === null) {
                return null;
            }
            var name = "popup_" + obj.Id;
            var wnd = $("#" + name).data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            return false;
        }
        function GetMainWindow(win) {
            if (win === null || win === undefined) {
                win = window;
            }
            if (win.frameElement === null || win.frameElement === undefined) {
                return win;
            }
            return GetMainWindow(win.parent);
        }
        function GetWindow() {
            var obj = globalPopups.peek();
            if (obj === null) {
                return null;
            }
            var name = "popup_" + obj.Id;
            var windowElement = $("#" + name);
            var iframeDomElement = windowElement.children("iframe")[0];
            var iframeWindowObject = iframeDomElement.contentWindow;
            return iframeWindowObject;
        }
        function GetParentWindow() {
            var obj = globalPopups.peek(1);
            if (obj === null) {
                return window;
            }
            var name = "popup_" + obj.Id;
            var windowElement = $("#" + name);
            var iframeDomElement = windowElement.children("iframe")[0];
            var iframeWindowObject = iframeDomElement.contentWindow;
            return iframeWindowObject;
        }
        function OnWindowActivate(e) {
            var obj = globalPopups.peek();
            console.log(obj)
            if (obj === null) {
                return null;
            }
            var name = "popup_" + obj.Id;
            var wnd = $("#" + name).data("kendoWindow");
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
            globalWindowSender = e;
            kendo.ui.progress(e.sender.element, true);
        }
        function OnWindowOpen(e) {
        }
        function OnWindowClose(e) {

        }
        function OnWindowRefresh(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnWindowDeactivate(e) {
            var obj = globalPopups.pop();
            if (obj === null) {
                return null;
            }
            var name = "popup_" + obj.Id;
            var wnd = $("#" + name).data("kendoWindow");
            wnd.content("");
            wnd.destroy();

            if (globalCallBack !== null && globalCallBack !== undefined) {
                win = GetWindow();
                if (win === null || win === undefined) {
                    win = window;
                }
                win[globalCallBack.MethodName](globalCallBack.Prms);
                globalCallBack = null;
            }

        }

        var showError = function (error) {
            $("#validation-summary").html(error);
            $("#validation-summary").css("display", "block")
        }
        var onAjaxBegin = function () {
            ShowLoader($('#render-content'));
        };

        var onAjaxComplete = function () {
            HideLoader($('#render-content'));
        };
        var onAjaxFailed = function (context, res) {
        };
        var iframeOpenUrl = "";
        var frm;
        function OnLogout() {
            document.getElementById("logout").submit();
        }
        function OpenChangePassowrd() {
            OpenIframeModal('/account/changepassword', 'Change Password', 350, 700);
        }
        function OpenBreResultViewDetails() {
            OpenIframeModal('/bre/BreResultViewDetails', 'View Details', 450, 700);
        }
    function OpenMyProfile() {
            var myId = '@_userContext.UserId';
            var url = '/user/myprofile?id=' + myId;
            OpenIframeModal(url, 'My Profile', 450, 800);
        }
        function OpenIframeModal(url, title, width, height) {

            ShowLoader($('.modal-body'));
            var iframe = document.createElement('iframe');
            iframe.setAttribute('url', '');
            iframe.setAttribute('frameborder', '0');
            iframe.setAttribute('scrolling', 'no');
            //iframe.setAttribute('width', width);
            //iframe.setAttribute('height', height);
            iframe.onload = function () {
                var h = iframe.contentWindow.document.body.scrollHeight;
                var w = iframe.contentWindow.document.body.scrollWidth;
                iframe.style.height = h + 'px';
                iframe.style.width = w + 'px';
                var mw = eval(w + 30);
                if (width > mw) {
                    mw = width;
                }
                if (height > h) {
                    h = height;
                }
                $('.modal-dialog').css({
                    width: mw + 'px', //probably not needed
                    height: h + 'px', //probably not needed
                    'max-height': '90%'
                });
                HideLoader($('.modal-body'));
            };
            iframe.src = url;
            document.getElementById('iframeDiv').innerHTML = '';
            document.getElementById('iframeDiv').appendChild(iframe);
            //$('#modalIframe').attr('src', '');
            $('#iframeModal').modal({ show: true });
            $('#iframeModal').on('shown.bs.modal', function () {

                $('#modalIframe').attr('src', url);

            })
        };

        function CloseIframeModal(reloadParent) {
            $('#iframeModal').modal('hide');
            if (reloadParent) {
                //window.location.href = window.location.href;
            }
        }
        function ShowLoader(target) {
            target.loadingOverlay();
        }
        function HideLoader(target) {
            target.loadingOverlay('remove');
        }

        function ToggleLoader(target) {
            if (target.hasClass('loading')) {
                target.loadingOverlay('remove');
                //target.loadingOverlay('remove', {
                //    iconClass: 'fa fa-spinner fa-spin'
                //});
            } else {
                target.loadingOverlay();
                //target.loadingOverlay({
                //    iconClass: 'fa fa-spinner fa-spin'
                //});

            };
        }

        function OnPhotoError(obj) {
            // alert("test");
            obj.onerror = null;

            obj.src = '/images/profile.jpg';


        }



    </script>
</head>


<body>
    <!-- Page-->
    <div class="page">
        <!-- Page Head-->
        <header class="hide-in-popup page-head slider-menu-position">
            <div class="rd-navbar-wrap">
                <nav class="cp-navbar rd-navbar container rd-navbar-floated rd-navbar-dark rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
                    <div class="rd-navbar-inner" style="padding-bottom:7px;padding-right:20px;padding-left:20px;background-color:#fff;">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Top Panel Toggle-->
                            @*<button class="rd-navbar-right-buttons-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-right-buttons"><span></span></button>*@
                            <!--Navbar Brand-->
                            <div class="rd-navbar-brand">
                                @if (ViewBag.Portal != null)
                                {
                                    <a href="@ViewBag.Portal.LandingPage"><img alt="" title="" src="@Url.Action("getimagemongo","document",new { @area="Cms",id=ViewBag.Portal.LogoId})" onerror='LogoError(this);' /></a>
                                }

                            </div>
                        </div>
                        <div class="rd-navbar-menu-wrap">
                            <div class="rd-navbar-nav-wrap">
                                <div class="rd-navbar-mobile-scroll">
                                    <!--Navbar Brand Mobile-->
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">
                                        @{

                                            var menus = (List<Synergy.App.ViewModel.MenuViewModel>)ViewBag.Menus;
                                            if (menus != null)
                                            {
                                                foreach (var menu in menus.Where(x => x.ParentId == x.PortalId))
                                                {

                                                    @if (menu.HasChild)
                                                    {
                                                        @foreach (var sub1 in menus.Where(x => x.ParentId == menu.Id))
                                                        {
                                                            if (sub1.ShowMenuWhenAuthorized)
                                                            {
                                                                if (!string.IsNullOrEmpty(_userContext.UserId) && _userContext.IsGuestUser == false)
                                                                {
                                                                    <li>
                                                                        <a href="@($"javascript:LoadPageById('{sub1.Id}','{sub1.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{sub1.Layout}')")"><span>@sub1.DisplayName</span></a>
                                                                    </li>
                                                                }
                                                            }
                                                            else if (sub1.ShowMenuWhenNotAuthorized)
                                                            {
                                                                if (string.IsNullOrEmpty(_userContext.UserId) || _userContext.IsGuestUser == true)
                                                                {
                                                                    <li>
                                                                        <a href="@($"javascript:LoadPageById('{sub1.Id}','{sub1.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{sub1.Layout}')")"><span>@sub1.DisplayName</span></a>
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li>
                                                                    <a href="@($"javascript:LoadPageById('{sub1.Id}','{sub1.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{sub1.Layout}')")"><span>@sub1.DisplayName</span></a>
                                                                </li>
                                                            }

                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (menu.ShowMenuWhenAuthorized)
                                                        {
                                                            if (!string.IsNullOrEmpty(_userContext.UserId) && _userContext.IsGuestUser == false)
                                                            {
                                                                <li>
                                                                    <a href="@($"javascript:LoadPageById('{menu.Id}','{menu.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{menu.Layout}')")"><span>@menu.DisplayName</span></a>
                                                                </li>
                                                            }
                                                        }
                                                        else if (menu.ShowMenuWhenNotAuthorized)
                                                        {
                                                            if (string.IsNullOrEmpty(_userContext.UserId) || _userContext.IsGuestUser == true)
                                                            {
                                                                <li>
                                                                    <a href="@($"javascript:LoadPageById('{menu.Id}','{menu.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{menu.Layout}')")"><span>@menu.DisplayName</span></a>
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href="@($"javascript:LoadPageById('{menu.Id}','{menu.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{menu.Layout}')")"><span>@menu.DisplayName</span></a>
                                                            </li>
                                                        }


                                                    }
                                                }
                                            }

                                        }


                                        @if (!string.IsNullOrEmpty(_userContext.UserId) && _userContext.IsGuestUser == false)
                                        {

                                            <li class="" style="cursor:pointer;" onclick="openWinNavigateUrl(); return false;">
                                                <i class="fa fa-bell" style="color:black;font-size:20px;" id="ImageButton1"></i>
                                                <span id="notcount" runat="server" class="badge badge-light" style="padding-top:5px; background-color:orangered;color:#fff;margin-top:-10px;margin-left:-8px;position:absolute;">0</span>
                                            </li>

                                            <li>
                                                <div class="row no-gutters">
                                                    <div class="col-10" style="font-size:16px;color:#a9a9a9;font-weight:700;">@_userContext.Name</div>
                                                    <div class="col-2" style="margin-top:-10px;"> <img class="user-img rounded-circle float-right user-context-menu" id="profileImg" src="@Url.Action("getimagemongo","document",new { @area="Cms",id=_userContext.PhotoId})" onerror='OnPhotoError(this);' /></div>
                                                </div>
                                                @*<img class="user-img rounded-circle float-right user-context-menu" src="@Url.Action("getimage","document",new { @area="Cms",id=_userContext.PhotoId})" onerror='OnPhotoError(this);' />*@
                                            </li>

                                        }


                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>
            @RenderSection("bg", required: false)
        </header>
        <!-- Page Contents-->
        <main class="page-content" id="render-content" style="min-height:400px">
            <span id="popupNotification"></span>
            @RenderBody()
        </main>
        <footer class="hide-in-popup section-relative  page-footer bg-gray-darkest">
            <div class="row" style="padding:30px;padding-left:80px;">
                <div class="col-md-3">
                    <h6 class="text-uppercase text-spacing-60 font-default text-golden">The Galfar Legacy</h6>
                    <div class="reveal-block">
                        <div class="reveal-inline-block">

                            <ul class="list list-unstyled list-inline-primary">
                                <li class="" style="color:#fff !important;justify-content:center;">
                                    Over 45 years of solid experience in Oil & Gas, Infrastructure, Buildings, and
                                    E & I sectors, with EPC capability for delivering multi-disciplinary projects.
                                </li>
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/about-us/history">READ MORE >></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6 class="text-uppercase text-spacing-60 font-default text-golden">Galfar In The News!</h6>
                    <div class="reveal-block">
                        <div class="reveal-inline-block">
                            <ul class="list list-unstyled list-inline-primary">
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/media-news/71-galfar-al-misnad-now-aiming-for-gold">Galfar Al Misnad - Now Aiming For...</a></li>
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/media-news/58-al-bayt-stadium-stunner-of-a-stadium">Al Bayt Stadium - Stunner of A...</a></li>
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/media-news/56-ashghal-signs-two-infrastructure-projects-with-galfar-al-misnad">Ashghal signs two Infrastructure...</a></li>
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/media-news/54-galfar-toastmasters-club-elects-executive-committee-for-2020-21">Galfar Toastmasters Club Elects...</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase text-spacing-60 font-default text-golden">Useful Links</h6>
                    <div class="reveal-block">
                        <div class="reveal-inline-block">
                            <ul class="list list-unstyled list-inline-primary">
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/media/attachments/2020/02/17/galfar-qhse-policy--combined-_final.pdf">QHSE Policy</a></li>
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/about-us/certificates">Certificates</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <h6 class="text-uppercase text-spacing-60 font-default text-golden">Contact Us</h6>
                    <div class="reveal-block">
                        <div class="reveal-inline-block">
                            <ul class="list list-unstyled list-inline-primary">
                                <li class="text-primary"><span class="fa fa-home mr-1"></span><span>Galfar Al Misnad Engineering & Contracting W.L.L P.O. Box 22170, Doha, Qatar</span></li>
                                <li class="text-primary">
                                    <a target="_parent" href="tel:+974-44332500">
                                        <span class="fa fa-phone mr-1"></span>
                                        <span>+974-44332500</span>
                                    </a>
                                </li>
                                <li class="text-primary"><i class="fa fa-fax mr-1"></i><span>+974-44332501</span></li>
                                <li class="text-primary">
                                    <a target="_parent" href="mailto:info@galfarqatar.com.qa">
                                        <span class="fa fa-envelope mr-1"></span>
                                        <span>info@galfarqatar.com.qa</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center" style="padding-top:25px;">
                    <span style="color:gray">© @DateTime.Today.Year &nbsp;Galfar Al Misnad All Rights Reserved. <a href="https://www.galfarqatar.com.qa/terms-conditions">Terms & Conditions</a>&nbsp;Developed By Extranet</span>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Themes/CareerPortal/js/core.min.js"></script>
    <!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-P9FT69');</script><!-- End Google Tag Manager -->
    <a href="#" id="ui-to-top" class="ui-to-top icon icon-xs icon-circle icon-darker-filled"><i class="fa fa-angle-up"></i></a>
    <script type="text/javascript" id="">
        (function () {
            var b = document.location.search.split("aff\x3d")[1]; if (b) { var d = document.querySelectorAll("a"), c; for (c = 0; c < d.length; c++) { var a = d[c]; 0 == a.href.indexOf("https://www.templatemonster.com") && (0 < a.href.indexOf("?") ? a.href = a.href + "\x26aff\x3d" + b : a.href = a.href + "?aff\x3d" + b) } } b = document.location.search.split("i\x3d")[1]; var e = document.location.search.split("pr_code\x3d")[1]; if (b && e) for (b = b.split("\x26")[0], d = document.querySelectorAll("a"), c = 0; c < d.length; c++)a = d[c], 0 == a.href.indexOf("https://www.templatemonster.com") &&
                (a.href = "https://www.templatehelp.com/preset/cart.php?act\x3dadd\x26templ\x3d" + b + "\x26pr_code\x3d" + e)
        })();</script>



    <form method="post" action="~/Identity/Account/LogOut" id="logout" style="display:none;">
        <button type="submit" class="nav-link btn btn-link">Log out</button>
    </form>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post" asp-route-returnUrl="@returnUrl">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color:#666;" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Logout</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- Iframe Modal-->

    <div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="iframeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="iframeModalLabel">Title</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="loading-overlay">
                        <p class="loading-spinner">
                            <span class="loading-icon fa fa-spinner fa-spin fa-2x"></span>
                            <span class="loading-text"></span>
                        </p>
                    </div>
                    <div id="iframeDiv"></div>
                </div>

            </div>
        </div>

    </div>

    <!-- Iframe Window-->
    @*@(Html.Kendo().Window().Name("kiframepopupwindow2")
        .Title("Window_TitlePopupWindow")
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")

        .Width(200)
.Height(350)
.Actions(actions => actions.Maximize().Close())
.Events(e => e.Activate("OnIframeActivate2").Open("OnIframeOpen2").Close("OnIframeClose2").Refresh("OnIframeRefresh2").Deactivate("OnIframeDeactivate2"))
    )*@

    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.aspnetmvc.min.js"></script>


    @*@(Html.Kendo().Window().Name("kiframepopupwindow")
        .Title("Window_TitlePopupWindow")
        .Visible(false)

        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")
.Actions(actions => actions.Maximize().Close())

.Width(200)
.Height(350)
.Events(e => e.Activate("OnIframeActivate").Open("OnIframeOpen").Close("OnIframeClose").Refresh("OnIframeRefresh").Deactivate("OnIframeDeactivate"))
    )
    @(Html.Kendo().Notification()
        .Name("popupNotification").Position(p=>p.Top(100).Right(30).Pinned(true)).Width(200).Height(150)
)*@
    <script>
        function ShowNotification(msg, type) {
            //alert();
            var popupNotification = $("#popupNotification").kendoNotification({
                position: {
                    pinned: true,
                    top: 100,
                    right: 30
                },
                width: 200,
                height:50
            }).data("kendoNotification");
            popupNotification.show(msg, type);
        }
        //function ShowNotification(msg, type) {
        //    var popupNotification = $("#popupNotification").data("kendoNotification");
        //    popupNotification.show(msg, type);
        //}
        $(document).ready(function () {
            var url = '@Url.Action("Page", "Cms")?';
            var pageUrl = '@Html.Raw(ViewBag.PageUrl)';
            var customUrl = '@Html.Raw(ViewBag.CustomUrl)';
            if (pageUrl !== '') {
                url += '&' + pageUrl;
            }
            if (customUrl !== '') {
                url += '&customUrl=' + encodeURIComponent( customUrl);
            }
            LoadCmsPartialView(url, '@ViewBag.PageType');
            RefreshNotification();
        });
        function ShowLoader(target) {
            kendo.ui.progress(target, true);
        }
        function HideLoader(target) {
            kendo.ui.progress(target, false);
        }
        function LoadPageFormIo(data, formio) {
            var ui = JSON.parse(data.uiJson);
            Formio.createForm(formio, ui).then(function (form) {
                form.submission = {
                    data: data.dataJson
                };
            });
        }
        function LoadFormIo(data, formio) {
            var ui = JSON.parse(data.uiJson);
            var dataJ = JSON.parse(data.dataJson);
            Formio.createForm(formio, ui).then(function (form) {
                form.on('formLoad', function (event) {                    //if (event.changed && event.changed.component.key === 'customerNumber' && event.changed.value) {                        //Formio.fetch('https://examples.form.io/customers/submission?data.number=' + event.changed.value, {                        //    headers: {                        //        'content-type': 'application/json'                        //    },                        //    mode: 'cors',                        //})                        //    .then(function (response) {                        //        response.json().then(function (result) {                        //            if (Array.isArray(result) && result.length > 0) {                        //                var submission = { data: event.data };                        //                submission.data.name = result[0].data.name;                        //                submission.data.phoneNumber = result[0].data.phonenumber;                        //                form.submission = submission;                        //            }                        //        });                        //    });                    //}                    //ajax call- controller call -https://localhost:44398/api/cms/Data/ColumnIdNameList?tableName=cms.Job                    //in response                    //set - form.submission = { data: dataJ };                    //form.submission.data.key = "test"                    $.ajax({
                        url: "https://localhost:44398/api/cms/Data/ColumnIdNameList?tableName=cms.Job",
                        dataType: "json",
                        success: function (result) {
                            form.submission = { data: dataJ };
                            form.submission.data.key = "test";
                            console.log(form);
                            alert("formio");
                        }
                    });                }

                //frm = form;
                //form.submission = { data: dataJ };
            });
        }
        function LoadFormFormIo(data, formio) {
            return null;
            var ui = JSON.parse(data.uiJson);
            var dataJ = JSON.parse(data.dataJson);
            Formio.createForm(formio, ui).then(function (form) {
                frm = form;
                form.submission = {
                    data: dataJ
                };
            });

        }
        function LoadCustomFormIo(data, container) {
            var url = "";
            if (data.dataJson.AreaName!==null) {
                url += "/" + data.dataJson.AreaName;
            }
            if (data.dataJson.ControllerName !== null) {
                url += "/" + data.dataJson.ControllerName;
            }
            if (data.dataJson.ActionName !== null) {
                url += "/" + data.dataJson.ActionName;
            }
            if (data.customUrl !== null) {
                console.log(data.customUrl);
                url += "?" + data.customUrl + "&pageId=" + data.dataJson.PageId;
            }
            else {
                url += "?pageId=" + data.dataJson.PageId;
                if ('@ViewBag.Prms' != '') {
                    url += "&@ViewBag.Prms";
                }
            }
            console.log(url);
            //('#cms-content-iframe').attr('src', '/Recruitment/CandidateProfile/index');
            container.load(url, function () {
               // $.getScript("~/js/Rec/CandidateProfile/index.js");
            });


        }
        function OpenLogout() {
            $('#logoutModal').show();
        }
        function LoadCmsPartialView(url, pageType) {

            var container = $('#cms-content');
            container.html("");
            ShowLoader(container);
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {

                    if (data.login !== null && data.login !== undefined && data.login !== '') {
                        window.location.href = data.login;
                    }
                    else if (data.viewContent !== null && data.viewContent !== undefined && data.viewContent !== '') {
                        container.html(data.viewContent);
                    }
                    else if (pageType === 'Custom') {
                        LoadCustomFormIo(data, container);
                    }
                    else {
                        container.html(data.view);
                        var formio = document.getElementById('formio-container');
                        if (formio !== null) {
                            if (pageType === 'Page') {
                                LoadPageFormIo(data, formio);
                            }
                            else if (pageType === 'Form') {
                                LoadFormFormIo(data, formio);
                            }
                            else if (pageType === 'Note') {
                                LoadFormFormIo(data, formio);
                            }
                            else if (pageType === 'Task') {
                                LoadFormFormIo(data, formio);
                            }
                            else if (pageType === 'Service') {
                                LoadFormFormIo(data, formio);
                            }
                        }
                    }

                    HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
        }

        function LoadPageById(id, pageType, source, dataAction, recordId, layout, portalId, pageName, customUrl) {
            
            var url = '@Url.Action("Page", "Cms")?pageId=' + id + '&pageType=' + pageType + '&source=' + source + '&dataAction=' + dataAction + '&recordId=' + recordId + '&layout=' + layout + '&portalId=' + portalId + '&pageName=' + pageName + '&customUrl=' + encodeURIComponent(customUrl);
             var lo = '';
            var refreshurl = '';
            @if (ViewBag.Page!=null) {
                @: lo = '@ViewBag.Page.Layout';
            }
            @if (ViewBag.Portal!=null)
            {
                @: refreshurl = '/Portal/@ViewBag.Portal.Name?pageUrl=' + encodeURIComponent('pageId=' + id + '&pageType=' + pageType + '&source=' + source + '&dataAction=' + dataAction + '&recordId=' + recordId + '&layout=' + layout + '&portalId=' + portalId + '&pageName=' + pageName + '&customUrl=' + encodeURIComponent(customUrl));
            }
            history.pushState({}, null, refreshurl);
            if (lo !== layout) {
                window.location.href = window.location.href;
            }
            else {
                LoadCmsPartialView(url, pageType);
            }

            return false;
        }

        function LoadPartailView(url, container, type) {
            if (type === null || type === undefined || type==='') {
                type = 'GET';
            }
            ShowLoader(container);
            $.ajax({
                url: url,
                type: type,
                cache: false,
                success: function (data) {
                    container.html("");
                    container.html(data);
                    HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
    }
    function LoadPartailView1(url, loadcontainer, type) {
        console.log(url);
        var container = $('#' + loadcontainer);
        if (type === null || type === undefined || type === '') {
            type = 'GET';
        }
        ShowLoader(container);
        $.ajax({
            url: url,
            type: type,
            cache: false,
            success: function (data) {
                container.html("");
                container.html(data);
                // HideLoader(container);
            },
            error: function (errData) {
                container.html(errData);
                HideLoader(container);
            }
        });
    }
    function OpenChangePassowrd() {
            
          var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("changepassword", "Account", new { @area = "" })';
        win.OpenWindow({ Title: 'Change Password', Width: 450, Height: 400 });
        return false;
    }
    function OpenMyProfile() {
            var myId = '@_userContext.UserId';
             
         var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("MyProfile", "User", new { @area = "" })?id=' + myId;
        win.OpenWindow({ Title: 'My Profile', Width: 450, Height: 500 });
        return false;
        }


           $(function () {
        $.contextMenu({
            selector: '.user-context-menu',
            trigger: 'left',
            build: function ($trigger, e) {
               return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'myProfile':
                                        OpenMyProfile();
                                        break;
                                    case 'changePassword':
                                        OpenChangePassowrd();
                                        break;
                                    case 'logOut':
                                        $('#logoutModal').modal('show');
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "myProfile": { name: "My Profile", icon: "fas fa-user" },
                                "changePassword": { name: "Change Password", icon: "fas fa-key"},
                                "logOut": { name: "Logout", icon: "fas fa-sign-out-alt" },


                            }
                        };


            }
        });
           });


        function OpenIframePopup(w, h, t) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.setOptions({
                width: GetW(w),
                height: GetH(h),
                title: t
            });

            wnd.center().open();
            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                'border-bottom-style': 'none',
                'color': 'rgb(193, 151, 42)'
            });
        }
        function CloseIframePopup() {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            return false;
        }
        function GetW(w) {
            return $(window).width() > w ? w : $(window).width() - 80;
        }
        function GetH(h) {
            return $(window).height() > h ? h : $(window).height() - 80;
        }
        function OnIframeActivate(e) {
            e.preventDefault();
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            ActiveWindow = this;
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
        }
        function OnIframeOpen(e) {
            kendo.ui.progress(e.sender.element, true);
        }

        function OnIframeClose(e) {
            try {
                var pop1 = window.parent.GetIframePopup();
                pop1.PopupClose();
                var url = window.location.href;
                if (url.includes('&documentId')) {
                    window.location.href = url.split('&documentId')[0];
                }
            } catch (x) {

            }
        }
        function OnIframeRefresh(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnIframeDeactivate(e) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.content("");
        }

        function OnIframeClose2(e) {
            try {
                var pop2 = window.parent.GetIframePopup();
                pop2.PopupClose2();
            } catch (x) {

            }
        }
        function OpenIframePopup2(w, h, t) {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            wnd.setOptions({
                width: GetW(w),
                height: GetH(h),
                title: t
            });
            wnd.center().open();
            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                'border-bottom-style': 'none',
                'color': 'rgb(193, 151, 42)'
            });

        }
        function CloseIframePopup2() {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            return false;
        }
        function OnIframeActivate2(e) {
            e.preventDefault();
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            ActiveWindow = this;
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
        }
        function OnIframeOpen2(e) {
            kendo.ui.progress(e.sender.element, true);
        }
        function OnIframeRefresh2(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnIframeDeactivate2(e) {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            wnd.content("");
        }
        function GetIframePopup2() {
            var windowElement = $("#kiframepopupwindow2");
            var iframeDomElement = windowElement.children("iframe")[0];
            var iframeWindowObject = iframeDomElement.contentWindow;
            return iframeWindowObject;
        }
        function PhotoError(obj) {
            obj.onerror = null;
            obj.src = '/images/profile.jpg';

        };
        function LogoError(obj) {
            //console.log($(obj).parent());
            // obj.src = '/images/logo.png';
            //$(obj).parent().css('padding-top', '15px');
            //$(obj).parent().css('padding-left', '0px');
            obj.onerror = null;
            $(obj).hide();


        };

         function openWinNavigateUrl() {
            
              var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("TopNotificationsViewFromBell", "Notification", new { @area = "Recruitment" })';
             win.OpenWindow({ Title: 'Notifications', Width: 500, Height: 950 });
        return false;


    }

    function RefreshNotification() {
        var interval = 30 * 1000;
        var refresh = function () {
            $("#ImageButton1").removeClass('wiggle1');
            $.ajax({
                url: "/Recruitment/notification/UnReadNotificationCount",
                contentType: "application/json",
                cache: false,
                success: function (result) {
                    if (result.UnReadCount != $('#notcount').html()) {
                        $('#ImageButton1').addClass('wiggle1');
                    }
                    if (result.UnReadCount >= 0) {
                        $('#notcount').html(result.UnReadCount);
                    }
                    //ShowSessionPopup(result);
                    //setTimeout(function () {
                    //    refresh();
                    //}, interval);
                },
                error: function (xhr, textStatus, errorThrown) {
                    // alert(errorThrown);
                }
            });
        };
        refresh();

        };
          function ConvertDate() {

         $('.form-parse-date :input[data-role="datetimepicker"]').each(function () {
            var id = this.id;
            var value = $("#" + id).data("kendoDateTimePicker").value();
            if (value!=null) {
                var formattedDate = kendo.toString(value, "@Synergy.App.Common.ApplicationConstant.Database.JQueryDateFormat");
                $("#" + id).val(formattedDate);
            }
        });
         $('.form-parse-date :input[data-role="datepicker"]').each(function () {
            var id = this.id;
            var value = $("#" + id).data("kendoDatePicker").value();
            if (value!=null) {
                var formattedDate = kendo.toString(value, "@Synergy.App.Common.ApplicationConstant.Database.JQueryDateFormat");
                $("#" + id).val(formattedDate);
            }
        });
    }
    function ResetDate()
    {
        $('.form-parse-date :input[data-role="datetimepicker"]').each(function () {
            var id = this.id;
            var value = $("#" + id).data("kendoDateTimePicker").value();

            if (value!=null) {
                var formattedDate = kendo.toString(value, "@Synergy.App.Common.ApplicationConstant.DateAndTime.DefaultJqueryDateTimeFormat");
                $("#" + id).data("kendoDateTimePicker").value(formattedDate)
                $("#" + id).val(formattedDate);
            }
        });
        $('.form-parse-date :input[data-role="datepicker"]').each(function () {
            var id = this.id;
                var value = $("#" + id).data("kendoDatePicker").value();
            if (value!=null) {
                var formattedDate = kendo.toString(value, "@Synergy.App.Common.ApplicationConstant.DateAndTime.DefaultJqueryDateTimeFormat");
                $("#" + id).data("kendoDatePicker").value(formattedDate);
                $("#" + id).val(formattedDate);
            }
        });
    }
    </script>

    <script type="text/x-kendo-tmpl" id="drp-user-template">
          <div class="row no-gutter pb-1 pt-1">
              <div class="col-2">
              #if(data.PhotoId!=null)
                  {#<img class="avatar-drp-profile" src="/user/profilephoto?id=#:data.PhotoId#"  /> #}
              else
                  {#<img class="avatar-drp-profile" style="background-color:gray;" src="~/images/profile.jpg" />#}#
             </div>
             <div class="col-10">
                <div class="col-12">
                  <span style="padding:5px;">#:Name#</span></div>
                <div class="col-12">
                  #if (data.Email!=null)
                      {#<span style="padding:5px;font-size:12px;">#:Email#</span>  # } #
                </div>
             </div>
        </div>
    </script>
    <script type="text/x-kendo-tmpl" id="drp-user-value-template">
        <img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#"  />
        #if(data.PhotoId!=null){#
                <img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#" /> #}
                else{#
                <img class="avatar-myProfile" style="background-color:gray;" src="~/images/profile.jpg" />#}#
                #if (data.Name!=null) {#
                <span style="margin-left:15px;">#:Name#</span> # } #
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>


    <script src="~/lib/loading-overlay/loading-overlay.min.js"></script>
    <script src="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.js"></script>
    <script src="~/lib/jquery-context-menu/dist/jquery.ui.position.min.js"></script>


    <script src="~/js/jquery-splitter.js"></script>

    <script src="~/js/jquery-dateformat.min.js"></script>

    @RenderSection("scripts", required: false)
    <ejs-scripts></ejs-scripts>


</body>


</html>