@{
    ViewData["Title"] = "Settings";
    Layout = null;
}
@using CMS.UI.ViewModel;
@using CMS.Common;


@model PageViewModel

<style>
    .k-switch-label-off, .k-switch-label-on {
        display: block;
    }

    /* .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
    }

    .nav > li {
        position: relative;
        display: block;
    }s
        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }
    .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }
    a {
        color: #337ab7;
        text-decoration: none;
    }
    a {
        background-color: transparent;
    }*/
    label {
        display: inline-block;
        margin-bottom: -1.5rem;
        color: grey;
        float: right;
    }

    .float-container {
        border: solid 1px #ccc;
        position: relative;
    }

        .float-container input {
            border: none;
            outline: 0;
        }

    label {
        position: absolute;
    }

    .upload {
    }

    .upload-div .k-button {
        border: none !important;
        background-color: transparent !important;
        width: 100% !important;
        height: 100% !important;
        min-height: 80px !important;
        background-image: url('../../../../images/logo.png') !important;
        background-repeat: no-repeat !important;
        background-position: left !important;
        position: relative !important;
        padding: 0px !important;
    }

        .upload-div .k-button span, .upload-div .k-upload-files, .upload-div .k-upload-status {
            display: none !important;
        }

    .upload-div .k-dropzone {
        border: none !important;
        background-color: transparent !important;
        width: 100% !important;
        height: 100% !important;
    }
    /* .upload-div {
            border: none !important;
            background-color: transparent !important;
            width: 100% !important;
            height: 100% !important;
            background-image: url('../../../../images/logo.png') !important;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
        }*/

    .card-header {
        padding: 2px !important;
    }

    .k-listview {
        border: none !important;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #fff; /* Black*/
        border-right: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #component-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #editor-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }
    /*Style for switch checkbox*/
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    /*Editor Type Style  */
    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 85%;
    }

    .product {
        /*float: left;*/
        /*position: relative;*/
        /*width: 111px;*/
        height: 170px;
        margin: 0 0px;
        /*padding: 0;*/
    }

        .product img {
            width: 110px;
            height: 110px;
        }

        .product .div-icon {
            width: 110px;
            height: 110px;
            background-color: #f8f8f8;
        }

            .product .div-icon svg {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        .product h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }

        .product p {
            visibility: hidden;
        }

        .product:hover p {
            cursor: pointer;
            visibility: visible;
            position: absolute;
            width: 110px;
            height: 110px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 110px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }
    /*Editor Type Style Close */
</style>
<script>
    var groupId = 1;
    var cellId = 1;
    var componentId = 1;
    function OnPageTypechange(args) {
        var pagetype = $("#PageType").data("kendoDropDownList").value();
        if (pagetype == "Form") { $("#chkIndexPage").show(); }
        else {
            $("#chkIndexPage").hide();
            $("#EnableIndexPage").val("false");
        }
    }
    function ToggleNewGroup() {
        $('#new-row-container').toggle('400');
    }
    function DiscardDeleteGroup(e) {
        $(e).parent().hide('slide', { direction: 'right' }, 500);
    }
    function ConfirmDeleteGroup(e) {
        console.log(e);
        var contentId = e.parentNode.parentNode.parentNode.parentNode.id;
        var type = e.parentNode.parentNode.parentNode.parentNode.getAttribute('data-page-content-type');
        //$(e).parent().hide('slide', { direction: 'right' }, 500);
        $.ajax({
            type: "GET",
            url: "/Cms/Content/DeleteContent?id=" + contentId + "&type=" + type,
            dataType: "json",
            success: function (response) {
                $("#" + contentId).remove();
            },
        });
    }
    function DeleteGroup(e) {
        var n = $(e).next();
        if (n.is(':hidden')) {
            n.show('slide', { direction: 'right' }, 500);
        } else {
            n.hide('slide', { direction: 'right' }, 500);
        }
    }
    function OpenSettings(e) {
        //
        //var evt = e;
        //var evt = e.target.id;
        //console.log(evt);
        var sid = e.parentNode.parentNode.id;
        var stype = document.getElementById(sid).getAttribute('data-page-content-type');
        var pid = document.getElementById(sid).getAttribute('data-page-id');
        //alert('open settings');
        //alert("source Id : " + sid + ", Type : " + stype + ", page Id : " + pid);
        //openNavStyle(sid, stype);
        editNavStyle(sid, stype,pid);
    }
    function OpenPageSettings(e) {
        //var evt = e;
        //console.log(evt);
        var sid = e.parentNode.parentNode.id;
        var stype = document.getElementById(sid).getAttribute('data-page-content-type');
        var pid = document.getElementById(sid).getAttribute('id');
        //alert("source Id : " + sid + ", Type : " + stype + ", page Id : " + pid);
        //OpenManageSettings(sid, stype);
        editNavStyle(sid, stype,pid);
    }
    function SetPageSettings(id) {
        //alert(id);
        var pagename = $('#PageName').val();
        var pagetitle = $('#PageTitle').val();
        var pagemenuname = $('#PageMenuName').val();
        var pagehideinmenu = $('#PageHideInMenu').val();
        var pageisrootpage = $('#PageIsRootPage').val();

        document.getElementById(id).setAttribute("data-name", pagename);
        document.getElementById(id).setAttribute("data-title", pagetitle);
        document.getElementById(id).setAttribute("data-menu-name", pagemenuname);
        document.getElementById(id).setAttribute("data-hide-menu", pagehideinmenu);
        document.getElementById(id).setAttribute("data-is-root", pageisrootpage);

        //alert(pagename);
        //alert(pagetitle);
        //alert(pagemenuname);
        //alert(pagehideinmenu);
        //alert(pageisrootpage);
    }
    function openNav() {
        document.getElementById("side-components").style.width = "350px";
        //  $("#overlay").addClass("overlay");
        // $('body').addClass('fadeMe');
    }
    function openNavEditor() {
        document.getElementById("mySidenavEditor").style.width = "600px";
        $("#overlay").addClass("overlay");
        // $('body').addClass('fadeMe');
    }
    function openEditor() {
        alert("Hello Editor... ");
    }
    function OnSelectEditor(id) {
        alert("Under Development... ");
    }
    function OnChangeCustomValidation(e) {

        var validation = this.dataItem(e.item);
        if (validation.Id == "Email") {
            $('#txtRegularExpresssion').show();
            $('#txtCustomValidation').show();
            $('#txtRegularExpresssion').val('[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+');
            $('#txtCustomValidation').val('');

        } else if (validation.Id == "Number") {
            $('#txtRegularExpresssion').show();
            $('#txtCustomValidation').show();
            $('#txtRegularExpresssion').val('^[0-9]*$');
            $('#txtCustomValidation').val('');

        } else if (validation.Id == "Url") {
            $('#txtRegularExpresssion').show();
            $('#txtCustomValidation').show();
            $('#txtRegularExpresssion').val('https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}');
            $('#txtCustomValidation').val('');

        } else if (validation.Id == "Custom") {
            $('#txtRegularExpresssion').show();
            $('#txtCustomValidation').show();
            $('#txtRegularExpresssion').val('');
            $('#txtCustomValidation').val('');
        } else {
            $('#txtRegularExpresssion').val('');
            $('#txtCustomValidation').val('');
            $('#txtRegularExpresssion').hide();
            $('#txtCustomValidation').hide();

        }
    }
    /* Set the width of the side navigation to 0 */
    function closeNav(sideNav) {
        document.getElementById(sideNav).style.width = "0";
        // $("#overlay").removeClass("overlay");
    }

    function closeNavEditor() {
        document.getElementById("mySidenavEditor").style.width = "0";
        $("#overlay").removeClass("overlay");
        //$('body').removeClass('fadeMe');
    }
    var builder;
    $(document).ready(function () {
         @*$.ajax({
            type: "GET",
             url: "/Cms/Content/GetPageJsonForm?pageId=@Model.Id",
            success: function (response) {

                if (response != "" && response != null) {
                    var obj = JSON.parse(response);
                    builder = new Formio.FormBuilder(document.getElementById("builder"), obj);
                }
                else {
                    builder = new Formio.FormBuilder(document.getElementById("builder"), {
                        "display": "form",
                        "components": []
                    });
                }

            },
            error: function (response) {
                alert("error");
            },
        });*@
        InitializeContePlaceHolder();

        $('#txtMandatoryCustomValidation').hide();
        $('#txtRegularExpresssion').hide();
        $('#txtCustomValidation').hide();

        $('#chkFieldMandatory').on('change', function () {
            // From the other examples
            if (this.checked) {
                //alert("checked");
                $('#txtMandatoryCustomValidation').show();
            } else {
                //alert("not checked");
                $('#txtMandatoryCustomValidation').hide();
            }
        });
    });
    function AddNewGroup(type) {
        var gseq = groupId++;
        var gid = GenerateGuid();
        var groupRef = document.getElementById(type).firstElementChild;
        var grp = groupRef.cloneNode(true);
        var gn = $(grp).find('#group-name');
        gn.html(type + ' ' + (gseq));
        gn.attr("id", 'grp-name-' + gid);
        grp.setAttribute("id", gid);
        var seq = groupRef.getAttribute('data-sequence');
        seq = eval(seq) + 1;
        groupRef.setAttribute("data-sequence", seq);
        grp.setAttribute("data-sequence", seq);
        document.getElementById("groups").appendChild(grp);
        $('.column', $('#' + gid)).each(function () {
            $(this).attr("id", GenerateGuid());
            $(this).attr("data-parent-id", gid);
        });
    }
    function AddComponent(type, target) {
        switch (type) {
            case "RichText":
                AddRichText(type, target);
                break;
            default:
        }
    }
    function AddRichText(type, target) {
        var t = $(target);
        var cellId = GenerateGuid();
        var cellRef = document.getElementById('dummy-' + type).firstElementChild;
        var cell = cellRef.cloneNode(true);
        var cn = $(cell).find('#comp-name');
        cn.html('Rich Text Box ' + (componentId++));
        cn.attr("id", 'comp-name-' + (cellId));

        var seq = cellRef.getAttribute('data-sequence');
        seq = eval(seq) + 1;
        cellRef.setAttribute("data-sequence", seq);
        cell.setAttribute("data-sequence", seq);
        cell.setAttribute("data-parent-id", target.parentElement.id);
        cell.setAttribute("id", cellId);

        var compId = GenerateGuid();
        var control = $(cell).find('#component');
        control.attr("id", compId);
        control.attr("data-component-type", "RichText");
        control.attr("data-parent-id", cellId);
        t.before(cell);
        CreateRichTextBox($('#' + compId));
    }
    function CreateRichTextBox(id) {
        id.kendoEditor({
            stylesheets: [
                "../content/shared/styles/editor.css",
            ],
            tools: [
                "bold",
                "italic",
                "underline",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "insertUnorderedList",
                "createLink",
                "unlink",
                "insertImage",
                "tableWizard",
                "createTable",
                "addRowAbove",
                "addRowBelow",
                "addColumnLeft",
                "addColumnRight",
                "deleteRow",
                "deleteColumn",
                "mergeCellsHorizontally",
                "mergeCellsVertically",
                "splitCellHorizontally",
                "splitCellVertically",
                //"formatting",
                //{
                //    name: "fontName",
                //    items: [
                //        { text: "Andale Mono", value: "Andale Mono" },
                //        { text: "Arial", value: "Arial" },
                //        { text: "Arial Black", value: "Arial Black" },
                //        { text: "Book Antiqua", value: "Book Antiqua" },
                //        { text: "Comic Sans MS", value: "Comic Sans MS" },
                //        { text: "Courier New", value: "Courier New" },
                //        { text: "Georgia", value: "Georgia" },
                //        { text: "Helvetica", value: "Helvetica" },
                //        { text: "Impact", value: "Impact" },
                //        { text: "Symbol", value: "Symbol" },
                //        { text: "Tahoma", value: "Tahoma" },
                //        { text: "Terminal", value: "Terminal" },
                //        { text: "Times New Roman", value: "Times New Roman" },
                //        { text: "Trebuchet MS", value: "Trebuchet MS" },
                //        { text: "Verdana", value: "Verdana" },
                //    ]
                //},
                "fontSize",
                "foreColor",
                "backColor",
            ]
        });
    }
    // $('.splitter-container').SplitterBar();
    var splitter = $('.splitter-container').height(200).split({
        orientation: 'vertical',
        limit: 10,
        position: '20%', // if there is no percentage it interpret it as pixels
        onDrag: function (event) {
            console.log(splitter.position());
        }
    });
    function ReloadTab() {
         
    }
    function SetTabControls(index, select) {
        var tabStrip = $("#tabstrip").data("kendoTabStrip");
        if (select) {
            tabStrip.select(index);
        }
    }
    function onTabSelect1(e) {
        SetTabControls($(e.item).index(), false);
    }
    function OnSelect(e) {
        e.preventDefault();


    }
    function OpenIframeModal(url, title) {
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: title, Width: 700, Height: 350 });
        return false;
    }

    function componentDrag(ev) {
        //alert(ev.target.data('type'));
        ev.dataTransfer.setData("text", ev.target.id);
    }
    function componentDrop(ev, el) {
        ev.preventDefault();
        var type = ev.dataTransfer.getData("text");
        AddComponent(type, el);
        //ev.target.appendChild(document.getElementById(data));
    }
    function componentDragOver(ev) {
        ev.preventDefault();
    }
    //function RemovespecailChar()
    //{
    //    var txt = $("#pagetitle").val();
    //    txt = txt.replace(/[^A-Z0-9]/ig, "");
    //    $("#generatelbl").html(txt);
    //}
    $("#pagetitle").on('input', function () {
        @*if ('@Model.DataAction' == '@DataActionEnum.Create')
        {*@
            var txt = $("#pagetitle").val();
            txt = txt.replace(/[^A-Z0-9]/ig, "");
            $("#generatelbl").html(txt);
        //}
    });

    function OnRequestEnd_TopLinePriceGrid(e) {
        if (e.type === "update") {
            var grid = $('#kgrdUserPermission').data('kendoGrid');
            grid.dataSource.read();
        }
    }
    function OnError(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>


<div class="row card-header pad-20 no-gutters">
    <div class="col-sm-1">
        <button type="button" class="btn" style="width: 68%; height: 94%; border: 1px solid transparent; border-color: #dee2e6; background-color: #fff;" onclick="openNavForIcon()">
            @if (Model.DataAction == DataActionEnum.Edit && Model.IconCss != "")
            {
                <i class="@Model.IconCss" style="font-size:35px;color:@Model.IconColor" id="pageicon" data-type="@Model.IconCss"></i>
            }
            else
            {
                <i class="fal fa-file" style="font-size:35px" id="pageicon" data-type="fal fa-file"></i>
            }

        </button>
    </div>
    <div class="float-container col-sm-6" style="margin-left:-21px;">
        <input type="text" class="form-control" id="pagetitle" value="@Model.Title" />
        <label id="generatelbl" class="float-right" for="pagetitle" style="position:unset;padding-right:5px;padding-top:3px;font-size:small;">@Model.Name</label>
    </div>
    <div class="container col-sm-5">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a data-toggle="tab" href="#general" class="nav-link active" role="tab" aria-controls="general" aria-selected="true"><i class="fas fa-pencil-paintbrush" style="margin-left:15px;"></i><br />General</a></li>
            <li class="nav-item">
                @*@if (Model.Id != "" &&  Model.Id != null)
                    {*@
                <a data-toggle="tab" href="#index" class="nav-link" aria-controls="index" aria-selected="false" onclick=" LoadPartailView('@Url.Action("ManageIndex", "Content", new { @area = "Cms" })?pageId=@Model.Id&pageType=@Model.PageType', $('#index'));"><i class="fas fa-cog" style="margin-left:18px;"></i><br />Index</a>

                @*}
                    else
                    {
                        <a href="#index" class="nav-link" aria-controls="index" aria-selected="false" ><i class="fas fa-cog" style="margin-left:18px;"></i><br />Index</a>
                    }*@

            </li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("ManageDetailPage", "Content", new { @area="Cms"})?pageId=@Model.Id&pageType=@Model.PageType', $('#detailPage'));"><i class="fab fa-css3" style="margin-left:3px;"></i><br />Detail Page</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#permissions" class="nav-link" aria-controls="permissions" aria-selected="false" onclick=" LoadPartailView('@Url.Action("ManagePermissions", "Content", new { @area="Cms"})?pageId=@Model.Id&pageType=@Model.PageType', $('#permissions'));"><i class="fas fa-key" style="margin-left:32px;"></i><br />Permissions</a></li>
        </ul>

    </div>
</div>
<div class="text-danger" asp-validation-summary="All"></div>
<div class="tab-content">
    <div id="general" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">

        @*@{
                await Html.RenderPartialAsync("ManageGeneralTab",Model);

            }*@
        <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

            <form asp-controller="Content" asp-action="ManageGeneralTabData" method="post" class="form-horizontal">

                @*<div class="col-sm-12" style="text-align:right;">
            <button type="button" class="btn btn-light" onclick="CloseIframeModal();">Cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
        </div>*@
                <div class="row" style="padding:10px;">
                    <div class="row col-12 pad-10">
                        <div class="col-3">
                            <label for="Module">Module</label>
                        </div>
                        <div class="col-9">
                            @*@(Html.Kendo().DropDownListFor(x=>x.ModuleId)
          .DataTextField("Name")
                    .DataValueField("Id")
       // .Events(e => e.Change("change"))
       .DataSource(source =>
       {
           source.Read(read =>
           {
               read.Action("GetModuleList", "Module", new { @area = "Cms" });
           });
       })
       .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
          .HtmlAttributes(new { style = "width: 100%" })
    )*@
                        </div>
                    </div>
                    <div class="row col-12 pad-10">
                        <div class="col-3">
                            <label for="Module">Sub Module</label>
                        </div>
                        <div class="col-9 ">
                            @*@(Html.Kendo().DropDownListFor(x=>x.SubModuleId)
          .DataTextField("Name")
                    .DataValueField("Id")
          // .Events(e => e.Change("change"))
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetSubModuleList", "SubModule", new { @area = "Cms" });
              });
          })
       .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
          .HtmlAttributes(new { style = "width: 100%" })
    )*@
                            @*<input asp-for="MenuName" type="text" class="form-control" placeholder="Enter Menu Name" autocomplete="off" />*@
                        </div>
                    </div>
                    <div class="row col-12 pad-10">
                        <div class="col-3">
                            <label for="Module">Menu Group</label>
                        </div>
                        <div class="col-9">
                            @*@(Html.Kendo().DropDownListFor(x=>x.MenuGroupId)
       .DataTextField("Name")
                    .DataValueField("Id")
        // .Events(e => e.Change("change"))
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetMenuGroupList", "MenuGroup", new { @area = "Cms" });
            });
        })
       .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
          .HtmlAttributes(new { style = "width: 100%" })
    )*@
                            @*<input asp-for="MenuName" type="text" class="form-control" placeholder="Enter Menu Name" autocomplete="off" />*@
                        </div>
                    </div>
                    <div class="row col-12 pad-10">
                        <div class="col-3">
                            <label for="Module">Page Type</label>
                        </div>
                        <div class="col-9">
                            @*@(Html.Kendo().DropDownListFor(x=>x.PageType)
       .DataTextField("Name")
                    .DataValueField("Id")
         .Events(e => e.Change("OnPageTypechange"))
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "PageTypeEnum" });
            });
        })
       .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
          .HtmlAttributes(new { style = "width: 100%" })
    )*@

                        </div>
                    </div>

                    <div class="row col-12 pad-10" Style="display:none" id="chkIndexPage">
                        <div class="col-3">
                            <input type="checkbox" asp-for="EnableIndexPage" class="k-checkbox" style="margin-right:5px;" />
                            <label>Enable Index Page</label>

                        </div>

                    </div>
                    <div class="row col-12 pad-10">
                        <div class="col-3">
                            <input type="checkbox" asp-for="ShowTitleInPage" class="k-checkbox" style="margin-right:5px;" />
                            <label>Show Page Title in Page</label>
                            @**@
                            @*@(Html.Kendo().CheckBox().Name("chkPageTitle").Checked(true).Label("Show Page Title in Page"))*@
                        </div>

                    </div>
                    <div class="row col-12 pad-10">
                        <div class="col-3">
                            <input type="checkbox" asp-for="HideInMenu" style="margin-right:5px;" />
                            <label>Show Page in Menu</label>
                        </div>
                        <div class="col-9">
                            <input asp-for="MenuName" type="text" class="form-control" placeholder="Menu Name" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row col-12 pad-10">
                        <div class="col-3 ">
                            <label for="MenuName">Sequence No</label>
                        </div>
                        <div class="col-9 ">
                            <input asp-for="SequenceOrder" type="number" class="form-control" placeholder="Enter Sequence Order" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row col-12 pad-10">
                        <div class="col-3">
                            <label for="Description">Description</label>
                        </div>
                        <div class="col-9">
                            <textarea placeholder="Description" rows="3" class="form-control"></textarea>
                        </div>


                    </div>
                    <div class="row col-12 pad-10">
                        <div class="col-3">
                            <label for="Description">Select Data</label>
                        </div>
                        <div class="col-9">

                            @*@(Html.Kendo().DropDownListFor(x=>x.TableMetadataId)

          .DataTextField("Name")
          .DataValueField("Id")
          .Height(400)
          .HtmlAttributes(new { style = "width:100%" })
          .DataSource(source => source
              .Custom()
              .Group(g => g.Add("Type", typeof(string)))
              .Transport(transport => transport
                .Read(read =>
                {
                    read.Action("GetTableMetaDataList", "TableMetaData",new { area="cms"});
                })))
    )*@
                            <a href="#">Add Data</a>

                        </div>

                    </div>
                    @*<div class="col-12 pad-15"> </div>*@
                </div>
                <div class="cms-footer">
                    <input type="button" class="btn btn-link" value="Save and Preview" onclick="OnSave('Preview')" />
                    <input type="button" class="btn btn-success" value="Save and Publish" onclick="OnSave('Publish')" />
                    <input type="submit" class="btn btn-primary" value="Save" onclick="OnSave()" />
                </div>
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.DataAction)
                @Html.HiddenFor(x => x.IconColor)
                @Html.HiddenFor(x => x.IconCss)
                @Html.HiddenFor(x => x.Level)
                @Html.HiddenFor(x => x.Title)
                @Html.HiddenFor(x => x.Name)
                @Html.HiddenFor(x => x.state)
                @Html.HiddenFor(x => x.PortalId)
                @Html.HiddenFor(x => x.ParentId)
            </form>
        </div>
    </div>
    <div id="index" class="tab-pane " role="tabpanel" aria-labelledby="settings-tab">


    </div>
    <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">



    </div>
    <div id="permissions" class="tab-pane " role="tabpanel" aria-labelledby="permissions-tab">

    </div>
</div>





<div id="page-icon-div">
    <div id="mySidenavPageIcon" class="sidenav">
        <h1 class="cms-panel-header-name">Page Icon</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavIcon()" title="Close">&times;</a>
        <hr />
        <div id="page-icon" class="row pad-20 slidenav-flow">

        </div>
    </div>
</div>


<script>
    @*$(document).ready(function () {
         LoadPartailView('@Url.Action("ManagePermissions", "Content", new { @area="Cms"})?pageId=@Model.Id&pageType=@Model.PageType', $('#permissions'));
    });*@

    function OnSave(Statetype) {

        $("#Title").val($("#pagetitle").val());
        $("#Name").val($("#generatelbl").html());
        $("#state").val(Statetype);
    }

    function openNavForIcon() {
        document.getElementById("mySidenavPageIcon").style.width = "450px";
        LoadPartailView('@Url.Action("SelectPageIcon", "Content", new { @area="Cms"})?iconCss=' + $("#pageicon").attr("data-type") + "&iconColor=" + $("#pageicon").css("color"), $('#page-icon'));
        $("#overlay").addClass("overlay");

    }
    function closeNavIcon() {
        document.getElementById("mySidenavPageIcon").style.width = "0";
        $("#overlay").removeClass("overlay");
    }
    function OnIconPropertySubmit(iconname,iconcolor) {
        $("#IconCss").val(iconname);
        $("#IconColor").val(iconcolor);
        $("#pageicon").attr("data-type", iconname);
        $("#pageicon").removeAttr("class");
        $("#pageicon").addClass(iconname);
        $("#pageicon").css("color", iconcolor);
        document.getElementById("mySidenavPageIcon").style.width = "0";
        $("#overlay").removeClass("overlay");
    }
    function Permission() {
       
          var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("PagePermission", "PagePermission", new { @area="Cms"})?portalId=@Model.PortalId&pageId=@Model.Id';
        win.OpenWindow({ Title: 'Permission', Width: 450, Height: 950, Position:'Right' });
        return false;
    }
     // function that gathers IDs of checked nodes
    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }

    // show checked node IDs on datasource change
    function onCheck() {
        var checkedNodes = [],
            treeView = $("#treeview").data("kendoTreeView"),
            message;

        checkedNodeIds(treeView.dataSource.view(), checkedNodes);

        if (checkedNodes.length > 0) {
            message = "IDs of checked nodes: " + checkedNodes.join(",");
        } else {
            message = "No nodes checked.";
        }
        $("#result").html(message);
    }

    function ExtractError(err, exludeLi) {
        var msg = "";
        $.each(err, function (key, value) {

            $.each(value, function (key1, value1) {
                $.each(value1, function (key2, value2) {
                    if (exludeLi) {
                        msg += value2 + "\n";
                    }
                    else {
                        msg += "<li>" + value2 + "</li>";
                    }

                });

            });
        });
        return msg;
    }
</script>





