@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Manage User";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model PermissionViewModel

<style>
    .k-switch-label-on, .k-switch-label-off{
        display:flex
    }
    .form-control {
        width: unset;
    }
    .required {
        color: red;
    }
  
</style>

<div class="row" style="margin-left:15px;">

    <form asp-controller="Content" asp-action="ManageAddPermissions" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">


            <div class="col-12 pad-10">

                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name" required="required" autocomplete="off" style="width:80%" />
                    <label for="Name">Name <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">

                <div class="form-label-group">
                    <input asp-for="Code" type="text" class="form-control" placeholder="Code" required="required" autocomplete="off" style="width:80%" />
                    <label for="Code">Code <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12">Status</div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(x=>x.Status)
        .DataTextField("Name")
        .DataValueField("Id")
        .DataSource(source =>
        {
        source.Read(read =>
        {
            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "StatusEnum" });
        });
        })
        .Value(Model.Status.ToString())
        .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
        )*@

                <input asp-for="Status" id="Status" style="width: 80%" />
            </div>





            <div class="cms-slidebar-footer">
                <input type="button" class="btn btn-light" value="Close" onclick="closeNavUser()" />
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.PageTypes)
        @Html.HiddenFor(x => x.PageId)
        @Html.HiddenFor(x => x.PortalId)
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
          //
            closeNavUser();
            //window.parent.$("#PermissionGrid").data("kendoGrid").dataSource.read();
            window.parent.getData();
        }
        debugger;
        $("#Status").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value:'@Model.Status.ToString()',
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=StatusEnum",
                    }
                }
            }
         });


    });

    function closeNavUser() {
       
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }


</script>

