@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model LegalEntityViewModel

@{
    ViewData["Title"] = "Legal Entity";
    Layout = null;
}
<script>

    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);
      
    var columnDefs = [  
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menu1' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\" ><i class='fas fa-ellipsis-v'></i></div>"
            }
        },
        {
            field: "Name", headerName: "Location Name",
        },
        {
            field: "Code",
        },
        {
            field: "Address",
        },
        {
            field: "CityName",
        },
        {
            field: "StateName",
        },
        {
            field: "Street",
        },
        {
            field: "PinCode", headerName: "ZipCode",
        },     
        
    ];

    $(function () {

        getLegalEntityByLocationData();

        $.contextMenu({
            selector: '#tree-menu1',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');

                //var portalName = $trigger.data('portal-name');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        OnEditLegalEntity(id);
                                        break;

                                    case 'delete':
                                        OnDeleteLegalEntity(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },


                            }
                        };


                }
            }
        });


    });

    function getLegalEntityByLocationData() {
        document.getElementById("LegalEntityByLocationgrid").innerHTML = "";
        gridConfig(
            "LegalEntityByLocationgrid",
            "/cms/LegalEntity/ReadLegalEntityByLocationData",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>

<script>

        function OnDeleteLegalEntity(id) {
        var flag = confirm('Do you really want to delete the location?');        

        if (flag) {
            $.ajax({
                url: '@Url.Action("DeleteLegalEntityByLocation", "LegalEntity", new { @area = "Cms" })?Id=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        getLegalEntityByLocationData();
                        kendo.alert("Location Deleted Successfully.");
                    } else {
                        getLegalEntityByLocationData();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    getLegalEntityByLocationData();
                }
            });
            return false;
        }
    }

    function OnCreateLegalEntity() {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ManageLegalEntityByLocation", "LegalEntity", new { @area="Cms"})';
        win.OpenWindow({ Title: 'Manage Location', Width: 450, Height: 700 });
        return false;
    }

    function OnEditLegalEntity(id) {
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("ManageLegalEntityByLocation", "LegalEntity", new { @area="Cms"})?Id=' + id;
        win.OpenWindow({ Title: 'Manage Location', Width: 450, Height: 700 });
        return false;
    }

</script>

<style>
    .row{
        margin-left:0px;
        margin-right:0px;
        padding:5px;
    }
</style>

<div>
    <h4>@ViewBag.Title</h4>

    <hr />

    <div class="row">
        <div class="col-12">
            <button type='button' class='btn btn-primary' onclick='OnCreateLegalEntity();'><i class='fa fas fa-plus'></i>&nbsp;Create</button>
            <br /><br />
            <div id="LegalEntityByLocationgrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>
