@*@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations*@

@using Synergy.App.ViewModel
@using Synergy.App.Business
@{
    ViewData["Title"] = "LegalEntity";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model Synergy.App.ViewModel.LegalEntityViewModel



<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .row {
        margin-right: 0px;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }
</style>

<div class="row-12" style="margin-left:15px;">

    <form asp-controller="LegalEntity" asp-action="Manage" method="post" class="form-horizontal" id="myForm">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="Name">Name <span class="required">*</span></label>
                </div>
            </div>




            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="NameLocal" type="text" class="form-control" placeholder="Name Local" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="NameLocal">Name Local <span class="required">*</span></label>
                </div>
            </div>




            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Code" type="text" class="form-control" placeholder="Code" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="Code">Code <span class="required">*</span></label>
                </div>
            </div>


            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Address" type="text" class="form-control" placeholder="Address" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="Address">Address <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Phone" type="text" class="form-control" placeholder="Phone" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="Phone">Phone <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Fax" type="text" class="form-control" placeholder="Fax" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="Fax">Fax <span class="required">*</span></label>
                </div>
            </div>




            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="Email">Email <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="PrimaryContactPerson" type="text" class="form-control" placeholder="Primary Contact Person" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="PrimaryContactPerson">Primary Contact Person <span class="required">*</span></label>
                </div>
            </div>

        </div>
        <div class="row" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SecondaryContactPerson" type="text" class="form-control" placeholder="Secondary Contact Person" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="SecondaryContactPerson">Secondary Contact Person <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="PrimaryContactEmail" type="email" class="form-control" placeholder="Primary Contact Email" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="PrimaryContactEmail">Primary Contact Email <span class="required">*</span></label>
                </div>
            </div>




            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SecondaryContactEmail" type="email" class="form-control" placeholder="Secondary Contact Email" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="SecondaryContactEmail">Secondary Contact Email <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="CurrencyName" type="text" class="form-control" placeholder="Currency Name" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="CurrencyName">Currency Name <span class="required">*</span></label>
                </div>
            </div>


            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="PrimaryContactMobile" type="text" class="form-control" placeholder="Primary Contact Mobile" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="PrimaryContactMobile">Primary Contact Mobile <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="LicenseKey" type="text" class="form-control" placeholder="License Key" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="LicenseKey">License Key <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="PrimaryContactPhone" type="text" class="form-control" placeholder="Primary Contact Phone" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="PrimaryContactPhone">Primary Contact Phone <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SecondaryContactMobile" type="text" class="form-control" placeholder="Secondary Contact Mobile" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="SecondaryContactMobile">Secondary Contact Mobile <span class="required">*</span></label>
                </div>
            </div>




            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SecondaryContactPhone" type="text" class="form-control" placeholder="Secondary Contact Phone" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="SecondaryContactPhone">Secondary Contact Phone <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="ContactPerson" type="text" class="form-control" placeholder="Contact Person" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="ContactPerson">Contact Person <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="CultureInfo" type="text" class="form-control" placeholder="Culture Info" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="CultureInfo">Culture Info <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="ContactPersonEmail" type="email" class="form-control" placeholder="Contact Person Email" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="ContactPersonEmail">Contact Person Email <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="DateFormat" type="text" class="form-control" placeholder="Date Format" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="DateFormat">Date Format <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="ContactPersonMobile" type="text" class="form-control" placeholder="Contact Person Mobile" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="ContactPersonMobile">Contact Person Mobile <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="DateTimeFormat" type="text" class="form-control" placeholder="Date Time Format" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="DateTimeFormat">Date Time Format <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="TimeZone" type="text" class="form-control" placeholder="Time Zone" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="TimeZone">Time Zone <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="CurrencySymbol" type="text" class="form-control" placeholder=Currency Symbol" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
                    <label for="CurrencySymbol">Currency Symbol <span class="required">*</span></label>
                </div>
            </div>




            <div class="col-12 pad-10">
                @*@(Html.Kendo().CheckBoxFor(x=>x.SendCompanyWelcome).Label("SendCompanyWelcome"))*@
                <input type="checkbox" id="SendComWelcome" onchange="SetValue();"/>
                <label>Send Company Welcome</label>
                <!--<div class="form-label-group">-->
                    @*<input asp-for="SendCompanyWelcome" type="checkbox" class="form-control" placeholder="Enter Name" title="Special character and space not allowed in name." required="required" autocomplete="off" style="width:80%" />
            <label for="SendCompanyWelcome">SendCompanyWelcome <span class="required">*</span></label>*@

                <!--</div>-->
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="qualification">Country <span class="required">*</span></label>
                    </div>
                    @*@(Html.Kendo().DropDownListFor(x=>x.CountryId)
                    .DataTextField("Name")
                    .DataValueField("Id")
                     .Filter(FilterType.Contains)
                    //.Events(e => e.Change("OnPageTypechange"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetIdNameList", "Master", new { @area = "Recruitment", @type = "Country" });
                        });
                    })
                    //.Value()
                    .OptionLabel("--Select--")
                    .HtmlAttributes(new { @class="form-control", style = "width: 80%" })
        )*@

                    <input asp-for="CountryId" id="CountryId" class="form-control" style = "width:80%" />

                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="col-12">Logo</div>
                <div class="col-12 pad-15" style="min-height:130px;">
                    @*<div class="style-image">
                        @if (Model.LogoFileId != null)
                        {
                            <img class="style-mylogoimage" src="/cms/content/getbackgroundimage?id=@Model.LogoFileId" onerror='OnPhotoError(this);' />
                        }
                        else
                        {
                            <img class="style-mylogoimage" style="background-color:gray;" src="~/images/200.png" />
                        }

                    </div>&nbsp;&nbsp;*@
                  @*  <div class="style-upload">*@
                        @*@(Html.Kendo().Upload().Multiple(false)
            .Name("files")
            .Async(a => a
            .Save("Save", "LegalEntity", new { @area="Cms"})
            //.Remove("")
            .AutoUpload(true)
            )
            .Events(e => e.Success("onFileUploadSuccessLogo")
            )
                .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                //.MaxFileSize(2097152)
                )
                .HtmlAttributes(new { @class = "hr-large" })
        )*@

                        @*<div class="row">
        <div class="col">
            <div id="iconFile" class="dm-uploader">
                <h6 class=" text-muted">Drag &amp; drop files here</h6>

                <div class="btn btn-primary btn-block ">
                    <span>Open the file Browser</span>
                    <input type="file" title='Click to add Files' />
                </div>
            </div>

        </div>*@


                        @*<div class="col">
            <div class="card h-100">
                <div class="card-header">
                    File List
                </div>
                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                    <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                </ul>
            </div>
        </div>*@
                        @*</div>
        &nbsp;&nbsp; <button type="button" class="btn btn-light" title="Delete logo" onclick="onLogoDel();"><i class='fa fas fa-trash'></i></button>*@

                        @{ await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.LogoFileId), Value = Model.LogoFileId });
                        }
                    @*</div>*@

                </div>
            </div>


        </div>

        <div class="col-12" style="text-align:right" ;>
            <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
            <input type="submit" class="btn btn-primary" value="Save" id="submitBtn"/>
        </div>


        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.LogoFileId)
        @Html.HiddenFor(x=>x.SendCompanyWelcome)
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
       // uploadFile();
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            window.parent.getLegalEntityData();
            //window.parent.$("#LegalEntitygrid").data("kendoGrid").dataSource.read();
        }

        $("#CountryId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel:"--Select--",
            value: '@Model.CountryId',
            filter: "contains",            
            dataSource: {
                transport: {
                    read: {
                        //url: "/Recruitment/Master/GetIdNameList?type=Country",
                        url: "/CMS/LegalEntity/GetCountryList",
                    }
                }
            }
        });
        
        if ('@Model.SendCompanyWelcome'==='True') {
            $("#SendComWelcome").attr("checked", true);
        }
        

    });


    //function uploadFile() {
    //    $("#iconFile").dmUploader({ //
    //        url: '/Cms/Document/SaveFile', //- controller
    //        multiple: false,
    //        extFilter: ["jpg", "jpeg", "png", "gif"],
    //        maxFileSize: 3000000, // 3 Megs 
    //        onDragEnter: function () {
    //            // Happens when dragging something over the DnD area
    //            this.addClass('active');
    //        },
    //        onDragLeave: function () {
    //            this.removeClass('active');
    //        },
    //        onInit: function () {
    //        },
    //        onComplete: function () {
    //        },
    //        onNewFile: function (id, file) {
    //            ui_multi_add_file(id, file);
    //        },
    //        onBeforeUpload: function (id) {
    //            ui_multi_update_file_status(id, 'uploading', 'Uploading...');
    //            ui_multi_update_file_progress(id, 0, '', true);
    //        },
    //        onUploadCanceled: function (id) {
    //            ui_multi_update_file_status(id, 'warning', 'Canceled by User');
    //            ui_multi_update_file_progress(id, 0, 'warning', false);
    //        },
    //        onUploadProgress: function (id, percent) {
    //            ui_multi_update_file_progress(id, percent);
    //        },
    //        onUploadSuccess: function (id, data) {
    //            $(".style-mylogoimage").attr("src", "/cms/content/GetBackgroundImage?id=" + data.fileId);
    //            $("#LogoFileId").val(e.response.fileId);

    //            ui_multi_update_file_status(id, 'success', 'Upload Complete');
    //            ui_multi_update_file_progress(id, 100, 'success', false);
    //        },
    //        onUploadError: function (id, xhr, status, message) {
    //            ui_multi_update_file_status(id, 'danger', message);
    //            ui_multi_update_file_progress(id, 0, 'danger', false);
    //        },
    //        onFallbackMode: function () {
    //        },
    //        onFileSizeError: function (file) {
    //        }
    //    });
    //}
    function SetValue() {
        var value = $('#SendComWelcome').is(":checked") ? true : false;
        $("#SendCompanyWelcome").val(value); 
    }

    function closeNavMemberGroup() {
     
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function onFileUploadSuccessLogo(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-mylogoimage").attr("src", "/cms/content/GetBackgroundImage?id=" + e.response.fileId);
            $("#LogoFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }
    function onLogoDel() {

        //        alert("Banner Delete");
        $(".style-mylogoimage").attr("src", "/images/200.png");
        $("#LogoFileId").val('');
      //  var logoupload = $("#files").data("kendoUpload");
        //console.log(logoupload);
       // logoupload.clearFile(function (file) { return true; });
        $("#iconFile").dmUploader("reset");
    }



</script>