@using Kendo.Mvc.UI;
@using CMS.Common
@model CMS.UI.ViewModel.BusinessRuleModelViewModel
@{
    ViewData["Title"] = "Create Business Rule";
    Layout = "/Views/Shared/_PopupLayout.cshtml";

}
<form asp-controller="BreRuleModel" asp-action="CreateBusinessRuleBuilderGroup" method="post" class="form-horizontal">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row" style="padding:10px;">
        <div class="col-sm-12">
            <div>
                <input name="Condition" type="radio" id="radio_1" value="AND" />
                <label for="Field">AND</label>
                <input name="Condition" type="radio" id="radio_2" value="OR" />
                <label for="Field">OR</label>
            </div>

            <br />
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success" id="btnSave">Save</button>
        </div>
    </div>
    @Html.HiddenFor(x => x.BreMasterTableMetadataId)
    @Html.HiddenFor(x => x.ParentId)
    @Html.HiddenFor(x => x.DataAction)
    @Html.HiddenFor(x => x.Condition)
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.RuleId)
    @Html.HiddenFor(x => x.Field)
    @Html.HiddenFor(x => x.FieldId)
    @Html.HiddenFor(x => x.Value)
    @Html.HiddenFor(x => x.ValueId)
    @Html.HiddenFor(x => x.FieldSourceType)
    @Html.HiddenFor(x => x.ValueSourceType)
    @Html.HiddenFor(x => x.BusinessRuleSource)
</form>
<script>
   
    if ('@Model.DataAction' == "@DataActionEnum.Edit")
    {
        if ('@Model.Condition' == "@LogicalEnum.And") {
        $("#radio_1").prop("checked", true);
    }
    else
    {
        $("#radio_2").prop("checked", true);
    }
    }

    //$('input[type=radio][name=Condition]').change(function () {
    //    if ($('input[name=Condition]:checked').val() == "AND")
    //    {
    //        $("#inputdiv").show();
    //        $("#constdiv").hide().prop('required', false);
    //        $("#masterdiv").hide();
    //        $("#FieldSourceType").val("InputData");
    //        $("#Field").val("");
    //    }
    //    else if ($('input[name=Condition]:checked').val() == "OR")
    //    {
    //        $("#inputdiv").hide();
    //        $("#constdiv").hide().prop('required', false);
    //        $("#masterdiv").show();
    //        $("#FieldSourceType").val("MasterData");
    //        $("#Field").val("");
    //    }
    //});

    //$("#btnSave").click(function (e) {
    //    if ($('input[name=FieldSourceType]:checked').val() == "Constant")
    //    {
    //        if ($("#Field").val() == "")
    //        {
    //            alert("Field is required");
    //            $(".text-danger").removeClass("validation-summary-valid");
    //            $(".text-danger").addClass("validation-summary-errors");
    //            $(".text-danger ul").html("Field is required");
    //            e.preventDefault();
    //        }
    //        else {
    //            $(".text-danger").removeClass("validation-summary-errors");
    //            $(".text-danger").addClass("validation-summary-valid");
    //            $(".text-danger ul").html('');
    //        }
    //    }
    //    if ($('input[name=ValueSourceType]:checked').val() == "Constant") {
    //        if ($("#Value").val() == "") {
    //            alert("Value is required");
    //            $(".text-danger").removeClass("validation-summary-valid");
    //            $(".text-danger").addClass("validation-summary-errors");
    //            $(".text-danger ul").append("<br/> Value is required");
    //            e.preventDefault();
    //        }
    //        else
    //        {
    //            $(".text-danger").removeClass("validation-summary-errors");
    //            $(".text-danger").addClass("validation-summary-valid");
    //            $(".text-danger ul").html('');
    //        }
    //    }
    //});
</script>