@inject IStringLocalizer<CMS.UI.Web.Areas.PJM.Controllers.ProjectBoardController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@model ProgramDashboardViewModel

@{
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = null;
}
<style>

    #listView-Attach {
        background: transparent;
        border: none;
        width: 100%;
        padding: 10px 5px;
    }

    .card {
        margin-left: 10px;
        margin-top: 20px;
        float: left;
        width: 449px;
        /*height:400px;*/
    }

    .attach {
        float: left;
        position: relative;
        width: 111px;
        height: 80px;
        margin: 0 5px;
        padding-bottom: 23px;
    }

    #Project {
        height: 400px;
    }

    .ui-item {
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }

    .card {
        min-height: 50px;
    }

    h5, .h5 {
        font-size: 14px;
        font-weight: bold;
    }

    body {
        background-color: #efefef87;
    }

    .nav-side-menu li:hover {
        border-left: 3px solid #d19b3d;
        background-color: #ff7a5961;
    }

    .nav-side-menu li a {
        text-decoration: none;
        color: #2c3131e3;
        font-size: 12px;
    }

    .nav-side-menu li {
        padding-left: 0px;
        border-left: 0px;
        border-bottom: 0px;
    }

    .nav-side-menu {
        position: fixed;
        overflow: auto;
        font-family: verdana;
        font-size: 10px;
        font-weight: 200;
        background-color: #ffffff;
        top: 0px;
        height: 100%;
        color: #394848;
        margin-bottom: 10px;
        margin-top: 50px;
        padding-top: 15px;
        width: 225px;
        /* border-right: 1px solid; */
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.22), 0 7px 10px -5px #fff;
        border: 1px solid #eee;
    }

    .Card-header {
        padding: 10px 15px;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        background: #F8F9FB;
        color: #5191bd;
        font-weight: bold;
        font-size: 14px;
    }

    .label {
        border-radius: 1.25em;
    }

    .label-info {
        background-color: #34bfa3;
    }

    .Pills {
        /*background-color: #428bca;*/
        background-color: #22b9ff !important;
        border: none;
        color: #fff;
        padding: 6px 20px !important;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0px 6px !important;
        cursor: pointer;
        border-radius: 22px !important;
        font-size: 12px !important;
    }

        .Pills:hover {
            background-color: #428bca;
        }

    /*  .board {
        height: 300px;
        overflow-y: scroll;
    }*/

    .k-listview {
        border: none;
    }

    .amont {
        color: #22b9ff !important;
    }

    .contract {
        font-size: 1.0em;
    }

    .cursor {
        cursor: pointer;
    }

    .Card-header .k-dropdown-wrap {
        border-radius: 25px !important;
        font-size: 15px;
    }

    .red {
        color: red;
    }

    .orange {
        color: darkorange;
    }

    .green {
        color: green;
    }

    .k-widget .k-colorpicker {
        float: right;
        padding: 1px;
        /*margin-left: 475.5px;*/
    }

    .fa-circle {
        font-size: 0.5em;
    }
</style>

<script>
    $(document).ready(function () {

        var dataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PJM/ProjectBoard/ReadProjectData?mode="+'@Model.Mode',
                    dataType: "json",
                }
            },
            filterable: true
        });

        $("#board").kendoListView({
            dataSource: dataSource1,
            dataBound: OnDataBoundDoc,
            template: kendo.template($("#templateAttach").html())
        });


        $("#searchproject").keyup(function () {

            var val = $('#searchproject').val();
            var listView = $("#board").data("kendoListView");
            // var listView = $("#kgrdService").data("kendoListView");
            listView.dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "ProjectName",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "ServiceNo",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "Description",
                        operator: "contains",
                        value: val
                    },
                ]
            });

        });
    });

    function preview(e) {

       // var grid = $('#board').data().kendoListView;

      //  var dataItem = grid.dataItem($(this).closest('tr'));
        var x = e.sender.element[0].id;
        var y = document.getElementById("count_" + x.split("_")[1])
        y.style.backgroundColor = e.value
    }

    function OnSwitchView() {
        var url = "/pjm/projectboard/listview?mode=@Model.Mode" + "&permissions="+'@ViewBag.Permissions';
      //  window.location.href = url;
        LoadPartailView(url, $('#cms-content'));
        //LoadCmsPartialView(url, 'Service');
    }

    function OnView(type) {
        var url = "/pjm/projectboard/index?permissions=@ViewBag.Permissions";
        if (type == "Shared") {
            url = "/pjm/projectboard/index?mode=Shared"+ "&permissions="+'@ViewBag.Permissions';
        }
       // window.location.href = url;
        LoadPartailView(url, $('#cms-content'));
       // LoadCmsPartialView(url, 'Service');
    }

    function OnTimeLineView() {
        var url = "/pjm/projectboard/TimeLineView?permissions=@ViewBag.Permissions";

        LoadPartailView(url, $('#cms-content'));
       // LoadCmsPartialView(url, 'Service');
    }
    function OnProject(id) {
        var url = "/pmt/ProjectDashboard?projectId=" + id;
        window.location.href = url;
    }
    function Edit(id) {
        var portalId = $('#GlobalPortalId').val();
        //var prms = encodeURIComponent( 'parentServiceId=123&parentTaskId=223');

       // var url = '/Cms/Page?source=Edit&dataAction=Edit&pageName=Project&portalId=' + portalId + '&recordId=' + id ;
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Edit&dataAction=Edit&pageName=Project&portalId=' + portalId + '&recordId=' + id ;
       // LoadCmsPartialView(url, 'Service', true, 1000, 600, 'Edit Project');
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["Project"])', Width: 1200, Height: 600 });
        return false;
    }

    function ManageBook(id) {
        debugger;
        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=View&dataAction=View&pageName=Project&portalId=' + portalId + '&recordId=' + id ;

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["Project"])', Width: 1200, Height: 600 });
        return false;
    }

    function View(id) {
        var url = "/pjm/project/projectdashboard?projectId=" + id;
        LoadPartailView(url, $('#cms-content'));
    }
    function dataBound() {
        var grid = this;

        // $("#progress").data("kendoProgressBar").value(50);

        //$(this).find(".progress").kendoProgressBar({
        //    value: 50
        //});
        //grid.tbody.find("tr[role='row']").each(function () {
        //    var model = grid.dataItem(this);


        //});
    }

    var colors = ['#F56564', '#90D142', '#28BAF5', '#7551F5', '#5BA79F', '#7A8F9D', '#4F67B6'];
    function OnDataBoundDoc(arg) {
        var childDiv = document.getElementById('board').children;
        //var childDiv = document.getElementById('count').children;

        for (var i = 0; i < childDiv[0].children.length; i++) {
            var uc = childDiv[0].children[i].getElementsByClassName("usercount");
            var up = childDiv[0].children[i].getElementsByClassName("userpicker");
            var colr = colors[Math.floor(Math.random() * colors.length)];
            //childDiv[i].children[2].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
            uc[0].style.backgroundColor = colr;
            $("#"+up[0].id).data("kendoColorPicker").value(colr);
           // up[0].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
        }

    }

    function OnService() {
        var portalId = $('#GlobalPortalId').val();
        //var prms = encodeURIComponent( 'parentServiceId=123&parentTaskId=223');

        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageName=Project&portalId=' + portalId /*+ '&prms=' + prms*/;
        //LoadCmsPartialView(url, 'Service', true, 1000, 600, 'Create Project');
        //return false;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["Project"])', Width: 1200, Height: 600 });
        return false;
    }
    function OnAfterServiceCreate() {
        document.getElementById('searchproject').value = '';
        var listView = $("#board").data("kendoListView");
        // var listView = $("#kgrdService").data("kendoListView");
        listView.dataSource.filter({});
        listView.dataSource.read();
    }

    $(function () {
        $.contextMenu({
            selector: '#menu-item',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        Edit(id);
                                        break;
                                    case 'manage':
                                        ManageBook(id);
                                        break;
                                    case 'view':
                                        View(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "view": { name: "@Resource["ViewProjectDashboard"]", icon: "fas fa-eye" },
                                 "manage": { name: "@Resource["ViewProjectBook"]", icon: "fas fa-book" },
                                "edit": { name: "@Resource["ViewProject"]", icon: "fas fa-edit" },


                            }
                        };
                }
            }
        });
    });

</script>
<style>
    .k-pdf-export .k-filterable .k-grid-filter {
        display: none;
    }

    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }
    /* Page Template for the exported PDF */
    .page-template {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            color: #888;
        }

        .page-template .footer {
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
            border-top: 1px solid #888;
            text-align: center;
            color: #888;
        }

        .page-template .watermark {
            font-weight: bold;
            font-size: 400%;
            text-align: center;
            margin-top: 30%;
            color: #aaaaaa;
            opacity: 0.1;
            transform: rotate(-35deg) scale(1.7, 1.5);
        }

    .k-grid td, .k-grid th {
        font-size: 14px !important;
    }

    .tb-bg {
        /*background-color:cadetblue;*/
        background-color: #17a2b8 !important;
        color: #fff;
        font-weight: 500 !important;
        text-align: center !important;
    }

    .tb-bg1 {
        /*background-color: cornflowerblue;*/
        background-color: #ffc107 !important;
        color: #000;
        font-weight: 500 !important;
        text-align: center !important;
    }

    .tb-bg2 {
        /* background-color: darkcyan;*/
        background-color: #17a2b8 !important;
        color: #fff;
        font-weight: 500 !important;
        text-align: center !important;
    }

    .k-footer-template {
        background-color: #DAEDFF
    }

    .k-grid-header .k-header, .k-grid-header thead, .k-grid-header .k-hierarchy-cell {
        background-color: #527ab8;
        color: #fff;
    }

        .k-grid-header thead a {
            color: #fff !important;
        }

    .label-warning {
        background-color: #f0ad4e;
    }

    .label-success {
        background-color: #5cb85c;
    }

    .label-danger {
        background-color: #d9534f;
    }

    #projName {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: inline-block;
    }

    .banner-container {
        position: relative;
        color: white;
    }

    .banner-text {
        position: absolute;
        top: 14px;
        left: 60px;
        font-size: 35px;
    }
</style>

@*<div style=""><img style="width:100%; height:100px" src="~/images/Project Board.png" /></div>*@
<div class="banner-container">
    <img style="width:100%; height:100px" src="~/images/pmt/Project Board.jpg" />
    <div class="banner-text">Project Board</div>
</div>

<div style="margin:20px;">

    <div class="row hr-pad-top-10">
        @*<div class="col-md-6">
                <h4>
                    Projects Board
                </h4>
            </div>*@
    </div>

    <div class="row">

        <div class="col-md-3" @*style="margin-left:-20px;"*@>
            @if (Model.Mode == "Shared")
            {
                <div class="btn btn-sm btn-default" title="@Resource["CreateOwnedProject"]" style="width:100px;cursor:pointer;" onclick="OnView()">
                    <span>@Resource["Owned"]</span>
                </div>
                <div class="btn btn-sm btn-primary" title="@Resource["CreateSharedProject"]" style="width:100px;cursor:pointer;" onclick="OnView('Shared')">
                    <span>@Resource["Shared"]</span>
                </div>
            }
            else
            {
                <div class="btn btn-sm btn-primary" title="@Resource["CreateOwnedProject"]" style="width:100px;cursor:pointer;" onclick="OnView()">
                    <span>@Resource["Owned"]</span>
                </div>
                <div class="btn btn-sm btn-default" title="@Resource["CreateSharedProject"]" style="width:100px;cursor:pointer;" onclick="OnView('Shared')">
                    <span>@Resource["Shared"]</span>
                </div>
            }

        </div>
        <div class="col-md-3">
            <input id="searchproject" type="search" placeholder="Search Project" class="form-control" style="border-radius: 30px;">

        </div>
        <div class="col-md-6" style="text-align:right">
            <div class="formHeader" style="padding-bottom:10px;">
                <div class="btn-group" role="group">
                    @if (Model.Mode == null && ViewBag.Permissions.Contains("CREATE_PROJECT"))
                    {<a href="#" class="btn btn-sm btn-primary" title="@Resource["CreateProject"]" onclick="OnService()"><i class="fal fa-plus"></i> @Resource["CreateProject"]</a>

                    @*<div class="col-md-1">
                            <div class="btn btn-sm btn-primary" title="Create Project" style="width:45px;border-radius:30px;" onclick="OnService()">
                                <i class="fal fa-plus"></i>
                            </div>
                        </div>*@
                }  &nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-sm btn-primary" title="@Resource["CardView"]"><i class="fad fa-credit-card fa-1x"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="javascript: void(0); onclick=OnSwitchView()" class="btn btn-sm btn-primary" title="@Resource["ListView"]"><i class="fas fa-list-alt fa-1x"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="javascript: void(0); onclick=OnTimeLineView()" class="btn btn-sm btn-primary" title="TimeLineView"><i class="fas fa-line-columns fa-1x"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div>
        <br />
        <br />

    </div>
    <div class="row">

        <br />
        <div class="col-md-12">
            @*@(Html.Kendo().ListView<ProgramDashboardViewModel>()
                    .Name("listView-Attach")
                    .TagName("div")
                     .Events(e => e.DataBound("OnDataBoundDoc"))
                    .AutoBind(true)
                    .ClientTemplateId("templateAttach")
                     .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("ReadProjectData", "ProjectBoard", new { @area = "PJM", mode=Model.Mode }))
                    //.PageSize(21)
                ).HtmlAttributes(new { @Class = "board", @id = "board"})
                    )*@

            <div id="board" class="board"></div>
        </div>
        @Html.HiddenFor(x => x.Mode)
    </div>
</div>

<script type="text/kendo-ui-template" id="templateAttach">
    <div class="card">
        <div class="#:data.PriorityClass#" width="100%" style="height:5px;margin-bottom:10px;"></div>
        @*<div class="PriorityClass" width="100%" style="height:5px;margin-bottom:10px;background-color:gray"></div>*@

      <div class="row">
            <div class="col-sm-11">
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="col-md-12" style="width:100%;">
                        <a href="javascript: void(0); title='#:ProjectName#'> <h3 id="projName" onclick=View('#:Id#') style="color:dodgerblue;font-weight:500">#:ProjectName#</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" style="text-align:right;">
                <div class='btn-group grid-menu' id='menu-item' data-idvalue=#:Id# ><i class='fas fa-ellipsis-v'></i></div>
                @*<span class="hr-org-menu k-icon k-i-more-horizontal" data-toggle='dropdown' style='cursor: pointer;float:right;position:relative;'></span>
                <ul class='dropdown-menu' style='top:auto;left:auto;position:absolute;min-width: 130px;'>
                   <li>
                       <a href="javascript: void(0); onclick=Edit('#:Id#')" style='cursor:pointer; text-align:left; font-size:12px;'>
                           <span class='fas fa-folder-open fa-sm'></span>
                           <span>@Html.Raw(Resource["EditProject"])</span>
                       </a>
                   </li>
                   <li>
                       <a href="javascript: void(0); onclick=View('#:Id#')" style='cursor:pointer; text-align:left; font-size:12px;'>
                            <span class='fas fa-folder-open fa-sm'></span>
                            <span>@Html.Raw(Resource["ViewProject"])</span>
                       </a>
                   </li>
                </ul>*@
            </div>
      </div>
      <div class="row">
            <div class="col-sm-11">
                <div class="form-group col-xs-12 col-sm-12">
                    @*<div class="col-md-4" >
                     <span style="color:gray;">#:ServiceNo #</span>

                    </div>*@
                  <div class="col-md-12" >
                     <span style="color:gray;">#:ServiceNo # &nbsp;&nbsp;&nbsp;&nbsp; #:kendo.toString(kendo.parseDate(StartDate), 'dd MMM yyyy')# - #:kendo.toString(kendo.parseDate(DueDate), 'dd MMM yyyy')#</span>
                        @*<span><i class="far fa-horizontal-rule" aria-hidden="true"></i></span>
                    <span style="color:gray;">#:kendo.toString(kendo.parseDate(DueDate), 'dd MMM yyyy')#</span>*@
                    </div>
                </div>
            </div>

    </div>
      @*<hr style="width:100%;background-color:gray" />*@
      <hr  />
        @*<div class="row">
            <div class="col-sm-12">
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="col-md-12" style="font-weight:500">
                        #:TemplateName#
                    </div>
                </div>
            </div>
        </div>*@
           <div class="Card-header" style="padding-left:30px;padding-right:15px">
                <div class="row" style="color:orange">

                    <div class="col-sm-4">@Html.Raw(SharedResource["Status"])</div>
                    <div class="col-sm-6">@Html.Raw(Resource["PercentageCompleted"])</div>
                    @*<div class="col-sm-3">Phase</div>*@
                </div>
            </div>
            <div class="Card-header" style="color:gray;padding-left:30px;padding-right:15px">
                <div class="row">

                    <div class="col-sm-4"> #:ProjectStatus#</div>
                    <div class="col-sm-6">#:Percentage# % </div>
                    @*<div class="col-sm-3"> </div>*@

                </div>

            </div>


      @*<hr style="width:100%;background-color:gray;" />*@

      <hr  />
        <div class="Card-header" style="padding-left:30px;padding-right:15px">
                <div class="row" style="color:orange">
                    <div class="col-sm-4">@Html.Raw(SharedResource["CreatedBy"])</div>

                    <div class="col-sm-4">@Html.Raw(Resource["Date"])</div>
                    <div class="col-sm-4">@Html.Raw(Resource["LastActivity"])</div>
                </div>
            </div>
            <div class="Card-header" style="color:gray;padding-left:30px;padding-right:15px">
                <div class="row">
                    <div class="col-sm-4"> #:CreatedBy#</div>

                    <div class="col-sm-4">#:kendo.toString(kendo.parseDate(CreatedOn), 'yyyy-MM-dd hh:mm') #</div>
                    <div class="col-sm-4">#:kendo.toString(kendo.parseDate(UpdatedOn), 'yyyy-MM-dd') #</div>

                </div>

            </div>


      @*<hr style="width:100%;background-color:gray;" />*@
      <hr  />

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group col-xs-12 col-sm-12">
                        <div class="col-md-12">
                               <span style="color:orange;font-weight:bold;font-size:14px;"> @Html.Raw(Resource["Updates"])</span>

                            @*<div id='progress'></div>*@
                        </div>
     <div class="col-md-12">
                               <span style="color:gray;font-weight:bold;font-size:14px;">   #:CompletedCount# @Html.Raw(SharedResource["Completed"]), #:OverDueCount# @Html.Raw(SharedResource["Overdue"]), #:InProgreessCount# @Html.Raw(SharedResource["InProgress"]), #:DraftCount# @Html.Raw(SharedResource["Draft"]),<br> #:PlannedCount# @Html.Raw(Resource["Planned"]), #:PlannedOverDueCount# @Html.Raw(Resource["PlannedOverdue"])</span>

                            @*<div id='progress'></div>*@
                        </div>

                    </div>
                </div>
            </div>
            @*<div class="row">
            <div class="col-sm-12">
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="col-md-12">
                        Status Workflow: Default Status Workflow
                    </div>
                </div>
            </div>
        </div>*@
      <hr  />
  <div class="row">
                <div class="col-sm-12">
                    <div class="form-group col-xs-12 col-sm-12">
                        <div class="col-md-12 usercount" id="count_#:Id#" style="color:white;border-radius:4px;padding:0px;height:39.3px;">
                        <span style="margin-left:9px"> @Html.Raw(Resource["Users"]) : #:UserCount# </span>
     @(Html.Kendo().ColorPicker()
            .Name("picker_#=Id#")
            .HtmlAttributes(new {@class="userpicker"})

        .Events(events => events.Change("preview"))
        .ToClientTemplate()
		)
                        </div>
                    </div>
                </div>
            </div>



            @*<div class="Card-header" style="color:orange;padding-left:30px;padding-right:15px">
            <div class="row">
                <div class="col-sm-3">Tasks</div>
                <div class="col-sm-3">Files</div>
                <div class="col-sm-3">Start Date</div>
                <div class="col-sm-3">Due Date</div>
            </div>
        </div>
        <div class="Card-header" style="color:gray;padding-left:30px;padding-right:15px">
            <div class="row">
                <div class="col-sm-3">#:AllTaskCount#</div>
                <div class="col-sm-3">#:FileCount#</div>
                <div class="col-sm-3">#: kendo.toString(kendo.parseDate(StartDate), 'yyyy-MM-dd')  #</div>
                <div class="col-sm-3">#:kendo.toString(kendo.parseDate(DueDate), 'yyyy-MM-dd')#</div>
            </div>
        </div>*@

        </div>
</script>






