@*@using Syncfusion.EJ2.Navigations*@

@using Synergy.App.Common
@*@using Kendo.Mvc.UI*@
@{
    ViewData["Title"] = "Create Business Area";
    Layout = "/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model Synergy.App.ViewModel.BreMetadataViewModel
<form asp-controller="Bre" asp-action="ManageBusinessRuleInputData" method="post" class="form-horizontal">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row" style="padding:10px;">
        <div class="col-sm-12">
            <div class="form-label-group">
                <input asp-for="Name" class="form-control" placeholder="Name" type="text" autocomplete="off" required="required" />
                <label for="Name">Name</label>
            </div>
            <div class="form-label-group">
                <select id="ddldatatype" asp-for="DataType" class="form-control" placeholder="DataType" required="required" autofocus="" style="height: 95px !important;" onchange="onChange();">
                    <option value="0">---Select---</option>
                    @foreach (Enum dataType in System.Enum.GetValues(typeof(DataTypeEnum)))
                    {
                        <option value="@dataType">@dataType.ToString()</option>
                    }
                </select>
               
            </div>
            <br />
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-light" onclick="Close();">Close</button>
        </div>
    </div>
    @Html.HiddenFor(x => x.ParentId)
    @Html.HiddenFor(x => x.DataAction)
    @Html.HiddenFor(x => x.BreInputDataType)
    @Html.HiddenFor(x => x.BusinessRuleId)
    @Html.HiddenFor(x => x.Id)
</form>
<script>
    function onChange()
    {
        var e = document.getElementById("ddldatatype");
        var strtype = e.value;
        if (strtype == "@DataTypeEnum.Object") {
            document.getElementById("BreInputDataType").value ='@BreInputDataTypeEnum.Object';
        }
        else
        {
            document.getElementById("BreInputDataType").value ='@BreInputDataTypeEnum.Property';
        }
    }
    function Close() {
     
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>

