@using Synergy.App.Common;
@model CMS.UI.Web.Controllers.TestModel
@inject IUserContext culture;
@{
    Layout = null;
}
<form asp-action="Index" asp-controller="Test">
    <label asp-for="@Model.Id" /><br />
    <input asp-for="@Model.Id" value="1276" />
    <label asp-for="@Model.Date" /><br />
    <input asp-for="@Model.Date" value="@culture.GetLocalNow" />
    <label asp-for="@Model.NullableDate" /><br />
    <input asp-for="@Model.NullableDate" value="@culture.GetLocalNow" /><br />
    <input type="submit" />
</form>  