@model Synergy.App.ViewModel.LoginViewModel
@using Synergy.App.Common
@{
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@*<link rel="stylesheet" href="~/Themes/Looper/dist/assets/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css" asp-append-version="true">
*@
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/stylesheets/theme.min.css" data-skin="default" asp-append-version="true">
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/vendor/flatpickr/flatpickr.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/Themes/Looper/dist/assets/stylesheets/custom.css" asp-append-version="true">
<style>
    #content-wrapper {
        background-color: #fff !important;
    }

    .modal-login {
        width: 380px !important;
    }

    #validation-summary > ul {
        list-style: none;
    }
</style>
<script>
    var skin = localStorage.getItem('skin') || 'default';
    var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
    var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
    disabledSkinStylesheet.setAttribute('rel', '');
    disabledSkinStylesheet.setAttribute('disabled', true);
    if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
</script>
<main class="auth">
    <header id="auth-header" class="auth-header" style="background-image: url(/themes/looper/dist/assets/images/illustration/img-1.png);">
        <h1>
            <div class="pt-3 d-none d-sm-block"></div>
            <img alt="" title="" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = ViewBag.Portal.LogoId })" />
            <div class="pt-4 d-none d-sm-block"></div>
            <span class="sr-only">Sign In</span>
        </h1>
        <p>
            @*Don't have a account? <a href="auth-signup.html">Create One</a>*@
        </p>
    </header><!-- form -->
    <form class="auth-form" id="loginform" asp-action="EmailLogin" asp-controller="Account" method="post" asp-area="">
        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label class="col-form-label" for="Email">Email</label>
            <input type="text" required="required" class="form-control" placeholder="Email" asp-for="Email">
        </div>
        <div class="form-group">
            @Html.HiddenFor(x => x.AuthenticateViewName)
            @Html.HiddenFor(x => x.LoginViewName)
            @Html.HiddenFor(x => x.PortalId)
            @Html.HiddenFor(x => x.ReturnUrl)
            <button class="btn btn-primary btn-block" type="submit">Sign In</button>

        </div>
        @if (ViewBag.Portal?.Name == "BLSCustomer")
        {
            <p class="text-center">
                Don't have an account? <a href="/portal/blscustomer?pageName=UserRegistration">Click here</a>
            </p>
        }
        @*<div class="text-center pt-3">
                <a href="/account/forgotpassword?portalId=@Model.PortalId" class="link">Forgot Password?</a>
            </div>*@<!-- /recovery links -->
    </form>
</main>
<script src="~/Themes/Looper/dist/assets/vendor/pace-progress/pace.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/stacked-menu/js/stacked-menu.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js" asp-append-version="true"></script>

<script src="~/Themes/Looper/dist/assets/javascript/theme.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/flatpickr/flatpickr.min.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/flatpickr/plugins/monthSelect/index.js" asp-append-version="true"></script>
<script src="~/Themes/Looper/dist/assets/vendor/particles.js/particles.js"></script>
<script>

    $(document).on('theme:init', () => {
        particlesJS.load('auth-header', '/themes/looper/dist/assets/javascript/pages/particles.json');
    })
</script>
<script src="~/Themes/Looper/dist/assets/javascript/theme.js"></script>
