@using CMS.UI.ViewModel
@using CMS.Common
@model UserViewModel
@{
    ViewData["Title"] = "Register";
    Layout = Model.Layout;

}

<style>
    .round-text-box {
        border-radius: 30px;
        height: 42px;
    }
    .login-body {
        background-color: #1d4993;
    }
    .logo-sml {
        right: 48px !important;
        top: 14px !important;
    }
</style>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register-screen</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Rec/recruitment.css">
</head>

<body>
    <div class="container main-bg" style="width: 966px;">
        <div class="register-body register-bg">
            <div class="row">
                <div class="col">
                    <div class="register-body-form">
                        <form asp-controller="CareerPortalDashboard" asp-action="Register" asp-area="Recruitment" class="form-horizontal"
                              data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                              data-ajax="true" data-ajax-method="POST">

                            <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>

                            <div class="row">
                                <div class="col email-tgap">
                                    <h4 class="title-register">Register</h4><label class="reg-text">First Name *</label><input asp-for="Name" type="text" class="round-text-box form-control" autocomplete="off" required="required" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col email-tgap"><label class="reg-text">Last Name *</label><input asp-for="LastName" type="text" class="round-text-box form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col email-tgap"><label class="reg-text">Email *</label><input asp-for="Email" type="email" class="round-text-box form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col email-tgap"><label class="reg-text">Password *</label><input asp-for="Password" type="password" class="round-text-box form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col email-tgap"><label class="reg-text">Confirm Password *</label><input asp-for="ConfirmPassword" type="password" class="round-text-box form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <input class="col pwd-tgap text-center" type="image" src="~/images/but-register.png" value="Save" />
                            </div>

                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.DataAction)
                            @Html.HiddenFor(x => x.PortalName)
                        </form>
                    </div>
                    <div class="logo-sml"><img style="height:58px;" src="~/images/Galfar-logo.png"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Rec/jquery.min.js"></script>
    <script src="~/js/Rec/bootstrap.min.js"></script>
</body>

</html>

@*<div id="container" style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

    <div class="row" style="padding:10px;">

        <div class="container main-bg" style="width: 966px;">
            <div class="login-body register-bg register-body">
                <div class="row">
                    <div class="col">
                        
                        <div class="register-body-form">

                            <form asp-controller="CareerPortalDashboard" asp-action="Register" asp-area="Recruitment" class="form-horizontal"
                                  data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                                  data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                                  data-ajax="true" data-ajax-method="POST">

                                <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>

                                    <div class="row">
                                        <div class="col email-tgap">
                                            <h4 class="title-register">Register</h4>
                                            <div class="reg-logo-sml"><img src="~/images/galfar-logo-sml.png"></div>
                                            <label class="reg-text">First Name *</label><input asp-for="Name" type="text" class="round-text-box form-control" autocomplete="off" required="required" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col email-tgap"><label class="reg-text">Last Name *</label><input asp-for="LastName" type="text" class="round-text-box form-control" autocomplete="off" required="required" /></div>
                                    </div>
                                    <div class="row">
                                        <div class="col email-tgap"><label class="reg-text">Email *</label><input asp-for="Email" type="email" class="round-text-box form-control" autocomplete="off" required="required" /></div>
                                    </div>
                                    <div class="row">
                                        <div class="col email-tgap"><label class="reg-text">Password *</label><input asp-for="Password" type="password" class="round-text-box form-control" autocomplete="off" required="required" /></div>
                                    </div>
                                    <div class="row">
                                        <div class="col email-tgap"><label class="reg-text">Confirm Password *</label><input asp-for="ConfirmPassword" type="password" class="round-text-box form-control" autocomplete="off" required="required" /></div>
                                    </div>
                                    <div class="row">
                                        <input class="col pwd-tgap text-center" type="image" src="~/images/but-register.png" value="Save" />
                                    </div>
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.HiddenFor(x => x.DataAction)
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
   </div>
</div>*@

<script type="text/javascript">
    var onAjaxSuccess = function (res) {
        if (res.success) {
            //ShowNotification("Registration Completed Successfully", "success");
            //alert("Registration Completed Successfully");
            if ('@Model.ReturnUrl'!==null && '@Model.ReturnUrl'!=='' ) {
                window.location.href = '@Model.ReturnUrl';
            }
            else {
                window.location.href = '/';
            }

        }
        else {
            console.log(res);
            showError(res.error);
        }
    };

    @*function OnSave(evt) {
        var email = $("#Email").val();
        if (email != "") {
            //  
            //var reg = "/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A - Za - z]{ 2, 4 }) $ /";
            if (reg.test())
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Country is required");
            evt.preventDefault();
            return false;
        }
        else if ($("#LicenseType").val() == "")
        {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("License type is required");
            evt.preventDefault();
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
        }
    }*@

</script>

