@using ActiveQueryBuilder.Web.Core.HtmlHelpers
@using CMS.Common
@model ActiveQueryBuilder.Web.Server.QueryBuilder
@{
    ViewBag.Title = "Load Metadata Demo";
    var controls = Html.QueryBuilder(Model, ViewContext.HttpContext.Request);
    Layout = string.Concat("~/Areas/CMS/Views/Shared/_LayoutCMS.cshtml");
}
<script>

    $(document).ready(function () {
        $("#ViewId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",

            dataSource: {
                transport: {
                    read: {
                        url: "/cms/AQB/GetViewIdNameList",
                    }
                }
            }
        });

    });

    function onViewChange(e) {
        //var id = $("#ViewId").data("kendoDropDownList").value();
        //if (id != null && id != "") {
        //    $.ajax({
        //        url: '/cms/AQB/GetViewQueryById?Id=' + id,
        //        type: "Get",

        //        dataType: "json",
        //        success: function (result) {
        //            if (result.success) {
        //                document.getElementsByName("sql-code")[0].value = result.query;
        //            }
        //        }
        //    });
        //}

    }
    function save() {
        var Query = document.getElementsByName("sql-code")[0].value;
        var win = GetMainWindow();
        win.iframeOpenUrl = '/Cms/AQB/ManageAQB?query=' + Query;
        win.OpenWindow({ Title: 'Active Query Builder', Width: 700, Height: 700 });
        return false;
    }
    function edit() {
        var Query = document.getElementsByName("sql-code")[0].value;
        var win = GetMainWindow();
        var Id=$("#ViewId").data("kendoDropDownList").value();
        win.iframeOpenUrl = '/Cms/AQB/ManageAQB?id=' + Id + '&query=' + Query;
        win.OpenWindow({ Title: 'Active Query Builder', Width: 700, Height: 700 });
        return false;
    }
    function onCreateView()
    {
       // $("#QueryBuilder").show();
        $("#actions").hide();
        $("#btnEdit").hide();
        $("#btnSave").show();
        $("#cancel").show();

          @*$.ajax({
                    url:'@Url.Action("LoadMetadata", "AQB", new { @area = "Cms" })',
                    success: function () {
                        AQB.Web.QueryBuilder.fullUpdate();
                        HideLoader('#dbexplore');
                },
                error: function (errData) {
                    OnError(errData);
                    HideLoader('#dbexplore');
                }
                });*@
    }
    function onEditView() {
        $("#actions").hide();
        $("#btnEdit").show();
        $("#btnSave").hide();
        $('#myModal').modal('toggle');
        $("#cancel").show();
        var id = $("#ViewId").data("kendoDropDownList").value();
        if (id != null && id != "") {
            $.ajax({
                url: '/cms/AQB/GetViewQueryById?Id=' + id,
                type: "Get",

                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        document.getElementsByName("sql-code")[0].value = result.query;
                        AQB.Web.QueryBuilder.refreshSql();
                    }
                }
            });
        }

    }

    function cancel()
    {
        $("#btnEdit").hide();
        $("#btnSave").hide();
        $("#actions").show();
        $("#cancel").hide();
        $("#ViewId").data("kendoDropDownList").dataSource.read();
        $("#ViewId").data("kendoDropDownList").value('');
        document.getElementsByName("sql-code")[0].value = "";
        AQB.Web.QueryBuilder.refreshSql();

    }
    function onPopupClose() {
        $("#btnEdit").hide();
        $("#btnSave").hide();
        $("#actions").show();
        $("#cancel").hide();
        $("#ViewId").data("kendoDropDownList").value('');
        document.getElementsByName("sql-code")[0].value = "";
        $('#myModal').modal('toggle');
        AQB.Web.QueryBuilder.refreshSql();
    }
</script>

<!-- The Modal -->
<div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit View</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @*<input type="hidden" name="udfId" id="udfId" />*@                
                <div class="col-12 pad-10">
                    <label for="ViewId">View Name</label>
                    @*@(Html.Kendo().DropDownList().Name("ViewId")
                           .DataTextField("Name")
                                        .DataValueField("Id")
                                        //.Events(x=>x.Change("onViewChange"))
                           .DataSource(source =>
                           {
                               source.Read(read =>
                               {
                                   read.Action("GetViewIdNameList", "AQB", new { @area  = "cms" });
                               });
                           })
                           //.Value(Model.Schema.ToString())
                           .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                              .HtmlAttributes(new { style = "width: 50%" })
                        )*@

                    <input id="ViewId" style="width: 50%" />
                </div>
              
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="onEditView(event);">Edit View</button>
                <button type="button" class="btn btn-danger" @*data-dismiss="modal"*@ onclick="onPopupClose(event)">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="row p-2" id="QueryBuilder" @*style="display:none"*@>
    <div class="col">
        @controls.GetHtml()
        <div class="qb-ui-layout">

            <div class="qb-ui-layout__left">
                <div class="qb-ui-structure-tabs">
                    <div class="qb-ui-structure-tabs__tab">
                        <input type="radio" id="tree-tab" name="qb-tabs" checked />
                        <label for="tree-tab">Database</label>
                        <div id="dbexplore" class="qb-ui-structure-tabs__content">
                            @controls.ObjectTreeView().GetHtml()
                        </div>
                    </div>
                </div>
            </div>
            <div class="qb-ui-layout__right">
                <div class="pb-2">
                    @*<input type="text"  />*@
                    @**@
                    <input type="button" value="Save" class="btn btn-primary" onclick="edit();" id="btnEdit" style="display:none;" />
                    <input type="button" value="Save" class="btn btn-primary" onclick="save();" id="btnSave" style="display:none;"/>
                    <input type="button" value="Cancel" class="btn btn-primary" onclick="cancel();" id="cancel" style="display:none;"/>
                    <div id="actions">
                        <input type="button" value="Create View" class="btn btn-primary" onclick="onCreateView();" />
                        <input type="button" value="Edit View" class="btn btn-primary" @*onclick="onEditView();"*@ data-toggle='modal' data-target='#myModal' />
                    </div>
                </div>
                <div class="qb-ui-layout__right-top">

                    @controls.SubQueryNavigationBar().GetHtml()
                    @controls.Canvas().GetHtml()
                    @controls.StatusBar().GetHtml()
                </div>
                <div class="qb-ui-layout__right-bottom">
                    <div class="qb-ui-structure-tabs">
                        <div class="qb-ui-structure-tabs__tab">
                            <input type="radio" id="qcl-tab" name="right-tabs" checked />
                            <label for="qcl-tab">Column List</label>
                            <div class="qb-ui-structure-tabs__content">
                                @controls.Grid(s => s.OrColumnCount = 0).GetHtml()
                            </div>
                        </div>
                        <div class="qb-ui-structure-tabs__tab">
                            <input type="radio" id="sql-tab" name="right-tabs" />
                            <label for="sql-tab">SQL Text</label>
                            <div id="divsql" class="qb-ui-structure-tabs__content">
                                @controls.SqlEditor().GetHtml()

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<script>
 
    $(document).ready(function () {
     
        ShowLoader($('#QueryBuilder'));
            $.ajax({
                    url:'@Url.Action("LoadMetadata", "AQB", new { @area = "Cms" })',
                    success: function () {
                        AQB.Web.QueryBuilder.fullUpdate();
                        document.getElementsByName("sql-code")[0].value = "";
                        AQB.Web.QueryBuilder.CanvasComponent.refresh();
                        AQB.Web.QueryBuilder.refreshSql();
                        HideLoader($('#QueryBuilder'));
                        debugger
                },
                error: function (errData) {
                    OnError(errData);
                    HideLoader($('#QueryBuilder'));
                }
                });
        });
</script> 