@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations

@model NtsServiceSharedViewModel;


@{
    //Layout = null;
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@inject Synergy.App.Common.IUserContext _userContext


<style>
    .k-radio-label {
        margin: 20px;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
    }
    .k-radio-item {
        display: contents;
        padding: 0 0 0 12px;
        margin: 12px auto;
    }
    .k-radio:checked {
        border-color: #ffff;
        color: #212529;
        background-color: #ffff;
    }
    .avatar-myProfile {
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    .drp-user {
        width: 100%;
        max-width: 450px;
    }
    .iconwithtextan {
        margin-bottom:10px;
    }
    img {
        vertical-align: middle;
        border-style: none;
        border-radius: 5px;
        width:40px;
        height:40px;
    }
    .k-widget.form-control {
        margin: 6px;
    }

    #listViewTM {
        padding: 5px 5px;
        margin-bottom: -1px;
    }


    .SYN-Main-wrapper {
        width: 700px;
        height: auto;
        padding: 0;
        margin: 20px auto;
        box-shadow: 4px 4px 10px #CBD0CE;
        border-radius: 6px;
        background-color:#fff;
    }

    .SYN-upload-row {
        width: 96%;
        padding: 0;
        margin: 15px auto;
        background-color: #10B0ED;
        border-radius: 6px;
    }

    .SYN-ico-pdf {
        width: 100%;
        padding: 14px 0 10px 14px;
        margin: 0 auto;
    }

    .SYN-ico-action {
        padding: 10px 4px;
        margin: 4px;
        float: left;
        color:red;
        cursor:pointer;
    }

    .SYN-tag-field {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #939598;
    }

    .SYN-txt-field {
        padding: 0;
        margin: 0;
    }

    .SYN-row-gap {
        padding: 0;
        margin: 12px 0;
    }

    .SYN-dummy-row {
        width: 96%;
        padding: 4px;
        margin: 4px auto;
    }

    .SYN-list-box {
        width: 95%;
        padding: 0;
        margin: 4px auto;
        border-radius: 6px;
        border: 1px solid #CBD0CE;
    }

    .SYN-sub-docName {
        padding: 2px 0 2px 0;
        font-size: 14px;
    }

    .SYN-sub-white-txt {
        padding: 2px 0 2px 12px;
        font-size: 14px;
    }

    .SYN-inn-title-row {
        width: 96%;
        padding: 0;
        margin: 4px auto;
        background-color: #353535;
        border-radius: 6px;
        color: #fff;
    }

    .SYN-ico-close {
        width: 96%;
        padding: 6px;
        margin: 6px auto;
        height: auto;
    }

    .SYN-ico-expand {
        width: 96%;
        padding: 6px;
        margin: 6px auto;
        height: auto;
    }

    .SYN-inn-row {
        width: 96%;
        padding: 0;
        margin: 4px auto;
    }

    .SYN-sub-title {
        font-weight: 500;
        font-size: 14px;
    }

    .SYN-white-text {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
    }

    .SYN-main-title {
        font-weight: 500;
        font-size: 16px;
        padding: 16px 0;
    }

    .SYN-radio-box {
        padding: 0 0 0 12px;
        margin: 12px auto;
    }

    .SYN-but-share {
        padding: 6px 48px;
        border-radius: 6px;
    }

    .SYN-dd-button {
        width: 96%;
        padding: 0;
        margin: 0 auto;
    }

a {
  color: #8e888a;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: #a7a0a2;
}

@*@media (max-width:767px) {
  a {
    font-size: 25px;
  }
}*@

.x-drop-btn {
  width: 100%;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  padding: 9px 1.25rem;
  color: #666;
  font-size: 1.25rem;
  font-weight: 500;
}

.x-drop-btn:hover {
  cursor: pointer;
}

.x-drop-btn i {
  position: absolute;
  font-size: 32px;
  right: 16px;
}

.x-dropdown .dropdown-menu {
  right: 0px;
  border: none;
  padding: 8px 0px;
}

    .radiolabel {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }

</style>

<script>



      $(document).ready(function () {
        //
       @* var userId = '@Model.TaskSharedWithType';*@
        //var userId = $("#AssignedToTypeName").data("kendoDropDownList").value();
        //alert(userId);
         // $(document).ready(function () {
              document.getElementById("listViewTM").style.border = "none";
                $("#SharedWithUserId").kendoDropDownList({
                    optionLabel: "select user",
          dataTextField: "Name",
          dataValueField: "Id",
          value: "@Model.SharedWithUserId",
          filter: "contains",
          height: 400,
          autoBind: false,
          template: kendo.template($("#drp-user-template").html()),
                    cascadeFrom: "ServiceSharedWithTypeId",
          //filtering: function (e) {
          //    var filterValue = e.filter != undefined ? e.filter.value : "";
          //    e.preventDefault();
          //    this.dataSource.filter({
          //        logic: "or",
          //        filters: [
          //            {
          //                field: "Name",
          //                operator: "contains",
          //                value: filterValue
          //            },
          //            {
          //                field: "Email",
          //                operator: "contains",
          //                value: filterValue
          //            }
          //        ]
          //    });
          //},
          dataSource: {
              serverFiltering: false,
              transport: {
                  read: {
                      dataType: "json",
                      url: "/Cms/User/GetUsersListOnTypeBasis?portalId=@_userContext.PortalId",
                      data: Filter
                  }
              }
          }
      });

      $("#SharedWithTeamId").kendoDropDownList({
          optionLabel: "select team",
          dataTextField: "Name",
          dataValueField: "Id",
          filter: "contains",
          autoBind: true,
          dataSource: {
              transport: {
                  read: {
                      url: "/cms/ReadTeamData?portalId=@_userContext.PortalId",
                  }
              }
          }
      });

          var dataSource = new kendo.data.DataSource({
              transport: {
                  read: {
                      url: "/Cms/ReadServiceSharedData?serviceId="+'@Model.NtsServiceId',
                      dataType: "json",
                  }
              },
          });

          $("#listViewTM").kendoListView({
              dataSource: dataSource,
              template: kendo.template($("#templateTM").html())
          });

   });




    @*function AssignToValueMapper(options) {
        $.ajax({
            url: "@Url.Action("GetAssignToValueMapper", "Cms",new { @area = "" })",
            data: {
                value: $("#AssignedTo").val() || 0,
                assignToType: $("#AssignToType").val(),
                teamId: $("#TeamId").val(),
            },
            success: function (data) {
                options.success(data);
            }
        });
    }*@

    //function OnDataBound(e) {
    //    var listView = $("#listViewTM").data("kendoListView").dataSource.data();
    //    if (listView.length > 0) {
    //    }
    //}
    function onChange(e) {
        if (e.value == 1) {
            $("#UserDiv").show();
            $("#TeamDiv").hide();
        }
        else   {

            $("#TeamDiv").show();
            $("#UserDiv").show();
        }
    }
    function Filter() {
        // alert( $("#SharedWithTeamId").val());
        return {
            teamId: $("#SharedWithTeamId").data("kendoDropDownList").value(),
            assigneeType: $('input[name=ServiceSharedWithTypeId]:checked').val()
            //assigneeType: $("#ServiceSharedWithTypeId").data("kendoRadioGroup").value(),
        }
        i@*f (userId != '' && userId != null) {
            var t = '@Model.Id';

            $.ajax({
                type: "POST",
                url: "/Cms/create",
                //data: { 'users': Users, 'teams': Teams, 'serviceId': t, 'action': act },
                data: { 'users': userId, 'teams': '0', 'taskId': t },

                success: function (data) {
                    //$("#kgrdServiceShared").data("kendoGrid").dataSource.read({ serviceId: data.ServiceId });
                    $("#listViewTM").data("kendoListView").dataSource.read({ taskId: t });
                    ShowNotification("Task Shared to User");
                    $("#UserDiv").data("kendoDropDownList").value(-1);

                }
            });
        }*@
    }
    function onchangetype(e) {
        var search = Filter();
        $("#SharedWithUserId").data("kendoDropDownList").dataSource.read(search);
        //var assigneeType = $("#ServiceSharedWithTypeId").data("kendoRadioGroup").value();
        // alert(userId);
        var assigneeType = $('input[name=ServiceSharedWithTypeId]:checked').val();
        if (assigneeType == 1) {
            $("#SharedWithTeamId").data("kendoDropDownList").value("");
            $("#UserDiv").show();
            $("#TeamDiv").hide();


        }
        else if (assigneeType == 2) {
            $("#UserDiv").hide();
            $("#TeamDiv").show();

        }

    }
    //function TeamChange() {
    //    $("#UserDiv").show();

    //}
    function onchangeteam() {
        $("#UserDiv").show();
        var search = Filter();
        $("#SharedWithUserId").data("kendoDropDownList").dataSource.read(search);
           @*var team = e.sender.dataItem();
        var teamId = team.Id;
         if (teamId != '' && teamId != null) {
            var t = '@Model.Id';

            $.ajax({
                type: "POST",
                url: "/Cms/create",
                //data: { 'users': Users, 'teams': Teams, 'serviceId': t, 'action': act },
                data: { 'users': '0', 'teams': teamId, 'taskId': t},

                success: function (data) {
                    $("#listViewTM").data("kendoListView").dataSource.read({ taskId: t });
                    ShowNotification("Service Shared to Team");
                    $("#TeamDiv").data("kendoDropDownList").value(-1);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                dataType: "json",
            });
        }*@
    }
    function onDeleteClick(id) {
        ShowLoader();
            $.ajax({
                type: "POST",
                url: "/Cms/DeleteServiceShared",
                data: { 'id': id},
                success: function (data) {
                    HideLoader();                    
                    $("#listViewTM").data("kendoListView").dataSource.read({ serviceId: '@Model.NtsServiceId' });
                    FillSharingCount();
                },
                error: function (err) { HideLoader();},
                dataType: "json",
            });
        }
    function TaskShare()
    {        
        //var radioGroup = $("#ServiceSharedWithTypeId").getKendoRadioGroup();
        var radioGroup = $('input[name=ServiceSharedWithTypeId]:checked').val();
        ShowLoader();
        $.ajax({
                type: "POST",
            url: "/Cms/ShareService",
            data: {
                'NtsServiceId': '@Model.NtsServiceId',
                'SharedWithUserId': $("#SharedWithUserId").data("kendoDropDownList").value(),
                'SharedWithTeamId': $("#SharedWithTeamId").data("kendoDropDownList").value(),
                'ServiceSharedWithTypeId': radioGroup
            },
            success: function (data) {
                
                HideLoader();                
                $("#listViewTM").data("kendoListView").dataSource.read({ serviceId: '@Model.NtsServiceId' });
                FillSharingCount();
            },
            error: function () { HideLoader();},
                dataType: "json",
        });
    }
    function FillSharingCount() {
        
        var win = GetMainWindow().GetParentWindow();
        win.FillSharingCount();
    }

</script>
@*<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
        <div style="margin-top:10px;margin-bottom:20px;padding-left:100px" class="row">
            <div class="col-md-12">
                <div class="row" style="text-align:center;">

                    @(Html.Kendo().RadioGroup()
                .Name("ServiceSharedWithTypeId")
                .Items(i =>
                {
                    i.Add().Label("Share with User").Value("1");
                    i.Add().Label("Share with Team").Value("2");

                })
                .Value("1")
                 .Events(e => e.Change("onchangetype"))
            )

                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>

        <div class="row">


            <div class=" col-10 pad-10" id="TeamDiv" style="display:none">
                <div class="col-12">Team </div>
                <div class="form-label-group">

                    @(Html.Kendo().DropDownListFor(x => x.SharedWithTeamId)
                                   .DataSource(source =>
                                   {
                                       source.Read(read =>
                                       {
                                           read.Action("ReadTeamData", "Cms", new { @area = "" });
                                       });
                                   }).OptionLabel("select")
                        .DataTextField("Name")
                        .DataValueField("Id")
                       // .Events(e => e.Change("TeamChange"))
                                  .HtmlAttributes(new { @class = "form-control" })
                                //  .Events(e => e.Change("onchangeteam"))
               )


                </div>


            </div>

            <div class="col-10" id="UserDiv">
                <div class="col-12">User </div>
                <div class="form-label-group">
                    @(Html.Kendo().DropDownListFor(x => x.SharedWithUserId)
                                        .OptionLabel("select")
                                        .Filter(FilterType.Contains)
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Height(400)
                                        .TemplateId("drp-user-template")
                                        .CascadeFrom("ServiceSharedWithTypeId").AutoBind(false)
                                        //.CascadeFrom("SharedWithTeamId").AutoBind(false)
                                        //.ValueTemplateId("drp-user-value-template")

                                        .HtmlAttributes(new{ @class="form-control"})

                                        .DataSource(source =>
                                        {

                                            source.Read(read =>
                                            {
                                                read.Action("GetUsersListOnTypeBasis", "User", new { @area = "Cms" }).Data("Filter");
                                            }).ServerFiltering(true);
                                            //source.Custom()
                                            //     .ServerFiltering(true)
                                            //    .ServerPaging(true)
                                            //    .PageSize(100)
                                            //    .Type("aspnetmvc-ajax")
                                            //    .Transport(transport =>
                                            //    {
                                            //        transport.Read("ReadUserData", "User", new { @area = "Cms" });
                                            //    })
                                            //    .Schema(schema =>
                                            //    {
                                            //        schema.Data("Data")
                                            //        .Total("Total");
                                            //    });
                                        })
                                         .Events(events => events.Filtering(
                            @<text>
                                function(e) {
                                   var filterValue = e.filter != undefined ? e.filter.value : "";
                                        e.preventDefault();

                                      this.dataSource.filter({
                                        logic: "or",
                                        filters: [
                                          {
                                            field: "Name",
                                            operator: "contains",
                                            value: filterValue
                                          },
                                          {
                                            field: "Email",
                                            operator: "contains",
                                            value: filterValue
                                          }
                                        ]
                                      });
                                }
                                </text>
                                ))
                                        )
                </div>



            </div>
            <div class="col-2" style="top:24px;">
                <button onclick="TaskShare()" class="btn btn-primary" >Share</button>
            </div>

        </div>
        <div>
            @(Html.Kendo().ListView<NtsServiceSharedViewModel>
                        ()
                        .Name("listViewTM")
                        .TagName("div")
                        //  .Events(e => e.DataBound("OnDataBound"))
                        .ClientTemplateId("templateTM")
                        .AutoBind(true)
                        .DataSource(dataSource => dataSource
                        .Ajax()

                        .Read(read => read.Action("ReadServiceSharedData", "Cms", new { @area = "", serviceId = Model.NtsServiceId }))
                      )
                        )




        </div>
        <script type="text/x-kendo-tmpl" id="drp-user-template">
                  <div class="row no-gutter pb-1 pt-1">
                      <div class="col-2">
                      #if(data.PhotoId!=null)
                          {#<img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#"  /> #}
                      else
                          {#<img class="avatar-myProfile" style="background-color:gray;" src="/images/profile.jpg" />#}#
                     </div>
                     <div class="col-10">
                        <div class="col-12">
                          <span style="padding:5px;">#:Name#</span></div>
                        <div class="col-12">
            #if (data.Email!=null)
                              {#<span style="padding:5px;font-size:12px;">#:Email#</span>  # } #
                        </div>
                     </div>
                </div>
        </script>

        <script type="text/x-kendo-tmpl" id="templateTM">
            <div>
                <div class="">
                    <div style="padding-left: 10px;">
                        <div class="iconwithtextan">
                            <div class="row" style="width:100%;margin-bottom: 10px;margin:0px">
                                <div class="col-2">

                                #if(PhotoId!=null){#
                        <img width="40" height="40"  src="/user/profilephoto?id=#:PhotoId#" /> #}
                        else{#
                        <img width="40" height="40" style="background-color:gray;" src="/images/profile.jpg" />#}#</div>
                                 <div class="col-4">
                                    <span style="font-size: 16px; padding-left:15px">#:Name#</span>
                                </div>
                                 <div class="col-4">

                              <span style="padding:5px;font-size:12px;">#:Type#</span>
            </div>

             <div class="col-2" style="margin-top: 4px;">
                                    <a id='dele' class='k-icon k-i-delete pull-right' title="Click to delete" href='javascript:onDeleteClick("#:Id#");'></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>*@

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <div class="SYN-Main-wrapper">
        <div class="SYN-inn-row">
            <div class="row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    @*<label class="col-form-label SYN-main-title">Task Attachment</label>*@
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="row">
                        @*<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 SYN-ico-expand"><img src="assets/img/ico-expand.png"></div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 SYN-ico-close"><img src="assets/img/ico-close.png"></div>*@
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IsSharingEnabled)
        {
            <div class="SYN-upload-row">
                <div class="row">
                    <div class="col-12" style="margin:10px;">
                        @*@(Html.Kendo().RadioGroup()
                            .Name("ServiceSharedWithTypeId")
                            .Items(i =>
                            {
                                i.Add().Label("Share with User").Value("1");
                                i.Add().Label("Share with Team").Value("2");
                            })
                            .Value("1")
                            .Events(e => e.Change("onchangetype"))
                        )*@

                        <section class="section-preview">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="1" name="ServiceSharedWithTypeId" value="1" onchange="onchangetype();" checked>
                                <label class="custom-control-label radiolabel" for="1">Share with User</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="2" name="ServiceSharedWithTypeId" value="2" onchange="onchangetype();">
                                <label class="custom-control-label radiolabel" for="2">Share with Team</label>
                            </div>
                        </section>
                    </div>

                    @*<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="SYN-radio-box">
                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label SYN-white-text" for="formCheck-1">Share with User</label></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="SYN-radio-box">
                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label SYN-white-text" for="formCheck-1">Share with Team</label></div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div id="UserDiv">
                <div class="SYN-inn-row">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><label class="col-form-label SYN-sub-title">Select user to share</label></div>
                    </div>
                </div>
                <div class="SYN-dd-button">
                    <div class="row">
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <div class="x-dropdown dropdown">
                                @*<div class="text-left x-drop-btn" data-toggle="dropdown" aria-expanded="false"><span>Select user</span><i class="material-icons">keyboard_arrow_down</i></div>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">xxxxx1</a><a class="dropdown-item" role="presentation" href="#">xxxx2</a><a class="dropdown-item" role="presentation" href="#">xxxxxx3</a></div>*@
                                @*@(Html.Kendo().DropDownListFor(x => x.SharedWithUserId)
                                    .OptionLabel("select user")
                                    .Filter(FilterType.Contains)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .Height(400)
                                    .TemplateId("drp-user-template")
                                    .CascadeFrom("ServiceSharedWithTypeId").AutoBind(false)
                                    //.CascadeFrom("SharedWithTeamId").AutoBind(false)
                                    //.ValueTemplateId("drp-user-value-template")

                                    .HtmlAttributes(new{ @class="form-control"})

                                    .DataSource(source =>
                                    {

                                        source.Read(read =>
                                        {
                                            read.Action("GetUsersListOnTypeBasis", "User", new { @area = "Cms", portalId = _userContext.PortalId }).Data("Filter");
                                        })//.ServerFiltering(true)
                                        ;
                                        //source.Custom()
                                        //     .ServerFiltering(true)
                                        //    .ServerPaging(true)
                                        //    .PageSize(100)
                                        //    .Type("aspnetmvc-ajax")
                                        //    .Transport(transport =>
                                        //    {
                                        //        transport.Read("ReadUserData", "User", new { @area = "Cms" });
                                        //    })
                                        //    .Schema(schema =>
                                        //    {
                                        //        schema.Data("Data")
                                        //        .Total("Total");
                                        //    });
                                    })
                                     .Events(events => events.Filtering(
                        @<text>
                            function(e) {
                               var filterValue = e.filter != undefined ? e.filter.value : "";
                                    e.preventDefault();

                                  this.dataSource.filter({
                                    logic: "or",
                                    filters: [
                                      {
                                        field: "Name",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                      {
                                        field: "Email",
                                        operator: "contains",
                                        value: filterValue
                                      }
                                    ]
                                  });
                            }
                            </text>
                            ))
                                    )*@
                                <input asp-for="SharedWithUserId" id="SharedWithUserId" class="form-control" />
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="padding:5px;">
                            <button class="btn btn-dark SYN-but-share" type="button" onclick="TaskShare()">Share</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="TeamDiv" style="display:none">
                <div class="SYN-inn-row">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><label class="col-form-label SYN-sub-title">Select team to share</label></div>
                    </div>
                </div>
                <div class="SYN-dd-button">
                    <div class="row">
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <div class="x-dropdown dropdown">
                                @*<div class="text-left x-drop-btn" data-toggle="dropdown" aria-expanded="false"><span>Select user</span><i class="material-icons">keyboard_arrow_down</i></div>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">xxxxx1</a><a class="dropdown-item" role="presentation" href="#">xxxx2</a><a class="dropdown-item" role="presentation" href="#">xxxxxx3</a></div>*@
                                @*@(Html.Kendo().DropDownListFor(x => x.SharedWithTeamId)
                               .DataSource(source =>
                               {
                                   source.Read(read =>
                                   {
                                       read.Action("ReadTeamData", "Cms", new { @area = "", portalId = _userContext.PortalId });
                                   });
                               }).OptionLabel("select team")
                    .DataTextField("Name")
                    .DataValueField("Id")
                   // .Events(e => e.Change("TeamChange"))
                              .HtmlAttributes(new { @class = "form-control" })
                            //  .Events(e => e.Change("onchangeteam"))
           )*@
                                <input asp-for="SharedWithTeamId" id="SharedWithTeamId" class="form-control" />

                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="padding:5px;">
                            <button class="btn btn-dark SYN-but-share" type="button" onclick="TaskShare()">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div style="margin-top:15px;">
            @*@(Html.Kendo().ListView<NtsTaskSharedViewModel>
                    ()
                    .Name("listViewTM")
                    .TagName("div")
                    //  .Events(e => e.DataBound("OnDataBound"))
                    .ClientTemplateId("templateTM")
                    .AutoBind(true)
                    .DataSource(dataSource => dataSource
                    .Ajax()

                    .Read(read => read.Action("ReadServiceSharedData", "Cms", new { @area = "", serviceId = Model.NtsServiceId }))
                  )
                    )*@

            <div id="listViewTM"></div>
        </div>
        <script type="text/x-kendo-tmpl" id="drp-user-template">
                  <div class="row no-gutter pb-1 pt-1">
                      <div class="col-2">

                      #if(data.PhotoId!=null && data.PhotoId!="")
                          {#<img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#"  /> #}
                      else
                          {#<img class="avatar-myProfile" style="background-color:gray;" src="/images/profile.jpg" />#}#
                     </div>
                     <div class="col-10">
                        <div class="col-12">
                          <span style="padding:5px;">#:Name#</span></div>
                        <div class="col-12">
            #if (data.Email!=null)
                              {#<span style="padding:5px;font-size:12px;">#:Email#</span>  # } #
                        </div>
                     </div>
                </div>
        </script>

        <script type="text/x-kendo-tmpl" id="templateTM">
                <div class="SYN-list-box">
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="SYN-ico-pdf">
                            #if(PhotoId!=null && data.PhotoId!=""){
                                if(Type=="User"){#
                            <img src="/user/profilephoto?id=#:PhotoId#" /> #}
                            else{
                            #<img src="/cms/Document/GetImageMongo?id=#:PhotoId#" /># }}
                            else{if(Type=="User"){#<img style="background-color:gray;" src="/images/profile.jpg" />#}
                            else{#<img style="background-color:gray;" src="/images/icon-team64.png" />#}}#
            </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <div class="row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7"><label class="col-form-label SYN-txt-field SYN-row-gap">#:Name#<br></label></div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label SYN-txt-field SYN-row-gap">#:Type#<br></label></div>
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="SYN-ico-action">
                            <i class='fal fa-trash-alt li-fal' title="Click to delete" onclick="onDeleteClick('#=Id#')"></i>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </script>
        @*<div class="SYN-list-box">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="SYN-ico-pdf"><img src="assets/img/user1.png"></div>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <div class="row">
                        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7"><label class="col-form-label SYN-txt-field SYN-row-gap">Stephen Vogal<br></label></div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label SYN-txt-field SYN-row-gap">User<br></label></div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"><img class="SYN-ico-action" src="assets/img/ico-delete.png"></div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="SYN-dummy-row"></div>
    </div>
</div>


