@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using System.Text.RegularExpressions;
@inject IUserContext _userContext;
@model NotificationViewModel

@{
    ViewData["Title"] = "Notifications";
    Layout = ViewBag.Layout ?? null;
}


@*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.2.802/styles/kendo.default-v2.min.css" />*@

@*<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>*@
@*<script src="https://kendo.cdn.telerik.com/2022.2.802/js/kendo.all.min.js"></script>*@

<script>
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PortalAdmin/NotificationTemplate/ReadNotificationlist",
                    data: FilterData,
                    dataType: "json",
                }
            },
            pageSize: 10
        });

        $("#NotificationlistView").kendoListView({
            dataSource: dataSource,
            height: 350,
            scrollable: "endless",
            //navigatable: true,
            //pageable: true,
            template: kendo.template($("#template").html()),
            dataBound: function () {
                $("#NotificationlistView").removeClass();
                $("#NotificationlistView").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");
                $("#NotificationlistView").children('.k-listview-content').removeClass("k-listview-content");
            }
        });

        function FilterData() {
            var search = {
                date : '@Model.WeekDate',
                refType : '@ViewBag.Type',
                refTypeId : '@Model.ReferenceTypeId'
            };
            return search;
        }

        $('#trashTab').on('click', function () {
            $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', archive: true, refTypeId: '@Model.ReferenceTypeId'});
            return;
        });

        $('#allTab').on('click', function () {
            $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', refTypeId: '@Model.ReferenceTypeId'});
             return;
        });


        $('#starredTab').on('click', function () {
             $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', starred: true, refTypeId: '@Model.ReferenceTypeId'});
             return;
        });

    });

    function htmlDecode(value) {
        return value.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }

    $("#mysearch2").keyup(function () {

        var val = $('#mysearch2').val();
        var listView = $("#NotificationlistView").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Subject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "From",
                    operator: "contains",
                    value: val
                },
                {
                    field: "Body",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ReferenceTypeNo",
                    operator: "contains",
                    value: val
                },


            ]
        });
        var data = listView.dataSource.total();
        if (data == 0) {
            $('#no-data-search').show();
        } else {
            $('#no-data-search').hide();
        }
    });

    function MarkNotificationAsRead(id) {
        $.ajax({
            url: "/cms/MarkNotificationAsRead?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', /*read: valueR, archive: valueA,*/ refTypeId:'@Model.ReferenceTypeId' });
                $("#UnReadCount").innerHtml(@ViewBag.UnReadCount);

            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function MarkNotificationAsNotRead(id) {
        $.ajax({
            url: "/PortalAdmin/NotificationTemplate/MarkNotificationAsNotRead?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                debugger;
                $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', /*read: valueR, archive: valueA,*/ refTypeId:'@Model.ReferenceTypeId' });
                $("#UnReadCount").innerHtml(@ViewBag.UnReadCount);

            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function ArchiveNotification(id) {
        $.ajax({
            url: "/PortalAdmin/NotificationTemplate/ArchiveNotification?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', /*read: valueR, archive: valueA,*/ refTypeId:'@Model.ReferenceTypeId' });


            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function UnArchiveNotification(id) {
        $.ajax({
            url: "/PortalAdmin/NotificationTemplate/UnArchiveNotification?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                if ($("#trashTab").hasClass('active')) {
                    $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', archive: true, refTypeId:'@Model.ReferenceTypeId' });
                }
                else {
                    $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', refTypeId: '@Model.ReferenceTypeId' });
                }

            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function StarNotification(id) {

        $.ajax({
            url: "/PortalAdmin/NotificationTemplate/StarNotification?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', /*read: valueR, archive: valueA,*/ refTypeId:'@Model.ReferenceTypeId' });

            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function UnStarNotification(id) {

        $.ajax({
            url: "/PortalAdmin/NotificationTemplate/UnStarNotification?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                if ($("#starredTab").hasClass('active')) {
                    $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', starred: true, refTypeId: '@Model.ReferenceTypeId' });
                }
                else {
                    $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', refTypeId: '@Model.ReferenceTypeId' });
                }


            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }
    var i = 0;
    function getId() {
        i = i + 1;
        var id = "star" + i;
        return id;
    }
    function getStarId() {
        var id = "star" + i;
        return id;
    }

</script>


<!-- .app-main -->
<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .page -->
        <div class="page">
            <!-- .page-navs -->
            <nav class="page-navs">
                <!-- .nav-scroller -->
                <div class="nav-scroller">
                    <!-- .nav -->
                    <div class="nav nav-tabs">
                        <a class="nav-link active show" data-toggle="tab" id="allTab" href="#tab1">All <span id="UnReadCount" class="badge"></span></a>
                        <a class="nav-link" data-toggle="tab" id="starredTab" href="#tab2">Starred</a>
                        <a class="nav-link" data-toggle="tab" id="trashTab" href="#tab3">Archived</a>
                    </div><!-- /.nav -->
                </div><!-- /.nav-scroller -->
            </nav><!-- /.page-navs -->
            <!-- .page-inner -->
            <div class="page-inner">
                <!-- .page-title-bar -->
                <header class="page-title-bar">
                    <div class="d-flex justify-content-between">
                        <div class="d-md-inline-block">
                            <!-- .input-group -->
                            <div class="input-group input-group-alt">
                                <!-- .input-group -->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span class="fa-solid fa-magnifying-glass"></span></span>
                                    </div><input type="text" id="mysearch2" class="form-control" placeholder="Search message">
                                </div><!-- /.input-group -->
                                <div class="input-group-append d-none">
                                    <select class="custom-select">
                                        @*<option selected> Filter By </option>
                                            <option value="1"> Team </option>
                                            <option value="3"> Project </option>
                                            <option value="2"> People </option>*@
                                    </select>
                                </div>
                            </div><!-- /.input-group -->
                        </div>
                    </div><button type="button" class="btn btn-success btn-floated d-block d-sm-none"><span class="fa fa-plus"></span></button>
                </header><!-- /.page-title-bar -->
                <!-- .page-section -->
                <div class="page-section">
                    <!-- .card -->
                    <div class="card">

                        <div id="NotificationlistView"></div>


                        <script id="template" type="text/x-kendo-template">
                                                        <div class="card card-expansion-item">
                                                        <div class="list-group-item unread">
                                                            <div class="list-group-item-figure">
                                                                <a class="btn btn-reset" data-toggle="collapse" href="\\##=Id#"><span class="collapse-indicator mr-2"><i class="fa fa-fw fa-caret-right"></i></span></a>
                                                                #if(!IsStarred){# <span class="rating rating-sm mr-3"><input type="checkbox" id="#=getId()#" onclick='StarNotification("#:Id#")' value="1"> <label for="#=getStarId()#"><span class="fa fa-star"></span></label></span> #}
                                                                else{# <span class="rating rating-sm mr-3"><input type="checkbox" checked="checked" id="#=getId()#" onclick='UnStarNotification("#:Id#")' value="1"> <label for="#=getStarId()#"><span class="fa fa-star"></span></label></span> #}#
                                                                <div class="avatar has-badge">
                                                                    <a href="a" class="user-avatar"><img src="/cms/Document/GetImageMongo?id=#=PhotoId#" onerror="OnPhotoError(this);" alt=""></a> <span class="tile tile-xs tile-circle d-none"></span>
                                                                </div>
                                                            </div>
                                                            <div class="list-group-item-body pl-md-2">
                                                                <div class="row">
                                                                    <div class="col-12 col-lg-3 d-none d-lg-block">
                                                                         <h4 class="list-group-item-title text-truncate">
                                                                            #if(ReadStatus==1){# <a href="a" class="text-muted">#=From#</a> #}
                                                                            else{# <a href="a">#=From#</a> #}#
                                                                         </h4>
                                                                         <p class="list-group-item-text pt-1"> #=JobTitle# </p>

                                                                    </div>
                                                                    <div class="col-12 col-lg-9">
                                                                        <h4 class="list-group-item-title text-truncate">
                                                                            #if(ReadStatus==1){# <a href="a" class="text-muted">#=Subject#</a> #}
                                                                            else{# <a href="a">#=Subject#</a> #}#
                                                                        </h4>
                                                                        <p class="list-group-item-text"> #=DisplayCreatedDate# </p>

                                                                    </div>
                                                                    <div class="col-12 d-lg-none">
                                                                        <p class="list-group-item-text"> #=DisplayCreatedDate# </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list-group-item-figure">
                                                                <div class="dropdown">
                                                                    <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <div class="dropdown-arrow mr-n1"></div>
                                                                        #if(ReadStatus==0){# <a onclick='MarkNotificationAsRead("#:Id#")' class="dropdown-item">Mark as read</a> #}
                                                                        else{# <a onclick='MarkNotificationAsNotRead("#:Id#")' class="dropdown-item">Mark as unread</a> #}#
                                                                        #if(IsStarred==false){# <a onclick='StarNotification("#:Id#")' class="dropdown-item">Toggle Star</a> #}
                                                                        else{# <a onclick='UnStarNotification("#:Id#")' class="dropdown-item">Toggle Star</a> #}#
                                                                        #if(IsArchived==false){# <a onclick='ArchiveNotification("#:Id#")' class="dropdown-item">Archive</a> #}
                                                                        else{# <a onclick='UnArchiveNotification("#:Id#")' class="dropdown-item">UnArchive</a> #}#
                                                                    </div>
                                                                </div>
                                                            </div>

                                                         </div>
                                                            <div id="#=Id#" class="panel-collapse collapse">
                                                                <div class="card-body pt-0">
                                                                        #if(ReadStatus==1){# <p class="list-group-item-text text-truncate text-muted"> #if(Body!= null){#  #=htmlDecode(Body)# #}# </p> #}
                                                                        else{# <p class="list-group-item-text text-truncate"> #if(Body!= null){#  #=htmlDecode(Body)# #}# </p> #}#
                                                                </div>
                                                            </div>
                                                        </div>
                        </script>
                    </div><!-- /.card -->

                </div><!-- /.page-section -->
            </div><!-- /.page-inner -->
        </div><!-- /.page -->
    </div><!-- /.wrapper -->
</main><!-- /.app-main -->
