@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using System.Text.RegularExpressions;
@inject IUserContext _userContext;
@model NotificationViewModel

@{
    ViewData["Title"] = "Notifications";
    Layout = ViewBag.Layout ?? null;
}
<style>
    th {
        background-color: #006699 !important;
        color: #f2f2f2 !important;
    }

    .notification-title {
        background-color: #c1972a;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 40px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        display: flex;
        align-content: center;
        text-align: center;
    }

    .k-listview-content{
        height:auto !important;
    }

    .img-style {
        height: 75px;
        width: 75px;
        margin-top: 15px;
    }
    }
</style>

<style>
    .arrow_box {
        position: relative;
        background: #f2f2f2;
        border: 1px solid #808080;
    }
    
        .arrow_box:after, .arrow_box:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .arrow_box:after {
            border-color: rgba(242, 242, 242, 0);
            border-bottom-color: #f2f2f2;
            border-width: 15px;
            margin-left: -15px;
        }

        .arrow_box:before {
            border-color: rgba(128, 128, 128, 0);
            border-bottom-color: #808080;
            border-width: 16px;
            margin-left: -16px;
        }

    .notification-item {
        padding: 10px;
        /*  padding: 0px;*/
        /* border: 1px solid #c0c0c063;*/
        /* 1px solid silver;*/
        margin-bottom: 10px !important;
    }

    .notification-heading {
        padding: 0px !important;
        /* height: 75px;*/
        border-left-style: solid;
        border-left-width: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .notification-user {
        margin-top:10px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: default;
    }



    #content_popup {
        font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    }

    .panel {
        margin-top: 0px !important;
    }

        .panel .panel-heading {
            line-height: unset !important;
        }
    .panel-heading, .modal-header {
        background: #fff;
        color: #212529;
    }
    h5 {
        color: #797979 !important;
    }

    .k-checkbox-label {
        font-size: 20px;
        color: black;
    }
    .fa-archive {
        color: #007bff !important;
    }
    .fa-book-alt {
        color: #ffc107 !important;
    }
    .fa-book-open {
        color: #28a745 !important;
    }

    input#mysearch2{
        font-size: medium;
    }

</style>
<script>

    $(document).ready(function () {
        $("#WeekDate").kendoDatePicker({ value: "@Model.WeekDate", format: "@ApplicationConstant.DateAndTime.DefaultDateFormat", change: OnDateChange});
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PortalAdmin/NotificationTemplate/ReadNotificationlist",
                    data: FilterData,
                    dataType: "json",
                }
            },
            pageSize: 50
        });
        $("#pager").kendoPager({
            dataSource: dataSource,
            buttonCount: 5
        });
        $("#NotificationlistView").kendoListView({
            dataSource: dataSource,
            //change: OnChange,
            scrollable: "endless",
            pageable: true,
            template: kendo.template($("#template").html())
        });

        function FilterData() {
            var search = {
                date : '@Model.WeekDate',
                refType : '@ViewBag.Type',
                refTypeId : '@Model.ReferenceTypeId'
            };
            return search;
        }

    });

    function OnDeleteNotificationTemplate(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var flag = confirm('Do you really want to delete the Notification Template?');

        if (flag) {
            $.ajax({
                url: '@Url.Action("DeleteNoteNotification", "NotificationTemplate", new { @area= "PortalAdmin" })?Id=' + dataItem.id + '&ntsType=' + dataItem.NtsType,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    //
                    if (result.success) {
                        $("#kgrdNotificationTemplate").data("kendoGrid").dataSource.read();
                        kendo.alert("Notification Template Deleted Successfully");
                    } else {
                        $("#kgrdNotificationTemplate").data("kendoGrid").dataSource.read();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    //
                    $("#kgrdNotificationTemplate").data("kendoGrid").dataSource.read();
                }
            });
            return false;
        }
    }
     function OnCreateNotificationTemplate() {

         var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("ManageNotification", "NotificationTemplate", new { @area= "PortalAdmin" })';
        win.OpenWindow({ Title: 'Manage Notification Template', Width: 450, Height: 800 });
        return false;
    }

    function OnEditNotificationTemplate(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

          var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ManageNotification", "NotificationTemplate", new { @area= "PortalAdmin" })?Id=' + dataItem.Id + '&ntsType=' + dataItem.NtsType;
        win.OpenWindow({ Title: 'Manage Notification Template', Width: 450, Height: 800 });
        return false;
    }
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    function htmlDecode(value) {
        return value.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }
    function OnDateChange(e)
    {
        // $("#kgrdNotification").data("kendoGrid").dataSource.read({ date:e.sender.value()});
        var portalId = $('#GlobalPortalId').val();
        var customurl = encodeURIComponent('date=' + formatDate(e.sender.value()));
        var url = '/Cms/Page?pageName=Notifications&templateCodes=Notifications&portalId=' + portalId + '&customUrl=' + customurl;
        if ("@ViewBag.lo" == "Popup") {
            win = GetMainWindow();
            win.iframeOpenUrl = '/portaladmin/notificationtemplate/NotificationIndex?lo=@LayoutModeEnum.Popup&date=' + formatDate(e.sender.value());
            win.OpenWindow({ Width: 1200, Height: 1200, Title: "Notifications", Reload: true });
        }
        else {
            LoadCmsPartialView(url, 'Custom');
        }


        //window.location.href = url;
    }
    function formatDate(dateVal) {
        var newDate = new Date(dateVal);

        var sMonth = padValue(newDate.getMonth() + 1);
        var sDay = padValue(newDate.getDate());
        var sYear = newDate.getFullYear();
        var sHour = newDate.getHours();
        var sMinute = padValue(newDate.getMinutes());
        var sAMPM = "AM";

        var iHourCheck = parseInt(sHour);

        if (iHourCheck > 12) {
            sAMPM = "PM";
            sHour = iHourCheck - 12;
        }
        else if (iHourCheck === 0) {
            sHour = "12";
        }

        sHour = padValue(sHour);

        return sMonth + "-" + sDay + "-" + sYear ;
    }

    function padValue(value) {
        return (value < 10) ? "0" + value : value;
    }

    function OnTakeAction(id, refType, refId, templateCode)
    {

         var flag = false;
         if (refType === 'NTS_Note' || refType === '0') {
             var Type = "Note";
             flag = true;
         }
         else if (refType === 'NTS_Task' || refType === '1') {
             Type = "Task";
             flag = true;
         }
         else if (refType === 'NTS_Service' || refType === '2') {
             Type = "Service";
             flag = true;
         }
         MarkNotificationAsRead(id);
         if (flag) {
        var url = '/Cms/Page?lo=Popup&popup=true&source=View&dataAction=View&templateCodes=' + templateCode + '&portalId=@_userContext.PortalId&recordId=' + refId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage ' + Type, Width: 1200, Height: 600  });
        return false;
        }
        else {
            var win = GetMainWindow();
            // var portalId = $('#GlobalPortalId').val();
            // var url = '/Cms/Page?lo=Popup&cbm=OnAfterNoteCreate&source=Create&dataAction=Create&pageName=SalaryInfo&portalId=' + portalId /*+ '&prms=' + prms*/;
            win.iframeOpenUrl = "/Cms/NotificationDetails?notificationId="+id;
            win.OpenWindow({ Title: 'Notification Details', Width: 450, Height: 700 });
            return false;
        }

    }

    function MarkNotificationAsRead(id) {
        var valueR = $("#read")[0].checked;
        var valueA = $("#archive")[0].checked;
        var valueA1 = $("#archiveG")[0].checked;
        var valueR1 = $("#readG")[0].checked;
        $.ajax({
            url: "/cms/MarkNotificationAsRead?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: valueA, refTypeId:'@Model.ReferenceTypeId' });
                $("#kgrdNotification").data("kendoGrid").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR1, archive: valueA1, refTypeId:'@Model.ReferenceTypeId'});

            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function MarkNotificationAsNotRead(id) {
        var valueR = $("#read")[0].checked;
        var valueA = $("#archive")[0].checked;
        var valueA1 = $("#archiveG")[0].checked;
        var valueR1 = $("#readG")[0].checked;
        $.ajax({
            url: "/PortalAdmin/NotificationTemplate/MarkNotificationAsNotRead?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: valueA, refTypeId:'@Model.ReferenceTypeId' });
                $("#kgrdNotification").data("kendoGrid").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR1, archive: valueA1, refTypeId:'@Model.ReferenceTypeId' });

            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function ArchiveNotification(id) {
        var valueR = $("#read")[0].checked;
        var valueA = $("#archive")[0].checked;
        var valueA1 = $("#archiveG")[0].checked;
        var valueR1 = $("#readG")[0].checked;
        $.ajax({
            url: "/PortalAdmin/NotificationTemplate/ArchiveNotification?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: valueA, refTypeId:'@Model.ReferenceTypeId' });
                $("#kgrdNotification").data("kendoGrid").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR1, archive: valueA1, refTypeId:'@Model.ReferenceTypeId' });

            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function UnArchiveNotification(id) {
        var valueR = $("#read")[0].checked;
        var valueA = $("#archive")[0].checked;
        var valueA1 = $("#archiveG")[0].checked;
        var valueR1 = $("#readG")[0].checked;

        $.ajax({
            url: "/PortalAdmin/NotificationTemplate/UnArchiveNotification?id=" + id,
            contentType: "application/json",
            type: "POST",
            cache: false,
            success: function (result) {
                $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: valueA, refTypeId:'@Model.ReferenceTypeId' });
                $("#kgrdNotification").data("kendoGrid").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR1, archive: valueA1, refTypeId:'@Model.ReferenceTypeId' });

            },
            error: function (xhr, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    }

    function readStatus() {
        //var value = $("#archive")[0].checked;
        //var valueR = $("#read")[0].checked;
        //var valueC = $("#complete")[0].checked;

        var value = $('#archive').is(":checked");
        var valueR = $('#read').is(":checked");
        var valueC = $('#complete').is(":checked");

        $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: value, refTypeId: '@Model.ReferenceTypeId', completedStatus: valueC});

    }

    function isArchive() {
        //var value = $("#archive")[0].checked;
        //var valueR = $("#read")[0].checked;
        //var valueC = $("#complete")[0].checked;
        var value = $('#archive').is(":checked");
        var valueR = $('#read').is(":checked");
        var valueC = $('#complete').is(":checked");

        $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: value, refTypeId: '@Model.ReferenceTypeId', completedStatus: valueC});

    }


     function readStatusG() {
         //var value = $("#readG")[0].checked;
         //var valueR = $("#archiveG")[0].checked;
         //var valueC = $("#completeG")[0].checked;
         var value = $('#readG').is(":checked");
         var valueR = $('#archiveG').is(":checked");
         var valueC = $('#completeG').is(":checked");
         $("#kgrdNotification").data("kendoGrid").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: value, archive: valueR, refTypeId: '@Model.ReferenceTypeId', completedStatus: valueC});


    }

    function isArchiveG() {
        //var value = $("#archiveG")[0].checked;
        //var valueR = $("#readG")[0].checked;
        //var valueC = $("#completeG")[0].checked;
        var value = $('#archiveG').is(":checked");
        var valueR = $('#readG').is(":checked");
        var valueC = $('#completeG').is(":checked");
        $("#kgrdNotification").data("kendoGrid").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: value, refTypeId: '@Model.ReferenceTypeId', completedStatus: valueC });

    }
     function isComplete() {
        //var value = $("#archive")[0].checked;
        // var valueR = $("#read")[0].checked;
        // var valueC = $("#complete")[0].checked;
         var value = $('#archive').is(":checked");
         var valueR = $('#read').is(":checked");
         var valueC = $('#complete').is(":checked");
         $("#NotificationlistView").data("kendoListView").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: value, refTypeId: '@Model.ReferenceTypeId', completedStatus:valueC });

    }
     function isCompleteG() {
        //var value = $("#archiveG")[0].checked;
        // var valueR = $("#readG")[0].checked;
        // var valueC = $("#completeG")[0].checked;
         var value = $('#archiveG').is(":checked");
         var valueR = $('#readG').is(":checked");
         var valueC = $('#completeG').is(":checked");
         $("#kgrdNotification").data("kendoGrid").dataSource.read({ date: '@Model.WeekDate', refType: '@ViewBag.Type', read: valueR, archive: value, refTypeId: '@Model.ReferenceTypeId', completedStatus: valueC });

    }


    $("#mysearch2").keyup(function () {
        
        var val = $('#mysearch2').val();
        var listView = $("#NotificationlistView").data("kendoListView");
        var data = listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Subject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "From",
                    operator: "contains",
                    value: val
                },
                {
                    field: "Body",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ReferenceTypeNo",
                    operator: "contains",
                    value: val
                },


            ]
        });
        var data = listView.dataSource.total();
        if (data == 0) {
            $('#no-data-search').show();
        } else {
            $('#no-data-search').hide();
        }
    });

</script>



<div>
    @*<h4>@ViewBag.Title</h4>*@
    <hr />
    <div class="row card-header pad-20 no-gutters">

        <div class="col-sm-11">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a data-toggle="tab" href="#list" class="nav-link active" role="tab" aria-controls="general" aria-selected="true"><i class="fas fa-th-list" style="margin-left:15px;"></i><br />List View</a></li>
                <li class="nav-item" hidden><a data-toggle="tab" href="#grid" class="nav-link" aria-controls="permissions" aria-selected="false"><i class="fas fa-th" style="margin-left:32px;"></i><br />Grid View</a></li>
            </ul>

        </div>
    </div>

    <div class="tab-content">
        <div id="list" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    @*@(Html.Kendo().CheckBox().Name("read").Checked(false).Label("Include Read").HtmlAttributes(new { onchange = "readStatus();" }))*@

                    <input type="checkbox" id="read" onchange="readStatus();" />
                    <label>Exclude Read</label>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    @*@(Html.Kendo().CheckBox().Name("archive").Checked(false).Label("Include Archive").HtmlAttributes(new { onchange = "isArchive();" }))*@

                    <input type="checkbox" id="archive" onchange="isArchive();" />
                    <label>Include Archive</label>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    @*@(Html.Kendo().CheckBox().Name("complete").Checked(false).Label("Include Completed").HtmlAttributes(new { onchange = "isComplete();" }))*@

                    <input type="checkbox" id="complete" onchange="isComplete();" />
                    <label>Include Completed</label>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <span>
                        <span class="fa fa-search form-control-feedback"></span>
                        <input id="mysearch2" type="text" class="form-control" style="width: 500px;display:inline-block;" placeholder="Search by Reference, Subject, Description and From">
                    </span>

                    <br />
                    <br />
                    @*@(Html.Kendo().ListView<NotificationViewModel>()
                  .Name("NotificationlistView")
                  .TagName("div")
                  .ClientTemplateId("template").Scrollable(ListViewScrollableMode.Endless)
                  .DataSource(dataSource => dataSource
                  .Ajax()
                  .Read(read => read.Action("ReadNotificationlist", "NotificationTemplate", new { @area = "PortalAdmin", date = Model.WeekDate, refType = ViewBag.Type, refTypeId = Model.ReferenceTypeId }))
                  ).HtmlAttributes(new { style = "height:auto;" })
        )*@

                    <div id="NotificationlistView" style="height:auto;"></div>
                    <div id="pager"></div>
                    <div id="no-data-search" class="no-data" style="text-align:center; display:none;"><br /><span> No Records Found </span></div>
                    <script id="template" type="text/x-kendo-template">

                                        <div class="panel notification-item">
                              @*<div data-toggle="collapse" data-target="\\#collapse-#=Id#" id="dynbutton-#=Id#" class="panel-heading notification-heading row no-gutters" style="border-left:12px solid #:StatusBgCss# ">*@
                          <div data-toggle="collapse" data-target="\\#collapse-#=Id#" id="dynbutton-#=Id#" class="panel-heading notification-heading row no-gutters" #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border: 1px solid \\#ccc;border-left:15px solid \\#383030ba #}else{#   style="border: 1px solid \\#ccc;border-left:15px solid #:StatusBgCss#   #}#">
                        <div class="col-1 p-1" style="text-align:center;display:flex;justify-content:center;">
                                        <img class="notification-user img-style" src="/cms/Document/GetImageMongo?id=#=PhotoId#" onerror='OnPhotoError(this,"#:From#");' />
                        @*<div class="" #if(ReadStatusString=="NotRead"){# style="font-size: .9eM;font-weight:700;#}else{# style="font-size: .9eM;#}#"> #=From#</div>*@
                                    </div>

                                      <div class="col-8 row p-1">
                                         <div style="display: flex;">
                                                <div class="col-12 highlight" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;#}else{# style="font-size: 1.1eM;#}#">Reference: <span style="font-size: 1.1eM;font-weight:700;">#if(ReferenceTypeNo!=null){##=ReferenceTypeNo##}#<span> </div>
                                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;#}else{# style="font-size: 1.1eM;#}#">Date : <span style="font-size: 1.1eM;font-weight:700;">#=DisplayCreatedDate#<span> </div>
                                            </div>

                                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;#}else{# style="font-size: 1.1eM;#}#">From : <span style="font-size: 1.1eM;font-weight:700;">#=From#<span></div>
                                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;#}else{# style="font-size: 1.1eM;#}#">Subject : <span style="font-size: 1.1eM;font-weight:700;">#=Subject#<span> </div>

                                    </div>
                                    <div class="col-3  p-1">
                                     #if(IsArchived!=true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-archive" title="Archive Notification" onclick='ArchiveNotification("#:Id#")'></i></span> #}
                                     else if(IsArchived==true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-trash-undo" title="UnArchive Notification" onclick='UnArchiveNotification("#:Id#")'></i></span> #}#
                                      <br/> <br/>
                                     #if(ReadStatus==0){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-book-alt" title="Mark Notification as Read" onclick='MarkNotificationAsRead("#:Id#")'></i></span> #}
                                     else if(ReadStatus==1){# <span style="float:right;cursor:pointer"><i style="font-size:20px"  class="fas fa-book-open" title="Mark Notification as Unread" onclick='MarkNotificationAsNotRead("#:Id#")'></i></span> #}#
                                   </div>

                                </div>

                          <div id="collapse-#=Id#" class="panel-collapse collapse" style="border-left:8px solid #=ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" ">
                                    <div class="panel-body p-2" style="font-size:0.85em;">
                                        <p> From : #=From#</p>
                                        <p> Date : #=DisplayCreatedDate#</p>
                                        <p> Subject : #=Subject#</p>
                                        <p> Description : #if(Body!= null){#  #=htmlDecode(Body)# #}#</p>
                               <a style="color:blue;" href="javascript:OnTakeAction('#:Id#','#:ReferenceType#','#:ReferenceTypeId#','#:TemplateCode#');">Click here to know more</a>

                                    </div>
                                </div>

                            </div>

                    </script>

                </div>
            </div>
            
        </div>
        <div id="grid" class="tab-pane " role="tabpanel" aria-labelledby="permissions-tab" hidden>
            <div class="row">

                <div class="col-12">
                    <br />
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    @if (ViewBag.Type == null)
                    {
                        @*@Html.Kendo().DatePickerFor(x => x.WeekDate).Format(ApplicationConstant.DateAndTime.DefaultDateFormat).Events(x => x.Change("OnDateChange")).HtmlAttributes(new { @class = "form-Control" })*@
                        <input id="WeekDate" class="form-Control" />
                    }
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    @*@(Html.Kendo().CheckBox().Name("readG").Checked(false).Label("Include Read").HtmlAttributes(new { onchange = "readStatusG();" }))*@
                    
                        <input type="checkbox" id="readG"  onchange="readStatusG();" />
                        <label>Exclude Read</label>                    
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    @*@(Html.Kendo().CheckBox().Name("archiveG").Checked(false).Label("Include Archive").HtmlAttributes(new { onchange = "isArchiveG();"}))*@
                    
                        <input type="checkbox" id="archiveG"  onchange="isArchiveG();" />
                        <label>Include Archive</label>                   
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    @*@(Html.Kendo().CheckBox().Name("completeG").Checked(false).Label("Include Completed").HtmlAttributes(new { onchange = "isCompleteG();" }))*@
                    
                        <input type="checkbox" id="completeG"  onchange="isCompleteG();" />
                        <label>Include Completed</label>                   

                    <br />
                    @*@(Html.Kendo().Grid<NotificationViewModel>
            ().Name("kgrdNotification").Height(700)
            .Columns(columns =>
            {
                //columns.Command(command =>
                //{
                //    command.Custom("Edit").Text("<i class='fa fas fa-pencil'></i>").Click("OnEditNotificationTemplate").HtmlAttributes(new { @class = "action-icon" });
                //    command.Custom("Delete").Text("<i class='fa fas fa-trash'></i>").Click("OnDeleteNotificationTemplate").HtmlAttributes(new { @class = "action-icon" });
                //}).Title("Action").Width(100);

                columns.Bound(p => p.Module).Width(150);
                columns.Bound(p => p.MenuGroup).Title("Sub Module").Width(150);
                columns.Bound(p => p.PageName).Title("Category").Width(150);
                columns.Bound(p => p.Template).Title("Sub Category").Width(150);
                //columns.Bound(p => p.Subject);
                //columns.Bound(x => x.SecondDay).ClientTemplateId("javascriptTemplate").Width(500);
                columns.Group(p => p.Title("Notifications")
                .Columns(notification =>
                {
                    if(ViewBag.Type == @ReferenceTypeEnum.NTS_Task || ViewBag.Type == @ReferenceTypeEnum.NTS_Service || ViewBag.Type == @ReferenceTypeEnum.NTS_Note)
                    {
                        notification.Bound(x => x.CurrentDay).Title(Model.CurrentDayName).Width(250).HeaderHtmlAttributes(new { @style = "background-color:#edd47c!important;color:black!important" }).ClientTemplateId("javascriptTemplate4");
                    }
                    else
                    {
                        notification.Bound(x => x.FirstDay).Title(Model.FirstDayName).ClientTemplateId("javascriptTemplate1").Width(340);
                        notification.Bound(x => x.SecondDay).Title(Model.SecondDayName).ClientTemplateId("javascriptTemplate2").Width(340);
                        notification.Bound(x => x.ThirdDay).Title(Model.ThirdDayName).ClientTemplateId("javascriptTemplate3").Width(340);
                        notification.Bound(x => x.CurrentDay).Title(Model.CurrentDayName).Width(320).HeaderHtmlAttributes(new { @style = "background-color:#edd47c!important;color:black!important" }).ClientTemplateId("javascriptTemplate4");
                        notification.Bound(x => x.FifthDay).Title(Model.FifthDayName).ClientTemplateId("javascriptTemplate5").Width(340);
                        notification.Bound(x => x.SixthDay).Title(Model.SixthDayName).ClientTemplateId("javascriptTemplate6").Width(340);
                        notification.Bound(x => x.SeventhDay).Title(Model.SeventhDayName).ClientTemplateId("javascriptTemplate7").Width(340);

                    }
                })
                );
                //columns.Bound(p=>p.Notifications).ClientTemplateId("javascriptTemplate").Width(500);
            })
                .Resizable(resizable => resizable.Columns(true))
                .Scrollable(x => x.Enabled(true))
                .Sortable(srt => srt.Enabled(true))
                .Selectable(select => select.Enabled(false))
                .Filterable(f => f.Extra(false)
                                  .Operators(o => o.ForString(s => s.Clear()
                                  .Contains("Contains")
                                  .IsEqualTo("Is equal to")
                                  )))
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .AutoBind(true)
                .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("ReadNotificationData", "NotificationTemplate", new { @area = "PortalAdmin",date=Model.WeekDate, refType=ViewBag.Type, refTypeId=Model.ReferenceTypeId }))
                .Model(model => model.Id(p => p.Id))
                )
          )*@
                <script id="javascriptTemplate1" type="text/x-kendo-template">
                #$.each(data.FirstDay, function (key, value) {#

                                <div class="panel notification-item" style="padding:0px;">
                        @*<div data-toggle="collapse" data-target="\\#collapse-#=value.Id#" id="dynbutton-#=value.Id#" class="panel-heading notification-heading row no-gutters" style="border-left:8px solid #=value.ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" "       #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border-left:15px solid \\#383030ba #}else{#   style="border-left:15px solid #:StatusBgCss#   #}#>*@
                       <div data-toggle="collapse" data-target="\\#collapse-#=value.Id#" id="dynbutton-#=value.Id#" class="panel-heading notification-heading row no-gutters"  #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border: 1px solid \\#ccc;border-left:15px solid \\#383030ba #}else{#   style="border: 1px solid \\#ccc;border-left:15px solid #:StatusBgCss#   #}#">
                            <div class="col-xs-2 p-1" style="text-align:center">
                                <img class="notification-user" src="/cms/Document/GetImageMongo?id=#=value.PhotoId#" onerror='OnPhotoError(this,"#=value.From#");' />
                <div class="" #if(ReadStatusString=="NotRead"){# style="font-size: .9eM;font-weight:700;#}else{# style="font-size: .9eM;#}#"> #=value.From#</div>
                            </div>
                            <div class="col-7 row p-1">

                                @*<div class="col-12" style="font-size: .9eM;color:\\#004d99;">From : #=value.From#</div>*@
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.Subject# </div>
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.DisplayCreatedDate# </div>
                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #if(value.ReferenceTypeNo!=null){##=value.ReferenceTypeNo##}#</div>
                            </div>

                           <div class="col-3  p-1">
                                     #if(value.IsArchived!=true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-archive" title="Archive Notification" onclick='ArchiveNotification("#:value.Id#")'></i></span> #}
                                     else if(value.IsArchived==true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-trash-undo" title="UnArchive Notification" onclick='UnArchiveNotification("#:value.Id#")'></i></span> #}#
                     <br/> <br/>
                                     #if(value.ReadStatus==0){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-book-alt" title="Mark Notification as Read" onclick='MarkNotificationAsRead("#:value.Id#")'></i></span> #}
                                     else if(value.ReadStatus==1){# <span style="float:right;cursor:pointer" onclick='MarkNotificationAsNotRead("#:value.Id#")'><i style="font-size:20px" class="fas fa-book-open" title="Mark Notification as Unread" ></i></span> #}#
                        </div>
                        </div>
                        <div id="collapse-#=value.Id#" class="panel-collapse collapse" style="border-left:8px solid #=value.ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" ">
                            <div class="panel-body p-2" style="font-size:0.85em;">
                                <p> From : #=value.From#</p>
                                <p> Date : #=value.DisplayCreatedDate#</p>
                                <p> Subject : #=value.Subject#</p>
                                <p> Description : #if(value.Body!= null){#  #=htmlDecode(value.Body)# #}#</p>
                       <a style="color:blue;" href="javascript:OnTakeAction('#:value.Id#','#:value.ReferenceType#','#:value.ReferenceTypeId#','#:value.TemplateCode#');">Click here to know more</a>

                            </div>
                        </div>
                    </div>
                            #})#



                </script>
                <script id="javascriptTemplate2" type="text/x-kendo-template">
                #$.each(data.SecondDay, function (key, value) {#

                                  <div class="panel notification-item" style="padding:0px;">
                        <div data-toggle="collapse" data-target="\\#collapse-#=value.Id#" id="dynbutton-#=value.Id#" class="panel-heading notification-heading row no-gutters"  #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border: 1px solid \\#ccc;border-left:15px solid \\#383030ba #}else{#   style="border: 1px solid \\#ccc;border-left:15px solid #:StatusBgCss#   #}#">
                            <div class="col-xs-2 p-1" style="text-align:center">
                                <img class="notification-user" src="/cms/Document/GetImageMongo?id=#=value.PhotoId#" onerror='OnPhotoError(this,"#=value.From#");' />
                <div class="" #if(ReadStatusString=="NotRead"){# style="font-size: .9eM;font-weight:700;#}else{# style="font-size: .9eM;#}#"> #=value.From#</div>
                            </div>
                            <div class="col-7 row p-1">

                                @*<div class="col-12" style="font-size: .9eM;color:\\#004d99;">From : #=value.From#</div>*@
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.Subject# </div>
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.DisplayCreatedDate# </div>
                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #if(value.ReferenceTypeNo!=null){##=value.ReferenceTypeNo##}#</div>
                            </div>
                        <div class="col-3  p-1">
                                     #if(value.IsArchived!=true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-archive" title="Archive Notification" onclick='ArchiveNotification("#:value.Id#")'></i></span> #}
                                     else if(value.IsArchived==true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-trash-undo" title="UnArchive Notification" onclick='UnArchiveNotification("#:value.Id#")'></i></span> #}#
                     <br/> <br/>
                                     #if(value.ReadStatus==0){# <span style="float:right;cursor:pointer" onclick='MarkNotificationAsRead("#:value.Id#")'><i style="font-size:20px" class="fas fa-book-alt" title="Mark Notification as Read" ></i></span> #}
                                     else if(value.ReadStatus==1){# <span style="float:right;cursor:pointer" onclick='MarkNotificationAsNotRead("#:value.Id#")'><i style="font-size:20px" class="fas fa-book-open" title="Mark Notification as Unread" ></i></span> #}#
                        </div>

                        </div>
                        <div id="collapse-#=value.Id#" class="panel-collapse collapse" style="border-left:8px solid #=value.ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" ">
                            <div class="panel-body p-2" style="font-size:0.85em;">
                                <p> From : #=value.From#</p>
                                <p> Date : #=value.DisplayCreatedDate#</p>
                                <p> Subject : #=value.Subject#</p>
                                <p> Description : #if(value.Body!= null){#  #=htmlDecode(value.Body)# #}#</p>
                       <a style="color:blue;" href="javascript:OnTakeAction('#:value.Id#','#:value.ReferenceType#','#:value.ReferenceTypeId#','#:value.TemplateCode#');">Click here to know more</a>

                            </div>
                        </div>
                    </div>
                            #})#



                </script>
                <script id="javascriptTemplate3" type="text/x-kendo-template">
                #$.each(data.ThirdDay, function (key, value) {#

                                 <div class="panel notification-item" style="padding:0px;">
                        <div data-toggle="collapse" data-target="\\#collapse-#=value.Id#" id="dynbutton-#=value.Id#" class="panel-heading notification-heading row no-gutters"  #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border: 1px solid \\#ccc;border-left:15px solid \\#383030ba #}else{#   style="border: 1px solid \\#ccc;border-left:15px solid #:StatusBgCss#   #}#">
                            <div class="col-xs-2 p-1" style="text-align:center">
                                <img class="notification-user" src="/cms/Document/GetImageMongo?id=#=value.PhotoId#" onerror='OnPhotoError(this,"#=value.From#");' />
                <div class="" #if(ReadStatusString=="NotRead"){# style="font-size: .9eM;font-weight:700;#}else{# style="font-size: .9eM;#}#"> #=value.From#</div>
                            </div>
                            <div class="col-7 row p-1">

                                @*<div class="col-12" style="font-size: .9eM;color:\\#004d99;">From : #=value.From#</div>*@
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.Subject# </div>
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.DisplayCreatedDate# </div>
                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #if(value.ReferenceTypeNo!=null){##=value.ReferenceTypeNo##}#</div>
                            </div>

                           <div class="col-3  p-1">
                                     #if(value.IsArchived!=true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-archive" title="Archive Notification" onclick='ArchiveNotification("#:value.Id#")'></i></span> #}
                                     else if(value.IsArchived==true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-trash-undo" title="UnArchive Notification" onclick='UnArchiveNotification("#:value.Id#")'></i></span> #}#
                     <br/> <br/>
                                     #if(value.ReadStatus==0){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-book-alt" title="Mark Notification as Read" onclick='MarkNotificationAsRead("#:value.Id#")'></i></span> #}
                                     else if(value.ReadStatus==1){# <span style="float:right;cursor:pointer" onclick='MarkNotificationAsNotRead("#:value.Id#")'><i style="font-size:20px" class="fas fa-book-open" title="Mark Notification as Unread" ></i></span> #}#
                        </div>
                        </div>
                        <div id="collapse-#=value.Id#" class="panel-collapse collapse" style="border-left:8px solid #=value.ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" ">
                            <div class="panel-body p-2" style="font-size:0.85em;">
                                <p> From : #=value.From#</p>
                                <p> Date : #=value.DisplayCreatedDate#</p>
                                <p> Subject : #=value.Subject#</p>
                                <p> Description : #if(value.Body!= null){#  #=htmlDecode(value.Body)# #}#</p>
                       <a style="color:blue;" href="javascript:OnTakeAction('#:value.Id#','#:value.ReferenceType#','#:value.ReferenceTypeId#','#:value.TemplateCode#');">Click here to know more</a>

                            </div>
                        </div>
                    </div>
                            #})#



                </script>
                <script id="javascriptTemplate4" type="text/x-kendo-template">
                #$.each(data.CurrentDay, function (key, value) {#

                                <div class="panel notification-item" style="padding:0px;">
                        <div data-toggle="collapse" data-target="\\#collapse-#=value.Id#" id="dynbutton-#=value.Id#" class="panel-heading notification-heading row no-gutters"  #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border: 1px solid \\#ccc;border-left:15px solid \\#383030ba #}else{#   style="border: 1px solid \\#ccc;border-left:15px solid #:StatusBgCss#   #}#">
                            <div class="col-xs-2 p-1" style="text-align:center">
                                <img class="notification-user" src="/cms/Document/GetImageMongo?id=#=value.PhotoId#" onerror='OnPhotoError(this,"#=value.From#");' />
                <div class="" #if(ReadStatusString=="NotRead"){# style="font-size: .9eM;font-weight:700;#}else{# style="font-size: .9eM;#}#"> #=value.From#</div>
                            </div>
                            <div class="col-7 row p-1">

                                @*<div class="col-12" style="font-size: .9eM;color:\\#004d99;">From : #=value.From#</div>*@
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.Subject# </div>
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.DisplayCreatedDate# </div>
                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #if(value.ReferenceTypeNo!=null){##=value.ReferenceTypeNo##}#</div>
                            </div>

                           <div class="col-3  p-1">
                                     #if(value.IsArchived!=true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-archive" title="Archive Notification" onclick='ArchiveNotification("#:value.Id#")'></i></span> #}
                                     else if(value.IsArchived==true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-trash-undo" title="UnArchive Notification" onclick='UnArchiveNotification("#:value.Id#")'></i></span> #}#
                     <br/> <br/>
                                     #if(value.ReadStatus==0){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-book-alt" title="Mark Notification as Read" onclick='MarkNotificationAsRead("#:value.Id#")'></i></span> #}
                                     else if(value.ReadStatus==1){# <span style="float:right;cursor:pointer" onclick='MarkNotificationAsNotRead("#:value.Id#")'><i style="font-size:20px" class="fas fa-book-open" title="Mark Notification as Unread" ></i></span> #}#
                        </div>

                        </div>
                        <div id="collapse-#=value.Id#" class="panel-collapse collapse" style="border-left:8px solid #=value.ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" ">
                            <div class="panel-body p-2" style="font-size:0.85em;">
                                <p> From : #=value.From#</p>
                                <p> Date : #=value.DisplayCreatedDate#</p>
                                <p> Subject : #=value.Subject#</p>
                                <p> Description : #if(value.Body!= null){#  #=htmlDecode(value.Body)# #}#</p>
                          <a style="color:blue;" href="javascript:OnTakeAction('#:value.Id#','#:value.ReferenceType#','#:value.ReferenceTypeId#','#:value.TemplateCode#');">Click here to know more</a>

                            </div>
                        </div>
                    </div>
                            #})#



                </script>
                <script id="javascriptTemplate5" type="text/x-kendo-template">
                #$.each(data.FifthDay, function (key, value) {#

                              <div class="panel notification-item" style="padding:0px;">
                        <div data-toggle="collapse" data-target="\\#collapse-#=value.Id#" id="dynbutton-#=value.Id#" class="panel-heading notification-heading row no-gutters"  #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border: 1px solid \\#ccc;border-left:15px solid \\#383030ba #}else{#   style="border: 1px solid \\#ccc;border-left:15px solid #:StatusBgCss#   #}#">
                            <div class="col-xs-2 p-1" style="text-align:center">
                                <img class="notification-user" src="/cms/Document/GetImageMongo?id=#=value.PhotoId#" onerror='OnPhotoError(this,"#=value.From#");' />
                <div class="" #if(ReadStatusString=="NotRead"){# style="font-size: .9eM;font-weight:700;#}else{# style="font-size: .9eM;#}#"> #=value.From#</div>
                            </div>
                            <div class="col-7 row p-1">

                                @*<div class="col-12" style="font-size: .9eM;color:\\#004d99;">From : #=value.From#</div>*@
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.Subject# </div>
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.DisplayCreatedDate# </div>
                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#">#if(value.ReferenceTypeNo!=null){##=value.ReferenceTypeNo##}#</div>
                            </div>
                           <div class="col-3  p-1">
                                     #if(value.IsArchived!=true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-archive" title="Archive Notification" onclick='ArchiveNotification("#:value.Id#")'></i></span> #}
                                     else if(value.IsArchived==true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-trash-undo" title="UnArchive Notification" onclick='UnArchiveNotification("#:value.Id#")'></i></span> #}#
                     <br/> <br/>
                                     #if(value.ReadStatus==0){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-book-alt" title="Mark Notification as Read" onclick='MarkNotificationAsRead("#:value.Id#")'></i></span> #}
                                     else if(value.ReadStatus==1){# <span style="float:right;cursor:pointer" onclick='MarkNotificationAsNotRead("#:value.Id#")'><i style="font-size:20px" class="fas fa-book-open" title="Mark Notification as Unread" ></i></span> #}#
                        </div>

                        </div>
                        <div id="collapse-#=value.Id#" class="panel-collapse collapse" style="border-left:8px solid #=value.ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" ">
                            <div class="panel-body p-2" style="font-size:0.85em;">
                                <p> From : #=value.From#</p>
                                <p> Date : #=value.DisplayCreatedDate#</p>
                                <p> Subject : #=value.Subject#</p>
                                <p> Description : #if(value.Body!= null){#  #=htmlDecode(value.Body)# #}#</p>
                       <a style="color:blue;" href="javascript:OnTakeAction('#:value.Id#','#:value.ReferenceType#','#:value.ReferenceTypeId#','#:value.TemplateCode#');">Click here to know more</a>

                            </div>
                        </div>
                    </div>
                            #})#



                </script>
                <script id="javascriptTemplate6" type="text/x-kendo-template">
                #$.each(data.SixthDay, function (key, value) {#

                               <div class="panel notification-item" style="padding:0px;">
                        <div data-toggle="collapse" data-target="\\#collapse-#=value.Id#" id="dynbutton-#=value.Id#" class="panel-heading notification-heading row no-gutters"  #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border: 1px solid \\#ccc;border-left:15px solid \\#383030ba #}else{#   style="border: 1px solid \\#ccc;border-left:15px solid #:StatusBgCss#   #}#">
                            <div class="col-xs-2 p-1" style="text-align:center">
                                <img class="notification-user" src="/cms/Document/GetImageMongo?id=#=value.PhotoId#" onerror='OnPhotoError(this,"#=value.From#");' />
                <div class="" #if(ReadStatusString=="NotRead"){# style="font-size: .9eM;font-weight:700;#}else{# style="font-size: .9eM;#}#"> #=value.From#</div>
                            </div>
                            <div class="col-7 row p-1">

                                @*<div class="col-12" style="font-size: .9eM;color:\\#004d99;">From : #=value.From#</div>*@
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.Subject# </div>
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.DisplayCreatedDate# </div>
                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #if(value.ReferenceTypeNo!=null){##=value.ReferenceTypeNo##}#</div>
                            </div>
                           <div class="col-3  p-1">
                                     #if(value.IsArchived!=true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-archive" title="Archive Notification" onclick='ArchiveNotification("#:value.Id#")'></i></span> #}
                                     else if(value.IsArchived==true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-trash-undo" title="UnArchive Notification" onclick='UnArchiveNotification("#:value.Id#")'></i></span> #}#
                     <br/> <br/>
                                     #if(value.ReadStatus==0){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-book-alt" title="Mark Notification as Read" onclick='MarkNotificationAsRead("#:value.Id#")'></i></span> #}
                                     else if(value.ReadStatus==1){# <span style="float:right;cursor:pointer" onclick='MarkNotificationAsNotRead("#:value.Id#")'><i style="font-size:20px" class="fas fa-book-open" title="Mark Notification as Unread" ></i></span> #}#
                        </div>

                        </div>
                        <div id="collapse-#=value.Id#" class="panel-collapse collapse" style="border-left:8px solid #=value.ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" ">
                            <div class="panel-body p-2" style="font-size:0.85em;">
                                <p> From : #=value.From#</p>
                                <p> Date : #=value.DisplayCreatedDate#</p>
                                <p> Subject : #=value.Subject#</p>
                                <p> Description : #if(value.Body!= null){#  #=htmlDecode(value.Body)# #}#</p>
                         <a style="color:blue;" href="javascript:OnTakeAction('#:value.Id#','#:value.ReferenceType#','#:value.ReferenceTypeId#','#:value.TemplateCode#');">Click here to know more</a>

                            </div>
                        </div>
                    </div>
                            #})#



                </script>
                <script id="javascriptTemplate7" type="text/x-kendo-template">
                #$.each(data.SeventhDay, function (key, value) {#

                                <div class="panel notification-item" style="padding:0px;">
                        <div data-toggle="collapse" data-target="\\#collapse-#=value.Id#" id="dynbutton-#=value.Id#" class="panel-heading notification-heading row no-gutters"  #if(ActionType=="@NotificationActionTypeEnum.Info.ToString()"){# style="border: 1px solid \\#ccc;border-left:15px solid \\#383030ba #}else{#   style="border: 1px solid \\#ccc;border-left:15px solid #:StatusBgCss#   #}#">
                            <div class="col-xs-2 p-1" style="text-align:center">
                                <img class="notification-user" src="/cms/Document/GetImageMongo?id=#=value.PhotoId#" onerror='OnPhotoError(this,"#=value.From#");' />
                <div class="" #if(ReadStatusString=="NotRead"){# style="font-size: .9eM;font-weight:700;#}else{# style="font-size: .9eM;#}#"> #=value.From#</div>
                            </div>
                            <div class="col-7 row p-1">

                                @*<div class="col-12" style="font-size: .9eM;color:\\#004d99;">From : #=value.From#</div>*@
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.Subject# </div>
                                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #=value.DisplayCreatedDate# </div>
                <div class="col-12" #if(ReadStatusString=="NotRead"){# style="font-size: 1.1eM;font-weight:700;#}else{# style="font-size: 1.1eM;#}#"> #if(value.ReferenceTypeNo!=null){##=value.ReferenceTypeNo##}#</div>
                            </div>

                         <div class="col-3  p-1">
                                     #if(value.IsArchived!=true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-archive" title="Archive Notification" onclick='ArchiveNotification("#:value.Id#")'></i></span> #}
                                     else if(value.IsArchived==true){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-trash-undo" title="UnArchive Notification" onclick='UnArchiveNotification("#:value.Id#")'></i></span> #}#
                    <br/>
                     <br/>
                                     #if(value.ReadStatus==0){# <span style="float:right;cursor:pointer"><i style="font-size:20px" class="fas fa-book-alt" title="Mark Notification as Read" onclick='MarkNotificationAsRead("#:value.Id#")'></i></span> #}
                                     else if(value.ReadStatus==1){# <span style="float:right;cursor:pointer" onclick='MarkNotificationAsNotRead("#:value.Id#")'><i style="font-size:20px" class="fas fa-book-open" title="Mark Notification as Unread" ></i></span> #}#
                        </div>
                        </div>
                        <div id="collapse-#=value.Id#" class="panel-collapse collapse" style="border-left:8px solid #=value.ReadStatusString# == "NotRead" ? "\\#0066ff" : "\\#008000" ">
                            <div class="panel-body p-2" style="font-size:0.85em;">
                                <p> From : #=value.From#</p>
                                <p> Date : #=value.DisplayCreatedDate#</p>
                                <p> Subject : #=value.Subject#</p>
                                <p> Description : #if(value.Body!= null){#  #=htmlDecode(value.Body)# #}#</p>
                       <a style="color:blue;" href="javascript:OnTakeAction('#:value.Id#','#:value.ReferenceType#','#:value.ReferenceTypeId#','#:value.TemplateCode#');">Click here to know more</a>


                            </div>
                        </div>
                    </div>
                            #})#



                </script>

                </div>
            </div>
        </div>


    </div>




</div>

<script>
    $("#mysearch2").keyup(function () {
        
        var val = $('#mysearch2').val();
        var listView = $("#NotificationlistView").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Subject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "From",
                    operator: "contains",
                    value: val
                },
                {
                    field: "Body",
                    operator: "contains",
                    value: val
                },
                {
                    field: "ReferenceTypeNo",
                    operator: "contains",
                    value: val
                },


            ]
        });
        var data = listView.dataSource.total();
        if (data == 0) {
            $('#no-data-search').show();
        } else {
            $('#no-data-search').hide();
        }
    });

    function changeToBold()
    {
        $(".highlight").css("font-weight", 600);

    }
</script>