@*@using Kendo.Mvc.UI*@
@using System.Text
@using Synergy.App.ViewModel;
@inject Synergy.App.Common.IUserContext _userContext
@model PositionChartIndexViewModel
@{
    ViewBag.Title = "Position Hierarchy";
    Layout = null;
}

<script src="~/js/positionchartmenu.js"></script>
<link href="~/css/orgchart.css" rel="stylesheet" />


<style>
    .k-menu-group {
        position: initial !important
    }

    .context-menu-list {
        position: absolute;
        display: inline-block;
        min-width: 13em;
        max-width: 26em;
        padding: .25em 0;
        margin: .3em;
        font-family: inherit;
        font-size: inherit;
        list-style-type: none;
        background: #fff;
        border: 1px solid #bebebe;
        border-radius: .2em;
        -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
        box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
    }

    #wrapper {
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

        #wrapper > ul {
            height: 75%;
            list-style: none;
            display: flex;
            align-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }

        #wrapper > li {
            flex-basis: calc(100% / 3 - 2px);
            color: firebrick;
            border: 1px solid firebrick;
            background-color: greenYellow;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .tree {
        text-align: center;
        align-items: center;
        display: inline-block !important; /*initial center alignment*/
        overflow-x: auto;
        overflow-y: hidden;
    }
    .taskscount {
        /*background: #fff;
        color: #0767ab;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;*/
        cursor: pointer;
        text-decoration: underline;
    }

    .taskscount:hover {
            background: #fff;
            color: #0767ab;
    }

</style>

<script type="text/javascript">
    var reset = true, chartMode = 'Normal', hierarchyId, asonDate,
        allowedParentId, hierarchyRootNodeId, isAsOnDate , permissionCSV, isAdmin , loggedInEmpId
        , loggedInOrganizationId, loggedInUserOrganizationMapping
        , loggedInOrgId, isAdmin
    $(document).ready(function () {
        $("#menu").hide();
        $("#menu").find("ul").addClass("dropdown-menu");
        allowedParentId='@Model.AllowedRootNodeId';
        InitialLoad('@ViewBag.OrgAllowedRootNodeId');

    });
    function OnAsOnDateChange(e) {
        var params = window.location.search;
        params = RemoveParams(params, 'date');
        var url = window.location.pathname + '?' + params + '&date='+kendo.toString(this.value(), 'yyyy-MM-dd');
        window.location.href = url;
        return false;
    }
    function InitialLoad(OrganizationId) {
        if (OrganizationId != null && OrganizationId != '') {
            var url = "/CHR/PositionHierarchy/GetChildList?parentid=" + allowedParentId + "&levelUpto=1&hierarchyCode=@ViewBag.HierarchyCode&enableTask=@ViewBag.EnableTask&categoryCodes=@ViewBag.CategoryCodes&templateCodes=@ViewBag.TemplateCodes&portalNames=@ViewBag.PortalNames";
            var li = $('.root-li');
            GetChildList(url, li, allowedParentId, true, null);
        }
        else {
           // Search(OrganizationId);
        }

    }
    function ExportToPdf() {
        $("#Width").val($(".root-li").width());
        $("#Height").val($(".root-li").height());
        var html = $('.tree').prop('outerHTML');
        $("#Content").val($('<div/>').text(html).html());
        document.getElementById('exportToPdf').submit();
        return true;
    }
    $(document).on('click', function (e) {
        if ($(e.target).closest("#menu").length === 0 && $(e.target).closest(".hr-org-menu").length === 0) {
            $("#menu").hide();
        }
    });
    @*function GotoDep(type) {
        if (type=='@ChartViewType.TopNode') {
            InitialLoad(null);
        }
        else if (type=='@ChartViewType.MyNode') {
            InitialLoad(loggedInOrganizationId);
        }
    }*@
    function OrganizationChartSearchCallBack(Organizations) {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
       // Search(Organizations.replace(',', ''));
        return false;
    }
    function Search(OrganizationId) {
        var url = "/hrs/Organizationchart/GetParentHierarchyWithAllChild?OrganizationId=" + OrganizationId
            + "&hierarchyId=" + hierarchyId + "&hierarchyRootId=" + hierarchyRootNodeId
            + "&allowedRootId=" + allowedParentId + "&date=" + asonDate;
        var li = $('.root-li');
        GetChildList(url, li, allowedParentId, true, OrganizationId);
    }
    function OnSearch() {

        var url = "/hrs/Organizationchart/search?hierarchyId=" + hierarchyId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Search Department', Width: 1200, Height: 650 });
    }
    function FillNode(data, liData, parentLvl) {
        debugger;
        liData.Level = parentLvl;
        var html = "";
        var template = kendo.template($("#template-org").html());
        html = template(liData);
        var items = $.grep(data, function (element, index) {
            return element.ParentId == liData.Id;
        });

        if (items != null && items.length > 0) {
            html = html.replace('hr-org-expand', 'hr-org-collapse');
            html += "<ul class='" + parentLvl + "'>"
            for (var i = 0; i < items.length; i++) {
                html += "<li id='" + items[i].Id +"' lvl='" + (eval(parentLvl) + 1) + "'>";
                html += FillNode(data, items[i], eval(parentLvl) + 1);
                html += "</li>"
            }
            html += "</ul>";
        }
        return html;
    }
    function GetChildList(url, li, OrganizationId,includeParent,searchId) {

        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            //async: false,
            success: function (data) {
                if (includeParent) {

                    var parentData = $.grep(data, function (element, index) {
                        return element.Id == OrganizationId;
                    });
                    if (parentData != null && parentData.length > 0) {
                        var parentLvl = eval(li.attr('lvl'));
                        li.html(FillNode(data, parentData[0], parentLvl) );
                    }
                }
                else {

                    var childData = $.grep(data, function (element, index) {
                        return element.ParentId == OrganizationId;
                    });

                    if (childData != null && childData.length > 0) {
                        var parentLvl = eval(li.attr('lvl'));
                        var html = "<ul class='" + parentLvl + "'>"
                        for (var i = 0; i < childData.length; i++) {
                            html += "<li id='" + childData[i].Id+"' lvl='" + (eval(parentLvl) + 1) + "'>";
                            html += FillNode(data, childData[i], (eval(parentLvl) + 1));
                            html += "</li>"
                        }
                        html += "</ul>";
                        li.append(html);
                    }
                }

                if (searchId!=null) {
                    $("#org-" + searchId).addClass('focus');
                    FocusSearchResultNode();
                }
            },
            error: function (errData) {
                //OnError(errData);

            }
        });
        return false;
    }
    function Expand(e, rootli) {
        var node = $(e).parent('div').parent('li');
        var lvl = eval(node.attr('lvl'));
        var id = node.attr('id');
        var ul = node.find('ul[class=' + lvl + ']');
        if (ul.length <= 0) {
              //hierarchyId = $("#HierarchyId").val();
            //var url = "/hrs/Organizationchart/GetChildList?parentId=" + id + "&parentLevel=" + lvl
            //    + "&includeParent=false&uptoLevel=1&hierarchyId=" + hierarchyId + "&hierarchyRootId=" + hierarchyRootNodeId
            //    + "&allowedRootId=" + allowedParentId + "&date=" + asonDate;
            if (id == undefined) {
                var node1 = $(e).parent('div')
                var rootid = node1[0].id;
                rootid = rootid.split("org-");
                var url = "/CHR/PositionHierarchy/GetChildList?parentId=" + rootid[1] + "&levelUpto=1";
                GetChildList(url, node, rootid[1], false, null)
            }
            else {
                var url = "/CHR/PositionHierarchy/GetChildList?parentid=" + id + "&levelUpto=1";
                GetChildList(url, node, id, false, null)
            }


         //   var url = "/CHR/PositionHierarchy/GetChildList?parentid=" + id + "&levelUpto=1";
         //   var rootli = $('.root-li');
         //   GetChildList(url, node, id,false,null)
        }
        else {
            ul.show();
            //OnComplete();
        }


    }
    function MultiLevelExpandCollapse(OrganizationId, level) {

        var node = $('#org-' + OrganizationId).parent('li');
        node.find('.hr-ec').toggleClass('hr-org-expand hr-org-collapse');
        var lvl = eval(node.attr('lvl'));
        var id = node.attr('id');
        var ul = node.find('ul[class=' + lvl + ']');
        var ec = node.find('.hr-ec');
        ec.removeClass("hr-org-expand");
        ec.addClass("hr-org-collapse");
        if (ul.length > 0) {
            ul.remove();
        }
        hierarchyId = $("#HierarchyId").val();
        if (id == undefined) {
            var url = "/CHR/PositionHierarchy/GetChildList?parentId=" + OrganizationId + "&levelUpto=" + level;
            GetChildList(url, node, OrganizationId, false, null)
        }
        else {
            var url = "/CHR/PositionHierarchy/GetChildList?parentid=" + id + "&levelUpto=" + level;
            GetChildList(url, node, id, false, null)
        }
       // var url = "/CHR/PositionHierarchy/GetChildList?parentid=" + id + "&levelUpto=" + level;
       // GetChildList(url, node, id, false, null)
    }
    function CollapseAll(OrganizationId) {

        var node = $('#org-' + OrganizationId).parent('li');
        var lvl = eval(node.attr('lvl'));
        var ec = node.find('.hr-ec');
        ec.removeClass("hr-org-collapse");
        ec.addClass("hr-org-expand");
        var ul = node.find('ul[class=' + lvl + ']');
        ul.remove();
        //OnComplete();
    }
    function Collapse(e, rootli) {
        var node = $(e).parent('div').parent('li');
        var lvl = eval(node.attr('lvl'));
        var ul = node.find('ul[class=' + lvl + ']');
        ul.remove();
        //OnComplete();
    }
        function OnExpandCollapseClick(e) {

        var rootli = $('.root-li');
        //OnBegin();
        var isExpand = $(e).hasClass('hr-org-expand');
        $(e).toggleClass('hr-org-expand hr-org-collapse');
        if (isExpand) {
            Expand(e, rootli);
        }
        else {
            Collapse(e, rootli);
        }

    }

    function OnManage(source, orgId, relationshipId, hierarchyId) {
        var rsv = encodeURIComponent("/hrs/organizationchart/index?a=1");
        if (type1 == "OrgExcel") {
            rsv = encodeURIComponent("/hrs/organizationchart/index?type=OrgExcel");
        }
        var url = "/hrs/Organizationhierarchy/" + source + (orgId == null ? "" : "?orgId=" + orgId) +  "&relationshipId=" + relationshipId + "&hierarchyId=" + hierarchyId+ "&ru=" + rsv;
        window.location.href = url;

    }
    function OnOrgManage(source, id) {
        var rsv = encodeURIComponent("/hrs/organizationchart/index?a=1");
        if (type1 == "OrgExcel") {
            rsv = encodeURIComponent("/hrs/organizationchart/index?type=OrgExcel");
        }

        var url = "/hrs/Organization/" + source + (id == null ? "" : "?id=" + id + "&ru=" + rsv +  "&hierarchyId=" + hierarchyId + "&orgId=" + orgId + "&date=" + asonDate);
        window.location.href = url;

    }
    function onAddRootNode() {
        var rsv = encodeURIComponent("//hrs/organizationchart/index?a=1");
        window.location.href = "/hrs/organization/create?parentOrganizationId=0&hierarchyid=1&rs=" + rsv;
    }

    $('#left').click(function () {
        event.preventDefault();
        $('#chartdiv').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#right').click(function () {
        event.preventDefault();
        $('#chartdiv').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    $('#left1').click(function () {
        event.preventDefault();
        $('#chartdiv').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#right1').click(function () {
        event.preventDefault();
        $('#chartdiv').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    function OnAfterCreate(note) {
       // alert(123);
//OnPosHier();
        InitialLoad('@ViewBag.OrgAllowedRootNodeId');
    }

</script>


<script>
    $(function () {
        $.contextMenu({
            selector: '.hr-org-menu',
            trigger: 'left',
            build: function ($trigger, e) {
                return {
                    callback: function (key, options) {
                        switch (key) {
                            case 'CreateNewPosition':
                                var portalId = $('#GlobalPortalId').val();
                                var prms = encodeURIComponent('ParentPositionId=' + posId);
                                var roudfs = encodeURIComponent('ParentPositionId=true');
                                var url = '/Cms/Page?lo=Popup&source=Create&cbm=OnAfterCreate&dataAction=Create&pageName=Position&portalId=' + portalId + '&udfs=' + prms + '&roudfs=' + roudfs;
                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Position', Width: 1200, Height: 650 });
                                break;
                            case 'AddExistingPosition':
                                var url = "/chr/PositionHierarchy/AddExistingPosition?parentPostionId=" + posId + "&parentPositionName=" + posName + "&hierarchyId=" + hierarchyId;
                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Add Existing Position', Width: 800, Height: 400 });
                                break;
                            case 'EditPosition':
                                var portalId = $('#GlobalPortalId').val();
                                var roudfs = encodeURIComponent('ParentPositionId=true');
                                var url = '/Cms/Page?lo=Popup&source=Versioning&cbm=OnAfterCreate&dataAction=Edit&pageName=Position&portalId=' + portalId + '&recordId=' + noteId + '&roudfs=' + roudfs;

                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Position', Width: 1200, Height: 650 });
                                break;
                            case 'EditPositionHierarchy':
                                var note = posHierarchynoteId;
                                var portalId = $('#GlobalPortalId').val();
                                var roudfs = encodeURIComponent('PositionId=true&HierarchyId=true');
                                var url = '/Cms/Page?lo=Popup&source=Versioning&cbm=OnAfterCreate&dataAction=Edit&templateCodes=PositionHierarchy&portalId=' + portalId + '&recordId=' + posHierarchynoteId + '&roudfs=' + roudfs;
                                if (note == "null") {

                                    return false;
                                }
                                else {
                                    var win = GetMainWindow();
                                    win.iframeOpenUrl = url;
                                    win.OpenWindow({ Title: 'Manage Position Hierarchy', Width: 1200, Height: 650 });
                                }

                            case 'AssignEmployee':
                                var portalId = $('#GlobalPortalId').val();
                                var udfs = encodeURIComponent('PositionId=' + posId + '&JobId=' + jobId + '&DepartmentId=' + orgId);
                                var roudfs = encodeURIComponent('PositionId=true&JobId=true&DepartmentId=true');
                                var url = '/Cms/Page?lo=Popup&cbm=OnAfterCreate&source=Create&dataAction=Create&templateCodes=HRAssignment&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;
                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Assign Employee', Width: 1200, Height: 650 });
                                break;
                            case 'ManagePerson':
                                var portalId = $('#GlobalPortalId').val();
                                var url = '/Cms/Page?lo=Popup&source=Versioning&cbm=OnAfterCreate&dataAction=Edit&templateCodes=HRPerson&portalId=' + portalId + '&recordId=' + empNId;

                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Person', Width: 1200, Height: 650 }); break;

                            case 'ManageUser':
                                var portalId = $('#GlobalPortalId').val();
                                var url = '/Cms/User/EditUser?Id=' + userId;

                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'User', Width: 1200, Height: 650 });
                                break;

                            case 'ManageAssignment':
                                var portalId = $('#GlobalPortalId').val();
                                var prms = encodeURIComponent('ParentPositionId=' + posId);
                                var url = '/Cms/Page?lo=Popup&source=Versioning&cbm=OnAfterCreate&dataAction=Edit&templateCodes=HRAssignment&portalId=' + portalId + '&recordId=' + assNId;

                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Assignment', Width: 1200, Height: 650 });
                                break;

                            case 'ManageDocument':
                                var url = "/CHR/HRDirect/EmployeeDocument?userId=" + userId + "&lo=Popup";
                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Manage Document', Width: 1200, Height: 650 });
                                break;

                            case 'RenameJob':

                                var portalId = $('#GlobalPortalId').val();
                                //var prms = encodeURIComponent('ParentPositionId=' + posId);
                                var url = '/Cms/Page?lo=Popup&source=Versioning&cbm=OnAfterCreate&dataAction=Edit&templateCodes=HRJob&portalId=' + portalId + '&recordId=' + jobNId;

                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Job', Width: 1200, Height: 650 });
                                break;
                            case 'WorkListDashboard':
                                var url = "/cms/WorkListDashboard?userId=" + userId + "&lo=Popup";//'/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageName=Project&portalId=' + portalId /*+ '&prms=' + prms*/;

                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'WorkList Dashboard', Width: 1000, Height: 600, Position: 'Right1' });
                                break;
                            case 'NoteHome':
                                var url = "/cms/NtsNote/NoteHome?noteStatus=&mode=&lo=Popup&moduleCodes=&userId=" + userId;
                                var win = GetMainWindow();
                                //var url = '/Cms/Page?popup=true&lo=Popup&pageType=Custom&source=Main&dataAction=None&pageName=ServiceHome&portalId=' + portalId /*+ '&prms=' + prms*/;
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Notes', Width: 1000, Height: 1000 });
                                break;
                            case 'CreateNote':
                                iframeOpenUrl = "/nts/note/Create?empId=" + empId + " & posId=" + posId + " & hierarchyId=" + hierarchyId + " & orgId=" + orgId + " & date=" + asonDate;
                                OpenIframePopup(stdWidth, stdHeight, "Create Note");
                                break;
                            case 'TaskHome':
                                var url = "/cms/NtsTask/TaskHome?taskStatus=&mode=&lo=Popup&moduleCodes=&userId=" + userId;
                                var win = GetMainWindow();
                                //var url = '/Cms/Page?popup=true&lo=Popup&pageType=Custom&source=Main&dataAction=None&pageName=ServiceHome&portalId=' + portalId /*+ '&prms=' + prms*/;
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Tasks', Width: 1000, Height: 1000 });
                                break;
                            case 'CreateTask':
                                iframeOpenUrl = "/nts/task/Create?empId=" + empId + "&posId=" + posId + "&hierarchyId=" + hierarchyId + "&orgId=" + orgId + "&date=" + asonDate;
                                OpenIframePopup(stdWidth, stdHeight, "Create Task");
                                break;
                            case 'ServiceHome':
                                var url = "/cms/NtsService/ServiceHome?serviceStatus=&mode=&lo=Popup&moduleCodes=&userId=" + userId;
                                var win = GetMainWindow();
                                win.iframeOpenUrl = url;
                                win.OpenWindow({ Title: 'Services', Width: 1000, Height: 1000 });
                                break;
                            case 'CreateService':
                                iframeOpenUrl = "/nts/service/Create?empId=" + empId + "&posId=" + posId + "&hierarchyId=" + hierarchyId + "&orgId=" + orgId + "&date=" + asonDate;
                                OpenIframePopup(stdWidth, stdHeight, "Create Service");
                                break;
                            case 'Expand2':
                                MultiLevelExpandCollapse(posId, 2);
                                break;
                            case 'Expand3':
                                MultiLevelExpandCollapse(posId, 3);
                                break;
                            case 'Expand4':
                                MultiLevelExpandCollapse(posId, 4);
                                break;
                            case 'Expand5':
                                MultiLevelExpandCollapse(posId, 5);
                                break;
                            case 'ExpandAll':
                                MultiLevelExpandCollapse(posId, 1000);
                                break;
                            case 'CollapseAll':
                                CollapseAll(posId);
                                break;
                            default:
                        }

                    },
                    items: {
                        "position": {
                            visible: function () {
                                if ('@ViewBag.Permissons.Contains("MANAGE_POSITION")' == 'True' || '@_userContext.IsSystemAdmin' == 'True' ) { return true } else {  return false };
                                    },
                            name: "Position",
                            icon: "fas fa-user",
                            items: {
                                "CreateNewPosition": { name: "Create New Position Below", icon: "fas fa-key" },
                                "AddExistingPosition": { name: "Add Existing Position Below", icon: "fas fa-chart-bullet" },
                                "EditPosition": { name: "Manage Position", icon: "fas fa-chart-bullet" },
                                "EditPositionHierarchy": { name: "Manage Position Hierarchy", icon: "fas fa-chart-bullet" },
                                "AssignEmployee": { name: "Assign Employee To This Position", icon: "fas fa-chart-bullet" },
                            }
                        },

                        //"WorkStructure": { name: "WorkStructure", icon: "fas fa-chart-bullet" },
                        "Employee": {
                            visible: function () {
                                debugger;
                                 if ('@ViewBag.Permissons.Contains("MANAGE_EMPLOYEE")'== 'True' || '@_userContext.IsSystemAdmin' == 'True') { return true } else {  return false };
                                    },
                            name: "Employee",
                            icon: "fas fa-chart-bullet",
                            items: {
                                "ManagePerson": { name: "Manage Person", icon: "fas fa-chart-bullet" },
                                "ManageUser": { name: "Manage User", icon: "fas fa-chart-bullet" },
                                "ManageAssignment": { name: "Manage Assignment", icon: "fas fa-chart-bullet" },
                                "ManageDocument": { name: "Manage Document", icon: "fas fa-chart-bullet" },
                                "RenameJob": { name: "Rename Job", icon: "fas fa-chart-bullet" },
                            }
                        },

                        "Worklist": {
                            name: "Worklist", icon: "fas fa-chart-bullet",
                            items: {
                                "WorkListDashboard": { name: "Work List Dashboard", icon: "fas fa-chart-bullet" },
                                "Notes": {
                                    name: "Notes", icon: "fas fa-chart-bullet",
                                    items: {
                                        "NoteHome": { name: "Note Home", icon: "fas fa-chart-bullet" },
                                        "CreateNote": { name: "Create Note", icon: "fas fa-chart-bullet" },
                                    }
                                },

                                "Tasks": {
                                    name: "Tasks", icon: "fas fa-chart-bullet",
                                    items: {
                                        "TaskHome": { name: "Task Home", icon: "fas fa-chart-bullet" },
                                        "CreateTask": { name: "Create Task", icon: "fas fa-chart-bullet" },
                                    }
                                },
                                "Services": {
                                    name: "Services", icon: "fas fa-chart-bullet",
                                    items: {
                                        "ServiceHome": { name: "Service Home", icon: "fas fa-chart-bullet" },
                                        "CreateService": { name: "Create Service", icon: "fas fa-chart-bullet" },
                                    }
                                },
                            }
                        },

                        "Expand": {
                            name: "Expand", icon: "fas fa-chart-bullet",
                            items: {
                                "Expand2": { name: "Expand 2 Levels Below", icon: "fas fa-chart-bullet" },
                                "Expand3": { name: "Expand 3 Levels Below", icon: "fas fa-chart-bullet" },
                                "Expand4": { name: "Expand 4 Levels Below", icon: "fas fa-chart-bullet" },
                                "Expand5": { name: "Expand 5 Levels Below", icon: "fas fa-chart-bullet" },
                                "ExpandAll": { name: "Expand All Levels Below", icon: "fas fa-chart-bullet" },
                            },
                        },
                        "CollapseAll": { name: "Collapse All", icon: "fas fa-chart-bullet" },
                    }
                };


            }
        });
    });

    function OnTask(status,userId) {
        var portalId = $('#GlobalPortalId').val();
        var prms = encodeURIComponent('categoryCodes=@ViewBag.CategoryCodes&templateCodes=@ViewBag.TemplateCodes&portalNames=@ViewBag.PortalNames&statusCodes=' + status+'&userId=' + userId);
        var url = '/Cms/Page?lo=Div&pageName=MyTasks&portalId=' + portalId + '&customUrl='+prms;
        LoadCmsPartialView(url, 'Custom', false, null, null, "MyTasks", null, null, $('#cms-content'), null);
    }
</script>

@Html.AntiForgeryToken()
@*@Html.ValidationSummary(false, "", new { @class = "k-block k-error-colored hr-v-summary text-danger" })*@

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.ParentId)
@Html.HiddenFor(x => x.Name)


<script type="text/x-kendo-template" id="template-org">
        <div class="org-node #:data.CssClass#" id="org-#:data.Id#" style="Height:270px !important">
           @if (Model.RequestSource == "HRDirect")
           {
           <div class="hr-org-menu-div">
                <span id="hr-org-menu-#:data.Id#"
                      orgId="#:data.OrganizationId#" hc="0" lvl="0"  posNId="#:data.NoteId#" jobNId="#:data.JobNoteId#"  empNId="#:data.PersonNoteId#" empId="#:data.PersonId#"
                      jobId="#:data.JobId#" rl="Abc" posId="#:data.Id#" posName="#:data.PositionName#" assNId="#:data.AssignmentNoteId#"
                        hasUser="#:data.HasUser#"  hierarchyId="#:data.HierarchyId#"
                      orl="Xyz" pt="1"
                      pPosId="1" nt="A" ccHolderId="1"
                      orgHierarchyId="1"
                      userId="#:data.UserId#" noteId="#:data.NoteId#" posHierarchynoteId="#:data.PosHierarchyNoteId#"
                      class="hr-org-menu k-icon k-i-more-horizontal" onclick="OpenContextMenu(this,560,0)">
                </span>
            </div>
               }
            else
            {
                <div class="hr-org-menu-div">
                <span id="hr-org-menu-#:data.Id#"
                      orgId="#:data.OrganizationId#" hc="0" lvl="0" assNId="#:data.AssignmentNoteId#" empId="#:data.PersonId#"
                      jobId="#:data.JobId#" rl="Abc" posId="#:data.Id#" posName="#:data.PositionName#"  posNId="#:data.NoteId#" jobNId="#:data.JobNoteId#"  empNId="#:data.PersonNoteId#"
                      orl="Xyz" pt="1"  hasUser="#:data.HasUser#"
                      pPosId="1" nt="A" ccHolderId="1" hierarchyId="#:data.HierarchyId#"
                      orgHierarchyId="1"
                      userId="#:data.UserId#" noteId="#:data.NoteId#" posHierarchynoteId="#:data.PosHierarchyNoteId#"
                      class="hr-org-menu k-icon k-i-more-horizontal" onclick="OpenContextMenu(this,0,0)">
                </span>
            </div>
            }
            <div>
                @*<img class="chartImage" onerror="OnPhotoError(this,'#:data.DisplayName#');" onerror="this.onerror=null;this.src='/images/nophoto.jpg'" src="/general/file/photo?@(Constant.QueryStringVersionParam)#:data.PhotoVersion#&fileId=#:data.PhotoId#" />*@
                @*<img class="chartImage" onerror='OnPhotoError(this,"#:data.DisplayName#");' src="/general/file/photo?@(Constant.QueryStringVersionParam)#:data.PhotoVersion#&fileId=#:data.PhotoId#" />*@
                <img class="chartImage" src="/Cms/document/getimagemongo?id=#:data.PhotoId#"  onerror='OnPhotoError(this);' />
            </div>
            @*# if (data.DisplayName!=null && data.DisplayName!='null' && data.DisplayName!='') { #*@
            # if (data.HasUser) { #
            <div class="chartText borderTop" style="white-space:normal;">
                #: DisplayName #
            </div>   # } #

            <div class="chartText borderTop" style="white-space:normal;">
                #: PositionName #
            </div>
            # if (data.JobName !=null) { #
            <div class="chartText borderTop" style="white-space:normal;">
                #: JobName #
            </div>
              # } #

            <div class="chartText borderTop" style="white-space:normal;">
                #: OrganizationName #
            </div>

        #if('@ViewBag.EnableTask' == 'True'){#
        <div class="chartText borderTop" style="white-space:normal;display:flex;">
               <div class="col-6 taskscount" onclick="OnTask('TASK_STATUS_INPROGRESS,TASK_STATUS_OVERDUE','#:UserId#');" style="cursor:pointer">Pending: #: TasksPendingCount # </div> | <div class="col-6 taskscount" onclick="OnTask('TASK_STATUS_COMPLETE,TASK_STATUS_REJECT,TASK_STATUS_CANCEL','#:UserId#');" style="cursor:pointer"> Completed: #:TasksCompletedCount#</div>
            </div>
        #}#


            @*<div class="drillDown" title="" style="display: none;">
                <img id="drillDownParent" class="drillDownParent" title="Go to parent" alt=""
                     src="../Images/parent.png" />
                <img id="drillDownRoot" class="drillDownRoot" title="Go to root" src="../Images/root.png" alt="" />
            </div>*@
            # if (data.DirectChildCount>0) { #
            <span class="hr-org-expand hr-ec" onclick="OnExpandCollapseClick(this)"></span>
            <span class="hr-dhc" title="#:data.DirectChildCount# direct reportees">#:data.DirectChildCount#</span>
            # } #
        </div>
</script>


<div id="appWrapper">
    <div class="page" style="overflow-x: scroll">
        <div class="page-inner">
            <div class="page-section">
                @*<script type="text/x-kendo-template" id="legend-content">
            <div class="mp-panel legendContent" style="width: 180px;">
                <div id="legendBody" class="mp-panel-body mp-pad-bot-5 row-fluid">
                    <div class="legend col-sm-12">
                        <div class="rocNormal legendLeft">
                        </div>
                        <div class="legendRight">
                            National
                        </div>
                    </div>
                    <div class="legend col-sm-12">
                        <div class="rocExpat legendLeft">
                        </div>
                        <div class="legendRight">
                            Expatriates
                        </div>
                    </div>

                    <div class="legend col-sm-12">
                        <div class="rocVacant legendLeft">
                        </div>
                        <div class="legendRight">
                            Department Vacant
                        </div>
                    </div>
                </div>
            </div>
        </script>*@
                @*<script type="text/x-kendo-template" id="legend-content">
        @Html.Kendo().DatePicker().Name("kdtAsOfDate").HtmlAttributes(new { @class = "form-control hr-small", @style = "" })

        </script>*@
                <div class="row">
                    @*<div class="col-6">
                <button style="float:left" id="left" class="scrollbtn"><i class="fas fa-chevron-left"></i></button>
                <button style="float:left" id="right" class="scrollbtn"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="col-6">
                <button style="float:right" id="right1" class="scrollbtn"><i class="fas fa-chevron-right"></i></button>
                <button style="float:right" id="left1" class="scrollbtn"><i class="fas fa-chevron-left"></i></button>
            </div>*@
                </div>
                <div class="tree" id="chartdiv" style="min-width:100%;text-align:center;">
                    <div id="wrapper">
                        <ul class="0">
                            <li class="root-li" lvl='0' id="@Model.Id">
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


