@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.UserHierarchyController> Resource
@using Synergy.App.ViewModel
@using Synergy.App.Common

@{
    ViewData["Title"] = "Manage User";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model UserHierarchyViewModel

<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    #myform {
        width: 1000px;
    }
</style>

<div class="row" style="margin-left:15px;" id="update">

    <form asp-controller="UserHierarchy" asp-action="ManageUserHierarchy" class="form-horizontal"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST" id="myform">
        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
        <div class="row hr-pad-top-10">
            <div class="form-group row col-12 ">
                <div class="col-lg-3 label-div">
                    @Resource["HierarchyName"]
                </div>
                <div class="col-lg-9 label-div">
                    @Html.DisplayFor(x => x.HierarchyName, new { @class = "form-control hr-xxx-large" })
                </div>
            </div>
        </div>
        <div class="row hr-pad-top-15">
            <div class="form-group row col-12">
                <div class="col-lg-3 label-div">
                    @SharedResource["UserName"]
                </div>
                <div class="col-lg-9 label-div">
                    <b>
                        <input asp-for="UserIds" id="UserIds" class="form-control hr-xx-large" />
                        @*@Html.DisplayFor(x => x.EmployeeName, new { @class = "form-control hr-xxx-large" })*@
                    </b>
                </div>
            </div>
        </div>

        @*<div class="row hr-pad-top-10">
            <div class="form-group col-xs-12 col-sm-6">
                <div class="col-lg-3 label-div">
                    @Html.LabelFor(m => m.AdminUserId, new { @class = "control-label" })
                </div>
                <div class="col-lg-9">
                    @(Html.Kendo().DropDownListFor(x => x.AdminUserId)
                                                .OptionLabel(@Constant.PlaceHolder_SelectOption)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                {
                                                    read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                });
                                                })
                                                .DataTextField("Name")
                                                .DataValueField("Id")
                                                .Filter(FilterType.Contains)
                                                .AutoBind(true)
                                                .HtmlAttributes(new { @class = "hr-xxx-large" }))

                </div>
            </div>
        </div>*@
        <hr />
        <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div">
                    &nbsp;
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div" style="text-align:center;">
                    <label>@Resource["Option1"]</label>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div" style="text-align:center;">
                    <label>@Resource["Option2"]</label>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div" style="text-align:center;">
                    <label>@Resource["Option3"]</label>
                </div>
            </div>
        </div>
        <hr />
        @if (Model.Level1Name.IsNotNullAndNotEmpty())
        {
            <div class="row">
                <div class="form-group col-xs-12 col-sm-3">
                    <div class="col-xs-12 label-div">
                        <label>@Model.Level1Name</label>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-3">
                    @*@(Html.Kendo().DropDownListFor(x => x.Level1ApproverOption1UserId)
                      .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level1ApproverOption1UserId" id="Level1ApproverOption1UserId" class="hr-xx-large" />


                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level1ApproverOption2UserId)
                     .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level1ApproverOption2UserId" id="Level1ApproverOption2UserId" class="hr-xx-large" />
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level1ApproverOption3UserId)
                      .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@
                    <input asp-for="Level1ApproverOption3UserId" id="Level1ApproverOption3UserId" class="hr-xx-large" />
                </div>
            </div>
            <hr />
        }


        @if (Model.Level2Name.IsNotNullAndNotEmpty())
        {
            <div class="row">
                <div class="form-group col-xs-12 col-sm-3">
                    <div class="col-xs-12 label-div">
                        @Html.DisplayFor(x => x.Level2Name)
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level2ApproverOption1UserId)
                     .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level2ApproverOption1UserId" id="Level2ApproverOption1UserId" class="hr-xx-large" />
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level2ApproverOption2UserId)
                    .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level2ApproverOption2UserId" id="Level2ApproverOption2UserId" class="hr-xx-large" />
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level2ApproverOption3UserId)
                     .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level2ApproverOption3UserId" id="Level2ApproverOption3UserId" class="hr-xx-large" />

                </div>
            </div>
            <hr />
        }
        @if (Model.Level3Name.IsNotNullAndNotEmpty())
        {
            <div class="row">
                <div class="form-group col-xs-12 col-sm-3">
                    <div class="col-xs-12 label-div">
                        @Html.DisplayFor(x => x.Level3Name)
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level3ApproverOption1UserId)
                      .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level3ApproverOption1UserId" id="Level3ApproverOption1UserId" class="hr-xx-large" />

                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level3ApproverOption2UserId)
                    .OptionLabel(""+ SharedResource["Select"] +"")
                     .DataSource(source =>
                     {
                         source.Read(read =>
                         {
                             read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                         });
                     })
                     .DataTextField("Name")
                     .DataValueField("Id")
                     .Filter(FilterType.Contains)
                     .AutoBind(true)
                     .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level3ApproverOption2UserId" id="Level3ApproverOption2UserId" class="hr-xx-large" />

                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level3ApproverOption3UserId)
                       .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                        });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@
                    <input asp-for="Level3ApproverOption3UserId" id="Level3ApproverOption3UserId" class="hr-xx-large" />
                </div>
            </div>
            <hr />
        }
        @if (Model.Level4Name.IsNotNullAndNotEmpty())
        {
            <div class="row">
                <div class="form-group col-xs-12 col-sm-3">
                    <div class="col-xs-12 label-div">
                        @Html.DisplayFor(x => x.Level4Name)
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level4ApproverOption1UserId)
                      .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                        });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level4ApproverOption1UserId" id="Level4ApproverOption1UserId" class="hr-xx-large" />

                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level4ApproverOption2UserId)
                     .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@


                    <input asp-for="Level4ApproverOption2UserId" id="Level4ApproverOption2UserId" class="hr-xx-large" />
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level4ApproverOption3UserId)
                        .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@
                    <input asp-for="Level4ApproverOption3UserId" id="Level4ApproverOption3UserId" class="hr-xx-large" />
                </div>
            </div>
            <hr />
        }
        @if (Model.Level5Name.IsNotNullAndNotEmpty())
        {
            <div class="row">
                <div class="form-group col-xs-12 col-sm-3">
                    <div class="col-xs-12 label-div">
                        @Html.DisplayFor(x => x.Level5Name)
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level5ApproverOption1UserId)
                      .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                    <input asp-for="Level5ApproverOption1UserId" id="Level5ApproverOption1UserId" class="hr-xx-large" />
                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level5ApproverOption2UserId)
                       .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@
                    <input asp-for="Level5ApproverOption2UserId" id="Level5ApproverOption2UserId" class="hr-xx-large" />

                </div>
                <div class="form-group col-xs-12 col-sm-3">

                    @*@(Html.Kendo().DropDownListFor(x => x.Level5ApproverOption3UserId)
                     .OptionLabel("" + SharedResource["Select"] + "")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                    });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large" }))*@
                    <input asp-for="Level5ApproverOption3UserId" id="Level5ApproverOption3UserId" class="hr-xx-large" />
                </div>
            </div>
        }





        <div class="row" style="float:right">
            @*<div class="form-group col-xs-12 col-sm-6">
                <div class="col-lg-3 label-div">
                    * Required fields
                </div>
                <div class="col-lg-9">
                    &nbsp;
                </div>
            </div>*@
            <div class="">
                <div class="col-sm-12" style="text-align:right;">
                    <input type="submit" class="btn btn-success" onclick="SaveData(event)" value="@SharedResource["Save"]" />

                </div>

            </div>

        </div>
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.HierarchyId)
        @*@Html.HiddenFor(x => x.UserIds)*@
        @Html.HiddenFor(x => x.UserLevels)



    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserIds").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
              optionLabel: "@SharedResource["Select"]",
              value: '@Model.UserIds',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url:  "/cms/UserHierarchy/GetNonExistingUserlist?hierarchy=" + '@Model.HierarchyId' @*+"&parentId="+'@Model.ParentUserId'*@,
                    }
                }
            }
        });
        $("#Level1ApproverOption1UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level1ApproverOption1UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level1ApproverOption2UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level1ApproverOption2UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level1ApproverOption3UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level1ApproverOption3UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

         $("#Level2ApproverOption1UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level2ApproverOption1UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level2ApproverOption2UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level2ApproverOption2UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level2ApproverOption3UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level2ApproverOption3UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

         $("#Level3ApproverOption1UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level3ApproverOption1UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level3ApproverOption2UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level3ApproverOption2UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level3ApproverOption3UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level3ApproverOption3UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

         $("#Level4ApproverOption1UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level4ApproverOption1UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level4ApproverOption2UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level4ApproverOption2UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level4ApproverOption3UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level4ApproverOption3UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

         $("#Level5ApproverOption1UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level5ApproverOption1UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level5ApproverOption2UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level5ApproverOption2UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level5ApproverOption3UserId").kendoDropDownList({
        dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@SharedResource["Select"]",
            value: '@Model.Level5ApproverOption3UserId',
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/Cms/User/GetUserIdNameList",
                    }
                }
            }
        });


        $("#Level" + "@Model.LevelNo" + "ApproverOption" + "@Model.OptionNo" + "UserId").data("kendoDropDownList").readonly(true);
    });

    function closeNavUser() {

        var win = GetMainWindow();
        win.CloseWindow({ MethodName:"OnAfterCreate"});
        return false;
    }

  var onAjaxSuccess = function (res) {
        if (res.success) {

            HideLoader($('#update'));
         //   alert("success")

         //  window.parent.$("#kgrdUserHierarchy").data("kendoGrid").dataSource.read({ hierarchyId: '@Model.HierarchyId' });

            closeNavUser();
            return false;

        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
            HideLoader($('#update'));
        }
    };

    function SaveData(evt) {

        ShowLoader($('#update'));
    }

</script>

