@inject Synergy.App.Common.IUserContext _userContext;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    Layout = null;
}

<style>
    .hilight:hover {
        color: blue;
    }

    .img-140 {
        width: 200px;
        height: 140px;
    }

    .img-150 {
        width: 150px;
        height: 150px;
    }

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }

        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }

    .card-body {
        padding: 10px 5px;
    }

    .card-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid 1px #f2f2f2;
    }

    .card-size {
    }

    .card-img-div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .border-1 {
        border: 3px solid var(--blue) !important;
    }

        .border-1 .text-content {
            background-color: var(--blue) !important;
        }

    .border-2 {
        border: 3px solid var(--indigo) !important;
    }

        .border-2 .text-content {
            background-color: var(--indigo) !important;
        }

    .border-3 {
        border: 3px solid var(--red) !important;
    }

        .border-3 .text-content {
            background-color: var(--red) !important;
        }

    .border-4 {
        border: 3px solid var(--pink) !important;
    }

        .border-4 .text-content {
            background-color: var(--pink) !important;
        }

    .border-7 {
        border: 3px solid var(--purple) !important;
    }

        .border-7 .text-content {
            background-color: var(--purple) !important;
        }

    .border-6 {
        border: 3px solid var(--orange) !important;
    }

        .border-6 .text-content {
            background-color: var(--orange) !important;
        }

    .border-5 {
        border: 3px solid var(--teal) !important;
    }

        .border-5 .text-content {
            background-color: var(--teal) !important;
        }

    .border-8 {
        border: 3px solid var(--green) !important;
    }

        .border-8 .text-content {
            background-color: var(--green) !important;
        }

    a.card:hover {
        text-decoration: none !important;
    }


    /*new ui css*/

    .theme-color-green {
        background-color: #fab39a;
    }


    .font-16 {
        font-size: 16px;
    }

    .medium {
        font-weight: 500;
    }

    .bg-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../../../images/egov/srinagar-background.jpg') !important;
    }

    .main-heading {
        font-size: 28px;
        font-weight: 500;
    }

    .font-poppins {
        font-family: POPPINS;
    }

    .font-roboto {
        font-family: roboto;
    }

    .max-width-100 {
        max-width: 100%;
    }

    .border-theme-green {
        border: 1px solid #ff7f50;
    }


    .border-radius-6 {
        border-radius: 6px;
    }

    .horizontal-divider {
        border: 1px solid white;
    }

    .line-height-32 {
        line-height: 32px;
        font-size: 16px;
    }

    #catDiv {
        min-height: 450px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .is-hoverable {
        cursor: pointer !important;
    }

    .text-white {
        color: #fff !important;
    }

    .containerservice {
        margin-right: auto !important;
        margin-left: auto !important;
        width: 1140px;
    }

    .radiobtn {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-top: -5px;
        cursor: pointer;
    }

    .jscbutton {
        background: linear-gradient(#ff5722, #f39900) !important;
        border-color: #ff7f50 !important;
    }

    .center {
        height: 250px;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

    .product {
        float: left;
        position: relative;
        width: 340px;
        min-height: 300px;
        margin: 0 5px 30px;
    }

    /*home css*/
    .t-pad-10 {
        margin: 10px 0 0;
    }

    .home-banner {
        background-image: url('../../../../images/EGOV/Jammu/Hero-banner.png');
        width: auto;
        height: 330px;
        background-repeat: no-repeat;
        clear: both;
        margin-top: 20px;
        margin-bottom: 20px;
        background-position: 0;
    }

    #diamond {
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-bottom-color: red;
        position: relative;
        top: -4px;
    }

        #diamond:after {
            content: '';
            position: absolute;
            left: -12px;
            top: 12px;
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-top-color: red;
        }

    .diamond {
        float: left;
    }

    .main-title {
        padding: 0 0 0 38px;
        border-right: 4px solid red;
        font-size: 32px;
        color: #696969;
        height: 48px;
    }

    .catName {
        /*padding: 0 0 0 38px;
                            border-right: 4px solid red;*/
        font-size: 28px;
        color: #696969;
        height: 48px;
        padding: 5px;
        padding-left: 30px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .categories {
        height: 130px;
        width: 335px;
        background-repeat: no-repeat;
        float: left;
        margin-right: 15px;
    }

    .lbl-service {
        vertical-align: middle;
        padding: 36px 0 0;
    }

    .col-form-label {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 1.5;
        color: #1d1c44 !important;
    }

    .Logo-Block {
        width: 100%;
        display: inline-flex;
        clear: both;
        border: 1px solid #cecece;
        border-radius: 12px;
        margin: 20px auto;
        height: auto;
        background-color: #f0f0f0;
    }

    .logo-img {
        height: 150px;
        width: auto;
        float: left;
    }

    .btn-secondary {
        margin-top: 15px !important;
    }

    .text-danger {
        color: red !important;
    }

    .btn-hall-book {
        text-align: center;
    }

    .div-filter {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        border-style: solid;
        border-radius: 5px;
        border-color: lightgrey;
    }
</style>

<script>
    $(document).ready(function () {

        $("#daterangepicker").kendoDateRangePicker({
            format: "@ApplicationConstant.DateAndTime.DefaultJqueryDateFormat",
            min: new Date(),
            messages: { startLabel: "Start Date", endLabel: "End Date" },
        });

        $("#WardId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetWardList"
                    }
                },
            },
        });

        $("#HallId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            dataTextField: "Name",
            dataValueField: "CommunityHallId",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetJSCCommunityHallIdNameList"
                    }
                },
            },
        });

        $("#calendar").kendoCalendar({
            selectable: "multiple"
        });

        $("#calendar").on("mousedown", "td", function (e) {

            var clickedItem = $(e.target).closest("td[role='gridcell']");

            // prevent click event for item elements
            clickedItem.on("click", function (e) {
                e.stopPropagation();
                e.preventDefault();
            });

            if (clickedItem.length > 0) {
                var calendar = $("#calendar").getKendoCalendar();
                var clickedDate = kendo.calendar.toDateObject(clickedItem.children("a"));

                var selectedDates = calendar.selectDates();

                if (clickedItem.hasClass("k-state-selected")) {
                    // if date is already selected - remove it from collection
                    selectedDates = $.grep(selectedDates, function (item, index) {
                        return clickedDate.getTime() !== item.getTime();
                    });
                } else {
                    selectedDates.push(clickedDate);
                }

                calendar.selectDates(selectedDates);
            }
        });
        //GetCommHallListLoad("", "", "", "2021-01-01")
        onSearch();
    });
    function onSearch(){
        //$("#communityHallDiv").hide();
        //$("#communityHallDivLoad").show();
        GetCommHallListLoad();
    }
    function onReset(){
        $("#WardId").data("kendoDropDownList").value(-1);
        $("#HallId").data("kendoDropDownList").select(-1);
        onSearch();
    }
    function onCommunityHallDetail(hallId) {
        var url = "/EGov/SmartCity/ViewJSCCommunityHallDetails?communityHallId=" + hallId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Community Hall Details', Width: 1000, Height: 800 });
        return false;
    }
    function BackToCategory() {
        window.location.href = "/portal/JammuSmartCityCustomer/JSCHome";
        LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "JSCHome");
        return false;
    }
    function OnDateTypeChange() {
        var type = $('input[name=date_type]:checked').val();
        $('#communityHallDiv').hide();
        if (type == "1") {
            $('#daterangepicker').show();
            $('#calendar').hide();
        } else {
            $('#daterangepicker').hide();
            $('#calendar').show();
        }
        $('#divSubmit').show();
    }
    function OnDateTypeChange() {
        var type = $('input[name=date_type]:checked').val();
        $('#communityHallDiv').hide();
        if (type == "1") {
            $('#daterangepicker').show();
            $('#calendar').hide();
        } else {
            $('#daterangepicker').hide();
            $('#calendar').show();
        }
        $('#divSubmit').show();
    }
    function OnSearchCommHall(e) {
        debugger;
        var dateType;
        var st = new Date();
        var en = new Date();
        var dates = [];
        var type = $('input[name=date_type]:checked').val();
        if (type != null && type != "") {

            if (type == "1") {
                dateType = "DateRange";
                var daterangepicker = $("#daterangepicker").data("kendoDateRangePicker");
                var range = daterangepicker.range();
                if (range != null) {
                    st = new Date(range.start);
                    en = new Date(range.end);

                    var d = new Date(st),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();

                    if (month.length < 2)
                        month = '0' + month;
                    if (day.length < 2)
                        day = '0' + day;

                    var st = [year, month, day].join('-');

                    var d = new Date(en),
                        day = '' + d.getDate();
                    if (day.length < 2)
                        day = '0' + day;

                    var en = [year, month, day].join('-');

                    $(".text-danger").removeClass("validation-summary-errors");
                    $(".text-danger").addClass("validation-summary-valid");
                    $(".text-danger").html("");

                    GetCommHallList(dateType, st, en, dates);
                }
                else {
                    $(".text-danger").removeClass("validation-summary-valid");
                    $(".text-danger").addClass("validation-summary-errors");
                    $(".text-danger").html("Select dates");
                    e.preventDefault();
                    return false;
                }
            } else {
                dateType = "MultipleDates";
                var calendar = $("#calendar").data("kendoCalendar");
                var value = calendar.selectDates();
                if (value.length > 0) {
                    for (var i = 0; i < value.length; i++) {
                        var d = new Date(value[i]),
                            month = '' + (d.getMonth() + 1),
                            day = '' + d.getDate(),
                            year = d.getFullYear();

                        if (month.length < 2)
                            month = '0' + month;
                        if (day.length < 2)
                            day = '0' + day;

                        var dt = [year, month, day].join('-');

                        //dates.push(value[i].toString());
                        dates.push(dt);
                    }
                    $(".text-danger").removeClass("validation-summary-errors");
                    $(".text-danger").addClass("validation-summary-valid");
                    $(".text-danger").html("");
                    GetCommHallList(dateType, st, en, dates);
                }
                else {
                    $(".text-danger").removeClass("validation-summary-valid");
                    $(".text-danger").addClass("validation-summary-errors");
                    $(".text-danger").html("Select dates");
                    e.preventDefault();
                    return false;
                }
            }
        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Select date type");
            e.preventDefault();
            return false;
        }
    }
    function GetCommHallListLoad() {
        $('#communityHallDiv').hide();
        $('#communityHallDivLoad').show();
        debugger;
        var wid = $("#WardId").data("kendoDropDownList").value();
        var hid = $("#HallId").data("kendoDropDownList").value();

        var parent = document.getElementById('communityHallDivLoad');
        parent.innerHTML = "";
        parent.innerHTML = "<div id='communityHallListLoad'></div>";


        var dataSourceCHLoad = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/SmartCity/SearchJSCCommunityHallList?communityHallId=" + hid + "&wardId=" + wid,
                    //url: "/egov/smartcity/ReadCommunityHallList?type=" + dateType + "&start=" + st + "&end=" + en + "&dates=" + dates,
                    //data: CommunityHallTemplate,
                    dataType: "json"
                }
            },
        });

        $("#communityHallListLoad").kendoListView({
            dataSource: dataSourceCHLoad,
            layout: "grid",
            template: kendo.template($("#commhalltemplateload").html()),
            dataBound: function () {
                $("#communityHallListLoad").removeClass();
                $("#communityHallListLoad").children('.k-listview-content').removeClass("k-listview-content k-d-grid").addClass("row");
            }
        });
    }

    function GetCommHallList(dateType, st, en, dates) {
        $('#communityHallDivLoad').hide();
        $('#communityHallDiv').show();
        debugger;
        var parent = document.getElementById('communityHallDiv');
        parent.innerHTML = "";
        parent.innerHTML = "<div id='communityHallList'></div>";


        var dataSourceCH = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/egov/smartcity/ReadCommunityHallList?type=" + dateType + "&start=" + st + "&end=" + en + "&dates=" + dates,
                    //data: CommunityHallTemplate,
                    dataType: "json"
                }
            },
        });

        $("#communityHallList").kendoListView({
            dataSource: dataSourceCH,
            layout: "grid",
            template: kendo.template($("#commhalltemplate").html()),
            dataBound: function () {
                $("#communityHallList").removeClass();
                $("#communityHallList").children('.k-listview-content').removeClass("k-listview-content k-d-grid").addClass("row");
            }
        });
    }

    function OnBookNow(hallId, rate) {
        //alert(hallId);
        debugger;
        var dtseltype = "";
        var fdate = "";
        var tdate = "";
        var mdate = "";
        var dates = [];
        var portalId = $("#GlobalPortalId").val();
        var tempCode = "JSC_COMMUNITY_HALL_SERVICE";

        var dttype = $('input[name=date_type]:checked').val();
        if (dttype == "1") {
            dtseltype = '@ViewBag.DateTypeRange';
            var daterangepicker = $("#daterangepicker").data("kendoDateRangePicker");
            var range = daterangepicker.range();
            if (range != null) {
                fdate = kendo.toString(new Date(range.start), 'yyyy-MM-dd'); //'2022-11-11';
                tdate = kendo.toString(new Date(range.end), 'yyyy-MM-dd'); //'2022-11-12';            }
            }
        } else {
            dtseltype = '@ViewBag.DateTypeMulti';
            var calendar = $("#calendar").data("kendoCalendar");
            var value = calendar.selectDates();
            if (value.length > 0) {
                for (var i = 0; i < value.length; i++) {
                    var dt = kendo.toString(new Date(value[i]), 'yyyy-MM-dd');
                    dates.push(dt);
                }
                mdate = dates.toString();
            }
        }
        var prms = encodeURIComponent('ownerUserId=@_userContext.UserId');
        var udfs = encodeURIComponent('Name=@_userContext.Name&BookingById=@ViewBag.BookingBy&DateSelectionType=' + dtseltype + '&BookingFromDate=' + fdate + '&BookingToDate=' + tdate + '&MultipleDates=' + mdate + '&GrandTotal=' + rate + '');
        var url = '/EGov/SmartCity/JSCCommunityHallBooking?hallId=' + hallId + '&bookingById=@ViewBag.BookingBy&dtseltype=' + dtseltype + '&fdate=' + fdate + '&tdate=' + tdate + '&multidate=' + mdate + '&rate=' + rate + '&paymentMode=@ViewBag.PaymentMode';

        //var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&prms=' + prms + '&udfs=' + udfs;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Community Hall Booking", Width: 1000, Height: 700 });
        return false;
    }

    function OnAfterServiceCreate(e) {
        //debugger;
        console.log(e);
        //if (e.TemplateCode = "JSC_LODGECOMPLAINT") {
        //    window.location.href ="/portal/JammuSmartCityCustomer/MyComplaints";
        //    LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "");
        //    return false;
        //} else {
        //    window.location.href = "/portal/JammuSmartCityCustomer/RequestList";
        //    LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "");
        //    return false;
        //}
        BackToCategory();
    }

    function showGoogleMap(lati, longi) {
        debugger;
        var lat = lati;
        var long = longi;
        window.open("http://maps.google.com/maps?q=" + lat + "," +long , '_blank');
    }

    function onGotoPayment(Prms) {
        debugger;
        //alert(Prms);
        //window.location.href = "/portal/JammuSmartCityCustomer/MyPayments";
        // LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "");
        //return false;

        var returnUrl = "/Portal/JammuSmartCityCustomer/MyPayments/";
        //ShowLoader($('#container'));
        $.ajax({
            url: "/EGov/SmartCity/JSCCommunityHallDirectPayment?serviceId=" + Prms,
            dataType: "json",
            success: function (res) {
                if (res.success) {
                    //HideLoader($('#container'));
                    $.ajax({
                        type: "POST",
                        url: "/EGov/SmartCity/OnlinePaymentJSC",
                        data: { 'amount': res.data.Amount, 'ntsType': '@NtsTypeEnum.Task', 'assigneeUserId': res.data.NoteOwnerUserId, 'returnUrl': returnUrl, 'paymentIds': res.data.Id },
                        success: function (resp) {

                            if (resp.success) {
                                if (resp.requestURL === null || resp.requestURL === '' || resp.requestURL === undefined) {
                                    HideLoader($('#container'));
                                    alert('Payment gateway not found');
                                    return false;
                                }
                                else {
                                    window.top.location.href = resp.requestURL;
                                }

                            } else {
                                ShowNotification(resp.error, "error");
                                HideLoader($('#container'));
                            }
                        },
                        dataType: "json",
                    });
                } else {
                    ShowNotification(res.error, "error");
                    //HideLoader($('#container'));
                }
            }

        });
    }
</script>


<div id="appWrapper" class="wrapper">
    <div class="page text-center mt-0  w-100">
        <div class="page-inner">
            <div class="row-12" id="commHallDiv">
                <div class="sec-main-title t-pad-10">
                    <div class="row">
                        <div class="col-lg-5 col-xl-5 col-xxl-5 t-pad-10">
                            <div id="diamond" class="diamond"></div>
                            <div>
                                <h1 class="catName" id="commcategoryName">Community Hall Booking</h1>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-5 col-xxl-5 t-pad-10">
                        </div>
                        <div class="col-lg-2 col-xl-2 col-xxl-2">
                            <button type="button" class="btn btn-secondary" onclick="BackToCategory();" style="cursor:pointer;">Back To Services</button>
                            @*<h1 class="main-title" onclick="BackToCategory();" style="cursor:pointer;"><i class="far fa-arrow-alt-circle-left pr-2"></i>Back To Services</h1>*@
                        </div>
                    </div>
                </div>
                <hr />
                <br />
                <div class="row containerservice">
                    <div class="col-6 div-filter">
                        <div class="row">
                            <div class="col-4">
                                <label style="font-weight:bold;">Select Ward</label>
                                <input id="WardId" style="width: 100%;" />
                            </div>
                            <div class="col-4">
                                <label style="font-weight:bold;">Select Hall Name</label>
                                <input id="HallId" style="width: 100%;" />
                            </div>
                            <div class="col" style="margin-top:30px">
                                <button type="button" class="btn btn-primary" style="margin-right:5px" onclick="onSearch()">Search</button>
                                <button type="button" class="btn btn-primary" style="margin-right:5px" onclick="onReset()">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 div-filter">
                        <div class="row">
                            <div class="text-danger" asp-validation-summary="All"></div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-weight:bold;">Select Date Type for Booking</label>
                            </div>
                            <div class="col-3">
                                <input type="radio" id="dateRange" class="radiobtn" name="date_type" value="1" onclick="OnDateTypeChange();">
                                <label for="dateRange">Date Range</label>
                            </div>
                            <div class="col-3">
                                <input type="radio" id="multiple" class="radiobtn" name="date_type" value="2" onclick="OnDateTypeChange();">
                                <label for="multiple">Multiple Dates</label>
                            </div>
                        </div>
                        <div class="row" style="text-align:center;">
                            <div id="daterangepicker" style="width:100%;display:none;"></div>
                            <div id="calendar" style="width:100%;display:none;"></div>
                        </div>
                        <div class="row" id="divSubmit" style="display:none;">
                            <div class="col-12" style="text-align:center;margin-top:10px;">
                                <button type="button" class="btn btn-primary" onclick="OnSearchCommHall(event);">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*                <div class="row containerservice">
                <div class="col-3">
                <label style="font-weight:bold;">Select Ward</label>
                <input id="WardId" style="width: 100%;" />
                </div>
                <div class="col-3">
                <label style="font-weight:bold;">Select Hall Name</label>
                <input id="HallId" style="width: 100%;" />
                </div>
                <div style="margin-top:30px">
                <button type="button" class="btn btn-primary" style="margin-right:5px">Search</button>
                <button type="button" class="btn btn-primary" style="margin-right:5px">Reset</button>
                </div>
                </div>*@
                <br />
                <div class="containerservice" id="communityHallDivLoad" style="display:none;">
                    <div id="communityHallListLoad" class="row"></div>
                </div>
                <script type="text/x-kendo-tmpl" id="commhalltemplateload">

                    <div class="card bg-light mb-3 product" style="width: 20rem;height:500px;">
                        <center><div class="card-header">#:Name#
                        #if(Latitude != null && Longitude !=null){#
                            <span onclick="showGoogleMap('#:Latitude#','#:Longitude#')" title="Click to view on Map" class="bold" style="text-decoration:underline;color:blue;cursor:pointer"><i class="fa fa-location-dot"></i></span>
                           #}#                             
                        </div></center>
                            <div class="card-body">
                                #if(PhotoId != null)
                                {#
                                    <img class="center" src="/cms/Document/GetImageMongo?id=#=PhotoId#" onerror='OnImgError(this);' />
                                #}
                                else {#
                                    <img class="center" src="/Cms/document/GetApplicationDocument?documentCode=COMMUNITY_HALL" onerror='OnImgError(this);' />
                                #}#
                                <hr/>
                                #if(SpecialRate>0)
                                {#
                                    <h5 class="card-title" style="text-align:center">Rate&nbsp;:&nbsp;<i class="fa fa-indian-rupee-sign"></i>#:SpecialRate#</h5>
                                #}
                                else {#
                                    <h5 class="card-title" style="text-align:center">Rate&nbsp;:&nbsp;<i class="fa fa-indian-rupee-sign"></i>#:StandardRate#</h5>
                                #}#
                                
                                <h5 class="card-title" style="text-align:center">Ward&nbsp;:&nbsp;#:WardName#</h5>
                                 <h5 onclick="onCommunityHallDetail('#:CommunityHallId#')" class="card-title hilight" style="text-align:center;cursor: pointer;">View Details...&nbsp;</h5>
                                </div>
                            </div>
                    </div>

                </script>
                @*<div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                <div class="text-danger" asp-validation-summary="All"></div>
                <br />
                <div class="row">
                <div class="col-4">
                Select Date Type for Booking
                </div>
                <div class="col-4">
                <input type="radio" id="dateRange" class="radiobtn" name="date_type" value="1" onclick="OnDateTypeChange();">
                <label for="dateRange">Date Range</label>
                </div>
                <div class="col-4">
                <input type="radio" id="multiple" class="radiobtn" name="date_type" value="2" onclick="OnDateTypeChange();">
                <label for="multiple">Multiple Dates</label>
                </div>
                </div>
                <br />
                <div class="row-12">
                <div id="daterangepicker" style="width:100%;display:none;"></div>
                <div id="calendar" style="width:100%;display:none;"></div>
                </div>
                <br />
                <div class="row" id="divSubmit" style="display:none;">
                <div class="col-12" style="text-align:center;">
                <button type="button" class="btn btn-primary" onclick="OnSearchCommHall(event);">Submit</button>
                </div>
                </div>

                </div>
                <div class="col-4"></div>
                </div>*@
            </div>
            <br />
            <div class="containerservice" id="communityHallDiv" style="display:none;">
                <div id="communityHallList"></div>
            </div>
            <script type="text/x-kendo-tmpl" id="commhalltemplate">

                <div class="card bg-light mb-3 product" style="width: 20rem;height:500px;">
                     <center> <div class="card-header">#:Name#
                         #if(Latitude != null && Longitude !=null){#
                          <span onclick="showGoogleMap('#:Latitude#','#:Longitude#')" title="Click to view on Map" class="bold" style="text-decoration:underline;color:blue;cursor:pointer"><i class="fa fa-location-dot"></i></span>
                          #}#
                      </div></center>
                          <div class="card-body">
                              #if(PhotoId != null)
                              {#
                                  <img class="center" src="/cms/Document/GetImageMongo?id=#=PhotoId#" onerror='OnImgError(this);' />
                              #}
                              else {#
                                  <img class="center" src="/Cms/document/GetApplicationDocument?documentCode=COMMUNITY_HALL" onerror='OnImgError(this);' />
                              #}#
                              <hr/>
                              #if(SpecialRate>0)
                              {#
                                  <h5 class="card-title" style="text-align:center">Rate&nbsp;:&nbsp;<i class="fa fa-indian-rupee-sign"></i>#:SpecialRate#</h5>
                              #}
                              else {#
                                  <h5 class="card-title" style="text-align:center">Rate&nbsp;:&nbsp;<i class="fa fa-indian-rupee-sign"></i>#:StandardRate#</h5>
                              #}#
                              <h5 class="card-title" style="text-align:center">Ward&nbsp;:&nbsp;#:WardName#</h5>
                                <h5 onclick="onCommunityHallDetail('#:CommunityHallId#')" class="card-title hilight" style="text-align:center;cursor: pointer;">View Details...&nbsp;</h5>
                                #if(IsAvailable)
                                {#
                                    <center><button type="button" class="btn btn-primary" onclick="OnBookNow('#:CommunityHallId#', '#:Rate#');">Booking Now</button></center>
                                #}
                                else {#
                                    <center><button type="button" class="btn btn-danger">Not Available</button></center>
                                #}#
                                
                            </div>
                          </div>
                  </div>

            </script>

        </div>
    </div>
</div>