@inject Synergy.App.Common.IUserContext _userContext;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    Layout = null;
}

@model TemplateViewModel


<style>
    .img-140 {
        width: 200px;
        height: 140px;
    }

    .img-150 {
        width: 150px;
        height: 150px;
    }

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }

        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }

    .card-body {
        padding: 10px 5px;
    }

    .card-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid 1px #f2f2f2;
    }

    .card-size {
    }

    .card-img-div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .border-1 {
        border: 3px solid var(--blue) !important;
    }

        .border-1 .text-content {
            background-color: var(--blue) !important;
        }

    .border-2 {
        border: 3px solid var(--indigo) !important;
    }

        .border-2 .text-content {
            background-color: var(--indigo) !important;
        }

    .border-3 {
        border: 3px solid var(--red) !important;
    }

        .border-3 .text-content {
            background-color: var(--red) !important;
        }

    .border-4 {
        border: 3px solid var(--pink) !important;
    }

        .border-4 .text-content {
            background-color: var(--pink) !important;
        }

    .border-7 {
        border: 3px solid var(--purple) !important;
    }

        .border-7 .text-content {
            background-color: var(--purple) !important;
        }

    .border-6 {
        border: 3px solid var(--orange) !important;
    }

        .border-6 .text-content {
            background-color: var(--orange) !important;
        }

    .border-5 {
        border: 3px solid var(--teal) !important;
    }

        .border-5 .text-content {
            background-color: var(--teal) !important;
        }

    .border-8 {
        border: 3px solid var(--green) !important;
    }

        .border-8 .text-content {
            background-color: var(--green) !important;
        }

    a.card:hover {
        text-decoration: none !important;
    }


    /*new ui css*/

    .theme-color-green {
        background-color: #fab39a;
    }


    .font-16 {
        font-size: 16px;
    }

    .medium {
        font-weight: 500;
    }

    .bg-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../../../images/egov/srinagar-background.jpg') !important;
    }

    .main-heading {
        font-size: 28px;
        font-weight: 500;
    }

    .font-poppins {
        font-family: POPPINS;
    }

    .font-roboto {
        font-family: roboto;
    }

    .max-width-100 {
        max-width: 100%;
    }

    .border-theme-green {
        border: 1px solid #ff7f50;
    }


    .border-radius-6 {
        border-radius: 6px;
    }

    .horizontal-divider {
        border: 1px solid white;
    }

    .line-height-32 {
        line-height: 32px;
        font-size: 16px;
    }

    #catDiv {
        min-height: 450px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .is-hoverable {
        cursor: pointer !important;
    }

    .text-white {
        color: #fff !important;
    }

    .containerservice {
        margin-right: auto !important;
        margin-left: auto !important;
        width: 1140px;
    }

    .radiobtn {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-top: -5px;
        cursor: pointer;
    }

    .jscbutton {
        background: linear-gradient(#ff5722, #f39900) !important;
        border-color: #ff7f50 !important;
    }

    .center {
        height: 250px;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

    .product {
        float: left;
        position: relative;
        width: 340px;
        min-height: 300px;
        margin: 0 5px 30px;
    }

    /*home css*/
    .t-pad-10 {
        margin: 10px 0 0;
    }

    .home-banner {
        background-image: url('../../../../images/EGOV/Jammu/Hero-banner.png');
        width: auto;
        height: 330px;
        background-repeat: no-repeat;
        clear: both;
        margin-top: 20px;
        margin-bottom: 20px;
        background-position: 0;
    }

    #diamond {
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-bottom-color: red;
        position: relative;
        top: -4px;
    }

        #diamond:after {
            content: '';
            position: absolute;
            left: -12px;
            top: 12px;
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-top-color: red;
        }

    .diamond {
        float: left;
    }

    .main-title {
        padding: 0 0 0 38px;
        border-right: 4px solid red;
        font-size: 32px;
        color: #696969;
        height: 48px;
    }

    .catName {
        /*padding: 0 0 0 38px;
        border-right: 4px solid red;*/
        font-size: 28px;
        color: #696969;
        height: 48px;
        padding:5px;
        padding-left:30px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .categories {
        height: 130px;
        width: 335px;
        background-repeat: no-repeat;
        float: left;
        margin-right: 15px;
    }

    .lbl-service {
        vertical-align: middle;
        padding: 36px 0 0;
    }

    .col-form-label {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 1.5;
        color: #1d1c44 !important;
    }

    .Logo-Block {
        width: 100%;
        display: inline-flex;
        clear: both;
        border: 1px solid #cecece;
        border-radius: 12px;
        margin: 20px auto;
        height: auto;
        background-color: #f0f0f0;
    }

    .logo-img {
        height: 150px;
        width: auto;
        float: left;
    }
    .btn-secondary{
        margin-top:15px !important;
    }
    .text-danger{
        color:red !important;
    }
</style>

<script>

    function RefreshComplaintGrid(content) {
        myalert(content);
        setTimeout(function () {
            var url = "/Portal/JammuSmartCityCustomer/MyComplaints";
            window.location.href = url;
        }, 3000);
    }

    function myalert(content) {
        debugger;
        $("<div></div>").kendoAlert({
            title: "Submission Confirmation",
            content: content.msg
        }).data("kendoAlert").open();

    }

    function SelectTemplate(id, tempCode, temtype, area, cont, action, param, tempname) {
        debugger;
        var guestUser = '@_userContext';

        if ('@_userContext.IsGuestUser' == 'True') {
            var cu = encodeURIComponent('selectedCatCode=' + selectedCategoryCode);
            var ru = 'returnUrl=/Portal/@_userContext.PortalName/Services?customUrl=' + encodeURIComponent(cu);
            var prms = encodeURIComponent(ru);
            var url = "/Portal/JammuSmartCityCustomer/Login?customUrl=" + prms;
            window.location.href = url;
        }
        else {
            var url = "";
            var portalId = "";
            var portalName = "";
            var prms = "";
            var callbackMethod = "";
            if (window.parent == "" || window.parent == undefined) {
                portalId = $("#GlobalPortalId").val();
            }
            else {
                portalId = window.parent.$("#GlobalPortalId").val();
            }
            if ('@Model.UserId' != null && '@Model.UserId' != '') {

                if ('@Model.Prms' != null && '@Model.Prms' != '') {
                    prms = encodeURIComponent('ownerUserId=@Model.UserId&@Html.Raw(Model.Prms)');
                }
                else {
                    prms = encodeURIComponent('ownerUserId=@Model.UserId');
                }

                var udfs = encodeURIComponent('SelectedUserId=@Model.UserId');
            }
            else {
                prms = encodeURIComponent('@Html.Raw(Model.Prms)');
            }
            if ('@Model.CallBackMethodName' != null && '@Model.CallBackMethodName' != '') {
                callbackMethod = '@Model.CallBackMethodName';
            } else {
                callbackMethod = "OnAfterServiceCreate";
            }

            if (temtype == @((int)TemplateTypeEnum.Custom)) {

                url = '/' + area + '/' + cont + '/' + action + '?' + param;
            }
            else {
                url = '/Cms/Page?lo=Popup&pageType=Service&cbm=' + callbackMethod + '&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&prms=' + prms + '&udfs=' + udfs;
            }

            if (tempCode == "EGOV_BOOK_COMMUNITY_HALL") {
                window.location.href = "/portal/EGovCustomer/CommunityHallBooking";
                LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Community Hall Booking");
                return false;
            }
            else if (tempCode == "SANITATION_BIN_BOOKING_JSC") {
                debugger;
                /*window.location.href = "/portal/JammuSmartCityCustomer/BinBooking?templateCode=" + tempCode;*/
                window.location.href = "/portal/JammuSmartCityCustomer/DoorToDoorGarbageCollection";
                LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Door To Door Garbage Collection Details");
                /*LoadPartialView("/EGov/SmartCity/CitizenAssetList?templateCode=" + tempCode, $("#cms-content"));*/
                return false;
            } else if (tempCode == "JSC_BWG_GARBAGE") {
                debugger;
                /*window.location.href = "/portal/JammuSmartCityCustomer/BinBooking?templateCode=" + tempCode;*/
                window.location.href = "/portal/JammuSmartCityCustomer/BWGGarbageCollection";
                LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Door To Door Garbage Collection Details");
                /*LoadPartialView("/EGov/SmartCity/CitizenAssetList?templateCode=" + tempCode, $("#cms-content"));*/
                return false;
            }
            else if (tempCode == "JSC_LODGECOMPLAINT") {
                var portalId = $('#GlobalPortalId').val();
                var url = '/EGov/SmartCity/ManageGrievanceForm';
                var win = GetMainWindow();
                win.iframeOpenUrl = url;
                win.OpenWindow({ Title: 'New Complaint', Width: 1200, Height: 700 });
                return false;
            }
            else if (tempCode == "ELECTRIC_BILL_PAYMENT") {
                window.top.open('https://billsahuliyat.jkpdd.net/', '_blank').focus();
                return false;
            }
            else if (tempCode == "WATER_BILL_PAYMENT") {

                window.top.open('https://www.jkphedwaterbilling.com/Modules/ConsumerOnlinePayment.aspx', '_blank').focus();

                return false;
            }
            else {
                var win = GetMainWindow();
                win.iframeOpenUrl = url;
                var title = tempname;
                if (tempCode == "EGOV_PUBLIC_GRIEVANCE_REGISTRATION") {
                    title = "Public Grievance Registration Form";
                }
                debugger;
                win.OpenWindow({ Title: title, Width: 1000, Height: 700 });
                return false;
                var win = GetMainWindow();
                win.CloseWindow();
                return false;
            }
        }
    }

    function OnAfterServiceCreate(e) {
        debugger;
        console.log(e);
        if (e.TemplateCode = "JSC_LODGECOMPLAINT") {
            window.location.href = "/portal/JammuSmartCityCustomer/MyComplaints";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "");
        } else {
            window.location.href = "/portal/JammuSmartCityCustomer/RequestList";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "");
        }
    }

    function FilterDataTemplate() {
        return data = {
            templateCode: '@Model.Code',
            categoryCode: '@Model.CategoryCode',
            moduleCodes: '@Model.ModuleCodes',
            categoryIds: '@Model.CategoryIds',
            templateIds: '@Model.TemplateIds',
            categoryType: '@Model.TemplateCategoryType',
        }
    }

    $(document).ready(function () {

        $("#daterangepicker").kendoDateRangePicker({
            format: "@ApplicationConstant.DateAndTime.DefaultJqueryDateFormat",
            min: new Date(),
            messages: { startLabel: "Start Date", endLabel: "End Date" },
        });

        $("#calendar").kendoCalendar({
            selectable: "multiple"
        });

        $("#calendar").on("mousedown", "td", function (e) {

            var clickedItem = $(e.target).closest("td[role='gridcell']");

            // prevent click event for item elements
            clickedItem.on("click", function (e) {
                e.stopPropagation();
                e.preventDefault();
            });

            if (clickedItem.length > 0) {
                var calendar = $("#calendar").getKendoCalendar();
                var clickedDate = kendo.calendar.toDateObject(clickedItem.children("a"));

                var selectedDates = calendar.selectDates();

                if (clickedItem.hasClass("k-state-selected")) {
                    // if date is already selected - remove it from collection
                    selectedDates = $.grep(selectedDates, function (item, index) {
                        return clickedDate.getTime() !== item.getTime();
                    });
                } else {
                    selectedDates.push(clickedDate);
                }

                calendar.selectDates(selectedDates);
            }
        });

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/NtsService/ReadServiceTemplateCategory?templateCode=" + '@Model.Code' + "&categoryCode=" + '@Model.CategoryCode' + "&moduleCodes=" + '@Model.ModuleCodes' + "&categoryIds=" + '@Model.CategoryIds' + "&templateIds=" + '@Model.TemplateIds' + "&categoryType=" + '@Model.TemplateCategoryType',
                    dataType: "json"
                }
            },
        });

        $("#catDiv").kendoListView({
            dataSource: dataSource,
            layout: "grid",

            template: kendo.template($("#templateTM").html()),
            dataBound: function () {
                $("#catDiv").removeClass();
                /*$("#catDiv").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");*/
                $("#catDiv").children('.k-listview-content').removeClass("k-listview-content  k-d-grid").addClass('row');
                /*$("#catDiv").children('.k-listview-content').removeClass("k-listview-content");*/
            }
        });

        var dataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/NtsService/ReadServiceTemplate",
                    data: FilterDataTemplate,
                    dataType: "json"
                }
            },
        });

        $("#listViewSL").kendoListView({
            dataSource: dataSource1,
            layout: "grid",

            template: kendo.template($("#tasktemplate1").html()),
            dataBound: function () {
                $("#listViewSL").removeClass();
                /*$("#NotificationlistView").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");*/
                $("#listViewSL").children('.k-listview-content').removeClass("k-listview-content k-d-grid").addClass("row");
            }

        });

        var selectedCatCode = '@Model.SelectedCategoryCode';
        if (selectedCatCode !== '' && selectedCatCode !== 'null') {
            OnChange(selectedCatCode, '@Model.SelectedCategoryName');
        }

    });

    var colors = ['#F56564', '#1B4D3E', '#555D50', '#90D142', '#28BAF5', '#7551F5', '#5BA79F', '#7A8F9D', '#4F67B6'];
    function OnDataBoundDoc(arg) {

        var childDiv = document.getElementById('listViewSL').children;
        ////var childDiv = document.getElementById('count').children;

        for (var i = 0; i < childDiv[0].children.length; i++) {
            var uc = childDiv[0].children[i].getElementsByClassName("template-flip-card-front");
            var colr = colors[Math.floor(Math.random() * colors.length)];
            uc[0].style.backgroundColor = colr;
        }
    }

    function OnChange(catCode, templateName) {
        selectedCategoryCode = catCode;
        if (catCode == "JSC_NEEDS_AND_WANTS") {
            window.location.href = "/portal/JammuSmartCityCustomer/NeedsAndWantsHome";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Needs And Wants");
            return false;
        }
        else if (catCode == "JSC_BOOKING_PERMISSION") {
            window.location.href = "/portal/JammuSmartCityCustomer/CommunityHallBooking";
            LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "CommunityHallBooking");
            return false;
            //document.getElementById('commcategoryName').innerHTML = templateName;
            //$("#commHallDiv").show();
            //$("#categoryDiv").hide();
            //$('html, body').animate({
            //    scrollTop: $("#commHallDiv").offset().top - 280
            //}, 1000);
        }
        else {
            document.getElementById('categoryName').innerHTML = templateName;
            $("#listViewSL").data('kendoListView').dataSource.read({ categoryCode: catCode });
            $("#templatesDiv").show();
            $("#categoryDiv").hide();
            $('html, body').animate({
                scrollTop: $("#templatesDiv").offset().top - 280
            }, 1000);
        }
    }

    function BackToCategory() {
        $("#categoryDiv").show();
        $("#templatesDiv").hide();
        $("#commHallDiv").hide();
        $('#communityHallDiv').hide();
    }

    function highlight(element) {

        let elements = document.getElementsByClassName('announcement');

        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.background = "#f7e6be";
        }
        element.style.background = "#63BBDC";
    }

    function OnViewTemplate(id, code) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ServiceDiagram", "NtsService", new { @area = "cms" })?id=' + id + "&isTemplate=true";
        //win.iframeOpenUrl =  '@Url.Action("Swimlane", "NtsService", new { @area = "cms" })';
        win.OpenWindow({ Title: 'Service Workflow', Width: 1200, Height: 600 });
        return false;
    }

    function IconError(obj) {
        obj.onerror = null;
        obj.src = '/images/document.png';

    };

    function onBack() {
        window.location.href = "@ViewBag.SmartCityUrl";
    }


    function OnClick(ccode, cname, type) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("Info", "NtsService", new { @area = "cms" })?code=' + ccode + "&type=" + type;
        win.OpenWindow({ Title: 'Info', Width: 400, Height: 400 });
        return false;
    }

    function OnDateTypeChange() {
        var type = $('input[name=date_type]:checked').val();
        $('#communityHallDiv').hide();
        if (type == "1") {
            $('#daterangepicker').show();
            $('#calendar').hide();
        } else {
            $('#daterangepicker').hide();
            $('#calendar').show();
        }
    }

     function OnBookNow(hallId,rate){
        //alert(hallId);
        debugger;
        var dtseltype = "";
        var fdate="";
        var tdate = "";
        var mdate = "";
        var dates = [];
        var portalId = $("#GlobalPortalId").val();
        var tempCode="JSC_COMMUNITY_HALL_SERVICE";

        var dttype = $('input[name=date_type]:checked').val();
        if (dttype == "1") {
            dtseltype = '@ViewBag.DateTypeRange';
            var daterangepicker = $("#daterangepicker").data("kendoDateRangePicker");
            var range = daterangepicker.range();
            if (range != null) {
                fdate = kendo.toString(new Date(range.start), 'yyyy-MM-dd'); //'2022-11-11';
                tdate = kendo.toString(new Date(range.end), 'yyyy-MM-dd'); //'2022-11-12';            }
            }
        } else {
                dtseltype = '@ViewBag.DateTypeMulti';
                var calendar = $("#calendar").data("kendoCalendar");
                var value = calendar.selectDates();
                if (value.length > 0) {
                    for (var i = 0; i < value.length; i++) {
                        var dt = kendo.toString(new Date(value[i]), 'yyyy-MM-dd');
                        dates.push(dt);
                    }
                    mdate = dates.toString();
                }
        }
        var prms = encodeURIComponent('ownerUserId=@_userContext.UserId');
        var udfs = encodeURIComponent('Name=@_userContext.Name&BookingById=@ViewBag.BookingBy&DateSelectionType=' + dtseltype + '&BookingFromDate=' + fdate + '&BookingToDate=' + tdate + '&MultipleDates=' + mdate + '&GrandTotal='+rate+'');
        var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&prms=' + prms + '&udfs=' + udfs;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Community Hall Booking", Width: 1000, Height: 700 });
        return false;
    }


    function OnSearchCommHall(e) {
        debugger;
        var dateType;
        var st = new Date();
        var en = new Date();
        var dates = [];
        var type = $('input[name=date_type]:checked').val();
        if (type != null && type != "") {

            if (type == "1") {
                dateType = "DateRange";
                var daterangepicker = $("#daterangepicker").data("kendoDateRangePicker");
                var range = daterangepicker.range();
                if (range != null) {
                    st = new Date(range.start);
                    en = new Date(range.end);

                    var d = new Date(st),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();

                    if (month.length < 2)
                        month = '0' + month;
                    if (day.length < 2)
                        day = '0' + day;

                    var st = [year, month, day].join('-');

                    var d = new Date(en),
                        day = '' + d.getDate();
                    if (day.length < 2)
                        day = '0' + day;

                    var en = [year, month, day].join('-');

                    $(".text-danger").removeClass("validation-summary-errors");
                    $(".text-danger").addClass("validation-summary-valid");
                    $(".text-danger").html("");

                    GetCommHallList(dateType, st, en, dates);
                }
                else {
                    $(".text-danger").removeClass("validation-summary-valid");
                    $(".text-danger").addClass("validation-summary-errors");
                    $(".text-danger").html("Select dates");
                    e.preventDefault();
                    return false;
                }
            } else {
                dateType = "MultipleDates";
                var calendar = $("#calendar").data("kendoCalendar");
                var value = calendar.selectDates();
                if (value.length > 0) {
                    for (var i = 0; i < value.length; i++) {
                        var d = new Date(value[i]),
                            month = '' + (d.getMonth() + 1),
                            day = '' + d.getDate(),
                            year = d.getFullYear();

                        if (month.length < 2)
                            month = '0' + month;
                        if (day.length < 2)
                            day = '0' + day;

                        var dt = [year, month, day].join('-');

                        //dates.push(value[i].toString());
                        dates.push(dt);
                    }
                    $(".text-danger").removeClass("validation-summary-errors");
                    $(".text-danger").addClass("validation-summary-valid");
                    $(".text-danger").html("");
                    GetCommHallList(dateType, st, en, dates);
                }
                else {
                    $(".text-danger").removeClass("validation-summary-valid");
                    $(".text-danger").addClass("validation-summary-errors");
                    $(".text-danger").html("Select dates");
                    e.preventDefault();
                    return false;
                }
            }
        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Select date type");
            e.preventDefault();
            return false;
        }
    }

    function GetCommHallList(dateType, st, en, dates) {
        $('#communityHallDiv').show();
        debugger;
        var parent = document.getElementById('communityHallDiv');
        parent.innerHTML = "";
        parent.innerHTML = "<div id='communityHallList'></div>";


        var dataSourceCH = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/egov/smartcity/ReadCommunityHallList?type=" + dateType + "&start=" + st + "&end=" + en + "&dates=" + dates,
                    //data: CommunityHallTemplate,
                    dataType: "json"
                }
            },
        });

        $("#communityHallList").kendoListView({
            dataSource: dataSourceCH,
            layout: "grid",
            template: kendo.template($("#commhalltemplate").html()),
            dataBound: function () {
                $("#communityHallList").removeClass();
                $("#communityHallList").children('.k-listview-content').removeClass("k-listview-content k-d-grid").addClass("row");
            }
        });
    }

</script>

<div id="appWrapper" class="wrapper">
    <div class="page text-center mt-0  w-100">
        <div class="page-inner">

            

            <div class="row-12" id="categoryDiv">
                <div class="sec-main-title t-pad-10">
                    <div class="row">
                        <div class="col-lg-3 col-xl-3 col-xxl-3 t-pad-10">
                            <div id="diamond" class="diamond"></div>
                            <div>
                                <h1 class="main-title">OUR SERVICES</h1>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-5 col-xxl-5 t-pad-10">
                            <div>
                                <p>Citizen Portal is software aimed to be developed as a part of the Jammu Smart City Mission.<br></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-xxl-4">
                            <img src="~/images/EGOV/Jammu/logo-swachch-bharat.png">
                        </div>
                    </div>
                </div>

                <div class="home-banner">
                </div>

                <div id="catDiv" style="padding:10px;"></div>

                <script type="text/x-kendo-tmpl" id="templateTM">

                    <div class="categories is-hoverable" onclick="OnChange('#:Code#','#:Name#')" style="background-image: url('/cms/Document/GetImageMongo?id=#=IconFileId#');" onerror="OnDocumentError(this);">
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                <label class="col-form-label lbl-service">#:Name#</label>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-6 is-hoverable" onclick="OnChange('#:Code#','#:Name#')">
                                 <div class="text-center bg-white p-2 ml-2 border-theme-green border-radius-6">
                                      <img class="img-fluid img-140 border-radius-6" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                      <p class="pt-2 text-i">#:Name#</p>
                                 </div>
                            </div>*@

                </script>

            </div>

            @*<div class="Logo-Block">
                <div>
                    <img class="logo-img" src="~/images/EGOV/Jammu/Logo1.png">
                </div>
                <div>
                    <img class="logo-img" src="~/images/EGOV/Jammu/Logo2.png">
                </div>
                <div>
                    <img class="logo-img" src="~/images/EGOV/Jammu/Logo3.png">
                </div>
                <div>
                    <img class="logo-img" src="~/images/EGOV/Jammu/Logo4.png">
                </div>
                <div>
                    <img class="logo-img" src="~/images/EGOV/Jammu/Logo5.png">
                </div>
                <div>
                    <img class="logo-img" src="~/images/EGOV/Jammu/Logo6.png">
                </div>
            </div>*@


            @*Service List*@

        <div class="row-12" id="templatesDiv" style="display:none;">
            <div class="sec-main-title t-pad-10">
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-xxl-3 t-pad-10">
                        <div id="diamond" class="diamond"></div>
                        <div>
                            <h1 class="catName" id="categoryName"></h1>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-5 col-xxl-5 t-pad-10">

                    </div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4">
                        <button type="button" class="btn btn-secondary" onclick="BackToCategory();" style="cursor:pointer;">Back To Services</button>
                        @*<h1 class="main-title" onclick="BackToCategory();" style="cursor:pointer;"><i class="far fa-arrow-alt-circle-left pr-2"></i>Back To Services</h1>*@
                    </div>
                </div>
            </div>
            <br />
            @*services*@
            <div id="listViewSL"></div>

                <script type="text/x-kendo-tmpl" id="tasktemplate1">

                    #if(TemplateType == '7')
                    {#
                    @*<img class="img-fluid border-radius-6" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">*@
                    <div class="categories is-hoverable" onclick="SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');" style="background-image: url('/cms/Document/GetImageMongo?id=#=CustomIcon#');" onerror="OnDocumentError(this);">
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                <label class="col-form-label lbl-service">#:DisplayName#</label>
                            </div>
                        </div>
                    </div>
                    #}
                    else
                    {#
                    <div class="categories is-hoverable" onclick="SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');" style="background-image: url('/cms/Document/GetImageMongo?id=#=IconFileId#');" onerror="OnDocumentError(this);">
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                <label class="col-form-label lbl-service">#:DisplayName#</label>
                            </div>
                        </div>
                    </div>
                    #}#



                    @*<div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-4 is-hoverable" onclick="SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');">
                                            <div class="text-center bg-white m-4 p-3 border-theme-green border-radius-6">
                                                #if(TemplateType == '7'){#
                                                        <img class="img-fluid border-radius-6" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">
                                                    #}
                                                    else
                                                    {#
                                                <img class="img-fluid img-150 border-radius-6" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                                 #}#
                                                <p class="pt-2 text-i">#:DisplayName#</p>
                                            </div>
                                        </div>*@

                </script>
            </div>


            <!--<div class="containerservice" id="templatesDiv" style="display:none;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pb-5">
                <div class="theme-color-green w-100 p-4">
                    <div class="d-lg-flex d-xl-flex justify-content-between">
                        <h2 class="font-16 font-roboto medium text-left text-white" id="categoryName"></h2>
                        <h2 class="font-16 font-roboto medium text-left text-white" onclick="BackToCategory();" style="cursor:pointer;"><i class="far fa-arrow-alt-circle-left pr-2"></i>Categories of Services</h2>
                    </div>
                    <hr class="w-100 horizontal-divider mt-0">
                    <div class="theme-color-green max-width-100 mb-4">
                        <div class="row-12">
                            <div id="listViewSL"></div>

                            <script type="text/x-kendo-tmpl" id="tasktemplate1">

                                        #if(TemplateType == '7')
                                        {#-->
                                          @*<img class="img-fluid border-radius-6" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">*@
                                        <!--<div class="categories is-hoverable" onclick="SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');" style="background-image: url('/cms/Document/GetImageMongo?id=#=CustomIcon#');" onerror="OnDocumentError(this);">
                                            <div class="row">
                                                <div class="col">
                                                </div>
                                                <div class="col">
                                                    <label class="col-form-label lbl-service">#:DisplayName#</label>
                                                </div>
                                            </div>
                                        </div>
                                        #}
                                        else
                                        {#
                                        <div class="categories is-hoverable" onclick="SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');" style="background-image: url('/cms/Document/GetImageMongo?id=#=IconFileId#');" onerror="OnDocumentError(this);">
                                            <div class="row">
                                                <div class="col">
                                                </div>
                                                <div class="col">
                                                    <label class="col-form-label lbl-service">#:DisplayName#</label>
                                                </div>
                                            </div>
                                        </div>
                                        #}#-->



                                                            @*<div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-4 is-hoverable" onclick="SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');">
                                                                <div class="text-center bg-white m-4 p-3 border-theme-green border-radius-6">
                                                                    #if(TemplateType == '7'){#
                                                                            <img class="img-fluid border-radius-6" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">
                                                                        #}
                                                                        else
                                                                        {#
                                                                    <img class="img-fluid img-150 border-radius-6" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                                                     #}#
                                                                    <p class="pt-2 text-i">#:DisplayName#</p>
                                                                </div>
                                                            </div>*@

            <!--</script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            @*Community Hall*@
            @*<div class="containerservice" id="commHallDiv" style="display:none;">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pb-5">
                        <div class="theme-color-green w-100 p-4">
                            <div class="d-lg-flex d-xl-flex justify-content-between">
                                <h2 class="font-16 font-roboto medium text-left text-white" id="categoryName"></h2>
                                <h2 class="font-16 font-roboto medium text-left text-white" onclick="BackToCategory();" style="cursor:pointer;"><i class="far fa-arrow-alt-circle-left pr-2"></i>Categories of Services</h2>
                            </div>
                            <hr class="w-100 horizontal-divider mt-0">
                            <div class="theme-color-green max-width-100 mb-4">
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="radio" id="dateRange" class="radiobtn" name="date_type" value="1" onclick="OnDateTypeChange();">
                                                <label for="dateRange">Date Range</label>
                                            </div>
                                            <div class="col-6">
                                                <input type="radio" id="multiple" class="radiobtn" name="date_type" value="2" onclick="OnDateTypeChange();">
                                                <label for="multiple">Multiple Dates</label>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div id="daterangepicker" style="width:100%;display:none;"></div>
                                            <div id="calendar" style="width:100%;display:none;"></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-12" style="text-align:center;">
                                                <button type="button" class="btn btn-primary jscbutton" onclick="OnSearchCommHall();">Submit</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

            @*new ui*@
        <div class="row-12" id="commHallDiv" style="display:none;">
            <div class="sec-main-title t-pad-10">
                <div class="row">
                    <div class="col-lg-5 col-xl-5 col-xxl-5 t-pad-10">
                        <div id="diamond" class="diamond"></div>
                        <div>
                            <h1 class="catName" id="commcategoryName"></h1>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-5 col-xxl-5 t-pad-10">

                    </div>
                    <div class="col-lg-2 col-xl-2 col-xxl-2">
                        <button type="button" class="btn btn-secondary" onclick="BackToCategory();" style="cursor:pointer;">Back To Services</button>
                        @*<h1 class="main-title" onclick="BackToCategory();" style="cursor:pointer;"><i class="far fa-arrow-alt-circle-left pr-2"></i>Back To Services</h1>*@
                    </div>
                </div>
            </div>
            <hr />
            <br />

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="text-danger" asp-validation-summary="All" ></div>
                    <br />
                    <div class="row">
                        <div class="col-6">
                            <input type="radio" id="dateRange" class="radiobtn" name="date_type" value="1" onclick="OnDateTypeChange();">
                            <label for="dateRange">Date Range</label>
                        </div>
                        <div class="col-6">
                            <input type="radio" id="multiple" class="radiobtn" name="date_type" value="2" onclick="OnDateTypeChange();">
                            <label for="multiple">Multiple Dates</label>
                        </div>
                    </div>
                    <br />
                    <div class="row-12">
                        <div id="daterangepicker" style="width:100%;display:none;"></div>
                        <div id="calendar" style="width:100%;display:none;"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12" style="text-align:center;">
                            <button type="button" class="btn btn-primary" onclick="OnSearchCommHall(event);">Submit</button>
                        </div>
                    </div>

                </div>
                <div class="col-4"></div>
            </div>
        </div>
            <br />
            <div class="containerservice" id="communityHallDiv" style="display:none;">
                <div id="communityHallList"></div>
            </div>

            <script type="text/x-kendo-tmpl" id="commhalltemplate">

                <div class="card bg-light mb-3 product" style="width: 20rem;height:500px">
                    <div class="card-header">#:Name#</div>
                        <div class="card-body">
                            #if(PhotoId != null)
                            {#
                                <img class="center" src="/cms/Document/GetImageMongo?id=#=PhotoId#" onerror='OnImgError(this);' />
                            #}
                            else {#
                                <img class="center" src="/Cms/document/GetApplicationDocument?documentCode=COMMUNITY_HALL" onerror='OnImgError(this);' />
                            #}#
                            <hr/>
                            <h5 class="card-title"><i class="fa fa-indian-rupee-sign"></i>#:StandardRate#</h5>
                            <div class="row">
                                <div class="col-12 btn-hall-book">
                            <button type="button" class="btn btn-primary" onclick="OnBookNow('#:CommunityHallId#','#:StandardRate#');">Book Now</button>
                            </div>
                            </div>
                        </div>
                </div>

            </script>

        </div>
    </div>
</div>
