@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using System.Web;
@model OnlinePaymentViewModel
@{
    ViewBag.Title = "Payment Response";
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@inject IUserContext usercontext;

<script>
    function RedirectToAnotherPage(url) {
        window.top.location.href = url;
        return false;
    }
</script>
<div class="row" style="background-color:#fff;text-align:center;padding-top:100px;height:100vh;">
    @if (Model.PaymentStatusCode == "JSC_SUCCESS")
    {
        <div class="col-12">
            <h5 class="text-success" style="font-weight:600;">@Model.UserMessage</h5>
            @if (Model.ReturnUrl.IsNotNullAndNotEmpty())
            {
            <div class="pt-3">
                <button class="btn btn-primary" onclick="return RedirectToAnotherPage('@Model.ReturnUrl');">Go to My Payments</button>
            </div>
            }
        </div>
    }
    else
    {
        <div class="col-12">
            <h5 class="text-danger" style="font-weight:600;">@Model.UserMessage</h5>
            <div class="pt-3">
                <button class="btn btn-danger" onclick="return RedirectToAnotherPage('@Model.RequestUrl');">Try Again</button>
                @if (Model.ReturnUrl.IsNotNullAndNotEmpty())
                {
                    <button class="btn btn-primary" onclick="return RedirectToAnotherPage('@Model.ReturnUrl');">Go to My Payments</button>
                }
                </div>
        </div>
    }

</div>
