@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model PropertyTaxPaymentReceiptViewModel;
@*@{
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}*@

<script>
    function onDownloadPaymentReceipt(DdnNO) {
        // var DdnNO = ddnNO.toString();
        debugger;
        // alert("Ddn called!!");
        var win = GetMainWindow();
        win.iframeOpenUrl = '/Cms/FastReport?rptName=JAMMU_PropertyReport&lo=@LayoutModeEnum.Popup&rptUrl=egov/query/GetPropertyTaxReport/' + DdnNO + '&rptUrl2=egov/query/GetPropertyTaxReportFloorData/' + DdnNO;
        win.OpenWindow({ Title: 'Bill Payment Report', Width: 840, Height: 700 });
        return false;
    }
</script>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="form-outline">



            <div class="table-responsive " id="propertyPaymentDetails">
                @* style="margin-left:100px"*@
                <table class="table table-bordered align center" style="width: 800px; margin-top:80px;">

                    <tbody>

                        <tr>
                            <td colspan="2" align="center" style="background-color: #ff7f50; color:white">Payment Receipt Details</td>
                        </tr>
                        <tr>
                            <td>Receipt Number</td>
                            <td><label id="receiptNumber">@Model.ReceiptNumber</label></td>

                        </tr>
                        <tr>
                            <td>Date </td>
                            <td><label id="date"> @Model.Date.ToString("dd-MM-yyyy")</label></td>

                        </tr>
                       @* <tr>
                            <td>Payment Mode</td>
                            <td> <label id="paymentMode">@Model.PaymentMode</label></td>

                        </tr>*@
                        <tr>
                            <td>DDN NO</td>
                            <td><label id="dDNNO">@Model.DdnNo</label></td>

                        </tr>

                        <tr>
                            <td>Year</td>
                            <td><label id="year">@Model.FinancialYear</label></td>

                        </tr>
                        <tr>
                            <td>Receipt Amount</td>
                            <td><label id="receiptAmount">@Model.ReceiptAmount</label></td>

                        </tr>
                        <tr>
                            <td colspan="2" align="center" style="background-color: #ff7f50; height:40px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto offset-4">
        <div class="form-outline offset-4">
            <button onsubmit="false" class="btn btn-success" onclick="onDownloadPaymentReceipt('@Model.DdnNo')">Download Receipt</button>

            @*  <button onclick="test(@Model.DdnNo)">Test</button>*@
        </div>
    </div>
</div>
@*<script>
    function test(ddn){
        alert("This is test " + ddn);
    }
</script>
*@