@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Rental Management";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}


<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .pad {
        padding: 20px 20px 0px 20px;
    }

    .booknow {
        text-align: center;
    }

    .searchdiv {
        border: 1px solid grey;
        border-radius: 10px;
        margin: 15px 0px 15px 0px;
        padding-bottom: 20px;
        background: #fff;
    }

    tr:nth-child(even) {
        background-color: #fff !important;
    }

    .k-calendar .k-content .k-link {
        background-color: #87db87;
    }

    .k-calendar .k-content .k-state-disabled .k-link {
        background-color: #fb5454;
    }

    .k-textbox-container {
        width: 12.75rem;
    }

    .form-check-label {
        color: #000 !important;
    }
</style>

<script type="text/javascript">


    $(document).ready(function () {
        document.getElementById('global-overlay').style.display = "none";

        $("#Ward").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            change: OnChangeWard,
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=EGOV_ELECTORAL_WARD",
                    }
                }
            }
        });

        $("#PropRentingType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            change: OnChangeRentingType,
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=PROPERTY_RENT_TYPE",
                    }
                }
            }
        });

        $("#Property").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: OnChangeProperty,
            cascadeFrom: "PropRentingType",
            dataSource:
            {
            serverFiltering: true,
            transport:
                {
                read:
                    {
                        dataType: "json",
                        url: "/EGov/EGovernment/GetPropertyList",
                        data: Filter
                    }
                }
            }
        });

        $("#Amenities").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=EGOV_AMENITIES",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            valuePrimitive: true,

        });


    });

    function Filter() {
        return {
            wardId: $("#Ward").val(),
            rentingType: $("#PropRentingType").val(),
        }
    }

    function OnChangeWard() {
        document.getElementById('chrg').style.display = "none";
        document.getElementById('next').style.display = "none";
    }

    function OnChangeRentingType() {
        document.getElementById('chrg').style.display = "none";
        document.getElementById('next').style.display = "none";
    }

    function OnChangeProperty() {
        document.getElementById('chrg').style.display = "none";
        var renttype = $("#PropRentingType").data("kendoDropDownList").text();
        var property = $("#Property").val();
        $.ajax({
            url: '@Url.Action("GetPropertyDetails", "EGovernment", new { @area="EGov"})?propertyId=' + property,
                type: 'POST',
                data: {},
                dataType: 'json',
            success: function (result) {
                debugger;
                if (result.success) {
                    data = result.data;
                    document.getElementById('chrg').style.display = "block";

                    if (renttype == "Shop") {
                        document.getElementById('tgr').style.display = "none";
                        document.getElementById('shop').style.display = "block";
                        document.getElementById('shoprentalamount').innerHTML = data.RentalAmount;
                        $('#shopRentalAmount').val(data.RentalAmount);
                    } else {
                        document.getElementById('shop').style.display = "none";
                        document.getElementById('tgr').style.display = "block";
                        document.getElementById('tgrrentalamount').innerHTML = data.RentalAmount;
                        $('#tgrRentalAmount').val(data.RentalAmount);
                    }

                    document.getElementById('area').innerHTML = data.AreaInSqFt;
                    document.getElementById('depositamount').innerHTML = data.DepositAmount;
                    $('#depositAmount').val(data.DepositAmount);

                    var multiselect = $('#Amenities').data("kendoMultiSelect");
                    multiselect.value(data.PropertyAmenitiesId.split(","));

                    document.getElementById('next').style.display = "block";
                }
            },
            error: function (ert) {
                ShowNotification(ert, "error");
            }
        });
    }


    function OnSubmit(evt) {

        var win = GetMainWindow();
        portalId = win.parent.$("#GlobalPortalId").val();

        var type = $('input[name="rental"]:checked').val();
        var renttype = $("#PropRentingType").data("kendoDropDownList").text();

        var agNo = $('#RentalAgreementNo').val();

        var propRentingType = $('#PropRentingType').val();
        var propertyId = $('#Property').val();
        var rentamt = renttype == "Shop" ? $('#shopRentalAmount').val() : $('#tgrRentalAmount').val();
        var depositamt = $('#depositAmount').val();

        if (type == "New") {
            
            $.ajax({
                url: '@Url.Action("GetPropertyDetails", "EGovernment", new { @area="EGov"})?propertyId=' + propertyId,
                type: 'POST',
                success: function (result) {
                    
                    if (result.success) {
                        var prop = result.data;

                        if (renttype == "Shop") {
                            var udfs = encodeURIComponent('PropertyId=' + propertyId + '&PropertyRentingType=' + propRentingType + '&MonthlyRent=' + rentamt + '&AdvanceDepositAmount=' + depositamt + '&Tenure=Year' + '&WardId=' + prop.WardId + '&BuildingNumber=' + prop.BuildingNumber + '&Street=' + prop.Street + '&LocalitySpecificLocation=' + prop.LocalitySpecificLocation);
                            var roudfs = encodeURIComponent('PropertyId=true&PropertyRentingType=true&MonthlyRent=true&AdvanceDepositAmount=true&Tenure=true&WardId=true&BuildingNumber=true&Street=true&LocalitySpecificLocation=true');
                            var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=NEW_RENTAL_PROPERTY&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;

                            win.iframeOpenUrl = url;
                            win.OpenWindow({ Title: "New Rental Agreement", Width: 1200, Height: 700, Reload: true });
                            return false;
                        }
                        else if (renttype == "Temporary Ground Rent") {
                            debugger;
                            var udfs = encodeURIComponent('PropertyId=' + propertyId + '&PropertyRentingType=' + propRentingType + '&DailyMonthlyRentforTGR=' + rentamt + '&AdvanceDepositAmount=' + depositamt + '&WardId=' + prop.WardId + '&BuildingNumber=' + prop.BuildingNumber + '&Street=' + prop.Street + '&LocalitySpecificLocation=' + prop.LocalitySpecificLocation);
                            var roudfs = encodeURIComponent('PropertyId=true&PropertyRentingType=true&DailyMonthlyRentforTGR=true&AdvanceDepositAmount=true&WardId=true&BuildingNumber=true&Street=true&LocalitySpecificLocation=true');
                            var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=NEW_RENTAL_PROPERTY&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;

                            win.iframeOpenUrl = url;
                            win.OpenWindow({ Title: "New Rental Agreement", Width: 1200, Height: 700, Reload: true });
                            return false;
                        }
                    }
                },
                error: function (ert) {
                    ShowNotification(ert, "error");
                }
            });
            
        }
        else if (type == "Renewal" && agNo != null && agNo != "") {
            $.ajax({
                url: '@Url.Action("GetAgreementDetails", "EGovernment", new { @area="EGov"})?agreementNo=' + agNo,
                type: 'GET',
                success: function (result) {
                    
                    if (result.success) {

                        var data = result.data;
                        var prms = encodeURIComponent('parentServiceId=' + data.ServiceId )
                        var udfs = encodeURIComponent('RentalAgreementNumber=' + data.RentalAgreementNumber + '&PropertyId=' + data.PropertyId + '&PropertyRentingType=' + data.PropertyRentingType + '&RentAmount=' + data.RentalAmount + '&AdvanceDepositAmount=' + data.AdvanceDepositAmount + '&ApplicantName=' + data.ApplicantName + '&TradeBusinessName=' + data.TradeBusinessName + '&AgreementStartDate=' + data.AgreementStartDate + '&AgreementEndDate=' + data.AgreementEndDate+'&RentFrequency='+ data.RentFrequency + '&Tenure='+ data.Tenure +'&WardId='+data.WardId+'&BuildingNumber='+data.BuildingNumber+'&Street='+data.Street+'&LocalitySpecificLocation='+data.LocalitySpecificLocation);
                        var roudfs = encodeURIComponent('RentalAgreementNumber=true&PropertyId=true&PropertyRentingType=true&RentAmount=true&AdvanceDepositAmount=true&ApplicantName=true&TradeBusinessName=true&AgreementStartDate=true&AgreementEndDate=true&RentFrequency=true&Tenure=true&WardId=true&BuildingNumber=true&Street=true&LocalitySpecificLocation=true');
                        var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=RENEWAL_RENTAL_AGREEMENT&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs + '&prms='+prms;

                        win.iframeOpenUrl = url;
                        win.OpenWindow({ Title: "Renewal Rental Agreement", Width: 1200, Height: 700, Reload: true });

                        //window.location.href = url;
                        return false;
                    }
                },
                error: function (ert) {
                    ShowNotification(ert, "error");
                }
            });


        }
        else if (type == "Vacating" && agNo != null && agNo != "")
        {            
            var data;
            $.ajax({
                url: '@Url.Action("GetAgreementDetails", "EGovernment", new { @area="EGov"})?agreementNo=' + agNo,
                type: 'GET',
                success: function (result) {

                    if (result.success) {

                        data = result.data;
                        var prms = encodeURIComponent('parentServiceId=' + data.ServiceId)
                        var udfs = encodeURIComponent('RentalAgreementNumber=' + data.RentalAgreementNumber + '&PropertyName=' + data.PropertyId + '&PropertyRentingType=' + data.PropertyRentingType + '&RentAmount=' + data.RentalAmount + '&AdvanceDepositAmount=' + data.AdvanceDepositAmount + '&ApplicantName=' + data.ApplicantName + '&TradeBusinessName=' + data.TradeBusinessName + '&AgreementStartDate=' + data.AgreementStartDate + '&AgreementEndDate=' + data.AgreementEndDate + '&RentFrequency=' + data.RentFrequency + '&tenure=' + data.Tenure + '&WardId=' + data.WardId + '&BuildingNumber=' + data.BuildingNumber + '&Street=' + data.Street + '&LocalitySpecificLocation=' + data.LocalitySpecificLocation);
                        var roudfs = encodeURIComponent('RentalAgreementNumber=true&PropertyName=true&PropertyRentingType=true&RentAmount=true&AdvanceDepositAmount=true&ApplicantName=true&TradeBusinessName=true&AgreementStartDate=true&AgreementEndDate=true&RentFrequency=true&tenure=true&WardId=true&BuildingNumber=true&Street=true&LocalitySpecificLocation=true');
                        var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=VACATING_RENTAL_PROPERTY&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs + '&prms=' + prms;

                        win.iframeOpenUrl = url;
                        win.OpenWindow({ Title: "Cancelling Rental Agreement", Width: 1200, Height: 700, Reload: true });
                        return false;
                    }
                },
                error: function (ert) {
                    ShowNotification(ert, "error");
                }
            });
        }
        else
        {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Enter Rental Agreement Number");
            evt.preventDefault();
            return false;
        }
    }

    function OnAfterServiceCreate() {
        document.getElementById('global-overlay').style.display = "none";
        var win = GetMainWindow();
        win.CloseWindow();
        win.parent.ShowNotification("Booking Completed Successfully", "success");
        return false;
    }

    function onChange(myRadio) {
        debugger;
        if (myRadio.value == "New") {
            document.getElementById('newRentalService').style.display = "block";
            document.getElementById('renewVacatingRental').style.display = "none";
            document.getElementById('next').style.display = "none";
        } else {
            document.getElementById('newRentalService').style.display = "none";
            document.getElementById('renewVacatingRental').style.display = "block";
            document.getElementById('next').style.display = "block";
        }
    }


</script>

<div class="row-12" style="margin-left:15px;" id="rentalManagement">

    <form asp-controller="Calendar" asp-action="ManageCalendarHoliday" class="form-horizontal" id="myForm">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>

        <div class="col-12">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="row searchdiv">
                        <div class="col-12" style="padding:20px;">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="rental" id="newRental" value="New" onclick="onChange(this);" checked>
                                        <label class="form-check-label" for="newRental">
                                            New Rental
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="rental" id="renewRental" value="Renewal" onclick="onChange(this);">
                                        <label class="form-check-label" for="renewRental">
                                            Renewal
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="rental" id="vacatingRental" value="Vacating" onclick="onChange(this);">
                                        <label class="form-check-label" for="vacatingRental">
                                            Vacating
                                        </label>
                                    </div>
                                </div>
                            </div>                            
                            
                        </div>                        
                        <div class="col-12" id="newRentalService">
                            <div class="col-12 pad-10">
                                <div>
                                    <div>Ward <span class="required">*</span></div>
                                    <div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div id="Ward" style="width:80%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pad-10">
                                <div>Property Renting Type <span class="required">*</span></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="PropRentingType" style="width:80%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pad-10">
                                <div>Property <span class="required">*</span></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="Property" style="width:80%"></div>
                                    </div>
                                </div>
                            </div>

                            <div id="chrg" style="display:none;">
                                <div class="col-12 pad">Area In Sq.Ft : <span id="area"></span></div>

                                <div class="col-12 pad" id="shop" style="display:none;">Rental Amount Per Month :  ₹ <span id="shoprentalamount"></span> /- (inclusive of all taxes)</div>
                                <input type="hidden" id="shopRentalAmount" />

                                <div class="col-12 pad" id="tgr" style="display:none;">Rental Amount Per Day :  ₹ <span id="tgrrentalamount"></span> /- (inclusive of all taxes)</div>
                                <input type="hidden" id="tgrRentalAmount" />

                                <div class="col-12 pad">Deposit Amount :  ₹ <span id="depositamount"></span> /- (inclusive of all taxes)</div>
                                <input type="hidden" id="depositAmount" />

                                <div class="col-12 pad">Amenities</div>
                                <div class="col-12 pad">
                                    <select id="Amenities" style="width:100%" readonly="readonly"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 pad-10" id="renewVacatingRental" style="display:none;">                            
                            <div>Rental Agreement Number <span class="required">*</span></div>
                            <div>
                               <div class="row">
                                  <div class="col-12">
                                    <input type="text" class="form-control" id="RentalAgreementNo" required="required" style="width:80%" />
                                  </div>
                               </div>
                            </div>                           
                        </div>
                        
                        <div id="next" class="col-12" style="text-align:center;padding:10px;padding-top:20px;display:none;">
                            <input type="button" style="cursor:pointer;" class="btn btn-primary" onclick="return OnSubmit(event);" value="Next"/>
                            @*<button class="btn btn-primary" onclick="return OnSubmit(event);">Next</button>*@
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>

        </div>

    </form>
</div>


