@inject Synergy.App.Common.IUserContext _userContext
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var bannerHeight = 65;
    var returnUrl = "";
    if (ViewBag.Portal != null)
    {
        bannerHeight = ViewBag.Portal.BannerHeight;
        returnUrl = string.Concat("/portal/", Convert.ToString(ViewBag.Portal.Name));
    }
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}


<link type="text/css" rel="stylesheet" href="~/Themes/HR/css/theme.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/css/Rec/recruitment.css" />*@
<link rel="stylesheet" href="~/Themes/CareerPortal/css/layout-style.css">
<link rel="stylesheet" href="~/Themes/CareerPortal/css/extra.css">
<link href="~/Themes/CareerPortal/css/elegant-icons-style.css" rel="stylesheet" />
<link href="~/Themes/CareerPortal/css/style.css" rel="stylesheet">
<link href="~/Themes/CareerPortal/css/style-responsive.css" rel="stylesheet" />
@*<script src="~/Themes/CareerPortal/js/core.min.js"></script>*@
<!-- Page-->
<div class="page">
    <!-- Page Head-->
    <header class="hide-in-popup page-head slider-menu-position">
        <div class="rd-navbar-wrap">
            <nav class="cp-navbar rd-navbar container rd-navbar-floated rd-navbar-dark rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
                <div class="rd-navbar-inner" style="padding-bottom:7px;padding-right:20px;padding-left:20px;background-color:#fff;">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Top Panel Toggle-->
                        @*<button class="rd-navbar-right-buttons-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-right-buttons"><span></span></button>*@
                        <!--Navbar Brand-->
                        <div class="rd-navbar-brand">
                            @if (ViewBag.Portal != null)
                            {
                                <a href="@ViewBag.Portal.LandingPage"><img alt="" style="height:58px;" title="" src="@Url.Action("getimagemongo","document",new { @area="Cms",id=ViewBag.Portal.LogoId})" onerror='LogoError(this);' /></a>
                            }

                        </div>
                    </div>
                    <div class="rd-navbar-menu-wrap">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-mobile-scroll">
                                <!--Navbar Brand Mobile-->
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    @{

                                        var menus = (List<Synergy.App.ViewModel.MenuViewModel>)ViewBag.Menus;
                                        if (menus != null)
                                        {
                                            foreach (var menu in menus.Where(x => x.ParentId == x.PortalId))
                                            {

                                                @if (menu.HasChild)
                                                {
                                                    @foreach (var sub1 in menus.Where(x => x.ParentId == menu.Id))
                                                    {
                                                        if (sub1.ShowMenuWhenAuthorized)
                                                        {
                                                            if (!string.IsNullOrEmpty(_userContext.UserId) && _userContext.IsGuestUser == false)
                                                            {
                                                                <li>
                                                                    <a style="color:#64aae1 !important;" href="@($"javascript:LoadPageById('{sub1.Id}','{sub1.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{sub1.Layout}')")"><span>@sub1.DisplayName</span></a>
                                                                </li>
                                                            }
                                                        }
                                                        else if (sub1.ShowMenuWhenNotAuthorized)
                                                        {
                                                            if (string.IsNullOrEmpty(_userContext.UserId) || _userContext.IsGuestUser == true)
                                                            {
                                                                <li>
                                                                    <a style="color:#64aae1 !important;" href="@($"javascript:LoadPageById('{sub1.Id}','{sub1.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{sub1.Layout}')")"><span>@sub1.DisplayName</span></a>
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a style="color:#64aae1 !important;" href="@($"javascript:LoadPageById('{sub1.Id}','{sub1.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{sub1.Layout}')")"><span>@sub1.DisplayName</span></a>
                                                            </li>
                                                        }

                                                    }
                                                }
                                                else
                                                {
                                                    if (menu.ShowMenuWhenAuthorized)
                                                    {
                                                        if (!string.IsNullOrEmpty(_userContext.UserId) && _userContext.IsGuestUser == false)
                                                        {
                                                            <li>
                                                                <a style="color:#64aae1 !important;" href="@($"javascript:LoadPageById('{menu.Id}','{menu.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{menu.Layout}')")"><span>@menu.DisplayName</span></a>
                                                            </li>
                                                        }
                                                    }
                                                    else if (menu.ShowMenuWhenNotAuthorized)
                                                    {
                                                        if (string.IsNullOrEmpty(_userContext.UserId) || _userContext.IsGuestUser == true)
                                                        {
                                                            <li>
                                                                <a style="color:#64aae1 !important;" href="@($"javascript:LoadPageById('{menu.Id}','{menu.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{menu.Layout}')")"><span>@menu.DisplayName</span></a>
                                                            </li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a style="color:#64aae1 !important;" href="@($"javascript:LoadPageById('{menu.Id}','{menu.PageType}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}','','{menu.Layout}')")"><span>@menu.DisplayName</span></a>
                                                        </li>
                                                    }


                                                }
                                            }
                                        }

                                    }


                                    @if (!string.IsNullOrEmpty(_userContext.UserId) && _userContext.IsGuestUser == false)
                                    {

                                        <li class="" style="cursor:pointer;" onclick="openWinNavigateUrl(); return false;">
                                            <i class="fa fa-bell" style="color:black;font-size:20px;" id="ImageButton1"></i>
                                            <span id="notcount" runat="server" class="badge badge-light" style="padding-top:5px; background-color:orangered;color:#fff;margin-top:-10px;margin-left:-8px;position:absolute;">0</span>
                                        </li>

                                        <li>
                                            <div class="row no-gutters">
                                                @if (_userContext.UserId != _userContext.LoggedInAsByUserId)
                                                {
                                                    <div class="col-10" style="font-size:16px;color:#a9a9a9;font-weight:700;"> <span>Logged in as </span>@_userContext.Name <span>by </span><span>@_userContext.LoggedInAsByUserName </span></div>

                                                }
                                                else
                                                {
                                                    <div class="col-10" style="font-size:16px;color:#a9a9a9;font-weight:700;">@_userContext.Name</div>
                                                }
                                                <div class="col-2" style="margin-top:-10px;"> <img class="user-img rounded-circle float-right user-context-menu" id="profileImg" src="@Url.Action("getimagemongo","document",new { @area="Cms",id=_userContext.PhotoId})" onerror='OnPhotoError(this);' /></div>
                                            </div>
                                            @*<img class="user-img rounded-circle float-right user-context-menu" src="@Url.Action("getimage","document",new { @area="Cms",id=_userContext.PhotoId})" onerror='OnPhotoError(this);' />*@
                                        </li>

                                    }


                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
        @RenderSection("bg", required: false)
    </header>
    <!-- Page Contents-->
    <main class="page-content" id="render-content" style="min-height:400px">
        <span id="popupNotification"></span>
        @RenderBody()
    </main>
    <!--<footer class="hide-in-popup section-relative  page-footer" style="background-color:#1c4893;color:white">
        <div class="row" style="padding:30px;padding-left:200px;padding-right:150px;">
            <div class="col-md-3">
                <h6 class="text-uppercase text-spacing-60 font-default">The Galfar Legacy</h6>
                <div class="reveal-block">
                    <div class="reveal-inline-block">

                        <ul class="list list-unstyled list-inline-primary">
                            <li class="" style="color:#fff !important;justify-content:center;">
                                Over 45 years of solid experience in Oil & Gas, Infrastructure, Buildings, and
                                E & I sectors, with EPC capability for delivering multi-disciplinary projects.
                            </li>
                            <li class="text-primary"><a target="_blank" style="color:white;" href="https://www.galfarqatar.com.qa/about-us/history">READ MORE >></a></li>
                            <li><img src="/images/footer_logo1-2.png" alt="Galfar" /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h6 class="text-uppercase text-spacing-60 font-default">Galfar In The News!</h6>
                <div class="reveal-block">
                    <div class="reveal-inline-block">
                        <ul class="list list-unstyled list-inline-primary">-->
                            @*@foreach (var news in ViewBag.News)
                                {

                                    <li class="text-primary"><a target="_blank" style="color:white" href="@news.Link">@news.Content</a></li>


                                }*@
                            @*<li class="text-primary"><a href="https://www.galfarqatar.com.qa/media-news/58-al-bayt-stadium-stunner-of-a-stadium">Al Bayt Stadium - Stunner of A...</a></li>
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/media-news/56-ashghal-signs-two-infrastructure-projects-with-galfar-al-misnad">Ashghal signs two Infrastructure...</a></li>
                                <li class="text-primary"><a href="https://www.galfarqatar.com.qa/media-news/54-galfar-toastmasters-club-elects-executive-committee-for-2020-21">Galfar Toastmasters Club Elects...</a></li>*@
                        <!--</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-uppercase text-spacing-60 font-default">Useful Links</h6>
                <div class="reveal-block">
                    <div class="reveal-inline-block">
                        <ul class="list list-unstyled list-inline-primary">
                            <li class="text-primary"><a style="color:white" href="https://www.galfarqatar.com.qa/media/attachments/2020/02/17/galfar-qhse-policy--combined-_final.pdf" target="_blank">> QHSE Policy</a></li>
                            <li class="text-primary"><a style="color:white" href="https://www.galfarqatar.com.qa/about-us/certificates" target="_blank">> Certificates</a></li>
                            <li class="text-primary"><a style="color:white" href="https://careerportal.galfarqatar.com/portal/careerportal" target="_blank">> Work With Us</a></li>
                            <li class="text-primary"><a style="color:white" href="https://vendor.galfarqatar.com/" target="_blank">> Vendor Portal</a></li>
                        </ul>
                        <div class="custom">
                            <h3 style="font-size: 24px; padding-top: 20px;">Employee Logins</h3>
                            <p class="login1">
                                <a href="http://galfarqa.sharepoint.com" target="_blank"><img src="/images/sharepoint_logi.png" alt="" /></a>
                                <a href="https://login.microsoftonline.com" target="_blank"><img src="/images/microsoft_login.png" alt="" />   </a>
                                <a href="https://myapps.galfarqatar.com" target="_blank"><img src="/images/login_galfar1.png" alt="" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <h6 class="text-uppercase text-spacing-60 font-default">Contact Us</h6>
                <div class="reveal-block">
                    <div class="reveal-inline-block">
                        <ul class="list list-unstyled list-inline-primary">
                            <li class=""><span class="fa fa-home mr-1"></span><span>Galfar Al Misnad Engineering & Contracting W.L.L P.O. Box 22170, Doha, Qatar</span></li>
                            <li class="">
                                <a target="_parent" style="color:white;" href="tel:+974-44332500">
                                    <span class="fa fa-phone mr-1"></span>
                                    <span>+974-44332500</span>
                                </a>
                            </li>
                            <li class=""><i class="fa fa-fax mr-1"></i><span>+974-44332501</span></li>
                            <li class="">
                                <a target="_parent" style="color:white;" href="mailto:info@galfarqatar.com.qa">
                                    <span class="fa fa-envelope mr-1"></span>
                                    <span>info@galfarqatar.com.qa</span>
                                </a>
                            </li>
                            <li class="">
                                <a target="_parent" style="color:white;" href="#">
                                    <span class="fa fa-globe-americas mr-1"></span>
                                    <span>www.galfarqatar.com.qa</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </footer>-->
    <footer class="hide-in-popup section-relative  page-footer" style="background-color:#eb3e1e;color:white">
        <div class="row text-center" style="min-height:50px;">
            <div class="col-md-8" style="padding-top:14px;">
                <span style="color:white;font-size:16px;">© @DateTime.Today.Year &nbsp;Extranet All Rights Reserved. <a style="color:white;" href="https://www.galfarqatar.com.qa/terms-conditions">Terms & Conditions</a>&nbsp;Developed By Extranet</span>
            </div>
            <div class="col-md-4" style="padding-top:14px;">
                <a target="_blank" style="color:white;" href="http://www.facebook.com/GalfarAlMisnadDoha">
                    <i class="fab fa-facebook-f"></i>
                </a>&nbsp;&nbsp;
                <a target="_blank" style="color:white;" href="https://twitter.com/GalfarAlMisnad">
                    <i class="fab fa-twitter"></i>
                </a>&nbsp;&nbsp;
                <a target="_blank" style="color:white;" href="https://www.instagram.com/galfaralmisnad/">
                    <i class="fab fa-instagram"></i>
                </a>&nbsp;&nbsp;
                <a target="_blank" style="color:white;" href="https://www.linkedin.com/company/galfar-almisnad-engineering-&amp;-contracting-wll" title="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
@*<script src="~/Themes/CareerPortal/js/core.min.js"></script>*@
<!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-P9FT69');</script><!-- End Google Tag Manager -->
<a href="#" id="ui-to-top" class="ui-to-top icon icon-xs icon-circle icon-darker-filled"><i class="fa fa-angle-up"></i></a>
<script type="text/javascript" id="">
    (function () {
        var b = document.location.search.split("aff\x3d")[1]; if (b) { var d = document.querySelectorAll("a"), c; for (c = 0; c < d.length; c++) { var a = d[c]; 0 == a.href.indexOf("https://www.templatemonster.com") && (0 < a.href.indexOf("?") ? a.href = a.href + "\x26aff\x3d" + b : a.href = a.href + "?aff\x3d" + b) } } b = document.location.search.split("i\x3d")[1]; var e = document.location.search.split("pr_code\x3d")[1]; if (b && e) for (b = b.split("\x26")[0], d = document.querySelectorAll("a"), c = 0; c < d.length; c++)a = d[c], 0 == a.href.indexOf("https://www.templatemonster.com") &&
            (a.href = "https://www.templatehelp.com/preset/cart.php?act\x3dadd\x26templ\x3d" + b + "\x26pr_code\x3d" + e)
    })();</script>



<form method="post" action="~/Identity/Account/LogOut" id="logout" style="display:none;">
    <button type="submit" class="nav-link btn btn-link">Log out</button>
</form>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post" asp-route-returnUrl="@returnUrl">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:#666;" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Logout</button>
                </div>
            </div>
        </div>
    </form>

</div>
<!-- Iframe Modal-->

<div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="iframeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="iframeModalLabel">Title</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="loading-overlay">
                    <p class="loading-spinner">
                        <span class="loading-icon fa fa-spinner fa-spin fa-2x"></span>
                        <span class="loading-text"></span>
                    </p>
                </div>
                <div id="iframeDiv"></div>
            </div>

        </div>
    </div>

</div>

<style>
    .k-popup-right {
        right: 0 !important;
        left: unset !important;
    }

    .cp-navbar {
        margin-top: 0px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        padding-right: 0px !important;
        width: 100% !important;
        background-color: #fff !important;
        position: fixed !important;
        left: 0 !important;
        top: 0 !important;
    }

    #content-wrapper {
        background-color: #fff !important;
    }

    /* a {
            color: white !important;
        }*/
    h6 {
        font-weight: bold;
        /* line-height: 1.2; */
    }
    /*
        .list li, .list li a, .list li span {
            color: #64aae1 !important;
        }*/
</style>
<script>

        $(document).ready(function () {
            var url = '@Url.Action("Page", "Cms")?';
            var pageUrl = '@Html.Raw(ViewBag.PageUrl)';
            var customUrl = '@Html.Raw(ViewBag.CustomUrl)';
            if (pageUrl !== '') {
                url += '&' + pageUrl;
            }
            if (customUrl !== '') {
                url += '&customUrl=' + encodeURIComponent( customUrl);
            }
            LoadCmsPartialView(url, '@ViewBag.PageType');

        });

        function OpenLogout() {
            $('#logoutModal').show();
        }

    function OpenChangePassowrd() {
           // OpenIframeModal('/account/changepassword', 'Change Password', 350, 700);
             @*iframeOpenUrl = '@Url.Action("changepassword", "Account", new { @area = "" })';
        OpenIframePopup(450, 400, 'Change Password');*@
          var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("changepassword", "Account", new { @area = "" })';
        win.OpenWindow({ Title: 'Change Password', Width: 450, Height: 400 });
        return false;
    }
    function OpenMyProfile() {
            var myId = '@_userContext.UserId';
            //var url = 'user/myprofile?id=' + myId;
            //OpenIframeModal(url, 'My Profile', 450, 600);
         @*iframeOpenUrl = '@Url.Action("MyProfile", "User" , new { @area = "" })?id=' + myId;
        OpenIframePopup(450, 500, 'My Profile');*@
         var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("MyProfile", "User", new { @area = "" })?id=' + myId;
        win.OpenWindow({ Title: 'My Profile', Width: 450, Height: 500 });
        return false;
        }


           $(function () {
        $.contextMenu({
            selector: '.user-context-menu',
            trigger: 'left',
            build: function ($trigger, e) {

                    return {
                        callback: function (key, options) {
                            switch (key) {
                                case 'myProfile':
                                    OpenMyProfile();
                                    break;
                                case 'changePassword':
                                    OpenChangePassowrd();
                                    break;
                                case 'switchProfile':
                                    SwitchProfile();
                                    break;
                                case 'logOut':
                                    $('#logoutModal').modal('show');
                                    break;
                                default:
                            }

                        },
                        items: {
                            "myProfile": { name: "My Profile", icon: "fas fa-user" },
                            "changePassword": { name: "Change Password", icon: "fas fa-key" },
                            "switchProfile": { name: "Switch Profile", icon: "fas fa-user" },
                            "logOut": { name: "Logout", icon: "fas fa-sign-out-alt" },


                        }
                    };

            }
        });
           });






</script>




@*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>


    <script src="~/lib/loading-overlay/loading-overlay.min.js"></script>
    <script src="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.js"></script>
    <script src="~/lib/jquery-context-menu/dist/jquery.ui.position.min.js"></script>


    <script src="~/js/jquery-splitter.js"></script>

    <script src="~/js/jquery-dateformat.min.js"></script>*@
<script src="~/Themes/HR/js/theme.js" asp-append-version="true"></script>
@*<script src="~/js/Rec/recruitment.js"></script>*@
@RenderSection("scripts", required: false)





