@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceBoardController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@model ProgramDashboardViewModel

@{
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = null;
}
<style>

    /*#listView-Attach {
        background: transparent;
        border: none;
        width: 100%;
        padding: 10px 5px;
    }*/
    #board {
        background: transparent;
        border: none;
        width: 100%;
        /*padding: 10px 5px;*/
    }

    .card {
        margin-left: 10px;
        margin-top: 20px;
        float: left;
        width: 469px;
        height: 450px;
        border-style: solid;
        border-width: 2px;
        /*height:400px;*/
    }

    .attach {
        float: left;
        position: relative;
        width: 111px;
        height: 80px;
        margin: 0 5px;
        padding-bottom: 23px;
    }

    #Project {
        height: 400px;
    }

    .ui-item {
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }



    h5, .h5 {
        font-size: 14px;
        font-weight: bold;
    }

    body {
        background-color: #efefef87;
    }

    .nav-side-menu li:hover {
        border-left: 3px solid #d19b3d;
        background-color: #ff7a5961;
    }

    .nav-side-menu li a {
        text-decoration: none;
        color: #2c3131e3;
        font-size: 12px;
    }

    .nav-side-menu li {
        padding-left: 0px;
        border-left: 0px;
        border-bottom: 0px;
    }

    .nav-side-menu {
        position: fixed;
        overflow: auto;
        font-family: verdana;
        font-size: 10px;
        font-weight: 200;
        background-color: #ffffff;
        top: 0px;
        height: 100%;
        color: #394848;
        margin-bottom: 10px;
        margin-top: 50px;
        padding-top: 15px;
        width: 225px;
        /* border-right: 1px solid; */
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.22), 0 7px 10px -5px #fff;
        border: 1px solid #eee;
    }

    .Card-header {
        padding: 10px 15px;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        background: #F8F9FB;
        color: #5191bd;
        font-weight: bold;
        font-size: 14px;
    }

    .label {
        border-radius: 1.25em;
    }

    .label-info {
        background-color: #34bfa3;
    }

    .Pills {
        /*background-color: #428bca;*/
        background-color: #22b9ff !important;
        border: none;
        color: #fff;
        padding: 6px 20px !important;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0px 6px !important;
        cursor: pointer;
        border-radius: 22px !important;
        font-size: 12px !important;
    }

        .Pills:hover {
            background-color: #428bca;
        }

    /*  .board {
        height: 300px;
        overflow-y: scroll;
    }*/

    .k-listview {
        border: none;
    }

    .amont {
        color: #22b9ff !important;
    }

    .contract {
        font-size: 1.0em;
    }

    .cursor {
        cursor: pointer;
    }

    .Card-header .k-dropdown-wrap {
        border-radius: 25px !important;
        font-size: 15px;
    }

    .red {
        color: red;
    }

    .orange {
        color: darkorange;
    }

    .green {
        color: green;
    }

    .k-widget .k-colorpicker {
        float: right;
        float: right;
        margin: -1px;
        height: 41px;
    }

    .fa-circle {
        font-size: 0.5em;
    }
</style>
<style>
    .k-pdf-export .k-filterable .k-grid-filter {
        display: none;
    }

    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }
    /* Page Template for the exported PDF */
    .page-template {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            color: #888;
        }

        .page-template .footer {
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
            border-top: 1px solid #888;
            text-align: center;
            color: #888;
        }

        .page-template .watermark {
            font-weight: bold;
            font-size: 400%;
            text-align: center;
            margin-top: 30%;
            color: #aaaaaa;
            opacity: 0.1;
            transform: rotate(-35deg) scale(1.7, 1.5);
        }

    .k-grid td, .k-grid th {
        font-size: 14px !important;
    }

    .tb-bg {
        /*background-color:cadetblue;*/
        background-color: #17a2b8 !important;
        color: #fff;
        font-weight: 500 !important;
        text-align: center !important;
    }

    .tb-bg1 {
        /*background-color: cornflowerblue;*/
        background-color: #ffc107 !important;
        color: #000;
        font-weight: 500 !important;
        text-align: center !important;
    }

    .tb-bg2 {
        /* background-color: darkcyan;*/
        background-color: #17a2b8 !important;
        color: #fff;
        font-weight: 500 !important;
        text-align: center !important;
    }

    .k-footer-template {
        background-color: #DAEDFF
    }

    .k-grid-header .k-header, .k-grid-header thead, .k-grid-header .k-hierarchy-cell {
        background-color: #527ab8;
        color: #fff;
    }

        .k-grid-header thead a {
            color: #fff !important;
        }

    .label-warning {
        background-color: #f0ad4e;
    }

    .label-success {
        background-color: #5cb85c;
    }

    .label-danger {
        background-color: #d9534f;
    }

    .banner-container {
        position: relative;
        color: white;
    }

    .banner-text {
        position: absolute;
        top: 14px;
        left: 60px;
        font-size: 35px;
    }

    .SERVICE_STATUS_DRAFT {
        background-color: #17a2b8;
        color: #fff;
    }

    .SERVICE_STATUS_INPROGRESS {
        color: white !important;
        background-color: #007bff !important;
    }

    .SERVICE_STATUS_OVERDUE {
        color: white !important;
        background-color: #ffc107 !important;
    }

    .SERVICE_STATUS_COMPLETE {
        color: white !important;
        background-color: #28a745 !important;
    }

    .SERVICE_STATUS_CANCEL {
        background-color: #dc3545 !important;
        color: white !important;
    }

    .SERVICE_STATUS_DRAFT_TEXT {
        color: #17a2b8;
    }

    .SERVICE_STATUS_INPROGRESS_TEXT {
        color: #007bff !important;
    }

    .SERVICE_STATUS_OVERDUE_TEXT {
        color: #ffc107 !important;
    }

    .SERVICE_STATUS_COMPLETE_TEXT {
        color: #28a745 !important;
    }

    .SERVICE_STATUS_CANCEL_TEXT {
        color: #dc3545 !important;
    }

    .dropdown-menu-cl {
        background-color: rgb(235 235 234);
        font-size: 19px;
        padding: 12px;
    }
</style>
<script>
    $(document).ready(function () {
        HideLoader($("#global-overlay"));


        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Pms/PerformanceBoard/ReadProjectData?mode="+'@Model.Mode',
                    dataType: "json"
                }
            },
        });

        $("#board").kendoListView({
            dataSource: dataSource,
            dataBound: OnDataBoundDoc,
            template: kendo.template($("#templateAttach").html())
        });

        $("#searchperformance").keyup(function () {
           // debugger;
            var val = $('#searchperformance').val();
            var listView = $("#board").data("kendoListView");
            // var listView = $("#kgrdService").data("kendoListView");
            listView.dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "ProjectName",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "ServiceNo",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "Description",
                        operator: "contains",
                        value: val
                    },

                ]
            });


        });
        document.getElementsByClassName("k-listview-content")[0].classList.add("row");
    });

    function preview(e) {

       // var grid = $('#board').data().kendoListView;

      //  var dataItem = grid.dataItem($(this).closest('tr'));
        var x = e.sender.element[0].id;
        var y = document.getElementById("count_" + x.split("_")[1])
        y.style.backgroundColor = e.value
    }

    function OnSwitchView() {
        var url = "/pms/PerformanceBoard/listview?mode=@Model.Mode" + "&permissions="+'@ViewBag.Permissions';
      //  window.location.href = url;
        LoadPartailView(url, $('#cms-content'));
        //LoadCmsPartialView(url, 'Service');
    }

    function OnView(type) {
        var url = "/Pms/Performanceboard/index?permissions=@ViewBag.Permissions";
        if (type == "Shared") {
            url = "/Pms/Performanceboard/index?mode=Shared"+ "&permissions="+'@ViewBag.Permissions';
        }
       // window.location.href = url;
        LoadPartailView(url, $('#cms-content'));
       // LoadCmsPartialView(url, 'Service');
    }
    function OnProject(id) {
        var url = "/Pms/PerformanceDashboard?projectId=" + id;
        window.location.href = url;
    }
    function Edit(id) {
        var portalId = $('#GlobalPortalId').val();
        //var prms = encodeURIComponent( 'parentServiceId=123&parentTaskId=223');

       // var url = '/Cms/Page?source=Edit&dataAction=Edit&pageName=Project&portalId=' + portalId + '&recordId=' + id ;
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Versioning&dataAction=Edit&pageName=PerformanceDocument&portalId=' + portalId + '&recordId='+id ;
       // LoadCmsPartialView(url, 'Service', true, 1000, 600, 'Edit Project');
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(Resource["PerformanceDocument"])', Width: 1200, Height: 600 });
        return false;
    }
    function View(id, stageId) {
        //var url = "/Pms/Performance/Performancedashboard?projectId=" + id;

        var url = "/Pms/PerformanceDashboard/PerformanceDashboard?PerformanceId=" + id + "&stageId=" + stageId;
        LoadPartailView(url, $('#cms-content'));
    }
    function dataBound() {
        var grid = this;

        // $("#progress").data("kendoProgressBar").value(50);

        //$(this).find(".progress").kendoProgressBar({
        //    value: 50
        //});
        //grid.tbody.find("tr[role='row']").each(function () {
        //    var model = grid.dataItem(this);
        //});
    }

    var colors = ['#F56564', '#90D142', '#28BAF5', '#7551F5', '#5BA79F', '#7A8F9D', '#4F67B6'];
    function OnDataBoundDoc(arg) {
        var childDiv = document.getElementById('board').children;
        //var childDiv = document.getElementById('count').children;

        for (var i = 0; i < childDiv[0].children.length; i++) {
            var uc = childDiv[0].children[i].getElementsByClassName("usercount");
            var up = childDiv[0].children[i].getElementsByClassName("userpicker");
            var colr = colors[Math.floor(Math.random() * colors.length)];
            //childDiv[i].children[2].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
            uc[0].style.backgroundColor = colr;
            $("#"+up[0].id).data("kendoColorPicker").value(colr);
           // up[0].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
        }
    }

    function OnService() {
        var portalId = $('#GlobalPortalId').val();
        //var prms = encodeURIComponent( 'parentServiceId=123&parentTaskId=223');

        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageName=PerformanceDocument&portalId=' + portalId /*+ '&prms=' + prms*/;
        //LoadCmsPartialView(url, 'Service', true, 1000, 600, 'Create Project');
        //return false;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(Resource["PerformanceDocument"])', Width: 1200, Height: 600 });
        return false;
    }
    function OnAfterServiceCreate(service) {
        $("#board").data("kendoListView").dataSource.read();
    }
    function OnDownloadPD(id, mstageid) {
        //alert(id);
        var user = '@ViewBag.LoggedInUserId';
        var mstage = mstageid;
        //var user = '27f042e1-39dd-4877-a627-dc8bf8dc8140';
        @*var url = '/Cms/Report?rptName=Pms/PMS_PerformanceDocument.trdp&rptUrl=pms/query/GetUserPerformanceDocumentInfo/' + user + '?PerformanceId=' + id + '&lo=@LayoutModeEnum.Popup&rptUrl2=pms/query/GetPerformanceDocumentServiceStepTaskByUser/' + user + '?PerformanceId=' + id;*@
        var url = '/Cms/Report?rptName=Pms/PMS_PerformanceDocument.trdp&rptUrl=pms/query/GetUserPerformanceDocumentInfo/' + user + '/' + id + '?masterStageId='+mstage+'&lo=@LayoutModeEnum.Popup&rptUrl2=pms/query/GetPerformanceDocumentServiceStepTaskByUser/' + user + '/' + id+'?masterStageId='+mstage;
        var prms = encodeURIComponent('rptName=Pms/PMS_PerformanceDocument.trdp&rptUrl=/pms/query/GetUserPerformanceDocumentInfo/' + user +'&lo=@LayoutModeEnum.Popup');
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["Report"])', Width: 1200, Height: 700 });
    }
    function OnDownloadPDR(id, mstageid) {
        var user = '@ViewBag.LoggedInUserId';
        var mstage = mstageid;
        @*var url = '/Cms/Report?rptName=PMS_PerformanceReport.trdp&rptUrl=pms/query/GetUserPerformanceDocumentInfo/' + user + '?PerformanceId=' + id + '&lo=@LayoutModeEnum.Popup';*@
        var url = '/Cms/Report?rptName=PMS_PerformanceReport.trdp&rptUrl=pms/query/GetUserPerformanceDocumentInfo/' + user + '/' + id + '?masterStageId='+mstage+'&lo=@LayoutModeEnum.Popup';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["Report"])', Width: 1200, Height: 700 });
    }
     $(function () {
        $.contextMenu({
            selector: '#menu-item',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');
                var pdmstatus = $trigger.data('pdmstatus');
                var mstageid = $trigger.data('masterstageid');

                switch (pdmstatus) {
                    case 5:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        Edit(id);
                                        break;
                                    case 'view':
                                        View(id);
                                        break;
                                    case 'download':
                                        OnDownloadPD(id, mstageid);
                                        break;
                                    case 'downloadreport':
                                        OnDownloadPDR(id, mstageid);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "view": { name: "@SharedResource["View"]", icon: "fas fa-eye" },
                                "edit": { name: "@SharedResource["Edit"]", icon: "fas fa-edit" },
                                "download": { name: "View Performance Details", icon: "fas fa-eye" },
                                "downloadreport": { name: "View Performance Result", icon: "fas fa-eye" },

                            }
                        };
                    default:
                      return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        Edit(id);
                                        break;
                                    case 'view':
                                        View(id);
                                        break;
                                    case 'download':
                                        OnDownloadPD(id, mstageid);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "view": { name: "@SharedResource["View"]", icon: "fas fa-eye" },
                                "edit": { name: "@SharedResource["Edit"]", icon: "fas fa-edit" },
                                "download": { name: "View Performance Details", icon: "fas fa-eye" },
                            }
                        };
                }
            }
        });


           $.contextMenu({
            selector: '#sortmenu-item',
            trigger: 'left',
            build: function ($trigger, e) {



                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'name':
                                        sortbyname();
                                        break;
                                    case 'date':
                                        sortbydate();
                                        break;
                                    case 'status':
                                        sortbystatus();
                                        break;
                                    case 'reset':
                                        filterreset();
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "name": { name: "Sort By Name", icon: "fas fa-sort-alpha-up-alt" },
                                "date": { name: "Sort By Created Date", icon: "fas fa-calendar-day" },
                                "status": { name: "Sort By Status", icon: "fad fa-spinner" },
                                "reset": { name: "@SharedResource["Reset"]", icon: "fas fa-redo" },

                            }
                        };
                }
            }
        });

           $.contextMenu({
            selector: '#menu-item2',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');
                var pdmstatus = $trigger.data('pdmstatus');
                var stageId = $trigger.data('stageidvalue');
                var mstageid = $trigger.data('masterstageid');
                switch (pdmstatus) {
                    case 5:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'view':
                                        View(id, stageId);
                                        break;
                                    case 'download':
                                        OnDownloadPD(id, mstageid);
                                        break;
                                    case 'downloadreport':
                                        OnDownloadPDR(id, mstageid);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "view": { name: "@SharedResource["View"]", icon: "fas fa-eye" },
                                "download": { name: "View Performance Details", icon: "fas fa-eye" },
                                "downloadreport": { name: "View Performance Result", icon: "fas fa-eye" },

                            }
                        };
                    default:
                      return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'view':
                                        View(id, stageId);
                                        break;
                                    case 'download':
                                        OnDownloadPD(id, mstageid);
                                        break;
                                    case 'downloadreport':
                                        OnDownloadPDR(id, mstageid);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "view": { name: "@SharedResource["View"]", icon: "fas fa-eye" },
                                "download": { name: "View Performance Details", icon: "fas fa-eye" },
                                "downloadreport": { name: "View Performance Result", icon: "fas fa-eye" },
                            }
                        };
                }
            }
        });

     });

    var asdesc ="desc"
    function sortbyname() {
        var listView = $("#board").data("kendoListView");
        listView.dataSource.sort({ field: "ProjectName", dir: "asc" });
    }

    function sortbydate() {
        var listView = $("#board").data("kendoListView");
        listView.dataSource.sort({ field: "CreatedOn", dir: "asc" });
    }

    function sortbystatus() {
        var listView = $("#board").data("kendoListView");
        listView.dataSource.sort({ field: "ProjectStatus", dir: "asc"});
    }

    function filterreset() {

        var listView = $("#board").data("kendoListView");
        listView.dataSource.filter({});
        listView.dataSource.sort({ field: "UpdatedOn", dir: "desc" });
    }

    function sortbyascdesc() {
        if (asdesc == "asc") {
            asdesc = "desc"
        }
        else if (asdesc == "desc") {
            asdesc = "asc"
        }
        var listView = $("#board").data("kendoListView");
        listView.dataSource.sort({ field: "UpdatedOn", dir: asdesc });
    }

</script>

<div class="banner-container">
    <img style="width:100%; height:100px" src="~/images/PMS/Performance Board.png" />
    <div class="banner-text">@Resource["PerformanceDocument"]</div>
</div>
<div>

    <div class="row hr-pad-top-10">
        @*<div class="col-md-6">
                <h4>
                    Projects Board
                </h4>
            </div>*@
    </div>

    <div class="row">

        <div class="col-md-5" @*style="margin-left:-20px;"*@>
            @if (Model.Mode == "Shared")
            {
                <div class="btn btn-sm btn-default" title="@Resource["CreateOwnedPerformance"])" style="width:100px;" onclick="OnView()">
                    <span>@Resource["Owned"]</span>
                </div>
                <div class="btn btn-sm btn-primary" title="@Resource["CreateSharedPerformance"])" style="width:100px;" onclick="OnView('Shared')">
                    <span>@Resource["Shared"]</span>
                </div>
            }
            else
            {
                <div class="btn btn-sm btn-primary" title="@Resource["CreateOwnedPerformance"])" style="width:100px;" onclick="OnView()">
                    <span>@Resource["Owned"]</span>
                </div>
                <div class="btn btn-sm btn-default" title="@Resource["CreateSharedPerformance"])" style="width:100px;" onclick="OnView('Shared')">
                    <span>@Resource["Shared"]</span>
                </div>
            }

        </div>

        <div class="col-md-5" style="text-align:right">
            <input id="searchperformance" type="search" placeholder="Search Performance Document" class="form-control" style="border-radius: 30px;">

        </div>

        <div class="col-md-1" style="text-align:right">
            <div class="formHeader" style="padding-bottom:10px;">
                <div class="btn-group" role="group">

                    <a href="#" class="btn btn-sm btn-primary" id='sortmenu-item' title="Sort"><i class='fas fa-ellipsis-v fa-1x'></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="javascript: void(0); onclick=sortbyascdesc()" class="btn btn-sm btn-primary" title="Sort by Ascending/Descending"><i class="fal fa-sort-alt fa-1x"></i></a>
                </div>
            </div>

        </div>

        <div class="col-md-1" style="text-align:right">
            <div class="formHeader" style="padding-bottom:10px;">
                <div class="btn-group" role="group">

                    <a href="#" class="btn btn-sm btn-primary" title="@Resource["CardView"]"><i class="fas fa-line-columns fa-1x"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="javascript: void(0); onclick=OnSwitchView()" class="btn btn-sm btn-primary" title=@Resource["ListView"]><i class="fas fa-list-alt fa-1x"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div>
        <br />
        <br />

    </div>
    <div class="">
            @*@(Html.Kendo().ListView<ProgramDashboardViewModel>()
                    .Name("listView-Attach")
                    .TagName("div")
                    .Events(e => e.DataBound("OnDataBoundDoc"))
                    .AutoBind(true)
                    .ClientTemplateId("templateAttach")
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("ReadProjectData", "PerformanceBoard", new { @area = "Pms", mode=Model.Mode }))
                    //.PageSize(21)
                    ).HtmlAttributes(new { @Class = "board", @id = "board"})
                )*@

            <div id="board" class="board"></div>
        @Html.HiddenFor(x => x.Mode)
    </div>


</div>

<style>
    .proj-box {
        border-style: groove;
        min-height: 400px;
        /*overflow-y: scroll;*/
        margin-bottom: 30px;
    }

    .inner-box {
        overflow-y: scroll;
        height: 335px;
        width: 98%;
        margin: 5px;
    }

    .stagebox {
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;
        border-color: lightgrey;
        text-align: center;
        margin-top: 5px;
        background-color: #fafafa;
    }

    .grid-menu {
        padding: 4px;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        line-height: 19px;
        font-size: medium;
        cursor: pointer;
        padding-left: 10px;
        margin-left: 75%;
    }

    .inner-card {
        width: 100%;
        height: 120px;
        margin-left: 0;
        margin-top: 0;
    }
</style>

<script type="text/kendo-ui-template" id="templateAttach">

       <div class="col-4">
       <div class="card ">
     <div class="card-header text-center #:data.ProjectStatusCode#">
               <div class="#:data.ProjectStatusCode#"></div>
       <div class="row">
           <div class="col-10">
                    <a href="javascript: void(0); onclick=View('#:Id#')"> <span style="font-size:17px;color:white;font-weight:500">#:ProjectName#</span></a>
           </div>
           <div class="col">
                  <div class='btn-group grid-menu' id='menu-item' data-idvalue=#:Id# data-pdmstatus=#:DocumentStatus# data-masterstageid=#:MasterStageId#><i class='fas fa-ellipsis-v'></i></div>
           </div>
       </div>
       <div class="row">
           <div class="col-10">
                   <span style="color:white;font-size:12px">  #: kendo.toString(kendo.parseDate(StartDate), 'yyyy-MM-dd')  # </span>
               <span>  -    </span>
               <span style="color:white;font-size:12px"> #:kendo.toString(kendo.parseDate(DueDate), 'yyyy-MM-dd')# | #:ProjectStatus# </span>
           </div>
           <div class="col">
           </div>
       </div>

     </div>

             <div class="card-body"     style="height: 100%;overflow-y: scroll;">
              <div class="row">
                 #if(StageList!=null){
    for (var i=0,len=StageList.length; i<len; i++){#
                 <div class="col-12" style="margin-bottom: 10px;">
                    <div class="card inner-card">
                       <div class="card-header text-center">
         <div class="row">
           <div class="col-10">
                  ${ StageList[i].StageName }
           </div>
           <div class="col">
                       <div class='btn-group grid-menu' id='menu-item2' data-stageidvalue=#:StageList[i].StageId# data-idvalue=#:Id# data-pdmstatus=5 data-masterstageid=#:MasterStageId#><i class='fas fa-ellipsis-v'></i></div>
           </div>
       </div>

                       </div>
                       <div class="card-body" style="padding: 10px;">
                           <div class="row">
                               <div class="col">
                                    <span style="color:gray;font-size:12px">  #: kendo.toString(kendo.parseDate( StageList[i].StartDate ), 'yyyy-MM-dd')  # </span> -

                                    <span style="color:gray;font-size:12px"> #:kendo.toString(kendo.parseDate( StageList[i].EndDate ), 'yyyy-MM-dd')#</span>
                               </div>
                               <div class="col">
                                       <span style="color:gray;font-size:12px">Status:   ${ StageList[i].Status }</span>
                               </div>
                           </div>

                           <div class="row">
                               <div class="col">
                                     <span style="color:gray;font-size:12px">Goals:   ${ StageList[i].Goals }</span>
                               </div>
                               <div class="col">
                                       <span style="color:gray;font-size:12px">Competency:   ${ StageList[i].Competency }</span>
                               </div>
                           </div>

                       </div>
                    </div>
                 </div>
                 # } }#
              </div>
           </div>

        </div>
       <br/>
    </div>
</script>




