@inject IStringLocalizer<CMS.UI.Web.Areas.PortalAdmin.Controllers.UserGroupController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Kendo.Mvc.UI;
@model UserGroupViewModel
@{
    ViewData["Title"] = @Resource["UserGroup"];
    Layout = null;
}
<script>
    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

    var columnDefs = [
        {
            field: "Name",
        },
        { field: "Description" },
        //{ field: "Prefix" },
        //{
        //    field: "Status",
        //    cellRenderer: params => {
        //        return statusObj[params.value]; //only for enum
        //    }
        //},
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menuBinUserGroup' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\" ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    $(function () {

        getDataUserGroup();

        //$.contextMenu('update');
        //$('.context-menu-list').trigger('contextmenu:refresh');

        $.contextMenu({
            selector: '#tree-menuBinUserGroup',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');

                //var portalName = $trigger.data('portal-name');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        onEdit(id);
                                        break;

                                    case 'delete':
                                        OnDelete(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },


                            }
                        };


                }
            }
        });


    });

    function onEdit(id) {
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("EditUserGroup", "UserGroup", new { @area= "PortalAdmin" })?Id=' + id;
        win.OpenWindow({ Title: 'Manage User Group', Width: 450, Height: 800 });
        return false;
    }
     function OnCreateUserGroup() {

          var win = GetMainWindow();
          win.iframeOpenUrl =  '@Url.Action("CreateUserGroup", "UserGroup", new { @area="PortalAdmin"})';
          win.OpenWindow({ Title: '@Html.Raw(Resource["ManageUserGroup"])', Width: 450, Height: 800 });
          return false;
    }

    function RefreshGrid() {
        getDataUserGroup();
    }

    function OnDelete(id) {
        var flag = confirm('Do you really want to delete the User Group?');

        if (flag) {
            $.ajax({
                url:'@Url.Action("DeleteUserGroup", "UserGroup", new { @area= "PortalAdmin" })?Id=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    
                    if (result.success) {
                        getDataUserGroup();
                        kendo.alert("User Group Deleted Successfully.");
                    } else {
                        getDataUserGroup();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    getDataUserGroup();
                }
            });
            return false;
        }
    }

   function getDataUserGroup() {
       document.getElementById("myGridUserGroup").innerHTML = "";
       gridConfig(
           "myGridUserGroup",
           "/PortalAdmin/userGroup/ReadData",
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }

</script>

<div>
    <h4>@ViewBag.Title</h4>

    <hr />


    <div class="row">
        <div class="col-12">
            <button type='button' class='btn btn-primary' onclick='OnCreateUserGroup();'><i class='fa fas fa-plus'></i>&nbsp;Create User Group</button>
            <br /><br />
            <div id="myGridUserGroup" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>


<script>
    function OnEditUserGroup(id) {
       //
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        
         var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("EditUserGroup", "UserGroup", new { @area="PortalAdmin"})?Id=' + id;
        win.OpenWindow({ Title: '@Html.Raw(Resource["ManageUserGroup"])', Width: 450, Height: 800 });
        return false;
    }

    function OnDeleteUserGroup(id) {
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        kendo.confirm("@SharedResource["Areyousurethatyouwanttoproceed?"]").then(function () {
            confirmDeleteRole(id);

        }, function () {

        });

    }
    function OnCreateUserGroup() {


             var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("CreateUserGroup", "UserGroup", new { @area="PortalAdmin"})';
          win.OpenWindow({ Title: '@Html.Raw(Resource["ManageUserGroup"])', Width: 500, Height: 650 });
        return false;

    }
    function confirmDeleteRole(id) {
        //

        $.ajax({
           // url: "~/UserRole/DeleteUserRole?Id=" + id,
            url:'@Url.Action("DeleteUserGroup", "UserGroup", new { @area= "PortalAdmin" })?Id=' + id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {
                // $('#dlg_DeleteConfirmation').data("kendoDialog").close();
               //
                $("#UserRolegrid").data("kendoGrid").dataSource.read();
            },
            error: function () {
               //
                $("#UserRolegrid").data("kendoGrid").dataSource.read();
            }
        });


    }
    $(function () {
        $.contextMenu({
            selector: '#groupgrid-menu',
            trigger: 'left',
            build: function ($trigger, e) {

                console.log($trigger);
                var id = $trigger.data('idvalue');
                var status = 0;


                switch (status) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        OnEditUserGroup(id);
                                        break;
                                    case 'del':
                                        OnDeleteUserGroup(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "@Html.Raw(SharedResource["Edit"])", icon: "fas fa-pencil" },
                                "del": { name: "@Html.Raw(SharedResource["Delete"])", icon: "fas fa-trash" },


                            }
                        };


                }
            }
        });

    });
</script>


@*<div>
    <h4>@ViewBag.Title</h4>

    <hr />


    <div class="row">
        <div class="col-12">

            @(Html.Kendo().Grid<UserGroupViewModel>
    ()
    .Name("UserRolegrid")
   .ToolBar(toolbar =>
  {
      toolbar.Custom().Text("" + SharedResource["Create"] + "").Name("btnAdd").IconClass("fa fas fa-plus").HtmlAttributes(new { @class = "k-primary", href = "javascript:OnCreateUserGroup();" });
  })

    //toolbar.Custom().Text("Create Group").HtmlAttributes(new { href = "javascript:OnCreateGroup();" }))
    .Columns(columns =>
    {
        //columns.Bound(c => c.Id).Width(140).Hidden(true);
        //  columns.Bound(c => c.Id).Title(" ").Width(100).ClientTemplate("<a class='btn btn-success' onclick='return OnEditGroup(\"#=Id#\");'><i class='fad fa-edit'></i> Edit</a>");
        //columns.Command(command =>
        //{
        //    command.Custom("Edit").Text("<i class='fa fas fa-pencil'></i>").Click("OnEditUserGroup").HtmlAttributes(new { @class = "action-icon"});
        //    command.Custom("Delete").Text("<i class='fa fas fa-trash'></i>").Click("OnDeleteUserGroup").HtmlAttributes(new { @class = "action-icon"});
        //}).Title("Action").Width(100);
        columns.Bound(c => c.Id).ClientTemplate("<div class='btn-group grid-menu' id='groupgrid-menu' data-idvalue=\"#:Id#\"  ><i class='fas fa-ellipsis-v'></i></div>").Width(150).Title("" + SharedResource["Action"] + "");
        columns.Bound(c => c.Name).Title(@SharedResource["Name"]);
        columns.Bound(c => c.Description).Title(@SharedResource["Description"]);


    })
     .Scrollable(x => x.Enabled(false))
                .Sortable(srt => srt.Enabled(true))
                .Selectable(select => select.Enabled(false))
                .Filterable(f => f.Extra(false)
                                                    .Operators(o => o.ForString(s => s.Clear()
                                                    .Contains("Contains")
                                                    .IsEqualTo("Is equal to")
                                                )))
                .Pageable(pageable => pageable
                .Refresh(true)

                .PageSizes(true)
                .ButtonCount(5))
                .AutoBind(true)
                .DataSource(
                dataSource => dataSource
                .Ajax()
                .PageSize(10)
                //.Events(events => events.Error("OnError"))
                .Read(read => read.Action("ReadData", "UserGroup",new { @area="PortalAdmin"}))
                .Model(model => model.Id(p => p.Id))
                )
          )
        </div>
    </div>

</div>*@

