@using Synergy.App.ViewModel
@using Synergy.App.Common

@{
    ViewData["Title"] = "Manage Experience By Sector";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model CandidateExperienceBySectorViewModel

<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
    .cms-managecandedu-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <form asp-controller="CandidateProfile" asp-action="ManageCandidateExpBySector" method="post" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">

        @*<form asp-controller="CandidateProfile" asp-action="ManageCandidateExpBySector" method="post" class="form-horizontal">*@
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px"></div>
        <div class="row" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SequenceOrder" type="number" min="0" class="form-control" placeholder="Sl No" autocomplete="off" style="width:80%;" required="required" />
                    <label for="SequenceOrder">Sl No <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="sector">Sector <span class="required">*</span></label>
                    </div>
                    <input type="text" class="form-control" id="SectorId" asp-for="SectorId" style="width:80%" required />
                    @*@(Html.Kendo().DropDownListFor(x=>x.Sector)
                                .DataTextField("Name")
                                .DataValueField("Id")
                                 .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetListOfValueList", "ListOfValue", new { @area = "Recruitment", @type = "LOV_SECTOR" });
                                        //read.Action("GetLocationList", "CandidateProfile");
                                    });
                                })
                                .OptionLabel("--Select Sector--")
                                //.Value()
                                .HtmlAttributes(new { @class="form-control", style = "width: 80%" })
                    )*@
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="industry">Industry <span class="required">*</span></label>
                    </div>
                    <input type="text" class="form-control" id="IndustryId" asp-for="IndustryId" style="width:80%" required />
                    @*@(Html.Kendo().DropDownListFor(x=>x.Industry)
                                .DataTextField("Name")
                                .DataValueField("Id")
                                 .Filter(FilterType.Contains)
                                .OptionLabel("--Select Industry--")
                                //.Events(e => e.Change("OnPageTypechange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetListOfValueList", "ListOfValue", new { @area = "Recruitment", @type = "LOV_INDUSTRY" });
                                        //read.Action("GetPositionList", "CandidateProfile");
                                    });
                                })
                                //.Value()
                                .HtmlAttributes(new { @class="form-control", style = "width: 80%" })
                    )*@

                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="category">Category <span class="required">*</span></label>
                    </div>
                    <input type="text" class="form-control" id="CategoryId" asp-for="CategoryId" style="width:80%" required />
                    @*@(Html.Kendo().DropDownListFor(x=>x.Category)
                                .DataTextField("Name")
                                .DataValueField("Id")
                                 .Filter(FilterType.Contains)
                                .OptionLabel("--Select Category--")
                                //.Events(e => e.Change("OnPageTypechange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetListOfValueList", "ListOfValue", new { @area = "Recruitment", @type = "JOB_CATEGORY" });
                                        //read.Action("GetPositionList", "CandidateProfile");
                                    });
                                })
                                //.Value()
                                .HtmlAttributes(new { @class="form-control", style = "width: 80%" })
                    )*@

                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="NoOfYear" type="number" class="form-control" placeholder="No Of Years" autocomplete="off" style="width:80%;" required="required" />
                    <label for="NoOfYear">No Of Years <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-15">
                &nbsp;
            </div>

            <div class="cms-slidebar-footer">
                <input type="button" class="btn btn-light" value="Close" onclick="closeNavCandExpBySector()" />
                <input type="submit" class="btn btn-primary" value="Save" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.CandidateId)
        @Html.HiddenFor(x => x.IsLatest)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.Json)
    </form>
</div>

<script type="text/javascript">
      var onAjaxSuccess = function (res) {

        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("SavedSuccessfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("UpdatedSuccessfully", "success");
            }
            closeNavCandExpBySector();
            window.parent.GetCandidateExperiencebySector();
           // window.parent.getApplicationDocumentData();
        }
        else {

            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);

        }
    };
    $(document).ready(function () {

        $("#IndustryId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.IndustryId",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=LOV_INDUSTRY",
                    }
                }
            }
        });

        $("#SectorId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.SectorId",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=LOV_SECTOR",
                    }
                }
            }
        });

        $("#CategoryId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.CategoryId",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=JOB_CATEGORY",
                    }
                }
            }
        });

        if ('@ViewBag.Success' == "True") {
          //
            //window.parent.$("#kgrdCandidateEducational").data("kendoGrid").dataSource.read();
            //window.parent.$("#kgrdCandidateCertifications").data("kendoGrid").dataSource.read();
            //window.parent.$("#kgrdCandidateTrainings").data("kendoGrid").dataSource.read();
            //window.parent.$("#kgrdCandidateExperience").data("kendoGrid").dataSource.read();
           // window.parent.parent.$("#kgrdCandExpBySector").data("kendoGrid").dataSource.read();
            closeNavCandExpBySector();
        }
    });

    function closeNavCandExpBySector() {
        //window.parent.CloseIframePopup();
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: 'RefreshCS' });
        return false;
    }

    function OnSave(evt) {

        if ($("#SectorId").data("kendoDropDownList").value() == "") {
            //
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Sector is required");
            evt.preventDefault();
            return false;
        }
        else if ($("#IndustryId").data("kendoDropDownList").value() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Industry type is required");
            evt.preventDefault();
            return false;
        }
        else if ($("#CategoryId").data("kendoDropDownList").value() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Category type is required");
            evt.preventDefault();
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
        }
    }


</script>

