@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Portal";
    Layout = null;
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
}
@inject Synergy.App.Common.IUserContext _userContext
@model ProcessDesignVariableViewModel

<style>
    .k-tabstrip-wrapper {
        height: 100%;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 0px;
    }

    .cms-manageportal-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 75%;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-pickerleft {
        width: 50%;
        float: left;
        padding-bottom: 15px;
    }
    /*    k-colorpicker {
        width: 100px;
    }

    .k-colorpicker .k-selected-color {
            width: 100px;
    }*/

</style>
<script type="text/javascript">
    function OpenCreateVariablepopup() {
        
        $("#ShowVariables").hide();
        $("#CreateVariables").show();
    }


    $(document).on('mouseenter', '.divbutton', function () {
        $(this).find(":button").show();
    }).on('mouseleave', '.divbutton', function () {
        $(this).find(":button").hide();
    });



    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/cms/ProcessDesign/GetVariablesList?TemplateId="+'@Model.TemplateId',
                    dataType: "json"
                }
            },
        });

        $("#VariablesView").kendoListView({
            dataSource: dataSource,            
            template: kendo.template($("#template").html())
        });

        if ('@Model.DataAction'=='@DataActionEnum.Edit')
        {
              $("#ShowVariables").hide();
             $("#CreateVariables").show();
        }
    });

    function closeNavPortal() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function RemoveVariable(id) {

    }
    function EditVariable(id) {
        LoadPartailView('@Url.Action("ManageWorkflow", "ProcessDesign", new { @area = "Cms"})?id=' + id, $("#tabstrip-1"));
    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            $("#ShowVariables").show();
            $("#CreateVariables").hide();
            $("#VariablesView").data("kendoListView").dataSource.read();
        }
        else {
            showError(res.error);
        }
    };
    function CloseCreateForm() {
        $("#ShowVariables").show();
        $("#CreateVariables").hide();
        $("#VariablesView").data("kendoListView").dataSource.read();
    }
    function UseEnum(fieldNameValue) {
        var ReturnValue = "";
        var values = [
            { text: "Text", value: 1 },
            { text: "Bool", value: 2 },
            { text: "DateTime", value: 3 },
            { text: "Integer", value: 4 },
            { text: "Double", value: 5 },
            { text: "Bool", value: 6 }
        ]
        values.forEach(function (element) {
            if (element.value == fieldNameValue) {
                ReturnValue= element.text
            }
        });
        return ReturnValue;
    }
</script>
<style>
    .pd-var {
        font-size: small;
        border: 1px solid #007bff;
        border-left: 8px solid #007bff;
        padding: 3px;
        border-radius: 3px;
    }

    .pd-var-icon {
        font-size: small;
        background-color: #007bff;
        color: #fff;
        border-bottom-color: #007bff;
        border-top-color: #007bff;
        border-left-color: #007bff;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 6px;
        padding-left: 6px;
    }

    .pd-var-text {
    }
</style>
<div class="pad-15">
    <div id="CreateVariables" style="display:none;">
        <form asp-controller="ProcessDesign" asp-action="CreateVariable" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row" style="padding:10px;">

                <div class="col-12 pad-10">
                    <div class="form-label-group">
                        <input asp-for="Name" type="text" class="form-control" placeholder="Name" autocomplete="off" />
                        <label for="Name">Name </label>
                    </div>
                </div>
                <div class="col-12">Type </div>
                <div class=" col-12 pad-10">
                    <div class="form-label-group">

                        @*@(Html.Kendo().DropDownListFor(x => x.DataType)
                                   .DataSource(source =>
                                   {
                                       source.Read(read =>
                                       {
                                           read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "DataColumnTypeEnum" });
                                       });
                                   })
                        .DataTextField("Name")
                        .DataValueField("Id")
                                  .HtmlAttributes(new { @class = "form-control"})
               )*@


                    </div>


                </div>
                <div class="col-12 pad-10">
                    <div class="form-label-group">
                        <input asp-for="Value" type="text" class="form-control" placeholder="Default Value" autocomplete="off" />
                        <label for="Value">Default Value</label>
                    </div>
                </div>
                <div class="cms-slidebar-footer">
                    <input type="button" class="btn btn-light" value="Close" onclick="CloseCreateForm();" />
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>

            </div>

            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.DataAction)
            @Html.HiddenFor(x => x.TemplateId)
            @Html.HiddenFor(x => x.DisplayName)
        </form>
    </div>
    <div id="ShowVariables">
        <div class="col-12 pad-10">
            <input type="button" value="Create Variable" onclick="OpenCreateVariablepopup();" class="btn btn-primary" style="width:100%" />
        </div>

        @*@(Html.Kendo().ListView<ProcessDesignVariableViewModel>()
                    .Name("VariablesView")
                    .TagName("div")
                    .ClientTemplateId("template")
                    .AutoBind(true)
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("GetVariablesList", "ProcessDesign", new { area = "Cms", TemplateId = Model.TemplateId }))
                    .PageSize(21)
                    )
                   // .Pageable()
            )*@

        <div id="VariablesView"></div>
    <script type="text/x-kendo-tmpl" id="template">
               <div class="row col-12 divbutton pad-5" style="margin:5px;min-height:30px;">
               <div class="col-3">
               <span>#:Name#</span>
               </div>

                <div class="col-3">
          <input type="button" style="display: none;" class="btn btn-primary" value="Insert">

               </div>
        <div class="col-3">
                 <span>#:UseEnum(DataType)#</span>
               </div>
        <div class="col-3">
        <a role="button" class="k-button k-button-icontext k-grid-Edit action-icon" onclick="EditVariable('#:Id#')">
                <i class="fa fas fa-pencil" ></i>
        </a>


               <i class="fas fa-trash-alt" onclick="RemoveVariable('#:Id#')" style="display:none"></i>
               </div>

               </div></script>
    </div>

</div>
