@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceTaskController> Resource
@using Synergy.App.ViewModel
@using Synergy.App.Common

@{
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}
@model ApplicationViewModel

<script type="text/javascript">


    function closeNav() {


        var win = GetMainWindow();
        win.CloseWindow({ MethodName: 'OnCloseCreateObjectives'});
        return false;
    }


    function ShowLoader(target) {
        // target.loadingOverlay();
        kendo.ui.progress(target, true);
    }
    function HideLoader(target) {
        //target.loadingOverlay('remove');
        kendo.ui.progress(target, false);
    }


    function onChangeProjectFiltersIds() {

        var sender = $("#Sender").data("kendoDropDownList").value();
        var ProjectId = $("#ProjectFiltersIds").data("kendoDropDownList").value();
        var Types = $("#mdlTaskStagesType").data("kendoDropDownList").value();

        if (sender.length > 0 && ProjectId.length > 0 && Types.length>0) {

            var search = {
                UserID: sender,
                Type: Types,
                PerformanceId: ProjectId,
            };
            $("#BusinessTripGridView").data("kendoGrid").dataSource.read(search);
            var grid = $("#BusinessTripGridView").data("kendoGrid");
            var competency = "@Resource["Competency"]";
            var goals = "@Resource["Goals"]";
            if (Types == "PMS_COMPENTENCY") {


                grid.thead.find("[data-title~='Goals']").html(competency);
            } else {

                grid.thead.find("[data-title~='Goals']").html(goals);
            }
        }
    }

      function OnFilter() {
          var portalId = $('#GlobalPortalId').val();

          var Department = $("#Department").val();
          var performancesource = $("#PerformanceRatingsource").val();
          if (Department == '' || Department == null)
          {
              Department = 'All';
          }
          if (performancesource == '' || performancesource == null) {
              performancesource = 'All';
          }

          var prms = encodeURIComponent('departmentId=' + Department + '&type=' + performancesource + '');


          var url = '/Cms/Page?pageName=PerformanceRatingSummary&source=Main&portalId=' + portalId + '&prms=' + prms;

                LoadCmsPartialView(url, 'Page', false, 1000, 600, 'Summary','',false, $('#inbox-content-div'));

    }

    $(document).ready(function () {
        HideLoader($("#global-overlay"));
        $("#PerformanceRatingsource").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Code",
            filter: "contains",
	    optionLabel:'All',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/CMS/LOV/GetListOfValueList?Type=PERFORMANCE_RATING_SOURCE",
                    }
                }
            }
        });

        $("#Department").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
	    optionLabel:'All',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/pms/PerformanceRating/GetAllDepartment",
                    }
                }
            }
        });

    });
</script>

<style>
    .cms-bulkinterview-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }
</style>
<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <div id="divCreateObjectives">
        <div class="container">
            <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
            <div class="row">
                <div class="col-1">
                    <label class="col-form-label">@SharedResource["Department"]<span class="required">*</span><br></label>
                </div>
                <div class="col-3">
                    @*@(Html.Kendo().DropDownList().Name("Department")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Action("GetAllDepartment", "PerformanceRating", new { area = "Pms" });
                                 });
                             })
                             //.AutoClose(false)
                             //.Placeholder("Search User")
                             .OptionLabel("All")
                             .Filter("contains")
                             .DataTextField("Name")
                             .DataValueField("Id")
                             //.Events(e => e.Change("onChangeSender"))
                             .HtmlAttributes(new { @class = "hr-xx-large search-control" })
            )*@

                    <input id="Department" class="hr-xx-large search-control" />
                </div>

                @*<div class="col-1">
                <label class="col-form-label">@Resource["PerformanceDocument"]<span class="required">*</span><br></label>
            </div>
            <div class="col-3">
                @(Html.Kendo().DropDownList().Name("PerformanceDocument")
                         .DataSource(source =>
                         {
                             source.Read(read =>
                             {
                                 read.Action("GetAllPerformanceDocument", "PerformanceRating", new { @area = "Pms" });
                             });
                         })
                        //.AutoClose(false)
                        // .Placeholder("Search Performance Document")
                        .OptionLabel("" + SharedResource["Select"] + "")
                        .Filter("contains")
                         .DataTextField("Name")
                         .DataValueField("Id")
                         //.Events(e => e.Change("onChangeProjectFiltersIds"))
                         .HtmlAttributes(new { @class = "hr-xx-large search-control" })
        )
            </div>*@

                <div class="col-1">
                <label class="col-form-label">@Resource["Type"]<span class="required">*</span><br></label>
            </div>
                <div class="col-3">
                    @*@(Html.Kendo().DropDownList().Name("PerformanceRatingsource")
                         .DataSource(source =>
                         {
                             source.Read(read =>
                             {
                                 read.Action("GetListOfValueList", "LOV", new { @area = "Cms", Type = "PERFORMANCE_RATING_SOURCE" });
                             });
                         })
                        //.AutoClose(false)
                        // .Placeholder("Search Performance Document")
                        .OptionLabel("All")
                        .Filter("contains")
                         .DataTextField("Name")
                         .DataValueField("Code")
                         //.Events(e => e.Change("onChangeProjectFiltersIds"))
                         .HtmlAttributes(new { @class = "hr-xx-large search-control" })
        )*@

                    <input id="PerformanceRatingsource" class="hr-xx-large search-control" />
                </div>

                <div class="col-3">
                    <button class="btn-primary" onclick="OnFilter()">Filter</button>
                </div>

            </div>

            <div class="row">
                <div class="col-12" id="inbox-content-div">

                  
                </div>
            </div>
        </div>
    </div>
</div>
