@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    var bannerHeight = 65;
    var returnUrl = "";
    string viewBagPortalId = Convert.ToString(ViewBag.PortalId);
    string footerText = Convert.ToString(ViewBag.Footer);
    var menuWidth = 600;
    if (ViewBag.Portal != null)
    {
        bannerHeight = ViewBag.Portal.BannerHeight;
        if (ViewBag.HideHeader != null && ViewBag.HideHeader == true)
        {
            bannerHeight = 10;
        }
        returnUrl = string.Concat("/portal/", Convert.ToString(ViewBag.Portal.Name));

    }
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Themes/HR/css/theme.css" asp-append-version="true" />
<section id="container">
    @if (ViewBag.HideHeader == null || ViewBag.HideHeader == false)
    {
        <div class="hide-in-popup header row no-gutters " style="background-color:white;height:@(bannerHeight)px;border-bottom:solid;border-bottom-width:thin;border-bottom-color: #C4C4C4;">
            <div class="col-md-6 row no-gutters">
                <div class="col-3 toggle-nav" style="color:#fff;">
                    <div class="dropdown">
                        <button class="hamburger-menu primary-border navbar-toggler" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="primary-font-color">
                                <i class="fas fa-bars" style="font-size:24px;"></i>
                            </span>
                        </button>
                        @{

                            var menus = (List<Synergy.App.ViewModel.MenuViewModel>)ViewBag.Menus;
                            var ht = 575;
                            var mgh = 80;
                            var mh = 38;
                            if (menus != null)
                            {
                                var mg = menus.Where(x => x.PageType == TemplateTypeEnum.MenuGroup).Count() * mgh;
                                var p = menus.Where(x => x.PageType != TemplateTypeEnum.MenuGroup).Count() * mh;
                                var required = mg + p;
                                menuWidth = ((required / 575) + 1) * 300;
                            }
                            @:<div id="main-menu" class="dropdown-menu menu-container">
                                void LoadAccordianMenu(Synergy.App.ViewModel.MenuViewModel menu, Synergy.App.ViewModel.MenuParam prm, int menuNo, int level)
                                {
                                    if (menu.PageType == TemplateTypeEnum.MenuGroup)
                                    {
                                        prm.Height += mgh;
                                        if (prm.Height >= ht)
                                        {
                                            prm.ColumnCount++;
                                            prm.Height = mgh;
                                            prm.Html += $"</div><div class='menu-col col-color-{prm.ColumnCount}'>";

                                        }
                                        prm.Html += $"<a class=\"inode-link-nocss\" href=\"javascript:LoadPageById('{menu.Id}','{Synergy.App.Common.TemplateTypeEnum.MenuGroup}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}')\" >";

                                        prm.Html += $"<div class='row no-gutters menu-group col-color-{menuNo}-{level} col-level-{level}'>";
                                        prm.Html += $"<div class='col-3'><img class='menu-accordion-img' src='/cms/document/getimagemongo/{menu.IconFileId}' alt='Menu image' onerror='OnDocumentError(this);'></div>";
                                        prm.Html += $"<div class='col-9 menu-group-text'>{menu.DisplayName}</div>";
                                        prm.Html += $"</div>";
                                        prm.Html += $"</a>";
                                    }


                                    var childs = menus.Where(x => x.ParentId == menu.Id && x.PageType != TemplateTypeEnum.MenuGroup);
                                    if (childs != null && childs.Any())
                                    {
                                        foreach (var item in childs.OrderBy(x => x.SequenceOrder))
                                        {
                                            prm.Height += mh;
                                            if (prm.Height >= ht)
                                            {
                                                prm.ColumnCount++;
                                                prm.Height = mh;
                                                prm.Html += $"</div><div class='menu-col col-color-{prm.ColumnCount}'>";
                                            }

                                            prm.Html += $"<a class='' href=\"javascript:LoadPageById('{item.Id}','{item.PageType.ToString()}','{Synergy.App.Common.RequestSourceEnum.Main.ToString()}','{Synergy.App.Common.DataActionEnum.None.ToString()}')\">";
                                            prm.Html += $"<div class='menu-item col-color-{menuNo}-{level} col-level-{level}'>";
                                            prm.Html += $"<i class=\"{item.IconCss} menu-item-icon fa-fw\"></i>";
                                            prm.Html += $"<span class=\"menu-item-text\">{item.DisplayName}</span>";
                                            prm.Html += $"</div>";
                                            prm.Html += $"</a>";

                                        }
                                    }

                                    var subMenuGroups = menus.Where(x => x.ParentId == menu.Id && x.PageType == TemplateTypeEnum.MenuGroup);
                                    if (subMenuGroups != null && subMenuGroups.Any())
                                    {

                                        @foreach (var sub in subMenuGroups.OrderBy(x => x.SequenceOrder))
                                        {
                                            LoadAccordianMenu(sub, prm, menuNo, level + 1);
                                        }

                                    }

                                }

                                if (menus != null)
                                {
                                    var menuNo = 1;
                                    var prm = new Synergy.App.ViewModel.MenuParam { Html = "<div class='menu-col col-color-1'>", Height = 0, ColumnCount = 1 };
                                    foreach (var menu in menus.Where(x => x.ParentId == x.PortalId && x.PageType == TemplateTypeEnum.MenuGroup && menus.Any(y => y.ParentId == x.Id)).OrderBy(x => x.MenuGroupSequenceOrder))
                                    {
                                        LoadAccordianMenu(menu, prm, menuNo++, 0);
                                    }
                                    prm.Html += "</div>";
                                    @Html.Raw(prm.Html);
                                }




                            @:</div>
                        }
                    </div>

                </div>
                <div class="col-9">

                    @if (ViewBag.Portal != null)
                    {
                        if (ViewBag.Portal.LogoId != "null")
                        {
                            <a href="@ViewBag.Portal?.LandingPage" class="logo"><img alt="" title="" style="max-height:@(bannerHeight)px;" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = ViewBag.Portal.LogoId })" onerror='LogoError(this);' /></a> }
                        else
                        {
                            <a href="@ViewBag.Portal?.LandingPage" class="app-name">@ViewBag.Portal.DisplayName</a>
                        }
                    }

                </div>
            </div>
            <div class="col-md-6 user-menu row no-gutters">
                <div class="logindetail col-12 row no-gutters" style="float:right;margin-right:10px;">
                    <div class="col-1">
                        <div class="notification-div" onclick="openWinNavigateUrl(); return false;">
                            <i class="far fa-bell" style="color:red;font-size:20px;padding-top:5px;padding-left:12px;" id="ImageButton1"></i>
                            <p style="font-size: 10px; text-align: center; margin-top: -3px; color: red;" id="notcount">0</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="user-menu-item context-lng">
                            <span>@ViewBag.LanguageName</span><span class="fa fa-chevron-down d-none user-menu-icon"></span>
                        </div>
                    </div>
                    @if (ViewBag.Portal != null && ViewBag.Portal.EnableLegalEntity)
                    {
                        <div class="col-2">
                            <div class="user-menu-item context-legal">
                                <span>@ViewBag.LegalEntityName</span><span class="fa fa-chevron-down d-none user-menu-icon"></span>
                            </div>
                        </div>
                    }

                    <div class="col-3">
                        <div class="user-menu-item context-portal">
                            <span>@ViewBag.PortalDisplayName</span><span class="fa fa-chevron-down d-none user-menu-icon"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="user-menu-item">
                            @if (_userContext.UserId != _userContext.LoggedInAsByUserId)
                            {
                                <p style="font-size:10px;"> <span>Logged in as </span>@_userContext.Name <br /><span>by </span><span>@_userContext.LoggedInAsByUserName </span></p>

                            }
                            else
                            {
                                <p>@_userContext.Name</p>
                            }
                        </div>
                    </div>
                    <div class="col-1">
                        <div style="float: right;">
                            <img class="user-img rounded-circle float-right user-context-menu" style="padding-top:2px;margin-right:0px;" id="profileImg" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = _userContext.PhotoId })" onerror='OnPhotoError(this);' />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <section id="main-content" class="clear-padding col-sm-12 col-md-12 mx-auto" style="padding-bottom:30px;padding-top:@(bannerHeight)px;">
        @RenderSection("rb", required: false)
        @RenderBody()
        <div id="global-overlay" class="global-overlay">
            <div class="global-overlay-loader">
            </div>
        </div>
    </section>
    @if (footerText.IsNotNullAndNotEmpty())
    {
        <div class="hide-in-popup div-footer text-center" style="padding-top:8px;padding-bottom:10px;">
            <div class="credits">
                <span>@Html.Raw(footerText)</span>
            </div>
        </div>
    }
</section>
<script src="~/Themes/HR/js/theme.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        debugger;
        var wdth =@menuWidth+3;
        let child = document.getElementById("main-menu").childElementCount;
        var actualwidth = child * 300;
        if (actualwidth > screen.width) {
            wdth = screen.width - 50;
        } else {
            wdth = actualwidth;
        }
        //if (wdth > screen.width) {
        //    wdth = screen.width - 50;
        //}
        if (document.getElementById("main-menu") !== null) {
            document.getElementById("main-menu").style.width = wdth + 'px';
        }
    });

</script>