@*@using Kendo.Mvc.UI*@
@model Synergy.App.ViewModel.LoginViewModel
@using Synergy.App.Common
@{
    Layout = "~/Areas/Core/Views/Shared/_LoginReference.cshtml";
}
@*<style>

        body {
            color: #fff !important;
        }

        .modal-content {
            width: 380px !important;
            right: -430px;
            background-color: transparent !important;
            border: none;
            top:90px;
            height:400px;
        }

        .modal-dialog {
            max-width: 880px !important;
            top: 100px;
        }

        .modal-body {
            background-color: transparent !important;
        }

    </style>*@


<style>
    body {
        color: #fff !important;
    }

    .main-bg {
        background: none;
    }

    @@media (min-width: 576px) {
        .main-bg {
            /*height: 700px;*/
            padding: 50px 10px;
        }
    }

    .main-bg {
        /*height: 700px;*/
        padding: 50px 10px;
    }

    .login-body {
        width: 100%;
        /*height: 306px;*/
        margin: 0 auto;
        vertical-align: middle;
    }

    @@media (min-width: 769px) {
        .login-bg {
            background-image: url(../images/login-bg-galfar.png);
            width: 805px;
            height: 392px;
        }
    }

    @@media (max-width: 768px) {
        .login-bg {
            background-color: #223E8F;
            /*width: 805px;*/
            /*height: 392px;*/
        }
    }

    .login-body-form {
        width: 82%;
        height: auto;
        /*padding: 2px;*/
        margin: 106px auto;
    }

    .round-text-box {
        padding: 7px 0 7px 60px;
        margin: 0;
        border: 1px solid #f0ffff;
        border-radius: 50px;
        width: 100%;
        font-size: 16px;
        line-height: 28px;
    }

    .img-email {
        position: absolute;
        top: 6px;
        left: 20px;
    }

    .email-tgap {
        margin: 0;
        padding: 0;
    }

    .pwd-tgap {
        margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
    }

    .form-check-label {
        color: #fff;
    }

    .forgot-pwd {
        font-size: 14px;
        padding: 0;
        margin: 0;
        color: #fff;
        text-align: right;
        float: right;
    }

    .form-check {
        float: left;
    }

    .h5, h5 {
        color: #fff;
        padding: 0 0 8px 0px;
    }

    @@media (max-width: 768px) {
        .sm-hide {
            display: none;
        }
    }

    @@media (min-width: 300px) {
        img {
            width: 100%;
        }
    }

    @@media (max-width: 576px) {
        img {
            width: 100%;
        }
    }

    .user-input {
        width: 100%;
        border-radius: 4px;
        border-color: #ffffff;
        padding: 5px 5px 5px 48px;
    }

    .btn-login {
        width: 100%;
    }

    .ico-user {
        position: absolute;
        top: 0px;
        /*left: 2px;*/
    }
</style>


@*<div id="loginModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-login" style="background-image: url(../images/login-bg-galfar.png);background-repeat:no-repeat;">
            <div class="modal-content">

                <div class="modal-body">
                    <form id="loginform" asp-action="EmailLogin" asp-controller="Account" method="post" asp-area="">
                        <div id="validation-summary"  class="text-white" asp-validation-summary="All" ></div>
                        <h5 class="pb-2" style="color:#F8F8F8;font-weight:400;">User Login</h5>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fa fa-user" style="font-size:20px;padding-top:6px;" id="icon-email"></span>
                            </div>
                            <input asp-for="Email" class="form-control" placeholder="Email" type="text" required="required" aria-describedby="icon-email" />
                        </div>

                        <div class="row pt-2">
                            <div class="col-12">
                                @Html.HiddenFor(x => x.AuthenticateViewName)
                                @Html.HiddenFor(x => x.LoginViewName)
                                @Html.HiddenFor(x => x.PortalId)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input type="submit" class="btn btn-primary btn-block btn-login" value="Login">
                            </div>
                            <div class="col-12 pt-2">
                                <a id="forgot-password" class="float-right" style="color:#F8F8F8;" href="/account/forgotpassword?portalId=@Model.PortalId">Forgot password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

<div class="container main-bg">
    <div class="main-bg">
        <div class="row login-body login-bg">
            <div class="col sm-hide">
                <div class="login-body-form"></div>
            </div>
            <div class="col">
                <div class="login-body-form">
                    <form id="loginform" asp-action="EmailLogin" asp-controller="Account" method="post" asp-area="">
                        <div id="validation-summary" class="text-white" asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col" style="padding: 0;">
                                <h5 style="font-weight:600">User Login</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col email-tgap">
                                <div class="input-group-prepend"></div>
                                <div class="input-group mb-3"><input asp-for="Email" class="user-input" placeholder="Email" type="text" required="required" /><span class="input-group-text ico-user"><i class="fa fa-user" style="font-size: 20px;"></i></span></div>

                            </div>
                        </div>
                        <div class="row">
                            @Html.HiddenFor(x => x.AuthenticateViewName)
                            @Html.HiddenFor(x => x.LoginViewName)
                            @Html.HiddenFor(x => x.PortalId)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <div class="col pwd-tgap text-center"><input type="submit" class="btn btn-primary btn-block btn-login" value="Login"></div>
                        </div>
                        <div class="row">
                            <div class="col pwd-tgap text-center"><a class="forgot-pwd" id="forgot-password" href="/account/forgotpassword?portalId=@Model.PortalId">Forgot password?</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#loginModal').modal('show');
    });
</script>

