@using Synergy.App.Common;
@using Synergy.App.ViewModel
@using Synergy.App.Business
@using Newtonsoft.Json;



@model Synergy.App.ViewModel.PartnerRegistrationViewModel
@{
    ViewData["Title"] = "Partners";
    //Layout = null;
}

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col hb-request-consultation-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h2 class="inn-banner-header-text">Partner Registration Form</h2>
                                <p class="banner-text-sml"><br>Partner Enquiry Form<br><br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <form id="myform" asp-controller="SynergySolutions" asp-action="PartnerRegistrationForm"
              data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST" class="sppb-addon-form-builder-form">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="row row-spacing">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="row">
                                        
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <section class="position-relative">
                                                <div class="container position-relative">
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                            <div class="text-danger"></div>


                                                            <div class="mb-3"><input asp-for="FullName" required class="form-control" type="text" placeholder="Full Name"></div>
                                                            <div class="mb-3"><input asp-for="Email" required class="form-control" type="email" placeholder="Email"></div>
                                                            <div class="mb-3"><input asp-for="DateOfBirth" required class="form-control" type="date"></div>
                                                            <div class="mb-3"><input asp-for="Profession" required class="form-control" type="text" placeholder="Profession"></div>
                                                            <div class="mb-3"></div>
                                                            @*<div class="mb-3">
                <label>Partner Type</label>
                <div class="form-check"><input asp-for="Name" class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Organisation</label></div><input class="form-control" type="text" id="Profession-1" name="name" placeholder="Organisation Name">
            </div>*@                       <div class="mb-3">
    <input class="form-control" asp-for="OrganisationName" type="text" placeholder="Organisation Name"></div>

    <div class="mb-3"><input asp-for="ContactPerson" class="form-control" type="text" placeholder="Contact Person"></div>
    <div class="mb-3"><input asp-for="Designation" required class="form-control" type="text" placeholder="Designation"></div>
    <div class="mb-3"><input asp-for="Gstin" class="form-control" type="text" placeholder="GSTIN"></div>
    <div class="mb-3"><input asp-for="Pan" class="form-control" type="text" placeholder="PAN"></div>
    <div class="mb-3"><input asp-for="Captcha" class="form-control" type="text" placeholder="Captcha"></div>

</div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <section class="position-relative">
                                                <div class="container position-relative">
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                                            <div class="mb-3"><input asp-for="MobileNo" required class="form-control" type="number"  placeholder="Mobile No"></div>
                                                            <div class="mb-3"><input asp-for="LandlineNo" class="form-control" type="number"  placeholder="Landline No"></div>
                                                            <div class="mb-3">
                                                                <label class="Gen-titlel">Gender</label>
                                                                <div>
                                                                    <input id="Gender" type="radio" value="Male" />
                                                                    <label for="Gender">Male</label>
                                                                    <input id="Gender" type="radio" value="Female" />
                                                                    <label for="Gender">Female</label>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3">
                                                                <input type="text" asp-for="CountryId"  class="form-control" />
                                                            </div>
                                                            <div class="mb-3"><input asp-for="PinCode" class="form-control" type="text"  placeholder="Pin Code"></div>
                                                            <div class="mb-3">
                                                                <input type="text" asp-for="StateId"  class="form-control" />
                                                            </div>
                                                            <div class="mb-3"><input asp-for="City" class="form-control" type="text"  placeholder="City"></div>
                                                            <div class="mb-3"><input asp-for="Town" class="form-control" type="text"  placeholder="Town"></div>
                                                            <div class="mb-3"><textarea asp-for="Address" class="form-control" .rows="3" placeholder="Address"></textarea></div>
                                                            <div class="mb-3"><input asp-for="Tan" class="form-control" type="text"  placeholder="TAN"></div>
                                                            <div class="text-left"></div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center"><button class="btn btn-secondary btn-lg text-center" type="submit">Submit</button>
                                                 @*<a class="btn btn-secondary btn-submit" role="button" style="color:white" onclick="onPartnerRegister()">Register</a></div>*@
                </div>
            </div>
            @Html.HiddenFor(m => m.DataAction)
            @Html.HiddenFor(m => m.Json)
        </form>
    </div>
</div>


<script>
    //let more = document.querySelectorAll('.more')
    //for (let i = 0; i < more.length; i++) {
    //    more[i].addEventListener('click', function () {
    //        more[i].parentNode.classList.toggle('active')
    //    })
    //}
    var onAjaxSuccess = function (res) {

        if (res.success) {
            // showNotification("Email Sent Successfully");
            var html = '<span class="sppb-text-success" class="color:white;">Your Partner registration form has been registered successfully.</span>';
            //$(".sppb-ajax-contact-status").html(html);
            //$(".sppb-ajax-contact-status").show();

            $(".text-danger").html(html);
            $(".text-danger").show();
            $("#myform")[0].reset();
        }
        else {
            showError1(res.error);
        }
        HideLoader($('.page-content'));
    };
    var showError1 = function (error) {
        HideLoader($('.page-content'));
        var html = '<span class="sppb-text-danger">' + error + '</span>';
        //$(".sppb-ajax-contact-status").html(html);
        //$(".sppb-ajax-contact-status").show();

        $(".text-danger").html(html);
        $(".text-danger").show();


        //alert(error);

    }
    $(document).ready(function () {
        $("#CountryId").kendoDropDownList({
            dataTextField: "CountryName",
            dataValueField: "Id",
            @*value: '@Model.CountryId',*@
            filter: "contains",
            optionLabel: "--All--",
            change: function (e) {
                $("#StateId").data("kendoDropDownList").dataSource.read({ CountryId: $("#CountryId").data("kendoDropDownList").value() });
            },
            dataSource: {
                transport: {
                    read: {
                        url: "/SynergySolutions/SynergySolutions/GetCountryList",
                    }
                }
            }
        });
        @*$("#CountryId").data("kendoDropDownList").value('@Model.CountryId')*@
        $("#StateId").kendoDropDownList({
            dataTextField: "StateName",
            dataValueField: "Id",
            @*Value:'@Model.StateId',*@
            optionLabel: "--All--",

            filter: "contains",
            autoBind: false,
            //change: function (e) {
            //    $("#City").data("kendoDropDownList").dataSource.read({ stateId: $("#State").data("kendoDropDownList").value() });
            //},
            dataSource: {
                transport: {
                    read: {
                        url: "/SynergySolutions/SynergySolutions/GetStateList",
                    }
                }
            }
        });
         @*$("#StateId").data("kendoDropDownList").value('@Model.StateId')*@

    });
    $(".text-danger").hide();


</script>

