@inject IStringLocalizer<Synergy.App.WebUtility.Resources.Areas.Csc.Controllers.CommonServiceController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using System.Web;
@model TaskViewModel
@{
    ViewBag.Title = "All Task";
    Layout = null;
}
@inject IUserContext usercontext;

<script type="text/javascript">
    function onBack()
    {
        window.location.href = "@ViewBag.SmartCityUrl";
    }
    $(document).ready(function () {

    });


    var isFiltered = false;

    function OpenTask(taskId, tempCode) {

        var id = taskId;
        var source = '@RequestSourceEnum.View.ToString()';
        var action = '@DataActionEnum.View.ToString()';

        var portalId = $('#GlobalPortalId').val();

        var url = '/Cms/Page?lo=Popup&pageType=Task&cbm=IframePostbackScript&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  '@Html.Raw(SharedResource["Task"])', Width: 1200, Height: 600 });
        return false;
    }
    function IframePostbackScript() {
        getService();
        getService1();
    }

    function OnPayment(id, tableId, amount,assigneeUserId) {

        ShowLoader($('#container'));
        var returnUrl = "/Portal/CSC/MyPayments/";
        $.ajax({
            type: "POST",
            url: "/CSC/CommonService/OnlinePayment",
            data: { 'ntsId': id, 'noteTableId': tableId, 'amount': amount, 'ntsType': '@NtsTypeEnum.Task', 'assigneeUserId': assigneeUserId, 'returnUrl': returnUrl },
            success: function (res) {

                if (res.success) {
                    if (res.requestURL === null || res.requestURL === '' || res.requestURL === undefined) {
                        HideLoader($('#container'));
                        alert('Payment gateway not found');
                        return false;
                    }
                    else {
                        window.top.location.href = res.requestURL;
                    }
                } else {
                    ShowNotification(res.error, "error");
                    HideLoader($('#container'));
                }
            },
            dataType: "json",
        });
    }

    var gId, gTableId, gAmount, gAssigneeUserId;
    function OnPaymentClick(id, tableId, amount, assigneeUserId) {
        gId = id;
        gTableId = tableId;
        gAmount = amount;
        gAssigneeUserId = assigneeUserId;
        $('#payConfirmModal').modal('show');
    }

    function OnPaymentConfirm() {
        $('.payment-body').html('Please wait while we are redirecting to payment gateway...');
         OnPayment(gId, gTableId, gAmount, gAssigneeUserId);
         return false;
    }

</script>

<style>
    .dropdown-toggle::after {
        content: none;
    }

    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .leftmenustyle {
        font-size: 14px;
        color: #4b4f56;
        margin-bottom: 6px;
        font-weight: normal;
        margin-top: 6px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .col-1 {
        flex: none !important;
    }
    /* The hero image */
    .head-image {
        object-fit: fill;
    }

    /* Place text in the middle of the image */
    .head-text {
        text-align: left;
        position: absolute;
        top: 28%;
        color: white;
    }

    .head-img {
        max-width: 100%;
        max-height: 149px;
        width: 100%;
        object-fit: none;
    }

    .main {
        margin-top: 1%;
        text-align: right;
    }

    /* Bootstrap 4 text input with search icon */

    .has-search .form-control {
        padding-left: 2.375rem;
        /*width: 100%;*/
    }

    .form-group {
        width: 40%;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .task-card {
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: 1%;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 98%;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eee;
        min-height: 160px;
    }

    .sub-div {
        overflow-y: scroll;
        height: 260px;
        overflow-x: hidden;
    }

    .card-heading {
        margin-left: 1%;
        font-weight: bold;
        margin-top: 12px;
    }

    .item-hover:hover {
        background-color: #d3d3d340;
        cursor: pointer !important;
    }

    .no-data {
        text-align: center;
        margin-top: 5%;
        font-size: 16px;
        font-weight: 500;
        display: none;
    }

    .no-data-icon {
        color: #c8aa4d;
        font-size: 40px;
    }

    .k-dropdown:hover {
        transform: none !important;
    }

    .k-select:hover {
        transform: none !important;
    }

    .k-input:hover {
        transform: none !important;
    }

    .k-state-hover :hover {
        transform: none !important;
    }

    span:hover {
        transform: none !important;
    }

    .k-link:hover {
        transform: none !important;
    }

    h6:hover {
        transform: none !important;
    }

    .form-control:hover {
        transform: none !important;
    }

    input:hover {
        transform: none !important;
    }

    .task-title {
        padding: 10px;
        background-color: #1c4893;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin-left: 0px;
        margin-right: 10px;
    }
</style>


<div class="row main">
    <div class="col-sm-6 form-group" style="text-align:left;">
        @*<input type="button" value="Return To Home Page" onclick="onBack()" class="btn btn-link" />*@
    </div>
    <!-- Actual search box -->
    @*<div class="col-sm-6 form-group has-search pull-right">
            <span class="fa fa-search form-control-feedback"></span>
            <input id="mysearch" type="text" class="form-control" placeholder="Search by task subject or number">
        </div>*@

</div>

<div class="row pad-10 no-gutters page-content">
    <div class="container" style="padding:0px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item"><a data-toggle="tab" href="#pendingPayments" class="nav-link active" role="tab" aria-controls="pendingPayments" aria-selected="true" onclick="onCustomerList()"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />@Resource["PENDING PAYMENTS"]</a></li>
            <li class="nav-item" id="contactTab"><a data-toggle="tab" href="#completedPayments" class="nav-link" aria-controls="completedPayments" aria-selected="false"><i class="fab fa-css3" style="margin-left:3px;"></i><br />@Resource["COMPLETED PAYMENTS"]</a></li>
        </ul>
        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="pendingPayments" class="tab-pane  in active task-card" role="tabpanel" aria-labelledby="design-tab">

                <div style="background-color:#efefef!important">
                    <div class="row" style="height: 50px;">
                        <div class="col-md-11">
                            <div class="row" style="float: left; margin-left: 15px; margin-top: 8px;">
                                <div class="col-xs-2">
                                    <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>
                                </div>
                                <div class="col-xs-2" id="inprogress">
                                    <h5 class="card-heading" style="color:black;margin-top: 9px;margin-left:10px;">@Resource["PENDING PAYMENTS"]&nbsp;<span class="label label-warning" id="inprogress-task"></span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12" style="padding:15px;">
                    <div id="myGridService" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                </div>

                <div class="modal fade" id="payConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel">@Resource["Ready To Pay?"]</h6>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body payment-body">@Resource["Are you sure you want to proceed to payment gateway to pay the amount?"]</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">@SharedResource["Cancel"]</button>
                                <button class="btn btn-primary" onclick="return OnPaymentConfirm();">@Resource["Proceed To Pay"]</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="completedPayments" class="tab-pane task-card" role="tabpanel" aria-labelledby="pageCss-tab">

                <div style="background-color:#efefef!important">
                    <div class="row" style="height: 50px;">
                        <div class="row" style="float: left; margin-left: 30px; margin-top: 8px;">
                            <div class="col-xs-2">
                                <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>
                            </div>
                            <div class="col-xs-2" id="completedtask">
                                <h5 class="card-heading" style="color:black;margin-top: 9px;margin-left:10px;">@Resource["COMPLETED PAYMENTS"]&nbsp; <span class="label label-danger" id="complete-task"></span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12" style="padding:15px;">
                    <div id="myGridService1" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                </div>

            </div>

        </div>
    </div>
</div>


@*<div class="task-card" id="pendingPayments">
        <div style="background-color:#efefef!important">
            <div class="row" style="height: 50px;">
                <div class="col-md-11">
                    <div class="row" style="float: left; margin-left: 15px; margin-top: 8px;">
                        <div class="col-xs-2">
                            <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>
                        </div>
                        <div class="col-xs-2" id="inprogress">
                            <h5 class="card-heading" style="color:black;margin-top: 9px;margin-left:10px;">Pending Payments&nbsp;<span class="label label-warning" id="inprogress-task"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" style="padding:15px;">
            <div id="myGridService" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>

        <div class="modal fade" id="payConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel">Ready To Pay?</h6>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body payment-body">Are you sure you want to proceed to payment gateway to pay the amount?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" onclick="return OnPaymentConfirm();">Proceed To Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="task-card" id="completedPayments">
        <div style="background-color:#efefef!important">
            <div class="row" style="height: 50px;">
                <div class="row" style="float: left; margin-left: 30px; margin-top: 8px;">
                    <div class="col-xs-2">
                        <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>
                    </div>
                    <div class="col-xs-2" id="completedtask">
                        <h5 class="card-heading" style="color:black;margin-top: 9px;margin-left:10px;">Completed Payments&nbsp; <span class="label label-danger" id="complete-task"></span></h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" style="padding:15px;">
            <div id="myGridService1" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>*@


<script>

        var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
        var statusObj = JSON.parse(status);

        var columnDefs = [
            {
                field: "Id", headerName: "", minWidth: 100,
                cellRenderer: params => {
                    if (params.data.PaymentStatusCode == "ERROR_" || params.data.PaymentStatusCode == "NOT_PAID" || params.data.PaymentStatusCode == null) {
                    //return "<a style='cursor:pointer;color:blue;' href='javascript:OpenService(\"" + params.data.Id + "\",\"" + params.data.TemplateMasterCode + "\");'>Pay</a>";
                    return "<button class='btn btn-primary' onclick='OnPaymentClick(\"" + params.data.Id + "\",\"" + params.data.UdfNoteTableId + "\",\"" + params.data.ServiceCost + "\",\"" + params.data.AssignedToUserId + "\");'>@Html.Raw(Resource["Pay"]) </button>";
                    }
                    return "";
                    //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"
                }
                },
        {
            field: "TaskSubject", minWidth: 220, headerName: "@Html.Raw(SharedResource["TaskSubject"])",
            cellRenderer: params => {

                return "<a style='cursor:pointer;color:blue;' href='javascript:OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\");'>" + params.value + " </a>";
                //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"

            }
        },
            { field: "OwnerUserName", minWidth: 150, headerName: "@Html.Raw(SharedResource["OwnerName"])" },
            { field: "ServiceNo", headerName: "@Html.Raw(SharedResource["ServiceNo"])", minWidth: 150 },
        //{ field: "NoteNo", headerName: "Consumer No", minWidth: 150 },
        {
            field: "DueDate", headerName: "@Html.Raw(SharedResource["DueDate"])", minWidth: 150,
            cellRenderer: params => {

                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },
            { field: "ServiceCost", headerName: "@Html.Raw(SharedResource["Bill Amount"])", minWidth: 150},
            { field: "ReferenceNumber", headerName: "@Html.Raw(SharedResource["Reference No"])", minWidth: 150 },
            {
                field: "PaymentStatus", headerName: "@Html.Raw(SharedResource["Payment Status"])", minWidth: 100,
                cellRenderer: params => {

                    if (params.data.PaymentStatusCode == "SUCCESS") {
                        //return "<a style='cursor:pointer;color:blue;' href='javascript:OpenService(\"" + params.data.Id + "\",\"" + params.data.TemplateMasterCode + "\");'>Pay</a>";
                        return "<span style='color:green'>" + params.value + " </span>";
                    }
                    else if (params.data.PaymentStatusCode == "ERROR_") {
                        return "<span style='color:red'>" + params.value + " </span>";
                    }

                    else {
                        return "<span style='color:highlight'> </span>";
                    }
                    //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"
                }
            },
        ];


    $(function () {

         getService();
         getService1();

    });

    function getService() {
        document.getElementById("myGridService").innerHTML = "";
        @*var url = "/EGov/EGovernment/ReadTaskDataInProgress?portalNames=" + '@ViewBag.PortalNames';*@

        gridConfig(
            "myGridService",
            "/CSC/CommonService/ReadCSCTaskDataInProgress?portalNames=" + '@ViewBag.PortalNames' ,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
        }

    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

        var columnDefs1 = [
        {
                field: "TaskSubject", minWidth: 220, headerName: "@Html.Raw(SharedResource["TaskSubject"])",
            cellRenderer: params => {

                return "<a style='cursor:pointer;color:blue;' href='javascript:OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\");'>" + params.value + " </a>";
                //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"

            }
        },
            { field: "OwnerUserName", minWidth: 150, headerName: "@Html.Raw(SharedResource["OwnerName"])" },
            { field: "ServiceNo", headerName: "@Html.Raw(SharedResource["ServiceNo"])", minWidth: 150 },
        //{ field: "NoteNo", headerName: "Consumer No", minWidth: 150 },
        {
            field: "DueDate", headerName: "@Html.Raw(SharedResource["DueDate"])", minWidth: 150,
            cellRenderer: params => {
                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },
            { field: "ServiceCost", headerName: "@Html.Raw(SharedResource["Bill Amount"])", minWidth: 150},

            { field: "ReferenceNumber", headerName: "@Html.Raw(SharedResource["Reference No"])", minWidth: 150},
            //{ field: "PaymentStatus", headerName: "Payment Status", minWidth: 150 },
            {
                field: "PaymentStatus", headerName: "@Html.Raw(SharedResource["Payment Status"])", minWidth: 100,
                cellRenderer: params => {

                    if (params.data.PaymentStatusCode == "SUCCESS") {
                        //return "<a style='cursor:pointer;color:blue;' href='javascript:OpenService(\"" + params.data.Id + "\",\"" + params.data.TemplateMasterCode + "\");'>Pay</a>";
                        return "<span style='color:green'>" + params.value + " </span>";
                    }
                    else if (params.data.PaymentStatusCode == "ERROR_") {
                        return "<span style='color:red'>" + params.value + " </span>";
                    }
                    else {
                        return "<span style='color:highlight'> </span>";
                    }
                    //"<a target='_self' class='hover' style='cursor:pointer' onclick=\"OnEdit('# =ServiceId#')\">#=ServiceNo#</a>"
                }
            },
        ];

    function getService1() {
        document.getElementById("myGridService1").innerHTML = "";
        @*var url = "/EGov/EGovernment/ReadTaskDataInProgress?portalNames=" + '@ViewBag.PortalNames';*@

        gridConfig(
            "myGridService1",
            "/CSC/CommonService/ReadCSCTaskDataCompleted?portalNames=" + '@ViewBag.PortalNames' ,
            columnDefs1,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

</script>

