@inject IStringLocalizer<CMS.UI.Web.Areas.TAA.Controllers.RosterScheduleController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{

    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model RosterScheduleViewModel




<div id="appWrapper">
    <form asp-area="Taa" asp-controller="RosterSchedule" asp-action="CopyRoster" class="form-horizontal"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
        <div class="row hr-pad-top-15">
            <div class="form-group col-xs-12 col-md-6">
                <div class="col-lg-3 label-div">
                    <span class="required">*</span>
                    @Resource["WeekDisplayName"]
                </div>
                <div class="col-lg-9">

                    @*@(Html.Kendo().MultiSelectFor(x => x.CopyToWeeks)
                                                    .AutoClose(false)
                                                    .Placeholder(@Resource["SelectWeeks..."])
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetWeeks", "RosterSchedule", new { date = Model.RosterDate });
                                                        });

                                                    })
                                                    .DataTextField("Name")
                                                    .DataValueField("Code")
                                                    .AutoBind(true)
                                                    .HtmlAttributes(new { @class = "hr-xx-large" })
                                                    .ValuePrimitive(true)
                                                    .Height(300)
                        )*@
                    <select asp-for="CopyToWeeks" id="CopyToWeeks" style="width:80%"></select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <div class="col-lg-3 label-div">
                    &nbsp;
                </div>
                <div class="col-lg-9">
                    @*@Html.Kendo().CheckBoxFor(m => m.PublishWhileCopying).HtmlAttributes(new { @class = "hr-xx-large" }).Label("Save as Published")*@
                    @Html.RadioButtonFor(g => g.PublishWhileCopying, false)&nbsp;@Resource["SaveasDraft"]&nbsp;&nbsp;
                    @Html.RadioButtonFor(g => g.PublishWhileCopying, true)&nbsp;@Resource["SaveasPublished"]
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <div class="col-lg-3 label-div">
                    * @SharedResource["Requiredfields"]
                </div>
                <div class="col-lg-9">
                    &nbsp;
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6" style="text-align:right">
                <div class="col-lg-3">
                    &nbsp;
                </div>
                <div class="col-lg-9">
                    @*@Html.Kendo().Button().Name("btnCancel").Content(@SharedResource["Cancel"]).Icon("cancel").Events(x => x.Click("OnCancel")).HtmlAttributes(new { @type = "button" })*@
                    <button type="button" id="btnCancel" onclick="OnCancel();" class="btn btn-light">@SharedResource["Cancel"]</button>
                    @*@Html.Kendo().Button().Name("btnSubmit").Content(@SharedResource["Save"]).Icon("check-outline").HtmlAttributes(new { @class = "k-primary", @onclick = "return OnSubmit();" })*@
                    <button type="button" id="btnSubmit" class="btn btn-primary" onclick="return OnSubmit();">@SharedResource["Save"]</button>
                </div>
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.OrganizationId)
        @Html.HiddenFor(x => x.UserIds)
        @Html.HiddenFor(x => x.RosterDates)
        @Html.HiddenFor(x => x.RosterDate)
        @Html.HiddenFor(x => x.Duty1Enabled)
        @Html.HiddenFor(x => x.Duty2Enabled)
        @Html.HiddenFor(x => x.Duty3Enabled)
        @Html.HiddenFor(x => x.IsAttendanceCalculated)
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#CopyToWeeks").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Code",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/RosterSchedule/GetWeeks?date=@Model.RosterDate",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select Week...",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.CopyToWeeks)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });


    });
    function OnCancel(e) {

        win = GetMainWindow();
        win.CloseWindow();
    }

    function Close(e) {

        win = GetMainWindow();
        win.CloseWindow({ MethodName: "OnAfterCreate" });
    }

    function onAjaxSuccess(response) {
        if (response.success) {

            Close();
        }
        else {
            ShowErrors(response.errors);
        }
    }

    function OnWeekChange(date, action) {
        if (action == 'P' && '@ViewBag.EnablePrevious' == 'False') {
            alert('You can select only current and upcoming week');
            return;
        }
        var orgId = $("#OrganizationId").val();
        if (orgId == '') {
            orgId = 0;
        }
        var dates = $("#RosterDates").val();
        var users = $("#UserIds").val();
        var url = "/taa/rosterschedule/copyroster?orgId=" + orgId + "&users=" + users + "&dates=" + dates + "&date=" + date;

        window.location.href = url;
        return false;
    }


    function OnSubmit(e) {
        return confirm('This will overwrite existing roster schedule for selected week. Are you sure you want to continue?');
    }

    function ShowErrors(err) {
        $(".hr-v-summary").removeClass("validation-summary-valid");
        $(".hr-v-summary").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $(".hr-v-summary ul").html(msg);
    }

</script>
