@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using Newtonsoft.Json;

@using Synergy.App.ViewModel
@using Synergy.App.Business
@{
    ViewData["Title"] = "Company";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model Synergy.App.ViewModel.CompanyViewModel



<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .row {
        margin-right: 0px;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-myheaderimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }

    .style-myfooterimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }
</style>

<div class="row-12" style="margin-left:15px;">

    <form asp-controller="Company" asp-action="Manage" method="post" class="form-horizontal" id="myForm">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="Name">Name <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmtpHost" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="SmtpHost">SmtpHost <span class="required">*</span></label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="NameLocal" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="NameLocal">NameLocal </label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmtpPort" type="number" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="SmtpPort">SmtpPort <span class="required">*</span></label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="Code" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="Code">Code <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmtpFromId" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="SmtpFromId">SmtpFromId <span class="required">*</span></label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="Address" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="Address">Address <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmtpUserId" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="SmtpUserId">SmtpUserId <span class="required">*</span></label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="Phone" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="Phone">Phone <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmtpPassword" type="password" class="form-control" placeholder="Enter Name" value="@Model.SmtpPassword" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="SmtpPassword">SmtpPassword <span class="required">*</span></label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="Email">Email <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmtpSenderName" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="SmtpSenderName">SmtpSenderName <span class="required">*</span></label>
                </div>
            </div>

        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="Fax" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="Fax">Fax <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmsGateway" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="SmsGateway">SmsGateway </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="PrimaryContactPerson" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="PrimaryContactPerson">PrimaryContactPerson<span class="required">*</span> </label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmsUserId" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="SmsUserId">SmsUserId </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="PrimaryContactEmail" type="email" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="PrimaryContactEmail">PrimaryContactEmail <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmsPassword" type="password" class="form-control" placeholder="Enter Name" value="@Model.SmsPassword" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="SmsPassword">SmsPassword </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SecondaryContactPerson" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="SecondaryContactPerson">SecondaryContactPerson </label>
                </div>
            </div>

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmsSenderName" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="SmsSenderName">SmsSenderName </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SecondaryContactEmail" type="email" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="SecondaryContactEmail">SecondaryContactEmail </label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="CurrencyName" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="CurrencyName">CurrencyName </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="PrimaryContactMobile" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="PrimaryContactMobile">PrimaryContactMobile</label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="LicenseKey" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="LicenseKey">LicenseKey </label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="PrimaryContactPhone" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="PrimaryContactPhone">PrimaryContactPhone </label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SecondaryContactMobile" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="SecondaryContactMobile">SecondaryContactMobile </label>
                </div>
            </div>

        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="SecondaryContactPhone" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="SecondaryContactPhone">SecondaryContactPhone </label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="ContactPerson" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="ContactPerson">ContactPerson </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="CultureInfo" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="CultureInfo">CultureInfo </label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="ContactPersonEmail" type="email" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="ContactPersonEmail">ContactPersonEmail </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="DateFormat" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="DateFormat">DateFormat </label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="ContactPersonMobile" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="ContactPersonMobile">ContactPersonMobile </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="DateTimeFormat" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="DateTimeFormat">DateTimeFormat </label>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="TimeZone" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="TimeZone">TimeZone </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="CurrencySymbol" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="CurrencySymbol">CurrencySymbol </label>
                </div>
            </div>

            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <input asp-for="DefaultEmailTemplate" type="text" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." autocomplete="off" style="width:100%" />
                    <label for="DefaultEmailTemplate">DefaultEmailTemplate </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">


            <div class="col-6 pad-10">
                <div class="form-label-group">
                    @*<input asp-for="SendCompanyWelcome" type="checkbox" class="form-control" placeholder="Enter Name" title="Special character and space not allowed." required="required" autocomplete="off" style="width:100%" />
                    <label for="SendCompanyWelcome">SendCompanyWelcome <span class="required">*</span></label>*@
                    @*@(Html.Kendo().CheckBoxFor(x=>x.SendCompanyWelcome).Label("SendCompanyWelcome"))*@
                    <div>
                        <input type="checkbox" id="SendComWelcome" />
                        <label>Send Company Welcome</label>
                    </div>
                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="qualification">Country </label>
                    </div>
                    @*@(Html.Kendo().DropDownListFor(x=>x.CountryId)
                                .DataTextField("Name")
                                .DataValueField("Id")
                                 .Filter(FilterType.Contains)
                                //.Events(e => e.Change("OnPageTypechange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetIdNameList", "Master", new { @area = "Recruitment", @type = "Country" });
                                    });
                                })
                                //.Value()
                                .OptionLabel("--Select--")
                                .HtmlAttributes(new { @class="form-control", style = "width: 100%" })
                    )*@
                    <input asp-for="CountryId" id="CountryId" class="form-control" style="width: 100%;" />

                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="col-12">Portal Logo</div>
                <div class="col-12 pad-15" style="min-height:130px;">
                    @*<div class="style-image">
                        @if (Model.LogoFileId != null)
                        {
                            <img class="style-mylogoimage" src="/cms/Document/GetImageMongo?id=@Model.LogoFileId" onerror='OnPhotoError(this);' />
                        }
                        else
                        {
                            <img class="style-mylogoimage" style="background-color:gray;" src="/images/200.png" />
                        }

                    </div>&nbsp;&nbsp;*@
                    <div @*class="style-upload"*@>
                        @*@(Html.Kendo().Upload().Multiple(false)
                            .Name("files")
                            .Async(a => a
                            .Save("SaveFile", "Document", new { @Area = "Cms" })
                            //.Remove("")
                            .AutoUpload(true)
                            )
                            .Events(e => e.Success("onFileUploadSuccessLogo")
                            )
                                .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                                //.MaxFileSize(2097152)
                                )
                                .HtmlAttributes(new { @class = "hr-large" })
                        )*@

                        @*<div class="row">
        <div class="col">
            <div id="iconFile" class="dm-uploader">
                <h6 class=" text-muted">Drag &amp; drop files here</h6>

                <div class="btn btn-primary btn-block ">
                    <span>Open the file Browser</span>
                    <input type="file" title='Click to add Files' />
                </div>
            </div>

        </div>*@
                        @*if multiple use this*@

                        @*<div class="col">
            <div class="card h-100">
                <div class="card-header">
                    File List
                </div>
                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                    <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                </ul>
            </div>
        </div>*@
                        @*if multiple use this*@
                        @*</div>
        &nbsp;&nbsp; <button type="button" class="btn btn-light" title="Delete logo" onclick="onLogoDel();"><i class='fa fas fa-trash'></i></button>*@

                        @{
                            await Html.RenderPartialAsync("~/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.LogoFileId), Value = Model.LogoFileId });
                        }
                    </div>

                </div>
            </div>


        </div>
        <div class="row" style="padding:10px;">

            <div class="col-6 pad-10">
                <div class="col-12">Letter Header</div>
                <div class="col-12 pad-15" style="min-height:130px;">
                    @*<div class="style-image">
                        @if (Model.LetterHeaderId != null)
                        {
                            <img class="style-myheaderimage" src="/cms/Document/GetImageMongo?id=@Model.LetterHeaderId" onerror='OnPhotoError(this);' />
                        }
                        else
                        {
                            <img class="style-myheaderimage" style="background-color:gray;" src="/images/200.png" />
                        }

                    </div>&nbsp;&nbsp;*@
                    <div @*class="style-upload"*@>
                        @*@(Html.Kendo().Upload().Multiple(false)
                            .Name("files")
                            .Async(a => a
                            .Save("SaveFile", "Document", new { @Area = "Cms" })
                            //.Remove("")
                            .AutoUpload(true)
                            )
                            .Events(e => e.Success("onFileUploadSuccessHeader")
                            )
                                .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                                //.MaxFileSize(2097152)
                                )
                                .HtmlAttributes(new { @class = "hr-large", @id = "fileHeader" })
                        )*@

                        @*<div class="row">
        <div class="col">
            <div id="headericonFile" class="dm-uploader">
                <h6 class=" text-muted">Drag &amp; drop files here</h6>

                <div class="btn btn-primary btn-block ">
                    <span>Open the file Browser</span>
                    <input type="file" title='Click to add Files' />
                </div>
            </div>

        </div>*@
                        @*if multiple use this*@

                        @*<div class="col">
            <div class="card h-100">
                <div class="card-header">
                    File List
                </div>
                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                    <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                </ul>
            </div>
        </div>*@
                        @*if multiple use this*@
                        @*</div>
        &nbsp;&nbsp; <button type="button" class="btn btn-light" title="Delete logo" onclick="onHeaderDel();"><i class='fa fas fa-trash'></i></button>*@

                        @{
                            await Html.RenderPartialAsync("~/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.LetterHeaderId), Value = Model.LetterHeaderId });
                        }
                    </div>

                </div>
            </div>
            <div class="col-6 pad-10">
                <div class="col-12">Letter Footer</div>
                <div class="col-12 pad-15" style="min-height:130px;">
                    @*<div class="style-image">
                        @if (Model.LetterFooterId != null)
                        {
                            <img class="style-myfooterimage" src="/cms/Document/GetImageMongo?id=@Model.LetterFooterId" onerror='OnPhotoError(this);' />
                        }
                        else
                        {
                            <img class="style-myfooterimage" style="background-color:gray;" src="/images/200.png" />
                        }

                    </div>&nbsp;&nbsp;*@
                    <div @*class="style-upload"*@>
                        @*@(Html.Kendo().Upload().Multiple(false)
                            .Name("files")
                            .Async(a => a
                            .Save("SaveFile", "Document", new { @Area = "Cms" })
                            //.Remove("")
                            .AutoUpload(true)
                            )
                            .Events(e => e.Success("onFileUploadSuccessFooter")
                            )
                                .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                                //.MaxFileSize(2097152)
                                )
                                .HtmlAttributes(new { @class = "hr-large", @id = "fileFooter" })
                        )*@

                        @*<div class="row">
        <div class="col">
            <div id="footericonFile" class="dm-uploader">
                <h6 class=" text-muted">Drag &amp; drop files here</h6>

                <div class="btn btn-primary btn-block ">
                    <span>Open the file Browser</span>
                    <input type="file" title='Click to add Files' />
                </div>
            </div>

        </div>*@
                        @*if multiple use this*@

                        @*<div class="col">
            <div class="card h-100">
                <div class="card-header">
                    File List
                </div>
                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                    <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                </ul>
            </div>
        </div>*@
                        @*if multiple use this*@
                        @*</div>

        &nbsp;&nbsp; <button type="button" class="btn btn-light" title="Delete logo" onclick="onFooterDel();"><i class='fa fas fa-trash'></i></button>*@


                        @{
                            await Html.RenderPartialAsync("~/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.LetterFooterId), Value = Model.LetterFooterId });
                        }
                    </div>

                </div>
            </div>



        </div>
        <div class="row" style="padding:10px;">
            <div class="col-6 pad-10">
                <label>Licensed Portals</label>
                <br />

                <select asp-for="LicensedPortalIds" id="Portal" data-placeholder="--Select Licensed PortalIds--" style="width:100%"></select>
            </div>
        </div>
        <div class="col-12" style="text-align:right" ;>
            <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
            <input type="submit" class="btn btn-primary" value="Save" id="submitBtn" onclick="OnSave();" />
        </div>


        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.LogoFileId)
        @Html.HiddenFor(x => x.LetterHeaderId)
        @Html.HiddenFor(x => x.LetterFooterId)
        @Html.HiddenFor(x => x.SendCompanyWelcome)
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#CountryId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
		    value: "@Model.CountryId",
            filter: "contains",
            dataSource: {
               transport: {
                   read: {
                       url: "/Recruitment/Master/GetIdNameList?type=Country",
                   }
               }
            }
        });
        $("#Portal").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/PortalAdmin/Company/GetPortals",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select Portal...",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.LicensedPortalIds)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });

        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            window.parent.getDataCompany();
            //window.parent.$("#Companygrid").data("kendoGrid").dataSource.read();
        }

        if ('@Model.SendCompanyWelcome' == 'True') {
            $('#SendComWelcome').prop('checked', true);
        }
        else {
            $('#SendComWelcome').prop('checked', false);
        }

        //uploadFile();
        //headeruploadFile();
        //footeruploadFile();

    });

    function uploadFile() {
        $("#iconFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-mylogoimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#LogoFileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

    function headeruploadFile() {
        $("#headericonFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-myfooterimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#LetterFooterId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

     function footeruploadFile() {
        $("#headericonFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-myheaderimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
                $("#LetterHeaderId").val(e.response.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }


    function OnSave() {
        $('#SendCompanyWelcome').val($('#SendComWelcome').is(":checked"));
    }

    function closeNavMemberGroup() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function onFileUploadSuccessLogo(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-mylogoimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#LogoFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }
    function onLogoDel() {

        //        alert("Banner Delete");
        $(".style-mylogoimage").attr("src", "/images/200.png");
        $("#LogoId").val('');
        //var logoupload = $("#files").data("kendoUpload");
        ////console.log(logoupload);
        //logoupload.clearFile(function (file) { return true; });
        $("#iconFile").dmUploader("reset");

    }
    function onFileUploadSuccessHeader(e) {
        if (e.response.success) {
            $(".style-myheaderimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#LetterHeaderId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }
    function onHeaderDel() {
        $(".style-myheaderimage").attr("src", "/images/200.png");
        $("#LetterHeaderId").val('');
        //var headerupload = $("#fileHeader").data("kendoUpload");
        //headerupload.clearFile(function (file) { return true; });
        $("#headericonFile").dmUploader("reset");
    }
    function onFileUploadSuccessFooter(e) {
        if (e.response.success) {
            $(".style-myfooterimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#LetterFooterId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }
    function onFooterDel() {
        $(".style-myfooterimage").attr("src", "/images/200.png");
        $("#LetterFooterId").val('');
        //var footerupload = $("#fileFooter").data("kendoUpload");
        //footerupload.clearFile(function (file) { return true; });
        $("#footericonFile").dmUploader("reset");

    }

</script>