@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;
@{
    Layout = null;
}
@model List<PortalViewModel>
@inject IUserContext _userContext;

<style>
    .divbtn {
        padding: 15px;
        padding-top: 0px;
    }
</style>

<script>
    $(document).ready(function () {

    });

    function CreateMenuGroup(type) {
        //alert("Create Menu Group");
        url = "/Cms/MenuGroup/CreateMenuGroup";// + "&layout=Popup";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage Menu Group', Width: 600, Height: 750 });
    }
    function CreatePageTemplate(portalid, menugroupid) {
        debugger;
        //alert("Add Page");
        url = "/cms/Content/CreatePage?parentId=" + portalid + "&portalId=" + portalid + "&menugroupId=" + menugroupid +"&isPopup=true&cbm=onPagePopupClose";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Add Page', Width: 1200, Height: 750 });
    }

    function OpenPageTemplate(pageid) {
        //alert("Open Page");
        url = "/Cms/Content/EditPage?pageId=" + pageid + "&isPopup=true";// + "&layout=Popup";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage Page', Width: 1200, Height: 750 });
    }

    function EditMenuGroup(menugroupId) {
        //alert("Edit Menu Group");
        url = "/Cms/MenuGroup/EditMenuGroup?Id=" + menugroupId;// + "&layout=Popup";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage Menu Group', Width: 600, Height: 750 });
    }

    function OnCreatePortal() {
        url = "/cms/Content/CreatePortal?userId=@ViewBag.UserId&cbm=OnAfterCreatePortal";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Create Portal', Width: 450, Height: 750 });
    }

    function OnAfterCreatePortal() {
        debugger;
        window.location.href = window.location.href;
    }

    function LaunchPortal(portalName) {
        window.open('/Portal/' + portalName, '_blank');
    }
    //MenuGroup
    @*var dataSourceMG = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/ReadTemplatesList?portalId=@ViewBag.PortalId&templateType=@TemplateTypeEnum.Service",
                dataType: "json",
            }
        },
    });*@

    //$("#menuGroupView").kendoListView({
    //    dataSource: {
    //        transport: {
    //            read: {
    //                url: "/PortalAdmin/Portal/ReadMenuGroupPageList?portalId=bb3a8c94-d11f-454a-b72c-204167e78dcd",
    //                dataType: "json",
    //            }
    //        },
    //    },
    //    template: kendo.template($("#menugrouptemplate").html())
    //});
    //$("#menuGroupView").children('.k-listview-content').addClass("row m-1");
    //$("#menuGroupView").children('.k-listview-content').removeClass("k-listview-content");

    function getMenuGroupData() {
        //alert("Menu Group");
        window.location.href = window.location.href;
    }

    function onPagePopupClose() {
        debugger;
        window.location.href = window.location.href;
    }
</script>

<script id="menugrouptemplate" type="text/kendo-ui-template">
        <div class="col-lg-4 col-md-6 card-div">
        <div class="card pl-0 pr-0 card-class">
            <div class="card-header text-center">#:MenuGroupName#</div>
            <div class="card-body" style="height:200px;overflow-y:auto;">
             # for (var i = 0; i < PagesList.length; i++) { #
                <div class="row">
                    <div class="col-9">
                        <a href="javascript:OpenPageTemplate('#:PagesList[i].Id#');">#=PagesList[i].Title#</a>
                    </div>
                    <div class="col-3">
                        <div class="dropdown" style="float:right;">
                            <button type="button" class="btn btn-icon btn-light" data-toggle="dropdown" aria-expanded="false">
                             <i class="fa fa-ellipsis-v"></i>
                            </button>
                        <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-arrow"></div>
                            <a href="javascript:OpenPageTemplate('#:PagesList[i].Id#');" class="dropdown-item">View Page</a>
                        </div>
                        </div>
                    </div>
                </div>
            # } #
            </div>
            <div class="card-footer">
                #if('@ViewBag.CanCreateTemplate' == 'True'){#
                    <a href="javascript:CreatePageTemplate('#:PortalId#','#:MenuGroupId#');" class="card-footer-item card-footer-item-bordered" title="Add New Page">Add Page</a>
                #}#

                <a href="javascript:EditMenuGroup('#:MenuGroupId#');" class="card-footer-item card-footer-item-bordered" title="Edit Menu Group">Edit Menu Group</a>

            </div>
        </div>
    </div>
</script>
@if (ViewBag.CanCreatePortal)
{
    <div class="row-12" style="padding:10px;">
        <button class="btn btn-primary" onclick="OnCreatePortal();">Create Portal</button>
    </div>
}
<div class="card card-fluid">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            @if (Model.Count > 0)
            {
                var j = 0;
                @foreach (var p in Model)
                {
                    j = j + 1;
                    if (j == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#@p.Name">@p.DisplayName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#@p.Name">@p.DisplayName</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
    <div class="card-body">
        <div id="myTabContent" class="tab-content">
            @if (Model.Count > 0)
            {
                var i = 0;
                @foreach (var q in Model)
                {
                    i = i + 1;
                    if (i == 1)
                    {
            <div class="tab-pane fade active show" id="@q.Name">
                <div class="row-12 divbtn">
                    @if (ViewBag.CanCreateTemplate)
                    {
                        <button class="btn btn-primary" onclick="CreateMenuGroup('Page');">Create Menu Group</button>
                    }                    
                    <button class="btn btn-primary" onclick="LaunchPortal('@q.Name');">Launch Portal</button>
                </div>
               
                <div id="menuGroupView_@q.Id" class="row no-border"></div>
            </div>
                    }
                    else
                    {
        <div class="tab-pane fade" id="@q.Name">
            <div class="row-12 divbtn">
                @if (ViewBag.CanCreateTemplate)
                {
                    <button class="btn btn-primary" onclick="CreateMenuGroup('Page');">Create Menu Group</button>
                }
                <button class="btn btn-primary" onclick="LaunchPortal('@q.Name');">Launch Portal</button>
            </div>
            
            <div id="menuGroupView_@q.Id" class="row no-border"></div>
        </div>
                    }
                    <script>
                        $("#menuGroupView_@q.Id").kendoListView({
                            dataSource: {
                                transport: {
                                    read: {
                                        url: "/PortalAdmin/Portal/ReadMenuGroupPageList2?portalId=@q.Id",
                                        dataType: "json",
                                    }
                                },
                            },
                            template: kendo.template($("#menugrouptemplate").html())
                        });
                        $("#menuGroupView_@q.Id").children('.k-listview-content').addClass("row m-1");
                        $("#menuGroupView_@q.Id").children('.k-listview-content').removeClass("k-listview-content");
                    </script>
                }
            }

        </div>
    </div>
</div>
