@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.NtsNoteController> Resource
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@using Synergy.App.ViewModel;
@model NoteSearchViewModel
@{

    //Layout = ViewBag.Layout ?? "~/Areas/Nts/Views/Shared/_LayoutNtsNew.cshtml";
    Layout = ViewBag.Layout ?? null;
}
@*<script src="~/Scripts/jquery.popupoverlay.js"></script>*@
@*<link rel="stylesheet" type="text/css" href="~/Content/slidepopup.css" media="screen" />*@
<style>

    #panelbar1 {
        max-width: 400px;
        margin: 0 auto;
    }
    #kpnlbarPersonFilter {
        border: none;
        background-color: #fafafa;
        border-bottom: 1px;
    }

    #MainPost {
        padding: 5px 5px;
        margin-bottom: -1px;
        width: 100%;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }

    .group .input {
        margin-bottom: 25px;
        width: 100%;
        color: black;
        display: block;
        border: 1px;
        padding: 15px 20px;
        border-radius: 50px;
        background: rgba(142, 139, 139, 0.1);
    }

    .round {
        border-radius: 50%;
    }

    .gallery-cell {
        width: 100%;
        height: 200px;
        margin-right: 10px;
        align-content: center;
        padding-bottom: 10px;
        cursor: pointer;
        background: Transparent;
        counter-increment: gallery-cell;
        border-radius: 10px;
    }

    .k-listview-content {
        overflow: hidden;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .breadcrumb {
        margin-bottom: -44px;
        background-color: transparent;
    }

    #kgrdNote_pager {
        background-color: bisque;
        font-size: 12px;
    }

    .fontstyle {
        font-size: 27px;
        color: #333333;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    #AnnouncementPost {
        width: 100%;
        height: 38vh;
        overflow: auto;
        overflow-x: hidden;
    }

    #DocumentPost {
        width: 100%;
        height: 37vh;
        overflow: auto;
        overflow-x: hidden;
    }

    .sectionbox {
        margin-bottom: 30px;
        border-radius: 5px;
        color: #333333;
        background: #fff;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        min-height: 100px;
    }


    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

        .iconwothtext.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }


    .iconwothtextsub {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

        .iconwothtextsub.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .profilemenustyle {
        font-size: 20px;
        color: #4b4f56;
        display: block;
        margin-top: 8px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .leftmenustyle {
        font-size: 14px;
        color: #4b4f56;
        margin-bottom: 6px;
        font-weight: normal;
        margin-top: 6px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .leftsubmenustyle {
        font-size: 16px;
        color: #4b4f56;
        margin-bottom: 5px;
        font-weight: normal;
        margin-top: 5px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .submenustyle {
        font-size: 15px;
        color: darkgoldenrod;
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    @@media (min-width: 800px) {
        body {
            background: #fafafa;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 96%;
            background-repeat: no-repeat;
            padding-top: 10px;
            /*overflow: hidden;*/
        }
    }



    @@media(max-width: 800px) {
        body {
            background: #fafafa;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 96%;
            background-repeat: no-repeat;
            padding-top: 10px;
            overflow: auto;
        }
    }

    .content {
        padding-top: 10px;
    }

    .card {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .content-popup {
        padding: 0px;
        padding-top: 0px;
    }

    .login-form {
        margin-top: 60px;
        min-height: 300px;
        perspective: 1000px;
        transform-style: preserve-3d;
        border-color: #dfdddb;
    }

    .login-wrap {
        background-color: transparent;
        border-radius: 10px;
    }

    .k-primary {
        border-color: lightgray;
    }

    .round {
        border-radius: 50%;
    }

    [data-letters]:before {
        content: attr(data-letters);
        display: inline-block;
        font-size: 1em;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8em;
        text-align: center;
        border-radius: 30%;
        background: DarkOrange;
        //background: String.Format("#{0:X6}", new Random((int)DateTime.Now.Ticks).Next(0x1000000));
        vertical-align: middle;
        margin-right: 1em;
        color: white;
    }

    #LeftPanel {
        height: 90vh;
        overflow: auto;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #F90;
        background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    }

    /*  p {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        width: 40em;
        animation: type 3s steps(60, end);
    }

        p:nth-child(2) {
            animation: type2 3s steps(60, end);
        }

        p:nth-child(3) {
            animation: type3 6s steps(60, end);
        }*/

    @@keyframes type {
        from {
            width: 0;
        }
    }

    @@keyframes type2 {
        0% {
            width: 0;
        }

        50% {
            width: 0;
        }

        100% {
            width: 100;
        }
    }

    @@keyframes type3 {
        0% {
            width: 0;
        }

        50% {
            width: 0;
        }

        100% {
            width: 100;
        }
    }

    .roundcheckbox {
        position: relative;
    }

        .roundcheckbox label {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            height: 28px;
            left: 0;
            position: absolute;
            top: 0;
            width: 28px;
        }

            .roundcheckbox label:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 6px;
                left: 7px;
                opacity: 0;
                position: absolute;
                top: 8px;
                transform: rotate(-45deg);
                width: 12px;
            }

        .roundcheckbox input[type="checkbox"] {
            visibility: hidden;
        }

            .roundcheckbox input[type="checkbox"]:checked + label {
                background-color: #66bb6a;
                border-color: #66bb6a;
            }

                .roundcheckbox input[type="checkbox"]:checked + label:after {
                    opacity: 1;
                }

    .fromcolor {
        color: darkblue;
    }

    .iconwithtextnoanim {
        display: flex;
        align-items: center;
    }

        .iconwithtextnoanim.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .k-listview {
        background-color: transparent;
        border: none;
    }

    span.k-invalid-msg {
        position: absolute;
        margin-left: 6px;
    }

    #kpnlbarActiveService .k-header {
        border: none;
        font-size: 14px;
        font-weight: bolder;
        color: #4b4f56;
        margin-top: 5px;
        padding-left: 15px;
        background-color: #fafafa;
        border-bottom-color: gray;
    }

    #kpnlbarActiveService {
        border: none;
        background-color: #fafafa;
        border-bottom: 1px;
    }

    #kpnlbarFilter .k-header {
        border: none;
        font-size: 14px;
        font-weight: bolder;
        color: #4b4f56;
        margin-top: 5px;
        padding-left: 15px;
        background-color: #fafafa;
        border-bottom-color: gray;
    }

    #kpnlbarFilter {
        border: none;
        background-color: #fafafa;
        border-bottom: 1px;
    }

    .k-state-selected:link {
        background-color: #fafafa;
        color: black;
        box-shadow: none;
    }

    .k-state-selected .k-state-focused .k-content {
        background-color: #fafafa;
        color: black;
        box-shadow: none;
    }

    .k-item .k-state-default .k-state-highlight {
        color: black;
    }

    .k-link k-header {
        font-weight: bold;
    }

    .head-img {
        max-width: 100%;
        max-height: 149px;
        width: 100%;
        object-fit: none;
    }

    .banner-container {
        position: relative;
        color: white;
    }

    .banner-text {
        position: absolute;
        top: 14px;
        left: 60px;
        font-size: 35px;
    }
</style>
<script type="text/javascript">
    function OnStatusDataBound(e) {
      //  
        var rootNodes = $("#statustreeview").getKendoTreeView().dataSource.data()[0].children.data();
        if (rootNodes != undefined && rootNodes.length != undefined && rootNodes.length > 0) {
            for (var i = 0; i < rootNodes.length; i++) {
                var node = rootNodes[i];
                if ("@ViewBag.Status" == "All") {
                    node.set("checked", true);
                }
                else if (node.Name == "@ViewBag.Status") {
                    node.set("checked", true);
                }
            }
        }
        else {
            var rootNodes = $("#statustreeview").getKendoTreeView().dataSource.data()[0];
            rootNodes.set("checked", true);
        }
    }
      function OnPersonDataBound(e) {
        //
          var rootNodes = $("#persontreeview").getKendoTreeView().dataSource.data()[0].children.data();
          if (rootNodes != undefined &&  rootNodes.length != undefined && rootNodes.length > 0) {
              for (var i = 0; i < rootNodes.length; i++) {
                  var node = rootNodes[i];
                    if ("@ViewBag.Person" == "All") {
                      node.set("checked", true);
                  }
                 else if (node.Name == "@ViewBag.Person") {
                      node.set("checked", true);
                  }
              }
          }
          else {
              var rootNodes = $("#persontreeview").getKendoTreeView().dataSource.data()[0];
              rootNodes.set("checked", true);
          }
    }
    function OnModuleDataBound(e) {
       // 
        var rootNodes = $("#moduletreeview").getKendoTreeView().dataSource.data()[0].children.data();
        if (rootNodes != undefined &&  rootNodes.length != undefined && rootNodes.length>0)
        {
             for (var i = 0; i < rootNodes.length; i++) {
            var node = rootNodes[i];
            if ("@ViewBag.Module" == "All") {
                      node.set("checked", true);
                  }
            else if (node.Name == "@ViewBag.Module") {
                node.set("checked", true);
            }
        }
        }
        else {
            var rootNodes = $("#moduletreeview").getKendoTreeView().dataSource.data()[0];
            rootNodes.set("checked", true);
        }

    }
    $(document).ready(function () {

        $("#panelbar1").kendoPanelBar({
          //  expandMode: "single"
        });

        $("#panelbar2").kendoPanelBar({
          //  expandMode: "single"
        });

        $("#panelbar3").kendoPanelBar({
          //  expandMode: "single"
        });

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/NtsNote/ReadNoteHomeData",
                    dataType: "json",
                    data: FilterGrid
                }
            },
            pageSize: 10
        });

        $("#pager").kendoPager({
            dataSource: dataSource,
            buttonCount: 5
        });

        $("#kgrdNote").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#templateTask").html())
        });


        if ('@Model.NoteId'!=null && '@Model.NoteId'!='' && '@Model.NoteId'!='null')
        {
            OpenNote('@Model.NoteId', '', '@ViewBag.TemplateMasterCode');
        }
       // $("#todoheading").html("@ViewBag.Msg");
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        //     var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
        if (isChrome) {
           // $(".body-content").css('zoom', '0.8');
           // $(".breadcrumb").css('zoom', '0.8');
        }
        $("#mysearch2").keyup(function () {
            var val = $('#mysearch2').val();

                var listView = $("#kgrdNote").data("kendoListView");
                listView.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "NoteSubject",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "NoteNo",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "OwnerDisplayName",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "NoteDescription",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "NoteStatusName",
                            operator: "contains",
                            value: val
                        }
                    ]
                });

        });

        var search = FilterGrid();
        $("#kgrdNote").data("kendoListView").dataSource.read(search);

        //fancy treee---------------------------------------------------------------------------------------------------------
        getStatusTree();
        getModuleTree();
        getRoleTree();
    });

   function getStatusTree() {
       $("#statusTree").fancytree({
           checkbox: true,
           source: $.ajax({
               url: "/home/GetEnumAsFancyTreeList",
               dataType: "json"
           }),
           lazyLoad: function (event, data) {
               var node = data.node;
               // Issue an Ajax request to load child nodes
               data.result = {
                   url: "/home/GetEnumAsFancyTreeList",
                   data: { id: node.key, enumType: "NoteSearchHomByStatusEnum" }
               }

           },
           select: function (event, data) {
               
               var s = data.tree.getSelectedNodes().join(", ");
               var selectedNodes = data.tree.getSelectedNodes();
               var selectedNames = [];
               var selectedKey = [];
               for (var i = 0; i <= selectedNodes.length - 1; i++) {
                   selectedKey.push(selectedNodes[i].key);
                   selectedNames.push(selectedNodes[i].title);
               }
               if (selectedKey.length == 0 || selectedKey.includes("All")) {
                   $("#noteStatus").html("All");
               }
               else {
                   $("#noteStatus").html(selectedNames.join(", "));
               }
               $("#NoteStatus").val(selectedKey.join(","));
               var search = FilterGrid();
               $("#kgrdNote").data("kendoListView").dataSource.read(search);
           },
           renderNode: function (event, data) {
               // Optionally tweak data.node.span
               var node = data.node;
               node.renderTitle();


           },
           dblclick: function (event, data) {
               var node = data.node;
           },
           contextMenu: {
               menu: function (data) {
                   
                   return {
                   }
               },
               actions: function (node, action, options) {
               }
           }
       });
    }

    function getModuleTree() {
        moduleCodes = '@Model.ModuleCode';
        $("#moduleTree").fancytree({
            checkbox: true,
            source: $.ajax({
                url: "/cms/NtsService/GetModuleFancyTreeList?moduleCodes=" + moduleCodes,
                dataType: "json"
            }),
            lazyLoad: function (event, data) {
                var node = data.node;
                data.result = {
                    url: "/cms/NtsService/GetModuleFancyTreeList",
                    data: {id: node.key, moduleCodes: moduleCodes }
                }

            },
            select: function (event, data) {
                
                var s = data.tree.getSelectedNodes().join(", ");
                var selectedNodes = data.tree.getSelectedNodes();
                var selectedNames = [];
                var selectedKey = [];
                for (var i = 0; i <= selectedNodes.length - 1; i++) {
                    selectedKey.push(selectedNodes[i].key);
                    selectedNames.push(selectedNodes[i].title);
                }
                if (selectedKey.length == 0 || selectedKey.includes("All")) {
                    $("#moduleStatus").html("All");
                }
                else {
                    $("#moduleStatus").html(selectedNames.join(", "));
                }
                $("#ModuleId").val(selectedKey.join(","));
                var search = FilterGrid();
                $("#kgrdNote").data("kendoListView").dataSource.read(search);
            },
            renderNode: function (event, data) {
                // Optionally tweak data.node.span
                var node = data.node;
                node.renderTitle();
            },
            dblclick: function (event, data) {
                var node = data.node;
            },
            contextMenu: {
                menu: function (data) {
                    
                    return {
                    }
                },
                actions: function (node, action, options) {
                }
            }
        });
    }

    function getRoleTree() {
        $("#roleTree").fancytree({
            checkbox: true,
            source: $.ajax({
                url: "/home/GetEnumAsFancyTreeList",
                dataType: "json"
            }),
            lazyLoad: function (event, data) {
                var node = data.node;
                data.result = {
                    url: "/home/GetEnumAsFancyTreeList",
                    data: { id: node.key, enumType: "NoteSearchHomeByPersonEnum" }
                }

            },
            select: function (event, data) {
                
                var s = data.tree.getSelectedNodes().join(", ");
                var selectedNodes = data.tree.getSelectedNodes();
                var selectedNames = [];
                var selectedKey = [];
                for (var i = 0; i <= selectedNodes.length - 1; i++) {
                    selectedKey.push(selectedNodes[i].key);
                    selectedNames.push(selectedNodes[i].title);
                }
                if (selectedKey.length == 0 || selectedKey.includes("All")) {
                    $("#personStatus").html("All");
                }
                else {
                    $("#personStatus").html(selectedNames.join(", "));
                }
                $("#Mode").val(selectedKey.join(","));
                var search = FilterGrid();
                $("#kgrdNote").data("kendoListView").dataSource.read(search);
            },
            renderNode: function (event, data) {
                // Optionally tweak data.node.span
                var node = data.node;
                node.renderTitle();
            },
            dblclick: function (event, data) {
                var node = data.node;
            },
            contextMenu: {
                menu: function (data) {
                    
                    return {
                    }
                },
                actions: function (node, action, options) {
                }
            }
        });
    }

    $('#CreateGroup').click(function (e) {
        CreateGroup(e);
    });
    $('#tId').click(function (e) {
        $("#bid").toggle(700);
        $("#tclose").toggle(700);
    });
    $('#sId').click(function (e) {
       // alert("zdc");
       $("#partialView").load('@Url.Content("/nts/note/notehome")');
    });
    $('#nId').click(function (e) {
        $("#bnid").toggle(700);
        $("#nclose").toggle(700);
    });
    $('#Group').click(function (e) {
        window.location.href = "/nts/note/grouplist";
    });

    function gotoTask(mode) {
        window.location.href = "/nts/note?mode=ASSIGN_TO&taskStatus=" + mode;
        }

        function DownloadOrgDoc(id) {
            var ru = encodeURIComponent("/nts/Note/OrgHome");
            var url = "/nts/Note/Manage?ru=" + ru +"&NoteId=" + id;
            window.location.href = url;
           // iframeOpenUrl = "/nts/Note/DocumentDownload?noteId=" + id;
           // var wnd = $("#kiframepopupwindow").data("kendoWindow");
           // wnd.setOptions({
           //     width: 800,
           //     height: 450,
           //     title: "Document"
           // });
           // wnd.center().open();
        }

    function gotoService(mode) {
        window.location.href = "/nts/service?mode=REQ_BY&serviceStatus=" + mode;
    }

    function gotoNote(mode) {
        window.location.href = "/nts/note?mode=CREATED_BY&noteStatus=" + mode;
    }

    function CreateGroup() {

        iframeOpenUrl = "/admin/team/CreateGroup";
        var wnd = $("#kiframepopupnotitlewindow").data("kendoWindow");
        wnd.setOptions({
            width: 600,
            height: 110,
            title: @*"@ERP.Translation.Message.DescribeGroup"*@"DescribeGrouViewBag"

        });
        wnd.wrapper.find('.k-window-titlebar').css({
            'background-color': 'transparent',
            'border-bottom-style': 'none'
        });
        wnd.center().open();

    }

    function Close(redirect) {
        var wnd = $("#kiframepopupnotitlewindow").data("kendoWindow");
        wnd.close();
    }

    function renderDetail(id) {
        if ($("#step-iframe-edit-div-" + id).html() == '') {
             $("[id*='step-iframe-edit-div']").each(function (i, el) {
            $(this).html("");
        });
        $("#step-loader-"+id).show();
        $.ajax({
            url: '@Url.Action("StepHome", "Service")',
            type: 'GET',
            cache: false,
            data: { serviceId: id },
            success: function (response) {
                $("#step-iframe-edit-div-" + id).html(response);
                $("#step-loader-" + id).hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            complete: function (data) {

            } //EINDE complete
        });
        } else {
            $("#step-iframe-edit-div-" + id).html("");
        }

    }


    function RenderTaskEdit(id) {

        $("[id*='step-edit-div']").each(function (i, el) {
            $(this).html("");
        });
        $("[id*='step-template']").each(function (i, el) {
            $(this).show();
        });
        $("#step-edit-div-add").html("");
        $("#taskAdd").show();
        $("#step-edit-loader-" + id).show();
        $.ajax({
            url: '@Url.Action("EditTaskPartial", "Task")',
            type: 'GET',
            cache: false,
            data: { taskId: id },
            success: function (response) {
                $("#step-edit-div-" + id).html(response);
                $("#step-template-" + id).hide();
                $("#step-edit-loader-" + id).hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            complete: function (data) {

            } //EINDE complete
        });

    }

    function RenderStepEdit(id) {
        $("[id*='step-edit-div']").each(function (i, el) {
            $(this).html("");
        });
        $("[id*='step-template']").each(function (i, el) {
            $(this).show();
        });
        $("#step-edit-loader-" + id).show();
        $.ajax({
            url: '@Url.Action("EditTaskPartial", "Task")',
            type: 'GET',
            cache: false,
            data: { taskId: id },
            success: function (response) {
                $("#step-edit-div-" + id).html(response);
                $("#step-template-" + id).hide();
                $("#step-edit-loader-" + id).hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            complete: function (data) {

            } //EINDE complete
        });

    }

    function RenderAddEdit(id) {
         $("[id*='step-edit-div']").each(function (i, el) {
            $(this).html("");
        });
        $("[id*='step-template']").each(function (i, el) {
            $(this).show();
        });
        $("#add-step-loader").show();
        $.ajax({
            url: '@Url.Action("AddTaskPartial", "Task")',
            type: 'GET',
            cache: false,
            data: { templateMasterId: id },
            success: function (response) {
                $("#step-edit-div-add").html("");

                $("#step-edit-div-add").html(response);
                $("#add-step-loader").hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            complete: function (data) {

            } //EINDE complete
        });

    }

    function OnCancelTaskForm(id) {
        $("#step-edit-div-add").html("");
        $("#step-edit-div-" + id).html("");
        var display = $("#taskAdd").css("display");
        if (display == "none") {
            $("#taskAdd").show();
        }
        if (id != null || id != 0) {
            $("#step-template-" + id).show();
        }
    }

    function OnCancelStepForm(id) {
        $("#step-edit-div-" + id).html("");
        if (id != null || id != 0) {
            $("#step-template-" + id).show();
        }
    }

    function createAnnouncements(e) {
        var ru = "/nts/Note/OrgHome";
        window.location.href = "/nts/note/GotoAnnouncements?ru="+ru;
    }

    function gotoHome(e) {
        window.location.href = "/nts/note/ManagePost";
    }

    function gotoCompany(e) {
        window.location.href = "/nts/note/Companyhome";
    }



    function ClosePost(redirect) {
        var wnd1 = $("#kiframepopupnotitlewindow").data("kendoWindow");
        wnd1.close();
        manageNoteList_Refresh($('#manageNoteList'));
        return false;
        //window.location.reload();
        //var wnd1 = $("#kiframepopupwindow").data("kendoWindow");
        //wnd1.close();
        //var wnd = $("#kiframepopupnotitlewindow").data("kendoWindow");
        //wnd.close();


        //manageNoteList_LoadData($('#manageNoteList'));
    }

    function onDataBound(e) {
        // kendoConsole.log("Data bound");
    }
    $(function () {
        $(document).bind("kendo:skinChange", updateTheme);
    });
    function updateTheme() {
        $("#chart").getKendoChart().setOptions({ theme: kendoTheme });
    }

    function resetParam() {
        var listView = $("#kgrdNote").data("kendoListView");
        $("#NoteStatus").val("");
        $("#Mode").val("");
        //$("#ModuleName").val("");
        $("#Text").val("");
        listView.dataSource.read(FilterGrid());
    }
    function resetModuleParam() {
        var listView = $("#kgrdNote").data("kendoListView");
        $("#ModuleId").val("");
        $("#moduleStatus").html("All");
        //$("#moduletreeview").data("kendoTreeView").dataSource.read();
        getModuleTree();
        listView.dataSource.read(FilterGrid());        

    }
    function resetStatusParam() {
        var listView = $("#kgrdNote").data("kendoListView");
        //$("#statustreeview").data("kendoTreeView").dataSource.read();
        getStatusTree();
        $("#NoteStatus").val("");
        $("#noteStatus").html("All");
        listView.dataSource.read(FilterGrid());        

    }
    function resetRoleParam() {
        var listView = $("#kgrdNote").data("kendoListView");
       // $("#persontreeview").data("kendoTreeView").dataSource.read();
        getRoleTree();
        $("#Mode").val("");
        $("#personStatus").html("All");
        listView.dataSource.read(FilterGrid());        

    }
    function gotoWorklist() {
        window.location.href = "/Nts/ntsHome";
    }

    function sortbydate() {
        var listView = $("#kgrdNote").data("kendoListView");
        listView.dataSource.sort({ field: "Id", dir: "desc" });
    }

    function sortbyname() {
        var listView = $("#kgrdNote").data("kendoListView");
        listView.dataSource.sort({ field: "Subject", dir: "asc" });
    }

    function sortbyowner() {
        var listView = $("#kgrdNote").data("kendoListView");
        listView.dataSource.sort({ field: "OwnerDisplayName", dir: "asc" });
    }

    function sortbyassignee() {
        var listView = $("#kgrdNote").data("kendoListView");
        listView.dataSource.sort({ field: "AssigneeDisplayName", dir: "asc" });
    }

    function filtercompleted() {
        resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        $("#todoheading").html("Note (Completed)");
        listView.dataSource.filter({ field: "NoteStatusName", operator: "eq", value: "Completed" });
    }

    function filteroverdue() {
        resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        $("#todoheading").html("Note (Overdue)");
        listView.dataSource.filter({ field: "NoteStatusName", operator: "eq", value: "Over Due" });
    }
    function filterinprogress() {
        resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        $("#todoheading").html("Note (Active)");
        listView.dataSource.filter({ field: "NoteStatusName", operator: "eq", value: "Active" });
    }

    function filterreset() {
        resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        $("#todoheading").html("Note");
        listView.dataSource.filter({});
        listView.dataSource.sort({ field: "Id", dir: "desc" });
    }

    function filterinbox() {
        resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        $("#todoheading").html("Note");
        listView.dataSource.filter({});
        listView.dataSource.sort({ field: "Id", dir: "desc" });
    }

    function filtertoday() {

        resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        $("#Text").val("Today");
        $("#todoheading").html("Note (Today)");
        listView.dataSource.filter({});
        var search = FilterGrid();
        listView.dataSource.read(search);
    }

    function filternextweek() {

        resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        $("#Text").val("Week");
        $("#todoheading").html("Note (Next 7 days)");
        listView.dataSource.filter({});
        var search = FilterGrid();
        listView.dataSource.read(search);
    }

    function FilterGrid() {
        var search = {
            NoteStatus: $("#NoteStatus").val(),
            Mode: $("#Mode").val(),
            ModuleId: $("#ModuleId").val(),
            Text: $("#Text").val(),
            ModuleCode: $("#ModuleCode").val(),
            UserId: $("#UserId").val(),
            PortalNames: $("#PortalNames").val(),
        };
        return search;
    }
    function checkedNodeIds(nodes, checkedNodes, checkedNodesName) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
                checkedNodesName.push(nodes[i].Name);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes, checkedNodesName);
            }
        }
    }

    // show checked node IDs on datasource change
    function onStatusCheck() {
        var checkedNodes = [], checkedNodesName = [],
            treeView = $("#statustreeview").data("kendoTreeView"),
            message;

        checkedNodeIds(treeView.dataSource.view(), checkedNodes, checkedNodesName);
        if (checkedNodesName.length==0 || checkedNodesName.includes("All")) {
            $("#noteStatus").html("All");
        }
        else {
            $("#noteStatus").html(checkedNodesName.join(", "));
        }
        $("#NoteStatus").val(checkedNodes.join(","));
       // $("#noteStatus").html(checkedNodesName.join(", "));
        var search = FilterGrid();
        $("#kgrdNote").data("kendoListView").dataSource.read(search);
        //if (checkedNodes.length > 0) {
        //    message = "IDs of checked nodes: " + checkedNodes.join(",");
        //} else {
        //    message = "No nodes checked.";
        //}

        //$("#result").html(message);
    }
    function onModuleCheck() {
        var checkedNodes = [], checkedNodesName = [],
            treeView = $("#moduletreeview").data("kendoTreeView");
        checkedNodeIds(treeView.dataSource.view(), checkedNodes, checkedNodesName);
        if (checkedNodesName.length == 0 || checkedNodesName.includes("All")) {
            $("#moduleStatus").html("All");
        }
        else {
            $("#moduleStatus").html(checkedNodesName.join(", "));
        }
       // $("#moduleStatus").html(checkedNodesName.join(", "));
        $("#ModuleId").val(checkedNodes.join(","));
        var search = FilterGrid();
        $("#kgrdNote").data("kendoListView").dataSource.read(search);

    }
    function onPersonCheck() {
        var checkedNodes = [], checkedNodesName = [],
            treeView = $("#persontreeview").data("kendoTreeView");


        checkedNodeIds(treeView.dataSource.view(), checkedNodes, checkedNodesName);
        if (checkedNodesName.length == 0 || checkedNodesName.includes("All")) {
            $("#personStatus").html("All");
        }
        else {
            $("#personStatus").html(checkedNodesName.join(", "));
        }
       // $("#personStatus").html(checkedNodesName.join(", "));
        $("#Mode").val(checkedNodes.join(","));
        var search = FilterGrid();
        $("#kgrdNote").data("kendoListView").dataSource.read(search);
        //if (checkedNodes.length > 0) {
        //    message = "IDs of checked nodes: " + checkedNodes.join(",");
        //} else {
        //    message = "No nodes checked.";
        //}

        //$("#result").html(message);
    }
    function OnIframStepEditLoad(obj) {
        var taskId = obj.getAttribute('id');
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 80 + 'px';
        var div = $("#step-iframe-edit-div-" + taskId);
        RemoveAjaxLoader(div);
    }



    function OnNoteCreate(e) {
        var portalId = $('#GlobalPortalId').val();
        var modulecodes = $("#ModuleCode").val();
        var url = '@Url.Action("SelectNoteTemplate", "NtsNote",new {area="Cms" })?templateCode=&categoryCode=&moduleCodes=' + modulecodes + '&portalNames=' + $("#PortalNames").val();;//'/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageName=Project&portalId=' + portalId /*+ '&prms=' + prms*/;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(Resource["NoteTemplates"])', Width: 1000, Height: 600 });
        return false;
    }
    function backtoNtsNoteIndex(tempid,tempCode) {
        var portalId = "";
        if (window.parent == "" || window.parent == undefined) {
            portalId = $("#GlobalPortalId").val();
        }
        else {
            portalId = window.parent.$("#GlobalPortalId").val();
        }
        
        var win = GetMainWindow();
        win.CloseWindow();
        return false;

        var url = '/Cms/Page?lo=Popup&pageType=Note&cbm=OnAfterNoteCreate&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId ;
        @*'@Url.Action("NtsNotePage", "NtsNote", new { @area = "Cms" })?templateid=' + tempid + '&pageId=4bf170b2-0bc9-4bfc-8cdc-85f048c9fcd3&lo=Popup&cbm=OnAfterNoteCreate';*@
         var win = GetMainWindow();
         win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["CreateNote"])', Width: 1000, Height: 600, Reload: true });
         return false;
    }
    function OnAfterNoteCreate(service) {
        resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        var search = FilterGrid();
        listView.dataSource.read(search);
    }


    function CloseTask(redirect, tempId) {
        var wnd = $("#kiframepopupwindow").data("kendoWindow");
        wnd.close();
        if (redirect) {
            window.location.href = "/nts/note/Manage?templateMasterId=" + tempId;
        }
    }


    function SetTemplateAction(action) {
$("#TemplateAction").val(action);

return true;
    }



    function ModuleFilter(moduleId, displayName) {
       // resetParam();
        var listView = $("#kgrdNote").data("kendoListView");
        $("#todoheading").html("Note (" + displayName +")");
       // listView.dataSource.filter({ field: "ModuleName", operator: "eq", value: moduleName });
        $("#moduleStatus").html(displayName);
        $("#ModuleId").val(moduleId);
        listView.dataSource.read(FilterGrid());
    }

    function OtherFilter(moduleName, displayName) {
        @*if (moduleName == "ASSIGN_TO") {
            resetParam();
            $("#Mode").val("ASSIGN_TO");
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Delete (" + displayName + ")");
            listView.dataSource.filter({});
            var search = FilterGrid();
            listView.dataSource.read(search);
        }
        else if (moduleName == "OWNED_BY") {
            resetParam();
            $("#Mode").val("OWNED_BY");
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Delete (" + displayName + ")");
            listView.dataSource.filter({ field: "OwnerDisplayName", operator: "eq", value: '@ViewBag.LoggedInUser' });

        } else if (moduleName == "SHARE_TO") {
            resetParam();
            $("#Mode").val("SHARE_TO");
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Delete (" + displayName + ")");
            listView.dataSource.filter({});
            var search = FilterGrid();
            listView.dataSource.read(search);
        }
        else {
            resetParam();
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Note (" + displayName + ")");
            listView.dataSource.filter({ field: "NoteStatusCode", operator: "eq", value: moduleName });
        }*@
        if (moduleName != "" && moduleName != null && moduleName != undefined) {
            //resetParam();
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Note (" + displayName + ")");
            $("#noteStatus").html(displayName);
            $("#NoteStatus").val(moduleName);
            listView.dataSource.read(FilterGrid());
        }
        else {
            //resetParam();
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Note (" + displayName + ")");
            $("#noteStatus").html(displayName);
            $("#NoteStatus").val("");
            listView.dataSource.read(FilterGrid());

        }
    }
    function PersonFilter(moduleName, displayName) {
        if (moduleName == "OWNED_BY") {
            // resetParam();
            $("#Mode").val("OWNED_BY");
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Notes (" + displayName + ")");
            $("#personStatus").html(displayName);
            listView.dataSource.filter({});
            var search = FilterGrid();
            listView.dataSource.read(search);
        }
        else if (moduleName == "SHARE_TO") {
            // resetParam();
            $("#Mode").val("SHARE_TO");
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Notes (" + displayName + ")");
            $("#personStatus").html(displayName);
            listView.dataSource.filter({});
            var search = FilterGrid();
            listView.dataSource.read(search);
        }
        else if (moduleName == "ASSIGN_BY") {
            // resetParam();
            $("#Mode").val("ASSIGN_BY");
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Notes (" + displayName + ")");
            $("#personStatus").html(displayName);
            listView.dataSource.filter({});
            var search = FilterGrid();
            listView.dataSource.read(search);
        }
        else {
            // resetParam();
            var listView = $("#kgrdNote").data("kendoListView");
            $("#todoheading").html("Notes (" + displayName + ")");
            $("#personStatus").html(displayName);
            // $("#TaskStatus").val(moduleName);
            $("#Mode").val("");
            listView.dataSource.read(FilterGrid());

        }

    }
    function OpenNote(id,status,code) {


            var source = '@RequestSourceEnum.View.ToString()';
            var action = '@DataActionEnum.View.ToString()';
            var pagename = "NtsTaskPage";
        if (status ==='NOTE_STATUS_DRAFT') {
                source = "Edit";
                action = "Edit";
        }
        var portalId = window.parent.$('#GlobalPortalId').val();

        var url = '/Cms/Page?lo=Popup&pageType=Note&cbm=OnAfterTaskCreate&source=' + source + '&dataAction=' + action + '&templateCodes=' + code + '&portalId=' + portalId + '&recordId=' + id;
        var win = GetMainWindow();
           win.iframeOpenUrl = url; @*'@Url.Action("NtsTaskPage", "NtsTask", new { @area = "Cms" })?lo=Popup&cbm=OnAfterTaskCreate&taskId=' + id + '&dataAction=' + action + '&portalId=' + portalId +'&pageName=NtsTaskTest&pageId=bcf41d01-77ce-4681-a501-a3c89161e003';*@
        win.OpenWindow({ Title:  '@Html.Raw(SharedResource["Note"])', Width: 1200, Height: 600 });
        return false;


    }
    function DeleteNote(id) {
        var flag = confirm('@Html.Raw(Resource["DoyoureallywanttodeletetheNote?"])');
        if (flag) {

            $.ajax({
                //url: '/nts/Note/Delete?Id='+id,
                url: '/cms/NtsNote/DeleteNote?id=' + id ,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    kendo.alert("@SharedResource["DeletedSuccessfully"]");
                    $("#kgrdNote").data("kendoListView").dataSource.read();

                },
                error: function (ert) {
                    $("#kgrdNote").data("kendoListView").dataSource.read();


                }
            });
            return false;
        }
        return false;
    }

    function FillSharingCount() {

    }
    function FillCommentCount() {

    }
      function OnSwitchView(switchTo) {

        var url = '@Url.Action("SetNoteGridViewMode", "User",new { @area="admin"})?view=' + switchTo;
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    //async: false,
                    success: function (data) {
                        if ('@Model.RequestSource' == 'DMS') {
                            document.location.href="/nts/note/index?moduleName=DMS&rs=DMS";
                        }
                        else {
                            document.location.href ="/nts/note/index";
                        }

                    },
                    error: function (errData) {
                        OnError(errData);
                    }
                });
    }

     function IframePostbackScript(res, type) {
       
         var win = GetMainWindow();
         win.CloseWindow();
         return false;

         $("#kgrdNote").data("kendoListView").dataSource.read();
    }
    function dateformat(value) {
        if (value.toString().includes("GMT")) {
            return value.toString().split('GMT')[0];
        } else {
            return "";
        }
    }

     function OnSelectWBSItem(id) {
        window.parent.CloseGeneralSelect(id, '@ReferenceTypeEnum.NTS_Note');
    }


   /*       });*/

    $('#moduletreeview')
        .jstree({
            'core': {
                'data': function (node, cb) {
                    if (node.id === "#") {
                        $.ajax({
                            async: true,
                            type: "GET",
                            url: "/cms/NtsService/GetModuleTreeList?moduleCodes=@Model.ModuleCode",
                            dataType: "json",
                            success: function (json) {
                                cb(json);
                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        });
                        //cb([{ "text": "Root", "id": "1", "children": true }]);
                    }
                    else {
                        $.ajax({
                            async: true,
                            type: "GET",
                            url: "/cms/NtsService/GetModuleTreeList?id=" + node.id +"&moduleCodes=@Model.ModuleCode",
                            dataType: "json",
                            success: function (json) {
                                cb(json);
                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        });
                    }
                }
            },
            "plugins": ["wholerow", "checkbox"]
        });

    @*$('#treeview')
        .jstree({
            "checkbox": {
                "keep_selected_style": false
            },
            "plugins": ["checkbox"],
            'core': {
                'data': function (node, cb) {
                    if (node.id === "#") {
                        $.ajax({
                            async: true,
                            type: "GET",
                            url: "/cms/NtsService/GetModuleTreeList?moduleCodes=@Model.ModuleCode",
                            //url: "/cms/template/GetNtsTemplateTreeList",
                            dataType: "json",
                            success: function (json) {
                                cb(json);
                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        });
                        //cb([{ "text": "Root", "id": "1", "children": true }]);
                    }
                    else {
                        $.ajax({
                            async: true,
                            type: "GET",
                            url: "/cms/NtsService/GetModuleTreeList?moduleCodes=@Model.ModuleCode&id=" + node.id,
                            dataType: "json",
                            success: function (json) {
                                cb(json);
                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        });
                    }
                }
            }
        });*@

</script>


<div class="banner-container">
    <img style="width:100%; height:100px" src="~/images/HRBanners/Note Home.png" />
    <div class="banner-text">@Resource["NoteHome"]</div>
</div>
<div class="container-fluid body-content">

    <div class="row ">

        <div class="col-md-3 dahboard-height" id="LeftPanel">

            <ul>
                <div class="iconwothtext" onclick="filterinbox()">
                    <div class="k-icon k-i-inbox" style="font-size:18px; color: gray"></div> <div class="leftmenustyle" style="padding-left: 10px">
                        @SharedResource["Inbox"]
                    </div><span id="tclose" class="k-icon k-i-arrow-chevron-right" style="font-size: 22px; padding-left: 55px; color: lightgrey"></span>
                </div>
                <div class="iconwothtext" onclick="filtertoday()">
                    <div class="k-icon k-i-calendar-date" style="font-size:18px; color: gray"></div> <div class="leftmenustyle" style="padding-left: 10px">
                        @Resource["Today"]
                    </div><span id="tclose" class="k-icon k-i-arrow-chevron-right" style="font-size: 22px; padding-left: 55px; color: lightgrey"></span>
                </div>
                <div class="iconwothtext" onclick="filternextweek()">
                    <div class="k-icon k-i-calendar" style="font-size:18px; color: gray"></div> <div class="leftmenustyle" style="padding-left: 10px">
                        @Resource["Next7days"]
                    </div><span id="tclose" class="k-icon k-i-arrow-chevron-right" style="font-size: 22px; padding-left: 55px; color: lightgrey"></span>
                </div>
                @if (Model.RequestSource == "DMS")
                {

                }
                else
                {
            <div style="background-color: #fafafa; ">
                @*@(Html.Kendo().PanelBar().Name("kpnlbarActiveService")
        .ExpandMode(PanelBarExpandMode.Multiple)
        .Items(panelbar =>
        {
        panelbar.Add().Text(@Resource["Modules"]).Expanded(true).Content(@<text>*@

                <ul id="panelbar1">
                    <li class="k-state-active">
                        <span class="k-link k-state-selected">@Resource["Modules"]</span>
                        <hr />
                        <div>
                            <label class="col-md-12" style="font-weight:bold">
                                Filtered By Module:
                            </label><span id="moduleStatus" class="col-md-12">&nbsp;@ViewBag.Module</span>
                            <div class="col-md-12">
                                <a href="#" onclick="resetModuleParam();">Clear Filter</a>
                            </div>
                        </div>
                        <div style="background-color: #fafafa;">
                            @*@if (Model.ModuleList.Count() > 0)
                                             {
                                                  @if (Model.ModuleList.Count() > 1)
                                                 {
                                                     <div class="iconwothtext" style="background-color: #fafafa;" onclick="ModuleFilter('', 'All')">
                                             <div class="k-icon k-i-blur" style="font-size:14px; color: lightgray"></div> <div class="leftmenustyle" style="padding-left: 10px; background-color: #fafafa;font-size:13px">
                                                All Modules
                                             </div>
                                         </div>
                                                 }

                    @foreach (var der in Model.ModuleList)
                    {

                                         <div class="iconwothtext" style="background-color: #fafafa;" onclick="ModuleFilter('@der.Id', '@der.Name')">
                                             <div class="k-icon k-i-circle" style="font-size:14px; color: lightgray"></div> <div class="leftmenustyle" style="padding-left: 10px; background-color: #fafafa;font-size:13px">
                                                 @der.Name
                                             </div>
                                         </div>

                    }

                                             }*@
                            @*@(Html.Kendo().TreeView()
                        .Name("moduletreeview")
                        .DataTextField("DisplayName")
                      .TemplateId("moduleTemplate")
                          .Checkboxes(e => e.CheckChildren(true)
                                         //     .Template("# if (item.Type=='Child') { #" +
                                         //    "<input type='checkbox' #= item.checked ? 'checked' : '' #>" +
                                         //"# } #")
                                         )
                           .Events(events => events
                        .Check("onModuleCheck").DataBound("OnModuleDataBound"))
                        .DataSource(dataSource => dataSource
                            .Read(read => read
                                .Action("GetModuleTreeList", "NtsService",new { area="Cms", moduleCodes = Model.ModuleCode })
                            )
                        )
                    )*@

                            <div id="moduleTree"></div>

                            <script id="moduleTemplate" type="text/kendo-ui-template">
    #: item.DisplayName #
    @*# if (!item.items) { #
        <span class='k-icon k-i-close'></span>
    # } #*@
                            </script>

                        </div>

                    </li>
                </ul>
                @*</text>);
        }))*@
            </div>
                }
                <hr />
                <div style="background-color: #fafafa; ">
                    @*@(Html.Kendo().PanelBar().Name("kpnlbarFilter")
        .ExpandMode(PanelBarExpandMode.Multiple)
        .Items(panelbar =>
        {
            panelbar.Add().Text(@SharedResource["StatusFilters"]).Expanded(true).Content(@<text>*@

                    <ul id="panelbar2">
                        <li class="k-state-active">
                            <span class="k-link k-state-selected">@Resource["StatusFilters"]</span>
                            <hr />
                            <div class="">
                                <label class="col-md-12" style="font-weight:bold">
                                    Filtered By Status:
                                </label><span id="noteStatus" class="col-md-12">&nbsp;@ViewBag.Status</span>
                                <div class="col-md-12">
                                    <a href="#" onclick="resetStatusParam();">Clear Filter</a>
                                </div>
                            </div>
                            <div style="background-color: #fafafa;">
                                @*<div class="iconwothtext" style="background-color: #fafafa;" onclick="OtherFilter('', 'All')">
                                                                                                                                                        <div class="k-icon k-i-blur" style="font-size:14px; color: lightgray"></div> <div class="leftmenustyle" style="padding-left: 10px; background-color: #fafafa;font-size:13px">
                                                                                                                                                           All Status
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                        @foreach (var der in EnumExtension.SelectListFor(typeof(NoteSearchHomByStatusEnum)))
                    {

                    <div class="iconwothtext" style="background-color: #fafafa;" onclick="OtherFilter('@der.Value.ToString()', '@der.Text.ToString()')">
                        <div class="k-icon k-i-blur" style="font-size:14px; color: lightgray"></div> <div class="leftmenustyle" style="padding-left: 10px; background-color: #fafafa;font-size:13px">
                            @der.Text.ToString() @SharedResource["Note"]
                     </div>
                    </div>

                    }*@
                                @*@(Html.Kendo().TreeView()
                        .Name("statustreeview")
                       .DataTextField("DisplayName")
                      .TemplateId("statusTemplate")
                          .Checkboxes(e => e.CheckChildren(true)
                                         //     .Template("# if (item.Type=='Child') { #" +
                                         //    "<input type='checkbox' #= item.checked ? 'checked' : '' #>" +
                                         //"# } #")
                                         )
                           .Events(events => events
                        .Check("onStatusCheck").DataBound("OnStatusDataBound"))
                        .DataSource(dataSource => dataSource
                            .Read(read => read
                                .Action("GetEnumAsTreeList", "Home",new { area="", enumType = "NoteSearchHomByStatusEnum" })
                            )
                        )
                    )*@

                                <div id="statusTree"></div>
                                <script id="statusTemplate" type="text/kendo-ui-template">
    #: item.DisplayName #
    @*# if (!item.items) { #
        <span class='k-icon k-i-close'></span>
    # } #*@
                                </script>

                            </div>
                        </li>
                    </ul>
                </div>
                <hr />
                <div style="background-color: #fafafa;">
                    @*@(Html.Kendo().PanelBar().Name("kpnlbarPersonFilter")
        .ExpandMode(PanelBarExpandMode.Multiple)
        .Items(panelbar =>
        {
            panelbar.Add().Text(@SharedResource["PersonFilters"]).Expanded(true).Content(@<text>*@

                    <ul id="panelbar3">
                        <li class="k-state-active">
                            <span class="k-link k-state-selected">@Resource["PersonFilters"]</span>
                            <hr />
                            <div class="">
                                <label class="col-md-12" style="font-weight:bold">
                                    Filtered by Role:
                                </label><span id="personStatus" class="col-md-12">&nbsp;@ViewBag.Person</span>
                                <div class="col-md-12">
                                    <a href="#" onclick="resetRoleParam();">Clear Filter</a>
                                </div>
                            </div>
                            <div style="background-color: #fafafa;">
                                @*<div class="iconwothtext" style="background-color: #fafafa;" onclick="PersonFilter('', 'All')">
                                                                                                                                                                                        <div class="k-icon k-i-blur" style="font-size:14px; color: lightgray"></div> <div class="leftmenustyle" style="padding-left: 10px; background-color: #fafafa;font-size:13px">
                                                                                                                                                                                           All Pesron
                                                                                                                                                                                        </div>
                                                                                                                                                                                    </div>
                                                        @foreach (var der in EnumExtension.SelectListFor(typeof(NoteSearchHomeByPersonEnum)))
                                                    {

                                                    <div class="iconwothtext" style="background-color: #fafafa;" onclick="PersonFilter('@der.Value.ToString()', '@der.Text.ToString()')">
                                                        <div class="k-icon k-i-blur" style="font-size:14px; color: lightgray"></div> <div class="leftmenustyle" style="padding-left: 10px; background-color: #fafafa;font-size:13px">
                                                            @der.Text.ToString() @SharedResource["Note"]
                                                     </div>
                                                    </div>

                                                    }

                                                            @(Html.Kendo().TreeView()
                        .Name("persontreeview")
                      .DataTextField("DisplayName")
                      .TemplateId("personTemplate")
                          .Checkboxes(e => e.CheckChildren(true)
                                         //     .Template("# if (item.Type=='Child') { #" +
                                         //    "<input type='checkbox' #= item.checked ? 'checked' : '' #>" +
                                         //"# } #")
                                         )
                           .Events(events => events
                        .Check("onPersonCheck").DataBound("OnPersonDataBound"))
                        .DataSource(dataSource => dataSource
                            .Read(read => read
                                .Action("GetEnumAsTreeList", "Home",new { area="", enumType= "NoteSearchHomeByPersonEnum" })
                            )
                        )
                    )*@

                                <div id="roleTree"></div>
                                <script id="personTemplate" type="text/kendo-ui-template">
    #: item.DisplayName #
    @*# if (!item.items) { #
        <span class='k-icon k-i-close'></span>
    # } #*@
                                </script>
                            </div>
                        </li>
                    </ul>
                    <hr />
</ul>
                </div>
        <div class="col-md-8">
            <div class="sectionbox render">
                <div id="MainPost" style="background-color:white; border:1px solid #f1f1f1">
                    @*<div class="head-image">
            <img class="head-img" src="~/images/NoteHomeBanner.jpeg" />
        </div><br />*@
                    @*<div class="row" style="padding-left:15px;">
            <div class="col-3">
                <label  style="font-weight:bold">
                    Filtered by Module:
                </label><span id="moduleStatus">&nbsp;@ViewBag.Module</span>
            </div>
            <div class="col-3">
                <label style="font-weight:bold">
                    Filtered by Status:
                </label><span id="noteStatus">&nbsp;@ViewBag.Status</span>
            </div>
            <div class="col-3">
                <label  style="font-weight:bold">
                    Filtered by Person:
                </label><span id="personStatus">&nbsp;@ViewBag.Person</span>
            </div>
            <div class="col-3">
                <a href="#" onclick="resetParam();">Clear All Filter</a>
            </div>





        </div>*@
                    <div class="row">
                        <div class="col-md-6">
                            @*<div class="btn-group" role="group">
                    <a href="#" class="btn btn-sm btn-primary">List View</a>
                    <a href="javascript: void(0); onclick=OnSwitchView('Grid')" class="btn btn-sm btn-default">Switch To Grid View</a>
                </div>*@
                            <div class="iconwothtext" style="padding: 12px" id="taskAdd" onclick="OnNoteCreate()">
                                <i class="fal fa-plus-square" style="font-size: 20px;font-weight:lighter; color: #e55705; "></i>
                                <div class="leftmenustyle" style="padding-bottom:5px;">
                                    @SharedResource["AddNote"]
                                </div>
                                @*<div class="k-add-button" style="font-size:20px; color:#e55705; font-weight:lighter; padding-bottom:2px; padding-left:23px;">+</div> <div class="leftmenustyle">
                    Add Note
                    </div>*@
                            </div>
                        </div>
                        <div class="col-md-5">
                            <input id="mysearch2" type="search" placeholder="@SharedResource["Search"]" class="form-control" style="border-radius: 30px;">
                        </div>
                        <div class="col-md-1">
                            <div class="btn-group">
                                <a class="k-icon k-i-more-horizontal dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px; color: gray">
                                </a>
                                <ul class="dropdown-menu" style="position:absolute;top:20px;right:0px;left:auto; min-width:180px; color:gray">
                                    <div class="iconwothtext" style="padding-left:10px" onclick="sortbydate()">
                                        <span class="k-icon k-i-calendar-date" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                            @Resource["SortbyDate"]
                                        </div>
                                    </div>
                                    <div class="iconwothtext" style="padding-left:10px" onclick="sortbyname()">
                                        <span class="k-icon k-i-convert-lowercase" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                            @Resource["SortbySubject"]
                                        </div>
                                    </div>
                                    <div class="iconwothtext" style="padding-left:10px" onclick="sortbyowner()">
                                        <span class="k-icon k-i-user" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                            @Resource["SortbyOwner"]
                                        </div>

                                        <div class="iconwothtext" style="padding-left:10px" onclick="filterreset()">
                                            <span class="k-icon k-i-reset" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                                @SharedResource["Reset"]
                                            </div>
                                        </div>

                                </ul>
                            </div>
                        </div>
                    </div>
                    @*<div class="iconwothtext" style="padding: 12px" id="taskAdd" onclick="OnNoteCreate()">
            <div class="k-add-button" style="font-size:20px; color:#e55705; font-weight:lighter; padding-bottom:2px; padding-left:23px;">+</div> <div class="leftmenustyle">
                Add Note
            </div>

        </div>*@
                    <img width="150" height="50" id="add-step-loader" src="@Url.Content(String.Format("~/Images/loadingStep.gif"))" style="display:none">
                    <div class="row">

                        <div class="col-lg-12">
                            <div id="step-edit-div-add"></div>
                        </div>
                    </div>

                    <hr style="margin-top:5px !important">
                    @*@(Html.Kendo().ListView<NoteViewModel>()
        .Name("kgrdNote")
        .TagName("div")
        .AutoBind(true)
        .ClientTemplateId("templateTask")
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        //.Events(events => events.Error("OnError"))
        .Read(read => read.Action("ReadNoteHomeData", "NtsNote", new { area = "Cms" }).Data("FilterGrid"))
        .Model(model => model.Id(p => p.Id))
        )
        )*@

                    <div id="kgrdNote"></div>
                    <div id="pager" class="k-pager-wrap"></div>

                    @Html.HiddenFor(x => x.Text)
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.Mode)
                    @Html.HiddenFor(x => x.NoteStatus)
                    @Html.HiddenFor(x => x.ModuleName)
                    @Html.HiddenFor(x => x.ModuleCode)
                    @Html.HiddenFor(x => x.UserId)
                    @Html.HiddenFor(x => x.ModuleId)
                    @Html.HiddenFor(x => x.PortalNames)
                </div>
            </div>
        </div>

    </div>
</div>
@*@(Html.Kendo().Dialog()
                                                                                            .Name("reason")
                                                                                            .Title("Reason")
                                                                                            .Content(string.Concat(
                                                                                            @Html.TextArea("CommentTemp", new { @class = "form-control hr-xx-large", @rows = "7" }),
                                                                                            @"<div style='display:none;color:red;' id='commentReq'></div>"
                                                                                            )
                                                                                            )
                                                                                            .Width(460)
                                                                                            .Height(350)
                                                                                            .Modal(true)
                                                                                            .Visible(false)
                                                                                            .Actions(actions =>
                                                                                            {
                                                                                                actions.Add().Text("Cancel");
                                                                                                actions.Add().Text("Save").Primary(true).Action("OnReasonSave");
                                                                                            })
                                                                                            .Events(ev => ev.Close("onDialogueClose").Open("onDialogueOpen"))
    )*@
<script type="text/x-kendo-tmpl" id="templateTask">
    <div>
        <div class="row" style="padding:3px" id="step-template-#=Id#">
            <div class="col-md-1">
                <img width="40" height="40" src="@Url.Content(String.Format("~/Images/S.png", "#=NoteOwnerFirstLetter#"))">
     @if (Model.RequestSource == "EmailTask")
    {
      @*@(Html.Kendo().RadioButton().Name("select-wbs").Checked(false).Label("")
     .HtmlAttributes(new { onchange = "OnSelectWBSItem(\"#:Id#\");",@style="margin-left:25px" })
      )*@
         <div class="form-check">
            <input class="form-check-input" type="radio" style="margin-left:25px" name="select-wbs" id="select-wbs" onchange="OnSelectWBSItem('#:Id#');">
        </div>
    }
            </div>
            <div class="col-md-7">
                <div class="edit-buttons">

                    <span class="fromcolor" style="color:darkblue; display: inline-block;" >#if(NoteSubject != null) {# #:NoteSubject# #} else{# 'NA' #}#</span>
                    @*<span class="fromcolor" style="font-size: 11px; color:gray; display: inline-block;">to</span>
                    <span class="fromcolor" style="font-size: 12px; color:darkblue; display: inline-block;" title="Assigned To">#=AssigneeDisplayName#</span>*@




                    <span style="border-radius:5px;padding:1px;background-color:lightgray; text-align:center;white-space:nowrap;
">#=NoteNo#</span>
                </div>

                <div class="edit-buttons">
                    <span style="font-family:Calibri" title="@Html.Raw(Resource["AssignedFrom"])">#=OwnerUserName#</span>
                    @*<a class="k-button" href="javascript:RenderTaskEdit(#:Id#);" title="Quick View"><span class="k-icon k-i-eye" style="font-size:12px"></span></a>
        <a class="k-button k-button-icontext" href="javascript:OpenTask(#:Id#, #:ServiceId#);" title="Classic View/Edit"><span class="k-icon k-i-edit" style="font-size:12px"></span></a>*@
                    <a class="k-button k-button-icontext" href="javascript:OpenNote('#:Id#','NoteStatusCode','#:TemplateMasterCode#');" title="@Html.Raw(Resource["ClassicView/Edit"])"><span class="fad fa-pen" style="color:dimgrey"></span></a>
                    <a class="k-button k-button-icontext" href="javascript:DeleteNote('#:Id#');" title="@Html.Raw(SharedResource["Delete"])"><span class="fad fa-trash" style="color:dimgrey"></span></a>

                </div>

                <div style="height: 100%;  width: 100%;  display: flex;  align-items: center;  justify-content: center;">
                    <img width="150" height="50" id="step-edit-loader-#=Id#" src="@Url.Content(String.Format("~/Images/loadingStep.gif"))" style="display:none">
                </div>
            </div>
            <div class="col-md-2">
                <div style="text-align:right; color:forestgreen;">#=NoteStatusName#</div>
                <div style="text-align:end; color:chocolate">#:ExpiryDateDisplay#</div>
            </div>

        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-top:5px !important">


    </div>
</script>
