@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@inject IStringLocalizer<Synergy.App.BLS.Areas.Controllers.BLSApplicationController> Resource
@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Microsoft.Extensions.Configuration;

@model BLSVisaAppointmentViewModel

@{
    ViewData["Title"] = "BLS Morocco Visa Appointment Form";
    Layout = null;
}


<script>

    function childAdd(e) {
        //debugger;
        //e.preventDefault();
        //let menu = document.querySelector('#childDiv');
        //let clonedMenu = menu.cloneNode(true);
        //clonedMenu.id = 'menu-mobile';
        //var x = document.getElementById('childrenDiv');
        //x.appendChild(clonedMenu);

    }

</script>

<div class="wrapper">
    <div class="page">
        <div class="page-inner">

            <header class="page-title-bar">
                <h4>Online Visa Application Form</h4>
                <p class="text-muted">
                    <span class="font-weight-bold">NOTE : </span>
                    Travel agency / customer can avail GST input credit if they fill the details regarding the same during filling the Online Visa Application Form.
                </p>
            </header>

            <div id="stepper" class="bs-stepper">
                <div class="card">

                    <div class="card-header">
                        <div class="steps steps-" role="tablist">
                            <ul>
                                <li class="step active" data-target="#test-l-1" data-validate="fieldset01">
                                    <a href="#" class="step-trigger" tabindex="-1" aria-selected="false">
                                        <span class="step-indicator step-indicator-icon"><i class="fa-solid fa-circle-arrow-right"></i></span>
                                        <span class="d-none d-sm-inline">Step 1</span>
                                    </a>
                                </li>
                                <li class="step" data-target="#test-l-2" data-validate="fieldset02">
                                    <a href="#" class="step-trigger" tabindex="-1" aria-selected="false">
                                        <span class="step-indicator step-indicator-icon"><i class="fa-solid fa-circle-arrow-right"></i></span>
                                        <span class="d-none d-sm-inline">Step 2</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> @*card header end*@

                    @*card body*@
                    <div class="card-body">
                        <form asp-controller="BLSApplication" asp-action="ManageBLSMoroccoVisaApplication" class="form-horizontal"
                              id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                              data-ajax="true" data-ajax-method="POST">

                            <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>

                            <div id="test-l-1" class="content fade active dstepper-block">
                                <fieldset>
                                    @*Fill At*@
                                    <div class="form-group mb-4">
                                        <div>
                                            <label for="loc">@Resource["Whereareyouapplyingfrom?"]<abbr title="Required">*</abbr></label>
                                            <input type="text" id="loc" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                        </div>
                                    </div>
                                    @*Fill By*@
                                    <div class="form-group my-4">
                                        <label class="d-block pr-4">@Resource["Areyouapplyingas?"]<abbr title="Required">*</abbr></label>
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" class="custom-control-input" name="rdGroup1" id="self" required />
                                            <label class="custom-control-label" for="self">@Resource["Self"]</label>
                                        </div>
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" class="custom-control-input" name="rdGroup1" id="travelAgent" />
                                            <label class="custom-control-label" for="travelAgent">@Resource["TravelAgent"]</label>
                                        </div>
                                    </div>

                                    <hr class="mt-5">
                                    @*Travel Agent details*@
                                    <div class="row-12" id="agentDetails">
                                        <h5>Travel Agent's Details</h5>
                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="agentName">@Resource["TravelAgentName"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="agentName" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="agentMobile">@Resource["Mobile"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="agentMobile" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="agentTelephone">@Resource["Telephone"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="agentTelephone" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="panNo">@Resource["PANNumber"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="panNo" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="gstIN">@Resource["GSTIN"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="gstIN" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="agentState">@Resource["State"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="agentState" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="agentCity">@Resource["City"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="agentCity" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="agentPincode">@Resource["Pincode"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="agentPincode" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label for="agentAddr1">@Resource["Address1"]<abbr title="Required">*</abbr></label>
                                            <input type="text" id="agentAddr1" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                        </div>

                                        <div class="form-group mb-4">
                                            <label for="agentAddr2">@Resource["Address2"]</label>
                                            <input type="text" id="agentAddr2" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                        </div>

                                    </div>

                                    <hr class="mt-5" />
                                    @*Applicant Details*@
                                    <div class="row-12">
                                        <h5>Applicant's Details</h5>

                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="firstName">@Resource["FirstName"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="firstName" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="familyName">@Resource["FamilyName"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="familyName" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="dob">@Resource["DateofBirth"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="dob" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="passportNo">@Resource["PassportNumber"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="passportNo" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="greenCardNo">@Resource["GreenCardNumber"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="greenCardNo" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="birthPlace">@Resource["Placeofbirth"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="birthPlace" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="birthCountry">@Resource["Countryofbirth"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="birthCountry" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mt-4">
                                            <label class="d-block pr-4">@Resource["Sex"]<abbr title="Required">*</abbr></label>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup2" id="male" required />
                                                <label class="custom-control-label" for="male">@Resource["Male"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup2" id="female" />
                                                <label class="custom-control-label" for="female">@Resource["Female"]</label>
                                            </div>
                                        </div>

                                        <div class="form-group my-4">
                                            <label class="d-block pr-4">@Resource["MaritalStatus"]<abbr title="Required">*</abbr></label>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup3" id="single" required />
                                                <label class="custom-control-label" for="single">@Resource["Single"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup3" id="married" />
                                                <label class="custom-control-label" for="married">@Resource["Married"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup3" id="separated" />
                                                <label class="custom-control-label" for="separated">@Resource["Separated"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup3" id="divorced" />
                                                <label class="custom-control-label" for="divorced">@Resource["Divorced"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup3" id="widow" />
                                                <label class="custom-control-label" for="widow">@Resource["Widow"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup3" id="other" />
                                                <label class="custom-control-label" for="other">@Resource["Other"]</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group mb-4 col-12 col-md-3 col-lg-3">
                                                <label for="otherStatus">@Resource["PleaseSpecify"]</label>
                                                <input type="text" id="otherStatus" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                            </div>

                                            <div class="form-group mb-4 col-12 col-md-3 col-lg-3">
                                                <label for="fatherName">@Resource["Father'sFullName"]<abbr title="Required">*</abbr></label>
                                                <input type="text" id="fatherName" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                            </div>
                                            <div class="form-group mb-4 col-12 col-md-3 col-lg-3">
                                                <label for="motherName">@Resource["Mother'sFullName"]<abbr title="Required">*</abbr></label>
                                                <input type="text" id="motherName" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                            </div>
                                        </div>


                                    </div>

                                    <hr class="mt-5" />
                                    @*Nationality*@
                                    <div class="row-12">
                                        <h5>Nationality</h5>
                                        <div class="row">
                                            <div class="form-group mb-4 col-12 col-md-6 col-lg-6">
                                                <label for="currNationality">@Resource["CurrentNationality"]<abbr title="Required">*</abbr></label>
                                                <input type="text" id="currNationality" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                            </div>
                                            <div class="form-group mb-4 col-12 col-md-6 col-lg-6">
                                                <label for="oriNationality">@Resource["OriginalNationality"]<abbr title="Required">*</abbr></label>
                                                <input type="text" id="oriNationality" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mt-5" />
                                    @*Profession*@
                                    <div class="row-12">
                                        <h5>Profession</h5>
                                        <div class="row">
                                            <div class="form-group mb-4 col-12 col-md-3 col-lg-3">
                                                <label for="profession">@Resource["Profession"]<abbr title="Required">*</abbr></label>
                                                <input type="text" id="profession" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mt-5" />
                                    @*Children Details*@
                                    <div class="row-12">
                                        <h5>Children</h5>
                                        <div id="childrenDiv">
                                            <div class="row border m-1 p-3" id="childDiv">
                                                <div class="form-group mb-4 col-12 col-md-4 col-lg-4">
                                                    <label>@Resource["FamilyName"]</label>
                                                    <input type="text" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                                </div>
                                                <div class="form-group mb-4 col-12 col-md-4 col-lg-4">
                                                    <label>@Resource["FirstName"]</label>
                                                    <input type="text" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                                </div>
                                                <div class="form-group mb-4 col-12 col-md-3 col-lg-3">
                                                    <label>@Resource["DateofBirth"]</label>
                                                    <input type="text" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                                </div>
                                                <div class="form-group mb-4 col-12 col-md-1 col-lg-1">
                                                    <label>@Resource["Action"]</label><br />
                                                    <button onclick="childAdd(event)" class="btn btn-danger"><i class="fa fa-circle-plus"></i></button>
                                                    @*add button*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mt-5" />
                                    @*Address Details*@
                                    <div class="row-12">
                                        <h5>Address Details</h5>
                                        <div class="form-group mb-4">
                                            <label for="citizenAddr1">@Resource["Address1"]<abbr title="Required">*</abbr></label>
                                            <input type="text" id="citizenAddr1" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="citizenAddr2">@Resource["Address2"]</label>
                                            <input type="text" id="citizenAddr2" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="citizenCity">@Resource["City"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="citizenCity" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="citizenState">@Resource["State"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="citizenState" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="ciitzenPincode">@Resource["Pincode"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="ciitzenPincode" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="citizenMobile">@Resource["Mobile"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="citizenMobile" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="citizenTelephone">@Resource["Telephone"]</label>
                                                    <input type="text" id="citizenTelephone" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <hr class="mt-5" />
                                    @*Document Info*@
                                    <div class="row-12">
                                        <h5>Document Info</h5>
                                        <div class="form-group my-4">
                                            <label class="d-block pr-4">@Resource["Typeoftraveldocument"]<abbr title="Required">*</abbr></label>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup4" id="ordinaryPass" required />
                                                <label class="custom-control-label" for="ordinaryPass">@Resource["OrdinaryPassport"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup4" id="servicePass" />
                                                <label class="custom-control-label" for="servicePass">@Resource["ServicePassportorequivalent"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup4" id="refugier" />
                                                <label class="custom-control-label" for="refugier">@Resource["Traveldocumentforrefugier"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup4" id="diplomat" />
                                                <label class="custom-control-label" for="diplomat">@Resource["DiplomatPassport"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup4" id="otherPass" />
                                                <label class="custom-control-label" for="otherPass">@Resource["Other"]</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="otherPassSpecify">@Resource["PleaseSpecify"]</label>
                                                    <input type="text" id="otherPassSpecify" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="serialNo">@Resource["SerialNumber"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="serialNo" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="issuedBy">@Resource["IssuedBy"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="issuedBy" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="dateOfIssue">@Resource["DateofIssue"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="dateOfIssue" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="validUntil">@Resource["ValidUntil"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="validUntil" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr class="mt-5" />
                                    @*Visa Details*@
                                    <div class="row-12">
                                        <h5>Visa Details</h5>
                                        <div class="form-group mb-4">
                                            <label for="purposeOfTravel">@Resource["PurposeofTravel"]<abbr title="Required">*</abbr></label>
                                            <input type="text" id="purposeOfTravel" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                        </div>

                                        <div class="form-group mt-4">
                                            <label class="d-block pr-4">@Resource["TypeofVisa"]<abbr title="Required">*</abbr></label>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup5" id="longVal" required />
                                                <label class="custom-control-label" for="longVal">@Resource["LongValidity"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup5" id="shortVal" />
                                                <label class="custom-control-label" for="shortVal">@Resource["ShortValidity"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup5" id="transit" />
                                                <label class="custom-control-label" for="transit">">@Resource["Transit"]</label>
                                            </div>
                                        </div>

                                        <div class="form-group my-4">
                                            <label class="d-block pr-4">@Resource["NumberofEntries"]<abbr title="Required">*</abbr></label>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup6" id="singleEntry" required />
                                                <label class="custom-control-label" for="singleEntry">@Resource["SingleEntry"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup6" id="twoEntry" />
                                                <label class="custom-control-label" for="twoEntry">@Resource["TwoEntries"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="rdGroup6" id="mulEntry" />
                                                <label class="custom-control-label" for="mulEntry">@Resource["MultipleEntries"]</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="stayDays">@Resource["DurationofStayNumberofdays"]<abbr title="Required">*</abbr></label>
                                                    <input type="number" id="stayDays" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="arrDate">@Resource["ArrivalDate"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="arrDate" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="departDate">@Resource["DepartureDate"]</label>
                                                    <input type="text" id="departDate" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="entryType">@Resource["BorderofEntryORTransitRoute"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="entryType" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="transportType">@Resource["MeanofTransport"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="transportType" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mt-5" />
                                    @*Previous Visas*@
                                    <div class="row-12">
                                        <h5>Previous Visas</h5>
                                        <div class="row border m-1 p-3" id="childVisaDiv">
                                            <div class="form-group mb-4 col-12 col-md-2 col-lg-2">
                                                <label>@Resource["Date"]</label>
                                                <input type="text" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                            </div>
                                            <div class="form-group mb-4 col-12 col-md-3 col-lg-3">
                                                <label>@Resource["Number"]</label>
                                                <input type="text" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                            </div>
                                            <div class="form-group mb-4 col-12 col-md-3 col-lg-3">
                                                <label>@Resource["PlaceofIssue"]</label>
                                                <input type="text" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                            </div>
                                            <div class="form-group mb-4 col-12 col-md-3 col-lg-3">
                                                <label>@Resource["DurationofIssue"]</label>
                                                <input type="text" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                            </div>
                                            <div class="form-group mb-4 col-12 col-md-1 col-lg-1">
                                                <label>@Resource["Action"]</label><br />
                                                <button onclick="previousVisa()" class="btn btn-danger"><i class="fa fa-circle-plus"></i></button>
                                                @*add button*@
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mt-5" />
                                    @*Host or Host Company or Temporary Address in Morocco*@
                                    <div class="row-12">
                                        <h5>Host or Host Company or Temporary Address in Morocco</h5>
                                        <div class="form-group my-4">
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="hostType" id="host" required />
                                                <label class="custom-control-label" for="host">@Resource["Host"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="hostType" id="hostCompany" />
                                                <label class="custom-control-label" for="hostCompany">@Resource["HostCompany"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="hostType" id="tempAddr" />
                                                <label class="custom-control-label" for="tempAddr">@Resource["TemporaryAddressinMorocco"]</label>
                                            </div>
                                        </div>

                                        <div class="row-12">
                                            <div class="form-group mb-4">
                                                <label for="morAddr1">@Resource["Address1"]<abbr title="Required">*</abbr></label>
                                                <input type="text" id="morAddr1" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                            </div>
                                        </div>

                                        <div class="row-12">
                                            <div class="form-group mb-4">
                                                <label for="morAddr2">@Resource["Address2"]</label>
                                                <input type="text" id="morAddr2" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="hostName">@Resource["Name"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="hostName" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="hostCity">@Resource["HostCity/State"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="hostCity" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="hostPincode">@Resource["Pincode"]<abbr title="Required">*</abbr></label>
                                                    <input type="text" id="hostPincode" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="hostTelephone">@Resource["Telephone"]</label>
                                                    <input type="text" id="hostTelephone" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="hostFax">@Resource["Fax"]</label>
                                                    <input type="text" id="hostFax" class="form-control" autocomplete="off" data-parsley-group="fieldset01" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="hostEmail">@Resource["Email"]<abbr title="Required">*</abbr></label>
                                                    <input type="email" id="hostEmail" class="form-control" autocomplete="off" data-parsley-group="fieldset01" required />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr class="mt-5" />
                                    @*Other Details*@
                                    <div class="row-12">
                                        <h5>Other Details</h5>
                                        <div class="form-group my-4">
                                            <label class="pr-4">@Resource["Whoispaying"]<abbr title="Required">*</abbr></label>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payPerson" id="selfPay" required />
                                                <label class="custom-control-label" for="selfPay">@Resource["Self"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payPerson" id="hostPay" />
                                                <label class="custom-control-label" for="hostPay">@Resource["Host(s)"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payPerson" id="hostCompPay" />
                                                <label class="custom-control-label" for="hostCompPay">@Resource["HostCompany"]</label>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group my-4">
                                            <label class="pr-4">@Resource["Financialmeansusedduringyourstay"]<abbr title="Required">*</abbr></label>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payType" id="money" required />
                                                <label class="custom-control-label" for="money">@Resource["Money"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payType" id="cheques" />
                                                <label class="custom-control-label" for="cheques">@Resource["TravellerCheques"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payType" id="creditCard" />
                                                <label class="custom-control-label" for="creditCard">@Resource["CreditCard"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payType" id="accomodation" required />
                                                <label class="custom-control-label" for="accomodation">@Resource["Accomodation"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payType" id="travelInsurance" />
                                                <label class="custom-control-label" for="travelInsurance">@Resource["TravelInsurance"]</label>
                                            </div>
                                            <div class="custom-control custom-control-inline custom-radio">
                                                <input type="radio" class="custom-control-input" name="payType" id="otherPayType" />
                                                <label class="custom-control-label" for="otherPayType">@Resource["Others"]</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group mb-4">
                                                    <label for="payTypeOtherSpecify">@Resource["Others"]<abbr title="Required">*</abbr></label>
                                                    @*make required when show*@
                                                    <input type="text" id="payTypeOtherSpecify" class="form-control" autocomplete="off" data-parsley-group="fieldset01"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mt-5" />

                                    <div class="d-flex">
                                        <button type="button" class="next btn btn-primary ml-auto" data-validate="fieldset01">@Resource["Nextstep"]</button>
                                    </div>
                                </fieldset>
                            </div>

                            <div id="test-l-2" class="content dstepper-none fade">
                                <!-- fieldset -->
                                <fieldset>
                                    <legend>Personal Information</legend> <!-- .row -->
                                    <div class="row">
                                        <!-- grid column -->
                                        <div class="col-md-6 mb-4">
                                            <div class="form-label-group">
                                                <input type="text" id="firstName" class="form-control" name="firstName" value="Beni" data-parsley-group="fieldset02" required=""> <label for="firstName">@Resource["FirstName"]</label>
                                            </div>
                                            <div class="invalid-feedback"> Valid first name is required. </div>
                                        </div><!-- /grid column -->
                                        <!-- grid column -->
                                        <div class="col-md-6 mb-4">
                                            <div class="form-label-group">
                                                <input type="text" id="lastName" class="form-control" name="lastName" value="Arisandi" data-parsley-group="fieldset02" required=""> <label for="lastName">@Resource["LastName"]</label>
                                            </div>
                                            <div class="invalid-feedback"> Valid last name is required. </div>
                                        </div><!-- /grid column -->
                                    </div><!-- /.row -->
                                    <!-- .form-group -->
                                    <div class="form-group mb-4">
                                        <div class="form-label-group">
                                            <input type="text" id="address" class="form-control" name="address" value="5888 Mya Causeway" data-parsley-group="fieldset02" placeholder="Address" required=""> <label for="address">@Resource["Address"]</label>
                                        </div>
                                        <div class="invalid-feedback"> Please enter your shipping address. </div>
                                    </div><!-- /.form-group -->
                                    <!-- .form-group -->
                                    <div class="form-group mb-4">
                                        <div class="form-label-group">
                                            <input type="text" id="address2" class="form-control" name="address2" value="Apartment 185" placeholder="Apt. or suite"> <label for="address2">@Resource["Apartmentorsuite"]<span class="badge badge-secondary"><em>@Resource["Optional"]</em></span></label>
                                        </div>
                                    </div><!-- /.form-group -->
                                    <!-- .row -->
                                    <div class="row">
                                        <!-- grid column -->
                                        <div class="col-md-3 mb-4">
                                            <div class="form-label-group">
                                                <input type="text" id="zip" class="form-control" name="zip" value="97729" data-parsley-group="fieldset02" required=""> <label for="zip">@Resource["Zip"]</label>
                                            </div>
                                            <div class="invalid-feedback"> Zip code required. </div>
                                        </div><!-- /grid column -->
                                        <!-- grid column -->
                                        <div class="col-md-5 mb-4">
                                            <select id="country" class="custom-select custom-select-lg d-block w-100" name="country" data-parsley-group="fieldset02" required="">
                                                <option value=""> Choose... </option>
                                                <option selected=""> United States </option>
                                            </select>
                                            <div class="invalid-feedback"> Please select a valid country. </div>
                                        </div><!-- /grid column -->
                                        <!-- grid column -->
                                        <div class="col-md-4 mb-4">
                                            <select id="state" class="custom-select custom-select-lg d-block w-100" name="state" data-parsley-group="fieldset02" required="">
                                                <option value=""> Choose... </option>
                                                <option selected=""> California </option>
                                            </select>
                                            <div class="invalid-feedback"> Please provide a valid state. </div>
                                        </div><!-- /grid column -->
                                    </div><!-- /.row -->
                                    <hr class="mt-5">
                                    <div class="d-flex">
                                        <button type="button" class="prev btn btn-secondary">Previous</button> <button type="button" class="next btn btn-primary ml-auto" data-validate="fieldset02">@Resource["Nextstep"]</button>
                                    </div>
                                </fieldset><!-- /fieldset -->
                            </div>

                        </form>

                    </div>


                </div>
            </div>

        </div>
    </div>
</div>