@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@inject IStringLocalizer<Synergy.App.BLS.Areas.Controllers.BLSApplicationController> Resource
@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@using Microsoft.Extensions.Configuration

@model BLSVisaAppointmentViewModel

@{
    ViewData["Title"] = "Visa Application Details";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = "~/Areas/Core/Views/Shared/Themes/Looper/_Layout.cshtml";
}

<style>
    
    .blsmain {
        margin: 25px;
        background-color: #F8F8F8;
        border-radius: 1rem;
        padding: 20px;
    }

    .avatar-myProfile {
        border-radius: 10%;
        height: 120px;
        width: 120px;
    }
    .form-label {
        color: #363642 !important;
    }
</style>

<script> 
        
    function OnSubmit(e) {
        ShowLoader($('#visaForm'));

        var api = '@configuration.GetValue(typeof(string),"WebApiUrl")';
        var url = api + "egov/query/GetMapMarkerDetails";
        $.ajax({
            url: url,
            type: 'GET',
            async: true,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                debugger;
                if (data.length > 0) {
                    Update();

                    //ShowNotification("Visa Application Has Forwarded To MOFA For Approval", "success");
                    //HideLoader($('#visaForm'));
                }
            }
        });

    }

    function Update() {
        ShowLoader($('#appWrapper'));
        $("#FrwdBtn").prop("disabled", true);
        $.ajax({
            url: "/BLS/BLSApplication/UpdateVisaApprovalDetails?serviceId=@Model.ServiceId",
            type: 'POST',
            dataType: "json",
            success: function (res) {                
                debugger;

                if (res.success) {
                    ShowNotification("Visa Application Is Forwarded To MOFA For Approval", "success");
                    HideLoader($('#appWrapper'));

                    var win = GetMainWindow();
                    win.parent.HideButton();
                }
            }
        });

    }

    function OnClose() {
        debugger;
        var win = GetMainWindow();
        win.CloseWindow({ MethodName:"HideButton"});
        return false;
    }

</script>


<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="jumbotron" style="max-width:700px;margin:auto;">
                <h5 class="text-center">@ViewData["Title"]</h5>
                <hr />
                <div class="row pb-3">
                    <div class="col-4 text-center">                        
                    </div>
                    <div class="col-4 text-center">
                        <img class="avatar-myProfile" src="/cms/Document/GetImageMongo?id=@Model.PhotoId" onerror='OnPhotoError(this);' />
                    </div>
                    <div class="col-4 text-center">                        
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">@Resource["FileNumber"]</label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label form-label">@Model.FileNumber</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">@Resource["FirstName"]</label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label form-label">@Model.FirstName</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">@Resource["Surname"]</label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label form-label">@Model.SurName</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">@Resource["SurnameAtBirth"]</label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label form-label">@Model.SurnameAtBirth</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">@Resource["DateofBirth"]</label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label form-label">@Model.DateOfBirth.Value.ToString(ApplicationConstant.DateAndTime.DefaultJqueryDateFormat)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">@Resource["Countryofbirth"]</label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label form-label">@Model.CountryOfBirth</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">@Resource["Nationality"]</label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label form-label">@Model.NationalityName</label>
                    </div>
                </div>                
            </div>

            <div class="row" style="padding:10px">
                <div class="col-12 pad-10" style="text-align:center">
                    <button type="button" class="btn btn-secondary" onclick="OnClose();">@Resource["Close"]</button>
                    <button type="button" id="FrwdBtn" class="btn btn-primary" onclick="Update(event);">@Resource["Submit"]</button>
                </div>
            </div>            
            @Html.HiddenFor(x => x.ServiceId)

        </div>
    </div>
</div>




