@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@inject IStringLocalizer<Synergy.App.BLS.Areas.Controllers.BLSApplicationController> Resource
@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@using Microsoft.Extensions.Configuration

@model BLSVisaAppointmentViewModel

@{
    ViewData["Title"] = "QR Code Generation";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = "~/Areas/Core/Views/Shared/Themes/Looper/_Layout.cshtml";
}

<style>
    
    .blsmain {
        margin: 25px;
        background-color: #F8F8F8;
        border-radius: 1rem;
        padding: 20px;
    }

    .avatar-myProfile {
        border-radius: 10%;
        height: 120px;
        width: 120px;
    }
    .form-label {
        color: #363642 !important;
    }
</style>

<script>


    $(document).ready(function () {

        $.ajax({
            url: "/Home/GenerateBarCodeImageId?data=@ViewBag.ServiceId&type=@QRCodeTypeEnum.CODE_128&referenceType=@ReferenceTypeEnum.NTS_Service&referenceId=@ViewBag.ServiceId",
            type: 'GET',
            dataType: "json",
            success: function (res) {
                debugger;
                var srcurl = "/cms/Document/GetImageMongo?id=" + res;
                $("#pic1").attr("src", srcurl);
                $("#pic2").attr("src", srcurl);
                $("#pic3").attr("src", srcurl);
                $("#pic4").attr("src", srcurl);
                $("#pic5").attr("src", srcurl);
                $("#pic6").attr("src", srcurl);
            }
        });

    });

    function OnSubmit(e) {
        ShowLoader($('#visaForm'));

        var api = '@configuration.GetValue(typeof(string),"WebApiUrl")';
        var url = api + "egov/query/GetMapMarkerDetails";
        $.ajax({
            url: url,
            type: 'GET',
            async: true,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                debugger;
                if (data.length > 0) {
                    Update();

                    //ShowNotification("Visa Application Has Forwarded To MOFA For Approval", "success");
                    //HideLoader($('#visaForm'));
                }
            }
        });

    }

    function Update() {
        ShowLoader($('#appWrapper'));
        $("#FrwdBtn").prop("disabled", true);
        $.ajax({
            url: "/BLS/BLSApplication/UpdateVisaApprovalDetails?serviceId=@ViewBag.ServiceId",
            type: 'POST',
            dataType: "json",
            success: function (res) {
                debugger;

                //if (res.success) {
                //    ShowNotification("Visa Application Is Forwarded To MOFA For Approval", "success");
                //    HideLoader($('#appWrapper'));

                //    var win = GetMainWindow();
                //    win.HideButton();
                //}
            }
        });

    }

    function OnClose() {
        debugger;
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

</script>


<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="jumbotron" style="max-width:700px;margin:auto;">
                <h5 class="text-center">@ViewData["Title"]</h5>
                <hr />
                <div class="row pb-3">
                    <div class="col-4 text-center">
                    </div>
                    <div class="col-4 text-center">
                        <img class="avatar-myProfile" id="pic1" src="" onerror='OnPhotoError(this);' />
                    </div>
                    <div class="col-4 text-center">
                    </div>
                </div>
                <hr />
                <div class="row pb-3">
                    <div class="col-4 text-center">
                    </div>
                    <div class="col-4 text-center">
                        <img class="avatar-myProfile" id="pic2" src="" onerror='OnPhotoError(this);' />
                    </div>
                    <div class="col-4 text-center">
                    </div>
                </div>
                <hr />
                <div class="row pb-3">
                    <div class="col-4 text-center">
                    </div>
                    <div class="col-4 text-center">
                        <img class="avatar-myProfile" id="pic3" src="" onerror='OnPhotoError(this);' />
                    </div>
                    <div class="col-4 text-center">
                    </div>
                </div>
                <hr />
                <div class="row pb-3">
                    <div class="col-4 text-center">
                    </div>
                    <div class="col-4 text-center">
                        <img class="avatar-myProfile" id="pic4" src="" onerror='OnPhotoError(this);' />
                    </div>
                    <div class="col-4 text-center">
                    </div>
                </div>
                <hr />
                <div class="row pb-3">
                    <div class="col-4 text-center">
                    </div>
                    <div class="col-4 text-center">
                        <img class="avatar-myProfile" id="pic5" src="" onerror='OnPhotoError(this);' />
                    </div>
                    <div class="col-4 text-center">
                    </div>
                </div>
                <hr />
                <div class="row pb-3">
                    <div class="col-4 text-center">
                    </div>
                    <div class="col-4 text-center">
                        <img class="avatar-myProfile" id="pic6" src="" onerror='OnPhotoError(this);' />
                    </div>
                    <div class="col-4 text-center">
                    </div>
                </div>
                <hr />

            </div>

            <div class="row" style="padding:10px">
                <div class="col-12 pad-10" style="text-align:center">
                    <button type="button" class="btn btn-secondary" onclick="OnClose();">@Resource["Close"]</button>
                    <button type="button" id="FrwdBtn" class="btn btn-primary" onclick="Update(event);">@Resource["Submit"]</button>
                </div>
            </div>            
            @Html.HiddenFor(x => x.ServiceId)

        </div>
    </div>
</div>




