@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model LegalEntityViewModel

@{
    ViewData["Title"] = "My Appointments";
    Layout = null;
}
<script>

    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

    var columnDefs = [
        //{
        //    headerName: "Actions",
        //    field: "Id",
        //    cellRenderer: params => {
        //        return "<div class='btn-group grid-menu' id='tree-menu1' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\" ><i class='fas fa-ellipsis-v'></i></div>"
        //    }
        //},
        {
            field: "ServiceNo", headerName: "Appointment No"
        },
        {
            field: "LocationName", headerName: "Center Name"
        },
        {
            field: "VisaTypeName", headerName: "Visa Type"
        },
        {
            field: "AppointmentCategoryName", headerName: "Category"
        },
        {
            field: "AppointmentDate",
            cellRenderer: params => {
                return moment(params.value).format('@ApplicationConstant.DateAndTime.DefaultJqueryDateFormatForMoment');
            }
        },
        {
            field: "CurrentContactNumber", headerName: "Phone No"
        },
        {
            field: "ApplicantEmail", headerName: "Email"
        },
        {
            field: "AppointmentStatusName", headerName: "Appointment Status"
        },
        {
            field: "ApplicantsNo", headerName: "No Of Applicants"
        },
        {
            field: "VisaApplicationServiceId", headerName: "Application",
            cellRenderer: params => {
                //if (params.value != null && params.value != "") {
                //    if (params.data.ApplicationStatusCode == "BLS_APPLICATION_DRAFTED" || params.data.ApplicationStatusCode == "BLS_APPLICATION_UPDATED") {
                //        return "<a style='cursor:pointer;color:blue;' href='javascript:EditService(\"" + params.data.VisaApplicationServiceId + "\",\"" + params.data.VisaApplicationServiceTemplateCode + "\");'>Manage Application</a>";
                //    }
                //} else if (params.data.AppointmentStatusCode != "BLS_APPOINTMENT_CANCELED") {
                //    return "<a style='cursor:pointer;color:blue;' href='javascript:CreateService(\"" + params.data.Id + "\",\"" + params.data.SurName + "\",\"" + params.data.GivenName + "\",\"" + params.data.DateOfBirth + "\",\"" + params.data.ApplicantEmail + "\",\"" + params.data.CurrentContactNumber + "\"  );'>Create Application</a>";
                //}
                return "<a style='cursor:pointer;color:blue;' href='javascript:FillApplication(\"" + params.data.VisaAppointmentServiceId + "\");'>Manage Application</a>";
            }
        },
        //{
        //    field: "ApplicationId", headerName: "Re-Print Appointment Letter",
        //},
        //{
        //    field: "ApplicationId", headerName: "Reschedule Appointment",
        //},
        //{
        //    field: "ApplicationId", headerName: "Cancel Appointment",
        //},

    ];

    $(function () {

        getLegalEntityByLocationData();

        $.contextMenu({
            selector: '#tree-menu1',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');
                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        OnEditLegalEntity(id);
                                        break;

                                    case 'delete':
                                        OnDeleteLegalEntity(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },
                            }
                        };
                }
            }
        });
    });

    function getLegalEntityByLocationData() {
        document.getElementById("MyAppointmentsGrid").innerHTML = "";
        gridConfig(
            "MyAppointmentsGrid",
            "/bls/blsapplication/ReadMyAppointmentsList",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function EditService(Id, templateCode) {
        debugger;
        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&source=Edit&dataAction=Edit&templateCodes=' + templateCode +'&portalId=' + portalId + '&recordId=' + Id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage Application', Width: 1200, Height: 700 });
        return false;
    }

    function CreateService(appId, sname, gname, dob, email, contNo) {
        debugger;
        var portalId = $('#GlobalPortalId').val();

        //var prms = encodeURIComponent('parentServiceId=' + '&sequenceOrder=' + order);
        var udfs = encodeURIComponent('AppointmentId=' + appId + '&Surname=' + sname + '&FirstName=' + gname + '&ApplicantsEmailId=' + email + '&DateOfBirth=' + dob + '&ApplicationStatusId=@ViewBag.ApplicationStatus&=TelephoneNo'+contNo);
        var roudfs = encodeURIComponent('AppointmentId=true');

        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&pageType=Service&source=Create&dataAction=Create&templateCodes=BLS_VISA_SCHENGEN&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Create Application', Width: 1200, Height: 700 });
        return false;
    }

    function FillApplication(serId) {
        var url = '/bls/blsapplication/FillVisaApplicationList?serviceId=' + serId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Fill Visa Application', Width: 1000, Height: 700 });
        return false;
    }
</script>

<script>

        function OnDeleteLegalEntity(id) {
        var flag = confirm('Do you really want to delete the location?');        

        if (flag) {
            $.ajax({
                url: '@Url.Action("DeleteLegalEntityByLocation", "LegalEntity", new { @area = "Cms" })?Id=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        getLegalEntityByLocationData();
                        kendo.alert("Location Deleted Successfully.");
                    } else {
                        getLegalEntityByLocationData();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    getLegalEntityByLocationData();
                }
            });
            return false;
        }
    }

    function OnCreateLegalEntity() {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ManageLegalEntityByLocation", "LegalEntity", new { @area="Cms"})';
        win.OpenWindow({ Title: 'Manage Location', Width: 450, Height: 700 });
        return false;
    }

    function OnEditLegalEntity(id) {
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("ManageLegalEntityByLocation", "LegalEntity", new { @area="Cms"})?Id=' + id;
        win.OpenWindow({ Title: 'Manage Location', Width: 450, Height: 700 });
        return false;
    }

</script>

<style>
    .row{
        margin-left:0px;
        margin-right:0px;
        padding:5px;
    }
</style>


<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <h4>@ViewBag.Title</h4>
            <br />
            <div class="row">
                <div class="col-12">
                    @*<button type='button' class='btn btn-primary' onclick='OnCreateLegalEntity();'><i class='fa fas fa-plus'></i>&nbsp;Create</button>
                <br /><br />*@
                    <div id="MyAppointmentsGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                </div>
            </div>
        </div>
    </div>
</div>

