@using CMS.UI.ViewModel;
@using CMS.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Portal";
    //Layout = null;
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@inject CMS.Common.IUserContext _userContext
@model NoteTemplateViewModel

<style>
    .cms-manageportal-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 75%;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-myiconimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybgimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-pickerleft {
        width: 50%;
        float: left;
        padding-bottom: 15px;
    }

    .pad-5 {
        padding-top: 10px;
    }
</style>

<script>

    function formTypeChange() {
        var data = $("#FormType").data("kendoDropDownList").value();
        debugger;
        jsonObj = JSON.parse(JSON.stringify(builder.instance.schema, null, 4));
        console.log(data);
        if (data == "Form") {
            //form
            jsonObj.display = "form";
        } else if (data == "Wizard") {
            //Wizard
            jsonObj.display = "wizard";
        }

        builder = new Formio.FormBuilder(document.getElementById("builder"), jsonObj, {
            builder: {
                custom: {
                    title: 'Chart',
                    weight: 10,
                    components: {
                        chartjs: {
                            title: 'Chart',
                            key: 'chartJS',
                            icon: 'terminal',
                            schema: {
                                label: 'Chart JS',
                                type: 'htmlelement',
                                key: 'chartJs',
                                input: true
                            }
                        },
                    }
                },

            }
        });
    }

</script>

<script>
    function onFileUploadSuccessBanner(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-mybannerimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#BannerFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onFileUploadSuccessIcon(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-myiconimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#IconFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onFileUploadSuccessBackground(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-mybgimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#BackgroundFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onBackgroundDel() {
        //
        //        alert("Banner Delete");
        $(".style-mybgimage").attr("src", "/images/200.png");
        $("#BackgroundFileId").val('');
        //var bgupload = $("#files3").data("kendoUpload");
        ////console.log(logoupload);
        //bgupload.clearFile(function (file) { return true; });

        $("#bgiconFile").dmUploader("reset");
    }
    function onBannerDel() {
        //
        //        alert("Banner Delete");
        $(".style-mybannerimage").attr("src", "/images/200.png");
        $("#BannerFileId").val('');
        //var bannerupload = $("#files2").data("kendoUpload");
        ////console.log(bannerupload);
        //bannerupload.clearFile(function (file) { return true; });

        $("#bannericonFile").dmUploader("reset");
    }

    function onIconDel() {
        //
        //        alert("Banner Delete");
        $(".style-myiconimage").attr("src", "/images/200.png");
        $("#IconFileId").val('');
        //var iconupload = $("#files1").data("kendoUpload");
        ////console.log(bannerupload);
        //iconupload.clearFile(function (file) { return true; });
        $("#iconFile1").dmUploader("reset");
    }

</script>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;" id="note-template">
    <form asp-controller="Template" asp-action="ManageNote" method="post" data-ajax-begin="onManageoteAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onManageoteAjaxFailed" data-ajax-success="onManageoteAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div id="validation-summarynote" class="text-danger" asp-validation-summary="All"></div>
        <div class="row pad-5">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableIndexPage).Label("Enable Index Page"))*@
                <input type="checkbox" asp-for="EnableIndexPage" id="EnableIndexPage" />
                <label>Enable Index Page</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableNoteNumberManual).Label("Enable Note Number Manual"))*@
                <input type="checkbox" asp-for="EnableNoteNumberManual" id="EnableNoteNumberManual" />
                <label>Enable Note Number Manual</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableAttachment).Label("Enable Attachment"))*@
                <input type="checkbox" asp-for="EnableAttachment" id="EnableAttachment" />
                <label>Enable Attachment</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableComment).Label("Enable Comment"))*@
                <input type="checkbox" asp-for="EnableComment" id="EnableComment" />
                <label>Enable Comment</label>
            </div>
        </div>
        <div class="row pad-5">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableSaveAsDraft).Label("Save As Draft Text"))*@
                <input type="checkbox" asp-for="EnableSaveAsDraft" id="EnableSaveAsDraft" />
                <label>Save As Draft Text</label>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="SaveAsDraftText" type="text" placeholder="Save As Draft Text" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="SaveAsDraftText">Save As Draft Text</label>
                </div>

            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="SaveAsDraftCss" type="text" placeholder="Save As Draft CSS" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="SaveAsDraftCss">Save As Draft Css</label>
                </div>

            </div>
            @*<div class="col-3">
                <input asp-for="SaveAsDraftText" type="text" placeholder="Save As Draft Text" class="form-control" autocomplete="off" style="width:100%" />
            </div>

            <div class="col-3">
                <input asp-for="SaveAsDraftCss" type="text" placeholder="Save As Draft CSS" class="form-control" autocomplete="off" style="width:100%" />
            </div>*@
        </div>

        <div class="row pad-5">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableBackButton).Label("Enable Back Button"))*@
                <input type="checkbox" asp-for="EnableBackButton" id="EnableBackButton" />
                <label>Enable Back Button</label>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="BackButtonText" type="text" placeholder="Back Button Text" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="BackButtonText">Back Button Text</label>
                </div>

            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="BackButtonCss" type="text" placeholder="Back Button CSS" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="BackButtonCss">Back Button CSS</label>
                </div>

            </div>
            @*<div class="col-3">
                <input asp-for="BackButtonText" type="text" placeholder="Back Button Text" class="form-control" autocomplete="off" style="width:100%" />
            </div>
            <div class="col-3">
                <input asp-for="BackButtonCss" type="text" placeholder="Back Button CSS" class="form-control" autocomplete="off" style="width:100%" />
            </div>*@
        </div>
        <div class="row  pad-5">
            <div class="col-3">
                <input asp-for="EnableCancelButton" type="checkbox" style="margin-right:5px;" />
                <label>Enable Cancel Button</label>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="CancelButtonText" type="text" placeholder="Cancel Button Text" class="form-control" />
                    <label for="CancelButtonText">CancelButtonText</label>
                </div>

            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="CancelButtonCss" type="text" placeholder="Cancel Button Css" class="form-control" />
                    <label for="CancelButtonCss">Cancel Button Css</label>
                </div>

            </div>

        </div>
        <div class="row pad-5">
            <div class="col-3">
                <input asp-for="IsCompleteReasonRequired" type="checkbox" style="margin-right:5px;" />
                <label>Complete Reason Required?</label>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="CompleteButtonText" type="text" placeholder="Complete Button Text" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="CompleteButtonText">Complete Button Text</label>
                </div>

            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="CompleteButtonCss" type="text" placeholder="Complete Button CSS" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="CompleteButtonCss">Complete Button CSS</label>
                </div>

            </div>
            @*<div class="col-3">
                <input asp-for="CompleteButtonText" type="text" placeholder="Complete Button Text" class="form-control" autocomplete="off" style="width:100%" />
            </div>
            <div class="col-3">
                <input asp-for="CompleteButtonCss" type="text" placeholder="Complete Button CSS" class="form-control" autocomplete="off" style="width:100%" />
            </div>*@
        </div>
        <div class="row pad-5">
            <div class="col-3">
                <input asp-for="IsSubjectMandatory" type="checkbox" style="margin-right:5px;" />
                <label>Is Subject Mandatory</label>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="SubjectText" type="text" placeholder="Subject Text" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="SubjectText">Subject Text</label>
                </div>
            </div>

        </div>
        <div class="row pad-5">
            <div class="col-3">
                <input asp-for="IsSubjectUnique" type="checkbox" style="margin-right:5px;" />
                <label>Is Subject Unique</label>
            </div>
            <div class="col-3">
                @*<div class="form-label-group">
                    <input asp-for="DescriptionText" type="text" placeholder="Description Label" class="form-control" />
                    <label for="DescriptionText">Description Label</label>
                </div>*@
            </div>
        </div>
        <div class="row pad-5">
            <div class="col-3">
                <input asp-for="IsDescriptionMandatory" type="checkbox" style="margin-right:5px;" />
                <label>Is Description Mandatory</label>
            </div>

            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="DescriptionText" type="text" placeholder="Description Text" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="DescriptionText">Description Text</label>
                </div>
            </div>
        </div>
        <div class="row pad-5">
            <div class="col-3">
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="NoteNoText" type="text" placeholder="Note No Text" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="NoteNoText">Note No Text</label>
                </div>
            </div>
        </div>
        <div class="row pad-5">
            <div class="col-3">
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="OwnerUserText" type="text" placeholder="Owner User Text" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="OwnerUserText">Owner User Text</label>
                </div>

            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="RequestedByUserText" type="text" placeholder="Requested By User Text" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="RequestedByUserText">Requested By User Text</label>
                </div>
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <input asp-for="EnablePrintButton" type="checkbox" style="margin-right:5px;" />
                <label>Enable Print Button</label>
            </div>
            <div class="col-3">
                <div class="form-label-group">
                    <input asp-for="PrintButtonText" type="text" placeholder="Print Button Text" class="form-control" />
                    <label for="PrintButtonText">Print Button Text</label>
                </div>
            </div>
        </div>

        <div class="row pad-5">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideHeader).Label("Hide Header").HtmlAttributes(new { onchange= "hideNoteHeader();" }))*@
                <input type="checkbox" asp-for="HideHeader" id="HideHeader" onchange="hideNoteHeader();" />
                <label>Hide Header</label>
            </div>
            <div class="col-3" id="hideSubject">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideSubject).Label("Hide Subject"))*@
                <input type="checkbox" asp-for="HideSubject" id="HideSubject" />
                <label>Hide Subject</label>
            </div>
            <div class="col-3" id="hideDescription">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideDescription).Label("Hide Description"))*@
                <input type="checkbox" asp-for="HideDescription" id="HideDescription" />
                <label>Hide Description</label>
            </div>
            <div class="col-3" id="hideStartDate">
                @* @(Html.Kendo().CheckBoxFor(m=>m.HideStartDate).Label("Hide Start Date"))*@
                <input type="checkbox" asp-for="HideStartDate" id="HideStartDate" />
                <label>Hide Start Date</label>
            </div>
        </div>
        <div class="row pad-5">
            <div class="col-3" id="hideExpiryDate">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideExpiryDate).Label("Hide Expiry Date"))*@
                <input type="checkbox" asp-for="HideExpiryDate" id="HideExpiryDate" />
                <label>Hide Expiry Date</label>
            </div>
            <div class="col-3" id="hidePriority">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HidePriority).Label("Hide Priority"))*@
                <input type="checkbox" asp-for="HidePriority" id="HidePriority" />
                <label>Hide Priority</label>
            </div>
            <div class="col-3" id="hideToolbar">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideToolbar).Label("Hide Toolbar"))*@
                <input type="checkbox" asp-for="HideToolbar" id="HideToolbar" />
                <label>Hide Toolbar</label>
            </div>
            <div class="col-3" id="hideBanner">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideBanner).Label("Hide Banner"))*@
                <input type="checkbox" asp-for="HideBanner" id="HideBanner" />
                <label>Hide Banner</label>
            </div>
        </div>
        <div class="row pad-5">
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.AllowPastStartDate).Label("Allow Past StartDate"))*@
                <input type="checkbox" asp-for="AllowPastStartDate" id="AllowPastStartDate" />
                <label>Allow Past StartDate</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.HideOwner).Label("Hide Owner"))*@
                <input type="checkbox" asp-for="HideOwner" id="HideOwner" />
                <label>Hide Owner</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.IsNumberNotMandatory).Label("Is Number Not Mandatory "))*@
                <input type="checkbox" asp-for="IsNumberNotMandatory" id="IsNumberNotMandatory" />
                <label>Is Number Not Mandatory</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnableLegalEntityFilter).Label("Enable LegalEntity Filter"))*@
                <input type="checkbox" asp-for="EnableLegalEntityFilter" id="EnableLegalEntityFilter" />
                <label>Enable LegalEntity Filter</label>
            </div>
            <div class="col-3">
                @*@(Html.Kendo().CheckBoxFor(m=>m.EnablePermission).Label("Enable Permission"))*@
                <input type="checkbox" asp-for="EnablePermission" id="EnablePermission" />
                <label>Enable Permission</label>
            </div>
            <div class="col-3">
                <input type="checkbox" asp-for="EnableSequenceOrder" id="EnableSequenceOrder" class="k-checkbox" />
                <label>Enable Sequence Order</label>
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="TaskTemplateType ">Note Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.NoteTemplateType)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "NoteTypeEnum" });
                                        });
                                    })
                                     .DataTextField("Name")
                                     .DataValueField("Id")
                                     .Value(Model.NoteTemplateType.ToString())
                                     .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="NoteTemplateType" id="NoteTemplateType" class="hr-x-large" />
            </div>
        </div>
        <div class="row pad-5">
            <div class="col-3">
                <label for="EditReturnType">Edit Return Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.EditReturnType)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "EditReturnTypeEnum" });
                                        });
                                    })
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Value(Model.EditReturnType.ToString())
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="EditReturnType" id="EditReturnType" class="hr-x-large" />
            </div>
        </div>
        <div class="row pad-5">
            <div class="col-3">
                <label for="CreateReturnType">Create Return Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.CreateReturnType)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "CreateReturnTypeEnum" });
                                        });
                                    })
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Value(Model.CreateReturnType.ToString())
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="CreateReturnType" id="CreateReturnType" class="hr-x-large" />
            </div>
        </div>
        <div class="row pad-5">

            <div class="col-3">
                <label for="NumberGenerationType">Number Generation Type</label>
            </div>

            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.NumberGenerationType)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "NumberGenerationTypeEnum" });
                                        });
                                    })
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Value(Model.NumberGenerationType.ToString())
                                   .HtmlAttributes(new { @class = "hr-x-large" })
                )*@

                <input asp-for="NumberGenerationType" id="NumberGenerationType" class="hr-x-large" />

            </div>
        </div>
        <div class="row no-gutters pad-10">

            <div class="col-3">
                <label for="ActionButtonPosition">Action Button Position</label>
            </div>

            <div class="col-9">


                <input asp-for="ActionButtonPosition" id="ActionButtonPosition" class="hr-x-large" />
            </div>
        </div>

        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CreateReturnType">Adhoc Task Template</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().MultiSelectFor(model=>model.AdhocTaskTemplateIds)
                .DataTextField("Name")
                .DataValueField("Id")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadAdhocTaskList", "Template", new { @area = "Cms" });
                    });
                })
                //.OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                .HtmlAttributes(new {  @class = "hr-x-large" })
                )*@

                <select asp-for="AdhocTaskTemplateIds" id="AdhocTaskTemplateIds" data-placeholder="Select" style="width:80%"></select>

            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CreateReturnType">Adhoc Service Template</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().MultiSelectFor(model=>model.AdhocServiceTemplateIds)
                .DataTextField("Name")
                .DataValueField("Id")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadAdhocServiceList", "ServiceTemplate", new { @area = "Cms" });
                    });
                })
                //.OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                .HtmlAttributes(new {  @class = "hr-x-large" })
                )*@

                <select asp-for="AdhocServiceTemplateIds" id="AdhocServiceTemplateIds" data-placeholder="Select" style="width:80%"></select>


            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="CreateReturnType">Adhoc Note Template</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().MultiSelectFor(model=>model.AdhocNoteTemplateIds)
                .DataTextField("Name")
                .DataValueField("Id")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadAdhocNoteList", "NoteTemplate", new { @area = "Cms" });
                    });
                })
                //.OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                .HtmlAttributes(new {  @class = "hr-x-large" })
                )*@
                <select asp-for="AdhocNoteTemplateIds" id="AdhocNoteTemplateIds" data-placeholder="Select" style="width:80%"></select>

            </div>
        </div>



        <div class="row no-gutters pad-10">

            <div class="col-3">
                <label for="EmailCopyTemplateCode">Email Copy Template Code</label>
            </div>

            <div class="col-9">
                @*@(Html.Kendo().TextBoxFor(x=>x.EmailCopyTemplateCode).HtmlAttributes(new { @class = "", @style= "width:37%;border-color:#ced4da !important;border: solid 1px;" }))*@
                <input type="text" asp-for="EmailCopyTemplateCode" class="form-control" placeholder="Email Copy Template Code" style="width:80%;border-color:#ced4da !important;border: solid 1px;" />
                @*<div class="form-label-group">
                    <input asp-for="EmailCopyTemplateCode" type="text" placeholder="Email Copy Template Code" class="form-control" autocomplete="off" style="width:100%" />
                    <label for="EmailCopyTemplateCode">Email Copy Template Code</label>
                </div>*@

            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="SubjectUdfMappingColumn">Subject Mapping Udf</label>
            </div>
            <div class="col-9">
                <input asp-for="SubjectUdfMappingColumn" class="form-control" type="text" placeholder="Subject Mapping Udf" style="width: 80%;border-color:#ced4da !important; border: solid 1px;" />
            </div>
        </div>
        <div class="row no-gutters pad-10">
            <div class="col-3">
                <label for="DescriptionUdfMappingColumn">Description Mapping Udf</label>
            </div>
            <div class="col-9">
                <input asp-for="DescriptionUdfMappingColumn" class="form-control" type="text" placeholder="Description Mapping Udf" style="width: 80%;border-color:#ced4da !important; border: solid 1px;" />
            </div>
        </div>

        <div class="col-12">Icon</div>
        <div class="col-12 pad-15" style="min-height:130px;">
            @*<div class="style-image">
                @if (Model.IconFileId != null)
                {
                    <img class="style-myiconimage" src="/cms/Document/GetImageMongo?id=@Model.IconFileId" onerror='OnPhotoError(this);' />
                }
                else
                {
                    <img class="style-myiconimage" style="background-color:gray;" src="/images/200.png" />
                }

            </div>*@
            <div @*class="style-upload"*@>
                @*@(Html.Kendo().Upload().Multiple(false)
                    .Name("files")
                    .Async(a => a
                    .Save("SaveFile", "Document", new { @Area="Cms"})
                    .AutoUpload(true)
                    )
                    .Events(e => e.Success("onFileUploadSuccessIcon")
                    )
                        .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                        //.MaxFileSize(2097152)
                        )
                        .HtmlAttributes(new { @class = "hr-large", @id = "files1" })
                )*@

                @*<div class="row">
        <div class="col">
            <div id="iconFile" class="dm-uploader">
                <h6 class=" text-muted">Drag &amp; drop files here</h6>

                <div class="btn btn-primary btn-block ">
                    <span>Open the file Browser</span>
                    <input type="file" title='Click to add Files' />
                </div>
            </div>

        </div>*@
                @*if multiple use this*@

                @*<div class="col">
            <div class="card h-100">
                <div class="card-header">
                    File List
                </div>
                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                    <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                </ul>
            </div>
        </div>*@
                @*if multiple use this*@
                @*</div>
        <button type="button" class="btn btn-light" title="Delete" onclick="onIconDel();"><i class='fa fas fa-trash'></i></button>*@

                @{
                    await Html.RenderPartialAsync("~/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.IconFileId), Value = Model.IconFileId });
                }
            </div>

        </div>
        <div class="col-12">Banner</div>
        <div class="col-12 pad-15" style="min-height:130px;">
            @*<div class="style-image">
                @if (Model.BannerFileId != null)
                {
                    <img class="style-mybannerimage" src="/cms/Document/GetImageMongo?id=@Model.BannerFileId" onerror='OnPhotoError(this);' />
                }
                else
                {
                    <img class="style-mybannerimage" style="background-color:gray;" src="/images/200.png" />
                }

            </div>*@
            <div @*class="style-upload"*@>
                @*@(Html.Kendo().Upload().Multiple(false)
                    .Name("files")
                    .Async(a => a
                    .Save("SaveFile", "Document", new { @Area="Cms"})
                    .AutoUpload(true)
                    )
                    .Events(e => e.Success("onFileUploadSuccessBanner")
                    )
                        .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                        //.MaxFileSize(2097152)
                        )
                        .HtmlAttributes(new { @class = "hr-large", @id = "files2" })
                )*@

                @*<div class="row">
        <div class="col">
            <div id="bannericonFile" class="dm-uploader">
                <h6 class=" text-muted">Drag &amp; drop files here</h6>

                <div class="btn btn-primary btn-block ">
                    <span>Open the file Browser</span>
                    <input type="file" title='Click to add Files' />
                </div>
            </div>

        </div>*@
                @*if multiple use this*@

                @*<div class="col">
            <div class="card h-100">
                <div class="card-header">
                    File List
                </div>
                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                    <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                </ul>
            </div>
        </div>*@
                @*if multiple use this*@
                @*</div>
        <button type="button" class="btn btn-light" title="Delete" onclick="onBannerDel();"><i class='fa fas fa-trash'></i></button>*@

                @{
                    await Html.RenderPartialAsync("~/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.BannerFileId), Value = Model.BannerFileId });
                }
            </div>

        </div>
        <div class="col-12">Background</div>
        <div class="col-12 pad-15" style="min-height:130px;">
            @*<div class="style-image">
                @if (Model.BackgroundFileId != null)
                {
                    <img class="style-mybgimage" src="/cms/Document/GetImageMongo?id=@Model.BackgroundFileId" onerror='OnPhotoError(this);' />
                }
                else
                {
                    <img class="style-mybgimage" style="background-color:gray;" src="/images/200.png" />
                }

            </div>*@
            <div @*class="style-upload"*@>
                @*@(Html.Kendo().Upload().Multiple(false)
                    .Name("files")
                    .Async(a => a
                    .Save("SaveFile", "Document", new { @Area="Cms"})
                    .AutoUpload(true)
                    )
                    .Events(e => e.Success("onFileUploadSuccessBackground")
                    )
                        .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                        //.MaxFileSize(2097152)
                        )
                        .HtmlAttributes(new { @class = "hr-large", @id = "files3" })
                )*@

                @*<div class="row">
        <div class="col">
            <div id="bgiconFile" class="dm-uploader">
                <h6 class=" text-muted">Drag &amp; drop files here</h6>

                <div class="btn btn-primary btn-block ">
                    <span>Open the file Browser</span>
                    <input type="file" title='Click to add Files' />
                </div>
            </div>

        </div>*@
                @*if multiple use this*@

                @*<div class="col">
            <div class="card h-100">
                <div class="card-header">
                    File List
                </div>
                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                    <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                </ul>
            </div>
        </div>*@
                @*if multiple use this*@
                @*</div>
        <button type="button" class="btn btn-light" title="Delete" onclick="onBackgroundDel();"><i class='fa fas fa-trash'></i></button>*@

                @{
                    await Html.RenderPartialAsync("~/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.BackgroundFileId), Value = Model.BackgroundFileId });
                }
            </div>

        </div>

        <div class="row">
            <div class="pad-15 no-gutters" style="width: 100%;">
                <div class="pad-b-15 card col-12 page">
                    <div class="card-header page-header bg-info">

                        <span class="cms-settings-box" onclick="OpenPageSettings(this)">
                            <i class="cursor-p fa fa-cog" title="Settings"></i>
                        </span>

                    </div>
                    <div class="card-body" id="component-container">
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.DataAction)
                        @Html.HiddenFor(m => m.Json)
                        @Html.HiddenFor(m => m.TemplateId)
                        @Html.HiddenFor(x => x.NoteIndexPageTemplateId)
                        @Html.HiddenFor(m => m.IconFileId)
                        @Html.HiddenFor(m => m.BannerFileId)
                        @Html.HiddenFor(m => m.BackgroundFileId)
                        @Html.HiddenFor(m => m.OcrTemplateFileId)

                        @*@(Html.Kendo().DropDownListFor(x=>x.FormType)
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Events(e => e.Change("formTypeChange"))
                        .DataSource(source =>
                        {
                        source.Read(read =>
                        {
                            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "FormTypeEnum" });
                        });
                        })
                        .Value(Model.FormType.ToString())
                        .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
                        )*@

                        <input asp-for="FormType" id="FormType" class="form-control" />
                        <br />
                        <br />
                        <div id="builder"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="float:right">
            <button type="submit" class="btn btn-success" onclick="SaveData()">Save</button>
            @if (ViewBag.LayoutMode == LayoutModeEnum.Popup.ToString())
            {
                <input type="button" class="btn btn-light" value="Close" onclick="return OnClose('@Model.TemplateId');" />
            }
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#NoteTemplateType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            value: '@Model.NoteTemplateType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=NoteTypeEnum",
                    }
                }
            }
        });

        $("#EditReturnType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            @*optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",*@
            value: '@Model.EditReturnType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=EditReturnTypeEnum",
                    }
                }
            }
        });

        $("#CreateReturnType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            @*optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",*@
            value: '@Model.CreateReturnType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=CreateReturnTypeEnum",
                    }
                }
            }
        });

        $("#NumberGenerationType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.NumberGenerationType.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=NumberGenerationTypeEnum",
                    }
                }
            }
        });
           $("#ActionButtonPosition").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.ActionButtonPosition.ToString()',
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=ActionButtonPositionEnum",
                    }
                }
            }
         });

        $("#FormType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.FormType.ToString()',
            change: formTypeChange,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=FormTypeEnum",
                    }
                }
            }
        });

        hideNoteHeader();
        if ('@ViewBag.Success' == "True") {

            closeNavPortal();
            var tree = window.parent.$("#contentTreeView").data("kendoTreeView");
            tree.dataSource.read();
        }



        $("#AdhocTaskTemplateIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/cms/template/ReadAdhocTaskList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.AdhocTaskTemplateIds)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });


        $("#AdhocServiceTemplateIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/cms/ServiceTemplate/ReadAdhocServiceList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.AdhocServiceTemplateIds)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });


        $("#AdhocNoteTemplateIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/cms/NoteTemplate/ReadAdhocNoteList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.AdhocNoteTemplateIds)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });


         $.ajax({
            type: "GET",
             @*url: "/Cms/NoteTemplate/GetPageJsonForm?pageId=@Model.TemplateId",*@
             url: "/Cms/Template/GetTemplateJson?templateId=@Model.TemplateId",
            success: function (response) {

                if (response != "" && response != null) {
                    var obj = JSON.parse(response);
                    builder = new Formio.FormBuilder(document.getElementById("builder"), obj, {
                        builder: {
                            custom: {
                                title: 'Chart',
                                weight: 10,
                                components: {
                                    chartjs: {
                                        title: 'Chart',
                                        key: 'chartJS',
                                        icon: 'terminal',
                                        schema: {
                                            label: 'Chart JS',
                                            type: 'htmlelement',
                                            key: 'chartJs',
                                            input: true
                                        }
                                    },
                                }
                            },

                        }
                        , noDefaultSubmitButton: true
                    }
);
                }
                else {
                     var obj = {
                         "synergyTableMapId": '@ViewBag.SynergyTableMapId',
                           "display": "form",
                         "components": []
                    }

                    builder = new Formio.FormBuilder(document.getElementById("builder"), obj,
                        {
                            builder: {
                                custom: {
                                    title: 'Chart',
                                    weight: 10,
                                    components: {
                                        chartjs: {
                                            title: 'Chart',
                                            key: 'chartJS',
                                            icon: 'terminal',
                                            schema: {
                                                label: 'Chart JS',
                                                type: 'htmlelement',
                                                key: 'chartJs',
                                                input: true
                                            }
                                        },
                                    }
                                },

                            }
                            ,
                        noDefaultSubmitButton: true
                        }

                    );
                }

            },
            error: function (response) {
                alert("error");
            },
        });

        if ($('#EnableIndexPage').is(':checked')) {
            $('#linoteindex').show();
        } else {
            $('#linoteindex').hide();
        }

        $('#EnableIndexPage').on('change', function () {
            if (this.checked) {
                //alert("checked : Enable Index Page");
                $('#linoteindex').show();
            } else {
                //alert("not checked : hide Index Page");
                $('#linoteindex').hide();
            }
        });

        //uploadFile();
        //banneruploadFile();
        //bguploadFile();
    });

    function uploadFile() {
        $("#iconFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs 
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-myiconimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#IconFileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

    function banneruploadFile() {
        $("#bannericonFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-mybannerimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#BannerFileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

    function bguploadFile() {
        $("#bgiconFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-mybgimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#BackgroundFileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

    function SaveData() {
        $("#Json").val(JSON.stringify(builder.instance.schema, null, 4));
        return true;
    }
    var onManageoteAjaxBegin = function () {
        ShowLoader($('#detailPage'));
    };
    var onManageoteAjaxFailed = function () {
        HideLoader($('#detailPage'))
    };
    var onManageoteAjaxSuccess = function (res) {
        HideLoader($('#detailPage'))
        if (res.success) {

            ShowNotification("Saved Successfully", "success");
            var TemplateId = res.templateId;
            LoadPartailView('@Url.Action("ManageNote", "Template", new { @area = "Cms" })?templateId='+ TemplateId + '&lo=@(ViewBag.LayoutMode??"")&cbm=@(ViewBag.CallbackMethod??"")', $('#detailPage'));
        }
        else {

            showError(res.error);
        }
    };
    var showError = function (error) {

        //#validation-summary-manageform
        $("#validation-summarynote").html(error);
        $("#validation-summarynote").css("display", "block")
    }
    function hideNoteHeader() {
       //
        if ($('#HideHeader').is(':checked')) {
            $('#HideSubject').prop("checked", false);
            $('#hideSubject').hide();
            $('#HideDescription').prop("checked", false);
            $('#hideDescription').hide();
            $('#HideStartDate').prop("checked", false);
            $('#hideStartDate').hide();
            $('#HideExpiryDate').prop("checked", false);
            $('#hideExpiryDate').hide();
            $('#HidePriority').prop("checked", false);
            $('#hidePriority').hide();
            $('#HideToolbar').prop("checked", false);
            $('#hideToolbar').hide();
            $('#HideBanner').prop("checked", false);
            $('#hideBanner').hide();
        } else {
            $('#hideSubject').show();
            $('#hideDescription').show();
            $('#hideStartDate').show();
            $('#hideExpiryDate').show();
            $('#hidePriority').show();
            $('#hideToolbar').show();
            $('#hideBanner').show();
        }
    }


</script>
