@using CMS.UI.ViewModel;
@using CMS.Common;
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations

@model TemplateViewModel;


@{  
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = null;
}
@inject CMS.Common.IUserContext _userContext


<style>
    .k-radio-label {
        margin: 20px;
        font-weight: 500;
        font-size: 16px;
      /*  color: #fff;*/
    }
    .k-radio-item {
        display: contents;
        padding: 0 0 0 12px;
        margin: 12px auto;
    }
  
    

   




</style>

<script>
    function Export()
    {
        @*var json =
        {
            Id: '@Model.Id',
            Name: '@Model.Name',
            DisplayName: '@Model.DisplayName',
            Code: '@Model.Code',
            Description: '@Model.Description',
        };
        var Jsondata = JSON.stringify(json);*@
        Id = templateId;
        var url = "/cms/template/ManageExport";
        window.open(url, '_blank');
        return false;
        @*$.ajax({
            url: "/cms/template/ManageExport",
            type: 'POST',
            data:
            {
                Id:'@Model.Id',
                Name: '@Model.Name',
                DisplayName: '@Model.DisplayName',
                Code: '@Model.Code',
                Description: '@Model.Description',
            },
            cache: false,
            success: function (data) {

            },
            error: function (errData) {
                OnError(errData);
            }
        });*@
    }
    function onFileUploadSuccess(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-mybannerimage").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#ImportFileId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

      $(document).ready(function () {



          });







    function onchangetype(e) {


        var assigneeType = $("#ServiceSharedWithTypeId").data("kendoRadioGroup").value();

        if (assigneeType == 1) {

            $("#ImportDiv").show();
            $("#ExportDiv").hide();


        }
        else if (assigneeType == 2) {
            $("#ImportDiv").hide();
            $("#ExportDiv").show();

        }

    }

    function onchangeteam() {
        $("#UserDiv").show();
        var search = Filter();
        $("#SharedWithUserId").data("kendoDropDownList").dataSource.read(search);

    }

    function Import()
    {

    }

</script>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    
            
            
                @*<div class="row">
                    <div class="col-12" style="margin:10px;">
                        @(Html.Kendo().RadioGroup()
            .Name("ServiceSharedWithTypeId")
            .Items(i =>
            {
                i.Add().Label("Import").Value("1");
                i.Add().Label("Export").Value("2");

            })
            .Value("1")
             .Events(e => e.Change("onchangetype"))
        )
                    </div>

                   
                </div>
           
            <div id="ImportDiv">
                <div class="SYN-inn-row">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><label class="col-form-label SYN-sub-title">Select File To Import</label></div>
                    </div>
                </div>
                <div class="SYN-dd-button">
                    <div class="row">
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <div class="x-dropdown dropdown">
                                @(Html.Kendo().Upload().Multiple(false)
                        .Name("files")
                        .Async(a => a
                        .Save("SaveFile", "Document", new { @Area="Cms"})
                        .AutoUpload(true)
                        )
                        .Events(e => e.Success("onFileUploadSuccess")
                        )
                            .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" })
                          
                            )
                            .HtmlAttributes(new { @class = "hr-large", @id = "files2" })
                    )

                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <button class="btn btn-dark SYN-but-share" type="button" onclick="Import()">Import</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ExportDiv" style="display:none">*@
                
                <div class="SYN-dd-button">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            

                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="Name">Name<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                   
                                        <input asp-for="Name" type="text" class="form-control" placeholder="Name" autocomplete="off"/>
                                  
                                </div>
                            </div>

                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="Name">Display Name<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="DisplayName" type="text" class="form-control" placeholder="DisplayName" autocomplete="off" />
                                </div>
                            </div>

                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="Code">Code<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9 ">

                                    <input asp-for="Code" type="text" class="form-control" placeholder="Code" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="Description">Description</label>
                                </div>
                                <div class="col-9">

                                    <textarea asp-for="Description" placeholder="Description" rows="3" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="float:right;">
                            <button class="btn btn-primary" type="button" onclick="Export()">Export</button>
                        </div>
                    </div>
                </div>
            </div>
        

       
    

@Html.HiddenFor(x=>x.ImportFileId)
