@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Manage Tag Category";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model PerformaceRatingViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        HideLoader($("#global-overlay"));
       $("#Status").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
           // optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value:'@Model.Status.ToString()',
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=StatusEnum",
                    }
                }
            }
        });

    });

    function Close() {
        
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function OnSave(evt) {
       //var categoryType=  $("#TagCategoryType").data("kendoDropDownList").value();

        ShowLoader($('.form-horizontal'));

        if ($("#Name").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Name is required");
            HideLoader($('.form-horizontal'));
            evt.preventDefault();
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            $(".text-danger").html("");
        }
    }

    var onAjaxSuccess = function (res) {
        HideLoader($('.form-horizontal'));
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                window.parent.ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                window.parent.ShowNotification("Updated Successfully", "success");
            }

            Close();
            window.parent.$("#kgrdperformanceRating").data("kendoGrid").dataSource.read();

        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
        }
    };


    function OnTagCategoryChange(e) {
        var dataItem = e.sender.dataItem();
        var Name = dataItem.Name;
        if (Name == "Static") {
            $("#divTagsource").hide();

            $("#TextQueryCode").val("");
            $("#TextQueryFilter").val("");


            var newvalue = new Array();
            var ddlTagSourceId = $("#TagSourceId").data("kendoDropDownList");
            ddlTagSourceId.value(newvalue);
        } else { $("#divTagsource").show(); }
    }



</script>

<div class="row" style="margin-left:15px;">

    <form asp-controller="PerformanceRating" asp-action="ManagePerformanceRating" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row" style="padding:10px;">
            <div class="col-12">Status<span class="required">*</span></div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(x=>x.Status)
        .DataTextField("Name")
        .DataValueField("Id")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "StatusEnum" });
            });
        })
        .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
        .Value(Model.Status.ToString())
        //.Events(x => x.Change("OnTagCategoryChange"))
        .HtmlAttributes(new { @class = "form-control", @style = "width:80%", required = "required" })
        )*@

                <input asp-for="Status" id="Status" class="form-control" style="width:80%" required="required" />
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" required="required" autocomplete="off" style="width:80%" />
                    <label for="TagCategoryName">Name <span class="required">*</span></label>
                </div>
            </div>



            <div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
                <button type="button" class="btn btn-light" onclick="Close();">Close</button>
                <input type="submit" class="btn btn-primary" value="Save" id="submitBtn" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.NoteId)
    </form>
</div>


