@*@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceTaskController> Resource*@
@inject IStringLocalizer<CMS.UI.Web.Controllers.CmsController> Resource
@inject Synergy.App.Common.IUserContext _userContext;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@{
    Layout = null;
    // Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model TemplateViewModel
<link href="~/css/EGOV/styles.css" rel="stylesheet" />
<link href="~/css/EGOV/Navigation-with-Button.css" rel="stylesheet" />
<style>
    .announcement {
        background-color: #f7e6be;
        border: 2px solid white;
        color: #373e4c;
        padding: 10px 30px 15px 15px;
    }

    .announcement1 {
        background-color: #cdced0;
        border: 2px solid white;
        color: #373e4c;
        padding: 10px 30px 15px 15px;
    }

    .iconwithtextan {
        display: flex;
        align-items: center;
    }

        .iconwithtextan.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
        color: #fff;
        background-color: #d6a03d;
        /* border-color: #1a87cd; */
    }

    #listViewTM {
        padding: 5px 5px;
        margin-bottom: -1px;
        display: flex;
    }

    #listView {
        margin-bottom: -1px;
        font: inherit;
        /*  background: white;
                border-color: white;*/
    }


    .fa-span {
        margin-left: 20%;
    }

    .template-description-tile {
        /*  border: solid 1px #bfbfbf;*/
        font-size: .9eM;
        color: gray;
        background-color: white;
        /*height: 30px;*/
        width: 149px;
        text-align: center;
        display: flex;
        align-items: center;
    }



    .template-flip-card {
        background-color: transparent;
        width: 150px;
        height: 160px;
        /*border: 1px solid #f1f1f1;*/
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    .template-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .template-flip-card:hover .template-flip-card-inner {
        transform: rotateY(180deg);
    }

    .template-flip-card-front, .template-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .template-flip-card-front {
        /* background-color: #bbb;*/
        color: black;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .template-flip-card-back {
        background-color: #307bbb;
        color: white;
        transform: rotateY(180deg);
    }

    .template-image {
        width: 80px;
        height: 80px;
        border-radius: 4px;
        cursor: default;
    }

    /*  #listView {
            padding: 10px 5px;
            margin-bottom: -1px;
            min-height: 510px;
        }*/

    .card {
        margin-top: 10px;
        float: left;
        flex-direction: unset;
    }

    .box {
        /* max-height: 90px !important;*/
        /* max-width: 280px !important;
            min-width: 280px !important;*/
        margin-top: 10px;
        float: left;
        margin-left: 30px;
        flex-direction: unset;
    }

    .card-title {
        font-weight: 500;
        font-size: 17px;
    }

    /* .card-header {
            background-color: #fff;
            padding: 5px 0px 0px 0px;
            border-bottom: none;
            font-weight: bold;
            font-size: 14px;
        }

        .card-body {
            padding: unset;
            padding-top: 2px;
            font-size: 14px;
        }*/

    .multi-line-truncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .k-listview-content {
        overflow: unset;
        display: flex;
    }

    .k-listview {
        border-style: none;
        background-color: transparent;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .taskicon {
        background-color: MediumTurquoise;
        border-radius: 3px 0px 0px 3px;
        text-align: center;
    }

    .icon {
        width: 100%;
        height: 100%;
        border-radius: 3px 0px 0px 3px;
        padding: 10px;
    }

    .announcementcolor {
        background-color: yellow;
    }

    .caticon {
        width: 110px;
        height: 110px;
        border-radius: 6px;
    }

    .card-text {
        font-size: 14px;
        color: #212529;
        vertical-align: central;
    }

    
     

    .scrollbtn {
        background-color: #4E4D4D;
        color: white;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 2px;
    }

    .service-title {
        text-align: center !important;
        float: none !important;
    }

    .service-title-2 {
        text-align: center !important;
        float: none !important;
    }

    .btnservice {
        background-color: #000;
        border-color: #000;
        border-radius: 20px;
    }
</style>

<style>
    .card-figure.is-hoverable {
        transition: transform .2s,box-shadow .2s;
    }

    .card-figure {
        position: relative;
        padding: 10px;
        border-radius: 2px;
    }

    .card {
        margin-bottom: 20px;
        border: none;
        box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 1px 3px 0 rgb(20 20 31 / 15%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(20,20,31,.12);
        border-radius: 0.25rem;
    }

    .card-figure .figure {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .card-figure .figure-caption {
        display: block;
        margin-top: 10px;
        font-size: .875rem;
        color: inherit;
    }

    .figure-title {
        margin: 0 0 0.125rem;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .text-center {
        text-align: center !important;
    }

    .card-figure.is-hoverable:focus, .card-figure.is-hoverable:hover {
        transform: translate3d(0,-0.25rem,0);
        box-shadow: 0 5px 15px 0 rgb(20 20 31 / 15%);
        text-decoration: underline;
    }
    .card-body{
        padding:10px;
    }
    .card-img{
        width:100%;
        height:140px;
    }
</style>

<script>

    function SelectTemplate(id, tempCode, temtype, area, cont, action, param,tempname) {


        var guestUser = '@_userContext';

        if ('@_userContext.IsGuestUser' == 'True') {
            var rturl = '@System.Web.HttpUtility.UrlEncode(string.Concat("/Portal/", @_userContext.PortalName,"?portalId=", @_userContext.PortalId))';
            var url = "/Egov/EGovernment/Login?returnUrl=" + rturl;
            window.location.href = url;
        }
        else {


        var url = "";
        var portalId = "";
        var portalName = "";
        var prms = "";
        var callbackMethod = "";
        if (window.parent == "" || window.parent == undefined) {
            portalId = $("#GlobalPortalId").val();
        }
        else {
            portalId = window.parent.$("#GlobalPortalId").val();
        }
        if ('@Model.UserId' != null && '@Model.UserId' != '') {

            if ('@Model.Prms' != null && '@Model.Prms' != '') {
                prms = encodeURIComponent('ownerUserId=@Model.UserId&@Html.Raw(Model.Prms)');
            }
            else {
                prms = encodeURIComponent('ownerUserId=@Model.UserId');
            }

            var udfs = encodeURIComponent('SelectedUserId=@Model.UserId');
        }
        else {
            prms = encodeURIComponent('@Html.Raw(Model.Prms)');
        }
        if ('@Model.CallBackMethodName' != null && '@Model.CallBackMethodName' != '') {
            callbackMethod = '@Model.CallBackMethodName';
        } else {
            callbackMethod = "OnAfterServiceCreate";
        }

        if (temtype == @((int)TemplateTypeEnum.Custom)) {

            url = '/' + area + '/' + cont + '/' + action + '?' + param;
        }
        else {
            url = '/Cms/Page?lo=Popup&pageType=Service&cbm=' + callbackMethod + '&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&prms=' + prms + '&udfs=' + udfs;
            }

            if (tempCode == "EGOV_BOOK_COMMUNITY_HALL") {
                window.location.href = "/portal/EGovCustomer/CommunityHallBooking";
                LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Community Hall Booking");
               return false;


            }
            else if (tempCode == "ELECTRIC_BILL_PAYMENT" ) {
                window.top.open('https://billsahuliyat.jkpdd.net/', '_blank').focus();

                //var url = '/EGov/EGovernment/PaymentCustom';
                //var win = GetMainWindow();
                //win.iframeOpenUrl = url;
                //win.OpenWindow({ Title: 'Pay Your Bill', Width: 600, Height: 700 });
                return false;



            }
            else if (tempCode == "WATER_BILL_PAYMENT") {

                window.top.open('https://www.jkphedwaterbilling.com/Modules/ConsumerOnlinePayment.aspx', '_blank').focus();

                //var url = '/EGov/EGovernment/PaymentCustom';
                //var win = GetMainWindow();
                //win.iframeOpenUrl = url;
                //win.OpenWindow({ Title: 'Pay Your Bill', Width: 600, Height: 700 });
                return false;



            }
            else {

        @*var url = '@Url.Action("NtsServicePage", "NtsService", new { @area = "Cms" })?templateid=' + tempid + '&templateCodes=' + tempCode+'&lo=Popup&cbm=OnAfterServiceCreate';*@

                var win = GetMainWindow();
                win.iframeOpenUrl = url;
                var title = tempname;
                if (tempCode == "EGOV_PUBLIC_GRIEVANCE_REGISTRATION") {
                    title = "Public Grievance Registration Form";
                }
                win.OpenWindow({ Title: title, Width: 1000, Height: 700 });
                return false;
                var win = GetMainWindow();
                win.CloseWindow();
                return false;
            }
        //var win = GetMainWindow();
        ////var parent = win.GetParentWindow();
        ////parent.backtoNtsTaskIndex(id);
        //win.CloseWindow({ MethodName: 'backtoNtsServiceIndex' });
        //return false;
        }
    }
    function OnTask(Id) {

        var portalId = $('#GlobalPortalId').val();
        var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;

        LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Create Task');
        return false;
    }

    function EditTask(Id) {
        var portalId = $('#GlobalPortalId').val();
        // var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&source=Edit&dataAction=Edit&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + Id;

        LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Edit Task');
        return false;
    }

    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    @*url: "/Cms/NtsService/ReadServiceTemplateCategory?templateCode=" + '@Model.Code' + "&categoryCode=" + '@Model.CategoryCode' + "&moduleCodes=" + '@Model.ModuleCodes' + "&categoryIds=" + '@Model.CategoryIds' + "&templateIds=" + '@Model.TemplateIds' + "&categoryType=" + '@Model.TemplateCategoryType' + "&portalNames=@ViewBag.PortalNames",*@
                    url: "/Cms/NtsService/ReadServiceTemplateCategory?templateCode=" + '@Model.Code' + "&categoryCode=" + '@Model.CategoryCode' + "&moduleCodes=" + '@Model.ModuleCodes' + "&categoryIds=" + '@Model.CategoryIds' + "&templateIds=" + '@Model.TemplateIds' + "&categoryType="+'@Model.TemplateCategoryType',
                    dataType: "json"
                }
            },
        });

        $("#catDiv").kendoListView({
            dataSource: dataSource,
            layout: "grid",
             
            template: kendo.template($("#templateTM").html()),
            dataBound: function () {
                $("#catDiv").removeClass();
                /*$("#catDiv").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");*/
                $("#catDiv").children('.k-listview-content').removeClass("k-listview-content  k-d-grid").addClass('row');
                /*$("#catDiv").children('.k-listview-content').removeClass("k-listview-content");*/
            }
        });

        function FilterTemplate() {
            return data = {
                templateCode: '@Model.Code',
            categoryCode: '@Model.CategoryCode',
            moduleCodes: '@Model.ModuleCodes',
            categoryIds: '@Model.CategoryIds',
            templateIds: '@Model.TemplateIds',
                categoryType: '@Model.TemplateCategoryType',
                @*portalNames: '@ViewBag.PortalNames'*@
            }
        }

        var dataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/NtsService/ReadServiceTemplate",
                    data: FilterTemplate,
                    dataType: "json"
                }
            },
        });

        $("#listViewSL").kendoListView({
            dataSource: dataSource1,
            layout: "grid",
           
            template: kendo.template($("#tasktemplate1").html()),
            dataBound: function () {
                $("#listViewSL").removeClass();
                /*$("#NotificationlistView").children('.k-listview-content').addClass("list-group list-group-messages list-group-flush list-group-bordered");*/
                $("#listViewSL").children('.k-listview-content').removeClass("k-listview-content k-d-grid").addClass("row");
            }

        });

        //$("#mysearch2").keyup(function () {
        //    var val = $('#mysearch2').val();
        //    var listView = $("#listViewSL").data("kendoListView");
        //    // var listView = $("#kgrdService").data("kendoListView");
        //    listView.dataSource.filter({
        //        logic: "or",
        //        filters: [
        //            {
        //                field: "DisplayName",
        //                operator: "contains",
        //                value: val
        //            },
        //            {
        //                field: "Description",
        //                operator: "contains",
        //                value: val
        //            },

        //        ]
        //    });

        //});
    });

    var colors = ['#F56564', '#1B4D3E','#555D50' ,'#90D142', '#28BAF5', '#7551F5', '#5BA79F', '#7A8F9D', '#4F67B6'];
    function OnDataBoundDoc(arg) {


        var childDiv = document.getElementById('listViewSL').children;
        ////var childDiv = document.getElementById('count').children;

        for (var i = 0; i < childDiv[0].children.length; i++) {
            var uc = childDiv[0].children[i].getElementsByClassName("template-flip-card-front");
            var colr = colors[Math.floor(Math.random() * colors.length)];
            uc[0].style.backgroundColor = colr;
        }
    }

    function OnChange(id,templateName) {

        $("#listViewSL").data('kendoListView').dataSource.read({ categoryCode: id });
        $("#templatesDiv").show();
        /*document.getElementById("templatename").innerHTML= templateName;*/
    }


    function highlight(element) {

        let elements = document.getElementsByClassName('announcement');

        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.background = "#f7e6be";
        }
        element.style.background = "#63BBDC";

    }

    function OnViewTemplate(id, code) {
          var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ServiceDiagram", "NtsService", new { @area = "cms" })?id=' + id +"&isTemplate=true";
        //win.iframeOpenUrl =  '@Url.Action("Swimlane", "NtsService", new { @area = "cms" })';
        win.OpenWindow({ Title: 'Service Workflow', Width: 1200, Height: 600 });
        return false;
    }

    function IconError(obj) {
        obj.onerror = null;
        obj.src = '/images/document.png';

        };

    function onBack()
    {
        window.location.href = "@ViewBag.SmartCityUrl";
    }
        $('#left').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "-=1075px"
            }, "slow");

        });

        $('#right').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "+=1075px"
            }, "slow");

        });

        $('#left1').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "-=1075px"
            }, "slow");

        });

        $('#right1').click(function (event) {

            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "+=1075px"
            }, "slow");

        });


    $('#leftT').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#rightT').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    $('#left1T').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#right1T').click(function (event) {

        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    function OnClick(ccode, cname, type) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("Info", "NtsService", new { @area = "cms" })?code=' + ccode + "&type=" + type;
        win.OpenWindow({ Title: 'Info', Width: 400, Height: 400 });
        return false;
    }
</script>
<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <h4 style="width:100%" class="text-center p-3">Services</h4>
            <div class="row">
                <div class="col-6">
                    <div class="card text-dark bg-light" style="min-height:75vh;width:100%;">
                        <div class="card-header text-center">Service Category</div>
                        <div class="card-body">
                            <div class="text-info p-3 text-center">Please select a service category from below list to view all the available services under that category on the right side</div>
                            <div id="catDiv">
                            </div>
                        </div>
                    </div>
                    <script type="text/x-kendo-tmpl" id="templateTM">
                        <div class="col-4 is-hoverable">
                            <a href="javascript:OnChange('#:Code#','#:Name#')" class="card text-dark bg-light" style="width:100%;">
                                <div class="card-body text-center">
                                    <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                    <p class="figure-title pt-2" style="white-space: initial;">#:Name#</p>
                                </div>
                            </a>
                        </div>
                    </script>

                </div>

                <div class="col-6" >
                    <div class="card text-dark bg-light" style="min-height:75vh;width:100%;">
                        <div class="card-header text-center">Service List</div>
                        <div class="card-body" id="templatesDiv" style="display:none;">
                            <div id="listViewSL">

                            </div>
                        </div>
                    </div>
                    <script type="text/x-kendo-tmpl" id="tasktemplate1">
                         <div class="col-4 is-hoverable">
                            <a class="card text-dark bg-light" style="width:100%;" onclick="return SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');" >
                                <div class="card-body text-center">
                                    #if(TemplateType == '7')
                                    {#
                                        <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);">
                                    #}
                                    else
                                    {#
                                        <img class="card-img text-center" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                                    #}#
                                    <p class="figure-title pt-2" style="white-space: initial;">#:DisplayName#</p>
                                </div>
                            </a>
                        </div>

                         
                    </script>

                </div>

            </div>
        </div>
    </div>
</div>