@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@{
    //Layout = null;
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model ServiceViewModel

<style>
    .announcement {
        background-color: #f7e6be;
        border: 2px solid white;
        color: #373e4c;
        padding: 10px 30px 15px 15px;
    }
    .announcement1 {
        background-color: #cdced0;
        border: 2px solid white;
        color: #373e4c;
        padding: 10px 30px 15px 15px;
    }

    .iconwithtextan {
        display: flex;
        align-items: center;
    }

        .iconwithtextan.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
        color: #fff;
        background-color: #d6a03d;
        /* border-color: #1a87cd; */
    }

    #listViewTM {
        padding: 5px 5px;
        margin-bottom: -1px;
    }

    #listView {
        margin-bottom: -1px;
        font: inherit;
        background: white;
        border-color: white;
    }


    .fa-span {
        margin-left: 20%;
    }

    .template-description-tile {
      /*  border: solid 1px #bfbfbf;*/
        font-size: .9eM;
        color: gray;
        background-color: white;
        height: 30px;
        width: 149px;
        text-align: center;
        display: flex;
        align-items: center;
    }



    .template-flip-card {
        background-color: transparent;
        width: 150px;
        height: 160px;
        /*border: 1px solid #f1f1f1;*/
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    .template-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .template-flip-card:hover .template-flip-card-inner {
        transform: rotateY(180deg);
    }

    .template-flip-card-front, .template-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .template-flip-card-front {
        /* background-color: #bbb;*/
        color: black;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .template-flip-card-back {
        background-color: #307bbb;
        color: white;
        transform: rotateY(180deg);
    }

    .template-image {
        width: 80px;
        height: 80px;
        border-radius: 4px;
        cursor: default;
    }

    /*  #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
    }*/

    .card {
        max-height: 90px !important;
        min-height: 90px !important;
        max-width: 280px !important;
        min-width: 280px !important;
        margin-top: 10px;
        float: left;
        margin-left: 10px;
        flex-direction: unset;
    }

    .card-header {
        background-color: #fff;
        padding: 5px 0px 0px 0px;
        border-bottom: none;
        font-weight: bold;
        font-size: 14px;
    }

    .card-body {
        padding: unset;
        padding-top: 2px;
        font-size: 14px;
    }

    .multi-line-truncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .k-listview-content {
        overflow: unset;
    }

    .k-listview {
        border-style: none;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .taskicon {
        background-color: MediumTurquoise;
        border-radius: 3px 0px 0px 3px;
        text-align: center;
    }

    .icon {
        width: 100%;
        height: 100%;
        border-radius: 3px 0px 0px 3px;
        padding: 10px;
    }

    .col-4 {
        padding-left: unset;
        padding-right: unset;
    }

    .announcementcolor {
        background-color: yellow;
    }
</style>

<script>



    $(document).ready(function () {
      $("#MoveToParent").kendoDropDownList({
            dataTextField: "Subject",
            dataValueField: "Id",
            optionLabel: "Select",
            value: '@Model.MoveToParent',
            filter: "contains",
            template: kendo.template($("#template").html()),
            filtering: function (e) {
                var filterValue = e.filter != undefined ? e.filter.value : "";
                e.preventDefault();

                this.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "ItemNo",
                            operator: "contains",
                            value: filterValue
                        },
                        {
                            field: "NtsNo",
                            operator: "contains",
                            value: filterValue
                        },
                        {
                            field: "Subject",
                            operator: "contains",
                            value: filterValue
                        },
                    ]
                });
            },
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/NtsService/GetMoveToParent?serviceId=@Model.Id&ntsId=@Model.NtsId",
                    }
                }
            }
        });

        $("#MoveType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.MoveType.ToString()',
            change: onChange,
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=BookMoveTypeEnum",
                    }
                }
            }
         });

        $("#MovePostionSeq").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
             value: '@Model.MovePostionSeq.ToString()',
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=MovePostionEnum",
                    }
                }
            }
        });
    });

    function OnSave(e) {

        if ($("#MoveToParent").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Please Select Reference");
            e.preventDefault();
            return false;
        }



        ShowLoader($('.move'));

        return true;
    }

    var onAjaxSuccess = function (res) {
        HideLoader($('.move'));
        if (res.success) {

            ShowNotification("Saved Successfully", "success");
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: 'OnServicePlusItemCreate' });
        }
        else {
            showError(res.error);
        }
    };

    function onChange() {
        var value = $("#MoveType").val();
        if (value == 'SameAsLevel') {
            $("#positionSeq").show();
        }
        else {
            $("#positionSeq").hide();
        }
        //else if (value == 'Child') {
        //    $("#positionSeq").hide();
        //}
    }

    function filter() {
        return {
            parentId: $("#MoveToParent").val()
        };
    }

</script>



<div class="move" style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <form asp-controller="NtsService" asp-action="ManageMoveToParent" method="post" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div id="validation-summary-move" class="text-danger" asp-validation-summary="All"></div>
        <div class="row pad-10">
            <div class="col-3">
                <label>Reference</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x=>x.MoveToParent)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetMoveToParent", "NtsService", new { @area = "Cms", serviceId=Model.Id,ntsId=Model.NtsId });
                                });
                            }).TemplateId("template").Filter(FilterType.Contains).Events(events => events.Filtering(
                 @<text>
                     function(e) {
                        var filterValue = e.filter != undefined ? e.filter.value : "";
                             e.preventDefault();

                           this.dataSource.filter({
                             logic: "or",
                             filters: [
                               {
                                 field: "ItemNo",
                                 operator: "contains",
                                 value: filterValue
                               },
                               {
                                 field: "NtsNo",
                                 operator: "contains",
                                 value: filterValue
                               },
                                  {
                                 field: "Subject",
                                 operator: "contains",
                                 value: filterValue
                               },
                             ]
                           });
                     }
                     </text>
                     ))
                 .DataTextField("Subject")
                 .DataValueField("Id").OptionLabel("Select")

                           .HtmlAttributes(new { @class = "",@style="width:100%" })
        )*@
                <input asp-for="MoveToParent" id="MoveToParent" style="width:100%" />
                <script type="text/x-kendo-tmpl" id="template">
                    <p style="font-size:14px;"> #:ItemNo# | #:NtsNo# | #:Subject#</p>
                </script>
            </div>
        </div>


        <div class="row pad-10">
            <div class="col-3">
                <label>Type</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x => x.MoveType)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "BookMoveTypeEnum" });
                                });
                            })
                 .DataTextField("Name").Events(x=>x.Change("onChange"))
                 .DataValueField("Id").OptionLabel("Select")
                           .HtmlAttributes(new { @class = "", @style = "width:100%" })
        )*@

                <input asp-for="MoveType" id="MoveType" style="width:100%" />
            </div>
        </div>

        <div class="row pad-10" id="positionSeq" style="display:none">
            <div class="col-3">
                <label>Before/After</label>
            </div>
            <div class="col-9">
                @*@(Html.Kendo().DropDownListFor(x=>x.MovePostionSeq)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "MovePostionEnum" });
                                });
                            })
                 .DataTextField("Name")
                 .DataValueField("Id").OptionLabel("Select")

                           .HtmlAttributes(new { @class = "", @style = "width:100%" })
        )*@
                <input asp-for="MovePostionSeq" id="MovePostionSeq" style="width:100%" />

            </div>
        </div>

        @*<div class="row pad-10">
            <div class="col-3">
                <label>Position to Move</label>
            </div>
            <div class="col-9">
                @(Html.Kendo().DropDownListFor(x => x.MovePostionId)
                                   .DataSource(source =>
                                   {
                                       source.Read(read =>
                                       {
                                           read.Action("GetMoveToParent", "NtsService", new { @area = "Cms", serviceId = Model.Id }).Data("filter"); ;
                                       }).ServerFiltering(true);
                                   }).AutoBind(false)
                        .DataTextField("Subject").CascadeFrom("MoveToParent")
                        .DataValueField("Id").OptionLabel("Select")
                                  .HtmlAttributes(new { @class = "", @style = "width:60%" })
               )
            </div>
        </div>*@

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.NtsType)
        @Html.HiddenFor(x => x.NtsId)

        <div class="col-sm-12" style="text-align:right;">
            <button type="submit" class="btn btn-primary" onclick="OnSave(event)">Save</button>
        </div>
    </form>
</div>






