@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI*@
@using System.Text.RegularExpressions;
@{
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}
@model NotificationViewModel


<style>
    .notification-title {
        background-color: #c1972a;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 40px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        display: flex;
        align-content: center;
        text-align: center;
    }
</style>

<style>
    .arrow_box {
        position: relative;
        background: #f2f2f2;
        border: 1px solid #808080;
    }

        .arrow_box:after, .arrow_box:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .arrow_box:after {
            border-color: rgba(242, 242, 242, 0);
            border-bottom-color: #f2f2f2;
            border-width: 15px;
            margin-left: -15px;
        }

        .arrow_box:before {
            border-color: rgba(128, 128, 128, 0);
            border-bottom-color: #808080;
            border-width: 16px;
            margin-left: -16px;
        }

    .notification-item {
        padding: 0px;
        border: 1px solid silver;
        margin-bottom: 10px !important;
    }

    .notification-heading {
        padding: 0px !important;
        /* height: 75px;*/
        border-left-style: solid;
        border-left-width: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .notification-user {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: default;
    }

    #content_popup {
        font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    }
    .panel {
        margin-top: 0px !important;
    }

        .panel .panel-heading {
            line-height: unset !important;
        }

    h5 {
        color: #797979 !important;
    }
</style>

<script type="text/javascript">


    function Close() {
       
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: 'CallBack' });
        return false;
    }

    $(document).ready(function () {
        //loadCollapsible();
        //$('.panel-body').find('a').attr('target', '_blank');
    });

</script>

<div class="p-3">
    <div id="content_popup">
                         
                    
                    <div class="panel notification-item">
                        
                            <div class="col-xs-2 p-1">
                                <img class="notification-user" src="/cms/Document/GetImageMongo?id=@Model.PhotoId" onerror='OnPhotoError(this,"@Model.From");' />
                            </div>
                            <div class="col-10 row p-1">
                                <div class="col-12" style="font-size:.9eM;color:#004d99;">Reference: @Model.ReferenceTypeNo</div>
                                <div class="col-12" style="font-size: .9eM;color:#004d99;">From : @Model.From</div>
                                <div class="col-12" style="font-size: .9eM;color:#004d99;">Subject : @Model.Subject </div>
                                <div class="col-12" style="font-size: .9eM;color:#004d99;">Date : @Model.CreatedDate.Humanize() </div>
                            </div>
                   
                        
                            <div class="panel-body p-2" style="font-size:0.85em;">
                                <p> From : @Model.From</p>
                                <p> Date : @Model.CreatedDate</p>
                                <p> Subject : @Model.Subject</p>
                                <p> Description : @Html.Raw(@Model.Body)</p>
                            </div>
                       
                    </div>             
                       
       
    </div>
</div>

<div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
    <button type="button" class="btn btn-primary" onclick="Close();">@SharedResource["Close"]</button>    
</div>



