@using Kendo.Mvc.UI
@model CMS.UI.ViewModel.LoginViewModel
@using CMS.Common
@{
    Layout = null;// "~/Views/Shared/_Reference.cshtml";
}
<style>
    #content-wrapper {
        background-color: #fff !important;
    }

    .modal-login {
        width: 380px !important;
    }
</style>
<div id="loginModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-login">
        <div class="modal-content">
            <div class="modal-header text-center align-center">
                <h4 class="modal-title  text-center align-center">SYNERGY</h4>
            </div>
            <div class="modal-body">

                <form id="loginform" asp-area="" asp-controller="Account" asp-action="EGovLogin"
                      data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onEGovAjaxSuccess" data-ajax="true" data-ajax-method="POST">
                    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-user" style="font-size:22px;padding-top:6px;" id="icon-email"></span>
                        </div>
                        <input asp-for="UserId" class="form-control" placeholder="User Id" type="text" required="required" aria-describedby="icon-email" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-key" style="font-size:22px;padding-top:6px;" id="icon-pwd"></span>
                        </div>
                        <input asp-for="Password" class="form-control" placeholder="Password" type="password" required="required" aria-describedby="icon-pwd" />
                    </div>

                    <div class="row pt-3">
                        <div class="col">
                            @Html.HiddenFor(x => x.AuthenticateViewName)
                            @Html.HiddenFor(x => x.LoginViewName)
                            @Html.HiddenFor(x => x.PortalId)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            @Html.HiddenFor(x => x.Email)
                            <input type="submit" class="btn btn-primary btn-block btn-login" value="Login">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a id="forgot-password" href="/account/forgotpassword?portalId=@Model.PortalId">Forgot password?</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#loginModal').modal('show');
    });
    var onEGovAjaxSuccess = function (res) {
        if (res.success) {
            window.location.href = res.url;
        }
        else {
            //alert(res.error);
            //showError(res.error);
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
        }
    };
</script>

