@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@model DirectSalesSearchViewModel
@{
    //ViewData["Title"] = ViewBag.PageName;
    Layout = null;
}
<style>
    input[type="radio"] {
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .fa {
        margin-top: 3px;
    }

    .i-hover:hover {
        background: #0062cc;
        /* padding-left: 4px; */
        border-radius: 50%;
    }

    .fal {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 27px;
        text-align: center;
        vertical-align: middle;
        font-size: 1.3em;
        width: 27px;
        height: 27px;
        background: #0062cc;
    }
</style>
<script>
    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

    var columnDefs = [
        {
            field: "ServiceNo",
            headerName:"Proposal No"
        },
        {
            field: "ProposalDate",
            headerName: "Proposal Date"
        },
        {
            field: "ProposalValue",
            headerName: "Proposal Value"
        },
        {
            field: "CustomerName",
            headerName: "Customer Name"},
        {
            field: "WorkflowStatus",
            headerName: "Status",
            //cellRenderer: params => {
            //    return statusObj[params.value]; //only for enum
            //}
        },
        {
            headerName: "Actions",
            field: "ServiceId",
            cellRenderer: params => {

                return "<div class='btn-group grid-menu' id='tree-menuBinUserRole' data-idvalue='" + params.value + "' data-status=\"" + params.data.ServiceStatusCode + "\" data-proposal=\"" + params.data.ProposalValue+"\" ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    $(function () {
        var d = new Date();
        d.setDate(d.getDate() - 6);
        console.log(d.toLocaleDateString());
        $("#FromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });
        $("#ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });
        $("#ProposalSource").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
             optionLabel: "--All--",
			@* value: "@Model.Status",*@
        dataSource: {
            transport: {
                read: {
                    url: "/Cms/LOV/GetListOfValueList?type=IMS_PROPOSAL_SOURCE",
                    }
            }
        }
        });

        var statusData = ["All", "Won", "Pending", "Draft"];
        $("#SalesStatus").kendoDropDownList({
            dataSource: statusData,
            optionLabel: "--All--",
        });

          $("#Customer").kendoDropDownList({
            dataTextField: "CustomerName",
            dataValueField: "Id",
            optionLabel: "--All--",

            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCustomerList",
                    }
                }
            }
        });
        getDirectSalesData();
        $.contextMenu({
            selector: '#tree-menuBinUserRole',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');
                var proposalValue = $trigger.data('proposal');
                var status = $trigger.data('status');

                switch (0) {
                    case 0:

                        var Items;
                        if (status == "SERVICE_STATUS_DRAFT") {
                            Items = {
                                "item": { name: "Items", icon: "fa-regular fa-cart-circle-plus" },
                                "submit": { name: "Submit", icon: "fa-regular fa-arrow-right-to-bracket" },
                            };
                        }
                        else
                        {
                            Items = {
                                "salesOrder": { name: "Sales Order", icon: "fas fa-file-lines" },
                            }
                        }
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'item':
                                        onAddItem(id);
                                        break;

                                    case 'submit':
                                        /*OnSubmit(id);*/
                                        onOrderSubmit(id, proposalValue);
                                        break;
                                    case 'salesOrder':
                                        onSalesOrder(id, proposalValue);
                                        break;

                                    default:
                                }
                            },
                            items: Items
                        };


                }
            }
        });


    });
    function AddDirectSales(e) {
        var Customer = $("#Customer").data("kendoDropDownList").value();
        if (Customer == null || Customer == '' || Customer == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Customer is required");
            e.preventDefault();
            return false;
        }
          else
        {
            var win = GetMainWindow();
          var Id = $("#Customer").data("kendoDropDownList").value();
          win.iframeOpenUrl = '@Url.Action("ManageDirectSales", "InventoryManagement", new { @area= "IMS" })?CustomerId=' + Id;
        win.OpenWindow({ Title: 'Manage Direct Sales', Width: 700, Height: 800 });
        return false;
        }

    }
       function OnCreateUserRole() {


             var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("CreateUserRole", "UserRole", new { @area= "PortalAdmin" })';
          win.OpenWindow({ Title: 'Manage User Role', Width: 450, Height: 800 });
        return false;

    }
    function onSalesOrder(id,proposalValue)
    {
           var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("SubmitOrderDetails", "InventoryManagement", new { @area= "IMS" })?ServiceId=' + id + '&ProposalValue=' + proposalValue + '&SalesOrder=true';
        win.OpenWindow({ Title: 'Add Sales Order', Width: 700, Height: 800 });
        return false;
    }
    function onAddItem(id) {
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("AddItems", "InventoryManagement", new { @area= "IMS" })?ServiceId=' + id;
        win.OpenWindow({ Title: 'Add Items', Width: 1400, Height: 700 });
        return false;
    }

    function onOrderSubmit(id,proposalValue)
    {
        /*alert(id);*/
        @*var win = GetMainWindow();
                        win.iframeOpenUrl = '@Url.Action("SubmitOrderDetails", "InventoryManagement", new { @area= "IMS" })?ServiceId=' + id + '&ProposalValue=' + proposalValue;
                        win.OpenWindow({ Title: 'Proposal Details', Width: 1000, Height: 800 });
                        return false;*@
        $.ajax({
            url:'@Url.Action("IfItemsExits", "InventoryManagement", new { @area= "IMS" })?directSalesId='+id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (result) {
                        var win = GetMainWindow();
                        win.iframeOpenUrl = '@Url.Action("SubmitOrderDetails", "InventoryManagement", new { @area= "IMS" })?ServiceId=' + id + '&ProposalValue=' + proposalValue;
                        win.OpenWindow({ Title: 'Proposal Details', Width: 700, Height: 800 });
                        return false;
                    }
                    else {
                        ShowNotification("Please add items.", "error");
                    }
                },
                error: function (ert) {
                    ShowNotification("Add Item", "error");
                }
            });


    }

    function OnSubmit(id) {
        var flag = confirm('Do you really want to Submit?');

        if (flag) {
            $.ajax({
                url:'@Url.Action("SubmitSalesDetails", "InventoryManagement", new { @area= "IMS" })?ServiceId=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {

                    if (result.success) {
                        getDirectSalesData();
                        kendo.alert("Submitted Successfully.");
                    } else {
                        getDirectSalesData();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    getDirectSalesData();
                }
            });
            return false;
        }
    }
    

    function getDirectSalesData() {
        document.getElementById("DirectSalesGrid").innerHTML = "";
        //var fromDate = $("#FromDate").val();
        //var toDate = $("#ToDate").val();

        var fromDate = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var toDate = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');

        /*var statusValue = $("input[type=radio][name=WorkflowStatus]:checked").val();*/
        var statusValue = $("#SalesStatus").val();
        console.log(statusValue);
        /*alert(statusValue);*/

       gridConfig(
           "DirectSalesGrid",
           "/IMS/InventoryManagement/ReadDirectSalesData?Customer=" + $("#Customer").data("kendoDropDownList").value() + "&ProposalSource=" + $("#ProposalSource").data("kendoDropDownList").value() + "&WorkFlowStatus=" + statusValue+ "&FromDate=" + fromDate + "&ToDate=" + toDate,
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }

    function OnSearch(e) {
      
        if ($("#FromDate").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Select Sales From Date");
            evt.preventDefault();
            return false;
        }
        else if ($("#ToDate").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Select Sales To Date");
            evt.preventDefault();
            return false;
        } 
         else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
        }
         
        getDirectSalesData();
    }
    function OnPOReport() {
        var portalId = $("#GlobalPortalId").val();
        var url = '/Cms/FastReport?rptName=IMS_PurchaseOrder&lo=@LayoutModeEnum.Popup&portalId=' + portalId ;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'PO Report', Width: 800, Height: 700 });
    }
</script>

<div style="width: 100%;" class="p-3">
    <fieldset class="fieldset">
        <legend class="fs-legend">Search Direct Sales</legend>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row  form-horizontal">
            <div class="col-6 form-group">
                <div class="col-form-label required">
                    <label>Customer</label>
                </div>
                <input type="text" asp-for="Customer" id="Customer" class="form-control" />
            </div>
            <div class="col-3 form-group">
                <div class="col-form-label required">
                    <label>Sales From Date</label>
                </div>
                <input type="text" asp-for="FromDate" id="FromDate" class="form-control" />
            </div>
            <div class="col-3 form-group">
                <div class="col-form-label required">
                    <label>Sales To Date</label>
                </div>
                <input type="text" asp-for="ToDate" id="ToDate" class="form-control" />
            </div>
            <div class="col-3 form-group">
                <div class="col-form-label">
                    <label>Sales Status</label>
                </div>
                <input type="text" id="SalesStatus" class="form-control" />
                @*<input type="radio" id="All" name="WorkflowStatus" value="All" checked>
                <span>All</span><br>
                <input type="radio" id="Pending" name="WorkflowStatus" value="Pending">
                <span for="css">Pending</span><br>
                <input type="radio" id="Won" name="WorkflowStatus" value="Won">
                <span for="javascript">Won</span>*@
            </div>
            <div class="col-3 form-group" hidden>
                <div class="col-form-label">
                    <label>Sales Source</label>
                </div>
                <input type="text" asp-for="ProposalSource" id="ProposalSource" class="form-control" />
            </div>
            <div class="col-9 form-group" style="text-align: right;">
                <div class="col-form-label">
                    &nbsp;
                </div>
                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Get" onclick="OnSearch()" />
                <button class="btn btn-warning" onclick="AddDirectSales(event)" style="color:white"><i class="fas fa-plus"></i> Add Direct Sale</button>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="fs-legend">Direct Sales List</legend>
        <div id="DirectSalesGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
    </fieldset>
</div>


 


