@using Synergy.App.ViewModel
@using Synergy.App.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Direct Sales";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model IssueRequisitionViewModel

@*<script src="~/js/IMS/InventoryManagement/RequisitionIssue.js" asp-append-version="true"></script>*@
<div style="width: 100%;" class="p-3">

    <form asp-controller="InventoryManagement" asp-action="ManageRequisitionIssue" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>


        <fieldset class="fieldset">
            <legend class="fs-legend">Issue Details</legend>

            <div class="row col-12" style="padding:10px;">
                <div class="col-2" style="padding-bottom:10px;">
                    <label>Issue Type</label>
                </div>
                <div class="col-2" style="padding-bottom:10px;">
                    <input type="text" asp-for="IssueType" id="IssueType" class="form-control" />
                </div>
                @*<div class="col-2" style="padding-bottom:10px;">
            <label>Department</label>
        </div>
        <div class="col-2" style="padding-bottom:10px;">
            <input type="text" asp-for="Department" id="Department" class="form-control" />
        </div>
        <div class="col-2" style="padding-bottom:10px;">
            <label>Employee</label>
        </div>
        <div class="col-2" style="padding-bottom:10px;">
            <input type="text" asp-for="Employee" id="Employee" class="form-control" />
        </div>*@
                <div class="col-2" style="padding-bottom:10px;">
                    <label>Warehouse</label>
                </div>
                <div class="col-6" style="padding-bottom:10px;">
                    <input type="text" asp-for="WarehouseId"  class="form-control" readonly />
                </div>
                <div class="col-2" style="padding-bottom:10px;">
                    <label>Issue To</label>
                </div>
                <div class="col-6" style="padding-bottom:10px;">
                    <input type="text" asp-for="IssueTo" id="IssueTo" class="form-control" />
                </div>
                <div class="col-2" style="padding-bottom:10px;">
                    <label>Issue On</label>
                </div>
                <div class="col-2" style="padding-bottom:10px;">
                    <input type="text" asp-for="IssuedOn" id="IssuedOn" class="form-control" />
                </div>
                <div class="col-2" style="padding-bottom:10px;">
                    <label>Remarks</label>
                </div>
                <div class="col-6" style="padding-bottom:10px;">
                    <textarea asp-for="Remarks" class="form-control">Remarks</textarea>
                </div>
            </div>

        </fieldset>



        <fieldset class="fieldset">
            <legend class="fs-legend">Select Items To Issue</legend>

            <div class="row col-12">
                <label>Item Name </label><input type="text" asp-for="RequisitionItemId" class="form-control" />
            </div>

            <div class="row col-12" style="padding:10px;display:none;" id="ItemsArea">
                <div class="col-4">
                    <label> Transfer Qunatity: </label><span id="reqQty"></span>

                </div>
               
                <div class="col-4">
                    <label>  Issued Quantity: </label><span id="issueQty"></span>

                </div>
                <div class="row col-12">
                    <div id="itemsGrid" class="col-8"></div>
                    <div id="SerialNoGrid" class="col-4"></div>

                </div>
            </div>



        </fieldset>

        <div class="row pad-10" style="float:right;">
            <input type="submit" class="btn btn-primary" value="Add" style="margin:5px;" onclick="SaveData(event)" />
            <input type="button" class="btn btn-primary" value="Close" style="margin:5px;" onclick="closeNav()" />
        </div>


        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.ServiceId)
        @Html.HiddenFor(x => x.IssueReferenceId)
        @Html.HiddenFor(x => x.IssueReferenceType)
        @Html.HiddenFor(x => x.Items)       
        @Html.HiddenFor(x => x.ItemId)
        @Html.HiddenFor(x => x.SerialNoIds)
    </form>
</div>

<script>
    var IsSerializable;
    var ItemQuantity, ApprovedQuantity, IssuedQuantity = 0.0;
    $(document).ready(function () {
        $("#IssueType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--All--",
            //change: function (e) {
            //    $("#ItemCategory").data("kendoDropDownList").dataSource.read({ ItemTypeId: $("#ItemHead").data("kendoDropDownList").value() });
            //},

            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?type=IMS_ISSUE_TYPE",
                    }
                }
            }
        });
        $("#Department").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--All--",
            autoBind: false,

            //change: function (e) {
            //    $("#ItemSubCategory").data("kendoDropDownList").dataSource.read({ categoryId: $("#ItemCategory").data("kendoDropDownList").value() });
            //},
            //dataSource: {
            //    transport: {
            //        read: {
            //            url: "/IMS/InventoryManagement/GetItemCategoryList",
            //            }
            //    }
            //}
        });
        $("#Employee").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--All--",
            autoBind: false,
            //change: function (e) {
            //    $("#Item").data("kendoDropDownList").dataSource.read({ subCategoryId: $("#ItemSubCategory").data("kendoDropDownList").value() });
            //},

            //dataSource: {
            //    transport: {
            //        read: {
            //            url: "/IMS/InventoryManagement/GetItemSubCategoryList",
            //            }
            //    }
            //}
        });
        $("#IssueTo").kendoDropDownList({
            dataTextField: "CustomerName",
            dataValueField: "Id",
            optionLabel: "--All--",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCustomerList",
                    }
                }
            }
        });
        $("#IssuedOn").kendoDatePicker({
            value: new Date(),
            //format: "dd.MM.yyyy"
        });
        $("#WarehouseId").kendoDropDownList({
            dataTextField: "WarehouseName",
            dataValueField: "Id",

             optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
             value:'@Model.WarehouseId',
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetWarehouseList",
                    }
                }
            }
        });
        $("#RequisitionItemId").kendoDropDownList({
            dataTextField: "ItemName",
            dataValueField: "StockTransferItemId",
            optionLabel: "--Select--",
            change:onReqchange,
            dataSource: {
                transport: {
                    read: {
                        url: "/Ims/InventoryManagement/ReadTransferItemsList?stockTransferId=@Model.IssueReferenceId",
                    }
                }
            }
        });
    });
    function onReqchange(e)
    {
        //var entityGrid = $("#itemsGrid").data("JSGrid");
        //entityGrid.render();
        var dataItem = $("#RequisitionItemId").data("kendoDropDownList").dataItem();
        if (dataItem != undefined && dataItem != null) {
            $("#ItemsArea").show();
            ItemQuantity = dataItem.TransferQuantity;

            IssuedQuantity = dataItem.IssuedQuantity;
            $("#reqQty").html(dataItem.TransferQuantity);
            $("#issueQty").html(dataItem.IssuedQuantity);
            $("#itemsGrid").jsGrid({
                width: "100%",
                //height: "600px",

                inserting: false,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 14,
                pageButtonCount: 5,
                deleteConfirm: "Do you really want to delete client?",

                //data: clients,
                controller: {
                    loadData: function (filter) {
                        debugger
                        return $.ajax({
                            type: "GET",
                            url: "/IMS/InventoryManagement/ReadGoodReceiptItemsToIssue?requisitionItemId=" + dataItem.Id + "&itemId=" + dataItem.ItemId + "&warehouseId=" + $("#WarehouseId").val() + "&receiptType=1",
                            data: filter,
                            dataType: "json"
                        });
                    },
                    updateItem: function (item) {

                    },
                    deleteItem: function (item) {
                        onDeleteItem(item.NoteId);
                    }
                },
                onItemEditing: function (e) {
                     IsSerializable = e.item.IsSerializable;
                    debugger
                    if (e.item.IsSerializable == "4")
                    {
                        if (e.item.AdditionalInfo == "Opening Balance") {
                            renderSerialNos(e.item.Id, e.item.Id);
                        }
                        else {
                            renderSerialNos(e.item.Id, e.item.ReferenceHeaderId);
                        }
                    }

                    //if (e.grid._container.find(".jsgrid-edit-row")[0] != undefined) {


                    //}
                },
                fields: [
                    {
                        name: "Select",
                        title: "Select",
                        type: "checkbox",
                        editing: true
                    },
                    {
                        name: "AdditionalInfo",
                        title: "Description",
                        type: "text",
                        editing: false
                    },
                    {
                        name: "TransactionQuantity",
                        title: "Transaction Quantity",
                        type: "number",
                        editing: false
                    },


                    {
                        name: "AlreadyIssuedQuantity",
                        title: "Issued Quantity",
                        type: "number",
                        editing: false

                    },
                    {
                        name: "BalanceQuantity",
                        title: "Balance Quantity",
                        type: "number", editcss: "team-edit",
                        editing: false,
                        //itemTemplate: function (val, item)
                        //{
                        //    return item.ApprovedQuantity - item.IssuedQuantity;
                        //}

                    },
                    {
                        name: "IssuedQuantity",
                        title: "Current Issue Quantity",
                        type: "number",
                        editing: true,

                    },
                   

                ]
            });
        }
        else
        {
            $("#ItemsArea").hide();
            $("#itemsGrid").html("");
        }
    }

    function renderSerialNos(id,referenceHeaderId)
    {
        $("#SerialNoGrid").jsGrid({
            width: "100%",
            inserting: false,
            editing: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 14,
            pageButtonCount: 5,
            controller: {
                loadData: function (filter) {

                    return $.ajax({
                        type: "GET",
                        url: "/IMS/InventoryManagement/GetSerialNos?referenceid=" + id + "&referenceHeaderId=" + referenceHeaderId,
                        data: filter,
                        dataType: "json"
                    });
                },
                onItemEditing: function (e) {
                    debugger;
                    if (e.grid._container.find(".jsgrid-edit-row")[0] != undefined) {
                        //
                        e.grid.updateItem();
                    }
                },
                updateItem: function (item) {
                    /*debugger;*/
                },
                //deleteItem: function (item) {
                //    onDeleteItem(item.NoteId);
                //}
            },
            fields: [
                {
                    name: "Select",
                    title: "Item Name",
                    type: "checkbox",
                    editing: true
                },
                {
                    name: "SerialNo",
                    title: "SerialNo",
                    type: "text",
                    editing: false
                },
                {
                    name: "Specification",
                    title: "Item Specification",
                    type: "text",
                    editing: false
                },
                {

                        type: "control", deleteButton: false,

                    },
            ]
        });
    }
    function SaveData(e) {
        debugger
        var selectedRows = [];
        var entityGrid = $("#itemsGrid").data("JSGrid");
        if (entityGrid._editingRow != null) {
            entityGrid.updateItem();
        }
        var sum = 0.0;
        var issued = 0;
        for (var i = 0; i < entityGrid.data.length; i++) {
            if (entityGrid.data[i].Select == true) {
                selectedRows.push(entityGrid.data[i]);
                if (parseFloat(entityGrid.data[i].IssuedQuantity) > parseFloat(entityGrid.data[i].BalanceQuantity)) {
                    $(".text-danger").removeClass("validation-summary-valid");
                    $(".text-danger").addClass("validation-summary-errors");
                    ShowNotification("[Invalid Input]Current issued Quantity is exceeding balance quantity", "error");
                    e.preventDefault();
                    return false
                    break;
                }
                else {
                    issued = parseInt(entityGrid.data[i].IssuedQuantity);
                    sum = parseFloat(sum) + parseFloat(entityGrid.data[i].IssuedQuantity);
                    $(".text-danger").removeClass("validation-summary-errors");
                    $(".text-danger").addClass("validation-summary-valid");
                }

            }
        }
        if (parseFloat(sum) > parseFloat(ItemQuantity)) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            ShowNotification("[Invalid Input]Sum of Current issued Quantity and already issued quantity is exceeding requisition quantity", "error");
            e.preventDefault();
            return false
        }
        if (selectedRows.length == 0) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("select at least one item");
            e.preventDefault();
            return false;
        }


        if (IsSerializable == "4") {
            var selectedSerials = [];
            var serialGrid = $("#SerialNoGrid").data("JSGrid");
            if (serialGrid._editingRow != null) {
                serialGrid.updateItem();
            }
            for (var i = 0; i < serialGrid.data.length; i++) {
                if (serialGrid.data[i].Select == true) {
                    selectedSerials.push(serialGrid.data[i].Id);
                }
            }
            if (selectedSerials.length < issued) {
                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html(issued + " serials No are required");
                e.preventDefault();
                return false;
            }
            $("#SerialNoIds").val(JSON.stringify(selectedSerials));
        }
        if ($("#IssueType").data("kendoDropDownList").value() == "" || $("#IssueType").data("kendoDropDownList").value() == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Issue Type is required");
            e.preventDefault();
            return false;
        }
        if ($("#IssueTo").data("kendoDropDownList").value() == "" || $("#IssueTo").data("kendoDropDownList").value() == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Issue To is required");
            e.preventDefault();
            return false;
        }
        $("#Items").val(JSON.stringify(selectedRows));
        console.log(selectedRows);
        //e.preventDefault();
    }
    var onAjaxSuccess = function (res) {
        if (res.success) {
            closeNav()
        }
        else {


            //showError(res.error);
            $(".text-danger").html(res.error);
            $(".text-danger").css("display", "block");
        }
    };


    function closeNav() {

        var win = GetMainWindow();
        win.CloseWindow({ MethodName: "OnAfterNoteCreate1" });
        return false;
    }
</script>