@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Manage Udf Permission";
    Layout = null;
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
}
@inject CMS.Common.IUserContext _userContext
@model UdfPermissionSettingsViewModel

<style>
    .cms-footer {
        position: fixed;
        bottom: 0px;
    }  

</style>

<script type="text/javascript">    

    function closeNavPortal() {
      
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction' == '@DataActionEnum.Create') {
                window.parent.ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction' == '@DataActionEnum.Edit') {
                window.parent.ShowNotification("Updated Successfully", "success");
            }
            closeNavPortal();
        }
        else {
            ShowNotification(res.error);
        }
    };

    function FilterData() {
        var data = {
            ntsType : '@Model.NtsType',
            templateCodes : '@Model.TemplateCodes',
            categoryCodes : '@Model.CategoryCodes',
            udfPermissionHeaderId : '@Model.Id'
        };
        return data;
    }

</script>
<script>    
    var columnDefs = [
        {
            headerName: "Select",
            field: "Id",
            cellRenderer: params => {
                return "<input class='selectcheckbox' type='checkbox' id='selectcheckbox_" + params.value + "'/>";
            }
        },
        {
            field: "TemplateName",

        },
           {
               field: "ColumnName",
           },
           {
               field: "SequenceOrder",

           },
          

    ];

    $(function () {

        getPermissionData();




    });

    function getPermissionData() {
        document.getElementById("grid").innerHTML = "";
        //var param = FilterData();
        gridConfig(
            "grid",
            "/PortalAdmin/UdfPermissionSettings/ReadUdfPermissionColumns?ntsType=@Model.NtsType&templateCodes=@Model.TemplateCodes&categoryCodes=@Model.CategoryCodes&udfPermissionHeaderId=@Model.Id",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>
<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

    <form asp-controller="UdfPermissionSettings" asp-action="ManageUdfPermission" class="form-horizontal"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">

        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>

        <div class="row pad-10">
            <div id="grid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            @*@(Html.Kendo().Grid<UdfPermissionViewModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Template("<input class='selectcheckbox' type='checkbox' id='selectcheckbox_#:Id#'/>").Title("Select").Width(100);
                    // columns.Select().Width(50);
                    columns.Bound(p => p.TemplateName).Width(200);
                    columns.Bound(p => p.ColumnName).Width(200);
                    columns.Bound(p => p.HeaderName).Width(200);
                    columns.Bound(p => p.SequenceOrder).Width(100);
                })
                .Sortable()
                .Scrollable()
                .Resizable(resize => resize.Columns(true))
                .HtmlAttributes(new { style = "height:550px;" })
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .Read(read => read.Action("ReadUdfPermissionColumns", "UdfPermissionSettings", new { area = "PortalAdmin" }).Data("FilterData"))
                .Model(model =>
                {
                    model.Id(p => p.Id);
                })
                .PageSize(1000)
            )
        )*@

        </div>
        <div @*class="cms-footer"*@>
            <div class="col-sm-12" style="text-align:right;">
                <input type="button" class="btn btn-light" value="Close" onclick="OnClose();" />
                <input type="submit" class="btn btn-success" onclick="SaveData(event)" value="Save" />
            </div>
        </div>
       
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        

    </form>
</div>

