@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    var bannerHeight = 65;
    var returnUrl = "";
    string viewBagPortalId = Convert.ToString(ViewBag.PortalId);
    string footerText = Convert.ToString(ViewBag.Footer);
    if (ViewBag.Portal != null)
    {
        bannerHeight = ViewBag.Portal.BannerHeight;
        if (ViewBag.HideHeader != null && ViewBag.HideHeader == true)
        {
            bannerHeight = 10;
        }
        returnUrl = string.Concat("/portal/", Convert.ToString(ViewBag.Portal.Name));

    }
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/Themes/Website/css/icofont.min.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/Themes/Website/css/boxicons.min.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/Themes/Website/css/remixicon.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/Themes/Website/css/venobox.min.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/Themes/Website/css/owl.carousel.min.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/Themes/Website/css/aos.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/Themes/Website/css/theme.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/Themes/Website/css/layout.css" asp-append-version="true" />


<div id="container">
    @if (ViewBag.HideHeader == null || ViewBag.HideHeader == false)
    {
        <div class="hide-in-popup header row no-gutters " style="background-color:white;height:@(bannerHeight)px;border-bottom:solid;border-bottom-width:thin;border-bottom-color: #C4C4C4;">
            <div class="col-md-8 row no-gutters">
                <div class="col-3 toggle-nav" style="color:#fff;padding-top:0px !important;">
                    @if (ViewBag.Portal != null)
                    {
                        if (ViewBag.Portal.LogoId != "null")
                        {
                            <a href="@ViewBag.Portal?.LandingPage" class="logo"><img alt="" title="" style="max-height:@(bannerHeight)px;" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = ViewBag.Portal.LogoId })" onerror='LogoError(this);' /></a> }
                        else
                        {
                            <a href="@ViewBag.Portal?.LandingPage" class="app-name">@ViewBag.Portal.DisplayName</a>
                        }
                    }

                </div>
                <div class="col-9">
                    <nav class="nav-menu d-none d-lg-block" style="height:@(bannerHeight)px;">
                        <ul style="padding-top:10px;">
                            @{
                                var menus = (List<Synergy.App.ViewModel.MenuViewModel>)ViewBag.Menus;
                                var menuGroups = menus.Where(x => x.PageType == TemplateTypeEnum.MenuGroup
                                || (x.PageType != TemplateTypeEnum.MenuGroup && x.ShowOutsideMenuGroup)).OrderBy(x => x.SequenceOrder);
                                foreach (var item in menuGroups)
                                {
                                    if (item.PageType == TemplateTypeEnum.MenuGroup)
                                    {
                                        var childs = menus.Where(x => x.ParentId == item.Id && x.ShowOutsideMenuGroup == false)
                                            .OrderBy(x => x.SequenceOrder);
                                        if (childs.Any())
                                        {
                                            @: <li class="drop-down">
                                                @:  <a class="menu-text" href="">@item.DisplayName</a>
                                                @:   <ul>
                                                    foreach (var child in childs)
                                                    {
                                                        if (child.ShowMenuWhenAuthorized)
                                                        {
                                                            if (_userContext.UserId.IsNotNullAndNotEmpty() && _userContext.IsGuestUser == false)
                                                            {
                                                                @:<li><a class="menu-text menu-link" href="javascript:LoadPageById('@child.Id','@child.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')">@child.DisplayName</a></li>
                                                            }

                                                        }
                                                        else if (child.ShowMenuWhenNotAuthorized)
                                                        {
                                                            if (_userContext.UserId.IsNullOrEmpty() || _userContext.IsGuestUser == true)
                                                            {
                                                                @:<li><a class="menu-text menu-link" href="javascript:LoadPageById('@child.Id','@child.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')">@child.DisplayName</a></li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @:<li><a class="menu-text menu-link" href="javascript:LoadPageById('@child.Id','@child.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')">@child.DisplayName</a></li>
                                                        }
                                                    }
                                                @:   </ul>
                                            @: </li>
                                        }
                                    }
                                    else
                                    {
                                        if (item.ShowMenuWhenAuthorized)
                                        {
                                            if (_userContext.UserId.IsNotNullAndNotEmpty() && _userContext.IsGuestUser == false)
                                            {
                                                @:<li><a class="menu-text menu-link" href="javascript:LoadPageById('@item.Id','@item.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')">@item.DisplayName</a></li>
                                            }

                                        }
                                        else if (item.ShowMenuWhenNotAuthorized)
                                        {
                                            if (_userContext.UserId.IsNullOrEmpty() || _userContext.IsGuestUser == true)
                                            {
                                                @:<li><a class="menu-text menu-link" href="javascript:LoadPageById('@item.Id','@item.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')">@item.DisplayName</a></li>
                                            }
                                        }
                                        else
                                        {
                                            @:<li><a class="menu-text menu-link" href="javascript:LoadPageById('@item.Id','@item.PageType.ToString()','@Synergy.App.Common.RequestSourceEnum.Main.ToString()','@Synergy.App.Common.DataActionEnum.None.ToString()')">@item.DisplayName</a></li>
                                        }

                                    }
                                }
                            }

                            @if (_userContext.UserId.IsNotNullAndNotEmpty() && _userContext.IsGuestUser == false)
                            {
                                <li class="d-lg-none">
                                    <a class="user-context-menu  menu-text" href=""> <img class="user-img rounded-circle" style="display:inline-block;" id="profileImg" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = _userContext.PhotoId })" onerror='OnPhotoError(this);' />@_userContext.Name</a>
                                </li>
                            }


                        </ul>
                    </nav><!-- .nav-menu -->

               

                </div>
            </div>
            <div class="col-md-4 user-menu row no-gutters">
                @if (_userContext.UserId.IsNotNullAndNotEmpty() && _userContext.IsGuestUser == false)
                {
                <div class="logindetail col-12 row no-gutters" style="float:right;margin-right:10px;">
                    <div class="col-1">
                        <div class="notification-div" onclick="openWinNavigateUrl(); return false;">
                            <i class="far fa-bell" style="color:red;font-size:20px;padding-top:5px;padding-left:12px;" id="ImageButton1"></i>
                            <p style="font-size: 10px; text-align: center; margin-top: -3px; color: red;" id="notcount">0</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="user-menu-item context-lng">
                            <span>@ViewBag.LanguageName</span><span class="fa fa-chevron-down d-none user-menu-icon"></span>
                        </div>
                    </div>
                    @if (_userContext.IsSystemAdmin)
                    {
                        @*<div class="col-2">
                            <div class="user-menu-item context-legal">
                                <span>@ViewBag.LegalEntityName</span><span class="fa fa-chevron-down d-none user-menu-icon"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="user-menu-item context-portal">
                                <span>@ViewBag.PortalDisplayName</span><span class="fa fa-chevron-down d-none user-menu-icon"></span>
                            </div>
                        </div>*@
                    }

                    <div class="col-6">
                        <div class="user-menu-item">
                            @if (_userContext.UserId != _userContext.LoggedInAsByUserId)
                            {
                                <span style="font-size:10px;"> <span>Logged in as </span>@_userContext.Name <br /><span>by </span><span>@_userContext.LoggedInAsByUserName </span></span>

                            }
                            else
                            {
                                <span>@_userContext.Name</span>
                            }
                        </div>
                    </div>
                    <div class="col-1">
                        <div style="float: right;">
                            <img class="user-img rounded-circle float-right user-context-menu" style="padding-top:2px;margin-right:0px;" id="profileImg" src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = _userContext.PhotoId })" onerror='OnPhotoError(this);' />
                        </div>

                    </div>
                </div>
                }
            </div>
        </div>
    }
    <section id="main-content" class="clear-padding col-sm-12 col-md-12 mx-auto" style="padding-bottom:30px;padding-top:@(bannerHeight)px;">
        @RenderSection("rb", required: false)

        @RenderBody()
        <div id="global-overlay" class="global-overlay">
            <div class="global-overlay-loader">

            </div>
        </div>

    </section>

</div>
@if (footerText.IsNotNullAndNotEmpty())
{
    <div class="hide-in-popup div-footer text-center" style="padding-top: 8px; padding-bottom: 10px; background-color: #37517e;">
        <div class="credits">
            <span>@Html.Raw(footerText)</span>
        </div>
    </div>
}

<script src="~/Themes/Website/js/jquery.waypoints.min.js" asp-append-version="true"></script>
<script src="~/Themes/Website/js/isotope.pkgd.min.js" asp-append-version="true"></script>
<script src="~/Themes/Website/js/venobox.min.js" asp-append-version="true"></script>
<script src="~/Themes/Website/js/owl.carousel.min.js" asp-append-version="true"></script>
<script src="~/Themes/Website/js/aos.js" asp-append-version="true"></script>
<script src="~/Themes/Website/js/theme.js" asp-append-version="true"></script>