@using CMS.Data.Model
@using CMS.UI.ViewModel
@using Kendo.Mvc.UI
@using CMS.Common

@model SubModuleViewModel
@{
    ViewData["Title"] = "Sub Module";
    Layout = null;
}
<script>
    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

    var columnDefs = [
        {
            field: "Name",
        },
        { field: "ShortName" },
        { field: "ModuleName" },
        {
            field: "Status",
            cellRenderer: params => {
                return statusObj[params.value]; //only for enum
            }
        },
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menuBinSubModule' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\" ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    $(function () {

        getDataSubModule();

        //$.contextMenu('update');
        //$('.context-menu-list').trigger('contextmenu:refresh');

        $.contextMenu({
            selector: '#tree-menuBinSubModule',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');

                //var portalName = $trigger.data('portal-name');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        OnEditSubModule(id);
                                        break;

                                    case 'delete':
                                        OnDeleteSubModule(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },


                            }
                        };


                }
            }
        });


    });


   function getDataSubModule() {
       document.getElementById("subModuleGrid").innerHTML = "";
       gridConfig(
           "subModuleGrid",
            "/portalAdmin/SubModule/ReadData",
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }

</script>

<div>
    <h4>@ViewBag.Title</h4>

    <hr />


    <div class="row">
        <div class="col-12">
            <button type='button' class='btn btn-primary' onclick='OnCreateSubModule();'><i class='fa fas fa-plus'></i>&nbsp;Create SubModule</button>
            <br /><br />
            <div id="subModuleGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>


<script>
    function OnCreateSubModule() {

        
         var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("Create", "SubModule", new { @area="PortalAdmin"})';
        win.OpenWindow({ Title: 'Manage SubModule', Width: 450, Height: 800 });
        return false;

    }
    function OnEditSubModule(id) {
       
       var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("Edit", "SubModule", new { @area= "PortalAdmin" })?Id=' + id;
        win.OpenWindow({ Title: 'Manage SubModule', Width: 450, Height: 800 });
        return false;

    }
        function OnDeleteSubModule(id) {
        var flag = confirm('Do you really want to delete the SubModule?');
        //alert("..Delete");
       

        if (flag) {
            $.ajax({
                url:'@Url.Action("Delete", "SubModule", new { @area="PortalAdmin"})?Id=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    
                    if (result.success) {
                        getDataSubModule();
                        kendo.alert("SubModule Deleted Successfully.");
                    } else {
                        getDataSubModule();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    
                    getDataSubModule();
                }
            });
            return false;
        }
    }




</script>

@*<div>
    <h4>@ViewBag.Title</h4>
    <hr />


    <div class="row">
        <div class="col-12">


            @(Html.Kendo().Grid<SubModuleViewModel>
    ()
    .Name("SubModulegrid")
    .ToolBar(toolbar =>
    toolbar.ClientTemplate("<button type='button' class='btn btn-primary' onclick='OnCreateSubModule();'><i class='fa fas fa-plus'></i>&nbsp;Create SubModule</button>"))

    .Columns(columns =>
    {
        columns.Command(command =>
        {
            command.Custom("Edit").Text("<i class='fa fas fa-pencil'></i>").Click("OnEditSubModule").HtmlAttributes(new { @class = "action-icon" });
            command.Custom("Delete").Text("<i class='fa fas fa-trash'></i>").Click("OnDeleteSubModule").HtmlAttributes(new { @class = "action-icon" });
        }).Title("Action").Width(100);

        columns.Bound(c => c.Name);
        columns.Bound(c => c.ShortName);
        columns.Bound(c => c.ModuleName);
        columns.Bound(c => c.Status);


    })
     .Scrollable(x => x.Enabled(false))
                .Sortable(srt => srt.Enabled(true))
                .Selectable(select => select.Enabled(false))
                .Filterable(f => f.Extra(false)
                                                    .Operators(o => o.ForString(s => s.Clear()
                                                    .Contains("Contains")
                                                    .IsEqualTo("Is equal to")
                                                )))
                .Pageable(pageable => pageable
                .Refresh(true)

                .PageSizes(true)
                .ButtonCount(5))
                .AutoBind(true)
                .DataSource(
                dataSource => dataSource
                .Ajax()
                .PageSize(10)
                //.Events(events => events.Error("OnError"))
                .Read(read => read.Action("ReadData", "SubModule"))
                .Model(model => model.Id(p => p.Id))
                )
          )

        </div>
    </div>
</div>*@

