@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model RecTaskViewModel
@{
    ViewBag.Title = "Pending Job Description Request";
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
       
    });

    function FilterGridPending() {
        var search = {
            TaskStatus: "IN_PROGRESS",//IN_PROGRESS
            Mode: $("#Mode").val(),
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }

    function FilterGridOverDue() {
        var search = {
            TaskStatus: "OVER_DUE",
            Mode: $("#Mode").val(),
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }

    function FilterGridShared() {
        var search = {
            TaskStatus: "",
            Mode: 'SHARE_TO',
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }


    function OnDataBoundPending(arg) {

        document.getElementById('kgrdTask').style.border = 'none';
        var data = $("#kgrdTask").data("kendoListView").dataSource.data();
      
    }
    function OnDataBoundPending1(arg) {

        document.getElementById('kgrdTaskPending').style.border = 'none';
        var data = $("#kgrdTaskPending").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-pending').show();
        } else {
            $('#no-data-pending').hide();
        }
    }

    function OnDataBoundOverdue(arg) {
        document.getElementById('kgrdTaskOverDue').style.border = 'none';
        var data = $("#kgrdTaskOverDue").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-overdue').show();
        } else {
            $('#no-data-overdue').hide();
        }
    }
    function OnDataBoundCompleted(arg) {
        document.getElementById('kgrdTaskCompleted').style.border = 'none';
        var data = $("#kgrdTaskCompleted").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-complete').show();
        } else {
            $('#no-data-complete').hide();
        }
    }
    var isFiltered = false;
    function OpenNote(id) {
        

        var win = GetMainWindow();
        win.iframeOpenUrl = '/nts/note/NoteCard?NoteId=' + id;
        win.OpenWindow({ Title: 'Document', Width: 1200, Height: 650 });
        return false;
    }
    function OpenTask(taskId) {
          

        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("Index", "Task", new { @area= "Cms" })?taskId=' + taskId +'&isPopUp=true';
        win.OpenWindow({ Title: 'View Task', Width: 1200, Height: 1200 });
        return false;
    }
    function IframePostbackScript() {
        //$("#kgrdTask").data("kendoListView").dataSource.read();
        //$("#kgrdTaskOverDue").data("kendoListView").dataSource.read();
        //$("#kgrdTaskCompleted").data("kendoListView").dataSource.read();
        $("#kgrdTaskPending").data("kendoListView").dataSource.read();

    }

    $("#mysearch").keyup(function () {
        var val = $('#mysearch').val();
       
        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Subject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "AssigneeUserName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "JobName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "OrgUnitName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskStatusName",
                    operator: "contains",
                    value: val
                },
                
            ]
        });

        //var listView1 = $("#kgrdTaskOverDue").data("kendoListView");
        //listView1.dataSource.filter({
        //    logic: "or",
        //    filters: [
        //        {
        //            field: "Subject",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "TaskNo",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "CandidateName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "JobName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "OrgUnitName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "GaecNo",
        //            operator: "contains",
        //            value: val
        //        },
        //    ]
        //});


        //var listView2 = $("#kgrdTaskCompleted").data("kendoListView");
        //listView2.dataSource.filter({
        //    logic: "or",
        //    filters: [
        //        {
        //            field: "Subject",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "TaskNo",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "CandidateName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "JobName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "OrgUnitName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "GaecNo",
        //            operator: "contains",
        //            value: val
        //        },
        //    ]
        //});

        //var listView3 = $("#kgrdTaskPending").data("kendoListView");
        //listView3.dataSource.filter({
        //    logic: "or",
        //    filters: [
        //        {
        //            field: "Subject",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "TaskNo",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "CandidateName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "JobName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "OrgUnitName",
        //            operator: "contains",
        //            value: val
        //        },
        //        {
        //            field: "GaecNo",
        //            operator: "contains",
        //            value: val
        //        },

        //    ]
        //});

    });
    function CloseShare() {
        
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function sortbydate() {
        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.sort({ field: "DisplayDueDate", dir: "asc" });
    }
    function sortbyname() {
        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.sort({ field: "Subject", dir: "asc" });
    }

    function sortbyowner() {
        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.sort({ field: "OwnerUserName", dir: "asc" });
    }

    function sortbyassignee() {
        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.sort({ field: "AssigneeUserName", dir: "asc" });
    }
    function filterreset() {
        //resetParam();
        var listView = $("#kgrdTask").data("kendoListView");
        //$("#todoheading").html("Task");
        listView.dataSource.filter({});
        listView.dataSource.sort({ field: "CreatedDate", dir: "desc" });
    }
</script>

<script type="text/x-kendo-tmpl" id="templateTaskPending">
    <div @*class="item-hover"*@>
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">
            @*<div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
    margin-left: 40px;">
               <h1>#=TaskOwnerFirstLetter#</h1>
            </div>*@
            <div class="col-1" style="margin: 10px 0px 10px 0px; max-width:11%">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:11%">
                @*<span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
                <span class="fromcolor" style="font-size: 1em; color:gray; display: inline-block;">To</span>*@
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeUserName#</span>
            </div>
            <div class="col-3" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%" onclick="OpenTask('#:Id#');" title="click to open Task">
                <span style="font-size:1em; color:Highlight">#if(Subject != null) {# #:Subject# #} else{# 'NA' #}#</span>
            </div>

            <div class="col-4" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(JobName != null) {# #:JobName# #} else{# NA #}#</span>
            </div>
          

            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                #if(TaskStatusCode == "INPROGRESS") {#
                <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:orange; text-align:center;white-space:nowrap;">#=TaskNo#</span>
                 #} else if (TaskStatusCode == "OVERDUE"){#
                    <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:red; text-align:center;white-space:nowrap;">#=TaskNo#</span>
                #}
    else if (TaskStatusCode == "COMPLETED"){#
                    <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:green; text-align:center;white-space:nowrap;">#=TaskNo#</span>
                #}
    #
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:green">#if(TaskStatusName != null) {# #:TaskStatusName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <div style="font-size: 1em; color:chocolate">#=DisplayDueDate#</div>
            </div>
        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>

<script type="text/x-kendo-tmpl" id="templateTask">
    <div @*class="item-hover"*@>
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">
            @*<div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
    margin-left: 40px;">
               <h1>#=TaskOwnerFirstLetter#</h1>
            </div>*@
            <div class="col-1" style="margin: 10px 0px 10px 0px; max-width:11%">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:11%">
                @*<span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
                <span class="fromcolor" style="font-size: 1em; color:gray; display: inline-block;">To</span>*@
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeUserName#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%" onclick="OpenTask('#:Id#');" title="click to open Task">
                <span style="font-size:1em; color:Highlight">#if(Subject != null) {# #:Subject# #} else{# 'NA' #}#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(CandidateName != null) {# #:CandidateName# #} else{# NA #}#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(JobName != null) {# #:JobName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:10%">
                <span style="font-size:1em; color:green">#if(OrgUnitName != null) {# #:OrgUnitName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:green">#if(GaecNo != null) {# #:GaecNo# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:orange; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <div style="font-size: 1em; color:chocolate">#=DisplayDueDate#</div>
            </div>
        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>


<script type="text/x-kendo-tmpl" id="templateTaskOverdue">
    <div class="item-hover">
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">
            @*<div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
    margin-left: 40px;">
                   <h1>#=TaskOwnerFirstLetter#</h1>

            </div>*@
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:11%">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:11%">
                @*<span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
                <span class="fromcolor" style="font-size: 1em; color:gray; display: inline-block;">To</span>*@
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeUserName#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%" onclick="OpenTask('#:Id#');" title="click to open Task">
                <span style="font-size: 1em; color:Highlight">#if(Subject != null) {# #:Subject# #} else{# 'NA' #}#</span>
            </div>
           <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(CandidateName != null) {# #:CandidateName# #} else{# NA #}#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(JobName != null) {# #:JobName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:10%">
                <span style="font-size:1em; color:green">#if(OrgUnitName != null) {# #:OrgUnitName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:green">#if(GaecNo != null) {# #:GaecNo# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:red; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <div style="font-size: 1em; color:chocolate">#=DisplayDueDate#</div>
            </div>
        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>
<script type="text/x-kendo-tmpl" id="templateTaskCompleted">
    <div class="item-hover">
        <div class="row" style="padding:3px;margin-left:10px" id="step-template-#=Id#">
            @*<div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
                margin-left: 40px;">
                   <h1>#=TaskOwnerFirstLetter#</h1>
            </div>*@
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:11%">
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:11%">
                @*<span class="fromcolor" style="font-size: 1em; color:gray; display: inline-block;">To</span>*@
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeUserName#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:12%" onclick="OpenTask('#:Id#');" title="click to open Task">
                <span style="font-size: 1em; color:Highlight">#if(Subject != null) {# #:Subject# #} else{# 'NA' #}#</span>
            </div>
           <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(CandidateName != null) {# #:CandidateName# #} else{# NA #}#</span>
            </div>
            <div class="col-2" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:11%">
                <span style="font-size:1em; color:green">#if(JobName != null) {# #:JobName# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:10%">
                <span style="font-size:1em; color:green">#if(OrgUnitName != null) {# #:OrgUnitName# #} else{# NA #}#</span>
            </div>
             <div class="col-1" style="margin: 10px 0px 10px 0px;cursor:pointer;max-width:8%">
                <span style="font-size:1em; color:green">#if(GaecNo != null) {# #:GaecNo# #} else{# NA #}#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:green; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>
            <div class="col-1" style="margin: 10px 0px 10px 0px;max-width:13%">
                <div style="font-size: 1em;color:chocolate">#=DisplayDueDate#</div>
            </div>
        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>

<style>
    .dropdown-toggle::after {
        content: none;
    }

    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .leftmenustyle {
        font-size: 14px;
        color: #4b4f56;
        margin-bottom: 6px;
        font-weight: normal;
        margin-top: 6px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .col-1 {
        flex: none !important;
    }
    /* The hero image */
    .head-image {
        object-fit: fill;
    }

    /* Place text in the middle of the image */
    .head-text {
        text-align: left;
        position: absolute;
        top: 28%;
        color: white;
    }

    .head-img {
        max-width: 100%;
        max-height: 149px;
        width: 100%;
        object-fit: none;
    }

    .main {
        margin-top: 1%;
        text-align: right;
    }

    /* Bootstrap 4 text input with search icon */

    .has-search .form-control {
        padding-left: 2.375rem;
        /*width: 100%;*/
    }

    .form-group {
        width: 40%;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .task-card {
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: 1%;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 98%;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eee;
        min-height: 160px;
    }

    .sub-div {
        overflow-y: scroll;
        height: 550px;
        overflow-x: hidden;
    }

    .card-heading {
        margin-left: 1%;
        font-weight: bold;
        margin-top: 12px;
    }

    .item-hover:hover {
        background-color: #d3d3d340;
        cursor: pointer !important;
    }

    .no-data {
        text-align: center;
        margin-top: 5%;
        font-size: 16px;
        font-weight: 500;
        display: none;
    }

    .no-data-icon {
        color: #c8aa4d;
        font-size: 40px;
    }

    .k-dropdown:hover {
        transform: none !important;
    }

    .k-select:hover {
        transform: none !important;
    }

    .k-input:hover {
        transform: none !important;
    }

    .k-state-hover :hover {
        transform: none !important;
    }

    span:hover {
        transform: none !important;
    }

    .k-link:hover {
        transform: none !important;
    }

    h6:hover {
        transform: none !important;
    }

    .form-control:hover {
        transform: none !important;
    }

    input:hover {
        transform: none !important;
    }

    .task-title {
        padding: 10px;
        background-color: #1c4893;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin-left: 0px;
        margin-right: 10px;
    }
</style>


<div class="main">
    <div class="col-sm-6 form-group" style="text-align:left;top:-20px;">
        @* <h3>Pending Tasks  assigned  to @HttpContext.Current.Session[Constant.SessionVariable.UserName]</h3>*@
    </div>
    <!-- Actual search box -->
    <div class="col-sm-6 form-group has-search pull-right">
        <span class="fa fa-search form-control-feedback"></span>
        <input id="mysearch" type="text" class="form-control" placeholder="Search by task subject, description or number">
    </div>

</div>

<div class="task-card" id="pendinginduction">
    <div style="background-color:#efefef!important">
        <div class="row" style="height: 50px;">
            <div class="col-md-11">
                <div style="float: left; margin-left: 30px; margin-top: 8px;">
                    <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>

                </div>
                <div style="margin-left:30px;">
                    <h5 class="card-heading" style="color:black">Report for Pending Job Description &nbsp;<span class="label label-warning" id="inprogress-task"></span></h5>
                </div>
            </div>
            <div class="col-md-1 pull-right">
                <div class="btn-group" style="margin-top:15px">
                    <a class="k-icon k-i-more-horizontal dropdown-toggle"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px; color: gray">
                    </a>
                    <ul class="dropdown-menu" style="position:absolute;top:20px;right:0px;left:auto; min-width:180px; color:gray">
                        <div class="iconwothtext" style="padding-left:10px" onclick="sortbydate()">
                            <span class="k-icon k-i-calendar-date" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Sort by due date
                            </div>
                        </div>
                        <div class="iconwothtext" style="padding-left:10px" onclick="sortbyname()">
                            <span class="k-icon k-i-convert-lowercase" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Sort by subject
                            </div>
                        </div>
                        <div class="iconwothtext" style="padding-left:10px" onclick="sortbyowner()">
                            <span class="k-icon k-i-user" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Sort by owner
                            </div>
                        </div>
                        <div class="iconwothtext" style="padding-left:10px" onclick="sortbyassignee()">
                            <span class="k-icon k-i-user" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Sort by assignee
                            </div>
                        </div>
                        <div class="iconwothtext" style="padding-left:10px" onclick="filterreset()">
                            <span class="k-icon k-i-reset" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Reset
                            </div>
                        </div>

                    </ul>
                </div>
            </div>


        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: orange;">
    <div class="row task-title text-left">
        <div class="col-1" style="max-width:11%">Task Owner</div>
        <div class="col-1" style="max-width:11%">Assigned To</div>
        <div class="col-3" style="max-width:12%">Subject</div>
        <div class="col-4" style="max-width:11%">Job Name</div>
        <div class="col-1" style="max-width:13%">Task No</div>
        <div class="col-1" style="max-width:10%">Status</div>
        <div class="col-1" style="max-width:13%">Due Date</div>
    </div>
    <div class="sub-div">
        @*@(Html.Kendo().ListView<TaskViewModel>
                ().Name("kgrdTask")
                .TagName("div")
                .ClientTemplateId("templateTask")
                .AutoBind(true)
                .DataSource(
                dataSource => dataSource
                .PageSize(20)
                .Events(events => events.Error("OnError"))
                .Read(read => read.Action("ReadTaskData", "Task", new { Area = "nts" }).Data("FilterGridPending"))
                .Model(model => model.Id(p => p.Id))
                ).Events(events => events
                .DataBound("OnDataBoundPending"))
            )*@

        @(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("kgrdTask")
            .TagName("div")
            .ClientTemplateId("templateTaskPending")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadJDTaskDataPending", "Task", new { Area = "cms" }))
                )
               .Events(events => events
            .DataBound("OnDataBoundPending"))
               .HtmlAttributes(new { @style = "min-width:1000px;overflow-x:scroll" })
        )

        @Html.HiddenFor(x => x.Id)
        <div id="no-data-pending" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

    </div>
</div>

<!--<div class="task-card">
    <div style="background-color:#efefef!important">
        <div class="row" style="height: 50px;">
            <div class="col-md-11">
                <div style="float: left; margin-left: 30px; margin-top: 8px;">
                    <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>

                </div>
                <div style="margin-left:30px;">
                    <h5 class="card-heading" style="color:black">In Progress Tasks &nbsp;<span class="label label-warning" id="inprogress-task"></span></h5>
                </div>
            </div>
            <div class="col-md-1 pull-right">
                <div class="btn-group" style="margin-top:15px">
                    <a class="k-icon k-i-more-horizontal dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px; color: gray">
                    </a>
                    <ul class="dropdown-menu" style="position:absolute;top:20px;right:0px;left:auto; min-width:180px; color:gray">
                        <div class="iconwothtext" style="padding-left:10px" onclick="sortbydate()">
                            <span class="k-icon k-i-calendar-date" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Sort by due date
                            </div>
                        </div>
                        <div class="iconwothtext" style="padding-left:10px" onclick="sortbyname()">
                            <span class="k-icon k-i-convert-lowercase" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Sort by subject
                            </div>
                        </div>
                        <div class="iconwothtext" style="padding-left:10px" onclick="sortbyowner()">
                            <span class="k-icon k-i-user" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Sort by owner
                            </div>
                        </div>
                        <div class="iconwothtext" style="padding-left:10px" onclick="sortbyassignee()">
                            <span class="k-icon k-i-user" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Sort by assignee
                            </div>
                        </div>
                        <div class="iconwothtext" style="padding-left:10px" onclick="filterreset()">
                            <span class="k-icon k-i-reset" style="font-size:18px"> </span> <div class="leftmenustyle" style="font-size:13px">
                                Reset
                            </div>
                        </div>

                    </ul>
                </div>
            </div>


        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: orange;">
    <div class="row task-title text-left">
        <div class="col-1" style="max-width:11%">Task Owner</div>
        <div class="col-1" style="max-width:11%">Assigned To</div>
        <div class="col-2" style="max-width:12%">Subject</div>
        <div class="col-2" style="max-width:11%">Candidate Name</div>
        <div class="col-2" style="max-width:11%">Job Name</div>
        <div class="col-1" style="max-width:10%">Org Unit</div>
        <div class="col-1" style="max-width:8%">GAEC NO</div>
        <div class="col-1" style="max-width:13%">Task No</div>
        <div class="col-1" style="max-width:13%">Due Date</div>
    </div>
    <div class="sub-div">-->
        @*@(Html.Kendo().ListView<TaskViewModel>
                ().Name("kgrdTask")
                .TagName("div")
                .ClientTemplateId("templateTask")
                .AutoBind(true)
                .DataSource(
                dataSource => dataSource
                .PageSize(20)
                .Events(events => events.Error("OnError"))
                .Read(read => read.Action("ReadTaskData", "Task", new { Area = "nts" }).Data("FilterGridPending"))
                .Model(model => model.Id(p => p.Id))
                ).Events(events => events
                .DataBound("OnDataBoundPending"))
            )*@

        <!--@(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("kgrdTask")
            .TagName("div")
            .ClientTemplateId("templateTask")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadTaskDataInProgress", "Task", new { Area = "cms" }))
                )
               .Events(events => events
            .DataBound("OnDataBoundPending"))
               .HtmlAttributes(new { @style = "min-width:1000px;overflow-x:scroll" })
        )

        @Html.HiddenFor(x => x.Id)
        <div id="no-data-pending" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

    </div>
</div>

<div class="task-card">
    <div style="background-color:#efefef!important">
        <div class="row" style="height: 50px;">
            <div style="float: left; margin-left: 30px; margin-top: 8px;">
                <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>

            </div>
            <div style="margin-left:30px;">
                <h5 class="card-heading" style="color:black;">Overdue Tasks &nbsp; <span class="label label-danger" id="overdue-task"></span></h5>

            </div>


        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: red;">
    <div class="row task-title text-left">
        <div class="col-1" style="max-width:11%">Task Owner</div>
        <div class="col-1" style="max-width:11%">Assigned To</div>
        <div class="col-2" style="max-width:12%">Subject</div>
        <div class="col-2" style="max-width:11%">Candidate Name</div>
        <div class="col-2" style="max-width:11%">Job Name</div>
        <div class="col-1" style="max-width:10%">Org Unit</div>
        <div class="col-1" style="max-width:8%">GAEC NO</div>
        <div class="col-1" style="max-width:13%">Task No</div>
        <div class="col-1" style="max-width:13%">Due Date</div>
    </div>
    <div class="sub-div">-->
        @*@(Html.Kendo().ListView<TaskViewModel>
              ().Name("kgrdTaskOverDue")
              .TagName("div")
              .ClientTemplateId("templateTaskOverdue")
              .AutoBind(true)
              .DataSource(
              dataSource => dataSource
              .PageSize(20)
              .Events(events => events.Error("OnError"))
              .Read(read => read.Action("ReadTaskData", "Task", new { Area = "nts" }).Data("FilterGridOverDue"))
              .Model(model => model.Id(p => p.Id))
              ).Events(events => events
              .DataBound("OnDataBoundOverdue"))
            )*@

        <!--@(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("kgrdTaskOverDue")
            .TagName("div")
            .ClientTemplateId("templateTaskOverdue")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadTaskDataOverdue", "Task", new { Area = "cms" }))
                )
               .Events(events => events
            .DataBound("OnDataBoundOverdue"))
        )

        @Html.HiddenFor(x => x.Id)
        <div id="no-data-overdue" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

    </div>
</div>
<div class="task-card">
    <div style="background-color:#efefef!important">
        <div class="row" style="height: 50px;">
            <div style="float: left; margin-left: 30px; margin-top: 8px;">
                <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>

            </div>
            <div style="margin-left:30px;">
                <h5 class="card-heading" style="color:black;">Completed Tasks &nbsp; <span class="label label-danger" id="complete-task"></span></h5>

            </div>


        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: red;">
    <div class="row task-title text-left">
        <div class="col-1" style="max-width:11%">Task Owner</div>
        <div class="col-1" style="max-width:11%">Assigned To</div>
        <div class="col-2" style="max-width:12%">Subject</div>
        <div class="col-2" style="max-width:11%">Candidate Name</div>
        <div class="col-2" style="max-width:11%">Job Name</div>
        <div class="col-1" style="max-width:10%">Org Unit</div>
        <div class="col-1" style="max-width:8%">GAEC NO</div>
        <div class="col-1" style="max-width:13%">Task No</div>
        <div class="col-1" style="max-width:13%">Due Date</div>
    </div>
    <div class="sub-div">

        @(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("kgrdTaskCompleted")
            .TagName("div")
            .ClientTemplateId("templateTaskCompleted")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadTaskDataCompleted", "Task", new { Area = "cms" }))
                )
               .Events(events => events
            .DataBound("OnDataBoundCompleted"))
        )

        @Html.HiddenFor(x => x.Id)
        <div id="no-data-complete" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

    </div>
</div>-->



