
@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@*@using Kendo.Mvc.Extensions;*@
@model AssessmentDetailViewModel
@{
    ViewData["Title"] = "Map Questions";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}
<style>
    body {
        background-color: #268ef9 !important;
    }

    .e-card {
        min-height: 95%;
        top: 30px;
    }

    .button {
        display: inline-block;
        padding: 12px 25px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        /*background-color: #4CAF50;*/
        background-color: #268ef9;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            /*background-color: #3e8e41*/
            background-color: black;
            color: white
        }

        .button:active {
            /*background-color: #3e8e41;*/
            background-color: black;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    .arabic {
        direction: rtl !important;
    }
    .modal-sm{
        max-width:700px !important;
    }
</style>



<div style="padding:10px;" class="e-card">
    <div class="col-md-12" style="padding:10px;direction:rtl;text-align:right;">
        <p>وفقًا لإرشادات الحكومة الاتحادية، فأنت مدعو لحضور اختبارات تقييم الكفاءة الفنية التي لا تتطلب أي استعدادات محددة من جانبك. يرجى قراءة التعليمات أدناه بعناية والالتزام بها.</p>
        <b>التقييم والمدة</b>

        <p>دراسة حالة [1 ساعة]</p>
        <p>التقييم التقني [1 ساعة]</p>

        <ul style="padding-left: 20px;">
            <li>
                ·في يوم التقييم، يرجى الانضمام إلى اجتماع عبر الإنترنت من خلال هذا الرابط (@Model.AssessmentZoomUrl)، سيتم تسجيل الاجتماعات عبر الإنترنت لأغراض ضمان الجودة، وسيتطلب منك عدم اغلاق الكاميرا الخاصة بك طوال الوقت.

            </li>
            <li>
                · يرجى التأكد مقدمًا من أن جهاز الكمبيوتر / الكمبيوتر المحمول الذي ستجري التقييم عليه مثبت عليه برنامج اجتماع التكبير ، والكاميرا والميكروفون يعملان بشكل جيد.

            </li>
            <li>
                · يجب أن تجد مكانًا هادئًا لحضور التقييم الكامل دون أي إزعاج.

            </li>
            <li>
                · تقع على عاتقك مسؤولية ضمان وصولك إلى جهاز كمبيوتر / كمبيوتر محمول موثوق به واتصال جيد بالإنترنت. لن يُسمح لك بحضور التقييم عبر الهاتف المحمول أو الجهاز اللوحي (I Pad).

            </li>
            <li>
                · يرجى الانضمام قبل 5 دقائق من بدء الاجتماع لإعداد الاجتماع. لن يتم توفير وقت إضافي بسبب أي تأخير من جانبك، يرجى إظهار على الشاشة بطاقة هوية الموظف الصالحة لأغراض التحقق.
            </li>
            <li>
                · بمجرد انضمامك إلى الاجتماع عبر الإنترنت، سيستقبلك منسق التقييم في الاجتماع عبر الإنترنت، والذي سيمنحك الوصول إلى اختبار التقييم الفني أولاً. إذا كانت لديك أية مشكلات، فيرجى التحدث إلى المنسق عبر الإنترنت باللغة الإنجليزية.

            </li>
            <li>
                · عند الانتهاء من اختبار التقييم الفني (بعد ساعة واحدة)، سيُظهر لك المنسق دراسة الحالة التي تحتاج إلى كتابة الردود على الأسئلة في وثيقة دراسة الحالة نفسها.

            </li>
            <li>
                · لا يُسمح لك بأخذ نص دراسة الحالة والأسئلة معك. لا يُسمح لك بالتقاط صور لشاشة الكمبيوتر أو تسجيل اجتماعات عبر الإنترنت من جانبك.

            </li>
            <li>
                · سيُطلب منك شرح ردود دراسة الحالة للمقيمين خلال مقابلة الفريق. يجب ألا تناقش أي حقائق أو معلومات تتعلق بالتقييم الفني أو دراسة الحالة مع أي شخص.

            </li>
            <li>
                · لا يُسمح لك بالوصول إلى أي مواد مرجعية أثناء التقييم.

            </li>
            <li>
                · لا يُسمح لك باستخدام الهاتف المحمول أثناء التقييم، لذا يرجى الاحتفاظ بهاتفك المحمول في الوضع الصامت لتجنب أي إلهاء او ازعاج.

            </li>
            <li>
                · سيعتبر ظهورك للاجتماع عبر الإنترنت بمثابة قبول لجميع الشروط المذكورة أعلاه من طرفكم.

            </li>

        </ul>
    </div>
    <div class="col-md-12">
        <p>As per Federal Government guidelines, you are invited to attend Technical Competency Assessment tests for which no specific preparation is required from your side. Please read the below instructions carefully and abide by them.</p>
        <b>Assessment</b>

        <p>Case Study [1 Hour]</p>
        <p>Technical Assessment [1 Hour]</p>

        <ul style="padding-left: 20px;">
            <li>
                1. On the assessment day, please join the online meeting via this link @Model.AssessmentZoomUrl. The online meetings will be recorded for quality assurance purposes, and it will require you to keep your camera on all the time.
            </li>
            <li>
                2.Please ensure in advance that your computer/laptop on which you are going to take assessment has zoom meeting software installed, camera & microphone are working fine.
            </li>
            <li>
                3.You should find a quiet place to attend the full assessment without any disturbance.
            </li>
            <li>
                4.It is your responsibility to ensure that you have access to reliable computer/laptop and good internet connection.  You will not be allowed to attend the assessment via mobile or tablet device.
            </li>
            <li>
                5.Please join 5 minutes before the start of the meeting to setup the meeting. No extra time will be provided due to any delays from your side. Please show your valid Employee ID card for verification purposes.
            </li>
            <li>
                6.Once you join the online meeting, you will be greeted by assessment coordinator in the online meeting, who will give you access to Technical Assessment test first. If you have any issues, please speak to your online coordinator in English.
            </li>
            <li>
                7.On completion of technical assessment test after 1 hour, the coordinator will show you the case study for which you need to type responses to questions in the case study document itself.
            </li>
            <li>
                8.You are not allowed to take the case study text and questions along with you. You are not permitted to take pictures of computer screen or record online meetings at your end.
            </li>
            <li>
                9.You will be required to explain the case study responses to the assessors during panel interview. You should not discuss any facts or information related to the technical assessment or case study with anyone.
            </li>
            <li>
                10.You are not allowed to access any reference material during the assessment.
            </li>
            <li>
                11.You are not allowed to use mobile phone during the assessment, so keep your mobile phone in silent mode to avoid any distractions.
            </li>
            <li>
                12.Your appearance for the online meeting will be considered as acceptance of all the above conditions from your end.
            </li>

        </ul>
    </div>

</div>





<script>
    function PracticeTest() {

    }
    function StartAssessment()
    {
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: 'close', Prms: { serviceId: '@Model.ServiceId', asstype: '@Model.AssessmentType', langcode: '@Model.PreferredLanguageCode', assessmentStatus:'@Model.AssessmentStatus' } });

    }
    function hideLoader() {
        document.getElementById('speach-load').style.display = "none";
    }

    function showLoader() {
        document.getElementById('speach-load').style.display = "unset";
        document.getElementById('speech-srch').innerText = "Loading...";
        $(".main-menu").css("z-index", '2');
        $(".skitt-ui").css("z-index", '2');
    }
</script>