
@using Synergy.App.ViewModel
@using Synergy.App.Common

@*@using Kendo.Mvc.UI*@

@{
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    // Layout = null;
}
@model AssessmentViewModel

<script type="text/javascript">

    function OnAfterServiceCreate() {
        function OnAfterServiceCreate(service) {
            window.parent.$("#TimePermissionGridView").data("kendoGrid").dataSource.read();
        }
    }

    function OnSave(evt) {
        if ($("#AssessmentName").val() != "") {
            ShowLoader($('#assessment'));
            return false;
        }
    }

    var onAjaxSuccess = function (res) {
        
        if (res.success) {

             var win = GetMainWindow();
             Close();
             win.ShowNotification("@SharedResource["SavedSuccessfully"]", "success");
             
             win.$("#kgrdAssessment").data("kendoGrid").dataSource.read();
             HideLoader($('#assessment'));
             return false;

         }
        else {
             $(".text-danger").removeClass("validation-summary-valid");
             $(".text-danger").addClass("validation-summary-errors");
             $(".text-danger").html(res.error);
             HideLoader($('#assessment'));
        }

    };

    function Close() {        
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

</script>

<style>
    
</style>

<div id="assessment">
    <div class="row" style="margin-left:15px;">

        <form asp-area="TAS" asp-controller="TalentAssessment" asp-action="CopyAssessment" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
            <div class="row" style="padding:10px;">

                <div class="col-12">
                    <div class="row-12">
                        <div class="form-label-group">
                            <input asp-for="AssessmentName" type="text" class="form-control" placeholder="Assessment Name" required="required" autocomplete="off" style="width:100%" />
                            <label for="AssessmentName">Assessment Name <span class="required">*</span></label>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 pad-10" style="text-align:right;padding-right:20px;">
                    <button type="button" class="btn btn-light" onclick="Close();">@SharedResource["Close"]</button>
                    <input type="submit" class="btn btn-primary" value="Save" id="submitBtn" onclick="OnSave(event);" />
                </div>

            </div>
            @Html.HiddenFor(x => x.DataAction)
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.NoteId) 
            @Html.HiddenFor(x => x.AssessmentId)
        </form>
    </div>    

</div>
