@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@*@using Kendo.Mvc.Extensions;*@
@{
    // ViewData["Title"] = "Candidate Case Study Report";
    Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    //Layout = null;

}
@model AssessmentInterviewViewModel

<script>

    function onFileUploadSuccess(e) {        
           // console.log(e.response.fileId);
            var url = "";
            ShowLoader($('#appWrapper'));

            if ('@ViewBag.type' == "Id") {
                url = "/TAS/TalentAssessment/SubmitCandidateId?userId=@ViewBag.userId&fileId=" + e.response.fileId;
            }
            else if ('@ViewBag.type' == "Image") {


                $.ajax({
                    url: "/TAS/TalentAssessment/ChangeUserProfilePhoto?photoId=" + e.response.fileId + "&userId=" + '@Model.Id',
                    type: "GET",
                    contentType: "application/json",
                    dataType: "JSON",
                    success: function (response) {

                        kendo.alert("Document uploaded Successfully.");
                        HideLoader($('#appWrapper'));
                        // $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
                        //  $("#PhotoId").val(e.response.fileId);
                    }
                });
            }

            else if ('@ViewBag.type' == "Recording") {
                url = "/assessment/assessment/SubmitCandidateRecording?userId=@ViewBag.userId&fileId=" + e.response.fileId;
            }
            else if ('@ViewBag.type' == "InterviewSheet") {
                url = "/TAS/TalentAssessment/UploadInterviewSheet?userId=@ViewBag.userId&fileId=" + e.response.fileId;
            }


            $.ajax({
                url: url,
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        HideLoader($('#appWrapper'));
                        kendo.alert("Document uploaded Successfully.");
                        window.parent.RefreshGrid();
                    }
                    else {
                        HideLoader($('#appWrapper'));
                    }                    
                },

            });
            return true;
        }

        function OnFileUploadError(e) {
            var msg = "";
            for (var i = 0; i < e.response.errors.length; i++) {
                msg += e.response.errors[i] + "<br/>";
            }
            ShowError(msg);
        }
</script>
<div id="appWrapper">
    <div class="row hr-pad-top-10">
        <div class="col-md-6">
            <h4>
                Upload User @ViewBag.Title
            </h4>
        </div>
    </div>
    <hr />
    <div class="row no-gutter hr-pad-top-bot-5">
        <div class="form-group col-xs-12 col-sm-12">

            <div class="col-lg-5">
                @if (ViewBag.type != "InterviewSheet")
                {
                    @*@(Html.Kendo().Upload().Multiple(false)
                        .Name("file")
                        .Async(a => a
                        .Save("SaveFile", "Document", new { @area = "cms" })
                        .AutoUpload(true)
                        )
                        .Events(e => e.Success("onFileUploadSuccess")
                        )
                            .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" }).MaxFileSize(2097152))
                            .HtmlAttributes(new { @class = "hr-xx-large" })
                    )*@
                }
                else
                {
                    @*@(Html.Kendo().Upload().Multiple(false)
                        .Name("AttachmentValue1")
                        .Async(a => a
                        .Save("Save1", "Document", new { @area = "cms" })
                        .AutoUpload(true)
                        )
                        .Events(e => e.Success("onFileUploadSuccess")
                        )
                            .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".png", ".csv", ".xm,", ".xls", ".xlsx" }))
                            .HtmlAttributes(new { @class = "hr-xx-large" })
                    )*@
                }


            </div>
        </div>
    </div>

    <hr />

    @*@(Html.Kendo().Spreadsheet()
                    .Name("spreadsheet")
                    .HtmlAttributes(new { style = "width:100%;" })

        )*@
    @Html.HiddenFor(x => x.Id)

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#files").closest(".k-upload").find("span").text("upload... ");


    });

    function OnSave() {
        showLoader();
        var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");

        var data = JSON.stringify(spreadsheet.toJSON());

        var url = "/assessment/assessment/ImportAssessmentUsersExcel";
        $.ajax({
            url: url,
            type: "POST",
            data: { 'data': data },
            success: function (data) {
                hideLoader();
                if (data.success) {
                    $(".hr-v-summary").removeClass("validation-summary-errors");
                    $(".hr-v-summary").addClass("validation-summary-valid");
                    $(".hr-v-summary ul").html("");
                    var msg = "User Uploaded Successfully";
                    alert(msg);
                }
                else {
                    var msg = "";
                    for (var i = 0; i < data.errors.length; i++) {
                        msg += data.errors[i] + "<br/>";
                    }
                    ShowError(msg);
                }
            }
        });

    }

    function ShowErrors(err) {
        
        $(".hr-v-summary").removeClass("validation-summary-valid");
        $(".hr-v-summary").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $(".hr-v-summary ul").html(msg);
    }
    function ShowError(err) {
        $(".hr-v-summary").removeClass("validation-summary-valid");
        $(".hr-v-summary").addClass("validation-summary-errors");
        $(".hr-v-summary ul").html(err);
    }
    function hideLoader() {
        document.getElementById('speach-load').style.display = "none";
    }

    function showLoader() {
        document.getElementById('speach-load').style.display = "unset";
        document.getElementById('speech-srch').innerText = "Loading...";
        $(".main-menu").css("z-inModModeIdlex", '2');
        $(".skitt-ui").css("z-index", '2');
    }
    //function onFileSuccess(e) {
    //    $("#divTemplateGrid").hide();
    //    if (e.response.success) {
    //        $("#FileId").val(e.response.fileId);
    //        $(".hr-v-summary").removeClass("validation-summary-errors");
    //        $(".hr-v-summary").addClass("validation-summary-valid");
    //    } else {
    //        var msg = ExtractError(e.response.errors, true);
    //        $(".hr-v-summary").removeClass("validation-summary-valid");
    //        $(".hr-v-summary").addClass("validation-summary-errors");
    //        $(".hr-v-summary ul").html(msg);
    //        var upload = $("#files").data("kendoUpload");
    //        upload.clearAllFiles();
    //    }
    //}

    //    function OnRequestEnd(e) {
    //        //if (e.type === "update") {
    //        //    var grid = $('#kgrdImportTemplateMaster').data('kendoGrid');
    //        //    grid.dataSource.read();
    //        //}
    //}

    //function OnRequestError(e, status) {

    //    if (e.errors) {
    //        var message = "The following errors have occurred:\n";
    //        alert(e.errors)
    //        // var message = "Please correct the records that you enter"
    //        $.each(e.errors, function (key, value) {

    //            if (value.errors) {
    //                message += value.errors.join("\n");
    //            }
    //        });

    //        alert(message);
    //    }
    //}
</script>
<script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='file-wrapper'>
        <h8 class='file-heading file-name-heading'>Name: #=name#</h8>
        <strong class="k-upload-status">
            <button type='button' class='k-upload-action'></button>
            <button type='button' class='k-upload-action'></button>
        </strong>
    </div>
</script>