@inject IStringLocalizer<CMS.UI.Web.Areas.CHR.Controllers.HRDirectController> Resource
@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@*@using Kendo.Mvc.UI*@
@using Synergy.App.Common
@inject IUserContext _userContext;
@{
    ViewBag.Title = @Resource["EmployeeProfileIndex"];
    Layout = null;
}
@model AssignmentViewModel

<style>
    .container {
        max-width: 100% !important;
    }

    .avatar-drp-profile {
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    .drp-user-text {
        font-size: 12px;
        /* color: gray;*/
    }

    .drp-user-name {
        font-size: 14px;
    }

    .avatar-myProfile {
        border-radius: 5%;
        height: 150px;
        width: 150px;
    }

    /*General Info*/

    .pad {
        padding-left: 30px;
    }

    .label-div {
        font-weight: 600;
        color: black;
    }

    .grey-panel {
        border: 1px solid #919191;
        font-weight: 600;
        background-color: #919191;
        padding: 0px 0px 0px 30px;
        border-radius: 6px;
        /*text-align: left;*/
        font-size: 18px;
        color: #fff;
    }

    .blue-panel {
        border: 1px solid #d7d3d3;
        width: 100%;
        font-weight: 600;
        background-color: #1D4993;
        padding: 10px 0px 10px 30px;
        border-radius: 6px;
        text-align: left;
        font-size: 24px;
        color: #fff;
        margin: 0;
        height: 60px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 30px;
        padding: 10px 0px 10px 0px;
    }
    /* accordian styling */

    .card-header .title {
        font-size: 17px;
        color: #000;
    }

    .card-header .accicon {
        float: right;
        font-size: 20px;
        width: 1.2em;
    }

    .card-header {
        cursor: pointer;
        border-bottom: none;
    }

    .card {
        border: 1px solid #ddd;
    }

    .card-body {
        border-top: 1px solid #ddd;
    }

    .card-header:not(.collapsed) .rotate-icon {
        transform: rotate(180deg);
    }
</style>

<script>
    $(document).ready(function () {

        $('#genTab')[0].click();

        @*var url = "/chr/HrDirect/EmployeeProfile?personId=" + '@ViewBag.PersonId';
        LoadPartailView(url, $('#general'));*@

        @*LoadPartailView('@Url.Action("EmployeeProfile", "HrDirect", new { @area="CHR",@personId=ViewBag.PersonId})', $('#general'));*@

        @*$("#PersonId").kendoDropDownList({
            dataTextField: "PersonFullName",
            dataValueField: "PersonId",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: Onchange,
            template: '<div class="row no-gutter pb-1 pt-1">'+
                '<div style="width: 80px;" >' +
                      '#if(data.PhotoId != null)'+
        '{ # <img class= "avatar-drp-profile" src = "/Cms/document/getimagemongo?id=#:data.PhotoId#" /> # }'+
                      'else'+
        '{ # <img class= "avatar-drp-profile" style = "background-color:gray;" src = "/images/profile.jpg" /># }#'+
                     '</div > '+
            '<div style="width:460px;" > '+
        '<span>#: PersonFullName#</span > '+

                    '#if(data.GradeName != null) { # <br /> <span class="drp-user-text" title="Grade">#:GradeName#</span> # } #'+
    '#if(data.Email != null) { # <span style = "float:right;" class= "drp-user-text" title="Email" >#: Email# <i class= "fa fas fa-envelope" style="font-size:12px" ></i></span > #'+
   ' } #'+
                    '#if(data.JobName != null) { # <br/> <span class="drp-user-text" title="Job Title">#:JobName#</span>  # } #'+
                    '#if(data.PersonNo != null){ #<span style = "float:right;" class= "drp-user-text"  title="Person No" >#: PersonNo# <i class= "fa fas fa-user" style="font-size:12px" ></i></span ># } #'+

                    '#if(data.DepartmentName != null) { # <br/> <span class="drp-user-text" title="Organization">#:DepartmentName#</span># } #'+
     '#if(data.SponsorshipNo != null) { # <span style = "float:right;" title = "Iqamah No" class= "drp-user-text" >#: SponsorshipNo#</span> # } #'+
                   '#if(data.PersonStatus != null) { #<br/> <span class="drp-user-text" title="Person Status">#:PersonStatus#</span> # } #'+
                       '</div > '+
                '</div >',
            dataSource: {
                //serverFiltering: true,
                transport: {
                    read: {
                        url: "/CHR/HRDirect/GetPersonListWithDetails?legalEntityId="+'@_userContext.LegalEntityId',
                    }
                },
            },
            filtering: onFiltering,
            height: 400
        });*@

    });

    function reload() {
        /**/
        $('#genTab')[0].click();
        return false;
    }

    //function Onchange(e) {
    //    
    //   // var personid = this.value();
    //   //// alert(personid);
    //   // var portalId = $('#GlobalPortalId').val();
    //   // var customurl = encodeURIComponent('personId=' + personid);
    //   // var url = '/Cms/Page?pageName=HRDirectHomePage&portalId=' + portalId + '&customUrl=' + customurl;
    //   // $(".toggle-nav").trigger("click");
    //   // LoadCmsPartialView(url, 'Custom');

    //    //$('#GlobalHRDirectPersonId').val(this.value());
    //    //var customurl = encodeURIComponent('personId=' + this.value());
    //   // window.location.href = window.location.href;
    //    //var url = '/Cms/Page?pageName=ManagePerson&portalId=' + portalId;;
    //    var url = "/CHR/HRDirect/EmployeeProfileIndex?personId=" + this.value();
    //    //LoadCmsPartialView(url, 'Custom');
    //    LoadPartailView1(url, 'cms-content');
    //}

    //function onFiltering(e) {
    //    
    //    var filterValue = e.filter != undefined ? e.filter.value : "";
    //    e.preventDefault();

    //    this.dataSource.filter({
    //        logic: "or",
    //        filters: [
    //            {
    //                field: "PersonFullName",
    //                operator: "contains",
    //                value: filterValue
    //            },
    //            {
    //                field: "Email",
    //                operator: "contains",
    //                value: filterValue
    //            },
    //            {
    //                field: "JobName",
    //                operator: "contains",
    //                value: filterValue
    //            },
    //            {
    //                field: "DepartmentName",
    //                operator: "contains",
    //                value: filterValue
    //            },
    //            {
    //                field: "GradeName",
    //                operator: "contains",
    //                value: filterValue
    //            },
    //            {
    //                field: "PersonNo",
    //                operator: "contains",
    //                value: filterValue
    //            },
    //            {
    //                field: "SponsorshipNo",
    //                operator: "contains",
    //                value: filterValue
    //            },
    //            {
    //                field: "PersonStatus",
    //                operator: "contains",
    //                value: filterValue
    //            },
    //        ]
    //    });
    //}

    function EditAssignment(noteId) {
        var url = "";
        var portalId = $('#GlobalPortalId').val();
        if (noteId != 'null' && noteId != "" && noteId != undefined) {
             url = '/Cms/Page?lo=Popup&cbm=OnAssUpdate&pageType=Note&source=Edit&dataAction=Edit&templateCodes=HRAssignment&portalId=' + portalId + '&recordId=' + noteId;
        }
        else
        {
             url = '/Cms/Page?lo=Popup&cbm=OnAssUpdate&pageType=Note&source=Edit&dataAction=Create&templateCodes=HRAssignment&portalId=' + portalId + '&recordId=' + noteId;
        }
       
        
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage Assignment', Width: 1200, Height: 650 });
        return false;
    }
    function EditContact(noteId) {
        var url = "";
        var portalId = $('#GlobalPortalId').val();
        if (noteId != 'null' && noteId != "" && noteId != undefined) {
             url = '/Cms/Page?lo=Popup&cbm=OnConUpdate&pageType=Note&source=Edit&dataAction=Edit&templateCodes=HRContract&portalId=' + portalId + '&recordId=' + noteId;
        }
        else {
            url = '/Cms/Page?lo=Popup&cbm=OnConUpdate&pageType=Note&source=Edit&dataAction=Create&templateCodes=HRContract&portalId=' + portalId + '&recordId=' + noteId;
        }
      
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Edit Contract', Width: 1200, Height: 650 });
        return false;
    }

    //function EditPayroll(salinfoid, perid) {
    //    var url = '/pay/SalaryInfo/Create?salaryInfoId=' + salinfoid + '&personId=' + perid;
    //    var win = GetMainWindow();
    //    win.iframeOpenUrl = url;
    //    win.OpenWindow({ Title: 'Edit Salary Info', Width: 1200, Height: 650 });
    //    return false;
    //}
    function OnAssUpdate() {
        $('#assTab')[0].click();
    }
    function OnConUpdate() {
        $('#conTab')[0].click();
    }

    function OnPayrollUpdate() {
        
        $('#payrollTab')[0].click();
    }

</script>


<div class="row  pad-10 no-gutters page-content">
    <div class="container card-header" style="padding:10px;">
                
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a data-toggle="tab" id="genTab" href="#general" class="nav-link active" role="tab" aria-controls="general" aria-selected="true" onclick="LoadPartailView('@Url.Action("EmployeeProfile", "HrDirect", new { @area="CHR",@personId=ViewBag.PersonId})', $('#general'));">Personal Info</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" id="assTab" href="#assignmentPage" class="nav-link" aria-controls="assignmentPage" aria-selected="false" onclick="LoadPartailView('@Url.Action("Assignment", "HrDirect", new { @area="CHR",@personId=ViewBag.PersonId})', $('#assignmentPage'));">Assignment</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" id="conTab" href="#contractPage" class="nav-link" aria-controls="contractPage" aria-selected="false" onclick="LoadPartailView('@Url.Action("Contract", "HrDirect", new { @area="CHR",@personId=ViewBag.PersonId})', $('#contractPage'));">Contract</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" href="#leavePage" class="nav-link" aria-controls="leavePage" aria-selected="false" onclick="LoadPartailView('@Url.Action("LeaveDetail", "Leave", new { @area="CHR",@userId=ViewBag.UserId,@personId=ViewBag.PersonId})', $('#leavePage'));">Leave</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" href="#attendancePage" class="nav-link" aria-controls="attendancePage" aria-selected="false" onclick="LoadPartailView('@Url.Action("EmployeeAttendence", "Attendance", new { @area="Taa",@userId=ViewBag.UserId})', $('#attendancePage'));">Attendance</a>
            </li>
            @*<li class="nav-item">
            <a data-toggle="tab" href="#hierarchyPage" class="nav-link" aria-controls="hierarchyPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("EmployeeProfile", "HrDirect", new { @area="CHR",@personId=ViewBag.PersonId})', $('#hierarchyPage'));">Hierarchy</a>
        </li>*@
            <li class="nav-item">
                <a data-toggle="tab" href="#documentsPage" class="nav-link" aria-controls="documentsPage" aria-selected="false" onclick="LoadPartailView('@Url.Action("EmployeeDocument", "HrDirect", new { @area="CHR",@userId=ViewBag.UserId})', $('#documentsPage'));">Documents</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" href="#dependentsPage" class="nav-link" aria-controls="dependentsPage" aria-selected="false" onclick="LoadPartailView('@Url.Action("Dependant", "HrDirect", new { @area="CHR",@personId=ViewBag.PersonId})', $('#dependentsPage'));">Dependents</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" id="payrollTab" href="#payrollPage" class="nav-link" aria-controls="payrollPage" aria-selected="false" onclick="LoadPartailView('@Url.Action("Payroll", "HrDirect", new { @area="CHR",@personId=ViewBag.PersonId,@salaryInfoId=ViewBag.SalaryInfoId})', $('#payrollPage'));">Payroll</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" href="#payslipPage" class="nav-link" aria-controls="payslipPage" aria-selected="false" onclick="LoadPartailView('@Url.Action("Index", "PayrollSlip", new { @area="CHR",@EmpId=ViewBag.PersonId})', $('#payslipPage'));">Pay Slip</a>
            </li>

        </ul>

        <div class="tab-content">
            <br />
            <div id="general" class="tab-pane in active" role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="assignmentPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="contractPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="leavePage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="attendancePage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="hierarchyPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="documentsPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="dependentsPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="payrollPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="payslipPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
        </div>
    </div>
</div>