@inject IStringLocalizer<CMS.UI.Web.Areas.CHR.Controllers.HRDirectController> Resource
@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@*@using Kendo.Mvc.UI*@
@using Synergy.App.Common


@model MisconductViewModel
@{
    ViewBag.Title = @Resource["Transfer"];
    //  Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}

<style>

    .k-grid a:hover {
        text-decoration: underline !important;
    }

    .hover:hover {
        text-decoration: underline;
    }

    .panel-heading {
        font-size: 1.3em;
        cursor: pointer;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }

    .date {
        margin-left: 1%;
        margin-right: 1%
    }

    .k-listview {
        border: none !important;
    }



    .project-property {
        width: 100px;
        padding: 3px;
    }

    .panel {
        margin-top: 10px;
        border-color: #ddd;
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    }

    .panel-heading:hover {
        background-color: #f1f1f1;
    }

    .panel-success {
        border-color: #d6e9c6;
    }

        .panel-success > .panel-heading {
            color: #468847;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

    .panel-info {
        border-color: #bce8f1;
    }

        .panel-info > .panel-heading {
            color: #3a87ad;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }

    .panel-warning {
        border-color: #fbeed5;
    }

        .panel-warning > .panel-heading {
            color: #c09853;
            background-color: #fcf8e3;
            border-color: #fbeed5;
        }

    .panel-primary {
        border-color: #428bca;
    }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #428bca;
            border-color: #428bca;
        }

    .panel-filter {
        border-color: #428bca;
    }

        .panel-filter > .panel-heading {
            color: #1a3750;
            background-color: #428bca;
            border-color: #428bca;
        }

    .btn-filter-reset {
        color: #fff;
        background-color: #428bca;
        border-color: #428bca;
    }

    #banner {
        width: 100%;
        height: 140px;
        /* height: 160px;*/
        left: 389px;
        top: 157px;
        background: #2D9FCA;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 6px;
        font-family: roboto;
    }
</style>

<Script>
  var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

    var columnDefs = [
        {
            field: "ServiceNo", headerName: "Request No",
            cellRenderer: params => {                
                return "<a style='cursor:pointer;color:blue;' href='javascript:OnEdit(\"" + params.data.Id + "\");'>" + params.value + " </a>";
                
            }
        },
        { field: "Location", headerName: "Transfer Location" },            
        {
            field: "CreatedDate", headerName: "Requested Date",
            cellRenderer: params => {

                var date = new Date(params.value);
                return date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();
            }
        },
        { field: "ServiceStatusName", headerName: "Request Status" },
    ];


    $(function() {
        getDataMisconduct();
    });

    function getDataMisconduct() {
        document.getElementById("transferGrid").innerHTML = "";        
        gridConfig(
            "transferGrid",
            "@Url.Action("GetTransferGridData", "HRDirect", new { @area = "CHR", Id = Model.Id, UserId = Model.UserId })",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

</Script>
<div class="col-12">
    <button type='button' class='btn btn-primary' onclick='OnService();'><i class='fa fas fa-plus'></i>&nbsp;New Transfer Request</button>
    <br /><br />
    <div id="transferGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
</div>


<script>

    $(document).ready(function () {

        var empid = '@Model.Id';
        var userid = '@Model.UserId';

        if (empid.length > 0 && userid.length == 0) {

            var Status = {
                Id: empid,
                Empuserid: '0#',
            };

            kendo.alert("@Resource["PleaseCreateUserforthisPerson"]");

        }
    });

    function OnService() {

        var Empid = '@Model.Id';
        var userid = '@Model.UserId';
        if (Empid.length > 0 && userid.length == 0) {

            kendo.alert("@Resource["PleaseCreateUserforthisPerson"]");
        } else {

            var portalId = $('#GlobalPortalId').val();
            
            var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=PIS_TRANSFER_REQUEST&portalId=' + portalId /*+ '&prms=' + prms*/;

            if (userid.length > 0)
            {
                var prms = encodeURIComponent('ownerUserId=' + '@Model.UserId');
                url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=PIS_TRANSFER_REQUEST&portalId=' + portalId + '&prms=' + prms;
            }
            
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: '@Html.Raw(Resource["Create Transfer Request"])', Width: 1200, Height: 600 });
            return false;
        }
    }

    function OnEdit(ServiceId) {
        debugger;
        var portalId = $('#GlobalPortalId').val();

        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=View&dataAction=View&templateCodes=PIS_TRANSFER_REQUEST&portalId=' + portalId + '&recordId=' + ServiceId;

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Edit Transfer Request', Width: 1200, Height: 600 });
        return false;
    }

    function OnAfterServiceCreate() {
               
        getDataMisconduct();
    }

   
</script>