@using CMS.UI.ViewModel
@using Kendo.Mvc.UI
@using CMS.Common

@model EGovLandingPageViewModel

@{
    ViewBag.Title = "Home";
    Layout = null;
}

<head>
    @*other head stuff...*@
    <link href="~/css/flickity.css" rel="stylesheet" />
    <script src="~/js/flickity.pkgd.min.js"></script>
    @*<link rel="stylesheet" href="~/Content/flickity.css" media="screen">*@
    @*<script src="~/Scripts/flickity.pkgd.min.js"></script>*@
</head>

<style>
    /*Styles.css*/

    .hero-banner {
        /*background-image: url("../../assets/img/hero-banner.png");*/
        width: auto;
        height: auto;
        background-repeat: no-repeat;
        /*clear: both;*/
        margin: 0 0 26px 0;
    }

    .title-aboutus {
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        color: #B45248;
        padding: 20px 0;
    }

    .gen-text {
        font-family: poppins;
        font-size: 16px;
        color: #353535;
        text-align: justify;
        line-height: 32px;
        padding: 0 20px 0 0;
    }

    .about-text {
        width: 50%;
        /*float: left;*/
    }

    .but-bg {
        background-color: #E8E5DE;
        height: 32px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .read-more {
        float: right;
        padding: 4px 20px;
        margin: 0;
    }

    .about-img {
        width: 50%;
        float: left;
    }

    .mid-body {
        width: 90%;
        margin: 0 auto;
        padding: 2px;
        clear: both;
    }

    .services {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        clear: both;
    }

    .service-block {
        padding: 10px;
        height: auto;
        float: left;
    }

    .service-caption {
        display: block;
        clear: both;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .Title-PG {
        text-align: center;
        margin: 0 auto;
        padding: 20px 0 6px 0;
        display: block;
        clear: both;
        font-family: poppins;
        font-size: 18px;
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        color: #B45248;
        padding: 20px 0;
    }

    .gal-img-block {
        width: 100%;
        height: auto;
        padding: 14px;
        border: 1px solid #f0f0f0;
        border-radius: 20px;
        box-shadow: 1px 4px #bababa;
        margin: 0 0 12px 0;
    }

    .gal-img-caption {
        margin: 0 auto;
        text-align: center;
        padding: 4px;
        width: 100%;
        display: block;
        font-family: poppins;
        font-size: 14px;
    }

    .gallery-img {
        clear: both;
        padding: 0;
        margin: 10px 0 2px 0;
        text-align: center;
    }

    .PG-block {
        width: 90%;
        display: block;
        clear: both;
        margin: 60px auto;
    }

    .map {
        border-radius: 20px;
        width: 100%;
        margin: 20px auto;
        padding: 20px;
    }

    .footer-container {
        padding: 0;
        margin: 0 auto;
        background-color: #643126;
        width: 100%;
        color: #fff;
    }

    .footer-body {
        margin: 0 auto;
        background-color: #643126;
        font-size: 16px;
        color: #ffffff;
        width: 90%;
    }

    .copyright {
        text-align: center;
        background-color: #350E05;
        color: #ffffff;
        clear: both;
        margin: 0;
    }

    .footer-block-1 {
        width: 100%;
        padding: 10px 0 0 10px;
        margin: 10px auto;
        float: left;
    }

    .footer-block-2 {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
    }

    .footer-menu-1 {
        width: 50%;
        float: left;
        padding: 10px;
        margin: 10px auto 0;
        line-height: 30px;
    }

    .footer-menu-2 {
        width: 50%;
        float: left;
        padding: 10px;
        margin: 10px auto 0;
        line-height: 30px;
    }

    .social-icon {
        padding: 0;
        margin: 0 0 10px;
        float: left;
        height: 40px;
        width: 50px;
    }

    .copyright-text {
        padding: 16px 0 0 0;
        margin: 0;
        text-align: center;
        line-height: 16px;
    }

    .divider-line {
        border-top: 1px solid #ffffff;
    }

    .aboutus-body {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        height: auto;
    }

    .footer {
        width: 90%;
        margin: 0 auto;
    }

    .hero-banner {
        width: 100%;
        padding-top: 10px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        margin: 0;
        height: auto;
    }

    .no-horz-bar {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    /*Navigation-with-Button.css*/
    .navigation-clean-button {
        background: #fff;
        padding-top: .75rem;
        padding-bottom: .75rem;
        color: #333;
        border-radius: 0;
        box-shadow: none;
        border: none;
        margin-bottom: 0;
    }

    @@media (min-width:768px) {
        .navigation-clean-button {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    .navigation-clean-button .navbar-brand {
        font-weight: bold;
        color: inherit;
    }

        .navigation-clean-button .navbar-brand:hover {
            color: #222;
        }

    .navigation-clean-button .navbar-toggler {
        border-color: #ddd;
    }

        .navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
            background: none;
        }

    .navigation-clean-button .navbar-toggler {
        color: #888;
    }

    .navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
        border-top-color: #ddd;
    }

    .navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
        background: none;
        box-shadow: none;
    }

    .navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
        color: #8f8f8f;
        box-shadow: none;
        background: none;
        pointer-events: none;
    }

    .navigation-clean-button.navbar .navbar-nav .nav-link {
        padding-left: 18px;
        padding-right: 18px;
    }

    .navigation-clean-button.navbar-light .navbar-nav .nav-link {
        color: #465765;
    }

        .navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
            color: #37434d !important;
            background-color: transparent;
        }

    .navigation-clean-button .navbar-nav > li > .dropdown-menu {
        margin-top: -5px;
        box-shadow: 0 4px 8px rgba(0,0,0,.1);
        background-color: #fff;
        border-radius: 2px;
    }

    .navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
        line-height: 2;
        font-size: 14px;
        color: #37434d;
    }

        .navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
            background: #eee;
            color: inherit;
        }

    .navigation-clean-button .actions .login {
        margin-right: 1rem;
        text-decoration: none;
        color: #465765;
    }

    .navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
        background: #56c6c6;
        border-radius: 20px;
        font-size: inherit;
        color: #fff;
        box-shadow: none;
        border: none;
        text-shadow: none;
        padding: .5rem 1rem;
        transition: background-color 0.25s;
        font-size: inherit;
    }

        .navigation-clean-button .navbar-text .action-button:hover {
            background: #66d7d7;
        }

    .img-fluid1 {
        /*border: 1px;
        border-color: lightgray;
        border-style: solid;*/
        width: 150px;
        height: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        /*        border-radius: 15px;
        box-shadow: lightgray;
        box-shadow: 2px 2px lightgrey;*/
    }

    .img-container {
        border: 1px;
        border-color: lightgray;
        border-style: solid;
        width: 220px;
        height: 150px;
        border-radius: 15px;
        box-shadow: lightgray;
        box-shadow: 2px 2px lightgrey;
        text-align: center;
        margin-bottom: 65px;
    }

    /*scrolling images*/

    #MainPost {
        padding: 5px 5px;
        margin-bottom: -1px;
        width: 100%;
        /*height: 78vh;*/
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }

    .group .input {
        margin-bottom: 25px;
        width: 100%;
        color: black;
        display: block;
        border: 1px;
        padding: 15px 20px;
        border-radius: 50px;
        background: rgba(142, 139, 139, 0.1);
    }

    .sectionbox2 {
        margin-bottom: 30px;
        border-radius: 5px;
        color: #333333;
        background: #fff;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        min-height: 100px;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.24), 0px 0px 4px 0px rgba(0,0,0,0.19);
        /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    }

    pre {
        margin: 20px 0;
        padding: 20px;
        background: #fafafa;
    }

    .round {
        border-radius: 50%;
    }

    .gallery-cell {
        width: 100%;
        /*min-height: 230px;*/
        height: 250px;
        margin-right: 10px;
        cursor: pointer;
        background: Transparent;
        counter-increment: gallery-cell;
        border-radius: 10px;
    }

        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

    .flickity-prev-next-button {
        width: 50px;
        height: 50px;
        background: transparent;
    }
        /* arrow color */
        .flickity-prev-next-button .arrow {
            fill: gray;
        }

        .flickity-prev-next-button.no-svg {
            color: white;
        }

        .flickity-prev-next-button:hover {
            background: transparent;
        }
        /* hide disabled button */
        .flickity-prev-next-button:disabled {
            display: none;
        }

    /* position dots in gallery */
    .flickity-page-dots {
        bottom: 10px;
    }
        /* white circles */
        .flickity-page-dots .dot {
            width: 12px;
            height: 12px;
            opacity: 1;
            background: transparent;
            border: 2px solid white;
        }

            .flickity-page-dots .dot.is-selected {
                background: white;
            }

    .gallery-cell img {
        /*        max-width: 100%;
        max-height: 100%;*/
        /*width: 94%;*/
        height: 200px;
    }

    .gallery-cell p {
        /*        max-width: 100%;
        max-height: 100%;*/
        text-align: center;
        vertical-align: middle;
        /* text-align: justify; */
        font-weight: 600;
        color: #ffff;
        width: 94%;
        height: 50px;
        /*background-color: #a9a9a9c2;*/
        /* margin: 0; */
        /* padding-left: 20px; */
        /* margin-left: 15px; */
        margin: 283px 45px 0px 45px;
        position: absolute;
    }

    #banimg {
        /* width: 100%;*/
        min-height: 280px;
    }

    .breadcrumb {
        display: none;
    }

    .top-header {
        box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.24), 0px 17px 50px 0px rgba(0,0,0,0.19);
    }

    .fontstyle {
        font-size: 14px;
        color: #4b4f56;
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    .profilemenustyle {
        font-size: 20px;
        color: #4b4f56;
        display: block;
        margin-top: 8px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .leftmenustyle {
        font-size: 12px;
        color: #4b4f56;
        margin-bottom: 5px;
        font-weight: normal;
        margin-top: 5px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .leftsubmenustyle {
        font-size: 12px;
        color: #4b4f56;
        margin-bottom: 5px;
        font-weight: normal;
        margin-top: 5px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .submenustyle {
        font-size: 11px;
        color: darkgoldenrod;
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

        .iconwothtext.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .iconwothtextsub {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

        .iconwothtextsub.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .sectionbox {
        margin-bottom: 30px;
        border-radius: 5px;
        color: #333333;
        background: #fff;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        min-height: 100px;
    }

    #AnnouncementPost {
        width: 100%;
        height: 75vh;
        overflow: auto;
        overflow-x: hidden;
    }

    #DocumentPost {
        width: 100%;
        height: 45vh;
        overflow: auto;
        overflow-x: hidden;
    }

    #LeftPanel {
        height: 78vh;
        overflow: auto;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #F90;
        background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    }

    /*    @@media (min-width: 800px) {
        body {
            background: #ebe9e7;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 96%;
            background-repeat: no-repeat;
            padding-top: 10px;
            overflow: hidden;
        }
    }*/

    /*    @@media(max-width: 800px) {
        body {
            background: #ebe9e7;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 96%;
            background-repeat: no-repeat;
            padding-top: 10px;
            overflow: auto;
        }
    }*/
    .btn-projects {
        /*float: right;*/
        padding: 15px 40px;
        margin: 0;
    }

    .titlealign {
        text-align: center;
    }

    .mobapp {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .lightBorder {
        margin: 20px;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        border-color: #d3d3d34f;
    }

    .vertical-row {
        Float: left;
        height: 500px;
        width: 1px; /* edit this if you want */
        background-color: #d3d3d34f;
    }

    .card-header {
        color: white;
        background-color: #004466;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        /* background-color: rgba(0, 0, 0, 0.03); */
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card {
        height: 100%;
    }

    .title-aboutus {
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        color: #B45248;
        padding: 20px 0 0;
        text-align: center;
    }

    .img-about-srinagar {
        width: 600px;
        height: 300px;
        border: 10px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px #bababa;
    }

    .but-bg {
        background-color: #E8E5DE;
        height: 32px;
        border-radius: 20px;
    }

    .read-more {
        float: right;
        padding: 4px 20px;
        margin: 0;
    }

    .rounded-pill {
        border-radius: 50rem !important;
    }

    .border {
        border: 1px solid #dee2e6 !important;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }

    .img-project-stats {
        width: 200px;
        height: 200px;
        border: 10px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px #bababa;
    }

    .img-project-stats1 {
        width: 400px;
        height: 400px;
        border: 10px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px #bababa;
    }

    .Main-Title-2 {
        text-align: center;
        margin: 0 auto;
        display: block;
        clear: both;
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        color: #B45248;
        padding: 40px 0 12px;
    }

    .text-desc {
        font-size: 18px;
        text-align: center;
        color: #003366;
        font-weight: 600;
        line-height: 40px;
    }

    .service-name {
        display: block;
        clear: both;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .sub-head {
        text-align: center;
        font-weight: 500;
        margin: 0 auto;
        clear: both;
        font-size: 20px;
        display: block;
        color: #606060;
    }

    .Proj-Titles {
        text-align: center;
        margin: 0 auto;
        display: block;
        clear: both;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        color: #B45248;
        padding: 40px 0 20px;
    }



    .Logo-Block {
        width: 99%;
        display: block;
        clear: both;
        border: 1px solid #cecece;
        border-radius: 12px;
        min-height: 300px;
        max-height: 300px;
        margin: 23px;
    }

    .flickity-prev-next-button.previous {
        left: 10px;
        top: 90px;
    }
    .flickity-prev-next-button.next {
        right: 10px;
        top: 90px;
    }

    .Last-Block {
        width: 99%;
        display: block;
        clear: both;
        border: 1px solid #cecece;
        border-radius: 12px;
        /* min-height: 300px; */
        /* max-height: 300px; */
        margin: 23px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $('.main-gallery').flickity({
            // options
            cellAlign: 'left',
            contain: true,
            autoPlay: 3000,
            pauseAutoPlayOnHover: false,
            wrapAround: true

        });

        onProjectCompleted();
    });

    function onProjectCompleted() {
        $("#divProjectCompleted").show();
        $("#divProjectOnGoing").hide();
        $("#divProjectUpComing").hide();
    }
    function onProjectOnGoing() {
        $("#divProjectCompleted").hide();
        $("#divProjectOnGoing").show();
        $("#divProjectUpComing").hide();
    }
    function onProjectUpComing() {
        $("#divProjectCompleted").hide();
        $("#divProjectOnGoing").hide();
        $("#divProjectUpComing").show();
    }
</script>

<div>
    <div>
        <div class="lightBorder">
            <div class="hero-banner" style="text-align:center;">
                @if (Model.SilderBanner != null)
                {
                    <div class="row">
                        <div id="MainPost">
                            <div class="main-gallery" id="main-gallery">
                                @foreach (var sb in Model.SilderBanner)
                                {
                                    <div class="gallery-cell">
                                        @if (sb.BannerContent.IsNotNullAndNotEmpty())
                                        {
                                            <p>@sb.BannerContent</p>
                                        }
                                        <img src="/cms/Document/GetImageMongo?id=@sb.BannerImageId" />

                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>

        <div class="row" style="text-align:center;margin:5px">
            <div class="col">
                <label class="form-label title-aboutus">About Srinagar Smart City</label>
                <br />
                <img class="img-about-srinagar img-fluid" src="~/images/EGOV/aboutcity01.png">
                <p class="gen-text">Smart City Mission was launched by Ministry of Housing and Urban Affairs (MoHUA) GoI in which 100 cities were to be selected for Urban renewal and retrofitting with the objective to promote cities that provide core infrastructure, give a decent quality of life to their citizens and apply smart solutions to improve services and infrastructure.<br></p>
                <div class="but-bg"><button class="btn btn-secondary active btn-sm border rounded-pill shadow-sm read-more" type="submit">Read More</button></div>
            </div>
            <div class="col Logo-Block">
                <label class="form-label title-aboutus">Orders/Circulars</label>
                <marquee direction="up" height="60%" width="80%">
                    <p>Pre-bid Meeting for Selection of PMC to design,Develop,Manage and Implement City Projects under Smart City Mission in Srinagar&nbsp;&nbsp;<span style="background-color:gold;border-radius:4px;">30 Jun 2018</span></p>
                    <p>Constitution of Smart City Advisory Forum&nbsp;&nbsp;<span style="background-color:gold;border-radius:4px;">06 Nov 2018</span></p>
                    <p>Notification of Logo for Srinagar Smart City Limited&nbsp;&nbsp;<span style="background-color:gold;border-radius:4px;">22 Nov 2018</span></p>
                    <p>RE-ADVERTISEMENT- Notification of LOGO for Srinagar Smart City Limited.&nbsp;&nbsp;<span style="background-color:gold;border-radius:4px;">23 Nov 2019</span></p>

                </marquee>
            </div>
        </div>
        <div class="services titlealign">
            <label class="col-form-label Main-Title-2">Official<br></label>
            <div class="row" style="text-align:center">

                @foreach (var item in Model.CorporatePhotos)
                {

                    <div class="col">

                        <a href="@item.UrlLink" style="cursor:pointer" target="_blank" title="@item.BannerContent">
                            <div class="">

                                <div class="">
                                    <img class="img-fluid img-project-stats " src="/cms/Document/GetImageMongo?id=@item.BannerImageId" onerror="OnDocumentError(this);">
                                </div>
                                <br />
                                <div class="">
                                    <label class="text-desc">@item.BannerContent</label>
                                </div>
                                <br />
                            </div>
                        </a>

                    </div>
                }
            </div>
        </div>
        <div class="services titlealign">
            <label class="title-aboutus">Services Offered</label>
            <label class="form-label sub-head">All services under one roof with hassle-free process<br></label>
            <br />
            <div class="row">
                @foreach (var item in Model.Templates)
                {
                    <div class="col-3">
                        <div class="">
                            <img class="img-fluid img-project-stats " src="/cms/Document/GetImageMongo?id=@item.IconFileId" onerror="OnDocumentError(this);">
                            <br />
                            <label class="service-name">@item.DisplayName</label>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row no-gutters ">
            <div class=" col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xs-12 col-sm12 float-start titlealign">
                <div style=" margin: 10px;" class="Logo-Block">
                    <label class="form-label title-aboutus">Latest News</label>
                    <div class="row">
                        <div id="MainPost">
                            <div class="main-gallery" id="main-gallery">

                                    <div style="" class="gallery-cell">
                                        <span> <img src="~/images/EGOV/Srinagar-to-get-RVMs-for-managing.jpg" /></span>&nbsp;&nbsp;
                                        <span><img style="" src="~/images/EGOV/smart-city-Bods-approves-several.jpg" /></span>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                <div style=" text-align:center; margin: 10px;" class="Logo-Block">
                    <div class=""><label class="form-label title-aboutus">Mobile App</label></div>
                    <div class="row">
                        <div class="col-12 mobapp">
                            <a href="https://play.google.com/store" target="_blank">
                                <img src="~/images/EGOV/mobapp_android.png" />
                            </a>
                        </div>
                        <div class="col-12 mobapp">
                            <a href="https://www.apple.com/in/app-store/" target="_blank">
                                <img src="~/images/EGOV/mobapp_iphone.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row no-gutters ">
            <div class=" col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xs-12 col-sm12 float-start titlealign">
                <div style=" margin: 10px;" class="Logo-Block">
                    <div class=""><label class="form-label title-aboutus">Notifications</label></div>
                    <div class="">
                        <marquee direction="up" height="60%" width="80%">
                            @foreach (var item in Model.Notifications)
                            {
                                <span> - @item.BannerContent</span>
                                <br />
                                <br />
                            }
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                <div style="text-align:center; margin: 10px;" class="Logo-Block">
                    <div class=""><label class="form-label title-aboutus">Videos</label></div>
                    <video controls style="width: 310px; height: 230px;"
                           src="blob:https://www.youtube.com/59c43ca6-24df-401c-874f-fd3a7bd6b859"></video>
                </div>
            </div>
        </div>


     <style>
         li {

         }
     </style>

        <div class="row no-gutters ">
            <div class=" col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xs-12 col-sm12 float-start titlealign">
                <div style=" margin: 10px;" class="Logo-Block">
                    <div class=""><label class="form-label title-aboutus">Tenders</label></div>
                    <div class="">
                        <marquee direction="up" height="60%" width="80%">
                            @foreach (var item in Model.Tenders)
                            {
                                <span> - @item.BannerContent</span>
                                <br />
                                <br />
                            }
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                <div style=" margin: 10px;" class="Logo-Block">
                    <div class="" style=" text-align: center;"><label class="form-label title-aboutus ">Quick Links</label></div>
                    <div class="row">
                        <div class="col">

                            <ul>
                                <li style="list-style-type:circle;list-style:circle">
                                    <a href="https://jkgad.nic.in/" target="_blank" title="GAD,J&K">
                                        GAD,J&K
                                    </a>
                                </li>
                                <li style="list-style-type:circle;list-style:circle">
                                    <a href="http://jkhudd.nic.in/" target="_blank" title=" Housing & Urban Dev Deptt">
                                        Housing & Urban Dev Deptt
                                    </a>
                                </li>
                                <li style="list-style-type:circle;list-style:circle">
                                    <a href="https://srinagarsmartcity.in/" target="_blank" title="Srinagar Smart City">
                                        Srinagar Smart City
                                    </a>
                                </li>
                                <li style="list-style-type:circle;list-style:circle">
                                    <a href="https://srinagar.nic.in/" target="_blank" title=" District Srinagar">
                                        District Srinagar
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li style="list-style-type:circle;list-style:circle">
                                    <a href="https://billsahuliyat.jkpdd.net/" target="_blank" title="J&K PDD">
                                        J&K PDD
                                    </a>
                                </li>


                                <li style="list-style-type:circle;list-style:circle">
                                    <a href="http://phekashmir.com/" target="_blank" title="J&K PHE (Water Works)">
                                        J&K PHE (Water Works)
                                    </a>
                                </li>
                                <li style="list-style-type:circle;list-style:circle">
                                    <a href="http://jklda.org/" target="_blank" title="LAWDA">
                                        LAWDA
                                    </a>
                                </li>
                                <li style="list-style-type:circle;list-style:circle">
                                    <a href="https://www.sdasrinagar.com/" target="_blank" title="Srinagar Developmet Department">
                                        Srinagar Developmet Department
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>




        <div class="services titlealign">
            <div class="row" style="text-align:center;margin-bottom:15px;">
                <div class="col-4">
                    <button class="btn" type="button" onclick="onProjectCompleted();">

                        <h1 class="Proj-Titles">Completed Projects</h1>
                    </button>
                </div>
                <div class="col-4">
                    <button class="btn" type="button" onclick="onProjectOnGoing();">
                        <h1 class="Proj-Titles">In Progress Projects</h1>
                    </button>
                </div>
                <div class="col-4">
                    <button class="btn" type="button" onclick="onProjectUpComing();">
                        <h1 class="Proj-Titles">Up Coming Projects</h1>
                    </button>
                </div>

            </div>
            <div class="row" id="divProjectCompleted" style="display:none;">
                @foreach (var item in Model.ProjectCompleted)
                {
                    <div class="col-12 col-sm-6 col-xl-4">
                        <div class="">
                            <img class="img-project-stats1" src="/cms/Document/GetImageMongo?id=@item.BannerImageId">
                            <label class="text-desc">@item.BannerContent</label>
                        </div>
                    </div>
                }
            </div>
            <div class="row" id="divProjectOnGoing" style="display:none;">
                @foreach (var item in Model.ProjectOnGoing)
                {
                    <div class="col-12 col-sm-6 col-xl-4">
                        <div class="">
                            <img class="img-project-stats1" src="/cms/Document/GetImageMongo?id=@item.BannerImageId">
                            <label class="text-desc">@item.BannerContent</label>
                        </div>
                    </div>
                }
            </div>
            <div class="row" id="divProjectUpComing" style="display:none;">
                @foreach (var item in Model.ProjectUpComing)
                {
                    @*<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="img-container">
                            <img class="img-fluid img-fluid1" src="/cms/Document/GetImageMongo?id=@item.BannerImageId" onerror="OnDocumentError(this);">
                            <label class="service-caption">@item.BannerContent</label>
                        </div>
                    </div>*@
                    <div class="col-12 col-sm-6 col-xl-4">
                        <div class="">
                            <img class="img-project-stats1" src="/cms/Document/GetImageMongo?id=@item.BannerImageId">
                            <label class="text-desc">@item.BannerContent</label>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br />
        <div class="Last-Block" style="text-align: center;">
            <marquee direction="left">



                @foreach (var item in Model.OtherWebsites)
                {
                    <a href="@item.UrlLink" target="_blank" title="@item.BannerContent">
                        <img src="/cms/Document/GetImageMongo?id=@item.BannerImageId" width="200" height="200" alt="Natural" />
                    </a>

                }
            </marquee>
        </div>
        <div class="footer-container">
            <div class="footer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-xl-6">
                        <div class="footer-block-1">
                            <p><strong>Srinagar Smart City Limited</strong><br>Room No.22&amp;23, North Block, Ground Floor Srinagar Municipal Corporation Karan Nagar Srinagar JK 190010 India.<br></p>
                            <p class="divider-line"><br><strong>For any queries</strong><br>Email: info@srinagarsmartcity.org<br>Contact No: +91 1122334499<br></p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-xl-6">
                        <div class="footer-block-2">
                            <div class="footer-menu-1">
                                <p>About us<br>Press &amp; Media<br>Team<br>Careers<br>Contact<br></p>
                            </div>
                            <div class="footer-menu-2">
                                <p>Video Gallery<br>Photo Gallery<br>Latest News<br>Downloads<br><br></p>
                            </div>
                            <div class="social-icon"><img src="~/images/EGOV/ico-twitter_2.png"></div>
                            <div class="social-icon"><img src="~/images/EGOV/ico-fb.png"></div>
                            <div class="social-icon"><img src="~/images/EGOV/ico-instagram.png"></div>
                            <div class="social-icon"><img src="~/images/EGOV/ico-linkedin.png"></div>
                            <div class="social-icon"><img src="~/images/EGOV/ico-pinterest.png"></div>
                            <div class="social-icon"><img src="~/images/EGOV/ico-skype.png"></div>
                            <div class="social-icon"><img src="~/images/EGOV/ico-whatsapp.png"></div>
                            <div class="social-icon"><img src="~/images/EGOV/ico-youtube.png"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="footer-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>