@using Synergy.App.Common;
@using Synergy.App.ViewModel
@using Synergy.App.Business



@{
    ViewData["Title"] = "Module";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model Synergy.App.ViewModel.AdmitCardViewModel



<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    @@media print {
        #printPageButton {
            display: none;
        }

        #downloadPageButton {
            display: none;
        }

        #closeButton {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }

        @@page {
            size: auto;
            margin: 0;
        }
    }
</style>

<script>
    var onAjaxSuccess = function (res) {
        debugger;
        if (res.success) {
            HideLoader($('#createAdmitCard'));
            ShowNotification("Saved Successfully", "success");
            $("#createAdmitCard").hide();
            var vec = document.getElementById("ViewExamCenter")
            var ved = document.getElementById("ViewExamDate")
            vec.innerHTML = res.examCenter

            // $("#ViewExamCenter").val(res.examCenter)
            var ed = $("#ExamDate").val()
            ved.innerHTML = ed
            //$("#ViewExamDate").val(ed)
            $("#viewAdmitCard").show();
        }


    };



    function getPDF(selector) {

        kendo.drawing.drawDOM($(selector)).then(function (group) {
            group.options.set("pdf", {
                paperSize: "A4",
                margin: {
                    left: "20mm",
                    top: "20mm",
                    right: "20mm",
                    bottom: "40mm"
                }
            });
            kendo.drawing.pdf.saveAs(group, "AdmitCard.pdf");
        });
    }
</script>

<div id="createAdmitCard">
    <form asp-area="Rec" asp-controller="RecruitmentMaster" asp-action="AdmitCard"
          method="post" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST" id="admitForm">
        <div class="row" style="padding:40px;">
            @*<center><h2>CRPF Test</h2></center>*@

            <div class="row col-12 pad-10">
                <div class="col-8">
                    <h1>CRPF TEST</h1>
                </div>
                <div class="col-4">
                    @*<img class="img-fluid" style="width: 30%; float: right;" src="/Themes/CareerPortal/img/MyQR3.png" />*@
                    <img class="img-fluid" style="width: 30%; float: right;" src="/cms/Document/GetImageMongo?id=@ViewBag.FileId" />
                </div>
            </div>

            <div class="col-12 pad-10">
                <center><h4>Admit Card</h4></center>
                <div class="form-label-group">
                    <input asp-for="RollNo" value="@Model.RollNo" type="text" class="form-control" placeholder="Enter Roll No" autocomplete="off" style="width:100%" />
                    <label for="RollNo">Roll No</label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">

                    <input asp-for="CandidateName" value="@Model.CandidateName" type="text" class="form-control" placeholder="Enter Candidate Name" autocomplete="off" style="width:100%" />

                    <label for="CandidateName">Candidate Name</label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <label for="ExamCenter">Exam Center</label><br /><br />
                    <input asp-for="ExamCenter" id="ExamCenter" type="text" class="form-control" placeholder="Enter Exam Center" autocomplete="off" style="width:100%" />

                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <label for="ExamDate">Exam Date</label><br /><br />
                    <input asp-for="ExamDate" id="ExamDate" asp-format="{0:dd.MM.yyyy}" value="@DateTime.Now.ToString("dd.MM.yyyy")" type="datetime" class="form-control" style="width:100%" />

                </div>
            </div>
            <div class="cms-slidebar-footer">
                <input type="submit" id="btnSubmit" class="btn btn-primary" style="float:right;" value="Submit" onclick="save(event)" />
                <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();" style="float:right;margin-right:5px">Close</button>

            </div>
            @*<input asp-for="ApplicationId" value="@Model.ApplicationId" hidden type="text" class="form-control" placeholder="Enter Candidate Name" autocomplete="off" style="width:100%" />*@

            @Html.HiddenFor(x => x.ApplicationId)
        </div>

    </form>
</div>
<div id="viewAdmitCard" style="display:none">
    <div class="row" style="padding:40px;float:right">
        <input type="button" id="printPageButton" value="Print" style="margin-right:5px" class="btn btn-dark" onclick="window.print();return false;" />
        <button class="export-pdf k-button" onclick="getPDF('.container')" id="downloadPageButton">Download</button>

    </div>
    <div class="row container" style="padding:40px;margin-left:20px">

        <div class="row col-12 pad-10">
            <div class="col-8">
                @*<h1>CRPF TEST</h1>*@
            </div>
            <div class="col-4">
                @*<img class="img-fluid" style="width: 30%; float: right;" src="/Themes/CareerPortal/img/MyQR3.png" />*@
                <img class="img-fluid" style="width: 50%; float: right;" src="/cms/Document/GetImageMongo?id=@ViewBag.FileId" />
            </div>
        </div>

        <div class="col-12 pad-10">
            <center><h4>Admit Card</h4></center>

        </div>
        <div class="col-12 pad-10">

            <div class="row">
                <div class="col-4">RollNo : </div>
                <div class="col">@Model.RollNo</div>

            </div>

        </div>
        <div class="col-12 pad-10">

            <div class="row">
                <div class="col-4">Candidate Name : </div>
                <div class="col">@Model.CandidateName</div>

            </div>

        </div>

        <div class="col-12 pad-10">

            <div class="row">
                <div class="col-4">Exam Center : </div>
                <div class="col"><span id="ViewExamCenter">@Model.ExamCenter</span></div>

            </div>

        </div>

        <div class="col-12 pad-10">

            <div class="row">
                <div class="col-4">Exam Date : </div>
                <div class="col"><span id="ViewExamDate">@Model.ExamDate.ToString("dd.MM.yyyy") </span></div>
            </div>

        </div>

        @Html.HiddenFor(x => x.ApplicationId)
    </div>

    <div class="cms-slidebar-footer">
        <button type="button" class="btn btn-light" id="closeButton" onclick="closeNavMemberGroup();">Close</button>
    </div>

</div>



<script type="text/javascript">

    function save(event) {
        ShowLoader($('#createAdmitCard'));

    }

    function closeNavMemberGroup() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    $(document).ready(function () {
        //debugger;
        if ('@ViewBag.Mode' == 'View') {
            $("#createAdmitCard").hide();
            $("#viewAdmitCard").show();

        }

        $("#ExamDate").kendoDatePicker({
            @*value: '@Model.ExamDate',*@
          /*  format: "dd.MM.yyyy",*/
            //change: DateChange
        });


        $("#ExamCenter").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            filter: "contains",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Rec/RecruitmentMaster/GetExamCenter",
                    }
                }
            }
        });

     });


</script>
