@using Synergy.App.Common;
@using Synergy.App.ViewModel
@using Synergy.App.Business



@{
    //ViewData["Title"] = "Module";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model Synergy.App.ViewModel.MedFitCertificateViewModel



<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>




<div class="row" style="padding:40px;">
    @*<center><h2>CRPF Test</h2></center>*@
    <div class="row col-12 pad-10">
        <div class="col-8">

        </div>
        <div class="col-4">
            Place: @Html.DisplayFor(x => x.BirthPlace)<br />
            Date: @DateTime.Now


        </div>
    </div>

    <div class="row col-12 pad-10">

        <Center>
            <h2>MEDICAL FITNESS CERTIFICATE</h2>
        </Center>

    </div>
    <div class="row col-12 pad-10">
        <p>
            &nbsp;&nbsp;This is to certify that I have Carefully examined Mr/Ms. @Html.DisplayFor(x => x.FirstName)<br />
            son/daughter of @Html.DisplayFor(x => x.FatherName) aged @Html.DisplayFor(x => x.Age) Of Village @Html.DisplayFor(x => x.Village)<br />
            District @Html.DisplayFor(x => x.District)State @Html.DisplayFor(x => x.State) Pincode <br />
            @Html.DisplayFor(x => x.PinCode)
        </p>
        <p>
            He/She is in good mental and phisical health and is free from any physical <br />
            defects such as deafness,colour blindness and any chornic or contagious  diseases.
        </p><br/>
            <p>
                The certificate is being issued to him/her for the purpose of @Html.DisplayFor(x => x.Purpose)
            </p><br/>

                <p>Signature of the candidate @Html.DisplayFor(x => x.SignatureId)</p><br/>
        <div class="row col-12 pad-10">
            <div class="col-8">

            </div>
            <div class="col-4">
                Medical officer's Name @Html.DisplayFor(x => x.MedicalOfficerName)<br />
                Registration Number @Html.DisplayFor(x => x.RegistrationNumber)<br />
                Signature with seal @Html.DisplayFor(x=>x.MedicalOfficerSignature)<br />


            </div>
        </div>
       

        <p>
            (Note: A medical certificate issued by a quilified docter possessing at least an <br />
            M.B.B.S Degree ,registered with the medical counscil of India is only valid.It will be <br />
            valid up to one year fron the date of issuance.)
        </p>
    </div>


    @*<div class="col-12 pad-10">
        <center><h4>Admit Card</h4></center>
        <div class="form-label-group">
            <input asp-for="RollNo" type="number" class="form-control" placeholder="Enter Roll No" autocomplete="off" style="width:100%" />
            <label for="RollNo">Roll No</label>
        </div>
    </div>
    <div class="col-12 pad-10">
        <div class="form-label-group">

            <input asp-for="CandidateName" type="text" class="form-control" placeholder="Enter Candidate Name" autocomplete="off" style="width:100%" />

            <label for="CandidateName">Candidate Name</label>
        </div>
    </div>

    <div class="col-12 pad-10">
        <div class="form-label-group">
            <input asp-for="ExamCenter" type="text" class="form-control" placeholder="Enter Exam Center" autocomplete="off" style="width:100%" />
            <label for="ExamCenter">Exam Center</label>
        </div>
    </div>

    <div class="col-12 pad-10">
        <div class="form-label-group">

            <input asp-for="ExamDate" class="form-control" style="width:100%" />
            <label for="ExamDate">Exam Date</label>
        </div>
    </div>*@
    <div class="cms-slidebar-footer">
        <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>

    </div>
</div>


    <script type="text/javascript">
    $(document).ready(function () {
        $("#ExamDate").kendoDatePicker({
            @*value: '@Model.ExamDate',*@
            format: "dd.MM.yyyy",
            //change: DateChange
            });

    });

    function closeNavMemberGroup() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }



    </script>
