@using Kendo.Mvc.UI
@using System.Text
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewBag.Title = "Workboard Dashboard";
    //Layout = "/Views/Shared/_Reference.cshtml";
    Layout = null;
}


<div class="row" style="margin:10px">
    <div class="col" style="border:solid;border-color:grey;border-width:thin;padding:10px">

        @*<div class="container" style="border: solid; border-width: thin; border-color: #d3d3d333;border-radius:2px;font-size:20px;margin-bottom:10px">
                <div class="row">
                    <div class="col-sm-2" style="background-color:dodgerblue;border-radius:2px">
                        <span class="fas fa-user" style="color:white"></span>
                    </div>
                    <div class="col-sm">
                        Personals
                    </div>


                </div>


            </div>*@

        @*<hr style="margin-top: 25px; margin-bottom: 25px " />*@

        <button class="btn btn-primary" style="width:100%;background-color:white;color:dodgerblue;margin-bottom:10px" onclick="joinWorkboard()">
            Join WorkBoard
        </button>

        <div class="row hover no-gutters tabs" id="allWorkboards" style="padding: 10px; font-size: 17px;cursor:pointer;" onclick="highlight(this);">
            <div class="col-sm-2" style="border-radius: 2px;">
                <span class="fas fa-table" style="color:gray;font-size:20px;"></span>
            </div>
            <div class="col-sm">
                All WorkBoards
            </div>


        </div>

        <div class="row hover no-gutters tabs" id="myInvites" style="padding: 10px; font-size: 17px; cursor: pointer;" onclick="highlight(this);">
            <div class="col-sm-2" style=" border-radius: 2px;">
                <span class="fas fa-envelope" style="color:gray; font-size: 20px;"></span>
            </div>
            <div class="col-sm">
                My Invites
            </div>


        </div>
        @*<div class="square" id="box"></div>

            <button class="btn btn-primary" onclick="changeShape('square')">Change to square</button>
            <button class="btn btn-primary" onclick="changeShape('octagon')">Change to octagon</button>
            <button class="btn btn-primary" onclick="changeShape('hexagon')">Change to hexagon</button>
            <button class="btn btn-primary" onclick="changeShape('gem')">Change to gem</button>*@
    </div>
    <div class="col-7" style="border: solid; border-color: grey; border-width: thin; background-color: #d3d3d333 ">
        <div id="allWorkboard-section">
            @*<div class="container">
                    <a href="#demo" class="btn btn-info expand-icon" data-toggle="collapse">
                        <i class="fas fa-info-circle"></i>
                        Getting Started - Watch these videos to help you get started!
                        <i style="margin-left: 37%" class="fas fa-arrow-down"></i>
                    </a>
                    <div id="demo" class="collapse expn">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>*@

            <div class="container" style="margin-top:3%">
                <div class="row" style="background-color: white; padding: 10px; margin-left: 12px; width: 99%; ">
                    <div class="col-sm-8" style="font-size: 24px; padding-left: 30px; font-weight: 600;">
                        All WorkBoard
                    </div>
                    <div class="col-sm">
                        <div class="form-outline">
                            <input type="search" id="search-term" class="form-control" placeholder="Search" aria-label="Search" />
                        </div>
                    </div>


                </div>



                <div style="margin: 25px;" id="sorting"></div>
                <div style="margin: 25px;" id="status"></div>

                <div class="row"></div>
                <div class="row" id="listView" @*style="height: 500px; overflow: scroll;"*@></div>
                <script type="text/x-kendo-tmpl" id="template">


                <div class="">
                    <div class="product" >
              #if(data.Id == "new") {#

                <div style="border-style:dashed;height:100%;border-color:dodgerblue">
                   <i onclick="addboard()" class="fas fa-plus-circle" style=" cursor:pointer;   font-size: 50px;margin-top: 40%;color: dodgerblue;"></i>
                </div>
            #} else {#
                <div style="cursor:pointer;" onclick="openWorkBoard('#:data.WorkboardId#')">
                       @*<img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png"
                            alt="#: WorkBoardName # image" />*@

                            <img class="chartImage" src="/Cms/document/getimagemongo?id=#=data.IconFileId#"
                                onerror='OnImgError(this);' />

                </div>
                <hr/>
                    <div style="text-align:start;margin-bottom:1%;height:10px"><div class="row no-gutters">
                    @*<div class="col-8">#:WorkBoardName#</div>*@
                    <div class="col-10" title="#:WorkBoardName#">#:GetCroppedName(WorkBoardName)#</div>
                        <div class="col-2">
                            <i  class="hr-org-menu k-icon k-i-more-vertical"
                                refType="#:data.WorkBoardStatus#" id="#:data.WorkboardId#"
                            style="margin-left: 75%;"></i></div>
                    </div></div>
              #}#
                    </div>
                </div>

                </script>
            </div>
        </div>

        <div id="invite-section">
            <div class="form-outline">
                <input type="search" id="search-term1" class="form-control" placeholder="Search" aria-label="Search" />
            </div>

            <div id="errDiv">
                <div class="alert no-results">
                    <div class="icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 3a9 9 0 109 9 9 9 0 00-9-9zm1 13a1 1 0 01-2 0v-4a1 1 0 012 0zm0-7.25a.25.25 0 01-.25.25h-1.5a.25.25 0 01-.25-.25v-1.5a.25.25 0 01.25-.25h1.5a.25.25 0 01.25.25z"></path></svg></div>
                    <div class="message">You currently do not have any pending invites. Storms that you have been invited to will appear here.</div>
                </div>
            </div>
            <div class="row" id="sharedListView" @*style="height: 500px; overflow: scroll;"*@></div>
            <script type="text/x-kendo-tmpl" id="sharedTemplate">


                <div class="">
                    <div class="product" style="margin: 10px;">
              #if(data.Id == "new") {#

                <div style="border-style:dashed;height:100%;border-color:dodgerblue">
                   <i onclick="addboard()" class="fas fa-plus-circle" style=" cursor:pointer;   font-size: 50px;margin-top: 30%;color: dodgerblue;"></i>
                </div>
            #} else {#
                <div style="" onclick="openWorkBoard('#:data.WorkboardId#')">
                       @*<img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png"
                            alt="#: WorkBoardName # image" />*@

                            <img class="chartImage" src="/Cms/document/getimagemongo?id=#=data.IconFileId#"
                                onerror='OnImgError(this);' />

                </div>
                <hr/>
                    <div style="text-align:start;margin-bottom:1%;height:10px"><div class="row"><div class="col-8">#:WorkBoardName#</div>
                        @*<div class="col"><i  class="hr-org-menu k-icon k-i-more-vertical"
                                refType="#:data.WorkBoardStatus#" id="#:data.WorkboardId#"
                            style="margin-left: 75%;"></i></div>*@
                    </div></div>
              #}#
                    </div>
                </div>

            </script>
        </div>
    </div>
    <div class="col" style="border: solid; border-color: grey; border-width: thin">
        <div class="tab" style="font-size:15px">
            <button class="tablinks" onclick="opentab(event, 'mytask')"><i class="fas fa-calendar"></i>    My Tasks</button>
            <button class="tablinks" onclick="opentab(event, 'activity')"><i class="fas fa-bell"></i>    WorkBoard Activity</button>
        </div>

        <div id="mytask" class="tabcontent">
            <span class="text-muted">Showing my tasks in:</span>
            <br />
            <h3 class="panel-folder">All Workboards</h3>
            <br />
            <h6 id="totalc"></h6>
            <div id="profileCompleteness"></div>
          
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">
                        All
                    </li>
                    <li>
                        In Progress
                    </li>
                    <li>
                        Completed
                    </li>

                </ul>
                <div>
                    <span class="rainy">&nbsp;</span>
                    <div class="weather">
                        <div class="row" id="allTaskList" style="height: 100%;border:none"></div>
                    </div>
                </div>
                <div>
                    <span class="sunny">&nbsp;</span>
                    <div class="weather">
                        <div class="row" id="inProgressTaskList" style="height: 100%; border: none"></div>
                    </div>
                </div>
                <div>
                    <span class="sunny">&nbsp;</span>
                    <div class="weather">
                        <div class="row" id="completeTaskList" style="height: 100%; border: none"></div>
                    </div>
                </div>

            </div>
        </div>

        <div id="activity" class="tabcontent">
            <h3>activity</h3>
            <p>Paris is the capital of France.</p>
        </div>
    </div>
</div>
<script type="text/x-kendo-tmpl" id="task-template">

    <div class="row box">
        <div class="col-2">
    #if(TaskStatusCode == 'TASK_STATUS_COMPLETE' || TaskStatusCode == 'TASK_STATUS_REJECT'|| TaskStatusCode == 'TASK_STATUS_CANCEL') {#
         <div class="circle" style="background-color:green">
    <i class="fas fa-check" style="padding-left: 10%;"></i>
    </div>
    #} else {#
        <div class="circle" style="background-color:dodgerblue" title="In Progress">
    <i class="fas fa-exclamation" style="padding-left: 30%;"></i></div>
    #}#

        </div>
        <div class="col" style="font-size:12px">
            <div class="row">
                <div class="col">
                                <a class="link" onclick="openTask('#:Id#')">#:TaskSubject# </a>
                        </div>
                <div class="col">
                            #:DueDateDisplay#
                        </div>
            </div>
    #if(WorkBoardName == null) {#

    #} else {#
        #:WorkBoardName#
    #}#
        </div>
    </div>

    <hr style="margin-bottom:-10px"/>
</script>
<style>

    .square {
        width: 100px;
        height: 100px;
        background-color: indianred;
    }

    .octagon {
        width: 100px;
        height: 100px;
        background: red;
        position: relative;
    }

        .octagon:before {
            content: "";
            width: 100px;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 29px solid red;
            border-left: 29px solid #fff;
            border-right: 29px solid #fff;
        }

        .octagon:after {
            content: "";
            width: 100px;
            height: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            border-top: 29px solid red;
            border-left: 29px solid #fff;
            border-right: 29px solid #fff;
        }

    .hexagon {
        width: 100px;
        height: 57.735px;
        background: red;
        position: relative;
    }

        .hexagon::before {
            content: "";
            position: absolute;
            top: -28.8675px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 28.8675px solid red;
        }

        .hexagon::after {
            content: "";
            position: absolute;
            bottom: -28.8675px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 28.8675px solid red;
        }

    .gem {
        border-style: solid;
        border-color: transparent transparent red transparent;
        border-width: 0 25px 25px 25px;
        height: 0;
        width: 50px;
        box-sizing: content-box;
        position: relative;
        margin: 20px 0 50px 0;
    }

        .gem:after {
            content: "";
            position: absolute;
            top: 25px;
            left: -25px;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: red transparent transparent transparent;
            border-width: 70px 50px 0 50px;
        }

    .link {
        color: #007bff !important;
        text-decoration: underline !important;
        cursor: pointer !important;
    }

    .box {
        margin-top: 20px;
    }

    .circle {
        border-radius: 25px;
        width: 25px;
        height: 25px;
        margin: 5px;
        color: white;
        padding-left: 4px;
    }

    .hover:hover {
        background-color: lightblue;
    }

    button:hover {
        background-color: lightblue;
    }
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 14px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .listbox {
        padding: 5px;
        border: solid;
        border-color: lightgray;
        border-width: 2px;
    }

    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
        /* Avoid cutout if font or line is bigger */
        font: inherit;
    }

    .k-listview-content {
        overflow: hidden;
    }

    .product {
        border: solid;
        float: left;
        position: relative;
        width: 185px;
        height: 200px;
        margin: 0 5px 30px;
        padding: 1%;
        text-align: center;
        border-color: #d3d3d333;
        background-color: #d3d3d333;
    }

        .product img {
            width: 130px;
            height: 130px;
        }

        .product h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }

        .product p {
            visibility: hidden;
        }

        .product:hover p {
            visibility: visible;
            position: absolute;
            width: 110px;
            height: 110px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 110px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    #search-term1 {
        margin: 20px 0;
        width: 95%;
    }

    #errDiv .alert {
        display: flex;
        align-items: stretch;
        min-height: 70px;
        padding: 0;
        border: 2px solid #3bafda;
        color: #6d6e70;
        background: #fff;
        overflow: hidden;
        margin-top: 5px;
    }

        #errDiv .alert div.icon {
            justify-content: center;
            width: 40px;
            background: #3bafda;
            color: #fff;
            display: flex;
            align-items: center;
        }

            #errDiv .alert div.icon svg {
                height: 24px;
                width: 24px;
                fill: #fff;
            }

        #errDiv .alert div.message {
            display: flex;
            align-items: center;
            flex: 1;
            margin: 5px 20px;
        }
</style>
<script>
    var sharedDataSource;
    $("#invite-section").hide();
    $("#errDiv").hide();
    sharedWbList();

    $("#myInvites").click(function () {
        $("#allWorkboard-section").hide();
        $("#invite-section").show();
        if (sharedDataSource.data().length == 0) {
            $("#errDiv").show();
            $("#sharedListView").hide();
        }
        else {
            $("#errDiv").hide();
            $("#sharedListView").show();
        }

    });

    $("#allWorkboards").click(function () {
        $("#allWorkboard-section").show();
        $("#invite-section").hide();

    });

    function OnImgError(obj) {
        obj.onerror = null;
        obj.src = '/images/document.png';

    };
    function opentab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $("#sorting").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        filter: "contains",
        optionLabel: "Sort By",
        dataSource: {
            serverFiltering: true,
            transport: {
                read: {
                    url: "/CMS/LOV/GetLOVIdNameList?lovType=WORKBOARD_SORTING",
                }
            }
        },
        change: function (e)
        {
            var selectedItems = e.sender.select();
            
            if (selectedItems==1)
            {
                var listView = $("#listView").data("kendoListView");
                listView.dataSource.sort({ field: "WorkBoardName", dir: "asc" }); 
            }
            else if (selectedItems == 2) {   
                var listView = $("#listView").data("kendoListView");
                listView.dataSource.sort({ field: "LastUpdatedDate", dir: "desc" });
            }
            else
            {
                var listView = $("#listView").data("kendoListView");
                listView.dataSource.reload();
            }
        }
    });

    $("#status").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        filter: "contains",
        optionLabel: "Select Status",
        change: OnStatusSelection,
        dataSource: {
            serverFiltering: true,
            transport: {
                read: {
                    url: "/home/GetEnumIdNameList?enumType=WorkBoardstatusEnum",
                }
            }
        },
    });

    function OnStatusSelection(e) {
        var value = this.value();
       // selectedPerformanceId = $("#status").data("kendoDropDownList").value();
        getData(value);

    }

    function getTaskCounts() {
         $.ajax({
            url: "/CMS/Workboard/GetWorkboardTaskList",
            type: 'GET',
             success: function (data) {
                 document.getElementById("totalc").innerText = "";
                 document.getElementById("profileCompleteness").innerHTML = "";
                 var val = data.filter(x => x.TaskStatusCode == "TASK_STATUS_COMPLETE" || x.TaskStatusCode == "TASK_STATUS_REJECT"
                     || x.TaskStatusCode == "TASK_STATUS_CANCEL").length;
                document.getElementById("totalc").innerText = val + " tasks completed out of " + data.length;
                var pb = $("#profileCompleteness").kendoProgressBar({
                    type: "chunk",
                    chunkCount: data.length,
                    min: 0,
                    max: data.length,
                    value: val,
                    animation: {
                        duration: 600
                    }
                }).data("kendoProgressBar");
            }
        });
    }

    var trgt;
    $(document).ready(function () {
        getTaskCounts();

        getData('@WorkBoardstatusEnum.Open');
        getTaskList();
        getInProgressTaskList();
        getCompleteTaskList();
        
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        opentab(event, 'mytask');
    });

    function openTask(id) {
          var portalId = window.parent.$('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=View&dataAction=View&portalId=' + portalId + '&recordId=' + id + '&templateCodes=WB_TASK';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'View Task', Width: 1200, Height: 600 });
    }

    function OnAfterTaskCreate() {
        getTaskCounts();
        getTaskList();
        getInProgressTaskList();
        getCompleteTaskList();
    }

    $('#search-term').on('keyup', function () {
        var search = $.trim($(this).val());
        if (search != "")
            dataSource.filter({ field: "WorkBoardName", operator: "contains", value: search });
        else
            dataSource.filter({});

        return;
    });

    $('#search-term1').on('keyup', function () {
        var search = $.trim($(this).val());
        if (search != "")
            sharedDataSource.filter({ field: "WorkBoardName", operator: "contains", value: search });
        else
            sharedDataSource.filter({});

        return;
    });

    function getTaskList() {
        document.getElementById("allTaskList").innerHTML = "";
          var d = new kendo.data.DataSource({
            transport: {
                   read: {
                    url: "/CMS/Workboard/GetWorkboardTaskList",
                    dataType: "json"
                }
            },
        });

        $("#allTaskList").kendoListView({
            dataSource: d,
            template: kendo.template($("#task-template").html()),
            selectable: '@ListViewSelectionMode.Single',
        });
    }

    function getInProgressTaskList() {
        document.getElementById("inProgressTaskList").innerHTML = "";
          var d = new kendo.data.DataSource({
            transport: {
                   read: {
                    url: "/CMS/Workboard/GetWorkboardTaskList?status=TASK_STATUS_INPROGRESS",
                    dataType: "json"
                }
            },
        });

        $("#inProgressTaskList").kendoListView({
            dataSource: d,
            template: kendo.template($("#task-template").html()),
            selectable: '@ListViewSelectionMode.Single',
        });
    }

    function getCompleteTaskList() {
        document.getElementById("completeTaskList").innerHTML = "";

          var d = new kendo.data.DataSource({
            transport: {
                   read: {
                    url: "/CMS/Workboard/GetWorkboardTaskList?status=TASK_STATUS_COMPLETE",
                    dataType: "json"
                }
            },
        });

        $("#completeTaskList").kendoListView({
            dataSource: d,
            template: kendo.template($("#task-template").html()),
            selectable: '@ListViewSelectionMode.Single',
        });
    }

    var dataSource;
    function getData(status) {

        document.getElementById("listView").innerHTML = "";

           dataSource = new kendo.data.DataSource({
            transport: {
                  read: {
                      url: "/CMS/Workboard/GetWorkboardDashboardList?status=" + status,
                    dataType: "json"
                }
            },
        });

        $("#listView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html()),
            selectable: '@ListViewSelectionMode.Single',
        });


           $.contextMenu({
            selector: '.hr-org-menu',
            className:'context-menu',
            trigger: 'left',
               build: function ($trigger, e) {
                   
                   trgt = $(e);
                var refType = $trigger.attr("reftype");
                var dc = $trigger.attr("dc");
                   var share, duplicate, close, reOpen, edit = false;
                switch (refType) {
                    case '0':
                        share = true;
                        duplicate = true;
                        edit = true;
                        close = true;
                        reOpen = false;
                        break;
                    case '1':
                        reOpen = true;
                        share = false;
                        duplicate = false;
                        edit = false;
                        close = false;
                        break;
                    default:
                }
                return {
                    callback: function (key, options) {
                        $trigger.contextMenu("hide");
                        OnMenuClick($trigger, key);
                    },
                    items: {
                        "share": { name: "Share Board", icon: "fas fa-share", visible: function () { return share; } },
                        "duplicate": { name: "Duplicate Board", icon: "fas fa-clone", visible: function () { return duplicate; } },
                        "edit": { name: "Edit Board", icon: "fas fa-pen", visible: function () { return edit; } },
                        "close": { name: "Close Board", icon: "fas fa-close", visible: function () { return close; } },
                        "reOpen": { name: "Re Open Board", icon: "fas fa-open", visible: function () { return reOpen; } },
                    }
                };


            }
        });
    }


    function sharedWbList() {
         sharedDataSource = new kendo.data.DataSource({
            transport: {
                  read: {
                    url: "/CMS/Workboard/GetSharedWorkboardLists",
                    dataType: "json"
                }
            },
        });

        $("#sharedListView").kendoListView({
            dataSource: sharedDataSource,
            template: kendo.template($("#sharedTemplate").html()),
            selectable: '@ListViewSelectionMode.Single',
        });
    }


    function OnMenuClick(e, command) {
        var id = e.attr("id");

        var portalId = $('#GlobalPortalId').val();
        if (portalId == "") {
            portalId = window.parent.parent.$('#GlobalPortalId').val()
        }

        if (command == "share") {
            OnInviteUser(id);
        }
        if (command == "duplicate") {
            OnDuplicateWorkboard(id);
        }
        if (command == "close") {
            openCloseBoard(id, '@WorkBoardstatusEnum.Closed');
        }
        if (command == "reOpen") {
            openCloseBoard(id, '@WorkBoardstatusEnum.Open');
        }
        if (command == "edit") {
            OnEditWorkboard(id);
        }
    }

    function openCloseBoard(id, status) {
        $.ajax({
                  type: 'POST',
                  url: "/cms/Workboard/OpenCloseWorkboard?id=" + id + "&status=" + status,
                  dataType: 'json',
                    success: function (res) {
                        kendo.alert("Board status changes to " + status);
                        getData($("#status").data("kendoDropDownList").value());
                }
        });
    }

    function OnInviteUser(id,ntsId) {
        var url = "/Cms/Workboard/WorkboardInvite?workBoardId=" + id + "&ntsId=" + ntsId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Invite User', Width: 800, Height: 600 });
        return false;

    }

    function OnDuplicateWorkboard(id) {
        var url = "/Cms/Workboard/DuplicateWorkboard?workBoardId=" + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Duplicate Workboard', Width: 600, Height: 600 });
        return false;

    }
    function OnEditWorkboard(id) {
        var url = "/Cms/Workboard/CreateWorkboard?workBoardId=" + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Edit Workboard', Width: 600, Height: 600 });
        return false;

    }

    function addboard() {
        var url = "/Cms/Workboard/CreateWorkboard";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Create Workboard', Width: 600, Height: 600 });
        return false;

    }

    function refreshList() {
        getData();
    }

    function openWorkBoard(id) {
        
        @*window.location.href = '@Url.Action("JKanBan", "Workboard", new { @area="Cms"})?id=' + id + '&dataAction=@DataActionEnum.Edit';*@
        var portalId = $('#GlobalPortalId').val();
        var workboardId = id;
        var customurl = encodeURIComponent('id=' + workboardId);
        var url = '/Cms/Page?pageName=ManageWorkBoard&portalId=' + portalId + '&customUrl=' + customurl;
        LoadCmsPartialView(url, 'Custom');
    }

    function joinWorkboard() {
        var url = "/Cms/Workboard/JoinWorkboard";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Join Workboard', Width: 600, Height: 380 });
        return false;
    }

    function highlight(element) {
        
        let elements = document.getElementsByClassName('tabs');        
        for (let i = 0; i < elements.length; i++) {
            elements[i].style.background = "#fff";
        }
        element.style.background = "lightblue";
    }
    function GetCroppedName(Name)
    {
        var length = 30;
        if (Name != null && Name!="") {
            var trimmedString = Name.length > length ?
                Name.substring(0, length - 3) + "..." :
                Name;
            return trimmedString;
        }
     
        return "";
    }
</script>


<style>
    .expand-icon {
        width: 99%;
        background-color: white;
        color: gray;
        margin: 12px;
        text-align: start;
    }

    .expn {
        border: 1px solid;
        border-radius: 2px;
        padding: 10px;
        margin-left: 2%;
    }
</style>