@inject IStringLocalizer<Synergy.App.WebUtility.Resources.Areas.Csc.Controllers.CommonServiceController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using System.Web;
@model OnlinePaymentViewModel
@{
    ViewBag.Title = "Payment Response";
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@inject IUserContext usercontext;

<script>
    function RedirectToAnotherPage(url) {
        window.top.location.href = url;
        return false;
    }

    function OnDownloadAck() {
        var serId = '@Model.NtsId';
        var win = GetMainWindow();
        win.iframeOpenUrl = '/Cms/FastReport?rptName=CSC_FinalAcknowledgement_English&lo=@LayoutModeEnum.Popup&rptUrl=Csc/query/GetCSCAcknowledgementEnglishReport?serviceId=' + serId;
        win.OpenWindow({ Title: '@Html.Raw(Resource["Acknowledgement"])', Width: 700, Height: 750 });
		return false;
    }

</script>
<div class="row" style="background-color:#fff;text-align:center;padding-top:100px;height:100vh;">
    @if (Model.PaymentStatusCode == "SUCCESS")
    {
        <div class="col-12">
            <h5 class="text-success" style="font-weight:600;">@Model.UserMessage</h5>
            @if (Model.NtsType != NtsTypeEnum.Service && Model.ReturnUrl.IsNotNullAndNotEmpty())
            {
                <div class="pt-3">
                    <button class="btn btn-primary" onclick="return RedirectToAnotherPage('@Model.ReturnUrl');">@Resource["Go to My Payments"]</button>
                </div>
            }
            @if (Model.NtsType == NtsTypeEnum.Service)
            {
                <div class="pt-3">
                    <button class="btn btn-primary" onclick="return RedirectToAnotherPage('/portal/csc');">@Resource["Go to Home"]</button>
                    <button class="btn btn-primary" onclick="return OnDownloadAck();">@Resource["Download Acknowledgement"]</button>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-12">
            <h5 class="text-danger" style="font-weight:600;">@Model.UserMessage</h5>
            <div class="pt-3">
                <button class="btn btn-danger" onclick="return RedirectToAnotherPage('@Model.RequestUrl');">@Resource["Try Again"]</button>
                @if (Model.ReturnUrl.IsNotNullAndNotEmpty())
                {
                    <button class="btn btn-primary" onclick="return RedirectToAnotherPage('@Model.ReturnUrl');">@Resource["Go to My Payments"]</button>
                }
            </div>
        </div>
    }

</div>
