@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceDocumentController> Resource
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Manage Performance Document";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model PerformanceDocumentViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    #DocumentStatus {
        color: black;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        HideLoader($("#global-overlay"));

        $("#StartDate").kendoDatePicker({ value: "@Model.StartDate", format:"dd MMM yyyy" });
        $("#EndDate").kendoDatePicker({ value: "@Model.EndDate", format: "dd MMM yyyy" });

        //$('.content').richText();
        $("#PerformanceRatingId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
	        optionLabel:'@ApplicationConstant.PlaceHolder_SelectOption',
            value:'@Model.PerformanceRatingId',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PMS/PerformanceDocument/ReadPerformanceRatingList",
                    }
                }
            }
        });

        
         $("#DepartmentId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: '@FilterType.Contains',
	        optionLabel:'@ApplicationConstant.PlaceHolder_SelectOption',
            value:'@Model.DepartmentId',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PMS/PerformanceDocument/ReadDepartmentList",
                    }
                }
            }
        });


    });

    function Close() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function OnSave(evt) {

        var from = $(document.getElementById("StartDate")).val();
        var to = $(document.getElementById("EndDate")).val();
        var goalweightage = $(document.getElementById("GoalWeightage")).val();
        var comptweighatge = $(document.getElementById("CompetencyWeightage")).val();
        if ($("#Name").val() != "" && $("#Year").val() != "" && $("#StartDate").val() != "" && $("#EndDate").val() != "") {
            if ($("#PerformanceRatingId").val() == "") {
                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html("@Resource["PerformanceRatingRequired"]");
                window.scrollTo(0, 0);
                evt.preventDefault();
                return false;
            }
            else if ($("#FinalRatingSourceId").val() == "") {
                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html("@Resource["FinalRatingSourceRequired"]");
                window.scrollTo(0, 0);
                evt.preventDefault();
                return false;
            } else if ((parseInt(goalweightage) + parseInt(comptweighatge)) > 100) {
                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html("@Resource["TotalofGoalWeightageandCompetencyWeightageShouldbelessthan100"]");
                window.scrollTo(0, 0);
                evt.preventDefault();
                return false;
            } else if (from != "" && to != "") {
                if (new Date(to) < new Date(from)) {
                    $(".text-danger").removeClass("validation-summary-valid");
                    $(".text-danger").addClass("validation-summary-errors");
                    $(".text-danger").html("@Resource["EndDateShouldBeGreaterThanStartDate"]");
                    window.scrollTo(0, 0);
                    evt.preventDefault();
                    return false;
                }
                else {
                    $(".text-danger").removeClass("validation-summary-errors");
                    $(".text-danger").addClass("validation-summary-valid");
                    ShowLoader($('#perDocMaster'));
                }
            }
            else {
                $(".text-danger").removeClass("validation-summary-errors");
                $(".text-danger").addClass("validation-summary-valid");
                ShowLoader($('#perDocMaster'));
            }
        }
    }

     var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                window.parent.ShowNotification("@SharedResource["CreatedSuccessfully"]", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                window.parent.ShowNotification("@SharedResource["EditedSuccessfully"]", "success");
            }
            HideLoader($('#perDocMaster'));
            Close();
            window.parent.$("#kgrdPDM").data("kendoGrid").dataSource.read();

        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
            HideLoader($('#perDocMaster'));
        }
    };

</script>

<div class="row" style="margin-left:15px;" id="perDocMaster">

    <form asp-controller="PerformanceDocument" asp-action="ManagePerformanceDocument" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="@SharedResource["Name"]" required="required" autocomplete="off" style="width:80%" />
                    <label for="Name">@SharedResource["Name"] <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <textarea asp-for="Description" class="form-control" placeholder="@SharedResource["Description"]" autocomplete="off" style="width:80%"></textarea>
                    <label for="Description">@SharedResource["Description"]</label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Year" type="number" class="form-control" placeholder="@SharedResource["Year"]" required="required" autocomplete="off" style="width:80%" />
                    <label for="Year">@SharedResource["Year"] <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="StartDate">@SharedResource["StartDate"] <span class="required">*</span></label>
                    </div>
                    @*@(Html.Kendo().DatePickerFor(x=>x.StartDate).Format("dd MMM yyyy").HtmlAttributes(new { @class = "form-control", style = "width: 80%", onkeydown = "javascript:return false;", @required="required" }))*@
                    <input asp-for="StartDate" id="StartDate" class="form-control" style="width:80%!important" required="required" />
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="EndDate">@SharedResource["EndDate"] <span class="required">*</span></label>
                    </div>
                    @*@(Html.Kendo().DatePickerFor(x=>x.EndDate).Format("dd MMM yyyy").HtmlAttributes(new { @class = "form-control", style = "width: 80%", onkeydown = "javascript:return false;", @required = "required" }))*@
                    <input asp-for="EndDate" id="EndDate" class="form-control" style="width:80%!important" required="required" />
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="GoalWeightage" type="number" class="form-control" placeholder="@Resource["GoalWeightage"]" autocomplete="off" style="width:80%" />
                    <label for="Year">@Resource["GoalWeightage"]</label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="CompetencyWeightage" type="number" class="form-control" placeholder="@Resource["CompetencyWeightage"]" autocomplete="off" style="width:80%" />
                    <label for="Year">@Resource["CompetencyWeightage"]</label>
                </div>
            </div>

            <div class="col-12">@Resource["DocumentStatus"]</div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(x=>x.DocumentStatus)
            .DataTextField("Name")
            .DataValueField("Id")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "PerformanceDocumentStatusEnum" });
                });
            })
            .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
            .Value(Model.DocumentStatus.ToString())
            .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
            )*@
                @Html.DisplayFor(x => x.DocumentStatus)
            </div>

            <div class="col-12">@Resource["PerformanceRating"] <span class="required">*</span></div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(x=>x.PerformanceRatingId)
                .DataTextField("Name")
                .DataValueField("Id")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadPerformanceRatingList", "PerformanceDocument", new { @area = "Pms" });
                    });
                })
                .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
            )*@

                <input asp-for="PerformanceRatingId" id="PerformanceRatingId" class="form-control" style="width:80%!important" />
            </div>

           
            <div class="col-12">@SharedResource["Department"]</div>
            <div class="col-12 pad-15">


                <input asp-for="DepartmentId" id="DepartmentId" class="form-control" style="width:80%!important" />
            </div>

            <!--<div class="col-12">@Resource["LetterTemplate"]--> @*<span class="required">*</span>*@<!--</div>
            <div class="col-12 pad-15">
               

                <div class="page-wrapper box-content">
                    <textarea class="content" asp-for="LetterTemplate" id="LetterTemplate"></textarea>
                </div>
            </div>-->


            <div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
                <button type="button" class="btn btn-light" onclick="Close();">@SharedResource["Close"]</button>
                <input type="submit" class="btn btn-primary" value="@SharedResource["Save"]" id="submitBtn" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.DocumentStatus)
    </form>
</div>


