@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceDocumentController> Resource
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Manage Performance Document Stage";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model PerformanceDocumentStageViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>



<div class="row" style="margin-left:15px;" id="perDocStage">

    <form asp-controller="PerformanceDocument" asp-action="ManagePerDocStage" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="@SharedResource["Name"]" required="required" autocomplete="off" style="width:80%" />
                    <label for="Name">@SharedResource["Name"] <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <textarea asp-for="Description" class="form-control" placeholder="@SharedResource["Description"]" autocomplete="off" style="width:80%"></textarea>
                    <label for="Description">@SharedResource["Description"]</label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="StartDate">@SharedResource["StartDate"] <span class="required">*</span></label>
                    </div>
                    @*@(Html.Kendo().DatePickerFor(x=>x.StartDate).Format("dd MMM yyyy").Events(e=>e.Change("OnDateChange")).HtmlAttributes(new { @class = "form-control", style = "width: 80%", onkeydown = "javascript:return false;", @required="required" }))*@
                    <input asp-for="StartDate" id="StartDate" class="form-control" style="width:80%!important" required="required" />
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="EndDate">@SharedResource["EndDate"] <span class="required">*</span></label>
                    </div>
                    @*@(Html.Kendo().DatePickerFor(x=>x.EndDate).Format("dd MMM yyyy").Events(e => e.Change("OnDateChange")).HtmlAttributes(new { @class = "form-control", style = "width: 80%", onkeydown = "javascript:return false;", @required = "required" }))*@
                    <input asp-for="EndDate" id="EndDate" class="form-control" style="width:80%!important" required="required" />
                </div>
            </div>

            <div class="col-12">@Resource["DocumentStageStatus"] <span class="required">*</span></div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(x=>x.DocumentStageStatus)
            .DataTextField("Name")
            .DataValueField("Id")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "PerformanceDocumentStatusEnum", exculdeItem1 = "Closed", exculdeItem2 = "Publishing" });
                });
            })
            .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
            .Value(Model.DocumentStageStatus.ToString())
            .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
            )*@

                <input asp-for="DocumentStageStatus" id="DocumentStageStatus" class="form-control" style="width:80%" />
            </div>

            <div class="col-12 pad-15">
                <input type="checkbox" asp-for="EnableReview" onchange="onEnableReview(event)" />
                <label>@Resource["EnableReview"]</label>
            </div>
            <div class="col-12 pad-10" id="reviewstartDate" style="display:none;">
                <div class="col-12 pad-10" >
                    <div class="form-label-group">
                        <div>
                            <label for="ReviewStartDate">@Resource["ReviewStartDate"] </label>
                        </div>
                        <input asp-for="ReviewStartDate" id="ReviewStartDate" class="form-control" style="width:80%!important" />
                    </div>

                </div>
                <div class="col-12 pad-15">
                    <input type="checkbox" asp-for="EnableIncrementLetter" onchange="onEnableIncrementLetter(event)" />
                    <label>@Resource["EnableIncrementLetter"]</label>
                </div>
            </div>
          
            @*<div class="col-12">@Resource["EmployeeReviewTemplate"]</div>
            <div class="col-12 pad-15">
                <input asp-for="EmployeeReviewTemplate" id="EmployeeReviewTemplate" class="form-control" style="width:80%" />
            </div>
            <div class="col-12">@Resource["ManagerReviewTemplate"]</div>
            <div class="col-12 pad-15">
                <input asp-for="ManagerReviewTemplate" id="ManagerReviewTemplate" class="form-control" style="width:80%" />
            </div>*@
            <div class="col-12">@Resource["PerformanceStageObjective"]</div>
            <div class="col-12 pad-15">
                <input asp-for="PerformanceStageObjective" id="PerformanceStageObjective" class="form-control" style="width:80%" />
            </div>
            <div class="col-12">@Resource["FinalRatingSource"] <span class="required">*</span></div>
            <div class="col-12 pad-15">

                <input asp-for="FinalRatingSourceId" id="FinalRatingSourceId" class="form-control" style="width:80%!important" />
            </div>
            <div class="col-12" id="LetterTemplateArea" style="display:none;">
                <div class="col-12">@Resource["LetterTemplate"] @*<span class="required">*</span>*@</div>
                <div class="col-12 pad-15">
                    <div class="page-wrapper box-content">
                        <textarea class="content" asp-for="LetterTemplate" id="LetterTemplate"></textarea>
                    </div>
                </div>
            </div>
           
            <!--<div class="col-12">@Resource["EmployeeGoalStageTemplate"]</div>
    <div class="col-12 pad-15">-->
            <!--<input asp-for="EmployeeGoalStageTemplateId" id="EmployeeGoalStageTemplateId" class="form-control" style="width:80%" />
    </div>

    <div class="col-12">@Resource["ManageGoalStageTemplate"]</div>
    <div class="col-12 pad-15">-->
            <!--<input asp-for="ManagerGoalStageTemplateId" id="ManagerGoalStageTemplateId" class="form-control" style="width:80%" />
    </div>


    <div class="col-12">@Resource["EmployeeCompetencyStageTemplate"]</div>
    <div class="col-12 pad-15">-->
            @*@(Html.Kendo().DropDownListFor(x=>x.EmployeeCompetencyStageTemplateId)
        .DataTextField("Name")
        .DataValueField("Id")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetPerformanceDocumentCompetencyTemplate", "PerformanceDocument", new { @area = "Pms" });
            });
        })
        .OptionLabel("" + Resource["Select"] + "")
        .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
        )*@

            <!--<input asp-for="EmployeeCompetencyStageTemplateId" id="EmployeeCompetencyStageTemplateId" class="form-control" style="width:80%" />
    </div>

    <div class="col-12">@Resource["ManageCompetencyStageTemplate"]</div>
    <div class="col-12 pad-15">-->
            @*@(Html.Kendo().DropDownListFor(x=>x.ManagerCompetencyStageTemplateId)
        .DataTextField("Name")
        .DataValueField("Id")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetPerformanceDocumentCompetencyTemplate", "PerformanceDocument", new { @area = "Pms" });
            });
        })
        .OptionLabel("" + Resource["Select"] + "")
        .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
        )*@

            <!--<input asp-for="ManagerCompetencyStageTemplateId" id="ManagerCompetencyStageTemplateId" class="form-control" style="width:80%" />
    </div>-->


            <div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
                <button type="button" class="btn btn-light" onclick="Close();">@SharedResource["Close"]</button>
                <input type="submit" class="btn btn-primary" value="@SharedResource["Save"]" id="submitBtn" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ParentNoteId)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.Json)
        @Html.HiddenFor(x => x.DataJson)
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.LastUpdatedBy)
        @Html.HiddenFor(x => x.LastUpdatedDate)
        @Html.HiddenFor(x => x.DocumentMasterId)
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        HideLoader($("#global-overlay"));
        $("#ReviewStartDate").kendoDatePicker({ value: "@Model.ReviewStartDate", format: "dd MMM yyyy"});
        $("#StartDate").kendoDatePicker({ value: "@Model.StartDate", format: "dd MMM yyyy", change: OnDateChange});
        $("#EndDate").kendoDatePicker({ value: "@Model.EndDate", format: "dd MMM yyyy", change: OnDateChange });
        $('.content').richText();
        $("#DocumentStageStatus").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value:'@Model.DocumentStageStatus.ToString()',
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=PerformanceDocumentStatusEnum&exculdeItem1=Closed&exculdeItem2=Publishing",
                    }
                }
            }
        });
        var statusddl = $("#DocumentStageStatus").data("kendoDropDownList");
        statusddl.readonly(true);
        if ("@Model.DataAction"=="Create")
        {
            statusddl.value('@PerformanceDocumentStatusEnum.Draft');
        }
         $("#FinalRatingSourceId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
	        optionLabel:'@ApplicationConstant.PlaceHolder_SelectOption',
            value:'@Model.FinalRatingSourceId',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/CMS/LOV/GetListOfValueList?Type=FINAL_RATING_SOURCE",
                    }
                }
            }
         });
        $("#PerformanceStageObjective").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value:'@Model.PerformanceStageObjective.ToString()',
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=PerformanceObjectiveStageEnum",
                    }
                }
            }
        });

     

        $("#ManagerGoalStageTemplateId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
	        optionLabel:'@Resource["Select"]',
            value:'@Model.ManagerGoalStageTemplateId',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PMS/PerformanceDocument/GetPerformanceDocumentGoalTemplate",
                    }
                }
            }
        });

           $("#EmployeeCompetencyStageTemplateId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
	        optionLabel:'@Resource["Select"]',
            value:'@Model.EmployeeCompetencyStageTemplateId',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PMS/PerformanceDocument/GetPerformanceDocumentCompetencyTemplate",
                    }
                }
            }
           });

         $("#ManagerCompetencyStageTemplateId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
	        optionLabel:'@Resource["Select"]',
            value:'@Model.ManagerCompetencyStageTemplateId',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PMS/PerformanceDocument/GetPerformanceDocumentCompetencyTemplate",
                    }
                }
            }
         });
          $("#EmployeeReviewTemplate").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
	        optionLabel:'@Resource["Select"]',
            value:'@Model.EmployeeReviewTemplate',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PMS/PerformanceDocument/GetEmployeeReviewTemplate",
                    }
                }
            }
         });
         $("#ManagerReviewTemplate").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
	        optionLabel:'@Resource["Select"]',
            value:'@Model.ManagerReviewTemplate',
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PMS/PerformanceDocument/GetManagerReviewTemplate",
                    }
                }
            }
         });

        if ($("#EnableReview").is(":checked")) {

            $("#reviewstartDate").show();
        }
        else {
            $("#reviewstartDate").hide();
        }
        if ($("#EnableIncrementLetter").is(":checked")) {

            $("#LetterTemplate").show();
        }
        else {
            $("#LetterTemplate").hide();
        }
    });



    function Close() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function OnSave(evt) {

        var name = $(document.getElementById("Name")).val();
        var from = $(document.getElementById("StartDate")).val();
        var to = $(document.getElementById("EndDate")).val();
        if (name != "" && from != "" && to != "") {
            if ($("#DocumentStageStatus").val() == "") {
                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html("@Resource["DocumentStageStatusRequired"]");
                evt.preventDefault();
                return false;
            }
            else {
                $(".text-danger").removeClass("validation-summary-errors");
                $(".text-danger").addClass("validation-summary-valid");
                ShowLoader($('#perDocStage'));
            }
        }
    }

    function OnDateChange() {
        var from = $(document.getElementById("StartDate")).val();
        var to = $(document.getElementById("EndDate")).val();
        if (from != "" && to != "") {
            if (new Date(to) > new Date(from)) {
                $(".text-danger").html("");
                $(".text-danger").removeClass("validation-summary-errors");
                $(".text-danger").addClass("validation-summary-valid");
            }
            else {
                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html("@Resource["EndDateShouldBeGreaterThanStartDate"]");
                window.scrollTo(0, 0);
                return false;
            }
        }
    }

     var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                window.parent.ShowNotification("@SharedResource["CreatedSuccessfully"]", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                window.parent.ShowNotification("@SharedResource["EditedSuccessfully"]", "success");
            }
            HideLoader($('#perDocStage'));
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: 'OnAfterPerDocStageCreate' });
            return false;

        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
            HideLoader($('#perDocStage'));
        }
    };

    function onEnableReview(e) {
        debugger
        if ($("#EnableReview").is(":checked")) {

            $("#reviewstartDate").show();
        }
        else {
            $("#reviewstartDate").hide();
        }
    }
    function onEnableIncrementLetter(e) {
        debugger
        if ($("#EnableIncrementLetter").is(":checked")) {

            $("#LetterTemplateArea").show();
        }
        else {
            $("#LetterTemplateArea").hide();
        }
    }
</script>
