@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Competence Matrix";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model ApplicationViewModel

<style>
    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        /*   -webkit-overflow-scrolling: touch;*/
    }
    
    .row {
        flex-wrap:nowrap;
    }
    .table thead th {
        vertical-align: top;
        font-size: 15px;
        border-bottom: 1px solid #bababa;
    }
    @@media print {
        #printPageButton {
            display: none;
        }
        #downloadPageButton {
            display: none;
        }
        .table-header-row {
            background-color: #fff !important;
            color: black !important;
        }

        a[href]:after {
            content: none !important;
        }
        @@page {
            size: A4;
            margin: 1cm;
        }
    }
    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #bababa;
        width: 188px;
    }
    .table thead th {
        vertical-align: top;
        font-size: 15px;
        height: 70px;
        text-align: center;
    }
    .table td{
        height:50px;
    }

    .tab-scroll {
        border-radius:0px;
    }
    .content-box {
        border:none !important;
    }
</style>
<script>
    function getPDF(selector) {
        //
        kendo.drawing.drawDOM($(selector)).then(function (group) {
            kendo.drawing.pdf.saveAs(group, "CompetenceMatrixReport.pdf");
        });
    }
</script>

<body>
    <input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
    <button class="export-pdf k-button" onclick="getPDF('.container')" id="downloadPageButton">Download</button>
    <div class="container">
        <div class="row">
            <div class="col header-box">
                <div class="title-bg">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 white-col">
                            <h4 class="galfar-caption">Galfar Al Misnad Engg. &amp; Contrg. WLL.</h4>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 white-col">
                            @*<h4 class="galfar-caption">F-IMSP06-D3; Rev.0</h4>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col content-box">
                <div class="row">
                    <div class="col">
                        <h4 class="text-center" style="text-decoration:underline; font-size:18px;">COMPETENCE MATRIX (STAFF &amp; TECHNICIANS)<br></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-xl-8 col-md-7 col-sm-7">
                                <div class="row">
                                    <div class="col-xl-4 col-md-5 col-sm-5"><label class="col-form-label" style="font-weight:bold;">Name of Employee</label></div>
                                    <div class="col-xl-8 col-md-7 col-sm-7"><label class="col-form-label" style="margin-left:0px;"><strong>: </strong>@Html.DisplayFor(x => x.TitleName) @Html.DisplayFor(x => x.FullName)</label></div>
                                </div>
                                @*<label class="col-form-label" style="font-weight:bold;">Name of Employee : <span>@Html.DisplayFor(x => x.FullName)</span></label>*@
                            </div>
                            <div class="col-xl-4 col-md-5 col-sm-5">
                                <div class="row">
                                    <div class="col-xl-4 col-md-4 col-sm-4"><label class="col-form-label" style="font-weight:bold;">Position </label> </div>
                                    <div class="col-xl-8 col-md-8 col-sm-8"><label class="col-form-label"><strong>:</strong> @Html.DisplayFor(x => x.PositionName)</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="col-xl-4"><label class="col-form-label" style="font-weight:bold;">GAEC No </label></div>
                                    <div class="col-xl-4"><label class="col-form-label" style="margin-left:28px;"><strong>:</strong> @Html.DisplayFor(x => x.GaecNo)</label></div>
                                </div>
                                @*<label class="col-form-label">GAEC No : <span>@Html.DisplayFor(x => x.GaecNo)</span></label>*@
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-4">
                                <div class="row">
                                    <div class="col-xl-6"><label class="col-form-label" style="font-weight:bold;">Date of Joining</label> </div>
                                    <div class="col-xl-6"><label class="col-form-label"><strong>:</strong> @Html.DisplayFor(x => x.CandJoiningDate)</label></div>
                                </div>
                                @*<label class="col-form-label">Date of Joining : <span>@Html.DisplayFor(x => x.JoiningNotLaterThan)</span></label>*@
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-4">
                                <div class="row">
                                    <div class="col-xl-5"><label class="col-form-label" style="font-weight:bold;">Age on Joining </label> </div>
                                    <div class="col-xl-7"><label class="col-form-label" style="margin-left:-35px;"><strong>:</strong> @Html.DisplayFor(x => x.Age)</label></div>
                                </div>
                                @*<div class="row">
                    <div class="col-xl-6"><label class="col-form-label">Age on Joining: <span>@Html.DisplayFor(x => x.Age)</span></label> </div>
                    <div class="col-xl-6"></div>
                </div>*@
                            </div>
                        </div><br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><label class="col-form-label" style="text-decoration:underline;"><strong>Credentials on Joining&nbsp;</strong><br></label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive tab-scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-header-row">
                                                <th class="text-center">Qualification &amp; Experience</th>
                                                <th class="text-center" colspan="0">Requirement (Filled by HR)</th>
                                                <th>Actual (Filled by Employee)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="txt-attribute row-title">Educational Qualification<br></td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.RequirementQualification)</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.ActualQualification)</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute row-title">Technical Qualification</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.RequirementTechnical)</td>
                                                <td class="txt-attribute" colspan="2">@Html.DisplayFor(x => x.ActualTechnical)</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute row-title">No. of Year Experience</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.RequirementExperience)</td>
                                                <td class="txt-attribute" colspan="2">@Html.DisplayFor(x => x.ActualExperience)</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute row-title">Specialisation/Expertise<br></td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.RequirementSpecialization)</td>
                                                <td class="txt-attribute" colspan="2">@Html.DisplayFor(x => x.ActualSpecialization)</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute row-title">IT Skills<br></td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.RequirementITSkills)</td>
                                                <td class="txt-attribute" colspan="2">@Html.DisplayFor(x => x.ActualITSkills)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label class="col-form-label font-weight-bold">Other Information<br></label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @*<div class="table-responsive tab-scroll">*@
                                <div>
                                    <table class="table">
                                        <thead>
                                            <tr class="table-header-row"></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="txt-attribute row-title">Nature of work handled(Refer note 1 below)<br></td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.NatureOfWork)</td>
                                                <td class="txt-attribute row-title">Field of exposure(Refer note 2 below)<br></td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.FieldOfExposure)</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute row-title">Trainings undergone</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.TrainingsUndergone)</td>
                                                <td class="txt-attribute row-title">Positions worked</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.PositionsWorked)</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute row-title">Certificate course/Membership(if any)</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.CertificateCourse)</td>
                                                <td class="txt-attribute row-title">Driving License</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.DrivingLicense)</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute row-title">Countries worked</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.CountriesWorked)</td>
                                                <td class="txt-attribute row-title">Extra curricular activity</td>
                                                <td class="txt-attribute" colspan="2">@Html.DisplayFor(x => x.ExtraCurricular)</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute row-title">Major organisation worked<br></td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.OrganizationWorked)</td>
                                                <td class="txt-attribute row-title">Any Other (Language etc.)</td>
                                                <td class="txt-attribute">@Html.DisplayFor(x => x.ActualITSkills)</td>
                                            </tr>
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label class="col-form-label font-weight-bold">Recommendation (Periodic)<br></label></div>
                            <div class="col"><label class="col-form-label font-weight-bold">Training or other achievement<br></label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive tab-scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-header-row">
                                                <th class="text-center">Date</th>
                                                <th class="text-center" colspan="0">Recommended Training</th>
                                                <th>Approved by</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="txt-attribute"><br></td>
                                                <td><br></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute"></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute"></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute"><br></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute"><br></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col">
                                <div class="table-responsive tab-scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-header-row">
                                                <th class="text-center">Date</th>
                                                <th class="text-center" colspan="0">Description</th>
                                                <th>Training by</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="txt-attribute"><br></td>
                                                <td><br></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute"></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute"></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute"><br></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute"><br></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <p style="page-break-after:always;"></p>
                        <div class="row">
                            <div class="col"><label class="col-form-label font-weight-bold">Training (Select from list or select any)<br></label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @*<div class="table-responsive tab-scroll">*@
                                <div>
                                    <table class="table">
                                        <thead>
                                            <tr class="table-header-row"></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="txt-attribute">* Project Management<br></td>
                                                <td class="txt-attribute">* H2S</td>
                                                <td class="txt-attribute">* Primavera</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute">* Supervision Skills</td>
                                                <td class="txt-attribute">* Auditing (9001, 14001, 18001, 29001)</td>
                                                <td class="txt-attribute" colspan="2">* IMS Induction</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute">* SAP(Specify module)</td>
                                                <td class="txt-attribute">* Scaffolding supervisor</td>
                                                <td class="txt-attribute" colspan="2">* First Aider</td>
                                            </tr>
                                            <tr>
                                                <td class="txt-attribute">* PTW</td>
                                                <td class="txt-attribute">* Scaffolding inspiration</td>
                                                <td class="txt-attribute" colspan="2">* Any other specify</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label class="col-form-label font-weight-bold">Note<br></label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="txt-attribute">1) Project Mgmt./ Supervision / Design procurement / QA / QC / HSE / Planning / Co-ordination<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="txt-attribute">2) Oil &amp; Gas / Infrastructure / Bldg / Offshore<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="txt-attribute">3) To be filled up initially during joining and is updated once in every 6 months (Jan 1st to Jul 1st)<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="txt-attribute">4) Use additional sheets on completion of this form.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>