@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;

@model ApplicationViewModel
@{
    ViewBag.Title = "";
    // Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<style>
        .pdf-page {
            position: relative;
            margin: 0 auto;
            padding: .4in .3in;
            color: #333;
            background-color: #fff;
            /* box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
            box-sizing: border-box;*/
        }

        .size-a4 {
            width: 9.2in;
            /* height: 8.7in;*/
        }

        .container_main {
            /*margin: 30px;*/
            border-color: #353535;
            border-style: none;
            border-width: 0px;
            border-radius: 6px;
            width: 90%;
        }

        .page-property {
            border-style: none;
        }

        .body_header {
            text-align: center;
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 15px;
        }

        .body_footer {
            font-weight: bold;
            margin-top: 30px;
        }

        .body_header_1 {
            /*text-align: center;*/
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 2px;
            margin-top: 2px;
            margin-left: 6px;
        }

        .col_points {
            padding-left: 6px;
            padding-right: 12px;
        }

        .div_main {
            margin-top: 110px;
        }

        .p_number {
            text-align: right;
            margin-top: 3px;
        }

        .p_2paragraph {
            margin-bottom: 6px;
            margin-left: 6px;
            text-align: justify;
            margin-top: 3px;
        }

        .p_2paragraph_1 {
            margin-bottom: 20px;
            margin-left: 6px;
            text-align: justify;
        }

        .div_main {
            margin: 30px;
        }

        .p_date {
            text-align: right;
        }

        img {
            width: 16%;
        }

        .page-property {
            /* margin-right: 25px;
            margin-left: 25px;*/
            border-color: #101010;
        }

        .annex {
            padding-right: 0px;
            padding-left: 0px;
        }

        .navbar {
            display: none;
        }

        .h5, h5 {
            color: #101010;
        }

        .avatar-mysign {
            height: 80px;
            width: 150px;
        }

        @@media print {
            #printPageButton {
                display: none;
            }

            #downloadPageButton {
                display: none;
            }

            a[href]:after {
                content: none !important;
            }
            /*thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }*/
            button {
                display: none;
            }

            @@page {
                size: A4;
                margin: 0;
            }

            .container1 {
                margin: 1cm;
            }
        }
        /*.footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }*/

        /*.page-header, .page-header-space {
            height: 10px;
        }
    */
        /*.page-footer, .page-footer-space {
            height: 50px;
        }*/

        /*.page-header {
            position: fixed;
            top: 0mm;
            width: 100%;
            border-bottom: 1px solid black;
            background: #fff;
            color:black;
            padding-bottom:5px;
        }*/
        /*@@media print and (width: 21cm) and (height: 29.7cm) {
                #printPageButton {
                    display: none;
                }

                #downloadPageButton {
                    display: none;
                }
      @@page {
         margin: 3cm;
      }
     }*/
</style>
<script>
    //function getPDF(selector) {
    //
    //    kendo.drawing.drawDOM($(selector)).then(function (group) {
    //        kendo.drawing.pdf.saveAs(group, "FinalOffer.pdf");
    //    });
    //}

    function getPDF(selector) {

        kendo.drawing.drawDOM($(selector),
            {
                forcePageBreak: ".page-break",

                margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" },

                paperSize: "A4",

               // landscape: true,

                multiPage: true
            
            }).then(function (group) {           
            return kendo.drawing.exportPDF(group, {              
                margin: "1cm"  /*{ left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }*/
            });
        }).then(function (data) {
            kendo.saveAs({ dataURI: data, fileName: "FinalOffer.pdf" });
        });
    }
</script>
@*<input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
    <button id="downloadPageButton" class="export-pdf k-button" onclick="getPDF('.container1')">Download</button>*@
<nav class="navbar navbar-light navbar-expand-md">
    <div @*class="container"*@><a class="navbar-brand" href="#"></a></div>
</nav>
<input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
<button id="downloadPageButton" class="export-pdf k-button" onclick="getPDF('.container1')">Download</button>
<div class="container1">
    <div class="page1">
        <div class="page-header" style=" ">
            <img class="p-2" src="/images/OfferHeader.png" style="width:100%"><br />
            <div class="m-md-3">
                <div class="row " style="color:#353535;">
                    <div class="col">
                        <p>GAEC/HR/@Model.ContractYear/@Html.DisplayFor(x => x.FinalOfferReference)</p>
                    </div>
                    <div class="col">
                        <p class="p_date">@Html.DisplayFor(x => x.OfferCreatedDate)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="div_main">

            <div class="container2 container_main2">
                @*<img class="p-2" src="/images/clipboard-image.png">*@

                @*<img class="p-2 header" src="/images/OfferHeader.png" style="width:100%"><br />
                    <div class="m-md-3 details header">
                        <div class="row ">
                            <div class="col">
                                <p>GAEC/HR/@Model.ContractYear/@Html.DisplayFor(x => x.FinalOfferReference)</p>
                            </div>
                            <div class="col">
                                <p class="p_date">@Html.DisplayFor(x => x.OfferCreatedDate)</p>
                            </div>
                        </div>
                    </div>*@

                <div class="m-md-3">
                    <div class="row">
                        <div class="col">
                            <p>@Model.TitleName @Model.FullName<br>@Model.PermanentAddressHouse<br>@Model.PermanentAddressStreet<br>@Model.PermanentAddressCity<br>@Model.PermanentAddressState<br>@Model.PermanentAddressCountryName</p>
                        </div>
                    </div>
                </div>

                <div class="m-md-3">
                    <div class="row">
                        <div class="col">
                            <p>Dear @Model.FullName,</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="body_header">Offer of Contract for employment</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>In continuation to the selection process, we have pleasure in&nbsp;offering you a contract of employment in Galfar Al Misnad Engineering &amp; Contracting WLL, Qatar, with effect from your joining date @Html.DisplayFor(x => x.CandJoiningDate), on the following terms and conditions. <br><br>You will be posted at Doha, Qatar. The management has its sole discretion to transfer you anywhere as per business requirement.&nbsp;</p>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">1.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Commencement of Contract</strong></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">The contract of employment will commence from the date you report for duty, not later than @Html.DisplayFor(x => x.CandJoiningDate). The contract is for an unlimited period.&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">2.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Hours of work &amp; Paid Holidays</strong></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">You will observe the working hours and paid holidays normally observed by our company.</p>
                                </div>
                            </div>
                        </div>
                        @if (Model.IsTrainee == true)
                        {
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-1 col_points">
                                        <p class="p_number">3.</p>
                                    </div>
                                    <div class="col-10">
                                        <p class="body_header_1"><strong>Training</strong></p>
                                    </div>
                                    <div class="col offset-1">
                                        <p class="p_2paragraph_1">You will be on training for a period of 12 months from the date of joining to establish your suitability. As your employment is primarily based on the profile submitted by you, during training if you are found unsuitable, you will be repatriated by 3 days’ notice at your own&nbsp;expenses.</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-1 col_points">
                                        <p class="p_number">3.</p>
                                    </div>
                                    <div class="col-10">
                                        <p class="body_header_1"><strong>Probation</strong></p>
                                    </div>
                                    <div class="col offset-1">
                                        <p class="p_2paragraph_1">You will be on probation for a period of 6 months from the date of joining to establish your suitability. As your employment is primarily based on the profile submitted by you, during probation if you are found unsuitable, you will be repatriated by 3 days’ notice at your own&nbsp;expenses.</p>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">4.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Leave</strong></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">You will be eligible for 30 calendar days’ paid leave per annum, for each year of service applicable on completion of 12 months of continuous service. However, if you have to take leave before completion of this period due to some personal exigencies, you may do so with prior approval. Leave applicable would be as per the Rules of the Company and Qatar Labour Law Article 79.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 footer"><img class="img-fluid" @*style="width:100%;height:85px; margin-top:440px;"*@ style="width:100%;height:85px; margin-top:10px;" src="/images/clipboard-image-1.png"></div>
                    </div>
                </div>
                <div class="page2">
                    <p style="page-break-after:always;"></p>

                    <div class="page-break">
                        <div class="SYN-header"><img class="SYN-inn-head" style="margin-top: 30px;" src="~/images/galfar-25yrs.jpg"></div>
                        <br />
                        <div class="row ">
                            <div class="col">
                                <p>GAEC/HR/@Model.ContractYear/@Html.DisplayFor(x => x.FinalOfferReference)</p>
                            </div>
                            <div class="col">
                                <p class="p_date">@Html.DisplayFor(x => x.OfferCreatedDate)</p>
                            </div>
                        </div>
                        <br />
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_pointts">
                                    <p class="p_number">5.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Travel expense</strong></p>
                                </div>
                                @if (Model.IsLocalCandidate == true)
                                {
                                    <div class="col offset-1">
                                        <p class="p_2paragraph_1">During your annual leave, you will be eligible for return airfare (Doha-Hometown-Doha) as in Clause 4 above.</p>
                                    </div>
                                }
                                else if (Model.GradeCode >= 17)
                                {
                                    <div class="col offset-1">
                                        <p class="p_2paragraph_1">Company will provide you one way air passage (Mumbai – Doha) in economy class for your initial joining. On completion of every 12 months of continuous service, you will be eligible for 30 days paid leave with return airfare (Doha-Hometown-Doha) as in Clause 4 above. Once your family joins you, air fare once in a year will be applicable for your spouse and two children under age of 18 years.</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col offset-1">
                                        <p class="p_2paragraph_1">Company will provide you one way air passage (@Html.DisplayFor(x => x.TravelOriginAndDestination)) in economy class for your initial joining. During your annual leave, you will be eligible for return airfare (Doha-Hometown-Doha) as in Clause 4 above.</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @*<p style="page-break-after:always;"></p>*@
                    <div>
                        <div class="col-12" id="page2">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">6.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Physical Fitness</strong></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">Your employment with us and its continuation shall be subject to your Medical Fitness which will be ascertained after Medical Examination to be carried out by the competent authority in Qatar on your joining the Company.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">7.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Medical Expenses/Facilities</strong><br></p>
                                </div>
                                @if (Model.GradeCode >= 17)
                                {
                                    <div class="col offset-1">
                                        <p class="p_2paragraph_1">During service period, you and your family’s (spouse and up to two children under age of 18 years) medical expenses in State of Qatar, except cost of spectacles, contact lens and dental cosmetic treatment incurred by you, shall be borne by the Company or you will get medical attention from the Govt. Hospital as decided by the Company<br></p>
                                    </div> }
                                else
                                {
                                    <div class="col offset-1">
                                        <p class="p_2paragraph_1">During service period, your medical expenses in State of Qatar, except cost of spectacles, contact lens, dental and other cosmetic treatment incurred by you,&nbsp;shall be borne by the Company or you will get medical attention from the Govt. Hospital as decided by the Company.<br></p>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">8.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Salary &amp;&nbsp;Allowance</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">
                                        You will be paid compensation and benefits as per the attached Annexure-1.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">9.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>End of Service/Gratuity</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">You will be eligible for Gratuity as per Qatar Labour Law Article 54.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">10.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Compliance</strong><br></p>
                                </div>
                                <div class="col-11 offset-1">
                                    <p class="p_2paragraph">This offer of employment shall be subject to prevailing Labour and Immigration Rules of State of Qatar and obtaining visa against your Passport and other documents.<br></p>
                                    <p class="p_2paragraph">You shall comply with any such country rules, laws and regulations as applicable to any Resident of Qatar.<br></p>
                                    <p class="p_2paragraph_1">Subject to Labour and Immigration Laws, the company shall be entitled to make policy declarations from time to time pertaining to matters like leave entitlement, employee’s benefits, working hours, transfer policies, etc., and may alter the same from time to time at its sole discretion. All such policy decisions of the Company shall be binding on you.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">11.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Confidentiality</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph">“Confidential information” means information about the Company’s business and that of its customers or alliances which is not available to the general public and which you may learn in the course of your employment. This includes but is not limited to any information recorded or documentary or oral or written in media, electronic or any other material identified in relation to past, present or future plans of the Company including business methods, corporate plans, financial records, research, development projects, details of the customers or potential customers, nature of business operations, trade secret, technical specification, inventions, designs or drawings, Company manual, employment policies, information about company products, processes, ideas, concepts, projections and other information containing similar and such confidential information to which the Company attaches an equivalent level of confidentiality.<br></p>

                                    <p class="p_2paragraph">You shall not disclose to any person or any entity for your own benefit or that of any third party such confidential information, which you have obtained in course of your employment with the Company either during or after the term of your employment.<br></p>
                                    <p class="p_2paragraph_1">On termination of your employment for whatever reason, you shall immediately return to the Company all confidential information, property, documents and papers, both original and copies thereof, including any samples, literature, contracts, records, lists, drawings, blueprints, letters, notes, data and the like in your possession or under your control relating to the business of the Company or its affiliates.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">12.</p>
                                </div>
                                <div class="col-10">
                                    <p class="body_header_1"><strong>Termination of Contract</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">This contract may be terminated at any time by either party by giving the other party two months’ notice in writing to that effect. In case of not giving a notice or a lesser period of notice, then subject to Articles 49 of Qatar Labour Law, there shall be compensation in lieu of notice.<br></p>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">12.1</p>
                                </div>
                                <div class="col">
                                    <p class="p_2paragraph">In case you have to leave the Company before the expiry of service contract, i.e. for a minimum period of @Html.DisplayFor(x => x.ServiceCompletion) months active service, the expenses incurred towards your visa, immigration formalities, joining air ticket expenses, etc. will have to be reimbursed by you to the Company and you will have to pay of your own for the return journey ticket.<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="page-break-after:always;"></p>
                    <div class="page-break">

                        <div class="SYN-header" style="margin-top: 30px;"><img class="SYN-inn-head" src="~/images/galfar-25yrs.jpg"></div><br />
                        <div class="row ">
                            <div class="col">
                                <p>GAEC/HR/@Model.ContractYear/@Html.DisplayFor(x => x.FinalOfferReference)</p>
                            </div>
                            <div class="col">
                                <p class="p_date">@Html.DisplayFor(x => x.OfferCreatedDate)</p>
                            </div>
                        </div>
                        <br />

                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">12.2</p>
                                </div>
                                <div class="col">
                                    <p class="p_2paragraph">As per Article 61 of Qatar Labour Law, the employer may dismiss an Employee without any notice, if and only, if the employee:<br></p>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-11 offset-1">
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">1.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Assumes a false identity or nationality or submits forged certificates or documents.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">2.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Commits an act which causes gross financial loss to the employer provided that the employer shall notify the concerned Department of the incident within 24 hours from the time of his being aware thereof.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">3.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Violates more than once the written instructions of the employer concerning the safety of the employees and the establishment despite his being notified in writing of the violation provided that these instructions shall be written and posted in a conspicuous place.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">4.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Fails more than once to carry out his essential duties under the service contract or this law despite his having been notified in writing thereof.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">5.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Discloses the secrets of the establishment where he is employed.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">6.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Found during the working hours in a state of drunkenness or under the influence of a drug.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">7.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Commits an assault on the person of the employer, the manager or one of his supervisors in the work during the work or by reason thereof.<br></p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">8.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Repeats his assault on his colleagues in work despite his being warned in writing thereof.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">9.</p>
                                                </div>
                                                <div class="col-11 col_points_body">
                                                    <p class="p_2paragraph">Absents himself from work without legitimate cause for more than seven consecutive days or fifteen days in one year.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number ml-1">10.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph mb-4">Finally sentenced for a crime involving immorality or dishonesty.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">13.</p>
                                </div>
                                <div class="col-11">
                                    <p class="body_header_1"><strong>Non-Competition – As per Article 43 of Qatar Labour Law</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph">You and/or any person on your behalf, shall not either during the period of employment with the Company, or for a period of two (2) years thereafter, solicit business in competition with the Company or from any Clients of the Company with whom, you have had dealings at any time during the course of your employment with the Company.<br></p>
                                    <p class="p_2paragraph_1">You shall not for a period of two (2) years after the termination of your employment with the Company (howsoever occasioned), directly or indirectly, be engaged, concerned or interested in any capacity, in any other business, company or entity in QATAR or of whatever kind which is wholly or partly in competition with the business carried on by the Company.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">14.</p>
                                </div>
                                <div class="col-11">
                                    <p class="body_header_1"><strong>Indemnity</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">You agree to defend, indemnify and hold the Company harmless from and against any and all claims, demands, damages, injuries, expenses and liabilities arising from you accepting the employment with the Company and / or any of your acts of commission and omission done during the course of employment with the Company and / or you violating the laws of the State of Qatar, Article 61 &amp; 71 or Country of employment.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">15.</p>
                                </div>
                                <div class="col-11">
                                    <p class="body_header_1"><strong>Other Terms &amp; Conditions</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph">In accordance with the standard practice of the Company, you are required to treat your compensation structure and the terms of employment as confidential.<br></p>
                                    <p class="p_2paragraph">It will be your personal responsibility to observe strictly all regulations, laws (including foreign exchange regulations) and other prevalent rules in the country.&nbsp;You will also abide by all the rules, regulations in connection with this assignment.<br></p>
                                    <p class="p_2paragraph">During the course of this posting, you shall not engage in or be concerned with or be interested in any business or profession other than that of the Company without the knowledge and written consent of the Management of the Company.<br></p>
                                    <p class="p_2paragraph">Breach on your part of any terms and conditions of this contract and any other rules made applicable to you in respect of your employment with us will entail termination of your employment without notice.<br></p>
                                    <p class="p_2paragraph">Prior to leaving the country on leave such as vacation, emergency or any other reasons (travel on weekend, weekly off, public holidays etc.), you are required to obtain pre-approval of leave, submitting handover of assignments and leave clearance etc.) prior to formally exiting the Country.<br></p>
                                    <p class="p_2paragraph">The procedures stated above are in line with the Labour Laws of State of Qatar and ensures that the continuity of works and deliverables are not affected, and appropriate alternative arrangements are done to ensure uninterrupted works. Failure to comply with the said requirements and leaving the country shall be treated as unauthorizedly absent from work and could be subject to liability as per the Labour Laws.<br></p>

                                    <p class="p_2paragraph_1">Transfer of your Sponsorship upon termination of your term of employment to another employer in the country shall be at the Company’s sole discretion.<br></p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <p style="page-break-after:always;"></p>

                    <div class="page-break">

                        <div class="SYN-header" style="margin-top: 30px;"><img class="SYN-inn-head" src="~/images/galfar-25yrs.jpg"></div><br />
                        <div class="row ">
                            <div class="col">
                                <p>GAEC/HR/@Model.ContractYear/@Html.DisplayFor(x => x.FinalOfferReference)</p>
                            </div>
                            <div class="col">
                                <p class="p_date">@Html.DisplayFor(x => x.OfferCreatedDate)</p>
                            </div>
                        </div>
                        <br />

                        @*<div class="col-12">
                                <div class="row">

                                    <div class="col offset-1">
                                        </div>
                                </div>
                            </div>*@

                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">16.</p>
                                </div>
                                <div class="col-11">
                                    <p class="body_header_1"><strong>Governing Law &amp; Dispute</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">This Agreement shall be governed by and interpreted in accordance with the Laws of State of Qatar and each of parties hereby agrees to the non-exclusive jurisdiction of the courts of the State of Qatar.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">17.</p>
                                </div>
                                <div class="col-11">
                                    <p class="body_header_1"><strong>Validity of Offer</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">This offer will remain open for your acceptance for 15 days. If acceptable to you, please return to us the duplicate copy of this letter duly signed in token of your acceptance and report for duty on or before @Html.DisplayFor(x => x.CandJoiningDate).<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">18.</p>
                                </div>
                                <div class="col">
                                    <p class="body_header_1"><strong>Joining formalities</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col offset-1">
                                    <p class="p_2paragraph">Please submit self-attested photocopies of the following documents, along with original certificates for verification, on the date of joining:-<br></p>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-11 offset-1">
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">1.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Copy of Original Degree / Diploma Certificate duly attested from Ministry of External Affairs of your country &amp; the Embassy of Qatar.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">2.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Medical certificates of health and physical fitness.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">3.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Chest X-Ray report.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">4.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Blood report (Haemogram) which includes TLC, DLC, ESR, Haemoglobin, VDRL , Diabetics&nbsp;and blood grouping.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 col_points">
                                                    <p class="p_number">5.</p>
                                                </div>
                                                <div class="col-11">
                                                    <p class="p_2paragraph">Medical fitness certificate after Medical Tests confirming that you are free from Pulmonary Tuberculosis, Leprosy, Malaria, Schistosomiasis, Sexually transmitted diseases, HIV Infection, Cholera and Helminthiasis.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 col_points">
                                    <p class="p_number">19.</p>
                                </div>
                                <div class="col-11">
                                    <p class="body_header_1"><strong>Pre-employment verification</strong><br></p>
                                </div>
                                <div class="col offset-1">
                                    <p class="p_2paragraph_1">The company reserves the right to verify your documents, written and verbal declarations submitted at the time of applying for this assignment and background through internal or external agencies. These may include your current / previous employment history, education / professional credentials and other background checks. The above offer of contract of employment may be terminated if any discrepancies / inconsistencies / inaccuracies / false declarations are observed in the process of verification.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.IsLocalCandidate == true)
                            {
                                <div class="col-12">
                                    <p>Commencement of your contract is subject to approval on your visa transfer request by Government of Qatar.</p>
                                </div>}
                            else
                            {
                                <div class="col-12">
                                    <p>Commencement of your contract is subject to Issuance of Visa by Government of Qatar</p>
                                </div>}
                            <div class="col-12">
                                <p>Please sign and return to us one copy of this letter as token of your acceptance.</p><br>
                            </div>
                            <div class="col-12">
                                <p>Thanking you<br></p>
                            </div>
                            <div class="col-12">
                                <p>Yours faithfully<br>For Galfar Al Misnad Engineering &amp; Contracting WLL</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-5">
                                @*<h5 class="body_footer"><strong>SATISH G. PILLAI</strong><br><strong>EXECUTIVE DIRECTOR</strong><br></h5>*@
                                <h5 class="body_footer">
                                    @*<strong>@Model.OfferSignedBy</strong>*@
                                    @if (Model.SignatureId != null)
                                    {
                                        <img class="avatar-mysign" src="/user/SignaturePhoto?id=@Model.SignatureId" onerror='OnPhotoError(this);' />
                                    }
                                    else
                                    {
                                        <img class="avatar-mysign" style="background-color:gray;" />
                                    }
                                    <br>
                                    <strong>EXECUTIVE DIRECTOR</strong><br>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="mt-5">I accept the Terms and Conditions&nbsp; <span style="text-decoration:underline">@Model.FullName</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        @*Annexure*@
        <p style="page-break-after:always;"></p>
        <div class="container annex">
            <div class="mt-5 page-property mb-5" style="border-width: 1px;border-radius: 6px;">
                <div class="SYN-header"><img class="SYN-inn-head" src="~/images/galfar-25yrs.jpg"></div><br />
                <div class="row ">
                    <div class="col">
                        <p>GAEC/HR/@Model.ContractYear/@Html.DisplayFor(x => x.FinalOfferReference)</p>
                    </div>
                    <div class="col">
                        <p class="p_date">@Html.DisplayFor(x => x.OfferCreatedDate)</p>
                    </div>
                </div>

                <div class="mt-5 mobile-font">
                    <p class="text-uppercase text-right paragraph-text-property" style="margin-right:5px;">Annexure-1</p>
                    <p class="text-center paragraph-text-property mt-5">To our Letter GAEC/HR/@Model.ContractYear dated @Html.DisplayFor(x => x.CandJoiningDate)</p>
                    <p class="text-uppercase text-center paragraph-text-property mt-4">Emolument details for @Html.DisplayFor(x => x.TitleName) @Html.DisplayFor(x => x.FullName)</p>
                    <p class="text-center paragraph-text-property mt-2"></p>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2" style="padding-right: 0px;text-align:center"><span>I)</span></div>
                                <div class="col-10">
                                    <div>
                                        <p class="d-inline-block" style="font-weight: bold;">Grade</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">: @Html.DisplayFor(x => x.OfferGrade) @*<input type="text" class="form-control" style="width: 95%;border-radius: 4px;border-width: 1px;border-color: #d7d6d6;">*@</div>
                    </div><br />
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2" style="padding-right: 0px; text-align:center"><span>II)</span></div>
                                <div class="col-10">
                                    <div>
                                        <p class="d-inline-block"><strong>Designation</strong><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">: @Html.DisplayFor(x => x.OfferDesigination) @*<input type="text" class="form-control" style="width: 95%;border-width: 1px;border-color: #d7d6d6;border-radius: 4px;">*@</div>
                    </div><br />
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2" style="padding-right: 0px;text-align:center"><span>III)</span></div>
                                <div class="col-10">
                                    <div>
                                        <p class="d-inline-block"><strong>Basic</strong><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="d-inline-block" style="width: 100%;">: <strong>QR. @Html.DisplayFor(x => x.BasicPay)/-Pm</strong><br></p>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2" style="padding-right: 0px; text-align:center"><span>IV)</span></div>
                                <div class="col-10">
                                    <div>
                                        <p class="d-inline-block"><strong>Monthly Professional Allowance</strong><span class="float-right float-right-web" style="font-weight: bold;">:</span><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="d-inline-block" style="width: 100%;">: <strong>QR. @Html.DisplayFor(x => x.ProfessionalAllowance)/-Pm</strong><br></p>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span></span></div>
                                <div class="col-11">
                                    <div>
                                        <p class="d-inline-block" style="width: 100%;">Company will provide bachelor accommodation with food, laundry, water &amp; electricity.<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>V)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-inline-block"><strong><span style="text-decoration: underline;">Medical Expenses</span></strong></p>
                                        <p class="d-inline-block">&nbsp;- As per Clause 7 of Employment Contract<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>VI)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-inline-block"><strong><span style="text-decoration: underline;">Vehicle Transport</span></strong></p>
                                        <p class="d-inline-block">
                                            &nbsp;- @if (Model.GradeCode <= 16)
                                            {<span>Common Transport</span>}
                                            else
                                            {@Html.DisplayFor(x => x.VehicleTransport)}<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>VII)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-inline-block"><strong><span style="text-decoration: underline;">Gratuity</span></strong></p>
                                        <p class="d-inline-block">&nbsp;- As per the Labour Law of Qatar<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>VIII)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-inline-block"><strong><span style="text-decoration: underline;">Leave & Air Passage</span></strong></p>
                                        <p class="d-inline-block">&nbsp;- As per Clause No.4 & 5 of Employment Contract<br></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>IX)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-block"><strong><span style="text-decoration: underline;">Annual Performance Incentive</span></strong></p>
                                        <p class="d-inline-block" style="margin-right:25px;">The company wishes to reward high performers who bring visible and extra-ordinary results. To this effect , you will be assessed by the Management, and Company at its sole discretion may award you extra remuneration. This will have to precedence or right on your part.&nbsp;<br></p>
                                        <p class="d-inline-block" style="margin-right:25px;">Annual Performance incentive will be based on the performance of the Company and the individual's contribution.<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.SalaryRevision == true)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-1" style="padding-right: 0px; text-align:center"><span>X)</span></div>
                                    <div class="col">
                                        <div>
                                            <p class="d-inline-block" style="margin-right:25px;">After successful completion of Probation period, if your performance being rated is <strong>EXCELLENT</strong> category, salary revesion of <strong>QRs. @Model.SalaryRevisionAmount/-</strong> will be considered&nbsp;<br></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

