@model Synergy.App.ViewModel.IdNameViewModel
@{
    Layout = "/Views/Shared/_Reference.cshtml";
    var random = new Random();
}
<style>
    .fieldset {
        border: 1px solid #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        border-radius: 6px;
    }

    .fs-legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
<div class="p-5">
    <fieldset class="fieldset">
        <legend class="fs-legend">Start Time</legend>
        <div class="control-group">
            <label class="control-label input-label" for="startTime">Start :</label>
            <div class="controls bootstrap-timepicker">
                <input type="text" class="datetime" type="text" id="startTime" name="startTime" placeholder="Start Time" />
                <i class="icon-time"></i>
            </div>
        </div>
    </fieldset>
</div>
@*<style>
    .card-footer-no-bg {
        background-color: transparent !important;
        padding: 5px !important;
        font-size: 20px !important;
    }
</style>
<script>
    $(document).ready(function () {
        var options = {
            series: [{
                name: 'Upcoming Projects',
                data: [7, 4, 3, 4, 2],
            },
            {
                name: 'Citizen Proposals',
                data: [8, 2, 2, 5, 3],
            }],
            chart: {
                type: 'bar',
                height: 250
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '50%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: ['Road', 'Park', 'Street Light', 'Community Hall', 'Water', 'Others',],
            },
            yaxis: {
                title: {
                    text: 'No. Of Projects'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val
                    }
                }
            },
            colors: ['#007bff', '#28a745', '#dc3545']
        };

        var chart = new ApexCharts(document.querySelector("#projectChart"), options);
        chart.render();

    });
</script>
<div class="row m-4 p-2" style="border:1px solid silver;border-radius:10px;">
    <div class="col-6 offset-3">
        <div id="projectChart"></div>

    </div>
    <div class="col-12">
        <hr />
    </div>

    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Upcoming Projects<input type="button" class="btn btn-primary btn-sm float-right" value="Add New Project" /></h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Street Light
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/streetlight.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Water
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/water.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Others
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/misc.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Water
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/water.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Street Light
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/streetlight.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Water
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/water.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Others
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/misc.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Water
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/water.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Street Light
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/streetlight.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Citizen Proposals<input type="button"class="btn btn-primary btn-sm float-right" value="Add New Proposal" /></h5>
            <div class="card-body">
                <div class="row">

                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Water
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/water.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Others
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/misc.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Street Light
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/streetlight.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Water
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/water.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Others
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/misc.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Water
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/water.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Street Light
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/streetlight.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Park
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/park.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Street Light
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/streetlight.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Road
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/road.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                Water
                            </div>
                            <div class="card-body" style="padding:0px">
                                <img style="width:100%;height:150px;" src="~/images/EGOV/water.jpg" />
                                <div class="card-text p-2">@random.Next(2, 50) Days ago | Ward @random.Next(1, 75)</div>
                            </div>
                            <div class="card-footer text-muted card-footer-no-bg">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="pr-4 text-primary" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-comment text-success"></span>
                                <span class="pr-4 text-success" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-paperclip  text-draft"></span>
                                <span class="pr-4  text-draft" style="font-size:14px;">@random.Next(1, 100)</span>
                                <span class="fa fa-eye text-warning"></span>
                                <span class="pr-4 text-warning" style="font-size:14px;">@random.Next(1, 100)</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>*@