    @using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    Layout = null;
    // Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceTaskController> Resource
@inject CMS.Common.IUserContext _userContext;
@model TemplateViewModel
<link href="~/css/EGOV/styles.css" rel="stylesheet" />
<link href="~/css/EGOV/Navigation-with-Button.css" rel="stylesheet" />
<style>
    .announcement {
        background-color: #f7e6be;
        border: 2px solid white;
        color: #373e4c;
        padding: 10px 30px 15px 15px;
    }

    .announcement1 {
        background-color: #cdced0;
        border: 2px solid white;
        color: #373e4c;
        padding: 10px 30px 15px 15px;
    }

    .iconwithtextan {
        display: flex;
        align-items: center;
    }

        .iconwithtextan.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
        color: #fff;
        background-color: #d6a03d;
        /* border-color: #1a87cd; */
    }

    #listViewTM {
        padding: 5px 5px;
        margin-bottom: -1px;
        display: flex;
    }

    #listView {
        margin-bottom: -1px;
        font: inherit;
        /*  background: white;
                border-color: white;*/
    }


    .fa-span {
        margin-left: 20%;
    }

    .template-description-tile {
        /*  border: solid 1px #bfbfbf;*/
        font-size: .9eM;
        color: gray;
        background-color: white;
        /*height: 30px;*/
        width: 149px;
        text-align: center;
        display: flex;
        align-items: center;
    }



    .template-flip-card {
        background-color: transparent;
        width: 150px;
        height: 160px;
        /*border: 1px solid #f1f1f1;*/
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    .template-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .template-flip-card:hover .template-flip-card-inner {
        transform: rotateY(180deg);
    }

    .template-flip-card-front, .template-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .template-flip-card-front {
        /* background-color: #bbb;*/
        color: black;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .template-flip-card-back {
        background-color: #307bbb;
        color: white;
        transform: rotateY(180deg);
    }

    .template-image {
        width: 80px;
        height: 80px;
        border-radius: 4px;
        cursor: default;
    }

    /*  #listView {
            padding: 10px 5px;
            margin-bottom: -1px;
            min-height: 510px;
        }*/

    .card {
        /* max-height: 90px !important;*/
        /* max-width: 280px !important;
            min-width: 280px !important;*/
        margin-top: 10px;
        float: left;
        margin-left: 30px;
        flex-direction: unset;
    }

    .box {
        /* max-height: 90px !important;*/
        /* max-width: 280px !important;
            min-width: 280px !important;*/
        margin-top: 10px;
        float: left;
        margin-left: 30px;
        flex-direction: unset;
    }

    .card-title {
        font-weight: 500;
        font-size: 17px;
    }

    /* .card-header {
            background-color: #fff;
            padding: 5px 0px 0px 0px;
            border-bottom: none;
            font-weight: bold;
            font-size: 14px;
        }

        .card-body {
            padding: unset;
            padding-top: 2px;
            font-size: 14px;
        }*/

    .multi-line-truncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .k-listview-content {
        overflow: unset;
        display: flex;
    }

    .k-listview {
        border-style: none;
        background-color: transparent;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .taskicon {
        background-color: MediumTurquoise;
        border-radius: 3px 0px 0px 3px;
        text-align: center;
    }

    .icon {
        width: 100%;
        height: 100%;
        border-radius: 3px 0px 0px 3px;
        padding: 10px;
    }

    .col-4 {
        padding-left: unset;
        padding-right: unset;
    }

    .announcementcolor {
        background-color: yellow;
    }

    .caticon {
        width: 120px;
        height: 120px;
        border-radius: 6px;
    }

    .card-text {
        font-size: 14px;
        color: #212529;
        vertical-align: central;
    }

    #catDiv {
        overflow: hidden;
    }

    #listViewSL {
        overflow: hidden;
    }

    .scrollbtn {
        background-color: #4E4D4D;
        color: white;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 2px;
    }

    .service-title {
        text-align: center !important;
        float: none !important;
    }

    .service-title-2 {
        text-align: center !important;
        float:none !important;
    }
    .btnservice{
        background-color:#000;
        border-color:#000;
        border-radius:20px;
    }
</style>

<script>

    function SelectTemplate(id, tempCode, temtype, area, cont, action, param,tempname) {

        debugger;
        var guestUser = '@_userContext';

        if ('@_userContext.IsGuestUser' == 'True') {
            var rturl = '@System.Web.HttpUtility.UrlEncode(string.Concat("/Portal/", @_userContext.PortalName,"?portalId=", @_userContext.PortalId))';
            var url = "/Egov/EGovernment/Login?returnUrl=" + rturl;
            window.location.href = url;
        }
        else {


        var url = "";
        var portalId = "";
        var portalName = "";
        var prms = "";
        var callbackMethod = "";
        if (window.parent == "" || window.parent == undefined) {
            portalId = $("#GlobalPortalId").val();
        }
        else {
            portalId = window.parent.$("#GlobalPortalId").val();
        }
        if ('@Model.UserId' != null && '@Model.UserId' != '') {

            if ('@Model.Prms' != null && '@Model.Prms' != '') {
                prms = encodeURIComponent('ownerUserId=@Model.UserId&@Html.Raw(Model.Prms)');
            }
            else {
                prms = encodeURIComponent('ownerUserId=@Model.UserId');
            }

            var udfs = encodeURIComponent('SelectedUserId=@Model.UserId');
        }
        else {
            prms = encodeURIComponent('@Html.Raw(Model.Prms)');
        }
        if ('@Model.CallBackMethodName' != null && '@Model.CallBackMethodName' != '') {
            callbackMethod = '@Model.CallBackMethodName';
        } else {
            callbackMethod = "OnAfterServiceCreate";
        }

        if (temtype == @((int)TemplateTypeEnum.Custom)) {

            url = '/' + area + '/' + cont + '/' + action + '?' + param;
        }
        else {
            url = '/Cms/Page?lo=Popup&pageType=Service&cbm=' + callbackMethod + '&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&prms=' + prms + '&udfs=' + udfs;
            }
            
            if (tempCode == "EGOV_BOOK_COMMUNITY_HALL") {
                window.location.href = "/portal/EGovCustomer/CommunityHallBooking";
                LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Community Hall Booking");
               return false;


            }
            else {

        @*var url = '@Url.Action("NtsServicePage", "NtsService", new { @area = "Cms" })?templateid=' + tempid + '&templateCodes=' + tempCode+'&lo=Popup&cbm=OnAfterServiceCreate';*@
                debugger;
                var win = GetMainWindow();
                win.iframeOpenUrl = url;
                var title = tempname;
                if (tempCode == "EGOV_PUBLIC_GRIEVANCE_REGISTRATION") {
                    title = "Public Grievance Registration Form";
                }
                win.OpenWindow({ Title: title, Width: 1000, Height: 700 });
                return false;
                var win = GetMainWindow();
                win.CloseWindow();
                return false;
            }
        //var win = GetMainWindow();
        ////var parent = win.GetParentWindow();
        ////parent.backtoNtsTaskIndex(id);
        //win.CloseWindow({ MethodName: 'backtoNtsServiceIndex' });
        //return false;
        }
    }
    function OnTask(Id) {

        var portalId = $('#GlobalPortalId').val();
        var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=Create&dataAction=Create&pageName=ProjectTask&portalId=' + portalId + '&prms=' + prms;

        LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Create Task');
        return false;
    }

    function EditTask(Id) {
        var portalId = $('#GlobalPortalId').val();
        // var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&source=Edit&dataAction=Edit&pageName=ProjectTask&portalId=' + portalId + '&recordId=' + Id;

        LoadCmsPartialView(url, 'Task', true, 1200, 650, 'Edit Task');
        return false;
    }

    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/NtsService/ReadServiceTemplateCategory?templateCode=" + '@Model.Code' + "&categoryCode=" + '@Model.CategoryCode' + "&moduleCodes=" + '@Model.ModuleCodes' + "&categoryIds=" + '@Model.CategoryIds' + "&templateIds=" + '@Model.TemplateIds' + "&categoryType="+'@Model.TemplateCategoryType',
                    dataType: "json"
                }
            },
        });

        $("#catDiv").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#templateTM").html())
        });

        function FilterTemplate() {
            return data = {
                templateCode: '@Model.Code',
            categoryCode: '@Model.CategoryCode',
            moduleCodes: '@Model.ModuleCodes',
            categoryIds: '@Model.CategoryIds',
            templateIds: '@Model.TemplateIds',
            categoryType: '@Model.TemplateCategoryType'
            }
        }

        var dataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/NtsService/ReadServiceTemplate",
                    data: FilterTemplate,
                    dataType: "json"
                }
            },
        });

        $("#listViewSL").kendoListView({
            dataSource: dataSource1,
            template: kendo.template($("#tasktemplate1").html())
        });

        //$("#mysearch2").keyup(function () {
        //    var val = $('#mysearch2').val();
        //    var listView = $("#listViewSL").data("kendoListView");
        //    // var listView = $("#kgrdService").data("kendoListView");
        //    listView.dataSource.filter({
        //        logic: "or",
        //        filters: [
        //            {
        //                field: "DisplayName",
        //                operator: "contains",
        //                value: val
        //            },
        //            {
        //                field: "Description",
        //                operator: "contains",
        //                value: val
        //            },

        //        ]
        //    });

        //});
    });

    var colors = ['#F56564', '#1B4D3E','#555D50' ,'#90D142', '#28BAF5', '#7551F5', '#5BA79F', '#7A8F9D', '#4F67B6'];
    function OnDataBoundDoc(arg) {


        var childDiv = document.getElementById('listViewSL').children;
        ////var childDiv = document.getElementById('count').children;

        for (var i = 0; i < childDiv[0].children.length; i++) {
            var uc = childDiv[0].children[i].getElementsByClassName("template-flip-card-front");
            var colr = colors[Math.floor(Math.random() * colors.length)];
            uc[0].style.backgroundColor = colr;
        }
    }

    function OnChange(id,templateName) {

        $("#listViewSL").data('kendoListView').dataSource.read({ categoryCode: id });
        $("#templatesDiv").show();
        document.getElementById("templatename").innerHTML= templateName;
    }


    function highlight(element) {

        let elements = document.getElementsByClassName('announcement');

        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.background = "#f7e6be";
        }
        element.style.background = "#63BBDC";

    }

    function OnViewTemplate(id, code) {
          var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ServiceDiagram", "NtsService", new { @area = "cms" })?id=' + id +"&isTemplate=true";
        //win.iframeOpenUrl =  '@Url.Action("Swimlane", "NtsService", new { @area = "cms" })';
        win.OpenWindow({ Title: 'Service Workflow', Width: 1200, Height: 600 });
        return false;
    }

    function IconError(obj) {
        obj.onerror = null;
        obj.src = '/images/document.png';

        };


        $('#left').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "-=1075px"
            }, "slow");

        });

        $('#right').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "+=1075px"
            }, "slow");

        });

        $('#left1').click(function (event) {
            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "-=1075px"
            }, "slow");

        });

        $('#right1').click(function (event) {

            event.preventDefault();
            $('#catDiv').animate({
                scrollLeft: "+=1075px"
            }, "slow");

        });


    $('#leftT').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#rightT').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    $('#left1T').click(function (event) {
        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "-=1075px"
        }, "slow");

    });

    $('#right1T').click(function (event) {

        event.preventDefault();
        $('#listViewSL').animate({
            scrollLeft: "+=1075px"
        }, "slow");

    });

    function OnClick(ccode, cname, type) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("Info", "NtsService", new { @area = "cms" })?code=' + ccode + "&type=" + type;
        win.OpenWindow({ Title: 'Info', Width: 400, Height: 400 });
        return false;
    }
</script>
<div class="row" style="margin-top:15px">
    <div class="col-6">
        <button style="float:left" id="left" class="scrollbtn"><i class="fas fa-chevron-left"></i></button>
        <button style="float:left" id="right" class="scrollbtn"><i class="fas fa-chevron-right"></i></button>
        <h5 style="font-weight:500;color:#212529;float:left;padding-left:20px;padding-top:3px;">Services</h5>
    </div>
    <div class="col-6">
        <button style="float:right" id="right1" class="scrollbtn"><i class="fas fa-chevron-right"></i></button>
        <button style="float:right" id="left1" class="scrollbtn"><i class="fas fa-chevron-left"></i></button>
    </div>
</div>

<div class="hero-banner d-flex flex-row flex-nowrap overflow-hidden" style="margin-top:15px">
    <div class="row" style=" width:100%;">
        <div class="col">
            <div class="sec-level-menu-bg">
                <div class="row">
                    @*@(Html.Kendo().ListView<IdNameViewModel>()
                            .Name("listViewTM")
                            .TagName("div")//.Events(e=>e.Change("Onchange"))
                            .ClientTemplateId("templateTM")
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Read(read => read.Action("ReadServiceTemplateCategory", "NtsService", new { @area = "Cms", templateCode = Model.Code, categoryCode = Model.CategoryCode, moduleCodes = Model.ModuleCodes, categoryIds=Model.CategoryIds, templateIds = Model.TemplateIds, categoryType=Model.TemplateCategoryType}))
                            ).HtmlAttributes(new { @Class = "catDiv", @id = "catDiv" })
                        )*@

                    <div id="catDiv" class="catDiv"></div>

                    <script type="text/x-kendo-tmpl" id="templateTM">

         <div class="box">
                        <div class="menu-block">
                            <div class="L-block"> <img class="caticon" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);"></div>
                            <div class="R-block">
                                <div class="row-12" style="text-align:center;">
                                    <label class="service-title">#:Name#</label>
                                </div>
                            @*<img src="/images/EGOV/but-viewService.png" onclick="OnChange('#:Code#','#:Name#')";>*@
                            <div class="row-12" style="display:flex;">
                                <button class="btn btn-dark btnservice" onclick="OnChange('#:Code#','#:Name#')";>View Services </button>
                                &nbsp;<i class="fal fa-info-circle" style="font-size:18px;margin-top:10px;padding-left:10px;cursor:pointer;" onclick="OnClick('#:Code#','#:Name#','Category')";></i>
                                @*<button class="btn btn-dark btnservice"><i class="fal fa-info-circle"></i></button>*@
                            </div>

                           </div>
                            <div class="vert-divider"></div>
                        </div>
         </div>

         @*<div class="card text-center" style="width:220px;height:310px;">
            <div class="card-body">
                <img class="caticon card-title" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                <h5 class="card-title">#:Name#</h5>
                <p class="card-text">#:Description#</p>
                <button class="btn btn-primary" onclick="OnChange('#:Code#','#:Name#')";>View Services</button>
            </div>
        </div>*@
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="templatesDiv" style="display:none;">
    <div class="row" style="margin-top:15px">
        <div class="col-6">
            <button style="float:left" id="leftT" class="scrollbtn"><i class="fas fa-chevron-left"></i></button>
            <button style="float:left" id="rightT" class="scrollbtn"><i class="fas fa-chevron-right"></i></button>
            <h5 style="font-weight:500;color:#212529;float:left;padding-left:20px;padding-top:3px;" id="templatename"></h5>
        </div>
        <div class="col-6">
            <button style="float:right" id="right1T" class="scrollbtn"><i class="fas fa-chevron-right"></i></button>
            <button style="float:right" id="left1T" class="scrollbtn"><i class="fas fa-chevron-left"></i></button>
        </div>
        @*<div class="col-12">
                &nbsp;&nbsp; &nbsp;&nbsp;   <h5 style="font-weight:500;color:#212529;" id="templatename"></h5>
            </div>*@
    </div>

    <div class="hero-banner" style="margin-top:15px">
        <div class="row">
            <div class="col">
                <div class="third-level-menu-bg">
                    <div class="row">

                        @*@(Html.Kendo().ListView<TemplateViewModel>()
                                .Name("listViewSL")//.Events(e=>e.DataBound("OnDataBoundDoc"))
                                .TagName("div")
                                .AutoBind(false)
                                .ClientTemplateId("tasktemplate1")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("ReadServiceTemplate", "NtsService", new { @area = "Cms", templateCode = Model.Code, categoryCode = Model.CategoryCode, moduleCodes = Model.ModuleCodes, categoryIds = Model.CategoryIds, templateIds=Model.TemplateIds, categoryType = Model.TemplateCategoryType }))

                                )
                            )*@

                        <div id="listViewSL"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="col-12" id="templatesDiv" style="display:none;margin-left:20px;margin-top: 20px;">
    <input type="hidden" id="hiddenval" />
    <div class="col-12">-->
@*<input id="mysearch2" type="search" placeholder="@SharedResource["Search"]" class="form-control" style="border-radius: 30px;">*@
<!--</div>
    <div class="col-12">
        <h5 style="font-weight:500;color:#212529;" id="templatename"></h5> &nbsp;&nbsp;
        <hr />
        @(Html.Kendo().ListView<TemplateViewModel>()
        .Name("listViewSL")//.Events(e=>e.DataBound("OnDataBoundDoc"))
        .TagName("div")
        .AutoBind(false)
        .ClientTemplateId("tasktemplate1")
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("ReadServiceTemplate", "NtsService", new { @area = "Cms", templateCode = Model.Code, categoryCode = Model.CategoryCode, moduleCodes = Model.ModuleCodes, categoryIds = Model.CategoryIds, templateIds=Model.TemplateIds, categoryType = Model.TemplateCategoryType }))

        )
    )

    </div>
</div>-->



<script type="text/x-kendo-template" id="tasktemplate1">
        <a href="javascript:void(0);">
        <div class="box">
                                  <div class="menu-block">
    #if(TemplateType == '7')
                            {#
                                           <div class="L-block"> <img class="caticon" src="/cms/Document/GetImageMongo?id=#=CustomIcon#" onerror="OnDocumentError(this);"></div>
                             #}
                            else {#
                 <div class="L-block"> <img class="caticon" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);"></div>
                                #}#

                                        <div class="R-block">
                                            <div class="row-12" style="display:flex;align-items:center;justify-content:center;height:85px;">
                                                <label class="service-title-2"> #:DisplayName#</label>
                                            </div>
                                            <div class="row-12" >
                                                <button class="btn btn-dark btnservice" onclick="return SelectTemplate('#=Id#','#=Code#','#=TemplateType#','#=AreaName#','#=ControllerName#','#=ActionName#','#=Parameter#','#=DisplayName#');">Create Request</button>
                                                    &nbsp;<i class="fal fa-info-circle" style="font-size:18px;margin-top:10px;cursor:pointer;" onclick="OnClick('#:Code#','#:Name#','Template')";></i>
                                                @*<button class="btn btn-dark btnservice"><i class="fal fa-info-circle"></i></button>*@
                                            </div>
                                        </div>
                                        <div class="vert-divider"></div>
                                  </div>
                              </div>
         </a>

          @*<a href="javascript:void(0);" onclick="return SelectTemplate('#=Id#','#=Code#');">
          <div class="card text-center" style="width:150px;height:170px;">
             <div class="card-body" style="padding:0px;">
                  <img class="caticon" src="/cms/Document/GetImageMongo?id=#=IconFileId#" onerror="OnDocumentError(this);">
                  <div class="pt-1 card-text">
                      #:DisplayName#
                  </div>
             </div>
           </div>
          </a>*@
</script>



