@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Manage Business Hierarchy Root Permission";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model UserHierarchyPermissionViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>
<script>

</script>

<div class="row" style="margin-left:15px;">
    <form asp-controller="BusinessHierarchy" asp-action="ManageBusinessHierarchyRootPermission" method="post" class="form-horizontal" id="myForm">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">

            <div class="col-12">User Name <span class="required">*</span></div>
            <div class="col-12 pad-10">
               

                <input asp-for="UserId" id="UserId" class="form-control" style="width: 80%;" />

            </div>
            <div class="col-12">Allowed Root <span class="required">*</span></div>
            <div class="col-12 pad-10">
              

                <input asp-for="CustomRootId" id="CustomRootId" class="form-control" style="width: 80%;" />
            </div>






            <div class="col-12 pad-10"></div>
            <br /><br />
            <div class="cms-slidebar-footer">
                <button type="button" class="btn btn-light" onclick="closeNavNote();">Close</button>
                <input type="submit" class="btn btn-primary" value="Save" @*id="submitBtn"*@ onclick="OnSave(event);" />
            </div>
        </div>

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.UserId)
    </form>
</div>


<script type="text/javascript">



    $(document).ready(function () {

        if ('@ViewBag.Success' == "True") {
            closeNavNote();
           // if (window.parent.$("#kgrdUserHierarchyPermission").data("kendoGrid").dataSource.read()) { }
            window.parent.getDataUserHierarchy();
        }

        $("#UserId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
			value: "@Model.UserId",
            dataSource: {
                transport: {
                    read: {
                        url: "/cms/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#CustomRootId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
			value: "@Model.CustomRootId",
            dataSource: {
                transport: {
                    read: {
                        url: "CHR/BusinessHierarchy/GetAllBusinessHierarchyList",
                    }
                }
            }
        });

    });

    function closeNavNote() {
      
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: 'CallBack' });
        return false;
    }


    function OnSave(evt) {

        //if ($("#UserId").val() == "") {
        //    //
        //    $(".text-danger").removeClass("validation-summary-valid");
        //    $(".text-danger").addClass("validation-summary-errors");
        //    $(".text-danger").html("Hierarchy Name is required");
        //    evt.preventDefault();
        //    return false;
        //}
        //else if ($("#HierarchyPermission").val() == "") {
        //        //
        //        $(".text-danger").removeClass("validation-summary-valid");
        //        $(".text-danger").addClass("validation-summary-errors");
        //        $(".text-danger").html("Hierarchy Permission is required");
        //        evt.preventDefault();
        //        return false;
        //    }
        //else {
        //    $(".text-danger").removeClass("validation-summary-errors");
        //    $(".text-danger").addClass("validation-summary-valid");
        //}

    }
</script>