@using CMS.UI.ViewModel
@using CMS.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Direct Sales";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model ItemsViewModel

<script src="~/js/IMS/InventoryManagement/RequisitionItems.js" asp-append-version="true"></script>

<div class="row" style="margin:10px;margin-bottom:60px;">

    <form asp-controller="InventoryManagement" asp-action="ManageRequisitionItems" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>


        <fieldset>
            <legend style="margin-bottom:0px;">Add Item</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">
                    @*<div class="col-3" style="padding-bottom:10px;">
            <label>Item Head<span class="required">*</span></label>
        </div>
        <div class="col-3" style="padding-bottom:10px;">
            <input type="text" asp-for="ItemHead" class="form-control" />
        </div>*@
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Item Category<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ItemCategory" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Item SubCategory<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ItemSubCategory" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Item Name<span class="required">*</span></label>
                    </div>
                    <div class="col-9" style="padding-bottom:10px;">
                        <input type="text" asp-for="Item" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Item Specification</label>
                    </div>
                    <div class="col-9" style="padding-bottom:10px;">
                        <textarea  asp-for="ItemSpecification" class="form-control" ></textarea>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Item Unit</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ItemUnitName" class="form-control" readonly/>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Current Balance</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="CurrentBalance" class="form-control" readonly/>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Purachase Rate<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="PurchaseRate" class="form-control" />
                    </div>

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Item Quantity<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ItemQuantity" id="Country" class="form-control" />
                    </div>


                </div>
            </div>
        </fieldset>
        <div class="row pad-10" style="float:right;">
            <input type="submit" class="btn btn-primary" value="Add" style="margin:5px;" onclick="OnSubmit()" />
            <input type="button" class="btn btn-primary" value="Close" style="margin:5px;" onclick="closeNav()" />
        </div>
        &nbsp;
        &nbsp;
        <fieldset style="width:100%">
            <legend style="margin-bottom:0px;">Items List</legend>
            <div id="ItemsGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </fieldset>
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.RequisitionId)
        @Html.HiddenFor(x => x.Amount)
        @Html.HiddenFor(x => x.ItemHead)
    </form>
</div>


