@using CMS.UI.ViewModel
@using CMS.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Direct Sales";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@model DeliveryNoteViewModel


<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .avatar-mysign {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .bold {
        font: bold
    }
</style>

<div class="row" style="margin:10px;margin-bottom:60px;">

    <form asp-controller="InventoryManagement" asp-action="ManageDeliveryNote" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>

        <fieldset>
            <legend style="margin-bottom:0px;">Requisition Order</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Requisition Code</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                       @Html.DisplayFor(x=>x.RequisitionCode)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Requisition Date</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.RequisitionDate)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Item Head</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.ItemHead)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Requisition Value</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.RequisitionValue)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Particular</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.Particular)
                    </div>
                </div>
            </div>
        </fieldset>
        &nbsp;
        &nbsp;
        <fieldset>
            <legend style="margin-bottom:0px;">Item Issued against Requisition</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div id="IssueItemsGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            </div>
        </fieldset>

        &nbsp;
        &nbsp;
        <fieldset>
            <legend style="margin-bottom:0px;">Shipping Details</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Issue Remark</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                      <input type="text" class="form-control" asp-for="IssueRemark" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Name & Scope of Work</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="NameScopeOfWork" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>GSTIN</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="GSTIN" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Delivery On</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="DeliveryOn" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Country</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="CountryId" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>State</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="StateId" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>City</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="CityId" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>PIN</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="PIN" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Transport/Vehicle No</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="VehicleNo" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Shipping Address</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" class="form-control" asp-for="ShippingAddress" />
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row pad-10" style="float:right;">
            <input type="submit" class="btn btn-primary" value="Add" style="margin:5px;" onclick="OnSubmit()" />
            <input type="button" class="btn btn-primary" value="Close" style="margin:5px;" onclick="closeNav()" />
        </div>
       
        @*@Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.DirectSalesId)
        @Html.HiddenFor(x => x.Amount)*@
    </form>
</div>


