@using Synergy.App.Common;
@using Synergy.App.ViewModel
@using Synergy.App.Business
@{
    ViewData["Title"] = "Module";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model Synergy.App.ViewModel.AdmitCardViewModel



<style>
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #fff;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .required {
        color: red;
    }
    @@media print {
        #printPageButton {
            display: none;
        }

        #downloadPageButton {
            display: none;
        }

        #closeButton {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }

        @@page {
            size: auto;
            margin: 0;
        }
    }
</style>



<div class="row" style="padding:40px;float:right">
    <input type="button" id="printPageButton" value="Print" style="margin-right:5px;margin-bottom:0px;" class="btn btn-dark" onclick="window.print();return false;" />
    <button class="export-pdf k-button" onclick="getPDF('.container')" id="downloadPageButton">Download</button>

</div>
<div class="row container" style="padding:40px;">
    <div class="row col-12 pad-10">
        <div class="col-4">
            <label><b>Date : </b></label>
        </div>
        <div class="col-8">
            @Model.AppointmentLetterDate.ToDefaultDateFormat()
        </div>
    </div><br /><br />
    <div class="row col-12 pad-10">
        <div class="col-4">
            <label><b>Candidate Name : </b></label>
        </div>
        <div class="col-8">
            @Model.CandidateName
        </div>
    </div>
    <div class="row col-12 pad-10">
        <div class="col-4">
            <label><b>Complete Address : </b></label>
        </div>
        <div class="col-8">
            @Model.CompleteAddress
        </div>
    </div>

    @*<div class="row col-12 pad-10">
            <div class="col-3">
                <label>City, Pin Code</label>
            </div>
            <div class="col-9">
                <input asp-for="CityPinCode" type="text" class="form-control"  autocomplete="off" />
            </div>
        </div>*@

    <div class="row col-12 pad-10">
        <div class="col-4">
            <label><b>State/ Country : </b></label>
        </div>
        <div class="col-8">
            @Model.StateCountry
        </div>
    </div>
    <div class="row col-12 pad-10 pl-4">
        <b> Subject: Appointment Letter for Engineeer Trainee</b>
    </div>
    <div class="row col-12 pad-10 pl-4">
        Dear, @*@Model.CandidateName*@
    </div>
    <div class="row col-12 pad-10 pl-4">
        <p>Refer to your application for the trainee position subsequently an interview held in our office on (Mention date of final interview), we are  pleased to offer you an appointment as <b>"Engineer Trainee"</b>, on the  following terms and conditions:</p>
    </div>
    <div class="row col-12 pad-10">
        <ol>
            <li><p>Your training will be for a period of six months.</p></li>
            <li>
                Your cost to company (CTC) Would be (Mention the amount in numbers & words) and the break-up of the CTC is as follows:<br />
                <ul>
                    @foreach (var item in Model.CandidateElementData)
                    {
                    <li>
                        <div class="row col-12 pad-10">
                            <div class="col-4">@item.ElementName: </div> <div class="col">@item.Value</div>
                        </div>
                    </li>
                    }
                    @*<li>
                            <div class="row col-12 pad-10">
                                <div class="col-6">Basic Salary:  </div><div class="col-6">  <input asp-for="BasicSalary" type="text" class="form-control" placeholder="-----------" /></div>
                            </div>
                        </li>
                        <li>
                            <div class="row col-12 pad-10">
                                <div class="col-6">HRA:</div><div class="col-6"><input asp-for="HRA" type="text" class="form-control" placeholder="-----------" /></div>
                            </div>
                        </li>
                        <li>
                            <div class="row col-12 pad-10">
                                <div class="col-6">Ex-Gratia/Bonus:</div><div class="col-6"><input asp-for="ExGratiaBonus" type="text" class="form-control" placeholder="-----------" /></div>
                            </div>
                        </li>
                        <li>
                            <div class="row col-12 pad-10">
                                <div class="col-6">Child Education Bonus:</div><div class="col-6"><input asp-for="ChildEducationBonus" type="text" class="form-control" placeholder="-----------" /></div>
                            </div>
                        </li>
                        <li>
                            <div class="row col-12 pad-10">
                                <div class="col-6">Transport Allowance:</div><div class="col-6"><input asp-for="TransportAllowance" type="text" class="form-control" placeholder="-----------" /></div>
                            </div>
                        </li>
                        <li>
                            <div class="row col-12 pad-10">
                                <div class="col-6">Uniform Maintenance Allowance:</div><div class="col-6"><input asp-for="UniformMaintenanceAllowance" type="text" class="form-control" placeholder="-----------" /></div>
                            </div>
                        </li>*@
                </ul>The salary of the staff is confidential hence you are requested not to reveal the same to others.
            </li>
            <li>You have to follow the rules & regulations as given by the company. You are not supposed to divulge any information of the company or its management during training period or after completion of training.</li>
            <li>During the training period your Services can be terminated by giving one month notice from either side , you're training automatically stands terminated on completion of your training period.</li>
            <li>This training offer does not obligate the company to give your regular employment during or after the conclusion of your training period, nor does it give you the right to pursue employment with the company during or after your training time.</li>


        </ol>

    </div>
    <div class="cms-slidebar-footer">
        <button type="button" class="btn btn-secondary" onclick="closeNavMemberGroup();">Close</button>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#AppointmentLetterDate").kendoDatePicker({
            @*value: '@Model.ExamDate',*@
            format: "dd.MM.yyyy",
            //change: DateChange
            });

    });

    function closeNavMemberGroup() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function getPDF(selector) {

        kendo.drawing.drawDOM($(selector)).then(function (group) {
            group.options.set("pdf", {
                paperSize: "A4",
                margin: {
                    left: "20mm",
                    top: "20mm",
                    right: "20mm",
                    bottom: "40mm"
                }
            });
            kendo.drawing.pdf.saveAs(group, "AppointmentLetter.pdf");
        });
    }

</script>