@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@model ServiceViewModel;

@{

    //Layout = "~/Areas/Core/Views/Shared/Themes/Recruitment/_Layout.cshtml";
    //Layout= "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    // Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    Layout = null;
}
<style>
    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        background-clip: padding-box;
    }

    /* .project-dropdown ul {
        list-style-type: none;
        margin-bottom: 0px;
    }*/



    #banner {
        width: 100%;
        /*  height: 140px;*/
        height: 160px;
        left: 389px;
        top: 157px;
        background: #2D9FCA;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        border-radius: 6px;
        font-family: roboto;
    }

    .banner-item-project {
        background-color: #d6aa24;
    }

    .banner-item {
        color: #fff;
        height: 60px;
        text-align: left;
    }

        .banner-item:hover {
            color: #fff;
        }

    .banner-item-project {
        background-color: #42ca88;
    }

    .banner-item-date {
        background-color: #f0ad4e;
    }

    .k-dropdown-project .k-input {
        display: none !important;
    }
</style>
<script>

    $(document).ready(function () {
        HideLoader($("#global-overlay"));

        if ("@Model.PageName" == "ProjectTaskByDate")
        {
            if (window.parent == "" || window.parent == undefined) {
                LoadPartailView1("/pjm/ProjectTask/ProjectTaskByDate?ProjectId=@Model.Id", 'Project-content');
            } else {
                window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByDate?ProjectId=@Model.Id", 'Project-content');
            }
        }
        if ("@Model.PageName" == "ProjectTaskByUser")
        {
            if (window.parent == "" || window.parent == undefined) {
               LoadPartailView1("/pjm/ProjectTask/ProjectTaskByName?ProjectId=@Model.Id", 'Project-content');
            } else {
               window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskByName?ProjectId=@Model.Id", 'Project-content');
            }
        }
       if ("@Model.PageName" ==  "PerformanceByStatus")
        {
             if (window.parent == "" || window.parent == undefined) {
                 LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=@Model.Id", 'Project-content');
            } else {
                 window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceTaskView?ProjectId=@Model.Id", 'Project-content');
            }
        }
        if ("@Model.PageName" == "PerformanceDashboard")
        {
            if (window.parent == "" || window.parent == undefined) {
                LoadPartailView1("/pms/PerformanceDashboard/PerformanceDashboard?PerformanceId=@Model.Id&stageId=@Model.StageId", 'Project-content');
            } else {
                window.parent.LoadPartailView1("/pms/PerformanceDashboard/PerformanceDashboard?PerformanceId=@Model.Id&stageId=@Model.StageId", 'Project-content');
            }
        }
        if ("@Model.PageName" == "PerformanceCalendarView")
        {
             if (window.parent == "" || window.parent == undefined) {
                 // LoadPartailView1("/pjm/ProjectTask/ProjectTaskCalendarView?ProjectId=@Model.Id", 'Project-content');
                 LoadPartailView1("/pms/PerformanceTask/PerformanceCalendarView?ProjectId=@Model.Id&stageId=@Model.StageId", 'Project-content');
            } else {
                // window.parent.LoadPartailView1("/pjm/ProjectTask/ProjectTaskCalendarView?ProjectId=@Model.Id", 'Project-content');
                 window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceCalendarView?ProjectId=@Model.Id&stageId=@Model.StageId", 'Project-content');
            }
        }
        if ("@Model.PageName" == "WorkBreakDownStructure")
        {
             if (window.parent == "" || window.parent == undefined) {
                 LoadPartailView1("/pms/Performance/PerformanceWorkBreakDownStructure?PerformanceId=@Model.Id", 'Project-content');
            } else {
                 window.parent.LoadPartailView1("/pms/Performance/PerformanceWorkBreakDownStructure?PerformanceId=@Model.Id", 'Project-content');
            }
        }

        if ("@Model.PageName" == "WorkBreakDownStructure")
        {
             if (window.parent == "" || window.parent == undefined) {
                 LoadPartailView1("/pms/Performance/PerformanceWorkBreakDownStructure?PerformanceId=@Model.Id", 'Project-content');
            } else {
                 window.parent.LoadPartailView1("/pms/Performance/PerformanceWorkBreakDownStructure?PerformanceId=@Model.Id", 'Project-content');
            }
        }

        if (window.parent == "" || window.parent == undefined) {
            LoadPartailView1("/pms/PerformanceTask/PerformanceDetailsBanner?ProjectId=@Model.Id&pageName=@Model.PageName", 'ProjectBanner');
            } else {
            window.parent.LoadPartailView1("/pms/PerformanceTask/PerformanceDetailsBanner?ProjectId=@Model.Id&pageName=@Model.PageName", 'ProjectBanner');
            }
    });

</script>
@if (Model.PageName == "ProjectTaskByDate")
{
    <div style=""><img style="width:100%; height:100px" src="~/images/Project Task by Date.png" /></div>

}
@if (Model.PageName == "ProjectTaskView")
{
    <div style=""><img style="width:100%; height:100px" src="~/images/PMS/Performance Document by Status.png" /></div>

}
@if (Model.PageName == "ProjectDashboard")
{
    <div style=""><img style="width:100%; height:100px" src="~/images/PMS/Performance Dashboard.png"/></div>

}
@if (Model.PageName == "PerformanceCalendarView")
{
    <div style=""><img style="width:100%; height:100px" src="~/images/PMS/Performance Document by Calendar View.png" /></div>

}

<div id="ProjectBanner">

</div>
<div id="Project-content" style="padding: 10px;">

</div>






