@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;
@{
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model ServiceTemplateViewModel
<script>

    $(document).ready(function () {

    });



    function OnView(serId,tempCode,stcode) {

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var source = '@RequestSourceEnum.View.ToString()';
        var action = '@DataActionEnum.View.ToString()';
        if (stcode === 'SERVICE_STATUS_DRAFT') {
        source = "Edit";
        action = "Edit";
        }
        var portalId = '@Model.PortalId';
        var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=ReloadIndexPage&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + serId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  'Manage Service', Width: 1200, Height: 600 });
        return false;
    }
    function OnEdit(serId, tempCode) {
       // var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var source = '@RequestSourceEnum.Edit.ToString()';
        var action = '@DataActionEnum.Edit.ToString()';
        var portalId = '@Model.PortalId';
        var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=ReloadIndexPage&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + serId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  'Manage Service', Width: 1200, Height: 600 });
        return false;
    }

    function OnClose() {
        var win = GetMainWindow();
        win.CloseWindow({ MethodName:"@ViewBag.CBM"});
    }


</script>
<div class="row no-gutters pad-10">
    @*<div class="col-12 pb-1 pt-3">
            <h3>Service List</h3>
        </div>*@
    @if (ViewBag.CBM != null && ViewBag.CBM != "")
    {
        <div class="col-12 pad-10">
            <button class="btn btn-secondary" style="float:right" onclick="return OnClose();">Close</button>
        </div>
    }


    <div class="container col-12">
        <script>
                        var columnDefs = [
                            {
                                headerName: "Actions",
                                field: "Id",
                                cellRenderer: params => {
                                    return "<div class='btn-group grid-menu' id='tree-mrnu' data-idvalue='" + params.value + "' data-tempcode='" + params.data.TemplateCode + "' data-sscode='" + params.data.ServiceStatusCode + "'><i class='fas fa-ellipsis-v'></i></div>"
                                }
                            },
                            {
                                headerName: "Service No",
                                field: "ServiceNo",
                            },
                            {
                                headerName: "Subject",
                                field: "ServiceSubject",
                            },
                            {
                                headerName: "Owner",
                                field: "OwnerDisplayName",
                            },
                            {
                                headerName: "Start Date",
                                field: "DisplayStartDate",
                                //cellRenderer: params => {
                                //    var date = new Date(params.value);
                                //    var d = new Date(date),
                                //        month = '' + (d.getMonth() + 1),
                                //        day = '' + d.getDate(),
                                //        year = d.getFullYear();

                                //    if (month.length < 2)
                                //        month = '0' + month;
                                //    if (day.length < 2)
                                //        day = '0' + day;

                                //    return [day, month, year].join('.');
                                //}
                            },
                            {
                                headerName: "Due Date",
                                field: "DisplayDueDate",
                            },
                            {
                                headerName: "Status",
                                field: "ServiceStatusName",
                            },

                        ];
                        $(function () {
                            GetData_kgrid_AllServices();
                             $.contextMenu({
                                selector: '#tree-mrnu',
                                trigger: 'left',
                                build: function ($trigger, e) {

                                    var id = $trigger.data('idvalue');
                                    var tcode = $trigger.data('tempcode');
                                    var scode = $trigger.data('sscode');
                                    switch (0) {
                                        case 0:
                                            return {
                                                callback: function (key, options) {
                                                    switch (key) {
                                                        case 'edit':
                                                            OnEdit(id, tcode);
                                                            break;
                                                        case 'view':
                                                            OnView(id, tcode, scode);
                                                            break;

                                                        default:
                                                    }
                                                },
                                                items: {
                                                    "edit": { name: "Edit", icon: "fas fa-edit" },
                                                    "view": { name: "View", icon: "fas fa-eye" },
                                                }
                                            };
                                    }
                                }
                            });
                        });

                        function GetData_kgrid_AllServices(url) {
                            document.getElementById("kgrid_AllServices").innerHTML = "";
                            var Url = "";
                            if (url != null && url != "") {
                                Url = url;
                            } else {
                                Url = "/Pms/PerformanceTask/ReadServiceList?statusCodes=@Model.ServiceStatusCode&templateCodes=@Model.TemplateCode&parentServiceId=@Model.ParentServiceId";
                            }

                            gridConfig(
                                "kgrid_AllServices",
                                Url,
                                columnDefs,
                                false,
                                true,
                                true,
                                true,
                                1,
                                true,
                                10);
                        }
        </script>

        <div id="kgrid_AllServices" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

    </div>
</div>

