@inject IStringLocalizer<CMS.UI.Web.Areas.CHR.Controllers.HRDirectController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@inject IUserContext _userContext;
@*@model ApplicationDataViewModel;*@
@model AssignmentViewModel;

@{
    ViewBag.Title = "";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}
<style>
    .avatar-drp-profile {
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    .drp-user {
        width: 100%;
    }
    .form-group {
        text-align: left !important;
    }

    label {
        font-weight: 500 !important;
    }

    .col-8 {
        flex: none !important;
        max-width: 80% !important;
    }

    .pf-details-section {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    .pf-right-content {
        padding-right: 0px !important;
    }

    #pfsidebar {
        min-width: 250px;
        max-width: 250px;
        color: #fff;
        transition: all 0.3s;
    }

    #pfcontent {
        width: 100%;
        padding: 0px;
        min-height: 100vh;
        transition: all 0.3s;
        margin: 3px;
    }

        #pfcontent #tabstrip {
            min-height: 100vh;
            border-width: 0px;
            padding: 10px;
            /*margin: 5px;*/
        }

    .intro-panel-body {
        border-radius: 7px;
        border: 1px solid #beb1b1;
        background-color: rgb(99 187 220);
        padding-top: 10px;
    }

    .intro-label {
        color: black;
    }

    .intro-display {
        color: darkblue;
    }

    .intro-section {
        padding-bottom: 10px;
    }

    #tabstrip .content {
        padding: 1rem;
    }

    .intro.panel-body.bg-primary .form-group {
        padding: 0px;
    }

        .intro.panel-body.bg-primary .form-group .control-label {
            font-weight: bold;
        }

    /*  .menu-item {
        display: block;
        padding: 3px;
        background-color: #0099cc;
        color: #fff;
        border-radius: 5px;
        margin-bottom: 3px;
    }*/

    .menu-item:hover {
        background-color: #0086b3;
    }

    .menu-item-image {
        width: 18px;
        height: 18px;
        float: right;
        margin-top: 7px;
        margin-right: 3px;
        margin-left: 63%;
    }

    iframe {
        overflow: hidden;
    }

    .summary-view {
        width: 86%;
        min-height: 650px;
        background: transparent;
        margin-left: 234px;
        height: 1000px !important;
    }

    .employee-div {
        /* margin-left: 20%;*/
        width: 73%;
    }

    app-settings__submenu-container {
        overflow: hidden;
        white-space: nowrap;
        transition: .3s cubic-bezier(1,0,0,1);
    }

    .h5-responsive {
        font-size: 120%;
        line-height: 22px;
        min-height: 22px;
        padding-left: 26px;
        color: lightseagreen;
        font-weight: 600;
    }

    .app-list__body-item-content {
        background-color: #a3d4ec5e;
        padding-top: 8px;
        border-radius: 35px;
        /*  height: 35px;*/
        display: -ms-flexbox;
        display: flex;
        transition: .3s;
        margin-right: 30px;
        cursor: pointer;
        color: #5f5f5f;
        margin-top: 2px;
        font-family: Poppins,sans-serif !important;
    }

        .app-list__body-item-content:hover {
            background-color: lightgray;
            color: white;
            /*font-weight: 800;*/
        }

    .app-list__body-item-icon {
        font-size: 15px;
        padding-left: 15px;
    }

    /*.modernsidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #a3d4ec5e;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;*/
    /*padding-left: 60px;*/
    /*}

        .modernsidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.1s;
        }

            .modernsidebar a:hover {
                color: #f1f1f1 !important;
            }

        .modernsidebar .closebtn {
            position: absolute;
            top: 71px;
            right: 0px;
            font-size: 36px;
            margin-left: 50px;
        }*/

    #introdisplay {
        color: darkblue;
    }

    .tree-item-status {
        cursor: pointer;
    }

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .treeview .k-in {
        width: 100% !important;
    }
    /*Portal Start*/
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        border-left: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 85%;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }
    /*Portal End*/
    .drp-user-text {
        font-size: 12px;
        /* color: gray;*/
    }

    .drp-user-name {
        font-size: 14px;
    }

    .avatar-myProfile {
        border-radius: 5%;
        height: 150px;
        width: 150px;
    }
</style>



<script type="text/javascript">


    function Close(dorefresh) {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
        if (dorefresh) {
             var link1 = '@Url.Action("EmployeeAttendence", "Attendance", new { area = "Taa", userId = Model.UserId })';
            document.getElementById('getpmtsummary').src = link1;
             ScrollTop();
        }
    }
    function OnPosHier() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var url = "/chr/PositionHierarchy/Index?rs=HRDirect&personId=" + '@Model.PersonId' @*+ "&posId=" + '@Model.PositionId'*@;
        LoadPartailView(url, $('#inbox-content-div'));
    }
    function OnOrgHier() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var url = "/chr/OrganizationHierarchy/Index?rs=HRDirect&personId=" + '@Model.PersonId' @*+ "&orgId=" + '@Model.DepartmentId'*@;
        LoadPartailView(url, $('#inbox-content-div'));
    }
    function OnLeaveHier() {
       @*var link1 = '@Url.Action("LeaveApprovalHierarchy", "Hierarchy", new { area = "Hrs", userId = Model.UserId})';
        document.getElementById('getpmtsummary').src = link1;
        ScrollTop();*@
        var portalId = $('#GlobalPortalId').val();
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        LoadPartailView('@Url.Action("LeaveApproveHierarchy", "HRDirect", new { @area = "CHR"})?portalId='+portalId, $('#inbox-content-div'));
    }

    @*function OpenMisconductService() {
        var link1 = '@Url.Action("MisconductService", "HrDirect", new { area = "Hrs", userId = Model.UserId})';
        document.getElementById('getpmtsummary').src = link1;
         ScrollTop();
    }*@

    function OnTimePermission() {


           $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var users = '@Model.UserId';
        LoadPartailView('@Url.Action("TimePermissionRequest", "HRCore", new { @area = "CHR" , userid = Model.UserId })', $('#inbox-content-div'));

      //   var link1 = '@Url.Action("TimePermissionRequest", "HRCore", new { area = "Hrs", userid = Model.UserId})';
      //  document.getElementById('getpmtsummary').src = link1;
      //  ScrollTop();
    }
    function OnRemoteSignInSignOut() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var users = '@Model.UserId';
      //  var link1 = '@Url.Action("", "", new { area = "CHR",  EmpId =Model.PersonId })?Userid=' + users, $('#inbox-content-div'));
        LoadPartailView('@Url.Action("RemoteSignInSignOut", "HrDirect", new { @area = "CHR" , EmpId =Model.PersonId })?Userid='+users, $('#inbox-content-div'));
      //  document.getElementById('getpmtsummary').src = link1;
        //ScrollTop();
    }

    function OnTeamAttendance() {


           $("#manageperson-div").hide();
        $("#inbox-content-div").show();

        LoadPartailView('@Url.Action("TeamAttendance", "HRCore", new { @area = "CHR" , userId = Model.UserId })', $('#inbox-content-div'));
       // ScrollTop();
    }
    function OpenMyServices() {

        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
          LoadPartailView('@Url.Action("Service", "HrDirect", new { @area = "CHR" , userId = Model.UserId })', $('#inbox-content-div'));
    }

    function OpenMyTasks() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
         LoadPartailView('@Url.Action("Task", "HrDirect", new { @area = "CHR" , userId = Model.UserId })', $('#inbox-content-div'));
    }


     function OnPerformance() {
         window.location.href= "/pms/pmshome/index?userId=@Model.UserId";
    }
    function OnWorklist() {
         window.location.href = "/nts/ntshome";
    }
    function OnChangePass() {
        window.location.href = "/general/setting/changepassword";
    }
    
    function Onlogout() {
        window.location.href = "/Account/LogOff";

     }
    function ManagePositionSuccess(positionId) {
         window.location.href = "/hrs/hrdirect/index?posId=" + positionId;
    }
   
    function OnPersonManage() {
        $("#inbox-content-div").hide();
        $("#manageperson-div").show();


    }
    function ManagePersonCancel() {
        window.location.href = window.location.href;
    }
    function ManagePersonSuccess(personId) {
        window.locatModeloUserIdIdIdn.href = "/hrs/hrdirect/index?empId=" + personId +"&posId=@Model.PositionId";
    }
    function ManageUserCancel() {
        window.location.href = window.location.href;
    }
    function ManageUserSuccess() {
        window.location.href = window.location.href;
    }
   
    function OnAssignmnetManage(source, id) {
        
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
        var url = "/hrs/assignment/" + source + (id == null ? "" : "?id=" + id + "&layoutMode=Iframe&rs=hrdirect");
        LoadPageInIframe(url);
    }
    function ManageAssignmentCancel() {
        window.location.href = window.location.href;
    }
    function ManageAssignmentSuccess(assignmentId) {
        window.location.href = window.location.href;
    }


    function OpenContractHistory(contractId) {
        
          var url = "/hrs/contract/history?contractId=" + contractId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
       win.OpenWindow({ Title: 'Manage Contract', Width: 1200, Height: 750 });
        return false;

    }
    function OnContractManage(source, id) {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
        var url = "/hrs/contract/" + source + (id == null ? "" : "?id=" + id + "&layoutMode=Iframe&rs=hrdirect");
        LoadPageInIframe(url);
    }
    function ManageContractCancel() {
        window.location.href = window.location.href;
    }
    function ManageContractSuccess(contractId) {
        window.location.href = window.location.href;
    }
    function OpenSalaryInfoHistory(salaryInfoId) {
       
        var url = "/pay/salaryInfo/history?salaryInfoId=" + salaryInfoId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage SalaryInfo', Width: 1200, Height: 750 });
        return false;
    }
    function OnManageSalaryInfo(source, id) {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
        var url = "/pay/salaryInfo/" + source + (id == null ? "" : "?id=" + id + "&layoutMode=Iframe&rs=hrdirect");
        LoadPageInIframe(url);
    }
    function ManageSalaryInfoCancel() {
        window.location.href = window.location.href;
    }
    function DelManagePerson() {
        //window.location.href = window.location.href;
        window.location.href = "/hrs/hrdirect";
    }
    function ManageSalaryInfoSuccess(id) {

        var query = RemoveParams(window.location.search, "page");
        query += '&page=payroll,' + id
        window.location.href = "/hrs/hrdirect/index?"+query;

    }
    function OnCreateLeave() {
      //
        if ('@Model.UserId' == '' || '@Model.UserId' == null) {
            alert("@Resource["Pleasemappersontouserfrommanageperson"]");
        }
        else {
       var win = GetMainWindow();
            win.iframeOpenUrl ='@Url.Action("SelectServiceTemplate", "NtsService", new { area = "Cms" })?templateCode=&categoryCode=Leave&userId='+ '@Model.UserId';
            win.OpenWindow({ Title: '@Html.Raw(Resource["LeaveTemplate"])', Width: 1200, Height: 600 });
        }

    }


    function OnRemoteSignIn() {
        //alert("Sign In");
        var userid = '@Model.UserId';
        var win = GetMainWindow();
        var url = '/CHR/HRCore/signinsignout?UserId=' + userid;

        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(Resource["RemoteSignIn/SignOut"])', Width: 400, Height: 450 });
        return false;
    }
    function OnAttendance() {


     $("#manageperson-div").hide();
        $("#inbox-content-div").show();
         LoadPartailView('@Url.Action("EmployeeAttendence", "Attendance", new { @area = "Taa" , userId = Model.UserId })', $('#inbox-content-div'));




    }
    function OnAccessLog() {
        var portalId = $('#GlobalPortalId').val();
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var users = '@Model.UserId';
        LoadPartailView('@Url.Action("AccessLog", "HRDirect", new { @area = "CHR" , EmpId = Model.PersonId })?Userid='+users, $('#inbox-content-div'));
    }


    function OnAccessLogRequested() {
        debugger;
         var link1 = '@Url.Action("AccessLogRequested", "AccessLog", new { area = "Clk", userId = Model.UserId })';

         document.getElementById('getpmtsummary').src = link1;
         ScrollTop();
    }
            function OnSum() {


                @*var prms = encodeURIComponent('userId=@Model.UserId');
                var url = '/Cms/Page?source=View&dataAction=View&pageName=LeaveSummary&portalId=' + portalId +'&prms='+prms;

                LoadCmsPartialView(url, 'Page', false, 1000, 600, 'Leave Summary', '', false, $('#inbox-content-div'));*@

                 var portalId = $('#GlobalPortalId').val();
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var users = '@Model.UserId';
     LoadPartailView('@Url.Action("LeaveSummary", "Leave", new { @area = "CHR" , userId = Model.UserId })', $('#inbox-content-div'));


            }
    function LoadPageInIframe(url) {
        document.getElementById('getpmtsummary').src = url;
    }
    function OnDet() {

        var link1 = '@Url.Action("LeaveDetail", "Leave", new { area = "Taa", userId = Model.UserId})';

        document.getElementById('getpmtsummary').src = link1;
                ScrollTop();
    }

        function OnOldDet() {

        var link1 = '@Url.Action("OldLeaveDetail", "Leave", new { area = "Taa", userId = Model.UserId})';

        document.getElementById('getpmtsummary').src = link1;
                ScrollTop();
    }
    function OnBusinessTrip() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var users = '@Model.UserId';
        LoadPartailView('@Url.Action("Index", "BusinessTrip", new { @area = "CHR" , EmpId =Model.PersonId })?Userid='+users, $('#inbox-content-div'));
    }
    function OpenMisconductService() {
        var portalId = $('#GlobalPortalId').val();
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var users = '@Model.UserId';
        LoadPartailView('@Url.Action("Misconduct", "HRDirect", new { @area = "CHR" , EmpId = Model.PersonId })?Userid='+users, $('#inbox-content-div'));
    }
    function PersonDocument() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        LoadPartailView('@Url.Action("EmployeeDocument", "HRDirect", new { @area = "CHR",userId=Model.UserId })', $('#inbox-content-div'));
    }
    function LeaveDetail() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
      //  alert('@Model.PersonId')
        url = "/CHR/Leave/LeaveDetail?userId=" + '@Model.UserId' + '&personId=' +'@Model.PersonId';
      @*LoadPartailView('@Url.Action("LeaveDetail", "Leave", new { @area = "CHR" , userId = Model.UserId, personId = Model.PersonId })', $('#inbox-content-div'));*@
        LoadPartailView(url, $('#inbox-content-div'));
    }
    function Dependent() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
         LoadPartailView('@Url.Action("Dependant", "HRDirect", new { @area = "CHR" , userId = Model.UserId, personId = Model.PersonId })', $('#inbox-content-div'));
    }

            function OnAway() {
                 var link1 = '@Url.Action("AwayDay", "Leave", new { area = "Taa", userId = Model.UserId })';
                document.getElementById('getpmtsummary').src = link1;
                 ScrollTop();
            }
             //function OnEmp() {

            // // var link1 = '@Url.Action("LoadEmployeeDetails", "HrDirect", new { personId = Model.PersonId })';
            //     document.getElementById('getpmtsummary').src = link1;

            //}
    function OnEmp() {
        var portalId = $('#GlobalPortalId').val();
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        LoadPartailView('@Url.Action("EmployeeProfile", "HRDirect", new { @area = "CHR" , personId = Model.PersonId })', $('#inbox-content-div'));
    }
    function OnManagePerson() {

        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
           if ('@Model.PersonId' == '') {
            var portalId = $('#GlobalPortalId').val();
               var url = '/Cms/Page?lo=Div&cbm=OnAfterPersonCreate&source=Create&dataAction=Create&pageName=Person&portalId=' + portalId ;
               //LoadPartailView(url,   $('#inbox-content-div') );
               LoadCmsPartialView(url, 'Note', false, null, null, 'Create Person', null, null, $('#inbox-content-div'), null);
            return false;
        }
           else {
            var portalId = $('#GlobalPortalId').val();
            var roudfs = encodeURIComponent('UserId=true');
               var url = '/Cms/Page?lo=Div&cbm=OnAfterPersonCreate&source=View&dataAction=View&pageName=Person&portalId=' + portalId + '&recordId=' + '@Model.NoteId' + '&roudfs=' + roudfs;
              // LoadPartailView(url, $('#inbox-content-div'));
               LoadCmsPartialView(url, 'Note', false, null, null, 'Manage Person', null, null, $('#inbox-content-div'), null);
            return false;
        }
    }
    function OnManageAssignment() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        if ('@Model.PersonId' != '') {
            var roudfs = encodeURIComponent('EmployeeId=true');
            if ('@Model.AssignmentId' == '' || '@Model.AssignmentId' == null) {
                var portalId = $('#GlobalPortalId').val();
                var udfs = encodeURIComponent('EmployeeId=' + '@Model.PersonId');

                var url = '/Cms/Page?lo=Div&cbm=OnAfterAssignmentCreate&source=Create&dataAction=Create&pageName=Assignment&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;
                //document.getElementById('iframe_assignment').src = url;
                LoadCmsPartialView(url, 'Note', false, null, null, 'Manage Assignment', null, null, $('#inbox-content-div'), null);
                return false;
            }
            else {
                 var portalId = $('#GlobalPortalId').val();

                var url = '/Cms/Page?lo=Div&cbm=OnAfterAssignmentCreate&source=View&dataAction=View&pageName=Assignment&portalId=' + portalId + '&recordId=' + '@Model.NoteAssignmentId' + '&roudfs=' + roudfs;
                //document.getElementById('iframe_assignment').src = url;
                LoadCmsPartialView(url, 'Note', false, null, null, 'Manage Assignment', null, null, $('#inbox-content-div'), null);
            return false;
            }

        }
        else {
            document.getElementById('inbox-content-div').innerHTML = "@Resource["PleaseCreatePerson"]";
            return false;
        }
    }

    function OnManageContract() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        if ('@Model.PersonId' != '') {
            var roudfs = encodeURIComponent('EmployeeId=true');
            if ('@Model.ContractId' == '' || '@Model.ContractId' == null) {
                var portalId = $('#GlobalPortalId').val();
                var udfs = encodeURIComponent('EmployeeId=' + '@Model.PersonId');

                var url = '/Cms/Page?lo=Div&cbm=OnAfterContractCreate&source=Create&dataAction=Create&pageName=Contract&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;
                //document.getElementById('iframe_contract').src = url;
                LoadCmsPartialView(url, 'Note', false, null, null, 'Manage Contract', null, null, $('#inbox-content-div'), null);
                return false;
            }
            else {
                var portalId = $('#GlobalPortalId').val();
                @*var udfs = encodeURIComponent('EmployeeId=' + '@Model.PersonId');*@
                var url = '/Cms/Page?lo=Div&cbm=OnAfterContractCreate&source=View&dataAction=View&pageName=Contract&portalId=' + portalId + '&recordId=' + '@Model.NoteContractId' + '&roudfs=' + roudfs;
                //document.getElementById('iframe_contract').src = url;
                LoadCmsPartialView(url, 'Note', false, null, null, 'Manage Contract', null, null, $('#inbox-content-div'), null);
                return false;
            }

        }
        else {
            document.getElementById('contractcreate').innerHTML = "@Resource["PleaseCreatePerson"]";
            return false;
        }

    }


             function OnDoc() {

              var link1 = '@Url.Action("LoadDocuments", "HrDirect", new { userId = Model.UserId })';
              document.getElementById('getpmtsummary').src = link1;
            }
function OnPayroll() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        LoadPartailView('@Url.Action("Index", "PayrollSlip", new { @area = "CHR" , EmpId = Model.PersonId })', $('#inbox-content-div'));
        // ScrollTop();
 }

    function OnSeparation() {

      //  var link1 = '@Url.Action("ResignationTermination", "HRCore")?userId=@Model.UserId&noticePeriod=@Model.NoticePeriod';
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var users = '@Model.UserId';


        LoadPartailView('@Url.Action("ResignationTermination", "HRCore", new { @area = "CHR" , EmpId = Model.PersonId })?Userid='+users, $('#inbox-content-div'));

        //document.getElementById('getpmtsummary').src = link1;
         ScrollTop();
    }

    function ManageBenefits() {
         $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        LoadPartailView('@Url.Action("ManageBenefits", "HRDirect", new { @area = "CHR" })', $('#inbox-content-div'));

        //document.getElementById('getpmtsummary').src = link1;
       //  ScrollTop();
    }

            function OnCrModelate() {
                var tempMasterId = $("#TemplateMasterId").data("kendoDropDownList").value();
                var url = "/nts/note/Manage?templateMasterId=" + tempMasterId + "&tagtotype=Person" + "&tagtoid=" @*+@(Model.PersonId??null)*@;
                window.parent.location.href = url;

            }

            function OnTemplateChange(e) {
                var id = e.sender.dataItem().Id;
                if (id != null && id != '') {
                    $("#btnTemplate").data("kendoButton").enable(true);
                }
                else {
                    $("#btnTemplate").data("kendoButton").enable(false);
                }
            }
            function OnClick(arg) {
                var search = {
                    TagToType: 'Person',
                    @*TagTo: @(Model.PersonId??null),*@
                Type: 'PERSON_DOCUMENT',
                    NoteStatus: arg
            };
            $("#notegrid").data("kendoGrid").dataSource.read(search);
        }
        function dataBound() {
            this.expandRow(this.tbody.find("tr.k-master-row").first());
        }

    function OnNoteBack() {
       
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function IframePostbackScript(source, rs) {
        if (source=='note') {
            var sp = rs.split(',');
            var type = sp[1];
            if (type=='contract') {
                window.location.href = window.location.href;
            }
            else if (type == 'document') {
                var win = GetMainWindow();
                win.CloseWindow();
                return false;
                LoadPageInIframe('/hrs/hrdirect/loaddocuments?userId=@Model.UserId&layoutMode=Iframe&rs=hrdirect,document');
            }
            else if (type == 'dependent_document') {
                var win = GetMainWindow();
                win.CloseWindow();
                return false;
                LoadPageInIframe('/hrs/hrdirect/loaddependentdetails?userId=@Model.UserId&layoutMode=Iframe&rs=hrdirect,dependent_document');
            }
            return false;
        }
        else {
            var win = GetMainWindow();
            win.CloseWindow();
            return false;
            var win = GetMainWindow();
            win.CloseWindow();
            return false;
            //LoadPageInIframe('/hrs/hrdirect/LoadEmployeeDetails?personId=@Model.PersonId');
            LoadPageInIframe('/hrs/hrdirect/loaddocuments?userId=@Model.UserId&layoutMode=Iframe&rs=hrdirect,document');
        }

    }
    function CloseService() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
       LoadPageInIframe('/hrs/hrdirect/LoadEmployeeDetails?personId=@Model.PersonId');
    }
    function OnDependentManage(source, id) {
      
        var url = "/hrs/Dependent/" + source + (id == null ? "" : "?id=" + id) + "&layoutMode=Iframe";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage Dependant', Width: 1200, Height: 750 });
        var win = GetMainWindow();
        win.CloseWindow();
        return false;

    }
   
    function CloseDependent(reload) {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
        if (reload) {
                LoadPageInIframe('/hrs/hrdirect/loaddependentdetails?userId=@Model.UserId&layoutMode=Iframe&rs=hrdirect');
        }
        return false;
    }


    function ReloadIndexPage(res) {
        var id = '8062dfaa-0413-43e1-88ec-fa6617a3a497';

        var type = 'Note';
        var source = 'Main';
        var action = 'Read';
        LoadPageById(id, type, source, action);
    }
    function OnJobDescription() {
        var data = "@Model.DepartmentId";
        var jobids = "@Model.JobId";

        @*var win = GetMainWindow();
        var url = '/CHR/HRCore/JobDescription?JObId=' + jobids;

        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(Resource["JobDescription"])', Width: 1200, Height: 600 });
        return false;*@


         $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        LoadPartailView('@Url.Action("JobDescription", "HRCore", new { @area = "CHR" })?JObId=' + jobids, $('#inbox-content-div'));

    }






    function OnJobDescriptionUser() {
        var data = "@Model.DepartmentId";
        var jobids = "@Model.JobId";
        if (jobids.length > 0) {
            @*var win = GetMainWindow();
            var url = '/CHR/HRCore/ViewJobDescription?Departmentid=' + data + '&JobId=' + jobids;

            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: '@Html.Raw(Resource["JobDescription"])', Width: 1200, Height: 600 });*@
             $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        LoadPartailView('@Url.Action("ViewJobDescription", "HRCore", new { @area = "CHR" })?Departmentid=' + data + '&JobId=' + jobids, $('#inbox-content-div'));

        }
        else { kendo.alert("@Resource["Departmentandjobnotassign"]");}




    }

   
    function closeNav() {
        document.getElementById("mymodernsidebar").style.width = "0";
        document.getElementById("switch").style.marginLeft = "0";
        document.getElementById("intro").style.marginLeft = "0";
        document.getElementById("getpmtsummary").style.marginLeft = "-31px";
        $("#modernnavopen").show();
        $("#modernnavclose").hide();
    }

    function openNav() {
        document.getElementById("mymodernsidebar").style.width = "340px";
        document.getElementById("switch").style.marginLeft = "19%";
        document.getElementById("intro").style.marginLeft = "19%";
        document.getElementById("getpmtsummary").style.marginLeft = "19%";
            $("#modernnavopen").hide();
            $("#modernnavclose").show();
        }


    function OnCreateResignation(tempcode) {

        $.ajax({
            url: "/hrs/hrdirect/ReadResignationServiceData?userId=@Model.UserId",
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false,
            success: function (data) {
                if (data != null) {

                    if (data.isresignation) {
                          var ru = "/hrs/hrdirect/index"
                        var u = window.parent.location.href.slice(window.location.href.indexOf('?') + 1);
                        if (u != null)
                            ru += "?" + u;
                        ru = encodeURIComponent(ru);
                        location.href = "/nts/service/manage?serviceId=" + data.serviceId + "&ru="+ru;
                    }
                    else if (data.isEosResignation) {
                        alert('End of service is already ' + data.serviceStatus + ' You can not resign');

                    }
                    else if (data.istermination) {
                        alert(' Termination service is already ' + data.serviceStatus + ' You can not terminate');

                    }
                    else {
                          var ru = "/hrs/hrdirect/index"
                        var u = window.parent.location.href.slice(window.location.href.indexOf('?') + 1);
                        if (u != null)
                            ru += "?" + u;
                        ru = encodeURIComponent(ru);
                        location.href = "/nts/service/manage?templateMasterCode=" + tempcode+"&userId=@Model.UserId"+ "&ru=" + ru;
                    }
                }
            },
            error: function (xhr) {
                alert('error');
            }
        });

        }
</script>
<script type="text/javascript">
    var buttonClicked = null;
    $(document).ready(function () {
        $("#PersonId").kendoDropDownList({
            dataTextField: "PersonFullName",
            dataValueField: "PersonId",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: Onchange,
            template: '<div class="row no-gutter pb-1 pt-1">'+
                '<div style="width: 80px;" >' +
                      '#if(data.PhotoId != null)'+
        '{ # <img class= "avatar-drp-profile" src = "/Cms/document/getimagemongo?id=#:data.PhotoId#" /> # }'+
                      'else'+
        '{ # <img class= "avatar-drp-profile" style = "background-color:gray;" src = "/images/profile.jpg" /># }#'+
                     '</div > '+
            '<div style="width:460px;" > '+
        '<span>#: PersonFullName#</span > '+

                    '#if(data.GradeName != null) { # <br /> <span class="drp-user-text" title="Grade">#:GradeName#</span> # } #'+
    '#if(data.Email != null) { # <span style = "float:right;" class= "drp-user-text" title="Email" >#: Email# <i class= "fa fas fa-envelope" style="font-size:12px" ></i></span > #'+
   ' } #'+
                    '#if(data.JobName != null) { # <br/> <span class="drp-user-text" title="Job Title">#:JobName#</span>  # } #'+
                    '#if(data.PersonNo != null){ #<span style = "float:right;" class= "drp-user-text"  title="Person No" >#: PersonNo# <i class= "fa fas fa-user" style="font-size:12px" ></i></span ># } #'+

                    '#if(data.DepartmentName != null) { # <br/> <span class="drp-user-text" title="Organization">#:DepartmentName#</span># } #'+
     '#if(data.SponsorshipNo != null) { # <span style = "float:right;" title = "Iqamah No" class= "drp-user-text" >#: SponsorshipNo#</span> # } #'+
                   '#if(data.PersonStatus != null) { #<br/> <span class="drp-user-text" title="Person Status">#:PersonStatus#</span> # } #'+
                       '</div > '+
                '</div >',
            dataSource: {
                //serverFiltering: true,
                transport: {
                    read: {
                        url: "/CHR/HRDirect/GetPersonListWithDetails?legalEntityId="+'@_userContext.LegalEntityId',
                    }
                },
            },
            filtering: onFiltering,
            height: 400
        });


        SetGlobalVariable();
        $(".toggle-nav").trigger("click");
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var jsmethod = '@ViewBag.JavascriptMethod';
        if (jsmethod !== 'null' && jsmethod !== null && jsmethod !== '') {
            var jsParam = '@ViewBag.JavascriptParam';
            window[jsmethod](jsParam);
        }
        else {
            if ('@Model.ActiveTab' == "Contract") {
            $('[href="#divcontract"]').tab('show');
            OnContractCreate();
        }
        else if ('@Model.ActiveTab' == "Assignment") {
            $('[href="#divassignment"]').tab('show');
            OnAssignmentCreate();
        }
        else if ('@Model.ActiveTab' == "PositionHierarDepartmentIdpartmentIdpartmentIdpartmentIdpartmentIdhy") {
            $('[href="#divposition"]').tab('show');
            OnPositionHierarchyCreate();
        }
        else {
            $('[href="#divperson"]').tab('show');
            OnPersonCreate();
        }
        if ('@Model.UserRoleCodes.Contains("HR")' == 'False') {
            OnManagePerson();
        }
        }
    });

    function onFiltering(e) {
        debugger;
        var filterValue = e.filter != undefined ? e.filter.value : "";
        e.preventDefault();

        this.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "PersonFullName",
                    operator: "contains",
                    value: filterValue
                },
                {
                    field: "Email",
                    operator: "contains",
                    value: filterValue
                },
                {
                    field: "JobName",
                    operator: "contains",
                    value: filterValue
                },
                {
                    field: "DepartmentName",
                    operator: "contains",
                    value: filterValue
                },
                {
                    field: "GradeName",
                    operator: "contains",
                    value: filterValue
                },
                {
                    field: "PersonNo",
                    operator: "contains",
                    value: filterValue
                },
                {
                    field: "SponsorshipNo",
                    operator: "contains",
                    value: filterValue
                },
                {
                    field: "PersonStatus",
                    operator: "contains",
                    value: filterValue
                },
            ]
        });
    }

    function SetGlobalVariable() {
         $('#GlobalHRDirectUserId').val('@Model.UserId');
        $('#GlobalHRDirectPersonId').val('@Model.PersonId');
        $('#GlobalHRDirectPositionId').val('@Model.PositionId');
        $('#GlobalHRDirectDepartmentId').val('@Model.DepartmentId');
        $('#GlobalHRDirectJobId').val('@Model.JobId');
    }
    function highlight(element) {
        if (buttonClicked != null) {
            buttonClicked.style.background = "#cdced0";
            buttonClicked.style.color = "#606762";
        }
        buttonClicked = element;
        buttonClicked.style.background = "#63BBDC";
        //buttonClicked.style.background = "#c8aa4d";
        buttonClicked.style.color = "#606762";
    }

    function Onchange(e) {
       // var personid = this.value();
       //// alert(personid);
       // var portalId = $('#GlobalPortalId').val();
       // var customurl = encodeURIComponent('personId=' + personid);
       // var url = '/Cms/Page?pageName=HRDirectHomePage&portalId=' + portalId + '&customUrl=' + customurl;
       // $(".toggle-nav").trigger("click");
       // LoadCmsPartialView(url, 'Custom');

        var portalId = $('#GlobalPortalId').val();
        $('#GlobalHRDirectPersonId').val(this.value());
        var customurl = encodeURIComponent('personId=' + this.value());
       // window.location.href = window.location.href;
        //var url = '/Cms/Page?pageName=ManagePerson&portalId=' + portalId;;
        var url = "/CHR/HRDirect/HomePage?personId=" + this.value() +"&jsMethod=@ViewBag.JavascriptMethod&jsParam=@ViewBag.JavascriptParam";
        //LoadCmsPartialView(url, 'Custom');
        LoadPartailView1(url, 'cms-content');
    }

    function CreateNewPerson() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        var portalId = $('#GlobalPortalId').val();
        var customurl = encodeURIComponent('DataAction=' + '@DataActionEnum.Create');
        var url = '/Cms/Page?lo=Div&cbm=OnAfterPersonCreate&pageName=HRDirectHomePage&portalId=' + portalId + '&customUrl=' + customurl;
        $(".toggle-nav").trigger("click");
        LoadCmsPartialView(url, 'Custom', false, null, null, 'Create Person', null, null, $('#inbox-content-div'), null);
        //LoadCmsPartialView(url, 'Note', false, null, null, 'Create Person', null, null, $('#inbox-content-div'), null);
    }

    function OnPersonCreate(e) {

        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        if ('@Model.PersonId' == '') {
            var portalId = $('#GlobalPortalId').val();
            var url = '/Cms/Page?lo=Div&cbm=OnAfterPersonCreate&source=Create&dataAction=Create&pageName=Person&portalId=' + portalId ;
           // document.getElementById('iframe_person').src = url;
            LoadCmsPartialView(url, 'Note', false, null, null, 'Create Person', null, null, $('#inbox-content-div'), null);
            //LoadCmsPartialView(url, 'Note', false, 1048, 600, 'Create Person', '', '', $('#personcreate'));
            return false;
        }
        else {
            var portalId = $('#GlobalPortalId').val();
            var roudfs = encodeURIComponent('UserId=true');
            var url = '/Cms/Page?lo=Div&cbm=OnAfterPersonCreate&source=View&dataAction=View&pageName=Person&portalId=' + portalId + '&recordId=' + '@Model.NoteId' + '&roudfs=' + roudfs;
            //document.getElementById('iframe_person').src = url;
            LoadCmsPartialView(url, 'Note', false, null, null, 'Manage Person', null, null, $('#inbox-content-div'), null);
            return false;
        }
    }
    function OnAfterPersonCreate(note) {
        var portalId = $('#GlobalPortalId').val();
        $('#GlobalHRDirectPersonId').val(note.UdfNoteTableId);
        var customurl = encodeURIComponent('personId=' + note.UdfNoteTableId);
       // var url = '/Cms/Page?lo=Div&pageName=HRDirectHomePage&portalId=' + portalId + '&customUrl=' + customurl;
        var url = '/Cms/Page?pageName=ManagePerson&portalId=' + portalId;
        $(".toggle-nav").trigger("click");
       LoadCmsPartialView(url, 'Custom');
    }
    function OnAssignmentCreate() {
      //

        if ('@Model.PersonId' != '') {
            var roudfs = encodeURIComponent('EmployeeId=true');
            if ('@Model.AssignmentId' == '' || '@Model.AssignmentId' == null) {
                var portalId = $('#GlobalPortalId').val();
                var udfs = encodeURIComponent('EmployeeId=' + '@Model.PersonId');

                var url = '/Cms/Page?lo=Iframe&cbm=OnAfterAssignmentCreate&source=Create&dataAction=Create&pageName=Assignment&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;
                document.getElementById('iframe_assignment').src = url;
                return false;
            }
            else {
                 var portalId = $('#GlobalPortalId').val();

                var url = '/Cms/Page?lo=Iframe&cbm=OnAfterAssignmentCreate&source=View&dataAction=View&pageName=Assignment&portalId=' + portalId + '&recordId=' + '@Model.NoteAssignmentId' + '&roudfs=' + roudfs;
            document.getElementById('iframe_assignment').src = url;
            return false;
            }

        }
        else {
            document.getElementById('assignmentcreate').innerHTML = "@Resource["PleaseCreatePerson"]";
            return false;
        }

    }
    function OnAfterAssignmentCreate(note) {
        var portalId = $('#GlobalPortalId').val();
        var customurl = encodeURIComponent('personId=' + '@Model.PersonId' + '&postitionid=' + note.UdfNoteTableId + '&tab=Assignment');
        var url = '/Cms/Page?pageName=ManageAssignment&portalId=' + portalId;// + '&customUrl=' + customurl;
        $(".toggle-nav").trigger("click");
        LoadCmsPartialView(url, 'Custom');
    }

    function OnContractCreate() {

        if ('@Model.PersonId' != '') {
            var roudfs = encodeURIComponent('EmployeeId=true');
            if ('@Model.ContractId' == '' || '@Model.ContractId' == null) {
                var portalId = $('#GlobalPortalId').val();
                var udfs = encodeURIComponent('EmployeeId=' + '@Model.PersonId');

                var url = '/Cms/Page?lo=Iframe&cbm=OnAfterContractCreate&source=Create&dataAction=Create&pageName=Contract&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;
                document.getElementById('iframe_contract').src = url;
                return false;
            }
            else {
                var portalId = $('#GlobalPortalId').val();
                @*var udfs = encodeURIComponent('EmployeeId=' + '@Model.PersonId');*@
                var url = '/Cms/Page?lo=Iframe&cbm=OnAfterContractCreate&source=View&dataAction=View&pageName=Contract&portalId=' + portalId + '&recordId=' + '@Model.NoteContractId' + '&roudfs=' + roudfs;
                document.getElementById('iframe_contract').src = url;
                return false;
            }

        }
        else {
            document.getElementById('contractcreate').innerHTML = "@Resource["PleaseCreatePerson"]";
            return false;
        }

    }
    function OnAfterContractCreate(note) {
                         var portalId = $('#GlobalPortalId').val();
        var customurl = encodeURIComponent('personId=' + '@Model.PersonId' + '&tab=Contract');
        var url = '/Cms/Page?pageName=ManageContract&portalId=' + portalId;//+ '&customUrl=' + customurl;
        $(".toggle-nav").trigger("click");
        LoadCmsPartialView(url, 'Custom');

    }
    function OnPositionHierarchyCreate() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        if ('@Model.PositionId' != '') {
            var portalId = $('#GlobalPortalId').val();
            var roudfs = encodeURIComponent('PositionId=true&HierarchyId=true');
            if ('@Model.PositionHierarchyId' == '' || '@Model.PositionHierarchyId' == null) {

                var udfs = encodeURIComponent('PositionId=' + '@Model.PositionId' +'&HierarchyId=' + '@Model.HierarchyId');

                var url = '/Cms/Page?lo=Div&cbm=OnAfterPHCreate&source=Create&dataAction=Create&pageName=PositionHierarchy&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;
               // document.getElementById('iframe_position').src = url;
                LoadCmsPartialView(url, 'Note', false, null, null, 'Manage Position Hierarchy', null, null, $('#inbox-content-div'), null);
            }
            else {
                var url = '/Cms/Page?lo=Div&cbm=OnAfterPHCreate&source=View&dataAction=View&pageName=PositionHierarchy&portalId=' + portalId + '&recordId=' + '@Model.NotePositionHierarchyId' + '&roudfs=' + roudfs;
                //document.getElementById('iframe_position').src = url;
                LoadCmsPartialView(url, 'Note', false, null, null, 'Manage Position Hierarchy', null, null, $('#inbox-content-div'), null);
            }
        }
        else {
            document.getElementById('inbox-content-div').innerHTML = "@Resource["PleaseCreateAssignment"]";
             // document.getElementById('positioncreate').innerHTML = "@Resource["PleaseCreateAssignment"]";
        }
    }

    function OnAfterPHCreate(note) {
        var portalId = $('#GlobalPortalId').val();
        var customurl = encodeURIComponent('personId=' + '@Model.PersonId' + '&tab=PositionHierarchy');
        var url = '/Cms/Page?pageName=ManagePositionHierarchy&portalId=' + portalId;//+ '&customUrl=' + customurl;
        $(".toggle-nav").trigger("click");
        LoadCmsPartialView(url, 'Custom');

    }

    function OnApprovalHierarchyCreate() {
        $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        if ('@Model.UserId' != '') {
            var url = "/cms/UserHierarchy/Index?userid=" + '@Model.UserId' + '&layout=HR';
            LoadPartailView(url, $('#inbox-content-div'));

        }
        else {
            document.getElementById('inbox-content-div').innerHTML = "@Resource["PleaseCreateUserforthisPerson"]";
        }
    }
    function OnTeamInfoCreate() {
        if ('@Model.UserId' != '') {
            LoadPartailView('@Url.Action("Team", "HRDirect", new { @area = "CHR" , userid = Model.UserId })', $('#teaminfocreate'));

        }
        else {
            document.getElementById('teaminfocreate').innerHTML = "@Resource["PleaseCreateUserforthisPerson"]";
        }
        return false;
    }
    function OnSalaryInfoCreate() {
          $("#manageperson-div").hide();
        $("#inbox-content-div").show();
        @*LoadPartailView('@Url.Action("ManageBenefits", "HRDirect", new { @area = "CHR" })', $('#inbox-content-div'));*@
        if ('@Model.PersonId' != '') {
            var portalId = $('#GlobalPortalId').val();
            if ('@Model.SalaryInfoId' == '' || '@Model.SalaryInfoId' == null) {
                url = "/pay/SalaryInfo/Create?layout=PartialView&personId="+'@Model.PersonId';
                LoadPartailView(url, $('#inbox-content-div'));
            }
            else {
                url = "/pay/SalaryInfo/Create?layout=PartialView&salaryInfoId=" + '@Model.SalaryInfoId' ;
                LoadPartailView(url, $('#inbox-content-div'));

            }

        }
        else {
            document.getElementById('inbox-content-div').innerHTML = "@Resource["PleaseCreatePerson"]";
        }
        return false;
    }
</script>




<div class="row">

    <div class="col-12">
        <div class="row">
            <div class="col-12" id="header">
                @if (Model.UserRoleCodes.Contains("HR"))
                {
                    <div id="switch" class="col-12 pl-0 pb-3 pt-3">
                        @*@(Html.Kendo().DropDownListFor(x=>x.PersonId)
                                    .OptionLabel("---Select Employee---")
                                    .Filter(FilterType.Contains)
                                    .DataTextField("PersonFullName")
                                    .DataValueField("PersonId")
                                    .Height(400).Events(e=>e.Change("Onchange"))
                                    .TemplateId("drp-person-template")
                                    //.ValueTemplateId("drp-user-value-template")
                                    .HtmlAttributes(new { @class ="drp-user" ,@id="employeeid",@style= "width: 100%;max-width:750px;" })
                                    .DataSource(source =>
                                    {

                                        source.Read(read =>
                                        {
                                            read.Action("GetPersonListWithDetails", "HRDirect", new { @area = "CHR",legalEntityId=_userContext.LegalEntityId});
                                        });

                                    })
                                     .Events(events => events.Filtering(
                        @<text>
                            function(e) {
                               var filterValue = e.filter != undefined ? e.filter.value : "";
                                    e.preventDefault();

                                  this.dataSource.filter({
                                    logic: "or",
                                    filters: [
                                      {
                                        field: "PersonFullName",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                      {
                                        field: "Email",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                     {
                                        field: "JobName",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                        {
                                        field: "DepartmentName",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                        {
                                        field: "GradeName",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                        {
                                        field: "PersonNo",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                        {
                                        field: "SponsorshipNo",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                         {
                                        field: "PersonStatus",
                                        operator: "contains",
                                        value: filterValue
                                      },

                                    ]
                                  });
                            }
                            </text>
                            ))
                                    )*@

                        <input asp-for="PersonId" id="PersonId" class="drp-user" style="width:100%;max-width:750px;"/>

                        <i class="fas fa-user-plus" style="margin-left:8px; margin-bottom:-12px;  padding: 8px; height: 36px; width: 36px; border-radius: 50%; cursor: pointer; background-color:rgb(99 187 220); color: black;" onclick="CreateNewPerson(); highlight(this)" title="@Resource["CreatePerson"]"></i>


                    </div>

                }
                <div id="intro" class="row intro-panel-body no-gutters p-2 mb-2">
                    <div class="col-2">
                        <img class="avatar-myProfile" src="/cms/Document/GetImageMongo?id=@Model.PhotoId" onerror='OnPhotoError(this);' />
                    </div>
                    <div class="col-10 row">
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["PersonFullName"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.PersonFullName
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["DepartmentName"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.DepartmentName
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["JobName"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.JobName
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["PositionName"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.PositionName
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["LocationName"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.LocationName
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["DateofJoin"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.DateOfJoin
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["AssignmentStatus"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.AssignmentStatusName
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["PersonStatus"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.PersonStatus
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["UserStatus"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.UserStatus
                            </div>
                        </div>
                        <div class="col-6 row intro-section">
                            <div class="col-3 intro-label">
                                @Resource["GradeName"]
                            </div>
                            <div class="col-9 intro-display">
                                @Model.GradeName
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12" id="inbox-content-div">

            </div>
            <div class="col-12" id="manageperson-div" style="display:none">
                <div class="row container col-12">
                    @*<span class="scroller scroller-left"><i class="fa fal fa-chevron-left"></i></span>
                        <div class="scroller scroller-right"><i class="fa fal fa-chevron-right"></i></div>*@
                    <div class="col-12 pt-3 wrapper" id="tabs">
                        <ul class="nav nav-tabs list nav-justified" role="tablist" id="myTab">
                            <li class="nav-item">
                                <a data-toggle="tab" id="hrPerson" href="#divperson" class="nav-link" role="tab" aria-controls="user" aria-selected="true" style="text-align:center;">
                                    @*<h6 onclick="OnTabHeaderClick(this, 'person')"><i class="fas fa-user"></i>&nbsp;Person&nbsp;</h6>*@
                                    <h6 onclick="OnPersonCreate()">&nbsp;@Resource["Person"]&nbsp;</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" id="hrcontract" href="#divcontract" class="nav-link" role="tab" aria-controls="user" aria-selected="true" style="text-align:center;">
                                    @*<h6 onclick="OnTabHeaderClick(this, 'assignment')"><i class="fas fa-user"></i>&nbsp;Assignment&nbsp;</h6>*@
                                    <h6 onclick="OnContractCreate()">&nbsp;@Resource["Contract"]&nbsp;</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" id="hrAssignment" href="#divassignment" class="nav-link" role="tab" aria-controls="user" aria-selected="true" style="text-align:center;">
                                    @*<h6 onclick="OnTabHeaderClick(this, 'assignment')"><i class="fas fa-user"></i>&nbsp;Assignment&nbsp;</h6>*@
                                    <h6 onclick="OnAssignmentCreate()">&nbsp;@Resource["Assignment"]&nbsp;</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" id="hrPositionHierarchy" href="#divposition" class="nav-link" role="tab" aria-controls="user" aria-selected="true" style="text-align:center;">
                                    <h6 onclick="OnPositionHierarchyCreate()">&nbsp;@Resource["PositionHierarchy"]&nbsp;</h6>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="tab" id="hrApprovalHierarchy" href="#divapproval" class="nav-link" role="tab" aria-controls="user" aria-selected="true" style="text-align:center;">
                                    <h6 onclick="OnApprovalHierarchyCreate()">&nbsp;@Resource["ApprovalHierarchy"]&nbsp;</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" id="hrSalaryInfo" href="#divsalaryinfo" class="nav-link" role="tab" aria-controls="user" aria-selected="true" style="text-align:center;">
                                    <h6 onclick="OnSalaryInfoCreate()">@*<i class="fas fa-user"></i>*@&nbsp;@Resource["SalaryInfo"]&nbsp;</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" id="hrTeamInfo" href="#divteaminfo" class="nav-link" role="tab" aria-controls="user" aria-selected="true" style="text-align:center;">
                                    <h6 onclick="OnTeamInfoCreate()">&nbsp;@Resource["TeamInfo"]&nbsp;</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" style="width:100%;border-left: 1px solid rgb(222, 226, 230);border-right: 1px solid rgb(222, 226, 230);border-bottom: 1px solid rgb(222, 226, 230);">
                        <div id="divperson" class="tab-pane  in" role="tabpanel" aria-labelledby="divperson-tab">
                            @*<h4>@Resource["Person"]</h4>*@
                            @*<iframe id="iframe_person" src="/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&pageName=Person&portalId=8edc86b3-9934-46e3-95de-d76c816404b4" style="padding:10px;width:1048px;height:90vh;border:none"></iframe>*@
                            <div id="personcreate" style="padding:10px;"></div>
                            @*<div class="row" style="width:1000px">
                                    <iframe id="iframe_person" style="padding:10px;width:1273px;height:90vh;border:none" scrolling="yes"></iframe>
                                </div>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" hr-pad-top-bot-10" id="adhociframe_person" style="background-color:#fff;">
                                        <iframe name='iframe_person' id="iframe_person" style='width:100%;min-height:1000px;' frameBorder='0'></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divcontract" class="tab-pane" role="tabpanel" aria-labelledby="divcontract-tab">
                            @*<h4>@Resource["Contract"]</h4>*@
                            <div id="contractcreate" style="padding:10px;"></div>
                            @*<iframe id="iframe_contract" style="padding:10px;width:1273px;height:90vh;border:none"></iframe>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" hr-pad-top-bot-10" id="adhociframe_contract" style="background-color:#fff;">
                                        <iframe name='iframe_contract' id="iframe_contract" style='width:100%;min-height:1000px;' frameBorder='0'></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="divassignment" class="tab-pane" role="tabpanel" aria-labelledby="divassignment-tab">
                            @*<h4>@Resource["Assignment"]</h4>*@
                            <div id="assignmentcreate" style="padding:10px;"></div>
                            @*<iframe id="iframe_assignment" style="padding:10px;width:1273px;height:90vh;border:none"></iframe>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" hr-pad-top-bot-10" id="adhociframe_assignment" style="background-color:#fff;">
                                        <iframe name='iframe_assignment' id="iframe_assignment" style='width:100%;min-height:1000px;' frameBorder='0'></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divposition" class="tab-pane" role="tabpanel" aria-labelledby="divposition-tab">
                            @*<h4>@Resource["PositionHierarchy"]</h4>*@
                            <div id="positioncreate" style="padding:10px;"></div>
                            @*<iframe id="iframe_position" style="padding:10px;width:1273px;height:90vh;border:none"></iframe>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" hr-pad-top-bot-10" id="adhociframe_position" style="background-color:#fff;">
                                        <iframe name='iframe_position' id="iframe_position" style='width:100%;min-height:1000px;' frameBorder='0'></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divapproval" class="tab-pane" role="tabpanel" aria-labelledby="divapproval-tab">
                            <h4>@Resource["ApprovalHierarchy"]</h4>
                            @*<div id="approvalcreate" style="padding:10px;width:1273px;height:90vh;border:none"></div>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" hr-pad-top-bot-10" id="adhocapprovalcreate" style="background-color:#fff;">
                                        <div id="approvalcreate" style="padding:10px;width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divsalaryinfo" class="tab-pane" role="tabpanel" aria-labelledby="divsalaryinfo-tab">
                            @*<h4>Salary Info</h4>*@
                            @*<div id="salaryinfocreate" style="padding:10px;"></div>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" hr-pad-top-bot-10" id="adhocsalaryinfocreate" style="background-color:#fff;">
                                        <div id="salaryinfocreate" style="padding:10px;width:100%"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="divteaminfo" class="tab-pane" role="tabpanel" aria-labelledby="divteaminfo-tab">
                            @*<h4>@Resource["TeamInfo"]</h4>*@
                            @*<div id="teaminfocreate" style="padding:10px;width:1273px;height:90vh;border:none"></div>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" hr-pad-top-bot-10" id="adhocteaminfocreate" style="background-color:#fff;">
                                        <div id="teaminfocreate" style="padding:10px;width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/x-kendo-tmpl" id="drp-person-template">
        <div class="row no-gutter pb-1 pt-1">
                      <div @*class="col-2"*@ style="width: 80px;">
                      #if(data.PhotoId!=null)
                          {#<img class="avatar-drp-profile" src="/Cms/document/getimagemongo?id=#:data.PhotoId#"  /> #}
                      else
                          {#<img class="avatar-drp-profile" style="background-color:gray;" src="/images/profile.jpg" />#}#
                     </div>

                        <div style="width:460px;">
                          <span>#:PersonFullName#</span>


                    #if (data.GradeName!=null) {#  <br/><span class="drp-user-text" title="Grade">#:GradeName#</span> # } #
    #if (data.Email!=null) {# <span style="float:right;" class="drp-user-text" title="Email">#:Email# <i class='fa fas fa-envelope' style='font-size:12px'></i></span> # } #


                    #if (data.JobName!=null) {# <br/> <span class="drp-user-text" title="Job Title">#:JobName#</span>  # } #
                    #if (data.PersonNo!=null){#<span style="float:right;" class="drp-user-text"  title="Person No">#:PersonNo# <i class='fa fas fa-user' style='font-size:12px'></i></span># } #

                    #if (data.DepartmentName!=null) {# <br/> <span class="drp-user-text" title="Organization">#:DepartmentName#</span># } #
     #if (data.SponsorshipNo!=null) {# <span style="float:right;" title="Iqamah No" class="drp-user-text">#:SponsorshipNo#</span> # } #


                   #if (data.PersonStatus!=null) {#<br/> <span class="drp-user-text" title="Person Status">#:PersonStatus#</span> # } #

                       </div>

                </div>
</script>





<script type="text/x-kendo-tmpl" id="drp-user-value-template">
    <img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#"  />
    #if(data.PhotoId!=null){#
            <img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#" /> #}
            else{#
            <img class="avatar-myProfile" style="background-color:gray;" src="/images/profile.jpg" />#}#
            #if (data.Name!=null) {#
            <span style="margin-left:15px;">#:Name#</span> # } #
</script>

<script>




    function OnAfterNoteCreate() {
        //  alert("Note Created");
    }

    function OnAfterServiceCreate() {
        //  alert("Service Created");
    }

    function OnAfterTaskCreate() {
        // alert("Task Created");
    }

</script>