@inject CMS.Common.IUserContext _userContext
@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/floating-labels.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-splitter.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Rec/recruitment.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <link href="~/Themes/HR/css/elegant-icons-style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Themes/HR/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Themes/HR/css/style-responsive.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Themes/HR/css/line-icons.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/kendo/dist/css/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css' />


    <script src="~/Themes/HR/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery-ajax-unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/kendo/dist/js/jszip.min.js" asp-append-version="true"></script>

    <script src="~/lib/kendo/dist/js/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/lib/kendo/dist/js/kendo.aspnetmvc.min.js" asp-append-version="true"></script>
    <script src="~/lib/kendo/dist/js/cultures/kendo.culture.en-US.min.js" asp-append-version="true"></script>
    <script>
        /*      kendo.culture("en-US");*/
         kendo.culture("@System.Globalization.CultureInfo.CurrentCulture.ToString()");
        $.ajaxSetup({
            cache: false
        });
        $.ajaxSetup({
            beforeSend: function (xhr, options) {
                if (options.type.toUpperCase() == "POST") {
                    xhr.setRequestHeader("RequestVerificationToken", $('input:hidden[name="__RequestVerificationToken"]').val());
                }

            }
        });
    </script>
    <script src="~/lib/formio/js/formio.full.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/js/cubejs-client-core.umd.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <link href="~/js/dm-uploader/jquery.dm-uploader.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/dm-uploader/jquery.dm-uploader.js" asp-append-version="true"></script>
    <script src="~/js/dm-uploader/upload-config.js" asp-append-version="true"></script>
    <script src="~/js/dm-uploader/upload-ui.js" asp-append-version="true"></script>

    <script>
        @{
            string CubeJSKey = Configuration.GetSection("CubeJSSettings")["CubeJSKey"];
            string CubeJSBaseUrl = Configuration.GetSection("CubeJSSettings")["CubeJSBaseUrl"];
        }
        //Chart.defaults.plugins.legend.position = "bottom";
        const COLORS_SERIES = ['#FF6492', '#141446', '#7A77FF'];
        const commonOptions = {
            maintainAspectRatio: false,
        };
        const cubejsApi = cubejs(
            '@CubeJSKey',
            { apiUrl: '@CubeJSBaseUrl'.concat('cubejs-api/v1') } // !!!!! convert to https !!!!!!
        );
        function toTitleCase(str) {
            var arr = str.split('_');
            if (arr.length > 1) {
                str = arr[1].replaceAll('_', ' ');
            }
            else {
                str = str.replaceAll('_', ' ');
            }
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }
    </script>

    @*<script src="~/lib/intro.js/intro.min.js"></script>
        <script src="~/lib/intro.js/intro.js"></script>
        <link href="~/lib/intro.js/introjs-rtl.css" rel="stylesheet" />
        <link href="~/lib/intro.js/introjs-rtl.min.css" rel="stylesheet" />
        <link href="~/lib/intro.js/introjs.css" rel="stylesheet" />
        <link href="~/lib/intro.js/introjs.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <script src="~/js/jquery-splitter.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/duration-picker/dist/jquery-duration-picker.min.css" asp-append-version="true" />
    <script src="~/lib/duration-picker/dist/jquery-duration-picker.min.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/lib/popover/css/jquery.webui-popover.min.css" asp-append-version="true" />
    <script src="~/lib/popover/js/jquery.webui-popover.min.js" asp-append-version="true"></script>

    @*opensource*@
    <script src="~/js/ag-grid/ag-grid-community.min.js" asp-append-version="true"></script>
    <script src="~/js/ag-grid/ag-grid-community.min.noStyle.js" asp-append-version="true"></script>
    <link href="~/js/ag-grid/ag-grid.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/ag-grid/ag-theme-alpine.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/ag-grid/ag-grid.js" asp-append-version="true"></script>
    <style>

        .required {
            color: black;
        }

        .ag-theme-alpine .ag-header {
            background-color: #006699 !important;
            color: white !important;
        }

        .ag-header-cell-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: white;
        }

        .ag-theme-alpine .ag-icon-menu::before {
            content: "\f11d";
            color: white;
        }

        .ag-theme-alpine .ag-icon-filter::before {
            content: "\f114";
            color: white;
        }

        .ag-theme-alpine .ag-icon-desc::before {
            content: "\f10f";
            color: white;
        }

        .ag-theme-alpine .ag-icon-asc::before {
            content: "\f103";
            color: white;
        }

        .ag-theme-alpine .ag-row-odd {
            background-color: var(--ag-odd-row-background-color, #e6f7ff);
        }

        .ag-theme-alpine .ag-row {
            border-bottom-style: none;
        }

        .ag-row:hover {
            background-color: #80d4ff;
        }
    </style>
    @*opensource*@
    <style>
        #content-wrapper {
            background-color: #fff !important;
        }
    </style>
    <script>
        $.ajaxSetup({
            cache: false
        });
          kendo.culture("@System.Globalization.CultureInfo.CurrentCulture.ToString()");
        $.validator.setDefaults({
            ignore: [],
        });

        //var apiPath = "https://webapidev.aitalkx.com";

        var onAjaxBegin = function () {
            // alert("onBegin");
        };

        var onAjaxComplete = function () {

        };
        var onAjaxFailed = function (context, res) {
        };
        var showError = function (error) {
            $("#validation-summary").html(error);
            $("#validation-summary").css("display", "block")

        }
        function ShowNotification(msg, type) {
            var popupNotification = $("#popupNotification").kendoNotification({
                position: {
                    pinned: true,
                    top: 100,
                    right: 30
                }
            }).data("kendoNotification");
            popupNotification.show(msg, type);
        }

    </script>
    <script src="~/lib/formio/js/formio.full.js" asp-append-version="true"></script>
</head>

<body id="page-top" class="k-content">
    <div id="page-style-div">
        <div id="side-nav" class="sidenav">
            <h1 class="cms-panel-header-name">Style</h1>
            <a href="javascript:void(0)" class="closebtn" onclick="CloseSideNav()" title="Close">&times;</a>
            <hr />
            <div id="side-nav-content" class="row no-gutters slidenav-flow">

            </div>
        </div>
        <div id="side-nav-2" class="sidenav">
            <h1 class="cms-panel-header-name">Style</h1>
            <a href="javascript:void(0)" class="closebtn" onclick="CloseSideNav2()" title="Close">&times;</a>
            <hr />
            <div id="side-nav-content-2" class="row no-gutters slidenav-flow">

            </div>
        </div>
    </div>
    <div id="overlay" class=""></div>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <span id="popupNotification"></span>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-dark topbar mb-4 static-top" style="background-color:#23282D;margin-bottom:0px !important;">
                    <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                        <button class="btn btn-danger" type="submit">Go Back To Login Page</button>
                    </form>
                    <!--0073AA Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" data-target="#navbarResponsive2">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                       aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>*@

                    <!-- Topbar Navbar -->
                    <div class="collapse navbar-collapse">

                    </div>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    @*<a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>*@

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Logout</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- Iframe Modal-->

    <div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="iframeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="iframeModalLabel">Title</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="loading-overlay">
                        <p class="loading-spinner">
                            <span class="loading-icon fa fa-spinner fa-spin fa-2x"></span>
                            <span class="loading-text"></span>
                        </p>
                    </div>
                    <div id="iframeDiv"></div>
                </div>

            </div>
        </div>
    </div>

    <!-- Iframe Window-->
    @(Html.Kendo().Window().Name("kiframepopupwindow")
        .Title("Title")
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")
.Actions(actions => actions.Maximize().Close())

.Width(200)
.Height(350)
.Events(e => e.Activate("OnIframeActivate").Open("OnIframeOpen").Close("OnIframeClose").Refresh("OnIframeRefresh").Deactivate("OnIframeDeactivate"))
    )
    @(Html.Kendo().Window().Name("kiframepopupwindow2")
        .Title("Window_TitlePopupWindow")
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")

        .Width(200)
.Height(350)
.Actions(actions => actions.Maximize().Close())
.Events(e => e.Activate("OnIframeActivate2").Open("OnIframeOpen2").Close("OnIframeClose2").Refresh("OnIframeRefresh2").Deactivate("OnIframeDeactivate2"))
    )
    @*<environment names="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        </environment>
        <environment names="Staging,Production">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
            <script src="~/js/popper.js"></script>
        </environment>*@


    @*<script src="~/js/popper.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>

    @*<script src="~/js/layout.js"></script>*@

    <script src="~/lib/loading-overlay/loading-overlay.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-context-menu/dist/jquery.ui.position.min.js" asp-append-version="true"></script>





    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <script src="~/js/common.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
    <ejs-scripts></ejs-scripts>
    <script type="text/javascript">
        var iframeOpenUrl = "";
        function OnLogout() {
            document.getElementById("logout").submit();
        }
        function OpenChangePassowrd() {

             var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("changepassword", "Account", new { @area = "" })';
        win.OpenWindow({ Title: 'Change Password', Width: 450, Height: 400 });
        return false;
        }
        function OpenBreResultViewDetails() {
            OpenIframeModal('/bre/BreResultViewDetails', 'View Details', 450, 700);
        }
    function OpenMyProfile() {
            var myId = '@_userContext.UserId';
            console.log(myId);

          var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("MyProfile", "User", new { @area = "" })?id=' + myId;
        win.OpenWindow({ Title: 'My Profile', Width: 450, Height: 500 });
        return false;
        }
        function OpenIframeModal(url, title, width, height) {

            ShowLoader($('.modal-body'));
            var iframe = document.createElement('iframe');
            iframe.setAttribute('url', '');
            iframe.setAttribute('frameborder', '0');
            iframe.setAttribute('scrolling', 'no');
            //iframe.setAttribute('width', width);
            //iframe.setAttribute('height', height);
            iframe.onload = function () {
                var h = iframe.contentWindow.document.body.scrollHeight;
                var w = iframe.contentWindow.document.body.scrollWidth;
                iframe.style.height = h + 'px';
                iframe.style.width = w + 'px';
                var mw = eval(w + 30);
                if (width > mw) {
                    mw = width;
                }
                if (height > h) {
                    h = height;
                }
                $('.modal-dialog').css({
                    width: mw + 'px', //probably not needed
                    height: h + 'px', //probably not needed
                    'max-height': '90%'
                });
                HideLoader($('.modal-body'));
            };
            iframe.src = url;
            document.getElementById('iframeDiv').innerHTML = '';
            document.getElementById('iframeDiv').appendChild(iframe);
            //$('#modalIframe').attr('src', '');
            $('#iframeModal').modal({ show: true });
            $('#iframeModal').on('shown.bs.modal', function () {

                $('#modalIframe').attr('src', url);

            })
        };

        function CloseIframeModal(reloadParent) {
            $('#iframeModal').modal('hide');
            if (reloadParent=="True") {
                window.location.href = window.location.href;
            }
        }

        function ShowLoader(target) {
            // target.loadingOverlay();
            kendo.ui.progress(target, true);
        }
        function HideLoader(target) {
            //target.loadingOverlay('remove');
            kendo.ui.progress(target, false);
        }

        function ToggleLoader(target) {
            if (target.hasClass('loading')) {
                target.loadingOverlay('remove');
            } else {
                target.loadingOverlay();
            };
        }

        function OpenIframePopup(w, h, t) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            w = GetW(w);
            h = GetH(h);
            wnd.setOptions({
                width: w,
                height: $(window).height()-50,
                title: t
            });


            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                // 'border-bottom-style': 'none',
                //'color': 'rgb(193, 151, 42)'
            });
            wnd.wrapper.css({
                'position': 'absolute',
                'top': '0px',
                'right': '0px'
            });
            wnd.open();
        }

        function CloseIframePopup(reload) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            if (reload) {
                window.location.href = window.location.href.split('#')[0];
            }
            return false;
        }
        function GetW(w) {
            return $(window).width() > w ? w : $(window).width() - 100;
        }
        function GetH(h) {
            return $(window).height() > h ? h : $(window).height() - 100;
        }
        function OnIframeActivate(e) {
            e.preventDefault();
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            ActiveWindow = this;
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
        }
        function OnIframeOpen(e) {
            kendo.ui.progress(e.sender.element, true);
        }

        function OnIframeClose(e) {
            // alert()
            //try {
            //    var pop1 = window.parent.GetIframePopup();
            //    pop1.PopupClose();
            //    var url = window.location.href;
            //    if (url.includes('&documentId')) {
            //        window.location.href = url.split('&documentId')[0];
            //    }
            //} catch (x) {

            //}
        }
        function OnIframeRefresh(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnIframeDeactivate(e) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.content("");
        }

        function OnIframeClose2(e) {
            try {
                var pop2 = window.parent.GetIframePopup();
                pop2.PopupClose2();
            } catch (x) {

            }
        }
        function OpenIframePopup2(w, h, t) {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            wnd.setOptions({
                width: GetW(w),
                height: GetH(h),
                title: t
            });
            wnd.center().open();
            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                'border-bottom-style': 'none',
                'color': 'rgb(193, 151, 42)'
            });

        }
        function CloseIframePopup2() {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            return false;
        }
        function OnIframeActivate2(e) {
            e.preventDefault();
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            ActiveWindow = this;
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
        }
        function OnIframeOpen2(e) {
            kendo.ui.progress(e.sender.element, true);
        }
        function OnIframeRefresh2(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnIframeDeactivate2(e) {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            wnd.content("");
        }
        function GetIframePopup2() {
            var windowElement = $("#kiframepopupwindow2");
            var iframeDomElement = windowElement.children("iframe")[0];
            var iframeWindowObject = iframeDomElement.contentWindow;
            return iframeWindowObject;
        }

        function ShowLoader(target) {
            // target.loadingOverlay();
            kendo.ui.progress(target, true);
        }
        function HideLoader(target) {
            //target.loadingOverlay('remove');
            kendo.ui.progress(target, false);
        }

        function LoadSideNav(url, title, width, position) {
            if (width === null || width === undefined) {
                width = '400';
            }
            if (position === null || position === undefined) {
                position = 'R';
            }
            $('#side-nav').width(width + 'px');
            $('#side-nav').show("slide", { direction: "left" }, 1000);
            $("#overlay").addClass("overlay");
            LoadPartailView(url, $('#side-nav-content'));
        }

        function LoadSideNavWithData(url, title, model, width, position) {
            if (width === null || width === undefined) {
                width = '400';
            }
            if (position === null || position === undefined) {
                position = 'R';
            }
            $('#side-nav').width(width + 'px');
            $('#side-nav').show("slide", { direction: "left" }, 1000);
            $("#overlay").addClass("overlay");
            LoadPartailViewWithData(url, $('#side-nav-content'), model);
        }


        function CloseSideNav() {
            CloseSideNav2();
            $('#side-nav').width('0px');
            $("#overlay").removeClass("overlay");

        }
        function LoadSideNav2(url, title, width, position, startPosition) {
            if (width === null || width === undefined) {
                width = '400';
            }
            if (position === null || position === undefined) {
                position = 'R';
            }
            if (startPosition === null || startPosition === undefined) {
                startPosition = '400';
            }

            $('#side-nav-2').width(width + 'px');
            $('#side-nav-2').css('right',startPosition+1);
            $("#overlay").addClass("overlay");
            LoadPartailView(url, $('#side-nav-content-2'));
        }


        function CloseSideNav2() {
            $('#side-nav-2').width('-1px');
            $('#side-nav-2').css('border-left','0px solid silver');
           // $("#overlay").removeClass("overlay");
            //$('body').removeClass('fadeMe');
        }

        function LoadPartailView(url, container) {
            console.log(url);
            ShowLoader(container);
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {
                    container.html("");
                    container.html(data);
                    HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
        }

        function LoadPartailView1(url, loadcontainer, type) {
            console.log(url);
            var container = $('#' + loadcontainer);
            if (type === null || type === undefined || type === '') {
                type = 'GET';
            }
            ShowLoader(container);
            $.ajax({
                url: url,
                type: type,
                cache: false,
                success: function (data) {
                    container.html("");
                    container.html(data);
                    // HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
        }

        function LoadPartailViewWithData(url, container, model) {
            console.log(url);

            ShowLoader(container);
            $.ajax({
                url: url,
                type: 'POST',
                async: true,
                cache: false,
                contentType: 'application/json; charset=utf-8',
                dataType: "html",
                data: JSON.stringify(model),
                success: function (data) {
                    container.html("");
                    container.html(data);
                    HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
        }

        function OpenIframePopupCenter(w, h, t) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            w = GetW(w);
            h = GetH(h);
            wnd.setOptions({
                width: w,
                height: h,
                title: t
            });


            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                // 'border-bottom-style': 'none',
                //'color': 'rgb(193, 151, 42)'
            });
            //wnd.wrapper.css({
            //    'position': 'absolute',
            //    'top': '0px',
            //    'right': '0px'
            //});
            wnd.center().open();
        }
        function CloseIframePopupCenter(reload) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            if (reload) {
                window.location.href = window.location.href.split('#')[0];
            }
            return false;
        }
    </script>

    <script type="text/x-kendo-tmpl" id="drp-user-template">
          <div class="row no-gutter pb-1 pt-1">
              <div class="col-2">
              #if(data.PhotoId!=null)
                  {#<img class="avatar-drp-profile" src="/user/profilephoto?id=#:data.PhotoId#"  /> #}
              else
                  {#<img class="avatar-drp-profile" style="background-color:gray;" src="/images/profile.jpg" />#}#
             </div>
             <div class="col-10">
                <div class="col-12">
                  <span style="padding:5px;">#:Name#</span></div>
                <div class="col-12">
                  #if (data.Email!=null)
                      {#<span style="padding:5px;font-size:12px;">#:Email#</span>  # } #
                </div>
             </div>
        </div>
    </script>
    <script type="text/x-kendo-tmpl" id="drp-user-value-template">
        <img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#"  />
        #if(data.PhotoId!=null){#
                <img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#" /> #}
                else{#
                <img class="avatar-myProfile" style="background-color:gray;" src="/images/profile.jpg" />#}#
                #if (data.Name!=null) {#
                <span style="margin-left:15px;">#:Name#</span> # } #
    </script>
</body>
</html>