@{
    ViewData["Title"] = "Business Analytics";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}
@using Synergy.App.ViewModel;

<style>
    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .treeview .k-in {
        width: 100% !important;
    }
    /*Portal Start*/
    .sidenav {
        height: 100vh; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        border-left: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 92% !important;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }
    /*Portal End*/
</style>

<script>
   
</script>


<div class="splitter-container">
    <div class="left">
        @*@(Html.Kendo().TreeView()
            .Name("documentTypeTreeView").HtmlAttributes( new {@class="treeview"})
            .DataTextField("Name")
            .AutoBind(true)
            .TemplateId("ct-tv-template")
            .DataSource(dataSource => dataSource
                .Read(read => read
                    .Action("GetBusinessAnalyticsTreeList", "BusinessAnalytics", new { @area="Cms"})
                )
            )
        )*@

        <div id="treeview" class="demo treeview"></div>



        <script id="ct-tv-template" type="text/kendo-ui-template">
            <span data-id="#:item.id#" data-type="#:item.Type#" data-portal-name="#:item.Name#" data-parent-id="#:item.ParentId#" class="tree-menu1" data-level="#:item.Level#" style="margin-right:10px"><i class="fa fa-ellipsis-v"></i></span>
            <span style="width:100%">   #: item.DisplayName #</span>


        </script>


    </div>
    <div class="right pad-l-t-15" id="template-content">

    </div>
</div>
<div id="create-category-div">
    <div id="mySidenavPageCategory" class="sidenav">
        <h1 class="cms-panel-header-name" id="sidebarHeader">Create Dashboard</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavCategory()" title="Close">&times;</a>
        <hr />
        <div id="create-category" class="row no-gutters slidenav-flow">
        </div>
    </div>
</div>
<script>

    function refreshTreeview() {
        //$("#documentTypeTreeView").data("kendoTreeView").dataSource.read();
        var tree = $('#treeview').jstree(true);
        tree.refresh();
    }
    function closeNavCategory() {
        document.getElementById("mySidenavPageCategory").style.width = "0";
        $("#overlay").removeClass("overlay");
    }
    var splitter = $('.splitter-container').height(200).split({
        orientation: 'vertical',
        limit: 10,
        position: '20%', // if there is no percentage it interpret it as pixels
        onDrag: function (event) {
            console.log(splitter.position());
        }
    });


    function OpenIframeModal(url, title) {

         var win = GetMainWindow();
        win.iframeOpenUrl =   url;
        win.OpenWindow({ Title: title, Width: 450, Height: 1200 });
        return false;

    }
    function OnDelete(id) {


        kendo.confirm("Are you sure that you want to proceed?").then(function () {
            confirmDelete(id);
        }, function () {

        });

    }
     function confirmDelete(id) {


        $.ajax({

            url:'@Url.Action("DeleteNote", "NtsNote", new { @area= "Cms" })?Id=' + id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {

                ShowNotification("Deleted Successfully", "success");
                refreshTreeview();
                //$("#documentTypeTreeView").data("kendoTreeView").dataSource.read();

            }
        });


    }

    $('#treeview')
        .jstree({
            'core': {
                'data': function (node, cb) {
                    if (node.id === "#") {
                        $.ajax({
                            async: true,
                            type: "GET",
                            url: "/cms/BusinessAnalytics/GetBusinessAnalyticsTreeList",
                            //url: "/cms/template/GetNtsTemplateTreeList",
                            dataType: "json",
                            success: function (json) {
                                cb(json);
                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        });
                        //cb([{ "text": "Root", "id": "1", "children": true }]);
                    }
                    else {
                        $.ajax({
                            async: true,
                            type: "GET",
                            url: "/cms/BusinessAnalytics/GetBusinessAnalyticsTreeList?id=" + node.id,
                            dataType: "json",
                            success: function (json) {
                                cb(json);
                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        });
                    }
                }
            }
        });

    $(function () {
        $.contextMenu({
            selector: '.jstree-anchor',
            trigger: 'left',
            build: function ($trigger, e) {
                //var parentId = $trigger.data('id');
                //var parentType = $trigger.data('type');
                //var selectParentId = $trigger.data('parentId');

                var id = $trigger.attr('data_id');
                var type = $trigger.attr('data_type');
                var selectParentId = $trigger.attr('data_parentId');
                
                switch (type) {
                    case 'Root':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'add':
                                        LoadPartailView('@Url.Action("Dashboard", "BusinessAnalytics", new { @area = "Cms" })?dataAction=Create', $('#template-content'));
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "add": { name: "Create Dashboard", icon: "fas fa-chart-area" },
                            }
                        };
                    case 'DashboardMaster':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'add':
                                        //var prms = encodeURIComponent('parentNoteId=' + parentId);
                                        //var portalId = $('#GlobalPortalId').val();
                                        //var url = '/Cms/Page?source=Create&dataAction=Create&pageName=DashboardItem&portalId=' + portalId + '&prms=' + prms;
                                        //LoadCmsPartialView(url, "Note", false, 0, 0, '', '', false, $("#template-content"));
                                        LoadPartailView('@Url.Action("DashboardItem", "BusinessAnalytics", new { @area = "Cms" })?parentId=' + id +"&dataAction=Create", $('#template-content'));
                                        break;
                                    case 'edit':
                                        LoadPartailView('@Url.Action("Dashboard", "BusinessAnalytics", new { @area = "Cms" })?id=' + id +"&dataAction=Edit", $('#template-content'));
                                        break;
                                     case 'preview':
                                        LoadPartailView('@Url.Action("PreviewDashboard", "BusinessAnalytics", new { @area = "Cms" })?noteId=' + id, $('#template-content'));
                                        break;
                                    case 'delete':
                                        OnDelete(id);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "add": { name: "Create Dashboard Item", icon: "fas fa-chart-area" },
                                "edit": { name: "Edit Dashboard", icon: "fas fa-pencil" },
                                "preview": { name: "Preview Dashboard", icon: "fas fa-upload" },
                                "delete": { name: "Delete Dashboard", icon: "fas fa-trash" }
                            }
                        };
                    case 'DashboardItem':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        //var portalId = $('#GlobalPortalId').val();
                                        //var url = '/Cms/Page?source=Versioning&dataAction=Edit&pageName=DashboardItem&portalId=' + portalId + '&recordId=' + parentId;
                                        //LoadCmsPartialView(url, "Note", false, 0, 0, '', '', false, $("#template-content"));
                                        LoadPartailView('@Url.Action("DashboardItem", "BusinessAnalytics", new { @area = "Cms" })?id=' + id +"&dataAction=Edit", $('#template-content'));
                                        break;
                                    case 'delete':
                                        OnDelete(id);
                                        break;
                                    case 'layer':
                                        LoadPartailView('@Url.Action("MapLayerItem", "BusinessAnalytics", new { @area = "Cms" })?parentId=' + id +"&dataAction=Create", $('#template-content'));
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit Dashboard Item", icon: "fas fa-pencil" },
                                "delete": { name: "Delete Dashboard Item", icon: "fas fa-trash" },
                                "layer": { name: "Add Map Layer", icon: "fas fa-chart-area" }
                            }
                        };
                    case 'MAP_LAYER_ITEM':
                        return {
                            callback: function (key, options) {
                                switch (key) {                                    
                                    case 'edit':
                                        LoadPartailView('@Url.Action("MapLayerItem", "BusinessAnalytics", new { @area = "Cms" })?id=' + id +"&dataAction=Edit", $('#template-content'));
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit Map Layer", icon: "fas fa-pencil" }                                
                            }
                        };
                    default:
                        return {
                            callback: function (key, options) {
                                alert(id);
                                alert(type);
                            },
                            items: {

                            }
                        };
                }


            }
        });
    });

</script>

