@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Syncfusion.EJ2;
@*@model DashboardItemMasterViewModel*@
@{
    ViewData["Title"] = "Report Master";
    Layout = null;
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms1.cshtml";
}
<script>

    function AddWidget() {
        var url = '/Cms/BusinessAnalytics/ReportItem?parentId=@ViewBag.ParentId&dataAction=Create&layout=/Views/Shared/_PopupLayout.cshtml';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Add Widget', Width: 1000, Height: 650 });
        return false;
    }
    function EditWidget(id) {
        var url = '/Cms/BusinessAnalytics/ReportItem?id=' + id + '&dataAction=Edit';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Edit Widget', Width: 1000, Height: 650 });
        return false;
    }
    function OnDelete(id) {
        kendo.confirm("Are you sure that you want to proceed?").then(function () {
            confirmDelete(id);
        }, function () {

        });
    }
    function confirmDelete(id) {


        $.ajax({

            url:'@Url.Action("DeleteNote", "NtsNote", new { @area = "Cms" })?Id=' + id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {

                ShowNotification("Deleted Successfully", "success");
                window.location.reload();

            }
        });


    }
    var splitter = $('.splitter-container').height(200).split({
        orientation: 'vertical',
        limit: 10,
        position: '20%', // if there is no percentage it interpret it as pixels
        onDrag: function (event) {
            console.log(splitter.position());
        }
    });
    function loadChart(id, text, e) {        
        ShowLoader($('.splitter-container'));        
        LoadPartailView('@Url.Action("ReportItem", "BusinessAnalytics", new { @area = "Cms" })?id=' + id +"&dataAction=Edit", $('#Report-Item'));
        LoadPartailView('@Url.Action("GenerateSocialMediaReports", "BusinessAnalytics", new { @area = "Cms" })?id=' + id + '&subject='+text, $('#Report-preview'));
        $("#emptyDiv").show();
        HideLoader($('.splitter-container'));
        // return false;
    }

    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Cms/BusinessAnalytics/ReadReportItemListData",
            }
        },
    });

    $("#listview_keyword").kendoListView({
        dataSource: dataSource,
        template: kendo.template($("#ct-tv-template").html())
    });

</script>
<style>
    em {
        background-color: yellow;
    }

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .treeview .k-in {
        width: 100% !important;
    }
    /*Portal Start*/
    .sidenav {
        height: 100vh; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        border-left: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 92% !important;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }

    .k-listview {
        background: transparent;
    }
    /*Portal End*/
    .watchlist-menu {
        background: #f8f8f7;
        border-bottom: 1px solid #9e9e9e;
        width: 100%;
        padding: 6px;
    }

    #watchlist li:hover {
        background: #808080;
        cursor: pointer;
    }

    .active {
        background: #808080;
    }
   
</style>
<div class="splitter-container">
    <div class="left">
        <input type="button" class="btn btn-primary" value="New Report" style="width:100%" onclick="AddWidget()" />
        <ul id="watchlist" style="margin:0px;padding:0px">

            @*@(Html.Kendo().ListView<NoteViewModel>()
            .Name("listview_keyword")
            .TagName("div")
            .ClientTemplateId("ct-tv-template")
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("ReadReportItemListData", "BusinessAnalytics", new { Area = "cms" }))
                )
            .AutoBind(true)
            .HtmlAttributes(new { @class = "treeview" })
        )*@
            <div id="listview_keyword" class="treeview"></div>

        </ul>

        <script id="ct-tv-template" type="text/kendo-ui-template">
            @*<span data-id="#:Id#" data-text="#:NoteSubject#"  class="tree-menu1" style="margin-right:10px;margin-left:10px"><i class="fa fa-ellipsis-v"></i></span>*@
            <li class="watchlist-menu" onClick="loadChart('#=Id#','#=NoteSubject#',this)">
            <span style="width:100%">   #:NoteSubject #</span>
            </li>


        </script>



    </div>
    <div class="right" id="template-content">        
        <div id="emptyDiv" style="display:none">
            @(Html.Kendo().ExpansionPanel()
            .Name("ReportItem")
             .HtmlAttributes(new { @style = "width: 100%; ", })
            .Title("Report Item")
            .SubTitle("")
            .Expanded(false)
            .Content(@<div id="Report-Item">
                </div>)
            )
            @(Html.Kendo().ExpansionPanel()
            .Name("ReportPreview")
            .Title("Report Preview")
            .SubTitle("")
            .Expanded(false)
            .Content(@<div id="Report-preview"></div>)
             .HtmlAttributes(new { @style = "width: 100%;", }))
           
        </div>
        
    </div>
</div>



<script>
     $(function () {
        $.contextMenu({
            selector: '.tree-menu1',
            trigger: 'left',
            build: function ($trigger, e) {
                var id = $trigger.data('id');
                var parentType = $trigger.data('type');
                var parentId = $trigger.data('parentId');

                switch (parentType) {
                    case 'DashboardItem':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        EditWidget(id);
                                        break;
                                    case 'delete':
                                        OnDelete(id);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit Widget", icon: "fas fa-chart-area" },
                                "delete": { name: "Delete Widget", icon: "fas fa-trash" }
                            }
                        };
                    case 'widgetItem':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        EditWidgetKeyword(id);
                                        break;
                                    case 'delete':
                                        OnDelete(id);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit Widget keyword", icon: "fas fa-chart-area" },
                                "delete": { name: "Delete Widget keyword", icon: "fas fa-trash" }
                            }
                        };
                    default:
                        return {
                            callback: function (key, options) {
                                alert(parentId);
                                alert(parentType);
                            },
                            items: {

                            }
                        };
                }


            }
        });
     });
   
   
</script>