@using CMS.UI.ViewModel;
@using CMS.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Member";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model MemberViewModel

<style>
    .form-control {
        width: unset;
    }
</style>

<div class="row" style="margin-left:15px;">

    <form asp-controller="Member" asp-action="ManageMember" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">
            <div class="col-12">User Name</div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(model=>model.SynergyUserId)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetSynergyUserList", "Member");
                        });
                    })
                    .Events(e => e.Select("onSelect"))
                    //.OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                    .DataTextField("Email")
                    .DataValueField("Id")
                    //.Value(Model.EditorCategoryData)
                    //.Height(100)
                    //.Filter(FilterType.Contains)
                    .HtmlAttributes(new { @class = "form-control" , @style="width:300px" })
                    //.HtmlAttributes(new { @class = "form-control",  @style = "padding-top: 20px !important; height: auto !important;" })
                    )*@
                @*<input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" required="required" autocomplete="off" />*@
            </div>
            <!--<div class="col-12">Email</div>
            <div class="col-12 pad-15">-->
            @*<input asp-for="Email" type="text" class="form-control" placeholder="Enter Email" required="required" autocomplete="off" />*@
            <!--</div>
            <div class="col-12">Password</div>
            <div class="col-12 pad-15">-->
            @*<input asp-for="Password" type="text" class="form-control" placeholder="Enter Password" required="required" autocomplete="off" />*@
            <!--</div>-->
            @*<div class="col-12">Member Status</div>
                <div class="col-12 pad-15">
                    @(Html.Kendo().SwitchFor(x=>x.Status)
                        .Messages(c => c.Checked("A").Unchecked("IA"))
                    )
                </div>*@
            <div class="col-12">Member Group</div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().MultiSelectFor(x => x.MemberGroups)
                    .AutoClose(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetMemberGroupList", "Member");
                        });
                    })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .AutoBind(true)
                    .HtmlAttributes(new { @class = "hr-xx-large", @style = "width:300px" })
                    //.Value(Model.MemberPortals)
                    .Height(300)
                    )*@

                <select asp-for="MemberGroups" id="MemberGroups" data-placeholder="Select Member Groups..." style="width:80%"></select>

            </div>
            <div class="col-12">Portal</div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().MultiSelectFor(x => x.MemberPortals)
        .AutoClose(false)
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetPortalList", "Member");
            });
        })
        .DataTextField("Name")
        .DataValueField("Id")
        .AutoBind(true)
        .HtmlAttributes(new { @class = "hr-xx-large", @style = "width:300px" })
        //.Value(Model.MemberPortals)
        .Height(300)
        )*@

                <select asp-for="MemberPortals" id="MemberPortals" data-placeholder="Select Member Portals..." style="width:80%"></select>


            </div>

            <div class="cms-slidebar-footer">
                @*<input type="button" class="btn btn-link" value="Close" onclick="closeNavPortal()" />*@
                <button type="button" class="btn btn-light" onclick="closeNavMember();">Close</button>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.UserName)
    </form>
</div>

<script type="text/javascript">

    $("#MemberGroups").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Member/GetMemberGroupList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select Member Groups...",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.MemberGroups)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
    });

    $("#MemberPortals").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Member/GetPortalList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select Member Portals...",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.MemberGroups)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
    });

    function onSelect(e) {

            if (e.item) {
                var dataItem = this.dataItem(e.item);
                $("#UserName").val(dataItem.Email);
            }

    }

    function closeNavMember() {
        
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>