@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.LandingPageController> Resource
@*@using Kendo.Mvc.UI*@
@using Synergy.App.ViewModel
@model PostMessageViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@*<style>
    .group .input {
        margin-bottom: 25px;
        width: 100%;
        color: black;
        display: block;
        border: 1px;
        padding: 15px 20px;
        border-radius: 50px;
        background: rgba(142, 139, 139, 0.1);
    }

    .sectionbox {
        border: 1px solid #dddfe2;
        margin-bottom: 30px;
        border-radius: 5px;
        color: #333333;
        background: #fff;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eeeeee;
        min-height: 100px;
        /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    }

    pre {
        margin: 20px 0;
        padding: 20px;
        background: #fafafa;
    }

    .round {
        border-radius: 50%;
    }

    .fileContainer {
        overflow: hidden;
        position: relative;
    }

        .fileContainer [type=file] {
            cursor: inherit;
            display: block;
            font-size: 999px;
            filter: alpha(opacity=0);
            min-height: 100%;
            min-width: 100%;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: right;
            top: 0;
        }

        /* Example stylistic flourishes */

        .fileContainer [type=file] {
            cursor: pointer;
        }

    #imageDrag {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #imageDrag:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 500px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 57%;
        }
    }

    #imagediv:hover img {
        height: 500px;
    }

    .fa-stack[data-count]:after {
        position: absolute;
        right: 4%;
        top: 7%;
        content: attr(data-count);
        font-size: 30%;
        padding: .6em;
        border-radius: 999px;
        line-height: .75em;
        color: white;
        background: rgba(255,0,0,.85);
        text-align: center;
        min-width: 2em;
        font-weight: bold;
    }
</style>*@



<form asp-controller="LandingPage" asp-action="ManagePost" class="form-horizontal"
      data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
      data-ajax="true" data-ajax-method="POST">
    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
    <fieldset>
        <div id="divCreatePost">
            <div class="card">
                <!-- .card-body -->
                <div class="card-body">
                    <!-- .media -->
                    <div class="media">
                        <figure class="user-avatar user-avatar-md mr-2">
                            <img src="~/images/png/group.png" alt="" title="@Resource["Group"]">
                        </figure><!-- .media-body -->
                        <div class="media-body">
                            <!-- .publisher -->
                            <div class="publisher publisher-alt focus active">
                                <!-- .publisher-input -->
                                <div class="publisher-input">
                                    <textarea class="form-control" asp-for="NoteDescription" placeholder="Write a comment"></textarea>
                                </div><!-- /.publisher-input -->
                                <!-- .publisher-actions -->
                            </div><!-- /.publisher -->
                        </div><!-- /.media-body -->
                    </div><!-- /.media -->
                </div><!-- /.card-body -->
            </div>
        </div>
        @if (ViewBag.IsHelp)
        {
            <div class="form-group">
                <label for="tf1">Menu Name</label>
                <input type="email" class="form-control" id="tf1" asp-for="NoteSubject" aria-describedby="tf1Help"
                       placeholder="e.g. johndoe@looper.com"> <small id="tf1Help" class="form-text text-muted">For menu based help post</small>
            </div>

            <div class="form-group">
                <label for="tf2">Sequence</label>
                <div class="custom-number">
                    <input type="number" asp-for="SequenceOrder" class="form-control" id="tf2" min="0" max="10" step="1" value="0" placeholder="Sequence (should be unique)">
                    <div class="custom-number-controls"><div class="custom-number-btn custom-number-up">+</div><div class="custom-number-btn custom-number-down">-</div></div>
                </div>
            </div>
        }
        @if (Model.SourcePost == "SELF")
        {
            <input asp-for="TeamId" id="TeamId" style="width: 80%" />
        }

        <div class="form-group">
            <label for="tf3">Upload</label>
            <input type="file" name="file" id="file" accept='image/*|video/*' />
        </div>

        <div class="form-group">
            <div id="messageS" style="padding-left:7px"></div>
        </div>


        @if ((Model.SourcePost == "SELF" || Model.SourcePost == "ORG") && (Model.IsUserGuide == false@*|| Model.IsUserGuide == null*@))
{
    <div title="@Resource["PrivatePost?"]">
        @Resource["PrivatePost"]
        @*@Html.Kendo().CheckBoxFor(m => m.IsPrivate).HtmlAttributes(new { @class = "form-control" })*@
        <input type="checkbox" asp-for="IsPrivate" />
    </div>
}

        @if (Model.IsUserGuide == true)
        {
            <div class="form-group">
                <label for="tf6">Textarea</label>
                <textarea asp-for="CloudDocumentUrl" class="form-control" id="tf6" rows="3"></textarea>
            </div>
        }

        <span id="att-div" class="fa-stack fa-4x has-badge" data-count="1" style="display:none;">
            <i class="fa fa-square fa-stack-1x"></i>
            <i class="fa fad fa-paperclip fa-stack-1x fa-inverse" style="font-size:25px;"></i>
        </span>

        @if (Model.SourcePost == "SELF")
        {
            <div class="col-xs-4 col-4">
                @Resource["PostToLegalEntity(ForHROnly)"]
                <input asp-for="LegalEntityId" id="LegalEntityId" />
            </div>
        }

        <button type="submit" class="btn btn-primary" onclick="openSmartAttachment();">Attachment</button>

        @if (Model.SourcePost != "SELF")
        {
            <div></div>
        }

        <button class="btn btn-primary" type="submit" id="btnSave">
            @Resource["Post"]
        </button>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.TemplateId)
        @Html.HiddenFor(x => x.TemplateCode)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.NotePriorityId)
        @*@Html.HiddenFor(x => x.TemplateUserType)*@
        @Html.HiddenFor(x => x.TemplateId)

        @Html.HiddenFor(x => x.NoteStatusCode)
        @*@Html.HiddenFor(x => x.DepartmentId)*@
        @Html.HiddenFor(x => x.NoteNo)
        @Html.HiddenFor(x => x.OwnerUserId)
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.RequestSource)
        @Html.HiddenFor(x => x.RequestedByUserId)
        @Html.HiddenFor(x => x.ActiveUserId)
        @Html.HiddenFor(x => x.ReferenceType)
        @Html.HiddenFor(x => x.ReferenceTo)
        @Html.HiddenFor(x => x.EnableBroadcast)
        @*@Html.HiddenFor(x => x.SharingMode)

        @Html.HiddenFor(x => x.SendNotification)
        @Html.HiddenFor(x => x.MediaAttachmentLocation)
        @Html.HiddenFor(x => x.CSVFileIds)*@
        @Html.HiddenFor(x => x.SourcePost)
        @Html.HiddenFor(x => x.IsUserGuide)
        @*@Html.HiddenFor(x => x.ModuleName)*@
        @Html.HiddenFor(x => x.StartDate)
        @Html.HiddenFor(x => x.Json)

        @Html.HiddenFor(x => x.UdfNoteTableId)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.LastUpdatedBy)
        @Html.HiddenFor(x => x.LastUpdatedDate)
        @Html.HiddenFor(x => x.PageId)
        @Html.HiddenFor(x => x.RecordId)
        @Html.HiddenFor(x => x.PortalName)
        @Html.HiddenFor(x => x.CreateReturnType)
        @Html.HiddenFor(x => x.EditReturnType)
        @Html.HiddenFor(x => x.CompleteReason)
        @Html.HiddenFor(x => x.CloseComment)
        @Html.HiddenFor(x => x.ActiveUserType)
        @Html.HiddenFor(x => x.ActiveUserId)
        @Html.HiddenFor(x => x.TableMetadataId)
        @Html.HiddenFor(x => x.RequestedByUserId)
        @Html.HiddenFor(x => x.OwnerUserId)
        @Html.HiddenFor(x => x.OwnerUserEmail)
        @Html.HiddenFor(x => x.LayoutMode)
        @Html.HiddenFor(x => x.ReturnUrl)
        @Html.HiddenFor(x => x.CustomUrl)
        @Html.HiddenFor(x => x.PopupCallbackMethod)
        @Html.HiddenFor(x => x.IsSubjectMandatory)
        @Html.HiddenFor(x => x.AllowPastStartDate)
        @Html.HiddenFor(x => x.LegalEntityId)
    </fieldset>
</form>
<script type="text/javascript">
        var onAjaxSuccess = function (res) {
           // HideLoader($('.emaildata'));
            if (res.success) {

                ShowNotification("@SharedResource["SavedSuccessfully"]", "success");
                HideLoader($('#divCreatePost'));
                var win = GetMainWindow();
                win.CloseWindow({ MethodName: 'RefreshPageBack' });


            }
            else {
                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html(res.error);
                window.scrollTo(0, 0);
                HideLoader($('#divCreatePost'));
                //ShowErrors(res.error);
            }
            HideLoader($('#divCreatePost'));
        };
    function attachFileId(id) {
        //alert("attached " + id);
        if (id != undefined) {
            $('#att-div').show();
        } else {
            $('#att-div').hide();
        }
        document.getElementById('CSVFileIds').value = id;
    }

    function setFileIds(fileId) {
        //if ($("#Operation").val() == 'Create' && fileId != null) {
        var fileIds = $("#CSVFileIds").val() == null ? '' : $("#CSVFileIds").val();

        fileIds = fileId + ',' + fileIds;
        $("#CSVFileIds").val(fileIds);
        //}

    }

   function openSmartAttachment() {
      var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("AddNoteAttachment", "Cms", new { @area = "" })?noteId=@Model.NoteId&IsAddAttachmentEnabled=true';
          win.OpenWindow({ Title: '@Html.Raw(Resource["NoteAttachment"])', Width: 750, Height: 950 });
    }

    $(document).ready(function () {
        // $("#todoheading").html("@ViewBag.Msg");
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        //     var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
        if (isChrome) {
            $(document.body).css('zoom', '0.8');
        }

        $("#TeamId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel:"@Resource["MyWall"]",
            value: '@Model.TeamId',
            filter: "contains",
            change: OnTeamChange,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/Team/GetTeamByUser",
                    }
                }
            }
        });
        
        $("#LegalEntityId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel:"@Resource["--SelectLegalEntity--"]",
            value: '@Model.LegalEntityId',
            filter: "contains",
            change: OnEntityChange,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LegalEntity/GetIdNameList",
                    }
                }
            }
         });


        $("#btnSave").click(function () {
            //alert("button");
            ShowLoader($('#divCreatePost'));
        });
    });



    function OnSuccess(response) {
        if (response.success) {
            window.parent.ClosePost(true, response.operation)
        }
        else {
            ShowErrors(response.errors);
        }
    }
    function OnCancel(e) {
        window.parent.Close(false);
    }
    function filterType() {
        return {
            NtsType: $("#NtsType").val()
        };
    }
        function ShowErrors(err) {
        //    alert(err);
        $(".hr-v-summary").removeClass("validation-summary-valid");
        $(".hr-v-summary").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $(".hr-v-summary ul").html(msg);
    }

    function OnTeamChange(e) {
       
        var teamId = $("#TeamId").val();
        if (teamId == '') {
            $("#ReferenceType").val("Self");
        } else {
            $("#ReferenceType").val("Team");
            $("#ReferenceTo").val(teamId);
        }


    }


    function OnEntityChange(e) {
       
        var orgId = $("#LegalEntityId").val();
        if (orgId == '') {
        } else {
            $("#ReferenceType").val("Organization");
            $("#ReferenceTo").val(orgId);
        }


    }

    $('#file').on('change', function (e) {
        var files = e.target.files;
        var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {

            if (window.FormData !== undefined) {
                var data = new FormData();
               for (var x = 0; x < files.length; x++) {
                   data.append("file" + x, files[x]);
                   var re = /(\.jpg|\.jpeg|\.bmp|\.gif|\.png|\.m4v|\.mpg|\.flv|\.vob|\.avi|\.mts|\.mkv|\.webm|\.mov|\.mpeg|\.wmv|\.mp4|\.pdf)$/i;
                   if (!re.exec(files[x].name)) {
                       alert("@Resource["FileExtNotSupported"]");
                       return;
                   }

               }
                $("#messageS").html("@Resource["FileUploading"]");
                $.ajax({
                    type: "POST",
                    url: '/Note/UploadHomeReport?id=' + myID,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.filename != '') {

                            document.getElementById('MediaAttachmentLocation').value = result.filename;
                            document.getElementById('CSVFileIds').value = result.FileId;
                            $("#messageS").html(result.status);
                        } else {
                            $("#messageS").html("@Resource["FileUploadFailed"]");
                        }

                    },
                    error: function (xhr, status, p3, p4) {

                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                        $("#messageS").html(err);
                    }
                });
            } else {
                alert("@Resource["FileUploadFailedForBrowser"]");
            }
        }
    });

    function CloseAttachment(e) {
       
        var win = GetMainWindow();
        win.CloseWindow();
        return false;

        //$("#att-div").show();
    }

    function ShowLoader(target) {
        // target.loadingOverlay();
        kendo.ui.progress(target, true);
    }
    function HideLoader(target) {
        //target.loadingOverlay('remove');
        kendo.ui.progress(target, false);
    }
    function FillAttachmentCount() {
        @* $.ajax({
            type: "Get",
            url: '/cms/GetNoteAttachmentCount?noteId=@Model.NoteId',
            success: function (data) {
                $("#attchmentCount").html(data);
            },
            dataType: "json",
        });*@
        //alert("Attachment");
    }
</script>


