@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Kendo.Mvc.UI;
@using Newtonsoft.Json;
@{
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@model TaskTemplateViewModel
<script>

    $(document).ready(function () {

    });



    function OnView(taskId,tempCode,stcode) {
        
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var source = '@RequestSourceEnum.View.ToString()';
        var action = '@DataActionEnum.View.ToString()';
        if (stcode === 'TASK_STATUS_DRAFT') {
        source = "Edit";
        action = "Edit";
        }
        var portalId = '@Model.PortalId';
        var url = '/Cms/Page?lo=Popup&pageType=Task&cbm=ReloadIndexPage&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + taskId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  'Manage Task', Width: 1200, Height: 600 });
        return false;
    }
    function OnEdit(taskId, tempCode) {
       // var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var source = '@RequestSourceEnum.Edit.ToString()';
        var action = '@DataActionEnum.Edit.ToString()';
        var portalId = '@Model.PortalId';
        var url = '/Cms/Page?lo=Popup&pageType=Task&cbm=ReloadIndexPage&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + taskId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title:  'Manage Task', Width: 1200, Height: 600 });
        return false;
    }

    function OnCreate() {
       
        var portalId = '@Model.PortalId';
        var prms = encodeURIComponent('parentNoteId=@Model.ParentNoteId');

        var url = '/Cms/Page?lo=Popup&pageType=Task&cbm=ReloadIndexPage&source=Create&dataAction=Create&templateCodes=WB_TASK&portalId=' + portalId + '&prms=' + prms;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Manage Task', Width: 1200, Height: 600 });
        return false;
    }

    function ReloadIndexPage() {
        GetData_kgrid_AllTasks();
    }

    function OnClose() {
        var win = GetMainWindow();
        win.CloseWindow({ MethodName:"@ViewBag.CBM"});
    }

</script>
<div class="row no-gutters pad-10" >
    @*<div class="col-12 pb-1 pt-3">
            <h3>Service List</h3>
        </div>*@
    
    <div class="col-12 pad-10">
        @if (ViewBag.EnableCreateButton == true)
        {
            <button type="submit" class="btn btn-primary" onclick="return OnCreate();"><i class="fa fa-plus pr-1"></i>Create Task</button>
        }
        @if (ViewBag.CBM != null && ViewBag.CBM != "")
        {
            <button class="btn btn-secondary" style="float:right" onclick="return OnClose();">Close</button>
        }
            
    </div>
  
    

    <div class="container col-12">
        <script>
                        var columnDefs = [
                            {
                                headerName: "Actions",
                                field: "Id",
                                cellRenderer: params => {
                                    return "<div class='btn-group grid-menu' id='tree-taskmenu' data-idvalue='" + params.value + "' data-tempcode='" + params.data.TemplateCode + "' data-sscode='" + params.data.TaskStatusCode + "'><i class='fas fa-ellipsis-v'></i></div>"
                                }
                            },
                            {
                                headerName: "Task No",
                                field: "TaskNo",
                            },
                            {
                                headerName: "Task Subject",
                                field: "TaskSubject",
                            },
                            {
                                headerName: "Owner",
                                field: "OwnerUserName",
                            },
                            {
                                headerName: "Assignee",
                                field: "AssigneeDisplayName",
                            },
                            {
                                headerName: "Created Date",
                                field: "CreatedDate",
                                cellRenderer: params => {
                                    var date = new Date(params.value);
                                    var d = new Date(date),
                                        month = '' + (d.getMonth() + 1),
                                        day = '' + d.getDate(),
                                        year = d.getFullYear();

                                    if (month.length < 2)
                                        month = '0' + month;
                                    if (day.length < 2)
                                        day = '0' + day;

                                    return [day, month, year].join('.');
                                }
                            },
                            {
                                headerName: "Due Date",
                                field: "DisplayDueDate",
                                cellRenderer: params => {
                                    var date = new Date(params.value);
                                    var d = new Date(date),
                                        month = '' + (d.getMonth() + 1),
                                        day = '' + d.getDate(),
                                        year = d.getFullYear();

                                    if (month.length < 2)
                                        month = '0' + month;
                                    if (day.length < 2)
                                        day = '0' + day;

                                    return [day, month, year].join('.');
                                }
                            },
                            {
                                headerName: "Task Status",
                                field: "TaskStatusName",
                            },

                        ];
                        $(function () {
                            GetData_kgrid_AllTasks();
                             $.contextMenu({
                                selector: '#tree-taskmenu',
                                trigger: 'left',
                                build: function ($trigger, e) {

                                    var id = $trigger.data('idvalue');
                                    var tcode = $trigger.data('tempcode');
                                    var scode = $trigger.data('sscode');
                                    switch (0) {
                                        case 0:
                                            return {
                                                callback: function (key, options) {
                                                    switch (key) {
                                                        case 'edit':
                                                            OnEdit(id, tcode);
                                                            break;
                                                        case 'view':
                                                            OnView(id, tcode, scode);
                                                            break;

                                                        default:
                                                    }
                                                },
                                                items: {
                                                    "edit": { name: "Edit", icon: "fas fa-edit" },
                                                    "view": { name: "View", icon: "fas fa-eye" },
                                                }
                                            };
                                    }
                                }
                            });
                        });

            function GetData_kgrid_AllTasks(url) {
                            document.getElementById("kgrid_AllTasks").innerHTML = "";
                            var Url = "";
                            if (url != null && url != "") {
                                Url = url;
                            } else {
                                Url = "/Cms/NtsTask/ReadTaskList?statusCodes=@Model.TaskStatusCode&templateCodes=@Model.TemplateCode&parentServiceId=@Model.ParentServiceId&userId=@Model.OwnerUserId&parentNoteId=@Model.ParentNoteId";
                            }

                            gridConfig(
                                "kgrid_AllTasks",
                                Url,
                                columnDefs,
                                false,
                                true,
                                true,
                                true,
                                1,
                                true,
                                10);
                        }
        </script>

        <div id="kgrid_AllTasks" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

    </div>
</div>

