@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.HelpController> Resource
@using Kendo.Mvc.UI
@using CMS.Common
@using CMS.UI.ViewModel
@model NoteViewModel
@{
    //ViewBag.Title = "Dashboard";
    Layout = null /*"/Areas/Cms/Views/Shared/_LayoutCms.cshtml"*/;
}
@inject CMS.Common.IUserContext _userContext
<head>
    @*other head stuff...*@
    <link href="~/css/flickity.css" rel="stylesheet" />
    <script src="~/js/flickity.pkgd.min.js"></script>
    @*<link rel="stylesheet" href="~/Content/flickity.css" media="screen">*@
    @*<script src="~/Scripts/flickity.pkgd.min.js"></script>*@
</head>

<style>
    #MainGuidePost {
        padding: 5px 5px;
        margin-bottom: -1px;
        width: 100%;
        height: 90vh;
        overflow: auto;
        overflow-x: hidden;
    }

    .body {
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    #banimg {
        width: 100%;
        min-height: 280px;
    }

    .breadcrumb {
        display: none;
    }

    .top-header {
        box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.24), 0px 17px 50px 0px rgba(0,0,0,0.19);
    }
    
    .overlay {
        right: 0 !important;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        color: #fff;
        font-size: 12px;
        width:222px;
    }

    .h5, h5 {
        color:black;
    }

    #listViewTM {
        min-height:100%;        
    }
    
    .modernsidebar {
        height: 90vh;
        overflow-y: scroll;
        overflow-x:hidden;
        width: 270px;
    }
    .row-marg{
        padding-left:15px;
    }
    /*.document-image {
        
        border: 1px solid;
        border-color: #f9e16d;
    }*/

    .alt_img {
        height: 164px;
        width: 222px;
        text-align: center;
        font-size: 75px;
        padding-top: 20px;
        border: 1px solid;
        border-color: #4c4c4c;
    }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/Help/ReadManagePostTile?OrgId=" + '@Model.DepartmentId' + "&HomeType=UserGuide",
                    dataType: "json"
                }
            },            
        });

        $("#listViewTM").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });
    });

    function AddUserGuide() {
        var win = GetMainWindow();
        win.iframeOpenUrl = "/cms/LandingPage/CreatePost?templateMasterCode=GROUP_MESSAGE&tagtotype=@NoteReferenceTypeEnum.Organization&orgId=@Model.DepartmentId&isUserGuide=true&moduleName=Admin&isHelp=true";
        win.OpenWindow({Title: '@Html.Raw(Resource["PostingTo"])', Width: 650, Height: 550 });

       
    }
    function Goto(id) {
        $("#docfeed-" + id)[0].scrollIntoView({ behavior: "smooth", block: "start", inline: "nearest" });

        let elements = document.getElementsByClassName('overlay');
        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.background = "#565656";
            elements[i].style.color = "#fff";
        }
        let curelement = document.getElementById(id);
        curelement.style.backgroundColor = "#f5d01ba3";
        curelement.style.color = "#060606";

    }


    function RefreshPageBack() {
        var listView = $("#listViewTM").data("kendoListView");
        // refreshes the ListView
        listView.dataSource.read();
        manageNoteList_Refresh($('#manageNoteList'));
    }

    function OnSearch() {
        var srchtxt = $("#searchpost").val();
        var search = { SearchParam: srchtxt };
        var listView = $("#listViewTM").data("kendoListView");
        listView.dataSource.read(search);
    }

    window.OnDocError = (obj) => {

        obj.style.display = "none"
        //obj.onerror = null;
        //obj.src = '';
        //obj.width = 50;
        //obj.height = 50;
        //obj.style.marginTop = "35%";
        //obj.className = "e-list-icon e-fe-pdf"
        var d_id = obj.id.split("_")[1];
        alert("img error");
        var dis = document.getElementById("alt_"+ d_id);
        dis.style.display = "block";
        var ext = obj.id.substring(obj.id.lastIndexOf(".") + 1);
        if (ext.toLowerCase().includes("pdf")) {
            dis.className = "fal fa-file-pdf";
            dis.style.color = "red";
        } else if (ext.toLowerCase().includes("xlsx") || ext.toLowerCase().includes("Xls")) {
            dis.className = "fal fa-file-excel";
            dis.style.color = "green";
        } else if (ext.toLowerCase().includes("doc")) {
            dis.className = "fal fa-file-word";
            dis.style.color = "darkblue";
        } else if (ext.toLowerCase().includes("pptx") || ext.toLowerCase().includes("ppt")) {
            dis.className = "fal fa-file-powerpoint";
            dis.style.color = "orange";
        } else if (ext.toLowerCase().includes("mp4")) {
            dis.className = "fab fa-youtube";
            dis.style.color = "red";
        }
        //dis.width = 50;
        //dis.height = 50;
        dis.style.paddingTop = "75px";
        dis.style.fontSize = "40px";

    };

</script>

<div class="row">

    <div class="col-2 dahboard-height" id="LeftPanel">
        <div id="mymodernsidebar" class="modernsidebar">
            @*<div id="modernnavclose" href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fal fa-arrow-left fa-1x" style="font-size:16px"></i></div>*@

            <div class="app-settings__submenu-container">

                @*<h5 class="h5-responsive m-0 d-inline-block">Help Library</h5>*@
                <div class="col-xs-12 mb-2">
                    <div class="row">
                        <!---->
                        @*@if (4.HasPermission())
                            {
                                <div class="app-list__body-item-content" onclick="NavigateToUrl('/nts/note/helppost')">
                                    <i class="fal fa-box fa-xs app-list__body-item-icon" style="font-size:18px"></i>
                                    <span class="fa-xs app-list__body-item-icon">User Guides</span>
                                </div>
                            }
                            @if (2048.HasPermission())
                            {
                                <div class="app-list__body-item-content" onclick="NavigateToUrl('/nts/note/helppost?type=Mobile')">
                                    <i class="fal fa-sticky-note fa-xs app-list__body-item-icon" style="font-size:18px"></i>
                                    <span class="fa-xs app-list__body-item-icon">User Guides for Mobile Application</span>
                                </div>
                            }*@

                    </div>
                </div>


                <h5 class="h5-responsive m-0 d-inline-block">@Resource["LearningUserGuide"]</h5>
                <div class="col-xs-12 mb-2" style="cursor:pointer;margin-top:10px;">
                    <div class="row-12" style="background-color: #143c75; border-radius:10px; padding:10px; opacity:0.9" id="CreatePost" onclick="AddUserGuide()">                                                
                        <div style="padding-left:10px;color:#fff">@Resource["Clickheretopost...."] </div>                        
                    </div>
                </div>
                <div>
                    <div class="input-group rounded" >
                        <input type="search" id="searchpost" class="form-control rounded" placeholder="@Resource["Searchpost"]" aria-label="Search"
                               aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon" style="background-color:#1266f1;color:#fff;cursor:pointer;" onclick="OnSearch();">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    @*<div><input type="search" class="form-control" style="width:80%;"/><span><button class="btn btn-primary"><i class="fas fa-search"></i></button></span></div>*@
                </div>
                <br />
                <br />


                <script type="text/x-kendo-template" id="template">
                    <div style="margin-left:10px;cursor:pointer;" onclick="Goto('#:Id#')" title="View">
                        #:SequenceOrder#. &nbsp;
                        <div class="container-tile">
                            #if (FileExtension == ".mp4")
                                {#
                                    <div id="alt_#:Id#" class="alt_img"><i class="fab fa-youtube" style="color:red;"></i></div>
                               #}else if (FileExtension == ".pdf")
                                    {#
                                    <div id="alt_#:Id#" class="alt_img"><i class="fal fa-file-pdf" style="color:red;"></i></div>
                               #}else if (FileExtension == null)
                                    {#
                                    <div id="alt_#:Id#" class="alt_img"><i class="far fa-comment-alt" style="color:orange;"></i></div>
                               #}else {#
                                    <img class="document-image doc-img-#:data.Id#" style="width:222px;height:164px;" src="/cms/Document/GetSnapMongo?id=#:FileId#"/>
                                #}#
                            <span id="img-alt-#:data.Id#" class="document-image fas fa-file-alt" style=" display: none;
                                color: grey;
                                font-size: 60px;
                                text-align: center;
                                margin-top: 70px;
                                margin-left: 75px;
                                cursor: pointer;" title="View"></span>
                            <div class="overlay" id="#:data.Id#"><span class="wrap-text" title="#:NoteDescription#">#:NoteDescription#</span></div>
                        </div>
                    </div>
                </script>

                <div>
                    @*@(Html.Kendo().ListView<NoteViewModel>()
                .Name("listViewTM")
                .TagName("div")
                .ClientTemplateId("template")
                .DataSource(dataSource =>
                {
                    dataSource.Read(read => read.Action("ReadManagePostTile", "Note", new { area = "nts", OrgId = Model.OrganizationId, HomeType = "UserGuide", ModuleName = ERP.Utility.ModuleEnum.Admin }));
                })

        )*@

                    @*@(Html.Kendo().ListView<NoteViewModel>()
                    .Name("listViewTM")
                    .TagName("div")
                    .ClientTemplateId("template")
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("ReadManagePostTile", "Help", new { area = "Cms", OrgId = Model.DepartmentId, HomeType = "UserGuide" }))

                    )

                )*@

                    <div id="listViewTM"></div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-10">
        <div id="MainGuidePost">
            <div id="scroliingSection">
                @{
                    await Html.RenderPartialAsync("/Areas/Cms/Views/LandingPage/_EndlessScrollList.cshtml", new EndlessScrollListViewModel { Name = "manageNoteList", UrlActionName = "ReadManagePost", UrlControlName = "LandingPage", UrlAreaName = "Cms", PageSize = 10, OrgId = Model.DepartmentId, HomeType = "UserGuide" });
                    //await Html.PartialAsync("/Areas/Cms/Views/LandingPage/OrgHome.cshtml");
                    //await Html.RenderPartialAsync("/Areas/Cms/Views/LandingPage/OrgHome.cshtml");
                }
                @*@Html.Partial("~/Views/Shared/_EndlessScrollList.cshtml", new EndlessScrollListViewModel { Name = "manageNoteList", UrlActionName = "ReadManagePost", UrlControlName = "Note", UrlAreaName = "Nts", PageSize = 10, OrgId = Model.OrganizationId, HomeType = "UserGuide", ModuleName = ERP.Utility.ModuleEnum.Admin })*@
            </div>
        </div>
        @Html.HiddenFor(x => x.DepartmentId)
    </div>
</div>









