@using Synergy.App.ViewModel
@using Synergy.App.Common
@model PostMessageViewModel
@inject Synergy.App.Common.IUserContext _userContext


@{
    ViewData["Title"] = "New Post";
    Layout = "~/Areas/Core/Views/Shared/themes/looper/_layout.cshtml";
}


<script>

    function onFileUploadSuccess(obj) {
        debugger;
        console.log(obj);
        $("#DocumentId").val(obj.fileId);
    }

    function onAjaxSuccess(res) {
        debugger;
        // HideLoader($('.emaildata'));
        if (res.success) {

            ShowNotification("Saved Successfully", "success");
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: 'RefreshPageBack' });


        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);
            window.scrollTo(0, 0);
            HideLoader($('#divCreatePost'));
            //ShowErrors(res.error);
        }
        HideLoader($('#divCreatePost'));
    };
</script>
<div class="card">
    <div class="card-body">
        <form asp-controller="HelpCenter" asp-action="ManagePost" method="post" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div class="text-danger" style="width:300px;" asp-validation-summary="All" id="validation-summary"></div>
            <fieldset>


                <div class="form-group">
                    <div class="media">
                        <figure class="user-avatar user-avatar-md mr-2">
                            <img src="@Url.Action("getimagemongo", "document", new { @area = "Cms", id = _userContext.PhotoId })" alt="">
                        </figure>
                        <div class="media-body">
                            <div class="publisher keep-focus focus">
                                <label for="publisherInput5" class="publisher-label">State: Always open</label> <!-- .publisher-input -->
                                <div class="publisher-input">
                                    <textarea asp-for="Message" id="publisherInput5" class="form-control" placeholder="Write a message"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tf4">Menu Name</label>
                    <div class="has-clearable">
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                        <input type="text" asp-for="MenuName" class="form-control" id="tf4" placeholder="Type menu name..." value="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="tf2">Sequence</label>
                    <div class="custom-number">
                        <input asp-for="PostSequence" type="text" class="form-control" placeholder="SequenceOrder" autocomplete="off" />                        <div class="custom-number-controls">
                            <div class="custom-number-btn custom-number-up">+</div>
                            <div class="custom-number-btn custom-number-down">-</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pi3">Add Google Document URL</label>
                    <div class="input-group input-group-alt">
                        <div class="input-group-prepend">
                            <span class="input-group-text">http://</span>
                        </div><input asp-for="GoogleDocumentUrl" type="text" class="form-control" id="pi3" placeholder="google.com">
                    </div>
                </div>
                <div class="form-group">
                    <label>Upload Document</label>
                        @{
                            await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.DocumentId), Value = Model.DocumentId, CallbackMethod = "onFileUploadSuccess" });
                        }
                </div>
                <input asp-for="DocumentId" type="hidden"/>

                <button class="btn btn-primary btn-lg btn-block" onclick="uploadFile()" type="submit">Save Post</button>
            </fieldset>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.DataAction)
            @Html.HiddenFor(x => x.TemplateId)
            @Html.HiddenFor(x => x.TemplateCode)
            @Html.HiddenFor(x => x.NoteId)
            @Html.HiddenFor(x => x.NotePriorityId)
            @Html.HiddenFor(x => x.TemplateId)
            @Html.HiddenFor(x => x.NoteStatusCode)
            @Html.HiddenFor(x => x.NoteNo)
            @Html.HiddenFor(x => x.OwnerUserId)
            @Html.HiddenFor(x => x.CompanyId)
            @Html.HiddenFor(x => x.RequestSource)
            @Html.HiddenFor(x => x.RequestedByUserId)
            @Html.HiddenFor(x => x.ActiveUserId)
            @Html.HiddenFor(x => x.ReferenceType)
            @Html.HiddenFor(x => x.ReferenceTo)
            @Html.HiddenFor(x => x.EnableBroadcast)
            @Html.HiddenFor(x => x.SourcePost)
            @Html.HiddenFor(x => x.IsUserGuide)
            @Html.HiddenFor(x => x.StartDate)
            @Html.HiddenFor(x => x.Json)
            @Html.HiddenFor(x => x.UdfNoteTableId)
            @Html.HiddenFor(x => x.CreatedBy)
            @Html.HiddenFor(x => x.CreatedDate)
            @Html.HiddenFor(x => x.LastUpdatedBy)
            @Html.HiddenFor(x => x.LastUpdatedDate)
            @Html.HiddenFor(x => x.PageId)
            @Html.HiddenFor(x => x.RecordId)
            @Html.HiddenFor(x => x.PortalName)
            @Html.HiddenFor(x => x.CreateReturnType)
            @Html.HiddenFor(x => x.EditReturnType)
            @Html.HiddenFor(x => x.CompleteReason)
            @Html.HiddenFor(x => x.CloseComment)
            @Html.HiddenFor(x => x.ActiveUserType)
            @Html.HiddenFor(x => x.ActiveUserId)
            @Html.HiddenFor(x => x.TableMetadataId)
            @Html.HiddenFor(x => x.RequestedByUserId)
            @Html.HiddenFor(x => x.OwnerUserId)
            @Html.HiddenFor(x => x.OwnerUserEmail)
            @Html.HiddenFor(x => x.LayoutMode)
            @Html.HiddenFor(x => x.ReturnUrl)
            @Html.HiddenFor(x => x.CustomUrl)
            @Html.HiddenFor(x => x.PopupCallbackMethod)
            @Html.HiddenFor(x => x.IsSubjectMandatory)
            @Html.HiddenFor(x => x.AllowPastStartDate)
            @Html.HiddenFor(x => x.LegalEntityId)
        </form>
    </div>
</div>
