@inject IStringLocalizer<CMS.UI.Web.Areas.Pay.Controllers.PayrollBatchController> Resource
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = Resource["ManagePayrollBatch"];
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model PayrollBatchViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $("#PayrollStartDate").kendoDatePicker({  format:"dd MMM yyyy"});
        $("#PayrollEndDate").kendoDatePicker({ format: "dd MMM yyyy" });

        $("#PayrollGroupId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.PayrollGroupId",
            filter: "contains",
            autoBind: true,
            change: BindPayrollName,
            dataSource: {
                transport: {
                    read: {
                        url: "/Pay/PayrollBatch/ReadPayrollGroupList",
                    }
                }
            }
        });

        $("#Year").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.Year",
            filter: "contains",
            autoBind: true,
            change: BindPayrollName,
            dataSource: {
                transport: {
                    read: {
                    url: "/Pay/PayrollBatch/GetYear",
                    }
                }
            }
        });

        $("#Month").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Text",
            dataValueField: "Value",
            value: "@Model.Month",
            filter: "contains",
            autoBind: true,
            change: BindPayrollName,
            dataSource: [
                { Text : "January", Value : "01"},
                { Text : "February", Value : "02"},
                { Text : "March", Value : "03"},
                { Text : "April", Value : "04"},
                { Text : "May", Value : "05"},
                { Text : "June", Value : "06"},
                { Text : "July", Value : "07"},
                { Text : "August", Value : "08"},
                { Text : "September", Value : "09"},
                { Text : "October", Value : "10"},
                { Text : "November", Value : "11"},
                { Text : "December", Value : "12"}
            ]
        });

    });

    function Close() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function OnSave(evt) {
        debugger
        if ($("#PayrollGroupId").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html('@Html.Raw(@Resource["PayrollGroupisRequired"])');
            evt.preventDefault();
            return false;
        }
        else if ($("#Year").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("@Resource["YearisRequired"]");
            evt.preventDefault();
            return false;
        }
        else if ($("#Month").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("@Resource["MonthisRequired"]");
            evt.preventDefault();
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            $(".text-danger").html("");
        }
    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                window.parent.ShowNotification("@SharedResource["SavedSuccessfully"]", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                window.parent.ShowNotification("@SharedResource["UpdatedSuccessfully"]", "success");
            }

            Close();
            window.parent.GetPayrollBatchData();
            //window.parent.$("#kgrdPayrollBatch").data("kendoGrid").dataSource.read();

        }
        else {
            ShowNotification(res.error, "error");
        }
    };

    function BindPayrollName() {

        var payrollGroup = $("#PayrollGroupId").data("kendoDropDownList").text();
        var payrollGroupId = $("#PayrollGroupId").val();

        var year = $("#Year").val();
        var month = $('#Month').data("kendoDropDownList").text();
        var monthval = $('#Month').val();
        if (payrollGroup != null && payrollGroup != '--Select--' && year != null && month != null && month != '--Select--') {
            $("#Name").val(payrollGroup + ' - ' + month + ' ' + year);
            monthval = monthval.replace(/(^|-)0+/g, "$1");
            $.ajax({
                url: '/Pay/PayrollBatch/GetPayrollGroupDetail?payGroupId=' + payrollGroupId + '&monthval=' + monthval + '&year=' + year,
                type: 'GET',
                data: {},
                dataType: 'json',
                success: function (result) {
                    debugger
                    if (result.success) {
                        //var sdmon; /*=new Date().getMonth();*/
                        //var sdyear;
                        //var stDate;
                        //var endDate;
                       

                        //const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                        //    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

                        //if (result.data!=null && result.data.IsStartDayPreviousMonth) {
                        //    if (monthval == 1) {
                        //        sdmon = monthNames[11];
                        //        sdyear = year - 1;
                        //    }
                        //    else {
                        //        sdmon = monthNames[monthval - 2];
                        //        sdyear = year;
                        //    }
                        //}
                        //else {
                        //    sdmon = monthNames[monthval - 1];
                        //    sdyear = year;
                        //}
                        //var lastDate = new Date(year, monthval, 0).getDate();

                        //stDate = result.data.StartDay >= lastDate ? lastDate : result.data.StartDay;
                        //endDate = result.data.EndDay >= lastDate ? lastDate : result.data.EndDay;

                       
                        //var edmon = monthNames[monthval-1];
                        //var sdate = stDate + " " + sdmon + " " + sdyear;
                        //var edate = endDate + " " + edmon + " " + year;
                        //$("#PayrollStartDate").val(result.data.PayrollStartDate);
                        //$("#PayrollEndDate").val(result.data.PayrollEndDate);
                        $("#PayrollStartDate").data("kendoDatePicker").value(result.data.PayrollStartDate);
                        $("#PayrollEndDate").data("kendoDatePicker").value(result.data.PayrollEndDate);
                    } else {

                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    //
                }
            });

        }
        else {
            $("#Name").val('');
        }
    }

</script>

<div class="row" style="margin-left:15px;">

    <form asp-controller="PayrollBatch" asp-action="ManagePayrollBatch" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="row" style="padding:10px;">

            @*<div class="col-12">@Resource["LegalEntity"] <span class="required">*</span></div>
        <div class="col-12 pad-15">
            @(Html.Kendo().DropDownListFor(model=>model.LegalEntityId)
                .DataTextField("Name")
                .DataValueField("Id")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetLegalEntityList", "PayrollBatch");
                    });
                })
                .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                .HtmlAttributes(new { @class = "form-control" , @style="width:80%" })
                )
        </div>*@

            <div class="col-12">@Resource["PayrollGroup"] <span class="required">*</span></div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(model=>model.PayrollGroupId)
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ReadPayrollGroupList", "PayrollBatch");
                        });
                    })
                    .Events(e => e.Change("BindPayrollName"))
                    .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                    .HtmlAttributes(new { @class = "form-control" , @style="width:80%" })
                    )*@
                <input asp-for="PayrollGroupId" id="PayrollGroupId" class = "form-control" style="width:80%;" />

            </div>

            @*<div class="col-12">@Resource["RunType"] <span class="required">*</span></div>
            <div class="col-12 pad-15">
                @(Html.Kendo().DropDownListFor(x=>x.RunType)
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "PayrollRunTypeEnum" });
                            });
                        })
                        .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                        //.Value(Model.RunType.ToString())
                        .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
                        )
            </div>*@

            <div class="col-12">@SharedResource["Year"] <span class="required">*</span></div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(model=>model.Year)
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetYear", "PayrollBatch");
                        });
                    })
                    .Events(e => e.Change("BindPayrollName"))
                    .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                    .HtmlAttributes(new { @class = "form-control" , @style="width:80%" })
                    )*@

                <input asp-for="Year" id="Year" class="form-control" style="width:80%;" />

            </div>

            <div class="col-12">@SharedResource["Month"] <span class="required">*</span></div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(x => x.Month)
                              .DataTextField("Text")
                              .Events(e => e.Change("BindPayrollName"))
                              .DataValueField("Value")
                              .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                              .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
                              .BindTo(new List<SelectListItem>() {
                                                            new SelectListItem() { Text = "January", Value = "01"},
                                                            new SelectListItem() { Text = "February", Value = "02"},
                                                            new SelectListItem() { Text = "March", Value = "03"},
                                                            new SelectListItem() { Text = "April", Value = "04"},
                                                            new SelectListItem() { Text = "May", Value = "05"},
                                                            new SelectListItem() { Text = "June", Value = "06"},
                                                            new SelectListItem() { Text = "July", Value = "07"},
                                                            new SelectListItem() { Text = "August", Value = "08"},
                                                            new SelectListItem() { Text = "September", Value = "09"},
                                                            new SelectListItem() { Text = "October", Value = "10"},
                                                            new SelectListItem() { Text = "November", Value = "11"},
                                                            new SelectListItem() { Text = "December", Value = "12"}
                              }))*@

                <input asp-for="Month" id="Month" class="form-control" style="width:80%;" />

            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="PayrollStartDate">@Resource["PayrollStartDate"] <span class="required">*</span></label>
                    </div>
                    @*@(Html.Kendo().DatePickerFor(x=>x.PayrollStartDate).Value("").Format("dd MMM yyyy").HtmlAttributes(new { @class = "form-control", style = "width: 80%", onkeydown = "javascript:return false;", @required="required", @readonly="readonly" }))*@
                    <input asp-for="PayrollStartDate" type="date" value="" id="PayrollStartDate" class="form-control" style="width:80%" required="required" readonly = "readonly"/>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="to">@Resource["PayrollEndDate"] <span class="required">*</span></label>
                    </div>
                    @*@(Html.Kendo().DatePickerFor(x=>x.PayrollEndDate).Value("").Format("dd MMM yyyy").HtmlAttributes(new { @class = "form-control", style = "width: 80%", onkeydown = "javascript:return false;", @required = "required", @readonly = "readonly" }))*@
                    <input asp-for="PayrollEndDate" type="date" id="PayrollEndDate" value="" class="form-control" style="width:80%" required="required" readonly = "readonly" />
                </div>
            </div>



            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" required="required" autocomplete="off" style="width:80%" />
                    <label for="Name">@SharedResource["Name"] <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <textarea asp-for="Description" class="form-control" placeholder="Enter Description" autocomplete="off" style="width:80%"></textarea>
                    <label for="Description">@SharedResource["Description"]</label>
                </div>
            </div>

            <div class="col-12 pad-10" style="text-align:right;padding-right:40px;">
                <button type="button" class="btn btn-light" onclick="Close();">@SharedResource["Close"]</button>
                <input type="submit" class="btn btn-primary" value="@SharedResource["Save"]" id="submitBtn" onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.RunType)
        @Html.HiddenFor(x => x.LegalEntityId)
    </form>
</div>


