@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;
@model DirectSalesSearchViewModel
@{
    //ViewData["Title"] = ViewBag.PageName;
    Layout = null;
}
<style>
    input[type="radio"] {
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .fa {
        margin-top: 3px;
    }

    .i-hover:hover {
        background: #0062cc;
        /* padding-left: 4px; */
        border-radius: 50%;
    }

    .fal {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 27px;
        text-align: center;
        vertical-align: middle;
        font-size: 1.3em;
        width: 27px;
        height: 27px;
        background: #0062cc;
    }
</style>
<script>
    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

    var columnDefs = [
        {
            field: "ServiceNo",
            headerName:"Proposal No"
        },
        {
            field: "ProposalDate",
            headerName: "Proposal Date"
        },
        {
            field: "ProposalValue",
            headerName: "Proposal Value"
        },
        {
            field: "CustomerName",
            headerName: "Customer Name"},
        {
            field: "WorkflowStatus",
            headerName: "Status",
            //cellRenderer: params => {
            //    return statusObj[params.value]; //only for enum
            //}
        },
        {
            headerName: "Actions",
            field: "ServiceId",
            cellRenderer: params => {
                debugger;
                return "<div class='btn-group grid-menu' id='tree-menuBinUserRole' data-idvalue='" + params.value + "' data-status=\"" + params.data.ServiceStatusCode + "\" data-proposal=\"" + params.data.ProposalValue+"\" ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    $(function () {
        var d = new Date();
        d.setMonth(d.getMonth() - 1);
        console.log(d.toLocaleDateString());
        $("#FromDate").kendoDatePicker({
            value: d.toLocaleDateString()
        });
        $("#ToDate").kendoDatePicker({
            value:new Date()
        });
        $("#ProposalSource").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
             optionLabel: "--All--",
			@* value: "@Model.Status",*@
        dataSource: {
            transport: {
                read: {
                    url: "/Cms/LOV/GetListOfValueList?type=IMS_PROPOSAL_SOURCE",
                    }
            }
        }
    });
          $("#Customer").kendoDropDownList({
            dataTextField: "CustomerName",
            dataValueField: "Id",
            optionLabel: "--All--",

            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCustomerList",
                    }
                }
            }
        });
        getDirectSalesData();
        $.contextMenu({
            selector: '#tree-menuBinUserRole',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');
                var proposalValue = $trigger.data('proposal');
                var status = $trigger.data('status');

                switch (0) {
                    case 0:
                        debugger;
                        var Items;
                        if (status == "SERVICE_STATUS_DRAFT") {
                            Items = {
                                "item": { name: "Items", icon: "fas fa-edit" },
                                "submit": { name: "Submit", icon: "fas fa-edit" },
                            };
                        }
                        else
                        {
                            Items = {
                                "salesOrder": { name: "Sales Order", icon: "fas fa-edit" },
                            }
                        }
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'item':
                                        onAddItem(id);
                                        break;

                                    case 'submit':
                                        OnSubmit(id);
                                        break;
                                    case 'salesOrder':
                                        onSalesOrder(id, proposalValue);
                                        break;

                                    default:
                                }
                            },
                            items: Items
                        };


                }
            }
        });


    });
    function AddDirectSales(e) {
        var Customer = $("#Customer").data("kendoDropDownList").value();
        if (Customer == null || Customer == '' || Customer == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Customer is required");
            e.preventDefault();
            return false;
        }
        else
        {
            var win = GetMainWindow();
          var Id = $("#Customer").data("kendoDropDownList").value();
          win.iframeOpenUrl = '@Url.Action("ManageDirectSales", "InventoryManagement", new { @area= "IMS" })?CustomerId=' + Id;
        win.OpenWindow({ Title: 'Manage Direct Sales', Width: 1000, Height: 800 });
        return false;
        }

    }
       function OnCreateUserRole() {


             var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("CreateUserRole", "UserRole", new { @area= "PortalAdmin" })';
          win.OpenWindow({ Title: 'Manage User Role', Width: 450, Height: 800 });
        return false;

    }
    function onSalesOrder(id,proposalValue)
    {
           var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("SalesOrder", "InventoryManagement", new { @area= "IMS" })?ServiceId=' + id + '&ProposalValue=' + proposalValue;
        win.OpenWindow({ Title: 'Add Sales Order', Width: 1000, Height: 800 });
        return false;
    }
    function onAddItem(id) {
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("AddItems", "InventoryManagement", new { @area= "IMS" })?ServiceId=' + id;
        win.OpenWindow({ Title: 'Add Items', Width: 1000, Height: 800 });
        return false;
    }

    function OnSubmit(id) {
        var flag = confirm('Do you really want to Submit?');

        if (flag) {
            $.ajax({
                url:'@Url.Action("SubmitSalesDetails", "InventoryManagement", new { @area= "IMS" })?ServiceId=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    debugger;
                    if (result.success) {
                        getDirectSalesData();
                        kendo.alert("Submitted Successfully.");
                    } else {
                        getDirectSalesData();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    getDirectSalesData();
                }
            });
            return false;
        }
    }
     function onUserEntityPermission(id) {
       // var dataItem = this.dataItem($(e.currentTarget).closest("tr"));-->

         var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ManageUserEntityPermission", "User", new { @area= "PortalAdmin" })?type=userRole&id=' + id;
        win.OpenWindow({ Title: 'Manage Permission', Width: 1000, Height: 1000 });
        return false;
    }

    function getDirectSalesData() {
        document.getElementById("DirectSalesGrid").innerHTML = "";
       gridConfig(
           "DirectSalesGrid",
           "/IMS/InventoryManagement/ReadDirectSalesData?Customer=" + $("#Customer").data("kendoDropDownList").value() + "&ProposalSource=" + $("#ProposalSource").data("kendoDropDownList").value() + "&WorkFlowStatus=$('input[WorkFlowStatus]:checked').val()" + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val(),
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }

    function OnSearch(e) {

        getDirectSalesData();
    }
</script>


   
    <h5>Search Criteria</h5>
    <div class="card ">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row col-12" style="padding:5px;">
            <div class="col-1" style="padding-bottom:10px;">
                <label>Customer<span class="required">*</span></label>
            </div>
            <div class="col-8" style="padding-bottom:10px;">
                <input type="text" asp-for="Customer" id="Customer" class="form-control" />
            </div>
            <div class="row col-3">
                @*<input type="radio" id="All" name="WorkflowStatus" value="All">
                <label>All</label><br>
                <input type="radio" id="Pending" name="WorkflowStatus" value="Pending">
                <label for="css">Pending</label><br>
                <input type="radio" id="Won" name="WorkflowStatus" value="Won">
                <label for="javascript">Won</label>*@
            </div>
        </div>
        <div class="row col-12" style="padding:5px;">
            <div class="col-1" style="padding-bottom:10px;">
                <label>From Date</label>
            </div>
            <div class="col-2" style="padding-bottom:10px;">
                <input type="text" asp-for="FromDate" id="FromDate" class="form-control" />
            </div>
            <div class="col-1" style="padding-bottom:10px;">
                <label>To Date</label>
            </div>
            <div class="col-2" style="padding-bottom:10px;">
                <input type="text" asp-for="ToDate" id="ToDate" class="form-control" />
            </div>
            <div class="col-1" style="padding-bottom:10px;">
                <label>Source</label>
            </div>
            <div class="col-2" style="padding-bottom:10px;">
                <input type="text" asp-for="ProposalSource" id="ProposalSource" class="form-control" />
            </div>
            <div class="col-3" style="text-align:right;">
                <input type="button" class="btn btn-primary" value="Search" style="margin:5px;" onclick="OnSearch()" />
                <input type="button" class="btn btn-warning" value="Add Direct Sale" style="margin:5px;color:white" onclick="AddDirectSales()" />
            </div>

        </div>
    </div>
        <div class="row">
            <h5>Direct Sales List</h5>
            <div class="col-12">
                @*<button type='button' class='btn btn-primary' onclick='OnCreateUserRole();'><i class='fa fas fa-plus'></i>&nbsp;Create User Role</button>
                <br /><br />*@
                <div id="DirectSalesGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            </div>
        </div>
 


