@using CMS.UI.ViewModel
@using CMS.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Direct Sales";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model SalesOrderViewModel

<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .avatar-mysign {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .bold {
        font: bold
    }
</style>

<div class="row" style="margin:10px;margin-bottom:60px;">

    <form asp-controller="InventoryManagement" asp-action="ManageSalesOrder" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>

        <fieldset>
            <legend style="margin-bottom:0px;">Customer Information</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Customer</label>
                    </div>
                    <div class="col-9" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.CustomerName)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Contact Person</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.ContactPerson)
                    </div>

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Mobile</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.MobileNo)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Contact No</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.ContactNo)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Email</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.EmailId)
                    </div>

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>PAN<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="PAN" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>TAN<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="TAN" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>GST No.<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="GSTNo" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>PIN No.<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="PINNo" class="form-control" />
                    </div>
                </div>
            </div>
        </fieldset>
        &nbsp;
        &nbsp;
        <fieldset>
            <legend style="margin-bottom:0px;">Project Information</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Summary</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.Summary)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Proposal Value</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.ProposalValue)
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Competition With</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @Html.DisplayFor(x => x.CompetitionWith)
                    </div>
                </div>
            </div>
        </fieldset>
        &nbsp;
        &nbsp;
        <fieldset>
            <legend style="margin-bottom:0px;">Order Information</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Order No.</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="OrderNo" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Order Date<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="OrderDate" id="OrderDate" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Base Value<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="BaseValue" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Tax Value<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="TAXValue" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Order Value<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="OrderValue" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Upload Order Document</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @*<input type="text" asp-for="OrderDocumentId" class="form-control" />*@
                        @*<input name="files" id="files" type="file" aria-label="files" />*@
                        <div id="orderDocFile" class="dm-uploader">
                            <h6 class=" text-muted">Drag &amp; drop files here</h6>

                            <div class="btn btn-primary btn-block ">
                                <span>Open the file Browser</span>
                                <input type="file" title='Click to add Files' />
                            </div>
                        </div>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Completion Date</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="CompletionDate" class="form-control" />
                    </div>
                </div>
            </div>
        </fieldset>
        &nbsp;
        &nbsp;
        <fieldset>
            <legend style="margin-bottom:0px;">Shipping Address</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Country</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="Country" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>State</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="State" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>City</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="City" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Address</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <textarea asp-for="Address" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row pad-10" style="float:right;">
            <input type="submit" class="btn btn-primary" value="Save" style="margin:5px;" onclick="OnSubmit()" />
            <input type="button" class="btn btn-warning" value="Close" style="margin:5px;" onclick="closeNav()" />
        </div>
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.DirectSalesId)
        @Html.HiddenFor(x => x.ServiceId)
        @Html.HiddenFor(x => x.OrderDocumentId)
    </form>
</div>

<script type="text/javascript">
    function uploadDocFile() {
        $("#orderDocFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
           // extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs 
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $("#OrderDocumentId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }
    function OnSubmit(e)
    {
        var PAN = $("#PAN").val();
        var TAN = $("#TAN").val();
        var GSTNo = $("#GSTNo").val();
        var PINNo = $("#PINNo").val();
        var OrderValue = $("#OrderValue").val();
        var BaseValue = $("#BaseValue").val();
        var TaxValue = $("#TAXValue").val();
        var OrderDate = $("#OrderDate").val();
        if (PAN == null || PAN == '' || PAN == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("PAN is required");
            e.preventDefault();
            return false;
        }
        if (TAN == null || TAN == '' || TAN == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("TAN is required");
            e.preventDefault();
            return false;
        }
        if (GSTNo == null || GSTNo == '' || GSTNo == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("GST No. is required");
            e.preventDefault();
            return false;
        }
        if (PINNo == null || PINNo == '' || PINNo == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("PIN No. is required");
            e.preventDefault();
            return false;
        }
        if (OrderValue == null || OrderValue == '' || OrderValue == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Order Value is required");
            e.preventDefault();
            return false;
        }
        if (BaseValue == null || BaseValue == '' || BaseValue == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Base Value is required");
            e.preventDefault();
            return false;
        }
        if (TaxValue == null || TaxValue == '' || TaxValue == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Tax Value is required");
            e.preventDefault();
            return false;
        }
        if (OrderDate == null || OrderDate == '' || OrderDate == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Order Date With is required");
            e.preventDefault();
            return false;
        }
    }
    $(document).ready(function () {
        $("#CompletionDate").kendoDatePicker({

        });
        $("#OrderDate").kendoDatePicker({

        });
        $("#Country").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.Country",
             optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: function (e)
            {
                $("#State").data("kendoDropDownList").dataSource.read({ CountryId: $("#Country").data("kendoDropDownList").value() });
            },
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCountryList",
                    }
                }
            }
        });

        $("#State").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            @*value: "@Model.State",*@
            filter: "contains",
            autoBind:false,
            change: function (e)
            {
                $("#City").data("kendoDropDownList").dataSource.read({ stateId: $("#State").data("kendoDropDownList").value()});
            },
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetStateList",
                    }
                }
            }
        });
         $("#City").kendoDropDownList({
            dataTextField: "Name",
             dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: "@Model.City",
             filter: "contains",
             autoBind: false,
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCityList",
                    }
                }
            }
         });


        uploadDocFile();




    });


        var onAjaxSuccess = function (res) {
            if (res.success) {
                closeNav()
        }
        else {
            alert(res)
            showError(res.error);
        }
    };


    function closeNav() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function onFileUploadSuccess(e) {
        //
        if (e.response.success) {
            // alert(e.response.fileId);
            //console.log(e);
            // set file id to hdden fileid proprty
            $.ajax({
                url: "/user/ChangeUserProfilePhoto?photoId=" + e.response.fileId,
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
                success: function (response) {
                   //
                    $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
                    $("#PhotoId").val(e.response.fileId);
                }
            });

        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onFileUploadSuccess1(e) {
        //
        if (e.response.success) {
            // alert(e.response.fileId);
            //console.log(e);
            // set file id to hdden fileid proprty
            $.ajax({
                url: "/user/ChangeUserSignature?photoId=" + e.response.fileId,
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
                success: function (response) {
                    //
                    $(".avatar-mysign").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
                    $("#SignatureId").val(e.response.fileId);
                }
            });

        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }
    function onProfileDel() {
        //
        //  $('#dlg_DeleteConfirmation').data("kendoDialog").open();

        if ( $("#PhotoId").val()!='') {
         //
            kendo.confirm("Are you sure that you want to proceed?").then(function () {
                confirmDelete();
            }, function () {

            });
        }

    }
    function onSignatureDel() {
        //
        //  $('#dlg_DeleteConfirmation').data("kendoDialog").open();

        if ($("#SignatureId").val() != '') {
            //
            kendo.confirm("Are you sure that you want to proceed?").then(function () {
                $(".avatar-mysign").attr("src", "/images/200.png");
                $("#SignatureId").val('');
                var logoupload = $("#files2").data("kendoUpload");
                //console.log(logoupload);
                logoupload.clearFile(function (file) { return true; });
            }, function () {

            });
        }

    }

    function confirmDelete() {
     //
        //        alert("Banner Delete");
        $(".avatar-myProfile").attr("src", "/images/200.png");
        $("#PhotoId").val('');
        var logoupload = $("#files").data("kendoUpload");
        //console.log(logoupload);
        logoupload.clearFile(function (file) { return true; });
    }
    //function OnSave(event) {
    //    debugger;
    //    var multiSelect = $("#UserRoles").data("kendoMultiSelect");
    //    var value = multiSelect.value();

    //   // $("#UserRoles").kendoMultiSelect.Data(Read);

    //}
</script>

