@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model FormTemplateViewModel;
@{
    //Layout = string.Concat("~/Areas/Core/Views/Shared/Themes/", Model.Page.Portal.Theme.ToString(), "/_Layout.cshtml");
    Layout = null;
}
<style>
     @Model.Page.Css
</style>
<script>
    $(document).ready(function () {

    });
    function SaveData() {
        var isValid = frm.checkValidity(frm.submission.data);
        if (isValid) {
            $("#Json").val(JSON.stringify(frm.submission.data, null, 4));
            return true;
        }
        else {
            frm.submit();
        }
        return false;
    }
</script>
<div class="pad-15">
    <form asp-controller="Home" asp-action="ManageForm" method="post" class="form-horizontal">
        <div id="formio-container"></div>
        @Html.HiddenFor(x => x.Json)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TemplateId)
        @Html.HiddenFor(x => x.PageId)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.RecordId)
        @Html.HiddenFor(x => x.PortalName)

        <div class="cms-footer">
            <div class="col-sm-12" style="text-align:right;">
                @if (Model.EnableSaveButton)
                {
                    <button type="submit" class="btn btn-primary" onclick="return SaveData();">@Model.SaveButtonText.ToDefaultSaveButtonText()</button>
                }
                @if (Model.EnableBackButton)
                {
                    <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">@Model.BackButtonText.ToDefaultBackButtonText()</button>
                }

            </div>
        </div>
    </form>
</div>





