@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Kendo.Mvc.UI;
@model PayrollRunResultViewModel
@{
    ViewData["Title"] = "Payroll Run Result";
    //Layout = null;
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<script>    

    function OnEditDependant(e) {
        
        //e.preventDefault();
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //var portalId = $('#GlobalPortalId').val();

        //var url = '/Cms/Page?lo=Popup&cbm=AfterCreateDependent&source=Versioning&dataAction=Edit&pageName=Dependent&portalId=' + portalId + '&recordId=' + dataItem.id;

        //var win = GetMainWindow();
        //win.iframeOpenUrl = url;
        //win.OpenWindow({ Title: 'Manage Dependent', Width: 1200, Height: 600 });
        //return false;
    }

    function OnCreatePayrollBatch() {
        var url = '/Pay/PayrollBatch/ManagePayrollBatch';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Create Payroll Batch', Width: 450, Height: 750, Position: 'Right' });
        //var url = "/pay/payrollrun/GetPayrollClosedCount";
        //$.ajax({
        //    url: url,
        //    type: 'GET',
        //    cache: false,
        //    async: false,
        //    success: function (data) {
        //        
        //        if (data.success) {
        //            //alert(data);
        //            var url = '/Pay/PayrollBatch/ManagePayrollBatch';
        //            var win = GetMainWindow();
        //            win.iframeOpenUrl = url;
        //            win.OpenWindow({ Title: 'Create Payroll', Width: 450, Height: 750, Position: 'Right' });
        //        } else {
        //            kendo.alert("Please close all existing payroll before creating new payroll.");
        //        }
        //    }
        //});
        return false;

    }
    

    function AfterCreatePayrollBatch() {
        $("#kgrdPayrollBatch").data("kendoGrid").dataSource.read();
    }

    function onTabSelect(e) {
        SetTabControls($(e.item).index(), false);
    }
    function SetTabControls(index, select) {
        var tabStrip = $("#tabstripTemplate").data("kendoTabStrip");
        if (select) {
            tabStrip.select(index);
        }
    }
    
</script>

<style>
    .fa-plus {
        margin-top: 5px;
    }
</style>

<div style="padding:15px;">    
    <div class="row-12">
        @(Html.Kendo().TabStrip()
                 .Name("tabstripTemplate")
                 .Events(e => e.Select("onTabSelect"))
                 .Items(tabstrip =>
                 {
                     if (ViewBag.ResultOnly == false)
                     {
                         tabstrip.Add().Text("Manage Payroll Batch").Selected(true)
                         .LoadContentFrom(Url.Content(string.Concat("/Pay/PayrollRun/Manage?payrollId=", Model.PayrollId, "&id=", Model.PayrollRunId)));

                         tabstrip.Add().Text("Payroll Run Result")
                         .LoadContentFrom(Url.Content(string.Concat("/Pay/PayrollRunResult/PayrollResult?payrollRunId=", Model.PayrollRunId, "&payrollId=", Model.PayrollId)));
                                                  
                     }
                     else
                     {
                         tabstrip.Add().Text("Payroll Run Result").Selected(true)
                         .LoadContentFrom(Url.Content(string.Concat("/Pay/PayrollRun/Manage?payrollId=", Model.PayrollId, "&id=", Model.PayrollRunId)));

                     }
                     // tabstrip.Add().Text("Payroll Daily Run Result").LoadContentFrom(Url.Content(string.Concat("~/Pay/PayrollRunResult/PayrollDailyRunResult?payrollRunId=", Model.PayrollRunId, "&payrollId=", Model.PayrollId)));

                     //tabstrip.Add().Text("Attendance").Content(@Html.Partial("~/Areas/Rpt/Views/taareport/_EmployeeAttendanceGrid.cshtml").ToHtmlString());
                     //tabstrip.Add().Text("End Of Service Accrual").Content(@Html.Partial("~/Areas/Rpt/Views/PayrollReport/_EosAccrualGrid.cshtml").ToHtmlString());
                     //tabstrip.Add().Text("Vacation Accrual").LoadContentFrom(Url.Content(string.Concat("~/Rpt/PayrollReport/VacationAccrualView?payrollId=", Model.PayrollId)));
                     //tabstrip.Add().Text("Flight Ticket Accrual").Content(@Html.Partial("~/Areas/Rpt/Views/PayrollReport/_FlightTicketAccrualGrid.cshtml").ToHtmlString());
                     //tabstrip.Add().Text("Loan Accrual").Content(@Html.Partial("~/Areas/Rpt/Views/PayrollReport/_LoanAccrualGrid.cshtml").ToHtmlString());

                 }

    ))
        @Html.HiddenFor(x => x.PayrollRunId)
        @Html.HiddenFor(x => x.YearMonth)
        @Html.HiddenFor(x => x.Year)
        @Html.HiddenFor(x => x.Month)
        @Html.HiddenFor(x => x.PayrollId)
    </div>
</div>

