@inject IStringLocalizer<CMS.UI.Web.Areas.CHR.Controllers.HRCoreController> Resource
@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@using Kendo.Mvc.UI
@using Synergy.App.Common


@model JobDetViewModel
@{
    /**/

    ViewBag.Title = "";
    Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    //  Layout = null;
}

<style>
    body {
        margin-top: 20px;
        background: #6c757d;
        color: #6c757d !important;
    }

    .panel.panel-default {
        border-top-width: 3px;
    }

    .panel {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
        border: 0;
        border-radius: 4px;
        margin-bottom: 16px;
    }

    .thumb96 {
        width: 96px !important;
        height: 96px !important;
    }

    .thumb48 {
        width: 48px !important;
        height: 48px !important;
    }
</style>
@*<style>
    .rowChange {
        /*padding: 6px;
        border: 1px;
        border-style: solid;
        border-color: #bfbfbf;
        text-align: left;
        width:5px;*/
        width: 200px;
    }

    .control-label {
        font-size: 25px;
        font-weight: bold;
    }


    .control-label {
        font-size: 22px;
        font-weight: bold;
    }

    .divlast {
        font-size: 22px;
    }
</style>*@


<div class="container bootstrap snippets bootdey">
    <div class="row ng-scope">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="h5 text-center">@Resource["JobDescription"]</div>

                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">

                            <tr>
                                <td class="rowChange" style="width:32%;">@Resource["Organization"]</td>
                                <td class="rowChange"><span class="badge">@Model.DepartmentName</span></td>

                                

                            </tr>
                            <tr>
                                <td class="rowChange">@Resource["JobTitle"]</td>
                                <td class="rowChange"><span class="badge">@Model.JobTitle</span></td>
                                
                            </tr>
                            <tr>
                                <td class="rowChange">@Resource["JobDescription"]</td>
                                <td class="rowChange"><span class="badge">@Model.JobDescription</span></td>
                                
                            </tr>

                            <tr>
                                <td class="rowChange">@Resource["Responsibility"]</td>
                                <td class="rowChange"><span class="badge">@Model.Responsibility</span></td>
                                
                            </tr>



                        </table>
                    </div>

                    <div class="row pv-lg">
                        <div class="col-lg-2"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<body>
    <section class="about">
        <div class="k-edit-form-container right" style="width: 100%;">
            <div class="panel panel-default">

                <br />

                <div class="row">

                    <div class="form-group col-xs-12 col-sm-6">
                        <div class="d-flex justify-content-start">


                            <label class="control-label">@Resource["Organization"]:</label>
                            <div class="col-sm-8 divlast">
                                @Html.DisplayFor(x => x.DepartmentName)
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-xs-12 col-sm-6">
                        <div class="d-flex justify-content-start">
                            <label class="control-label">@Resource["JobTitle"]</label>
                            <div class="col-sm-8 divlast">
                                @Html.DisplayFor(x => x.JobTitle)
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <div class="d-flex justify-content-start">
                            <label class="control-label">@Resource["JobDescription"]</label>
                            <div class="col-sm-8 divlast">
                                @Html.DisplayFor(x => x.JobDescription)
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <div class="d-flex justify-content-start">
                            <label class="control-label">@Resource["Responsibitiy"]</label>
                            <div class="col-sm-8 divlast">
                                @Html.DisplayFor(x => x.Responsibility)
                            </div>
                        </div>

                    </div>






                </div>
            </div>

        </div>
    </section>
</body>*@