
@model CMS.UI.Web.Controllers.TestModel
@{
    Layout = null;
}
<form asp-action="Index" asp-controller="Test" asp-area="core">
    <label asp-for="@Model.Id" /><br />
    <input asp-for="@Model.Id" />
    <label asp-for="@Model.Name" /><br />
    <input asp-for="@Model.Name" /><br />
    @*<input asp-for="@Model.Date" value="@culture.GetLocalNow" />
        <label asp-for="@Model.NullableDate" /><br />
        <input asp-for="@Model.NullableDate" value="@culture.GetLocalNow" /><br />*@
    <input type="submit" />
</form>  