@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Manage Candidate Experience";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model CandidateProjectViewModel

<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
    .cms-managecandedu-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

    <form asp-controller="CandidateProfile" asp-action="ManageCandidateProject" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px"></div>
        <div class="row" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SequenceOrder" type="number" min="0" step="any" class="form-control" placeholder="Sl No" autocomplete="off" style="width:80%;" required="required" />
                    <label for="SequenceOrder"> Sl No <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Currency" type="text" class="form-control" placeholder="Currency" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Currency"> Currency <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Value" type="number" class="form-control" placeholder="Value" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Value">Value <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Client" type="text" class="form-control" placeholder="Client" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Client">Client <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Consultant" type="text" class="form-control" placeholder="Consultant" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Consultant">Consultant <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="ConstructionPeriodFrom" id="from" type="date" class="form-control" placeholder="ConstructionPeriodFrom" autocomplete="off" style="width:80%;" required="required" />
                    <label for="ConstructionPeriodFrom">Construction Period From <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="ConstructionPeriodTo" id="to" type="date" class="form-control" placeholder="ConstructionPeriodTo" autocomplete="off" style="width:80%;" required="required" />
                    <label for="ConstructionPeriodTo">Construction Period To <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Position" type="text" class="form-control" placeholder="Position" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Position">Position <span class="required">*</span></label>
                </div>
            </div>
          @*  <div class="col-12 pad-10">
                <div class="form-label-group">
                    <textarea asp-for="Description" type="text" class="form-control" placeholder="" autocomplete="off" style="width:80%;" required="required"></textarea>
                    <label for="Description">Description</label>
                </div>
            </div>*@
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="Description">Description </label>
                    </div>
                    <textarea asp-for="Description" class="form-control" placeholder="Description" autocomplete="off" style="width:80%; height:150px;" ></textarea>
                    @*<label for="Responsibilities">Responsibilities</label>*@
                </div>
            </div>







            <div class="col-12 pad-15">
                &nbsp;
            </div>

            <div class="cms-slidebar-footer">
                <input type="button" class="btn btn-light" value="Close" onclick="closeNavMemberGroup()" />
                <input type="submit" class="btn btn-primary" value="Save" onclick="OnSave(event)"/>
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.CandidateProfileId)
     
        @Html.HiddenFor(x => x.IsLatest)
    </form>
</div>

<script type="text/javascript">

   $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
          //  window.parent.parent.$("#kgrdCandidateProject").data("kendoGrid").dataSource.read();
            closeNavMemberGroup();
        }

    });

    function closeNavMemberGroup() {
       // window.parent.CloseIframePopup();
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: 'RefreshCPRO' });
        return false;
    }

    function OnSave(evt) {
        
        
        var from = $(document.getElementById("from")).val();
        var to = $(document.getElementById("to")).val();

        if (from != "" && to != "") {
            if (new Date(to) > new Date(from)) {

                $(".text-danger").html("");
                $(".text-danger").removeClass("validation-summary-errors");
                $(".text-danger").addClass("validation-summary-valid");

            } else {
                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html("Construction Period To date should be greater than Construction Period From date");
                window.scrollTo(0, 0);
                evt.preventDefault();
                return false;
            }
        }
    }
</script>

