@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Documents";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model CandidateProfileViewModel

<style>

    .label {
        padding-top: 10px;
        padding-left: 10px;
    }
    .btn {
        color: blue!important;
        cursor: pointer;
    }
</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <br />
    @*@if (Model.PassportAttachmentId != null)
    {*@
        <div class="col">
            <div class="row">
                <div class="col-4 label">
                    Copy Of Passport
                </div>
                <div class="col-6">
                  
                    @if (Model.PassportAttachmentId != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.PassportAttachmentId')" style="padding-left:10px;" title="Download"><i class="fas fa-download"></i> @Model.PassportAttachmentName</a>
                            <a class="btn " onclick="ViewAttachment('@Model.PassportAttachmentId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                        @if (Model.PassportAttachmentId2 != null)
                        {
                            <div class="row">
                                <a class="btn " onclick="onDownload('@Model.PassportAttachmentId2')" style="padding-left:10px;" title="Download"><i class="fas fa-download"></i> @Model.PassportAttachmentName2</a>
                                <a class="btn " onclick="ViewAttachment('@Model.PassportAttachmentId2');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                            </div>
                        }
                        @if (Model.PassportAttachmentId3 != null)
                        {
                            <div class="row">
                                <a class="btn " onclick="onDownload('@Model.PassportAttachmentId3')" style="padding-left:10px;" title="Download"><i class="fas fa-download"></i> @Model.PassportAttachmentName3</a>
                                <a class="btn " onclick="ViewAttachment('@Model.PassportAttachmentId3');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                            </div>
                        }
                        @if (Model.PassportAttachmentId4 != null)
                        {
                            <div class="row">
                                <a class="btn " onclick="onDownload('@Model.PassportAttachmentId4')" style="padding-left:10px;" title="Download"><i class="fas fa-download"></i> @Model.PassportAttachmentName4</a>
                                <a class="btn " onclick="ViewAttachment('@Model.PassportAttachmentId4');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                            </div>
                        }
                        @if (Model.PassportAttachmentId5 != null)
                        {
                            <div class="row">
                                <a class="btn " onclick="onDownload('@Model.PassportAttachmentId5')" style="padding-left:10px;" title="Download"><i class="fas fa-download"></i> @Model.PassportAttachmentName5</a>
                                <a class="btn " onclick="ViewAttachment('@Model.PassportAttachmentId5');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                            </div>
                        }
                    
                </div>
            </div>
        </div>
        <br />
    @*}*@
    @*@if (Model.AcademicCertificateId != null)
    {*@
        <div class="col">
            <div class="row">
                <div class="col-4 label">
                    Copy Of Academic Certificate
                </div>
                <div class="col-6">
                    @if (Model.AcademicCertificateId != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.AcademicCertificateId')" title="Download"><i class="fas fa-download"></i> @Model.AcademicCertificateName</a>
                            <a class="btn" onclick="ViewAttachment('@Model.AcademicCertificateId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                    @if (Model.AcademicCertificateId2 != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.AcademicCertificateId2')" title="Download"><i class="fas fa-download"></i> @Model.AcademicCertificateName2</a>
                            <a class="btn" onclick="ViewAttachment('@Model.AcademicCertificateId2');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                    @if (Model.AcademicCertificateId3 != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.AcademicCertificateId3')" title="Download"><i class="fas fa-download"></i> @Model.AcademicCertificateName3</a>
                            <a class="btn" onclick="ViewAttachment('@Model.AcademicCertificateId3');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                    @if (Model.AcademicCertificateId4 != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.AcademicCertificateId4')" title="Download"><i class="fas fa-download"></i> @Model.AcademicCertificateName4</a>
                            <a class="btn" onclick="ViewAttachment('@Model.AcademicCertificateId4');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                    @if (Model.AcademicCertificateId5 != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.AcademicCertificateId5')" title="Download"><i class="fas fa-download"></i> @Model.AcademicCertificateName5</a>
                            <a class="btn" onclick="ViewAttachment('@Model.AcademicCertificateId5');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <br />
    @*}*@
    @*@if (Model.OtherCertificateId != null)
    {*@
        <div class="col">
            <div class="row">
                <div class="col-4 label">
                    Copy Of Other Certificates
                </div>
                <div class="col-6">
                    @if (Model.OtherCertificateId != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.OtherCertificateId')" title="Download"><i class="fas fa-download"></i> @Model.OtherCertificateName</a>
                            <a class="btn" onclick="ViewAttachment('@Model.OtherCertificateId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                    @if (Model.OtherCertificateId2 != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.OtherCertificateId2')" title="Download"><i class="fas fa-download"></i> @Model.OtherCertificateName2</a>
                            <a class="btn" onclick="ViewAttachment('@Model.OtherCertificateId2');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                    @if (Model.OtherCertificateId3 != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.OtherCertificateId3')" title="Download"><i class="fas fa-download"></i> @Model.OtherCertificateName3</a>
                            <a class="btn" onclick="ViewAttachment('@Model.OtherCertificateId3');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                    @if (Model.OtherCertificateId4!= null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.OtherCertificateId4')" title="Download"><i class="fas fa-download"></i> @Model.OtherCertificateName4</a>
                            <a class="btn" onclick="ViewAttachment('@Model.OtherCertificateId4');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                    @if (Model.OtherCertificateId5 != null)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@Model.OtherCertificateId5')" title="Download"><i class="fas fa-download"></i> @Model.OtherCertificateName5</a>
                            <a class="btn" onclick="ViewAttachment('@Model.OtherCertificateId5');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }

                </div>
            </div>
        </div><br />
    @*}*@
    @if (Model.ResumeId != null)
    {
        <div class="col">
            <div class="row">
                <div class="col-4 label">
                    Copy Of Recent CV
                </div>
                <div class="col-6">
                    <div class="row">
                        <a class="btn " onclick="onDownload('@Model.ResumeId')" title="Download"><i class="fas fa-download"></i> @Model.ResumeAttachmentName</a>
                        <a class="btn" onclick="ViewAttachment('@Model.ResumeId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                    </div>
                </div>
            </div>
        </div><br />
    }
    @if (Model.CoverLetterId != null)
    {
        <div class="col">
            <div class="row">
                <div class="col-4 label">
                    Copy Of Offer Letter & Salary Slip
                </div>
                <div class="col-6">
                    <div class="row"></div>
                    <a class="btn " onclick="onDownload('@Model.CoverLetterId')" title="Download"><i class="fas fa-download"></i> @Model.CoverLetterAttachmentName</a>
                    <a class="btn" onclick="ViewAttachment('@Model.CoverLetterId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                </div>
            </div>
        </div>
    }
    @if (Model.AppExperienceDoc != null && Model.AppExperienceDoc.Count>0)
    {
        <div class="col">
            <div class="row">
                <div class="col-4 label">
                    Experience Documents
                </div>
                <div class="col-6">
                    @*<a class="btn " onclick="onDownload('@Model.CoverLetterId')" title="Download"><i class="fas fa-download"></i> @Model.CoverLetterAttachmentName</a>
                        <a class="btn" onclick="ViewAttachment('@Model.CoverLetterId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>*@
                    @foreach (var item in Model.AppExperienceDoc)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@item.AttachmentId')" title="Download"><i class="fas fa-download"></i> @item.AttachmentName</a>
                            <a class="btn" onclick="ViewAttachment('@item.AttachmentId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    @if (Model.ExperienceDoc != null && Model.ExperienceDoc.Count > 0)
    {
        <div class="col">
            <div class="row" style="border-style:groove;border-width:1px;">
                <div class="col-4 label">
                    Experience Documents
                </div>
                <div class="col-6">
                    @*<a class="btn " onclick="onDownload('@Model.CoverLetterId')" title="Download"><i class="fas fa-download"></i> @Model.CoverLetterAttachmentName</a>
                        <a class="btn" onclick="ViewAttachment('@Model.CoverLetterId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>*@
                    @foreach (var item in Model.ExperienceDoc)
                    {
                        <div class="row">
                            <a class="btn " onclick="onDownload('@item.AttachmentId')" title="Download"><i class="fas fa-download"></i> @item.AttachmentName</a>
                            <a class="btn" onclick="ViewAttachment('@item.AttachmentId');" title="Preview"><i class="fas fa-eye"></i> Preview</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    function closeNavCandExpByNature() {
       // window.parent.CloseIframePopup();
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function onDownload(docId) {
        window.location.href = '/cms/Document/GetFileMongo?fileId=' + docId;
        return false;
    }
      function ViewAttachment(id)
      {

       @*window.parent.iframeOpenUrl = '@Url.Action("ViewAttachment", "Task", new { @area= "Cms" })?fileId=' + id;
          window.parent.OpenIframePopup2(1000, 1000, 'View Attachment');*@
           var win = GetMainWindow();
          win.iframeOpenUrl = '@Url.Action("ViewAttachment", "Task", new { @area= "Cms" })?fileId=' + id;
          win.OpenWindow({ Title: 'View Attachment', Width: 1000, Height: 1000 });
        return false;
    }

</script>

