@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "New Employment Approval";
    Layout = "/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
}

@model AppointmentApprovalRequestViewModel

<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        
    }

    .required {
        color: red;
    }
    .cms-managecandedu-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

</style>
<script>

    var onAjaxSuccess = function (res) {
        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("Saved Successfully", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("Updated Successfully", "success");
            }            
        }
        else {
            alert(res)
            showError(res.error);
        }
    };

</script>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

    <form asp-controller="Template" asp-action="ManageCustom" class="form-horizontal"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">

        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">

            <div class="container">
                <div class="row">
                    <div class="col header-box">
                        <div class="title-bg">
                            <div class="row">
                                <div class="col-sm-5 col-xl-3 white-col"><img class="logo-galfar" src="~/images/Galfar-logo.png"></div>
                                <div class="col-sm-7 col-xl-9 white-col">
                                    <h4 class="galfar-caption">Galfar Al Misnad<br>Engineering &amp; Contracting WLL</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col content-box">
                        <div class="row">
                            <div class="col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
                                <h6 class="text-left text-center">Ref.&nbsp;&nbsp;<input class="form-control-sm" type="text" value="HRM-III-F-03-REV.1"><br></h6>
                            </div>
                            <div class="col-12 col-sm-2 col-md-auto col-lg-4 col-xl-4"></div>
                            <div class="col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
                                <h6 class="text-right text-center">Date:&nbsp;&nbsp;<input class="form-control-sm" type="text" value="9th Feb, 2021.">&nbsp;</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="text-center">APPROVAL FOR APPOINTMENT OF NEW EMPLOYEE<br></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Name of the selected candidate<br></label></div>
                                    <div class="col">
                                        <input asp-for="SelectedCandidate" type="text" class="norm-input form-control" autocomplete="off" required="required" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Selected through<br></label></div>
                                    <div class="col"><input asp-for="SelectedSource" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Interview conducted by<br></label></div>
                                    <div class="col"><input asp-for="InterviewConductedBy" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Interview venue &amp; date&nbsp;<br>(If telephonic, please mention the same)<br></label></div>
                                    <div class="col-4"><input asp-for="InterviewVenue" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                                    <div class="col-4">
                                        @Html.Kendo().DateTimePickerFor(x => x.InterviewDateTime).HtmlAttributes(new { @style = "width:100%; height:32px", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Position to which selected<br></label></div>
                                <div class="col"><input asp-for="PositionToWhichSelected" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Selected against a vacancy or a new post<br></label></div>
                                <div class="col"><input asp-for="SelectedAgainstVacanceOrNewPost" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">If a new post created, justification<br></label></div>
                                <div class="col"><input asp-for="JustificationCommentForNewPost" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><label class="col-form-label">Briefly describe how he (selected candidate)suits to the post based on the job description<br></label></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><textarea asp-for="Comments" class="remarks form-control"></textarea></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Salary accepted (Basic &amp; Prof. Allow.)<br></label></div>
                                <div class="col"><input asp-for="AcceptedSalary" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Status – Bachelor / Family<br></label></div>
                                <div class="col"><input asp-for="FamilyStatus" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Leave cycle<br></label></div>
                                @*<div class="col"><label class="col-form-label">:&nbsp;As per Company Policy<br></label></div>*@
                                <div class="col"><input asp-for="LeaveCycle" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Other benefits, if any<br></label></div>
                                @*<div class="col"><label class="col-form-label">:&nbsp;Grade -<br></label></div>*@
                                <div class="col"><input asp-for="OtherBenefits" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><label class="col-form-label">Remarks by HR Department /Divisional Head/HOD<br></label></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><textarea asp-for="RemarksByHr" class="remarks form-control"></textarea></div>
                            </div>

                            @*<div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Interviewed by (Name &amp; Designation)<br></label></div>
        <div class="col"><input asp-for="InterviewdBy" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col"><input asp-for="HeadHR" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
            </div>
            <div class="row">
                <div class="col text-center"><label class="col-form-label">Head - HR</label></div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><input asp-for="HeadPlanning" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
            </div>
            <div class="row">
                <div class="col text-center"><label class="col-form-label">Head Planning</label></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Divisional Head/HOD<br></label></div>
        <div class="col"><input asp-for="DivisionalHead" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-4"><label class="col-form-label">Executive Director<br></label></div>
        <div class="col"><input asp-for="ExecutiveDirector" type="text" class="norm-input form-control" autocomplete="off" required="required" /></div>
    </div>*@

                            <div class="cms-managecandedu-footer">
                                <input type="button" class="btn btn-light" value="Close" />
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.ApplicationId)  
       
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
          //  
            closeNavCandDL();
            window.parent.$("#kgrdCandDrivingLicense").data("kendoGrid").dataSource.read();            
        }
    });

    function closeNavCandDL() {
       // window.parent.CloseIframePopup();
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function OnSave(evt) {

        if ($("#CountryId").val() == "") {
            //  
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Country is required");
            evt.preventDefault();
            return false;
        }
        else if ($("#LicenseType").val() == "")
        {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("License type is required");
            evt.preventDefault();
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
        }
    }
   
</script>

