
@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Manage Job Criteria";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model JobCriteriaViewModel

<div class="row" style="margin-left:15px;">

    <form asp-controller="JobAdvertisement" asp-action="ManageJobCriteria" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">


            <div class="col-12 pad-10">
                @*<input asp-for="Name" type="text" class="form-control" placeholder="Name" required="required" autocomplete="off" width="300" />*@
                <div class="form-label-group">
                    <input asp-for="Criteria" type="text" class="form-control" placeholder="Criteria" required="required" autocomplete="off" style="width:80%" />
                    <label for="Criteria">Criteria<span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                @*<input asp-for="Email" type="email" class="form-control" placeholder="Email" autocomplete="off" width="300" />*@
                <div class="form-label-group">
                    <input asp-for="Weightage" type="text" class="form-control" placeholder="Weightage" required="required" autocomplete="off" style="width:80%" />
                    <label for="Weightage">Weightage<span class="required">*</span></label>
                </div>
            </div>

            <!--<div class="col-12 pad-10">-->
                @*<input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="off" width="300" />*@
                <!--<div class="form-label-group">
                    <input type="text" asp-for="Type" class="form-control" placeholder="Type" autocomplete="off" required="required" style="width:80%" />
                    <label for="Type">Type</label>
                </div>
            </div>-->

            <div class="col-12 pad-10">
                @*<input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="off" width="300" />*@
                <div class="form-label-group">
                    @*<input type="text" asp-for="CriteriaType" class="form-control" placeholder="CriteriaType" autocomplete="off" style="width:80%" />*@
                    <div>
                        <label for="CriteriaType">CriteriaType</label>
                    </div>
                    @(Html.Kendo().DropDownListFor(x=>x.CriteriaType)
                       .DataTextField("Name")
                                    .DataValueField("Id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetListOfValue", "JobAdvertisement", new { Type = "CRITERIATYPE" });
                                          });
                                      })
                           .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                           .HtmlAttributes(new { @class="text-box-property", style = "width:80%" })
                        )
                </div>
            </div>



            <div class="cms-slidebar-footer">
                <input type="button" class="btn btn-light" value="Close" onclick="closeNav()" />
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.JobAdvertisementId)
        @Html.HiddenFor(x => x.Type)

    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
          //  
            closeNav();
            window.parent.$("#JobCriteria").data("kendoGrid").dataSource.read();
        }
    });

    function closeNav() {
       // window.parent.CloseIframePopup();
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

  

   
</script>

