@using Kendo.Mvc.UI;
@model CMS.UI.ViewModel.SwitchProfileViewModel
@{
    ViewBag.Title = "Switch Profile";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<form asp-controller="Account" asp-action="SwitchProfile" method="post" class="form-horizontal" data-ajax="true" data-ajax-success="onAjaxSuccess">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div id="appWrapper" class="hr-pad-10">
        @*<div class="formHeader">
                <h4>
                    @ViewBag.Title
                </h4>
                      <hr />
            </div>*@
        <div class="row no-gutter hr-pad-top-15">

            <div class="col-sm-12">
                <div class="col-sm-12 col-lg-3 label-div">
                    <span class="required">*</span>
                    @Html.LabelFor(m => m.SwitchToUserId, new { @class = "control-label" })

                </div>

                <div class="col-sm-12 col-lg-9">
                    <style>
                        #SwitchToUserId-list .k-item {
                            width: 100%;
                            background-color: #fff;
                            padding-top: 3px;
                            padding-bottom: 3px;
                            border-bottom: 1px solid #f2f2f2;
                            border-collapse: collapse;
                        }

                            #SwitchToUserId-list .k-item:hover {
                                background-color: rgb(182,189,202);
                            }

                        #SwitchToUserId-list .k-state-selected, #SwitchToUserId-list .k-state-selected:hover {
                            background-color: #1984c8;
                            border-color: #1984c8;
                        }
                    </style>
                    <script>
                            function UserValueMapper(options) {
                                $.ajax({
                                    url: "@Url.Action("GetSwitchUserValueMapper", "Account")",
                                    data: {
                                          value: $("#SwitchToUserId").val() || 0
                                    },
                                    success: function (data) {
                                        options.success(data);
                                    }
                                });
                            }
                    </script>
                    @*@(Html.Kendo().DropDownListFor(x => x.SwitchToUserId)
                                        .OptionLabel("Select")
                                        .Filter(FilterType.Contains)
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Height(300)
                                        .TemplateId("drp-user-template")
                                        //.ValueTemplateId("drp-user-value-template")
                                        .HtmlAttributes(new { @class = "hr-xxl-large drp-user" })
                                        .DataSource(source =>
                                        {
                                            source.Custom()
                                                .ServerFiltering(false)
                                                .ServerPaging(false)
                                                .PageSize(100)
                                                .Type("aspnetmvc-ajax")
                                                .Transport(transport =>
                                                {
                                                    transport.Read("GetSwitchToUserVirtualData", "Account");
                                                })
                                                .Schema(schema =>
                                                {
                                                    schema.Data("Data")
                                                    .Total("Total");
                                                });
                                        })
                                        .Virtual(v => v.ItemHeight(100).ValueMapper("UserValueMapper"))
        )*@

                    <input asp-for="SwitchToUserId" id="SwitchToUserId" class="hr-xxl-large drp-user" />

                    <script type="text/x-kendo-tmpl" id="drp-user-template">
                          <div class="row no-gutter pb-1 pt-1">
                              <div class="col-2">
                              #if(data.PhotoId!=null)
                                  {#<img class="avatar-drp-profile" src="/user/profilephoto?id=#:data.PhotoId#"  /> #}
                              else
                                  {#<img class="avatar-drp-profile" style="background-color:gray;" src="/images/profile.jpg" />#}#
                             </div>
                             <div class="col-10">
                                <div class="col-12">
                                  <span style="padding:5px;">#:Name#</span></div>
                                <div class="col-12">
                                  #if (data.Email!=null)
                                      {#<span style="padding:5px;font-size:12px;">#:Email#</span>  # } #
                                </div>
                             </div>
                        </div>
                    </script>

                </div>

            </div>
        </div>
        <hr />
        <div class="row">           
            <div class="col-md-12" style="text-align:right;">
                @*@Html.Kendo().Button().Name("btnCancel").Content("Cancel").Icon("cancel").Events(x => x.Click("OnSwitchProfileCancel")).HtmlAttributes(new { @type = "button" })*@
                @*@Html.Kendo().Button().Name("btnSubmit").Content("Switch Profile").Icon("check-outline").HtmlAttributes(new { @class = "k-primary" })*@
                <button type="submit" id="btnSubmit" class="btn btn-primary" icon="check-outline">Switch Profile</button>
                <script type="text/javascript">
                    function OnSwitchProfile() {
                        return window.top.OnSwitchProfileRefresh();
                    }

                </script>
                @Html.HiddenFor(x => x.LoggedInAsType)
            </div>
        </div>

    </div>
    @(Html.Kendo().Dialog()
                                                                        .Name("SwitchProfile")
                                                                        .Title("Switch Profile")
                                                                        .Content("Profile switched successfully")
                                                                        .Width(350)
                                                                        .Height(250)
                                                                        .Modal(true)
                                                                        .Visible(false)
                                                                        .Actions(actions =>
                                                                        {
                                                                            actions.Add().Text("OK").Primary(true).Action("OnSwitchProfile");
                                                                        })
            //.Events(ev => ev.Close("onVersionDialogueClose").Open("onVersionDialogueOpen"))
    )

</form>
<script type="text/javascript">
        $(document).ready(function () {


        $("#SwitchToUserId").kendoDropDownList({
            optionLabel: "Select",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.SwitchToUserId",
            filter: "contains",
            template: kendo.template($("#drp-user-template").html()),
            height: 300,
            dataSource: {
                serverFiltering: false,
                serverPaging: false,
                pageSize: 100,
                Type: "aspnetmvc-ajax",
                transport: {
                    read: {
                        url: "/Account/GetSwitchToUserVirtualData",
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
            },
            virtual: {
                itemHeight: 100,
                valueMapper: UserValueMapper
            },
        });

    });
        //function onAjaxSuccess(response) {
        //    if (response.success) {
        //        var dialogue = $('#SwitchProfile').data("kendoDialog");
        //        dialogue.open();
        //        return false;
        //    }
        //    else {
        //        ShowErrors(response.errors);
        //    }
        //}
    var onAjaxSuccess = function (res) {
            if (res.success) {
            var dialogue = $('#SwitchProfile').data("kendoDialog");
            dialogue.open();
            return false;
        }
        else {

            ShowErrors(res.error);
        }

        //HideLoader($('#divjobAdv'));
    };
        function ShowErrors(err) {
            $(".hr-v-summary").removeClass("validation-summary-valid");
            $(".hr-v-summary").addClass("validation-summary-errors");
            var msg = ExtractError(err);
            $(".hr-v-summary ul").html(msg);
        }
</script>
