@using Kendo.Mvc.UI;
@model Synergy.App.ViewModel.SwitchProfileViewModel
@{
    ViewBag.Title = "Switch Profile";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<form asp-controller="Account" asp-action="SwitchPortal" method="post" class="form-horizontal" data-ajax="true" data-ajax-success="onAjaxSuccess">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div id="appWrapper" class="hr-pad-10">
        @*<div class="formHeader">
                <h4>
                    @ViewBag.Title
                </h4>
                      <hr />
            </div>*@
        <div class="row no-gutter hr-pad-top-15">

            <div class="col-sm-12">
                <div class="col-sm-12 col-lg-3 label-div">
                    <span class="required">*</span>
                    @Html.LabelFor(m => m.SwitchPortalId, new { @class = "control-label" })
                </div>

                <div class="col-sm-12 col-lg-9">
                    @*@(Html.Kendo().DropDownListFor(x=>x.SwitchPortalId)
                    .DataTextField("DisplayName")
                    .DataValueField("Id")
                    .Filter(FilterType.Contains)
                    .DataSource(source =>
                    {
                    source.Read(read =>
                    {
                    read.Action("GetAllowedPortalList", "User", new { @area = "Cms" });
                    });
                    })
                    .OptionLabel(Synergy.App.Common.ApplicationConstant.PlaceHolder_SelectOption)
                    .HtmlAttributes(new { @class = "form-control", style = "width: 100%" })
                    )*@
                    <input asp-for="SwitchPortalId" id="SwitchPortalId" class="form-control" style="width: 100%;" />

                </div>

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12" style="text-align:right;">
                @*@Html.Kendo().Button().Name("btnSubmit").Content("Switch Portal").Icon("check-outline").HtmlAttributes(new { @class = "k-primary" })*@
                @*<button type="button" name="btnSubmit" class="k-primary" icon="check-outline">Switch Portal</button>*@
                <input type="submit" class="btn btn-primary" value="Switch Portal" id="btnSubmit" icon="check-outline" />
                <script type="text/javascript">
                    var p = null;
                    function OnSwitchPortal() {
                        return window.top.OnSwitchPortalRefresh(p);
                    }

                </script>
                @Html.HiddenFor(x => x.LoggedInAsType)
            </div>
        </div>

    </div>
    @(Html.Kendo().Dialog()
                                                                        .Name("SwitchPortal")
                                                                        .Title("Switch Portal")
                                                                        .Content("Portal switched successfully")
                                                                        .Width(350)
                                                                        .Height(250)
                                                                        .Modal(true)
                                                                        .Visible(false)
                                                                        .Actions(actions =>
                                                                        {
                                                                            actions.Add().Text("OK").Primary(true).Action("OnSwitchPortal");
                                                                        })
            //.Events(ev => ev.Close("onVersionDialogueClose").Open("onVersionDialogueOpen"))
    )

</form>
<script type="text/javascript">
        $(document).ready(function () {

            $("#SwitchPortalId").kendoDropDownList({
                dataTextField: "DisplayName",
                dataValueField: "Id",
                value: "@Model.SwitchPortalId",
                optionLabel: "@Synergy.App.Common.ApplicationConstant.PlaceHolder_SelectOption",
                filter: "contains",
                dataSource: {
                    transport: {
                        read: {
                              url: "/cms/User/GetAllowedPortalList",
                        }
                    }
                }
            });

        });

    var onAjaxSuccess = function (res) {
        if (res.success) {
            p = res.portal;
            var dialogue = $('#SwitchPortal').data("kendoDialog");
            dialogue.open();
            return false;
        }
        else {

            ShowErrors(res.error);
        }

        //HideLoader($('#divjobAdv'));
    };
    function ShowErrors(err) {
        $(".hr-v-summary").removeClass("validation-summary-valid");
        $(".hr-v-summary").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $(".hr-v-summary ul").html(msg);
    }
</script>
