@using Kendo.Mvc.UI
@model Synergy.App.ViewModel.LoginViewModel
@using Synergy.App.Common
@{
    ViewData["Title"] = "Change Password";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
       $("#PortalId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--Portal--",
            value:'@Model.PortalId',
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/User/GetPortalListByEmail?email=@Model.Email",
                    }
                }
            }
       });
    });
</script>
@if (Model.EnableTwoFactorAuth)
{
    <div class="row" style="padding-top:10px;padding-left:10px;padding-right:10px;">
        <div class="col-sm-12">
            <div id="testTimer" style="font-weight:bold;color:red;"> </div>
        </div>
        @*<div class="col-sm-4" style="padding-right:10px;">
            <a href="javascript:void(0);" onclick="ReSend();">ReSend OTP</a>
        </div>*@
    </div>
}
    <form asp-controller="Account" asp-action="EmailLoginSubmit" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:30px;">
            <div class="col-sm-12">


                @if (Model.EnableTwoFactorAuth)
                {
                    @if (Model.TwoFactorAuthType.HasValue ? Model.TwoFactorAuthType.Value == TwoFactorAuthTypeEnum.OTPAndPassword : false)
                    {
                        <div class="row">
                            <div class="col pwd-tgap">
                                <input id="OtpPlain" type="password" class="round-text-box" placeholder="OTP" required="required">
                                <input asp-for="TwoFactorAuthOTP" type="hidden">
                                <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col pwd-tgap">
                                Please enter the OTP you received in your registered Email
                            </div>
                        </div>

                        <div class="row">
                            <div class="col pwd-tgap">
                                <input id="PasswordPlain" type="password" class="round-text-box" placeholder="Password" required="required">
                                <input asp-for="Password" type="hidden">
                                <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="row">
                            <div class="col pwd-tgap">
                                <input id="OtpPlain" type="password" class="round-text-box" placeholder="OTP" required="required">
                                <input asp-for="TwoFactorAuthOTP" type="hidden">
                                <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col pwd-tgap">
                                Please enter the OTP you received in your registered Email
                            </div>
                        </div>
                    }

                }
                else
                {
                    <div class="row">
                        <div class="col pwd-tgap">
                            <input id="PasswordPlain" type="password" class="round-text-box" placeholder="Password" required="required">
                            <input asp-for="Password" type="hidden">
                            <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pwd-tgap">
                            <dnt-captcha asp-captcha-generator-max="999999"
                                         asp-captcha-generator-min="111111"
                                         asp-captcha-generator-language="English"
                                         asp-captcha-generator-display-mode="ShowDigits"
                                         asp-use-relative-urls="true"
                                         asp-placeholder="Enter Captcha"
                                         asp-font-name="Tahoma"
                                         asp-font-size="20"
                                         asp-fore-color="#333333"
                                         asp-back-color="#ccc"
                                         asp-text-box-class="round-text-box"
                                         asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                                         asp-validation-message-class="text-danger"
                                         asp-refresh-button-class="fas fa-redo btn-sm"
                                         asp-use-noise="false" />
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col pwd-tgap">Portal
                        <input asp-for="PortalId" id="PortalId" class="form-control" placeholder="Portal">
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="text-align:center;padding-top:10px;">
                <input id="btnSubmit" class="btn btn-primary text-center" onclick="return EncryptPassword();" value="Verify" type="submit" />

            </div>
            <input asp-for="ReturnUrl" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <input asp-for="EnableTwoFactorAuth" type="hidden" />
            <input asp-for="TwoFactorAuthType" type="hidden" />
            <input asp-for="Time" type="hidden" />
        </div>
    </form>

    <script type="text/javascript">
    function EncryptPassword() {
        
            var key = CryptoJS.enc.Utf8.parse('8080808080808080');
            var iv = CryptoJS.enc.Utf8.parse('8080808080808080');
            var ecp = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#PasswordPlain').val()), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });
        $('#Password').val(ecp);
        $('#TwoFactorAuthOTP').val($('#OtpPlain').val());
        $('#Time').val(current_minutes);
        return true;
    }
    function ReSend() {
         $.ajax({
                url: "/Account/ReSendOTP",
                type: "POST",
                data: { 'email': '@Model.Email'},
                success: function (data) {
                    kendo.alert("OTP Sent to your email successfully");
                    window.location.href = window.location.href;
                   // $("#btnSubmit").show();
                   //clearTimeout(t);
                   // countdown(1);
                }

            });
    }
        $(document).ready(function () {
            if ('@Model.EnableTwoFactorAuth' == 'True') {
                if (@Model.Time> 0) {
                    countdown(@Model.Time);
                }
                else {
                    countdown(9);
                }
            }
        if ('@ViewBag.Success' == 'True') {
            window.parent.location.href = '@ViewBag.ReturnUlr';
        }
    });
     var current_minutes = 0;
    var current_seconds = 0;
    var t;
    function countdown(m) {
        var mins = m;
        function tick() {

        var counter = document.getElementById("testTimer");
            current_minutes = mins;

            if (current_seconds > 0) {
                current_seconds--;
            } else {
                current_seconds = 59;
            }

            counter.innerHTML = "Your OTP is going to expire in: " + current_minutes.toString() + ":" + current_seconds + " &nbsp; &nbsp; &nbsp; <a href='javascript: void (0);' onclick='ReSend();'>Resend OTP</a>";


            if (current_seconds > 0) {
                t=setTimeout(tick, 1000);
            } else {

            if (mins >= 1) {
                countdown(mins - 1);
            }

                if (current_minutes == 0 && current_seconds == 0) {
                    $("#btnSubmit").hide();
                    counter.innerHTML = "Your OTP is expired. Click 'Resend OTP' to get a new OTP. &nbsp; &nbsp; &nbsp; <a href='javascript: void (0);' onclick='ReSend();'>Resend OTP</a>"
            }
        }
    }
    tick();
    }
    </script>

