@using Synergy.App.ViewModel
@using Synergy.App.Common

@{
    ViewData["Title"] = "Competence Matrix";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model RecApplicationViewModel
<style>
    .div_main {
        margin: 30px;
    }

    .k-grid thead {
        background-color: #fff;
        font-weight: bold;
    }

    .table {
        width: 100%;
        /*margin-bottom: 1rem;*/
        color: #212529;
        background: #f0f0f0;
        border-radius: 6px;
    }

    .header-row {
        background-color: #1D4993;
        color: #ffffff;
        text-align: center;
        /*border-top-left-radius: 6px;
        border-top-right-radius: 6px;*/
        text-decoration: underline;
        font-size: 18px;
        height: 40px;
    }

    .header-row-2 {
        background-color: #ffffff;
        color: black;
        text-align: center;
        /*border-top-left-radius: 6px;*/
        /*border-top-right-radius: 6px;*/
        text-decoration: underline;
        font-size: 16px;
        font-weight: bold;
        height: 32px;
        vertical-align: middle;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header-row-1 {
        background-color: #ffffff;
        color: black;
        text-align: center;
        text-decoration: underline;
        font-size: 16px;
        font-weight: bold;
        height: 32px;
        margin-bottom: 0px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .tab-scroll {
        overflow-x: scroll;
        border-radius: 6px;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        -webkit-overflow-scrolling: touch;
    }

    .header_gaec {
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        padding-bottom: 6px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #ffffff;
    }

    tr:nth-child(even) {
        background-color: #dcdada;
    }

    .label_header {
        margin-left: 2px;
        padding-left: 6px;
    }

    .col_all {
        padding: 2px;
        margin: 0px;
        /*height: 40px;*/
    }

    .label_bold {
        font-weight: 700;
    }

    .hr_line {
        border-style: solid;
        border-color: #353535;
        margin-bottom: 6px;
        border-width: 1px;
        margin-top: 130px;
    }

    .hr_line_1 {
        border-style: solid;
        border-color: #353535;
        margin-bottom: 6px;
        border-width: 1px;
        margin-top: 50px;
    }

    .hr_line_1 {
        border-style: solid;
        border-color: #353535;
        /*margin-bottom: 6px;*/
        border-width: 1px;
        /*margin-top: 130px;*/
        margin-left: 16px;
        margin-right: 16px;
    }

    .col_sign {
        padding-left: 90px;
        text-align: center;
        padding-right: 90px;
        padding-top: 90px;
    }

    .tab-scroll {
        overflow-x: scroll;
    }

    .txt-attribute {
        font-size: 14px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #ffffff;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow: auto;
        box-shadow: 2px 2px 4px #ccc;
        -webkit-overflow-scrolling: touch;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        background: #f0f0f0;
    }

    tr:nth-child(even) {
        background-color: #dcdada;
    }

    .table-header-row {
        background-color: #1D4993;
        color: #ffffff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .row_box {
        border-style: solid;
        /*border-color: #1d4993;*/
        border-width: 0.5px;
        border-radius: 6px;
        margin: 6px;
        margin-top: 20px;
    }

    .row_all {
        padding-bottom: 9px;
    }

    body {
        font-size: 14px;
    }

    .text-left {
        font-weight: 600;
        color: black;
    }

    @@media print {
        #printPageButton {
            display: none;
        }

        #downloadPageButton {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }

        @@page {
            size: auto;
            margin: 0;
        }
    }
</style>
<script>
    function getPDF(selector) {

        kendo.drawing.drawDOM($(selector)).then(function (group) {
            kendo.drawing.pdf.saveAs(group, "Declaration.pdf");
        });
    }
</script>
<input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
<button class="export-pdf k-button" onclick="getPDF('.container')" id="downloadPageButton">Download</button>
<div class="div_main">
    <div class="container">
        <div class="row row_box">
            <div class="col-xl-12 col_all">
                <h3 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center header-row-1">Nomination for Benefits under</h3>
            </div>
            <div class="col-xl-12 col_all">
                <h3 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center header-row-2">Legal / Insurance Claims and Benevolent Scheme</h3>
            </div>
            <div class="col-xl-12 col_all">
                <h3 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center header-row-2">In the event of death of employees</h3>
            </div>
            <div class="col-xl-12 col_all">
                <h4 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center header-row-2 mt-2">Declaration</h4>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <p class="p-2">I hereby nominate the following beneficiary / beneficiaries to receive any benefits due to my way of legal / insurance / benevolent scheme in the event of my death while in service of the Company.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row" style="padding:5px;">
                    @*@(Html.Kendo().Grid<ApplicationBeneficiaryViewModel>()
                        .Name("grid")
                        .Width(1000)
                        .Columns(columns =>
                        {
                        columns.Bound(c => c.Name);
                        columns.Bound(c => c.Address);
                        columns.Bound(c => c.Relationship);
                        columns.Bound(c => c.Ratio);
                        })
                        .Sortable(srt => srt.Enabled(true))
                        .Selectable(select => select.Enabled(false))
                        .AutoBind(true)
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("ReadBeneficiaryData", "RecruitmentDashboard", new { appid=Model.Id}))
                        .Model(model => model.Id(p => p.Id))
                        )
                    )*@
                </div>
            </div>
            @*<div class="col-12">
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive tab-scroll">
                                <table class="table">
                                    <thead>
                                        <tr class="table-header-row">
                                            <th class="text-center">SI No</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Address</th>
                                            <th class="text-center">Relationship</th>
                                            <th class="text-center">in the ratio of</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="txt-attribute">1<br></td>
                                            <td class="txt-attribute"><br></td>
                                            <td class="txt-attribute">#N/A<br></td>
                                            <td class="txt-attribute">#N/A<br></td>
                                            <td class="txt-attribute">100%<br></td>
                                        </tr>
                                        <tr>
                                            <td class="txt-attribute">2</td>
                                            <td class="txt-attribute">#N/A</td>
                                            <td class="txt-attribute">#N/A</td>
                                            <td class="txt-attribute">#N/A</td>
                                            <td class="txt-attribute"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-12 pt-2">
                <div class="row row_all">
                    <div class="col-12 col-lg-3"><label class="col-form-label text-left">Signature</label></div>
                    <div class="col-12 col-lg-9">
                        <label>x</label>
                        <hr class="hr_line_1">
                    </div>
                </div>
                <div class="row row_all">
                    <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">Name</label></div>
                    <div class="col-12 col-md-6 col-lg-4"><label class="col-form-label">@Html.DisplayFor(x => x.TitleName) @Html.DisplayFor(x => x.FullName)</label></div>
                    <div class="col-12 col-md-6 col-lg-1"><label class="col-form-label text-left">Div./Dept</label></div>
                    <div class="col-12 col-md-6 col-lg-4"><label class="col-form-label">@Html.DisplayFor(x => x.DivisionName)</label></div>
                </div>
                <div class="row row_all">
                    <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">GAEC #</label></div>
                    <div class="col-12 col-md-6 col-lg-4"><label class="col-form-label">@Html.DisplayFor(x => x.GaecNo)</label></div>
                    <div class="col-md-6 col-lg-1"><label class="col-form-label text-left">Date</label></div>
                    <div class="col-12 col-md-6 col-lg-4"><label class="col-form-label">@DateTime.Now</label></div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col mt-4"><label class="col-form-label" style="font-size: 18px;font-weight: bold;">Witnesses</label></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row row_all">
                            <div class="col-md-6 col-lg-3"><label class="col-form-label text-left">Name<span style="float:right">:</span></label></div>
                            <div class="col-md-6 col-lg-9"><label class="col-form-label">@Html.DisplayFor(x => x.WitnessName1)</label></div>
                        </div>
                        <div class="row row_all">
                            <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">Designation<span style="float:right">:</span></label></div>
                            <div class="col-md-6 col-lg-9"><label class="col-form-label">@Html.DisplayFor(x => x.WitnessDesignation1)</label></div>
                        </div>
                        <div class="row row_all">
                            <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">Date<span style="float:right">:</span></label></div>
                            <div class="col-12 col-md-6 col-lg-9"><label class="col-form-label">@Html.DisplayFor(x => x.WitnessDate1)</label></div>
                        </div>
                        <div class="row row_all">
                            <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">GAEC #<span style="float:right">:</span></label></div>
                            <div class="col-12 col-md-6 col-lg-9"><label class="col-form-label">@Html.DisplayFor(x => x.WitnessGAEC1)</label></div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row row_all">
                            <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">Name<span style="float:right">:</span></label></div>
                            <div class="col-12 col-md-6 col-lg-9"><label class="col-form-label">@Html.DisplayFor(x => x.WitnessName2)</label></div>
                        </div>
                        <div class="row row_all">
                            <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">Designation<span style="float:right">:</span></label></div>
                            <div class="col-12 col-md-6 col-lg-9"><label class="col-form-label">@Html.DisplayFor(x => x.WitnessDesignation2)</label></div>
                        </div>
                        <div class="row row_all">
                            <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">Date<span style="float:right">:</span></label></div>
                            <div class="col-12 col-md-6 col-lg-9"><label class="col-form-label">@Html.DisplayFor(x => x.WitnessDate2)</label></div>
                        </div>
                        <div class="row row_all">
                            <div class="col-12 col-md-6 col-lg-3"><label class="col-form-label text-left">GAEC #<span style="float:right">:</span></label></div>
                            <div class="col-12 col-md-6 col-lg-9"><label class="col-form-label">@Html.DisplayFor(x => x.WitnessGAEC2)</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(x => x.ApplicationId)