@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Candidate Experience By Country";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model ApplicationViewModel

<script type="text/javascript">
    var referenceId
      var onAjaxSuccess = function (res) {

        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("SavedSuccessfully", "success",);
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("UpdatedSuccessfully", "success");
            }
            referenceId = res.referenceId;
            closeNav();
           // window.parent.GetCandidateExperiencebyCountry();
           // window.parent.getApplicationDocumentData();
        }
        else {

            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);

        }
    };
    $(document).ready(function () {

        GetNominationforBenefits();
        $.contextMenu({
            selector: '#tree-menuBinNomforBenefits',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');
                var noteId = $trigger.data('noteid');


                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        OnEdit(noteId);
                                        break;
                                    case 'del':
                                        OnDelete(noteId);
                                        break;


                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-pencil" },
                                "del": { name: "Delete", icon: "fas fa-trash" },
                            }
                        };


                }
            }
        });
        $("#WitnessDate1").kendoDatePicker({
            value: '@Model.WitnessDate1',
            format: "dd.MM.yyyy",
            //change: DateChange
            });
        $("#WitnessDate2").kendoDatePicker({
            value: '@Model.WitnessDate2',
            format: "dd.MM.yyyy",
            //change: DateChange
          });
        $("#JoiningDate").kendoDatePicker({
            value: '@Model.JoiningDate',
            format: "dd.MM.yyyy",
            //change: DateChange
        });
          $("#NationalityId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "NationalityName",
            dataValueField: "Id",
              value: "@Model.NationalityId",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Career/CandidateProfile/GetNationalityList",
                    }
                }
            }
        });

        if ('@ViewBag.Success' == "True") {

        }

    });
     var columnDefsNomforBen = [
        {
            headerName: "",
            field: "Id",
            minWidth: 100,
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menuBinNomforBenefits' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid='" + params.data.NoteId + "' ><i class='fas fa-ellipsis-v'></i></div>"
            }
        },
        {
            headerName: "Sl. No.",
            field: "SequenceOrder",

        },
        {
            headerName: "Name",
            field: "Name",

        },
         {
             headerName: "Address",
             field: "Address",

        },
          {
              headerName: "Relationship",
              field: "Relationship",

        },
        {
            headerName: "Ratio",
            field: "Ratio",

        }

    ];
    function GetNominationforBenefits() {
    debugger;
        document.getElementById("kgrdNomforBen").innerHTML = "";
        gridConfig(
            "kgrdNomforBen",
            "/rec/RecruitmentTransaction/ReadBeneficiaryData?referId=" + referenceId,
            columnDefsNomforBen,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
    function OnCreateBen(e) {

         var win = GetMainWindow();
        win.iframeOpenUrl =  "/rec/RecruitmentTransaction/CreateBeneficiary?referId=" + referenceId;
        win.OpenWindow({ Title: 'Manage Beneficiary', Width: 500, Height: 1000 });
        return false;


    }

    function OnEdit(noteid) {


           var win = GetMainWindow();
                @*win.iframeOpenUrl =  '@Url.Action("EditBeneFiciary", "RecruitmentDashboard", new { @area = "Recruitment" })?Id=' + dataItem.Id + '&applicatiodid=' + '@Model.Id';*@
        win.iframeOpenUrl = '@Url.Action("EditBeneFiciary", "RecruitmentTransaction", new { @area= "Rec" })?noteid=' + noteid;
           win.OpenWindow({ Title: 'Manage Beneficiary', Width: 500, Height: 1000 });
        return false;
    }
    function OnDelete(noteid) {

        var flag = confirm('Do you really want to delete ?');
        if (flag) {
            $.ajax({
                url: '@Url.Action("DeleteBeneFiciary", "RecruitmentTransaction", new { @area= "Rec" })?noteid=' + noteid,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    //
                    if (result.success) {
                        GetNominationforBenefits();
                       kendo.alert("Deleted Successfully.");
                    }
                },
                error: function (ert) {
                    //
                    //$("#kgrdCandidateEducational").data("kendoGrid").dataSource.read();
                }
            });
            return false;
        }
    }
    function closeNav() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }






</script>

<style>
    .bold-text {
        font-weight: bold;
    }

    .left-column-property {
        border-style: solid;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0px;
        border-left-width: 1px;
    }

    .right-column-property {
        border-style: solid;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }

    .middle-column-property-1 {
        border-width: 1px;
        border-style: solid;
    }

    .middle-column-property-2 {
        border-width: 1px;
        border-style: solid;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0px;
        border-left-width: 1px;
    }
</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

    @*<form asp-controller="RecruitmentTransaction" asp-action="ManageJoiningSource" method="post" class="form-horizontal">*@
    <form asp-controller="RecruitmentTransaction" asp-action="ManageJoiningReport" method="post" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div id="validation-summary-managepage" class="text-danger" asp-validation-summary="All"></div>
        <div class="row no-gutters pad-10">

            <div class="row no-gutters pad-10">
                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:15px">
                        <div>
                            <label for="FirstName">First Name</label>
                        </div>

                        @*@Html.Kendo().TextBoxFor(x => x.FirstName)*@
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" />
                    </div>
                </div>

                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="MiddleName">Middle Name</label>
                        </div>

                        @*@Html.Kendo().TextBoxFor(x => x.MiddleName)*@
                        <input asp-for="MiddleName" type="text" class="form-control" placeholder="Middle Name" />
                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="LastName">Last Name</label>
                        </div>


                        <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" />
                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="GaecNo">GAEC No</label>
                        </div>


                        <input asp-for="GaecNo" type="text" class="form-control" placeholder="Gaec No" />
                    </div>
                </div>
            </div>

            <div class="row no-gutters pad-10">
                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:15px">
                        <div>
                            <label for="Sourcing">Sourcing</label>
                        </div>

                        <input asp-for="Sourcing" type="text" class="form-control" placeholder="Sourcing" />
                    </div>
                </div>

                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="JobNo">Job No</label>
                        </div>


                        <input asp-for="JobNo" type="text" class="form-control" placeholder="Job No" />
                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="ReportingToId">Reporting To</label>
                        </div>

                        <input asp-for="ReportingToId" type="text" class="form-control" placeholder="Reporting To Id" />

                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group">
                        <div>
                            <label for="DateOfArrival">Date Of Arrival</label>
                        </div>



                    </div>
                </div>
            </div>

            <div class="row no-gutters pad-10">
                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:15px">
                        <div>
                            <label for="NextOfKin">Next Of Kin</label>
                        </div>


                        <input asp-for="NextOfKin" type="text" class="form-control" placeholder="Next Of Kin" />
                    </div>
                </div>

                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="NextOfKinRelationship">Next Of Kin Relationship</label>
                        </div>


                        <input asp-for="NextOfKinRelationship" type="text" class="form-control" placeholder="Next Of Kin Relationship" />
                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="NextOfKinEmail">Next Of Kin Email</label>
                        </div>

                        <input type="email" id="NextOfKinEmail" name="NextOfKinEmail" value="@Model.NextOfKinEmail" class="k-textbox" placeholder="e.g. myname@example.net" data-email-msg="Email format is not valid" />
                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group">
                        <div>
                            <label for="NextOfKinPhoneNo">Next Of Kin Phone No.</label>
                        </div>

                        <input type="number" id="NextOfKinPhoneNo" name="NextOfKinPhoneNo" value="@Model.NextOfKinPhoneNo" class="k-textbox" />

                    </div>
                </div>
            </div>

            <div class="row no-gutters pad-10">
                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:15px">
                        <div>
                            <label for="OtherNextOfKin">Other Next Of Kin</label>
                        </div>

                        <input asp-for="OtherNextOfKin" type="text" class="form-control" placeholder="Other Next Of Kin" />
                    </div>
                </div>

                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="OtherNextOfKinRelationship">Other Next Of Kin Relationship</label>
                        </div>

                        <input asp-for="OtherNextOfKinRelationship" type="text" class="form-control" placeholder="Other Next Of Kin Relationship" />
                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="OtherNextOfKinEmail">Other Next Of Kin Email</label>
                        </div>

                        <input type="email" id="OtherNextOfKinEmail" value="@Model.OtherNextOfKinEmail" name="OtherNextOfKinEmail" class="k-textbox" placeholder="e.g. myname@example.net" data-email-msg="Email format is not valid" />
                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group">
                        <div>
                            <label for="OtherNextOfKinPhoneNo">Other Next Of Kin Phone No.</label>
                        </div>

                        <input type="number" id="OtherNextOfKinPhoneNo" value="@Model.OtherNextOfKinPhoneNo" name="OtherNextOfKinPhoneNo" class="k-textbox" />

                    </div>
                </div>
            </div>

            <div class="row no-gutters pad-10">
                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:15px">
                        <div>
                            <label for="WitnessName1">Witness Name1</label>
                        </div>


                        <input asp-for="WitnessName1" type="text" class="form-control" placeholder="Witness Name1" />
                    </div>
                </div>

                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="WitnessDesignation1">Witness Designation1</label>
                        </div>


                        <input asp-for="WitnessDesignation1" type="text" class="form-control" placeholder="Witness Designation1" />
                    </div>

                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <div><label for="WitnessDate1">Witness Date1</label></div>
                        </div>

                        <input asp-for="WitnessDate1" class="form-control" />
                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group">
                        <div>
                            <label for="WitnessGAEC1">Witness GAEC1</label>
                        </div>

                        <input asp-for="WitnessGAEC1" type="text" class="form-control" placeholder="Witness GAEC1" />
                    </div>
                </div>
            </div>

            <div class="row no-gutters pad-10">
                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:15px">
                        <div>
                            <label for="WitnessName2">Witness Name2</label>
                        </div>


                        <input asp-for="WitnessName2" type="text" class="form-control" placeholder="Witness Name2" />
                    </div>
                </div>

                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="WitnessDesignation2">Witness Designation2</label>
                        </div>


                        <input asp-for="WitnessDesignation2" type="text" class="form-control" placeholder="Witness Designation2" />
                    </div>

                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <div><label for="WitnessDate2">Witness Date2</label></div>
                        </div>
                        @*@Html.Kendo().DatePickerFor(x => x.WitnessDate2)*@
                        <input asp-for="WitnessDate2" class="form-control" />

                    </div>
                </div>

                <div class="col-3 pad-20">

                    <div class="form-label-group">
                        <div>
                            <label for="WitnessGAEC2">Witness GAEC2</label>
                        </div>

                        <input asp-for="WitnessGAEC2" type="text" class="form-control" placeholder="WitnessGAEC2" />
                    </div>
                </div>
            </div>


            <div class="row no-gutters pad-10">
                <div class="col-6 pad-20">

                    <div class="form-label-group" style="padding-right:5px">
                        <div>
                            <label for="NationalityId">Nationality</label>
                        </div>
                        <input type="text" class="form-control" id="NationalityId" asp-for="NationalityId" />
                        @*@(Html.Kendo().DropDownListFor(x => x.NationalityId)
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetNationalityIdNameList", "CandidateProfile");
                                });
                            })
                        )*@
                    </div>
                </div>

                <div class="col-3 pad-20">
                    <div class="form-label-group" style="padding-right:15px">
                        <div>
                            <label for="JoiningDate">Joining Date</label>
                        </div>

                        @*@Html.Kendo().DateTimePickerFor(x => x.JoiningDate)*@
                        <input asp-for="JoiningDate" class="form-control" />
                    </div>
                </div>
            </div>


        </div>
        <div>
            <h4>Nomination For Benefits</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <br />
                <button type='button' class='btn btn-primary' onclick='OnCreateBen();'><i class='fa fas fa-plus'></i>&nbsp;Add</button>
                <br />
                <div id="kgrdNomforBen" style="width: 100%;height:250px" class="ag-theme-alpine"></div>
            </div>
        </div>

        @*@(Html.Kendo().Grid<ApplicationBeneficiaryViewModel>()
            .Name("grid")
            .ToolBar(toolbar =>
                toolbar.ClientTemplate("<button type='button' class='btn btn-primary' onclick='OnCreateBen();'><i class='fa fas fa-plus'></i>&nbsp;Add</button>"))

            .Columns(columns =>
            {
            columns.Command(command =>
            {
                command.Custom("Edit").Text("<i class='fa fas fa-pencil'></i>").Click("OnEdit").HtmlAttributes(new { @class = "action-icon" });
                command.Custom("Delete").Text("<i class='fa fas fa-trash'></i>").Click("OnDelete").HtmlAttributes(new { @class = "action-icon" });
            }).Title("Action").Width(100);

            columns.Bound(c => c.Name);
            columns.Bound(c => c.Address);
            columns.Bound(c => c.Relationship);
            columns.Bound(c => c.Ratio);

            //columns.Bound(c => c.TargetBatchCount).Width(120);
            //columns.Bound(c => c.Id).Title("Send Batch").Width(120).ClientTemplate("#if(BatchStatusName=='Draft'){#<button class='btn btn-info' onclick='UpdateBatch(\"#:Id#\")'>Send To Hiring Manager</button>#}#").Width(280);
            })
            .Scrollable(x => x.Enabled(true))
            .Sortable(srt => srt.Enabled(true))
            .Selectable(select => select.Enabled(false))
            .Filterable(f => f.Extra(false)
                                                .Operators(o => o.ForString(s => s.Clear()
                                                .Contains("Contains")
                                                .IsEqualTo("Is equal to")
                                            )))
            //.Pageable(pageable => pageable
            //.Refresh(true)
            //.PageSizes(true)
            //.ButtonCount(5))
            .AutoBind(true)
            .DataSource(
            dataSource => dataSource
            .Ajax()
            .PageSize(10)
            //.Events(events => events.Error("OnError"))
               .Read(read => read.Action("ReadBeneficiaryData", "RecruitmentDashboard", new { appid=Model.Id}))
            .Model(model => model.Id(p => p.Id))
            )
        )*@

        <br /><br /><br />

        @*@Html.HiddenFor(x => x.ApplicationId)*@
        @*@Html.HiddenFor(x => x.DataAction)*@
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TaskStatus)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.Json)
        @Html.HiddenFor(x => x.TempCode)

        @*@if (Model.TaskStatus == "INPROGRESS" || Model.TaskStatus == "OVERDUE")
        {*@
        <div class="cms-footer">
            <div class="col-sm-12" style="text-align:right;">
                @*<button type="button" class="btn btn-light" onclick="closeNav();">Close</button>*@
                <button type="submit" class="btn btn-success" @*onclick="OnSave()"*@>Save</button>
            </div>
        </div>
        @*}*@

    </form>
</div>



<script type="text/javascript">


    function CallBack() {
        $("#grid").data("kendoGrid").dataSource.read({ appid:'@Model.Id' });
    }



</script>