@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceDiagramController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;

@{
    ViewBag.Title = "";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";

    Layout = null;
}

<script type="text/javascript" src="~/lib/joint.js/lodash.js"></script>
<script type="text/javascript" src="~/lib/joint.js/backbone.js"></script>
<script type="text/javascript" src="~/lib/joint.js/joint.js"></script>
<script type="text/javascript" src="~/lib/joint.js/config/selection.js"></script>
<script type="text/javascript" src="~/lib/joint.js/dagre.js"></script>
<script type="text/javascript" src="~/lib/joint.js/graphlib.core.js"></script>
<script type="text/javascript" src="~/lib/joint.js/config/halo.js"></script>
<script type="text/javascript" src="~/lib/joint.js/html2canvas.js"></script>

<script src="~/js/CMS/performanceDiagram.js"></script>


<div class="banner-container">
    <img style="width:100%; height:100px" src="~/images/PMS/Performance Diagram.png" />
    <div class="banner-text">@Resource["PerformanceDiagram"]</div>
</div>
<div class="splitter-container">
    @*<div class="left">
            <div class="" style=" padding: 0;">
                <span style="font-size:12px;padding:5px">* Hover on box for more functionalities</span>
                <br />
                <div style="height:600px;overflow:scroll; margin-left:5px;">


                    @(Html.Kendo().TreeView()
            .Name("performnaceDiagram").HtmlAttributes( new {@class="treeview"})
            .Events(e=>e.Select("OnSelect").Expand("onExpand"))
            .DataTextField("Name")
            .TemplateId("ct-tv-template")
            .DataSource(dataSource => dataSource
                .Read(read => read
                    .Action("GetDiagramTreeviewList", "PerformanceDocument", new { @area="Pms"}).Data("AddData")
                )
            )
        )
                </div>

                <script id="ct-tv-template" type="text/kendo-ui-template">
                    <span style="width:100%" id="#: item.id #" class="tree-item-#:item.Type.toLowerCase()#">#: item.Name #</span>
                </script>
            </div>
        </div>*@
    <div class="right pad-l-t-15" id="template-content">
        <div class="" id="dcontent">
            <div class="row">

                <div class="col">
                    <div class="row" style="margin:5px;">
                        <div class="column" style="margin-left:5px;">
                            <label for="sx">@Resource["Zoom"]</label>
                            <input id="sx" type="range" value="1.00" step="0.1" min="0.1" max="1.5" autocomplete="off" />
                        </div>

                        <div class="column" style="margin-left:5px;">
                            <label for="width">@Resource["Width"]</label>
                            <input id="width" type="range" value="3000" step="500" min="3000" max="30000" autocomplete="off" />
                        </div>

                        <div class="column" style="margin-left:5px;">
                            <label for="height">@Resource["Height"]</label> <input id="height" type="range" value="2000" step="500" min="2000" max="200000" autocomplete="off" />
                        </div>

                        <div class="column" style="margin-left:5px;margin-top: 5px;">
                            <button title="@Resource["AutoLayout"]" class="btn btn-primary" onclick="graphLayout()"><span style="font-size:20px" class="fad fa-project-diagram "></span></button>
                        </div>
                        <div class="column" style="margin-left:5px;margin-top: 5px;">
                            <button title="@Resource["RefreshDiagram"]" class="btn btn-primary" onclick="onRefreshDiagram()"><span style="font-size:20px" class="fad fa-sync "></span></button>
                        </div>

                        <div class="column" style="margin-left:5px;margin-top: 5px;    width: 200px;">
                            @*@(Html.Kendo().DropDownList().Name("User")
        .DataTextField("Name")
        .DataValueField("Id")
        .Events(e=>e.Change("onUserChange"))
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetUserList", "PerformanceDiagram", new { @area = "pms" });
            });
        })
         .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
        .HtmlAttributes(new { @class = "hr-xx-large"})
        )*@
                            <input id="User" class="hr-xx-large" />
                        </div>
                        <div class="column" style="margin-left:5px;margin-top: 5px;    width: 300px;">
                            @*@(Html.Kendo().DropDownList()
              .Name("performance")
              .HtmlAttributes(new { style = "width:100%" })
               .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
              .Events(x=>x.Change("OnPerformnaceSelection"))
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
                      {
                  source.Read(read =>
                  {
                      read.Action("GetPerformaceListByUser", "PerformanceDiagram", new { @area = "pms" })
                          .Data("filterPerformance");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("User")
        )*@

                            <input id="performance" style = "width:100%;display:none" />
                            @*<input id="categories" style = "width:100%" />
                            <input id="products" style = "width:100%" />*@
                        </div>


                        @*<div class="column" style="margin-left:5px;margin-top: 5px;">
                                <button title="Save Diagram" class="btn btn-primary" onclick="manageBusiness()"><span style="font-size:20px" class="fad fa-save"></span></button>
                            </div>*@
                        <div class="column" style="margin-left:5px;margin-top: 5px;">
                            <button title="@Resource["ClosedDiagram"]" class="btn btn-primary" onclick="closeDiagram()"><span style="color:red;font-size:20px" class="fas  fa-times"></span></button>
                        </div>

                        <div class="column" style="margin-left:5px;margin-top: 5px;">
                            <input id="nodeDrp" style="width: 300px;display:none" />
                        </div>


                        <div class="column" style="margin-left:5px;margin-top: 5px;display:none;">
                            <input id="nodeDrpList" style="width: 300px;" />
                        </div>


                        <div id="movebtn" class="column" style="margin-left:5px;margin-top: 5px;display:none">
                            <button class="btn btn-primary" onclick="onChangeNodeFocus()"><span class="fas fa-angle-double-right"></span></button>
                        </div>


                        @*<div id="exportSvg" class="column" style="margin-left:5px;margin-top: 5px;display:none">
                                <button class="btn btn-primary" onclick="openAsSVG()">Export SVG</button>
                            </div>*@

                        <div id="exportPng" class="column" style="margin-left:5px;margin-top: 5px;">
                            <button class="btn btn-primary" onclick="downloadDiagramPng()"><span class="fas fa-file-download"></span></button>
                        </div>
                        
                        @*<div id="exportPng" class="column" style="margin-left:5px;margin-top: 5px;">
                            <button class="btn btn-primary" onclick="downloadaAsPdf()"><span class="fas fa-file-pdf"></span></button>
                        </div>*@


                        @*  *@

                    </div>
                    <div style=" height: 600px; overflow-x: scroll; overflow-y: scroll;">  <div id="paper"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu" style="background-color:#f2e9e4;width:200px">
    <ul id="menulist" class="menu-options" style="padding: 0;">
    </ul>
</div>

<style>

    .nodeHighlight {
        outline-offset: 15px;
        outline: dashed;
        outline-color: cornflowerblue;
        outline-width: thick;
    }

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .menu .menu-options .menu-option {
        padding: 0;
        font-weight: 500;
        z-index: 1;
        font-size: 14px;
        padding: 10px 40px 10px 20px;
        cursor: pointer;
        border-bottom: solid;
        border-color: lightgrey;
    }
    /* body {
            font-family: "Roboto", san-serif;
        }*/

    .center {
        text-align: center;
    }

    .menu {
        width: 120px;
        z-index: 1;
        box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
        position: fixed;
        display: none;
        transition: 0.2s display ease-in;
    }

        .menu .menu-options {
            list-style: none;
            padding: 10px 0;
            z-index: 1;
            margin: unset;
        }

            .menu .menu-options .menu-option {
                font-weight: 500;
                z-index: 1;
                font-size: 14px;
                padding: 10px 40px 10px 20px;
                cursor: pointer;
                border-bottom: solid;
                border-color: lightgrey;
            }

                .menu .menu-options .menu-option:hover {
                    background: rgba(0, 0, 0, 0.2);
                }

    button {
        background: grey;
        border: none;
    }

        button .next {
            color: green;
        }

        button[disabled=false]:hover .next {
            color: red;
            animation: move 0.5s;
            animation-iteration-count: 2;
        }

    @@keyframes move {
        from {
            transform: translate(0%);
        }

        50% {
            transform: translate(-40%);
        }

        to {
            transform: transform(0%);
        }
    }

    #paper {
        background: #ffffff;
    }

    #stencil {
        background: #ece2e3;
    }

    hr {
        margin-bottom: 0px;
    }

    input, label {
        display: block;
    }

    .accordion {
        background-color: #17a2b8;
        color: white;
        cursor: pointer;
        padding-left: 25px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 17px;
        transition: 0.4s;
        font-weight: bold;
        width: 100%;
    }

    .accordion2 {
        background-color: #17a2b8;
        color: white;
        cursor: pointer;
        padding-left: 25px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 17px;
        transition: 0.4s;
        font-weight: bold;
        width: 100%;
    }

        .active, .accordion2:hover {
            background-color: #17a2b8;
        }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .diagram-tree-menu {
        padding: 4px;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        line-height: 19px;
        margin-left: 10px;
        font-size: medium;
        padding-left: 5px;
        visibility: hidden;
        cursor: pointer;
    }


        .diagram-tree-menu:hover {
            background-color: silver;
        }

    .treeview .k-state-hover:hover .diagram-tree-menu {
        visibility: visible;
    }

    .k-in {
        width: 100%
    }

    .banner-container {
        position: relative;
        color: white;
    }

    .banner-text {
        position: absolute;
        top: 14px;
        left: 60px;
        font-size: 35px;
    }
</style>

