@model Synergy.App.ViewModel.GenerateCaptchaViewModel
@{
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@{
    ViewData["Title"] = "Verify Appointment";
}
<style>
    .main-div-contaner {

        width: 330px;
        height: 330px;
    }

    .captcha-img {
        border: 3px solid silver;
        border-radius: 6px;
        cursor:pointer;
    }

    .img-selected {
        border: 5px solid green !important;
    }

    .img-actions {
        background-color: cornsilk;
        border-radius: 6px;
    }

    .img-action {
        font-size: 24px !important;
    }

    .img-active {
        color: blue;
    }

    .img-action-text {
        font-size: 11px;
    }
    .box-label{
        position:absolute;
        top:20px;
        font-size:16px;
    }
    .img-action-div{
        cursor:pointer;
    }
    .img-action-div:hover {
     background-color:aliceblue;
    }
    @Html.Raw(Model.Style)
</style>
<script>
    $(document).ready(function () {
        //$('#undo').hide();
    });
    var selection = [];
    function Select(id,img) {
        if (selection.indexOf(id) > -1) {
            selection = jQuery.grep(selection, function (value) {
                return value != id;
            });
            $(img).removeClass('img-selected');
            setAction()
            return;
        }
        selection.push(id);
        $(img).addClass('img-selected');
        setAction()
        return false;
    }
    function setAction() {
        if (selection.length > 0) {
            $('#undo').addClass('img-active');
        }
        else {
            $('#undo').removeClass('img-active');
        }
        if (selection.length > 0) {
            $('#submit').addClass('img-active');
        }
        else {
            $('#submit').removeClass('img-active');
        }
    }
    function onUndo() {
        selection = [];
        setAction();
        $('.captcha-img').removeClass('img-selected');
    }
    function onReload() {
        ShowAjaxLoader();
        window.location.href = window.location.href;
    }
    function ShowAjaxLoader() {
        document.getElementById("captcha-global-overlay").style.display = "block";
        return false;
    }
    function onSubmit() {
        if (selection.length <=0) {
            alert("Invalid selection");
            return false;
        }
        ShowAjaxLoader();
        $('#SelectedImages').val(selection.toString());
        $("#appointmentForm").submit();

    }
    var onSecuritySubmitSuccess = function (res) {
        if (res.success) {
            alert("Page verification completed successfully!");
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: "UpdateVerification", Prms:res});
            return false;
        }
        else {
            alert(res.error);
            if (res.exceeded) {
                var win = GetMainWindow();
                win.CloseWindow({ MethodName: "UpdateVerification", Prms: res });
                return false;
            }
            window.location.href = window.location.href;
        }
    };
    //var onAjaxComplete = function () {
    //    HideLoader($('#main-content'));
    //};
    var onSecuritySubmitComplete = function (res) {
    };
    @Html.Raw(Model.Script)
</script>
<div style="width:100%;display:flex;justify-content:center;padding-top:20px;" class="@Model.BgColor" id="main-content">
    <div id="captcha-global-overlay" class="global-overlay" style="z-index:10000;background-color:#fff;">
        <div class="global-overlay-loader">
        </div>
    </div>
    <div class="main-div-contaner">
        <div class="row no-gutters text-center" style="position:relative;top:0px;">
            @Html.Raw(Model.Labels)
        </div>
        <div class="row no-gutters @Model.BgColor" style="position:relative;top:60px;">
            @foreach (var item in Model.Images)
            {
                <div class="col-4 @item.ClassName" style="padding:5px;" id="@item.Id">
                    <img style="width:100px;height:100px;" class="captcha-img" src="data:image/gif;base64,@item.Base64" onclick="Select('@item.Id',this)" />
                </div>
            }
        </div>
        <form id="appointmentForm" asp-controller="Security" asp-action="SubmitCaptcha" asp-area="Core"
              data-ajax-begin="onAjaxBegin" data-ajax-complete="onSecuritySubmitComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onSecuritySubmitSuccess"
              data-ajax="true" data-ajax-method="POST"
              method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="text-center row no-gutters img-actions p-2" style="position: absolute; top: 420px; width: 330px;">
                <div class="col-4 text-center img-action-div" onclick="onUndo();">
                    <i class="fa fa-undo p-1 img-action" title="Undo/Clear Selection" id="undo"></i>
                    <p class="img-action-text">Clear Selection</p>
                </div>
                <div class="col-4 text-center img-action-div" onclick="onReload();">
                    <i class="fa fa-refresh p-1 img-action img-active" title="Refresh/Reload numbers" id="reload"></i>
                    <p class="img-action-text">Reload Images</p>
                </div>

                <div class="col-4 text-center img-action-div" onclick="onSubmit();">
                    <i class="fa fa-check p-1 img-action" title="Submit Selection" id="submit"></i>
                    <p class="img-action-text">Submit Selection</p>
                    @Html.HiddenFor(x => x.SelectedImages)
                    @Html.HiddenFor(x => x.CaptchaId)
                </div>

            </div>
        </form>
    </div>
</div>



