@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@*@using Kendo.Mvc.Extensions;*@

@{
    ViewData["Title"] = "ManageBatch";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model ListOfValueViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>

<div class="row" style="margin-left:15px;">

    <form asp-area="PortalAdmin" asp-controller="ListOfValue" asp-action="Manage" method="post" class="form-horizontal" id="myForm">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="List Of Value Type">List Of Value Type</label>
                    </div>
                    @*@(Html.Kendo().DropDownListFor(x=>x.ListOfValueType)
        .DataTextField("Name")
                     .DataValueField("Code")
                       .DataSource(source =>
                       {
                           source.Read(read =>
                           {
                           read.Action("GetListOfValueList", "ListOfValue", new { Type = "LOV_TYPE" });
                       });
          })
           // .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
          .HtmlAttributes(new { @class = "form-control", @style = "width:80%"})
         )*@
                    <input asp-for="ListOfValueType" id="ListOfValueType" class="form-control" style="width:80%" />
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" autocomplete="off" style="width:80%" />
                    <label for="Name">Name</label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Code" type="text" class="form-control" placeholder="Enter Name" autocomplete="off" style="width:80%" />
                    <label for="Code">Code</label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div>
                        <label for="Parent">Parent</label>
                    </div>
                    @*@(Html.Kendo().DropDownListFor(x=>x.ParentId)
        .DataTextField("Name")
                     .DataValueField("Id")
                       .DataSource(source =>
                       {
                           source.Read(read =>
                           {
                           read.Action("GetAllListOfValue", "ListOfValue");
                       });
          })
           .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
          .HtmlAttributes(new { @class = "form-control", @style = "width:80%"})
         )*@
                    <input asp-for="ParentId" id="ParentId" class="form-control" style="width:80%" />
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="IconCss" type="text" class="form-control" placeholder="Enter Icon Css" autocomplete="off" style="width:80%" />
                    <label for="IconCss">Icon Css</label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SequenceOrder" type="number" class="form-control" placeholder="Enter Sequence Order" autocomplete="off" style="width:80%" />
                    <label for="SequenceOrder">Sequence Order</label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <label for="Status">Status</label>
                <div class="col-12 pad-15">
                    @*@(Html.Kendo().DropDownListFor(x=>x.Status)
        .DataTextField("Name")
        .DataValueField("Id")
        .DataSource(source =>
        {
        source.Read(read =>
        {
            read.Action("GetEnumIdNameList", "Home", new { @area = "", enumType = "StatusEnum" });
        });
        })
        .Value(Model.Status.ToString())
        .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
        )*@
                    <input asp-for="Status" id="Status" class="form-control" style="width:80%" />
                </div>
            </div>


        </div>


        <div class="cms-slidebar-footer">
            <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
            <input type="submit" class="btn btn-primary" value="Save" id="submitBtn" />
        </div>

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
    </form>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            if (window.parent.$("#ListOfValuegrid").data("kendoGrid").dataSource.read()) { }
        }


        $("#ListOfValueType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Code",
            value: '@Model.ListOfValueType',
            optionLabel:"@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                transport: {
                    read: {
                        url: "/PortalAdmin/ListOfValue/GetListOfValueList?Type=LOV_TYPE",
                    }
                }
            }
         });

        $("#ParentId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: '@Model.ParentId',
            optionLabel:"@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                transport: {
                    read: {
                        url: "/PortalAdmin/ListOfValue/GetAllListOfValue",
                    }
                }
            }
         });


        $("#Status").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value:'@Model.Status.ToString()',
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=StatusEnum",
                    }
                }
            }
        });

    });

    function closeNavMemberGroup() {
       
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

</script>