@{
    ViewData["Title"] = "Settings";
    Layout = null;
}
@using CMS.UI.ViewModel;
@using CMS.Common;
@model SynergyTemplateViewModel;
    
    <style>
        label {
            display: inline-block;
            margin-bottom: -1.5rem;
            color: grey;
            float: right;
        }

        .float-container {
            border: solid 1px #ccc;
            position: relative;
        }

            .float-container input {
                border: none;
                outline: 0;
            }

        label {
            position: absolute;
        }

        .upload {
        }

        .upload-div .k-button {
            border: none !important;
            background-color: transparent !important;
            width: 100% !important;
            height: 100% !important;
            min-height: 80px !important;
            background-image: url('../../../../images/logo.png') !important;
            background-repeat: no-repeat !important;
            background-position: left !important;
            position: relative !important;
            padding: 0px !important;
        }

            .upload-div .k-button span, .upload-div .k-upload-files, .upload-div .k-upload-status {
                display: none !important;
            }

        .upload-div .k-dropzone {
            border: none !important;
            background-color: transparent !important;
            width: 100% !important;
            height: 100% !important;
        }
        /* .upload-div {
            border: none !important;
            background-color: transparent !important;
            width: 100% !important;
            height: 100% !important;
            background-image: url('../../../../images/logo.png') !important;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
        }*/

        .card-header {
            padding: 2px !important;
        }

        .k-listview {
            border: none !important;
        }

        .sidenav {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 100; /* Stay on top */
            top: 0; /* Stay at the top */
            right: 0;
            background-color: #fff; /* Black*/
            border-left: 1px solid silver;
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 30px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }



            /* Position and style the close button (top right corner) */
            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 15px;
                font-size: 30px;
                font-weight: bold;
                margin-left: 20px;
                color: gray;
                border: none;
                text-decoration: none;
            }

                .sidenav .closebtn:hover {
                    color: red;
                }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #component-div {
            transition: margin-left .5s;
            padding: 20px;
        }

        #editor-div {
            transition: margin-left .5s;
            padding: 20px;
        }

        #overlay {
            position: fixed;
            background: rgba(0,0,0,.5);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            width: 100%;
            height: 100%;
            z-index: 99;
            right: 100%;
            top: 0;
            /*  transition: right .5s ease;*/
        }

        .overlay {
            right: 0 !important;
            /* transition: right .5s ease !important;*/
        }

        .cms-panel-header-name {
            font-size: 16px;
            font-weight: 700;
            padding: 0 10px;
            width: 80%;
        }
        /*Style for switch checkbox*/
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

        /*Editor Type Style  */
        .slidenav-flow {
            overflow-x: hidden;
            overflow-y: auto !important;
            height: 85%;
        }

        .product {
            /*float: left;*/
            /*position: relative;*/
            /*width: 111px;*/
            height: 170px;
            margin: 0 0px;
            /*padding: 0;*/
        }

            .product img {
                width: 110px;
                height: 110px;
            }

            .product .div-icon {
                width: 110px;
                height: 110px;
                background-color: #f8f8f8;
            }

                .product .div-icon svg {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

            .product h3 {
                margin: 0;
                padding: 3px 5px 0 0;
                max-width: 96px;
                overflow: hidden;
                line-height: 1.1em;
                font-size: .9em;
                font-weight: normal;
                text-transform: uppercase;
                color: #999;
            }

            .product p {
                visibility: hidden;
            }

            .product:hover p {
                cursor: pointer;
                visibility: visible;
                position: absolute;
                width: 110px;
                height: 110px;
                top: 0;
                margin: 0;
                padding: 0;
                line-height: 110px;
                vertical-align: middle;
                text-align: center;
                color: #fff;
                background-color: rgba(0,0,0,0.75);
                transition: background .2s linear, color .2s linear;
                -moz-transition: background .2s linear, color .2s linear;
                -webkit-transition: background .2s linear, color .2s linear;
                -o-transition: background .2s linear, color .2s linear;
            }
        /*Editor Type Style Close */

        /* Add control start */
        .slidenav-flow {
            overflow-x: hidden;
            overflow-y: auto !important;
            height: 85%;
        }

        .style-control {
            margin-right: 5px;
            margin-left: 10px;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }

            .style-control span {
                font-size: smaller;
            }
        /* Add control close */
    </style>

   

    <div class="row pad-20 no-gutters">

        <div class="float-container col-sm-8" style="margin-left:-21px;">
            <label id="generatelbl" class="float-right" for="pagetitle" style="position:unset;">@Model.Name</label>

        </div>
        <div class=" container col-sm-3">
            <ul class="list-inline">
                <li style="float: left;margin: 8px 10px;"><a href="#">Design</a></li>
                <li style="float: left;margin: 8px 10px;"><a href="#">Settings</a></li>
                <li style="float: left;margin: 8px 10px;"><a href="javascript:void(0)" onclick="Permission()">Permissions</a></li>
            </ul>

        </div>
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row pad-20 no-gutters">
        <div class="col-sm-12 pad-b-15">
            <div class="float-right">

            </div>

        </div>

        <div class="pad-b-15 card col-12 page" data-mode="@Model.DataAction" id="@Model.TemplateId" data-page-content-type="Template" data-portal-id="@Model.TemplateId"
             data-name="@Model.Name">
            <div class="card-header page-header bg-info">
                <span id="page-name" class="page-title content-editable" data-placeholder="Template Name" style="padding-left:3px" contenteditable="true">
                    @Model.Name
                </span>
                <span class="cms-settings-box" onclick="OpenPageSettings(this)">
                    <i class="cursor-p fa fa-cog" title="Settings"></i>
                </span>
                <span class="cms-settings-box" onclick="Preview(this)">
                    <i class="cursor-p fa fa-eye" title="Preview"></i>
                </span>

            </div>
            <div class="card-body" id="component-container">
                <iframe src="/cms/template/FormBuilder?templateId=@Model.TemplateId&json=@Model.JsonForm" id="builder" style="padding:10px;width:98%;height:95vh;border:none"></iframe>
            </div>
        </div>
    </div>


    <div class="cms-footer">
        <input type="button" class="btn btn-primary" value="Save" onclick="OnSave()" />
    </div>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.DataAction)

<script>
    function OpenPageSettings(e) {
        //var evt = e;
        //console.log(evt);
        var sid = e.parentNode.parentNode.id;
        var stype = document.getElementById(sid).getAttribute('data-page-content-type');
        //alert("source Id : "+sid +", Type : "+stype);
        //OpenManageSettings(sid, stype);
        editNavStyle(sid, stype);
    }
    function Preview() {
        var url = "/cms/template/PreviewForm?templateId=@Model.TemplateId";
        @*document.getElementById('builder').src = url;*@
        window.open(url);
    }
</script>




