@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Template";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model SynergyTemplateMasterViewModel

<style>
    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 750px;
    }
    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }
    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }
    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }
</style>
<div class="slidenav-flow" style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    @*<h1 class="cms-panel-header-name">@ViewBag.Title</h1>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavPortal()" title="Close">&times;</a>
    <hr />*@
    <form asp-controller="Template" asp-action="ManageTemplateMaster" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">

            @*<div class="col-12">Name</div>*@
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" pattern="[a-zA-Z0-9]*" title="Special character and space not allowed in name." required="required" autocomplete="off" />
                    <label for="Name">Name</label>
                </div>
            </div>
            @*<div class="col-12">DisplayName</div>*@
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="DisplayName" type="text" class="form-control" placeholder="Enter Display Name" autocomplete="off" />
                    <label for="DomainName">Display Name</label>
                </div>
            </div>
            @*<div class="col-12">Subject</div>*@
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Subject" type="text" class="form-control" placeholder="Enter Subject" autocomplete="off" />
                    <label for="DomainName">Subject</label>
                </div>

            </div>
            @*<div class="col-12">Description</div>*@
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Description" type="text" class="form-control" placeholder="Enter Description" autocomplete="off" />
                    <label for="DomainName">Description</label>
                </div>

            </div>



            <div class="cms-slidebar-footer">
                <input type="button" class="btn btn-link" value="Close" onclick="closeNavCategory()" />
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
            @*<div class="col-sm-12">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-light" onclick="CloseIframeModal();">Close</button>
            </div>*@
        </div>
        @Html.HiddenFor(x => x.TemplateMasterId)
        @Html.HiddenFor(x => x.NtsType)       
        @Html.HiddenFor(x => x.Operation)
        @Html.HiddenFor(x => x.TemplateCategoryId)
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
       
    });
    function closeNavPortal() {
      
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
   

</script>