@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Member";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model SynergyTemplateViewModel
<style>
    table, th, td {
        border: 1px solid black;
    }

    th {
        /*background-color:#00ffff;*/
       /* text-align: center;*/
       padding-left:5px;
       color:black;
    }
    .bg-info
    {
        padding-left:10px;
    }
</style>
<div class="slidenav-flow" style="margin-top: 5px;padding-left: 20px;padding-right: 20px;">

    <form asp-controller="Template" asp-action="ManageTemplate" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="row" style="padding-left: 10px; padding-top: 10px;">
            <div class="col-12 pad-15">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading page-header bg-info" data-toggle="collapse" data-target="#header">
                            <div class="panel-title">
                                <b data-toggle="collapse" href="#header">Header</b>
                            </div>
                        </div>
                        <div id="header" class="panel-collapse in">
                            <div class="panel-body" style="cursor:pointer">
                                <table style="width:100%">
                                    <tr>
                                        <th scope="row">Collapse Header</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.CollapseHeader)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nts Number LabelName</th>
                                        <td>
                                            <input asp-for="NtsNoLabelName" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Subject Label Name</th>
                                        <td>
                                            <input asp-for="SubjectLabelName" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Subject Required</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsSubjectRequired)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Subject Editable</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsSubjectEditable)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hide Subject</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.HideSubject)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Description Label Name</th>
                                        <td>
                                            <input asp-for="DescriptionLabelName" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Description Required</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsDescriptionRequired)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Description Editable</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsDescriptionEditable)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hide Description</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.HideDescription)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hide Date And SLA</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.HideDateAndSLA)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Attachment Required</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsAttachmentRequired)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Header Section Text</th>
                                        <td>
                                            <input asp-for="HeaderSectionText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Header Section Message</th>
                                        <td>
                                            <input asp-for="HeaderSectionMessage" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-left:10px;padding-top:10px;">
            <div class="col-12 pad-15">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading page-header bg-info" data-toggle="collapse" data-target="#Field">
                            <div class="panel-title">
                                <b data-toggle="collapse" href="#Field">Field Section</b>
                            </div>
                        </div>
                        <div id="Field" class="panel-collapse in">
                            <div class="panel-body" style="cursor:pointer">
                                <table style="width:100%">
                                    <tr>
                                        <th scope="row">Field Section Text</th>
                                        <td>
                                            <input asp-for="FieldSectionText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Field Section Message</th>
                                        <td>
                                            <input asp-for="FieldSectionMessage" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Layout Column Count</th>
                                        <td>
                                            <input asp-for="LayoutColumnCount" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-left: 10px; padding-top: 10px;">
            <div class="col-12 pad-15">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading page-header bg-info" data-toggle="collapse" data-target="#buttons">
                            <div class="panel-title">
                                <b data-toggle="collapse" href="#buttons">Button</b>
                            </div>
                        </div>
                        <div id="buttons" class="panel-collapse in">
                            <div class="panel-body" style="cursor:pointer">
                                <table style="width:100%">
                                    <tr>
                                        <th scope="row">Draft Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.DraftButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Draft Button Text</th>
                                        <td>
                                            <input asp-for="DraftButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Cancel Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.CancelButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Cancel Button Text</th>
                                        <td>
                                            <input asp-for="CancelButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Cancel Reason Required</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsCancelReasonRequired)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Back Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.BackButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Back Button Text</th>
                                        <td>
                                            <input asp-for="BackButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Reject Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.RejectButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Reject Button Text</th>
                                        <td>
                                            <input asp-for="RejectButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Rejection Reason Required</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsRejectionReasonRequired)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Complete Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.CompleteButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Complete Button Text</th>
                                        <td>
                                            <input asp-for="CompleteButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Complete Reason Required</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsCompleteReasonRequired)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Save Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.SaveButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Return Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.ReturnButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Return Button Text</th>
                                        <td>
                                            <input asp-for="ReturnButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Return Reason Required</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsReturnReasonRequired)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Close Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.CloseButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Close Button Text</th>
                                        <td>
                                            <input asp-for="CloseButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Save Changes Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.SaveChangesButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Save Changes Button Text</th>
                                        <td>
                                            <input asp-for="SaveChangesButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Reopen Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.ReopenButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Reopen Reason Required</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.IsReopenReasonRequired)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Reopen Button Text</th>
                                        <td>
                                            <input asp-for="ReopenButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ReSubmit Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.ReSubmitButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ReSubmit Button Text</th>
                                        <td>
                                            <input asp-for="ReSubmitButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Enable Print Button</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.EnablePrintButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Print Button Text</th>
                                        <td>
                                            <input asp-for="PrintButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Print Method Name</th>
                                        <td>
                                            <input asp-for="PrintMethodName" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Save New Version Button Text</th>
                                        <td>
                                            <input asp-for="SaveNewVersionButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Create New Version Button Text</th>
                                        <td>
                                            <input asp-for="CreateNewVersionButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Admin Can Edit Udf</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.AdminCanEditUdf)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">NotApplicableButton</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.NotApplicableButton)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left:10px;padding-top:10px;">
            <div class="col-12 pad-15">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading page-header bg-info" data-toggle="collapse" data-target="#step">
                            <div class="panel-title">
                                <b data-toggle="collapse" href="#step">Step Configuration</b>
                            </div>
                        </div>
                        <div id="step" class="panel-collapse in">
                            <div class="panel-body" style="cursor:pointer">
                                <table style="width:100%">
                                    <tr>
                                        <th scope="row">Step Task Add Button Text</th>
                                        <td>
                                            <input asp-for="StepTaskAddButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Step Task Cancel Button Text</th>
                                        <td>
                                            <input asp-for="StepTaskCancelButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Step Section Text</th>
                                        <td>
                                            <input asp-for="StepSectionText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Step Section Message</th>
                                        <td>
                                            <input asp-for="StepSectionMessage" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Can Add Step Task</th>
                                        <td>
                                            <input asp-for="CanAddStepTask" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Step Task Creation Optional Label</th>
                                        <td>
                                            <input asp-for="StepTaskCreationOptionalLabel" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Can Remove Step Task</th>
                                        <td>
                                            <input asp-for="CanRemoveStepTask" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Remove Step Task Button Text</th>
                                        <td>
                                            <input asp-for="RemoveStepTaskButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Remove Step Task Confirm Text</th>
                                        <td>
                                            <input asp-for="RemoveStepTaskConfirmText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Remove Step Task Success Message</th>
                                        <td>
                                            <input asp-for="RemoveStepTaskSuccessMessage" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Can Remove Adhoc Task</th>
                                        <td>
                                            <input asp-for="CanRemoveAdhocTask" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Remove Adhoc Task Button Text</th>
                                        <td>
                                            <input asp-for="RemoveAdhocTaskButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Remove Adhoc Task Confirm Text</th>
                                        <td>
                                            <input asp-for="RemoveAdhocTaskConfirmText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Remove Adhoc Task Success Message</th>
                                        <td>
                                            <input asp-for="RemoveAdhocTaskSuccessMessage" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left:10px;padding-top:10px;">
            <div class="col-12 pad-15">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading page-header bg-info" data-toggle="collapse" data-target="#stepservice">
                            <div class="panel-title">
                                <b data-toggle="collapse" href="#stepservice">Step Service Configuration</b>
                            </div>
                        </div>
                        <div id="stepservice" class="panel-collapse in">
                            <div class="panel-body" style="cursor:pointer">
                                <table style="width:100%">
                                    <tr>
                                        <th scope="row">Can Add Step Service</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.CanAddStepService)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Step Service Creation Optional Label</th>
                                        <td>
                                            <input asp-for="StepServiceCreationOptionalLabel" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Step Service Add Button Text</th>
                                        <td>
                                            <input asp-for="StepServiceAddButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Step Service Cancel Button Text</th>
                                        <td>
                                            <input asp-for="StepServiceCancelButtonText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Can Remove Step Service</th>
                                        <td>
                                            @(Html.Kendo().SwitchFor(x=>x.CanRemoveStepService)
                                                .Messages(c => c.Checked("Y").Unchecked("N"))
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Remove Step Service Confirm Text</th>
                                        <td>
                                            <input asp-for="RemoveStepServiceConfirmText" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Remove Step Service Success Message</th>
                                        <td>
                                            <input asp-for="RemoveStepServiceSuccessMessage" type="text" class="form-control" autocomplete="off" />
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cms-manageportal-footer">
            <input type="button" class="btn btn-link" value="Close" onclick="Close();" />
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
    </form>
</div>

<script type="text/javascript">
    function onSelect(e) {

        if (e.item) {
            var dataItem = this.dataItem(e.item);

            $("#UserName").val(dataItem.Text);
        }

    }
    function Close() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>