@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = ViewBag.ReportTitle;
    Layout = null;
}

<style>
    .k-grid-header .k-header {
        position: relative;
        vertical-align: bottom;
        cursor: default;
        font-weight: 600 !important;
    }

    .k-grid .k-grid-header .k-header .k-link {
        overflow: visible !important;
        white-space: normal !important;
    }

    td[role="gridcell"] {
        white-space: nowrap;
    }
</style>

<div class="contener" style="padding:20px;">
    <div class="row" style="padding-top:10px;padding-bottom:10px;">
        <div class="col-12" style="text-align:center;">
            <h4>@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="row" style="padding-top:10px;padding-bottom:10px;">
        <div class="col-2" id="divinputward">
            <label style="font-weight:bold;">Select Ward</label>
            <input id="WardId" style="width: 100%;" />
        </div>
        <div class="col-2" id="divinputdept">
            <label style="font-weight:bold;">Select Department</label>
            <input id="DepartmentId" style="width: 100%;" />
        </div>
        <div class="col-2" id="divinputgrev">
            <label style="font-weight:bold;">Select Complaint Type</label>
            <input id="GrievanceTypeId" style="width: 100%;" />
        </div>
         <div class="col-2" id="divinputgrvstatus">
            <label style="font-weight:bold;">Select Status</label>
            <input id="GrvStatusId" style="width: 100%;" />
        </div>
        <div class="col-2">
            <label style="font-weight:bold;">From Date</label>
            <input id="FromDate" style="width: 100%;" />
        </div>
        <div class="col-2">
            <label style="font-weight:bold;">To Date</label>
            <input id="ToDate" style="width: 100%;" />
        </div>
        <div class="col-2" style="padding-top:15px;">
            <button class="btn btn-primary mt-3" onclick="onSearchChart()" style="margin-right:10px;"><i class="fas fa-magnifying-glass"></i>  Search</button>
            <button class="btn btn-info mt-3" onclick="onResetChart()"><i class="fas fa-rotate-left"></i> Reset</button>
        </div>
        <div class="col" style="padding-top:15px;text-align:right;">
            @if(ViewBag.ReportTypeCode == "STATUS_WISE"){
                <button class="btn btn-warning mt-3" onclick="onBackReportDashboard()"><i class="fas fa-left"></i> Back to Report Dashboard</button>
            }
            
        </div>
    </div>
    <div class="row" style="padding-top:10px;padding-bottom:10px;">
        @if (ViewBag.ReportTypeCode == "STATUS_WISE")
        {
            <div class="col-12" id="divchart" style="left:25%;">
                <div id="chartGrievanceReportDeptWise"></div>
            </div>
        }else{
            <div class="col-12" id="divchart">
                <div id="chartGrievanceReportDeptWise"></div>
            </div>
        }

    </div>
    <div class="row" style="padding-top:10px;">
    <div class="col-6">
        <span id="gridtitle" style="color:inherit;padding-left: 2px;font-weight:bold;font-size:16px;"></span>
    </div>
    <div class="col-6" style="text-align:right;" id="divflag">
            <span style="color:dodgerblue;padding-left: 2px;font-weight:bold" class="fas fa-flag-pennant" title='Level 2' > Level 2 </span>
            <span style="color:orange;padding-left: 2px" class="fas fa-flag-pennant" title='Level 3' > Level 3 </span>
            <span style="color:red;padding-left: 2px" class="fas fa-flag-pennant" title='Level 4' > Level 4 </span>
            <span style='color:blue;' class='fas fa-rotate-right' title='Reopened' > Reopened</span>
    </div>
    </div>
    <div class="row" style="padding-top:10px;padding-bottom:10px;">
        <div class="col-12 p-2" id="divgrid">
            <div id="kGridView" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        
        $("#WardId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetWardList"
                    }
                },
            },
        });

        $("#DepartmentId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetJSCDepartmentList",
                    }
                }
            }
        });
        
        $("#GrievanceTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetJSCGrievanceTypeList",
                    }
                }
            }
        });
        $("#GrvStatusId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?Type=JSC_GRV_STATUS",
                    }
                }
            }
        });

        $("#FromDate").kendoDatePicker({
            value: new Date(new Date().setMonth(new Date().getMonth()-6)),
			format: "dd-MM-yyyy",
            dateInput: false
	    });
        $("#FromDate").attr("disabled", "disabled");

        $("#ToDate").kendoDatePicker({
            value: new Date(),
			format: "dd-MM-yyyy",
            dateInput: false
	    });
        $("#ToDate").attr("disabled", "disabled");

        onSearchChart();
    });
    
    function onBackReportDashboard(){
        window.location.href = "/portal/JammuSmartCityEmployee/JSCGrievanceReportDashboard";
        LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "Reports Dashboard");
        return false;
    }

    function onSearchChart() {
        debugger;
        $("#divchart").show();
        $("#divgrid").hide();
        $("#divflag").hide();
        $("#gridtitle").hide();
        
        var wid = $("#WardId").data("kendoDropDownList").value();
        var did = $("#DepartmentId").data("kendoDropDownList").value();
        var grevid = $("#GrievanceTypeId").data("kendoDropDownList").value();
        var grvstatusid = $("#GrvStatusId").data("kendoDropDownList").value();
        
        var fd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var td = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');

        var pieurl="/Egov/SmartCity/GetGrievanceReportDepartmentWiseData?typeCode=@ViewBag.ReportTypeCode";
        if('@ViewBag.ReportTypeCode'=="WARD_WISE"){
            pieurl = "/Egov/SmartCity/GetGrievanceReportDepartmentWiseData?typeCode=@ViewBag.ReportTypeCode&wardId="+wid+"&fromDate="+fd+"&toDate="+td;
        }else if('@ViewBag.ReportTypeCode'=="DEPARTMENT_WISE"){
            pieurl = "/Egov/SmartCity/GetGrievanceReportDepartmentWiseData?typeCode=@ViewBag.ReportTypeCode&departmentId="+did+"&fromDate="+fd+"&toDate="+td;
        }else if('@ViewBag.ReportTypeCode'=="COMPLAINTTYPE_WISE"){
            pieurl = "/Egov/SmartCity/GetGrievanceReportDepartmentWiseData?typeCode=@ViewBag.ReportTypeCode&grievanceTypeId="+grevid+"&fromDate="+fd+"&toDate="+td;
        } else if ('@ViewBag.ReportTypeCode' == "STATUS_WISE") {
            pieurl = "/Egov/SmartCity/GetGrievanceReportDepartmentWiseData?typeCode=@ViewBag.ReportTypeCode&grvStatusId=" + grvstatusid + "&fromDate=" + fd + "&toDate=" + td;
        }

        pieChart(pieurl, "chartGrievanceReportDeptWise", '@ViewBag.ReportTitle');
        
    }
    if('@ViewBag.ReportTypeCode'=="WARD_WISE"){
        $("#divinputward").show();
        $("#divinputdept").hide();
        $("#divinputgrev").hide();
        $("#divinputgrvstatus").hide();
        $("#divchart").hide();
        $("#divflag").hide();
        $("#gridtitle").hide();
        $("#divgrid").hide();
    }else if('@ViewBag.ReportTypeCode'=="DEPARTMENT_WISE"){
        $("#divinputward").hide();
        $("#divinputdept").show();
        $("#divinputgrev").hide();
        $("#divinputgrvstatus").hide();
        $("#divchart").hide();
        $("#divflag").hide();
        $("#gridtitle").hide();
        $("#divgrid").hide();
    } else if ('@ViewBag.ReportTypeCode' == "COMPLAINTTYPE_WISE") {
        $("#divinputward").hide();
        $("#divinputdept").hide();
        $("#divinputgrev").show();
        $("#divinputgrvstatus").hide();
        $("#divchart").hide();
        $("#divflag").hide();
        $("#gridtitle").hide();
        $("#divgrid").hide();
    } else if ('@ViewBag.ReportTypeCode' == "STATUS_WISE") {
        $("#divinputward").hide();
        $("#divinputdept").hide();
        $("#divinputgrev").hide();
        $("#divinputgrvstatus").show();
        $("#divchart").hide();
        $("#divflag").hide();
        $("#gridtitle").hide();
        $("#divgrid").hide();
    }

    function onResetChart() {
        debugger;
        $("#divchart").hide();
        $("#divflag").hide();
        $("#gridtitle").hide();
        $("#FromDate").data("kendoDatePicker").value(new Date(new Date().setMonth(new Date().getMonth() - 6)));
        $("#ToDate").data("kendoDatePicker").value(new Date());
        document.getElementById("kGridView").innerHTML = "";
        $("#divgrid").hide();
        $("#WardId").data("kendoDropDownList").value(-1);
        $("#DepartmentId").data("kendoDropDownList").value(-1);
        $("#GrievanceTypeId").data("kendoDropDownList").value(-1);
        $("#GrvStatusId").data("kendoDropDownList").value(-1);
    }

    function pieChart(url, chartId, chartTitle) {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    
                    var vals = res.ItemValueSeries;
                    var barvals = res.BarItemValueSeries;
                    var itcode = res.Code;
                    var barcolors = res.Colors;
                    var chart = "#" + chartId;
                    var options;
                    if ('@ViewBag.ReportTypeCode' == "WARD_WISE" || '@ViewBag.ReportTypeCode' == "DEPARTMENT_WISE" || '@ViewBag.ReportTypeCode' == "COMPLAINTTYPE_WISE") {
                        options = {
                            series: barvals,
                            title: {
                                text: chartTitle
                            },
                            fill: {
                                type: 'gradient',
                                gradient: {
                                    shade: 'dark',
                                    type: 'vertical',
                                    shadeIntensity: 0.1,
                                    opacityFrom: 1,
                                    opacityTo: 0.4,
                                    stops: [0, 80, 100]
                                },
                            },
                            chart: {
                                type: 'bar',
                                height: 450,
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        debugger;
                                        var name = config.w.globals.labels[config.dataPointIndex];
                                        if ('@ViewBag.ReportTypeCode' == "WARD_WISE") {
                                            document.getElementById("gridtitle").innerHTML = "Ward : "+name;
                                        } else if ('@ViewBag.ReportTypeCode' == "DEPARTMENT_WISE") {
                                            document.getElementById("gridtitle").innerHTML = "Department : "+name;
                                        } else if ('@ViewBag.ReportTypeCode' == "COMPLAINTTYPE_WISE") {
                                            document.getElementById("gridtitle").innerHTML = "Complaint Type : "+name;
                                        } else if ('@ViewBag.ReportTypeCode' == "STATUS_WISE") {
                                            document.getElementById("gridtitle").innerHTML = "Complaint Status : "+name;
                                        }
                                        $("#divflag").show();
                                        $("#gridtitle").show();
                                        $("#divgrid").show();
                                        getComplaintData(name);
                                    }
                                }
                            },
                            plotOptions: {
                                bar: {
                                    borderRadius: 4,
                                    horizontal: false,
                                }
                            },
                            dataLabels: {
                                enabled: true
                            },
                            xaxis: {
                                categories: res.ItemValueLabel,
                                show: true,
                                title:{
                                        @if (ViewBag.ReportTypeCode == "WARD_WISE") {
                                            @: text: 'Ward(s)'
                                        } else if (ViewBag.ReportTypeCode == "DEPARTMENT_WISE") {
                                            @: text: 'Department(s)'
                                        } else if (ViewBag.ReportTypeCode == "COMPLAINTTYPE_WISE") {
                                            @: text: 'Complaint Type(s)'
                                        } else if (ViewBag.ReportTypeCode == "STATUS_WISE") {
                                            @: text: 'Complaint Status'
                                        }
                                },
                            },
                            yaxis: {
                                show:true,
                                title: {
                                        text: 'Complaint Counts'
                                },
                                labels:{
                                        formatter: function(val, index) {
                                        return val.toFixed(0);
                                        }
                                }
                            },
                            //labels: res.ItemValueLabel,
                            //colors: res.Colors,//['#00FF00', '#FF0000', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                            //dataLabels: {
                            //    formatter: function (val, opts) {
                            //        return opts.w.config.series[opts.seriesIndex]
                            //    },
                            //},
                        };
                    }
                    else if ('@ViewBag.ReportTypeCode' == "STATUS_WISE") {

                     options = {
                        series: vals,
                        title: {
                            text: undefined
                        },
                        fill: {
                            type: 'gradient',
                            gradient: {
                                shade: 'light',
                                //type: 'vertical',
                                shadeIntensity: 0.6,
                                opacityFrom: 0.4,
                                opacityTo: 1,
                                stops: [0, 90, 100]
                            },
                        },
                        chart: {
                            id: chartId,
                            width: 450,
                            height: 450,
                            type: 'pie',
                            events: {
                                dataPointSelection: function (event, chartContext, config) {
                                        debugger;
                                        var name = config.w.globals.labels[config.dataPointIndex];
                                        if ('@ViewBag.ReportTypeCode' == "STATUS_WISE") {
                                            document.getElementById("gridtitle").innerHTML = "Complaint Status : " + name;
                                        }
                                        $("#gridtitle").show();
                                        $("#divflag").show();
                                        $("#divgrid").show();
                                        getComplaintData(name);
                                }
                            }
                        },
                        legend: {
                            position: 'bottom'
                        },
                        labels: res.ItemValueLabel,
                        colors: res.Colors,//['#00FF00', '#FF0000', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                        dataLabels: {
                            formatter: function (val, opts) {
                        return opts.w.config.series[opts.seriesIndex] + " (" + val.toFixed(2) + "%)"
                            },
                        },
                    };

                  
                    } else {
                        options = {
                            series: vals,
                            title: {
                                text: chartTitle
                            },
                            chart: {
                                id: chartId,
                                width: 500,
                                height: 400,
                                type: 'pie',
                                events: {
                                    dataPointSelection: function (event, chartContext, config) {
                                        debugger;
                                        var name = config.w.globals.labels[config.dataPointIndex];
                                        getComplaintData(name);
                                    }
                                }
                            },
                            legend: {
                                position: 'bottom'
                            },
                            labels: res.ItemValueLabel,
                            theme: {
                                palette: 'palette1' // upto palette10
                            },
                            //colors: ['#00FF00', '#FF0000', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                            dataLabels: {
                                formatter: function (val, opts) {
                                    return opts.w.config.series[opts.seriesIndex]
                                },
                            },
                        };
                    }
                    document.getElementById(chartId).innerHTML = "";
                    var chart = new ApexCharts(document.querySelector(chart), options);
                    chart.render();
                }
            }
        });
    }
    
    function htmlDecode(value) {
        return value.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }
    var columnDefs = [
                {
            title: "Complaint No",
            field: "ServiceNo",
            hidden: true,
            exportable: { excel: true }
        },
        {
            title: "Complaint No",
            field: "ComplaintNoText",
            width: "250px",
            exportable: { excel: false },
            template: "#= htmlDecode(ComplaintNoText)#",

        },
        @if (ViewBag.ReportTypeCode != "WARD_WISE") 
        {
            @:{
            @: title: "Ward",
            @:    field: "Ward",
            @:    width: 120,
            @:template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Ward#<span/>#}else{##:Ward##}#"
            @:},
        }
        @if (ViewBag.ReportTypeCode != "DEPARTMENT_WISE")
        {
            @: {
            @: title: "Department",
            @: field: "Department",
            @:template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Department#<span/>#}else{##:Department##}#"
            @: },
        }
        {
            title: "Complaint Date",
            field: "CreatedDateText",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:CreatedDateText#<span/>#}else{##:CreatedDateText##}#"
        },
        @if (ViewBag.ReportTypeCode != "COMPLAINTTYPE_WISE")
        {
            @: {
            @: title: "Complaint Type",
            @: field: "GrievanceType",
            @: template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:GrievanceType#<span/>#}else{##:GrievanceType##}#"
            @: },
        }

        {
            title: "Complaint",
            field: "Name",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Name#<span/>#}else{##:Name##}#"
        },
        {
            title: "Applicant Name",
            field: "OwnerUserName",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:OwnerUserName#<span/>#}else{##:OwnerUserName##}#"
        },
    @if (ViewBag.ReportTypeCode != "STATUS_WISE")
        {
            @: {
            @: title: "Complaint Status",
            @: field: "GrvStatus",
            @:template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<div style='font-weight:bold'> Pending</div>#}else{##:GrvStatus##}#"
            @: },
        }
        {
            title: "Officer Name",
            field: "Level1User",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Level1User#<span/>#}else{##:Level1User##}#"
        },
        {
            title: "No. of Days",
            field: "NoOfDaysPending",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:NoOfDaysPending#<span/>#}else{##:NoOfDaysPending##}#"
        },
    ];

        var columnDefs1 = [
        {
            headerName: "Complaint No",
            field: "ServiceNo",
            suppressSizeToFit: true,
            cellRenderer: params => {
                var a = "";
                debugger;
                var cnt = params.data.FlagDetails.length;
                for (var i = 0; i < cnt; i++) {
                    if (params.data.FlagDetails[i].LevelUserRole.includes("COMPLAINT_RESOLVER_LEVEL_2")) {
                        a = a + '<span style="color:dodgerblue;padding-left: 2px;font-weight:bold" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 2 </span>';
                    }
                    if (params.data.FlagDetails[i].LevelUserRole.includes("COMPLAINT_RESOLVER_LEVEL_3")) {
                        a = a + '<span style="color:orange;padding-left: 2px" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 3 </span>';
                    }
                    if (params.data.FlagDetails[i].LevelUserRole.includes("COMPLAINT_RESOLVER_LEVEL_4")) {
                        a = a + '<span style="color:red;padding-left: 2px" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 4 </span>';
                    }

                }
                if (params.data.ReopenCount > 0) {
                    a = a + " <span title='Reopened' style='color:blue;cursor:pointer' class='fas fa-rotate-right'></span>";
                }

                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
                    return a + "<input title='View Details' style='font-weight:bold' type='button' class='btn btn-link' onclick='OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\" )' value=\"" + params.value + "\" />";
                } else {
                    return a + "<input title='View Details' type='button' class='btn btn-link' onclick='OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\" )' value=\"" + params.value + "\" />";
                }

            }
        },
        @if (ViewBag.ReportTypeCode != "WARD_WISE") 
        {
            @:{
            @: headerName: "Ward",
            @:    field: "Ward",
            @:    width: 120,
            @:        cellRenderer: params => {
            @:            if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
            @:                return "<span style='font-weight:bold'>" + params.value + "<span/>";
            @:            } else {
            @:                return params.value;
            @:            }
            @:        }
            @:},
        }
        @if (ViewBag.ReportTypeCode != "DEPARTMENT_WISE")
        {
            @: {
            @: headerName: "Department",
            @: field: "Department",
            @: cellRenderer: params => {
            @:     if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
            @:        return "<span style='font-weight:bold'>" + params.value + "<span/>";
            @:    } else {
            @:        return params.value;
            @:    }
            @: }
            @: },
        }
        @if (ViewBag.ReportTypeCode != "COMPLAINTTYPE_WISE")
        {
            @: {
            @: headerName: "Complaint Type",
            @: field: "GrievanceType",
            @: cellRenderer: params => {
            @:         if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
            @:             return "<span style='font-weight:bold'>" + params.value + "<span/>";
            @:        } else
            @:        {
            @:            return params.value;
            @:        }
            @:    }
            @: },
        }

        {
            headerName: "Name",
            field: "Name",
            cellRenderer: params => {
                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
                    return "<span style='font-weight:bold'>" + params.value + "<span/>";
                } else {
                    return params.value;
                }
            }
        },
    @if (ViewBag.ReportTypeCode != "STATUS_WISE")
        {
            @: {
            @: headerName: "Complaint Status",
            @: field: "GrvStatus",
            @: cellRenderer: params => {
            @:        if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") { return "<div style='background-color:#f7f5bc;padding-left:10px;font-weight:bold'>  Pending</div>"; }
            @:        if (params.data.GrvStatusCode == "GRV_IN_PROGRESS") { return "<div style='background-color:#DFE9F5;padding-left:10px'>  " + params.value + "</div>"; }
            @:        if (params.data.GrvStatusCode == "GRV_NOT_PERTAINING") { return "<div style='background-color:#FFCD91;padding-left:10px'>   " + params.value + "</div>"; }
            @:        if (params.data.GrvStatusCode == "GRV_DISPOSED") { return "<div style='background-color:#90EE90;padding-left:10px'>   " + params.value + "</div>"; }
            @: else { return params.value; }
            @:    }
            @: },
        }

        {
            headerName: "Complaint Date",
            field: "CreatedDate",
            cellRenderer: params => {
                var date = new Date(params.value);

                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
                    return "<span style='font-weight:bold'>" + datefun(date) + "<span/>";
                } else {
                    return datefun(date);
                }
            }
        },
    ];

    function getComplaintData(name) {
        //gridConfig(
        //    "kGridView",
        //    "/EGov/SmartCity/GetComplaintReportData?name=" + name + "&reportType=@ViewBag.ReportTypeCode",
        //    columnDefs1,
        //    false,
        //    true,
        //    true,
        //    true,
        //    1,
        //    true,
        //    10);

        var fd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var td = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');

        var url ="/EGov/SmartCity/GetComplaintReportData?name=" + name + "&reportType=@ViewBag.ReportTypeCode&fromDate="+fd+"&toDate="+td;
                $("#kGridView").kendoGrid({
            toolbar: ["search", "excel"],
            excel: {
                fileName: "Report"+name+".xlsx",
                filterable: true,
                allPages: true
            },
            //pdf: {
            //    allPages: true,
            //    avoidLinks: true,
            //    paperSize: "A4",
            //    margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
            //    landscape: true,
            //    repeatHeaders: true,
            //    template: $("#page-template").html(),
            //    scale: 0.8
            //},
            dataSource: {
                transport: {
                    read: url
                },
            },
            height: 550,
            groupable: false,
            sortable: true,
            resizable: true,
            reorderable: true,
            pageable: true,
            //columnMenu: true,
            columns: columnDefs
        });
    }

    function datefun(d) {
        let h = addZero(d.getHours());
        let m = addZero(d.getMinutes());

        return d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + h + ":" + m;
    }

    function addZero(i) {
        if (i < 10) { i = "0" + i }
        return i;
    }

    function OpenTask(id, tempCode) {

        var portalId = $('#GlobalPortalId').val();
        var url = '/EGov/SmartCity/ManageGrievanceForm?complaintId=' + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'View Complaint', Width: 1200, Height: 700 });
        return false;
    }

</script>