@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model EGovDashboardViewModel
@inject Synergy.App.Common.IUserContext _userContext;

@{
    ViewData["Title"] = "Dashboard";
    Layout = null;

}
<link type="text/css" rel="stylesheet" href="~/css/cms/DashBoard.css" asp-append-version="true" />
<style>
    .summary-card {
        width: 400px;
        margin-right: 100px;
    }

    .summary-card-body {
        width: 400px;
    }

    .border-right {
        border-right: 1px solid #006699 !important;
    }

    .summary-card-header {
        width: 400px;
    }

    a {
        color: dodgerblue;
    }

    .value {
        color: #346cb0;
        text-decoration: underline;
        cursor: pointer;
    }

    .k-grid-header .k-header {
        position: relative;
        vertical-align: bottom;
        cursor: default;
        font-weight: 600 !important;
    }

    .k-grid .k-grid-header .k-header .k-link {
        overflow: visible !important;
        white-space: normal !important;
    }

    td[role="gridcell"] {
        white-space: normal;
    }
    .k-grid {
    font-size: 14px;
}
    .bg-complst-pending {
        /*background-color:#FF2E2E;*/
        background-color: #ff6c6c;
    }
    .bg-complst-inprogress {
        /*background-color: #FFBF00;*/
        background-color: #ffd24c;
    }
    .bg-complst-notpertaining {
        /*background-color: #9AA394;*/
        background-color: #b8beb4;
    }
    .bg-complst-disposed {
        /*background-color: #228B22;*/
        background-color: #64ad64;
    }
    .complst-count-text{
        left:5px;
        bottom:0px;
        position:absolute;
        font-weight:600;
    }
    .complst-count{
        text-align:right;
        font-size: 48px;
    }
    .complst-value {
        color: #ffffff;
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<script type="text/javascript">


    function OpenTask(id, tempCode) {

        var portalId = $('#GlobalPortalId').val();
        var url = '/EGov/SmartCity/ManageGrievanceForm?complaintId=' + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'View Complaint', Width: 1200, Height: 700 });
        return false;
    }



    var columnDefs1 = [
        {
            headerName: "Complaint No",
            field: "ServiceNo",
            suppressSizeToFit: true,
            cellRenderer: params => {
                var a = "";
                debugger;
                var cnt = params.data.FlagDetails.length;
                for (var i = 0; i < cnt; i++) {
                    if (params.data.FlagDetails[i].LevelUserRole.includes("COMPLAINT_RESOLVER_LEVEL_2")) {
                        a = a + '<span style="color:dodgerblue;padding-left: 2px;font-weight:bold" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 2 </span>';
                    }
                    if (params.data.FlagDetails[i].LevelUserRole.includes("COMPLAINT_RESOLVER_LEVEL_3")) {
                        a = a + '<span style="color:orange;padding-left: 2px" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 3 </span>';
                    }
                    if (params.data.FlagDetails[i].LevelUserRole.includes("COMPLAINT_RESOLVER_LEVEL_4")) {
                        a = a + '<span style="color:red;padding-left: 2px" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 4 </span>';
                    }

                }
                if (params.data.ReopenCount > 0) {
                    a = a + " <span title='Reopened' style='color:blue;cursor:pointer' class='fas fa-rotate-right'></span>";
                }

                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
                    return a + "<input title='View Details' style='font-weight:bold' type='button' class='btn btn-link' onclick='OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\" )' value=\"" + params.value + "\" />";
                } else {
                    return a + "<input title='View Details' type='button' class='btn btn-link' onclick='OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\" )' value=\"" + params.value + "\" />";
                }

            }
        },
        {
            headerName: "Department",
            field: "Department",
            cellRenderer: params => {
                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
                    return "<span style='font-weight:bold'>" + params.value + "<span/>";
                } else {
                    return params.value;
                }
            }
        },
        {
            headerName: "Complaint Type",
            field: "GrievanceType",
            cellRenderer: params => {
                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
                    return "<span style='font-weight:bold'>" + params.value + "<span/>";
                } else {
                    return params.value;
                }
            }

        },
        {
            headerName: "Name",
            field: "Name",
            cellRenderer: params => {
                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
                    return "<span style='font-weight:bold'>" + params.value + "<span/>";
                } else {
                    return params.value;
                }
            }
        },
        {
            headerName: "Complaint Status",
            field: "GrvStatus",
            cellRenderer: params => {
                debugger;
                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") { return "<div style='background-color:#f7f5bc;padding-left:10px;font-weight:bold'>  Pending</div>"; }
                if (params.data.GrvStatusCode == "GRV_IN_PROGRESS") { return "<div style='background-color:#DFE9F5;padding-left:10px'>  " + params.value + "</div>"; }
                if (params.data.GrvStatusCode == "GRV_NOT_PERTAINING") { return "<div style='background-color:#FFCD91;padding-left:10px'>   " + params.value + "</div>"; }
                if (params.data.GrvStatusCode == "GRV_DISPOSED") { return "<div style='background-color:#90EE90;padding-left:10px'>   " + params.value + "</div>"; }
                else { return params.value; }
            }
        },
        {
            headerName: "Complaint Date",
            field: "CreatedDate",
            cellRenderer: params => {
                var date = new Date(params.value);

                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") {
                    return "<span style='font-weight:bold'>" + datefun(date) + "<span/>";
                } else {
                    return datefun(date);
                }
            }
        },
    ];

    function htmlDecode(value) {
        return value.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }

    var columnDefs = [
        {
            title: "Complaint No",
            field: "ServiceNo",
            hidden: true,
            exportable: { excel: true }
        },
        {
            title: "Complaint No",
            field: "ComplaintNoText",
            width: "230px",
            exportable: { excel: false },
            template: "#= htmlDecode(ComplaintNoText)#"
        },
        {
            title: "Complaint Date",
            field: "CreatedDateText",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:CreatedDateText#<span/>#}else{##:CreatedDateText##}#"
        },
        {
            title: "Department",
            field: "Department",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Department#<span/>#}else{##:Department##}#"
        },
        {
            title: "Complaint Type",
            field: "GrievanceType",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:GrievanceType#<span/>#}else{##:GrievanceType##}#"
        },
        {
            title: "Complaint",
            field: "Name",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Name#<span/>#}else{##:Name##}#"
        },
        {
            title: "Applicant Name",
            field: "OwnerUserName",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:OwnerUserName#<span/>#}else{##:OwnerUserName##}#"
        },
        {
            title: "Complaint Status",
            field: "GrvStatus",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<div style='font-weight:bold'> Pending</div>#}else{##:GrvStatus##}#"
        },
        {
            title: "Officer Name",
            field: "Level1User",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Level1User#<span/>#}else{##:Level1User##}#"
        },
        {
            title: "No. of Days",
            field: "NoOfDaysPending",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:NoOfDaysPending#<span/>#}else{##:NoOfDaysPending##}#"
        },
    ];

    function datefun(d) {
        let h = addZero(d.getHours());
        let m = addZero(d.getMinutes());

        return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear() + " " + h + ":" + m;
    }

    function addZero(i) {
        if (i < 10) { i = "0" + i }
        return i;
    }


    $(function () {
        //onSearchChart();
        getStatusbasedata('');
    });
    function getStatusbasedata(status){

        var fdt = kendo.toString(new Date(new Date().setMonth(new Date().getMonth() - 6)), 'yyyy-MM-dd');
        var tdt = kendo.toString(new Date(), 'yyyy-MM-dd');
        getEmployeeDashboardData('', '', '', status, fdt, tdt, '');
    }

    $(document).ready(function () {
        document.getElementById("pCnt").innerHTML = '@ViewBag.PendingCount';
        document.getElementById("ipCnt").innerHTML = '@ViewBag.InProgressCount';
        document.getElementById("npCnt").innerHTML = '@ViewBag.NotPertainedCount';
        document.getElementById("dCnt").innerHTML = '@ViewBag.DisposedCount';

        $("#WardId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            dataTextField: "Name",
            dataValueField: "Id",
            value: '@ViewBag.WardId',
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetWardList"
                    }
                },
            },
        });

        $("#DepartmentId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetJSCDepartmentList",
                    }
                }
            }
        });

        $("#GrievanceTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetJSCGrievanceTypeList",
                    }
                }
            }
        });
        
        $("#GrvStatusId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Code",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?Type=JSC_GRV_STATUS",
                    }
                }
            }
        });

        $("#ComplaintDate").kendoDatePicker({
			format: "dd-MM-yyyy",
            dateInput: false
	    });
        $("#ComplaintDate").attr("disabled", "disabled");

        $("#FromDate").kendoDatePicker({
            value: new Date(new Date().setMonth(new Date().getMonth() - 6)),
            format: "dd-MM-yyyy",
            dateInput: false
        });
        $("#FromDate").attr("disabled", "disabled");

        $("#ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd-MM-yyyy",
            dateInput: false
        });
        $("#ToDate").attr("disabled", "disabled");

    });

    function onSearchChart() {
        debugger;
        var wid = $("#WardId").data("kendoDropDownList").value();
        var did = $("#DepartmentId").data("kendoDropDownList").value();
        var ctid = $("#GrievanceTypeId").data("kendoDropDownList").value();
        var stid = $("#GrvStatusId").data("kendoDropDownList").value();
        //var cdt = kendo.toString($("#ComplaintDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var fdt = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var tdt = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var cno = $("#ComplaintNo").val();
        //var search={
        //    WardId:wid,
        //    DepartmentId:did,
        //    ComplaintTypeId:ctid,
        //    StatusCode: stid,
        //    ComplaintDate:cdt,
        //    ComplaintNo:cno,
        //};

        getEmployeeDashboardData(wid, did, ctid, stid, fdt, tdt, cno);
    }
    
    function onResetChart() {
        $("#WardId").data("kendoDropDownList").value(-1);
        $("#DepartmentId").data("kendoDropDownList").value(-1);
        $("#GrievanceTypeId").data("kendoDropDownList").value(-1);
        $("#GrvStatusId").data("kendoDropDownList").value(-1);
        //$("#ComplaintDate").data("kendoDatePicker").value('');
        $("#FromDate").data("kendoDatePicker").value(new Date(new Date().setMonth(new Date().getMonth() - 6)));
        $("#ToDate").data("kendoDatePicker").value(new Date());
        $("#ComplaintNo").val('');
    }

    function getEmployeeDashboardData(wardId,departmentId,complaintTypeId,statusCode,fromDate,toDate,complaintNo) {
        var url = "/EGov/SmartCity/ReadGrievanceReportComplaintListData?wardId=" + wardId + "&departmentId=" + departmentId + "&complaintTypeId=" + complaintTypeId + "&statusCode=" + statusCode + "&fromDate=" + fromDate + "&toDate=" + toDate + "&complaintNo=" + complaintNo;
        //document.getElementById("kGridView").innerHTML = "";
        //if (status != '') {
        //    url = "/EGov/SmartCity/ReadGrievanceReportComplaintListData?status=" + status;
        //    document.getElementById("showall").style.display = "";
        //} else {
        //    document.getElementById("showall").style.display = "none";
        //}
        $("#kGridView").kendoGrid({
            toolbar: ["search", "excel"],
            excel: {
                fileName: "ComplaintList.xlsx",
                filterable: true,
                allPages: true
            },
            //excelExport: function (e) {
            //    e.workbook.fileName = "WardDepartment.xlsx";
            //    e.sender.showColumn(1);
            //    e.sender.hideColumn(2);
            //    //e.preventDefault();
            //    //exportFlag = true;
            //    setTimeout(function () {
            //    e.sender.saveAsExcel();
            //    });
            //},
            //pdf: {
            //    allPages: true,
            //    avoidLinks: true,
            //    paperSize: "A4",
            //    margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
            //    landscape: true,
            //    repeatHeaders: true,
            //    template: $("#page-template").html(),
            //    scale: 0.8
            //},
            dataSource: {
                transport: {
                    read: url
                },
            },
            height: 550,
            groupable: false,
            sortable: true,
            resizable: true,
            reorderable: true,
            pageable: true,
            //columnMenu: true,
            columns: columnDefs
        });

        //gridConfig(
        //    "kGridView",
        //    url,
        //    columnDefs,
        //    false,
        //    true,
        //    true,
        //    true,
        //    1,
        //    true,
        //    10);
    }

    function RefreshComplaintGrid(msg) {
        getEmployeeDashboardData('');
        getComplaintCountByStatus();
        myalert(msg);
    }

    function getComplaintCountByStatus() {
        $.ajax({
            url: '/EGov/SmartCity/GetComplaintCountByStatus',
            type: "Get",
            dataType: "json",
            success: function (result) {
                document.getElementById("pCnt").innerHTML = result.PendingCount;
                document.getElementById("ipCnt").innerHTML = result.InProgressCount;
                document.getElementById("npCnt").innerHTML = result.NotPertainedCount;
                document.getElementById("dCnt").innerHTML = result.DisposedCount;
            }
        });
    }


    function myalert(content) {
        $("<div></div>").kendoAlert({
            title: "Submission Confirmation",
            content: content.msg
        }).data("kendoAlert").open();
    }


</script>



<div class="container col-12" style="padding:10px;margin-top:20px;">
    <h3>Complaints Report</h3>

    <div class="row" style="padding-top:10px;padding-bottom:10px;">
        <div class="col">
            <div class="metric metric-bordered bg-complst-pending">
                <p class="complst-count-text">PENDING</p>
@*                <div class="metric-badge">
                    <span class="badge badge-lg badge-success" style="background-color:#f7f5bc;color: black;"><span class="oi oi-media-record pulse mr-1"></span> PENDING</span>
                </div>*@
                <p class="metric-value complst-count">
                    <a onclick="getStatusbasedata('GRV_PENDING')"><span class="complst-value" id="pCnt"></span></a>
                </p>
            </div>
        </div>

        <div class="col">
            <div class="metric metric-bordered bg-complst-inprogress">
                <p class="complst-count-text">IN PROGRESS</p>
                @*<div class="metric-badge">
                    <span class="badge badge-lg badge-success" style="background-color:#DFE9F5;color: black;"><span class="oi oi-media-record pulse mr-1"></span> IN PROGRESS</span>
                </div>*@
                <p class="metric-value complst-count">
                    <a onclick="getStatusbasedata('GRV_IN_PROGRESS')"> <span class="complst-value" id="ipCnt"></span></a>
                </p>
            </div>
        </div>

        <div class="col">
            <div class="metric metric-bordered bg-complst-notpertaining">
                <p class="complst-count-text">NOT PERTAINING</p>
                @*<div class="metric-badge">
                    <span class="badge badge-lg badge-success" style="background-color:#FFCD91;color: black;"><span class="oi oi-media-record pulse mr-1"></span> NOT PERTAINING</span>
                </div>*@
                <p class="metric-value complst-count">
                    <a onclick="getStatusbasedata('GRV_NOT_PERTAINING')"> <span class="complst-value" id="npCnt"></span></a>
                </p>
            </div>
        </div>

        <div class="col">
            <div class="metric metric-bordered bg-complst-disposed">
                <p class="complst-count-text">DISPOSED</p>
                @*<div class="metric-badge">
                    <span class="badge badge-lg badge-success" style="background-color:#90EE90;color: black;"><span class="oi oi-media-record pulse mr-1"></span> DISPOSED</span>
                </div>*@
                <p class="metric-value complst-count">
                    <a onclick="getStatusbasedata('GRV_DISPOSED')"> <span class="complst-value" id="dCnt"></span></a>
                </p>
            </div>
        </div>
    </div>
    <div style="text-align:end;padding: 1%;display:none;"><button id="showall" class="btn btn-primary" onclick="getEmployeeDashboardData('')">Show All</button></div>
    <div class="row" style="padding-top:10px;padding-bottom:10px;">
        <div class="col-3">
            <label style="font-weight:bold;">Select Ward</label>
            <input id="WardId" style="width: 100%;" />
        </div>
        <div class="col-3">
            <label style="font-weight:bold;">Select Department</label>
            <input id="DepartmentId" style="width: 100%;" />
        </div>
        <div class="col-3">
            <label style="font-weight:bold;">Select Complaint Type</label>
            <input id="GrievanceTypeId" style="width: 100%;" />
        </div>
        <div class="col-3">
            <label style="font-weight:bold;">Select Status</label>
            <input id="GrvStatusId" style="width: 100%;" />
        </div>
    </div>
    <div class="row" style="padding-top:10px;padding-bottom:10px;">
@*        <div class="col-3" style="display:none;">
            <label style="font-weight:bold;">Complaint Date</label>
            <input id="ComplaintDate" style="width: 100%;" />
        </div>*@
        <div class="col-3">
            <label style="font-weight:bold;">From Date</label>
            <input id="FromDate" style="width: 100%;" />
        </div>
        <div class="col-3">
            <label style="font-weight:bold;">To Date</label>
            <input id="ToDate" style="width: 100%;" />
        </div>
        <div class="col-3">
            <label style="font-weight:bold;">Complaint No</label>
            <input id="ComplaintNo" style="width: 100%;padding:5px;" />
        </div>
        <div class="col-3" style="padding-top:15px;">
            <button class="btn btn-primary mt-3" onclick="onSearchChart()" style="margin-right:10px;"><i class="fas fa-magnifying-glass"></i>  Search</button>
            <button class="btn btn-info mt-3" onclick="onResetChart()"><i class="fas fa-rotate-left"></i> Reset</button>
        </div>
    </div>
    <div class="row" style="padding-top:10px;padding-bottom:10px;">
        <div class="col-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-2">
            <div id="kGridView" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>

</div>

