@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Grievance Workflow";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}


@model JSCGrievanceWorkflow


<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">


            <form asp-area="EGov" asp-controller="SmartCity" asp-action="ManageGrievanceWorkflow" class="form-horizontal" id="myForm"
                  data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                      data-ajax="true" data-ajax-method="POST">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row-12" style="padding:10px;display:flex;">
                    <div class="col-4 pad-10">
                        <div class="form-label-group">
                            <div>
                                <label for="DepartmentId">Department</label>
                            </div>

                            <input asp-for="DepartmentId" id="DepartmentId" class="form-control" style="width:80%" required="required" />

                        </div>
                    </div>
                    <div class="col-4 pad-10">
                        <div class="form-label-group">
                            <div>
                                <label for="WardId">Ward</label>
                            </div>
                            @*<input asp-for="WardId" type="text" class="form-control" style="width:80%" required="required" />*@
                            <select asp-for="WardIds" id="WardIds" data-placeholder="Select Ward" style="width:80%" required="required" ></select>

                        </div>
                    </div>

                    <div class="col-4 pad-10">
                        <div class="form-label-group">
                            <div>
                                <label for="WorkflowLevelId">Workflow Level</label>
                            </div>
                            <input asp-for="WorkflowLevelId" type="text" class="form-control" style="width:80%" required="required" />
                        </div>
                    </div>

                </div>
                <br />
                <hr />
                <br />
                <div class="row" style="padding:10px;display:none;" id="level1">
                    <div class="col-4 pad-10" id="type1">
                        <label for="Level1AssignedToTypeId">Level1 Assigned To Type</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level1AssignedToTypeId" id="Level1AssignedToTypeId" class="form-control" style="width:80%" />
                        </div>
                    </div>

                    <div class="col-4 pad-10" id="team1" style="display: none;">
                        <label for="Level1AssignedToTeamId">Level1 Assigned To Team</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level1AssignedToTeamId" id="Level1AssignedToTeamId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                    <div class="col-4 pad-10" id="teamuser1" style="display: none;">
                        <label for="Level1AssignedToTeamUserId">Level1 Assigned To Team User</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level1AssignedToTeamUserId" id="Level1AssignedToTeamUserId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                    <div class="col-4 pad-10" id="user1" style="display: none;">
                        <label for="Level1AssignedToUserId">Level1 Assigned To UserId</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level1AssignedToUserId" id="Level1AssignedToUserId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:10px;display:none;" id="level2">
                    <div class="col-4 pad-10" id="type2">
                        <label for="Level2AssignedToTypeId">Level2 Assigned To Type</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level2AssignedToTypeId" id="Level2AssignedToTypeId" class="form-control" style="width:80%" />
                        </div>
                    </div>

                    <div class="col-4 pad-10" id="team2" style="display: none;">
                        <label for="Level2AssignedToTeamId">Level2 Assigned To Team</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level2AssignedToTeamId" id="Level2AssignedToTeamId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                    <div class="col-4 pad-10" id="teamuser2" style="display: none;">
                        <label for="Level2AssignedToTeamUserId">Level2 Assigned To Team User</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level2AssignedToTeamUserId" id="Level2AssignedToTeamUserId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                    <div class="col-4 pad-10" id="user2" style="display: none;">
                        <label for="Level2AssignedToUserId">Level2 Assigned To UserId</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level2AssignedToUserId" id="Level2AssignedToUserId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:10px;display:none;" id="level3">
                    <div class="col-4 pad-10" id="type3">
                        <label for="Level3AssignedToTypeId">Level3 Assigned To Type</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level3AssignedToTypeId" id="Level3AssignedToTypeId" class="form-control" style="width:80%" />
                        </div>
                    </div>

                    <div class="col-4 pad-10" id="team3" style="display: none;">
                        <label for="Level3AssignedToTeamId">Level3 Assigned To Team</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level3AssignedToTeamId" id="Level3AssignedToTeamId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                    <div class="col-4 pad-10" id="teamuser3" style="display: none;">
                        <label for="Level3AssignedToTeamUserId">Level3 Assigned To Team User</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level3AssignedToTeamUserId" id="Level3AssignedToTeamUserId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                    <div class="col-4 pad-10" id="user3" style="display: none;">
                        <label for="Level3AssignedToUserId">Level3 Assigned To UserId</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level3AssignedToUserId" id="Level3AssignedToUserId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:10px;display:none;" id="level4">
                    <div class="col-4 pad-10" id="type4">
                        <label for="Level4AssignedToTypeId">Level4 Assigned To Type</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level4AssignedToTypeId" id="Level4AssignedToTypeId" class="form-control" style="width:80%" />
                        </div>
                    </div>

                    <div class="col-4 pad-10" id="team4" style="display: none;">
                        <label for="Level4AssignedToTeamId">Level4 Assigned To Team</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level4AssignedToTeamId" id="Level4AssignedToTeamId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                    <div class="col-4 pad-10" id="teamuser4" style="display: none;">
                        <label for="Level4AssignedToTeamUserId">Level4 Assigned To Team User</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level4AssignedToTeamUserId" id="Level4AssignedToTeamUserId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                    <div class="col-4 pad-10" id="user4" style="display: none;">
                        <label for="Level4AssignedToUserId">Level4 Assigned To UserId</label>
                        <div class="col-12 pad-15">
                            <input asp-for="Level4AssignedToUserId" id="Level4AssignedToUserId" class="form-control" style="width:80%" />
                        </div>
                    </div>
                </div>

                <div class="cms-slidebar-footer">
                    <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
                    <input type="submit" class="btn btn-primary" style="margin-right:20px" value="Save" id="submitBtn" />
                </div>

                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.DataAction)
            </form>


        </div>
    </div>
</div>
<script type="text/javascript">

    function onAjaxSuccess(res) {
        if (res.success) {            
            OnClose();
            window.parent.ShowNotification("Saved successfully", "success");
            window.parent.getWorkflowList();
        }
        else {
            ShowNotification(res.error, "error");
            return false;
        }
    }

    function OnClose() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();

        }

        $("#DepartmentId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.DepartmentId',
            filter: "contains",
            change:onchange,
            dataSource: {
                transport: {
                    read: {
                        url: "/Egov/SmartCity/GetDepartmentList",
                    }
                }
            }
        });

        @*$("#WardId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            value: '@Model.WardId',
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Egov/SmartCity/GetWardList",
                    }
                }
            }
        });*@

        $("#WardIds").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: true,
            autoClose: false,
            value: @Html.Raw(JsonConvert.SerializeObject(Model.WardIds)),
            dataSource: {
                transport: {
                    read: {
                        url: "/Egov/SmartCity/GetWardList",
                    }
                }
            }
        });


    $("#WorkflowLevelId").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Code",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        value: '@Model.WorkflowLevelId',
        autoBind: true,
        filter: "contains",
        change: onchangelevel,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=GRIEVANCE_WORKFLOW_LEVEL",
                    }
                }
            }
    });

    $("#Level1AssignedToTypeId").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Code",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        value: '@Model.Level1AssignedToTypeId',
        filter: "contains",
        autoBind: true,
        change: onchangetype1,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=TASK_ASSIGN_TO_TYPE&excludeItem=TASK_ASSIGN_TO_USER_HIERARCHY",
                    }
                }
            }
        });
    $("#Level2AssignedToTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Code",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
         value: '@Model.Level2AssignedToTypeId',
        filter: "contains",
        autoBind: true,
        change: onchangetype2,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=TASK_ASSIGN_TO_TYPE&excludeItem=TASK_ASSIGN_TO_USER_HIERARCHY",
                    }
                }
            }
    });
    $("#Level3AssignedToTypeId").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Code",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        value: '@Model.Level3AssignedToTypeId',
        filter: "contains",
        autoBind: true,
        change: onchangetype3,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=TASK_ASSIGN_TO_TYPE&excludeItem=TASK_ASSIGN_TO_USER_HIERARCHY",
                    }
                }
            }
    });
    $("#Level4AssignedToTypeId").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Code",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        value: '@Model.Level4AssignedToTypeId',
        filter: "contains",
        autoBind: true,
        change: onchangetype4,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=TASK_ASSIGN_TO_TYPE&excludeItem=TASK_ASSIGN_TO_USER_HIERARCHY",
                    }
                }
            }
    });

    $("#Level1AssignedToTeamId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        value: '@Model.Level1AssignedToTeamId',
        change: SetTeamOwner1,
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/ProcessDesign/ReadTeamData",
                    }
                }
            }
    });
    $("#Level2AssignedToTeamId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
         value: '@Model.Level2AssignedToTeamId',
        filter: "contains",
        change: SetTeamOwner2,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/ProcessDesign/ReadTeamData",
                    }
                }
            }
    });
    $("#Level3AssignedToTeamId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
         value: '@Model.Level3AssignedToTeamId',
        filter: "contains",
        change: SetTeamOwner3,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/ProcessDesign/ReadTeamData",
                    }
                }
            }
    });
    $("#Level4AssignedToTeamId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
         value: '@Model.Level4AssignedToTeamId',
        filter: "contains",
        change: SetTeamOwner4,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/ProcessDesign/ReadTeamData",
                    }
                }
            }
    });

    $("#Level1AssignedToUserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
         value: '@Model.Level1AssignedToUserId',
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/User/ReadUserData",
                    }
                }
            }
    });
     $("#Level2AssignedToUserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
         value: '@Model.Level2AssignedToUserId',
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/User/ReadUserData",
                    }
                }
            }
     });
     $("#Level3AssignedToUserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
         value: '@Model.Level3AssignedToUserId',
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/User/ReadUserData",
                    }
                }
            }
     });
     $("#Level4AssignedToUserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
         optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
         value: '@Model.Level4AssignedToUserId',
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/User/ReadUserData",
                    }
                }
            }
     });

    $("#Level1AssignedToTeamUserId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.Level1AssignedToTeamUserId",
            filter: "contains",
            autoBind: false,
            enable: false,
            cascadeFrom: "Level1AssignedToTeamId",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        dataType: "json",
                        url: "/Cms/User/ReadUserTeamData",
                        data: TeamFilter1
                    }
                }
            }
    });
         $("#Level2AssignedToTeamUserId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.Level2AssignedToTeamUserId",
            filter: "contains",
            autoBind: false,
            enable: false,
            cascadeFrom: "Level2AssignedToTeamId",
             dataSource: {
                 serverFiltering: true,
                transport: {
                    read: {
                        dataType: "json",
                        url: "/Cms/User/ReadUserTeamData",
                        data: TeamFilter2
                    }
                }
            }
         });

        $("#Level3AssignedToTeamUserId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.Level3AssignedToTeamUserId",
            filter: "contains",
            autoBind: false,
            enable: false,
            cascadeFrom: "Level3AssignedToTeamId",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        dataType: "json",
                        url: "/Cms/User/ReadUserTeamData",
                        data: TeamFilter3
                    }
                }
            }
        });

        $("#Level4AssignedToTeamUserId").kendoDropDownList({
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.Level2AssignedToTeamUserId",
            filter: "contains",
            autoBind: false,
            enable: false,
            cascadeFrom: "Level4AssignedToTeamId",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        dataType: "json",
                        url: "/Cms/User/ReadUserTeamData",
                        data: TeamFilter4
                    }
                }
            }
        });

        onchangelevel();
        onchangetype1();
        onchangetype2();
        onchangetype3();
        onchangetype4();

    });
    function closeNavMemberGroup() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function TeamFilter1() {
        var value = $("#Level1AssignedToTeamId").val();
        return {
            Id: value
        }
    }
    function TeamFilter2() {
        var value = $("#Level2AssignedToTeamId").val();
        return {
            Id: value
        }
    }
    function TeamFilter3() {
        var value = $("#Level3AssignedToTeamId").val();
        return {
            Id: value
        }
    }
    function TeamFilter4() {
        var value = $("#Level4AssignedToTeamId").val();
        return {
            Id: value
        }
    }

    function SetTeamOwner1() {

        var assignedToDdl = $("#Level1AssignedToTeamUserId").data("kendoDropDownList");

        var link = "/cms/Team/GetTeamOwner?teamId=" + $("#Level1AssignedToTeamId").val();
        $.ajax({
            url: link,
            success: function (data) {
                assignedToDdl.enable(true);
                assignedToDdl.value(data);
            }
        });
    }
    function SetTeamOwner2() {

        var assignedToDdl = $("#Level2AssignedToTeamUserId").data("kendoDropDownList");

        var link = "/cms/Team/GetTeamOwner?teamId=" + $("#Level2AssignedToTeamId").val();
        $.ajax({
            url: link,
            success: function (data) {
                assignedToDdl.enable(true);
                assignedToDdl.value(data);
            }
        });
    }
    function SetTeamOwner3() {

        var assignedToDdl = $("#Level3AssignedToTeamUserId").data("kendoDropDownList");

        var link = "/cms/Team/GetTeamOwner?teamId=" + $("#Level3AssignedToTeamId").val();
        $.ajax({
            url: link,
            success: function (data) {
                assignedToDdl.enable(true);
                assignedToDdl.value(data);
            }
        });
    }
    function SetTeamOwner4() {

        var assignedToDdl = $("#Level4AssignedToTeamUserId").data("kendoDropDownList");

        var link = "/cms/Team/GetTeamOwner?teamId=" + $("#Level4AssignedToTeamId").val();
        $.ajax({
            url: link,
            success: function (data) {
                assignedToDdl.enable(true);
                assignedToDdl.value(data);
            }
        });
    }

    function onchangelevel() {
        var wkDDL = $("#WorkflowLevelId").data("kendoDropDownList");
        var wklevel = wkDDL.value();
        if (wklevel == "GR_WK_LEVEL1") {
            $("#level1").show();
            $("#level2").hide();
            $("#level3").hide();
            $("#level4").hide();
        }
        else if (wklevel == "GR_WK_LEVEL2") {
            $("#level1").show();
            $("#level2").show();
            $("#level3").hide();
            $("#level4").hide();
        }
        else if (wklevel == "GR_WK_LEVEL3") {
            $("#level1").show();
            $("#level2").show();
            $("#level3").show();
            $("#level4").hide();
        }
        else if (wklevel == "GR_WK_LEVEL4") {
            $("#level1").show();
            $("#level2").show();
            $("#level3").show();
            $("#level4").show();
        }


    }

    function onchangetype1() {
        var assigneeTypeDDL = $("#Level1AssignedToTypeId").data("kendoDropDownList");
        var assigneeType = assigneeTypeDDL.value();
        if (assigneeType == "TASK_ASSIGN_TO_USER") {
            $("#user1").show();
            $("#team1").hide();
            $("#teamuser1").hide();
        }
        else if (assigneeType == "TASK_ASSIGN_TO_TEAM") {
            $("#user1").hide();
            $("#team1").show();
            $("#teamuser1").show();

        }
        else {
            $("#user1").hide();
            $("#team1").hide();
            $("#teamuser1").hide();
        }
    }
    function onchangetype2() {
        var assigneeTypeDDL = $("#Level2AssignedToTypeId").data("kendoDropDownList");

        var assigneeType = assigneeTypeDDL.value();
        if (assigneeType == "TASK_ASSIGN_TO_USER") {
            $("#user2").show();
            $("#team2").hide();
            $("#teamuser2").hide();            
        }
        else if (assigneeType == "TASK_ASSIGN_TO_TEAM") {
            $("#user2").hide();
            $("#team2").show();
            $("#teamuser2").show();            
        }
        else {
            $("#user2").hide();
            $("#team2").hide();
            $("#teamuser2").hide();
                        
        }
    }
    function onchangetype3() {
        var assigneeTypeDDL = $("#Level3AssignedToTypeId").data("kendoDropDownList");
        var assigneeType = assigneeTypeDDL.value();
        if (assigneeType == "TASK_ASSIGN_TO_USER") {
            $("#user3").show();
            $("#team3").hide();
            $("#teamuser3").hide();
        }
        else if (assigneeType == "TASK_ASSIGN_TO_TEAM") {
            $("#user3").hide();
            $("#team3").show();
            $("#teamuser3").show();

        }
        else {
            $("#user3").hide();
            $("#team3").hide();
            $("#teamuser3").hide();
        }
    }
    function onchangetype4() {
        var assigneeTypeDDL = $("#Level4AssignedToTypeId").data("kendoDropDownList");
        var assigneeType = assigneeTypeDDL.value();
        if (assigneeType == "TASK_ASSIGN_TO_USER") {
            $("#user4").show();
            $("#team4").hide();
            $("#teamuser4").hide();
        }
        else if (assigneeType == "TASK_ASSIGN_TO_TEAM") {
            $("#user4").hide();
            $("#team4").show();
            $("#teamuser4").show();

        }
        else {
            $("#user4").hide();
            $("#team4").hide();
            $("#teamuser4").hide();
        }
    }

</script>
