@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model JSCCommunityHallBookingViewModel

@{
    ViewData["Title"] = "Book Community Hall Booking";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}


<script type="text/javascript">

    $(document).ready(function () {       
        $("#BookingFromDate1").kendoDatePicker({
            componentType: "modern",
            value: '@Model.BookingFromDate',
            format:"dd-MM-yyyy"
        });
        $("#BookingToDate1").kendoDatePicker({
            componentType: "modern",
            value: '@Model.BookingToDate',
            format: "dd-MM-yyyy"
        });
        $("#IsJmcEmployeeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            //optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: onJMCEmpChange,
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=JSC_ISJMCEMPLOYEE",
                    }
                }
            }
        });
        $("#BookingById").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            //change: onchange,
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=JSC_HALLBOOKINGBY",
                    }
                }
            }
        });
        $("#FunctionTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            //change: onchange,
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/EGov/SmartCity/GetJSCFunctionTypeIdNameList",
                    }
                }
            }
        });

        $("#PaymentMode").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: onchange,
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=JSC_PAYMENT_MODE",
                    }
                }
            }
        });

        $("#DateSelectionType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: onchange,
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=JSC_DATE_SELECTION_TYPE",
                    }
                }
            }
        });

        //$("#PaymentStatusId").kendoDropDownList({
        //    dataTextField: "Name",
        //    dataValueField: "Id",
        //    filter: "contains",
        //    optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        //    change: onchange,
        //    dataSource:
        //    {
        //    transport:
        //        {
        //        read:
        //            {
        //                url: "/CMS/LOV/GetLOVIdNameList?lovType=JSC_PAYMENT_STATUS",
        //            }
        //        }
        //    }
        //});

        @*$("#CommunityHallId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            change: OnChangeWard,
            dataSource:
            {
            transport:
                {
                read:
                    {
                        url: "/CMS/LOV/GetLOVIdNameList?lovType=JSC_PAYMENT_STATUS",
                    }
                }
            }
        });*@
    });

    function onJMCEmpChange() {
        debugger;
        var isemp = $("#IsJmcEmployeeId").data("kendoDropDownList").value();
        //alert(isemp);
        if (isemp!=null) {
        var empurl = "/CMS/LOV/GetLOVDetailsByid?Id=" +isemp;
        $.ajax({
            type: 'GET',
            url: empurl,
            success: function (res) {
                debugger;
                    if (res.Code == "JSC_ISJMCEMPLOYEE_YES") {
                        $("#divdiscount").show();
                        var disc = $("#JMCDiscountPercentage").val();
                        var rate = $("#GrandTotal").val();
                        var amt = (rate-((rate*disc)/100)).toFixed(2);
                        //alert(amt);
                        if(amt>0){
                            $("#Amount").val(amt);
                        }
                    }
                    else{
                        $("#divdiscount").hide();
                        var rate = $("#GrandTotal").val();
                        $("#Amount").val(rate);
                    }
            }
        });
        }

    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            HideLoader($('#communityHall'));
            alert("Redirect to payment");
            //alert(res.data.ServiceId);
            debugger;
            //var win = GetMainWindow();
            //win.CloseWindow({ method: 'onGotoPayment' });
            //return false;
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: "onGotoPayment", Prms: res.data.ServiceId });

        }
        else {
            console.log(res.error);
            HideLoader($('#communityHall'));
            //showError(res.error);
        }
    };
    function save(e){
        debugger;

        var msg = "";
        var msgcount = 0;

        var mobile = $('#Mobile').val();
        var name = $('#Name').val();
        var email=$('#Email').val();
        var pan=$('#PANNo').val();
        var aadhar=$('#Aadhar').val();
        var functionType = $('#FunctionTypeId').val();
        var regexadhar = /^[2-9]{1}[0-9]{3}[0-9]{4}[0-9]{4}$/;
        var regexpan = /([A-Z]){5}([0-9]){4}([A-Z]){1}$/;
        var regexemail = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        var regexmobile = /^[1-9]{1}[0-9]{9}$/;

        if (mobile != null && mobile != "" && regexmobile.test(mobile)) {
            
        }
        else
        {
            msg = msg + "<li>Enter only 10 digits mobile no.</li>"
            msgcount = msgcount + 1;
        } 

         if (name==null||name=="") {
            msg = msg + "<li>Name field is required.</li>"
            msgcount = msgcount + 1;
        }
        if (email!=null && email!="" && regexemail.test(email)) {
           
        }
        else{
            msg = msg + "<li>Valid Email is required.</li>"
            msgcount = msgcount + 1;
        }

        if (pan==null ||pan==""|| regexpan.test(pan.toUpperCase())) {
        }
        else {
            msg = msg + "<li>Valid PANNo is required.</li>"
            msgcount = msgcount + 1;
        }

        if (aadhar==null ||aadhar==""|| regexadhar.test(aadhar)) {
        }
        else {
            msg = msg + "<li>valid AaadharNo is required.</li>"
            msgcount = msgcount + 1;
        }

        if (functionType==null||functionType=="")
        {
            msg = msg + "<li>FunctionType is required.</li>"
            msgcount = msgcount + 1;
        }

        if (msgcount > 0) {

            $(".text-danger").html(msg);
            $(".text-danger").css("display", "block");
            e.preventDefault();
            return false;
        }
        ShowLoader($('#communityHall'));
        $('#btnSubmit').hide();
        //var fdt = kendo.toString($("#BookingFromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        //var tdt = kendo.toString($("#BookingToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        //if(fdt != null && fdt != ""){
        //    $("#BookingFromDate").data("kendoDatePicker").value(new Date(fdt));
        //}
        //if(tdt != null && tdt != ""){
        //    $("#BookingToDate").data("kendoDatePicker").value(new Date(tdt));
        //}
    }
</script>
<script type="text/javascript">
    var columnDefs = [
        { field: 'Name', headerName: 'Community Hall' },
        { field: 'CommunityBookingFromDateText', headerName: 'Booking From Date'},
        { field: 'CommunityBookingToDateText', headerName: 'Booking To Date'},
        { field: 'NoOfDays', headerName: 'No Of Days'},
        { field: 'Rate', headerName: 'Rate'},
        { field: 'TotalAmount', headerName: 'Total Amount'},
        //{ field: 'ParentId', headerName: 'Text Field'},
        //{ field: 'Id', headerName: 'Text Field'},
    ];

    function getData() {
        gridConfig(
            "kGridView",
            "/EGov/SmartCity/GetJSCCommunityHallServiceChildData?parentId=@Model.UdfNoteTableId",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
    getData();
</script>

<div class="row-12" style="margin-left:15px;" id="communityHall">
    <form asp-area="EGov" asp-controller="SmartCity" asp-action="ManageJSCCommunityHallBooking" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
        <div class="col-12">
            <div class="row">
                <h5 style="margin-left:10px;color:black;">Community Hall Booking ID :</h5>
                <h5 class="form-label" style="font-weight:bold;color:black;padding-left:7px">
                    @Model.ServiceNo
                </h5>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="Name" class="form-label">
                        Name<span class="required"> * </span>
                    </label>
                    <div>
                        <input asp-for="Name" class="form-control" style="width:100%" required />
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="Email" class="form-label">
                        Email<span class="required"> * </span>
                    </label>
                    <div>
                        <input asp-for="Email" type="email" class="form-control" style="width:100%" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="Name" class="form-label">
                        Mobile<span class="required"> * </span>
                    </label>
                    <div>
                        <input asp-for="Mobile" title="10 digits mobile number" class="form-control" style="width:100%" required />
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="PAN No" class="form-label">
                        PAN No
                    </label>
                    <div>
                        <input asp-for="PANNo" class="form-control" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="Aadhar" class="form-label">
                        Aadhar
                    </label>
                    <div>
                        <input asp-for="Aadhar" class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="JmcEmployeeId" class="form-label">
                        JMC Employee<span class="required"> * </span>
                    </label>
                    <div>
                        <input asp-for="IsJmcEmployeeId" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="row" id="divdiscount" style="display:none;">
                <div class="form-group col-6">
                </div>
                <div class="form-group col-6">
                    <label for="JmcEmployeeId" class="form-label">
                        Discount (%)
                    </label>
                    <div>
                        <input asp-for="JMCDiscountPercentage" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="BookingById" class="form-label">
                        Booking By<span class="required"> * </span>
                    </label>
                    <div>
                        <input asp-for="BookingById" class="form-control" required readonly/>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="FunctionTypeId" class="form-label">
                    Function Type<span class="required"> * </span>
                </label>
                <div>
                    <input asp-for="FunctionTypeId" class="form-control" required/>
                </div>
            </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-6">
                    <label for="PaymentMode" class="form-label">
                        Payment Mode<span class="required"> * </span>
                    </label>
                    <div>
                        @*<input asp-for="PaymentMode" class="form-control" style="width:100%" required />*@
                        <input asp-for="PaymentMode" class="form-control" required readonly />
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="DateSelectionType" class="form-label">
                        Date Selection Type<span class="required"> * </span>
                    </label>
                    <div>
                        @*<input asp-for="DateSelectionType" class="form-control" style="width:100%" required />*@
                        <input asp-for="DateSelectionType" class="form-control" required readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="BookingFromDate" class="form-label">
                        Booking From Date
                    </label>
                    <div>
                        <input id="BookingFromDate1" class="form-control" style="width:100%" readonly />
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="BookingToDate" class="form-label">
                        Booking To Date
                    </label>
                    <div>
                        <input id="BookingToDate1" class="form-control" style="width:100%" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="MultipleDates" class="form-label">
                        Multiple Dates 
                    </label>
                    <div>
                        <input asp-for="MultipleDates" class="form-control" style="width:100%" readonly/>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="Amount" class="form-label">
                        Grand Total <span class="required"> * </span>
                    </label>
                    <div>
                        <input asp-for="Amount" class="form-control" style="width:100%" required readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="kGridView" style="height: 300px; width:100%;" class="ag-theme-alpine">
                    </div>              
            </div>

@*            <div class="row" style="display:none;">
                <div class="form-group col-6">
                    <label for="PaymentStatusId" class="form-label" style="">
                        Payment Status
                    </label>
                    <div>
                        <input asp-for="PaymentStatusId" class="form-control" style="width:100%;"/>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="PaymentReferenceNo" class="form-label">
                        Payment Reference No
                    </label>
                    <div>
                        <input asp-for="PaymentReferenceNo" class="form-control" style="width:100%;"/>
                    </div>
                </div>
            </div>*@
            <div class="cms-slidebar-footer">
                <input type="submit" id="btnSubmit" class="btn btn-primary" style="float:right;" value="Submit" onclick="return save(event)" />
                <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();" style="float:right;margin-right:5px">Close</button>
                <br />
                <br />
            </div>           
        </div>

        @Html.HiddenFor(x=>x.ServiceId)
        @Html.HiddenFor(x=>x.BookingFromDate)
        @Html.HiddenFor(x=>x.BookingToDate)
        @Html.HiddenFor(x=>x.PaymentStatusId)
        @Html.HiddenFor(x=>x.PaymentReferenceNo)
        @Html.HiddenFor(x=>x.ParcelId)
        @Html.HiddenFor(x=>x.RevenueTypeId)
        @Html.HiddenFor(x=>x.GrandTotal)
    </form>
</div>
