@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext;
@model JSCPropertySelfAssessmentViewModel;
@{
    ViewData["Title"] = "Property Tax calculation";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";

}






<style>
    .form-horizontal .form-group {
        margin-left: 100px;
    }
</style>
<div class="col-sm-12 col-centered">
    
        <div class="container table-responsive">
            <table class="table table-bordered align center " style="width: 800px; margin-top: 50px; margin-left: 60px; margin-right: 60px; ">

                <tbody>

                    <tr style="height:40px;">
                        <td scope="row" style="background-color: #ff7f50;">Factor</td>
                        <td scope="row" style="background-color: #ff7f50;">Description</td>
                        <td scope="row" style="background-color: #ff7f50;">Rate</td>
                    </tr>

                    @*<tr>
                        <td scope="row">Owner Name: <label id="ownerName"></label></td>
                        <td>Rate of Tax: <label id="rateOfTax"></label></td>

                    </tr>
                    <tr>
                        <td scope="row">Telephone number: <label id="telephoneNumber"></label></td>
                        <td>Usage Type Rate : <label></label></td>

                    </tr>*@
                    <tr>
                        <td scope="row">Type of Property: </td>
                        <td scope="row">@Model.PropertyName </td>
                        <td scope="row">@Model.PropertyRate </td>

                    </tr>

                    <tr>
                        <td scope="row">Type of Occupancy: <label id="typeOfOccupancy"></label></td>
                        <td scope="row">@Model.OccupancyName </td>
                        <td scope="row">@Model.OccupancyRate </td>

                    </tr>
                    <tr>
                        <td scope="row">Building type: </td>
                        <td scope="row">@Model.BuildingTypeName </td>
                        <td scope="row">@Model.BuildingRate </td>

                    </tr>
                    <tr>
                        <td scope="row">Location Factor: </td>
                        <td scope="row">@Model.LandValue </td>
                        <td scope="row">@Model.LocationRate </td>

                    </tr>
                    @*<tr>
                        <td scope="row">Building Age: <label id="buildingAge"></label></td>
                        <td></td>

                    </tr>*@

                </tbody>
            </table>
        </div>
        <div class="container table-responsive">
            <table class="table table-bordered align center" style="width: 800px; margin-top: 50px; margin-left: 65px; margin-right: 65px; ">

                <tbody>

                    <tr style="height:40px;">
                        <td scope="row" style="background-color: #ff7f50;">Floor Description</td>
                        <td scope="row" style="background-color: #ff7f50;">Year</td>
                        <td scope="row" style="background-color: #ff7f50;">Age Factor</td>
                        <td scope="row" style="background-color: #ff7f50;">Area</td>
                        <td scope="row" style="background-color: #ff7f50;">Net Tax</td>
                    </tr>
                    @foreach (var item in Model.FloorDetail)
                    {
                        <tr>
                            <td scope="row">@item.Description </td>
                            <td scope="row">@item.BuildingAge </td>
                            <td scope="row">@item.AgeRate </td>
                            <td scope="row">@item.Area </td>
                            <td scope="row">@item.Amount </td>

                    </tr>
                }

                @if (Model.VacantArea > 0.0)
                {
                <tr>
                    <td scope="row"></td>
                    <td scope="row">Vacant Area</td>
                    <td scope="row">@Model.VacantArea</td>
                    <td scope="row">Vacant Amount </td>

                    <td>@Model.VacantAmount</td>
                </tr>
                        }



                    
                    <tr>
                        <td scope="row"> </td>
                        <td scope="row"> </td>
                        <td scope="row"> </td>


                        <td scope="row" style="background-color: #ff7f50;color:white;">Total Property Tax</td>
                        <td style="background-color: #ff7f50; color: white;">@Model.TotalAmount</td>



                    </tr>

                </tbody>
        </table>
            <div class="cenetr container row">
                <div class="col-sm-4 offset-5">
                    <button class="btn btn-primary mx-1" onclick="OnProceedPayment()" style="background-color: #ff7f50;">Proceed To Payment</button>
                </div>
            </div>
    </div>
</div>


<script>

    function OnProceedPayment() {
        debugger;
        var url = "/Egov/SmartCity/JSCPropertyPayment?assessmentId=@Model.Id&ddnno=@Model.DdnNo&amount=@Model.TotalAmount&paidAmount=@Model.TotalAmount"

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: " Property Payment ", Width: 1000, Height: 700 });
        return false;

    }

</script>