@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext;

@{ ViewData["Title"] = "Property Tax calculation";
                Layout = null; }




<script>
    $("#propertyType").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Name",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataSource: {
            severFiltering: true,
            transport: {
                read: {
                    url: "/Cms/Query/GetLOVIdNameList?lovType=JSC_PROPERTY_TYPE",
                }
            }
        }
    });
    $("#natureOfConstruction").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Name",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataSource: {
            severFiltering: true,
            transport: {
                read: {
                    url: "/Cms/Query/GetLOVIdNameList?lovType=ROOF_TYPE",
                }
            }
        }
    });
    $("#typeOfOccupancy").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Name",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataSource: {
            severFiltering: true,
            transport: {
                read: {
                    url: "/Cms/Query/GetLOVIdNameList?lovType=OccupancyType",
                }
            }
        }
    });
    $("#ageOfBuilding").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Name",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataSource: {
            severFiltering: true,
            transport: {
                read: {
                    url: "/Cms/Query/GetLOVIdNameList?lovType=JSC_AGE_LIMIT_AS_PER_CIRCLE_RATE",
                }
            }
        }
    });
    $("#commercialType").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Name",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataSource: {
            severFiltering: true,
            transport: {
                read: {
                    url: "/Cms/Query/GetLOVIdNameList?lovType=COMMERCIAL_CATEGORY",
                }
            }
        }
    });
    $("#typeOfEstablishment").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Name",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataSource: {
            severFiltering: true,
            transport: {
                read: {
                    url: "/Cms/Query/GetLOVIdNameList?lovType=ESTABLISHMENT_TYPE",
                }
            }
        }
    });
</script>






<style>
    .form-horizontal .form-group {
        margin-left: 100px;
    }
</style>
<div class="col-sm-12 col-centered">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-pencil-square"></i>Factors Details
            <div class="panel-tools">
                <a href="#" class="btn btn-xs btn-link panel-collapse collapses"></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @*Property Type and Nature of construction*@
                <div class="form-group p-5">
                    <div class="row">
                        <label class="col-sm-2 control-label">
                            Property Type
                        </label>
                        <div class="col-sm-3">
                            <input id="propertyType" class="form-control" />
                        </div>


                        <label class="col-sm-2 control-label">
                            Nature of Construction
                        </label>
                        <div class="col-sm-3">
                            <input id="natureOfConstruction" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            Usage Factor
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @*@Type of Occupancy and Age of the building@*@
                <div class="form-group p-5">
                    <div class="row">
                        <label class="col-sm-2 control-label">
                            Type of Occupancy
                        </label>
                        <div class="col-sm-3">
                            <input id="typeOfOccupancy" class="form-control" />
                        </div>

                        <label class="col-sm-2 control-label">
                            Age of the Building
                        </label>
                        <div class="col-sm-3">
                            <input id="ageOfBuilding" class="form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel-heading">
            Occupancy Factor
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @*@Commercial Type And Type of Establishment@*@
                <div class="form-group p-5">
                    <div class="row">
                        <label class="col-sm-2 control-label">
                            Commercial Type
                        </label>
                        <div class="col-sm-3">
                            <input id="commercialType" class="form-control" />  
                        </div>

                        <label class="col-sm-2 control-label">
                            Type Of Establishment
                        </label>
                        <div class="col-sm-3">
                            <input id="typeOfEstablishment" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>