@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;
@{
    Layout = null;
}
@model EGovDashboardViewModel
@inject IUserContext _userContext;

<style>

    .title-bg1 {
        background-color: #070f74;
        padding: 6px 0 2px 20px;
        margin: 0;
        font-size: 20px;
        color: #fff;
        border-radius: 12px 12px 0 0;
        height: auto;
        font-weight: 500;
    }

    .indiv-block-bg1 {
        /* background-color: #F5EBBC; */
        height: 100px;
        width: 230px;
        border-radius: 20px;
        margin-left: 20px;
        overflow: hidden !important;
        /* border: 1px solid #e66c80; */
        background-color: #cdcdcd;
    }

    .label1 {
        font-size: 20px;
    }

    .cancel-button {
        background: #eb7c63;
        order: 2;
    }

    .k-listview-content {
        height: unset !important;
        overflow-y: hidden !important;
    }

    .k-listview {
        border-style: none !important;
        height: unset !important;
    }

    #listView, #listViewPO, #listViewPU {
        padding: 10px 5px;
        margin-bottom: -1px;
        display: flex;
    }

    .card {
        float: left;
        position: relative;
        width: 290px;
        height: 236px;
        margin: 0 10px;
        padding: 0;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .footer-item {
        cursor: pointer;
        border: 1px solid;
        border-radius: 30px;
        padding: 4px;
        padding-left: 13px;
        margin-left: 10px;
    }

    /* .chartdiv {
        border: 1px solid #b7abab;
        padding:10px;
    }*/

    .chartdiv {
        border: 1px solid #ffffff;
        padding: 10px;
        background: #fff;
        border-radius: 30px;
        box-shadow: 10px 10px 10px 10px #e6e5e59e /*#d5d1d1*/;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        min-height: 400px !important;
    }
    .childDiv {
        display: flex;
        justify-content: center;
    }
</style>
<script>

    $(document).ready(function () {

        //Month
        @*$("#Month").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            placeholder: '@ApplicationConstant.PlaceHolder_AllOption',
            //dataSource: {
            //    transport: {
            //        read: {
            //            url: "/EGov/SmartCity/GetWardList",
            //        }
            //    }
            //}
        });*@
        var Month = $("#Month").kendoMultiSelect({
            autoClose: false
        }).data("kendoMultiSelect");

        //Ward
        $("#WardId").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoClose: false,
            placeholder: '@ApplicationConstant.PlaceHolder_AllOption',
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetWardList",
                    }
                }
            }
        });

        //AssetType
        $("#AssetTypeId").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoClose: false,
            placeholder: '@ApplicationConstant.PlaceHolder_AllOption',
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetAssetTypeList",
                    }
                }
            }
        });

        //Revenue Type
        $("#RevenueTypeId").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoClose: false,
            placeholder: '@ApplicationConstant.PlaceHolder_AllOption',
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetRevenueTypeList",
                    }
                }
            }
        });


        //chart by asset ward
        var url = "/EGov/SmartCity/GetTotalRevenue";
        barChart(url, "totalRevenueByWard", "Total Revenue");

        //RevenueByWard
        var url6 = "/Egov/SmartCity/GetRevenueByWard";
        columnChart(url6, "revenueByWardBar", "By Ward");

        //chart by popular projects
        //var url2 = "/Egov/SmartCity/GetTotalRevenueByAssetType";
        //barChart(url2, "totalRevenueByAssetType", "");

        //RevenueByAssetType
        var url3 = "/Egov/SmartCity/GetRevenueByAssetType";
        columnChart(url3, "revenueByAssetType", "By Asset Type");

        ////chart by revenue ward
        //var url4 = "/Egov/SmartCity/GetTotalRevenueByRevenueType";
        //barChart(url4, "totalRevenueByRevenueType", "");

        //RevenueByRevenueType
        var url5 = "/Egov/SmartCity/GetRevenueByRevenueType";
        columnChart(url5, "revenueByRevenueType", "By Revenue Type");


    });

    function columnChart(url, chartId, chartTitle) {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    var vals = res.stackBarValues;
                    debugger;
                    var chart1 = "#" + chartId;

                    var options1 = {
                        series: vals,
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        title: {
                            text: chartTitle
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '15%',
                                endingShape: 'rounded'
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: res.ItemValueLabel,
                        },
                        //yaxis: {
                        //    title: {
                        //        text: '$ (thousands)'
                        //    }
                        //},
                        fill: {
                            opacity: 1
                        },
                        tooltip: {
                            y: {
                                formatter: function (val) {
                                    return "" + val
                                }
                            }
                        }
                    };

                    document.getElementById(chartId).innerHTML = "";
                    var typechart = new ApexCharts(document.querySelector(chart1), options1);
                    typechart.render();
                }
            }
        });
    }

    function barChart(url, chartId, chartTitle) {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    var vals = res.ItemValueSeries;

                    var chart1 = "#" + chartId;

                    var options1 = {
                        series: [{
                            data: vals
                        }],
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        title: {
                            text: chartTitle
                        },
                        colors: ["#008ffb","#00e396"],
                        plotOptions: {
                            bar: {
                                borderRadius: 4,
                                horizontal: true,
                                columnWidth: '15%',
                                distributed: true,
                            }
                        },
                        dataLabels: {
                            enabled: false,                           
                        },
                        xaxis: {
                            categories: res.ItemValueLabel,
                        },
                    };

                    document.getElementById(chartId).innerHTML = "";
                    var typechart = new ApexCharts(document.querySelector(chart1), options1);
                    typechart.render();
                }
            }
        });
    }


    function FilterResults(flag) {
        if (flag) {
            debugger;
            var year = $('#Year').val();
            var wardIds = $("#WardId").data("kendoMultiSelect").value().toString();
            var assetTypeIds = $("#AssetTypeId").data("kendoMultiSelect").value().toString();
            var revenueTypeIds = $("#RevenueTypeId").data("kendoMultiSelect").value().toString();
            var months = $('#Month').val().toString();

            var url = "/EGov/SmartCity/GetTotalRevenue?year=" + year + "&months=" + months + "&wardIds=" + wardIds + "&assetTypeIds=" + assetTypeIds + "&revenueTypeIds=" + revenueTypeIds;
            refreshApexCharts("revenueTotal", "totalRevenueByWard", url, "Total Revenue", "bar");

            var url2 = "/Egov/SmartCity/GetRevenueByWard?year=" + year + "&months=" + months + "&wardIds=" + wardIds + "&assetTypeIds=" + assetTypeIds + "&revenueTypeIds=" + revenueTypeIds;
            refreshApexCharts("revenueWard", "revenueByWardBar", url2, "By Ward", "column");

            var url3 = "/Egov/SmartCity/GetRevenueByAssetType?year=" + year + "&months=" + months + "&wardIds=" + wardIds + "&assetTypeIds=" + assetTypeIds + "&revenueTypeIds=" + revenueTypeIds;
            refreshApexCharts("revenueAssetType", "revenueByAssetType", url3, "By Asset Type", "column");

            var url4 = "/Egov/SmartCity/GetRevenueByRevenueType?year=" + year + "&months=" + months + "&wardIds=" + wardIds + "&assetTypeIds=" + assetTypeIds + "&revenueTypeIds=" + revenueTypeIds;
            refreshApexCharts("revenueType", "revenueByRevenueType", url4, "By Revenue Type", "column");

        }
        else {

             $('#Year').val('@DateTime.Now.Year');
            var wardIds = $("#WardId").data("kendoMultiSelect");
            var assetTypeIds = $("#AssetTypeId").data("kendoMultiSelect");
            var revenueTypeIds = $("#RevenueTypeId").data("kendoMultiSelect");            
            var month = $("#Month").data("kendoMultiSelect");            
            debugger;
            
            wardIds.value([]);
            assetTypeIds.value([]);
            revenueTypeIds.value([]);
            month.value([]);           

            var url = "/EGov/SmartCity/GetTotalRevenue";
            refreshApexCharts("revenueTotal", "totalRevenueByWard", url, "Total Revenue", "bar");

            var url2 = "/Egov/SmartCity/GetRevenueByWard";
            refreshApexCharts("revenueWard", "revenueByWardBar", url2, "By Ward", "column");

            var url3 = "/Egov/SmartCity/GetRevenueByAssetType";
            refreshApexCharts("revenueAssetType", "revenueByAssetType", url3, "By Asset Type", "column");

            var url4 = "/Egov/SmartCity/GetRevenueByRevenueType";
            refreshApexCharts("revenueType", "revenueByRevenueType", url4, "By Revenue Type", "column");
        }
    }

    function refreshApexCharts(parentId, childId, url, Title, chartType) {
        debugger;
        var list = document.getElementById(childId);
        list.parentNode.removeChild(list);
        var listParent = document.getElementById(parentId);
        listParent.innerHTML = "<div id='" + childId + "'  class='childDiv' style='width:100%;'></div>";
        if (chartType == "bar") {
            barChart(url, childId, Title);
        }
        else if (chartType == "column") {
            columnChart(url, childId, Title);
        }
    }

</script>

<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="page-section">
                <div class="row no-gutters p-2">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4>REVENUE DASHBOARD</h4>
                    </div>
                </div>

                <hr />
                <div class="row no-gutters p-2">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        Year<br />
                        <input id="Year" class="form-control" type="text" value="@DateTime.Now.Year" style="width:90%;" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        Month<br />
                        @*<input id="Month" style="width:90%;" />*@
                        <select id="Month" multiple="multiple" data-placeholder="@ApplicationConstant.PlaceHolder_AllOption" style="width:90%;">
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        Ward<br />
                        <input id="WardId" style="width:90%;" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        Asset Type<br />
                        <input id="AssetTypeId" style="width:90%;" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        Revenue Type<br />
                        <input id="RevenueTypeId" style="width:90%;" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6" style="padding-top:20px;">
                        <button class="btn btn-primary mx-1" onclick="FilterResults(true)"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <button class="btn btn-secondary" onclick="FilterResults(false)"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                    </div>
                </div>
                <hr />
                <br />
                <div class="row pad-20">
                    @*<div class="col-lg-12 col-md-12 col-sm-12"><h6>By Ward</h6></div>*@
                    <div class="col-lg-6 col-md-6 col-sm-12 p-1">
                        <div class="chartdiv" id="revenueTotal">
                            <div id="totalRevenueByWard" class="childDiv" style="width:100%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 p-1">
                        <div class="chartdiv" id="revenueWard">
                            <div id="revenueByWardBar" class="childDiv" style="width:100%;"></div>
                        </div>
                    </div>
                </div>

                <div class="row pad-20">
                    @*<div class="col-lg-12 col-md-12 col-sm-12"><h6>By Asset Type</h6></div>*@
                    @*<div class="col-lg-6 col-md-6 col-sm-12 p-1">
                        <div class="chartdiv" id="revenueByCollector">
                            <div id="totalRevenueByAssetType" class="childDiv" style="width:100%;"></div>
                        </div>
                    </div>*@
                    <div class="col-lg-6 col-md-6 col-sm-12 p-1">
                        <div class="chartdiv" id="revenueAssetType">
                            <div id="revenueByAssetType" class="childDiv" style="width:100%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 p-1">
                        <div class="chartdiv" id="revenueType">
                            <div id="revenueByRevenueType" class="childDiv" style="width:100%;"></div>
                        </div>
                    </div>
                </div>

                @*<div class="row pad-20 chartdiv">
                    <div class="col-lg-12 col-md-12 col-sm-12"><h6>By Revenue Type</h6></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 p-1">
                        <div class="chartdiv" id="assetChart">
                            <div id="totalRevenueByRevenueType" class="childDiv" style="width:100%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 p-1">
                        <div class="chartdiv" id="assetAllotmentChart">
                            <div id="revenueByRevenueType" class="childDiv" style="width:100%;"></div>
                        </div>
                    </div>
                </div>*@            
                               

            </div>
            </div>
    </div>
</div>


                
                



                @*<div class="row-12 pad-20" style="background:#efecec;">
                        <div class="col-6 pad-10">
                            <div class="chartdiv" id="chartByUndertaken"></div>
                        </div>
                        <div class="col-6 pad-10">
                            <div class="chartdiv" id="chartByLocation"></div>
                        </div>
                    </div>*@

                @*<div class="row pad-20" style="background:#efecec;">
                        <div class="col-12 pad-10">
                            <div class="chartdiv" id="chartByCategories"></div>
                        </div>
                    </div>
                    <div class="row pad-20" style="background:#efecec;">
                        <div class="chartdiv col-12 pad-10">
                            <div style="padding: 10px; font-size: 14px; font-weight: 900; font-family: Helvetica, Arial, sans-serif;">Projects By Location</div>
                            <div class="" id="ProjectsByLocation"></div>
                        </div>
                    </div>*@


