@using Synergy.App.ViewModel.Pay;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Manage Deduction Element";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}


@model MandatoryDeductionElementViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .row {
        margin-right: 0px;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-myheaderimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }

    .style-myfooterimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }
</style>

<script>
    $(document).ready(function () {


        $("#ESD").kendoDatePicker({ value: "@Model.ESD"});
        $("#EED").kendoDatePicker({ value: "@Model.EED"});





        $("#PayRollElementId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--Select--",
            value: '@Model.PayRollElementId',
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        datatype: "json",
                        url: "/Pay/MandatoryDeduction/GetPayrollElementData",
                    }
                }
            }
        });

        

    });


    function refreshGrid() {
        window.parent.getData();
    }



        var onAjaxSuccess = function (res) {
            if (res.success) {
                if ('@Model.DataAction' == '@DataActionEnum.Create') {
                    ShowNotification("@SharedResource["SavedSuccessfully"]", "success");
                }
                if ('@Model.DataAction' == '@DataActionEnum.Edit') {
                    ShowNotification("@SharedResource["UpdatedSuccessfully"]", "success");
                }
                closeNavMemberGroup();
                /*window.parent.parent.getData();*/
            }
            else {

                $(".text-danger").removeClass("validation-summary-valid");
                $(".text-danger").addClass("validation-summary-errors");
                $(".text-danger").html(res.error);

            }
    };


    function RefreshParent() {
        window[0].OnWindowRefresh();
    }
    

    function closeNavMemberGroup() {

        var x = GetMainWindow();
        var win = x.window[0][0];
        
        /*win.CloseWindow({ MethodName: "refreshGrid"});*/
        x.CloseWindow();
        win.getData();
        return false;
    }



</script>

<div class="row-12" style="margin-left:15px;">

    <form asp-controller="MandatoryDeduction" asp-action="ManageMandatoryDeductionElement" method="post" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>



        <div class="row" style="padding:10px;">
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div><label for="PayRollElementId">PayRollElementId</label></div>
                    @*<input asp-for="PayRollElementId" type="text" class="form-control" id="code" placeholder="Enter Code" autocomplete="off" style="width:100%" />*@
                    <input asp-for="PayRollElementId" id="PayRollElementId" class="form-control" style="width:100%" />

                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div><label for="ESD">Effective Start Date <span class="required">*</span></label></div>
                    <input asp-for="ESD" id="ESD" class="form-control" style="width:100%" />

                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <div><label for="EED">Effective End Date <span class="required">*</span></label></div>
                    <input asp-for="EED" id="EED" class="form-control" style="width:100%" />

                </div>
            </div>
        </div>


        <div class="col-12" style="text-align:right" ;>
            <button type="button" class="btn btn-light" style="margin-right:5px" onclick="closeNavMemberGroup();">Close</button>
            <input type="submit" class="btn btn-primary" style="margin-right:5px" value="Save" id="submitBtn" />
        </div>


        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.MandatoryDeductionId)

        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.IsDeleted)
        @Html.HiddenFor(x => x.SequenceOrder)
        @Html.HiddenFor(x => x.LastUpdatedDate)
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.Status)
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.LastUpdatedBy)
        @Html.HiddenFor(x => x.VersionNo)
        @Html.HiddenFor(x => x.LegalEntityId)

    </form>
</div>
