@using Synergy.App.ViewModel.Pay;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Manage Deduction Slab";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model MandatoryDeductionSlabViewModel


<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .row {
        margin-right: 0px;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-myheaderimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }

    .style-myfooterimage {
        /*border-radius: 50%;*/
        height: 80px;
        width: 80px;
    }
</style>

<script>
    $(document).ready(function () {

        $("#ESD").kendoDatePicker({ value: "@Model.ESD"});
        $("#EED").kendoDatePicker({ value: "@Model.EED"});

    });
         function refreshGrid() {
        window.parent.getSlabData();
    }


     var onAjaxSuccess = function (res) {

        if (res.success) {
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("@SharedResource["SavedSuccessfully"]", "success");
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("@SharedResource["UpdatedSuccessfully"]", "success");
            }
            closeNavMemberGroup();
            //window.parent.getApplicationDocumentData();
        }
        else {

            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(res.error);

        }
    };

    
    function RefreshParent() {
        window[0].OnWindowRefresh();
    }

    function closeNavMemberGroup() {

         var x = GetMainWindow();
        var win = x.window[0][1];
        
        /*win.CloseWindow({ MethodName: "refreshGrid"});*/
        x.CloseWindow();
        win.getSlabData();
        return false;
    }



</script>

<div class="row-12" style="margin-left:15px;">

    <form asp-controller="MandatoryDeduction" asp-action="ManageMandatoryDeductionSlab" method="post" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>

        

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                   @* <input asp-for="SlabFrom" type="text" class="form-control" id="code" placeholder="Enter Code" required="required" autocomplete="off" style="width:100%" />*@
                   <input asp-for="SlabFrom" id="SlabFrom" class="form-control" style="width:100%" />
                    <label for="SlabFrom">SlabFrom</label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                    @* <input asp-for="SlabTo" type="text" class="form-control" id="code" placeholder="Enter Code" required="required" autocomplete="off" style="width:100%" />*@
                    <input asp-for="SlabTo" id="SlabTo" class="form-control" style="width:100%" />
                    <label for="SlabTo">SlabTo</label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                     @*<input asp-for="EmployeeDefaultValue" type="text" class="form-control" id="code" placeholder="Enter Code" required="required" autocomplete="off" style="width:100%" />*@
                     <input asp-for="EmployeeDefaultValue" id="EmployeeDefaultValue" class="form-control" style="width:100%" />
                    <label for="EmployeeDefaultValue">EmployeeDefaultValue</label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                   @*  <input asp-for="EmployerDefaultValue" type="text" class="form-control" id="code" placeholder="Enter Code" required="required" autocomplete="off" style="width:100%" />*@
                   <input asp-for="EmployerDefaultValue" id="EmployerDefaultValue" class="form-control" style="width:100%" />
                    <label for="EmployerDefaultValue">EmployerDefaultValue</label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                   @*  <input asp-for="EmployeeSeniorCitizenValue" type="text" class="form-control" id="code" placeholder="Enter Code" required="required" autocomplete="off" style="width:100%" />*@
                     <input asp-for="EmployeeSeniorCitizenValue" id="EmployeeSeniorCitizenValue" class="form-control" style="width:100%" />
                    <label for="EmployeeSeniorCitizenValue">EmployeeSeniorCitizenValue <span class="required">*</span></label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                    @* <input asp-for="EmployerSeniorCitizenValue" type="text" class="form-control" id="code" placeholder="Enter Code" required="required" autocomplete="off" style="width:100%" />*@
                      <input asp-for="EmployerSeniorCitizenValue" id="EmployerSeniorCitizenValue" class="form-control" style="width:100%" />
                    <label for="EmployerSeniorCitizenValue">EmployerSeniorCitizenValue</label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                   @*  <input asp-for="EmployeeWomanValue" type="text" class="form-control" id="code" placeholder="Enter Code" required="required" autocomplete="off" style="width:100%" />*@
                     <input asp-for="EmployeeWomanValue" id="EmployeeWomanValue" class="form-control" style="width:100%" />
                    <label for="EmployeeWomanValue">EmployeeWomanValue</label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                    @* <input asp-for="EmployerSeniorCitizenValue" type="text" class="form-control" id="code" placeholder="Enter Code" required="required" autocomplete="off" style="width:100%" />*@
                      <input asp-for="EmployerWomanCitizenValue " id="EmployerWomanCitizenValue " class="form-control" style="width:100%" />
                    <label for="EmployerWomanCitizenValue">EmployerWomanCitizenValue</label>
                </div>
            </div>
        </div>
<div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                    <input asp-for="ESD" id="ESD" class="form-control" style="width:100%" />
                    <label for="ESD">Effective Start Date <span class="required">*</span></label>
                </div>
            </div>
        </div>

        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <div class="form-label-group">
                    <input asp-for="EED" id="EED" class="form-control" style="width:100%" />
                    <label for="EED">Effective End Date <span class="required">*</span></label>
                </div>
            </div>
        </div>


        <div class="col-12" style="text-align:right" ;>
            <button type="button" class="btn btn-light" style="margin-right:5px" onclick="closeNavMemberGroup();">Close</button>
            <input type="submit" class="btn btn-primary" style="margin-right:5px" value="Save" id="submitBtn" />
        </div>


        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.MandatoryDeductionId)

         @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.IsDeleted)
        @Html.HiddenFor(x => x.SequenceOrder)
        @Html.HiddenFor(x => x.LastUpdatedDate)
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.Status)
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.LastUpdatedBy)
        @Html.HiddenFor(x => x.VersionNo)
        @Html.HiddenFor(x => x.LegalEntityId)
    </form>
</div>

