@{
    ViewData["Title"] = "Dashboard";
    //Layout = ViewBag.Layout;
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.BusinessAnalyticsController> Resource

@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model IIPNotificationViewModel
<style>
    .global-overlay {
        display: none !important;
    }
    .content {
        height: auto;
        margin: 0 auto;
        padding: 10px;
    }

    .nav-pills {
        width: 660px;
    }

    .nav-item {
        width: 16%;
    }

    .nav-pills .nav-link {
        font-weight: 400;
        padding-top: 9px;
        text-align: center;
        background: #343436;
        color: #fff;
        border-radius: 15px;
        height: 65px;
        font-size: 17px;
        border: 1px solid lightblue;
    }

        .nav-pills .nav-link.active {
            background: #fff;
            color: #000;
        }

    .tab-content {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 650px;
        margin-top: -25px;
        background: #fff;
        color: #000;
        border-radius: 15px;
        z-index: 1000;
        padding: 10px;
        border: 1px solid lightblue;
    }

    body {
        background-color: #dee2e6;
    }

    #cctv .tab-content {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 600px;
        margin-top: -40px;
        background: #fff;
        color: #000;
        border-radius: 15px;
        z-index: 1000;
        padding: 10px;
        border: 1px solid lightblue;
    }

    #cctv .nav-pills .nav-link {
        font-weight: 400;
        padding-top: 3px;
        text-align: center;
        background: #343436;
        color: #fff;
        border-radius: 15px;
        height: 70px;
        font-size: 15px;
        border: 1px solid lightblue;
    }

        #cctv .nav-pills .nav-link.active {
            background: #fff;
            color: #000;
        }

    .footage {
        float: left;
        position: relative;
        /*  width: 710px;
        height: 360px;*/
        margin: 0 5px;
        padding: 0;
    }

    #listview_cctv {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
        /* Avoid cutout if font or line is bigger */
        font: inherit;
        border: none;
    }

    .k-listview-content {
        overflow: hidden;
    }

    #listview_cctv .card {
        width: 470px;
        height: 290px;
        margin-bottom: 10px;
    }

    #cctv_count {
        background: #007bff;
        color: white;
        border-radius: 50%;
        padding: 5px 10px;
        margin-left: 10px;
        margin-right: 5px;
    }
     em {
        background-color: yellow;
    }
</style>
<style>
    #time-range p {
        font-family: "Arial", sans-serif;
        font-size: 14px;
        color: #333;
        margin-bottom: 0.5rem;
    }

    .ui-slider-horizontal {
        height: 8px;
        background: #D7D7D7;
        border: 1px solid #BABABA;
        box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
        clear: both;
        margin: 8px 0;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
    }

    .ui-slider {
        position: relative;
        text-align: left;
    }

    .ui-slider-horizontal .ui-slider-range {
        top: -1px;
        height: 100%;
    }

    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        height: 8px;
        font-size: .7em;
        display: block;
        border: 1px solid #5BA8E1;
        box-shadow: 0 1px 0 #AAD6F6 inset;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
        background: #81B8F3;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
        background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
        background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
        background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
        background-image: linear-gradient(top, #A0D4F5, #81B8F3);
    }

    .ui-slider .ui-slider-handle {
        border-radius: 50%;
        background: #F9FBFA;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
        background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
        background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
        background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
        background-image: linear-gradient(top, #C7CED6, #F9FBFA);
        width: 22px;
        height: 22px;
        -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
        -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
        box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
        -webkit-transition: box-shadow .3s;
        -moz-transition: box-shadow .3s;
        -o-transition: box-shadow .3s;
        transition: box-shadow .3s;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 22px;
        height: 22px;
        cursor: default;
        border: none;
        cursor: pointer;
    }

        .ui-slider .ui-slider-handle:after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            top: 50%;
            margin-top: -4px;
            left: 50%;
            margin-left: -4px;
            background: #30A2D2;
            -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
            -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
            box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
        }

    .ui-slider-horizontal .ui-slider-handle {
        top: -.5em;
        margin-left: -.6em;
    }

    .ui-slider a:focus {
        outline: none;
    }

    #slider-range {
        width: 90%;
        margin: 0 auto;
    }

    #time-range {
        width: 350px;
    }
    #media button{
        margin-bottom:10px;
        margin-right:10px;
    }
     .active-btn, #social_media_btn .btn:hover {
        background-color: #0096FF;
        color: white;        
    }
    #kgrddial100 .ag-header-cell-text{
        color: white;
    }
</style>
<script>
    var cctv_markers;
    $(document).ready(function () {
        getdial100Data();
        loadDates();
        loadRoipDistrict();
        loadVdpDistrict();
        //getcctvData();
        //getNewsfeedData();
        //getYoutubeData();
        //getTwitterData();        
        //getFacebookData();        
        //getInstagramData(); 
        $("#Radius").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: "policeStation",
            change: onRadiusChange,
            dataSource: [
                { Name: "By Police Station", Id: "policeStation" },
                { Name: "500 M", Id: "500" },
                { Name: "1 KM", Id: "1000" },
                { Name: "1.5 KM", Id: "1500" },
                { Name: "2 KM", Id: "2000" },
                { Name: "2.5 KM", Id: "2500" },
                { Name: "3 KM", Id: "3000" },
                { Name: "3.5 KM", Id: "3500" },
                { Name: "4 KM", Id: "4000" },
                { Name: "4.5 KM", Id: "4500" },
                { Name: "5 KM", Id: "5000" },
                { Name: "All", Id: "0" },
            ],
        });
        $("#ViewType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: "GridView",
            change: onViewChange,
            dataSource: [
                { Name: "Grid View", Id: "GridView" },
                //{ Name: "Card View", Id: "CardView" },
                { Name: "Map View", Id: "MapView" },
            ],
        });       
        
    });

    function loadDates() {
        $("#roipdates").kendoDropDownList({
            dataTextField: "Code",
            dataValueField: "CreatedDate",
            //filter: "contains",
            //change: onChangeRoipdates,
            //optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/CMS/BusinessAnalytics/GetDates",
                    }
                }
            }
        });
    }
     function loadRoipDistrict() {
        $("#roipDistrict").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Code",            
            dataSource: {
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/CMS/BusinessAnalytics/GetRoipChanel",
                    }
                }
            }
        });
    }
    function onChangeRoipdates() {
        getRoipData();
    }
    function OnAlertUpdate(){
        var win = GetMainWindow();
        var url = '/Cms/BusinessAnalytics/AlertRemarks?parentId=@ViewBag.AlertId';
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Action Remark', Width: 600, Height: 500 });
        return false;
        
    }
    function OnAlertClose(){
        var win = GetMainWindow();
        var url = '/Cms/BusinessAnalytics/AlertRemarks?parentId=@ViewBag.AlertId&type=Close';
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Close Remark', Width: 600, Height: 500 });
        return false;
       
    }     
    function onClose(Prms) { 
        var elem=window.parent.document.querySelector('[data-alertid="'+Prms.id+'"]');
        if(elem != null && elem != undefined){
            elem.remove();            
            var alertElm=window.parent.document.getElementById('alertId');
            if(alertElm != null && alertElm != undefined ){
                alertElm.value=Prms.id;
            }
        }
    }
    window.onunload = function (e) {  
        window.parent.CallParentfunction();
    }; 
</script>
<div class="content">
    <h4 id="selectedRow">Alert Number : @ViewBag.AlertNumber </h4>
    <div class="pull-right"> 
        <button type='button' class='btn btn-primary shadow-sm' onclick='OnAlertUpdate()'>
            <span class="fa-light fa-clipboard-list-check"></span>
            <span class="button-text">Take Action</span>
        </button>
        <button type='button' class='btn btn-primary shadow-sm' onclick='OnAlertClose()'>
            <span class="fal fa-close"></span>
            <span class="button-text">Close</span>
        </button>        
    </div>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a data-toggle="pill" href="#dail100" class="nav-link active" aria-selected="false">Dial 100</a></li>
        <li class="nav-item"><a data-toggle="pill" href="#cctv" class="nav-link" aria-selected="true">CCTV</a></li>
        <li class="nav-item"><a data-toggle="pill" href="#roip" class="nav-link" aria-selected="false">ROIP</a></li>  
         <li class="nav-item"><a data-toggle="pill" href="#media" class="nav-link" aria-selected="false">Social Media</a></li>        
        <li class="nav-item"><a data-toggle="pill" href="#cctns" class="nav-link" aria-selected="false">CCTNS</a></li>
        <li class="nav-item"><a data-toggle="pill" href="#vdp" class="nav-link" aria-selected="false">VDP</a></li>
              
    </ul>

    <div class="tab-content">
        <div id="dail100" class="tab-pane  active">           
            <div class="row">
                <div class="col-12">                   
                     <div id="kgrddial100" style="width: 100%;height:600px" class="ag-theme-alpine"></div>
                </div>
            </div>
        </div>
        <div id="cctv" class="tab-pane pad-10 fade">
            <div class="row">
                <div class="col-2" style="margin-right: -125px;">
                    <label style=" margin-top: 6px; font-weight: 400;">Search By Radius</label>
                </div>
                <div class="col-3">
                    <input id="Radius" style="width: 100%" />
                </div>

                <div class="col-5"></div>
                <div class="col-2" style="margin-left: 125px;">
                    <input id="ViewType" style="width: 100%" />
                </div>
            </div>
            <hr />
            <div id="grid-view" class="tab-pane" style="padding-top: 10px">
                <div id="gridview_cctv" style="width: 100%;height:600px" class="ag-theme-alpine"></div>
            </div>
            <div id="card-view" class="tab-pane" style="display:none">

                <div id="listview_cctv">

                </div>
                <div id="pager" class="k-pager-wrap"></div>


            </div>
            <div id="map-view" class="tab-pane" style="display:none;padding-top:10px">
                <div class="card" style="padding:5px">
                    <div id="map" style="height:550px"></div>
                </div>
            </div>
        </div>
        <div id="cctns" class="tab-pane fade">          
            <div class="col-12" id="DivQueryList_Cctns" style="padding-top:10px"></div>             
        </div>
        <div id="media" class="tab-pane fade">
           @* <h4 style="text-align:center">News Feeds</h4>
            <div id="kgrdNewsFeed" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            <br />
            <h4 style="text-align:center">Youtube</h4>
            <div id="kgrdYoutube" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            <br />
            <h4 style="text-align:center">Instagram</h4>
            <div id="kgrdInstagram" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            <br />
            <h4 style="text-align:center">Twitter</h4>
            <div id="kgrdTwitter" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            <br />
            <h4 style="text-align:center">Facebook</h4>
            <div id="kgrdFacebook" style="width: 100%;height:550px" class="ag-theme-alpine"></div>*@
           <div id="social_media_btn">
            <button type="button" class="btn btn-secondary" onclick="onTabClick('district')">District</button>
            <button type="button" class="btn btn-secondary" onclick="onTabClick('event')">Event</button>
            <button type="button" class="btn btn-secondary" onclick="onTabClick('Terrorist')">Terrorist</button>
            <button type="button" class="btn btn-secondary" onclick="onTabClick('Communal_Incident')">Communal Incident</button>
            <button type="button" class="btn btn-secondary" onclick="onTabClick('Law_and_Order')">Law and Order</button>
            <button type="button" class="btn btn-secondary" onclick="onTabClick('0')">Upcoming Events</button>           
            <button type="button" class="btn btn-secondary" onclick="onTabClick('1')">Top Trends</button>
            <button type="button" class="btn btn-secondary" onclick="onTabClick('2')">Negative Sentiments</button>
            <button type="button" class="btn btn-secondary" onclick="onTabClick('3')">Word Cloud</button>
            </div>
            <div class="col-12" id="div_social_media" style="padding-top:10px"></div>  
        </div>
        <div id="roip" class="tab-pane fade">
            <div class="row">
                <div class="col-1">
                    <label style=" margin-top: 6px; font-weight: 400;">Date</label>
                </div>
                <div class="col-2">
                    <input id="roipdates" style="width: 100%" />
                </div>
                 <div class="col-1">
                    <label style=" margin-top: 6px; font-weight: 400;">District</label>
                </div>
                <div class="col-2">
                    <input id="roipDistrict" style="width: 100%" />
                </div>
                <div class="col-3">
                    <div id="time-range">
                        <p>
                            Time Range: <span class="slider-time">10:00 AM</span> - <span class="slider-time2">2:00 PM</span>

                        </p>
                        <div class="sliders_step1">
                            <div id="slider-range"></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <input type="button" class="btn btn-primary" value="Search" onclick="OnRoipSearch()" />
                     <input type="button" class="btn btn-primary" value="Fetch From Server" onclick="OnRoipFetch()" />
                </div>                
            </div>
            <hr />
            <div id="kgrdRoip" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

        </div>
        <div id="vdp" class="tab-pane fade">
            <div class="row">
                <div class="col-2" style="margin-right: -125px;">
                    <label style=" margin-top: 6px; font-weight: 400;">District</label>
                </div>
                <div class="col-3">
                    <input id="vdpDistrict" style="width: 100%" />
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary" value="Connect" onclick="OnVdpConnect()" />
                    <input type="button" class="btn btn-primary" value="Disconnect" onclick="OnVdpDisConnect()" />
                </div>
            </div>
            <hr />             
            <div id="VdpReport" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

        </div>
    </div>
</div>
<input type="hidden" id="fromTime" value="600" />
<input type="hidden" id="toTime" value="840" />
@Html.HiddenFor(x=>x.IncidentNumber)
@Html.HiddenFor(x=>x.PoliceStation)
@Html.HiddenFor(x=>x.DistrictCode)
@Html.HiddenFor(x=>x.Latitude)
@Html.HiddenFor(x=>x.Longitude)
<script>
    $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href");
        if (target == "#dail100") {

        }
        else if (target == "#cctv") {
            getcctvData();
        }
        else if (target == "#vdp") {
            //loadVdpDistrict();
        }
        else if (target == "#cctns") {
            loadCctns();
        }
        else if (target == "#media") {
            //getNewsfeedData();
            //getYoutubeData();
            //getTwitterData();        
            //getFacebookData();        
            //getInstagramData(); 
            debugger;
            var btns =document.getElementById("social_media_btn").querySelectorAll('button');
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function() {
                Array.prototype.forEach.call(btns, function (el) {
                    el.classList.remove('active-btn')
                })
                this.className += " active-btn";
                });
            }    
        }
        else if (target == "#roip") {
            
        }
    });
    function onDial100Select(id,ps,dc,lat,long) {          
        $("#IncidentNumber").val(id);
        $("#PoliceStation").val(ps);
        $("#DistrictCode").val(dc);
        $("#Latitude").val(lat);
        $("#Longitude").val(long);
       var dropdownlist = $("#vdpDistrict").data("kendoDropDownList");
       dropdownlist.dataSource.data().some(element => {
          if (element.Code === dc) {              
            dropdownlist.value(element.Id);
            dropdownlist.trigger("change");
          }         
        });
        
    }
var columnDefs1 = [
                //{
                //    field: "select",
                //    headerName: "Select",
                //    cellRenderer: params => {                         
                //        //return "<span class='fas fa-eye' onclick='onMonitorView()'></span>";  
                //        if (params.data.event_number == '@Model.IncidentNumber') {
                //            return "<input type='radio' name='dial100group' onclick='onDial100Select(\"" + params.data.caller_number + "\",\"" + params.data.police_Station + "\",\"" + params.data.district_Code + "\",\"" + params.data.latitude + "\",\"" + params.data.longitude + "\")' checked='checked' ></input";

                //        }
                //        else {
                //            return "<input type='radio'  name='dial100group' onclick='onDial100Select(\""+params.data.caller_number+"\",\""+params.data.police_Station+"\",\""+params.data.district_Code+"\",\""+params.data.latitude+"\",\""+params.data.longitude+"\")' ></input";

                //        }
                //    }
                //},

                {
                    field: "caller_name",
                    headerName: "Caller Name",
                    minWidth: 100, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" +params.data.caller_name+" </p>";
                    }
                },
                {
                    field: "caller_number",
                    headerName: "Caller Number",
                    minWidth: 120, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.caller_number+" </p>";
                    }

                },
                {
                    field: "event_number",
                    headerName: 'Event Number',
                    minWidth: 120, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.event_number+" </p>";
                    }
                },
                {
                    field: "event_type",
                      headerName: 'Event Type',
                    //  minWidth: 150, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.event_type+" </p>";
                    }
                },

                 {
                     field: "event_subType",
                      headerName: 'Event SubType',
                    //  minWidth: 150, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.event_subType+" </p>";
                    }
                },

                  {
                      field: "police_Station",
                      headerName: 'Police Station',
                    //  minWidth: 150, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.police_Station+" </p>";
                    }
                },

             {
                 field: "district_Code",
                      headerName: 'District Code',
                    //  minWidth: 150, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.district_Code+" </p>";
                    }
                },

              //{
              //    field: "latitude",
              //        headerName: '@Resource["Latitude"]',
              //        minWidth: 150, 
              //      maxWidth: 300,
              //      cellRenderer: params => {
              //          return "<div class='text-justify' >" + params.data.latitude+" </div>";
              //      }
              //  },

              // {
              //     field: "longitude",
              //        headerName: '@Resource["Longitude"]',
              //        minWidth: 150, 
              //      maxWidth: 300,
              //      cellRenderer: params => {
              //          return "<div class='text-justify' >" + params.data.longitude+" </div>";
              //      }
              //  },
              //{ field: 'event_remark',headerName: 'Event Remark', width: 350, wrapText: true },
                  {
                      field: "event_remark",
                      headerName: 'Event Remark',
                      minWidth: 500, 
                     //maxWidth: 800,
                     wrapText: true,
                     autoHeight: true,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.event_remark.replaceAll(";","&#10;&#13;")+" </p>";
                    }
                },

             {
                 field: "event_time",
                      headerName: 'Event Time',
                    //  minWidth: 150, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.event_time+" </p>";
                    }
                },

              {
                  field: "closing_Time",
                      headerName: 'Closing Time',
                    //  minWidth: 150, 
                    //maxWidth: 300,
                    cellRenderer: params => {
                        return "<p style='white-space: pre-wrap;'>" + params.data.closing_Time+" </p>";
                    }
                },

            ];

var gridDialOptions;
function DefaultSelection() {    
    gridDialOptions.api.forEachNode(function (node) {
        if(node.rowIndex==0){
            node.setSelected(true);
        }
    
    });
}
function onSelectionChanged() {
  const selectedRows = gridDialOptions.api.getSelectedRows();
  //document.querySelector('#selectedRow').innerHTML =
  //selectedRows.length === 1 ? "Caller Name/Event Number :" + selectedRows[0].caller_name +"/"+selectedRows[0].event_number : '';
    onDial100Select(selectedRows[0].event_number,selectedRows[0].police_Station,selectedRows[0].district_Code,selectedRows[0].latitude,selectedRows[0].longitude);
}
 function loadCctns() {        
        var lat = $("#Latitude").val();
        var long =  $("#Longitude").val();
        var ps = $("#PoliceStation").val();
        if (ps != null) {
            ps = ps.replaceAll(" ", "^");
        }
        var dc = $("#DistrictCode").val();
        $("#DivQueryList_Cctns").load("/cms/BusinessAnalytics/DynamicGridviewIIP?indexName=cctns_common&gridName=KgrdDial_Cctns&latitude="+lat+"&longitude="+long+"&policeStation="+ps+"&district="+dc,
        function () { });
    }
function getdial100Data() {
    selector = "kgrddial100";
    ShowLoader($('#' + selector));
    $.ajax({
        url: "/Cms/BusinessAnalytics/ReadDial100DataByIds?ids=@ViewBag.Dial100Ids",
        type: "GET",
        contentType: "application/json",
        dataType: "JSON",
        success: function (response) {
            HideLoader($('#' + selector));
            document.getElementById(selector).innerHTML = "";
            if (response.length >= 0) {
                var tabledata = response;
                gridDialOptions = {   
                    columnDefs: columnDefs1,
                    //rowHeight: 500,
                    defaultColDef: {
                    flex: 1,
                    //width: 100,
                    resizable: true,
                    //minWidth: 100,
                    },
                    rowSelection: 'single',                    
                    rowData: tabledata,   
                    suppressColumnVirtualisation: true,
                    pagination: true,
                    paginationPageSize: 15,
                    onSelectionChanged: onSelectionChanged,

                };
                const eGridDiv = document.querySelector('#' + selector);
                new agGrid.Grid(eGridDiv, gridDialOptions);
                document.getElementById("kgrddial100").getElementsByClassName("ag-header")[0].style.backgroundColor = "@ViewBag.Color";
            } else {
                
            }
            
        },
        error: function (ert) {
            HideLoader($('#' + selector));
        }
    });
    setTimeout(DefaultSelection, 500);
    //DefaultSelection();
                //document.getElementById("kgrddial100").innerHTML = "";
                //gridConfig(
                //    "kgrddial100",
                //    "/Cms/BusinessAnalytics/ReadDial100DataByIds?ids=@ViewBag.Dial100Ids",
                //    columnDefs1,
                //    false,
                //    true,
                //    true,
                //    true,
                //    1,
                //    true,
                //    10);
    }
    var columnDefsCctv = [
        {
            field: "View",
            headerName: "View",
            cellRenderer: params => {
                return "<span class='fas fa-eye' onclick='onMonitorView(\"" + params.data.RtspLink + "\",\"" + params.data.Id +"\")'></span>";
            }
        },
                {
                    field: "NoteSubject",
                    headerName: "Camera Name",
                    minWidth: 150, 
                    maxWidth: 300,
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.NoteSubject+" </div>";
                    }
                },
                {
                    field: "City",
                    headerName: "City",
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.City + " </div>";
                    }
                },
                {
                    field: "Location",
                    headerName: "Location",
                    minWidth: 150, 
                    maxWidth: 300,
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.Location+" </div>";
                    }

        },
        {
            field: "PoliceStation",
            headerName: "Police Station",
            minWidth: 150, 
                    maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.PoliceStation + " </div>";
            }

        },
        {
            field: "Latitude",
            headerName: "Latitude",
            minWidth: 150, 
                    maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.Latitude + " </div>";
            }

        },
        {
            field: "Longitude",
            headerName: "Longitude",
            minWidth: 150, 
                    maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.Longitude + " </div>";
            }

        },
        {
            field: "IpAddress",
            headerName: "IP Address",
            minWidth: 150, 
                    maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.IpAddress + " </div>";
            }

        },


            ];
    function getcctvData() {
        debugger;
        //var radius = $("#Radius").val() == "" ? 500 : $("#Radius").val();              
        var radius = $("#Radius").val();              
        var lat = $("#Latitude").val();
        var long =  $("#Longitude").val();
        var ps = $("#PoliceStation").val();
        var url =  radius =="policeStation" || radius==undefined ? "/Cms/BusinessAnalytics/ReadIIPCameraDataByPoliceStation?ps=" + ps : "/Cms/BusinessAnalytics/ReadIIPCameraData?radius=" + radius + "&latitude=" + lat +"&longitude="+long;
        document.getElementById("gridview_cctv").innerHTML = "";
        gridConfig(
            "gridview_cctv",
            url,
            columnDefsCctv,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
    function onViewChange() {

    var view = $("#ViewType").data("kendoDropDownList").value();
    if (view == "GridView") {
        getcctvData();
        $("#grid-view").show();
        $("#card-view").hide();
        $("#map-view").hide();

    }
    else if (view == "CardView") {
        loadCctvFootage();
        $("#grid-view").hide();
        $("#card-view").show();
        $("#map-view").hide();
    }
    else {
        loadMap();
        window.dispatchEvent(new Event('resize'));
        $("#grid-view").hide();
        $("#card-view").hide();
        $("#map-view").show();
    }
    }
    function onRadiusChange(e) {
        onViewChange();
    }
    function onMonitorView(rtsplink, id) {
        debugger;
        var _encodeUrl = encodeURI(rtsplink)
        _encodeUrl = _encodeUrl.replaceAll("&", "^");
        var url = '/Cms/BusinessAnalytics/Streaming?rtspLink=' + _encodeUrl + '&id=' + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'CCTV Camera', Width: 1200, Height: 600 });
        return false;
    }
    function onPreview(e) {
        var rtsplink = e.relatedTarget.options.link;
        var id = e.relatedTarget.options.id;
        var _encodeUrl = encodeURI(rtsplink)
        _encodeUrl = _encodeUrl.replaceAll("&", "^");
        var url = '/Cms/BusinessAnalytics/Streaming?rtspLink=' + _encodeUrl + '&id=' + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'CCTV Camera', Width: 1200, Height: 600 });
        return false;
    }
    function loadMap() {
        var radius = $("#Radius").val() == "" ? 500 : $("#Radius").val();       
        var lat = $("#Latitude").val();
        var long =  $("#Longitude").val();       
        $.ajax({
            type: "GET",
            url: "/Cms/BusinessAnalytics/ReadIIPCameraData?radius=" + radius + "&latitude=" + lat + "&longitude=" + long,
            success: function (response) {
                if (response != "" && response != null) {                    
                    var locations = response;
                    var container = L.DomUtil.get('map');
                    if (container['_leaflet_id'] == null || container['_leaflet_id'] == undefined) {
                        cctv_markers = L.markerClusterGroup({ showCoverageOnHover: false });
                        for (var i = 0; i < locations.length; i++) {
                            var a = locations[i];
                            if ((a['Latitude'] > -90 || a['Latitude'] < 90) && (a['Longitude'] > -180 || a['Longitude'] < 180)) {
                                var colors = "green";
                                var iconDes = L.divIcon({
                                    html: '<i class="fa fa-map-marker fa-3x" style="color:' + colors + '"></i>',
                                    iconSize: [20, 20],
                                    className: 'myDivIcon'
                                })
                                var title = "<p><b>Camera Name :</b>" + a['NoteSubject'] + "</p><p><b>Police Station :</b>" + a['PoliceStation'] + "</p><p><b>Location :</b>" + a['Location'] + "</p>";
                                var marker = L.marker([a['Latitude'], a['Longitude']], { icon: iconDes, link: a['RtspLink'], id: a['Id'], contextmenu: true, contextmenuInheritItems: false, contextmenuItems: [{ text: 'Preview', callback: onPreview }] });
                                marker.bindPopup(title);
                                cctv_markers.addLayer(marker);

                            }    
                        } 
                        var map = L.map("map", {
                        center: [locations[0]["Latitude"], locations[0]["Longitude"]],
                        zoom: 1,
                        maxZoom: 20,
                        layers: [cctv_markers]
                        });
                        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                            attribution: "© OpenStreetMap contributors"
                        }).addTo(map);
                        cctv_markers.getBounds().isValid();
                        map.fitBounds(cctv_markers.getBounds());
                    }
                    else{
                        cctv_markers.clearLayers();
                        for (var i = 0; i < locations.length; i++) {
                            var a = locations[i];
                            if ((a['Latitude'] > -90 || a['Latitude'] < 90) && (a['Longitude'] > -180 || a['Longitude'] < 180)) {
                                var colors = "green";
                                var iconDes = L.divIcon({
                                    html: '<i class="fa fa-map-marker fa-3x" style="color:' + colors + '"></i>',
                                    iconSize: [20, 20],
                                    className: 'myDivIcon'
                                })
                                var title = "<p><b>Camera Name :</b>" + a['NoteSubject'] + "</p><p><b>Police Station :</b>" + a['PoliceStation'] + "</p><p><b>Location :</b>" + a['Location'] + "</p>";
                                var marker = L.marker([a['Latitude'], a['Longitude']], { icon: iconDes, link: a['RtspLink'], id: a['Id'], contextmenu: true, contextmenuInheritItems: false, contextmenuItems: [{ text: 'Preview', callback: onPreview }] });
                                marker.bindPopup(title);
                                cctv_markers.addLayer(marker);

                            }    
                        } 
                    }
                }
            },
            error: function (response) {

            },
        });


    }
    function loadCctvFootage() {
        document.getElementById("listview_cctv").innerHTML = "";
        document.getElementById("pager").innerHTML = "";
        var radius = $("#Radius").val() == "" ? 500 : $("#Radius").val();
        //var lat = '@Model.Latitude';
        //var long = '@Model.Longitude';
         var lat = $("#Latitude").val();
        var long =  $("#Longitude").val();
        var dataSourcey = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/BusinessAnalytics/ReadIIPCameraData?radius=" + radius + "&latitude=" + lat + "&longitude=" + long,
                    //data: Filter,
                    dataType: "json",
                }
            },
            pageSize: 6,

        });
        $("#pager").kendoPager({
            dataSource: dataSourcey
        });
        $("#listview_cctv").kendoListView({
            dataSource: dataSourcey,
            //dataBound: OnDataBoundYoutube,
            template: kendo.template($("#template_cctv").html()),
            pageable: true,

        });
    }
     var columnDefs2 = [

                  {
                    field: "View",
                    headerName: "View",
                    minWidth: 100, 
                    maxWidth: 100,
                    cellRenderer: params => {
                       return "<span class='fas fa-eye' onclick='onRssFeedView(\"" + params.data.link +"\")'></span>";
                    }
                },
                {
                    field: "name",
                    headerName: '@Resource["Name"]',
                    minWidth: 150, 
                    maxWidth: 300,
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.name+" </div>";
                    }
                },
                {
                    field: "title",
                    minWidth: 300, 
                    maxWidth: 400,
                    headerName: '@Resource["Title"]',
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.title+" </div>";
                    }

                },
                {
                    field: "message",
                    headerName: '@Resource["Message"]',
                    minWidth: 200, 
                    maxWidth: 300,
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.message+" </div>";
                    }
                },

                {
                    field: "author",
                    headerName: '@Resource["Author"]',
                    minWidth: 150, 
                    maxWidth: 300,
                    cellRenderer: params => {
                         if (params.data.author != null) {
                             return "<div class='text-justify' >" + params.data.author + " </div>";
                         }
                         else {
                             return "";
                         }
                    }
                },

                 {
                    field: "published",
                    headerName: '@Resource["Published"]',
                    minWidth: 200, 
                    maxWidth: 300,
                        cellRenderer: params => {
                            return "<div class='text-justify' >" + params.data.published+" </div>";
                        }
                    },


            ];

            function onRssFeedView(url) {
                window.open(
                    url, "_blank");
            }



            function getNewsfeedData() {
                document.getElementById("kgrdNewsFeed").innerHTML = "";
                //var geocodeService = L.esri.Geocoding.geocodeService();
                // var lat = $("#Latitude").val();
                //var long =  $("#Longitude").val();
                ////var coord = { lat: @Model.Latitude, lng: @Model.Longitude }
                //var coord = { lat: lat, lng: long }
                //geocodeService.reverse().latlng(coord).run(function (error, result) {
                //var str = result != undefined ? result.address.Match_addr : "";
                var ps = $("#PoliceStation").val();
                var str = ps.trim();
                //str = str + " @Model.PoliceStation";
                gridConfig(
                    "kgrdNewsFeed",
                    "/Cms/BusinessAnalytics/ReadNewsFeedDataBySearch?policeStation=" + str,
                    columnDefs2,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);
                //})
    }
    var columnDefs3 = [

                  {
                    field: "View",
                    headerName: "View",
                    minWidth: 100,
                    maxWidth: 100,
                    cellRenderer: params => {
                        return "<span class='k-icon k-i-youtube-box k-color-danger k-icon-md' onclick='onYoutubeView(\"" + params.data.Id + "\")'>";
                    },

        },
        {
            field: "Comment",
            headerName: "Comment",
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<span class='fal fa-comment-o' style='font-size: 20px;' onclick='onCommentView(\"" + params.data.Id + "\")'></span>";
            }
        },
                {
                    field: "channelTitle",
                    headerName: 'Channel Title',
                     minWidth:150,
            maxWidth: 300,
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.channelTitle+" </div>";
                    }
                },
                {
                    field: "title",
                    headerName: '@Resource["Title"]',
                     minWidth:300,
            maxWidth: 400,
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.title+" </div>";
                    }

                },
                {
                    field: "description",
                      headerName: '@Resource["Description"]',
                       minWidth:250,
            maxWidth: 300,
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.description+" </div>";
                    }
                },



             {
                 field: "publishTime",
                      headerName: '@Resource["Published"]',
                       minWidth:200,
            maxWidth: 300,
                    cellRenderer: params => {
                        return "<div class='text-justify' >" + params.data.publishTime+" </div>";
                    }
                },


    ];
    function onYoutubeView(id) {
        var url = "https://www.youtube.com/watch?v=" + id;
        window.open(
            url, "_blank");
    }
    function onCommentView(id) {
        var url = '/Cms/BusinessAnalytics/YoutubeComment?videoId='+ id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Youtube Comment', Width: 1000, Height: 600 });
        return false;
            }



            function getYoutubeData() {
                document.getElementById("kgrdYoutube").innerHTML = "";
                @*var geocodeService = L.esri.Geocoding.geocodeService();
                var coord = { lat: @Model.Latitude, lng: @Model.Longitude }
                geocodeService.reverse().latlng(coord).run(function (error, result) {
                    var str = result != undefined ? result.address.Match_addr : "";
                    str = str + " @Model.PoliceStation";*@
                var lat = $("#Latitude").val();
                var long =  $("#Longitude").val();
                var ps = $("#PoliceStation").val();
                gridConfig(
                    "kgrdYoutube",
                    "/Cms/BusinessAnalytics/ReadYoutubeDataBySerach?policeStation="+ps+"&latitude="+lat+"&longitude="+long,
                    columnDefs3,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);
                //})
    }
    var columnDefs4 = [

                  {
                    field: "View",
                    headerName: "View",
                    minWidth: 100,
                    maxWidth: 100,
                    cellRenderer: params => {
                        return "<span class='k-icon k-i-twitter-box k-color-primary k-icon-md' onclick='onTweetView(\"" + params.data.id + "\")'>";
                    },

        },
        {
            field: "text",
            headerName: 'Tweet',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.text + " </div>";
            }
        },
        {
            field: "source",
            headerName: 'Source',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.source + " </div>";
            }
        },
        {
            field: "type",
            headerName: 'Type',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                if (params.data.type !=null) {
                    return "<div class='text-justify' >" + params.data.type + " </div>";
                }
                else {
                    return "";
                }

            }
        },
        {
            field: "possibly_sensitive",
            headerName: 'Possibly Sensitive',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.possibly_sensitive+" </div>";
            }
        },
        {
            field: "retweet_count",
            headerName: 'Retweet Count',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.retweet_count + " </div>";
            }
        },
        {
            field: "reply_count",
            headerName: 'Reply Count',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.reply_count + " </div>";
            }
        },
        {
            field: "like_count",
            headerName: 'Like Count',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.like_count + " </div>";
            }
        },
        {
            field: "quote_count",
            headerName: 'Quote Count',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.quote_count + " </div>";
            }
        },
        {
            field: "created_at",
            headerName: 'Created At',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.created_at + " </div>";
            }
        }


    ];
    function onTweetView(id) {
        var url = "https://twitter.com/web/status/" + id;
        window.open(
            url, "_blank");
    }
    function getTwitterData() {
        document.getElementById("kgrdTwitter").innerHTML = "";
        var ps = $("#PoliceStation").val();
                gridConfig(
                    "kgrdTwitter",
                    "/Cms/BusinessAnalytics/ReadTwitterDataBySerach?policeStation="+ps,
                    columnDefs4,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);

    }
    var columnDefs5 = [

                  {
                    field: "View",
                    headerName: "View",
                    minWidth: 100,
                    maxWidth: 100,
                    cellRenderer: params => {
                        return "<span class='fal fa-volume' onclick='onRoipView(\"" + params.data.file_name + "\")'>";
                    },

        },        
        {
            field: "channel_name",
            headerName: 'Chanel Name',          
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.channel_name+" </div>";
            }
        },
        {
            field: "date_value",
            headerName: 'Date',
            
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.date_value + " </div>";
            }
        },
        {
            field: "start_time",
            headerName: 'Start Time',
           
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.start_time + " </div>";
            }
        },
        {
            field: "end_time",
            headerName: 'End Time',
           
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.end_time + " </div>";
            }
        },
        {
            field: "Duration",
            headerName: 'Duration',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.dur_time + " </div>";
            }
        },


    ];
    function onRoipView(fileName) {
        var url = '/Cms/BusinessAnalytics/ROIPaudio?fileName='+fileName;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'ROIP', Width: 600, Height: 400 });
        return false;
    }
    function getRoipData() {
        var from = $('#fromTime').val();
        var to =  $('#toTime').val();
        document.getElementById("kgrdRoip").innerHTML = "";
        var date=$("#roipdates").val();
        var roipDis = $("#roipDistrict").val();
                gridConfig(
                    "kgrdRoip",
                    "/Cms/BusinessAnalytics/ReadRoipData?date=" + date +"&disCode="+ roipDis + "&from="+from+"&to="+to,
                    columnDefs5,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);

    }
    function OnRoipSearch() {
        getRoipData();
    }
    function OnRoipFetch(){
          $.ajax({
                url: '@Url.Action("GetRoipTablesData", "BusinessAnalytics", new { @area="Cms"})',
                    type: 'GET',
                    success: function (result) {                       
                        if (result) {
                            ShowNotification("Fetched Successfully", "success");
                            getRoipData();
                        }
                        else {
                            ShowNotification("Something went wrong!", "danger");
                        }
                    },
                    error: function (ert) {

                        ShowNotification("Something went wrong!", "danger");
                    }
                });
    }
    var columnDefsFacebook = [

        {
            field: "View",
            headerName: "View",
            minWidth: 100,
            maxWidth: 100,
            cellRenderer: params => {
                return "<span class='k-icon k-i-facebook-box k-color-primary k-icon-md' onclick='onFacebookView(\"" + params.data.post_url + "\")'>";
            },

        },
        {
            field: "post_msg",
            headerName: 'Post Text',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.post_msg + " </div>";
            }
        },
        {
            field: "page_name",
            headerName: 'Page Name',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.page_name + " </div>";
            }
        },
        {
            field: "uploaded_by",
            headerName: 'Uploaded By',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                if (params.data.username != null) {
                    return "<div class='text-justify' >" + params.data.uploaded_by + " </div>";
                }
                else {
                    return "";
                }

            }
        },
        {
            field: "no_of_likes",
            headerName: 'Likes',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.no_of_likes + " </div>";
            }
        },
        {
            field: "no_of_comments",
            headerName: 'Comments',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.no_of_comments + " </div>";
            }
        },
        {
            field: "no_of_shares",
            headerName: 'Shares',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.no_of_shares + " </div>";
            }
        },
        {
            field: "post_date",
            headerName: 'Post Date',
             minWidth:150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.post_date + " </div>";
            }
        }


    ];
    function onFacebookView(url) {
        window.open(
            url, "_blank");
    }
    function getFacebookData() {
        document.getElementById("kgrdFacebook").innerHTML = "";
        var ps = $("#PoliceStation").val();
                gridConfig(
                    "kgrdFacebook",
                    "/Cms/BusinessAnalytics/ReadFacebookDataBySerach?policeStation="+ps,
                    columnDefsFacebook,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);

    }
    var columnDefsInstagram = [

        {
            field: "View",
            headerName: "View",
            minWidth:100,
            maxWidth: 100,
            cellRenderer: params => {
                return "<span class='k-icon fab fa-instagram k-color-danger k-icon-md' onclick='onInstaView(\"" + params.data.url + "\")'>";
            },

        },
        {
            field: "url",
            headerName: 'Url',
            minWidth: 800,
            maxWidth: 1200,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.url + " </div>";
            }
        }
        //,
        //{
        //    field: "created_date",
        //    headerName: 'Created Date',
        //    cellRenderer: params => {
        //        return "<div class='text-justify' >" + params.data.created_date + " </div>";
        //    }
        //}


    ];
    function onInstaView(url) {        
        window.open(
            url, "_blank");
    }
    function getInstagramData() {
        document.getElementById("kgrdInstagram").innerHTML = "";
        var ps = $("#PoliceStation").val();
                gridConfig(
                    "kgrdInstagram",
                    "/Cms/BusinessAnalytics/ReadInstagramDataBySerach?policeStation="+ps,
                    columnDefsInstagram,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10);

    }

   
    var columnDefsVDP = [
        {
            field: "VDPData_eventName",
            headerName: 'EventName',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_eventName != null ? params.data.VDPData_eventName : '' + " </div>";
            }
        },
        {
            field: "VDPData_category",
            headerName: 'Category',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_category != null ? params.data.VDPData_category : '' + " </div>";
            }
        },
        {
            field: "VDPData_detConf",
            headerName: 'Det Conf',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_detConf != null ? params.data.VDPData_detConf : '' + " </div>";

            }
        },
        {
            field: "VDPData_deviceName",
            headerName: 'Device Name',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_deviceName != null ? params.data.VDPData_deviceName : '' +" </div>";
            }
        },
        {
            field: "VDPData_deviceId",
            headerName: 'Device Id',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_deviceId != null ? params.data.VDPData_deviceId : '' + " </div>";
            }
        },
        {
            field: "VDPData_deviceIP",
            headerName: 'Device IP',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_deviceIP != null ? params.data.VDPData_deviceIP : '' + " </div>";
            }
        },
        {
            field: "VDPData_fullImgPath",
            headerName: 'Full ImgPath',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_fullImgPath != null ? params.data.VDPData_fullImgPath : '' + " </div>";
            }
        },
        {
            field: "VDPData_plateId",
            headerName: 'Plate Id',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_plateId != null ? params.data.VDPData_plateId : '' + " </div>";
            }
        },
        {
            field: "VDPData_plateImgPath",
            headerName: 'Plate ImgPath',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_plateImgPath != null ? params.data.VDPData_plateImgPath : '' + " </div>";
            }
        },
        {
            field: "VDPData_plateNumber",
            headerName: 'Plate Number',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_plateNumber != null ? params.data.VDPData_plateNumber : '' + " </div>";
            }
        },
        {
            field: "VDPData_violationImgPath",
            headerName: 'Violation ImgPath',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_violationImgPath != null ? params.data.VDPData_violationImgPath : '' + " </div>";
            }
        },
        {
            field: "VDPData_redLightViolated",
            headerName: 'Red Light Violated',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_redLightViolated != null ? params.data.VDPData_redLightViolated : '' + " </div>";
            }
        },
        {
            field: "VDPData_driverImgPath",
            headerName: 'Driver ImgPath',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_driverImgPath != null ? params.data.VDPData_driverImgPath : '' + " </div>";
            }
        },
        {
            field: "VDPData_remark",
            headerName: 'Remark',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_remark != null ? params.data.VDPData_remark : '' + " </div>";
            }
        },
        {
            field: "VDPData_recConf",
            headerName: 'Rec Conf',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_recConf != null ? params.data.VDPData_recConf : '' + " </div>";
            }
        },
        {
            field: "VDPData_receivedTime",
            headerName: 'Received Time',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_receivedTime != null ? params.data.VDPData_receivedTime : '' + " </div>";
            }
        },
        {
            field: "VDPData_vehicleColor",
            headerName: 'Vehicle Color',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_vehicleColor != null ? params.data.VDPData_vehicleColor : '' + " </div>";
            }
        },
        {
            field: "VDPData_categoryDataId",
            headerName: 'Category Data Id',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_categoryDataId != null ? params.data.VDPData_categoryDataId : '' + " </div>";
            }
        },
        {
            field: "VDPData_speed",
            headerName: 'Speed',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_speed != null ? params.data.VDPData_speed : '' + " </div>";
            }
        },
        {
            field: "VDPData_speedViolated",
            headerName: 'Speed Violated',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_speedViolated != null ? params.data.VDPData_speedViolated : '' + " </div>";
            }
        },
        {
            field: "VDPData_categoryData",
            headerName: 'Category Data',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_categoryData != null ? params.data.VDPData_categoryData : '' + " </div>";
            }
        },
        {
            field: "VDPData_vehicleRegistrationType",
            headerName: 'Vehicle Registration Type',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_vehicleRegistrationType != null ? params.data.VDPData_vehicleRegistrationType : '' + " </div>";
            }
        },
        {
            field: "VDPData_vehicleType",
            headerName: 'Vehicle Type',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_vehicleType != null ? params.data.VDPData_vehicleType : '' + " </div>";
            }
        },
        {
            field: "VDPData_vehicleMake",
            headerName: 'Vehicle Make',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_vehicleMake != null ? params.data.VDPData_vehicleMake : '' + " </div>";
            }
        },
        {
            field: "VDPData_plateType",
            headerName: 'Plate Type',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_plateType != null ? params.data.VDPData_plateType : '' + " </div>";
            }
        },
        {
            field: "VDPData_noHelmet",
            headerName: 'No Helmet',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_noHelmet != null ? params.data.VDPData_noHelmet : '' + " </div>";
            }
        },
        {
            field: "VDPData_numberOfRiders",
            headerName: 'Number Of Riders',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_numberOfRiders != null ? params.data.VDPData_numberOfRiders : '' + " </div>";
            }
        },
        {
            field: "VDPData_trippleRiding",
            headerName: 'Tripple Riding',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_trippleRiding != null ? params.data.VDPData_trippleRiding : '' + " </div>";
            }
        },
        {
            field: "VDPData_noSeatBelt",
            headerName: 'No Seat Belt',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_noSeatBelt != null ? params.data.VDPData_noSeatBelt : '' + " </div>";
            }
        },
        {
            field: "VDPData_isDrivingWhileOnTheMobile",
            headerName: 'Is Driving While On The Mobile',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_isDrivingWhileOnTheMobile != null ? params.data.VDPData_isDrivingWhileOnTheMobile : '' + " </div>";
            }
        },
        {
            field: "VDPData_longitude",
            headerName: 'Longitude',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_longitude != null ? params.data.VDPData_longitude : '' + " </div>";
            }
        },
        {
            field: "VDPData_latitude",
            headerName: 'Latitude',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_latitude != null ? params.data.VDPData_latitude : '' + " </div>";
            }
        },
        {
            field: "VDPData_location",
            headerName: 'Location',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_location != null ? params.data.VDPData_location : '' + " </div>";
            }
        },
        {
            field: "VDPData_serialNumber",
            headerName: 'Serial Number',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_serialNumber != null ? params.data.VDPData_serialNumber : '' + " </div>";
            }
        },
        {
            field: "VDPData_districtId",
            headerName: 'District Id',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_districtId != null ? params.data.VDPData_districtId : '' + " </div>";
            }
        },
        {
            field: "VDPData_rTOCircleNumber",
            headerName: 'RTO Circle Number',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_rTOCircleNumber != null ? params.data.VDPData_rTOCircleNumber : '' + " </div>";
            }
        },
        {
            field: "VDPData_districtName",
            headerName: 'District Name',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_districtName != null ? params.data.VDPData_districtName : '' + " </div>";
            }
        },
        {
            field: "VDPData_ipAddress",
            headerName: 'IP Address',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_ipAddress != null ? params.data.VDPData_ipAddress : '' + " </div>";
            }
        },
        {
            field: "VDPData_event_Date",
            headerName: 'Event Date',
            minWidth: 150,
            maxWidth: 300,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.VDPData_event_Date != null ? params.data.VDPData_event_Date : '' + " </div>";
            }
        }
    ];
var gridOptionVDP;
var myVdpinterval;
var time_delay = 2000; 
function OnVdpDisConnect() {    
    $.ajax({
                url: '@Url.Action("VdpDisconnect", "BusinessAnalytics", new { @area="Cms"})',
                    type: 'GET',
                    success: function (result) {
                       
                        if (result.success) {    
                            window.clearInterval(myVdpinterval);
                            myVdpinterval = null;        
                            ShowNotification("Successfully Disconnected", "success");
                        }
                        else {
                            ShowNotification("Something went wrong!", "danger");
                        }
                    },
                    error: function (ert) {

                        ShowNotification("Something went wrong!", "danger");
                    }
                });
}

function OnVdpConnect() {
    var id=$("#vdpDistrict").val();
     $.ajax({
                url: '@Url.Action("VdpEvents", "BusinessAnalytics", new { @area="Cms"})?id='+id,
                    type: 'GET',
                    success: function (result) {
                        if (result.success) {
                            ShowNotification("Connection Establised Successfully", "success");
                            VdpCubjJsData();
                        }
                        else {
                            ShowNotification("Something went wrong!", "danger");
                        }

                    },
                    error: function (ert) {


                    }
                });
}
function UpdateVdpGrid() {    
    if ($("#vdpDistrict").val() == undefined) {
        window.clearInterval(myVdpinterval);
        myVdpinterval = null;
        OnVdpDisConnect();
        return false;
    }
    else {
        OnRefresh();
    }
}

function loadVdpDistrict() {    
   
        $("#vdpDistrict").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: {
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/CMS/BusinessAnalytics/GetVdpDistrictData",
                    }
                }
            },
            value: "@ViewBag.DistrictId",
        });
   
    }
function OnRefresh() {
    var district=$("#vdpDistrict").data("kendoDropDownList").text();
     cubejsApi.load({
            measures: ["VDPData.count"],
            dimensions: ["VDPData.categoryDataId","VDPData.detConf","VDPData.detTime","VDPData.deviceIP",
            "VDPData.deviceId","VDPData.deviceName","VDPData.districtId","VDPData.districtName",
            "VDPData.driverImgPath","VDPData.eventName","VDPData.event_Date","VDPData.fullImgPath",
            "VDPData.id","VDPData.ipAddress","VDPData.isDrivingWhileOnTheMobile","VDPData.latitude",
            "VDPData.longitude","VDPData.noHelmet","VDPData.noSeatBelt","VDPData.numberOfRiders","VDPData.plateId",
            "VDPData.plateImgPath","VDPData.plateNumber","VDPData.rTOCircleNumber","VDPData.recConf",
            "VDPData.receivedTime","VDPData.redLightViolated","VDPData.remark","VDPData.speed","VDPData.speedViolated",
            "VDPData.trippleRiding","VDPData.update","VDPData.vehicleColor","VDPData.vehicleRegistrationType","VDPData.violationImgPath"],
            filters: [{
              "and": [
                {
                  "member": "VDPData.districtName",
                  "operator": "equals",
                  "values": [district]
                }
              ]
            }],
            order: { 'VDPData.event_Date': 'desc' },
            timezone: 'Asia/Calcutta|Asia/Kolkata'
        }).then((resultSet) => {   
            debugger;             
            var datastring = JSON.stringify(resultSet.loadResponse.results[0].data);
            var oldmesName="VDPData.";
            var newmesName="VDPData_";
	        datastring = datastring.replaceAll(oldmesName, newmesName);                
	        var list = JSON.parse(datastring);
            var datalist = [];
            const latestRow =gridOptionVDP.rowData.length > 0 ? gridOptionVDP.rowData[0] : null;
            if (latestRow != null) {
                list.forEach(function(item, index) {
                    if (kendo.parseDate(latestRow.VDPData_event_Date) < kendo.parseDate(item["VDPData_event_Date"])) {
                        datalist.push(item);
                    }
                })
                gridOptionVDP.api.applyTransaction({
                    add: datalist,
                    addIndex: 0,
                  });
            }
            else {
                gridOptionVDP.api.applyTransaction({
                    add: list,
                    addIndex: 0,
                  });
            }
            gridOptionVDP.rowData=list;
        });
}
 
function VdpCubjJsData() {  
     var district=$("#vdpDistrict").data("kendoDropDownList").text();
     cubejsApi.load({
            measures: ["VDPData.count"],
            dimensions: ["VDPData.categoryDataId","VDPData.detConf","VDPData.detTime","VDPData.deviceIP",
            "VDPData.deviceId","VDPData.deviceName","VDPData.districtId","VDPData.districtName",
            "VDPData.driverImgPath","VDPData.eventName","VDPData.event_Date","VDPData.fullImgPath",
            "VDPData.id","VDPData.ipAddress","VDPData.isDrivingWhileOnTheMobile","VDPData.latitude",
            "VDPData.longitude","VDPData.noHelmet","VDPData.noSeatBelt","VDPData.numberOfRiders","VDPData.plateId",
            "VDPData.plateImgPath","VDPData.plateNumber","VDPData.rTOCircleNumber","VDPData.recConf",
            "VDPData.receivedTime","VDPData.redLightViolated","VDPData.remark","VDPData.speed","VDPData.speedViolated",
            "VDPData.trippleRiding","VDPData.update","VDPData.vehicleColor","VDPData.vehicleRegistrationType","VDPData.violationImgPath"],
            filters: [{
              "and": [
                {
                  "member": "VDPData.districtName",
                  "operator": "equals",
                  "values": [district]
                }
              ]
            }],   
            order: { 'VDPData.event_Date': 'desc' },
            timezone: 'Asia/Calcutta|Asia/Kolkata'
        }).then((resultSet) => {   
            debugger;             
            var datastring = JSON.stringify(resultSet.loadResponse.results[0].data);
            var oldmesName="VDPData.";
            var newmesName="VDPData_";
	        datastring = datastring.replaceAll(oldmesName, newmesName);                
	        var dataSource = JSON.parse(datastring); 
            gridOptionVDP = {
                    defaultColDef: {
                        editable: false,
                        sortable: true,
                        resizable: true,
                        filter: true,
                        flex: 1,
                    },
                    columnDefs: columnDefsVDP,
                    rowData: dataSource,
                    pagination: true,
                    paginationPageSize: 10,

                };
	            document.getElementById("VdpReport").innerHTML = "";	            
	            const eGridDiv = document.querySelector("#VdpReport");
	            new agGrid.Grid(eGridDiv, gridOptionVDP);
                if (myVdpinterval ==null || myVdpinterval==undefined) 
                {
                    myVdpinterval = window.setInterval(UpdateVdpGrid, time_delay);
                } 
            
            
        });
   
}
$("#slider-range").slider({
        range: true,
        min: 0,
        max: 1440,
        step: 15,
        values: [600, 840],
        slide: function (e, ui) {
            var hours1 = Math.floor(ui.values[0] / 60);
            var minutes1 = ui.values[0] - (hours1 * 60);
            $('#fromTime').val(ui.values[0]);
            if (hours1.length == 1) hours1 = '0' + hours1;
            if (minutes1.length == 1) minutes1 = '0' + minutes1;
            if (minutes1 == 0) minutes1 = '00';
            if (hours1 >= 12) {
                if (hours1 == 12) {
                    hours1 = hours1;
                    minutes1 = minutes1 + " PM";
                } else {
                    hours1 = hours1 - 12;
                    minutes1 = minutes1 + " PM";
                }
            } else {
                hours1 = hours1;
                minutes1 = minutes1 + " AM";
            }
            if (hours1 == 0) {
                hours1 = 12;
                minutes1 = minutes1;
            }



            $('.slider-time').html(hours1 + ':' + minutes1);

            var hours2 = Math.floor(ui.values[1] / 60);
            var minutes2 = ui.values[1] - (hours2 * 60);
            $('#toTime').val(ui.values[1]);
            if (hours2.length == 1) hours2 = '0' + hours2;
            if (minutes2.length == 1) minutes2 = '0' + minutes2;
            if (minutes2 == 0) minutes2 = '00';
            if (hours2 >= 12) {
                if (hours2 == 12) {
                    hours2 = hours2;
                    minutes2 = minutes2 + " PM";
                } else if (hours2 == 24) {
                    hours2 = 11;
                    minutes2 = "59 PM";
                } else {
                    hours2 = hours2 - 12;
                    minutes2 = minutes2 + " PM";
                }
            } else {
                hours2 = hours2;
                minutes2 = minutes2 + " AM";
            }

            $('.slider-time2').html(hours2 + ':' + minutes2);
        }
    });
    function onTabClick(content) {
            $("#div_social_media").load("/cms/BusinessAnalytics/SocialMedia?content=" + content,
        function () { });
        }
</script>
<script type="text/x-kendo-tmpl" id="template_cctv">
    <div class="footage">
     <div class="card">
        <div class="card-header">
    #=NoteSubject#
        </div>

        <div class="card-block">
            @*<video controls height=230 width=400 style='margin: 5px;margin-left: 35px;' ><source src='#=RtspLink#' type='video/mp4' /></video>*@
            <iframe src="/Cms/BusinessAnalytics/Streaming?rtspLink=#=RtspLink#&id=#=Id#" style="width:100%;height:220px;" ></iframe>
        </div>
    </div>
    </div>
</script>




