@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext
@model FacebookUserViewModel;
@{
    ViewData["Title"] = "User Details";
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/Themes/HR/_Layout.cshtml";
}

<style>
    .listBottom {
        border-bottom: 1px solid #dee2e6;
        padding: 5px 0px;
    }



    p {
        line-height: 1.61em;
        font-weight: 300;
        font-size: 1.2em;
    }



    body {
        /*color: #2c2c2c;*/
        font-size: 14px;
        font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
        overflow-x: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }









    .nav-tabs {
        border: 0;
        padding: 15px 0.7rem;
    }



        .nav-tabs > .nav-item > .nav-link {
            color: #888888;
            margin: 0;
            margin-right: 5px;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 30px;
            font-size: 14px;
            padding: 11px 23px;
            line-height: 1.5;
        }

            .nav-tabs > .nav-item > .nav-link:hover {
                background-color: transparent;
            }

            .nav-tabs > .nav-item > .nav-link.active {
                background-color: #444;
                border-radius: 30px;
                color: #FFFFFF;
            }




    .card {
        border: 0;
        border-radius: 0.1875rem;
        display: inline-block;
        position: relative;
        width: 95%;
        margin-bottom: 30px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    }

        .card .card-header {
            background-color: transparent;
            border-bottom: 0;
            background-color: transparent;
            border-radius: 0;
            padding: 0;
        }
.k-listview-content{
        overflow-y: scroll;
    height: 500px;
}

</style>
<script>
    $(function () {
        getPostsList();
        getFriendsList();
        loadSentimentDonutChart();
        document.getElementsByClassName("k-listview")[0].style.backgroundColor= "unset";
        document.getElementsByClassName("k-listview")[0].style.color= "unset";
        document.getElementsByClassName("k-listview")[1].style.backgroundColor= "unset";
        document.getElementsByClassName("k-listview")[1].style.color= "unset";
    });

    function getPostsList() {

        document.getElementById("postsList").innerHTML = "";

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/BusinessAnalytics/GetFBUserPosts?profileId=@ViewBag.ProfileId",
                    dataType: "json",

                }
            },
        });



        $("#postsList").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#postsTemplate").html()),

            @* selectable: '@ListViewSelectionMode.Single',*@
        });

    }

    function getFriendsList() {

        document.getElementById("friendsList").innerHTML = "";

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/BusinessAnalytics/GetFBFriendsList?profileId=@ViewBag.ProfileId",
                    dataType: "json",

                }
            },
        });



        $("#friendsList").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template2").html()),

            @* selectable: '@ListViewSelectionMode.Single',*@
        });

    }

    function myTrimfn2(str) {
        str = str.substring(0, 50) + " ...";
        return str;
    }

    function myTrimfn(str) {
        str = str.substring(0, 80) + " ...";
        return str;
    }

    function NameFetch(url) {
        /*alert(url);*/
        debugger;
        var x = url.split("/");
        var y = x.slice(-1)[0];
        document.getElementById("Name").innerHTML = "<b>" + y + "</b><br/>";
    }


    function goToUsersList() {
        window.location.reload();
    }
function loadSentimentDonutChart() {
    var param=encodeURIComponent("FACEBOOKUSERID=@ViewBag.ProfileId");
    $.ajax({
            type: "GET",
            url: "/Cms/BusinessAnalytics/GetChartDataByItemNameWithParams?itemName=Facebook Post Sentiment&param="+param,
            success: function (response) {
                if (response != "" && response != null) {
                    eval(response);
                }
            },
            error: function (response) {
                alert("error");
            },
        });
}
function loadFacebookFriendBarChart() {
    var param=encodeURIComponent("FACEBOOKUSERID=@ViewBag.ProfileId");
    $.ajax({
            type: "GET",
            url: "/Cms/BusinessAnalytics/GetCommonFBFriendsList?id=@ViewBag.ProfileId",
            success: function (response) {
                //if (response != "" && response != null) {
                    debugger;
                    var dataSource1 = response;
			        var count=[];
			        var cat=[];
			        dataSource1.forEach((index) => {
				        cat.push(index["FacebookFriend_friend_name"]);
				        count.push(index["FacebookFriend_count"]);
			        });
			
			
			
  
			var options = {
			  chart: {
				type: "bar",
                height:"auto",
                width:"400px",
			  },		  
               theme: {
                     mode: skin=="dark" ? "dark" :"light",
                              
                            },
			  plotOptions: {
			  bar: {
				columnWidth:"20%",
				distributed: true,
			  }
			},
			  series: [
				{
				  name: "facebook_friend_chart",
				  data: count
				}
			  ],
			  xaxis: {
				categories: cat,
                labels:{show:false}
			                  },
                dataLabels:{enabled: false},
                legend:
                {
                show:true,
                position:"bottom",
                fontSize: '10px',
                fontFamily: 'Lato',
                fontWeight: 400,
                },
			  labels: {
				style: {				 
                            fontSize: '10px',
                            fontFamily: 'Lato',
                            fontWeight: 400,
				}
				}
			}
               document.getElementById("facebook_friend_chart").innerHTML = "";
            var barChart = new ApexCharts(document.querySelector("#facebook_friend_chart"),options)
				barChart.render();	
                
            },
            error: function (response) {
                alert("error");
            },
        });
}
function onPostClick() {
    $("#postchart").show();
    $("#friendchart").hide();

}
function onfriendsClick() {
    $("#friendchart").show();
    $("#postchart").hide();
    loadFacebookFriendBarChart();   
}
function imgError(image) {
    image.onerror = "";
    image.src = "/images/nopreview.png";
    return true;
}
</script>

<div class="card shadow" style="margin: 30px;">
    <div class="row" style="border: 1px solid lightblue;margin: 0;">
        @*<div class="col-4" style="display: flex; align-items: center; justify-content: center;">
            <img class="img-fluid" style="width: 60%; height: 90%;" src="@Model.profile_pic_url" alt="user image" />
        </div>*@
        <div class="col-6" style="display: flex; align-items: center;">
            <p class="card-text" style="font-size: 1.61em; width:90%;margin-top: 10px;margin-left:30px;">
                <span style="font-size: 2.5vw;" id="Name">
                    <script>NameFetch("@Model.profile_url")</script>
                </span><br />
                <b>Info :</b>  <span style="width: 80%;">@Model.join_date</span><br />
                @*<b>Joining Date :</b> <span>@Model.join_date <br></span>*@
                <b>Friends :</b> <span>@Model.no_of_friends<br></span>
            </p>

        </div>
        <div class="col-5" id="postchart" style="display: flex; align-items: center;">
            @*<button class="btn btn-outline-primary shadow-sm" onclick="goToUsersList();" style="position: absolute;right: 2px;top: 2px;width:39px;" title="Back"><i class="fa fa-arrow-left"></i></button>*@
            <div id="FacebookPostSentiment"></div>
        </div>
        <div class="col-5" id="friendchart" style="display: none; align-items: center;">
            @*<button class="btn btn-outline-primary shadow-sm" onclick="goToUsersList();" style="position: absolute;right: 2px;top: 2px;width:39px;" title="Back"><i class="fa fa-arrow-left"></i></button>*@
            <div id="facebook_friend_chart" style="width:320px;"></div>
            <h5 style="text-align:center">Common Friends</h5>
        </div>
        <div class="col-1">
            <button class="btn btn-outline-primary shadow-sm" onclick="goToUsersList();" style="position: absolute;right: 2px;top: 2px;width:39px;" title="Back"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>

    <div class="card-header">
        <ul class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#posts" onclick="onPostClick()" role="tab">
                    <i class="now-ui-icons objects_umbrella-13"></i> Posts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#friends" onclick="onfriendsClick()" role="tab">
                    <i class="fa-solid fa-user-group"></i> Friends
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content text-center">

            <div class="tab-pane active" id="posts" role="tabpanel">
                <p>
                    <div id="postsList" style="margin-top: 5px; width: 100%; height: 80% !important; overflow-y: auto; overflow-x: hidden; border-left: none; border-right: none;"></div>

                    <script type="text/x-kendo-tmpl" id="postsTemplate">

    <div style="width:95%" class="listBottom">
        <div>
                <div class="row" style="padding-left:15px;">


                    <div class="col-12" style="padding-left:0px;">
                        <span style="font-size: 1vw; padding:5px;">
                            <b>Title</b> : #:data.post_title#
                        </span>
                    </div>
                    <div class="col-12" style="padding-left:0px;">
                        <span  style="padding:5px;font-size:1vw;">
                           <b>Message</b> : #:data.post_msg#
                        </span>
                    </div>
                    <div class="col-12" style="padding-left:0px;">
                        <span  style="padding:5px;font-size:1vw;">
                           <b>Status</b> : #:data.post_status#
                        </span>
                    </div>
                    <div class="col-12" style="padding-left:0px;">
                        <span  style="padding:5px;font-size:1vw;">
                            <b><i class="fa-solid fa-thumbs-up"></i></b> : #:data.post_likes#
                        </span>&nbsp;&nbsp;
                        <span  style="padding:5px;font-size:12px;">
                            <b><i class="fa-solid fa-comment"></i></b> : #:data.no_of_comment#
                        </span>&nbsp;&nbsp;
                        <span  style="padding:5px;font-size:12px;">
                            <b><i class="fas fa-share"></i></b> : #:data.no_of_share#
                        </span>
                        #if(compound < 0){#
        <span style="margin-left: 10px;" title="Negative">
            <svg height="20" width="20">
  <circle cx="12" cy="12" r="8" stroke-width="3" fill="red" />  
</svg> 
</span>
            #}else if(compound > 0){#
                <span style="margin-left: 10px;" title="Positive">
                <svg height="20" width="20">
  <circle cx="12" cy="12" r="8" stroke-width="3" fill="green" />  
</svg> 
</span>
                #}else{#
                    <span style="margin-left: 10px;" title="Neutral">
                    <svg height="20" width="20">
  <circle cx="12" cy="12" r="8" stroke-width="3" fill="blue" />  
</svg> 
</span>
                    #}#
                    </div>

                </div>
        </div>
    </div>

                    </script>

                </p>
            </div>

            <div class="tab-pane" id="friends" role="tabpanel">
                <div id="friendsList" style="margin-top: 5px; width: 100%; height: 80% !important; overflow-y: auto; overflow-x: hidden; border-left: none; border-right: none;"></div>


                <script type="text/x-kendo-tmpl" id="template2">
                    <div style="width:95%; padding: 5px 70px;" class="listBottom">
                        <div>
                                <div class="row" style="display: flex; align-items: center; justify-content: center;">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <img width="100" height="80" style="margin-top:8px;" class="img-fluid" src="#:data.friend_profile_pic_url#" onerror="imgError(this);" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="col-12" style="padding-left:0px;">
                                        <span style="font-size: 1vw; padding:5px;">
                                            <b>Name</b> : #:data.friend_name# &nbsp;&nbsp; <span data-toggle="tooltip" data-placement="bottom" title="#:data.friend_profile_url#" ><a href="#:data.friend_profile_url#" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></span>
                                        </span>
                                    </div>
                                    <div class="col-12" style="padding-left:0px;">
                                        <span  style="padding:5px;font-size:1vw;">
                                            @*<b>Description</b> : #:data.description#*@
                                           <b>Info</b> : #if(data.friend_detail.length > 100) {# <span data-toggle="tooltip" data-placement="bottom" title="#:data.friend_detail#">#= myTrimfn(data.friend_detail)#</span> #} else {# #:data.friend_detail# #}#
                                        </span>
                                    </div>

                                    </div>
                                </div>
                        </div>
                    </div>

                </script>
            </div>

            
        </div>

    </div>
</div>