@{
    ViewData["Title"] = "Dashboard";    
    Layout = ViewBag.Layout;    
}
@inject IStringLocalizer<Synergy.App.WebUtility.Resources.Areas.Cms.Controllers.BusinessAnalyticsController> Resource

@using Synergy.App.ViewModel;
@using Synergy.App.Common;

<style>
    .col-sm-2 {
        max-width: 25%;
        margin-left: -25px;
    }

    .panel-default {
        /*width: 330px;*/
        width: 290px;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 1.6rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    /*.has-search .form-control {*/
        /*padding-left: 30px;*/
        /*width: 250px;
    }*/

    em {
        background-color: yellow;
    }

    .count_class {
        font-size: 18px;
        color: #2c2a2ad6;
        font-weight: bolder;
    }

    #kgrdNewsFeed img {
       /* width: 100%;*/
       width:80px;
       height:50px;
    }

    .card {
        margin-bottom: 10px;
        border-radius: 15px !important;
    }

    .card-block {
        padding: 10px;
    }

    .card h5 {
        /*color: #007bff;*/
        color: black;
        font-weight: 400;
        font-size: 16px;
    }

    .c-count {
        margin-top: -32px;
        font-size: 15px;
        font-weight: 400;
        color: black;
        background: lightgrey;
        border-radius: 25%;
        padding: 5px;
    }

    .c-head {
        margin-right: 10px;
    }

    .btn-primary {
        background-color: #006bb4;
        border-color: #006bb4;
        color: #fff;
        position: relative;
        top: 0;
        transition: top ease 0.3s;
        width:100%;
    }

        .btn-primary:hover {
            background-color: #0060a2;
            top: -2px;
        }

            .btn-primary:hover .button-text {
                text-decoration: underline;
            }

    .button-text {
        margin-left: 5px;
        font-size: 14px;
    }

    #fuzzyS .col-1, .col-2, .col-3,.col-4 {
        padding-left: 2px;
        padding-right: 2px;
    }
    #advanceS .col-1, .col-2, .col-3, .col-4 {
        padding-left: 2px;
        padding-right: 2px;
    }

    .filter-box {
        border: 1px solid #9bc2e6;
        border-radius: 15px;
        background: rgba(0,0,0,.03);
        padding: 0px 10px;
        margin-bottom: 10px;
    }
    #integratedsearch.nav-pills {
        width: 450px;
    }

    #integratedsearch.nav-item {
        width: 50%;
    }
    .nav-pills .nav-link {
        font-weight: 400;
        padding-top: 15px;
        text-align: center;
        background: #343436;
        color: #fff;
        border-radius: 15px;
        height: 70px;
        font-size:17px;
    }

        .nav-pills .nav-link.active {
            background: #343436;
            color: #fff;
        }
    .tab-content {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: -20px;
        background: #fff;
        color: #000;
        border-radius: 15px;
        z-index: 1000;        
        padding: 10px;        
    }       
    body {
        background-color: #dee2e6;
    }
</style>
<script>
    $(document).ready(function () {

        $("#startDate").kendoDatePicker();
        $("#endDate").kendoDatePicker();
        $("#SearchType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: "Fuzzy",
           // change: formType,
            dataSource: [
                { Name: "Fuzzy", Id: "Fuzzy" },
                { Name: "Plain", Id: "Plain" }
            ],
        });
        $("#Operator").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: "or",
            // change: formType,
            dataSource: [
                { Name: "OR", Id: "or" },
                { Name: "AND", Id: "and" }

            ],
        });
        $("#DateFilterType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            //filter: "contains",
            value: "AllTime",
            change: onDateFilterchange,
            dataSource: {
                //serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=SocialMediaDatefilters",
                    }
                }
            }
        });
        $("#location").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "Select Location",
            change: OnLocationSelection,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/cms/BusinessAnalytics/GetAllLocations",
                    }
                }
            }
        });
        loadTrackKeywordDll();
        //listview_Twitter
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/BusinessAnalytics/ReadTwitterData",
                    data: Filter,
                    dataType: "json",
                }
            },
        });

        $("#listview_Twitter").kendoListView({
            dataSource: dataSource,
            //dataBound: OnDataBoundTwitter,
            dataBound: function(e) {
                const elem = document.querySelectorAll('#listview_Twitter h3');
                elem.forEach(e => e.remove());
                if(this.dataSource.data().length == 0){
                    //custom logic 
                    $("#listview_Twitter").append("<h3 style='text-align: center'>No Data Found</h3>");
                }
            },
            template: kendo.template($("#templateTwitter").html())
        });

        //facebook
        var datasourcef = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/BusinessAnalytics/ReadFacebookData",
                    data: Filter,
                    datatype: "json",
                }
            },
        });

        $("#listview_Facebook").kendoListView({
            dataSource: datasourcef,
            //databound: ondataboundfacebook,
            dataBound: function(e) {
        if(this.dataSource.data().length == 0){
            //custom logic                     
            const elem = document.querySelectorAll('#listview_Facebook h3');
  elem.forEach(e => e.remove());
            $("#listview_Facebook").append("<h3 style='text-align: center'>No Data Found</h3>");
        }
    },
            template: kendo.template($("#templateFacebook").html())
        });

        //instagram
        var dataSourcei = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/BusinessAnalytics/ReadInstagramData",
                    data: Filter,
                    dataType: "json",
                }
            },
        });

        $("#listview_Instagram").kendoListView({
            dataSource: dataSourcei,
            dataBound: OnDataBoundInstagram,            
            template: kendo.template($("#templateInstagram").html())
        });

        //listview_Youtube
        var dataSourcey = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/BusinessAnalytics/ReadYoutubeData",
                    data: Filter,
                    dataType: "json",
                }
            },
        });

        $("#listview_Youtube").kendoListView({
            dataSource: dataSourcey,
            //dataBound: OnDataBoundYoutube,
            template: kendo.template($("#templateYoutube").html())
        });

        ////listview_WhatsApp
        //var dataSourcew = new kendo.data.DataSource({
        //    transport: {
        //        read: {
        //            url: "/Cms/BusinessAnalytics/ReadWhatsAppData",
        //            data: Filter,
        //            dataType: "json",
        //        }
        //    },
        //});

        //$("#listview_WhatsApp").kendoListView({
        //    dataSource: dataSourcew,
        //    dataBound: OnDataBoundWhatsapp,
        //    template: kendo.template($("#templateWhatsApp").html())
        //});
    });

    //var  isAdvance = false;
    function Filter() {
        var search = {
            searchStr: /*$("#Operator").val() == "or" ?*/ ('@ViewBag.KeyWord' != 'null' && '@ViewBag.KeyWord' != '') ? '@Html.Raw(ViewBag.KeyWord)' : selectedtrackKeyword + " " + selectedLcoation + " " +$("#mysearch").val() /*: selectedLcoation + " " +$("#mysearchAdv").val()*/,
            isAdvance: ('@ViewBag.KeyWord' != 'null' && '@ViewBag.KeyWord' != '') ? ('@ViewBag.IsAdvance'=='False' ? false : true) : $("#Operator").val() == "or" ? false : true,
            plainSearch: ('@ViewBag.KeyWord' != 'null' && '@ViewBag.KeyWord' != '') ? ('@ViewBag.PlainSearch' == 'False' ? false : true) : $("#SearchType").val() == "Plain" ? true : false,
            dateFilterType: ('@ViewBag.KeyWord' != 'null' && '@ViewBag.KeyWord' != '') ? '@ViewBag.DateFilterType' : $("#DateFilterType").val(),
            startDate:('@ViewBag.KeyWord' != 'null' && '@ViewBag.KeyWord' != '') ? '@ViewBag.StartDate' : $("#startDate").val(),
            endDate:('@ViewBag.KeyWord' != 'null' && '@ViewBag.KeyWord' != '') ? '@ViewBag.EndDate' : $("#endDate").val()
        };
        return search;
    }
    function minString(value) {
        if (value != null) {
            return value.length > 20 ?
                value.substring(0, 20) + "..." :
                value;
        } else {
            return "";
        }
    }
    function OnSearch() {
        $("#listview_Twitter").data("kendoListView").dataSource.read();
        $("#listview_Instagram").data("kendoListView").dataSource.read();
        $("#listview_Youtube").data("kendoListView").dataSource.read();
        $("#listview_Facebook").data("kendoListView").dataSource.read();
        //$("#listview_WhatsApp").data("kendoListView").dataSource.read();

        getdial100Data();
        loadCCTNSGrid();
        getCCTV1Data();
        getNewsfeedData();
    }

    function AddHighlight() {
        var params = Filter();
        @*var url = '@Url.Action("ManageSocialMediaHighlight", "BusinessAnalytics", new { @area="Cms"})?keyword=' + params.searchStr.trim() + '&isAdvance=' + params.isAdvance + '&plainSearch=' + params.plainSearch + '&dateFilterType=' + params.dateFilterType + '&startDate=' + params.startDate + '&endDate=' + params.endDate;
        url = url.replaceAll(" ", "^");
        console.log(url);*@
        //var text = $("#mysearchAdv").val();
        $.ajax({
            url: '@Url.Action("ManageSocialMediaHighlight", "BusinessAnalytics", new { @area="Cms"})?keyword=' + params.searchStr.trim() + '&isAdvance=' + params.isAdvance + '&plainSearch=' + params.plainSearch + '&dateFilterType=' + params.dateFilterType + '&startDate=' + params.startDate + '&endDate=' + params.endDate,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {

                    if (result.success) {

                        kendo.alert("Keyword Added to Watchlist");
                    }
                    else {
                        kendo.alert(result.error);
                    }
                },
                error: function (ert) {


                }
            });

    }

    //function OnSearchAdv() {
    //    //$("#listview_Twitter").data("kendoListView").dataSource.read();
    //    //$("#listview_Facebook").data("kendoListView").dataSource.read();
    //    //$("#listview_Instagram").data("kendoListView").dataSource.read();
    //    //$("#listview_Youtube").data("kendoListView").dataSource.read();
    //    //$("#listview_WhatsApp").data("kendoListView").dataSource.read();

    //    getdial100Data();
    //    loadCCTNSGrid();
    //    getCCTV1Data();
    //    getNewsfeedData();

    //}
    //function OnAdvanceSearch() {
    //    isAdvance = true;
    //    document.getElementById("advanceS").style.display = "";
    //    document.getElementById("fuzzyS").style.display = "none";
    //    //$("#listview_Twitter").data("kendoListView").dataSource.read();
    //    //$("#listview_Facebook").data("kendoListView").dataSource.read();
    //    //$("#listview_Instagram").data("kendoListView").dataSource.read();
    //    //$("#listview_Youtube").data("kendoListView").dataSource.read();
    //    //$("#listview_WhatsApp").data("kendoListView").dataSource.read();

    //    getdial100Data();
    //    loadCCTNSGrid();
    //    getCCTV1Data();
    //    getNewsfeedData();

    //}
    //function OnDataBoundTwitter(args) {

    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#twitter_count").html(count);

    //}
    //function OnDataBoundFacebook(args) {
    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#facebook_count").html(count);

    //}
    function OnDataBoundInstagram(args) {
        //var count = "0";
        //if (args.items.length > 0) {
        //    count = args.items[0].count;
        //}
        //$("#instagram_count").html(count);
        if(args.items.length == 0){
            //custom logic                     
            const elem = document.querySelectorAll('#listview_Instagram h3');
            elem.forEach(e => e.remove());
            $("#listview_Instagram").append("<h3 style='text-align: center'>No Data Found</h3>");
        }
    }
    //function OnDataBoundYoutube(args) {
    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#youtube_count").html(count);

    //}
    //function OnDataBoundWhatsapp(args) {
    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#whatsapp_count").html(count);

    //}
    //function OnDataBoundTwitter_Adv(args) {

    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#twitter_count_Adv").html(count);

    //}
    //function OnDataBoundFacebook_Adv(args) {
    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#facebook_count_Adv").html(count);

    //}
    //function OnDataBoundInstagram_Adv(args) {
    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#instagram_count_Adv").html(count);

    //}
    //function OnDataBoundYoutube_Adv(args) {
    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#youtube_count_Adv").html(count);

    //}
    //function OnDataBoundWhatsapp_Adv(args) {
    //    var count = "0";
    //    if (args.items.length > 0) {
    //        count = args.items[0].count;
    //    }
    //    $("#whatsapp_count_Adv").html(count);

    //}







    //function OnFuzzySearch() {
    //    isAdvance = false;
    //    document.getElementById("fuzzyS").style.display = "";
    //    document.getElementById("advanceS").style.display = "none";
    //    //$("#listview_Twitter").data("kendoListView").dataSource.read();
    //    //$("#listview_Facebook").data("kendoListView").dataSource.read();
    //    //$("#listview_Instagram").data("kendoListView").dataSource.read();
    //    //$("#listview_Youtube").data("kendoListView").dataSource.read();
    //    //$("#listview_WhatsApp").data("kendoListView").dataSource.read();
    //    getdial100Data();

    //    getCCTV1Data();

    //    getNewsfeedData();

    //}

    function onMonitorView(title) {
        //var title = obj.split(",")[0];
        var obj = "abcd";
        var url = "/cms/businessAnalytics/CCTVMonitorView?data=" + obj;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: title, Width: 1000, Height: 600 });
        return false;
    }
    var selectedLcoation = "";
    function OnLocationSelection() {
        selectedLcoation = $("#location").data("kendoDropDownList").value();
    }
    var selectedtrackKeyword = "";
    function ontrackMaster() {
        selectedtrackKeyword = $("#trackMaster").data("kendoDropDownTree").value().join(" ");
    }
    function onDropDownTreeSelect(e) {
        var dataitem = e.sender.dataItem(e.node);
        console.log(dataitem);
        if (dataitem.hasChildren) {
            e.preventDefault();
        }
    }
    function Onback(e) {
        var location = "@ViewBag.RuturnPageName";
        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?pageName=' + location+'&portalId=' + portalId;
        LoadCmsPartialView(url, 'Custom');
    }

    function OnAddIncident() {
        var portalId = $('#GlobalPortalId').val();
        var keywords = "@ViewBag.KeyWord";
        keywords = keywords.replaceAll(" ", "%20");
        url = '/Cms/Page?popup=true&lo=Popup&source=Create&dataAction=Create&templateCodes=INCIDENT&portalId=' + portalId +'&keywords='+keywords;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Incident Task', Width: 1200, Height: 600 });
        return false;
    }
    function onCameraView(rtsplink, id) {
        debugger;
        var _encodeUrl = encodeURI(rtsplink)
        _encodeUrl = _encodeUrl.replaceAll("&", "^");
        var url = '/Cms/BusinessAnalytics/Streaming?rtspLink=' + _encodeUrl+'&id='+id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'CCTV Camera', Width: 1200, Height: 600 });
        return false;
    }
    function onView() {
        url = '/Cms/BusinessAnalytics/DewasCCTVCamera';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Dewas CCTV Map', Width: 1200, Height: 600 });
        return false;
    }

    $("#divStart").hide();
    $("#divEnd").hide();
    function onDateFilterchange() {
        var filter = $("#DateFilterType").data("kendoDropDownList").value();
        if (filter == "Custom") {
            $("#divStart").show();
            $("#divEnd").show();
        } else {
            $("#divStart").hide();
            $("#divEnd").hide();
        }
    }
    function loadTrackKeywordDll() { 

            datasourceTrack = new kendo.data.HierarchicalDataSource({
            //serverFiltering:true,
            transport: {
                read: {
                    url: "/cms/BusinessAnalytics/ReadTrackWithKeywords",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "id",
                    hasChildren: "hasChildren"
                }
            }
        });
        $("#trackMaster").kendoDropDownTree({
            placeholder: "Select Track",
            dataSource: datasourceTrack,
            height: "150px",
            dataTextField: "Name",
            checkboxes: true,
            autoClose: false,
            dataValueField: "Name",
            change: ontrackMaster,
            select: onDropDownTreeSelect,

            @*value: "@Model.MenuGroupId"*@
        });
    }
</script>

@if (ViewBag.KeyWord == null || ViewBag.KeyWord == "")
{   
    <ul id="integratedsearch" class="nav nav-pills" role="tablist" style="margin-top:5px;">
        <li class="nav-item"><a data-toggle="tab" href="#fuzzy" @*onclick="OnFuzzySearch()"*@ class="nav-link" role="tab" aria-controls="fuzzy" aria-selected="true">@Resource["IntegratedDashboard"]</a></li>

        @*<li class="nav-item"><a data-toggle="tab" href="#advance" onclick="OnAdvanceSearch()" class="nav-link" aria-controls="advance" aria-selected="false">Advanced Search</a></li>*@
    </ul>
}
else
{
    var heading = ViewBag.Track ?? "Keywords";
    <div class="col-1">
        <h6>@heading</h6>
        <hr />
    </div>
    <div class="pull-right">
        @if (ViewBag.ShowIncident == true)
        {
            <button class="btn btn-primary" type="button" onclick="OnAddIncident()">
                Add Incident
            </button>
        }
        @if (ViewBag.HideBack != true)
        {
            <button class="btn btn-primary" type="button" onclick="Onback()">
                Back
            </button>
        }
    </div>
    string words = ViewBag.KeyWord;
    var wordsArray = words.Split(' ');
    foreach (var word in wordsArray)
    {

        <span style=" background: gray; color: white; border-radius: 20%; padding: 5px; margin-left:12px;">@word</span>

    }
    <br />
    <br />
    <br />
}
<div class="tab-content">
    @if (ViewBag.KeyWord == null || ViewBag.KeyWord == "")
    {
        <div id="fuzzy" class="tab-pane in active filter-box" role="tabpanel" aria-labelledby="design-tab">
            <div class="row  pad-10 no-gutters" style="text-align: center;">
                <div id="fuzzyS" class="col form-group has-search">
                    <div class="" style="margin-top:1%" role="group">
                        <div class="row form-group">
                            <div class="col-1">
                                <input id="SearchType" style="width: 100%" />
                            </div>
                            <div class="col-1">
                                <input id="Operator" style="width: 100%" />
                            </div>
                            <div class="col-3">
                                <input id="location" style="width:100%" />
                            </div>
                            <div class="col-4">
                                @*@(Html.Kendo().DropDownTree()
                .Name("trackMaster")
                .Placeholder("Crime Track")
                 .Checkboxes(e => e.CheckChildren(true)
             .Template("# if (item.level() > 0) { #" +
            "<input type='checkbox' #= item.checked ? 'checked' : '' #>" +
        "# } #")
             )
                .HtmlAttributes(new { style = "width: 100%" })
                .DataTextField("Name")
                .DataValueField("Name")
                .Events(x=>x.Change("ontrackMaster").Select("onDropDownTreeSelect"))
                .DataSource(dataSource => dataSource
                    .Read(read => read
                        .Action("ReadTrackWithKeywords", "BusinessAnalytics")
                    )
                )
            )*@
                                <input id="trackMaster" style="width: 100%" />
                                <!-- Template -->
                                <script id="dropdowntree-template" type="text/kendo-ui-template">
                                    #: item.Name #
                                </script>

                                <!-- Template -->
                                <script id="dropdowntree-value-template" type="text/kendo-ui-template">
                                    <span> #: data.Name # </span>
                                </script>
                            </div>
                            <div class="col-3">
                                <input id="mysearch" type="text" class="form-control" placeholder="Search Keyword">
                            </div>

                        </div>
                        <div class="row">
                            
                            <div class="col-2">
                                <input id="DateFilterType" style="width: 100%" />
                            </div>
                            <div class="col-2" id="divStart">
                                <input id="startDate" style="width: 100%" />
                            </div>
                            <div class="col-2" id="divEnd">
                                <input id="endDate" style="width: 100%" />
                            </div>
                            <div class="col-3">
                                <button type='button' class='btn btn-primary shadow-sm' onclick='AddHighlight()'>
                                    <span class="button-body">
                                        <span class="fa fa-eye"></span>
                                        <span class="button-text">Save Query/Keyword To Watchlist</span>
                                    </span>
                                </button>
                            </div>
                            <div class="col-2">
                                <button type='button' class='btn btn-primary shadow-sm' onclick='OnSearch()'>
                                    <span class="button-body">
                                        <span class="fa fa-search"></span>
                                        <span class="button-text">Search</span>
                                    </span>
                                </button>
                            </div>
                        </div>                       
                    </div>
                </div>

                <div id="advanceS" style="display:none" class="col form-group has-search">                   
                    @*<div class="" style="margin-top:1%" role="group">
                        <div class="row">
                            <div class="col-3">
                                <input id="location" style="width:100%" />
                            </div>
                            <div class="col-3">
                                <input id="mysearchAdv" type="text" class="form-control" placeholder="Type here to search">
                            </div>                           
                            <div class="col-2">
                                <button type='button' class='btn btn-primary shadow-sm' onclick='AddHighlight()'>
                                    <span class="button-body">
                                        <span class="fa fa-eye"></span>
                                        <span class="button-text">Add Keyword To Watchlist</span>
                                    </span>
                                </button>
                            </div>
                            <div class="col-1">
                                <button type='button' class='btn btn-primary shadow-sm' onclick='OnSearchAdv()'>
                                    <span class="button-body">
                                        <span class="fa fa-search"></span>
                                        <span class="button-text">Search</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>*@
                </div>


              

            </div>
        </div>
    }



<div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h5 class="mb-0"><span class="fal fa-mobile c-head"></span> Dial 100</h5>
                @*<span class="pull-right c-count">1000</span>*@
            </a>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <div id="kgrddial100"></div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingCctns">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCctn" aria-expanded="false" aria-controls="collapseCctn">
                <h5 class="mb-0"><span class="fal fa-mobile c-head"></span> CCTNS</h5>
            </a>
        </div>
        <div id="collapseCctn" class="collapse" role="tabpanel" aria-labelledby="headingCctn">
            <div class="card-block">
               @* @foreach (var api in ViewBag.ApiList)
                {
                    <div id="DivQueryList_@api.Id">

                    </div>
                    <script>
                        var params = Filter();
                        var url = "/cms/BusinessAnalytics/CctnsGridViewWithSearch?indexName=@api.NoteSubject&filterColumn=@api.FilterColumn&gridName=KgrdDial_@api.Id&searchStr=" + params.searchStr.trim() + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate;
                            $("#DivQueryList_@api.Id").load(url,
                            function () { });
                    </script>

                }*@
                 <div id="DivQueryList_Cctns">

                    </div>
                    <script>
                        var params = Filter();
                        var url = "/cms/BusinessAnalytics/CctnsGridViewWithSearch?indexName=cctns_common&filterColumn=reportDate&gridName=KgrdDial_Cctns&searchStr=" + params.searchStr.trim() + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate;
                            $("#DivQueryList_Cctns").load(url,
                            function () { });
                    </script>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h5 class="mb-0"><span class="fa fa-instagram c-head"></span> Social Media</h5>
                @*<span class="pull-right c-count">500</span>*@
            </a>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
                <div>
                    <div class="row form-group" style=" /*padding-left: 35px;*/padding-left: 10px;">
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <span class="k-icon k-i-twitter-box k-color-primary k-icon-md"></span><br />
                                    <span>Twitter</span><br />
                                    <span id="twitter_count" class="count_class"></span>
                                </div>
                                <div class="panel-body">
                                    <div id="listview_Twitter" style="overflow-y:scroll;height:500px;"></div>
                                </div>
                            </div>


                        </div>
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <span class="k-icon k-i-facebook-box k-color-primary k-icon-md"></span><br />
                                    <span>Facebook</span><br />
                                    <span id="facebook_count" class="count_class"></span>
                                </div>
                                <div class="panel-body">
                                    <div id="listview_Facebook" style="overflow-y:scroll;height:500px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <span class="k-icon fab fa-instagram k-color-danger k-icon-md"></span><br />
                                    Instagram<br />
                                    <span id="instagram_count" class="count_class"></span>
                                </div>
                                <div class="panel-body">


                                    <div id="listview_Instagram" style="overflow-y:scroll;height:500px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <span class="k-icon k-i-youtube-box k-color-danger k-icon-md"></span><br />
                                    Youtube<br />
                                    <span id="youtube_count" class="count_class"></span>
                                </div>
                                <div class="panel-body">


                                    <div id="listview_Youtube" style="overflow-y:scroll;height:500px;"></div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <span class="k-icon fab fa-whatsapp k-color-success k-icon-md"></span><br />
                                    WhatsApp<br />
                                    <span id="whatsapp_count" class="count_class"></span>
                                </div>
                                <div class="panel-body">


                                    <div id="listview_WhatsApp" style="overflow-y:scroll;height:500px;"></div>
                                </div>
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h5 class="mb-0"><span class="fal fa-rss-square c-head"></span> News Feed</h5>
            </a>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
                <div style="overflow-x: scroll; width: 100%;">
                    <div style="margin-left:50%;margin-bottom:5px"></div>
                    <div id="kgrdNewsFeed" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFour">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h5 class="mb-0"><span class="fal fa-cctv c-head"></span>  CCTV</h5>
            </a>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block">
               @* <div style="overflow-x: scroll; width: 100%;">*@
                    @*<div style="margin-left:50%;margin-bottom:5px"><b> DEWAS</b></div>
                    <br />*@

                    <div id="kgrdCCTV1" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
               @* </div>*@
            </div>
        </div>
    </div>
</div>

   


</div>






<script type="text/x-kendo-tmpl" id="templateTwitter">
    <div style="padding:2px">        
        @*<span class='e-list-item-header text-wrap' ><b>#if(hashtags != null && hashtags != ""){# #=hashtags# #} else{# No Tag #}# </b></span>*@
        <div class="text-justify" >#=text# </div>
        <div id='list-logo'>
            <b>#=source#</b>
        </div>
        <div id='list-logo'>
    #if(id != null && id != ""){#
            <a href="https://twitter.com/web/status/#=id#" target="_blank">https://twitter.com/web/status/#=id#</a>
            #}#

        </div>
    <span>#=created_at#</span>
    #if(compound < 0){#
        <span style="margin-left: 110px;" title="Negative">
            <svg height="30" width="30">
  <circle cx="16" cy="16" r="12" stroke-width="3" fill="red" />  
</svg> 
</span>
            #}else if(compound > 0){#
                <span style="margin-left: 110px;" title="Positive">
                <svg height="30" width="30">
  <circle cx="16" cy="16" r="12" stroke-width="3" fill="green" />  
</svg> 
</span>
                #}else{#
                    <span style="margin-left: 110px;" title="Neutral">
                    <svg height="30" width="30">
  <circle cx="16" cy="16" r="12" stroke-width="3" fill="blue" />  
</svg> 
</span>
                    #}#
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateFacebook">   
    <div style="padding:2px">
        
    <span class='e-list-item-header text-wrap'><b>#=uploaded_by#</b></span>
    
     #if(post_url !=null && post_url !=""){#
    <div class="text-wrap" ><a href="#=post_url#" target="_blank">#=post_msg#</a></div>
        #}else{#
    <div class="text-wrap" >#=post_msg# </div>
    #}#
     <span>#=post_date#</span>
        @*<div id='list-logo'>
            <a href="#=page_url#" target="_blank"><i class="fa fa-file" title="Go to page"></i></a>&nbsp;&nbsp
            <a><i class="fa fa-clipboard" title="Go to post"></i></a>
        </div>*@
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateInstagram">
    <div style="padding:2px">
        @*<img class='e-avatar' src='/images/galfar.jpg' />*@
        @*<span class='e-list-item-header text-wrap' ><b>#if(hashtags != null && hashtags != ""){# #=hashtags# #} else{# #}# </b></span>*@
        @*<div class="text-justify" >#=caption# </div>*@
        <div id='list-logo'>
            <a href="#=url#" target="_blank">#=url#</a>
        </div>
     @*<span>#=age#</span>*@
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateYoutube">
    <div style="padding:2px">
        @*<img class='e-avatar' src='/images/galfar.jpg' />*@
        <span class='e-list-item-header text-wrap'><b>#=title# </b></span>
        <div class="text-wrap" >#=description# </div>
        <div id='list-logo'>
            #if(Id != null && Id != ""){#
    <a href="https://www.youtube.com/watch?v=#=Id#" target="_blank">https://www.youtube.com/watch?v=#=Id#</a>
            #}#

        </div>
     <span>#=publishTime#</span>
    </div>
    <hr/>
</script>
<script type="text/x-kendo-tmpl" id="templateWhatsApp">
    <div style="padding:2px">
        @*<img class='e-avatar' src='/images/galfar.jpg' />*@
        <span class='e-list-item-header text-wrap'><b>#=user# </b></span>
        <div class="text-wrap">#=messages# </div>
    </div>
            <hr />
</script>








<script>

$(document).ready(function () {

    getdial100Data();
    //loadCCTNSGrid();
    getNewsfeedData();
    getCCTV1Data();


});

function getdial100Data() {
    var params = Filter();
    var url = "/cms/BusinessAnalytics/DynamicGridviewIIPWithSearch?indexName=dail100&gridName=kgrddial1000&searchStr=" + params.searchStr.trim() + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate;
    url = url.replaceAll(" ", "^");
    $("#kgrddial100").load(url,
    function () { });
}


var columnDefs2 = [

        {
        field: "View",
        headerName: "View",
         minWidth: 100, 
                    maxWidth: 100,
        cellRenderer: params => {
            return "<span class='fas fa-eye' onclick='onRssFeedView(\"" + params.data.link +"\")'></span>";
        }
    },
    {
        field: "name",
        headerName: '@Resource["Name"]',
         minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.name != null) {
                                return "<div class='text-justify' >" + params.data.name+" </div>";

                }
                else {
                    return "";
                }
        }
    },
    {
        field: "title",
        headerName: '@Resource["Title"]',
         minWidth: 300, 
                    maxWidth: 400,
        cellRenderer: params => {
            if (params.data.title != null) {
                                return "<div class='text-justify' >" + params.data.title+" </div>";

                }
                else {
                    return "";
                }
        }

    },
    {
        field: "message",
            headerName: '@Resource["Message"]',
             minWidth: 300, 
                    maxWidth: 400,
        cellRenderer: params => {
            if (params.data.message != null) {
                                return "<div class='text-justify' >" + params.data.message+" </div>";

                }
                else {
                    return "";
                }
        }
    },

        {
            field: "author",
            headerName: '@Resource["Author"]',
             minWidth: 200, 
                    maxWidth: 300,
            cellRenderer: params => {
                if (params.data.author != null) {
                    return "<div class='text-justify' >" + params.data.author + " </div>";
                }
                else {
                    return "";
                }
        }
    },

    {
        field: "published",
            headerName: '@Resource["Published"]',
             minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.published != null) {
                                return "<div class='text-justify' >" + params.data.published+" </div>";

                }
                else {
                    return "";
                }
        }
    },


];

function onRssFeedView(url) {
    window.open(
        url, "_blank");
}



function getNewsfeedData() {
    document.getElementById("kgrdNewsFeed").innerHTML = "";
    var params = Filter();
    gridConfig(
        "kgrdNewsFeed",
        "/Cms/BusinessAnalytics/ReadTimesOfIndiaNewsFeed?searchStr=" + params.searchStr.trim() + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate,
        columnDefs2,
        false,
        true,
        true,
        true,
        1,
        true,
        10);
}

var columnDefs3 = [
        {
            field: "View",
            headerName: "View",
             minWidth: 100, 
                    maxWidth: 100,
            cellRenderer: params => {
                return "<span class='fas fa-eye'  onclick='onCameraView(\"" + params.data.RtspLink + "\",\"" + params.data.Id +"\")'></span>";
            }
        },
    {
        field: "CameraName",
        headerName: '@Resource["CameraName"]',
         minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.CameraName != null) {
                    return "<div class='text-justify' >" + params.data.CameraName+" </div>";
                }
                else {
                    return "";
                }
            
        }

        },
    {
        field: "City",
        headerName: 'City',
        minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.City != null) {
                               return "<div class='text-justify' >" + params.data.City+" </div>";

                }
                else {
                    return "";
                }
        }

    },
    {
        field: "Location",
        headerName: '@Resource["LocationName"]',
         minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.Location != null) {
                                return "<div class='text-justify' >" + params.data.Location+" </div>";

                }
                else {
                    return "";
                }
        }
    },
    {
        field: "PoliceStation",
            headerName: '@Resource["PoliceStation"]',
            minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.PoliceStation != null) {
                                return "<div class='text-justify' >" + params.data.PoliceStation+" </div>";

                }
                else {
                    return "";
                }
        }
    },

        {
            field: "Longitude",
            headerName: '@Resource["Longitude"]',
             minWidth: 150, 
                    maxWidth: 300,
            cellRenderer: params => {
                if (params.data.Longitude != null) {
                    return "<div class='text-justify' >" + params.data.Longitude + " </div>";
                }
                else {
                    return "";
                }
        }
    },

        {
            field: "Latitude",
            headerName: '@Resource["Latitude"]',
             minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.Latitude != null) {
                                return "<div class='text-justify' >" + params.data.Latitude+" </div>";

                }
                else {
                    return "";
                }
        }
    },

    {
        field: "IpAddress",
            headerName: '@Resource["IpAddress"]',
             minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.IpAddress != null) {
                return "<div class='text-justify' >" + params.data.IpAddress + " </div>";
            }
            else {
                return "";
            }

        }
        },
        {
            field: "SwitchHostName",
            headerName: 'Switch Host Name',
            minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.SwitchHostName != null) {
                                return "<div class='text-justify' >" + params.data.SwitchHostName+" </div>";

                }
                else {
                    return "";
                }
        }
    },

    {
        field: "RtspLink",
            headerName: '@Resource["RtspLink"]',
             minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.RtspLink != null) {
                return "<div class='text-justify' >" + params.data.RtspLink + " </div>";
            }
            else {
                return "";
            }

        }
        },
        {
            field: "TypeOfCamera",
            headerName: '@Resource["TypeOfCamera"]',
             minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.TypeOfCamera != null) {
                    return "<div class='text-justify' >" + params.data.TypeOfCamera+" </div>";
                }
                else {
                    return "";
                }
            
        }
    },
    {
        field: "Make",
            headerName: '@Resource["Make"]',
           minWidth: 150, 
                    maxWidth: 300,
        cellRenderer: params => {
            if (params.data.Make != null) {
                    return "<div class='text-justify' >" + params.data.Make+" </div>";
                }
                else {
                    return "";
                }
            
        }
    },
];



function getCCTV1Data() {
    document.getElementById("kgrdCCTV1").innerHTML = "";
    var params = Filter();
    gridConfig(
        "kgrdCCTV1",
        "/Cms/BusinessAnalytics/ReadCCTVCameraData?searchStr=" + params.searchStr.trim() + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate,
        columnDefs3,
        false,
        true,
        true,
        true,
        1,
        true,
        10);
    }
function loadCCTNSGrid() {
    @*var api = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ApiList));*@
    var params = Filter();
    @*for (var i = 0; i < api.length; i++) {
        var url = "/cms/BusinessAnalytics/CctnsGridViewWithSearch?indexName=" + api[i].NoteSubject + "&filterColumn=" + api[i].FilterColumn + "&gridName=KgrdDial_" + api[i].Id + "&searchStr=" + params.searchStr.trim() + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate;
        url = url.replaceAll(" ", "^");
    $("#DivQueryList_" + api[i].Id).load(url,
        function () { });
    }*@
    var url = "/cms/BusinessAnalytics/CctnsGridViewWithSearch?indexName=cctns_common&filterColumn=reportDate&gridName=KgrdDial_Cctns&searchStr=" + params.searchStr.trim() + "&isAdvance=" + params.isAdvance + "&plainSearch=" + params.plainSearch + "&dateFilterType=" + params.dateFilterType + "&startDate=" + params.startDate + "&endDate=" + params.endDate;
        url = url.replaceAll(" ", "^");
    $("#DivQueryList_Cctns").load(url,
        function () { });    
}

</script>

