@inject IStringLocalizer<CMS.UI.Web.Areas.PJM.Controllers.EmailTaskController> Resource
@using Kendo.Mvc.UI;
@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}



@*@(Html.Kendo().DropDownList().Name("Project")
                           .OptionLabel("Select Project")
                           .DataSource(source =>
                           {
                             source.Read(read =>
                            {
                                               read.Action("GetProjectIdNameList", "project");

                                                   });
                                                       })
                           .DataTextField("Name")
                           .DataValueField("Id")
                           .Filter(FilterType.Contains)
                           .AutoBind(true)
                           .Events(e => e.Change("onChangeProject"))
                   .HtmlAttributes(new { @class = "hr-xx-large" })

    )*@

<input id="Project" class="hr-xx-large" />
<br />
<br />

<div id="projectDiv" style="display:none">
    @*@(Html.Kendo().RadioButton().Name("projectBtn").Checked(false).Label("")
        .HtmlAttributes(new { onchange = "OnSelectProjectWBSItem();" })
        )&nbsp;&nbsp;<span id="projectName"></span>*@

    <section class="section-preview">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="projectBtn" name="projectBtn" onchange="OnSelectProjectWBSItem();">
            <label class="custom-control-label" for="projectBtn"></label>
        </div>
    </section>
</div>
<br />
<br />

<script id="select-wbs" type="text/x-kendo-template">
    @*@(Html.Kendo().RadioButton().Name("select-wbs").Checked(false).Label("")
    .HtmlAttributes(new { onchange = "OnSelectWBSItem(\"#:Id#\",\"#:ParentId#\",\"#:Type#\");" })
    )*@
    <section class="section-preview">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="select-wbs" name="select-wbs" onchange="OnSelectWBSItem('#:Id#','#:ParentId#','#:Type#');">
            <label class="custom-control-label" for="select-wbs"></label>
        </div>
    </section>
</script>

<script>
       function getTree() {
        debugger;
           $("#projectWbs").fancytree({
               extensions: ["table"],
               checkbox: "radio",
               selectMode: 1,
            source: $.ajax({
                url: "/Pjm/EmailTask/ReadWBSGridDataTree",
                data: WBSFilter(null),
                dataType: "json"
            }),
            lazyLoad: function (event, data) {
                var node = data.node;
                // Issue an Ajax request to load child nodes
                data.result = {
                    url: "/Pjm/EmailTask/ReadWBSGridDataTree",
                    data: WBSFilter(node.key)
                }

            },
            renderNode: function (event, data) {
                // Optionally tweak data.node.span
                // debugger;
                //var node = data.node;
                //  node.renderTitle();
                var node = data.node,
                    $tdList = $(node.tr).find(">td");
                // (index #0 is rendered by fancytree by adding the checkbox)
                //  $tdList.eq(0).text(node.data.NoteSubject).addClass("alignRight");
                // (index #2 is rendered by fancytree)

               // $tdList.eq(1).html("<section class='section-preview'>"+
               //     " <div class='custom-control custom-radio custom-control-inline' >" +
               //     "  <input type='radio' class='custom-control-input' id='select-wbs' name='select-wbs' onchange='OnSelectWBSItem(\"" + node.data.Id + "\", \"" + node.data.ParentId + "\", \"" + node.data.Type +"\");'>" +
               //      "<label class='custom-control-label' for='select-wbs'></label></div></section >");
               // $tdList.eq(1).text(node.data.ServiceNo);
                var date = new Date(node.data.StartDate);
                var formatdate = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                var date1 = new Date(node.data.DueDate);
                var formatdate1 = date1.getDate() + "/" + (date1.getMonth() + 1) + "/" + date1.getFullYear();
                $tdList.eq(1).text(node.data.Subject);
                $tdList.eq(2).text(node.data.Type);
                $tdList.eq(3).text(formatdate);
                $tdList.eq(4).text(formatdate1);
                


               },
            keydown: function (event, data) {
                   if (event.which === 32) {
                       data.node.toggleSelected();
                       return false;
                   }
               },
            dblclick: function (event, data) {
                data.node.toggleSelected();
               },
               select: function (event, data) {
                   debugger;
                var node = data.node
                   var s = data.tree.getSelectedNodes();
                OnSelectWBSItem(node.data.Id , node.data.ParentId,node.data.Type)
               },
            contextMenu: {
                menu: function (data) {
                    debugger;
                    return {
                    }
                },
                actions: function (node, action, options) {
                }
            }
        });

    }

    $(function () {
      

        // getPagination('#treetable');
    });
</script>
<div class="col-md-12">

    <br />
    <table id="projectWbs" style="width:100%">
        <colgroup>
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">


        </colgroup>
        <thead>
            <tr>
                <th class="fancytreeheader"><div id="ItemNo">@Resource["ItemNo"]</div></th>
                <th class="fancytreeheader"><div id="Subject">@SharedResource["Subject"]</div></th>
                <th class="fancytreeheader"><div id="Type">@SharedResource["Type"]</div></th>
                <th class="fancytreeheader"><div id="StartDate">@SharedResource["StartDate"]</div></th>
                <th class="fancytreeheader"><div id="DueDate">@SharedResource["DueDate"]</div></th>

            </tr>
        </thead>
        <tbody>
            <tr>


                <td class="fancytreebody"></td>
                <td class="fancytreebody"></td>
                <td class="fancytreebody"></td>
                <td class="fancytreebody"></td>
                <td class="fancytreebody"></td>
              
            </tr>
        </tbody>
    </table>

    


</div>

@*@(Html.Kendo().TreeList<WBSViewModel>()
             .Name("treelistView")
             .Toolbar(toolbar =>
             {
             })
             .Columns(columns =>
             {
                 columns.Add().Field(e => e.Id).Width(100).TemplateId("select-wbs").Title(@SharedResource["Action"]);
                 columns.Add().Field(e => e.ItemNo).Title(@Resource["ItemNo"]).Width(100);
                 columns.Add().Field(e => e.Subject).Title(@SharedResource["Subject"]).Width(200);
                 columns.Add().Field(e => e.Type).Title(@SharedResource["Type"]).Width(100);
                 columns.Add().Field(e => e.StartDate).Format("{0:dd MMM yyyy}").Title(@SharedResource["StartDate"]).Width(50);
                 columns.Add().Field(e => e.DueDate).Format("{0:dd MMM yyyy}").Title(@SharedResource["DueDate"]).Width(50);

             })
             .Filterable()
             .Sortable()
             .ColumnMenu()
             .DataSource(dataSource => dataSource
             .Batch(false)
            .Read(read => read.Action("ReadWBSGridData", "EmailTask").Data("WBSFilter"))
             .ServerOperation(false)
             //.Events(events => events.RequestStart("OnRequestStart_TopLinePriceGrid"))
             //.Events(events => events.RequestEnd("OnRequestEnd_TopLinePriceGrid"))
             .Model(m =>
             {
                 m.Id(f => f.Id);
                 m.ParentId(f => f.ParentId);
                 m.Expanded(true);
                 m.Field(f => f.ItemNo);
                 m.Field(f => f.Subject);
             })

             )
             .AutoBind(true)
             .Pageable(p => p.PageSize(15)
                             .PageSizes(true)
             )
                              .Height(540)
    )*@

<script>

    $(document).ready(function () {
        $("#Project").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "select project",
            change: onChangeProject,
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PJM/project/GetProjectIdNameList",
                    }
                }
            }
        });

        getTree();

        setTimeout(function () {
            debugger;
            $('#projectWbs').after('<div id="nav" class="fancytreepage"></div>');
            var rowsShown = 10;
            var rowsTotal = $('#projectWbs tbody tr').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#nav').append('<a class="fancytreeancpagination" href="#" rel="' + i + '">' + pageNum + '</a> ');
            }
            $('#projectWbs tbody tr').hide();
            $('#projectWbs tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function () {

                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#projectWbs tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                    css('display', 'table-row').animate({ opacity: 1 }, 300);
            });
        }, 3000);

    });



    function OnRequestStart_TopLinePriceGrid(e) {
        if (e.type === "update") {
            showLoader();
        }
    }
    function OnRequestEnd_TopLinePriceGrid(e) {
        if (e.type === "update") {
            hideLoader();
            var grid = $('#treelist').data('kendoTreeList');
            grid.dataSource.read();
        }
    }

    function WBSFilter(Id) {
        //assignedTo.dataSource.read();
       // var Id = null;
       // if (id != null) {
       //     var Id = id;
      //  }
        var pid = $("#Project").data("kendoDropDownList").value();
        return {
            projectId: pid == null || pid == "" ? 0 : pid,
            emailTaskId: '@ViewBag.EmailTaskId',
            id:Id
        };
    }

    function onChangeProject() {

        //var pid = $("#Project").data("kendoDropDownList");
        //document.getElementById("projectDiv").style.display = "";
        //document.getElementById("projectName").innerText = pid.text();
       //  $("#treelistView").data("kendoTreeList").dataSource.read();
       // $('#projectWbs').jstree(true).refresh();
        getTree();
    }

    function OnSelectWBSItem(id, parentId, type) {
        debugger;
        window.parent.CloseWBSSelect(id, parentId,type)
    }

    function OnSelectProjectWBSItem() {
         var pid = $("#Project").data("kendoDropDownList").value();
        window.parent.CloseWBSSelect(pid, '@NtsTypeEnum.Service');
    }

</script>