@inject IStringLocalizer<CMS.UI.Web.Areas.CHR.Controllers.HRDirectController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Kendo.Mvc.UI;
@using Synergy.App.Common.Utilities;
@model AccessLogViewModel

@{
    ViewData["Title"] = @Resource["AccessLog"];
    Layout = null;
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
}
<style>
    .width {
        width: 100%;
    }
</style>


<div id="appWrapper">
    <h4>@ViewBag.Title</h4>
    <div class="panel panel-default">
        @*<div class="panel-heading">



            </div>*@

        <br />
        <div class="row">



            @if (!ViewBag.HideUser)
            {
                <div class="col-md-1 label-div">
                    <span class="required">*</span>
                    @Resource["Employee"]
                </div>
                <div class="col-md-3">
                    @*@(Html.Kendo().DropDownList()
                                         .Name("User")
                                         .DataSource(source =>
                                         {
                                             source.Read(read =>
                                             {
                                                 read.Action("GetPositionHierarchyByUserLoggedInUser", "PositionHierarchy", new { area = "Chr" })/*.Data("FilterUser")*/;
                                             });
                                         })
                                      // .Events(e => e.Change("OnMemberChange"))
                                      .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                                       .DataTextField("Name")
                                       .DataValueField("Id")
                                       .Filter(FilterType.Contains)
                                       // .CascadeFrom("Team")
                                       .HtmlAttributes(new { @class = "hr-x-large" })
                                       )*@

                    <input id="User" class="hr-x-large" />
                </div>
            }

            <div class="col-md-1 label-div">
                <span class="required">*</span>
                @SharedResource["StartDate"]
            </div>
            <div class="col-md-2">
                @*@Html.Kendo().DatePickerFor(m => m.StartDate).Format("{0:dd MMM yyyy}").Value(DateTime.Now).HtmlAttributes(new { @class = "form-control hr-small" })*@
                <input id="StartDate" type="date" value="@DateTime.Now" class="form-control hr-large" />
            </div>


            <div class="col-md-1 label-div">
                <span class="required">*</span>
                @SharedResource["EndDate"]
            </div>
            <div class="col-md-2">
                @*@Html.Kendo().DatePickerFor(m => m.EndDate).Format("{0:dd MMM yyyy}").Value(DateTime.Now).HtmlAttributes(new { @class = "form-control hr-small" })*@
                <input id="EndDate" type="date" value="@DateTime.Now" class="form-control hr-large" />
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary" onclick="onSearch()">@SharedResource["Search"]</button>
            </div>

        </div>
        <br />
        <div>
            
            @*<input name="Result" type="text" />*@
            <div id="kgrdAccessLog" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            @*@(Html.Kendo().Grid<AccessLogViewModel>()
                .Name("kgrdAccessLog")
                    .Columns(col =>
                    {

                        col.Bound(c => c.PersonFullName).Title(@Resource["PersonFullName"]);
                        col.Bound(c => c.SponsorshipNo).Title(@Resource["SponsorshipNo"]);
                        col.Bound(c => c.BiometricId).Title(@Resource["BiometricId"]);
                        col.Bound(c => c.PunchingTime).Title(@Resource["PunchingTime"]).Format(ApplicationConstant.DateAndTime.DefaultDateTimeFormat);
                        col.Bound(c => c.DevicePunchingTypeText).Title(@Resource["DevicePunchingTypeText"]);
                        col.Bound(c => c.DeviceName).Title(@Resource["DeviceName"]);

                    })
                     .ToolBar(toolbar =>
                     {

                         toolbar.Search().Text(@SharedResource["Search"]);
                     })

        .ColumnMenu(col=>col.Filterable(false))
        .Height(700)
        .Editable()
        .Pageable()
        .Sortable()
        .Navigatable()
        .Resizable(r=>r.Columns(true))
        .Reorderable(r => r.Columns(true))
        .Groupable(g=>g.ShowFooter(false))
        .Filterable()
        .Scrollable()
        //.Events(events => events.DataBound("onDataBound"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Batch(true)
            .PageSize(20)
            .AutoSync(true)
            .ServerOperation(false)
            //.Events(events => events.Error("error_handler"))
            .Model(model =>
            {
                model.Id(p => p.Id);

            })

            .Read("GetAccessLogGridData", "HRDirect", new { @area = "CHR", Id=Model.PersonId, UserId=Model.UserId})//.Data("FilterGrid")

        ))*@


        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#kgrdAccessLog").data("JSGrid").render();
        //$("#StartDate").kendoDatePicker({  format: "dd MMM yyyy"});
        //$("#EndDate").kendoDatePicker({ format: "dd MMM yyyy" });

        $("#User").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Chr/PositionHierarchy/GetPositionHierarchyByUserLoggedInUser",
                    }
                }
            }
        });

        $(".k-grid .k-grid-btnAdd span").addClass("k-icon k-add");
        //$("#btnSearch").click(function () {
        //    var search = FilterGrid();
        //    $("#kgrdAccessLog").data("kendoGrid").dataSource.read(search);
        //})
    });

    function onSearch() {

        

        if ('@Model.PersonId' == null || '@Model.PersonId' == '') {
            var search = {

                //  userIds: $("#User").data("kendoDropDownList").value(),
                //startDate: kendo.toString($("#StartDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
                //dueDate: kendo.toString($("#EndDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
                startDate: $("#StartDate").val(),
                dueDate: $("#EndDate").val()
            };
            //$("#kgrdAccessLog").data("JSGrid").render();
        }
        else {
            var search = {

                userIds: $("#User").val(),
                //startDate: kendo.toString($("#StartDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
                //dueDate: kendo.toString($("#EndDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
                startDate: $("#StartDate").val(),
                dueDate: $("#EndDate").val()
            };
            //$("#kgrdAccessLog").data("JSGrid").render();
        }
        $("#kgrdAccessLog").data("JSGrid").render();
    }

    function Close(dorefresh, mode) {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;


    }


</script>
<script>
    function FilterGrid() {
        
        if ('@Model.PersonId' == null || '@Model.PersonId' == '') {
            var search = {

                //  userIds: $("#User").data("kendoDropDownList").value(),

                startDate: $("#StartDate").val(),
                dueDate: $("#EndDate").val()
            };
            return search;
        }
        else {
            var search = {

                userIds: $("#User").val(),
                //startDate: kendo.toString($("#StartDate")/*.data("kendoDatePicker")*/.value(), 'yyyy/MM/dd'),
                //dueDate: kendo.toString($("#EndDate").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
                startDate: $("#StartDate").val(),
                 dueDate: $("#EndDate").val()
            };
            return search;
        }

    }

    $("#kgrdAccessLog").jsGrid({
        width: "100%",
        height: "600px",
                inserting: false,
                selecting: true,
        editing: false,
                sorting: true,
        selecting: true,

        paging: true,
        autoload: true,
        pageSize: 14,
        pageButtonCount: 5,
        deleteConfirm: "Do you really want to delete client?",

        //data: clients,
        controller: {
            loadData: function (filter) {
                
                var search = FilterGrid();

                var url = "/CHR/HRDirect/GetAccessLogGridData?Id=@Model.PersonId&UserId=@Model.UserId";
                if ('@ViewBag.HideUser' == 'False') {
                    url = "/CHR/HRDirect/GetAccessLogGridData?Id=@Model.PersonId&UserId=" + search.userIds + "&startDate=" + search.startDate + "&dueDate="+search.dueDate;
                }
                else
                {
                      url = "/CHR/HRDirect/GetAccessLogGridData?Id=@Model.PersonId&UserId=@Model.UserId&startDate=" + search.startDate + "&dueDate="+search.dueDate;
                }
                    
                    return $.ajax({
                        type: "GET",
                    url:  url,
                    data: filter,
                    dataType: "json"
                    });
                },



        },


                fields: [
           {
               name: "PersonFullName", type: "text",
               title:"@Resource["PersonFullName"]"
           },
           {
               name: "SponsorshipNo", type: "text",
               title:"@Resource["SponsorshipNo"]"
           },
           {
               name: "BiometricId", type: "text",
               title:"@Resource["BiometricId"]"
           },
        {
            name: "PunchingTime", type: "text",
            title:"@Resource["PunchingTime"]"
        },
        {
            name: "DevicePunchingTypeText", type: "text",
             title:"@Resource["DevicePunchingTypeText"]"
        },
        {
            name: "DeviceName", type: "text",
            title:"@Resource["DeviceName"]"
        },


        ]
                            });


</script>