@inject IStringLocalizer<CMS.UI.Web.Areas.PJM.Controllers.ProjectEmailSetupController> Resource
@using Synergy.App.WebUtility
@using Synergy.App.Common

@{
    ViewData["Title"] = "Project Email Setup";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model Synergy.App.ViewModel.ProjectEmailSetupViewModel

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.content').richText();
        if ('@ViewBag.Success' == "True") {
            closeNavMemberGroup();
            window.parent.$("#EmailSetupgrid").data("kendoGrid").dataSource.read();
        }

        $("#ServiceId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",            
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PJM/ProjectEmailSetup/GetProjectsList",
                    }
                }
            }
        });

        $("#UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource:
            {
                transport:
                {
                    read:
                    {
                        url: "/PJM/ProjectEmailSetup/GetUsersIdNameList",
                    }
                }
            }
        });

    });

    function closeNavMemberGroup() {
      
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: "GetEmailData" });
       
        return false;
    }

    function OnSave(evt) {

        //if ($("#ServiceId").val() == "") {
        //    //
        //    $(".text-danger").removeClass("validation-summary-valid");
        //    $(".text-danger").addClass("validation-summary-errors");
        //    $(".text-danger").html("Project Name is required");
        //    evt.preventDefault();
        //    return false;
        //}

        //else {
        //    $(".text-danger").removeClass("validation-summary-errors");
        //    $(".text-danger").addClass("validation-summary-valid");
        //}
        if ($("#UserId").val() == "") {
            //
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("User Name is required");
            evt.preventDefault();
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            $(".text-danger").html("");
        }
    }

</script>

<div class="row" style="margin-left:15px;">

    <form asp-controller="ProjectEmailSetup" asp-action="Manage" method="post" class="form-horizontal" id="myForm">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">
            @if (ViewBag.Module == "PJM")
            {
                <div class="col-12">@SharedResource["ProjectName"]</div>
                <div class="col-12 pad-15">
                    @*@(Html.Kendo().DropDownListFor(x => x.ServiceId)
            .DataTextField("Name")
            .DataValueField("Id")
            .Filter(FilterType.Contains)
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetProjectsList", "ProjectEmailSetup", new { @area = "PJM" });
                });
            })
            .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
            .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
        )*@

                    <input asp-for="ServiceId" id="ServiceId" class = "form-control" style="width:80%" />
                </div>
            }
            else
            {
                @Html.HiddenFor(x => x.ServiceId)
            }
            <div class="col-12">@SharedResource["UserName"]</div>
            <div class="col-12 pad-15">
                @*@(Html.Kendo().DropDownListFor(x=>x.UserId)
        .DataTextField("Name")
        .DataValueField("Id")
        .Filter(FilterType.Contains)
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetUsersIdNameList", "ProjectEmailSetup", new { @area = "PJM" });
            });
        })
        .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
        .HtmlAttributes(new { @class = "form-control", @style = "width:80%" })
        )*@

                <input asp-for="UserId" id="UserId" class = "form-control" style = "width:80%" />
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">

                    <input asp-for="SmtpHost" type="text" class="form-control" placeholder="Enter Smtp Host" autocomplete="off" style="width:80%" required="required" />
                    <label for="SmtpHost">@Resource["SmtpHost"]<span class="required">*</span></label>
                </div>
            </div>

            @*<div class="col-12 pad-15">
            @Html.TextBoxFor(model => model.ShortName, htmlAttributes: new { @class = "form-control", placeholder = "Short Name", style = "width:80%", required = "required" })
        </div>*@

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmtpPort" type="number" class="form-control" placeholder="Enter Smtp Port" title="Special character and space not allowed in name." autocomplete="off" style="width:80%" required="required" />
                    <label for="SmtpPort">@Resource["SmtpPort"]<span class="required">*</span></label>
                </div>
            </div>
            @*<div class="col-12 pad-10">
            <div class="form-label-group">

                <input asp-for="SmtpFromId" type="text" class="form-control" placeholder="Enter Smtp FromId" autocomplete="off" style="width:80%" />
                <label for="SmtpFromId">Smtp FromId</label>
            </div>
        </div>*@

            @*<div class="col-12 pad-15">
            @Html.TextBoxFor(model => model.ShortName, htmlAttributes: new { @class = "form-control", placeholder = "Short Name", style = "width:80%", required = "required" })
        </div>*@

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SmtpUserId" type="text" class="form-control" placeholder="Enter Smtp UserId" title="Special character and space not allowed in name." autocomplete="off" style="width:80%" required="required" />
                    <label for="SmtpUserId">@Resource["SmtpUserId"]<span class="required">*</span> </label>
                </div>
            </div>
            <div class="col-12 pad-10">
                @*<input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="off" width="300" />*@
                <div class="form-label-group">
                    <input type="password" asp-for="SmtpPassword" class="form-control" placeholder="Password" value="@Model.SmtpPassword" autocomplete="off" style="width:80%" required="required" />
                    <label for="SmtpPassword">@Resource["SmtpPassword"]<span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Pop3Host" type="text" class="form-control" placeholder="Enter Pop3 host" value="@Model.Pop3Host" autocomplete="off" style="width:80%" />
                    <label for="Pop3Host">@Resource["Pop3Host"]</label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input type="text" asp-for="Pop3Port" class="form-control" placeholder="Enter Pop3 port" value="@Model.Pop3Port" autocomplete="off" style="width:80%" />
                    <label for="Pop3Port">@Resource["Pop3Port"]</label>
                </div>
            </div>

            <div class="col-12">Signature</div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    @*@(Html.Kendo().EditorFor(x=>x.Signature)
            .HtmlAttributes(new { style = "width: 80%; height:250px" })

        )*@

                    <div class="page-wrapper box-content">
                        <textarea class="content" asp-for="Signature" id="Signature"></textarea>
                    </div>
                </div>
            </div>

            <div class="cms-slidebar-footer">
                <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">@SharedResource["Close"]</button>
                <input type="submit" class="btn btn-primary" value="@SharedResource["Save"]" @*id="submitBtn"*@ onclick="OnSave(event);" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
    </form>
</div>

