@{
    ViewData["Title"] = "Settings";
    Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
}
@using CMS.UI.ViewModel;
@using CMS.Common;

@model DocumentTypeViewModel
<style>
   
    .required {
        color: red;
    }

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .treeview .k-in {
        width: 100% !important;
    }





    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 85%;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }
    /*Portal End*/
</style>
@*@(Html.Kendo().Upload().Multiple(false)
                                .Name("files")
                                .Async(a => a
                                .Save("SaveFile", "Document", new { @area = "cms" })
                                )
                                    //.Events(e => e.Success("onFileUploadSuccess")
                                    //)
                                    //.Validation(validation => validation.MaxFileSize(2097152))
                                    .HtmlAttributes(new { @class = "hr-xx-large" })
                            )*@
<div class="splitter-container">
    <div class="left">
        <button type="button" class="btn btn-primary" onclick="CreatePortal();" id="CreatePortal">Create New Portal</button>
        @*<h5>Content</h5>*@
        @*@(Html.Kendo().TreeView()
            .Name("contentTreeView").HtmlAttributes( new {@class="treeview"})
            .Events(e=>e.Select("OnSelect")
            //.Expand("onExpand")
            )
            .DataTextField("Name")
            .TemplateId("ct-tv-template")
            .DataSource(dataSource => dataSource
                .Read(read => read
                    .Action("GetContentTreeList", "Content",new { @area="Cms"})
                )
            )
        )*@
        <div id="contentTreeView" class="demo treeview"></div>


        <script id="ct-tv-template" type="text/kendo-ui-template">
            <span style="width:100%">  #: item.Name # <i class="#:item.IconCss#" title="#:item.IconTitle#"></i></span>
            <span data-id="#:item.id#" data-type="#:item.Type#" data-portal-name="#:item.Name#" data-parent-id="#:item.ParentId#" data-portal-id="#:item.PortalId#" class="tree-menu" data-level="#:item.ItemLevel#"><i class="fa fa-ellipsis-h"></i></span>
        </script>

    </div>

    <div class="right pad-l-t-15" id="page-content">

    </div>

</div>
@*<div>
        <button type="button" class="btn btn-light" onclick="openNavStyle('5fe035c58058c37fb14ede0e');">Test Create Style</button>
    </div>
    <div>
        <button type="button" class="btn btn-light" onclick="editNavStyle('5fe42bf6076cdc885526107e');">Test Edit Style</button>
    </div>*@
<!--<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Document Type</h4>
            </div>
            <div class="modal-body">
                <form asp-controller="DocumentType" asp-action="CreateDocumentType" method="post" class="form-horizontal">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="row" style="padding:10px;">
                        <div class="col-sm-12">
                            <div class="form-label-group">
                                <input asp-for="Name" class="form-control" placeholder="Name" type="text" required="required" />
                                <label for="name">Name</label>
                            </div>-->
@*<div class="form-label-group">
        <input type="password" asp-for="Description" class="form-control" placeholder="Description">
        <label for="description">Description</label>
    </div>*@
<!--<input type="text" asp-for="DataAction" id="dataaction" />
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-light" onclick="CloseIframeModal();">Close</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>-->
<div id="portal-div">
    <div id="mySidenavPortal" class="sidenav">
        <h1 class="cms-panel-header-name">Portal</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavPortal()" title="Close">&times;</a>
        <hr />
        <div id="portal-content" class="row pad-20 slidenav-flow">

        </div>
    </div>
</div>
<div id="page-style-div">
    <div id="mySidenavStyle" class="sidenav">
        <h1 class="cms-panel-header-name">Style</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavStyle()" title="Close">&times;</a>
        <hr />
        <div id="page-style-content" class="row pad-20 slidenav-flow">

        </div>
    </div>
</div>
<div id="pagecontent-style-div">
    <div id="mySidenavPageContentStyle" class="sidenav">
        <h1 class="cms-panel-header-name">Page Settings</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavPageContentStyle()" title="Close">&times;</a>
        <hr />
        <div id="pagecontent-style-content" class="row pad-20 slidenav-flow">

        </div>
    </div>
</div>
<div id="overlay" class=""></div>


<script>
    //$(function () {
    //    $.ajax({
    //        async: true,
    //        type: "GET",
    //        url: "/cms/Content/GetTree",
    //        dataType: "json",
    //        success: function (json) {
    //            debugger;
    //            createJSTree(json);
    //        },

    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.status);
    //            alert(thrownError);
    //        }
    //    });
    //});

    //function createJSTree(jsondata) {
    //    $('#contentTreeView').jstree({
    //        'core': {
    //            'data': jsondata
    //        }
    //    });
    //}
    //$('#contentTreeView').jstree({
    //    'core': {
    //        'data': {
    //            "url": "/cms/Content/GetTree",
    //            "data": function (node) {
    //                return { "id": node.id };
    //            }
    //        }
    //    }
    //});
    var nodeid;
    var nodeparentid;
    var nodetype;
    var PortalName;
    var PortalId;
    $('#contentTreeView')
        
        //.on('changed.jstree', function (e, data) {
        //    var i, j, r = [];
        //    for (i = 0, j = data.selected.length; i < j; i++) {
               
        //        nodetype = data.instance.get_node(data.selected[i]).original.Type;
        //        PortalName = data.instance.get_node(data.selected[i]).original.Name;
        //        PortalId = data.instance.get_node(data.selected[i]).original.PortalId;
        //        nodeid = data.instance.get_node(data.selected[i]).id;
        //        nodeparentid = data.instance.get_node(data.selected[i]).parent;
        //    }
           
        //})
        .jstree({
        'core': {
            'data': function (node, cb) {
                if (node.id === "#") {
                        $.ajax({
                        async: true,
                        type: "GET",
                            url: "/cms/Content/GetContentTreeList",
                        dataType: "json",
                        success: function (json) {
                            cb(json);
                        },

                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                    //cb([{ "text": "Root", "id": "1", "children": true }]);
                }
                else {
                    $.ajax({
                        async: true,
                        type: "GET",
                        url: "/cms/Content/GetContentTreeList?id="+ node.id,
                        dataType: "json",
                        success: function (json) {
                            cb(json);
                        },

                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            }
        }
    });
    //$('#contentTreeView').jstree({
    //    'core': {
    //        'data': {
    //            "url": "/cms/Content/GetTree",
    //            "dataType": "json" // needed only if you do not supply JSON headers
    //        }
    //    }
    //});

    //$('#contentTreeView').jstree({
    //    'core': {
    //        'data': [
    //            {
    //                "text": "Root node", "children": [
    //                    { "text": "Child node 1" },
    //                    { "text": "Child node 2" }
    //                ]
    //            }
    //        ]
    //    }
    //});

    // $('.splitter-container').SplitterBar();
    var splitter = $('.splitter-container').height(200).split({
        orientation: 'vertical',
        limit: 10,
        position: '20%', // if there is no percentage it interpret it as pixels
        onDrag: function (event) {
            console.log(splitter.position());
        }
    });
    function ReloadTab() {


       
    }
    function SetTabControls(index, select) {
        var tabStrip = $("#tabstrip").data("kendoTabStrip");
        if (select) {
            tabStrip.select(index);
        }
    }
    function onTabSelect1(e) {
        SetTabControls($(e.item).index(), false);
    }
    function OnSelect(e) {
        //debugger
        e.preventDefault();

        //var data = $("#treeview").data("kendoTreeView").dataItem(e.node);


        //if (data.ItemType == "BusinessRule") {

        //    var tabStrip1 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        //    $(".k-link:contains('BUSINESS RULE INPUT DATA')").data('contentUrl', '/businessrule/BusinessRuleInputData?ruleId=' + data.id);
        //    tabStrip1.reload("li:eq(0)");

        //    var tabStrip2 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        //    $(".k-link:contains('BUSINESS RULE MASTER DATA')").data('contentUrl', '/businessrule/BusinessRuleMasterData?ruleId=' + data.id);
        //    tabStrip2.reload("li:eq(1)");

        //    var tabStrip3 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        //    $(".k-link:contains('BUSINESS RULE FLOW')").data('contentUrl', '/businessRuleDiagram/businessFlowDiagram?ruleId=' + data.id);
        //    tabStrip3.reload("li:eq(2)");


        //}
    }
    function onExpand(e)
    {

        var dataid = e.node.getAttribute("data-uid");
        var dataitem=e.sender.dataSource.getByUid(dataid);
        $("#contentTreeView").data("kendoTreeView").dataSource.read({ id: dataitem.id, portalId: dataitem.id, type: dataitem.Type })
        e.preventDefault();
    }
    function OpenIframeModal(url, title) {
       
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: title, Width: 700, Height: 350 });
        return false;
    }
    function CreatePortal() {
        openNavPortal();
    }
    //$(function () {
    //    $.contextMenu({
    //        selector: '.tree-menu',
    //        trigger: 'left',

    //        items: {
    //            "edit": {
    //                name: "Edit", icon: "cut", callback: function (itemKey, opt, e) {
    //                    console.log($(this).data('id'));
    //                }
    //            },
    //            "cut": { name: "Cut", icon: "cut" },
    //            "copy": { name: "Copy", icon: "copy" },
    //            "paste": { name: "Paste", icon: "paste" },
    //            "delete": { name: "Delete", icon: "delete" },
    //            "sep1": "---------",
    //            "quit": { name: "Quit" }
    //        }
    //    });
    //});
    function sleep(milliseconds) {
        const date = Date.now();
        let currentDate = null;
        do {
            currentDate = Date.now();
        } while (currentDate - date < milliseconds);
    }

    $(function () {
        $.contextMenu({
            selector: '.jstree-anchor',
            trigger: 'left',
            build: function ($trigger, e) {
                //alert($("#contentTreeView").jstree('get_selected').attr('id'));
               
                //var id = e.target.id;
                //debugger;
               
                var id = $trigger.attr('data_id');
                var type = $trigger.attr('data_type');
                var portalId = $trigger.attr('data_portalid');
                var portalName = $trigger.attr('data_name');
                switch (type) {
                    case 'Root':
                        return {

                            callback: function (key, options) {
                                switch (key) {
                                    case 'createPortal':
                                       // alert('Create Portal')
                                        openNavPortal(id);

                                        break;
                                    default:
                                }

                            },
                            items: {
                                "createPortal": { name: "Create New Portal", icon: "fas fa-chart-area" },

                            }
                        };
                    case 'Portal':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'editPortal':
                                        editNavPortal(id);
                                        break;
                                    case 'addPage':
                                        LoadPartailView('@Url.Action("CreatePage", "Content", new { @area="Cms"})?parentId=' + id + '&portalId=' + id, $('#page-content'));
                                        break;
                                    case 'launchPortal':
                                        window.open('/Portal/' + portalName, '_blank');
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "addPage": { name: "Add new page", icon: "fas fa-album-collection" },
                                "editPortal": { name: "Edit portal", icon: "fas fa-chart-area" },
                                "launchPortal": { name: "Launch this portal in new tab", icon: "fas fa-chart-area" },


                            }
                        };
                    case 'ContentPage':
                        return {

                            callback: function (key, options) {
                                switch (key) {
                                    case 'editPage':
                                        LoadPartailView('@Url.Action("EditPage", "Content", new { @area="Cms"})?pageId='+id, $('#page-content'));
                                        break;
                                    case 'deletePage':
                                        OnDelete(id);
                                                          //$.ajax({
                                                          //   type: "GET",
                                                          //    url: "/Cms/Content/DeletePage?id=" + id,
                                                          //          dataType: "json",
                                                          //    success: function (response) {
                                                          //        window.location.href = "/Cms/content/index";
                                                          //          },
                                                          //      });

                                        break;
                                    @*case 'addChildPage':
                                        if (portalId == undefined || portalId == "" || portalId == null) {
                                            portalId = id;
                                        }
                                        LoadPartailView('@Url.Action("CreatePage", "Content", new { @area="Cms"})?parentId=' + id + '&portalId=' + portalId, $('#page-content'));
                                        break;
                                    default:*@
                                }

                            },
                            items: {
                                "editPage": { name: "Edit Page", icon: "fas fa-album-collection" },
                                "deletePage": { name: "Delete Page", icon: "fas fa-trash-alt" },
                                //"addChildPage": {
                                //    name: "Add New Page", icon: "fas fa-ball-pile", visible: function ()
                                //    {
                                //
                                //        if (level < 3) {
                                //            return true ;
                                //        }
                                //        else
                                //        {
                                //            return false;
                                //        }
                                //    }
                                //},

                            }
                        };
                    case 'MenuGroup':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'addPage':
                                        LoadPartailView('@Url.Action("CreatePage", "Content", new { @area="Cms"})?parentId=' + portalId + '&portalId=' + portalId + '&menugroupId=' + id, $('#page-content'));
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "addPage": { name: "Add new page", icon: "fas fa-album-collection" },



                            }
                        };
                }
                   



            }
        });



    });
    function OnDelete(id) {

        //  $('#dlg_DeleteConfirmation').data("kendoDialog").open();

        // var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        kendo.confirm("Are you sure that you want to proceed?").then(function () {
            confirmDelete(id);
        }, function () {

        });

    }

    function confirmDelete(id) {
         //
        //  var grid = $("#grd_OrderStatus").data("kendoGrid");
        // var dataItem = $(e.currentTarget).closest("tr");
        // alert(dataItem.Id);
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $.ajax({
           // url: "~/UserRole/DeleteUserRole?Id=" + id,
            url:'@Url.Action("DeletePage", "Content", new { @area= "Cms" })?Id=' + id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {
                // $('#dlg_DeleteConfirmation').data("kendoDialog").close();
                ShowNotification("Deleted Successfully", "success");
                //window.parent.$("#contentTreeView").data("kendoTreeView").dataSource.read();
                $('#contentTreeView').jstree(true).refresh();
               // $("#grid").data("kendoGrid").dataSource.read();
            }
        });
        //  $('#dlg_DeleteConfirmation').data("kendoDialog").close();
      

    }

    //Portal Script Start
    function openNavPortal(ppid) {
        
          var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("CreatePortal", "Content", new { @area="Cms"})?parentId=' + ppid;
        win.OpenWindow({ Title: 'Manage Portal', Width: 450, Height: 950, Position: 'Right'});
        return false;

        @*document.getElementById("mySidenavPortal").style.width = "450px";
        LoadPartailView('@Url.Action("CreatePortal", "Content", new { @area="Cms"})?parentId='+ppid, $('#portal-content'));
        $("#overlay").addClass("overlay");*@

    }
    function editNavPortal(id) {
        
         var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("EditPortal", "Content", new { @area="Cms"})?id=' + id;
        win.OpenWindow({ Title: 'Manage Portal', Width: 450, Height: 950, Position: 'Right'});
        return false;

        @*document.getElementById("mySidenavPortal").style.width = "450px";
        LoadPartailView('@Url.Action("EditPortal", "Content", new { @area="Cms"})?id='+id, $('#portal-content'));
        $("#overlay").addClass("overlay");*@
        // $('body').addClass('fadeMe');
    }

    function closeNavPortal() {
        document.getElementById("mySidenavPortal").style.width = "0";
        $("#overlay").removeClass("overlay");
        //$('body').removeClass('fadeMe');
    }
    //Portal Script End

    //Style Script Start
    function openNavStyle(sid, stype) {
        alert(2)
        //alert("Hello " + pcid);
        document.getElementById("mySidenavStyle").style.width = "650px";
        LoadPartailView('@Url.Action("CreateStyle", "Content", new { @area="Cms"})?sourceId=' + sid +'&sourceType='+stype, $('#page-style-content'));
        $("#overlay").addClass("overlay");

    }
    function editNavStyle(sid, stype,pid) {
       // document.getElementById("mySidenavStyle").style.width = "650px";
      
          var win = GetMainWindow();
        win.iframeOpenUrl ='@Url.Action("ManageStyle", "Content", new { @area="Cms"})?sourceId=' + sid + '&sourceType=' + stype + '&pageId=' + pid;
        win.OpenWindow({ Title: 'Manage Style', Width: 650, Height: 950, Position: 'Right'});
        return false;
        //LoadPartailView(iframeOpenUrl, $('#page-style-content'));
        //$("#overlay").addClass("overlay");
        // $('body').addClass('fadeMe');
    }

    function closeNavStyle() {
      
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
        //document.getElementById("mySidenavStyle").style.width = "0";
        //$("#overlay").removeClass("overlay");
        //$('body').removeClass('fadeMe');
    }

    function onFileUploadSuccess(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".style-mybackgroundimage").attr("src", "/cms/content/GetBackgroundImage?id=" + e.response.fileId);
            $("#BackgroundImage").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }
    //Style Script End

    //Pagecontent Style Start
   function OpenManageSettings(sid,stype) {
        document.getElementById("mySidenavPageContentStyle").style.width = "650px";
        LoadPartailView('@Url.Action("ManageSettings", "Content", new { @area="Cms"})?sourceId=' + sid +'&sourceType='+stype, $('#pagecontent-style-content'));
        $("#overlay").addClass("overlay");

    }
    @*function editNavPageContentStyle(sid, stype) {
        alert("Test Page Setting");
        document.getElementById("mySidenavPageContentStyle").style.width = "650px";
        LoadPartailView('@Url.Action("EditPageStyle", "Content", new { @area="Cms"})?sourceId=' + sid + '&sourceType=' + stype, $('#pagecontent-style-content'));
        $("#overlay").addClass("overlay");
        // $('body').addClass('fadeMe');
    }*@

    function closeNavPageContentStyle() {
        document.getElementById("mySidenavPageContentStyle").style.width = "0";
        $("#overlay").removeClass("overlay");
        //$('body').removeClass('fadeMe');
    }

    function onFileUploadSuccessPageStyle(e) {
        if (e.response.success) {
            //alert(e.response.fileId);
            //console.log(e);
            //return true;
            $(".pagestyle-mybackgroundimage").attr("src", "/cms/content/GetBackgroundImage?id=" + e.response.fileId);
            $("#BackgroundImage").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }
    //Pagecontent Style End
</script>

