@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Page Icon";
    Layout = null;
}
@inject CMS.Common.IUserContext _userContext
@model PageViewModel

<div>
    @*<h1 class="cms-panel-header-name">@ViewBag.Title</h1>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavPortal()" title="Close">&times;</a>
    <hr />*@
    <form asp-controller="Content" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">
            <div class="col-12 pad-15">
                <input id="IconCss1" name="IconCss1" type="text" class="form-control" placeholder="Enter Icon Class" required="required" autocomplete="off" />
            </div>
            <div class="col-12 pad-15">
                @(Html.Kendo().ColorPicker()
                .Name("picker")               
                //.Events(events => events.Select("preview"))
            )
            </div>               

                <div class="cms-slidebar-footer">
                    <input type="button" class="btn btn-link" value="Close" onclick="closeNavIcon()" />
                    <input type="button" class="btn btn-primary" value="Save" onclick="OnSaveIcon()"/>
                    @*<input type="submit" class="btn btn-primary" value="Save" />*@
                </div>
                @*<div class="col-sm-12">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-light" onclick="CloseIframeModal();">Close</button>
            </div>*@
            </div>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ParentId)
            @Html.HiddenFor(x => x.DataAction)
</form>
</div>

<script type="text/javascript">
    $("#IconCss1").val('@Model.IconCss');
    var colorpicker = $("#picker").data("kendoColorPicker");
    // set picker value
    colorpicker.value('@Model.IconColor');
    //$(document).ready(function () {
    //    var $form = $('form');
    //    $form.submit(function () {
    //        $.post($(this).attr('action'), $(this).serialize(), function (response) {
    //            // do something here on success
    //            
    //            alert(response);
    //            return true;
    //        }, 'json');

    //        return false;
    //    });
    //});
    function OnSaveIcon()
    {
        debugger
        var IconName = $("#IconCss1").val();
        var colorpicker = $("#picker").data("kendoColorPicker");
        // set picker value
        var IconColor = colorpicker.value();
        OnIconPropertySubmit(IconName, IconColor);
    }
</script>