@using Synergy.App.DataModel
@using Synergy.App.ViewModel
@*@using Kendo.Mvc.UI*@
@using Synergy.App.Common

@model ModuleViewModel

@{
    ViewData["Title"] = "Module";
    Layout = null;
}

<script>
    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

    var columnDefs = [
        {
            field: "Name",
        },
        { field: "ShortName" },
        { field: "Prefix" },
        {
            field: "Status",
            cellRenderer: params => {
                return statusObj[params.value]; //only for enum
            }
        },
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menuBinModule' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\" ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    $(function () {

        getDataModule();

        //$.contextMenu('update');
        //$('.context-menu-list').trigger('contextmenu:refresh');

        $.contextMenu({
            selector: '#tree-menuBinModule',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');

                //var portalName = $trigger.data('portal-name');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        onEdit(id);
                                        break;

                                    case 'delete':
                                        OnDelete(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },


                            }
                        };


                }
            }
        });


    });

    function OnCreateModule() {

         
          var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("Create", "Module", new { @area="PortalAdmin"})';
        win.OpenWindow({ Title: 'Manage Module', Width: 450, Height: 800 });
        return false;

    }

    function onEdit(id) {
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("Edit", "Module", new { @area="PortalAdmin"})?Id=' + id;
        win.OpenWindow({ Title: 'Manage Module', Width: 450, Height: 800 });
        return false;
    }

    function OnDelete(id) {
        var flag = confirm('Do you really want to delete the Module?');

        if (flag) {
            $.ajax({
                url:'@Url.Action("Delete", "Module", new { @area= "PortalAdmin" })?Id=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    
                    if (result.success) {
                        getDataModule();
                        kendo.alert("Module Deleted Successfully.");
                    } else {
                        getDataModule();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    getDataModule();
                }
            });
            return false;
        }
    }

   function getDataModule() {
       document.getElementById("myGridModule").innerHTML = "";
       gridConfig(
           "myGridModule",
           "/PortalAdmin/Module/ReadData",
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }

</script>

<div>
    <h4>@ViewBag.Title</h4>

    <hr />


    <div class="row">
        <div class="col-12">
            <button type='button' class='btn btn-primary' onclick='OnCreateModule();'><i class='fa fas fa-plus'></i>&nbsp;Create Module</button>
            <br /><br />
            <div id="myGridModule" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>





  