@using Kendo.Mvc.UI;
@using Synergy.App.Common;
@model Synergy.App.ViewModel.UserHierarchyViewModel
@{
   // ViewBag.Title = "Manage Hierarchy Level";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<script>

    $(document).ready(function () {
        $("#AdminUserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level1ApproverOption1UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level1ApproverOption2UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level1ApproverOption3UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level2ApproverOption1UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level2ApproverOption2UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level2ApproverOption3UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level3ApproverOption1UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level3ApproverOption2UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level3ApproverOption3UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level4ApproverOption1UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level4ApproverOption2UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level4ApproverOption3UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level5ApproverOption1UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level5ApproverOption2UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });

        $("#Level5ApproverOption3UserId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/User/GetUserIdNameList",
                    }
                }
            }
        });
    });


</script>

@*@using (Ajax.BeginForm("Manage", "UserHierarchy",
    new AjaxOptions
    {
       OnBegin = "OnBegin",
       OnComplete = "OnComplete",
       OnSuccess = "OnSuccess",
       OnFailure = "OnError"
    }))*@
@*{
@Html.ValidationSummary(false, "", new { @class = "k-block k-error-colored mp-pad-5 hr-v-summary" })
@Html.AntiForgeryToken()*@
<div id="appWrapper">
    <div class="row hr-pad-top-15">
        <div class="form-group col-xs-12 col-sm-6">
            <div class="col-lg-3 label-div">
                @Html.LabelFor(m => m.EmployeeName, new { @class = "control-label" })
            </div>
            <div class="col-lg-9 label-div">
                <b>
                    @Html.DisplayFor(x => x.EmployeeName, new { @class = "form-control hr-xxx-large" })
                </b>
            </div>
        </div>
    </div>
    <div class="row hr-pad-top-10">
        <div class="form-group col-xs-12 col-sm-6">
            <div class="col-lg-3 label-div">
                @Html.LabelFor(m => m.HierarchyName, new { @class = "control-label" })
            </div>
            <div class="col-lg-9 label-div">
                @Html.DisplayFor(x => x.HierarchyName, new { @class = "form-control hr-xxx-large" })
            </div>
        </div>
    </div>
    <div class="row hr-pad-top-10">
        <div class="form-group col-xs-12 col-sm-6">
            <div class="col-lg-3 label-div">
                @Html.LabelFor(m => m.AdminUserId, new { @class = "control-label" })
            </div>
            <div class="col-lg-9">
                @*@(Html.Kendo().DropDownListFor(x => x.AdminUserId)
                                                .OptionLabel("Select")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                {
                                                   // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                   read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                                });
                                                })
                                                .DataTextField("Name")
                                                .DataValueField("Id")
                                                .Filter(FilterType.Contains)
                                                .AutoBind(true)
                                                .HtmlAttributes(new { @class = "hr-xxx-large" })
                                                )*@

                <input asp-for="AdminUserId" id="AdminUserId" class="hr-xxx-large" />

            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group col-xs-12 col-sm-3">
            <div class="col-xs-12 label-div">
                &nbsp;
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <div class="col-xs-12 label-div" style="text-align:center;">
                @Html.Label("Option 1")
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <div class="col-xs-12 label-div" style="text-align:center;">
                @Html.Label("Option 2")
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <div class="col-xs-12 label-div" style="text-align:center;">
                @Html.Label("Option 3")
            </div>
        </div>
    </div>
    <hr />
    @if (Model.Level1Name != null)
    {
        <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div">
                    @Html.DisplayFor(x => x.Level1Name)
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @*@(Html.Kendo().DropDownListFor(x => x.Level1ApproverOption1UserId)
      .OptionLabel("Select")
      .DataSource(source =>
      {
          source.Read(read =>
      {
        //  read.Action("GetIdNameList", "User", new { area = "Admin" });
         read.Action("GetUserIdNameList", "User", new { area = "CMS" });
      });
      })
      .DataTextField("Name")
      .DataValueField("Id")
      .Filter(FilterType.Contains)
      .AutoBind(true)
      .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level1ApproverOption1UserId" id="Level1ApproverOption1UserId" class="hr-xx-large" />


            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level1ApproverOption2UserId)
                                                                                                                                                        .OptionLabel("Select")
                     .DataSource(source =>
                     {
                         source.Read(read =>
                     {
                         //read.Action("GetIdNameList", "User", new { area = "Admin" });
                        read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                     });
                     })
                     .DataTextField("Name")
                     .DataValueField("Id")
                     .Filter(FilterType.Contains)
                     .AutoBind(true)
                     .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level1ApproverOption2UserId" id="Level1ApproverOption2UserId" class="hr-xx-large" />

            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level1ApproverOption3UserId)
                                                                                                                                                        .OptionLabel("Select")
                         .DataSource(source =>
                         {
                             source.Read(read =>
                         {
                            // read.Action("GetIdNameList", "User", new { area = "Admin" });
                            read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                         });
                         })
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Filter(FilterType.Contains)
                         .AutoBind(true)
                         .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level1ApproverOption3UserId" id="Level1ApproverOption3UserId" class="hr-xx-large" />

            </div>
        </div>
        <hr />
    }
    @if (Model.Level2Name != null)
    {
        <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div">
                    @Html.DisplayFor(x => x.Level2Name)
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level2ApproverOption1UserId)
                                            .OptionLabel("Select")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                            {
                                               // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                               read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                            });
                                            })
                                            .DataTextField("Name")
                                            .DataValueField("Id")
                                            .Filter(FilterType.Contains)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level2ApproverOption1UserId" id="Level2ApproverOption1UserId" class="hr-xx-large" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level2ApproverOption2UserId)
                           .OptionLabel("Select")
                           .DataSource(source =>
                           {
                               source.Read(read =>
                               {
                                   // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                  read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                               });
                           })
                           .DataTextField("Name")
                           .DataValueField("Id")
                           .Filter(FilterType.Contains)
                           .AutoBind(true)
                           .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level2ApproverOption2UserId" id="Level2ApproverOption2UserId" class="hr-xx-large" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level2ApproverOption3UserId)
                               .OptionLabel("Select")
                               .DataSource(source =>
                               {
                                   source.Read(read =>
                                   {
                                       // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                      read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                   });
                               })
                               .DataTextField("Name")
                               .DataValueField("Id")
                               .Filter(FilterType.Contains)
                               .AutoBind(true)
                               .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level2ApproverOption3UserId" id="Level2ApproverOption3UserId" class="hr-xx-large" />

            </div>
        </div>
        <hr />
    }
    @if (Model.Level3Name != null)
    {
        <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div">
                    @Html.DisplayFor(x => x.Level3Name)
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level3ApproverOption1UserId)
                                         .OptionLabel("Select")
                                         .DataSource(source =>
                                         {
                                             source.Read(read =>
                                             {
                                                 // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                             });
                                         })
                                         .DataTextField("Name")
                                         .DataValueField("Id")
                                         .Filter(FilterType.Contains)
                                         .AutoBind(true)
                                         .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level3ApproverOption1UserId" id="Level3ApproverOption1UserId" class="hr-xx-large" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level3ApproverOption2UserId)
                                        .OptionLabel("Select")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                               read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                            });
                                        })
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Filter(FilterType.Contains)
                                        .AutoBind(true)
                                        .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level3ApproverOption2UserId" id="Level3ApproverOption2UserId" class="hr-xx-large" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level3ApproverOption3UserId)
                                           .OptionLabel("Select")
                                           .DataSource(source =>
                                           {
                                               source.Read(read =>
                                               {
                                                   // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                  read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                               });
                                           })
                                           .DataTextField("Name")
                                           .DataValueField("Id")
                                           .Filter(FilterType.Contains)
                                           .AutoBind(true)
                                           .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level3ApproverOption3UserId" id="Level3ApproverOption3UserId" class="hr-xx-large" />
            </div>
        </div>
        <hr />
    }
    @if (Model.Level4Name != null)
    {
        <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div">
                    @Html.DisplayFor(x => x.Level4Name)
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level4ApproverOption1UserId)
                                             .OptionLabel("Select")
                                              .DataSource(source =>
                                              {
                                                  source.Read(read =>
                                                  {
                                                      // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                     read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                                  });
                                              })
                                              .DataTextField("Name")
                                              .DataValueField("Id")
                                              .Filter(FilterType.Contains)
                                              .AutoBind(true)
                                              .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level4ApproverOption1UserId" id="Level4ApproverOption1UserId" class="hr-xx-large" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level4ApproverOption2UserId)
                                      .OptionLabel("Select")
                                       .DataSource(source =>
                                       {
                                           source.Read(read =>
                                           {
                                               // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                              read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                           });
                                       })
                                       .DataTextField("Name")
                                       .DataValueField("Id")
                                       .Filter(FilterType.Contains)
                                       .AutoBind(true)
                                       .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level4ApproverOption2UserId" id="Level4ApproverOption2UserId" class="hr-xx-large" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level4ApproverOption3UserId)
                                            .OptionLabel("Select")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                   read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                                });
                                            })
                                            .DataTextField("Name")
                                            .DataValueField("Id")
                                            .Filter(FilterType.Contains)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level4ApproverOption3UserId" id="Level4ApproverOption3UserId" class="hr-xx-large" />
            </div>
        </div>
        <hr />
    }
    @if (Model.Level5Name != null)
    {
        <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
                <div class="col-xs-12 label-div">
                    @Html.DisplayFor(x => x.Level5Name)
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level5ApproverOption1UserId)
                                            .OptionLabel("Select")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                   read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                                });
                                            })
                                            .DataTextField("Name")
                                            .DataValueField("Id")
                                            .Filter(FilterType.Contains)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level5ApproverOption1UserId" id="Level5ApproverOption1UserId" class="hr-xx-large" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level5ApproverOption2UserId)
                                         .OptionLabel("Select")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                 read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                              });
                                          })
                                          .DataTextField("Name")
                                          .DataValueField("Id")
                                          .Filter(FilterType.Contains)
                                          .AutoBind(true)
                                          .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level5ApproverOption2UserId" id="Level5ApproverOption2UserId" class="hr-xx-large" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">

                @*@(Html.Kendo().DropDownListFor(x => x.Level5ApproverOption3UserId)
                                                       .OptionLabel("Select")
                                                       .DataSource(source =>
                                                       {
                                                           source.Read(read =>
                                                           {
                                                               // read.Action("GetIdNameList", "User", new { area = "Admin" });
                                                               read.Action("GetUserIdNameList", "User", new { area = "CMS" });
                                                           });
                                                       })
                                                       .DataTextField("Name")
                                                       .DataValueField("Id")
                                                       .Filter(FilterType.Contains)
                                                       .AutoBind(true)
                                                       .HtmlAttributes(new { @class = "hr-xx-large" }))*@

                <input asp-for="Level5ApproverOption3UserId" id="Level5ApproverOption3UserId" class="hr-xx-large" />
            </div>
        </div>
    }





    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <div class="col-lg-3 label-div">
                * Required fields
            </div>
            <div class="col-lg-9">
                &nbsp;
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <div class="col-lg-3 label-div">
                &nbsp;
            </div>
            <div class="col-lg-9">
                @*@if (Model.RequestSource == "WorkStructure")
                    {
                        @Html.Kendo().Button().Name("btnCancel").Content("Close").Icon("cancel").Events(x => x.Click("OnCancel")).HtmlAttributes(new { @type = "button", param = Model.ReturnUrl })
                    }
                    else
                    {
                        @Html.Kendo().Button().Name("btnCancel").Content("Cancel").Icon("cancel").Events(x => x.Click("OnCancel")).HtmlAttributes(new { @type = "button" })

                    }
                    @Html.Kendo().Button().Name("btnSubmit").Content(Model.SubmitButtonText).Icon("check-outline").HtmlAttributes(new { @class = "k-primary" })*@
            </div>
        </div>

    </div>
    @*@Html.HiddenFor(x => x.Operation)*@
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.HierarchyId)
    @Html.HiddenFor(x => x.UserIds)
    @Html.HiddenFor(x => x.UserLevels)
    @*@Html.HiddenFor(x => x.RequestSource)
        @Html.HiddenFor(x => x.ReturnUrl)*@
</div>

<script type="text/javascript">
    function OnSuccess(response) {
        if (response.success) {
            //window.parent.Close(true, response.operation)

            var win = GetMainWindow();
            win.CloseWindow(true, response.operation);
          
        }
        else {
            ShowErrors(response.errors);
        }
    }
    function OnCancel(e) {
        //window.parent.Close(false);
        var win = GetMainWindow();
        win.CloseWindow(false);
     
    }
    function FilterGrid() {
        return {
            hierarchyId: $("#HierarchyId").val()
        };
    }

    function OnDataBound(arg) {
        $(".k-grid .k-grid-Edit span").addClass("k-icon k-edit");


        $(".canEdit").bind("change", function (e) {
            OnEditSelection(e.target);
        });
    }

    function OnEditSelection(element) {

        var grid = $("#kgrdHierarchyLevel").data("kendoGrid");

        dataItem = grid.dataItem($(element).closest("tr"));
        //dataItem.set("OptionName1", "Noor");
    }

    var dataItem; //This should be Global variable
    function getParentID() {
        var row = $(event.srcElement).closest("tr");
        var grid = $(event.srcElement).closest("[data-role=grid]").data("kendoGrid");
        dataItem = grid.dataItem(row);
        var arr = [];
        $(dataItem.AvailableValues).each(function () {
            arr.push(this);
        });
        return { values: arr };
    }

    function onSelect(e) {
        alert(e.val());
        var selectedValue = this.dataItem(e.item.index()).Value;
        if (dataItem != null) {
            dataItem.SelectedValue = selectedValue;
        }
    }
    function ShowErrors(err) {
        $(".hr-v-summary").removeClass("validation-summary-valid");
        $(".hr-v-summary").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $(".hr-v-summary ul").html(msg);
    }
</script>
