
@using Synergy.App.ViewModel;
@using Synergy.App.Common
@model StepTaskSkipLogicViewModel
@{
    Layout = "/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
    /* Remove default bullets */
    ul, #myUL {
        list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
        margin: 0;
        padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

        /* Create the caret/arrow with a unicode, and style it */
        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }

    .align {
        text-align: center;
    }

    .splitter-container, .splitter-container1, .splitter-container2, .splitter-container3 {
        height: 750px;
        width: 100%;
    }

    .left {
        min-width: 200px;
        max-width: 600px;
    }

    .splitter-container {
        height: 100vh !important;
    }

    .k-switch-container {
        font-size: x-small !important;
        font-weight: bold;
    }

    .k-widget.k-switch-on .k-switch-container,
    /* override the mouse over selector */
    .k-switch-on:hover .k-switch-container {
        background-color: red;
        color: #fff;
    }

    .k-widget.k-switch-off .k-switch-container,
    /* override the mouse over selector */
    .k-switch-off:hover .k-switch-container {
        background-color: green;
    }

    .k-switch-label-on, .k-switch-label-off {
        display: block;
    }

    .bre-badge {
        padding: 10px;
        /*padding-bottom: 20px;*/
    }
</style>
<div class="text-danger" asp-validation-summary="All"></div>
<div class="row no-gutters pad-10">
    <div class="col-12 pad-10">
        <div class="form-label-group">
            <input asp-for="Name" type="text" class="form-control" placeholder="Name" required="required" autocomplete="off" />
            <label for="Name">Name</label>
        </div>
    </div>
    <div class=" col-12 pad-10">
       
        <div class="form-label-group">
            <input asp-for="SequenceOrder" type="text" class="form-control" placeholder="SequenceOrder" required="required" autocomplete="off" />
            <label for="Name">SequenceOrder</label>
        </div>
    </div>
    <div class=" col-12 pad-10">
       
        <div class="form-label-group">
            <input asp-for="ExecutionLogic" type="text" class="form-control" placeholder="ExecutionLogic" required="required" autocomplete="off" />
            <label for="ExecutionLogic">ExecutionLogic</label>
        </div>
    </div>
    <div class=" col-12 pad-10">
       
        <div class="form-label-group">
            <input asp-for="ExecutionLogicDisplay" type="text" class="form-control" placeholder="ExecutionLogicDisplay" required="required" autocomplete="off" />
            <label for="ExecutionLogicDisplay">ExecutionLogicDisplay</label>
        </div>
    </div>
    <div class=" col-12 pad-10">
        <input type="checkbox" asp-for="SuccessResult" />
        <label>Success Result</label>

    </div>
   
</div>
<br />
<div id="basicDecision">
   

    <div id="ruletreeview"></div>





<button type="button" class="btn btn-success" id="btnSave" style="float:right;" onclick="CreateDecisionNode(event)">Save</button>


    <script id="treeview-template" type="text/kendo-ui-template">
    # if (item.Condition!=null && item.Condition!="") { #
    <div class="row">
        <div class="col-12 bre-switch">
            @*<span class="bre-badge badge badge-warning" onclick="editGroup('#:item.id#')"><i class="fas fa-edit"></i></span>*@
            # if (item.Condition=='And') { #
            <span class="bre-badge badge badge-info" onclick="editGroup('#:item.id#','#:item.DecisionScriptComponentId#')">#: item.Condition#</span>
            # } else {#
            <span class="bre-badge badge badge-info" onclick="editGroup('#:item.id#','#:item.DecisionScriptComponentId#')">#: item.Condition#</span>
            # } #
            <span class="bre-badge badge badge-danger" onclick="addGroup('#:item.id#','#:item.DecisionScriptComponentId#')"><i class="far fa-plus-circle"></i> Add Group</span>
            <span class="bre-badge badge badge-danger" onclick="addCondition('#:item.id#','#:item.DecisionScriptComponentId#')"><i class="far fa-plus-circle"></i> Add Condition</span>
            @*<i class="fas fa-edit" onclick="editGroup('#:item.id#')" title="Edit Group"></i>*@
            #if(item.ParentId!=null){#
            <i class="fas fa-trash" onclick="removeGroup('#:item.id#')" title="Remove Group"></i>
            #}#

        </div>
    </div>
    # } else {#
    <div class="row" style="min-width:650px;">

        @*<span class="bre-badge badge badge-warning" onclick="editCondition('#:item.id#')"><i class="fas fa-edit"></i></span>*@


        @*<div class="col-3">
            <span class="bre-badge badge badge-primary" style="width:170px;overflow-wrap:break-word !important;white-space:normal !important;">#: item.FieldSourceTypeStr# . #: item.Field#</span>

        </div>*@

        @*<div class="col-3">
            <span class="bre-badge badge badge-success" style="width:170px;overflow-wrap:break-word !important;white-space:normal !important;">#: item.OperatorType#</span>
        </div>
        <div class="col-3">
            <span class="bre-badge badge badge-primary" style="width:170px;overflow-wrap:break-word !important;white-space:normal !important;">#: item.ValueSourceTypeStr# . #: item.Value#</span>
        </div>*@
     <div class="col-9" @*style="display:flex;margin-right:25px"*@>
            <span class="bre-badge badge badge-primary" style="width:100%;overflow-wrap:break-word !important;white-space:normal !important;">#: item.OperationValue#</span>
        </div>
     <div class="col-1">
       <span> <i class="fas fa-edit" onclick="editCondition('#:item.id#','#:item.DecisionScriptComponentId#')" title="Edit Condition"></i></span>
     </div>
        #if(item.ParentId!=null){#
     <div class="col-1">
       <span> <i class="fas fa-trash" onclick="removeCondition('#:item.id#')" title="Remove Condition"></i></span>
     </div>
    <div class="col-1"></div>
        #}#

    </div>
    # } #
    @*<span data-id="#:item.id#" data-type="#:item.ItemType#" class="tree-menu"><i class="fa fa-ellipsis-h"></i></span>*@

    </script>




</div>
<br />
<div id="custom" style="display:none;padding:10px">
    <div class="row no-gutters">
        <div class="col-12">
            <span style="color:#0E00FF">public&nbsp;bool</span>&nbsp;<span style="color:#74531F;">DecisionScript</span>&nbsp;(<span style="color:#2B91AF">TaskTemplateViewModel</span>&nbsp;<span style="color:#1F377F">taskViewModel</span>,&nbsp;<span style="color:#2B91AF">ServiceTemplateViewModel</span> <span style="color:#1F377F">serviceViewModel</span>, <span style="color:#2B91AF">NoteTemplateViewModel</span> <span style="color:#1F377F">noteViewModel</span>, <span style="color:#2B91AF">Dictionary<span style="color:#0E00FF">&lt;string, object&gt;</span></span> <span>udf</span> )
            {
            <div class="form-label-group">
                <textarea id="Script" name="w3review" rows="20" cols="50" style="width:100%"></textarea>
            </div>
            }
        </div>

    </div>
   
        <button type="button" class="btn btn-success" id="btnSave" style="float:right;" onclick="CreateDecisionNode(event)">Save</button>
    
   
</div>



@Html.HiddenFor(x => x.StepTaskComponentId)
@Html.HiddenFor(x => x.Id)
<script>


    $(document).ready(function () {
       // OnBusinessRuleLogicType();
        readRuleTreeData();
    });



    function readRuleTreeData() {
        document.getElementById('ruletreeview').innerHTML = "";
        ShowLoader($('#maindiv'));
        $.ajax({
            url: '/bre/bre/GetBusinessRuleModelListForStepTaskAssigneeLogicNew?nodeId=@Model.Id&stepTaskComponentId=@Model.StepTaskComponentId',
            dataType: "json",
            success: function (result) {

                var root = document.getElementById('ruletreeview');
                var parent = result.filter(x => x.ParentId == null);
                for (var i = 0; i <= parent.length - 1; i++) {
                    var data = parent[i];
                   createTreeList(data, root, result, null);
                }

                var toggler = document.getElementsByClassName("caret");
                var i;

                for (i = 0; i < toggler.length; i++) {
                    toggler[i].addEventListener("click", function () {
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("caret-down");
                    });
                }
                HideLoader($('#maindiv'));

            }
        });
    }

    function createTreeList(data, root, result, ul) {

        var child = [];
       // if (data.ParentId == null) {
            child = searchChild(data.id, result, root);
        //} else {
        //    chid = [];
        //}
        if (ul == null) {
             ul = document.createElement('ul');
        }
       // li.classList.add("nested");
        var li = document.createElement('li');
        if (child.length > 0) {
            li.classList.add("caret");
        }
        var p1 = "";
        var p2 = "";
        var p3 = "";
        var p4 = "";
        var p5 = "";

        if (data.Condition == "And") {

            p2 = "<span class='bre-badge badge badge-info' onclick='editGroup(\"" + data.id + "\",\"" + data.DecisionScriptComponentId + "\")'>" + data.Condition + "</span>";

        } else {
            p2 = "<span class='bre-badge badge badge-info' onclick='editGroup(\"" + data.id + "\",\"" + data.DecisionScriptComponentId + "\")'>" + data.Condition + "</span>";

        }


        if (data.Condition != null && data.Condition != "") {
            p1 = "<div class='row'>" +
                "<div class='col-12 bre-switch' > " + p2 +
                "<span class='bre-badge badge badge-danger' onclick='addGroup(\"" + data.id + "\",\"" + data.DecisionScriptComponentId + "\")' > <i class='far fa-plus-circle'></i> Add Group</span >" +
                "<span class='bre-badge badge badge-danger' onclick='addCondition(\"" + data.id + "\",\"" + data.DecisionScriptComponentId + "\")'><i class='far fa-plus-circle'></i> Add Condition</span>";
            if (data.ParentId != null) {
                p1 = p1 + "<i class='fas fa-trash' onclick='removeGroup(\"" + data.id + "\")' title='Remove Group' ></i >";

            }
            p1 = p1 + "</div ></div><br/>";
        } else {
           p1 = "<div class='col-9' >" +
                "       <span class='bre-badge badge badge-primary' style='width:100%;overflow-wrap:break-word !important;white-space:normal !important;'>"+ data.OperationValue + "</span>" +
                "   </div>" +
                "<div class='col-1'>" +
               "  <span> <i class='fas fa-edit' onclick='editCondition(\"" + data.id + "\",\"" + data.DecisionScriptComponentId + "\")' title='Edit Condition'></i></span>" +
                "</div>";
        if(data.ParentId != null) {
            p1 = p1 + "<div class='col-1'>" +
                "<span> <i class='fas fa-trash' onclick='removeCondition(\"" + data.id + "\")' title='Remove Condition'></i></span>" +
                "</div>" +
                "<div class='col-1'></div>";

            }

            p1 = p1 + "</div ><br/>";
        }

        li.innerHTML = p1;
        ul.appendChild(li);
        root.appendChild(ul);

        if (child != [])
        {
            var ul = document.createElement('ul');
            ul.classList.add("nested");
           // ul.classList.add("active");
            for (var x = 0; x <= child.length - 1; x++)
            {
                createTreeList(child[x], li, result, ul);
            }
        }
       // return root;
    }

    function searchChild(nameKey, myArray) {
        var newArray  = [];
        for (var i = 0; i < myArray.length; i++) {
            if (myArray[i].ParentId === nameKey) {
                newArray.push( myArray[i]);
            }
        }
        return newArray;
    }



    function OnBusinessRuleLogicType() {
        //var re = $("#BusinessRuleLogicType").data("kendoDropDownList").value();
        @*if (re == '@BusinessRuleLogicTypeEnum.Custom') {*@
           // document.getElementById("basicDecision").style.display = "none";
          //  document.getElementById("custom").style.display = "";
       // } else {
            document.getElementById("basicDecision").style.display = "";
            document.getElementById("custom").style.display = "none";
        //}
    }

    function SaveWorkFlowDecision(evt)
    {
        if ($("#Name").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Name is required");
            evt.preventDefault();
            return false;
        }
        else
        {
             $.ajax({
            url: '/cms/ProcessDesign/CreateComponent',
            type: "POST",
            data:
            {
                Id:'@Model.Id',
                ComponentType: "DecisionScript",
                Name: $("#Name").val(),
                ParentId: $("#DecisionParentId").val(),
                TemplateId: $("#TemplateId").val(),
                DecisionScriptComponentId: $("#DecisionScriptComponentId").val(),
                Script: document.getElementById("Script").value,
                BusinessRuleLogicType: $("#BusinessRuleLogicType").data("kendoDropDownList").value()
            },
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    var win = GetMainWindow();
                    //win.CloseWindow({ MethodName: "CallBackMethod" });
                    win.CloseWindow({ MethodName: "TemplateChangeCallback", Prms: { TemplateId: $("#TemplateId").val() }});
                }
            }
        });
        }

    }
    function CreateDecisionNode(evt)
    {
        if ($("#Name").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Name is required");
            evt.preventDefault();
            return false;
        }
        else {
            $.ajax({
                url: '/Cms/ProcessDesign/ManageStepTaskSkipLogic',
                type: "POST",
                data:
                {
                    Id: '@Model.Id',
                    StepTaskComponentId: $("#StepTaskComponentId").val(),
                    Name: $("#Name").val(),
                    SequenceOrder: $("#SequenceOrder").val(),
                    ExecutionLogicDisplay: $("#ExecutionLogicDisplay").val(),
                    ExecutionLogic: $("#ExecutionLogic").val(),
                    SuccessResult: $('#SuccessResult').is(":checked"),
                    DataAction: '@Model.DataAction'
                },
                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        var win = GetMainWindow();
                        win.CloseWindow({ MethodName: "GetStepTaskSkipLogic" } );

                    }
                }
            });
        }
    }
    function reloadtreeview() {

        readRuleTreeData();
    }

    function OnSelect(e) {
        e.preventDefault();
    }
    function addGroup(id, decisionScriptComponentId) {


        var data1 =  {"DataAction":"Create", "DecisionNodeId":'@Model.Id', "ParentRuleId":id, "Condition":"And","RuleId":'@ViewBag.ruleId'};

                 $.ajax({

            type: 'POST',
            url: '/Bre/BusinessRule/CreateBusinessRuleBuilderGroup?dataAction=Create&nodeId=@Model.Id&parentId=' + id + '&condition=And"+"&ruleId=@ViewBag.ruleId',
            contentType: 'application/json; charset=utf-8',

                                                dataType: 'json',
                                                success: function (response)
                                                {

                                                    readRuleTreeData();
                                                },
                                                error: function (error) {
                                                    alert("error")
                                                }
                                            });
        }




    function addCondition(id, decisionScriptComponentId) {


            var win = GetMainWindow();
            win.iframeOpenUrl =  "/Bre/BusinessRule/AddConditionForStepTaskAssigneeLogic?nodeId=@Model.Id&parentId=" + id + "&dataAction=Create&ruleId=@ViewBag.ruleId&templateId=@Model.TemplateId&referenceId=@Model.Id";
            win.OpenWindow({
                Title: 'Add Condition', Width: 1000, Height: 700 });


    }
    function editGroup(id, decisionScriptComponentId) {



            $.ajax({

                type: 'POST',
                url: '/Bre/BusinessRule/CreateBusinessRuleBuilderGroup?dataAction=Edit&id=' + id + "&decisionScriptComponetId=" + decisionScriptComponentId,
                contentType: 'application/json; cCustomarset=utf-8',

                dataType: 'json',
                success: function (response) {

                    readRuleTreeData();
                },
                error: function (error) {
                    alert("error")
                }
            });


    }
    function editCondition(id, decisionScriptComponentId) {

            var win = GetMainWindow();
            @*win.iframeOpenUrl = "/Bre/BusinessRule/AddCondition?id=" + id + "&templateId=@Model.TemplateId&decisionScriptComponentId=" + decisionScriptComponentId;
            win.OpenWindow({ Title: 'View Details', Width: 1000, Height: 600, });*@


    }
     function removeGroup(id)
    {
         var flag = confirm('Do you really want to delete');
                                        if (flag) {
                                            $.ajax({

                                                type: 'GET',
                                                url: '/Bre/breRuleModel/RemoveGroup?id=' + id,
                                                contentType: 'application/json; charset=utf-8',
                                                dataType: 'json',
                                                success: function (response)
                                                {
                                                   // $("#treeview").data("kendoTreeView").dataSource.read({  nodeId:'@Model.Id' });
                                                    readRuleTreeData();
                                                },
                                                error: function (error) {
                                                    alert("error")
                                                }
                                            });
                                        }
    }
    function removeCondition(id) {
        var flag = confirm('Do you really want to delete');
        if (flag) {
            $.ajax({
                type: 'GET',
                url: '/Bre/breRuleModel/RemoveCondition?id=' + id,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response)
                {
                  //  $("#treeview").data("kendoTreeView").dataSource.read({ nodeId: '@Model.Id' });
                    readRuleTreeData();
                },
                error: function (error) {
                    alert("error")
                }
            });
        }
    }
</script>
