@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model DynamicReportViewModel
@{
	ViewData["Title"] = "Report";
	//Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
	Layout = null;
	
}



<style>	
	#ReportDashboardItem{
		font-size:14px;
	}
	.cms-footer {
		position: unset !important;
		background-color: unset !important;
	}

	.rules-group-container {
		width: 100%;
	}
	.pad-10{
		padding-top: 15px;
	}
</style>
<script>


	$(document).ready(function() {
		loadMeasureDdl();
		loadDimensionsMdl();
		loadFilterTypeDll();		
		loadTimeDimensionDll();
		$("#startDate").kendoDatePicker();
		$("#endDate").kendoDatePicker();
	});
	function onChangeMeasures() {        
        $("#dimensionsField").data("kendoMultiSelect").dataSource.read();        
		$("#timeField").data("kendoDropDownList").dataSource.read();
		var str = $("#measuresField").data("kendoDropDownList").value();
		loadFilters(str);
		loadOrders(str);       
        
	}
function setDimensionValues() {	     
    var dd = $("#dimensionsField").data("kendoMultiSelect");
	var dt = dd.dataSource._data;
    if (dt.length > 0) {
        var kd = dt.map(a => a.name);		
	}
}
	function loadFilters(str) {
		var result = $('#builderFilter').html();
		if (!$.isEmptyObject(result)) {
			$('#builderFilter').queryBuilder('reset');
			$.ajax({
				url: '@Url.Action("GetDimensionsColumnData", "IIPPHQ", new { @area="CMS"})?measure=' + str,
				type: 'GET',
				success: function(res) {
					$('#builderFilter').queryBuilder('setFilters', res);
                    
				},
				error: function(ert) {

				}
			});
		}
		else {
			$.ajax({
				url: '@Url.Action("GetDimensionsColumnData", "IIPPHQ", new { @area="CMS"})?measure=' + str,
				type: 'GET',
				success: function(result) {
					$('#builderFilter').queryBuilder({
						operators: [
							{ type: 'contains', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'notContains', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'equals', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'notEquals', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'set', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'notSet', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'inDateRange', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'notInDateRange', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'afterDate', nb_inputs: 1, multiple: true, apply_to: ['string'] },
							{ type: 'beforeDate', nb_inputs: 1, multiple: true, apply_to: ['string'] },

						],
						filters: result
					});
					
				},
				error: function(ert) {

				}
			});
		}
	}
	function loadOrders(str) {
		var result = $('#builderOrder').html();
		if (!$.isEmptyObject(result)) {
			$('#builderOrder').queryBuilder('reset');
			$.ajax({
				url: '@Url.Action("GetOrderDimensionsColumnData", "IIPPHQ", new { @area="CMS"})?measure=' + str,
				type: 'GET',
				success: function(res) {
					$('#builderOrder').queryBuilder('setFilters', res);
				},
				error: function(ert) {

				}
			});
		}
		else {
			$.ajax({
				url: '@Url.Action("GetOrderDimensionsColumnData", "IIPPHQ", new { @area="CMS"})?measure=' + str,
				type: 'GET',
				success: function(result) {
					debugger;
					$('#builderOrder').queryBuilder({
						operators: [
							{ type: 'asc', nb_inputs: 0, multiple: false, apply_to: ['string'] },
							{ type: 'desc', nb_inputs: 0, multiple: false, apply_to: ['string'] },
							{ type: 'none', nb_inputs: 0, multiple: false, apply_to: ['string'] },

						],
						filters: result
					});
				},
				error: function(ert) {

				}
			});
		}

	}		
	function FilterDimDdl() {
		var mes = $("#measuresField").data("kendoDropDownList").value();
		return {
			measure: mes
		};
	}
	function loadMeasureDdl() {
		$("#measuresField").kendoDropDownList({
			dataTextField: "title",
			dataValueField: "name",
			filter: "contains",
			change: onChangeMeasures,
			optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
			dataSource: {
				serverFiltering: false,
				transport: {
					read: {
						url: "/CMS/IIPPHQ/GetMeasuresData",
					}
				}
			}
		});
	}
	function loadDimensionsMdl() {
		$("#dimensionsField").kendoMultiSelect({
			placeholder: "Select Dimensions...",
			dataTextField: "title",
			dataValueField: "name",					
			dataSource: {
				serverFiltering: false,
				transport: {
					read: {
						url: "/Cms/BusinessAnalytics/GetDimensionsData",
						data: function() {
							return FilterDimDdl();
						},
					}
				}
			}
		});
	}
	function loadFilterTypeDll() {
		$("#rangeType").kendoDropDownList({
			dataTextField: "Name",
			dataValueField: "Id",
			change: onDateFilterchange,
			value:"AllTime",
			dataSource: [
				{ Name: "All Time", Id: "AllTime" },
				{ Name: "Today", Id: "Today" },
				{ Name: "Yesterday", Id: "Yesterday" },
				{ Name: "This Week", Id: "This Week" },
				{ Name: "This Month", Id: "This Month" },
				{ Name: "This Year", Id: "This Year" },
				{ Name: "Last 7 Days", Id: "Last 7 Days" },
				{ Name: "Last 30 Days", Id: "Last 30 Days" },
				{ Name: "Last Week", Id: "Last Week" },
				{ Name: "Last Month", Id: "Last Month" },
				{ Name: "Last Year", Id: "Last Year" },
				{ Name: "Last 5 Minutes", Id: "Last 5 Minutes" },
				{ Name: "Last 15 Minutes", Id: "Last 15 Minutes" },
				{ Name: "Last 30 Minutes", Id: "Last 30 Minutes" },
				{ Name: "Last 1 Hours", Id: "Last 1 Hours" },
				{ Name: "Last 4 Hours", Id: "Last 4 Hours" },
				{ Name: "Last 8 Hours", Id: "Last 8 Hours" },
				{ Name: "Last 12 Hours", Id: "Last 12 Hours" },
				{ Name: "Last 24 Hours", Id: "Last 24 Hours" },
				{ Name: "Custom", Id: "Custom" },
			],
		});
	}	
	function loadTimeDimensionDll() {
		$("#timeField").kendoDropDownList({
			dataTextField: "title",
			dataValueField: "name",
			dataSource: {
				serverFiltering: false,
				transport: {
					read: {
						url: "/Cms/IIPPHQ/GetTimeDimensionsData",
						data: function() {
							return FilterDimDdl();
						}
					}
				},
			},
			optionLabel: "Select Time Column",
			filter: '@FilterType.Contains',
		}).data("kendoDropDownList");
	}
	function onDateFilterchange() {
		var filter = $("#rangeType").data("kendoDropDownList").value();
		if (filter == "Custom") {
			$("#divStart").show();
			$("#divEnd").show();
		} else {
			$("#divStart").hide();
			$("#divEnd").hide();
		}
	}
	function SaveData() {
		debugger;
		//ShowLoader($('#ReportDashboardItem'));        
		if ($('#builderFilter').html() != null && $('#builderFilter').html() != '' && $('#builderFilter').html().includes("rule-header")) {
			var result = $('#builderFilter').queryBuilder('getRules');
			if (!$.isEmptyObject(result)) {
				var json = JSON.stringify(result, null, 2);
				$("#filters").val(json);
			}
		}
		else{
			$("#filters").val(null);
		}
		if ($('#builderOrder').html() != null && $('#builderOrder').html() != '' && $('#builderOrder').html().includes("rule-header")) {
			var result = $('#builderOrder').queryBuilder('getRules');
			if (!$.isEmptyObject(result)) {
				var json = JSON.stringify(result, null, 2);
				$("#orders").val(json);
			}
			else{
				$("#orders").val(null);
			}
		}
		else{
				$("#orders").val(null);
		}
		var dd = $("#dimensionsField").data("kendoMultiSelect");
		var dt = dd.dataSource._data;
		if (dt.length > 0) {
			var kd = dt.map(a => a.name);
			var json = JSON.stringify(kd);
			$("#dimensionsField").val(json);
		}
		var url = "@Url.Action("RenderCubeJsDynamicReport", "IIPPHQ", new { @area = "Cms" })";
        var model = {measuresField:$("#measuresField").val(), dimensionsField: $("#dimensionsField").val(),timeField:$("#timeField").val(),rangeType:$("#rangeType").val(),
		startDate:$("#startDate").val(),endDate:$("#endDate").val(),limit:$("#limit").val(),filters:$("#filters").val(),orders:$("#orders").val()};
		$("#divDynamicReport").load(url,model,
        function () { });
	}
		
	
</script>


<div class="row  pad-10 no-gutters" id="ReportDashboardItem">
	<div class="card-header" style="padding:10px;width: 100%;">
		<div class="row">
			<div class="col-3 pad-10">
				<div class="form-label-group">
					<div>
						<label>Data Source Type</label>
					</div>
					<input asp-for="measuresField" id="measuresField" class="form-control" style="width:100%" />
				</div>
			</div>
			<div class="col-3 pad-10" style="display:none">
				<div>
					<label>Columns</label><i class="fa fa-refresh" style="margin-left: 20px;" onclick="setDimensionValues()" title="Click to Select All"></i>
				</div>
				<input asp-for="dimensionsField" id="dimensionsField" class="form-control" style="width:100%" />
			</div>
			<div class="col-3 pad-10">
				<div class="form-label-group">
					<div>
						<label>Time Filter</label>
					</div>
					<input asp-for="timeField" id="timeField" class="form-control" style="width: 100%" />
				</div>
			</div>
			<div class="col-2 pad-10">
				<div class="form-label-group">
					<div>
						<label>Time Range</label>
					</div>
					<input asp-for="rangeType" id="rangeType" style="width: 100%" />
				</div>
			</div>
			<div class="col-2 pad-10" id="divStart" style="display:none">
				<div class="form-label-group">
					<div>
						<label>Start Date</label>
					</div>
					<input id="startDate" style="width: 100%" />
				</div>
				
			</div>
			<div class="col-2 pad-10" id="divEnd" style="display:none">
				<div class="form-label-group">
					<div>
						<label>End Date</label>
					</div>
					<input id="endDate" style="width: 100%" />
				</div>
				
			</div>			
			<div class="col-1 pad-10">
				<div class="form-label-group">
					<div>
						<label>Limit</label>
					</div>
					<input type="number" style="height: calc(1.5rem + 2px);" id="limit" value="20" class="form-control" />

				</div>
			</div>		
			</div>
			<div class="row">
			<div class="col-6 pad-10" id="filter">
				<label>Filters</label>
				<div id="builderFilter"></div>
			</div>			
			<div class="col-6 pad-10" id="filter">
				<label>Order</label>
				<div id="builderOrder"></div>
			</div>
			</div>
		@Html.HiddenFor(x => x.filters)
		@Html.HiddenFor(x => x.orders)
		<div class="cms-footer">
			<input type="button" class="btn btn-primary" value="Search" onclick="SaveData()" />
		</div>
	</div>
	<div class="card-header" style="padding:10px;width: 100%;">
		<div class="row">
			<div class="col-12">
				<div id="divDynamicReport">
			</div>
		</div>
	</div>
</div>










