@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model DashboardItemMasterViewModel
@{
    ViewData["Title"] = "Report Item";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}



<style>
    .cms-footer {
        position: unset !important;
        background-color: unset !important;
    }
    .rules-group-container {
        width: 100%;
    }
</style>
<script>


    $(document).ready(function () {
        $('.html-chart-content').richText();
        loadMeasureDdl();
        loadChartTypeDdl();
        loadDimensionsMdl();
        loadXaxisDdl();
        loadYaxisDdl();
        loadCountDdl();
        loadThemeModelDll();
        loadPaletteDll();
        loadFilterTypeDll();
        loadGranularityDll();
        loadTimeDimensionDll();
        if ($("#chartMetadata").val() == "") {
            var metadata = "measures: [],dimensions: [],filters: [],timeDimensions:[]";
            $("#chartMetadata").val(metadata);
        }
        if ($("#onChartClickFunction").val() == "") {
            var chartClickFunction = " function OnSeriesClick(args) {}";
            $("#onChartClickFunction").val(chartClickFunction);
        }
        if ('@Model.DataAction' == '@DataActionEnum.Edit' && '@Model.filters'!="[]") {
              $.ajax({
                url: '@Url.Action("GetDimensionsColumnData", "BusinessAnalytics", new { @area="CMS"})?measure=@Model.measuresField',
                type: 'GET',
                success: function (result) {
                    $('#builderFilter').queryBuilder({
                        operators: [
                            { type: 'contains', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notContains', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'equals', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notEquals', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'set', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notSet', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'inDateRange', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notInDateRange', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'afterDate', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'beforeDate', nb_inputs: 2, multiple: true, apply_to: ['string'] },

                        ],
                        filters: result,
                        rules: @Html.Raw(Model.filters),
                    });
                },
                error: function (ert) {

                }
            });


        }
    });
    function onSelect(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;
            $.ajax({
                url: '@Url.Action("GetChartTemplate", "BusinessAnalytics", new { @area="CMS"})?id=' + dataItem.Id,
                                        type: 'GET',
                success: function (result) {
                    if (result != null && result.Code != null) {
                                                $("#dimesionNoteDiv").show();
                                                $("#dimNote").html(result.Code);
                                            }
                                            else {
                        $("#dimesionNoteDiv").hide();
                                            }
                                        },
                                        error: function (ert) {

                                        }
                                    });
        }

    };
    //function OnClear() {
    //    $("#Grid").data("kendoGrid").dataSource.data([]);
    //    var chartMetadata = $("#chartMetadata").val();
    //    var result = chartMetadata.split('],');
    //    var finalResult = result[0] + "]," + result[1] + "],filters: []," + result[3];
    //    $("#chartMetadata").val(finalResult);
    //}
    //function OnTimeDimensionsClear() {
    //    $("#TimeDimensionsGrid").data("kendoGrid").dataSource.data([]);
    //    var chartMetadata = $("#chartMetadata").val();
    //    var result = chartMetadata.split('],');
    //    var finalResult = result[0] + "]," + result[1] + "]," + result[2] + "],timeDimensions: []";
    //    $("#chartMetadata").val(finalResult);
    //}
    var onAjaxSuccess = function (res) {       
        if (res.success) {            
            if ('@Model.DataAction'=='@DataActionEnum.Create')
            {
                ShowNotification("Saved Successfully", "success");
                var library = $('#isLibrary').val();
                closeNavMember(res.name, res.id, library);
            }
            if ('@Model.DataAction'=='@DataActionEnum.Edit')
            {
                ShowNotification("Updated Successfully", "success");
                var library = $('#isLibrary').val();
                closeNavMember(res.name, res.id, library);
            }
        }
        else {           
            showError(res.error);
        }
        HideLoader($('#ReportDashboardItem'));
    };
     
    function OnError(e) {
        
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    var showError = function (error) {
        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
    //function onFilterGridSave(arg) {
    //    var filters = "filters: [";
    //    var datasource = $("#Grid").data("kendoGrid").dataSource.data();
    //    for (var i = 0; i < datasource.length; i++) {
    //        var item = datasource[i];
    //        var filter = "{\"member\": \"" + item.FilterField + "\",\"operator\": \"" + item.FilterOperator + "\",\"values\": [" + item.FilterText+"]},";
    //        filters += filter;
    //    }
    //    filters += "]";
    //    var chartMetadata = $("#chartMetadata").val();
    //    var result = chartMetadata.split('],');
    //    //var finalResult = result[0] + "]," + result[1] + "]," + result[2] + "]," + filters;
    //    var finalResult = result[0] + "]," + result[1] + "]," + filters + "," + result[3];
    //    $("#chartMetadata").val(finalResult);


    //}
    function onChangeMeasures() {
         $("#dimensionsField").data("kendoMultiSelect").dataSource.read();
        $("#Xaxis").data("kendoDropDownList").dataSource.read();
        $("#Yaxis").data("kendoDropDownList").dataSource.read();
        $("#Count").data("kendoDropDownList").dataSource.read();
        $("#timeField").data("kendoDropDownList").dataSource.read();
        var str = $("#measuresField").data("kendoDropDownList").value();
        var chartMetadata = $("#chartMetadata").val();
        var result = chartMetadata.split('],');
        var finalResult = "measures: [\"" + str + "\"]," + result[1] + "]," + result[2] + "]," + result[3];
        $("#chartMetadata").val(finalResult);
        var result = $('#builderFilter').html();
        if (!$.isEmptyObject(result)) {
            $('#builderFilter').queryBuilder('reset');
            $.ajax({
                url: '@Url.Action("GetDimensionsColumnData", "BusinessAnalytics", new { @area="CMS"})?measure=' + str,
                type: 'GET',
                success: function (res) {
                    $('#builderFilter').queryBuilder('setFilters', res);
                },
                error: function (ert) {

                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("GetDimensionsColumnData", "BusinessAnalytics", new { @area="CMS"})?measure=' + str,
                type: 'GET',
                success: function (result) {
                    $('#builderFilter').queryBuilder({
                        operators: [
                            { type: 'contains', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notContains', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'equals', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notEquals', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'set', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notSet', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'inDateRange', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notInDateRange', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'afterDate', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'beforeDate', nb_inputs: 2, multiple: true, apply_to: ['string'] },

                        ],
                        filters: result
                    });
                },
                error: function (ert) {

                }
            });
        }

    }
function onFilterRefresh() {
    var str = $("#measuresField").data("kendoDropDownList").value();       
        var result = $('#builderFilter').html();
        if (!$.isEmptyObject(result)) {
            $('#builderFilter').queryBuilder('reset');
            $.ajax({
                url: '@Url.Action("GetDimensionsColumnData", "BusinessAnalytics", new { @area="CMS"})?measure=' + str,
                type: 'GET',
                success: function (res) {
                    $('#builderFilter').queryBuilder('setFilters', res);
                },
                error: function (ert) {

                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("GetDimensionsColumnData", "BusinessAnalytics", new { @area="CMS"})?measure=' + str,
                type: 'GET',
                success: function (result) {
                    $('#builderFilter').queryBuilder({
                        operators: [
                            { type: 'contains', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notContains', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'equals', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notEquals', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'set', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notSet', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'inDateRange', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'notInDateRange', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'afterDate', nb_inputs: 2, multiple: true, apply_to: ['string'] },
                            { type: 'beforeDate', nb_inputs: 2, multiple: true, apply_to: ['string'] },

                        ],
                        filters: result
                    });
                },
                error: function (ert) {

                }
            });
        }
}
    function onChangeDimensions() {
        var str = "";
        var items = $("#dimensionsField").data("kendoMultiSelect").dataItems();
        for (var i = 0; i < items.length; i++) {
            var item = "\"" + items[i].name + "\"";
            if (i == items.length - 1) {
                str = str + item;
            }
            else {
                str = str + item + ",";
            }

        }
        var chartMetadata = $("#chartMetadata").val();
        var result = chartMetadata.split('],');
        var finalResult = result[0] + "]," + "dimensions: [" + str + "]," + result[2] + "]," + result[3];
        $("#chartMetadata").val(finalResult);

    }
    function SaveData() {   
        ShowLoader($('#ReportDashboardItem'));
        if ($('#builderFilter').html() != null && $('#builderFilter').html() != '' && $('#builderFilter').html().includes("rule-header")) {
            var result = $('#builderFilter').queryBuilder('getRules');
            if (!$.isEmptyObject(result)) {
                var json = JSON.stringify(result, null, 2);
                $("#filters").val(json);
            }
        }
        else {
            $("#filters").val(null);
        }
        var dimensionsItems = $("#dimensionsField").data("kendoMultiSelect").dataItems();
        var dimensions = "";
        for (var i = 0; i < dimensionsItems.length; i++) {
            if (i == dimensionsItems.length - 1) {
                dimensions += dimensionsItems[i].name;
            }
            else {
                dimensions += dimensionsItems[i].name + ",";
            }

        }
        $("#dimensionsField").val(dimensions);        
    }

    function closeNavMember(name, id, library) {
        var win = GetMainWindow();
        //createdElement
        win.CloseWindow({ MethodName: "createdElement", Prms: { name, id, library } });
        /*win.location.reload();*/
        return false;
    }

    function closeNavMemberEdit(name, id, library) {

        var win = GetMainWindow();
        win.CloseWindow({ MethodName: "editElement", Prms: { name, id, library} });
        return false;
    }


    function OnPreview(name) {
        var url = "/CMS/BusinessAnalytics/DrillDownReport?chartName=" + name ;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Preview", Width: 1200, Height: 650 });
        return false;
    }
    //function onTimeDimensionGridSave(arg) {
    //    var filters = "timeDimensions: [";
    //    var datasource = $("#TimeDimensionsGrid").data("kendoGrid").dataSource.data();
    //    for (var i = 0; i < datasource.length; i++) {
    //        var item = datasource[i];
    //        var filter = "{\"dimension\": \"" + item.TimeDimensionField + "\",\"granularity\": \"" + item.RangeBy + "\",\"dateRange\": [" + item.TimeParams + "]},";
    //        filters += filter;
    //    }
    //    filters += "]";
    //    var chartMetadata = $("#chartMetadata").val();
    //    var result = chartMetadata.split('],');
    //    //var finalResult = result[0] + "]," + result[1] + "]," + result[2] + "]," + filters;
    //    var finalResult = result[0] + "]," + result[1] + "]," + result[2] + "]," + filters;
    //    $("#chartMetadata").val(finalResult);

    //}
    function FilterDimDdl() {
        var mes = $("#measuresField").data("kendoDropDownList").value();
        return {
            measure: mes
        };
    }
    function loadMeasureDdl() {
        $("#measuresField").kendoDropDownList({
            dataTextField: "title",
            dataValueField: "name",
            filter: "contains",
            change: onChangeMeasures,
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/CMS/BusinessAnalytics/GetMeasuresData",
                    }
                }
            }
        });
    }
    function loadDimensionsMdl() {
        $("#dimensionsField").kendoMultiSelect({
            placeholder: "Select Dimensions...",
            dataTextField: "title",
            dataValueField: "name",
            change: onChangeDimensions,
            dataSource: {
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/Cms/BusinessAnalytics/GetDimensionsData",
                        data: function () {
                            return FilterDimDdl();
                        },
                    }
                }
            },
            value: ['@Html.Raw(Model.dimensionsField)']
        });
    }
    function loadChartTypeDdl() {
        $("#chartTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            select: onSelect,
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/CMS/IIPPHQ/GetCommonChartTemplateList",
                    }
                }
            }
        });
    }
    function loadXaxisDdl() {
        $("#Xaxis").kendoDropDownList({
            dataTextField: "title",
            dataValueField: "name",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/CMS/BusinessAnalytics/GetDimensionsData",
                        data: function () {
                           return FilterDimDdl();
                        },
                    }
                }
            }
        });
    }
    function loadYaxisDdl() {
        $("#Yaxis").kendoDropDownList({
            dataTextField: "title",
            dataValueField: "name",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/BusinessAnalytics/GetDimensionsData",
                        data: function () {
                            return FilterDimDdl();
                        },
                    }
                }
            }
        });
    }
    function loadCountDdl() {
        $("#Count").kendoDropDownList({
            dataTextField: "title",
            dataValueField: "name",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/CMS/BusinessAnalytics/GetDimensionsData",
                        data: function () {
                            return FilterDimDdl();
                        },
                    }
                }
            }
        });
    }
    function loadThemeModelDll() {
        var data = [
            { text: "Light", value: "light" },
            { text: "Dark", value: "dark" },
        ];
        $("#ThemeMode").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: data,
                    });
    }
    function loadPaletteDll() {
         var data = [
             { text: "Palette 1", value: "palette1" },
             { text: "Palette 2", value: "palette2" },
             { text: "Palette 3", value: "palette3" },
             { text: "Palette 4", value: "palette4" },
             { text: "Palette 5", value: "palette5" },
             { text: "Palette 6", value: "palette6" },
             { text: "Palette 7", value: "palette7" },
             { text: "Palette 8", value: "palette8" },
             { text: "Palette 9", value: "palette9" },
             { text: "Palette 10", value: "palette10" },

        ];
        $("#Palette").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: data,
                    });
    }
    function loadFilterTypeDll() {
        $("#rangeType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            //filter: "contains",
            //change: onDateFilterchange,
            //dataSource: {
            //    transport: {
            //        read: {
            //            url: "/Home/GetEnumIdNameList?enumType=SocialMediaDatefilters",
            //        }
            //    },
            //    filter: { field: "Name", operator: "neq", value: "Custom" }
            //}
            //value: "AllTime",           
            dataSource: [
                { Name: "AllTime", Id: "AllTime" },
                { Name: "Today", Id: "Today" },
                { Name: "Yesterday", Id: "Yesterday" },
                { Name: "This Week", Id: "This Week" },
                { Name: "This Month", Id: "This Month" },
                { Name: "This Year", Id: "This Year" },
                { Name: "Last 7 Days", Id: "Last 7 Days" },
                { Name: "Last 30 Days", Id: "Last 30 Days" },
                { Name: "Last Week", Id: "Last Week" },
                { Name: "Last Month", Id: "Last Month" },
                { Name: "Last Year", Id: "Last Year" },
                { Name: "Last 5 Minutes", Id: "Last 5 Minutes" },
                { Name: "Last 15 Minutes", Id: "Last 15 Minutes" },
                { Name: "Last 30 Minutes", Id: "Last 30 Minutes" },
                { Name: "Last 1 Hours", Id: "Last 1 Hours" },
                { Name: "Last 4 Hours", Id: "Last 4 Hours" },
                { Name: "Last 8 Hours", Id: "Last 8 Hours" },
                { Name: "Last 12 Hours", Id: "Last 12 Hours" },
                { Name: "Last 24 Hours", Id: "Last 24 Hours" }                
            ],
        });
    }
    function loadGranularityDll() {
        $("#granularity").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=GranularityEnum",
                    }
                }
            }
        });
    }
    function loadTimeDimensionDll() {
        $("#timeField").kendoDropDownList({
                dataTextField: "title",
                dataValueField: "name",
                dataSource: {
                    serverFiltering: false,
                    transport: {
                        read: {
                            url: "/Cms/BusinessAnalytics/GetTimeDimensionsData",
                            data: function () {
                                return FilterDimDdl();
                            }
                        }
                    },
                },
                optionLabel: "Select Time Column",
                filter: '@FilterType.Contains',
         }).data("kendoDropDownList");
    }
</script>


<div class="row  pad-10 no-gutters" id="ReportDashboardItem">
    <div class="container card-header" style="padding:10px;">
        <div class="tab-content">
            <div id="general" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">

                <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

                    <form asp-controller="IIPPHQ" asp-action="ManageReportDashboardItem" class="form-horizontal"
                          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                          data-ajax="true" data-ajax-method="POST">
                        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>


                        @*@if (Model.NoteId.IsNotNullAndNotEmpty())
                        {
                            <button type="button" class="btn btn-primary" onclick="OnPreview('@Model.NoteSubject')" title="Preview"><i class="fa fa-eye"></i></button>
                        }*@
                        <div class="row" style="padding:10px;">

                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="Name">Name<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="NoteSubject" type="text" class="form-control" placeholder="Name" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="chartTypeId">Chart Type<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="chartTypeId" id="chartTypeId" style="width:100%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10" id="dimesionNoteDiv" style="display:none">
                                <div class="col-12">
                                    <b>Chart References</b><br>
                                    <span id="dimNote">

                                    </span>

                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label>Table</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="measuresField" id="measuresField" style="width:100%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label>Columns</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="dimensionsField" id="dimensionsField" style="width:100%" />

                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label>X Axis</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Xaxis" id="Xaxis" style="width:100%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label>Y Axis</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Yaxis" id="Yaxis" style="width:100%" />

                                </div>
                            </div>
                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label>Count</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Count" id="Count" style="width:100%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label for="mapUrl">Map Url</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="mapUrl" type="text" class="form-control" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label for="mapLayer">Map Layer</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="mapLayer" type="text" class="form-control" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label for="ThemeMode">Theme Mode</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="ThemeMode" id="ThemeMode" style="width:100%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="Palette">Palette</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Palette" id="Palette" style="width:100%" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="MonocromeColor">Monocrome if yes Color</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="MonocromeColor" type="text" class="form-control" placeholder="#4ECDC4" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label for="DynamicMetadata">Dynamic Metadata</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="DynamicMetadata" type="checkbox" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label for="isLibrary">Is Library</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="isLibrary" type="checkbox" />
                                </div>
                            </div>
                           
                            <div class="row col-12 pad-10">
                                <div class="col-12">
                                    <label>Time Dimensions</label>
                                </div>
                                <div class="col-6">
                                    <input asp-for="timeField" id="timeField" style="width: 100%" />
                                </div>
                                <div class="col-3">
                                    <input asp-for="rangeType" id="rangeType" style="width: 100%" />
                                </div>
                                <div class="col-3">
                                    <input asp-for="granularity" id="granularity" style="width: 100%" />
                                </div>
                            </div>
                             <div class="row col-12 pad-10">
                                <div class="col-12">
                                    <b title="Click here to see details" data-toggle="collapse" data-target="#parameterInfo" style="color:Highlight;">Parameter Contactual Information</b><br>
                                    <span id="parameterInfo" class="collapse">
                                        * Static value  => use  ""  for static value ex: "Test"
                                        <br>* Parameter variable  => use  {}  for parameter value ex: {firstName}
                                        <br>* Note Task and Service  => use  ^^NtsId^^  for parameter value
                                        <br>* Session variable  => use  ^^ ^^  for Session variable ex:  ^^UserId^^
                                        <br>* All Session variable  => ^^UserId^^  ||  ^^UserUniqueId^^  ||  ^^Name^^  ||  ^^CompanyId^^  ||  ^^CompanyCode^^  ||  ^^CompanyName^^
                                        ||  ^^Email^^  ||  ^^JobTitle^^  ||  ^^PhotoId^^  ||  ^^IsSystemAdmin^^  ||  ^^IsGuestUser^^  ||  ^^UserRoleIds^^  ||
                                        ^^UserRoleCodes^^  ||  ^^PortalTheme^^  ||  ^^UserPortals^^  ||  ^^PortalId^^  ||  ^^CurrentDate^^  ||  ^^CurrentDateTime^^  ||
                                        ^^LoggedInAsType^^  ||  ^^LoggedInAsByUserId^^  ||  ^^LoggedInAsByUserName^^  ||  ^^LegalEntityId^^  ||  ^^CultureName^^
                                    </span>

                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-12">
                                    <label>Filters</label><i class="fa fa-refresh" style="margin-left: 20px;" onclick="onFilterRefresh()" title="Click to refresh filter"></i>
                                </div>
                                <div class="col-12" id="filter">
                                    <div id="builderFilter"></div>
                                </div>
                            </div>


                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-12">
                                    <b>Get Form io component References</b><br>
                                    <span>
                                        * $('[name="data[project]"]')[0].firstChild.value;"
                                        <br>
                                    </span>
                                    <b>chart Refresh References</b><br>
                                    <span>
                                        var param=encodeURIComponent("Variable=XYZ");
                                        <br>
                                        refreshChart("Dashboard Item Name",param);
                                        <br>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label for="onChartClickFunction">On Chart Click Function</label>
                                </div>
                                <div class="col-9">
                                    <textarea asp-for="onChartClickFunction" type="text" rows="15" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label for="chartMetadata">Chart Metadata@*<span class="required" style="color:red;">*</span>*@</label>
                                </div>
                                <div class="col-9">
                                    @if (Model.DataAction == DataActionEnum.Create)
                                    {
                                        <textarea asp-for="chartMetadata" type="text" rows="15" class="form-control"></textarea>

                                    }
                                    else
                                    {
                                        <textarea asp-for="chartMetadata" type="text" rows="15" class="form-control" readonly></textarea>

                                    }
                                </div>
                            </div>
                            <div class="row col-12 pad-10" style="display:none">
                                <div class="col-3">
                                    <label for="NoteDescription">Chart Html</label>
                                </div>
                                <div class="col-9">
                                    <div class="page-wrapper box-content">
                                        <textarea class="html-chart-content" asp-for="NoteDescription" id="NoteDescription"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cms-footer">
                            <input type="submit" class="btn btn-primary" value="Save" onclick="SaveData()" />
                        </div>

                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.ParentNoteId)
                        @Html.HiddenFor(x => x.DataAction)
                        @Html.HiddenFor(x => x.NoteId)
                        @Html.HiddenFor(x => x.chartTypeId)
                        @Html.HiddenFor(x => x.chartMetadata)
                        @Html.HiddenFor(x => x.segmentsField)
                        @Html.HiddenFor(x => x.timeDimensionsField)
                        @Html.HiddenFor(x => x.filterField)
                        @Html.HiddenFor(x => x.filters)
                        @Html.HiddenFor(x => x.width)
                        @Html.HiddenFor(x => x.height)
                        @Html.HiddenFor(x => x.Json)
                        @Html.HiddenFor(x => x.DataJson)
                        @Html.HiddenFor(x => x.CompanyId)
                        @Html.HiddenFor(x => x.CreatedBy)
                        @Html.HiddenFor(x => x.CreatedDate)
                        @Html.HiddenFor(x => x.LastUpdatedBy)
                        @Html.HiddenFor(x => x.LastUpdatedDate)

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@*<script id="FilterOperator_template" type="text/x-kendo-template">
    #=data.FilterOperator#
</script>
<script id="FilterField_template" type="text/x-kendo-template">
    #=data.FilterField#
</script>

<script id="TimeDimensionField_template" type="text/x-kendo-template">
    #=data.TimeDimensionField#
</script>
<script id="RangeType_template" type="text/x-kendo-template">
    #=data.RangeType#
</script>
<script id="RangeBy_template" type="text/x-kendo-template">
    #=data.RangeBy#
</script>*@









