@inject IStringLocalizer<CMS.UI.Web.Areas.Pms.Controllers.PerformanceDocumentController> Resource
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;


@{
    ViewBag.Title = "";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}

<style>
    .tree-item-status {
        cursor: pointer;
    }

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .treeview .k-in {
        width: 100% !important;
    }
    /*Portal Start*/
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        border-left: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 85%;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }
    .banner-container {
        position: relative;
        color: white;
    }

    .banner-text {
        position: absolute;
        top: 14px;
        left: 60px;
        font-size: 35px;
    }
    /*Portal End*/
</style>
<script>
    $(document).ready(function () {
        HideLoader($("#global-overlay"));
        $(".toggle-nav").trigger("click");
        //var treeview = $("#inboxTreeView"),
        //    kendoTreeView = treeview.data("kendoTreeView");

        //treeview.on("click", ".k-in", function (e) {
        //    kendoTreeView.toggle($(e.target).closest(".k-item"));
        //});

        $('#inboxTreeView')
            .jstree({
                'core': {
                    'data': function (node, cb) {
                        if (node.id === "#") {
                            $.ajax({
                                async: true,
                                type: "GET",
                                url: "/pms/PerformanceDocument/GetInboxTreeviewList",
                                //url: "/cms/template/GetNtsTemplateTreeList",
                                dataType: "json",
                                success: function (json) {
                                    cb(json);
                                },

                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                            //cb([{ "text": "Root", "id": "1", "children": true }]);
                        }
                        else {
                            debugger;
                            type = node.original.Type;
                            parentId = node.original.ParentId;
                            userRoleId = node.original.UserRoleId;
                            $.ajax({
                                async: true,
                                type: "GET",
                                url: "/pms/PerformanceDocument/GetInboxTreeviewList?id=" + node.id + "&type=" + type + "&parentId=" + parentId + "&userRoleId=" + userRoleId,
                                dataType: "json",
                                success: function (json) {
                                    cb(json);
                                },

                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                        }
                    }
                }
            });


        $('#inboxTreeView')
            // listen for event
            .on('changed.jstree', function (e, item) {
                debugger;
                data = item.node.original;
                //var i, j, r = [];
                //for (i = 0, j = data.selected.length; i < j; i++) {
                //    r.push(data.instance.get_node(data.selected[i]).text);
                //}
                //$('#event_result').html('Selected: ' + r.join(', '));
                if (data.Type === 'STAGETYPE') {

                    var url = '/pms/performance/WbsTimeLine?performanceId=' + data.id + '&templateName=' + data.StageName;
                    LoadPartailView1(url, "inbox-content-div");
                    var content = document.getElementById("inbox-content-div");
                    content.style.width = "100%";
                    var width = content.offsetWidth;
                    var w = (width - 305) + 'px';
                    content.style.width = w;
                    return false;
                }

                if (data.Type === 'STAGE') {

                    var url = '/pms/performance/WbsTimeLine?objectiveId=' + data.id + '&templateName=' + data.StageName;
                    LoadPartailView1(url, "inbox-content-div");
                    var content = document.getElementById("inbox-content-div");
                    content.style.width = "100%";
                    var width = content.offsetWidth;
                    var w = (width - 305) + 'px';
                    content.style.width = w;
                    return false;
                }
                if (data.Type === 'STATUS') {

                    var url = '/pms/performance/WbsTimeLine?objectiveId=' + data.id + '&templateName=' + data.StageName;
                    LoadPartailView1(url, "inbox-content-div");
                    var content = document.getElementById("inbox-content-div");
                    content.style.width = "100%";
                    var width = content.offsetWidth;
                    var w = (width - 305) + 'px';
                    content.style.width = w;
                    return false;
                }
                if (data.Type === 'TASK') {

                    var url = '/pms/performance/WbsTimeLine?objectiveId=' + data.ParentId + '&templateName=' + data.StageName;
                    LoadPartailView1(url, "inbox-content-div");
                    var content = document.getElementById("inbox-content-div");
                    content.style.width = "100%";
                    var width = content.offsetWidth;
                    var w = (width - 305) + 'px';
                    content.style.width = w;
                    return false;
                }
                else if (data.Type === 'RECEIVED' || data.Type === 'SENT') {
                    // e.preventDefault();

                    var url = '/pms/performance/WbsTimeLine?templateName=' + data.StageName + '&inboxType=' + data.Type;
                    LoadPartailView1(url, "inbox-content-div");
                    var content = document.getElementById("inbox-content-div");
                    content.style.width = "100%";
                    var width = content.offsetWidth;
                    var w = (width - 305) + 'px';
                    content.style.width = w;
                    return false;
                }
                else {
                    // e.preventDefault();

                    var url = '/pms/performance/WbsTimeLine?templateName=' + data.StageName;
                    LoadPartailView1(url, "inbox-content-div");
                    var content = document.getElementById("inbox-content-div");
                    content.style.width = "100%";
                    var width = content.offsetWidth;
                    var w = (width - 305) + 'px';
                    content.style.width = w;
                    return false;
                }

            })
            // create the instance
            .jstree();
    });
     function OnDelete(id) {
        kendo.confirm("@Resource["Areyousurethatyouwanttoproceed?"]").then(function () {
            confirmDelete(id);
        }, function () {

        });

    }

    function confirmDelete(id) {


        $.ajax({

            url:'@Url.Action("DeleteTemplate", "Template", new { @area= "Cms" })?Id=' + id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {

                ShowNotification("@SharedResource["DeletedSuccessfully"]", "success");
                window.parent.$("#inboxTreeView").data("kendoTreeView").dataSource.read();

            }
        });
        //  $('#dlg_DeleteConfirmation').data("kendoDialog").close();


    }




    function closeNavCategory() {
        document.getElementById("mySidenavPageCategory").style.width = "0";
        $("#overlay").removeClass("overlay");
    }
    var splitter = $('.splitter-container').height(200).split({
        orientation: 'vertical',
        limit: 10,
        position: '20%', // if there is no percentage it interpret it as pixels
        onDrag: function (event) {
            console.log(splitter.position());
        }
    });

     function editNavStyle(sid, stype) {
       // document.getElementById("mySidenavStyle").style.width = "650px";

         var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("TemplateProperties", "Template", new { @area="Cms"})?id=' + sid;
         win.OpenWindow({ Title:'@Html.Raw(Resource["TemplateProperties"])', Width: 650, Height: 1200 });
        return false;
        //LoadPartailView(iframeOpenUrl, $('#page-style-content'));
        //$("#overlay").addClass("overlay");
        // $('body').addClass('fadeMe');
    }


    function editNavStyle1(sid, stype, tempfieldid) {
       // document.getElementById("mySidenavStyle").style.width = "650px";
         // alert(sid);
       
         var win = GetMainWindow();
        win.iframeOpenUrl =   '@Url.Action("TemplateField", "Template", new { @area="Cms"})?templatefieldId=' + sid;
        win.OpenWindow({ Title:'@Html.Raw(Resource["TemplateFields"])', Width: 650, Height: 1200 });
        return false;
        //LoadPartailView(iframeOpenUrl, $('#page-style-content'));
        //$("#overlay").addClass("overlay");
        // $('body').addClass('fadeMe');
    }
    function OpenIframeModal(url, title) {
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: title, Width: 450, Height: 1200 });
        return false;
       
    }
    //$(function () {
    //    $.contextMenu({
    //        selector: '.tree-menu',
    //        trigger: 'left',

    //        items: {
    //            "edit": {
    //                name: "Edit", icon: "cut", callback: function (itemKey, opt, e) {
    //                    console.log($(this).data('id'));
    //                }
    //            },
    //            "cut": { name: "Cut", icon: "cut" },
    //            "copy": { name: "Copy", icon: "copy" },
    //            "paste": { name: "Paste", icon: "paste" },
    //            "delete": { name: "Delete", icon: "delete" },
    //            "sep1": "---------",
    //            "quit": { name: "Quit" }
    //        }
    //    });
    //});



    var expandedItem = null;
    function onExpand(e) {
        expandedItem = this.dataItem(e.node);
        console.log(expandedItem);
    }
    function AddData() {
        if (expandedItem == null) {
            return { type: null, parentId: null, userRoleId: null };
        }
        else {
            return { type: expandedItem.Type, parentId: expandedItem.ParentId, userRoleId: expandedItem.userRoleId };
        }
    }
    function OnSelect(e) {

        expandedObjlist = [];
        var data = this.dataItem(e.node);
        let temp;
        let stage;
        let batch;

        if (data.Type === 'STAGETYPE') {

            var url = '/pms/performance/WbsTimeLine?performanceId=' + data.id + '&templateName=' + data.StageName;
            LoadPartailView1(url, "inbox-content-div");
            var content = document.getElementById("inbox-content-div");
            content.style.width = "100%";
            var width = content.offsetWidth;
            var w = (width - 305) + 'px';
            content.style.width = w;
            return false;
        }

        if (data.Type === 'STAGE') {

            var url = '/pms/performance/WbsTimeLine?objectiveId=' + data.id + '&templateName=' + data.StageName;
            LoadPartailView1(url, "inbox-content-div");
            var content = document.getElementById("inbox-content-div");
            content.style.width = "100%";
            var width = content.offsetWidth;
            var w = (width - 305) + 'px';
            content.style.width = w;
            return false;
        }
        if (data.Type === 'STATUS') {

            var url = '/pms/performance/WbsTimeLine?objectiveId=' + data.id + '&templateName=' + data.StageName;
            LoadPartailView1(url, "inbox-content-div");
            var content = document.getElementById("inbox-content-div");
            content.style.width = "100%";
            var width = content.offsetWidth;
            var w = (width - 305) + 'px';
            content.style.width = w;
            return false;
        }
        if (data.Type === 'TASK') {

            var url = '/pms/performance/WbsTimeLine?objectiveId=' + data.ParentId + '&templateName=' + data.StageName;
            LoadPartailView1(url, "inbox-content-div");
            var content = document.getElementById("inbox-content-div");
            content.style.width = "100%";
            var width = content.offsetWidth;
            var w = (width - 305) + 'px';
            content.style.width = w;
            return false;
        }
        else if (data.Type === 'RECEIVED' || data.Type === 'SENT') {
            // e.preventDefault();

            var url = '/pms/performance/WbsTimeLine?templateName=' + data.StageName + '&inboxType=' + data.Type;
            LoadPartailView1(url, "inbox-content-div");
            var content = document.getElementById("inbox-content-div");
            content.style.width = "100%";
            var width = content.offsetWidth;
            var w = (width - 305) + 'px';
            content.style.width = w;
            return false;
        }
        else {
           // e.preventDefault();

            var url = '/pms/performance/WbsTimeLine?templateName=' + data.StageName;
            LoadPartailView1(url, "inbox-content-div");
            var content = document.getElementById("inbox-content-div");
            content.style.width = "100%";
            var width = content.offsetWidth;
            var w = (width - 305) + 'px';
            content.style.width = w;
            return false;
        }
    }

    //function onMyFrameLoad() {
    //    kendo.ui.progress($(".cms-content"), false);
    //};
    var expandedItem = null;
    var expandedDataItem = [];
    var expandedObjlist = [];
    function onExpand(e) {
        expandedItem = this.dataItem(e.node);
        console.log(expandedItem);
        expandedDataItem.push(expandedItem);
    }
    function AddData() {
        var exp = JSON.stringify(expandedObjlist);
        //expandedObjlist = [];
        if (expandedItem == null) {
            return { type: null, parentId: null, userRoleId: null };
        }
        else {
            return { type: expandedItem.Type, parentId: expandedItem.ParentId, userRoleId: expandedItem.UserRoleId, stageName: expandedItem.StageName, stageId: expandedItem.StageId, performanceId: expandedItem.PerformanceId, expandingList: exp };
        }
    }




</script>
<div class="banner-container">
    <img style="width:100%; height:100px" src="~/images/PMS/Inbox.png" />
    <div class="banner-text">@Resource["PerformanceInbox"]</div>
</div>
<div class="splitter-container">
    <div class="left">
        @*@(Html.Kendo().TreeView()
            .Name("inboxTreeView").HtmlAttributes( new {@class="treeview"})
          .Events(e=>e.Expand("onExpand").Select("OnSelect"))
            .DataTextField("Name")
            .TemplateId("ct-tv-template")
            .DataSource(dataSource => dataSource
                .Read(read => read
                    .Action("GetInboxTreeviewList", "PerformanceDocument",new { @area="Pms"}).Data("AddData")
                )
            )
        )*@

        <div id="inboxTreeView" class="demo treeview"></div>



        <script id="ct-tv-template" type="text/kendo-ui-template">
            <span style="width:100%" id="#: item.id #" class="tree-item-#:item.Type.toLowerCase()#">#: item.Name #</span>

        </script>
        @*<span data-id="#:item.id#" data-type="#:item.Type#" data-portal-name="#:item.Name#" data-parent-id="#:item.ParentId#" class="tree-menu" data-level="#:item.Level#"><i class="fa fa-ellipsis-h"></i></span>*@

    </div>
    <div class="right pad-l-t-15" id="inbox-content-div" style="width:100%;">
        @*<iframe id="iframeData" width="100%" height="400px" style="border:none;" ></iframe>*@
    </div>
  
</div>
<div id="create-category-div">
    <div id="mySidenavPageCategory" class="sidenav">
        <h1 class="cms-panel-header-name" id="sidebarHeader">@Resource["CreateCategory"]</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavCategory()" title="@SharedResource["Close"]">&times;</a>
        <hr />
        <div id="create-category" class="row pad-20 slidenav-flow">

        </div>
    </div>
</div>
