@using CMS.UI.ViewModel
@model PayPropertyTaxViewModel;

@{
    ViewBag.Title = "All Service";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<style>
    .searchtxt {
        color: #007bff !important;
        text-decoration: none;
        background-color: transparent !important;
    }
</style>
<script>
    $(document).ready(function () {
        getDataPropertyOwnership();
        getDataPropertyAreaGridView();

    })

    function SearchProperty() {
        debugger;
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("SearchProperty", "Property", new { @area="Property"})';
        win.OpenWindow({ Title: 'Search Property', Width: 1500 ,Height: 1000 });
        return false;

    }
     var columnDefs = [



         { headerName: "UsageType", field: "UsageType" },
         { field: "UsageFactor", headerName: "UsageFactor" },
         { headerName: "TypeOfConstruction", field: "TypeOfConstruction" },
         { field: "Area", headerName: "Area" },
         { headerName: "AnnualLettingValue", field: "AnnualLettingValue" },
         {
             field: "NetALV", headerName: "NetALV" }
    ];

    function getDataPropertyOwnership() {
       // var id = '@Model.Id';

        document.getElementById("PropertyAreaGridView").innerHTML = "";
        gridConfig(
            "PropertyAreaGridView",
          "@Url.Action("ReadCurrentYearProperty", "Property", new { @area = "Property", propertyId=Model.PropertyId })",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
     var columnDefs1 = [



         { headerName: "Annual Letting Value", field: "AnnualLettingvalue" },
         { field: "NetALV", headerName: "Net ALV" },
         { headerName: "Year", field: "Year" },
         { field: "RateZone", headerName: "Rate Zone" },
         { headerName: "Property Tax", field: "PropertyTax" },
         {
             field: "EducationCess", headerName: "Education Cess"
         },
         {
             field: "UrbanDev", headerName: "Urban Tax"
         },
         {
             field: "SewaKar", headerName: "SewaKar"
         },
         {
             field: "SamekitKar", headerName: "Same kit Kar"
         },
         {
             field: "Total", headerName: "Total (A)"
         },
         {
             field: "Rebate", headerName: "Rebate (B)"
         },
         {
             field: "Penalty", headerName: "Penalty (B)"
         },
          {
             field: "TotalABC", headerName: "Total (A+B+C)"
         },
 

    ];

    function getDataPropertyAreaGridView() {
       // var id = '@Model.Id';

        document.getElementById("PropertyAreaGridView").innerHTML = "";
        gridConfig(
            "PropertyAreaGridView",
          "@Url.Action("ReadYearWiseBreakUp", "Property", new { @area = "Property"})",
            columnDefs1,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>

<div class="task-card">
    <div style="background-color:#efefef!important">
        <div class="row" style="height: 50px;">
            <div class="col-12">
                <div class="row" style=" margin-left: 15px; margin-top: 8px;margin-right:15px;">
                    <div class="col-12 pad-10">
                        <div class="card pad-10">
                            <div class="row pad-10">
                                <input type="button" class="btn btn-primary" value="Estimated Demand" id="submitBtn" />

                            </div>

                            <h4><b>Property Details</b></h4>


                            <div class="row pad-10">
                                <div class=" col-4">
                                    <label for="PropertyId">Full Name</label>
                                    <input asp-for="OwnerName" type="text" class="form-control" title="PropertyId" autocomplete="off" style="width:80%" readonly />


                                </div>

                                <div class="col-4">
                                    <label for="HouseNo">House No.</label>
                                    <input asp-for="HouseNo" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>
                                <div class="col-4">
                                    <label for="WardNo">Ward No.</label>
                                    <input asp-for="WardNo" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>

                            </div>
                            <div class="row pad-10">
                                <div class=" col-4">
                                    <label for="WardNo">Ward No</label>
                                    <input asp-for="WardNo" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>

                                <div class="col-4">
                                    <label for="Zone">Zone</label>
                                    <input asp-for="Zone" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>
                                <div class="col-4">
                                    <label for="Locality">Locality </label>
                                    <input asp-for="Locality" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>

                            </div>
                            <div class="row pad-10">
                                <div class=" col-4">
                                    <label for="Colony">Colony </label>
                                    <input asp-for="Colony" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>

                                <div class="col-4">
                                    <label for="PostalCode">Postal Code</label>
                                    <input asp-for="PostalCode" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>
                                <div class="col-4">
                                    <label for="CityName">City</label>
                                    <input asp-for="CityName" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>

                            </div>

                            <div class="row pad-10">
                                <div class=" col-4">
                                    <label for="RateZone"> Rate Zone </label>
                                    <input asp-for="RateZone" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                </div>
                            </div>

                            <h4><b>Area Details</b></h4>
                            <hr />
                            <h6><b>Current Year Summary</b></h6>
                            <div class="pad-b-15">
                                @*@(Html.Kendo().Grid<PropertyAreaDetailsViewModel>().Name("Usergrid")

        .Columns(columns =>
        {

            columns.Bound(c => c.UsageType);
            columns.Bound(c => c.UsageFactor);
            columns.Bound(c => c.FloorNo);

            columns.Bound(c => c.TypeOfConstruction);
            columns.Bound(c => c.Area);
            columns.Bound(c => c.AnnualLettingValue).Title("Annual Letting Value");
            columns.Bound(c => c.NetALV).Title("Net ALV");


        })
         .Scrollable(x => x.Enabled(true))
                    .Sortable(srt => srt.Enabled(true))
                    .Selectable(select => select.Enabled(false))
                    .Filterable(f => f.Extra(false)
                                                        .Operators(o => o.ForString(s => s.Clear()
                                                        .Contains("Contains")
                                                        .IsEqualTo("Is equal to")
                                                    )))
                    .Pageable(pageable => pageable
                    .Refresh(true)

                    .PageSizes(true)
                    .ButtonCount(5))
                    .AutoBind(true)
              .DataSource(
              dataSource => dataSource
              .Ajax()
              .PageSize(10)

            .Read(read => read.Action("ReadCurrentYearProperty", "Property", new { @area = "Property", propertyId=Model.PropertyId }))

              )
              )*@
                                <div class="row">
                                    <div class="col-12">
                                      

                                        <div style="padding-top:20px;">
                                            <div id="PropertyAreaGridView" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                                        </div></div></div>
                                    </div>

                                    <h4><b>Tax Summary</b></h4>
                                    <hr />
                                    <h6><b>Year Wise Break Up</b></h6>
                                    <div class="pad-b-15">
                                        <div class="row">
                                            <div class="col-12">


                                                <div style="padding-top:20px;">
                                                    <div id="YrwiseBrekUpgrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                                                </div>
                                            </div>
                                        </div>
                                        @*@(Html.Kendo().Grid<PayPropertyTaxViewModel>().Name("YrwiseBrekUpgrid")

    .Columns(columns =>
    {

        columns.Bound(c => c.AnnualLettingvalue).Title("Annual Letting Value").Width(200);
        columns.Bound(c => c.NetALV).Title("Net ALV").Width(200);
        columns.Bound(c => c.Year).Width(200);

        columns.Bound(c => c.RateZone).Width(200);
        columns.Bound(c => c.PropertyTax).Width(200);
        columns.Bound(c => c.EducationCess).Title("Education cess").Width(200);
        columns.Bound(c => c.UrbanDev).Title("Urban Tax").Width(200);
        columns.Bound(c => c.SamekitKar).Title("Samekit Kar").Width(200);
        columns.Bound(c => c.SewaKar).Title("Sewa Kar").Width(200);
        columns.Bound(c => c.Total).Title("Total (A)").Width(200);
        columns.Bound(c => c.Rebate).Title("Rebate (B)").Width(200);
        columns.Bound(c => c.Penalty).Title("Penalty (B)").Width(200);
        columns.Bound(c => c.Penalty).Title("Penalty (B)").Width(200);
        columns.Bound(c => c.TotalABC).Title("Total (A+B+C)").Width(200);

    })
     .Scrollable(x => x.Enabled(true))
                .Sortable(srt => srt.Enabled(true))
                .Selectable(select => select.Enabled(false))
                .Filterable(f => f.Extra(false)
                                                    .Operators(o => o.ForString(s => s.Clear()
                                                    .Contains("Contains")
                                                    .IsEqualTo("Is equal to")
                                                )))
                .Pageable(pageable => pageable
                .Refresh(true)

                .PageSizes(true)
                .ButtonCount(5))
                .AutoBind(true)
          .DataSource(
          dataSource => dataSource
          .Ajax()
          .PageSize(10)

          .Read(read => read.Action("ReadYearWiseBreakUp", "Property", new { @area = "Property"}))
          .Model(model => model.Id(p => p.Id))
          )
          )*@
                                    </div>


                                    <h6><b>Total Tax of all year applicable</b></h6>
                                    <div class="row pad-10">
                                        <div class=" col-4">
                                            <label for="PropertyTax">Property Tax</label>
                                            <input asp-for="PropertyTax" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>

                                        <div class="col-4">
                                            <label for="EducationCess">Education Cess</label>
                                            <input asp-for="EducationCess" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>
                                        <div class="col-4">
                                            <label for="UrbanDev">Urban Dev</label>
                                            <input asp-for="UrbanDev" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>

                                    </div>
                                    <div class="row pad-10">
                                        <div class=" col-4">
                                            <label for="SamekitKar">Samekit Kar </label>
                                            <input asp-for="SamekitKar" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>

                                        <div class="col-4">
                                            <label for="SewaKar">Sewa Kar</label>
                                            <input asp-for="SewaKar" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>
                                        <div class="col-4">
                                            <label for="AdditionalSamekitKar">Additional Samekit Kar </label>
                                            <input asp-for="AdditionalSamekitKar" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>

                                    </div>
                                    <div class="row pad-10">
                                        <div class=" col-4">
                                            <label for="Rebate">Rebate </label>
                                            <input asp-for="Rebate" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>

                                        <div class="col-4">
                                            <label for="Penalty">Penalty </label>
                                            <input asp-for="Penalty" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>
                                        <div class="col-4">
                                            <label for="Total">Total</label>
                                            <input asp-for="Total" type="text" class="form-control" autocomplete="off" style="width:80%" readonly />


                                        </div>


                                    </div>
                                    <div class="row pad-10">
                                        <div class="col-12">
                                            <input type="button" class="btn btn-primary" value="Submit application to ULB for Review" id="submitBtn" />
                                        </div>
                                    </div>
                                </div>



                            </div>
                </div>

            </div>



        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: orange;">

</div>




